[2018-07-30 17:23] 0crat commented on #1257
The job [#1257](https://github.com/zerocracy/farm/issues/1257) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2111729645); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-30 23:49] carlosmiranda opened #1510 "Payments history"
Right now we list pending payments for unpaid debts. After the debt gets paid, the list gets cleared but there is no history of any debt payment other than a notification on Slack/Telegram.

Let's create a page where someone can view the entire history of the debts being paid to him. This list should contain the following info:

* Amount
* Timestamp
* Payment method
* Payment ID (if applicable for

[2018-07-30 23:49] 0crat commented on #1510
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-31 00:40] rgevaerd commented on #1390
@0crat waiting on PR #1501

[2018-07-31 00:41] 0crat commented on #1390
@rgevaerd The impediment for [#1390](https://github.com/zerocracy/farm/issues/1390) was registered successfully by @rgevaerd[/z](https://www.0crat.com/u/rgevaerd)

[2018-07-31 11:37] 0pdd opened #1513 "_after.groovy:22-24: After upgrading datum, version to..."
The puzzle `1099-6ff2eb5a` from #1099 has to be resolved:

https://github.com/zerocracy/farm/blob/ebac71b706a928e64eeae5bdc29fc8445a9c3616/src/test/resources/com/zerocracy/bundles/refresh_person_job_count_on_agenda_update/_after.groovy#L22-L24

The puzzle was created by Krzysztof Krason on 29-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets inst

[2018-07-31 11:38] 0pdd commented on #1099
@g4s8 the puzzle [#1513](https://github.com/zerocracy/farm/issues/1513) is still not solved.

[2018-07-31 11:38] 0crat commented on #1513
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-31 11:42] 0crat commented on #1513
Job [#1513](https://github.com/zerocracy/farm/issues/1513) is now in scope, role is `DEV`

[2018-07-31 12:41] krzyk commented on #1287
@0crat done in #1509

[2018-07-31 12:41] #1287 closed

[2018-07-31 12:42] krzyk commented on #1099
@g4s8 please close this issue it has been solved in #1499

[2018-07-31 12:45] krzyk commented on #1287
@g4s8 could you make a release with this change?

[2018-07-31 12:53] 0crat commented on #1287
@krzyk Can't understand "done", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issu

[2018-07-31 12:57] 0crat commented on #1287
Job was finished in 44 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-07-31 13:08] 0crat commented on #1287
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-31 13:09] 0crat commented on #1287
The job [#1287](https://github.com/zerocracy/farm/issues/1287) is now out of scope

[2018-07-31 19:44] paulodamaso commented on #1226
@0crat wait for #1514 review

[2018-07-31 19:46] 0crat commented on #1226
@paulodamaso The impediment for [#1226](https://github.com/zerocracy/farm/issues/1226) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-01 00:10] rgevaerd commented on #721
@0crat waiting for PR #1512

[2018-08-01 00:11] 0crat commented on #721
@rgevaerd The impediment for [#721](https://github.com/zerocracy/farm/issues/721) was registered successfully by @rgevaerd[/z](https://www.0crat.com/u/rgevaerd)

[2018-08-01 03:33] carlosmiranda commented on #1180
@amihaiemil see PR #1516

[2018-08-01 04:28] rgevaerd commented on #1167
@krzyk do you have a stack trace or a travis build link of the fail of this test?

[2018-08-01 08:48] krzyk commented on #1167
@rgevaerd sorry I don't have it, it was quite some time ago

[2018-08-01 09:00] krzyk commented on #1227
@paulodamaso Yes, it makes sense. @g4s8 Should we somehow document this in other place also to make this issue solution valid?

[2018-08-01 09:46] g4s8 commented on #1227
@paulodamaso yes, please update documentation of `TestListener` to make other devs know about it.

[2018-08-01 09:53] g4s8 commented on #1099
@krzyk thanks

[2018-08-01 09:53] #1099 closed

[2018-08-01 09:54] g4s8 commented on #1287
@ypshenychka sure, I confirm

[2018-08-01 09:55] g4s8 commented on #1287
@rultor release, tag=`0.27.5`

[2018-08-01 10:14] emilianodellacasa opened #1518 "Issue prioritization"
We should add priorities to issues in projects managed by 0crat bot, maybe as a tag.

It should be the ARC's job to add a priority (if he/she thinks the issue deserves it) and the bot should assign first the highest priorities ones

[2018-08-01 10:14] 0crat commented on #1518
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-01 10:14] 0crat commented on #1518
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-01 10:16] 0pdd opened #1519 "Verbosity.java:56-60: Verbosity.add is throwing an..."
The puzzle `1233-8e345196` from #1233 has to be resolved:

https://github.com/zerocracy/farm/blob/893de298a5d54f41f76d92e0eda5c4ab1548ac5f/src/main/java/com/zerocracy/pmo/Verbosity.java#L56-L60

The puzzle was created by rultor on 01-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and t

[2018-08-01 10:16] 0pdd commented on #1233
@yegor256 the puzzle [#1519](https://github.com/zerocracy/farm/issues/1519) is still not solved.

[2018-08-01 10:16] 0crat commented on #1519
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-01 10:39] g4s8 commented on #1518
@emilianodellacasa duplicate of #1183

[2018-08-01 10:39] #1518 closed

[2018-08-01 10:40] rultor commented on #1287
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15547-409520422) (took me 19min)

[2018-08-01 10:42] 0crat commented on #1518
Job `gh:zerocracy/farm#1518` is not assigned, can't get performer

[2018-08-01 11:42] g4s8 commented on #1510
@yegor256 I think this page may be helpful, what do you say?
@carlosmiranda one comment: I think debts is not correct word for this page, because payment may be sent skipping debts (if it's >= $64)

[2018-08-01 11:48] g4s8 opened #1520 "Can't receive bonus payment for student graduation"
We are trying to send bonus payment for student graduation in `remove_mentor_when_graduated.groovy`, this is `PMO` claim and it doesn't belong to any project. But this payment is ignored because `PMO` doesn't accept payment transactions (`PMO` project doesn't have funds and all `make_payment` stakeholders has check `Assume.notPmo`).
@yegor256 what is correct way to send this bonus?

[2018-08-01 12:12] yegor256 commented on #1480
@g4s8 done. You can create/edit/modify SQS queues that start with `0crat-`

[2018-08-01 12:15] paulodamaso opened #1522 "Error using Sentry in tests"
I'm getting the following error during test runs:

[code]

Looks like this DSN (`'https://7a4c0d4df4f24c73abfdc02646279d9d@sentry.io/1231395'`) is hardcoded somewhere, but it is neither in the source code nor config files. This message appears in various tests. May be related to #1231 .

[2018-08-01 13:26] 0crat commented on #1522
Job [#1522](https://github.com/zerocracy/farm/issues/1522) is now in scope, role is `DEV`

[2018-08-01 13:27] g4s8 commented on #1522
@paulodamaso as I remember it was fixed some time ago, but now reproducing again. We should check for `//testing` property in `SafeSentry` and try to send errors to sentry only if there are no `testing` property.

[2018-08-01 13:46] g4s8 commented on #1480
@rultor release, tag=`0.28.1`

[2018-08-01 13:47] rultor commented on #1480
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15553-409580230)

[2018-08-01 13:51] 0crat commented on #1522
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-01 14:05] rultor commented on #1480
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15553-409580230) (took me 17min)

[2018-08-01 14:12] g4s8 commented on #1480
@rultor release, tag=`0.28.2`

[2018-08-01 14:19] rultor commented on #1480
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15553-409589219)

[2018-08-01 14:27] paulodamaso commented on #1227
@krzyk @g4s8 Documented.

[2018-08-01 14:34] ypshenychka commented on #1099
@0crat quality good

[2018-08-01 14:38] paulodamaso commented on #1233
@yegor256 The PR #1511 was already merged and the puzzle #1519 added, please close.

[2018-08-01 14:39] ypshenychka commented on #1287
@g4s8 thanks

[2018-08-01 14:39] ypshenychka commented on #1287
@0crat quality acceptable

[2018-08-01 14:52] rultor commented on #1480
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15553-409589219) (spent 33min)

[code]

[2018-08-01 15:00] g4s8 commented on #1480
@rultor release, tag=`0.28.2`

[2018-08-01 15:02] rultor commented on #1480
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15553-409605701)

[2018-08-01 15:29] g4s8 commented on #1480
@rultor release, tag=`0.28.3`

[2018-08-01 15:32] rultor commented on #1480
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15553-409616208)

[2018-08-01 15:52] rultor commented on #1480
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15553-409616208) (took me 18min)

[2018-08-01 16:09] paulodamaso commented on #1238
@krzyk Looks like that all the times it happened `com/zerocracy/bundles/zerocrat_assignment_adds_to_wbs`was involved. For the error stacktrace I suppose that we are having some concurrency issues in some test; I am suspicious that some another test is changing or deleting claims / project / farm information used by `com/zerocracy/bundles/zerocrat_assignment_adds_to_wbs` and it's why it cant' load

[2018-08-01 16:25] rultor commented on #1480
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15553-409634256)

[2018-08-01 16:41] rultor commented on #1480
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15553-409634256) (took me 15min)

[2018-08-01 16:52] paulodamaso opened #1524 "Error inviting user"
Today I've received the following message from 0crat bot when trying to invite a user:
[code]

[2018-08-01 16:52] 0crat commented on #1524
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-01 16:53] #1480 closed

[2018-08-01 16:53] 0pdd commented on #1480
The puzzle `1436-66b5a846` has disappeared from the source code, that's why I closed this issue.

[2018-08-01 16:53] g4s8 commented on #1480
@rultor release, tag=`0.28.5`

[2018-08-01 16:54] 0crat commented on #1480
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.4](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1480, Action: `closed`

[2018-08-01 16:55] rultor commented on #1480
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15553-409644664)

[2018-08-01 17:11] rultor commented on #1480
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15553-409644664) (took me 15min)

[2018-08-01 17:57] g4s8 commented on #1464
@0crat status

[2018-08-01 19:16] krzyk commented on #1238
@paulodamaso Hmm, but the bundle tests should already be isolated, if not they would constantly fail

[2018-08-02 01:25] paulodamaso commented on #1227
@0crat wait for PR #1523

[2018-08-02 01:26] paulodamaso commented on #1231
@0crat wait for PR #1515

[2018-08-02 02:30] paulodamaso commented on #1232
@0crat wait for #1529 review

[2018-08-02 02:42] rgevaerd commented on #1167
@g4s8 Since the there has passed quite some time since the error occurred, there is no log or detail of it available, and I cannot reproduce it, I was thinking about resolving this issue by just reactivating the test (removing ignore) and deleting the puzzle. In worst scenario, if it happens again, at least a new issue with more information can be opened. Do you think this resolution is valid? Or

[2018-08-02 03:08] paulodamaso opened #1530 "Broken member join process"
We are having problems in member join process: people are trying to join zerocracy but their resumes are not being examinated by mentors. I have some suggestions to improve this flow:
- Pending resume examinations list: Mentors should see a list of students waiting for his resume examination somewhere; it's easy to get lost of received resumes in 0crat chat, so we have a lot of resumes waiting to

[2018-08-02 03:08] 0crat commented on #1530
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-02 03:58] paulodamaso commented on #1231
@0crat wait for PR #1515

[2018-08-02 05:07] rgevaerd commented on #487
@0crat waiting on PR #1531

[2018-08-02 07:25] carlosmiranda commented on #1510
@g4s8 I changed the description to say "payouts" instead.

[2018-08-02 07:25] 0pdd opened #1532 "ClaimsSqs.java:39-41: Prevent claims duplication, let's..."
The puzzle `1480-7db2565f` from #1480 has to be resolved:

https://github.com/zerocracy/farm/blob/987780e9517bfb8c965167c4501c08bb35521f01/src/main/java/com/zerocracy/pm/ClaimsSqs.java#L39-L41

The puzzle was created by g4s8 on 02-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the

[2018-08-02 07:25] 0pdd commented on #1480
@0pdd the puzzle [#1532](https://github.com/zerocracy/farm/issues/1532) is still not solved.

[2018-08-02 07:25] 0crat commented on #1532
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-02 07:34] g4s8 commented on #1532
@0crat assign me

[2018-08-02 09:17] yegor256 commented on #1233
@paulodamaso thanks!

[2018-08-02 09:17] #1233 closed

[2018-08-02 09:17] 0crat commented on #1233
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.5](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1233, Action: `closed`

[2018-08-02 11:58] paulodamaso commented on #1233
@0crat status

[2018-08-02 13:01] paulodamaso commented on #1238
@krzyk I see. Well, I don't have any other ideas about it, so I'll let it to someone else to figure out what's happening.

[2018-08-02 13:01] paulodamaso commented on #1238
@0crat refuse

[2018-08-02 13:44] #1464 closed

[2018-08-02 13:44] 0pdd commented on #1464
The puzzle `773-91937673` has disappeared from the source code, that's why I closed this issue.

[2018-08-02 13:44] 0pdd commented on #1532
The puzzle `1480-7db2565f` has disappeared from the source code, that's why I closed this issue.

[2018-08-02 13:44] #1532 closed

[2018-08-02 13:45] 0pdd opened #1533 "Flush.java:29-34: Get rid of flushes and refactor the..."
The puzzle `1464-5424b9c6` from #1464 has to be resolved:

https://github.com/zerocracy/farm/blob/506df2684abcfab918a4a96c73b87526f3e82c8d/src/main/java/com/zerocracy/farm/reactive/Flush.java#L29-L34

The puzzle was created by g4s8 on 02-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed a

[2018-08-02 13:45] 0crat commented on #1532
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.5](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1532, Action: `closed`

[2018-08-02 13:45] 0pdd commented on #773
@amihaiemil 2 puzzles [#1465](https://github.com/zerocracy/farm/issues/1465), [#1533](https://github.com/zerocracy/farm/issues/1533) are still not solved; solved: [#1463](https://github.com/zerocracy/farm/issues/1463), [#1464](https://github.com/zerocracy/farm/issues/1464).

[2018-08-02 13:45] 0pdd commented on #1464
@0pdd the puzzle [#1533](https://github.com/zerocracy/farm/issues/1533) is still not solved.

[2018-08-02 13:45] 0pdd commented on #1480
@0pdd the only puzzle [#1532](https://github.com/zerocracy/farm/issues/1532) is solved here.

[2018-08-02 13:45] 0crat commented on #1464
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.5](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1464, Action: `closed`

[2018-08-02 13:46] 0crat commented on #1533
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-02 13:48] g4s8 commented on #1464
@rultor release, tag=`0.25.8`

[2018-08-02 13:50] rultor commented on #1464
@0pdd @g4s8 Invalid release tag `0.25.8` specified. There is already a release `0.28.5` newer than the given release in this repository.

[2018-08-02 13:50] rultor commented on #1464
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-08-02 13:53] g4s8 commented on #1464
@rultor release, tag=`0.28.6`

[2018-08-02 13:53] g4s8 commented on #1464
@rultor release, tag=`0.28.6`

[2018-08-02 14:19] rultor commented on #1464
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15566-409933889) (took me 22min)

[2018-08-02 14:25] rultor commented on #1464
@0pdd @g4s8 Invalid release tag `0.28.6` specified. There is already a release `0.28.6` newer than the given release in this repository.

[2018-08-02 14:25] rultor commented on #1464
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-08-02 14:51] g4s8 commented on #1464
@rultor release, tag=`0.28.7`

[2018-08-02 14:56] rultor commented on #1464
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15566-409954181)

[2018-08-02 15:01] g4s8 commented on #1464
@rultor stop

[2018-08-02 15:01] g4s8 commented on #1464
@rultor release, tag=`0.28.8`

[2018-08-02 15:06] rultor commented on #1464
@g4s8 OK, I'll try to stop current task.

[2018-08-02 15:06] rultor commented on #1464
@0pdd @g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15566-409957910) (spent 10min)

[code]

[2018-08-02 15:12] g4s8 commented on #1464
@rultor release, tag=`0.28.8`

[2018-08-02 15:12] rultor commented on #1464
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15566-409957970)

[2018-08-02 15:32] rultor commented on #1464
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15566-409957970) (took me 19min)

[2018-08-02 15:38] rultor commented on #1464
@0pdd @g4s8 Invalid release tag `0.28.8` specified. There is already a release `0.28.8` newer than the given release in this repository.

[2018-08-02 15:38] rultor commented on #1464
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-08-02 15:38] g4s8 commented on #1464
@0crat status

[2018-08-02 15:44] 0crat commented on #1464
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1464](https://github.com/zerocracy/farm/issues/1464) is [in scope](http://www.zerocracy.com/policy.html#14) for 11days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [23hr](http://www.zerocracy

[2018-08-02 15:49] g4s8 commented on #1464
@0crat out

[2018-08-02 15:52] g4s8 commented on #1464
@rultor release, tag=`0.28.9`

[2018-08-02 15:52] rultor commented on #1464
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15566-409975705)

[2018-08-02 15:53] g4s8 commented on #1464
@rultor stop

[2018-08-02 15:55] rultor commented on #1464
@g4s8 OK, I'll try to stop current task.

[2018-08-02 15:55] 0crat commented on #1464
Job was finished in 23 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-08-02 15:55] 0crat commented on #1464
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-02 15:55] rultor commented on #1464
@0pdd @g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15566-409976180) (spent 3min)

[code]

[2018-08-02 15:56] 0crat commented on #1464
@g4s8 The job [#1464](https://github.com/zerocracy/farm/issues/1464) is now out of scope

[2018-08-02 16:26] g4s8 commented on #1464
@rultor release, tag=`0.28.9`

[2018-08-02 16:28] rultor commented on #1464
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15566-409986751)

[2018-08-02 16:30] g4s8 commented on #1480
@0crat out

[2018-08-02 16:32] 0crat commented on #1480
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-02 16:33] 0crat commented on #1480
@g4s8 The job [#1480](https://github.com/zerocracy/farm/issues/1480) is now out of scope

[2018-08-02 16:37] g4s8 commented on #1233
@0crat out

[2018-08-02 16:40] 0crat commented on #1533
Job [#1533](https://github.com/zerocracy/farm/issues/1533) is now in scope, role is `DEV`

[2018-08-02 16:41] rultor commented on #1464
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15566-409986751) (spent 13min)

[code]

[2018-08-02 16:42] 0crat commented on #1233
@g4s8 The job [#1233](https://github.com/zerocracy/farm/issues/1233) is now out of scope

[2018-08-02 16:42] 0crat commented on #1233
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-02 17:11] paulodamaso commented on #1231
@0crat status

[2018-08-02 17:12] 0crat commented on #1231
@paulodamaso This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1231](https://github.com/zerocracy/farm/issues/1231) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [9days](

[2018-08-02 17:15] paulodamaso commented on #1231
@0crat wait for #1515 review

[2018-08-02 17:17] paulodamaso commented on #1233
@0crat status

[2018-08-02 17:17] 0crat commented on #1233
@paulodamaso This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1233](https://github.com/zerocracy/farm/issues/1233) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 37min
  * @paulodamaso[/z](https://www.0crat.com/u/paulo

[2018-08-02 17:25] paulodamaso commented on #1232
@0crat wait for #1529 review

[2018-08-02 17:25] paulodamaso commented on #1238
@0crat refuse

[2018-08-02 17:26] 0crat commented on #1232
@paulodamaso The impediment for [#1232](https://github.com/zerocracy/farm/issues/1232) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-02 17:26] 0crat commented on #1238
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1238](https://github.com/zerocracy/farm/issues/1238), please stop working. Reason for job resignation: Order was cancelled

[2018-08-02 17:27] 0crat commented on #1238
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-02 17:30] g4s8 commented on #1464
@rultor release, tag=`0.28.9`

[2018-08-02 17:31] rultor commented on #1464
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15566-410006315)

[2018-08-02 17:44] rultor commented on #1464
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15566-410006315) (spent 12min)

[code]

[2018-08-02 17:49] g4s8 commented on #1464
@rultor release, tag=`0.28.9`

[2018-08-02 17:51] rultor commented on #1464
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15566-410012020)

[2018-08-02 18:10] rultor commented on #1464
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15566-410012020) (took me 18min)

[2018-08-02 21:38] g4s8 commented on #1464
@rultor release, tag=`0.28.10`

[2018-08-02 21:40] rultor commented on #1464
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15566-410075747)

[2018-08-02 22:02] rultor commented on #1464
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15566-410075747) (took me 21min)

[2018-08-02 22:28] g4s8 commented on #1464
@rultor release, tag=`0.28.11`

[2018-08-02 22:29] rultor commented on #1464
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15566-410087723)

[2018-08-02 22:48] rultor commented on #1464
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15566-410087723) (took me 19min)

[2018-08-02 23:03] g4s8 opened #1534 "Expiration time for pings"
Add expiration time 5 minutes for `Ping` claims as SQS message attribute and add new `Proc` for `ClaimsRoutine` to check this value: if `expiration time >= now()` then skip the claim.

[2018-08-02 23:24] rultor commented on #1464
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15566-410097999)

[2018-08-02 23:32] g4s8 commented on #1464
@rultor stop

[2018-08-02 23:33] 0crat commented on #487
@rgevaerd[/z](https://www.0crat.com/u/rgevaerd) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-02 23:34] 0crat commented on #1167
@rgevaerd[/z](https://www.0crat.com/u/rgevaerd) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-02 23:35] rultor commented on #1464
@g4s8 OK, I'll try to stop current task.

[2018-08-02 23:36] rultor commented on #1464
@0pdd @g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15566-410099451) (spent 11min)

[code]

[2018-08-02 23:51] g4s8 commented on #1464
@rultor release, tag=`0.28.12`

[2018-08-02 23:52] rultor commented on #1464
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15566-410102356)

[2018-08-03 00:06] rultor commented on #1464
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15566-410102356) (spent 13min)

[code]

[2018-08-03 00:44] 0crat commented on #1534
Job [#1534](https://github.com/zerocracy/farm/issues/1534) is now in scope, role is `DEV`

[2018-08-03 01:13] g4s8 commented on #1464
@rultor release, tag=`0.28.12`

[2018-08-03 01:15] rultor commented on #1464
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15566-410113848)

[2018-08-03 01:33] rultor commented on #1464
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15566-410113848) (spent 17min)

[code]

[2018-08-03 01:47] rgevaerd commented on #487
@0crat waiting on PR #1531

[2018-08-03 01:49] rgevaerd commented on #1167
@0crat waiting for answer of https://github.com/zerocracy/farm/issues/1167#issuecomment-409787582

[2018-08-03 02:07] paulodamaso opened #1535 "Build is failing"
The build is failing due to errors in:

- Travis throws assertion errors in  `com/zerocracy/bundles/add_speed_bonus` and `com/zerocracy/bundles/close_job_with_quality_review`, Appveyor fails at PMD checks in `Pings.java` in https://github.com/zerocracy/farm/pull/1523 and https://github.com/zerocracy/farm/pull/1514
- Appveyor throws NPE in `ClaimOnQuestionTest.buildsClaim:65` in https://github.com/

[2018-08-03 02:08] 0crat commented on #1535
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-03 02:13] paulodamaso commented on #1233
@ypshenychka just assuring that 0crat told you about the task

[2018-08-03 02:38] 0crat commented on #1167
@rgevaerd The impediment for [#1167](https://github.com/zerocracy/farm/issues/1167) was registered successfully by @rgevaerd[/z](https://www.0crat.com/u/rgevaerd)

[2018-08-03 02:38] 0crat commented on #487
@rgevaerd The impediment for [#487](https://github.com/zerocracy/farm/issues/487) was registered successfully by @rgevaerd[/z](https://www.0crat.com/u/rgevaerd)

[2018-08-03 02:58] g4s8 commented on #1464
@rultor release, tag=`0.28.13`

[2018-08-03 03:05] rultor commented on #1464
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15566-410129796)

[2018-08-03 03:12] g4s8 commented on #1464
@rultor stop

[2018-08-03 03:13] rultor commented on #1464
@g4s8 OK, I'll try to stop current task.

[2018-08-03 03:13] rultor commented on #1464
@0pdd @g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15566-410131891) (spent 9min)

[code]

[2018-08-03 03:14] g4s8 commented on #1464
@rultor release, tag=`0.28.13`

[2018-08-03 03:40] rultor commented on #1464
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15566-410132076) (took me 20min)

[2018-08-03 03:58] 0crat commented on #1535
Job [#1535](https://github.com/zerocracy/farm/issues/1535) is now in scope, role is `DEV`

[2018-08-03 04:04] carlosmiranda commented on #915
@0crat wait for https://github.com/zerocracy/datum/issues/380

[2018-08-03 04:05] carlosmiranda commented on #915
@yegor256 @g4s8 we should display these on the profile pages, correct?

[2018-08-03 04:09] g4s8 opened #1536 "Project advisers are not receiving payments"
According to #546 project's advisers should receive 4% of every project funding operation.
It seems that the task was not fully implmented but was closed. Let's continue to implement it.

[2018-08-03 04:26] 0crat commented on #1536
Job [#1536](https://github.com/zerocracy/farm/issues/1536) is now in scope, role is `DEV`

[2018-08-03 04:38] rultor commented on #1464
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15566-410140086)

[2018-08-03 04:45] 0crat commented on #915
@carlosmiranda The impediment for [#915](https://github.com/zerocracy/farm/issues/915) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-03 04:56] rultor commented on #1464
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15566-410140086) (took me 17min)

[2018-08-03 05:16] 0crat commented on #1536
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-03 05:31] yegor256 opened #1537 "java.lang.NumberFormatException"
I just got it here: https://github.com/zold-io/zold.github.io/issues/76#issuecomment-410148642:

[code]

[2018-08-03 05:31] 0crat commented on #1537
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-03 05:47] adamskrodzki opened #1538 "Bug during submission"
Hi,
I've tried to join 0crat several days ago. So i filled the form.
https://github.com/paulodamaso
wanted to invite me but he could not wind my submission to accept it

When I've tried to resubmit my candidate I saw following stacktrace:

Internal application error
0.28.14, ${buildNumber}

Please, report it here. We will do our best to fix it as soon as possible. We're very sorry.

java.lang.Ille

[2018-08-03 05:47] 0crat commented on #1538
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-03 05:47] 0crat commented on #1538
@adamskrodzki[/z](https://www.0crat.com/u/adamskrodzki) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-03 07:40] ypshenychka commented on #1233
@0crat quality good

[2018-08-03 07:48] 0crat commented on #1233
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-03 07:48] 0crat commented on #1233
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-03 07:52] 0crat commented on #1275
The job [#1275](https://github.com/zerocracy/farm/issues/1275) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2150748620); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-03 08:32] krzyk commented on #1259
@0crat refuse

[2018-08-03 08:33] 0crat commented on #1276
The job [#1276](https://github.com/zerocracy/farm/issues/1276) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2150751739); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-03 08:43] 0crat commented on #1259
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1259](https://github.com/zerocracy/farm/issues/1259), please stop working. Reason for job resignation: Order was cancelled

[2018-08-03 09:31] 0crat commented on #1259
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-03 11:27] 0crat commented on #1537
Job [#1537](https://github.com/zerocracy/farm/issues/1537) is now in scope, role is `DEV`

[2018-08-03 11:33] 0crat commented on #1537
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-08-03 11:36] g4s8 opened #1539 "Skip claims loading if workers are busy"
Let's count busy workers in `BrigadeProc` and check this value in `ClaimsRoutine` - if all workers are busy (busy >= threads in `AsyncProc`) then skip run.

[2018-08-03 11:37] g4s8 commented on #1539
@0crat assign @krzyk

[2018-08-03 11:59] 0crat commented on #1539
@g4s8 The job [#1539](https://github.com/zerocracy/farm/issues/1539) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2151154400); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-08-03 12:03] 0crat commented on #1539
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-03 12:03] 0crat commented on #1539
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-03 12:17] filfreire commented on #1537
@yegor256 I also got it here, after closing an issue:
https://github.com/yegor256/tacit/issues/153#issuecomment-410235395

[code]

[2018-08-03 12:29] g4s8 opened #1540 "Transaction can be added to ledger when debts failed"
0crat can add transaction to `ledger.xml` but failed to add debt to `debts.xml` (e.g. due to duplicate debt), see `make_payment.groovy`:
[code]
this is why we can get not-existing transaction in ledger.
Let's add debt first to `debts.xml` and only then add transaction to ledger.
Also we should unit test this code well.

[2018-08-03 12:29] paulodamaso commented on #1537
@yegor256 I think it's a duplicate of https://github.com/zerocracy/farm/issues/1528

[2018-08-03 12:30] 0crat commented on #1540
Job [#1540](https://github.com/zerocracy/farm/issues/1540) is now in scope, role is `DEV`

[2018-08-03 12:34] 0crat commented on #1540
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-03 12:50] rultor commented on #1464
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15566-410238978)

[2018-08-03 13:05] paulodamaso commented on #1231
@0crat status

[2018-08-03 13:09] rultor commented on #1464
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15566-410238978) (took me 18min)

[2018-08-03 13:40] 0pdd opened #1541 "RnkGithubMilestone.java:33-35: This rank just check that..."
The puzzle `575-5d95eb0b` from #575 has to be resolved:

https://github.com/zerocracy/farm/blob/9b312a1ea0c215d3cc7f61359409207218beef38/src/main/java/com/zerocracy/pm/staff/ranks/RnkGithubMilestone.java#L33-L35

The puzzle was created by g4s8 on 01-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the proble

[2018-08-03 13:41] 0crat commented on #1541
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-03 13:41] 0pdd commented on #575
@yegor256 the puzzle [#1541](https://github.com/zerocracy/farm/issues/1541) is still not solved.

[2018-08-03 14:17] 0crat commented on #1541
Job [#1541](https://github.com/zerocracy/farm/issues/1541) is now in scope, role is `DEV`

[2018-08-03 14:17] 0crat commented on #1231
@paulodamaso The impediment for [#1231](https://github.com/zerocracy/farm/issues/1231) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-03 14:31] paulodamaso commented on #1227
@krzyk #1227 merged, please close

[2018-08-03 14:36] #1231 closed

[2018-08-03 14:36] 0pdd commented on #1231
The puzzle `1041-c307d5cc` has disappeared from the source code, that's why I closed this issue.

[2018-08-03 14:36] 0pdd opened #1542 "pom.xml:1026-1032: Fixing language issues of #1231 did..."
The puzzle `1231-e8f4cee3` from #1231 has to be resolved:

https://github.com/zerocracy/farm/blob/f426116a36ff000d2b77b1e934d1ad863b59bb66/pom.xml#L1026-L1032

The puzzle was created by Paulo Lobo on 01-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _remov

[2018-08-03 14:37] 0pdd commented on #1041
@proshin-roman the puzzle [#1542](https://github.com/zerocracy/farm/issues/1542) is still not solved; solved: [#1231](https://github.com/zerocracy/farm/issues/1231).

[2018-08-03 14:37] 0pdd commented on #1231
@0pdd the puzzle [#1542](https://github.com/zerocracy/farm/issues/1542) is still not solved.

[2018-08-03 14:37] 0crat commented on #1231
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.15](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1231, Action: `closed`

[2018-08-03 14:37] 0crat commented on #1542
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-03 14:44] 0crat commented on #1231
@paulodamaso This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1231](https://github.com/zerocracy/farm/issues/1231) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [10days]

[2018-08-03 14:47] g4s8 commented on #1172
@0crat assign @krzyk

[2018-08-03 14:48] g4s8 commented on #1172
@0crat boost 4x

[2018-08-03 14:51] g4s8 commented on #1172
@krzyk this job has high priority (boosted twice): we need to understand why `Ping` claim can be processed very long (about 3 minutes) for some projects, looks like it depends on project's data.

[2018-08-03 15:03] 0crat commented on #1542
Job [#1542](https://github.com/zerocracy/farm/issues/1542) is now in scope, role is `DEV`

[2018-08-03 15:14] g4s8 commented on #1535
@paulodamaso I've fixed PMD checks and commented assertions in failing tests, so the task is to fix these tests: `com/zerocracy/bundles/add_speed_bonus` and `com/zerocracy/bundles/close_job_with_quality_review`

[2018-08-03 15:33] 0pdd commented on #1257
The puzzle `917-ba7a1a04` has disappeared from the source code, that's why I closed this issue.

[2018-08-03 15:34] 0crat commented on #1172
@g4s8 Boost 4x was set for [#1172](https://github.com/zerocracy/farm/issues/1172)

[2018-08-03 15:34] 0crat commented on #1172
@g4s8 The job [#1172](https://github.com/zerocracy/farm/issues/1172) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2151459063); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-08-03 15:34] 0pdd opened #1543 "_after.groovy:32-34: After all the puzzles are solved..."
The puzzle `1257-c5a38319` from #1257 has to be resolved:

https://github.com/zerocracy/farm/blob/d03b81b84a5692d689268ab1dbaaa2286da32b21/src/test/resources/com/zerocracy/bundles/remove_old_vacancies/_after.groovy#L32-L34

The puzzle was created by Krzysztof Krason on 01-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2018-08-03 15:34] 0crat commented on #1257
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.15](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1257, Action: `closed`

[2018-08-03 15:34] 0pdd commented on #917
@yegor256 the puzzle [#1543](https://github.com/zerocracy/farm/issues/1543) is still not solved; solved: [#1257](https://github.com/zerocracy/farm/issues/1257).

[2018-08-03 15:34] 0pdd commented on #1257
@0pdd the puzzle [#1543](https://github.com/zerocracy/farm/issues/1543) is still not solved.

[2018-08-03 15:34] 0crat commented on #1543
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-03 15:41] g4s8 commented on #1172
@0crat status

[2018-08-03 16:20] 0crat commented on #1172
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-03 16:24] #1139 closed

[2018-08-03 16:24] 0pdd commented on #1139
The puzzle `89-f08c5086` has disappeared from the source code, that's why I closed this issue.

[2018-08-03 16:24] 0pdd opened #1544 "_before.groovy:31-33: Finish implementation of..."
The puzzle `1139-7ab7e83e` from #1139 has to be resolved:

https://github.com/zerocracy/farm/blob/a99ae7aca984ba36cbbb2f96db7775a90f14637c/src/test/resources/com/zerocracy/bundles/notify_in_slack_without_user/_before.groovy#L31-L33

The puzzle was created by Paulo Lobo on 01-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2018-08-03 16:24] 0pdd commented on #89
@0pdd the puzzle [#1544](https://github.com/zerocracy/farm/issues/1544) is still not solved; solved: [#1139](https://github.com/zerocracy/farm/issues/1139), [#1140](https://github.com/zerocracy/farm/issues/1140).

[2018-08-03 16:24] 0pdd commented on #1139
@0pdd the puzzle [#1544](https://github.com/zerocracy/farm/issues/1544) is still not solved.

[2018-08-03 16:25] 0crat commented on #1139
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.15](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1139, Action: `closed`

[2018-08-03 16:25] 0crat commented on #1544
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-03 16:29] 0crat commented on #1172
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-03 16:30] g4s8 opened #1545 "Use SQS batch requests where possible"
Let's use [batch requests](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/APIReference/API_Message.html) such as `AmazonSQS.deleteMessageBatch()`, `AmazonSQS.sendMessageBatch()` to reduce SQS cost. When using `sendMessageBatch` we should ensure that size of **all** claims in a batch is less then `256KB`. I think it can be implemented as `class BatchClaims implements Claims, Closeable` wh

[2018-08-03 16:33] 0crat commented on #1543
Job [#1543](https://github.com/zerocracy/farm/issues/1543) is now in scope, role is `DEV`

[2018-08-03 16:36] 0crat commented on #1172
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1172](https://github.com/zerocracy/farm/issues/1172) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @krzyk[/z](https://www.0crat.com/u/krzyk) for [1hr](http://www.zerocracy.

[2018-08-03 16:38] paulodamaso commented on #1535
@g4s8 I have something to add, the tests doesn't fail when I run them on my windows laptop. They just fail in Travis and Appveyor.

[2018-08-03 16:44] paulodamaso commented on #1139
@g4s8 0crat failed to close, please close it

[2018-08-03 16:48] paulodamaso commented on #1231
@g4s8 0crat failed closing this one, please close it

[2018-08-03 17:37] paulodamaso commented on #1506
@g4s8 Implementing this will prevent an user that already joined to submit the form more than once, so `TkJoin` will not have to tests in `/join-post` regarding user already with mentor and already joined. I propose another solution:
- user tries to access `/join` endpoint
  - if user is logged, redirects to user page and show user data, with resume at the end of the page (and a message about user

[2018-08-03 17:46] 0crat commented on #1544
Job [#1544](https://github.com/zerocracy/farm/issues/1544) is now in scope, role is `DEV`

[2018-08-03 17:47] 0crat commented on #1545
Job [#1545](https://github.com/zerocracy/farm/issues/1545) is now in scope, role is `DEV`

[2018-08-03 17:57] paulodamaso commented on #1275
@g4s8 Sorry but I couldn't access this page, I didn't found a link to it anywhere. Maybe some special permission or project role is needed?

[2018-08-03 18:33] 0crat commented on #1545
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-03 18:43] g4s8 commented on #1172
@0crat boost 4x

[2018-08-03 18:55] 0crat commented on #1172
@g4s8 Boost 4x was set for [#1172](https://github.com/zerocracy/farm/issues/1172)

[2018-08-03 19:15] 0crat commented on #1172
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-03 19:32] krzyk commented on #1227
@paulodamaso thanks

[2018-08-03 19:32] #1227 closed

[2018-08-03 19:32] 0crat commented on #1227
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.15](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1227, Action: `closed`

[2018-08-04 00:29] carlosmiranda commented on #1180
@amihaiemil should be fixed in #1516, let's close this now

[2018-08-04 00:52] rgevaerd commented on #721
@amihaiemil fix was merged in #1512, can we close?

[2018-08-04 05:53] krzyk opened #1546 "Closed issues and PRs are not assigned to QAs"
Since at least yesterday closed issues and PRs are not assigned to QAs (and as a result no payment is added).

Few examples (there are more):
- https://github.com/zerocracy/farm/pull/1525
- https://github.com/zerocracy/farm/pull/1523
- https://github.com/zerocracy/farm/issues/1532

Same in other projects

[2018-08-04 05:53] 0crat commented on #1546
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-04 06:39] amihaiemil commented on #721
@rgevaerd sure, thanks

[2018-08-04 06:39] #721 closed

[2018-08-04 06:39] 0crat commented on #721
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.15](https://github.com/zerocracy/farm): Issue: zerocracy/farm#721, Action: `closed`

[2018-08-04 06:40] amihaiemil commented on #1180
@carlosmiranda thanks :)

[2018-08-04 06:40] #1180 closed

[2018-08-04 06:40] 0crat commented on #1180
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.15](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1180, Action: `closed`

[2018-08-04 06:43] krzyk commented on #1172
@g4s8 where those metrics should be reported?

[2018-08-04 10:06] g4s8 commented on #1172
@krzyk I think we can save it in mongo, cause we already have it.

[2018-08-04 10:29] 0pdd opened #1547 "notify_in_github.groovy:53-57: Adjust call below to..."
The puzzle `1390-12031a91` from #1390 has to be resolved:

https://github.com/zerocracy/farm/blob/d774a6443a104c7f9b930f4c60b0c760f861722e/src/main/groovy/com/zerocracy/stk/pm/comm/notify_in_github.groovy#L53-L57

The puzzle was created by rultor on 04-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pro

[2018-08-04 10:29] 0crat commented on #1547
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-04 10:31] 0pdd opened #1548 "TkGithub.java:150-154: Adjust call to Quota.over with..."
The puzzle `1390-d5feac23` from #1390 has to be resolved:

https://github.com/zerocracy/farm/blob/d774a6443a104c7f9b930f4c60b0c760f861722e/src/main/java/com/zerocracy/radars/github/TkGithub.java#L150-L154

The puzzle was created by rultor on 04-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-08-04 10:31] 0crat commented on #1548
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-04 10:31] 0pdd commented on #1390
@g4s8 2 puzzles [#1547](https://github.com/zerocracy/farm/issues/1547), [#1548](https://github.com/zerocracy/farm/issues/1548) are still not solved.

[2018-08-04 10:52] 0crat commented on #1547
Job [#1547](https://github.com/zerocracy/farm/issues/1547) is now in scope, role is `DEV`

[2018-08-04 10:52] 0crat commented on #1548
Job [#1548](https://github.com/zerocracy/farm/issues/1548) is now in scope, role is `DEV`

[2018-08-04 11:10] g4s8 commented on #1167
@rgevaerd you can try to unignore this test and to run few times until it failed:
[code]

[2018-08-04 12:39] 0crat commented on #1188
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-04 12:39] 0crat commented on #1506
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-04 13:39] 0crat commented on #1189
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-04 14:44] 0pdd commented on #1226
The puzzle `1048-04512f73` has disappeared from the source code, that's why I closed this issue.

[2018-08-04 14:44] #1226 closed

[2018-08-04 14:44] 0crat commented on #1226
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.15](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1226, Action: `closed`

[2018-08-04 14:44] 0pdd opened #1550 "_after.groovy:29-36: add_github_webhook.groovy bundletest..."
The puzzle `1226-cf6a00fb` from #1226 has to be resolved:

https://github.com/zerocracy/farm/blob/144665f2357bfd29de11b8681e297174cfc34347/src/test/resources/com/zerocracy/bundles/adds_github_webhook/_after.groovy#L29-L36

The puzzle was created by Paulo Lobo on 31-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done"

[2018-08-04 14:44] 0pdd commented on #1048
@g4s8 the puzzle [#1550](https://github.com/zerocracy/farm/issues/1550) is still not solved; solved: [#1226](https://github.com/zerocracy/farm/issues/1226).

[2018-08-04 14:44] 0pdd commented on #1226
@0pdd the puzzle [#1550](https://github.com/zerocracy/farm/issues/1550) is still not solved.

[2018-08-04 14:44] 0crat commented on #1550
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-04 14:48] 0crat commented on #1550
Job [#1550](https://github.com/zerocracy/farm/issues/1550) is now in scope, role is `DEV`

[2018-08-04 14:51] rgevaerd opened #1551 "0crat NumberFormatException on issue close"
A 0crat unrecoverable error occurred here: https://github.com/zerocracy/farm/issues/721#issuecomment-410428205

I guess that due to that error, #721 is not continuing on 0crat workflow.

[2018-08-04 14:52] 0crat commented on #1551
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-04 14:57] 0crat commented on #1550
The job [#1550](https://github.com/zerocracy/farm/issues/1550) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2161458363); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-08-04 14:59] g4s8 commented on #721
@0crat out

[2018-08-04 14:59] rgevaerd commented on #1390
@g4s8 #1501 has been merged, can we close this now?

[2018-08-04 15:03] g4s8 commented on #1486
@0crat assign me

[2018-08-04 15:05] g4s8 commented on #1551
@rgevaerd it's a duplicate of #1537

[2018-08-04 15:05] #1551 closed

[2018-08-04 15:24] 0crat commented on #721
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @rgevaerd[/z](https://www.0crat.com/u/rgevaerd), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-04 15:25] 0crat commented on #721
@g4s8 The job [#721](https://github.com/zerocracy/farm/issues/721) is now out of scope

[2018-08-04 15:26] 0crat commented on #1551
Job `gh:zerocracy/farm#1551` is not assigned, can't get performer

[2018-08-04 15:26] 0crat commented on #1486
@g4s8 The job [#1486](https://github.com/zerocracy/farm/issues/1486) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2161515492); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-08-04 15:28] g4s8 commented on #1524
@paulodamaso looks like that user was already invited by someone else or you have mistyped the login. In any case we need more friendly message for this situation, please rename bug's title and I'll add it to WBS.

[2018-08-04 15:30] 0pdd commented on #1486
The puzzle `1352-131ebec6` has disappeared from the source code, that's why I closed this issue.

[2018-08-04 15:30] #1486 closed

[2018-08-04 15:30] 0crat commented on #1486
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-04 15:30] 0pdd opened #1552 "assign_examiner.groovy:39-41: On invite we should notify..."
The puzzle `1486-f5becce5` from #1486 has to be resolved:

https://github.com/zerocracy/farm/blob/88ec324cf146458acb3f79c01a279b8245ca9d8b/src/main/groovy/com/zerocracy/stk/pmo/resumes/assign_examiner.groovy#L39-L41

The puzzle was created by g4s8 on 04-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pr

[2018-08-04 15:31] 0crat commented on #1486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.15](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1486, Action: `closed`

[2018-08-04 15:31] 0pdd commented on #908
@0pdd 3 puzzles [#1353](https://github.com/zerocracy/farm/issues/1353), [#1506](https://github.com/zerocracy/farm/issues/1506), [#1552](https://github.com/zerocracy/farm/issues/1552) are still not solved; solved: [#1146](https://github.com/zerocracy/farm/issues/1146), [#1147](https://github.com/zerocracy/farm/issues/1147), [#1179](https://github.com/zerocracy/farm/issues/1179), [#1352](https://git

[2018-08-04 15:31] 0pdd commented on #1146
@0pdd 2 puzzles [#1353](https://github.com/zerocracy/farm/issues/1353), [#1552](https://github.com/zerocracy/farm/issues/1552) are still not solved; solved: [#1352](https://github.com/zerocracy/farm/issues/1352), [#1486](https://github.com/zerocracy/farm/issues/1486).

[2018-08-04 15:31] 0pdd commented on #1352
@0pdd the puzzle [#1552](https://github.com/zerocracy/farm/issues/1552) is still not solved; solved: [#1486](https://github.com/zerocracy/farm/issues/1486).

[2018-08-04 15:31] 0pdd commented on #1486
@0pdd the puzzle [#1552](https://github.com/zerocracy/farm/issues/1552) is still not solved.

[2018-08-04 15:31] g4s8 commented on #1486
@rultor release, tag=`0.29.1`

[2018-08-04 15:31] g4s8 commented on #1486
@0crat status

[2018-08-04 15:31] 0crat commented on #1552
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-04 15:32] rultor commented on #1486
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15590-410457314)

[2018-08-04 15:46] rultor commented on #1486
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15590-410457314) (spent 13min)

[code]

[2018-08-04 15:48] 0crat commented on #1552
Job [#1552](https://github.com/zerocracy/farm/issues/1552) is now in scope, role is `DEV`

[2018-08-04 15:48] 0crat commented on #1486
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1486](https://github.com/zerocracy/farm/issues/1486) is [in scope](http://www.zerocracy.com/policy.html#14) for 9days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [30min](http://www.zerocracy

[2018-08-04 15:50] g4s8 commented on #1486
@rultor release, tag=`0.29.1`

[2018-08-04 15:50] rultor commented on #1486
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15590-410458443)

[2018-08-04 15:50] 0crat commented on #1190
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-04 16:05] rgevaerd commented on #1167
@g4s8 I unignored the test and executed the following (changed mvn target so it will not fail on code coverage check):

[code]

All 100 tests executions passed successfully.
Should I assume the test passes and delete the puzzle?

[2018-08-04 16:06] rultor commented on #1486
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15590-410458443) (took me 16min)

[2018-08-04 16:08] g4s8 commented on #1486
@0crat out

[2018-08-04 16:13] g4s8 commented on #1486
@rultor release, tag=`0.29.2`

[2018-08-04 16:13] rultor commented on #1486
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15590-410459967)

[2018-08-04 16:30] 0crat commented on #1486
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-08-04 16:31] rultor commented on #1486
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15590-410459967) (took me 17min)

[2018-08-04 16:32] ypshenychka commented on #721
@0crat quality good

[2018-08-04 17:14] g4s8 commented on #1464
@rultor release, tag=`0.29.3`

[2018-08-04 17:15] rultor commented on #1464
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15566-410464091)

[2018-08-04 17:26] 0crat commented on #1486
@g4s8 The job [#1486](https://github.com/zerocracy/farm/issues/1486) is now out of scope

[2018-08-04 17:32] rultor commented on #1464
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15566-410464091) (spent 17min)

[code]

[2018-08-04 17:50] g4s8 commented on #1464
@rultor release, tag=`0.29.3`

[2018-08-04 17:50] rultor commented on #1464
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15566-410466412)

[2018-08-04 18:05] rultor commented on #1464
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15566-410466412) (spent 15min)

[code]

[2018-08-04 18:07] g4s8 commented on #1464
@rultor release, tag=`0.29.3`

[2018-08-04 18:10] rultor commented on #1464
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15566-410467435)

[2018-08-04 18:28] rultor commented on #1464
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15566-410467435) (took me 17min)

[2018-08-04 18:37] 0crat commented on #721
Order was finished, quality is "good": +35 point(s) just awarded to @rgevaerd[/z](https://www.0crat.com/u/rgevaerd)

[2018-08-04 18:41] 0crat commented on #721
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-04 18:52] 0crat commented on #1240
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-04 18:52] 0crat commented on #1248
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-04 18:52] 0crat commented on #1191
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-04 18:53] 0crat commented on #1257
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-04 18:58] g4s8 opened #1553 "optimize assign_performer and elect_performer"
Stakeholder `assign_performer` is too long for big projects, e.g. in this project it can be completed in ~120 seconds, `elect_performer` is also very long ~50 seconds. Project stats: WBS: 187 items, jobs in `elections.xml`: 963 items, let's optimize election mechanism and make it faster, because it's executing on every `Ping`.

[2018-08-04 18:58] g4s8 commented on #1553
@0crat assign @carlosmiranda

[2018-08-04 19:49] 0crat commented on #1553
@g4s8 Boost 4x was set for [#1553](https://github.com/zerocracy/farm/issues/1553)

[2018-08-04 19:50] 0crat commented on #1553
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-04 20:51] krzyk commented on #1532
@0crat out

[2018-08-04 20:52] krzyk commented on #1257
@0crat out

[2018-08-04 20:52] krzyk commented on #1231
@0crat out

[2018-08-04 20:53] krzyk commented on #1227
@0crat out

[2018-08-04 20:53] krzyk commented on #1226
@0crat out

[2018-08-04 20:53] krzyk commented on #1180
@0crat out

[2018-08-04 20:54] krzyk commented on #1139
@0crat out

[2018-08-04 21:02] krzyk commented on #1167
@rgevaerd I would do a `200` just to be more sure (it all depends on the hardware and then there is rultor :)

[2018-08-04 21:03] 0crat commented on #1532
@krzyk The job is not in WBS, won't close the order

[2018-08-04 21:03] 0crat commented on #1532
@krzyk Job `gh:zerocracy/farm#1532` is not assigned, can't get performer

[2018-08-04 21:03] 0crat commented on #1257
@krzyk[/z](https://www.0crat.com/u/krzyk) the issue is closed not by @0pdd[/z](https://www.0crat.com/u/0pdd) (its creator); I won't close the order; please, re-open it and ask @0pdd[/z](https://www.0crat.com/u/0pdd) to close it

[2018-08-04 21:03] 0crat commented on #1231
@krzyk[/z](https://www.0crat.com/u/krzyk) the issue is closed not by @0pdd[/z](https://www.0crat.com/u/0pdd) (its creator); I won't close the order; please, re-open it and ask @0pdd[/z](https://www.0crat.com/u/0pdd) to close it

[2018-08-04 21:04] krzyk commented on #1257
@g4s8 problem here with moving to QA, 0crat doesn't recognize that 0pdd closed the job (I think all 0pdd closed jobs during the transition to SQS will be affected, this is the second time I see it after `out`)

[2018-08-04 21:09] krzyk commented on #1537
@paulodamaso I don't think so, I got it again here: https://github.com/Harvest-foundation/telegram/issues/149#issuecomment-410477698
So after manual close of a bug (a blank one).

[2018-08-04 21:16] 0crat commented on #1180
@krzyk[/z](https://www.0crat.com/u/krzyk) the issue is closed not by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) (its creator); I won't close the order; please, re-open it and ask @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) to close it

[2018-08-04 21:17] 0crat commented on #1226
@krzyk[/z](https://www.0crat.com/u/krzyk) the issue is closed not by @0pdd[/z](https://www.0crat.com/u/0pdd) (its creator); I won't close the order; please, re-open it and ask @0pdd[/z](https://www.0crat.com/u/0pdd) to close it

[2018-08-04 21:17] 0crat commented on #1139
@krzyk[/z](https://www.0crat.com/u/krzyk) the issue is closed not by @0pdd[/z](https://www.0crat.com/u/0pdd) (its creator); I won't close the order; please, re-open it and ask @0pdd[/z](https://www.0crat.com/u/0pdd) to close it

[2018-08-04 22:05] 0crat commented on #1227
@krzyk Job [#1227](https://github.com/zerocracy/farm/issues/1227) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't inspect

[2018-08-04 22:08] 0crat commented on #1227
@krzyk The job [#1227](https://github.com/zerocracy/farm/issues/1227) is now out of scope

[2018-08-04 22:39] paulodamaso commented on #1139
@g4s8 0pdd closed the issue, but 0crat failed removing it from wbs; please remove it.

[2018-08-04 22:40] paulodamaso commented on #1226
@g4s8 0pdd closed the issue, but 0crat failed removing it from wbs; please remove it.

[2018-08-04 22:40] paulodamaso commented on #1231
@g4s8 0pdd closed the issue, but 0crat failed removing it from wbs; please remove it.

[2018-08-04 23:59] rgevaerd commented on #1167
@krzyk I executed 500 times, it only failed once. Here is the output of the failed execution:
[code]
I will take a look into it.

[2018-08-05 01:53] rgevaerd commented on #1167
@krzyk @g4s8  I believe it is a bug in Xembly. I reported https://github.com/yegor256/xembly/issues/82.
Should I try to hack Xembly in farm to workaround the bug (if no SecurityManager is used I may be able to do it through reflection, but is there some bootstrap always executed to place this hack?) or should we just wait for Xembly fix?

[2018-08-05 06:11] krzyk opened #1555 "0crat refuses to `out` issues closed by creator"
0crate refuses to `out` a feature that was closed by 0pdd, stating that:
[code]

Issues in farm (that were closed by 0pdd, but 0crat didn't recognize that after `out` command):
1. https://github.com/zerocracy/farm/issues/1139.
2. https://github.com/zerocracy/farm/issues/1257
3. https://github.com/zerocracy/farm/issues/1226
4. https://github.com/zerocracy/farm/issues/1231

And now issue that was cl

[2018-08-05 06:11] 0crat commented on #1555
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-05 06:40] krzyk commented on #1167
@rgevaerd I don't think we should hack it, but I also don't what to do else here except `waiting for` the xemlby bug fix

[2018-08-05 07:07] krzyk commented on #1227
@g4s8 @paulodamaso this one need somehow manual QA review, `out`ing it move it only out of scope, but without inspection (and payment)

[2018-08-05 11:40] g4s8 commented on #1227
@0crat status

[2018-08-05 11:53] g4s8 commented on #1537
@0crat assign me

[2018-08-05 12:03] 0crat commented on #1227
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1227](https://github.com/zerocracy/farm/issues/1227) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 15hr
  * @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-05 12:05] 0crat commented on #1537
@g4s8 The job [#1537](https://github.com/zerocracy/farm/issues/1537) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2171213135); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-08-05 12:40] ypshenychka commented on #1227
@0crat quality good

[2018-08-05 12:41] g4s8 commented on #1522
@0crat assign me

[2018-08-05 13:28] victornoel commented on #1550
@0crat refuse

[2018-08-05 13:35] 0crat commented on #1522
@g4s8 The job [#1522](https://github.com/zerocracy/farm/issues/1522) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2171264760); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-08-05 13:51] 0crat commented on #1227
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-05 13:51] 0crat commented on #1227
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-05 14:02] 0crat commented on #1522
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-05 14:02] 0crat commented on #1550
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1550](https://github.com/zerocracy/farm/issues/1550), please stop working. Reason for job resignation: Order was cancelled

[2018-08-05 14:13] krzyk opened #1556 "Payment details should contain issue and PR numbers"
Right now payment details contain amounts, which is pointless, it should contain issue and PR numbers.
E.g. for Paypal there is 1000 characters limit, which should suffice for most cases.

[2018-08-05 14:13] 0crat commented on #1556
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-05 14:49] krzyk opened #1557 "Agenda page count includes both agenda items and items under review"
The total count on user agenda page shouldn't include items that are being reviewed by QA, because they are not taken into account (I hope) when checking agenda size by 0crat.

[2018-08-05 14:49] 0crat commented on #1557
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-05 14:50] 0crat commented on #1550
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-08-05 14:51] krzyk opened #1558 "Stale entries with inspector in agenda"
In my agenda I have 3 entries that are stale and should be removed, but weren't:
1. https://github.com/zerocracy/farm/issues/1352
2. https://github.com/zerocracy/farm/issues/1381
3. https://github.com/zerocracy/farm/issues/1471

They were closed and paid, but they still exist in my agenda as under review by QA.

[2018-08-05 14:51] 0crat commented on #1558
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-05 15:03] g4s8 commented on #1522
@rultor release, tag=`0.29.5`

[2018-08-05 15:05] rultor commented on #1522
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15598-410526117)

[2018-08-05 15:06] rgevaerd commented on #1167
@krzyk yeah, Ideally we shouldn't hack it... But this seems a very serious bug... That although rare, it may cause error on most xembly operations, so it may cause problems at a lot of farm project functionalities. So I don't know if it ok to just wait.
I will wait until it is fixed or someone says otherwise.

[2018-08-05 15:08] rgevaerd commented on #1167
@0crat waiting for xembly fix at https://github.com/yegor256/xembly/issues/82 that causes this bug on farm.

[2018-08-05 15:09] 0crat commented on #1167
@rgevaerd Job [#1167](https://github.com/zerocracy/farm/issues/1167) is already on hold

[2018-08-05 15:31] g4s8 commented on #1522
@paulodamaso it was fixed in https://github.com/zerocracy/farm/commit/a27f096ead4f7062eedab0ee342750ac2e227309, also fixed sentry reporting for this bug: #1537 (closing right now to see `NumberFormatException` in logs).

[2018-08-05 15:31] #1522 closed

[2018-08-05 15:31] 0crat commented on #1522
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.29.5](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1522, Action: `closed`

[2018-08-05 15:31] g4s8 commented on #1537
stacktrace:
[code]

[2018-08-05 17:04] g4s8 commented on #1537
@rultor release, tag=`0.29.6`

[2018-08-05 17:05] g4s8 commented on #1522
@0crat out

[2018-08-05 17:05] rultor commented on #1537
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15599-410533560)

[2018-08-05 17:43] g4s8 commented on #1537
@rultor release, tag=`0.29.6`

[2018-08-05 17:46] rultor commented on #1537
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15599-410536025)

[2018-08-05 18:01] rultor commented on #1537
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15599-410536025) (took me 15min)

[2018-08-05 18:39] g4s8 opened #1559 "test"
test

[2018-08-05 18:40] #1559 closed

[2018-08-05 18:45] g4s8 commented on #1537
@yegor256 this bug was reproduced and fixed in https://github.com/zerocracy/farm/commit/f562b4140ae192eb065b77ac0d4ab25746a8813a, the fix was released in `0.29.6`, can we close?

[2018-08-05 18:56] 0crat commented on #1559
Job `gh:zerocracy/farm#1559` is not assigned, can't get performer

[2018-08-05 18:56] 0crat commented on #1559
The job is not in WBS, won't close the order

[2018-08-05 23:35] carlosmiranda commented on #1180
@0crat status

[2018-08-05 23:35] 0crat commented on #1180
@carlosmiranda This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1180](https://github.com/zerocracy/farm/issues/1180) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) for [1

[2018-08-05 23:45] carlosmiranda commented on #1190
@0crat refuse

[2018-08-05 23:45] 0crat commented on #1190
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1190](https://github.com/zerocracy/farm/issues/1190), please stop working. Reason for job resignation: Order was cancelled

[2018-08-05 23:45] carlosmiranda commented on #1180
@g4s8 can we manually move this out of scope?

[2018-08-06 08:38] g4s8 commented on #1180
@0crat out

[2018-08-06 08:40] g4s8 commented on #1553
@carlosmiranda please try to see this bug first, it has high priority (boosted twice)

[2018-08-06 08:48] 0crat commented on #1180
@g4s8 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.29.6](https://github.com/zerocracy/farm): CID: [2180848468](https://www.0crat.com/C3NDPUA8L/2180848468), Type: "Close job", Author: "g4s8"

[2018-08-06 08:51] 0crat commented on #1180
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-06 08:51] 0crat commented on #1557
Job [#1557](https://github.com/zerocracy/farm/issues/1557) is now in scope, role is `DEV`

[2018-08-06 08:52] 0crat commented on #1180
@g4s8 The job [#1180](https://github.com/zerocracy/farm/issues/1180) is now out of scope

[2018-08-06 08:52] 0crat commented on #1557
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-06 09:05] emilianodellacasa opened #1560 "Not receiving REV role"
Because of a past bug, I lost enough points to see REV role removed from my profile.

Now I have recovered my reputation to 170 and to my knowledge and, to my understanding, I should get the role back but nothing happened after few days have passed.

[2018-08-06 09:05] 0crat commented on #1560
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-06 09:05] 0crat commented on #1560
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-06 09:11] #1240 closed

[2018-08-06 09:11] 0pdd commented on #1240
The puzzle `1200-fd0f2266` has disappeared from the source code, that's why I closed this issue.

[2018-08-06 09:11] 0pdd commented on #1200
@g4s8 the only puzzle [#1240](https://github.com/zerocracy/farm/issues/1240) is solved here.

[2018-08-06 09:28] 0crat commented on #1240
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-06 09:28] 0crat commented on #1240
The job [#1240](https://github.com/zerocracy/farm/issues/1240) is now out of scope

[2018-08-06 09:28] krzyk commented on #1257
@0crat out

[2018-08-06 09:29] krzyk commented on #1248
@0crat waiting busy with other higher priority tasks

[2018-08-06 09:29] 0crat commented on #1257
@krzyk There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.29.6](https://github.com/zerocracy/farm): CID: [2180937005](https://www.0crat.com/C3NDPUA8L/2180937005), Type: "Close job", Author: "krzyk"

[2018-08-06 09:29] 0crat commented on #1257
@krzyk[/z](https://www.0crat.com/u/krzyk) the issue is closed not by @0pdd[/z](https://www.0crat.com/u/0pdd) (its creator); I won't close the order; please, re-open it and ask @0pdd[/z](https://www.0crat.com/u/0pdd) to close it

[2018-08-06 09:29] 0crat commented on #1248
@krzyk The impediment for [#1248](https://github.com/zerocracy/farm/issues/1248) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-06 09:38] g4s8 commented on #1560
@emilianodellacasa sorry, I didn't understand where is the bug, please specify what is not working and what do you expect.

[2018-08-06 09:44] #1257 closed

[2018-08-06 09:44] 0crat commented on #1257
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-06 09:57] emilianodellacasa commented on #1560
@g4s8 Never mind, closing this issue

[2018-08-06 09:57] #1560 closed

[2018-08-06 10:01] 0crat commented on #1257
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.29.6](https://github.com/zerocracy/farm): CID: [2180953491](https://www.0crat.com/C3NDPUA8L/2180953491), Type: "Close job", Author: "g4s8"

[2018-08-06 10:02] 0crat commented on #1257
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-06 10:03] 0crat commented on #1257
The job [#1257](https://github.com/zerocracy/farm/issues/1257) is now out of scope

[2018-08-06 10:13] 0crat commented on #1560
Job `gh:zerocracy/farm#1560` is not assigned, can't get performer

[2018-08-06 10:13] 0crat commented on #1560
The job is not in WBS, won't close the order

[2018-08-06 10:44] ypshenychka commented on #1240
@0crat quality good

[2018-08-06 10:45] ypshenychka commented on #1180
@0crat quality good

[2018-08-06 10:47] ypshenychka commented on #1257
@0crat quality good

[2018-08-06 10:49] 0crat commented on #1240
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-06 10:49] 0crat commented on #1240
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-06 10:51] 0crat commented on #1180
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-06 10:51] 0crat commented on #1180
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-06 10:52] 0crat commented on #1257
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-06 10:52] 0crat commented on #1257
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-06 11:49] g4s8 commented on #1275
@paulodamaso yes, you need to have `ARC` or `PO` role to see this page.

[2018-08-06 13:08] liligga opened #1561 "Urgent issues have to be assigned to high ranking DEVs"
Urgent issues need to be assigned to high ranking DEVs only. This should probably also be based on condition of minimum reputation for DEV.
Connected to #1183

[2018-08-06 13:08] 0crat commented on #1561
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-06 13:08] 0crat commented on #1561
@liligga[/z](https://www.0crat.com/u/liligga) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-06 15:05] g4s8 commented on #1558
@krzyk looks like a duplicate of #1448, isn't it?

[2018-08-06 15:11] krzyk commented on #1558
@g4s8 yeah

[2018-08-06 15:11] #1558 closed

[2018-08-06 15:27] 0crat commented on #1558
Job `gh:zerocracy/farm#1558` is not assigned, can't get performer

[2018-08-06 15:27] 0crat commented on #1558
The job is not in WBS, won't close the order

[2018-08-07 00:30] paulodamaso commented on #1189
@0crat refuse

[2018-08-07 00:30] paulodamaso commented on #1191
@0crat refuse

[2018-08-07 00:31] 0crat commented on #1189
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1189](https://github.com/zerocracy/farm/issues/1189), please stop working. Reason for job resignation: Order was cancelled

[2018-08-07 00:31] 0crat commented on #1191
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1191](https://github.com/zerocracy/farm/issues/1191), please stop working. Reason for job resignation: Order was cancelled

[2018-08-07 00:32] 0crat commented on #1189
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-07 00:32] 0crat commented on #1191
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-07 00:55] carlosmiranda commented on #1553
@g4s8 all right, I'm on it.

[2018-08-07 03:40] carlosmiranda commented on #1553
@g4s8 see PR #1563

[2018-08-07 03:40] carlosmiranda commented on #1553
@0crat wait for merge of #1563

[2018-08-07 03:41] 0crat commented on #1553
@carlosmiranda The impediment for [#1553](https://github.com/zerocracy/farm/issues/1553) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-07 12:06] paulodamaso commented on #1555
@g4s8 please take a look, I have some issues in that condition

[2018-08-07 15:21] 0pdd opened #1564 "Elections.java:63-77: This 'stylesheet' is not merely a..."
The puzzle `1553-3bca3cf4` from #1553 has to be resolved:

https://github.com/zerocracy/farm/blob/b29fcce0aa5dd6098e55b80f63e14d94b90b8f93/src/main/java/com/zerocracy/pm/staff/Elections.java#L63-L77

The puzzle was created by Carlos Miranda on 07-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem i

[2018-08-07 15:21] 0crat commented on #1564
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-07 15:21] 0pdd commented on #1553
@g4s8 the puzzle [#1564](https://github.com/zerocracy/farm/issues/1564) is still not solved.

[2018-08-07 17:12] paulodamaso commented on #1139
@g4s8 ping

[2018-08-07 17:24] paulodamaso commented on #1231
@g4s8 ping

[2018-08-07 17:31] paulodamaso commented on #1276
@0crat wait for #1554 review

[2018-08-07 17:32] 0crat commented on #1276
@paulodamaso The impediment for [#1276](https://github.com/zerocracy/farm/issues/1276) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-07 23:54] carlosmiranda commented on #1553
@g4s8 fixed in #1563, may we close this now?

[2018-08-08 01:42] paulodamaso commented on #1275
@0crat refuse

[2018-08-08 01:42] 0crat commented on #1275
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1275](https://github.com/zerocracy/farm/issues/1275), please stop working. Reason for job resignation: Order was cancelled

[2018-08-08 01:43] 0crat commented on #1275
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-08 02:33] carlosmiranda commented on #512
@0crat refuse

[2018-08-08 02:34] 0crat commented on #512
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#512](https://github.com/zerocracy/farm/issues/512), please stop working. Reason for job resignation: Order was cancelled

[2018-08-08 02:35] 0crat commented on #512
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-08 04:38] 0crat commented on #1534
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-08 04:38] 0crat commented on #898
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-08 04:38] 0crat commented on #924
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-08 05:24] carlosmiranda commented on #1534
@0crat wait (too many tasks)

[2018-08-08 05:25] carlosmiranda commented on #898
@0crat wait (too many tasks)

[2018-08-08 05:25] carlosmiranda commented on #924
@0crat wait (too many tasks)

[2018-08-08 05:27] 0crat commented on #1534
@carlosmiranda The impediment for [#1534](https://github.com/zerocracy/farm/issues/1534) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-08 05:29] 0crat commented on #898
@carlosmiranda The impediment for [#898](https://github.com/zerocracy/farm/issues/898) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-08 05:29] 0crat commented on #924
@carlosmiranda The impediment for [#924](https://github.com/zerocracy/farm/issues/924) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-08 08:44] g4s8 commented on #1553
@carlosmiranda sure, thanks

[2018-08-08 08:44] #1553 closed

[2018-08-08 09:08] 0crat commented on #1553
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-08 09:37] #963 closed

[2018-08-08 09:37] 0pdd commented on #963
The puzzle `476-cbedeee7` has disappeared from the source code, that's why I closed this issue.

[2018-08-08 09:37] 0pdd commented on #297
@yegor256 all 3 puzzles are solved here: [#476](https://github.com/zerocracy/farm/issues/476), [#477](https://github.com/zerocracy/farm/issues/477), [#963](https://github.com/zerocracy/farm/issues/963).

[2018-08-08 09:37] 0pdd commented on #476
@0pdd the only puzzle [#963](https://github.com/zerocracy/farm/issues/963) is solved here.

[2018-08-08 09:44] g4s8 commented on #1553
@rultor release, tag=`0.29.7`

[2018-08-08 09:45] rultor commented on #1553
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15619-411349434)

[2018-08-08 09:53] ypshenychka commented on #1553
@0crat quality good

[2018-08-08 10:03] rultor commented on #1553
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15619-411349434) (took me 17min)

[2018-08-08 11:04] Vatavuk opened #1565 "Deny command not found"
According to [§1](http://www.zerocracy.com/policy.html#1) examiner can refuse an applicant by issuing the command `deny {user}` to 0crat.
However when I trigger this command 0crat respond with:

[code]

There is no command for refusing candidates..

[2018-08-08 11:04] 0crat commented on #1565
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-08 11:04] 0crat commented on #1565
@vatavuk[/z](https://www.0crat.com/u/vatavuk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-08 12:01] 0crat commented on #1553
Order was finished, quality is "good": +65 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-08 12:01] 0crat commented on #1553
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-08 12:05] 0crat commented on #963
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-08 12:05] 0crat commented on #963
The job [#963](https://github.com/zerocracy/farm/issues/963) is now out of scope

[2018-08-08 12:27] krzyk opened #1566 "Two sources of stakeholders"
There are two sources of stakeholders, one is in BrigadeProc and the other in SmartFarm.

We should have a single source of stakeholders to avoid problems when one changes only one part but forgets to update the second one.

[2018-08-08 12:27] 0crat commented on #1566
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-08 13:04] 0crat commented on #1539
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-08 13:31] paulodamaso commented on #1276
@blackout314 changes merged in #1554 , please close

[2018-08-08 14:07] krzyk commented on #1172
@g4s8 sorry I give up here, `guts` looks like a hack added on top of the project/farm and I couldn't find a way to change it in a clean/testable way from stakeholder process.

[2018-08-08 14:07] krzyk commented on #1172
@0crat refuse

[2018-08-08 14:09] 0crat commented on #1172
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1172](https://github.com/zerocracy/farm/issues/1172), please stop working. Reason for job resignation: Order was cancelled

[2018-08-08 14:12] 0crat commented on #1172
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-08 18:13] g4s8 opened #1567 "One claim can be processed few times"
It's possible to process one claim multiple times, the claim has same `cid` and same `signature` it means that this claim was submitted once (it's not possible to submit few claims with same signature to SQS, because this field is used as `DeduplicationId` and it's tested in IT-case), but processed multiple times - this claim exist in footprint (with same `cid`) .

[2018-08-08 18:16] g4s8 commented on #1315
Fixed in cda7dba82e3839078ff6e802473002699003a68f

[2018-08-08 18:16] #1315 closed

[2018-08-08 18:16] g4s8 commented on #1567
@rultor release, tag=`0.29.8`

[2018-08-08 18:18] rultor commented on #1567
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15623-411502361)

[2018-08-08 18:31] 0crat commented on #1315
The job is not in WBS, won't close the order

[2018-08-08 18:31] 0crat commented on #1315
Job `gh:zerocracy/farm#1315` is not assigned, can't get performer

[2018-08-08 18:38] rultor commented on #1567
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15623-411502361) (took me 19min)

[2018-08-08 19:24] 0crat commented on #1567
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-08 19:24] 0crat commented on #1567
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-08 19:59] g4s8 commented on #1226
@0crat out

[2018-08-08 19:59] g4s8 commented on #1139
@0crat out

[2018-08-08 20:00] g4s8 commented on #1231
@0crat out

[2018-08-08 20:02] 0crat commented on #1226
@g4s8 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.29.8](https://github.com/zerocracy/farm): CID: [2201959856](https://www.0crat.com/C3NDPUA8L/2201959856), Type: "Close job", Author: "g4s8"

[2018-08-08 20:03] 0crat commented on #1139
@g4s8 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.29.8](https://github.com/zerocracy/farm): CID: [2201959858](https://www.0crat.com/C3NDPUA8L/2201959858), Type: "Close job", Author: "g4s8"

[2018-08-08 20:15] 0crat commented on #1226
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-08 20:31] #1506 closed

[2018-08-08 20:31] 0pdd commented on #1506
The puzzle `1179-61ff2e4f` has disappeared from the source code, that's why I closed this issue.

[2018-08-08 20:31] 0pdd opened #1568 "TkJoin.java:30-36: Each user should see the status of..."
The puzzle `1506-ecd7faa7` from #1506 has to be resolved:

https://github.com/zerocracy/farm/blob/71867595574c61f5cf0d0e78a727f51121d9c4c5/src/main/java/com/zerocracy/tk/TkJoin.java#L30-L36

The puzzle was created by Paulo Lobo on 07-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and t

[2018-08-08 20:32] 0crat commented on #1568
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-08 20:34] 0crat commented on #1139
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-08 20:34] 0crat commented on #1226
@g4s8 The job [#1226](https://github.com/zerocracy/farm/issues/1226) is now out of scope

[2018-08-08 20:35] 0pdd opened #1569 "Resumes.java:31-35: Implement resumes.resume(login),..."
The puzzle `1506-9a48ed63` from #1506 has to be resolved:

https://github.com/zerocracy/farm/blob/71867595574c61f5cf0d0e78a727f51121d9c4c5/src/main/java/com/zerocracy/pmo/Resumes.java#L31-L35

The puzzle was created by Paulo Lobo on 07-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and

[2018-08-08 20:35] 0crat commented on #1569
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-08 20:36] 0pdd commented on #908
@0pdd 4 puzzles [#1353](https://github.com/zerocracy/farm/issues/1353), [#1552](https://github.com/zerocracy/farm/issues/1552), [#1568](https://github.com/zerocracy/farm/issues/1568), [#1569](https://github.com/zerocracy/farm/issues/1569) are still not solved; solved: [#1146](https://github.com/zerocracy/farm/issues/1146), [#1147](https://github.com/zerocracy/farm/issues/1147), [#1179](https://git

[2018-08-08 20:36] 0pdd commented on #1147
@0pdd 2 puzzles [#1568](https://github.com/zerocracy/farm/issues/1568), [#1569](https://github.com/zerocracy/farm/issues/1569) are still not solved; solved: [#1179](https://github.com/zerocracy/farm/issues/1179), [#1506](https://github.com/zerocracy/farm/issues/1506).

[2018-08-08 20:36] 0pdd commented on #1179
@0pdd 2 puzzles [#1568](https://github.com/zerocracy/farm/issues/1568), [#1569](https://github.com/zerocracy/farm/issues/1569) are still not solved; solved: [#1506](https://github.com/zerocracy/farm/issues/1506).

[2018-08-08 20:36] 0pdd commented on #1506
@0pdd 2 puzzles [#1568](https://github.com/zerocracy/farm/issues/1568), [#1569](https://github.com/zerocracy/farm/issues/1569) are still not solved.

[2018-08-08 20:36] 0crat commented on #1231
@g4s8 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.29.8](https://github.com/zerocracy/farm): CID: [2202000874](https://www.0crat.com/C3NDPUA8L/2202000874), Type: "Close job", Author: "g4s8"

[2018-08-08 20:40] 0crat commented on #1139
@g4s8 The job [#1139](https://github.com/zerocracy/farm/issues/1139) is now out of scope

[2018-08-08 20:41] ypshenychka commented on #1226
@0crat quality good

[2018-08-08 20:42] ypshenychka commented on #1139
@0crat quality good

[2018-08-08 20:45] 0crat commented on #1231
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-08 20:45] 0crat commented on #1568
Job [#1568](https://github.com/zerocracy/farm/issues/1568) is now in scope, role is `DEV`

[2018-08-08 20:46] 0crat commented on #1569
Job [#1569](https://github.com/zerocracy/farm/issues/1569) is now in scope, role is `DEV`

[2018-08-08 20:49] 0crat commented on #1231
@g4s8 The job [#1231](https://github.com/zerocracy/farm/issues/1231) is now out of scope

[2018-08-08 20:53] 0crat commented on #1226
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-08 20:53] 0crat commented on #1226
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-08 20:53] 0crat commented on #1448
The job [#1448](https://github.com/zerocracy/farm/issues/1448) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2202046366); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-08 20:57] g4s8 commented on #1522
@0crat out

[2018-08-08 21:12] 0crat commented on #1139
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-08 21:18] 0crat commented on #1506
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-08 21:38] g4s8 opened #1570 "cleanup_comments often fails"
`cleanup_comments` often fails with stacktrace:
[code]

[2018-08-08 21:44] 0crat commented on #1506
The job [#1506](https://github.com/zerocracy/farm/issues/1506) is now out of scope

[2018-08-08 21:58] 0crat commented on #1522
@g4s8 Job `gh:zerocracy/farm#1522` is not assigned, can't get start time

[2018-08-08 21:59] 0crat commented on #1570
Job [#1570](https://github.com/zerocracy/farm/issues/1570) is now in scope, role is `DEV`

[2018-08-08 22:35] 0crat commented on #1522
@g4s8 The job [#1522](https://github.com/zerocracy/farm/issues/1522) is now out of scope

[2018-08-08 22:42] 0crat commented on #1570
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-09 01:29] paulodamaso opened #1571 "0crat allows set closed task as impediment"
0crat is allowing to set a closed task as an impediment (happened here https://github.com/sunsofterp/portal/issues/104#issuecomment-411545911). It does not make sense: if some task is closed, it shouldn't be set as impediment for another task.

[2018-08-09 01:29] 0crat commented on #1571
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-09 05:49] krzyk opened #1573 "start_order called for PRs pending quality review"
start_order stakeholder is called for PRs pending quality review:
- https://github.com/zerocracy/farm/pull/1562#issuecomment-411561157
- https://github.com/zerocracy/farm/pull/1549#issuecomment-411383110
- https://github.com/zerocracy/farm/pull/1490#issuecomment-408397891
- https://github.com/zerocracy/farm/pull/1515#issuecomment-410478373

Looks like one of the other stakeholder calls it without

[2018-08-09 05:49] 0crat commented on #1573
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-09 07:36] ypshenychka commented on #1506
@0crat quality good

[2018-08-09 07:39] ypshenychka commented on #1231
@0crat quality good

[2018-08-09 08:03] carlosmiranda commented on #1185
@g4s8 see PR #1574 for this

[2018-08-09 08:34] 0crat commented on #1506
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-09 08:34] 0crat commented on #1506
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-09 08:41] 0crat commented on #1231
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-09 08:42] 0crat commented on #1231
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-09 08:42] 0crat commented on #1172
The job [#1172](https://github.com/zerocracy/farm/issues/1172) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2210754497); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-09 08:54] 0crat commented on #512
The job [#512](https://github.com/zerocracy/farm/issues/512) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2210754514); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-08-09 08:55] 0crat commented on #1172
Job `gh:zerocracy/farm#1172` already assigned to @paulodamaso, can't assign to @paulodamaso

[2018-08-09 10:06] 0crat commented on #1564
The job [#1564](https://github.com/zerocracy/farm/issues/1564) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2210957949); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-08-09 10:29] krzyk commented on #1139
@g4s8 I don't see payment for this job

[2018-08-09 10:33] g4s8 commented on #1564
@carlosmiranda both stakeholders `elect_performer` and `assign_performer` are triggered by `Ping` claims, so after election, `assign_performer` just takes all winners from `elections.xm` and start orders for them. It looks like these actions can be chained: `assign_performer` can listen for `Performer was elected` claim, not `Ping` and start the otder for performer from claim parameter `login`. Wi

[2018-08-09 10:39] 0crat commented on #1564
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-09 10:46] krzyk commented on #1564
@g4s8 makes sense for me

[2018-08-09 11:01] g4s8 commented on #1139
@0crat status

[2018-08-09 11:14] 0crat commented on #1139
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1139](https://github.com/zerocracy/farm/issues/1139) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%231139%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-08-09 12:39] g4s8 commented on #1139
@0crat pay 35min @paulodamaso

[2018-08-09 12:45] 0crat commented on #1247
@uurl[/z](https://www.0crat.com/u/uurl) this job was assigned to you 1mon ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-09 12:45] 0crat commented on #1247
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) continued working on job [#1247](https://github.com/zerocracy/farm/issues/1247)

[2018-08-09 12:46] g4s8 commented on #1555
@krzyk it seems that 0crat didn't close orders for these issues because of #1537 bug, but this message:
[code]
was addressed to you, because you've asked 0crat to close orders with `@0crat out` command, but you was not issue created in that bugs, creator was `@0pdd`, this is why 0crat responded with such message.

[2018-08-09 12:52] krzyk commented on #1555
@g4s8 should 0crat look at the github closer and not who did `out`?

[2018-08-09 13:28] 0crat commented on #1139
Direct payment from @g4s8[/z](https://www.0crat.com/u/g4s8): +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-09 13:33] 0crat commented on #1139
Direct payment to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) in #1139, which is discouraged, see [§49](http://www.zerocracy.com/policy.html#49): -20 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-09 16:59] paulodamaso commented on #1276
@blackout314 ping

[2018-08-09 17:10] paulodamaso commented on #512
@yegor256 I need access to error reports regarding zerocracy on sentry, please give some credentials, I've already have a sentry user: `paulo-damaso`

[2018-08-09 17:48] g4s8 commented on #1276
@paulodamaso thanks

[2018-08-09 17:48] #1276 closed

[2018-08-09 19:15] peter-kehl opened #1576 "Allow plus + in Paypal email addresses"
`wallet paypal google-username+any-alpha-numeric19@gmail.com` fails with "Email address is not valid." However, such addresses are valid for Paypal.

Hence, please relax the regex in farm/src/main/java/com/zerocracy/pmo/People.java to allow + in email address.

[2018-08-09 19:15] 0crat commented on #1576
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-09 19:16] 0crat commented on #1576
@peter-kehl[/z](https://www.0crat.com/u/peter-kehl) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-09 19:39] krzyk commented on #1555
@g4s8 Oh, in that case this is a different issue - why I was allowed to do it? :)

[2018-08-09 19:45] ypshenychka commented on #1276
@0crat quality good

[2018-08-09 20:32] 0crat commented on #1276
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-09 20:33] 0crat commented on #1276
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-09 23:31] rgevaerd commented on #487
@amihaiemil  #1531 has been merged, can we close this now?

[2018-08-09 23:32] rgevaerd commented on #1390
@g4s8 ping

[2018-08-09 23:52] #487 closed

[2018-08-10 00:14] 0crat commented on #487
The job [#487](https://github.com/zerocracy/farm/issues/487) is now out of scope

[2018-08-10 00:14] 0crat commented on #487
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @rgevaerd[/z](https://www.0crat.com/u/rgevaerd), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-10 12:34] krzyk commented on #1539
@0crat waiting for review of PR #1578

[2018-08-10 12:35] 0crat commented on #1539
@krzyk The impediment for [#1539](https://github.com/zerocracy/farm/issues/1539) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-10 13:18] ypshenychka opened #1579 "Failure when inviting a student when you're not examiner"
There are applicants who are waiting since June 6th, but examiner didn't do anything about them. So I tried to invite them today, but failure occured and students are still not invited.

com.jcabi.xml.ListWrapper[162] com.jcabi.xml.ListWrapper$NodeNotFoundException: XPath '/resumes/resume[@login='byzantime']/examiner/text()' not found in '<?xml version="1.0" encoding="UTF-8"?>\uA<resumes ..50840..

[2018-08-10 13:18] 0crat commented on #1579
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-10 14:16] 0crat commented on #487
Order was finished, quality is "good": +35 point(s) just awarded to @rgevaerd[/z](https://www.0crat.com/u/rgevaerd)

[2018-08-10 14:18] 0crat commented on #487
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-10 18:28] paulodamaso commented on #1172
@0crat status

[2018-08-10 18:28] 0crat commented on #1172
@paulodamaso This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1172](https://github.com/zerocracy/farm/issues/1172) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [1days](

[2018-08-10 20:57] paulodamaso commented on #512
@yegor256 @g4s8 I still don't have access to the error reports. I need them so I can see the entire stacktrace.

[2018-08-12 13:46] g4s8 commented on #512
@paulodamaso only @yegor256 can give you access to sentry, but I can post full stacktrace here:
[code]

[2018-08-12 13:54] 0pdd commented on #1232
The puzzle `766-8d00e56f` has disappeared from the source code, that's why I closed this issue.

[2018-08-12 13:54] #1232 closed

[2018-08-12 13:54] 0pdd commented on #400
@g4s8 all 5 puzzles are solved here: [#1232](https://github.com/zerocracy/farm/issues/1232), [#765](https://github.com/zerocracy/farm/issues/765), [#766](https://github.com/zerocracy/farm/issues/766), [#767](https://github.com/zerocracy/farm/issues/767), [#768](https://github.com/zerocracy/farm/issues/768).

[2018-08-12 13:54] 0pdd commented on #766
@0pdd the only puzzle [#1232](https://github.com/zerocracy/farm/issues/1232) is solved here.

[2018-08-12 14:17] 0crat commented on #1232
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-12 14:18] 0crat commented on #1232
The job [#1232](https://github.com/zerocracy/farm/issues/1232) is now out of scope

[2018-08-12 14:18] 0crat commented on #1465
The job [#1465](https://github.com/zerocracy/farm/issues/1465) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2241423127); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-08-12 14:19] llorllale opened #1582 "No QA/payment for closed issue; still in Agenda"
`0pdd` closed [this](https://github.com/harvest-foundation/telegram/issues/104) issue, then `0crat` promptly removed it from scope. However, no QA was assigned nor performed, I didn't get paid, and it's still in my agenda.

Please take a look.

[2018-08-12 14:29] 0crat commented on #1533
The job [#1533](https://github.com/zerocracy/farm/issues/1533) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2241433204); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-08-12 14:43] 0pdd commented on #1167
The puzzle `1050-8012ef0f` has disappeared from the source code, that's why I closed this issue.

[2018-08-12 14:43] #1167 closed

[2018-08-12 14:43] 0pdd commented on #1050
@g4s8 the only puzzle [#1167](https://github.com/zerocracy/farm/issues/1167) is solved here.

[2018-08-12 15:13] 0pdd commented on #1564
The puzzle `1553-3bca3cf4` has disappeared from the source code, that's why I closed this issue.

[2018-08-12 15:13] #1564 closed

[2018-08-12 15:14] 0pdd opened #1583 "assign_performer.groovy:36-38: Change this stakeholder to..."
The puzzle `1564-96d4a109` from #1564 has to be resolved:

https://github.com/zerocracy/farm/blob/c4fdaca06efa29a14150c9d86cc9804bd703428a/src/main/groovy/com/zerocracy/stk/pm/in/orders/assign_performer.groovy#L36-L38

The puzzle was created by g4s8 on 09-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the

[2018-08-12 15:14] 0pdd commented on #1553
@g4s8 the puzzle [#1583](https://github.com/zerocracy/farm/issues/1583) is still not solved; solved: [#1564](https://github.com/zerocracy/farm/issues/1564).

[2018-08-12 15:14] 0pdd commented on #1564
@0pdd the puzzle [#1583](https://github.com/zerocracy/farm/issues/1583) is still not solved.

[2018-08-12 15:14] 0crat commented on #1583
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-12 15:44] 0crat commented on #1167
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @rgevaerd[/z](https://www.0crat.com/u/rgevaerd), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-12 15:46] g4s8 commented on #1564
@0crat status

[2018-08-12 15:46] g4s8 commented on #1583
@0crat assign me

[2018-08-12 15:48] 0crat commented on #1167
The job [#1167](https://github.com/zerocracy/farm/issues/1167) is now out of scope

[2018-08-12 15:55] 0crat commented on #1583
Job [#1583](https://github.com/zerocracy/farm/issues/1583) is now in scope, role is `DEV`

[2018-08-12 16:00] 0crat commented on #1564
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1564](https://github.com/zerocracy/farm/issues/1564) is [in scope](http://www.zerocracy.com/policy.html#14) for 5days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [3days](http://www.zerocracy

[2018-08-12 16:06] 0crat commented on #1583
@g4s8 The job [#1583](https://github.com/zerocracy/farm/issues/1583) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2241557043); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-08-12 17:12] 0crat commented on #1564
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-12 17:13] 0crat commented on #1564
The job [#1564](https://github.com/zerocracy/farm/issues/1564) is now out of scope

[2018-08-12 17:13] 0crat commented on #1583
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-12 18:46] 0crat commented on #1583
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-08-12 19:05] 0pdd opened #1584 "CountingProcTest.java:47-49: Create a FakeMessage and use..."
The puzzle `1539-240ed028` from #1539 has to be resolved:

https://github.com/zerocracy/farm/blob/f3455862724a06ad13791bb5bb8c6f4ff4fb3996/src/test/java/com/zerocracy/claims/proc/CountingProcTest.java#L47-L49

The puzzle was created by Krzysztof Krason on 10-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when t

[2018-08-12 19:05] 0pdd commented on #1539
@g4s8 the puzzle [#1584](https://github.com/zerocracy/farm/issues/1584) is still not solved.

[2018-08-12 19:06] 0crat commented on #1584
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-12 19:09] g4s8 commented on #1539
@krzyk PR #1578 was merged, thanks

[2018-08-12 19:09] #1539 closed

[2018-08-12 19:09] g4s8 commented on #1539
@rultor release, tag=`0.30.1`

[2018-08-12 19:10] rultor commented on #1539
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15667-412364904)

[2018-08-12 19:27] rultor commented on #1539
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15667-412364904) (took me 16min)

[2018-08-12 19:27] 0crat commented on #1583
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-12 19:29] 0crat commented on #1583
The job [#1583](https://github.com/zerocracy/farm/issues/1583) is now out of scope

[2018-08-12 19:29] 0crat commented on #1584
Job [#1584](https://github.com/zerocracy/farm/issues/1584) is now in scope, role is `DEV`

[2018-08-12 19:33] 0crat commented on #1539
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-12 19:33] 0crat commented on #1539
The job [#1539](https://github.com/zerocracy/farm/issues/1539) is now out of scope

[2018-08-12 20:17] g4s8 commented on #1537
@yegor256 this bug is not reproducing anymore (after fix in https://github.com/zerocracy/farm/commit/f562b4140ae192eb065b77ac0d4ab25746a8813a).

[2018-08-12 20:17] #1537 closed

[2018-08-12 20:35] 0crat commented on #1537
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-12 20:35] 0crat commented on #1537
The job [#1537](https://github.com/zerocracy/farm/issues/1537) is now out of scope

[2018-08-12 20:41] g4s8 opened #1585 "set_parent stakeholder"
We have `Set parent` stakeholder and `<parent>` element in `catalog.xml`, but the claim with such type is never submitted and xml element is never read.
@yegor256 what is the idea behind this parent elemnt and how it should be used?

[2018-08-12 20:52] 0pdd opened #1586 "pom.xml:581-586: Code warnings in groovy scripts doesn't..."
The puzzle `1500-e289d746` from #1500 has to be resolved:

https://github.com/zerocracy/farm/blob/d3b54072879b3e42eea2205c7ffc3441a7fa31ee/pom.xml#L581-L586

The puzzle was created by g4s8 on 12-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _removed_ from

[2018-08-12 20:52] 0crat commented on #1586
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-12 20:52] 0pdd commented on #1500
@krzyk the puzzle [#1586](https://github.com/zerocracy/farm/issues/1586) is still not solved.

[2018-08-12 20:53] 0crat commented on #1586
Job [#1586](https://github.com/zerocracy/farm/issues/1586) is now in scope, role is `DEV`

[2018-08-13 06:57] carlosmiranda commented on #1567
@g4s8 this was a bit tricky. See PR #1587 for the solution.

[2018-08-13 06:57] carlosmiranda commented on #1567
@0crat wait for merge of PR #1587

[2018-08-13 06:58] 0crat commented on #1567
@carlosmiranda The impediment for [#1567](https://github.com/zerocracy/farm/issues/1567) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-13 07:55] g4s8 commented on #1500
@krzyk I tried to find the way to 'treat warnings as errors' in groovy at compile time, but didn't find anything, so I added todo #1586. These issues was fixed in https://github.com/zerocracy/farm/commit/d3b54072879b3e42eea2205c7ffc3441a7fa31ee, can we close?

[2018-08-13 07:58] krzyk commented on #1500
@g4s8 thanks

[2018-08-13 07:58] #1500 closed

[2018-08-13 08:03] carlosmiranda opened #1588 "Assigned a task in an inaccessible repo"
Recently, I got a task for a repository that I do not have access to. The reason for this is that I am resigned from the project, but my access to the repo got revoked before I was resigned in Zerocracy. In between this time period, `0crat` assigned me a `REV` task.

We should check if users have access to a repo before assigning any tasks to them from that repo.

[2018-08-13 08:03] 0crat commented on #1588
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-13 08:26] 0crat commented on #1500
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-13 08:26] 0crat commented on #1500
The job [#1500](https://github.com/zerocracy/farm/issues/1500) is now out of scope

[2018-08-13 08:48] g4s8 commented on #1248
@krzyk thanks

[2018-08-13 08:48] #1248 closed

[2018-08-13 09:05] 0pdd opened #1589 "AsyncProc.java:134-139: This method is too complicated at..."
The puzzle `1567-45090e1f` from #1567 has to be resolved:

https://github.com/zerocracy/farm/blob/e744542d6492cf0924176d16481c7e12edc83c73/src/main/java/com/zerocracy/claims/proc/AsyncProc.java#L134-L139

The puzzle was created by Carlos Miranda on 13-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-08-13 09:05] 0pdd commented on #1567
@g4s8 the puzzle [#1589](https://github.com/zerocracy/farm/issues/1589) is still not solved.

[2018-08-13 09:06] 0crat commented on #1589
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-13 09:18] 0crat commented on #1248
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-13 09:26] g4s8 commented on #1567
@carlosmiranda PR #1587 was merged, thanks

[2018-08-13 09:26] #1567 closed

[2018-08-13 09:26] g4s8 commented on #1567
@rultor release, tag=`0.30.2`

[2018-08-13 09:35] 0pdd commented on #1448
The puzzle `1414-beb41dc9` has disappeared from the source code, that's why I closed this issue.

[2018-08-13 09:35] #1448 closed

[2018-08-13 09:35] 0pdd commented on #1414
@ypshenychka the only puzzle [#1448](https://github.com/zerocracy/farm/issues/1448) is solved here.

[2018-08-13 09:51] 0crat commented on #1567
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-13 10:02] 0pdd commented on #1185
The puzzle `1035-248d802b` has disappeared from the source code, that's why I closed this issue.

[2018-08-13 10:02] #1185 closed

[2018-08-13 10:03] 0crat commented on #1567
The job [#1567](https://github.com/zerocracy/farm/issues/1567) is now out of scope

[2018-08-13 10:06] 0crat commented on #1448
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-13 10:07] 0crat commented on #1448
The job [#1448](https://github.com/zerocracy/farm/issues/1448) is now out of scope

[2018-08-13 10:07] rultor commented on #1567
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15623-412459757)

[2018-08-13 10:26] rultor commented on #1567
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15623-412459757) (took me 18min)

[2018-08-13 10:27] ypshenychka commented on #1232
@0crat quality good

[2018-08-13 10:55] g4s8 commented on #1567
@rultor release, tag=`0.30.3`

[2018-08-13 10:56] rultor commented on #1567
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15623-412480847)

[2018-08-13 11:14] rultor commented on #1567
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15623-412480847) (took me 17min)

[2018-08-13 11:40] 0pdd commented on #1589
The puzzle `1567-45090e1f` has disappeared from the source code, that's why I closed this issue.

[2018-08-13 11:40] #1589 closed

[2018-08-13 11:40] 0pdd commented on #1567
@g4s8 the only puzzle [#1589](https://github.com/zerocracy/farm/issues/1589) is solved here.

[2018-08-13 11:40] g4s8 commented on #1567
@rultor release, tag=`0.30.4`

[2018-08-13 11:43] rultor commented on #1567
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15623-412490475)

[2018-08-13 12:02] rultor commented on #1567
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15623-412490475) (took me 19min)

[2018-08-13 12:14] 0crat commented on #1185
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-13 12:17] 0crat commented on #1185
The job [#1185](https://github.com/zerocracy/farm/issues/1185) is now out of scope

[2018-08-13 12:18] 0crat commented on #1589
Job `gh:zerocracy/farm#1589` is not assigned, can't get performer

[2018-08-13 12:20] g4s8 opened #1590 "Dead-lock in AsyncProc"
After #1567 fix `AsyncProc` may catch a dead-lock. It processes few SQS messages and then stops. I've reverted commits for this PR to get Zerocrat working, it is c3091421a341a6eb9824385387329c14937aea5f and e744542d6492cf0924176d16481c7e12edc83c73. We need to reimplement this `AsyncProc` and unit-test it to be sure that it's working.

[2018-08-13 12:20] g4s8 commented on #1590
@0crat assign @carlosmiranda

[2018-08-13 12:31] 0crat commented on #1076
The job [#1076](https://github.com/zerocracy/farm/issues/1076) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2251230674); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-08-13 13:05] ypshenychka commented on #1539
@0crat quality good

[2018-08-13 13:48] ypshenychka commented on #1185
@0crat quality good

[2018-08-13 13:52] ypshenychka commented on #1567
@0crat quality good

[2018-08-13 13:57] krzyk commented on #1448
@ypshenychka Did this change help with your agenda cleanup? I'm asking because it didn't in my case, I still see e.g. #1352 (and few others) as assigned to you in my agenda

[2018-08-13 14:02] ypshenychka commented on #1448
@krzyk Looks like only one redundant task is still in my agenda. #1474 wasn't cleaned up

[2018-08-13 14:15] krzyk opened #1591 "Still few stale entries with inspector in agenda"
In my agenda I have 3 entries that are stale and should be removed, but weren't:
1. https://github.com/zerocracy/farm/issues/1352
2. https://github.com/zerocracy/farm/issues/1381
3. https://github.com/zerocracy/farm/issues/1471

They were closed and paid, but they still exist in my agenda as under review by QA.

Those should disappear after #1448, but I still see them.

[2018-08-13 14:15] 0crat commented on #1591
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-13 14:26] 0crat commented on #1185
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-13 14:26] 0crat commented on #1185
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-13 14:27] 0crat commented on #1567
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-13 14:27] 0crat commented on #1567
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-13 14:28] 0crat commented on #1082
The job [#1082](https://github.com/zerocracy/farm/issues/1082) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2251426203); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-08-13 14:30] 0crat commented on #1077
The job [#1077](https://github.com/zerocracy/farm/issues/1077) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2251432319); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-13 14:32] ypshenychka commented on #1448
@0crat quality good

[2018-08-13 14:38] 0crat commented on #1448
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-13 14:38] 0crat commented on #1448
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-13 14:40] 0crat commented on #1098
The job [#1098](https://github.com/zerocracy/farm/issues/1098) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2251440519); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-13 14:45] 0crat commented on #1101
The job [#1101](https://github.com/zerocracy/farm/issues/1101) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2251447720); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-08-13 14:55] 0crat commented on #1100
The job [#1100](https://github.com/zerocracy/farm/issues/1100) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2251457819); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-14 07:25] 0crat commented on #1167
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-14 07:27] ypshenychka commented on #1248
@0crat quality good

[2018-08-14 07:29] 0crat commented on #1248
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-14 07:30] 0crat commented on #1248
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-14 07:56] 0pdd opened #1595 "Measured.java:26-33: Add performance metrics: add..."
The puzzle `1172-7bc2550f` from #1172 has to be resolved:

https://github.com/zerocracy/farm/blob/9e88befa7e68d43500ffe4699ba3e511fbcafc8c/src/main/java/com/zerocracy/Measured.java#L26-L33

The puzzle was created by rultor on 14-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the te

[2018-08-14 07:56] 0crat commented on #1595
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-14 07:56] 0pdd opened #1596 "Measured.java:34-37: Add performance metrics: add..."
The puzzle `1172-adac8449` from #1172 has to be resolved:

https://github.com/zerocracy/farm/blob/9e88befa7e68d43500ffe4699ba3e511fbcafc8c/src/main/java/com/zerocracy/Measured.java#L34-L37

The puzzle was created by rultor on 14-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the te

[2018-08-14 07:56] 0pdd commented on #1172
@g4s8 2 puzzles [#1595](https://github.com/zerocracy/farm/issues/1595), [#1596](https://github.com/zerocracy/farm/issues/1596) are still not solved.

[2018-08-14 07:56] 0crat commented on #1596
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-14 07:58] 0crat commented on #1595
Job [#1595](https://github.com/zerocracy/farm/issues/1595) is now in scope, role is `DEV`

[2018-08-14 07:58] 0crat commented on #1596
Job [#1596](https://github.com/zerocracy/farm/issues/1596) is now in scope, role is `DEV`

[2018-08-14 08:03] carlosmiranda commented on #1590
@g4s8 see PR #1597.

[2018-08-14 08:28] krzyk commented on #1591
@krzyk and now they disappeared, strange, it should be in `ping hourly` not `ping daily`

[2018-08-14 08:28] #1591 closed

[2018-08-14 08:38] 0crat commented on #1172
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-14 08:38] 0crat commented on #512
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-14 08:44] 0crat commented on #1591
Job `gh:zerocracy/farm#1591` is not assigned, can't get performer

[2018-08-14 08:44] 0crat commented on #1591
The job is not in WBS, won't close the order

[2018-08-14 09:58] g4s8 commented on #723
@0crat status

[2018-08-14 10:01] 0crat commented on #723
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#723](https://github.com/zerocracy/farm/issues/723) is [in scope](http://www.zerocracy.com/policy.html#14) for 5mon
  * The role is `DEV`
  * The job is assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) for [4mon](http://www.z

[2018-08-14 11:03] carlosmiranda opened #1598 "Zold notifications show amounts in scientific (e-) notation when sending >=10ZLD"
Every now and then I get a notification on Stripe and Telegram that looks like this:

The amount I got is exactly 10 ZLD. This happens for any amount reaches or exceeds 10 ZLD, which is weird because "1E+1 ZLD" is actually _longer_ than "10 ZLD". Note that for some reason this doesn't happen in case there is a fraction; e.g. "17.5 ZLD" gets displayed correctly

[2018-08-14 11:03] 0crat commented on #1598
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-14 11:52] carlosmiranda commented on #1534
@g4s8 see PR #1599

[2018-08-14 12:06] g4s8 commented on #1598
@carlosmiranda can't see this formatting for 12 ZLD and 64 ZLD, looks like it's reproducing only for 10 ZLD

[2018-08-14 12:07] 0crat commented on #1598
Job [#1598](https://github.com/zerocracy/farm/issues/1598) is now in scope, role is `DEV`

[2018-08-14 12:09] 0crat commented on #1598
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-14 17:10] paulodamaso commented on #1172
@g4s8 Already merged, please close.

[2018-08-14 20:13] 0crat commented on #1545
The job [#1545](https://github.com/zerocracy/farm/issues/1545) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2262013499); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-14 20:25] 0crat commented on #1190
The job [#1190](https://github.com/zerocracy/farm/issues/1190) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2262028687); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-14 21:37] carlosmiranda commented on #1598
@g4s8 I also got it for 20 ZLD. Seems like a bug with those ending in 0.

[2018-08-15 01:51] carlosmiranda commented on #1189
@0crat refuse

[2018-08-15 01:51] 0crat commented on #1189
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1189](https://github.com/zerocracy/farm/issues/1189), please stop working. Reason for job resignation: Order was cancelled

[2018-08-15 01:56] 0crat commented on #1189
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-15 01:56] 0crat commented on #1191
The job [#1191](https://github.com/zerocracy/farm/issues/1191) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2270163707); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-08-15 03:12] paulodamaso commented on #1172
@0crat wait for closure by ARC

[2018-08-15 03:13] 0crat commented on #1172
@paulodamaso The impediment for [#1172](https://github.com/zerocracy/farm/issues/1172) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-15 18:33] paulodamaso commented on #1172
@g4s8 ping

[2018-08-15 18:36] paulodamaso commented on #1100
@0crat wait for https://github.com/zerocracy/farm/pull/1593 merge.

[2018-08-15 18:43] 0crat commented on #1100
@paulodamaso The impediment for [#1100](https://github.com/zerocracy/farm/issues/1100) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-16 11:42] krzyk commented on #1465
@0crat refuse

[2018-08-16 11:43] 0crat commented on #1465
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1465](https://github.com/zerocracy/farm/issues/1465), please stop working. Reason for job resignation: Order was cancelled

[2018-08-16 11:43] krzyk commented on #1533
@0crat refuse

[2018-08-16 11:47] 0crat commented on #1533
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1533](https://github.com/zerocracy/farm/issues/1533), please stop working. Reason for job resignation: Order was cancelled

[2018-08-16 11:47] 0crat commented on #1465
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-16 11:47] 0crat commented on #1533
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-16 14:08] krzyk commented on #1101
@0crat refuse

[2018-08-16 14:10] krzyk commented on #429
@fabriciofx I think this one is no longer valid

[2018-08-16 14:10] 0crat commented on #1101
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1101](https://github.com/zerocracy/farm/issues/1101), please stop working. Reason for job resignation: Order was cancelled

[2018-08-16 14:26] 0crat commented on #1101
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-16 19:28] paulodamaso opened #1603 "Sentry messes and swallows exceptions"
Sentry are messing with exception throwing in tests and sometimes is swallowing them.

For example, the code:
[code]
Should throw the following exception:

[code]
 But this exception is swallowed because some sentry config problem (reported in https://github.com/zerocracy/farm/issues/1522, but seems that it's not fixed):

[code]

Furthermore, these swallowed exceptions are messing test execution,

[2018-08-16 19:28] 0crat commented on #1603
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-16 19:52] paulodamaso commented on #1172
@g4s8 ping

[2018-08-16 20:11] paulodamaso commented on #512
@0crat wait for #1602 review

[2018-08-16 20:30] 0crat commented on #512
@paulodamaso The impediment for [#512](https://github.com/zerocracy/farm/issues/512) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-17 03:03] paulodamaso commented on #1098
@0crat wait for https://github.com/zerocracy/farm/pull/1604 review

[2018-08-17 03:04] 0crat commented on #1098
@paulodamaso The impediment for [#1098](https://github.com/zerocracy/farm/issues/1098) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-17 04:15] g4s8 commented on #1172
@paulodamaso thanks, sorry for delay

[2018-08-17 04:15] #1172 closed

[2018-08-17 04:55] 0crat commented on #1172
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-17 04:58] #429 closed

[2018-08-17 05:01] 0crat commented on #1172
The job [#1172](https://github.com/zerocracy/farm/issues/1172) is now out of scope

[2018-08-17 05:09] 0crat commented on #1603
The job [#1603](https://github.com/zerocracy/farm/issues/1603) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2290509306); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-08-17 05:09] 0crat commented on #1603
Job `gh:zerocracy/farm#1603` already assigned to @g4s8, can't assign to @g4s8

[2018-08-17 05:11] 0crat commented on #1603
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-17 05:12] 0crat commented on #1603
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-17 05:15] 0crat commented on #429
The job is not in WBS, won't close the order

[2018-08-17 05:15] 0crat commented on #429
Job `gh:zerocracy/farm#429` is not assigned, can't get performer

[2018-08-17 05:47] 0pdd opened #1606 "ExpiryProc.java:29-30: For 'Ping' claims, we should add..."
The puzzle `1534-c808318e` from #1534 has to be resolved:

https://github.com/zerocracy/farm/blob/de414a8f389e6cf0882e737cb7887ddb0d4a9404/src/main/java/com/zerocracy/claims/proc/ExpiryProc.java#L29-L30

The puzzle was created by Carlos Miranda on 14-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the probl

[2018-08-17 05:47] 0pdd commented on #1534
@g4s8 the puzzle [#1606](https://github.com/zerocracy/farm/issues/1606) is still not solved.

[2018-08-17 05:47] 0crat commented on #1606
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-17 05:47] carlosmiranda commented on #1534
@g4s8 #1599 merged, may we close this now?

[2018-08-17 05:51] krzyk commented on #1082
@yegor256 please close this issue, it has been fixed in #1601

[2018-08-17 06:06] g4s8 commented on #1534
@carlosmiranda yes, thanks

[2018-08-17 06:06] #1534 closed

[2018-08-17 06:48] 0crat commented on #1606
Job [#1606](https://github.com/zerocracy/farm/issues/1606) is now in scope, role is `DEV`

[2018-08-17 06:56] 0crat commented on #1534
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-17 06:56] 0crat commented on #1534
The job [#1534](https://github.com/zerocracy/farm/issues/1534) is now out of scope

[2018-08-17 10:18] ypshenychka commented on #1172
@0crat quality good

[2018-08-17 10:31] 0crat commented on #1172
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-17 10:32] 0crat commented on #1172
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-17 10:34] 0crat commented on #1534
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-17 10:34] 0crat commented on #1534
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-17 10:41] 0crat commented on #1465
The job [#1465](https://github.com/zerocracy/farm/issues/1465) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2291052337); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-17 10:43] 0crat commented on #1533
The job [#1533](https://github.com/zerocracy/farm/issues/1533) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2291055380); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-08-17 10:53] 0crat commented on #1606
The job [#1606](https://github.com/zerocracy/farm/issues/1606) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2291065454); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-08-17 12:17] 0pdd opened #1608 "_after.groovy:22-26: Job is not removed from agenda on..."
The puzzle `1077-1ed65c72` from #1077 has to be resolved:

https://github.com/zerocracy/farm/blob/0b4fa1dd08a5bdca9865d9f753fb723da95e2c92/src/test/resources/com/zerocracy/bundles/remove_from_agenda_on_repo_rename/_after.groovy#L22-L26

The puzzle was created by Paulo Lobo on 15-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2018-08-17 12:17] 0crat commented on #1608
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-17 12:18] 0pdd commented on #1077
@olenagerasimova the puzzle [#1608](https://github.com/zerocracy/farm/issues/1608) is still not solved.

[2018-08-17 12:26] paulodamaso commented on #1172
@g4s8 Wasn't this task boosted? I've received usual paymet for it.

[2018-08-17 13:12] paulodamaso opened #1609 "Wrong point calculation and payment"
`0crat` made a wrong payment and point calculation in https://github.com/zerocracy/farm/pull/1601:
- Budget was 15 minutes (`REV`)
- Rate is $16 / hour
- Quality review was `good`
`0crat` paid me 25 points and $7.09 instead of 20 points and $5.32.

[2018-08-17 13:13] 0crat commented on #1609
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-17 14:07] 0crat commented on #1077
The job [#1077](https://github.com/zerocracy/farm/issues/1077) is now out of scope

[2018-08-17 15:07] g4s8 commented on #1609
@paulodamaso you've received 5 minutes extra for fast delivery as speed bonus (points and cash), and 5 minutes points for good quality + 33% cash. But you're right. It was calculated wrong, it was `(rate * minutes + speed_bonus) * 33%`, but should be `(rate * minutes) * 33% + speed_bonus`. It should be `$6.5` in your case, not `$7.09`.

[2018-08-17 15:08] 0crat commented on #1609
Job [#1609](https://github.com/zerocracy/farm/issues/1609) is now in scope, role is `DEV`

[2018-08-17 15:12] 0crat commented on #1609
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-17 15:17] 0crat commented on #1609
The job [#1609](https://github.com/zerocracy/farm/issues/1609) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2291517694); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-08-17 18:44] g4s8 commented on #1603
@paulodamaso it should be fixed in #1607, can we close?

[2018-08-17 19:11] paulodamaso commented on #1077
@0crat status

[2018-08-17 19:14] 0crat commented on #1077
@paulodamaso This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1077](https://github.com/zerocracy/farm/issues/1077) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 5hr
  * @paulodamaso[/z](https://www.0crat.com/u/pauloda

[2018-08-17 19:15] paulodamaso commented on #512
@yegor256 Merged, please close.

[2018-08-17 19:18] paulodamaso commented on #1609
@g4s8 I'd like to suggest to update policy with this explanation, after the 5 min - 33% change for good quality is not clear how much extra we receive in speed bonus.

[2018-08-17 19:38] paulodamaso commented on #1609
@g4s8 `(16 / 60 * 15) * 133 / 100 + (16 / 60 * 5) = 6.62` and not `6.5`, am I doing some wrong calculation here?

[2018-08-17 20:00] paulodamaso commented on #1077
@ypshenychka looks like `0crat` forgot to warn you, take a look.

[2018-08-17 20:16] g4s8 commented on #1609
@paulodamaso right, it should be `6.65`

[2018-08-17 20:35] paulodamaso commented on #1465
@g4s8 Of which type of resources are we talking about here? Files?

[2018-08-17 20:48] 0crat commented on #1603
Job was finished in 15 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-08-17 20:50] 0crat commented on #1603
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-17 20:50] 0crat commented on #1603
The job [#1603](https://github.com/zerocracy/farm/issues/1603) is now out of scope

[2018-08-18 06:42] g4s8 commented on #1465
@paulodamaso `Item`s in `Project` - there will be multiple farm instances which may access same item simultaneously. Now it's solved in `SyncFarm`/`SyncProject` which protect parallel access with help of `Lock` from `java.util.concurrent.locks`, but it won't work for multi-instance application.

[2018-08-18 06:43] g4s8 commented on #1609
@paulodamaso I think it's too small (<$1) so you can ignore it.

[2018-08-18 10:39] ypshenychka commented on #1077
@paulodamaso thanks, looking into it

[2018-08-18 10:41] ypshenychka commented on #1077
@0crat quality good

[2018-08-18 10:56] 0crat commented on #1077
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-18 10:56] 0crat commented on #1077
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-18 11:03] 0crat commented on #1102
The job [#1102](https://github.com/zerocracy/farm/issues/1102) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2301114591); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-18 12:40] 0crat commented on #1590
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-18 12:41] 0crat commented on #930
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-18 12:41] 0crat commented on #1028
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-18 12:41] 0crat commented on #1076
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-18 14:38] 0crat commented on #1082
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-18 15:30] 0crat commented on #1082
@krzyk The impediment for [#1082](https://github.com/zerocracy/farm/issues/1082) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-18 17:30] g4s8 commented on #1076
@0crat boost 4x

[2018-08-18 17:31] 0crat commented on #1076
@g4s8 Boost 4x was set for [#1076](https://github.com/zerocracy/farm/issues/1076)

[2018-08-18 17:36] g4s8 commented on #1076
@carlosmiranda this bug is most important (boosted), it's possible to recharge the card 4 times on deficit. I think we may use claim's until property: use new claim type for recharge instead of `Ping` + `Make payment` and submit this claim with `until ~ 5min` on deficit, we have to create new claim in such case (not copy existing) to generate equal claims, all duplicates will be rejected by SQS de

[2018-08-18 17:40] g4s8 commented on #1076
@rultor release, tag=`0.30.5`

[2018-08-18 17:41] rultor commented on #1076
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15721-414074586)

[2018-08-18 17:42] krzyk commented on #1609
@g4s8 I think the % bonus messes up calculations too much. Couldn't we go back to straight +5min for good quality?

[2018-08-18 17:46] krzyk commented on #1609
@paulodamaso BTW. Speed bonus is described in policy at http://www.zerocracy.com/policy.html#36

[2018-08-18 17:53] rultor commented on #1076
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15721-414074586) (spent 12min)

[code]

[2018-08-18 17:58] g4s8 commented on #1076
@rultor release, tag=`0.30.5`

[2018-08-18 17:59] rultor commented on #1076
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15721-414075722)

[2018-08-18 18:01] 0crat commented on #1076
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-18 18:05] g4s8 opened #1611 "Refund command for project chat"
Let's add a new command to project's chat: `refund <charge-id>`, it should refund stripe payment by charge id (see `Stripe.charge()`). Stripe has API for refunds, charge id is required, see https://stripe.com/docs/refunds and https://stripe.com/docs/api#create_refund
This command can be sent only by PO.

[2018-08-18 18:06] 0crat commented on #1611
Job [#1611](https://github.com/zerocracy/farm/issues/1611) is now in scope, role is `DEV`

[2018-08-18 18:10] g4s8 commented on #1609
@krzyk +5min bonus payments has corner cases, e.g. if a user started a job, then he/she was kicked out from the project, then he completed the job with good quality, in such case we can't calculate bonus value because the user doesn't have role/rate in this project.

[2018-08-18 18:11] krzyk commented on #1609
@g4s8 but in such case +33% will also give nothing, because the user doesn't have a rate in project.

[2018-08-18 18:13] g4s8 commented on #1609
@krzyk no so, 0crat calculates +33% from job estimate, not user's rate

[2018-08-18 18:16] 0crat commented on #1611
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-18 18:17] rultor commented on #1076
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15721-414075722) (took me 17min)

[2018-08-18 18:18] 0crat commented on #1189
The job [#1189](https://github.com/zerocracy/farm/issues/1189) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2301816026); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-08-18 18:29] g4s8 commented on #1076
@0crat status

[2018-08-18 18:35] krzyk commented on #1556
@g4s8 It is really hard to keep track of what was paid and what was missed.

[2018-08-18 18:42] 0crat commented on #1076
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1076](https://github.com/zerocracy/farm/issues/1076) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) for [5days](htt

[2018-08-18 18:42] g4s8 commented on #1076
@rultor release, tag=`0.30.6`

[2018-08-18 18:42] rultor commented on #1076
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15721-414078384)

[2018-08-18 18:44] krzyk commented on #1510
@carlosmiranda @g4s8 Maybe it would be better to have an equivalent of Estimates.
Basically see all the possible and actual payouts with information about bonuses.

E.g. a table like this:

Job | Created | To be paid | QA Bonus | Speed bonus | Paid | Transaction ID
------|-------------|----------------|---------------|--------------------|--------|------------------
zerocracy/farm#1604 | 2018-08-1

[2018-08-18 18:45] krzyk commented on #1189
@0crat refuse

[2018-08-18 18:46] 0crat commented on #1189
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1189](https://github.com/zerocracy/farm/issues/1189), please stop working. Reason for job resignation: Order was cancelled

[2018-08-18 18:50] 0crat commented on #1189
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-18 18:55] g4s8 commented on #1076
@rultor stop

[2018-08-18 18:56] g4s8 commented on #1076
@rultor release, tag=`0.30.6`

[2018-08-18 18:57] rultor commented on #1076
@g4s8 OK, I'll try to stop current task.

[2018-08-18 18:58] rultor commented on #1076
@g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15721-414079320) (spent 15min)

[code]

[2018-08-18 19:01] g4s8 commented on #1076
@rultor release, tag=`0.30.7`

[2018-08-18 19:03] rultor commented on #1076
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15721-414079403)

[2018-08-18 19:26] rultor commented on #1076
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15721-414079708)

[2018-08-18 19:29] rultor commented on #1076
@g4s8 OK, I'll try to stop current task.

[2018-08-18 19:29] rultor commented on #1076
@g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15721-414080715) (spent 3min)

[code]

[2018-08-19 00:33] rgevaerd commented on #1101
@amihaiemil Can you provide the footprint of https://github.com/amihaiemil/docker-java-api/issues/130?

[2018-08-19 00:46] carlosmiranda commented on #1590
@0crat wait for merge of #1597

[2018-08-19 00:47] 0crat commented on #1590
@carlosmiranda The impediment for [#1590](https://github.com/zerocracy/farm/issues/1590) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-19 00:49] carlosmiranda commented on #930
@0crat wait (too many tasks)

[2018-08-19 00:49] carlosmiranda commented on #1028
@0crat wait (too many tasks)

[2018-08-19 00:50] 0crat commented on #930
@carlosmiranda The impediment for [#930](https://github.com/zerocracy/farm/issues/930) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-19 00:50] 0crat commented on #1028
@carlosmiranda The impediment for [#1028](https://github.com/zerocracy/farm/issues/1028) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-19 00:51] 0crat commented on #1104
The job [#1104](https://github.com/zerocracy/farm/issues/1104) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2310052783); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-08-19 00:52] carlosmiranda commented on #1076
@0crat wait (too many tasks)

[2018-08-19 00:52] carlosmiranda commented on #1076
@g4s8 all right I will prioritize it

[2018-08-19 00:52] 0crat commented on #1076
@carlosmiranda The impediment for [#1076](https://github.com/zerocracy/farm/issues/1076) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-19 01:04] 0crat commented on #1127
The job [#1127](https://github.com/zerocracy/farm/issues/1127) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2310106903); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-08-19 01:09] 0crat commented on #1151
The job [#1151](https://github.com/zerocracy/farm/issues/1151) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2310111946); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-08-19 04:55] g4s8 commented on #1556
@krzyk are you suggesting to include all debts information to Paypal messages? I don't think it's possible to include job numbers here, because 0crat may send payment not for job, but for release, or tution fee or maybe for something else.

[2018-08-19 04:57] g4s8 commented on #1510
@krzyk please see https://github.com/zerocracy/farm/issues/1556#issuecomment-414103473. We have non-job payments (ARC release bonus, tution fee, etc), so we can't match each payment with a job.

[2018-08-19 04:57] 0crat commented on #1510
Job [#1510](https://github.com/zerocracy/farm/issues/1510) is now in scope, role is `DEV`

[2018-08-19 05:01] 0crat commented on #1510
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-19 06:28] krzyk commented on #1556
@g4s8 Yeah, but majority of the payments would probably be for jobs, other payments can be initially added as "none" + payment amount and when it is possible we could write the source, so release or tutition fee.

The current payment message is completely useless, it contains only amounts of payments and is truncated after 100 chars I think or so.

[2018-08-19 06:33] krzyk commented on #1510
@g4s8 But this is not to match each payment with a job, it is to mach each job with a payment :)
I'll create another issue for that.

[2018-08-19 06:36] krzyk opened #1613 "Create past agenda page"
To track what happened with each agenda item after it disappeared from agenda we should have a page like this:

Job | Created | To be paid | QA Bonus | Speed bonus | Paid | Transaction ID
------|-------------|----------------|---------------|--------------------|--------|------------------
zerocracy/farm#1604 | 2018-08-18 17:30:00 | $4 | - | - | - | -
zerocracy/farm#1605 | 2018-08-16 17:30:00 | $4

[2018-08-19 06:36] 0crat commented on #1613
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-19 07:01] g4s8 commented on #1556
@krzyk so how about using debt's details as message for paypal?
[code]

[2018-08-19 07:03] g4s8 commented on #1613
@yegor256 what do you think about this feature?

[2018-08-19 07:07] krzyk commented on #1556
@g4s8 This will fit 12 REV jobs in zerocracy, but should at least 16 REV jobs.
If we could get rid of the `"Order was finished, "` at the beginning it would be perfect.
Or maybe just regexp for "((gh|gl):[a-zA-Z0-9-]+#[0-9]+)" - (github repo pattern should be better) if it matches, then get this and add to message, if it doesn't match, then add the message as is (so it would cover arc bonus and st

[2018-08-19 07:16] g4s8 commented on #1609
@krzyk @paulodamaso maybe it's better to calculate all bonuses on order start and add them to `estimates.xml`? In such way we can calculate bonus amount before task begin and avoid corner cases when user left project (https://github.com/zerocracy/farm/issues/1609#issuecomment-414076453). Also it looks more correct to lock project's funds for bonuses on order start, so project will be able to pay t

[2018-08-19 07:27] 0crat commented on #1556
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-19 09:47] amihaiemil commented on #1101
@rgevaerd I don't really know how. I said ``@0crat footpring`` on that issue, but it didn't respond yet.

@g4s8 How can I get the footprint of a certain Issue, exactly?

[2018-08-19 09:47] 0crat commented on #1101
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/1101#issuecomment-414116311); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-08-19 10:13] g4s8 commented on #1101
@amihaiemil you can use `@0crat status` to see footprint link

[2018-08-19 10:13] 0crat commented on #1101
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/1101#issuecomment-414117484); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-08-19 10:23] amihaiemil opened #1615 "0crat should advertise ZC?"
For projects where there are not enough contributors, 0crat could do a little advertisement, maybe among top Github Trending developers? For instance, it keeps bugging me [here](https://github.com/amihaiemil/docker-java-api/issues/85) about not having enough contributors.

It would be interesting if 0crat asked Github users if they would like to join Zerocracy and contribute to these under-staffed

[2018-08-19 10:27] 0crat commented on #1588
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-19 11:44] g4s8 commented on #1615
@yegor256 please look at this issue

[2018-08-19 12:14] krzyk commented on #1609
@g4s8 makes sense for me

[2018-08-19 12:25] g4s8 commented on #1579
@ypshenychka there is no such user `byzantime` in `resumes.xml`, most probably he doesn't submit `/join` form.

[2018-08-19 12:41] g4s8 commented on #1555
@krzyk the bug here is that 0crat uses same message when issue was closed by you and if you ask `out`. Response message should be fixed in https://github.com/zerocracy/farm/commit/1945a2aae154fdeebfeaa05ffca8f803b89a2d5c

[2018-08-19 12:45] ypshenychka commented on #1579
@g4s8 He submitted form on June 6th. At least 0crat notified at that time.
![image](https://user-images.githubusercontent.com/11703257/44308910-ec69aa00-a3c6-11e8-9e6a-7697cf98a3cd.png)

[2018-08-19 12:48] 0crat commented on #1390
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @rgevaerd[/z](https://www.0crat.com/u/rgevaerd), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-19 12:48] 0crat commented on #1390
The job [#1390](https://github.com/zerocracy/farm/issues/1390) is now out of scope

[2018-08-19 13:34] llorllale commented on #1459
@yegor256 @g4s8

As PO or ARC, why wouldn't I want to set the DEV rates as I see fit for the project?

[2018-08-19 13:45] krzyk commented on #1555
@g4s8 thanks

[2018-08-19 13:45] #1555 closed

[2018-08-19 14:01] 0crat commented on #1555
The job is not in WBS, won't close the order

[2018-08-19 14:01] 0crat commented on #1555
Job `gh:zerocracy/farm#1555` is not assigned, can't get performer

[2018-08-19 15:09] rgevaerd commented on #1101
@amihaiemil Thanks.

[2018-08-19 15:45] amihaiemil commented on #1101
@rgevaerd I would look into the stakeholders which do something about assignments. All those stakeholders are run independently, in arbitrary order and know nothing about eachother.

So, if the bug is still present it means there are probably 2 different stakeholders who are doing something about Issue assignment.

[2018-08-19 15:57] g4s8 commented on #723
@amihaiemil this bug is outdated, we're using SQS for claims instead of `claims.xml` and we can't iterate over all delayed claims

[2018-08-19 15:57] #723 closed

[2018-08-19 16:00] amihaiemil commented on #729
@g4s8 This one is related to #723, according to Yegor [here](https://github.com/zerocracy/farm/issues/729#issuecomment-370481730). Maybe this one needs to be closed/is outdated as well?

[2018-08-19 16:14] g4s8 opened #1617 "Generic sanity checks for claims with delay"
Add sanity check mechanism for delayed claims. It should check incoming claims in `ClaimsRoutine` with delay attribute and apply some checks. For instance, we should have a check to ignore (remove from SQS without processing) such claims as `Add job t WBS`, `Job was added to WBS`, `Request order start`, `Start order` if Github issue of the job was closed: see #616. Another check is to remove `Clos

[2018-08-19 16:15] 0crat commented on #723
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-19 16:16] 0crat commented on #723
The job [#723](https://github.com/zerocracy/farm/issues/723) is now out of scope

[2018-08-19 16:16] 0crat commented on #1617
Job [#1617](https://github.com/zerocracy/farm/issues/1617) is now in scope, role is `DEV`

[2018-08-19 16:16] 0crat commented on #1617
Job [#1617](https://github.com/zerocracy/farm/issues/1617) is already in scope

[2018-08-19 16:17] 0crat commented on #1617
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-19 16:25] g4s8 commented on #1546
@krzyk yes, we can check closed tickets which are still in WBS

[2018-08-19 16:29] 0crat commented on #1546
Job [#1546](https://github.com/zerocracy/farm/issues/1546) is now in scope, role is `DEV`

[2018-08-19 16:31] ypshenychka commented on #1579
@g4s8 At that time I had this issue with two other users as well: agoncecelia and ilyakharlamov. They also submitted forms, but I got same error from 0crat. Maybe it was temporary 0crat failure.

[2018-08-19 16:32] 0crat commented on #1546
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-19 16:38] ypshenychka commented on #723
@0crat quality bad

[2018-08-19 16:41] ypshenychka commented on #1390
@0crat quality good

[2018-08-19 16:49] 0crat commented on #723
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-08-19 16:52] 0crat commented on #723
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-19 16:52] 0crat commented on #1390
Order was finished, quality is "good": +35 point(s) just awarded to @rgevaerd[/z](https://www.0crat.com/u/rgevaerd)

[2018-08-19 16:52] 0crat commented on #1390
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-19 19:44] krzyk commented on #1127
@0crat refuse

[2018-08-19 19:45] 0crat commented on #1127
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1127](https://github.com/zerocracy/farm/issues/1127), please stop working. Reason for job resignation: Order was cancelled

[2018-08-19 19:47] 0crat commented on #1127
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-19 19:49] 0crat commented on #1588
The job [#1588](https://github.com/zerocracy/farm/issues/1588) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2311963157); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-08-19 20:40] 0crat commented on #1190
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-19 20:40] 0crat commented on #1545
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-20 02:40] 0crat commented on #1191
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-20 03:08] paulodamaso commented on #1609
@g4s8 I agree too.

[2018-08-20 03:34] carlosmiranda commented on #1191
@0crat wait (too many tasks)

[2018-08-20 03:35] 0crat commented on #1191
@carlosmiranda The impediment for [#1191](https://github.com/zerocracy/farm/issues/1191) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-20 03:40] carlosmiranda commented on #1076
@g4s8 see PR #1619

[2018-08-20 13:13] paulodamaso commented on #1100
@yegor256 ping

[2018-08-20 13:38] paulodamaso commented on #512
@yegor256 please take a look at this

[2018-08-20 14:47] 0pdd opened #1621 "BatchClaims.java:27-29: Implement BatchClaims for sending..."
The puzzle `1545-87cf0a16` from #1545 has to be resolved:

https://github.com/zerocracy/farm/blob/8084713cadf4b37f9ecec21bdb644e681247df9c/src/main/java/com/zerocracy/claims/BatchClaims.java#L27-L29

The puzzle was created by Paulo Lobo on 17-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fi

[2018-08-20 14:48] 0crat commented on #1621
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-20 14:48] 0pdd opened #1622 "BatchClaimsTest.java:33-35: We should use Fake classes..."
The puzzle `1545-78dce506` from #1545 has to be resolved:

https://github.com/zerocracy/farm/blob/8084713cadf4b37f9ecec21bdb644e681247df9c/src/test/java/com/zerocracy/claims/BatchClaimsTest.java#L33-L35

The puzzle was created by Paulo Lobo on 17-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem i

[2018-08-20 14:48] 0pdd commented on #1545
@g4s8 2 puzzles [#1621](https://github.com/zerocracy/farm/issues/1621), [#1622](https://github.com/zerocracy/farm/issues/1622) are still not solved.

[2018-08-20 14:49] 0crat commented on #1622
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-20 14:50] paulodamaso commented on #1545
@g4s8 merged, please close

[2018-08-20 15:44] g4s8 commented on #1545
@paulodamaso thanks

[2018-08-20 15:44] #1545 closed

[2018-08-20 15:57] 0crat commented on #1621
Job [#1621](https://github.com/zerocracy/farm/issues/1621) is now in scope, role is `DEV`

[2018-08-20 15:57] 0crat commented on #1622
Job [#1622](https://github.com/zerocracy/farm/issues/1622) is now in scope, role is `DEV`

[2018-08-20 15:59] g4s8 commented on #1098
@paulodamaso thanks

[2018-08-20 15:59] #1098 closed

[2018-08-20 16:15] 0crat commented on #1621
The job [#1621](https://github.com/zerocracy/farm/issues/1621) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2321605255); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-08-20 16:15] 0crat commented on #1545
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-20 16:15] 0crat commented on #1545
The job [#1545](https://github.com/zerocracy/farm/issues/1545) is now out of scope

[2018-08-20 16:16] 0crat commented on #1621
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-20 16:16] 0crat commented on #1098
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-20 16:16] 0crat commented on #1098
The job [#1098](https://github.com/zerocracy/farm/issues/1098) is now out of scope

[2018-08-20 16:18] 0crat commented on #1353
The job [#1353](https://github.com/zerocracy/farm/issues/1353) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2321618459); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-20 17:25] krzyk commented on #1082
@yegor256 please close this issue

[2018-08-20 17:28] paulodamaso commented on #1172
@g4s8 please take a look, I didn't received the boost for this one

[2018-08-20 17:40] g4s8 commented on #1172
@0crat pay 30min @paulodamaso

[2018-08-20 17:41] g4s8 commented on #1172
@paulodamaso yes, it's a known bug

[2018-08-20 17:45] 0crat commented on #1172
Direct payment to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) in #1172, which is discouraged, see [§49](http://www.zerocracy.com/policy.html#49): -20 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-20 17:46] 0crat commented on #1172
Direct payment from @g4s8[/z](https://www.0crat.com/u/g4s8): +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-20 17:57] yegor256 opened #1625 "back from vacation in 1 month"
Let's set the vacation mode to OFF automatically after 1 month. This will help us get most of our programmers back to the platform. They will always be able to set the vacation to ON again. But most of them, I'm sure, just forget about us after they set the vacation mode to ON.

[2018-08-20 17:57] 0crat commented on #1625
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-20 20:15] paulodamaso commented on #1465
@g4s8 How could we test this?

[2018-08-20 21:32] yegor256 commented on #1100
@paulodamaso thanks!

[2018-08-20 21:32] #1100 closed

[2018-08-20 21:32] yegor256 commented on #512
@paulodamaso thanks!

[2018-08-20 21:32] #512 closed

[2018-08-20 21:55] 0crat commented on #512
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-20 22:17] 0crat commented on #1100
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-20 22:40] 0crat commented on #512
The job [#512](https://github.com/zerocracy/farm/issues/512) is now out of scope

[2018-08-20 22:43] 0crat commented on #1100
The job [#1100](https://github.com/zerocracy/farm/issues/1100) is now out of scope

[2018-08-21 01:12] rgevaerd commented on #1101
@0crat refuse

[2018-08-21 01:12] 0crat commented on #1101
@rgevaerd The user @rgevaerd[/z](https://www.0crat.com/u/rgevaerd) resigned from [#1101](https://github.com/zerocracy/farm/issues/1101), please stop working. Reason for job resignation: Order was cancelled

[2018-08-21 01:58] 0crat commented on #1101
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @rgevaerd[/z](https://www.0crat.com/u/rgevaerd)

[2018-08-21 02:00] paulodamaso commented on #1465
@g4s8 Apart from testing, I have a suggestion here: we could still use `Lock` but instead of relying on `synchronized` blocks we could set the `Lock` to work with some file in filesystem or some register in `Lock` table `MongoDB`, WDYT?

[2018-08-21 04:02] paulodamaso commented on #921
@0crat wair for #1626 review

[2018-08-21 04:02] 0crat commented on #921
@paulodamaso Can't understand "wair", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from thi

[2018-08-21 04:14] paulodamaso commented on #921
@0crat wait for #1626 review

[2018-08-21 04:15] 0crat commented on #921
@paulodamaso Job [#921](https://github.com/zerocracy/farm/issues/921) is already on hold

[2018-08-21 07:42] g4s8 commented on #1465
@paulodamaso I like the idea to reuse existing interfaces, but we can't rely on file in filesystem, because instances may be run on different machines, MongoDB can work.

[2018-08-21 07:49] 0crat commented on #1625
Job [#1625](https://github.com/zerocracy/farm/issues/1625) is now in scope, role is `DEV`

[2018-08-21 07:51] #1353 closed

[2018-08-21 07:51] 0pdd commented on #1353
The puzzle `1146-1c2b1c20` has disappeared from the source code, that's why I closed this issue.

[2018-08-21 07:51] 0pdd commented on #908
@0pdd 3 puzzles [#1552](https://github.com/zerocracy/farm/issues/1552), [#1568](https://github.com/zerocracy/farm/issues/1568), [#1569](https://github.com/zerocracy/farm/issues/1569) are still not solved; solved: [#1146](https://github.com/zerocracy/farm/issues/1146), [#1147](https://github.com/zerocracy/farm/issues/1147), [#1179](https://github.com/zerocracy/farm/issues/1179), [#1352](https://git

[2018-08-21 07:51] 0pdd commented on #1146
@0pdd the puzzle [#1552](https://github.com/zerocracy/farm/issues/1552) is still not solved; solved: [#1352](https://github.com/zerocracy/farm/issues/1352), [#1353](https://github.com/zerocracy/farm/issues/1353), [#1486](https://github.com/zerocracy/farm/issues/1486).

[2018-08-21 07:54] 0crat commented on #1625
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-08-21 08:06] g4s8 commented on #1609
@yegor256 ping, please see https://github.com/zerocracy/farm/issues/1609#issuecomment-414108799

[2018-08-21 08:31] 0crat commented on #1353
Job was finished in 15 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-08-21 08:33] 0crat commented on #1353
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-21 08:38] 0crat commented on #1353
The job [#1353](https://github.com/zerocracy/farm/issues/1353) is now out of scope

[2018-08-21 08:43] 0crat commented on #1076
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-21 08:44] 0crat commented on #1076
The job [#1076](https://github.com/zerocracy/farm/issues/1076) is now out of scope

[2018-08-21 09:34] ypshenychka commented on #1545
@0crat quality good

[2018-08-21 09:35] ypshenychka commented on #1098
@0crat quality good

[2018-08-21 09:48] ypshenychka commented on #512
@paulodamaso According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

[One](https://github.com/zerocracy/farm/pull/1602/commits/f0b775fc2e47dc8e66850138ecde81e76933958b) of your commits contains link to another issue. Please confirm you'll try to avoid this mistake in future.

[2018-08-21 09:51] ypshenychka commented on #1100
@0crat quality good

[2018-08-21 09:56] ypshenychka commented on #1353
@0crat quality good

[2018-08-21 09:58] ypshenychka commented on #1076
@0crat quality good

[2018-08-21 11:13] 0crat commented on #1545
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-21 11:14] 0crat commented on #1545
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-21 11:15] 0crat commented on #1098
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-21 11:15] 0crat commented on #1098
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-21 11:16] 0crat commented on #1100
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-21 11:16] 0crat commented on #1100
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-21 11:17] 0crat commented on #1353
Order was finished, quality is "good": +40 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-21 11:17] 0crat commented on #1353
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-21 11:20] 0crat commented on #1076
Order was finished, quality is "good": +65 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-21 11:20] 0crat commented on #1076
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-21 11:25] 0crat commented on #1568
The job [#1568](https://github.com/zerocracy/farm/issues/1568) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2331131938); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-21 11:34] 0crat commented on #1569
The job [#1569](https://github.com/zerocracy/farm/issues/1569) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2331142016); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no