[2018-10-01 05:58] g4s8 commented on #1738
@victornoel what directory? `target`?

[2018-10-01 06:31] g4s8 commented on #1730
@amihaiemil most probably this kind of atack should be prevented by saxon XML parser, but we need to verify that.

[2018-10-01 06:36] amihaiemil commented on #1730
@g4s8 Yes, we can verify, but I'm not sure the parser prevents it. This is because the loading of "external entities" is a functionality of XML, not necessarily a vulnerability: it becomes a vulnerability only when you expose it to the world and everyone can "load" any external entity they want. On the other hand, if you keep it internal, there shouldn't be any problem :)

[2018-10-01 06:45] victornoel commented on #1738
@g4s8 of course not, I was talking about each bundle directory. But I verified and they are already removed. So this idea is moot :)

In the end, right now it works, I just don't know why running `BundlesTest` gave me the error described in description of this issue.

[2018-10-01 06:48] victornoel commented on #1739
@g4s8 I know, that's what I am trying to tell you :)

And again: this issue is not about the bug in `bootstraps_short_named_project`, this issue is clearly defined in the description.

[2018-10-01 06:51] victornoel commented on #1733
@g4s8 thanks!

[2018-10-01 06:51] #1733 closed

[2018-10-01 07:07] g4s8 commented on #1739
@victornoel with current title and description this bug is invalid, because `BundleTest` is working fine, some stakeholder scripts may throw exceptions and it should not affect other stakeholders or entire test, test will fail only if assertion fails.

[2018-10-01 07:08] victornoel commented on #1739
@g4s8 I don't know what you are expecting of me: the title is quite clear and the problem clearly underlined. I will remove the proposed solution since it doesn't seem to be desired as-is.
I would be glad if the ARC could give an opinion as to how to fix this situation.

[2018-10-01 07:19] g4s8 commented on #1739
@victornoel please see https://github.com/zerocracy/farm/commit/5d7110e83a6287fcada3ecdea386362618ad36db commit: now you will see all soft errors from stakeholders in logs

[2018-10-01 08:12] victornoel commented on #1739
@g4s8 that's great, thanks, I think we can close this issue now :)

[2018-10-01 08:12] #1739 closed

[2018-10-01 08:15] 0crat commented on #1730
Job [#1730](https://github.com/zerocracy/farm/issues/1730) is now in scope, role is `DEV`

[2018-10-01 09:40] 0crat commented on #1739
Job `gh:zerocracy/farm#1739` is not assigned, can't get performer

[2018-10-01 10:03] 0crat commented on #1730
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-10-01 14:12] 0crat commented on #1728
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-01 17:47] krzyk commented on #1741
@g4s8 yeah, you are right

[2018-10-01 17:47] #1741 closed

[2018-10-01 18:56] 0crat commented on #1741
Job `gh:zerocracy/farm#1741` is not assigned, can't get performer

[2018-10-01 19:32] 0crat commented on #1741
This job is not in scope

[2018-10-02 01:02] paulodamaso commented on #1259
@0crat refuse

[2018-10-02 02:40] carlosmiranda commented on #1728
@0crat wait, busy on other tasks

[2018-10-02 02:49] 0crat commented on #1259
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1259](https://github.com/zerocracy/farm/issues/1259), please stop working. Reason for job resignation: Order was cancelled

[2018-10-02 04:42] 0crat commented on #1259
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-02 06:15] denis-konovalyenko opened #1742 "Get rid of testing related code in ExtMongo"
Extract the test relevant parts to another class and use it as a decorator (for testing purposes only). The ExtMongo mustn't know about the "testing" configurations any more, and the only thing it must know about is how to provide a "real" Mongo client. The testing correlated behaviour must be in the authority of the ExtMongo decorator, which would decide whether it is a time to launch a new mongo

[2018-10-02 06:15] 0crat commented on #1742
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-02 14:44] 0crat commented on #1731
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-02 14:51] krzyk commented on #1284
@0crat refuse

[2018-10-02 15:00] 0crat commented on #1732
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-02 16:46] 0crat commented on #1284
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1284](https://github.com/zerocracy/farm/issues/1284), please stop working. Reason for job resignation: Order was cancelled

[2018-10-02 17:50] 0crat commented on #1284
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-10-03 04:44] 0crat commented on #1680
The job [#1680](https://github.com/zerocracy/farm/issues/1680) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2760441073); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-10-03 04:44] 0crat commented on #1681
The job [#1681](https://github.com/zerocracy/farm/issues/1681) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2760442081); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-10-03 04:45] 0crat commented on #1680
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-03 06:57] fatahn commented on #1149
I got this same error after signing in with github and being redirected to
[code]

[2018-10-03 20:03] victornoel commented on #1282
@emilianodellacasa ping :)

[2018-10-04 06:36] krzyk commented on #1280
@g4s8 please close this issue, it has been merged to master in #1735

[2018-10-04 06:37] g4s8 commented on #1280
@krzyk thanks

[2018-10-04 08:39] 0crat commented on #1280
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-10-04 09:15] 0crat commented on #1280
The job [#1280](https://github.com/zerocracy/farm/issues/1280) is now out of scope

[2018-10-04 09:17] ypshenychka commented on #1280
@0crat quality good

[2018-10-04 11:13] 0crat commented on #1282
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-10-04 11:39] 0crat commented on #1282
The job [#1282](https://github.com/zerocracy/farm/issues/1282) is now out of scope

[2018-10-04 12:58] 0crat commented on #1280
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-10-04 13:38] 0crat commented on #1280
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-10-04 15:17] ypshenychka commented on #1282
@0crat quality good

[2018-10-04 15:34] 0crat commented on #1282
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-10-04 15:36] 0crat commented on #1282
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-10-04 15:53] 0crat commented on #1645
The job [#1645](https://github.com/zerocracy/farm/issues/1645) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2771539539); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-10-04 21:11] paulodamaso commented on #1731
@0crat refuse

[2018-10-04 21:44] 0crat commented on #1731
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1731](https://github.com/zerocracy/farm/issues/1731), please stop working. Reason for job resignation: Order was cancelled

[2018-10-04 21:48] 0crat commented on #1731
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-04 21:50] 0crat commented on #1284
The job [#1284](https://github.com/zerocracy/farm/issues/1284) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2772147201); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-10-05 01:17] carlosmiranda commented on #1308
@g4s8 this is my own report, is it all right with you if I work on it?

[2018-10-05 02:13] carlosmiranda commented on #1278
@g4s8 See PR #1744 (second attempt)

[2018-10-05 03:13] g4s8 commented on #1308
@carlosmiranda sure

[2018-10-05 03:51] g4s8 commented on #1731
@rultor release, tag=`0.30.8`

[2018-10-05 03:52] rultor commented on #1731
@g4s8 Invalid release tag `0.30.8` specified. There is already a release `0.34.4` newer than the given release in this repository.

[2018-10-05 03:52] rultor commented on #1731
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-10-05 03:52] 0crat commented on #1731
The job [#1731](https://github.com/zerocracy/farm/issues/1731) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2780330358); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-10-05 03:58] g4s8 commented on #1731
@rultor release, tag=`0.35.1`

[2018-10-05 03:59] rultor commented on #1731
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16097-427239098)

[2018-10-05 04:05] 0crat commented on #1731
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-05 04:05] 0crat commented on #1731
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-05 04:17] rultor commented on #1731
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16097-427239098) (took me 16min)

[2018-10-05 06:34] g4s8 commented on #1731
@rultor release, tag=`0.35.2`

[2018-10-05 06:36] rultor commented on #1731
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16097-427260924)

[2018-10-05 06:51] rultor commented on #1731
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16097-427260924) (took me 15min)

[2018-10-05 07:15] g4s8 commented on #1731
@rultor release, tag=`0.35.3`

[2018-10-05 07:18] rultor commented on #1731
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16097-427268999)

[2018-10-05 07:35] rultor commented on #1731
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16097-427268999) (took me 16min)

[2018-10-05 07:38] victornoel commented on #1162
@proshin-roman #1740 has been merged and a todo has been added for continuing the work. Can we close this issue?

[2018-10-05 07:40] carlosmiranda commented on #1308
@g4s8 see PR #1745.

[2018-10-05 07:41] #1162 closed

[2018-10-05 08:08] g4s8 commented on #1731
@rultor release, tag=`0.35.4`

[2018-10-05 08:11] rultor commented on #1731
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16097-427281550)

[2018-10-05 08:27] 0crat commented on #1162
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.35.3](https://github.com/zerocracy/farm): CID: [2780741140](https://www.0crat.com/C3NDPUA8L/2780741140), Type: "Close job", Author: "proshin-roman"

[2018-10-05 08:29] rultor commented on #1731
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16097-427281550) (took me 18min)

[2018-10-05 08:30] victornoel opened #1746 "0crat failed on issue closure"
In #1162, after the issue was closed, 0crat failed handling it apparently: https://github.com/zerocracy/farm/issues/1162#issuecomment-427286540

The error says:
[code]

I think it is maybe related to the fact the issue was closed and reopened once already, see https://github.com/zerocracy/farm/issues/1162#issuecomment-425316019

[2018-10-05 08:30] 0crat commented on #1746
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-05 08:30] victornoel commented on #1162
@0crat status

[2018-10-05 08:56] 0crat commented on #1162
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-10-05 09:09] 0crat commented on #1162
The job [#1162](https://github.com/zerocracy/farm/issues/1162) is now out of scope

[2018-10-05 09:20] 0crat commented on #1162
@victornoel This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1162](https://github.com/zerocracy/farm/issues/1162) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 19min
  * @victornoel[/z](https://www.0crat.com/u/victorn

[2018-10-05 09:37] ypshenychka commented on #1162
@0crat quality good

[2018-10-05 10:39] 0crat commented on #1162
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-10-05 10:45] 0crat commented on #1162
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-10-05 10:45] 0crat commented on #1746
Job `gh:zerocracy/farm#1746` is not assigned, can't get performer

[2018-10-05 10:45] 0crat commented on #915
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#915](https://github.com/zerocracy/farm/issues/915), see [§21](http://www.zerocracy.com/policy.html#21); @victornoel[/z](https://www.0crat.com/u/victornoel) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-10-05 10:45] 0crat commented on #1731
Job was finished in 6 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-10-05 10:52] g4s8 commented on #1732
@0crat boost 4x

[2018-10-05 10:54] 0crat commented on #1731
The job [#1731](https://github.com/zerocracy/farm/issues/1731) is now out of scope

[2018-10-05 10:54] 0crat commented on #1731
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-05 10:56] 0crat commented on #1732
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-05 11:36] victornoel commented on #915
@0crat status

[2018-10-05 11:48] 0crat commented on #915
@victornoel This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#915](https://github.com/zerocracy/farm/issues/915) is [in scope](http://www.zerocracy.com/policy.html#14) for 6mon
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [1hr](http://

[2018-10-05 13:36] yegor256 opened #1747 "Notify PMO on each Coinbase payment"
We notify PMO on each PayPal payment at the moment. Let's do the same for Coinbase payments.

[2018-10-05 13:36] 0crat commented on #1747
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-05 14:56] 0crat commented on #1747
Job [#1747](https://github.com/zerocracy/farm/issues/1747) is now in scope, role is `DEV`

[2018-10-05 14:58] g4s8 commented on #1732
@krzyk did you start this task? I can take it if not. Also 0crat makes this job free in https://github.com/zerocracy/farm/issues/1732#issuecomment-427324498

[2018-10-05 15:05] 0crat commented on #1747
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-05 17:29] 0crat commented on #1325
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1325](https://github.com/zerocracy/farm/issues/1325), please stop working. Reason for job resignation: Order was cancelled

[2018-10-05 17:30] 0crat commented on #1325
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-10-05 19:44] g4s8 commented on #1732
@0crat assign me

[2018-10-05 19:45] 0crat commented on #1732
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1732](https://github.com/zerocracy/farm/issues/1732), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-10-05 19:52] 0crat commented on #1732
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-05 19:52] 0crat commented on #1732
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-06 04:42] g4s8 commented on #1732
@rultor release, tag=`0.35.5`

[2018-10-06 04:43] rultor commented on #1732
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16110-427545716)

[2018-10-06 05:00] rultor commented on #1732
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16110-427545716) (took me 16min)

[2018-10-06 05:44] #1732 closed

[2018-10-06 06:02] 0crat commented on #1732
Job [#1732](https://github.com/zerocracy/farm/issues/1732) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2018-10-06 06:02] 0crat commented on #1732
Job was finished in 9 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-10-06 06:11] 0crat commented on #1732
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-07 09:47] victornoel opened #1748 "0crat assigns free issue without notification nor agenda presence"
Apparently 0crat assigned an issue to me without notifying me nor adding it to my agenda and on top of that there is no fund for paying it so it's free: https://github.com/zerocracy/farm/issues/915#issuecomment-427338555

I think there is something broken somewhere, I would have expected the 3 following things;
- that if there is no fund, the issue is not assigned at all
- that if it is assigned t

[2018-10-07 09:47] 0crat commented on #1748
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-10 09:32] ypshenychka commented on #656
@0crat status

[2018-10-10 09:32] ypshenychka commented on #415
@0crat status

[2018-10-10 09:32] 0crat commented on #656
@ypshenychka This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#656](https://github.com/zerocracy/farm/issues/656) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 7mon
  * @yegor256[/z](https://www.0crat.com/u/yegor256) w

[2018-10-10 09:33] 0crat commented on #415
@ypshenychka This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#415](https://github.com/zerocracy/farm/issues/415) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 7mon
  * @amihaiemil[/z](https://www.0crat.com/u/amihaiemi

[2018-10-10 11:39] amihaiemil commented on #415
@ypshenychka I confirm

[2018-10-10 15:44] ypshenychka commented on #415
@amihaiemil thanks

[2018-10-10 15:44] ypshenychka commented on #415
@0crat quality acceptable

[2018-10-10 15:52] 0crat commented on #415
Order was finished, quality is "acceptable": +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-10-10 15:52] 0crat commented on #415
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-10-10 19:42] ypshenychka commented on #656
@yegor256 You self-assigned and I don't see any PR here.
Please confirm you'll try to avoid these mistakes in future.

[2018-10-11 20:13] paulodamaso opened #1750 "Bug while rultor trying to close job"
Happened when rultor was merging one PR:
[code]

[2018-10-11 20:13] 0crat commented on #1750
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-12 03:07] paulodamaso opened #1751 "Inconsistencies on long code reviews"
0crat is showing a message when architect merge code reviews who took too much time to be merged:
[code]

But there are some problems:
1) no penalty was given (I received the same 10 points as any other merge);
2) 0crat should calculate the time of the code review based in another factors besides PR date: in this case I've became the architect of the project and made the merge in one or two days,

[2018-10-12 03:07] 0crat commented on #1751
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-12 03:09] paulodamaso opened #1752 "0crat did not payed ARC for merge"
0crat did not payed `ARC` for merged PR in https://github.com/yegor256/takes/pull/848

It may be related to the fact that PR was to small and there was no code reviewer.

[2018-10-12 03:09] 0crat commented on #1752
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-12 08:06] ypshenychka commented on #656
@yegor256 ping

[2018-10-12 09:17] 0pdd commented on #1278
The puzzle `1054-f370f52f` has disappeared from the source code, that's why I closed this issue.

[2018-10-12 09:17] #1278 closed

[2018-10-12 09:35] 0crat commented on #1278
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-10-12 09:49] 0crat commented on #1278
The job [#1278](https://github.com/zerocracy/farm/issues/1278) is now out of scope

[2018-10-12 10:56] carlosmiranda commented on #1308
@g4s8 fixed in #1745

[2018-10-12 10:56] #1308 closed

[2018-10-12 11:03] g4s8 commented on #1752
@paulodamaso as you can see in https://github.com/yegor256/takes/pull/848#issuecomment-428770672 this job was not in WBS, whereas 0crat pays only for "in scope" jobs: https://www.zerocracy.com/policy.html#28

[2018-10-12 11:13] 0crat commented on #1308
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-10-12 11:13] 0crat commented on #1308
The job [#1308](https://github.com/zerocracy/farm/issues/1308) is now out of scope

[2018-10-12 11:15] g4s8 commented on #1751
@paulodamaso we have some options about second issue: you can be added as a second architect to a project **or** first arc may resign the role first and then assign to you as a single architect. I think we should do nothing in first case, but handle only second scenario, but I can't figure out how to do it correctly, because "reset the time" (as you suggested) is not the correct way to do it, beca

[2018-10-12 12:06] ypshenychka commented on #1308
@0crat quality good

[2018-10-12 12:16] 0crat commented on #1308
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-10-12 12:16] 0crat commented on #1308
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-10-12 12:29] 0crat commented on #1278
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-10-12 12:29] 0crat commented on #1278
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-10-13 11:10] emilianodellacasa opened #1753 "Error while inviting a new user"
While inviting a new user with the Telegram bot, I received an error:

[code]

It looks like that the new user has been invited and I am his mentor, however I have not received the expected reputation points

[2018-10-13 11:10] 0crat commented on #1753
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-13 11:10] 0crat commented on #1753
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-13 12:43] 0crat commented on #1753
Job [#1753](https://github.com/zerocracy/farm/issues/1753) is now in scope, role is `DEV`

[2018-10-13 12:49] 0crat commented on #1753
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-10-13 14:35] g4s8 commented on #1681
@rultor release, tag=`0.36.1`

[2018-10-13 14:37] rultor commented on #1681
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16193-429547065)

[2018-10-13 14:49] rultor commented on #1681
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16193-429547065) (spent 12min)

[code]

[2018-10-14 09:34] g4s8 commented on #1681
@rultor release, tag=`0.36.1`

[2018-10-14 09:34] #1681 closed

[2018-10-14 09:35] rultor commented on #1681
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16193-429610145)

[2018-10-14 09:54] rultor commented on #1681
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16193-429610145) (took me 17min)

[2018-10-14 11:15] 0crat commented on #1681
The job [#1681](https://github.com/zerocracy/farm/issues/1681) is now out of scope

[2018-10-14 11:17] 0crat commented on #1681
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-14 12:37] g4s8 commented on #1717
@yegor256 ping

[2018-10-14 12:55] g4s8 commented on #1681
@rultor release, tag=`0.36.2`

[2018-10-14 12:56] rultor commented on #1681
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16193-429624179)

[2018-10-14 13:15] rultor commented on #1681
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16193-429624179) (took me 17min)

[2018-10-15 14:02] paulodamaso commented on #1752
@g4s8 this is related to the fact that no reviewer was assigned? Looks like 0crat is not putting small PR on scope to avoid it being added as a review task, but in spite of that `ARC` should receive for closing that PR.

[2018-10-15 14:04] paulodamaso commented on #1751
@g4s8 Updating the issues, 1) is happening correctly, checked in awards and it shows the penalty og 60 points due to delayed reviews.

[2018-10-15 15:17] ypshenychka opened #1754 "Multiple errors after QA verdict"
Failure occured in different tickets that were given QA verdict one by one (https://github.com/Harvest-foundation/core/issues/180, https://github.com/Harvest-foundation/telegram/issues/189, https://github.com/Harvest-foundation/telegram/issues/194, https://github.com/Harvest-foundation/core/issues/182, https://github.com/Harvest-foundation/core/issues/182).

[code]

[2018-10-15 15:17] 0crat commented on #1754
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-15 19:14] g4s8 commented on #1752
@paulodamaso please look at issue https://github.com/zerocracy/farm/issues/1012
it seems that this issue is a duplicate

[2018-10-15 19:18] paulodamaso commented on #1752
@g4s8 Right, the rule is in policy, thanks, closing this issue then.

[2018-10-15 19:18] #1752 closed

[2018-10-15 19:49] 0crat commented on #1752
Job `gh:zerocracy/farm#1752` is not assigned, can't get performer

[2018-10-15 19:50] 0crat commented on #1752
This job is not in scope

[2018-10-16 11:45] 0crat commented on #656
Order was finished, quality is "acceptable": +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-16 11:45] 0crat commented on #656
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-10-16 11:56] paulodamaso opened #1755 "Lock error on agenda - Failed to acquire"
0crat is displaying a lock error when trying to write to agenda (https://github.com/harvest-foundation/telegram/issues/164):

[code]

It happened in the PR related to this issues too (https://github.com/Harvest-foundation/telegram/pull/206#issuecomment-429879248).

[2018-10-16 11:56] 0crat commented on #1755
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-16 12:21] g4s8 commented on #1755
@paulodamaso the problem here is that 0crat didn't remove lock entries in table `farm_lock` on release. It should release all locks on `/shutdown` which is called from rultor release. I've removed all invalid lock manually for now.

[2018-10-16 12:28] 0crat commented on #1755
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-16 14:16] emilianodellacasa opened #1756 "Wrongly assigned issue"
Issue https://github.com/zold-io/zold/issues/221 was never assigned to me, nor I ever interacted with.

However, I have received the reputation and monetary reward after closing the issue.

[2018-10-16 14:16] 0crat commented on #1756
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-16 14:16] 0crat commented on #1756
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-17 04:17] carlosmiranda commented on #1279
@g4s8 please see PR #1757

[2018-10-17 16:20] g4s8 opened #1758 "Too many empty elections"
`elect_performer` script checks all non-assigned jobs in WBS every `Ping` even if there are no available performers for job, e.g. all people with `DEV` role may have too many jobs in agenda (can't pass `VsHardCap`) or some of them can  be on vacation (`VsVacation`), but `elect_performer` script will try to find a winner for every job in WBS.
We need to make all possible checks before starting elec

[2018-10-17 16:45] 0crat commented on #1758
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-20 06:28] 0crat commented on #1728
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.36.2](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1728, Comment: 431553879

[2018-10-20 06:28] 0crat commented on #1728
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.36.2](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1728, Action: `created`

[2018-10-20 13:00] g4s8 opened #1760 "PgLock may not be unlock"
`PgLock` may be locked and not unlocked sometimes, so we have not-actual entries in a database. It seems that it happens when thread was interrupted by `Terminator`  (I saw this error in Sentry before lock issue). We need to unlock `PgLock` always after locking.

[2018-10-20 13:09] 0pdd commented on #1435
The puzzle `1433-9a8228e9` has disappeared from the source code, that's why I closed this issue.

[2018-10-20 13:09] #1435 closed

[2018-10-20 13:09] 0pdd commented on #1680
The puzzle `1644-df92de1b` has disappeared from the source code, that's why I closed this issue.

[2018-10-20 13:09] #1680 closed

[2018-10-20 13:09] 0pdd commented on #1670
The puzzle `1663-4d268a0e` has disappeared from the source code, that's why I closed this issue.

[2018-10-20 13:09] #1670 closed

[2018-10-20 13:09] 0pdd opened #1761 "Catalog.java:38-42: Continue replacing old Date classes..."
The puzzle `1305-25fd047a` from #1305 has to be resolved:

https://github.com/zerocracy/farm/blob/079ed29ba854506cf02210af46512bb7ae382379/src/main/java/com/zerocracy/pmo/Catalog.java#L38-L42

The puzzle was created by Victor Noël on 23-Sep-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2018-10-20 13:09] 0pdd opened #1762 "Xocument.java:152-156: Xocument writes upgraded xml files..."
The puzzle `1705-5eef677d` from #1705 has to be resolved:

https://github.com/zerocracy/farm/blob/079ed29ba854506cf02210af46512bb7ae382379/src/main/java/com/zerocracy/Xocument.java#L152-L156

The puzzle was created by Krzysztof Krason on 23-Sep-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2018-10-20 13:10] 0crat commented on #1762
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-20 13:10] 0pdd opened #1763 "hint_when_lack_of_staff.groovy:26-28: This stakeholder..."
The puzzle `1396-ad84ffab` from #1396 has to be resolved:

https://github.com/zerocracy/farm/blob/079ed29ba854506cf02210af46512bb7ae382379/src/main/groovy/com/zerocracy/stk/pm/staff/hint_when_lack_of_staff.groovy#L26-L28

The puzzle was created by g4s8 on 19-Sep-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2018-10-20 13:11] 0crat commented on #1761
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-20 13:11] 0pdd opened #1764 "PgLedgerITCase.java:46-48: Run this test with embedded..."
The puzzle `1662-8f6d00af` from #1662 has to be resolved:

https://github.com/zerocracy/farm/blob/079ed29ba854506cf02210af46512bb7ae382379/src/test/java/com/zerocracy/pm/cost/PgLedgerITCase.java#L46-L48

The puzzle was created by rultor on 27-Sep-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of t

[2018-10-20 13:11] 0crat commented on #1763
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-20 13:11] 0pdd opened #1765 "make_payment.groovy:40-42: In continuation of #1162, add..."
The puzzle `1162-5bbf3bac` from #1162 has to be resolved:

https://github.com/zerocracy/farm/blob/079ed29ba854506cf02210af46512bb7ae382379/src/main/groovy/com/zerocracy/stk/pm/cost/make_payment.groovy#L40-L42

The puzzle was created by rultor on 05-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the tex

[2018-10-20 13:12] 0crat commented on #1764
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-20 13:12] 0pdd opened #1766 "ClaimsRoutine.java:57-59: ClaimsRoutine is too complex..."
The puzzle `1731-c06199b7` from #1731 has to be resolved:

https://github.com/zerocracy/farm/blob/079ed29ba854506cf02210af46512bb7ae382379/src/main/java/com/zerocracy/claims/ClaimsRoutine.java#L57-L59

The puzzle was created by g4s8 on 05-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2018-10-20 13:12] 0crat commented on #1765
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-20 13:12] 0pdd opened #1767 "ExtMongo.java:48-50: Provide a single Mongo database..."
The puzzle `1711-5de0b041` from #1711 has to be resolved:

https://github.com/zerocracy/farm/blob/079ed29ba854506cf02210af46512bb7ae382379/src/main/java/com/zerocracy/entry/ExtMongo.java#L48-L50

The puzzle was created by rultor on 15-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2018-10-20 13:12] 0crat commented on #1766
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-20 13:13] 0pdd opened #1768 "ExtMongo.java:51-55: Provide a documentation on how to..."
The puzzle `1711-0d4ee784` from #1711 has to be resolved:

https://github.com/zerocracy/farm/blob/079ed29ba854506cf02210af46512bb7ae382379/src/main/java/com/zerocracy/entry/ExtMongo.java#L51-L55

The puzzle was created by rultor on 15-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2018-10-20 13:13] 0crat commented on #1767
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-20 13:13] 0pdd opened #1769 "ExtMongo.java:56-58: Fix up failing cases when an..."
The puzzle `1711-a20e4cad` from #1711 has to be resolved:

https://github.com/zerocracy/farm/blob/079ed29ba854506cf02210af46512bb7ae382379/src/main/java/com/zerocracy/entry/ExtMongo.java#L56-L58

The puzzle was created by rultor on 15-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2018-10-20 13:13] 0pdd commented on #952
@g4s8 the puzzle [#1761](https://github.com/zerocracy/farm/issues/1761) is still not solved; solved: [#1305](https://github.com/zerocracy/farm/issues/1305).

[2018-10-20 13:13] 0pdd commented on #1305
@0pdd the puzzle [#1761](https://github.com/zerocracy/farm/issues/1761) is still not solved.

[2018-10-20 13:13] 0pdd commented on #1347
@g4s8 2 puzzles [#1706](https://github.com/zerocracy/farm/issues/1706), [#1762](https://github.com/zerocracy/farm/issues/1762) are still not solved; solved: [#1705](https://github.com/zerocracy/farm/issues/1705).

[2018-10-20 13:13] 0pdd commented on #1705
@0pdd the puzzle [#1762](https://github.com/zerocracy/farm/issues/1762) is still not solved.

[2018-10-20 13:13] 0pdd commented on #1396
@carlosmiranda the puzzle [#1763](https://github.com/zerocracy/farm/issues/1763) is still not solved.

[2018-10-20 13:13] 0pdd commented on #1162
@proshin-roman the puzzle [#1765](https://github.com/zerocracy/farm/issues/1765) is still not solved.

[2018-10-20 13:13] 0pdd commented on #1662
@g4s8 the puzzle [#1764](https://github.com/zerocracy/farm/issues/1764) is still not solved; solved: [#unknown]().

[2018-10-20 13:13] 0pdd commented on #1711
@denis-konovalyenko 3 puzzles [#1767](https://github.com/zerocracy/farm/issues/1767), [#1768](https://github.com/zerocracy/farm/issues/1768), [#1769](https://github.com/zerocracy/farm/issues/1769) are still not solved.

[2018-10-20 13:13] 0pdd commented on #1731
@g4s8 the puzzle [#1766](https://github.com/zerocracy/farm/issues/1766) is still not solved.

[2018-10-20 13:14] 0crat commented on #1768
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-20 13:15] 0crat commented on #1769
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-20 13:38] g4s8 commented on #1659
@carlosmiranda PR #1723 was merged, thanks

[2018-10-20 13:38] #1659 closed

[2018-10-20 13:38] g4s8 commented on #1728
@carlosmiranda PR #1759 was merged, thanks

[2018-10-20 13:38] #1728 closed

[2018-10-20 13:39] g4s8 commented on #1659
@rultor release, tag=`0.37.1`

[2018-10-20 13:40] rultor commented on #1659
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16273-431582939)

[2018-10-20 13:57] rultor commented on #1659
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16273-431582939) (took me 16min)

[2018-10-20 14:08] g4s8 commented on #1760
@rultor release, tag=`0.37.2`

[2018-10-20 14:09] rultor commented on #1760
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16275-431585072)

[2018-10-20 14:37] 0crat commented on #1760
Job [#1760](https://github.com/zerocracy/farm/issues/1760) is now in scope, role is `DEV`

[2018-10-20 14:42] 0crat commented on #1670
Job `gh:zerocracy/farm#1670` is not assigned, can't get performer

[2018-10-20 14:42] 0crat commented on #1435
Job `gh:zerocracy/farm#1435` is not assigned, can't get performer

[2018-10-20 14:42] 0crat commented on #1762
Job [#1762](https://github.com/zerocracy/farm/issues/1762) is now in scope, role is `DEV`

[2018-10-20 14:42] 0crat commented on #1761
Job [#1761](https://github.com/zerocracy/farm/issues/1761) is now in scope, role is `DEV`

[2018-10-20 14:42] 0crat commented on #1763
Job [#1763](https://github.com/zerocracy/farm/issues/1763) is now in scope, role is `DEV`

[2018-10-20 14:42] 0crat commented on #1764
Job [#1764](https://github.com/zerocracy/farm/issues/1764) is now in scope, role is `DEV`

[2018-10-20 14:42] 0crat commented on #1765
Job [#1765](https://github.com/zerocracy/farm/issues/1765) is now in scope, role is `DEV`

[2018-10-20 14:42] 0crat commented on #1766
Job [#1766](https://github.com/zerocracy/farm/issues/1766) is now in scope, role is `DEV`

[2018-10-20 14:43] 0crat commented on #1767
Job [#1767](https://github.com/zerocracy/farm/issues/1767) is now in scope, role is `DEV`

[2018-10-20 14:43] 0crat commented on #1768
Job [#1768](https://github.com/zerocracy/farm/issues/1768) is now in scope, role is `DEV`

[2018-10-20 14:43] 0crat commented on #1769
Job [#1769](https://github.com/zerocracy/farm/issues/1769) is now in scope, role is `DEV`

[2018-10-20 14:52] 0crat commented on #1670
The job [#1670](https://github.com/zerocracy/farm/issues/1670) is now out of scope

[2018-10-20 14:52] 0crat commented on #1435
The job [#1435](https://github.com/zerocracy/farm/issues/1435) is now out of scope

[2018-10-20 15:02] 0crat commented on #1659
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-10-20 15:02] 0crat commented on #1728
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-10-20 15:03] 0crat commented on #1680
The job [#1680](https://github.com/zerocracy/farm/issues/1680) is now out of scope

[2018-10-20 15:03] 0crat commented on #1659
The job [#1659](https://github.com/zerocracy/farm/issues/1659) is now out of scope

[2018-10-20 15:03] 0crat commented on #1728
The job [#1728](https://github.com/zerocracy/farm/issues/1728) is now out of scope

[2018-10-20 15:04] 0crat commented on #1760
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-20 15:04] 0crat commented on #1680
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-20 15:38] ypshenychka commented on #1659
@0crat quality good

[2018-10-20 15:38] ypshenychka commented on #1728
@0crat quality good

[2018-10-20 15:55] 0crat commented on #1659
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-10-20 15:55] 0crat commented on #1659
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-10-20 15:55] 0crat commented on #1728
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-10-20 15:55] 0crat commented on #1728
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-10-22 04:52] g4s8 opened #1770 "Claim duplicate"
0crat is trying to process `Ping` claim twice:
[code]

we tried to it here #1659 by replacing `long` ids with `UUID`s, but it didn't help.

[2018-10-22 23:44] carlosmiranda opened #1771 "Slack integration is offline"
The Slack integration bot has been offline for the past three or four days. I have been trying to bootstrap a new project but unable to do so because of this issue.

![image](https://user-images.githubusercontent.com/1917892/47325329-c9dd6100-d695-11e8-9ef2-4303b316ec2b.png)

![image](https://user-images.githubusercontent.com/1917892/47325656-8126a780-d697-11e8-826a-531695de48ad.png)

[2018-10-22 23:44] 0crat commented on #1771
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-23 03:31] carlosmiranda commented on #1691
@g4s8 see PR #1772

[2018-10-23 06:17] 0crat commented on #1771
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1771](https://github.com/zerocracy/farm/issues/1771), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-10-23 06:17] 0crat commented on #1771
Job `gh:zerocracy/farm#1771` already assigned to @g4s8, can't assign to @g4s8

[2018-10-23 06:49] g4s8 commented on #1771
@carlosmiranda same for Zerocracy project, related stacktrace: https://sentry.io/zerocracy/farm/issues/728275007
can you send me you project id?

[2018-10-23 07:08] carlosmiranda commented on #1771
@g4s8 PMed you via Telegram

[2018-10-23 08:11] yegor256 opened #1773 "don't reply to a bot"
Check this out: https://github.com/yegor256/rultor/issues/1275#issuecomment-432141985

Let's not post this message if the author of the issue is a bot.

[2018-10-23 08:11] 0crat commented on #1773
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-23 09:28] rultor commented on #1771
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16301-432169865)

[2018-10-23 09:40] rultor commented on #1771
@carlosmiranda @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16301-432169865) (spent 12min)

[code]

[2018-10-23 10:39] g4s8 commented on #1771
@rultor release, tag=`0.37.3`

[2018-10-23 10:40] rultor commented on #1771
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16301-432194666)

[2018-10-23 10:58] rultor commented on #1771
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16301-432194666) (took me 17min)

[2018-10-23 11:12] g4s8 commented on #1771
@rultor release, tag=`0.37.4`

[2018-10-23 11:14] rultor commented on #1771
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16301-432204033)

[2018-10-23 11:32] rultor commented on #1771
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16301-432204033) (took me 18min)

[2018-10-23 18:14] #1645 closed

[2018-10-23 18:14] 0pdd commented on #1645
The puzzle `1569-990fecb8` has disappeared from the source code, that's why I closed this issue.

[2018-10-23 18:14] 0pdd opened #1774 "ResumesTest.java:41-43: Handle resume not found in..."
The puzzle `1645-dc067a6a` from #1645 has to be resolved:

https://github.com/zerocracy/farm/blob/b9737d55567076a687284e0d1e795e29da6f2b29/src/test/java/com/zerocracy/pmo/ResumesTest.java#L41-L43

The puzzle was created by Victor Noël on 07-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2018-10-23 18:14] 0pdd commented on #908
@0pdd 2 puzzles [#1568](https://github.com/zerocracy/farm/issues/1568), [#1774](https://github.com/zerocracy/farm/issues/1774) are still not solved; solved: [#1146](https://github.com/zerocracy/farm/issues/1146), [#1147](https://github.com/zerocracy/farm/issues/1147), [#1179](https://github.com/zerocracy/farm/issues/1179), [#1352](https://github.com/zerocracy/farm/issues/1352), [#1353](https://git

[2018-10-23 18:14] 0pdd commented on #1147
@0pdd 2 puzzles [#1568](https://github.com/zerocracy/farm/issues/1568), [#1774](https://github.com/zerocracy/farm/issues/1774) are still not solved; solved: [#1179](https://github.com/zerocracy/farm/issues/1179), [#1506](https://github.com/zerocracy/farm/issues/1506), [#1569](https://github.com/zerocracy/farm/issues/1569), [#1645](https://github.com/zerocracy/farm/issues/1645).

[2018-10-23 18:14] 0pdd commented on #1179
@0pdd 2 puzzles [#1568](https://github.com/zerocracy/farm/issues/1568), [#1774](https://github.com/zerocracy/farm/issues/1774) are still not solved; solved: [#1506](https://github.com/zerocracy/farm/issues/1506), [#1569](https://github.com/zerocracy/farm/issues/1569), [#1645](https://github.com/zerocracy/farm/issues/1645).

[2018-10-23 18:14] 0pdd commented on #1506
@0pdd 2 puzzles [#1568](https://github.com/zerocracy/farm/issues/1568), [#1774](https://github.com/zerocracy/farm/issues/1774) are still not solved; solved: [#1569](https://github.com/zerocracy/farm/issues/1569), [#1645](https://github.com/zerocracy/farm/issues/1645).

[2018-10-23 18:14] 0pdd commented on #1569
@0pdd the puzzle [#1774](https://github.com/zerocracy/farm/issues/1774) is still not solved; solved: [#1645](https://github.com/zerocracy/farm/issues/1645).

[2018-10-23 18:14] 0pdd commented on #1645
@0pdd the puzzle [#1774](https://github.com/zerocracy/farm/issues/1774) is still not solved.

[2018-10-23 18:15] 0crat commented on #1774
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-23 18:20] 0crat commented on #1774
Job [#1774](https://github.com/zerocracy/farm/issues/1774) is now in scope, role is `DEV`

[2018-10-23 18:52] 0crat commented on #1645
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-10-23 18:53] 0crat commented on #1645
The job [#1645](https://github.com/zerocracy/farm/issues/1645) is now out of scope

[2018-10-24 05:40] ypshenychka commented on #1645
@0crat quality good

[2018-10-24 06:02] carlosmiranda commented on #1691
@g4s8 fixed in #1772, may we close this now?

[2018-10-24 06:10] 0crat commented on #1645
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-10-24 06:10] 0crat commented on #1645
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-10-24 09:50] g4s8 commented on #1691
@carlosmiranda sure, thanks

[2018-10-24 09:50] #1691 closed

[2018-10-24 10:30] 0crat commented on #1691
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-10-24 10:33] 0crat commented on #1691
The job [#1691](https://github.com/zerocracy/farm/issues/1691) is now out of scope

[2018-10-24 10:39] ypshenychka commented on #1691
@0crat quality good

[2018-10-24 11:16] 0crat commented on #1691
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-10-24 11:29] 0crat commented on #1691
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-10-24 18:12] paulodamaso commented on #1751
@g4s8 please take a look

[2018-10-25 06:50] emilianodellacasa opened #1775 "Receiving notifications for new users not assigned to me"
When a new user sends a request of invite, I receive a notification on Telegram to accept or reject its application.

However, usually when I try to invite the user, the bot answers that the user is not assigned to me. A couple of times happened that the user was actually assigned to me and I could invite him/her.

So, what's the point in receiving a notification of a user I cannot invite? I think

[2018-10-25 06:50] 0crat commented on #1775
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-25 06:50] 0crat commented on #1775
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-25 07:10] g4s8 commented on #1751
@yegor256 please look here, maybe we can skip penalty for new ARC? E.g. do not send negarive points for first 2 days, since role assigned.

[2018-10-25 07:33] g4s8 commented on #1775
@emilianodellacasa right, we should send this notification when resume assigned, not on join-form submit. But I'd also send few words to PMO users when form submitted, e.g. `user \@github-account subbmited join form; https://link-to-resume`.

[2018-10-25 07:33] 0crat commented on #1775
Job [#1775](https://github.com/zerocracy/farm/issues/1775) is now in scope, role is `DEV`

[2018-10-25 07:40] 0crat commented on #1775
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-10-25 07:52] g4s8 commented on #1771
@carlosmiranda it seems that it was caused by #1760 bug, I temporary replaced `PgLocks` in `Main` with simple locks, now it's working fine for me, can you also check your slack channels?

[2018-10-25 08:07] tsuhachev opened #1776 "As a project applicant I want to know if my application is still pending"
Hi, I applied for JPeek (this is the only available Java sandbox project for now) project on 23.10.18

I know that according to the policy  "The architect of the project will either invite you or ignore your request", but it would be clearer for me as an applicant to receive at least some acknowledgement status that my application was actually reviewed, but ignored.

Otherwise, I do not know the r

[2018-10-25 08:07] 0crat commented on #1776
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-25 08:07] 0crat commented on #1776
@tsuhachev[/z](https://www.0crat.com/u/tsuhachev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-25 15:40] tsuhachev commented on #1776
@g4s8 , I don't think so, even though the case is the same, the current ticket is about letting know an applicant, not an ARC or PO

[2018-10-25 23:00] carlosmiranda commented on #1771
@g4s8 it's working now. Thanks!

[2018-10-25 23:00] #1771 closed

[2018-10-25 23:18] 0crat commented on #1771
Job [#1771](https://github.com/zerocracy/farm/issues/1771) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2018-10-26 04:38] g4s8 commented on #1776
@tsuhachev let's implement #1349 first, and use `applications.xml` for this task also.

[2018-10-26 04:41] 0crat commented on #1776
Job [#1776](https://github.com/zerocracy/farm/issues/1776) is now in scope, role is `DEV`

[2018-10-26 04:48] 0crat commented on #1776
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @tsuhachev[/z](https://www.0crat.com/u/tsuhachev)

[2018-10-26 05:08] carlosmiranda opened #1777 "A couple of tasks are "stuck" in scope"
I'm an architect on a project right now where two tasks are "stuck". One is a PR that has been merged, and another is a PDD ticket that has been closed. Both were closed around 4 days ago, which roughly coincided with a major Github outage which affected access to tickets. It does not respond to "out" command which has been sent multiple times over the past few days.

The thing is, `@0crat` can ac

[2018-10-26 05:08] 0crat commented on #1777
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-26 12:15] g4s8 opened #1778 "Layout issues on board page"
There are some layout issues on board page:
![photo_2018-10-26_15-13-32](https://user-images.githubusercontent.com/1524988/47565634-d8e03f80-d931-11e8-82b3-d91f6122617f.jpg)

[2018-10-26 12:33] 0crat commented on #1778
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-26 12:33] 0crat commented on #1773
Job [#1773](https://github.com/zerocracy/farm/issues/1773) is now in scope, role is `DEV`

[2018-10-26 12:36] g4s8 commented on #1777
@carlosmiranda did one day (24 hours) passed since this issue? These jobs should be closed automatically by `finish_stale_github_orders` stakeholder, which is started on `Ping daily`.

[2018-10-26 12:38] 0crat commented on #1770
Job [#1770](https://github.com/zerocracy/farm/issues/1770) is now in scope, role is `DEV`

[2018-10-26 12:47] 0crat commented on #1773
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-26 12:47] 0crat commented on #1770
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-26 21:42] carlosmiranda commented on #1777
@g4s8 take a look at the screenshots, it's been four days

[2018-10-27 12:12] krzyk commented on #1692
@0crat refuse

[2018-10-27 12:16] 0crat commented on #1692
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1692](https://github.com/zerocracy/farm/issues/1692), please stop working. Reason for job resignation: Order was cancelled

[2018-10-27 12:17] 0crat commented on #1692
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-10-29 00:45] carlosmiranda commented on #1777
@g4s8 ping

[2018-10-29 07:43] 0crat commented on #1777
Job [#1777](https://github.com/zerocracy/farm/issues/1777) is now in scope, role is `DEV`

[2018-10-29 07:47] g4s8 opened #1779 "Too many errors in sentry"
There are too many errors in Sentry, we may miss something important.

[2018-10-29 07:52] 0crat commented on #1777
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-10-29 07:57] 0crat commented on #1779
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1779](https://github.com/zerocracy/farm/issues/1779), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-10-29 07:59] 0crat commented on #1779
Job `gh:zerocracy/farm#1779` already assigned to @g4s8, can't assign to @g4s8

[2018-10-29 07:59] 0crat commented on #1779
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-29 07:59] 0crat commented on #1779
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-29 07:59] 0crat commented on #1779
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-29 08:31] g4s8 commented on #1779
Should be fixed:
 - https://sentry.io/zerocracy/farm/issues/656907018
 - https://sentry.io/zerocracy/farm/issues/658968028
 - https://sentry.io/zerocracy/farm/issues/737144494

[2018-10-29 08:37] rultor commented on #1779
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16370-433824397) (spent 13min)

[code]

[2018-10-29 17:45] 0crat commented on #1678
Job [#1678](https://github.com/zerocracy/farm/issues/1678) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2018-10-29 17:49] 0crat commented on #1678
The job [#1678](https://github.com/zerocracy/farm/issues/1678) is now out of scope

[2018-10-29 17:54] 0crat commented on #1678
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-29 18:50] yegor256 commented on #1520
@g4s8 well, we don't have cross-project transactions now, right? We can't send a payment from a project to PMO or the other way around. I guess we can simply allow a negative balance in PMO project and send payments from it.

[2018-10-29 19:30] g4s8 commented on #1779
@rultor release, tag=`0.37.5`

[2018-10-29 19:32] rultor commented on #1779
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16370-434047707)

[2018-10-29 19:33] 0crat commented on #1520
Job [#1520](https://github.com/zerocracy/farm/issues/1520) is now in scope, role is `DEV`

[2018-10-29 19:44] 0crat commented on #1520
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-29 19:51] g4s8 commented on #1779
Also fixed:
 - https://sentry.io/zerocracy/farm/issues/666399427
 - https://sentry.io/zerocracy/farm/issues/714558904

[2018-10-29 19:51] rultor commented on #1779
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16370-434047707) (took me 17min)

[2018-10-30 05:47] 0crat commented on #1779
Job [#1779](https://github.com/zerocracy/farm/issues/1779) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2018-10-30 05:47] 0crat commented on #1779
Job was finished in 21 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-10-30 05:56] 0crat commented on #1779
The job [#1779](https://github.com/zerocracy/farm/issues/1779) is now out of scope

[2018-10-30 05:56] 0crat commented on #1779
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-30 20:29] olenagerasimova commented on #1778
@g4s8 I've just detected similar problems with `team` and `@me` page from on the phone
<img src="https://user-images.githubusercontent.com/14931449/47748024-dca9f400-dc9a-11e8-8c7b-3bcd0dc50e1e.jpg" alt="drawing" width="250"/> <img src="https://user-images.githubusercontent.com/14931449/47748035-df0c4e00-dc9a-11e8-9019-de069f60b1ff.jpg" alt="drawing" width="250"/>

[2018-10-31 07:11] carlosmiranda commented on #1191
@0crat refuse

[2018-10-31 07:11] carlosmiranda commented on #1609
@0crat refuse

[2018-10-31 07:21] 0crat commented on #1191
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1191](https://github.com/zerocracy/farm/issues/1191), please stop working. Reason for job resignation: Order was cancelled

[2018-10-31 07:21] 0crat commented on #1609
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1609](https://github.com/zerocracy/farm/issues/1609), please stop working. Reason for job resignation: Order was cancelled

[2018-10-31 07:46] bkuzmic opened #1781 "Internal Application Error when authorizing 0crat's access to github account"
When trying to authorize 0crat to have access to my github account, on URL:
https://github.com/login/oauth/authorize?client_id=f16684efe7f90aae432b&redirect_uri=https%3A%2F%2Fwww.0crat.com%2F%3FPsByFlag%3DPsGithub, I get an `IllegalStateException`:

URL for form submission is: https://www.0crat.com/join-post

And here is the error printed in browser:

[code]

[2018-10-31 07:46] 0crat commented on #1781
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-10-31 07:46] 0crat commented on #1781
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-31 07:50] bkuzmic commented on #1781
I guess this issue is connected to the join form. I'm just starting to join so I'm puzzled that I could login and get an account before I was invited to join.

[2018-11-01 13:49] victornoel opened #1782 "0crat telegram bot should show help on non-commands"
I just realised the telegram bot stopped answering to messages and now answers to slash commands.

I have talked to it many time in the last weeks and was wondering if it was broken because I never got answers.

I propose that when someone talks to the bot, the help message should be shown to explain how the bot works.

[2018-11-01 13:49] 0crat commented on #1782
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-02 15:31] olenagerasimova commented on #1686
@g4s8  I have the same problem in my agenda
![image](https://user-images.githubusercontent.com/14931449/47924509-efa40a80-decc-11e8-8b23-62d7632bbd6d.png)
Unlike @paulodamaso 's jobs, these jobs were assigned to me by 0crat, the only common thing they have - previous refusal.

[2018-11-05 15:18] g4s8 opened #1783 "Join form should not be accessible for unknown users"
We're using github to identify a user when join form is submitted, user should not be able to see this form before login because it causes redirect to main page on form submit.

[2018-11-05 15:19] 0crat commented on #1783
Job [#1783](https://github.com/zerocracy/farm/issues/1783) is now in scope, role is `DEV`

[2018-11-06 07:50] yegor256 opened #1784 "Remind ARCs about regular reports to POs"
Check this out: https://www.yegor256.com/2015/05/11/software-architect-responsibilities.html

Any PO would expect such a report from an architect, regularly. Let's create a new stakeholder, which will `Notify` each ARC every 14 days that it's time to email a report to the PO, about the situation in a project

[2018-11-06 07:50] 0crat commented on #1784
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-06 12:34] 0crat commented on #1784
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1784](https://github.com/zerocracy/farm/issues/1784), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-11-06 12:39] 0crat commented on #1784
Job `gh:zerocracy/farm#1784` already assigned to @g4s8, can't assign to @g4s8

[2018-11-06 12:40] 0crat commented on #1784
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-11-06 12:40] 0crat commented on #1784
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-08 05:29] rultor commented on #1784
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16490-436877751)

[2018-11-08 05:48] rultor commented on #1784
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16490-436877751) (took me 18min)

[2018-11-09 06:44] carlosmiranda commented on #1311
@0crat refuse

[2018-11-09 06:44] 0crat commented on #1311
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1311](https://github.com/zerocracy/farm/issues/1311), please stop working. Reason for job resignation: Order was cancelled

[2018-11-09 06:45] carlosmiranda commented on #1205
@0crat refuse

[2018-11-09 06:47] 0crat commented on #1205
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1205](https://github.com/zerocracy/farm/issues/1205), please stop working. Reason for job resignation: Order was cancelled

[2018-11-09 06:47] 0crat commented on #1311
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-11-09 06:48] 0crat commented on #1205
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-11-09 08:07] 0pdd commented on #1279
The puzzle `1054-30c8b97d` has disappeared from the source code, that's why I closed this issue.

[2018-11-09 08:07] #1279 closed

[2018-11-09 08:07] 0pdd commented on #1054
@g4s8 all 2 puzzles are solved here: [#1278](https://github.com/zerocracy/farm/issues/1278), [#1279](https://github.com/zerocracy/farm/issues/1279).

[2018-11-09 08:36] ypshenychka commented on #1279
@0crat quality good

[2018-11-09 08:48] 0crat commented on #1279
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-11-09 08:48] 0crat commented on #1279
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-10 15:31] SergeyKutsko opened #1786 "FAILS: mvn clean install -Pqulice,codenarc"
T E S T S
Error: Could not find or load main class org.apache.maven.surefire.booter.ForkedBooter

Results :

Tests run: 0, Failures: 0, Errors: 0, Skipped: 0

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 19.334 s
[INFO] Finished at: 2018-11-10T1

[2018-11-10 15:31] 0crat commented on #1786
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-10 15:31] 0crat commented on #1786
@sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-11 17:53] #975 closed

[2018-11-11 18:10] 0crat commented on #975
Job `gh:zerocracy/farm#975` is not assigned, can't get performer

[2018-11-11 18:10] 0crat commented on #975
This job is not in scope

[2018-11-12 08:54] g4s8 commented on #1786
@SergeyKutsko it looks like [a bug](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=911925) in `openjdk8` package, please try suggested solution: https://stackoverflow.com/a/53016532/1723695

[2018-11-14 09:15] emilianodellacasa opened #1787 "Assigning PR as REV to the same author"
I created a PR https://github.com/zold-io/zold/pull/551 and 0crat bot assigned it to me as REV, this is something that should never happen.

[2018-11-14 09:15] 0crat commented on #1787
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-14 09:15] 0crat commented on #1787
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-14 12:08] 0crat commented on #1787
Job [#1787](https://github.com/zerocracy/farm/issues/1787) is now in scope, role is `DEV`

[2018-11-14 12:14] 0crat commented on #1787
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-11-15 10:32] emilianodellacasa opened #1788 "Error on payments when wallet is not set"
Apparently my wallet was not correctly set and, a s a result, the bot failed the payment with following error:

https://github.com/zold-io/zold/issues/548#issuecomment-438992098

I think the bot should give a more human error when the payment method is not set, like stating the right command to set it and, in general, not failing like that

[2018-11-15 10:33] 0crat commented on #1788
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-15 10:33] 0crat commented on #1788
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-15 11:57] g4s8 commented on #1788
@emilianodellacasa correct, we should add such payments to debts without error

[2018-11-15 11:57] 0crat commented on #1788
Job [#1788](https://github.com/zerocracy/farm/issues/1788) is now in scope, role is `DEV`

[2018-11-15 12:06] 0crat commented on #1788
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-11-20 14:24] emilianodellacasa opened #1789 "Error when purchasing a RFP"
I purchased a RFP and an error happened:

PID: 4@babed9de-7cc6-46c6-a7f5-a828c6af2a1a, thread: AsyncProc-1
org.codehaus.groovy.runtime.ScriptBytecodeAdapter[66] groovy.lang.MissingPropertyException: No such property: owner for class: com.zerocracy.stk.pmo.profile.purchase_rfp

Also, I expected my reputation to _decrease_ of 64 point, but actually it **increased** for the same amount

[2018-11-20 14:31] Serranya commented on #1538
I have hit this to:
[code]

[2018-11-21 08:17] 0crat commented on #1789
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1789](https://github.com/zerocracy/farm/issues/1789), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-11-21 08:17] g4s8 commented on #1789
@emilianodellacasa related stacktrace: https://sentry.io/zerocracy/farm/issues/770260825

[2018-11-21 08:19] 0crat commented on #1789
Job `gh:zerocracy/farm#1789` already assigned to @g4s8, can't assign to @g4s8

[2018-11-21 08:55] 0crat commented on #1540
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1540](https://github.com/zerocracy/farm/issues/1540), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-11-21 08:56] g4s8 commented on #1789
@emilianodellacasa should be fixed now, see https://github.com/zerocracy/farm/commit/8acf8cc6ee51ec859cdb3d119704ed07c593c9ac

[2018-11-21 08:57] 0crat commented on #1540
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-11-21 08:57] 0crat commented on #1540
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-11-21 08:57] 0crat commented on #1520
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1520](https://github.com/zerocracy/farm/issues/1520), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-11-21 08:57] 0crat commented on #1520
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-11-21 08:57] 0crat commented on #1520
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-11-21 08:58] emilianodellacasa commented on #1789
@g4s8 thanks

[2018-11-21 08:58] #1789 closed

[2018-11-21 09:15] 0crat commented on #1789
Job [#1789](https://github.com/zerocracy/farm/issues/1789) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2018-11-21 09:16] 0crat commented on #1658
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1658](https://github.com/zerocracy/farm/issues/1658), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-11-21 09:16] 0crat commented on #1789
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-21 09:20] 0crat commented on #1658
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-11-21 09:22] 0crat commented on #1789
The job [#1789](https://github.com/zerocracy/farm/issues/1789) is now out of scope

[2018-11-21 09:22] 0crat commented on #1789
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-11-21 10:49] 0pdd commented on #1658
The puzzle `1536-7b5e8444` has disappeared from the source code, that's why I closed this issue.

[2018-11-21 10:49] #1658 closed

[2018-11-21 10:49] 0pdd opened #1790 "Ledger.java:41-43: We should allow negative balance only..."
The puzzle `1658-f3d9a105` from #1658 has to be resolved:

https://github.com/zerocracy/farm/blob/62e971ddadff30e50e48550d695703f8d58d4834/src/main/java/com/zerocracy/pm/cost/Ledger.java#L41-L43

The puzzle was created by Kirill on 21-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2018-11-21 10:49] 0crat commented on #1790
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-21 10:49] g4s8 commented on #1789
@rultor release, tag=`0.38.1`

[2018-11-21 10:49] 0pdd opened #1791 "fund_by_stripe.groovy:88-90: Add adviser info to policy..."
The puzzle `1658-5dca0572` from #1658 has to be resolved:

https://github.com/zerocracy/farm/blob/62e971ddadff30e50e48550d695703f8d58d4834/src/main/groovy/com/zerocracy/stk/pm/cost/funding/fund_by_stripe.groovy#L88-L90

The puzzle was created by Kirill on 21-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2018-11-21 10:50] 0pdd opened #1792 "_after.groovy:22-24: It's not possible to test ledger..."
The puzzle `1658-62012fd9` from #1658 has to be resolved:

https://github.com/zerocracy/farm/blob/62e971ddadff30e50e48550d695703f8d58d4834/src/test/resources/com/zerocracy/bundles/pays_adviser_on_funding/_after.groovy#L22-L24

The puzzle was created by Kirill on 21-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2018-11-21 10:50] 0pdd commented on #1536
@g4s8 3 puzzles [#1790](https://github.com/zerocracy/farm/issues/1790), [#1791](https://github.com/zerocracy/farm/issues/1791), [#1792](https://github.com/zerocracy/farm/issues/1792) are still not solved; solved: [#1658](https://github.com/zerocracy/farm/issues/1658).

[2018-11-21 10:50] 0pdd commented on #1658
@0pdd 3 puzzles [#1790](https://github.com/zerocracy/farm/issues/1790), [#1791](https://github.com/zerocracy/farm/issues/1791), [#1792](https://github.com/zerocracy/farm/issues/1792) are still not solved.

[2018-11-21 10:50] 0crat commented on #1791
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-21 10:51] 0crat commented on #1792
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-21 10:51] rultor commented on #1789
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16604-440620474)

[2018-11-21 10:56] 0crat commented on #1790
Job [#1790](https://github.com/zerocracy/farm/issues/1790) is now in scope, role is `DEV`

[2018-11-21 10:56] 0crat commented on #1791
Job [#1791](https://github.com/zerocracy/farm/issues/1791) is now in scope, role is `DEV`

[2018-11-21 10:56] 0crat commented on #1792
Job [#1792](https://github.com/zerocracy/farm/issues/1792) is now in scope, role is `DEV`

[2018-11-21 11:06] 0crat commented on #1658
Job [#1658](https://github.com/zerocracy/farm/issues/1658) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2018-11-21 11:06] 0crat commented on #1658
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-21 11:07] rultor commented on #1789
@emilianodellacasa @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16604-440620474) (spent 16min)

[code]

[2018-11-21 11:12] 0crat commented on #1658
The job [#1658](https://github.com/zerocracy/farm/issues/1658) is now out of scope

[2018-11-21 11:13] 0crat commented on #1658
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-11-21 11:17] emilianodellacasa opened #1793 "Error when inviting 0crat bot to Slack channel"
I tried to invite 0crat bot to a Slack channel and apparently it works, in fact I can see the 0crat bot on my Slack workspace and I received an email stating a new app was added.

However, in the link I used to add the bot, Slack shows me an error page stating "There’s been a glitch…".

I cannot add more information to it unfortunately, since it is the only thing I received but I think we should t

[2018-11-21 11:17] 0crat commented on #1793
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-21 11:17] 0crat commented on #1793
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-21 11:22] 0crat commented on #1793
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1793](https://github.com/zerocracy/farm/issues/1793), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-11-21 11:49] g4s8 commented on #1793
@yegor256 can you please check 0crat Slack application settings, it seems that it has wrong redirect url: https://teae1r4na.slack.com/messages/@0crat/details/

[2018-11-21 11:52] g4s8 commented on #1789
@rultor release, tag=`0.38.1`

[2018-11-21 11:54] rultor commented on #1789
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16604-440636871)

[2018-11-21 12:14] rultor commented on #1789
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16604-440636871) (took me 19min)

[2018-11-21 17:02] emilianodellacasa opened #1794 "Twitter error when linkint project on Slack"
I tried to link a project a second time on Slack and an error was returned:

PID: 4@8eee20aa-bd53-4a87-a0ee-abde6f13aa96, thread: AsyncProc-7
com.zerocracy.farm.reactive.StkRuntime[76] java.lang.IllegalStateException: org.codehaus.groovy.runtime.InvokerInvocationException in com.zerocracy.stk.pmo.tweet
org.codehaus.groovy.reflection.CachedMethod[105] org.codehaus.groovy.runtime.InvokerInvocationEx

[2018-11-21 17:03] 0crat commented on #1794
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-21 17:03] 0crat commented on #1794
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-21 17:11] g4s8 opened #1795 "Deadlock after linking the project"
It happens twice with the same steps:
 1. Create and bootstrap the project [OK]
 2. Try to link the project in Slack [OK]
 3. Add 0crat as collaborator [Deadlock]

Some details:
 - error after linking the project:
[code]

 - deadlock stacktrace (this stacktrace for ledger, but it also fails for other items):

[code]

[2018-11-21 17:13] 0crat commented on #1795
Job [#1795](https://github.com/zerocracy/farm/issues/1795) is now in scope, role is `DEV`

[2018-11-21 17:19] 0crat commented on #1795
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-11-21 18:49] g4s8 commented on #1658
@rultor release, tag=`0.38.2`

[2018-11-21 18:51] rultor commented on #1658
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16612-440772662)

[2018-11-21 19:07] rultor commented on #1658
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16612-440772662) (spent 16min)

[code]

[2018-11-21 20:02] g4s8 commented on #1658
@rultor release, tag=`0.38.2`

[2018-11-21 20:03] rultor commented on #1658
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16612-440792532)

[2018-11-22 06:43] 0crat commented on #1790
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1790](https://github.com/zerocracy/farm/issues/1790), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-11-22 06:43] 0crat commented on #1790
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-11-22 07:04] 0pdd commented on #1790
The puzzle `1658-f3d9a105` has disappeared from the source code, that's why I closed this issue.

[2018-11-22 07:04] #1790 closed

[2018-11-22 07:04] 0pdd commented on #1536
@g4s8 2 puzzles [#1791](https://github.com/zerocracy/farm/issues/1791), [#1792](https://github.com/zerocracy/farm/issues/1792) are still not solved; solved: [#1658](https://github.com/zerocracy/farm/issues/1658), [#1790](https://github.com/zerocracy/farm/issues/1790).

[2018-11-22 07:04] 0pdd commented on #1658
@0pdd 2 puzzles [#1791](https://github.com/zerocracy/farm/issues/1791), [#1792](https://github.com/zerocracy/farm/issues/1792) are still not solved; solved: [#1790](https://github.com/zerocracy/farm/issues/1790).

[2018-11-22 07:05] g4s8 commented on #1790
@rultor release, tag=`0.38.3`

[2018-11-22 07:07] rultor commented on #1790
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16615-440932747)

[2018-11-22 08:36] g4s8 commented on #1790
@rultor release, tag=`0.38.3`

[2018-11-22 08:54] rultor commented on #1790
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16615-440952631) (spent 17min)

[code]

[2018-11-22 13:43] 0crat commented on #1765
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1765](https://github.com/zerocracy/farm/issues/1765), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-11-22 13:43] 0crat commented on #1765
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-11-22 18:55] 0pdd commented on #1765
The puzzle `1162-5bbf3bac` has disappeared from the source code, that's why I closed this issue.

[2018-11-22 18:55] #1765 closed

[2018-11-22 18:56] 0pdd opened #1796 "make_payment.groovy:43-44: In continuation of #1162, add..."
The puzzle `1162-41dbc93d` from #1162 has to be resolved:

https://github.com/zerocracy/farm/blob/84b3e084c292ad17488e0834e6829be6efa14222/src/main/groovy/com/zerocracy/stk/pm/cost/make_payment.groovy#L43-L44

The puzzle was created by Kirill on 22-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the tex

[2018-11-22 18:56] 0pdd commented on #1162
@proshin-roman the puzzle [#1796](https://github.com/zerocracy/farm/issues/1796) is still not solved; solved: [#1765](https://github.com/zerocracy/farm/issues/1765).

[2018-11-22 18:56] 0crat commented on #1796
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-22 19:03] 0crat commented on #1796
Job [#1796](https://github.com/zerocracy/farm/issues/1796) is now in scope, role is `DEV`

[2018-11-22 19:12] g4s8 commented on #1765
@rultor release, tag=`0.38.3`

[2018-11-22 19:13] 0crat commented on #1765
Job [#1765](https://github.com/zerocracy/farm/issues/1765) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2018-11-22 19:13] 0crat commented on #1765
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-22 19:14] rultor commented on #1765
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16627-441106229)

[2018-11-22 19:17] 0crat commented on #1765
The job [#1765](https://github.com/zerocracy/farm/issues/1765) is now out of scope

[2018-11-22 19:19] 0crat commented on #1765
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-11-22 19:32] rultor commented on #1765
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16627-441106229) (took me 17min)

[2018-11-23 09:20] g4s8 commented on #1765
@rultor release, tag=`0.38.4`

[2018-11-23 09:45] rultor commented on #1765
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16627-441189043) (took me 23min)

[2018-11-24 05:39] g4s8 commented on #1568
@paulodamaso it seems that you forgot to update this puzzle with next implementation steps, so 0pdd didn't close this job

[2018-11-24 08:26] dgroup opened #1797 "0crat unassigned issue due to cancelled pull request"
The history: https://github.com/llorllale/cactoos-matchers/issues/32.
The pull request for this task was raised in the top of the wrong branch, thus, it was closed and a new PR was raised.

As we can see now, the 0crat unsigned the issue.
What is the reason for such behavior, as I couldn't find it in the www.zerocracy.com/policy.html.

[2018-11-24 10:13] g4s8 commented on #1797
@dgroup as I can see this issue is assigned to you, see https://github.com/llorllale/cactoos-matchers/issues/32#issuecomment-441356843

Actually there is no relation between issue and pull request for 0crat, you can open as many pull request for one issue as needed (or zero PRs).

Also you can check job status with command: `status` in Github.

[2018-11-24 13:20] dgroup commented on #1797
@g4s8 , thanks a lot for the clarification.
Not a bug.

[2018-11-24 13:20] #1797 closed

[2018-11-24 13:40] 0crat commented on #1797
Job `gh:zerocracy/farm#1797` is not assigned, can't get performer

[2018-11-24 13:42] 0crat commented on #1797
This job is not in scope

[2018-11-24 21:17] LavinJ opened #1798 "Can't specify EUR currency when applying to project via Telegram bot"
When applying to a project of id `xxx` via Telegram bot, in particular

``` /apply xxx €16```

then the telegram bot reaction starts with:

```Argument "€16" doesn't match regex \$\d{1,3}```

The rate for the project can only be specified as dollars, even though my rate is specificied as EUR.

[2018-11-24 21:17] 0crat commented on #1798
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-24 21:17] 0crat commented on #1798
@lavinj[/z](https://www.0crat.com/u/lavinj) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-26 09:21] Serranya opened #1800 "WBS page looks like it doesn't work"
I am opening the WBS page with my current user (https://www.0crat.com/u/Serranya/wbs)
The page is completly empty. When I try to view the source there is also none there.

I as a user can not know whether this is intentional or a bug.

If it is intentional maybe add a text stating something like "There is nothing currently to see here".
Or remove the WBS button when there is nothing to show.

![gr

[2018-11-26 09:22] 0crat commented on #1800
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-26 09:22] 0crat commented on #1800
@serranya[/z](https://www.0crat.com/u/serranya) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-26 10:45] g4s8 commented on #1800
@Serranya it's uncompleted feature, see #1640

[2018-11-26 10:56] Serranya commented on #1800
Ahh I see. So should I close the ticket?

[2018-11-26 12:05] Serranya opened #1801 "Profile picture is not displayed"
I don't see my profile picture on my user page:
![grafik](https://user-images.githubusercontent.com/1206309/49013049-baad6f80-f17b-11e8-8131-324a33ad1a80.png)

This seems to be a problem at https://github.com/terales/socatar. I reported https://github.com/terales/socatar/issues/129

[2018-11-26 12:05] 0crat commented on #1801
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-26 12:05] 0crat commented on #1801
@serranya[/z](https://www.0crat.com/u/serranya) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-26 14:44] 0crat commented on #1801
Job `gh:zerocracy/farm#1801` is not assigned, can't get performer

[2018-11-26 14:45] 0crat commented on #1801
This job is not in scope

[2018-11-27 06:08] g4s8 commented on #1800
@Serranya yes please

[2018-11-27 06:21] #1800 closed

[2018-11-27 06:41] 0crat commented on #1800
Job `gh:zerocracy/farm#1800` is not assigned, can't get performer

[2018-11-27 06:42] 0crat commented on #1800
This job is not in scope

[2018-11-27 12:38] paulodamaso opened #1802 "0crat put issue on WBS on close"
Take a look at the ending comments in https://github.com/yegor256/takes/issues/352#issuecomment-442041231: 0crat was told to put the issue on WBS a long time ago and did not understood at the time. But it put the issue on WBS when I closed the issue.

0crat should not allow this to happen, i.e, it should not put closed issues on WBS.

[2018-11-27 12:38] 0crat commented on #1802
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-27 17:02] 0crat commented on #1802
Job [#1802](https://github.com/zerocracy/farm/issues/1802) is now in scope, role is `DEV`

[2018-11-27 17:09] 0crat commented on #1802
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-11-27 17:09] g4s8 commented on #1802
@paulodamaso it's a bug definitely.
Attached footprint: [fp_takes352.txt](https://github.com/zerocracy/farm/files/2621061/fp_takes352.txt)

[2018-11-27 20:17] paulodamaso commented on #1568
@g4s8 please take a look at https://github.com/zerocracy/farm/pull/1799

[2018-11-28 01:42] paulodamaso opened #1803 "Projects with no funds should not count on election"
When a project is under funded 0crat stops assigning issues to developers. But when it already assigned the task, it becomes stuck in developer agenda until project becomes funded again or developer resigns the task. In my case, I have more than half of my agenda slots filled by tasks that already had been performed (I've already opened a PR for them) and 0crat is waiting for project funding to as

[2018-11-28 01:43] 0crat commented on #1803
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-28 05:19] g4s8 commented on #1803
@paulodamaso you will receive payments in all jobs where you've been elected, because 0crat lock some amount of funds to pay you on complete (it's in `estimates.xml`). So the problem is only in PRs, right? As a hot-fix you can ask ARC of the project to review and merge your PRs.

[2018-11-28 11:18] paulodamaso commented on #1803
@g4s8 Thanks for the solution, I'll ask the architects to review and merge these stuck tasks. But I think that is just a quick fix for this problem; I still think that zerocrat should ignore these tasks when electing new jobs.

[2018-11-28 19:20] paulodamaso opened #1804 "@0crat2 reject validly formatted username when assigning"
Asking `@0crat2 assign` on slack chat returns:
[code]
Then I try to invite someone:
`@0crat2 assign DEV @krzyk $16`
And the bot answers:
`@Paulo Lobo Argument "@krzyk" doesn't match regex '@?[a-zA-Z0-9\-]+'`

But the supplied argument match the regex. If I submit the user name without the "@" it accepts:
[code]
So the regex check for this command is wrong and should be fixed (ot the message would

[2018-11-28 19:20] 0crat commented on #1804
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-29 07:05] g4s8 commented on #1803
@paulodamaso actually it's hard to estimate how much money to spend for pull requests, because one ticket may be fixed with few PRs `pr-count * (rate(REV) * 15min + rate(QA) * 8min + rate(ARC) * 10min)` or it's possible to resolve with single small PR <10 lines = without code review (free for project).
Maybe we can assign ARC to review pull request on deficit? ARC will not receive cash payment in

[2018-11-29 07:32] 0pdd commented on #1568
The puzzle `1506-ecd7faa7` has disappeared from the source code, that's why I closed this issue.

[2018-11-29 07:32] 0pdd opened #1805 "TkJoinTest.java:38-41: TkJoinTest is not checking if join..."
The puzzle `1568-f8e630b6` from #1568 has to be resolved:

https://github.com/zerocracy/farm/blob/317bd2c140a0149abfe073597b098927d3d9ea8d/src/test/java/com/zerocracy/tk/TkJoinTest.java#L38-L41

The puzzle was created by paulodamaso on 28-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2018-11-29 07:32] 0pdd commented on #908
@0pdd 2 puzzles [#1774](https://github.com/zerocracy/farm/issues/1774), [#1805](https://github.com/zerocracy/farm/issues/1805) are still not solved; solved: [#1146](https://github.com/zerocracy/farm/issues/1146), [#1147](https://github.com/zerocracy/farm/issues/1147), [#1179](https://github.com/zerocracy/farm/issues/1179), [#1352](https://github.com/zerocracy/farm/issues/1352), [#1353](https://git

[2018-11-29 07:32] 0pdd commented on #1147
@0pdd 2 puzzles [#1774](https://github.com/zerocracy/farm/issues/1774), [#1805](https://github.com/zerocracy/farm/issues/1805) are still not solved; solved: [#1179](https://github.com/zerocracy/farm/issues/1179), [#1506](https://github.com/zerocracy/farm/issues/1506), [#1568](https://github.com/zerocracy/farm/issues/1568), [#1569](https://github.com/zerocracy/farm/issues/1569), [#1645](https://git

[2018-11-29 07:32] 0pdd commented on #1179
@0pdd 2 puzzles [#1774](https://github.com/zerocracy/farm/issues/1774), [#1805](https://github.com/zerocracy/farm/issues/1805) are still not solved; solved: [#1506](https://github.com/zerocracy/farm/issues/1506), [#1568](https://github.com/zerocracy/farm/issues/1568), [#1569](https://github.com/zerocracy/farm/issues/1569), [#1645](https://github.com/zerocracy/farm/issues/1645).

[2018-11-29 07:32] 0pdd commented on #1506
@0pdd 2 puzzles [#1774](https://github.com/zerocracy/farm/issues/1774), [#1805](https://github.com/zerocracy/farm/issues/1805) are still not solved; solved: [#1568](https://github.com/zerocracy/farm/issues/1568), [#1569](https://github.com/zerocracy/farm/issues/1569), [#1645](https://github.com/zerocracy/farm/issues/1645).

[2018-11-29 07:32] 0pdd commented on #1568
@0pdd the puzzle [#1805](https://github.com/zerocracy/farm/issues/1805) is still not solved.

[2018-11-29 07:33] 0crat commented on #1805
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-29 07:34] g4s8 commented on #1568
@rultor release, tag=`0.38.5`

[2018-11-29 07:36] rultor commented on #1568
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16701-442734657)

[2018-11-29 07:38] 0crat commented on #1805
Job [#1805](https://github.com/zerocracy/farm/issues/1805) is now in scope, role is `DEV`

[2018-11-29 07:53] rultor commented on #1568
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16701-442734657) (took me 16min)

[2018-11-29 07:57] 0crat commented on #1568
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-29 07:59] 0crat commented on #1568
The job [#1568](https://github.com/zerocracy/farm/issues/1568) is now out of scope

[2018-11-29 10:12] ypshenychka commented on #1568
@0crat quality good

[2018-11-29 10:19] paulodamaso commented on #1803
@g4s8 My concern here is not about payment, but about stale jobs preventing 0crat assign me new tasks. I'd be happy if we could just ignore issues that belongs to projects with funds `< 0` when electing jobs for performer.

[2018-11-29 10:22] 0crat commented on #1568
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-11-29 10:22] 0crat commented on #1568
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-29 10:47] g4s8 commented on #1568
@paulodamaso yes, this project doesn't have cash right now, so it's not possible to pay extra

[2018-11-29 10:53] ypshenychka commented on #1568
@g4s8 I didn't receive payment as well.

[2018-11-29 16:54] verkhovin opened #1806 "Assigning PR as REV to the person with 0 reputation"
I am a new at zerocracy and **I have no any reputation**.
I applied project [jPeek](https://github.com/yegor256/jpeek) with telegram bot and then recieved the list of messages:

[code]

So now I have no any reputation and I have `REV` job assigned to me in my agenda. In the same time there is no comments from @0crat in the [issue](https://github.com/yegor256/jpeek/issues/266) about my assignition.

[2018-11-29 16:54] 0crat commented on #1806
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-29 16:54] 0crat commented on #1806
@verkhovin[/z](https://www.0crat.com/u/verkhovin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-29 23:58] paulodamaso opened #1807 "Project report pages"
Following the principle of "No Informal Communications", 0crat web interface should provide a web page where `ARC` would post their project reports to `PO`. Nowadays we do not have an "official" way of sending these reports, so reports are sent via informal means of communication. This functionality would have:
- page where `ARC` would put reports for the projects he/she is responsible for. Each r

[2018-11-29 23:58] 0crat commented on #1807
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-30 07:38] g4s8 commented on #1784
@yegor256 reminders are implemented and configured to ping ARC every 2 weeks

[2018-11-30 07:38] #1784 closed

[2018-11-30 07:40] g4s8 commented on #1807
@paulodamaso according to origin issue #1784 ARC should send a report via email:

[2018-11-30 07:43] g4s8 commented on #1806
@verkhovin it's a bug: we should not assign REV role in such case (if it can be unassigned because of low reputation), we should check reputation before assigning the role.

[2018-11-30 07:54] 0crat commented on #1806
Job [#1806](https://github.com/zerocracy/farm/issues/1806) is now in scope, role is `DEV`

[2018-11-30 07:57] 0crat commented on #1784
Job [#1784](https://github.com/zerocracy/farm/issues/1784) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2018-11-30 08:02] 0crat commented on #1806
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @verkhovin[/z](https://www.0crat.com/u/verkhovin)

[2018-11-30 08:02] 0crat commented on #1784
The job [#1784](https://github.com/zerocracy/farm/issues/1784) is now out of scope

[2018-11-30 08:02] 0crat commented on #1784
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-11-30 08:40] ypshenychka commented on #1568
@g4s8 ping

[2018-11-30 10:30] paulodamaso commented on #1807
@g4s8 Yes, I am proposin an upgrade to this process

[2018-11-30 11:48] g4s8 commented on #1807
@yegor256 please look at this issue

[2018-11-30 18:34] paulodamaso commented on #1568
@g4s8 did not received anything here

[2018-11-30 18:53] verkhovin opened #1808 "@0crat failed to pay and didn't increase debt"
I created an issue #1806 which was deserved to be a job so  @0crat awarded 15 minutes to me, this fact is reflected on my awards page. But there is no any notifications about transactions (and i didn't recieved anything). It is seems ok because amount is very small [(§29)](http://www.zerocracy.com/policy.html#46).

But also there is no any records about this transaction in project's [Ledger](https

[2018-11-30 18:54] 0crat commented on #1808
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-11-30 18:54] 0crat commented on #1808
@verkhovin[/z](https://www.0crat.com/u/verkhovin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-02 12:48] filfreire commented on #1798
@g4s8, @LavinJ  same also happens if the user writes down in the same format as when specifying the rate:
```Argument "16EUR" doesn't match regex \$\d{1,3}```

[2018-12-02 14:08] g4s8 commented on #1808
@verkhovin 0crat pays cash or equity only to project members, if you don't have any role in the project 0crat will pay you with reputation points only.

[2018-12-02 14:30] verkhovin commented on #1808
@g4s8 I got it.Thank you for the answer!

[2018-12-02 14:30] #1808 closed

[2018-12-02 14:46] 0crat commented on #1808
Job `gh:zerocracy/farm#1808` is not assigned, can't get performer

[2018-12-02 14:46] 0crat commented on #1808
This job is not in scope

[2018-12-02 15:48] g4s8 commented on #1806
@verkhovin no, this task is assigned to you, it's not your mistake, you'll be payed on close. But you can refuse any job if you want.

[2018-12-03 18:15] paulodamaso commented on #1568
@g4s8 ping

[2018-12-03 18:15] paulodamaso commented on #1802
@g4s8 Did not received payment for this one, just like https://github.com/zerocracy/farm/issues/1568

[2018-12-04 00:46] paulodamaso opened #1809 "Error on takes slack channel"
I've received this message on takes slack channel today:
[code]

[2018-12-04 00:46] 0crat commented on #1809
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-04 01:44] paulodamaso opened #1810 "Review of Policy item 33"
I think that the rules defined in http://www.zerocracy.com/policy.html#33 should be revised. I do not see any logic in expelling veteran users from sandbox projects. I think that veteran users should be allowed to get tasks and take part on sandbox projects too. Let's not forget that one of the main projects of EO (cactoos) is a sandbox project, and it would benefit from the contribution of vetera

[2018-12-04 01:44] 0crat commented on #1810
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-04 05:53] g4s8 commented on #1810
@yegor256 please look at this issue

[2018-12-04 05:54] g4s8 commented on #1568
@0crat status

[2018-12-04 05:55] 0crat commented on #1568
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1568](https://github.com/zerocracy/farm/issues/1568) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%231568%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-12-04 06:01] g4s8 opened #1811 "0crat failed to pay for estimated job"
0crat skipped cash payment for estimated job

[2018-12-04 06:02] g4s8 commented on #1568
@paulodamaso @ypshenychka it's a bug, I'm fixing it: #1811

[2018-12-04 06:02] 0crat commented on #1811
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1811](https://github.com/zerocracy/farm/issues/1811), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-12-04 06:04] 0crat commented on #1811
Job `gh:zerocracy/farm#1811` already assigned to @g4s8, can't assign to @g4s8

[2018-12-04 06:09] 0crat commented on #1811
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-12-04 06:09] 0crat commented on #1811
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-12-04 06:09] 0crat commented on #1811
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-12-04 06:30] g4s8 commented on #1811
@rultor release, tag=`0.38.6`

[2018-12-04 06:33] rultor commented on #1811
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16752-443987156)

[2018-12-04 06:47] rultor commented on #1811
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16752-443987156) (spent 14min)

[code]

[2018-12-04 08:48] rultor commented on #1658
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16612-444013125) (took me 19min)

[2018-12-05 13:37] krzyk opened #1812 "Add 0crat command to create a milestone"
ARC not always has full access to the repo (e.g. I have such problem in qulice) and to prioritize tasks I should be able to move them into milestones with given start/end dates.

Please create a command like:
[code]

This should create a milestone `some_milestone_label` with target date of `2018-12-28`.

[2018-12-05 13:38] 0crat commented on #1812
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-05 15:51] paulodamaso commented on #1811
@g4s8 Please take a look at this, I have some jobs that were not paid due this.

[2018-12-06 02:35] paulodamaso opened #1813 "Show zold walled ID on profile page"
0crat should show zold wallet id of user in profile page, with a link to zold user home page (https://wts.zold.io/home)

[2018-12-06 02:35] 0crat commented on #1813
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-06 06:37] g4s8 opened #1814 "Too many twitter messages"
twitter4j.TwitterException: 403:The request is understood, but it has been refused. An accompanying error message will explain why. This code is used when requests are being denied due to update limits (https://support.twitter.com/articles/15364-about-twitter-limits-update-api-dm-and-following).
message - To protect our users from spam and other malicious activity, this account is temporarily lock

[2018-12-06 06:58] g4s8 commented on #1814
@rultor release, tag=`0.38.7`

[2018-12-06 07:00] rultor commented on #1814
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16785-444768670)

[2018-12-06 07:19] rultor commented on #1814
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16785-444768670) (took me 18min)

[2018-12-06 10:57] ypshenychka opened #1815 "0crat failed to pay debt"
This is what I received from 0crat 6 minutes ago. My Wallet is configured to Bitcoin.

[2018-12-06 10:57] 0crat commented on #1815
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-06 16:44] 0crat commented on #1815
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1815](https://github.com/zerocracy/farm/issues/1815), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-12-06 16:44] 0crat commented on #1815
Job `gh:zerocracy/farm#1815` already assigned to @g4s8, can't assign to @g4s8

[2018-12-06 16:48] 0crat commented on #1815
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-12-06 16:49] 0crat commented on #1815
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-06 16:56] g4s8 commented on #1815
@ypshenychka coinbase deprecated v1 API:
[code]
and they doesn't have v2 library for java, so it may take some time to implement it using [HTTP API](https://developers.coinbase.com/api/v2).
If possible try to use Paypal wallet until fix.

[2018-12-06 17:39] ypshenychka commented on #1815
@g4s8 Unfortunately I can't use PayPal :( How long do you think a fix could take?

[2018-12-06 17:41] ypshenychka commented on #1815
@g4s8 Wouldn't it be easier to connect support for Payoneer? A while ago @yegor256 was looking into it, but I don't know the results.

[2018-12-06 20:00] skapral opened #1816 "What happens with the project's funds when it is destroyed?"
I have a question on this [point](https://www.zerocracy.com/policy.html#25) of Policy. I recently destroyed (`@0crat destroy`) my project ([oo-atom](https://github.com/pragmatic-objects/oo-atom)) from 0crat, since it was behaving [inadequately](https://github.com/zerocracy/farm/issues/1182) anyway after rebranding. However, I remember there were some funds.

I wonder what happened to them?

Also,

[2018-12-06 20:01] 0crat commented on #1816
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-06 20:01] 0crat commented on #1816
@skapral[/z](https://www.0crat.com/u/skapral) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-06 20:02] skapral commented on #1182
@g4s8, JFYI I decided to destroy the project. After destroying it, all incorrectly assigned tasks were gone.

[2018-12-06 20:17] paulodamaso opened #1817 "0crat is not paying architect release bonus"
Today I released tag 1.11.4 in https://github.com/yegor256/takes/issues/838#issuecomment-444944098 for project takes, but the release bonus (http://www.zerocracy.com/policy.html#54) does  not appear in my wallet. I have no traces of it even in slack chat, looks like zerocrat just forgot to pay me for this release.

[2018-12-06 20:17] 0crat commented on #1817
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-07 06:45] g4s8 commented on #1817
@paulodamaso The claim to pay you for release was submitted successfully, see https://www.0crat.com/footprint/C3FFK3YAY/a223a63a-d5c2-4bcc-9a9e-e4f63c11e120
but the project doesn't have enough cash to pay you, so cash payments was ignored (you've received only reputation points and Zold bonus). So it's not Zerocracy bug, to fix it you may ask PO to fund the project.

[2018-12-07 06:51] g4s8 commented on #1816
@skapral it's described on prject page in 0crat.com:

So you can receive available cash back, just email to refund@zerocracy.com and ask for unspent amount.

[2018-12-07 06:57] g4s8 commented on #1815
@ypshenychka I'll try to solve it today

[2018-12-07 09:51] skapral commented on #1816
@g4s8 it's not what I am asking. I am asking "What happens with the funds after the project is destroyed". Besides, there is no project page anymore. And I don't remember how much was left there.

[2018-12-07 10:18] paulodamaso commented on #1817
@g4s8 All right, so I think that 0crat should say something like "Not enough funds" or something. Another doubt, all failed payments due no funding are lost then?

[2018-12-07 14:20] g4s8 commented on #1816
@skapral all data for your project are deleted on destroy. Of course we have backups, so it's possible to find your project ledger information here.

[2018-12-07 15:47] g4s8 commented on #1815
@0crat boost x8

[2018-12-07 15:48] 0crat commented on #1815
@g4s8 Argument "x8" doesn't match regex `\d+x`

[2018-12-07 15:53] g4s8 commented on #1815
@0crat boost 8x

[2018-12-07 15:54] 0crat commented on #1815
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1815](https://github.com/zerocracy/farm/issues/1815), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-12-07 15:54] 0crat commented on #1815
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-12-07 16:03] emilianodellacasa opened #1818 "REV job assigned after closing of a PR"
I have been assigned a PR as REV several minutes after the author closed it. How is it possible?

https://github.com/zold-io/zold-score/pull/22#issuecomment-445277191

A PR that is closed should not be assigned to anyone.

[2018-12-07 16:03] 0crat commented on #1818
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-07 16:03] 0crat commented on #1818
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-07 16:21] g4s8 commented on #1815
@rultor release, tag=`0.39.1`

[2018-12-07 16:22] 0pdd opened #1819 "Coinbase.java:136-139: We're loading all transactions..."
The puzzle `1815-c9e7ebc3` from #1815 has to be resolved:

https://github.com/zerocracy/farm/blob/3296b04158c0858bc75bb90f7a64958d84eb8621/src/main/java/com/zerocracy/pmo/banks/coinbase/Coinbase.java#L136-L139

The puzzle was created by Kirill on 07-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2018-12-07 16:22] 0pdd commented on #1815
@ypshenychka the puzzle [#1819](https://github.com/zerocracy/farm/issues/1819) is still not solved.

[2018-12-07 16:22] 0crat commented on #1819
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-07 16:23] 0crat commented on #1819
Job [#1819](https://github.com/zerocracy/farm/issues/1819) is now in scope, role is `DEV`

[2018-12-07 16:48] rultor commented on #1815
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16798-445284518) (took me 24min)

[2018-12-07 17:13] 0crat commented on #1812
Job [#1812](https://github.com/zerocracy/farm/issues/1812) is now in scope, role is `DEV`

[2018-12-07 17:20] 0crat commented on #1747
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1747](https://github.com/zerocracy/farm/issues/1747), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-12-07 17:20] 0crat commented on #1812
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-07 17:20] 0crat commented on #1747
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-12-07 19:50] g4s8 commented on #1747
@rultor release, tag=`0.39.2`

[2018-12-07 19:52] rultor commented on #1747
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16799-445345890)

[2018-12-07 20:11] rultor commented on #1747
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16799-445345890) (took me 18min)

[2018-12-08 01:55] llorllale commented on #979
@g4s8 WDYT?

[2018-12-08 07:37] g4s8 commented on #1815
@rultor release, tag=`0.39.3`

[2018-12-08 07:38] rultor commented on #1815
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16798-445439526)

[2018-12-08 07:57] rultor commented on #1815
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16798-445439526) (took me 18min)

[2018-12-08 12:14] g4s8 commented on #979
@yegor256 please look here

[2018-12-10 13:57] g4s8 commented on #1815
@rultor release, tag=`0.39.4`

[2018-12-10 13:57] g4s8 commented on #1815
@ypshenychka yes, I think it should work soon

[2018-12-10 14:00] rultor commented on #1815
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16798-445823619)

[2018-12-10 14:17] g4s8 commented on #1568
@paulodamaso yes, but I've release next version from other bug, now it's 0.39.3

[2018-12-10 14:23] rultor commented on #1815
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16798-445823619) (took me 21min)

[2018-12-10 16:03] g4s8 commented on #1815
@rultor release, tag=`0.39.5`

[2018-12-10 16:06] rultor commented on #1815
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16798-445868839)

[2018-12-10 16:17] yegor256 opened #1820 "limit the ZLD payouts"
Let's make sure we send ZLD only to those customers who fund "sandbox" projects. Not all, but only sandbox ones. Also, let's stop sending ZLD as gifts to programmers. Let's send them only when their wallet is "zld".

[2018-12-10 16:17] 0crat commented on #1820
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-10 16:24] rultor commented on #1815
@g4s8 @ypshenychka Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16798-445868839) (spent 18min)

[code]

[2018-12-10 16:44] g4s8 commented on #1815
@rultor release, tag=`0.39.5`

[2018-12-10 16:46] rultor commented on #1815
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16798-445884503)

[2018-12-10 17:07] rultor commented on #1815
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16798-445884503) (took me 20min)

[2018-12-10 17:13] g4s8 commented on #1815
@rultor release, tag=`0.39.6`

[2018-12-10 17:15] rultor commented on #1815
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16798-445895115)

[2018-12-10 17:30] rultor commented on #1815
@g4s8 @ypshenychka Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16798-445895115) (spent 15min)

[code]

[2018-12-10 17:35] g4s8 commented on #1815
@rultor release, tag=`0.39.6`

[2018-12-10 17:38] rultor commented on #1815
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16798-445902815)

[2018-12-10 17:55] rultor commented on #1815
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16798-445902815) (took me 16min)

[2018-12-11 10:04] emilianodellacasa opened #1821 "Problem in paying Zold"
Apparently payment in Zold is not working correctly, see [here](https://github.com/zold-io/zold/pull/617#issuecomment-445979466)

PID: 4@e837183b-5828-47d4-af8c-cb6d98ed3cd9, thread: AsyncProc-8
com.zerocracy.farm.reactive.StkRuntime[76] java.lang.IllegalStateException: org.codehaus.groovy.runtime.InvokerInvocationException in com.zerocracy.stk.pm.cost.funding.send_zold
org.codehaus.groovy.reflect

[2018-12-11 10:04] 0crat commented on #1821
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-11 10:04] 0crat commented on #1821
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-11 13:57] victornoel commented on #1821
Same here : https://github.com/yegor256/takes/issues/804#issuecomment-446202379

[2018-12-11 13:58] victornoel commented on #1821
@g4s8 same here : https://github.com/yegor256/takes/issues/804#issuecomment-446202379

[2018-12-11 19:30] llorllale opened #1822 "Can't assign roles to users"
People are trying to join the `cactoos` project but `0crat` is ignoring my commands to assign roles to them.

User @marceloamadeu is applying to join, `0crat` notifies me in the channel, yet it ignores my command `@0crat2 assign DEV @marceloamadeu`.

[2018-12-11 19:30] 0crat commented on #1822
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-11 19:30] 0crat commented on #1822
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-12 08:19] 0crat commented on #1820
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1820](https://github.com/zerocracy/farm/issues/1820), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-12-12 08:21] 0crat commented on #1820
Job `gh:zerocracy/farm#1820` already assigned to @g4s8, can't assign to @g4s8

[2018-12-12 09:43] g4s8 commented on #1815
@ypshenychka can we close this?

[2018-12-12 09:43] g4s8 commented on #1811
@paulodamaso should be fixed now

[2018-12-12 09:43] #1811 closed

[2018-12-12 09:44] g4s8 commented on #1747
@yegor256 fixed

[2018-12-12 09:44] #1747 closed

[2018-12-12 10:15] 0crat commented on #1811
Job [#1811](https://github.com/zerocracy/farm/issues/1811) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2018-12-12 10:15] 0crat commented on #1747
Job [#1747](https://github.com/zerocracy/farm/issues/1747) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2018-12-12 10:24] 0crat commented on #1811
The job [#1811](https://github.com/zerocracy/farm/issues/1811) is now out of scope

[2018-12-12 16:04] g4s8 commented on #1820
@rultor release, tag=`0.39.7`

[2018-12-12 16:06] rultor commented on #1820
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16873-446641505)

[2018-12-12 16:11] g4s8 commented on #1821
@emilianodellacasa @victornoel it should be fixed with https://github.com/zerocracy/farm/issues/1820

[2018-12-12 16:13] emilianodellacasa commented on #1821
@g4s8 Ok, I will open a new issue in case the problem appears again

[2018-12-12 16:13] #1821 closed

[2018-12-12 16:35] 0crat commented on #1821
Job `gh:zerocracy/farm#1821` is not assigned, can't get performer

[2018-12-12 16:37] 0crat commented on #1821
This job is not in scope

[2018-12-12 19:57] ypshenychka commented on #1815
@g4s8 probably it's better to wait and see hot it goes with next debt payment?

[2018-12-12 20:07] skapral commented on #1816
@g4s8 lets assume that I haven't requested for refund. What will happen to these funds?

[2018-12-13 01:20] carlosmiranda commented on #1151
@0crat refuse

[2018-12-13 01:20] 0crat commented on #1151
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1151](https://github.com/zerocracy/farm/issues/1151), please stop working. Reason for job resignation: Order was cancelled

[2018-12-13 01:21] 0crat commented on #1151
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-12-13 06:21] g4s8 commented on #1820
@yegor256 it should be fixed in `0.39.7`, can we close?

[2018-12-13 06:55] g4s8 commented on #1816
@skapral I don't know, please ask @yegor256 about it

[2018-12-13 06:56] g4s8 commented on #1815
@ypshenychka sure, let's wait. BTW I'm receiving BTC paymants successfully

[2018-12-13 06:59] 0crat commented on #1822
Job [#1822](https://github.com/zerocracy/farm/issues/1822) is now in scope, role is `DEV`

[2018-12-13 07:04] 0crat commented on #1818
Job [#1818](https://github.com/zerocracy/farm/issues/1818) is now in scope, role is `DEV`

[2018-12-13 07:06] 0crat commented on #1822
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-13 07:06] 0crat commented on #1818
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-12-13 12:45] paulodamaso commented on #1568
@g4s8 I did not received payment for this one, please take a look

[2018-12-13 16:22] ypshenychka commented on #1568
@g4s8 same for me

[2018-12-13 16:53] paulodamaso opened #1824 "0crat not assigning tasks"
Project `takes`:
- 0crat is not assigning tasks even when some project members have $0 rate. The project does not have funds, but it should assign tasks to people who works for free.

[2018-12-13 16:53] 0crat commented on #1824
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-13 22:21] paulodamaso opened #1825 "Staff page should show more info"
Staff page shows us just project members and their roles. It should show more info, like which one is on vacation, rates, etc. These info are already displayed in other pages but it should be nice to have them all grouped in the same page.

[2018-12-13 22:21] 0crat commented on #1825
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-14 09:05] ypshenychka commented on #1815
@g4s8 Thanks. Payment was made successfully.

[2018-12-14 09:05] #1815 closed

[2018-12-14 09:30] 0crat commented on #1815
The job [#1815](https://github.com/zerocracy/farm/issues/1815) is now out of scope

[2018-12-14 09:32] 0crat commented on #1815
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-12-14 12:42] skapral commented on #1816
@yegor256?

[2018-12-14 16:58] paulodamaso opened #1827 "Inconsistencies between rates and staff pages"
Staff and rates pages have inconsistencies between them: there are members in staff which does not appear in rates page. Please see `pm/cost/rates` and `pm/staff/roles`.

[2018-12-14 16:58] 0crat commented on #1827
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-14 17:10] paulodamaso opened #1828 "Show contact info on user page"
0crat should show user's telegram account, e-mail and /or slack account name on its user page. Although we should not have informal communications in projects sometimes the `ARC` needs to talk to someone when there is no related ticket (for example, when asking for a rate change), and having this info in user page would help.

[2018-12-14 17:10] 0crat commented on #1828
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-14 19:16] g4s8 commented on #1827
@paulodamaso why do you think it's a bug? Project may have some people without rate, e.g. `PO` doesn't have rate but has a role.

[2018-12-15 01:33] paulodamaso commented on #1827
@g4s8 Right, `PO` is a true case here. Well, maybe we should put some warning in `rates` page telling that maybe not all team members are listed there due these situations or show staff members with no rate or $0 rate in this page as well, WDYT?

[2018-12-15 06:47] g4s8 commented on #1828
@paulodamaso I think it's a valid case, but 0crat knows only Telegram id (not username) and Slack id (but you won't be able to find the Slack group where the user has this id, also you won't be able to join users Slack without invitation). So I see the only way to show user contacts: save Telegram username when user joins 0crat bot and show it on profile page if exist.
@yegor256 please approve it

[2018-12-15 07:12] g4s8 commented on #1827
@paulodamaso I don't think it's a valid bug, because this warning will be shown always: each project has a PO, so in every project this situation happens. Also rates page doesn't claim that it contains all project members.

[2018-12-15 10:41] paulodamaso commented on #1827
@g4s8 Okay, it was just a suggestion to improve  these pages because I've found it a bit confusing at first.

[2018-12-15 11:36] SergeyKutsko commented on #1712
@g4s8 Could you provide template for settings.xml?

[2018-12-15 17:33] g4s8 commented on #1712
@SergeyKutsko we don't have such template

[2018-12-15 17:50] SergeyKutsko commented on #1712
@g4s8 What a structure of this file?

[2018-12-15 18:43] g4s8 commented on #1712
@SergeyKutsko https://maven.apache.org/settings.html

[2018-12-15 18:45] SergeyKutsko commented on #1712
thx

сб, 15 дек. 2018 г., 20:43 Kirill notifications@github.com:

[2018-12-17 00:00] llorllale commented on #1824
@g4s8 I'm having this same issue in `cactoos`

[2018-12-17 11:24] paulodamaso commented on #1824
@g4s8 ping

[2018-12-18 03:56] fabriciofx opened #1829 "Let's remove all transient keyword"
Let's remove all uncessary `transient` keyword. There are some spread around the code.

[2018-12-18 03:56] 0crat commented on #1829
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-18 03:56] 0crat commented on #1829
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-18 21:00] paulodamaso opened #1830 "0crat assigned REV job to DEV"
Happened with me on https://github.com/jcabi/jcabi-github/issues/1454 :
I've made the PR, my role was `DEV`, but `0crat` insisted and assigned me as `REV` on this one too
So both of issues are on my agenda:
![image](https://user-images.githubusercontent.com/33915433/50182635-0379c380-02f7-11e9-80e2-dacb049d03d8.png)

![image](https://user-images.githubusercontent.com/33915433/50182672-1be9de00-02f

[2018-12-18 21:00] 0crat commented on #1830
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-20 01:47] paulodamaso opened #1832 "Confusion in 0crat and 0pdd integration"
The ticket is https://github.com/yegor256/jpeek/issues/122 and the PR is https://github.com/yegor256/jpeek/pull/283 :

The issue has been resolved as usual, and after merge 0pdd closed the issue (https://github.com/yegor256/jpeek/pull/283#commitcomment-31735010):

Soon after, 0crat informed me that he could not close order because 0pdd should close it (https://github.com/yegor256/jpeek/issues/122#

[2018-12-20 01:47] 0crat commented on #1832
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-20 01:50] paulodamaso commented on #1832
@g4s8 Looks like opening and closing it manually did the trick. I'll close this issue then.

[2018-12-20 01:50] #1832 closed

[2018-12-20 02:07] 0crat commented on #1832
Job `gh:zerocracy/farm#1832` is not assigned, can't get performer

[2018-12-20 02:07] 0crat commented on #1832
This job is not in scope

[2018-12-21 08:35] emilianodellacasa opened #1833 "ZLD payments for issues not sent"
My wallet is set to ZLD and I was expecting to receive ZLD upon completing tasks.

However, no ZLD was received after completing a task, and also when the debt "expired".

Maybe payments are not working, or mayne this is due to #1820

[2018-12-21 08:35] 0crat commented on #1833
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-21 08:35] 0crat commented on #1833
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-25 15:54] yegor256 commented on #979
@g4s8 I like the idea, let's do it.

[2018-12-25 16:00] yegor256 commented on #1807
@paulodamaso well, how about just adding them to the repository? Just create a directory "status-reports" and add them there, like `2018-12-25.md`, etc.

[2018-12-25 16:07] yegor256 commented on #1810
@paulodamaso that will be a waste of money for us. What's the point of burning cash on those veterans in sandbox projects?

[2018-12-25 16:11] yegor256 commented on #1717
@g4s8 I like it, let's do it.

[2018-12-25 16:31] yegor256 commented on #1751
@g4s8 yes, I like the idea of "quarantine" period for a new role. Two days look reasonable.

[2018-12-25 16:44] 0crat commented on #1820
Job [#1820](https://github.com/zerocracy/farm/issues/1820) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2018-12-25 16:48] 0crat commented on #1820
The job [#1820](https://github.com/zerocracy/farm/issues/1820) is now out of scope

[2018-12-25 16:50] 0crat commented on #1820
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-12-25 18:34] 0crat commented on #1751
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-25 21:38] paulodamaso commented on #1807
@yegor256 Well, your solution is good, but I still think that we should be able to configure desired report frequency for the project, with default of 15 days, and that telegram and slack bots should notify `ARC` when report is late, based on defined report frequency and commit or merge time of the report, WDYT?

[2018-12-25 21:59] paulodamaso commented on #1810
@yegor256 I don't see as a waste of money: considering that sandbox projects are used to train the members on how zerocracy works, could happen that we get a task made and reviewed by users too green, and this adds too much work to final `ARC` review. If we let some veteran users to assume `REV` roles we would enforce quality in project with revisions made by these veterans users

[2018-12-27 03:01] fabriciofx opened #1834 "Add a docker environment"
Let's add a docker environment to allow any dev to build/run/test `farm` before submit any PR.

[2018-12-27 03:02] 0crat commented on #1834
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-27 03:02] 0crat commented on #1834
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-27 09:01] g4s8 commented on #1712
@denis-konovalyenko described maven profiles in https://github.com/zerocracy/farm/commit/8613edcae38705ea659766040b19d98c26539b0c

[2018-12-27 09:01] #1712 closed

[2018-12-27 09:07] g4s8 commented on #1834
@fabriciofx you can run tests with maven using `mvn install`, you don't need docker for that. Docker may help only to run farm, but actually you don't need it, see https://www.yegor256.com/2016/02/09/are-you-still-debugging.html
BTW Docker will not help here, there are a lot of AWS services you will need to setup and pay to be able to run farm.
Duplicate of #1712

[2018-12-27 09:07] #1834 closed

[2018-12-27 15:40] paulodamaso commented on #1830
@g4s8 happened again in https://github.com/amihaiemil/docker-java-api/pull/247 : 0crat assigned me my own PR. The foorprint: https://www.0crat.com/footprint/G6LPQQV2P/881a8aa9-e31a-4eda-ba7e-492040818186

[2018-12-27 17:02] yegor256 opened #1835 "/known/<user-name>"
Let's add a new HTTP entry point `/known/<user-name>`, which will either return 200, if the user is known to us, or 404 if we don't know him/her. We need this for this feature in Zold: https://github.com/zold-io/wts.zold.io/issues/90

[2018-12-27 17:02] 0crat commented on #1835
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-28 08:14] 0crat commented on #1835
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1835](https://github.com/zerocracy/farm/issues/1835), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-12-28 08:18] 0crat commented on #1835
Job `gh:zerocracy/farm#1835` already assigned to @g4s8, can't assign to @g4s8

[2018-12-28 08:19] 0crat commented on #1835
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-12-28 08:21] 0crat commented on #1835
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-28 14:57] krzyk commented on #1833
@emilianodellacasa Looks like related to https://github.com/zerocracy/farm/issues/1820
Unless you have your wallet set to `zld`.

[2018-12-28 14:58] emilianodellacasa commented on #1833
@krzyk My wallet is set to ZLD actually

[2018-12-28 18:00] fabriciofx opened #1836 "Improve agenda content adding more details"
@g4s8 @yegor256

Let's improve the agenda content adding more details like: job start date, deadline date, job status (DEV, REV, MERGE, HOLD, DONE), show how many points earned, received bonus points, quality, list of related issues...

These informations are important to Zerocracy user organize its jobs and evaluate its performance. WDYT?

[2018-12-28 18:00] 0crat commented on #1836
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-12-28 18:00] 0crat commented on #1836
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-01 16:06] fabriciofx opened #1837 "Let's update Copyright notice to 2019."
Let's update Copyright notice to 2019.

[2019-01-01 16:06] 0crat commented on #1837
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-01 16:06] 0crat commented on #1837
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-01 16:19] fabriciofx opened #1838 "After new year (2019), agenda show less days in the added column"
After new year (2019), agenda show less days in the "Added" column. Before it was 8 days and now they're 2 days.

[2019-01-01 16:19] 0crat commented on #1838
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-01 16:19] 0crat commented on #1838
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-02 11:52] 0crat commented on #1508
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1508](https://github.com/zerocracy/farm/issues/1508), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-02 11:52] 0crat commented on #1508
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-02 14:11] fabriciofx commented on #1838
@g4s8 More information. The time is not lost. Just "added"column shows the wrong value (and I lost my deadline because I thought farm has reseted the time) 😞

[2019-01-02 16:49] g4s8 commented on #1838
@fabriciofx it looks like formatting issue

[2019-01-02 16:50] 0crat commented on #1838
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1838](https://github.com/zerocracy/farm/issues/1838), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-02 16:52] 0crat commented on #1838
Job `gh:zerocracy/farm#1838` already assigned to @g4s8, can't assign to @g4s8

[2019-01-02 16:54] 0crat commented on #1838
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-02 16:56] 0crat commented on #1838
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-02 18:08] 0pdd commented on #1508
The puzzle `1218-6ccd8af1` has disappeared from the source code, that's why I closed this issue.

[2019-01-02 18:08] #1508 closed

[2019-01-02 18:08] 0pdd commented on #1218
@g4s8 the only puzzle [#1508](https://github.com/zerocracy/farm/issues/1508) is solved here.

[2019-01-02 18:30] 0crat commented on #1508
The job [#1508](https://github.com/zerocracy/farm/issues/1508) is now out of scope

[2019-01-02 18:33] 0crat commented on #1508
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-02 20:50] 0crat commented on #1837
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1837](https://github.com/zerocracy/farm/issues/1837), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-02 20:54] 0crat commented on #1837
Job `gh:zerocracy/farm#1837` already assigned to @g4s8, can't assign to @g4s8

[2019-01-02 20:58] 0crat commented on #1837
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-02 20:58] 0crat commented on #1837
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-03 08:14] 0pdd commented on #1458
The puzzle `1193-ee91f3f9` has disappeared from the source code, that's why I closed this issue.

[2019-01-03 08:14] #1458 closed

[2019-01-03 08:14] 0pdd commented on #1193
@amihaiemil the only puzzle [#1458](https://github.com/zerocracy/farm/issues/1458) is solved here.

[2019-01-03 08:31] 0crat commented on #1458
Job `gh:zerocracy/farm#1458` is not assigned, can't get performer

[2019-01-03 08:31] 0crat commented on #1458
The job [#1458](https://github.com/zerocracy/farm/issues/1458) is now out of scope

[2019-01-03 10:10] g4s8 commented on #1837
@fabriciofx done in https://github.com/zerocracy/farm/commit/9edfe011ec49fc44cb3f6349a6b1cd27f6da97ba

[2019-01-03 10:10] #1837 closed

[2019-01-03 10:12] g4s8 commented on #1835
@yegor256 done in https://github.com/zerocracy/farm/commit/78e5f9c18466c6ac8928e483bcd47a3375660ae2, you can check it with `curl -v https://www.0crat.com/known/yegor256`

[2019-01-03 10:30] 0crat commented on #1837
Job [#1837](https://github.com/zerocracy/farm/issues/1837) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-01-03 10:30] 0crat commented on #1837
Job was finished in 13 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-03 10:37] 0crat commented on #1837
The job [#1837](https://github.com/zerocracy/farm/issues/1837) is now out of scope

[2019-01-03 10:37] 0crat commented on #1837
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-03 11:15] paulodamaso commented on #1751
@g4s8 I received the points but not the cash for this one, please take a look

[2019-01-03 15:50] g4s8 commented on #1751
@0crat status

[2019-01-03 15:54] 0crat commented on #1751
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1751](https://github.com/zerocracy/farm/issues/1751) is [in scope](http://www.zerocracy.com/policy.html#14) for 9days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is n

[2019-01-03 16:01] g4s8 commented on #1751
@paulodamaso not only point, you've receive Zerocracy shares, you can check it on project page: https://www.0crat.com/p/C3NDPUA8L. The project doesn't have cash right now, so it's not possible to pay with cash (project can pay cash only for estimated jobs, because it has locked cash for it)
![scrot-2019-01-03-18 59 12](https://user-images.githubusercontent.com/1524988/50647555-ea754180-0f89-11e9-9

[2019-01-03 16:10] paulodamaso commented on #1751
@g4s8 So unfortunately I'll never receive this cash or I'll receive it upon recharge?

[2019-01-03 18:08] #1824 closed

[2019-01-03 21:57] amihaiemil opened #1839 "Badge amound != Ledger Amount"
In my [project](https://github.com/amihaiemil/docker-java-api), the Cash balance displayed in the Project's homepage/Ledger differs from the one displayed on the ZC badge from README.md.

The one from the Ledger is the correct one. Maybe the one displayed on the Badge also deducts 0crat's fees? But the project is opensource, its fees should be waived.

[2019-01-03 21:58] 0crat commented on #1839
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-03 22:24] 0crat commented on #1839
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1839](https://github.com/zerocracy/farm/issues/1839), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-03 22:31] 0crat commented on #1839
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-03 22:31] 0crat commented on #1839
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-04 02:21] fabriciofx commented on #1830
@g4s8 Its happening with me too. I'm as DEV in Cactoos but I've been received jobs as REV.

[2019-01-04 03:17] fabriciofx opened #1840 "Farm assigned to me REV jobs but I'm just DEV"
I curious bug? I'm out of Cactoos project. I asked to George to put me as DEV. He's put me as DEV *and* REV, but  I've less than 128 points and the bot (0crat) took me the REV role. But in this mean time, the bot assigned to me 4 jobs as REV. Look here:
![image](https://user-images.githubusercontent.com/1964562/50672285-ee1ebd80-0fb5-11e9-8a0a-1c0e8a035151.png)

And, after lost the REV role, 0crat

[2019-01-04 03:17] 0crat commented on #1840
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-04 11:33] ammaratef45 opened #1841 "0crat resigned me from jobs after I quit a projeect"
I quit a project while having 3 tasks (one of them as a REV while it's a known issue with him as I'm not supposed to be a REV)
I must have all three jobs still assigned to me even if I quit but when I tried to tell him I'm waiting for some clarifications from ARCH he told me
@ammaratef45 Job (issue) is not assigned, can't put it on hold

In policy
§35 “Quit.” You can always quit a project, just sa

[2019-01-04 11:33] 0crat commented on #1841
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-04 11:33] 0crat commented on #1841
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-05 18:35] g4s8 commented on #1841
@ammaratef45 please add more details:
 - project id or github link
 - job ids or github links

[2019-01-06 07:02] ammaratef45 commented on #1841
@g4s8
The project is Cactoos (C63314D6Z) , the ticket number 884
You can find the thread [here](https://github.com/yegor256/cactoos/issues/884)

[2019-01-06 21:44] g4s8 commented on #1841
@yegor256 please look here, you did some changes in `quit_project` stakeholder:
05.03.2018 https://github.com/zerocracy/farm/commit/ba7546e85f6d8f568ebbf244d82fb562aa96bc4a#diff-7501549d6d080dc7453ec4cd8ef0f429R45
but didn't update the policy, so current policy version is contradicting your changes:
22.02.2018 https://github.com/zerocracy/zerocracy.github.io/blame/c63d03d013d0436e674fd76b3408b8db6

[2019-01-06 21:47] g4s8 commented on #1833
@emilianodellacasa can you please provide a link to the job where you didn't receive the payment?

[2019-01-07 08:40] emilianodellacasa commented on #1833
@g4s8 https://github.com/zold-io/zold/issues/618 for example

[2019-01-08 05:43] yegor256 commented on #1835
@g4s8 thanks!

[2019-01-08 05:43] #1835 closed

[2019-01-08 06:00] 0crat commented on #1835
Job [#1835](https://github.com/zerocracy/farm/issues/1835) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-01-08 06:05] 0crat commented on #1835
The job [#1835](https://github.com/zerocracy/farm/issues/1835) is now out of scope

[2019-01-08 06:08] 0crat commented on #1835
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-08 07:47] yegor256 opened #1842 "Daily donation limits"
We are planning to announce Zold at bitcointalks.org, which may lead to a splash of interest. Many people may want to donate via Stripe and that may cause issues with them. That's why, let's configure daily limits. When we render the `/contrib` page, we should fist check via Stripe API what was our daily revenue. If it's over $2048, render another page, saying that "we are sorry, please come back

[2019-01-08 07:48] 0crat commented on #1842
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-08 10:10] yegor256 opened #1843 "remove BTC payment option"
Let's get rid of Bitcoin payment option and completely remove the Coinbase gateway. If users want to get paid in crypto, they just get ZLD and then convert ZLD to BTC at wts.zold.io.

[2019-01-08 10:10] 0crat commented on #1843
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-08 10:47] amihaiemil commented on #1839
@g4s8 hmm, so everything is alright, after all?

[2019-01-08 11:44] g4s8 commented on #1839
@amihaiemil no, balance value is not correct (origin issue https://github.com/zerocracy/farm/issues/1839#issue-395739135), but locked amount is OK if you have non-zero rates in the project https://github.com/zerocracy/farm/issues/1839#issuecomment-451407551

[2019-01-08 12:47] 0crat commented on #1842
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1842](https://github.com/zerocracy/farm/issues/1842), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-08 12:50] 0crat commented on #1842
Job `gh:zerocracy/farm#1842` already assigned to @g4s8, can't assign to @g4s8

[2019-01-08 12:51] 0crat commented on #1842
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-08 12:53] 0crat commented on #1842
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-01-09 05:00] yegor256 commented on #1842
@g4s8 would be great if you can fix this ASAP, thanks!

[2019-01-09 08:48] emilianodellacasa opened #1844 "Error while inviting 0crat bot to slack"
Upon creating a new project, I tried to invite 0crat bot to the Slack space that has been created using the invitation link https://www.0crat.com/add_to_slack provided in the policy.

Apparently, the 0bot is correctly added to the space but Slack shows a generic error page.

[2019-01-09 08:48] 0crat commented on #1844
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-09 08:48] 0crat commented on #1844
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-09 12:51] g4s8 opened #1845 "0crat doen't validate job with underscore"
0crat thinks that job name with underscore is not valid, e.g. `gh:zverovich/timeless_is#1`.
Error https://sentry.io/zerocracy/farm/issues/837860383/?query=is%3Aunresolved

[code]

[2019-01-09 12:52] 0crat commented on #1845
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1845](https://github.com/zerocracy/farm/issues/1845), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-09 12:54] 0crat commented on #1845
Job `gh:zerocracy/farm#1845` already assigned to @g4s8, can't assign to @g4s8

[2019-01-09 12:59] 0crat commented on #1845
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-09 12:59] 0crat commented on #1845
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-09 12:59] 0crat commented on #1845
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-09 13:06] g4s8 commented on #1845
@rultor release, tag=`0.40.2`

[2019-01-09 13:07] rultor commented on #1845
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17254-452689774)

[2019-01-09 13:10] g4s8 commented on #1845
reproduced and fixed in https://github.com/zerocracy/farm/commit/d938c655712cd08b478bc5fa3ed001b8c1201541

[2019-01-09 13:10] #1845 closed

[2019-01-09 13:18] g4s8 commented on #1842
@yegor256 working on it

[2019-01-09 13:31] amihaiemil opened #1846 "Customize 0crat's label-awarness for"
I think 0crat should look for other labels as well, not just the ``bug`` label.

For instance, my Repo has 90% Issues that are feature-requests/improvements/actual tasks and 10% actual bugs, but it's beginning to be hard to distinguish which is which since they all have the ``bug`` label.

I would make this configurable via a ``.0crat.yml`` file, for example:

[code]

If this is too complex or und

[2019-01-09 13:31] 0crat commented on #1846
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-09 13:31] 0crat commented on #1845
The job [#1845](https://github.com/zerocracy/farm/issues/1845) is now out of scope

[2019-01-09 13:33] 0crat commented on #1845
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-09 15:19] g4s8 commented on #1842
@rultor release, tag=`0.40.3`

[2019-01-09 15:21] rultor commented on #1842
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17260-452733645)

[2019-01-09 15:49] rultor commented on #1842
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17260-452733645) (took me 27min)

[2019-01-09 16:57] llorllale commented on #1842
@yegor256 @g4s8 wait, what? Why? What issues?

[2019-01-09 17:57] g4s8 commented on #1842
@yegor256 it should be done in https://github.com/zerocracy/farm/commit/f92238b48cc1e888d9ba835d0f87ef84b0ba9828 and released in `0.40.3`

[2019-01-09 20:42] g4s8 opened #1847 "Urgent jobs"
The idea is to add new job labels `urgent`, the performer will not be able to register impediments for such jobs, only complete the job or refuse, I think it may improve the speed of urgent jobs.

@yegor256 what do you think about it?

[2019-01-09 21:21] g4s8 commented on #1846
@amihaiemil I like this idea, right now to add each pdd task to scope you need to configure 0pdd to add `bug` label to in `.0pdd.yaml`, but because of that each 0pdd task has high priority as a bug, which is not correct. But I don't think that it should be configured at repository level, because Zerocracy project may be linked to many repositories. @yegor256 what do you think?

[2019-01-10 12:23] g4s8 commented on #1833
@emilianodellacasa do you have debts right now? According to footprint, your debt should be updated last time by `gh:zold-io/zold#654` job, but I can't see this job in your debts, did you receive last debt payment?

[2019-01-10 14:08] g4s8 commented on #1188
@0crat assign me

[2019-01-10 14:13] 0crat commented on #1188
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1188](https://github.com/zerocracy/farm/issues/1188), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-10 14:14] 0crat commented on #1188
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-10 14:14] 0crat commented on #1188
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-10 14:34] 0crat commented on #1568
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-10 14:35] emilianodellacasa commented on #1833
@g4s8 No, I don't have any debts now and I know for sure that last debt was not paid at all (this is the reason why I opened this issue)

[2019-01-10 14:36] g4s8 commented on #1568
@0crat assign @paulodamaso

[2019-01-10 14:37] g4s8 commented on #1568
@paulodamaso @ypshenychka I'm going to assign this job again and modify estimate manually to re-trigger payment mechanism

[2019-01-10 14:39] g4s8 commented on #1188
@rultor release, tag=`2.40.4`

[2019-01-10 14:39] g4s8 commented on #1188
@rultor stop

[2019-01-10 14:40] g4s8 commented on #1188
@rultor cancel

[2019-01-10 14:40] rultor commented on #1188
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17278-453117842)

[2019-01-10 14:41] g4s8 commented on #1188
@rultor stop

[2019-01-10 14:42] rultor commented on #1188
@g4s8 OK, I'll try to stop current task.

[2019-01-10 14:42] rultor commented on #1188
@g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17278-453117876) (spent 2min)

[code]

[2019-01-10 14:43] 0crat commented on #1568
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1568](https://github.com/zerocracy/farm/issues/1568), see [§21](http://www.zerocracy.com/policy.html#21); @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-10 14:43] 0crat commented on #1568
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-10 14:45] rultor commented on #1188
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-01-10 14:47] rultor commented on #1188
@g4s8 OK, I'll try to stop current task.

[2019-01-10 14:47] rultor commented on #1188
@g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17278-453118680) (spent 31s)

[code]

[2019-01-10 14:56] g4s8 commented on #1188
@rultor release, tag=`0.40.4`

[2019-01-10 14:57] rultor commented on #1188
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17278-453123666)

[2019-01-10 15:21] rultor commented on #1188
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17278-453123666) (took me 22min)

[2019-01-10 15:23] g4s8 commented on #1568
@0crat status

[2019-01-10 15:23] g4s8 commented on #1188
fixed in https://github.com/zerocracy/farm/commit/5919a9ae340f1f473f9b0dbbdc3fd2b6da46fe6c release in `0.40.4`

[2019-01-10 15:23] #1188 closed

[2019-01-10 15:31] 0crat commented on #1568
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1568](https://github.com/zerocracy/farm/issues/1568) is [in scope](http://www.zerocracy.com/policy.html#14) for 48min
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [48min](http:/

[2019-01-10 15:32] g4s8 commented on #1568
@0crat status

[2019-01-10 15:44] 0crat commented on #1568
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1568](https://github.com/zerocracy/farm/issues/1568) is [in scope](http://www.zerocracy.com/policy.html#14) for 58min
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [58min](http:/

[2019-01-10 15:45] 0crat commented on #1188
Job [#1188](https://github.com/zerocracy/farm/issues/1188) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-01-10 15:45] #1568 closed

[2019-01-10 15:45] 0crat commented on #1188
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-10 15:49] 0crat commented on #1188
The job [#1188](https://github.com/zerocracy/farm/issues/1188) is now out of scope

[2019-01-10 15:51] 0crat commented on #1188
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-10 16:06] 0crat commented on #1568
Job [#1568](https://github.com/zerocracy/farm/issues/1568) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't retrieve data and time of add

[2019-01-10 16:09] 0crat commented on #1568
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-10 16:13] 0crat commented on #1568
Job [#1568](https://github.com/zerocracy/farm/issues/1568) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't inspect

[2019-01-10 16:13] 0crat commented on #1568
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.40.4](https://github.com/zerocracy/farm): CID: [6f03422a-89a3-4845-9348-d6ae477a9011](https://www.0crat.com/footprint/C3NDPUA8L/6f03422a-89a3-4845-9348-d6ae477a9011), Type: "Order was finished"

[2019-01-10 16:14] 0crat commented on #1568
The job [#1568](https://github.com/zerocracy/farm/issues/1568) is now out of scope

[2019-01-11 08:53] g4s8 commented on #1568
@0crat status

[2019-01-11 08:54] 0crat commented on #1568
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1568](https://github.com/zerocracy/farm/issues/1568) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 17hr
  * @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-11 09:45] g4s8 commented on #1568
@ypshenychka please say QA verdict here (same as before)

[2019-01-11 09:59] ypshenychka commented on #1568
@0crat quality good

[2019-01-11 10:08] 0crat commented on #1568
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-11 10:08] 0crat commented on #1568
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-11 10:08] 0crat commented on #1568
Order was finished, quality is "good": +40 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-11 10:08] 0crat commented on #1568
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-11 13:35] g4s8 commented on #1833
@emilianodellacasa it's versy strange issue, these debt payments were added to ledger, it's the last step of debt payment, so it's possible only if wts API returned success status `303`, don't you know is there any logging system in wts API? The problem here is that wts API doesn't return any transaction id (or something similar), so we are not able to track wts payments. (maybe this issue is rela

[2019-01-13 08:00] amihaiemil opened #1848 "Can't set PayPal wallet: Invalid email"
I keep trying to set up my PayPal wallet but 0crat keeps telling me that the email address is not valid:

![screenshot_20190113-095718_slack](https://user-images.githubusercontent.com/6305156/51082969-fd221000-1719-11e9-9d5b-5cd101a209b2.jpg)

[2019-01-13 08:00] 0crat commented on #1848
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-14 08:03] victornoel opened #1849 "0crat give +10 to ARC when a PR is closed by its submitter"
See https://github.com/yegor256/cactoos/pull/1002

I don't think this is meant to happen: ARC shouldn't be paid in that case.

[2019-01-14 08:04] 0crat commented on #1849
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-14 08:46] 0crat commented on #1848
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1848](https://github.com/zerocracy/farm/issues/1848), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-14 08:48] 0crat commented on #1848
Job `gh:zerocracy/farm#1848` already assigned to @g4s8, can't assign to @g4s8

[2019-01-14 08:51] g4s8 commented on #1848
@amihaiemil according to the footprint you're trying to set this value as email address: `<mailto:amihaiemil@gmail.com|amihaiemil@gmail.com>`. It seems you've copied a link to your email from somewhere and Slack app applied formatting. If I'm right, can you try to write email address by yourself without copying links?

[2019-01-14 08:52] 0crat commented on #1848
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-14 08:52] 0crat commented on #1848
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-14 09:03] amihaiemil commented on #1848
@g4s8 yes, I figured the formatting was the problem, but I wrote the address manually so this means Slack converted it to ``mailto:...`` automatically :)

[2019-01-14 09:04] amihaiemil commented on #1848
@g4s8 Furthermore, it's trange that 0crat can print the email address correctly in the error message: it means that even though it may receive ``mailto:`` HTML, it parses it and obtains the email address after all

[2019-01-14 10:38] g4s8 commented on #1848
@amihaiemil ok, it seems we need to handle such links on 0crat side

actually it doesn't, it prints same `<mailto:...>`, but Slack transforms it back to link:
![scrot-2019-01-14-13 36 28](https://user-images.githubusercontent.com/1524988/51107952-9710b800-1801-11e9-9abe-037681caeda2.png)

[2019-01-14 10:45] g4s8 commented on #1849
@victornoel why not? This PR was added to WBS, so it was treatted as a job, so project's ARC did pay attention to this PR (= spent some time ~10min).
I see, that the problem here is that this PR was closed right after openning, but actually it may be a valid case to close PR by submitter:
 1. submitter opens PR
 2. ARC may say that this PR is invalid and ask to close it
 3. sumitter closes PR, ARC

[2019-01-14 10:53] g4s8 commented on #1848
@rultor release, tag=`0.40.5`

[2019-01-14 10:54] rultor commented on #1848
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17333-453965461)

[2019-01-14 10:55] g4s8 commented on #1848
@amihaiemil it was reproduced, fixed in https://github.com/zerocracy/farm/commit/51cdc39d7e164508ec96394a81118714a9efa52d and should be released soon

[2019-01-14 11:11] rultor commented on #1848
@amihaiemil @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17333-453965461) (spent 16min)

[code]

[2019-01-14 11:16] victornoel commented on #1849
@g4s8 it is a PR, so anybody can create one, and then the person closes it directly: everytime ARC gets paid. That's a strange situation. I understand the scenario you outline is ok, but it doesn't make all the others scenarios ok.

[2019-01-14 11:32] g4s8 commented on #1848
@rultor release, tag=`0.40.5`

[2019-01-14 11:33] rultor commented on #1848
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17333-453975282)

[2019-01-14 11:52] rultor commented on #1848
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17333-453975282) (took me 19min)

[2019-01-14 11:55] amihaiemil commented on #1848
@g4s8 nice, thanks :)

[2019-01-14 11:55] #1848 closed

[2019-01-14 12:11] 0crat commented on #1848
Job [#1848](https://github.com/zerocracy/farm/issues/1848) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-01-14 12:12] 0crat commented on #1848
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-14 12:16] 0crat commented on #1848
The job [#1848](https://github.com/zerocracy/farm/issues/1848) is now out of scope

[2019-01-14 12:19] 0crat commented on #1848
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-14 14:46] g4s8 commented on #1849
@victornoel maybe we should add PR to WBS automatically **only** if PR author has any role in the project, if does not ARC should add PR to scope manually by `@0crat in` or assigning PR to 0crat.

@yegor256 what do you think about it?

[2019-01-14 16:00] victornoel commented on #1849
@g4s8 yes, that would make thing less strange! good idea

[2019-01-14 19:10] SergeyKutsko opened #1850 "Add ability to receive payments from DEVS"
Make sure the title of the issue explains the problem you are having. Also, the description of the issue must clearly explain what is broken, not what you want us to implement. Go through this checklist and make sure you answer "YES" to all points:

  - You have all pre-requisites listed in README.md installed
  - You are sure that you are not reporting a duplicate (search all issues)
  - You say

[2019-01-14 19:10] 0crat commented on #1850
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-14 19:10] 0crat commented on #1850
@sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-14 19:11] SergeyKutsko opened #1851 "Add ability to make configurable payment calculations model"
Make sure the title of the issue explains the problem you are having. Also, the description of the issue must clearly explain what is broken, not what you want us to implement. Go through this checklist and make sure you answer "YES" to all points:

  - You have all pre-requisites listed in README.md installed
  - You are sure that you are not reporting a duplicate (search all issues)
  - You say

[2019-01-14 19:12] 0crat commented on #1851
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-14 19:12] 0crat commented on #1851
@sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-14 19:15] SergeyKutsko opened #1852 "Add configurable gateways for payments"

[2019-01-14 19:15] 0crat commented on #1852
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-14 19:15] 0crat commented on #1852
@sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-14 19:22] g4s8 commented on #1540
fixed in https://github.com/zerocracy/farm/commit/d2c93db3d15df88e2e7745ea0c3e1f33e226afa2

[2019-01-14 19:22] #1540 closed

[2019-01-14 19:30] 0crat commented on #1814
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1814](https://github.com/zerocracy/farm/issues/1814), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-14 19:32] 0crat commented on #1814
Job `gh:zerocracy/farm#1814` already assigned to @g4s8, can't assign to @g4s8

[2019-01-14 19:35] g4s8 opened #1853 "ARC reports for deficit projects"
@yegor256 do we need to send ARC reports for projects in deficit mode? It may be just few changes for 2 weeks, maybe it would be more correct to send reminder to ARC every `n` closed jobs, not by time?

[2019-01-14 19:41] 0crat commented on #1814
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-14 19:42] 0crat commented on #1814
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-14 19:42] 0crat commented on #1814
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-14 19:44] 0crat commented on #1540
Job [#1540](https://github.com/zerocracy/farm/issues/1540) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-01-14 19:50] 0crat commented on #1540
The job [#1540](https://github.com/zerocracy/farm/issues/1540) is now out of scope

[2019-01-14 19:51] 0crat commented on #1540
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-14 20:06] g4s8 opened #1854 "Using Github oauth2 to setup repository"
We can request required permissions via oauth2 Github login to be able to configure user's repository by 0crat:
 1. Add 0crat user
 2. Configure 0crat webhooks
 3. Add links to `catalog.xml`

from 0crat's web page by listing user's and organization repos with button e.g. "manage", when PO clicks this button 0crat will do all routine tasks to setup the repository and add to project.
@yegor256 pleas

[2019-01-14 20:10] g4s8 commented on #1814
done in https://github.com/zerocracy/farm/commit/504245e6d4df94942ce0eb88372efe0154a8d9a2

[2019-01-14 20:10] #1814 closed

[2019-01-14 20:33] 0crat commented on #1814
The job [#1814](https://github.com/zerocracy/farm/issues/1814) is now out of scope

[2019-01-14 20:34] 0crat commented on #1814
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-15 11:03] g4s8 commented on #1852
@SergeyKutsko please add more details, this issue is unclear

[2019-01-15 11:05] g4s8 commented on #1851
@SergeyKutsko invalid description

[2019-01-15 11:05] #1851 closed

[2019-01-15 11:05] 0crat commented on #1851
Job `gh:zerocracy/farm#1851` is not assigned, can't get performer

[2019-01-15 11:05] #1850 closed

[2019-01-15 11:06] 0crat commented on #1850
Job `gh:zerocracy/farm#1850` is not assigned, can't get performer

[2019-01-16 06:16] g4s8 commented on #1787
@0crat assign me

[2019-01-16 06:18] g4s8 commented on #1830
@paulodamaso @fabriciofx will try to solve it soon

[2019-01-16 06:19] g4s8 commented on #1830
Duplicate of #1787

[2019-01-16 06:19] #1830 closed

[2019-01-16 06:21] 0crat commented on #1787
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1787](https://github.com/zerocracy/farm/issues/1787), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-16 06:40] 0crat commented on #1830
Job `gh:zerocracy/farm#1830` is not assigned, can't get performer

[2019-01-16 06:43] 0crat commented on #1830
This job is not in scope

[2019-01-17 07:39] g4s8 commented on #1833
@emilianodellacasa it seems that wts API is returning 303 status code when payment request added to queue, but Zold network may not accept this payment later.

From Zold chat:

This is not enough. This status only means that WTS accepted your request. But it doesn't mean Zold network accepted it.

WTS returns 302 when your request is in the queue. That's it.

Then, in about 30-50 seconds, you shou

[2019-01-17 11:08] amihaiemil opened #1855 "How do I know if I am the examiner?"
Until now, I thought that if I receive a Slack notification about a user's application, I am the examiner.

However, I recently received such a notification, tried to invite the user and 0crat complained that I am not the allocated examiner.

[2019-01-17 11:08] 0crat commented on #1855
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-17 11:10] amihaiemil opened #1856 "Pay for Project's Builds"
I think that along the 30min for each task, 0crat should also pay for the time spend building the project. Let's assume the DEV builds the project 3 times when working on a task: an initial build, build after changes, build to check is failures are fixed.

In ``/farm``'s case, the build takes up to 10min (last time I checked). I think if the project's build takes more than 1min, 0crat should pay f

[2019-01-17 11:10] 0crat commented on #1856
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-17 12:03] g4s8 commented on #1856
@amihaiemil I think it should be counted as a job time, e.g. if you have 30 minutes job, and you've spent 5 minutes for building the project, you may spent 20 minutes for programming + 5 minutes for CR.

[2019-01-17 12:09] amihaiemil commented on #1856
@g4s8 that's how it is now and it's pretty rough :)

[2019-01-17 12:16] yegor256 commented on #1833
@g4s8 FYI, this is the error on the server side of WTS:

[code]

[2019-01-17 12:18] yegor256 commented on #1833
@g4s8 I would suggest to replace anything that doesn't match the regex `a-zA-Z0-9 @\!\?\*_\-\.:,'/` with a space and then cut off the end, if the line is longer than 128 chars.

[2019-01-17 12:22] yegor256 commented on #1833
@g4s8 I will try to fix it a bit in https://github.com/zold-io/wts.zold.io/issues/113

[2019-01-17 17:51] g4s8 commented on #1833
@rultor release, tag=`0.40.6`

[2019-01-17 17:52] rultor commented on #1833
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17395-455265779)

[2019-01-17 17:53] g4s8 commented on #1833
@yegor256 thanks, I added regex `replaceAll("-")` for invalid chars

@emilianodellacasa this issue was reproduced and fixed in https://github.com/zerocracy/farm/commit/c079256c622b4f4d13bbc67edb12f25a3db19d59 it should be available with next release `0.40.6`

[2019-01-17 18:19] rultor commented on #1833
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17395-455265779) (took me 26min)

[2019-01-18 09:22] g4s8 opened #1857 "0crat is failing to pay via paypal"
This is the error for paypal payments:
[code]

[2019-01-18 10:45] 0crat commented on #1857
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1857](https://github.com/zerocracy/farm/issues/1857), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-18 10:58] 0crat commented on #1857
Job `gh:zerocracy/farm#1857` already assigned to @g4s8, can't assign to @g4s8

[2019-01-18 11:20] 0crat commented on #1857
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-18 11:20] 0crat commented on #1857
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-18 11:22] 0crat commented on #1857
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-18 11:49] g4s8 opened #1858 "Fund project by ZLD"
Add option to fund project via ZLD.
To calculate USD amount we should use https://wts.zold.io/rate.json to get rate `ZLD:BTC` and https://blockchain.info/ticker to get rate `BTC:USD`

[2019-01-18 12:37] 0crat commented on #1858
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1858](https://github.com/zerocracy/farm/issues/1858), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-18 12:54] 0crat commented on #1858
Job `gh:zerocracy/farm#1858` already assigned to @g4s8, can't assign to @g4s8

[2019-01-18 13:18] 0crat commented on #1858
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-18 13:21] 0crat commented on #1858
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-18 13:21] 0crat commented on #1858
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-18 15:05] yegor256 commented on #1857
@g4s8 works now

[2019-01-18 15:06] yegor256 commented on #1843
@g4s8 here is the JSON you need when paying in ZLD (to convert USD to ZLD): https://wts.zold.io/rate.json (use `usd_rate` attribute)

[2019-01-18 16:21] emilianodellacasa opened #1859 "Linked repository not recognized when name has uppercase chars"
I was trying to link a repo containing uppercase chars and the command went thru correctly.

However, when I opened an issue for the first time the bot wasn't recognizing the repo.

Putting everything lowercase solved the problem.

[2019-01-18 16:21] 0crat commented on #1859
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-18 16:21] 0crat commented on #1859
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-18 17:44] 0crat commented on #1859
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1859](https://github.com/zerocracy/farm/issues/1859), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-18 17:46] 0crat commented on #1859
Job `gh:zerocracy/farm#1859` already assigned to @g4s8, can't assign to @g4s8

[2019-01-18 17:55] 0crat commented on #1859
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-18 17:55] 0crat commented on #1859
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-01-19 07:06] g4s8 commented on #1857
@0crat refuse

[2019-01-19 07:06] #1857 closed

[2019-01-19 07:08] 0crat commented on #1857
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#1857](https://github.com/zerocracy/farm/issues/1857), please stop working. Reason for job resignation: Order was cancelled

[2019-01-19 07:15] 0crat commented on #1857
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-19 07:29] g4s8 opened #1860 "Remove paypal payment option"
Same as in https://github.com/zerocracy/farm/issues/1843
remove paypal payment option.

[2019-01-19 07:31] g4s8 commented on #1859
@rultor release, tag=`0.40.7`

[2019-01-19 07:31] 0crat commented on #1843
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1843](https://github.com/zerocracy/farm/issues/1843), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-19 07:32] rultor commented on #1859
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17423-455757319)

[2019-01-19 07:33] g4s8 opened #1861 "ZLD payment amount is not correct"
1 ZLD != 1 USD
we should calculate ZLD amount using https://blockchain.info/ticker to convert USD to BTC and then https://wts.zold.io/rate.json to convert BTC to ZLD.

[2019-01-19 07:33] 0crat commented on #1860
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1860](https://github.com/zerocracy/farm/issues/1860), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-19 07:34] 0crat commented on #1843
Job `gh:zerocracy/farm#1843` already assigned to @g4s8, can't assign to @g4s8

[2019-01-19 07:35] g4s8 commented on #1859
Sentry error: https://sentry.io/zerocracy/farm/issues/849505623/?query=is%3Aunresolved

[2019-01-19 07:35] 0crat commented on #1860
Job `gh:zerocracy/farm#1860` already assigned to @g4s8, can't assign to @g4s8

[2019-01-19 07:38] 0crat commented on #1843
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-19 07:38] 0crat commented on #1860
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-19 07:38] 0crat commented on #1860
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-19 07:38] 0crat commented on #1843
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-01-19 07:38] 0crat commented on #1860
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-19 07:42] 0crat commented on #1861
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1861](https://github.com/zerocracy/farm/issues/1861), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-19 07:42] 0crat commented on #1861
Job `gh:zerocracy/farm#1861` already assigned to @g4s8, can't assign to @g4s8

[2019-01-19 07:49] rultor commented on #1859
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17423-455757319) (took me 16min)