[2018-06-28 13:59] 0crat commented on #1270
The job [#1270](https://github.com/zerocracy/farm/issues/1270) is now out of scope

[2018-06-28 14:07] g4s8 commented on #1269
@yegor256 I'm just thinking that amount of code is not fully reflects amount of work. E.g. if someone rename class name during refactoring it can change many files and lines of code, but nothing really changed and it will take one-two minutes of work.
Anyhow we can ask opinions in chat.

[2018-06-28 14:14] amihaiemil commented on #1269
@yegor256 @g4s8 It should definetely take into account the number of closed Issues (even if they are not turned into Jobs, but simply Issues which were not accepted) -- beacuse the ARC can potentially have a lot of unpaid work with open tickets... he must spend at least 5min/ticket to analyze the situation and he is not paid if he rejects the ticket.

[2018-06-28 14:34] botanicus commented on #1269
I think the amount of tickets is a much better measure than LoC.

[2018-06-28 14:36] 0crat commented on #1062
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-28 14:37] 0crat commented on #1062
The job [#1062](https://github.com/zerocracy/farm/issues/1062) is now out of scope

[2018-06-28 14:38] 0crat commented on #1064
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-28 14:38] 0crat commented on #1064
The job [#1064](https://github.com/zerocracy/farm/issues/1064) is now out of scope

[2018-06-28 14:42] 0pdd opened #1278 "RqWithUser.java:76-77: The code inside the init if should..."
The puzzle `1054-f370f52f` from #1054 has to be resolved:

https://github.com/zerocracy/farm/blob/b65870f81c3928ee09b0e6b858047bfc30c9d7ef/src/test/java/com/zerocracy/tk/RqWithUser.java#L76-L77

The puzzle was created by Krzysztof Krason on 28-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is f

[2018-06-28 14:42] 0crat commented on #1278
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-28 14:42] 0pdd opened #1279 "RqUser.java:69-71: A check whether user is a PO in any of..."
The puzzle `1054-30c8b97d` from #1054 has to be resolved:

https://github.com/zerocracy/farm/blob/b65870f81c3928ee09b0e6b858047bfc30c9d7ef/src/main/java/com/zerocracy/tk/RqUser.java#L69-L71

The puzzle was created by Krzysztof Krason on 27-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-06-28 14:43] 0crat commented on #1279
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-28 14:47] 0crat commented on #1278
Job [#1278](https://github.com/zerocracy/farm/issues/1278) is now in scope, role is `DEV`

[2018-06-28 14:47] 0crat commented on #1279
Job [#1279](https://github.com/zerocracy/farm/issues/1279) is now in scope, role is `DEV`

[2018-06-28 14:50] krzyk commented on #1054
@g4s8 please close this issue, it has been fixed in #1266

[2018-06-28 14:57] g4s8 commented on #1054
@krzyk thanks

[2018-06-28 14:57] #1054 closed

[2018-06-28 15:12] krzyk commented on #1174
@g4s8 please close this issue, it has been merged in #1256

[2018-06-28 15:14] 0crat commented on #1054
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-28 15:14] 0crat commented on #1054
The job [#1054](https://github.com/zerocracy/farm/issues/1054) is now out of scope

[2018-06-28 15:38] #970 closed

[2018-06-28 15:38] 0pdd commented on #970
The puzzle `925-41a80871` has disappeared from the source code, that's why I closed this issue.

[2018-06-28 15:44] ypshenychka commented on #1062
@0crat quality good

[2018-06-28 15:46] ypshenychka commented on #1064
@0crat quality good

[2018-06-28 15:48] 0crat commented on #1062
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-28 15:48] 0crat commented on #1062
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-28 15:49] 0crat commented on #1064
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-28 15:49] 0crat commented on #1064
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-28 15:50] ypshenychka commented on #1054
@0crat quality good

[2018-06-28 15:52] krzyk commented on #1175
@g4s8 Hmm, I just got a +38 mins from a task #1064, I think this wasn't intended

[2018-06-28 15:52] 0crat commented on #903
The job [#903](https://github.com/zerocracy/farm/issues/903) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1791553513); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-28 15:52] 0crat commented on #1054
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-28 15:52] 0crat commented on #1054
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-28 15:54] 0crat commented on #970
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-28 15:54] 0crat commented on #970
The job [#970](https://github.com/zerocracy/farm/issues/970) is now out of scope

[2018-06-28 15:56] g4s8 commented on #1174
@krzyk thanks

[2018-06-28 15:56] #1174 closed

[2018-06-28 15:56] 0crat commented on #1066
The job [#1066](https://github.com/zerocracy/farm/issues/1066) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1791558659); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-28 15:58] g4s8 commented on #1175
@krzyk as I can see in `reviews.xml` bonus cash is calculating correctly, right? Did you receive 30min payment + 8%?

[2018-06-28 16:02] krzyk commented on #1175
@g4s8 Everything was calculate just like for 38mins, but should be 30mins + 8% * 60 (rounded up), right?.
It started happening yesterday, because policy was published, so it made sense (fixed bonus of +5 was replaced with +8). But after this release it should be 35 mins (and 35 points).

[2018-06-28 16:04] g4s8 opened #1280 "QA agenda may miss some review jobs"
It seems that QA agenda not always synchronized with `reviews.xml` in project. Let's add new stakeholder to react to `Ping daily` in the project and update an agenda of QA user with actual reviews from `reviews.xml`.

[2018-06-28 16:05] 0crat commented on #1280
Job [#1280](https://github.com/zerocracy/farm/issues/1280) is now in scope, role is `DEV`

[2018-06-28 16:05] 0crat commented on #1280
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-28 16:06] 0crat commented on #1067
The job [#1067](https://github.com/zerocracy/farm/issues/1067) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1791608838); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-28 16:12] 0crat commented on #1069
The job [#1069](https://github.com/zerocracy/farm/issues/1069) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1791613916); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-28 16:12] 0crat commented on #1174
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-28 16:12] 0crat commented on #1174
The job [#1174](https://github.com/zerocracy/farm/issues/1174) is now out of scope

[2018-06-28 16:14] krzyk opened #1281 "Shares paid for DEV job is calculated wrong"
When I receive my shares payment for jobs "acceptable" I get:
- for REV task 25% my rate (and 15 points)
- for DEV task ~31% of my rate (and 30 points)

For DEV task I should get 50% of my hourly rate (for tasks that are 30mins).

Example task #1084

EDIT: Now I found a REV task where I also got a lower amount - https://github.com/zerocracy/datum/pull/351, it is consistent with the DEV task mentio

[2018-06-28 16:15] 0crat commented on #1281
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-28 16:15] g4s8 commented on #1175
@krzyk I mean that your cash bonus should be calculated correctly (I can see it in `reviews.xml`), right? So only points bonus is wrong: should be 5 minutes instead of 8. Looks like we have 2 different places for cash bonus and minutes bonus. I think you can submit a ticket.

[2018-06-28 16:16] ypshenychka commented on #1174
@0crat quality good

[2018-06-28 16:16] 0crat commented on #1068
The job [#1068](https://github.com/zerocracy/farm/issues/1068) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1791618998); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-28 16:17] 0crat commented on #1174
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-28 16:17] 0crat commented on #1174
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-28 16:19] g4s8 commented on #1281
@krzyk did you substract cash part from it? You should receive `(vesting-rate - cash-rate) * minutes / 60` of shares. E.g. if your vesting rate is $20 and cash rate is $10 you should receive $5 of shares and $5 of cash for 30 minutes job.

[2018-06-28 16:21] 0crat commented on #1070
The job [#1070](https://github.com/zerocracy/farm/issues/1070) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1791624086); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-28 16:21] krzyk commented on #1281
@g4s8 OK, so it makes sense know for the DEV rate, but it means now that the REV tasks are incorrectly calculated I get always (except few cases like zerocracy/datum#351) 25% rate, as if cash amount wasn't substracted.

[2018-06-28 16:34] g4s8 commented on #1281
@krzyk yes, it seems that it's not calculated correctly

[2018-06-28 16:34] g4s8 commented on #1281
@0crat assign @carlosmiranda

[2018-06-28 16:35] 0crat commented on #1281
@g4s8 The job [#1281](https://github.com/zerocracy/farm/issues/1281) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1791637273); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-06-28 16:36] 0crat commented on #1281
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-28 16:36] 0crat commented on #1281
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-28 16:43] krzyk commented on #1175
@g4s8 I double check, yes you are right it is 38 points, and the cash value is +8% of the cash (not of the hourly rate), so for $16 rate, it is $8.64.

Shouldn't it be 8% of hourly rate (~ 5mins of an hour is 8%)?

Previous reward for "good" quality was 35mins for DEV and 20mins for REV (a consistent +5mins)
Now it is ~ 32.4 mins for DEV and ~16.2 mins for REV (so +2.4 mins or + 1.2 mins).
Was it

[2018-06-28 16:56] g4s8 commented on #1247
@0crat assign @uurl

[2018-06-28 17:04] 0crat commented on #1247
@g4s8 The job [#1247](https://github.com/zerocracy/farm/issues/1247) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1791705661); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-06-28 17:04] 0crat commented on #1247
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-28 17:10] g4s8 commented on #1175
@krzyk we decided to turn bonus from fixed value for any job to percent of estimated price of a job (see https://github.com/zerocracy/farm/issues/1175#issuecomment-399737878). But it seems you're right about value, if we change it to 16% of job estimate we will have 2.4 minutes for `REV` job and 4.8 for `DEV`.

[2018-06-28 17:12] krzyk commented on #1175
@g4s8 It is harder to get `good` in REV than in DEV task, so maybe the bonus should take that into account?

[2018-06-28 17:15] g4s8 commented on #1175
@krzyk maybe, please submit a ticket about it in https://github.com/zerocracy/zerocracy.github.io

[2018-06-28 17:31] paulodamaso commented on #980
@victornoel @yegor256 @g4s8 So, what will it be? Let's close this one and left two puzzles for the new requirements that appeared in this thread (implement ETH payments with one of the two libs and allow project funding in Zold)?

[2018-06-29 07:44] g4s8 commented on #911
@carlosmiranda ping

[2018-06-29 07:45] g4s8 commented on #1263
@yegor256 can we close this?

[2018-06-29 07:54] emilianodellacasa opened #1282 "Rate not shown on personal page but applied to assigned jobs"
I set my rate using the telegram bot but never answered. Also, when first jobs have been assigned to me the amount to be paid was correctly set.

However. in my profile page it says that my rate is not defined yet.

[2018-06-29 07:54] 0crat commented on #1282
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-29 07:54] 0crat commented on #1282
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-29 08:00] g4s8 commented on #1282
@emilianodellacasa your project's rate was set by project ARC or PO (you may have different rates in diferent projects), whereas your profile rate is just for information - it's displayed on team page. Looks like it was temporary failure with telegram bot, can you try to change it again?

[2018-06-29 08:00] carlosmiranda commented on #911
@g4s8 thanks, missed this one sorry. Closing...

[2018-06-29 08:00] #911 closed

[2018-06-29 08:05] emilianodellacasa opened #1283 "After invitation to zerocracy a mil should be sent"
After being invited by my mentor to zerocracy, I was expecting an email to confirm that.

Maybe it is just a modern convention to receive emails after invite/signup, but I think it would make the onboarding project more straightforward.

[2018-06-29 08:05] 0crat commented on #1283
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-29 08:05] 0crat commented on #1283
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-29 08:08] 0pdd opened #1284 "TxnTest.java:81-83: Fix NullPointerException due..."
The puzzle `993-2ea9b05d` from #993 has to be resolved:

https://github.com/zerocracy/farm/blob/c780d6640fd279043bed35e84e6f401fb4b4c18d/src/test/java/com/zerocracy/TxnTest.java#L81-L83

The puzzle was created by rultor on 29-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text

[2018-06-29 08:08] 0pdd commented on #993
@yegor256 the puzzle [#1284](https://github.com/zerocracy/farm/issues/1284) is still not solved.

[2018-06-29 08:09] 0crat commented on #1284
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-29 08:12] 0crat commented on #1284
Job [#1284](https://github.com/zerocracy/farm/issues/1284) is now in scope, role is `DEV`

[2018-06-29 08:18] g4s8 commented on #1119
@yegor256 do we have some docs for this API? If no, how to specify amount of ZLD to send and what is format of username?

[2018-06-29 08:20] yegor256 commented on #1263
@g4s8 thanks!

[2018-06-29 08:20] #1263 closed

[2018-06-29 08:20] 0crat commented on #911
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-29 08:20] 0crat commented on #911
The job [#911](https://github.com/zerocracy/farm/issues/911) is now out of scope

[2018-06-29 08:32] emilianodellacasa opened #1285 "Implement a new command to ping for review"
It should be implemented a new command to ping the reviewer of a pull request, when it is not answering after a while.

The API should only being available on Github using for example "0crat ping", then the bot should notify the REV using the configured channels (Slack, Telegram, Github).

The following features will be desirable:
- the DEV should only be allowed to ping once for issue;
- the bot

[2018-06-29 08:32] 0crat commented on #1285
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-29 08:32] 0crat commented on #1285
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-29 08:41] 0crat commented on #1263
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-29 08:41] 0crat commented on #1263
The job [#1263](https://github.com/zerocracy/farm/issues/1263) is now out of scope

[2018-06-29 08:57] carlosmiranda commented on #1281
@krzyk @g4s8 here's what looks to be the problem. in `transfer_shares.groovy` we check whether the incoming `Make payment` claim has a `cash` parameter or not. If present, `Cash` is deducted. If not, no cash is deducted.

So for some reason, some completed tasks lack this `cash` parameter. Note that in `pay_architect_for_pull_request` no `cash` param is passed, but we do pass them in `finish_order

[2018-06-29 09:23] 0crat commented on #1285
Job [#1285](https://github.com/zerocracy/farm/issues/1285) is now in scope, role is `DEV`

[2018-06-29 10:04] emilianodellacasa commented on #1282
@g4s8 Tried a couple of hours ago, no response from the bot yet

[2018-06-29 10:05] g4s8 commented on #1281
@carlosmiranda I think we should separate payment claim from reputation claims, so "Make payment" stakeholders will handle only payment requests (cash and shares) and reputation stakeholders only points. This issue is ralated: #1162

But now we need some hotfix to stop this bug, maybe just add cash param to all payment claims where needed?

[2018-06-29 10:07] g4s8 commented on #1162
@proshin-roman I agree that it's not clear. I think we should separate payment claim from reputation claims, so "Make payment" stakeholders will handle only payment requests (cash and shares) and reputation stakeholders only points.
@yegor256 what do you think?
Also this bug is related: #1281

[2018-06-29 10:29] g4s8 commented on #1282
@emilianodellacasa we will try to reproduce it, rate claim was submitted successfully:
[code]
maybe it failed to parse `40EUR` value.

[2018-06-29 10:30] 0crat commented on #1282
Job [#1282](https://github.com/zerocracy/farm/issues/1282) is now in scope, role is `DEV`

[2018-06-29 10:33] 0crat commented on #1282
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-06-29 10:34] emilianodellacasa commented on #1282
@g4s8 I can confirm this, when using command "/rate $47" it worked. Could be the format or the conversion EUR USD

[2018-06-29 12:31] paulodamaso commented on #983
@g4s8 So, what we do now? As the problem is related to heavy loading, I suggest we just close this issue since it's not happening anymore. WDYT?

[2018-06-29 12:32] victornoel commented on #980
@paulodamaso I'm personnally waiting for @g4s8 to statute on what should happen here.

[2018-06-29 12:40] carlosmiranda commented on #1243
@yegor256 #1243 merged, can we close this now?

[2018-06-29 12:59] g4s8 commented on #980
@victornoel do you agree that Zold payment will solve your needs?
@yegor256 how soon we can connect Zold to exchange?

[2018-06-29 13:00] yegor256 commented on #1119
@g4s8 check wts.zold.io. Click "API" in the top menu. You will understand how it works.

[2018-06-29 13:02] victornoel commented on #980
@g4s8 not really. Maybe in the long term but I don't think Zold is mature enough for this.
But between eth or btc, my need was primarily to be paid in a cryptocurrency that is mature, so I'm good with no ETH support too.

[2018-06-29 13:03] g4s8 commented on #983
@paulodamaso yes, looks like it was temporary issue, becuase I can't find fresh exceptions like this one in Sentry. @krzyk what do you think?

[2018-06-29 13:15] paulodamaso commented on #993
@yegor256 merged, please close

[2018-06-29 13:23] krzyk commented on #983
@g4s8 yes, i think so too. Never seen more of it.

[2018-06-29 13:32] krzyk commented on #1270
@g4s8 It's been over 24 hrs, and I still have some items in my agenda that have been closed and QA approved:
- https://github.com/sunsofterp/portal/pull/101
- https://github.com/zerocracy/farm/issues/1063
- https://github.com/zerocracy/farm/pull/1251
- https://github.com/zerocracy/farm/pull/1264

Removal of stale jobs is hourly, so the above ones should disappear long ago.

[2018-06-29 13:38] 0crat commented on #767
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-29 13:41] 0crat commented on #1079
The job [#1079](https://github.com/zerocracy/farm/issues/1079) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1801338972); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-29 13:41] 0crat commented on #1079
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-29 13:43] krzyk opened #1287 "REV tasks should have higher bonus for good quality mark"
Based on discussion in https://github.com/zerocracy/zerocracy.github.io/issues/25 REV tasks should have (old) bonus of 5 mins - which will be in new calculation form a ~33% bonus.

[2018-06-29 13:43] 0crat commented on #1287
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-29 13:51] 0crat commented on #487
The job [#487](https://github.com/zerocracy/farm/issues/487) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1801351096); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-29 14:01] 0crat commented on #1287
Job [#1287](https://github.com/zerocracy/farm/issues/1287) is now in scope, role is `DEV`

[2018-06-29 14:03] 0crat commented on #1287
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-29 14:15] paulodamaso commented on #983
@krzyk @g4s8 So we're done here, thanks for the patience.

[2018-06-29 14:15] paulodamaso commented on #983
@krzyk close please

[2018-06-29 14:16] amihaiemil commented on #487
@paulodamaso My bet is that this bug is not present anymore. Write a test for this case and see if you can find it or not. I would look in the stakeholder which manages the merging of a PR and try to write a testcase for that.

[2018-06-29 14:18] g4s8 opened #1288 "Tiny jobs"
We often have small tasks which can be fixed very easy. E.g. Typos, doumentaiton updates, etc. It's not always profitable for project to accept these tasks and pay to reporter 15min, performer 30min, CR 15min and QA 8min. This is why people don't whant to submit small issues. I think we can invent another flow for tiny tasks:
ARC can say `@0crat tiny` or add `tiny` label to issue,
author will rece

[2018-06-29 14:21] #983 closed

[2018-06-29 14:21] paulodamaso commented on #980
@victornoel If you are good with no ETH support, I think that this issue has no reason to stay opened, right?

@g4s8 @yegor256  If we're assuming that we won't support ETH, we need to change the policy (https://www.zerocracy.com/policy.html#20). Alas, we need to change the policy for including ZLD payment as soon it is supported too. I can do this, but I need a definition here.

[2018-06-29 14:24] victornoel commented on #980
@g4s8 should I close this then?

[2018-06-29 14:28] g4s8 commented on #1270
@krzyk your agenda didn't updated, because it takes 10 random users each hour (see `delete_stale_jobs`), updated it manually, please check

[2018-06-29 14:32] krzyk commented on #1270
@g4s8 Random seed avoided me :) Now everything is good.

[2018-06-29 14:36] 0crat commented on #983
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-29 14:36] paulodamaso commented on #980
@victornoel Policy updated, see https://github.com/zerocracy/zerocracy.github.io/pull/27 .

[2018-06-29 14:37] 0crat commented on #983
The job [#983](https://github.com/zerocracy/farm/issues/983) is now out of scope

[2018-06-29 14:48] victornoel commented on #980
@paulodamaso @g4s8 @yegor256 I think the bot should also stop accepting eth wallet, no?

[2018-06-29 14:48] yegor256 commented on #1119
@g4s8 I added `zold.secret` to the props for Rultor

[2018-06-29 14:56] 0crat commented on #1071
The job [#1071](https://github.com/zerocracy/farm/issues/1071) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1801457789); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-29 15:06] 0crat commented on #1083
The job [#1083](https://github.com/zerocracy/farm/issues/1083) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1801506880); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-29 15:11] yegor256 commented on #993
@paulodamaso thanks!

[2018-06-29 15:11] #993 closed

[2018-06-29 15:12] yegor256 opened #1291 "let's send ZLD to everybody on task closure"
Let's send ZLD every time (!) we make a payment to anyone. Some users will decided to earn ZLD and will setup their wallets. That's fine. But on top of that, let's send ZLD automatically to everybody. Thus, if someone decides to earn ZLD, he/she will select double amounts in ZLD.

[2018-06-29 15:12] 0crat commented on #1291
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-29 15:16] 0crat commented on #1088
The job [#1088](https://github.com/zerocracy/farm/issues/1088) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1801516971); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-29 15:30] g4s8 commented on #980
@yegor256 please say, can we drop ETH wallets support in this ticket or this bug should be fixed?

[2018-06-29 15:42] ypshenychka commented on #983
@g4s8 Please advise about quality here. Is it "bad" since no solution was provided (or a unit test for example), or "acceptable" since performer still spent some time in digging into this?

[2018-06-29 15:42] 0crat commented on #1291
Job `gh:zerocracy/farm#1291` already assigned to @g4s8, can't assign to @g4s8

[2018-06-29 15:42] 0crat commented on #1291
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-29 15:42] 0crat commented on #1291
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-29 15:45] llorllale commented on #1288
@g4s8 unless we open the "funding floodgates", this will do the opposite of helping to move projects forward in "meaningful" ways.

For example, I would never ever want to pay for something like this to be honest: yegor256/cactoos#912. A project's funds are a very valuable resource and to have them used up like this (even with tiny boosts) is, to me, unacceptable.

So until we are suddenly drownin

[2018-06-29 15:47] ypshenychka commented on #993
@paulodamaso According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details on registered [impediment](https://github.com/zerocracy/farm/issues/993#issuecomment-400909435).

[2018-06-29 17:29] paulodamaso commented on #993
@ypshenychka What else could I write there?

[2018-06-29 18:05] g4s8 commented on #970
@rultor release, tag=`0.23.7`

[2018-06-29 18:07] rultor commented on #970
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15152-401430726)

[2018-06-29 18:18] rultor commented on #970
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15152-401430726) (took me 10min)

[2018-06-29 18:32] paulodamaso commented on #487
@amihaiemil Thanks for the lead. @g4s8 could you please post footprint claims here for this job: yegor256/jpeek#108

[2018-06-29 18:49] llorllale opened #1293 "Consolidate several data points in order to understand project work capacity"
As `ARC` I need a consolidated view with the following information for all members of my project in order to better understand our current work capacity:

* Login
* Role(s)
* Vacation status
* Job ratio (current_jobs/max_jobs)

Additionally, I need to see the funds available for continued assignment and scoping of tasks. This is different from the total overall funding of the project.

[2018-06-29 18:49] 0crat commented on #1293
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-29 18:49] 0crat commented on #1293
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-29 19:29] 0crat commented on #993
Order was finished, quality is "acceptable": +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-06-29 19:29] 0crat commented on #993
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-29 22:37] 0crat commented on #1061
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-30 03:01] carlosmiranda commented on #1138
@g4s8 I think we should proceed with this. The way it works now is that performers will suspend tasks indefinitely, or refuse them. That will result in even more work for the architect because he now has to find those tasks with impediments or were refused and manually reassign them.

We can add information to the tasks to indicate if they are postponed (e.g. in WBS) so that architect has a high l

[2018-06-30 04:31] carlosmiranda commented on #1243
@yegor256 ping

[2018-06-30 04:48] yegor256 commented on #1243
@carlosmiranda thanks!

[2018-06-30 04:48] #1243 closed

[2018-06-30 05:04] 0crat commented on #1243
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-30 05:04] 0crat commented on #1243
The job [#1243](https://github.com/zerocracy/farm/issues/1243) is now out of scope

[2018-06-30 05:07] 0crat commented on #721
The job [#721](https://github.com/zerocracy/farm/issues/721) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1810512654); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-30 05:11] krzyk commented on #1152
@g4s8 Can I take this? It is a major PITA not seeing the titles in agenda.

[2018-06-30 06:42] carlosmiranda commented on #1281
@krzyk @g4s8 see PR #1294.

[2018-06-30 06:42] carlosmiranda commented on #1281
@0crat wait for merge of #1294

[2018-06-30 06:42] 0crat commented on #1281
@carlosmiranda The impediment for [#1281](https://github.com/zerocracy/farm/issues/1281) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-30 07:28] 0crat commented on #1243
Order was finished, quality is "good": +38 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-30 07:28] 0crat commented on #1243
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-30 08:02] g4s8 commented on #1152
@0crat assign @krzyk

[2018-06-30 08:05] 0crat commented on #1152
@g4s8 The job [#1152](https://github.com/zerocracy/farm/issues/1152) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1810811322); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-06-30 08:05] 0crat commented on #1152
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-30 08:12] g4s8 commented on #487
@paulodamaso sure: [footprint.txt](https://github.com/zerocracy/farm/files/2151536/footprint.txt)

[2018-06-30 08:34] g4s8 commented on #1138
@carlosmiranda I think we can suspend some tasks if they are blocked by external issue: ARC say `@0crat suspend`, this task removed from WBS and added to `suspends.xml` where we can keep task's performer, when external issue is solved ARC can say `@0crat continue` and this job will be moved from `suspends.xml` back to WBS and performer will be automatically assigned.

@yegor256 please, have a look

[2018-06-30 08:38] g4s8 commented on #1293
@llorllale I think we can show this details on project page for `ARC` and `PO` roles.

[2018-06-30 08:39] 0crat commented on #1293
Job [#1293](https://github.com/zerocracy/farm/issues/1293) is now in scope, role is `DEV`

[2018-06-30 08:41] 0crat commented on #1293
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-30 09:50] carlosmiranda commented on #1138
@g4s8 sounds good, I don't think it's necessary to keep the performer though. By the time task is available again, he may be full of tasks, or even resigned

[2018-06-30 10:41] 0pdd commented on #1061
The puzzle `808-5c63d8cf` has disappeared from the source code, that's why I closed this issue.

[2018-06-30 10:41] #1061 closed

[2018-06-30 10:41] 0pdd commented on #808
@yegor256 the only puzzle [#1061](https://github.com/zerocracy/farm/issues/1061) is solved here.

[2018-06-30 11:00] 0crat commented on #1061
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-30 11:00] 0crat commented on #1061
The job [#1061](https://github.com/zerocracy/farm/issues/1061) is now out of scope

[2018-06-30 13:16] krzyk commented on #1152
@0pdd PR created #1297

[2018-06-30 13:58] yegor256 commented on #980
@g4s8 let's just drop the support and simply inform the user that ETH can't be used, when he tries to use it.

[2018-06-30 18:18] paulodamaso opened #1298 "Drop ETH support"
Result from #980:
We need to drop Etherium support from Zerocracy
- Remove ETH support mentioned in Policy (https://www.zerocracy.com/policy.html#20)
- Remove ETH wallets support informing that ETH cannot be used when user tries to use it.

[2018-06-30 18:18] 0crat commented on #1298
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-30 18:50] paulodamaso commented on #983
@g4s8 Ping

[2018-06-30 18:57] ypshenychka commented on #1061
@0crat quality good

[2018-06-30 19:00] 0crat commented on #1061
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-30 19:37] 0crat commented on #1245
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-01 05:11] yegor256 commented on #1162
@g4s8 yes, I agree

[2018-07-01 09:09] krzyk opened #1299 "Agenda `added` field is shifted by 1 day"
Today when I entered my agenda I see following entries:
![image](https://user-images.githubusercontent.com/105730/42132796-033c9360-7d1f-11e8-802f-e70507baa940.png)

It looks like the `added` field is shifted by `-1 day`. I'm not sure what might have caused that, but it makes harder to read and decide on tasks.

[2018-07-01 09:09] 0crat commented on #1299
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-01 09:30] 0crat commented on #1162
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-07-01 09:41] g4s8 commented on #1298
@paulodamaso I think this taks should be submitted as a puzzle, as a result of #980 job.

[2018-07-01 09:46] g4s8 commented on #1299
@krzyk your agenda has correct `added` values, but formatting in `xsl` is not working properly. Please resubmit this bug in https://github.com/zerocracy/datum repo.

[2018-07-01 09:46] #1299 closed

[2018-07-01 09:57] g4s8 commented on #983
@ypshenychka @paulodamaso I think quality of this job is bad, because this discussion didn't produce any conclusion, such as documentation changes or new pdd-puzzle or unit test.

[2018-07-01 10:01] 0crat commented on #1299
Job `gh:zerocracy/farm#1299` is not assigned, can't get performer

[2018-07-01 10:01] 0crat commented on #1299
The job is not in WBS, won't close the order

[2018-07-01 10:19] ypshenychka commented on #983
@g4s8 Thank you.

[2018-07-01 10:20] ypshenychka commented on #983
@0crat quality bad

[2018-07-01 10:22] 0crat commented on #983
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-07-01 10:22] 0crat commented on #983
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-01 16:09] 0pdd commented on #1079
The puzzle `1074-b36594a1` has disappeared from the source code, that's why I closed this issue.

[2018-07-01 16:09] #1079 closed

[2018-07-01 16:09] 0pdd commented on #1074
@yegor256 the only puzzle [#1079](https://github.com/zerocracy/farm/issues/1079) is solved here.

[2018-07-01 17:33] victornoel commented on #980
@paulodamaso see https://github.com/zerocracy/farm/issues/1298#issuecomment-401595754, I will close it after that :)

[2018-07-01 17:40] 0crat commented on #952
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-01 17:56] krzyk commented on #1089
@0crat refuse

[2018-07-01 17:57] 0crat commented on #1089
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1089](https://github.com/zerocracy/farm/issues/1089), please stop working. Reason for job resignation: Order was cancelled

[2018-07-01 18:00] 0crat commented on #1089
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-01 18:06] amihaiemil opened #1301 "Agenda "Added" Column Seems Broken"
Maybe it was a temporary issue (since the latest job's addition time is correct), but some jobs in my agenda have negative addition times, in minutes:

<img width="546" alt="image" src="https://user-images.githubusercontent.com/6305156/42137301-a6344a24-7d72-11e8-99ea-2355f0c02396.png">

[2018-07-01 18:06] 0crat commented on #1301
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-01 19:22] yegor256 opened #1302 "don't kick out REV from pull requests on delay"
I think we should not kick out REV (code reviewers) from pull requests on delay. They can't responsible for the delays there, since the code is not theirs.

[2018-07-01 19:22] 0crat commented on #1302
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-01 19:48] uurl commented on #1247
@0crat wait

[2018-07-01 19:48] 0crat commented on #1247
@uurl The impediment for [#1247](https://github.com/zerocracy/farm/issues/1247) was registered successfully by @uurl[/z](https://www.0crat.com/u/uurl)

[2018-07-01 20:56] 0crat commented on #1302
Job [#1302](https://github.com/zerocracy/farm/issues/1302) is now in scope, role is `DEV`

[2018-07-01 20:58] 0crat commented on #1302
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-01 21:08] g4s8 commented on #1301
@amihaiemil it's a duplicate of https://github.com/zerocracy/datum/issues/362, looks like xsl was broken with recent changes related to time formatting

[2018-07-01 21:08] #1301 closed

[2018-07-02 00:12] paulodamaso commented on #980
@victornoel @g4s8 Put puzzle in code, as asked, and made a PR https://github.com/zerocracy/farm/pull/1303

[2018-07-02 00:12] paulodamaso commented on #1298
@g4s8 Take a look at https://github.com/zerocracy/farm/pull/1303.

[2018-07-02 00:12] #1298 closed

[2018-07-02 08:16] 0pdd commented on #1152
The puzzle `1105-a65697ae` has disappeared from the source code, that's why I closed this issue.

[2018-07-02 08:16] #1152 closed

[2018-07-02 08:16] 0pdd commented on #422
@g4s8 all 3 puzzles are solved here: [#1105](https://github.com/zerocracy/farm/issues/1105), [#1152](https://github.com/zerocracy/farm/issues/1152), [#843](https://github.com/zerocracy/farm/issues/843).

[2018-07-02 08:16] 0pdd commented on #843
@0pdd all 2 puzzles are solved here: [#1105](https://github.com/zerocracy/farm/issues/1105), [#1152](https://github.com/zerocracy/farm/issues/1152).

[2018-07-02 08:16] 0pdd commented on #1105
@0pdd the only puzzle [#1152](https://github.com/zerocracy/farm/issues/1152) is solved here.

[2018-07-02 08:22] g4s8 commented on #983
@paulodamaso research results have to be documented somewhere to not lose them. If this bug reproduced again, the performer most probably will do same research to find the reason, I mean, that your research will not help to fix same issue in the future.

[2018-07-02 08:33] 0crat commented on #1152
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-02 08:33] 0crat commented on #1152
The job [#1152](https://github.com/zerocracy/farm/issues/1152) is now out of scope

[2018-07-02 08:35] ypshenychka commented on #1152
@0crat quality good

[2018-07-02 08:38] #1245 closed

[2018-07-02 08:38] 0pdd commented on #1245
The puzzle `1215-4176ce2c` has disappeared from the source code, that's why I closed this issue.

[2018-07-02 08:38] 0pdd commented on #1208
@g4s8 the puzzle [#1246](https://github.com/zerocracy/farm/issues/1246) is still not solved; solved: [#1215](https://github.com/zerocracy/farm/issues/1215), [#1245](https://github.com/zerocracy/farm/issues/1245).

[2018-07-02 08:38] 0pdd commented on #1215
@0pdd the puzzle [#1246](https://github.com/zerocracy/farm/issues/1246) is still not solved; solved: [#1245](https://github.com/zerocracy/farm/issues/1245).

[2018-07-02 08:41] krzyk commented on #1245
@0pdd please see PR #1296

[2018-07-02 08:42] 0crat commented on #1152
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-02 08:42] 0crat commented on #1152
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-02 08:49] 0crat commented on #1096
The job [#1096](https://github.com/zerocracy/farm/issues/1096) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1830857651); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-02 08:55] 0crat commented on #1245
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-02 08:55] 0crat commented on #1245
The job [#1245](https://github.com/zerocracy/farm/issues/1245) is now out of scope

[2018-07-02 09:04] 0pdd opened #1304 "Crypto.java:43-45: We need to drop Etherium support from..."
The puzzle `980-46a74068` from #980 has to be resolved:

https://github.com/zerocracy/farm/blob/cf9716d65c4d243cd375cd77b77b7bc85053ae63/src/main/java/com/zerocracy/pmo/banks/Crypto.java#L43-L45

The puzzle was created by Paulo Lobo on 02-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-07-02 09:04] 0pdd commented on #980
@victornoel the puzzle [#1304](https://github.com/zerocracy/farm/issues/1304) is still not solved.

[2018-07-02 09:04] 0crat commented on #1304
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-02 09:05] 0crat commented on #1304
Job [#1304](https://github.com/zerocracy/farm/issues/1304) is now in scope, role is `DEV`

[2018-07-02 09:06] victornoel commented on #980
@g4s8 @paulodamaso I'm closing this then

[2018-07-02 09:06] #980 closed

[2018-07-02 09:23] 0crat commented on #980
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-02 09:24] 0crat commented on #980
The job [#980](https://github.com/zerocracy/farm/issues/980) is now out of scope

[2018-07-02 09:34] 0pdd commented on #841
The puzzle `552-9d3ef349` has disappeared from the source code, that's why I closed this issue.

[2018-07-02 09:34] #841 closed

[2018-07-02 09:34] 0pdd commented on #366
@yegor256 all 4 puzzles are solved here: [#1059](https://github.com/zerocracy/farm/issues/1059), [#552](https://github.com/zerocracy/farm/issues/552), [#840](https://github.com/zerocracy/farm/issues/840), [#841](https://github.com/zerocracy/farm/issues/841).

[2018-07-02 09:34] 0pdd commented on #552
@0pdd all 3 puzzles are solved here: [#1059](https://github.com/zerocracy/farm/issues/1059), [#840](https://github.com/zerocracy/farm/issues/840), [#841](https://github.com/zerocracy/farm/issues/841).

[2018-07-02 09:47] ypshenychka commented on #1245
@0crat quality good

[2018-07-02 09:51] 0crat commented on #1245
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-02 09:51] 0crat commented on #1245
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-02 09:52] 0crat commented on #841
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-02 09:52] 0crat commented on #841
The job [#841](https://github.com/zerocracy/farm/issues/841) is now out of scope

[2018-07-02 09:54] ypshenychka commented on #980
@0crat quality good

[2018-07-02 09:57] g4s8 commented on #1129
@0crat assign @carlosmiranda

[2018-07-02 09:58] 0crat commented on #1129
@g4s8 The job [#1129](https://github.com/zerocracy/farm/issues/1129) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1830966840); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-07-02 09:58] 0pdd opened #1305 "PeopleTest.java:45-48: Continue replacing old Date..."
The puzzle `952-47c309d2` from #952 has to be resolved:

https://github.com/zerocracy/farm/blob/874587f72f2b9bd7b03ec290cd6743d543b39280/src/test/java/com/zerocracy/pmo/PeopleTest.java#L45-L48

The puzzle was created by Krzysztof Krason on 01-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fi

[2018-07-02 09:58] 0pdd commented on #952
@g4s8 the puzzle [#1305](https://github.com/zerocracy/farm/issues/1305) is still not solved.

[2018-07-02 09:58] 0crat commented on #1129
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-02 09:58] 0crat commented on #980
Order was finished, quality is "good": +38 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-02 09:58] 0crat commented on #980
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-02 09:59] 0crat commented on #1305
Job [#1305](https://github.com/zerocracy/farm/issues/1305) is now in scope, role is `DEV`

[2018-07-02 09:59] 0crat commented on #1305
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-02 09:59] krzyk commented on #952
@g4s8 please close this issue, it has been fixed in #1300

[2018-07-02 09:59] ypshenychka commented on #841
@carlosmiranda According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details to the registered [impediment](https://github.com/zerocracy/farm/issues/841#issuecomment-400159550), as it's not clear what are you waiting exactly from mentioned PR.

[2018-07-02 10:04] 0crat commented on #1139
The job [#1139](https://github.com/zerocracy/farm/issues/1139) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1831013958); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-02 10:18] g4s8 commented on #952
@krzyk thanks

[2018-07-02 10:18] #952 closed

[2018-07-02 10:37] 0crat commented on #952
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-02 10:37] 0crat commented on #952
The job [#952](https://github.com/zerocracy/farm/issues/952) is now out of scope

[2018-07-02 10:40] 0crat commented on #767
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-02 10:40] 0crat commented on #767
The job [#767](https://github.com/zerocracy/farm/issues/767) is now out of scope

[2018-07-02 10:54] ypshenychka commented on #952
@0crat quality good

[2018-07-02 10:59] ypshenychka commented on #767
@0crat quality good

[2018-07-02 11:09] 0crat commented on #952
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-02 11:09] 0crat commented on #952
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-02 11:09] 0crat commented on #767
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-02 11:09] 0crat commented on #767
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-02 11:20] 0crat commented on #1141
The job [#1141](https://github.com/zerocracy/farm/issues/1141) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1831129855); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-02 11:29] 0crat commented on #1140
The job [#1140](https://github.com/zerocracy/farm/issues/1140) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1831139946); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-02 12:19] carlosmiranda commented on #841
@ypshenychka confirmed

[2018-07-02 12:23] ypshenychka commented on #841
@carlosmiranda Thank you!

[2018-07-02 12:23] ypshenychka commented on #841
@0crat quality acceptable

[2018-07-02 12:46] ypshenychka opened #1307 "0crat queues tickets to infinite when several QA verdicts were done one by one"
It happened already several times.
I've finished QA reviews one by one in several tickets. Within some amount of time (up to 10 mins) 0crat gave the points for them. But two tickets #1296 and #1300 (that were reviewed even earlier than the tickets that were already rewarded by 0crat) were queued and there's no word from 0crat for 2 hours.

NOTE: issue #841 was reviewed much later than the above on

[2018-07-02 12:46] 0crat commented on #1307
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-02 13:01] carlosmiranda commented on #1302
@yegor256 @g4s8 seems like a bug in delay notification. So far I have not been kicked out of REV jobs for delays.

[2018-07-02 13:04] paulodamaso commented on #1302
@carlosmiranda Take a look at these, it happened to me:
- https://github.com/yegor256/jpeek/pull/247
- https://github.com/yegor256/jpeek/pull/256

[2018-07-02 13:06] carlosmiranda opened #1308 "Allow run of specific BundlesTest cases"
Right now the build takes a bit of time (around 20 minutes), and `BundlesTest` alone takes up around 9 minutes in my machine. This means that up to 1/3rd of my actual "development" time is just running `BundlesTest`.

This makes debugging one particular test case extremely tedious, not to mention financially inefficient, given that we work by microtasks.

Let's allow the option of running just one

[2018-07-02 13:06] 0crat commented on #1308
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-02 13:08] carlosmiranda commented on #1302
@paulodamaso right, fair enough

[2018-07-02 14:03] emilianodellacasa opened #1309 "Github ticket assignment"
When the zerocracy bot assign the issue to a user, the assignement should result also on Github.

This would be useful to have a glance of all assigned issue on Github and not only on zerocracy website

[2018-07-02 14:04] 0crat commented on #1309
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-02 14:04] 0crat commented on #1309
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-02 14:05] amihaiemil opened #1310 "Javadocs on stakeholders"
Right now the stakeholders are lacking javadocs. I think we should start writing javadocs on the existing ones and also on the ones to follow in the future.

This is not just a request for documentation, but it should be a habit -- they are very important parts of the system and I already found a few which I don't understand (for instance, I don't know what is the difference between ``contribute_b

[2018-07-02 14:05] 0crat commented on #1310
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-02 14:38] g4s8 commented on #1309
@emilianodellacasa it should work as you said, can you attach a link to the ticket where it fails?

[2018-07-02 14:40] 0crat commented on #1310
The job [#1310](https://github.com/zerocracy/farm/issues/1310) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1831449906); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-02 14:43] 0crat commented on #1310
Job `gh:zerocracy/farm#1310` already assigned to @g4s8, can't assign to @g4s8

[2018-07-02 14:43] 0crat commented on #1310
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-07-02 14:43] 0crat commented on #1310
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-02 14:50] emilianodellacasa commented on #1309
@g4s8 https://github.com/zold-io/zold/issues/306 for example

[2018-07-02 14:57] 0pdd opened #1311 "send_zold.groovy:29-32: Add tests for payments via..."
The puzzle `1291-e0f9fdc9` from #1291 has to be resolved:

https://github.com/zerocracy/farm/blob/29b860e47d4395793dba4fc7d1898acb95e7afb0/src/main/groovy/com/zerocracy/stk/pm/cost/funding/send_zold.groovy#L29-L32

The puzzle was created by g4s8 on 02-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-07-02 14:57] 0pdd commented on #1291
@yegor256 the puzzle [#1311](https://github.com/zerocracy/farm/issues/1311) is still not solved.

[2018-07-02 14:58] 0crat commented on #1311
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-02 14:58] 0crat commented on #1311
Job [#1311](https://github.com/zerocracy/farm/issues/1311) is now in scope, role is `DEV`

[2018-07-02 15:04] emilianodellacasa opened #1312 "Zerocracy bot is notifying me for an issue that was never assigned"
I received a notification from zerocracy bot on an issue that was never assigned to me.

Looking at the comment history it could be seen that it was never assigned to me, but the bot thinks 5 days have passed.

Link to the issue: https://github.com/zold-io/zold/issues/89

[2018-07-02 15:05] 0crat commented on #1312
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-02 15:05] 0crat commented on #1312
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-02 15:16] g4s8 commented on #1291
@yegor256 can we close this? It shoud be implemented in #1306

[2018-07-02 15:18] Vatavuk opened #1313 "0crat is subtracting points instead of adding them"
Instead of gaining 15 points on accepted [issue](https://github.com/yegor256/cactoos/issues/826#issuecomment-388580671) 0crat
subtracted it from my total points. I had 745 points and now I have 730.

EDIT: I'm in vacation mode, maybe this is somehow connected to the problem

I'm copy-pasting 0crat messages from telegram:

You got +35 point(s) in the job #48 (https://github.com/yegor256/cactoos-htt

[2018-07-02 15:18] 0crat commented on #1313
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-02 15:18] 0crat commented on #1313
@vatavuk[/z](https://www.0crat.com/u/vatavuk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-02 15:23] g4s8 commented on #1291
@rultor release, tag=`0.24.2`

[2018-07-02 15:24] rultor commented on #1291
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15185-401841795)

[2018-07-02 15:30] rultor commented on #1291
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15185-401841795) (spent 5min)

[code]

[2018-07-02 15:41] g4s8 commented on #1313
@Vatavuk you have only positive reputation updates for last few weeks, see https://www.0crat.com/u/vatavuk/awards. It seems that your reputation was "cropped" according to https://www.zerocracy.com/policy.html#18

[2018-07-02 15:45] g4s8 commented on #1291
@rultor release, tag=`0.24.2`

[2018-07-02 15:46] rultor commented on #1291
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15185-401848423)

[2018-07-02 15:47] paulodamaso commented on #1175
@g4s8 So the bonus is incorrect yet?

[2018-07-02 15:52] rultor commented on #1291
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15185-401848423) (spent 5min)

[code]

[2018-07-02 16:08] krzyk commented on #1175
@paulodamaso it has to be implemented in https://github.com/zerocracy/farm/issues/1287 (no assignee yet)

[2018-07-02 16:32] Vatavuk commented on #1313
@g4s8 I wasnt aware of this, thx. Closing

[2018-07-02 16:32] #1313 closed

[2018-07-02 16:42] g4s8 commented on #1291
@rultor release, tag=`0.24.2`

[2018-07-02 16:44] rultor commented on #1291
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15185-401864556)

[2018-07-02 16:55] rultor commented on #1291
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15185-401864556) (took me 10min)

[2018-07-02 17:37] 0crat commented on #1262
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-02 17:57] paulodamaso commented on #1175
@g4s8 And for `DEV`? It's 16% or 8% ?

[2018-07-02 18:11] proshin-roman commented on #860
@0crat refuse

[2018-07-02 18:13] yegor256 commented on #1291
@g4s8 thanks

[2018-07-02 18:13] #1291 closed

[2018-07-02 18:15] g4s8 commented on #1291
@0crat status

[2018-07-02 18:30] krzyk commented on #1175
@paulodamaso Sorry for jumping in, but for now I see it is 8%. You can try creating bug similar to https://github.com/zerocracy/zerocracy.github.io/issues/25 for DEV.

[2018-07-02 18:39] g4s8 commented on #1291
@rultor release, tag=`0.24.3`

[2018-07-02 18:40] rultor commented on #1291
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15185-401896189)

[2018-07-02 18:46] rultor commented on #1291
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15185-401896189) (spent 6min)

[code]

[2018-07-02 18:56] g4s8 commented on #1291
@rultor release, tag=`0.24.4`

[2018-07-02 18:56] rultor commented on #1291
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15185-401900815)

[2018-07-02 19:02] rultor commented on #1291
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15185-401900815) (spent 5min)

[code]

[2018-07-02 19:06] g4s8 commented on #1291
@rultor release, tag=`0.24.4`

[2018-07-02 19:07] rultor commented on #1291
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15185-401903783)

[2018-07-02 19:17] rultor commented on #1291
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15185-401903783) (took me 10min)

[2018-07-02 19:59] ypshenychka commented on #1307
Now no repsonse in https://github.com/zold-io/zold/pull/317.

[2018-07-02 20:28] 0crat commented on #1307
The job [#1307](https://github.com/zerocracy/farm/issues/1307) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1832024027); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-02 20:29] g4s8 opened #1315 "NPE in /guts"
`/guts` returns `NullPointerException`:
[code]

[2018-07-02 20:29] 0crat commented on #1307
Job `gh:zerocracy/farm#1307` already assigned to @g4s8, can't assign to @g4s8

[2018-07-02 20:29] 0crat commented on #1307
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-02 20:31] g4s8 commented on #1307
@0crat status

[2018-07-02 20:38] g4s8 commented on #1307
@rultor release, tag=`0.24.5`

[2018-07-02 20:38] krzyk commented on #1066
@0crat please see PR #1316

[2018-07-02 20:40] rultor commented on #1307
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15189-401927152)

[2018-07-02 20:43] 0crat commented on #1066
@krzyk Can't understand "please", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of the

[2018-07-02 20:56] g4s8 commented on #1307
@0crat status

[2018-07-02 20:56] rultor commented on #1307
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15189-401927152) (took me 16min)

[2018-07-02 20:57] 0crat commented on #1307
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1307](https://github.com/zerocracy/farm/issues/1307) is [in scope](http://www.zerocracy.com/policy.html#14) for 32min
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [31min](http://www.zerocracy

[2018-07-02 21:08] 0pdd opened #1317 "Claims.java:52-55: Changes for #1245 fix were reverted in..."
The puzzle `1307-a0596409` from #1307 has to be resolved:

https://github.com/zerocracy/farm/blob/9007b443693287706f4ac437ac4be9931a4b1f84/src/main/java/com/zerocracy/pm/Claims.java#L52-L55

The puzzle was created by g4s8 on 02-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the tex

[2018-07-02 21:08] 0pdd commented on #1307
@ypshenychka the puzzle [#1317](https://github.com/zerocracy/farm/issues/1317) is still not solved.

[2018-07-02 21:08] 0crat commented on #1317
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-02 21:08] 0crat commented on #1317
Job [#1317](https://github.com/zerocracy/farm/issues/1317) is now in scope, role is `DEV`

[2018-07-02 21:08] g4s8 commented on #1307
@ypshenychka it should be fixed in a2f5821c23469a680485ae8bb6ac875316eb3b24
please say your verdict again, because 0crat loses previous verdicts.

[2018-07-02 21:10] g4s8 commented on #1317
@0crat assign @krzyk

[2018-07-02 21:11] 0crat commented on #1317
@g4s8 The job [#1317](https://github.com/zerocracy/farm/issues/1317) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1832111187); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-07-02 21:13] 0crat commented on #1317
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-02 21:31] krzyk commented on #1067
@0pdd please see PR #1318

[2018-07-02 21:34] 0crat commented on #1308
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-03 06:56] carlosmiranda commented on #1129
@g4s8 see PR #1319

[2018-07-03 06:56] carlosmiranda commented on #1129
@0crat wait for merge of #1319

[2018-07-03 06:56] 0crat commented on #1129
@carlosmiranda The impediment for [#1129](https://github.com/zerocracy/farm/issues/1129) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-03 07:29] emilianodellacasa commented on #1312
@g4s8 ping

[2018-07-03 07:33] g4s8 commented on #1119
@rultor release, tag=`0.24.6`

[2018-07-03 07:37] botanicus opened #1320 "Add an alternative cash-based payout method"
As of now, the only _money-based_ payout method is PayPal. If for whatever reason PayPal doesn’t work for someone (as [reportedly in Paraguay](https://github.com/zerocracy/farm/issues/865)), then one is out of luck.

___

**My scenario:**
- I need to get the money to my [TransferWise borderless account](https://transferwise.com/gb/borderless/). It gives me a local US bank account, MasterCard and a

[2018-07-03 07:37] 0crat commented on #1320
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-03 07:37] 0crat commented on #1320
@botanicus[/z](https://www.0crat.com/u/botanicus) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-03 07:37] rultor commented on #1119
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15191-402041439) (spent 3min)

[code]

[2018-07-03 07:40] g4s8 commented on #1119
@rultor release, tag=`0.24.6`

[2018-07-03 07:42] rultor commented on #1119
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15191-402043173)

[2018-07-03 07:48] amihaiemil opened #1321 "Redesign AddException and overflow for claims"
From what I understand, if there are too many states in a claim, if it becomes overflowed or for some reason it could not a claim could not be added, an exceptin will be thrown.

But, on the other hand, 0crat modifies/adds claims as a result to some trigger, change of job state etc. Wouldn't it be better if 0crat commented on Github or Telegram, or somehow let the users know that something doesn't

[2018-07-03 07:48] 0crat commented on #1321
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-03 07:49] ypshenychka opened #1322 "Failure when inviting someone in Telegram"
After application from new user, I've invited him in Telegram through 0crat bot. Error is copied below. But in fact user is invited.

org.glassfish.json.JsonObjectBuilderImpl$JsonObjectImpl[252] java.lang.ClassCastException: javax.json.JsonValueImpl cannot be cast to javax.json.JsonString

[2018-07-03 07:49] 0crat commented on #1322
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-03 07:52] ypshenychka commented on #1307
@g4s8 In all three issues received message fro 0crat "There is no quality review for <>, no performer". But no points or payment was done in zold-io/zold#317

[2018-07-03 07:53] rultor commented on #1119
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15191-402043173) (took me 10min)

[2018-07-03 07:56] amihaiemil commented on #1322
@ypshenychka Is that the whole stacktrace of the exception? This is a very trivial error and it should tell you exactly at which line, in which file, the error occured :)

[2018-07-03 07:59] proshin-roman commented on #860
@0crat refuse

[2018-07-03 08:00] 0crat commented on #860
@proshin-roman The job [#860](https://github.com/zerocracy/farm/issues/860) is assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), you cannot resign, since you are not a `PO` or `ARC`

[2018-07-03 08:09] ypshenychka commented on #1322
@amihaiemil That's what I see in chat. Please tell me where can I see whole stacktrace.
![image](https://user-images.githubusercontent.com/11703257/42207017-7c945cc8-7eb1-11e8-99de-0a2c9243d45c.png)

[2018-07-03 08:09] g4s8 commented on #1119
@rultor release, tag=`0.24.7`

[2018-07-03 08:10] amihaiemil commented on #1322
@ypshenychka I see. Then the whole stacktrace should be in the logs. I thought maybe it gave you more information (on Github, for instance, it writes the whole stacktrace usually)

[2018-07-03 08:12] ypshenychka commented on #1322
@amihaiemil Thanks. Yesterady I had exactly the same error. So it's actually started yesterday.
![image](https://user-images.githubusercontent.com/11703257/42207167-ec1a8798-7eb1-11e8-8af0-1e7e3427fbed.png)

[2018-07-03 08:13] amihaiemil commented on #860
@0crat status

[2018-07-03 08:21] 0crat commented on #860
@amihaiemil This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#860](https://github.com/zerocracy/farm/issues/860) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) for [14hr](http:/

[2018-07-03 08:40] proshin-roman commented on #860
@g4s8 I still see this ticket in my agenda (on hold status). Don't think I have to submit a new bug as there was a known problem some time ago with the bot. Could you fix it, please? I wanted to refuse this ticket.

[2018-07-03 08:43] g4s8 commented on #1269
@yegor256 yes, I think we can start with claims count, and change it later if needed.

[2018-07-03 08:45] g4s8 commented on #1269
@0crat assign @carlosmiranda

[2018-07-03 08:45] 0crat commented on #1269
@g4s8 The job [#1269](https://github.com/zerocracy/farm/issues/1269) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1840845506); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-07-03 08:48] g4s8 commented on #860
@proshin-roman this job is not assigned to you, your agenda will be updated soon automatically

[2018-07-03 08:48] 0crat commented on #1269
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-03 08:48] g4s8 commented on #1119
@rultor release, tag=`0.24.7`

[2018-07-03 08:48] rultor commented on #1119
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15191-402050844)

[2018-07-03 08:51] yegor256 commented on #1138
@g4s8 I like the idea with `suspends.xml`, but I don't think we need to remove them from`wbs.xml`. How about we just introduce a new type of impediment instead? There will be _soft_ impediments, which can be created by programmers, and there will be _hard_ impediments, which can only be created by ARC/PO. They will be created by `suspend` command. Also, let's create `continue` command as you sugge

[2018-07-03 08:58] carlosmiranda commented on #1138
@yegor256 sounds good

[2018-07-03 08:59] rultor commented on #1119
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15191-402050844) (took me 11min)

[2018-07-03 09:33] rultor commented on #1119
@g4s8 @yegor256 Invalid release tag `0.24.7` specified. There is already a release `0.24.7` newer than the given release in this repository.

[2018-07-03 09:44] 0crat commented on #1066
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-03 09:44] 0crat commented on #1066
The job [#1066](https://github.com/zerocracy/farm/issues/1066) is now out of scope

[2018-07-03 09:45] ypshenychka commented on #1066
@0crat quality good

[2018-07-03 09:47] 0crat commented on #1066
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-03 09:47] 0crat commented on #1066
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-03 09:49] g4s8 commented on #1119
@rultor release, tag=`0.24.8`

[2018-07-03 09:52] rultor commented on #1119
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15191-402083957)

[2018-07-03 09:53] yegor256 commented on #1138
@carlosmiranda the performer should not be resigned, but the election process should not take into account hard-impeeded tasks.

[2018-07-03 10:00] krzyk commented on #1262
@g4s8 changes have been merged in #1290, please close this issue

[2018-07-03 10:05] rultor commented on #1119
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15191-402083957) (took me 11min)

[2018-07-03 10:49] krzyk commented on #903
@0crat refuse

[2018-07-03 10:50] 0crat commented on #903
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#903](https://github.com/zerocracy/farm/issues/903), please stop working. Reason for job resignation: Order was cancelled

[2018-07-03 10:53] 0crat commented on #903
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-03 11:03] 0crat commented on #1142
The job [#1142](https://github.com/zerocracy/farm/issues/1142) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1841102667); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-03 11:55] 0crat commented on #1138
Job [#1138](https://github.com/zerocracy/farm/issues/1138) is now in scope, role is `DEV`

[2018-07-03 11:56] g4s8 commented on #1262
@krzyk thanks

[2018-07-03 11:56] #1262 closed

[2018-07-03 11:57] krzyk opened #1324 "Inconsistent usage of new java.time API"
We have multiple places where we use new java.time API, but we sometimes use `Instant`, sometimes `ZonedDateTime` and sometimes `LocalDateTime`.

In most cases `Instant` is enough and using more complicated classes is not justified.

Examples:
ClaimOut.java:
[code]
should be replaced with
[code]

Awards.java
[code]
should be replaced with:
[code]

JobExpired uses LocalDateTime without any particul

[2018-07-03 11:57] 0crat commented on #1324
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-03 11:57] 0crat commented on #1138
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-03 11:59] g4s8 commented on #1322
@ypshenychka thanks, but it's a duplicate of #1166

[2018-07-03 11:59] #1322 closed

[2018-07-03 12:00] g4s8 commented on #1166
@0crat assign @carlosmiranda

[2018-07-03 12:05] 0crat commented on #1322
Job `gh:zerocracy/farm#1322` is not assigned, can't get performer

[2018-07-03 12:05] 0crat commented on #1166
@g4s8 The job [#1166](https://github.com/zerocracy/farm/issues/1166) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1841205343); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-07-03 12:06] g4s8 commented on #1119
@rultor release, tag=`0.24.9`

[2018-07-03 12:06] 0pdd opened #1325 "send_zold.groovy:44-46: Reason is not attached to..."
The puzzle `1119-cdea2c77` from #1119 has to be resolved:

https://github.com/zerocracy/farm/blob/f749e9415d87aa8cd78209a898adfa0e3b59a64a/src/main/groovy/com/zerocracy/stk/pm/cost/funding/send_zold.groovy#L44-L46

The puzzle was created by g4s8 on 03-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-07-03 12:06] 0pdd commented on #1119
@yegor256 the puzzle [#1325](https://github.com/zerocracy/farm/issues/1325) is still not solved.

[2018-07-03 12:06] 0crat commented on #1325
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-03 12:07] 0crat commented on #1166
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-03 12:07] 0crat commented on #1325
Job [#1325](https://github.com/zerocracy/farm/issues/1325) is now in scope, role is `DEV`

[2018-07-03 12:12] g4s8 commented on #1312
It fails beause of multi-currencies job estimate:
[code]
duplicate of #1265

[2018-07-03 12:12] #1312 closed

[2018-07-03 12:12] g4s8 commented on #1265
Same stacktrace: https://github.com/zerocracy/farm/issues/1312#issuecomment-402133515

[2018-07-03 12:12] g4s8 commented on #1265
@0crat assign @krzyk

[2018-07-03 12:15] 0crat commented on #1312
Job `gh:zerocracy/farm#1312` is not assigned, can't get performer

[2018-07-03 12:16] 0crat commented on #1324
Job [#1324](https://github.com/zerocracy/farm/issues/1324) is now in scope, role is `DEV`

[2018-07-03 12:17] 0crat commented on #1265
@g4s8 The job [#1265](https://github.com/zerocracy/farm/issues/1265) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1841215464); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-07-03 12:17] 0crat commented on #1262
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-03 12:17] 0crat commented on #1262
The job [#1262](https://github.com/zerocracy/farm/issues/1262) is now out of scope

[2018-07-03 12:18] 0crat commented on #1265
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-03 12:18] 0crat commented on #1324
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-03 12:23] ypshenychka commented on #1262
@0crat quality good

[2018-07-03 12:32] 0crat commented on #1262
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-03 12:32] 0crat commented on #1262
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-03 12:33] g4s8 commented on #1320
@botanicus you also can configure Bitcoin wallet to receive payments, does it work for you?

[2018-07-03 12:34] rultor commented on #1119
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15191-402132025)

[2018-07-03 12:44] carlosmiranda commented on #1281
@krzyk #1294 merged, may we close this now?

[2018-07-03 12:45] rultor commented on #1119
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15191-402132025) (took me 10min)

[2018-07-03 12:46] krzyk commented on #1281
@carlosmiranda thanks

[2018-07-03 12:50] rultor commented on #1119
@g4s8 @yegor256 Invalid release tag `0.24.9` specified. There is already a release `0.24.9` newer than the given release in this repository.

[2018-07-03 12:50] rultor commented on #1119
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-07-03 12:56] g4s8 commented on #1119
@yegor256 it should be implemented in #1289, can we close?

[2018-07-03 12:58] g4s8 commented on #1120
@yegor256 It was implemented in #1289, can we close?

[2018-07-03 13:03] yegor256 commented on #1119
@g4s8 thanks!

[2018-07-03 13:03] #1119 closed

[2018-07-03 13:04] yegor256 commented on #1120
@g4s8 thanks!

[2018-07-03 13:04] #1120 closed

[2018-07-03 13:14] 0crat commented on #1163
The job [#1163](https://github.com/zerocracy/farm/issues/1163) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1841314378); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-03 13:17] krzyk commented on #1068
@0pdd please see PR #1326

[2018-07-03 13:41] emilianodellacasa commented on #1312
@g4s8 Thank, I just hope I won't receive a lot of negative reputation for not working to those issues

[2018-07-03 13:47] 0crat commented on #1119
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-03 13:50] ypshenychka commented on #1307
@g4s8 Could you please take a look at https://github.com/zold-io/zold/pull/317? No points or payments are done there.

[2018-07-03 14:20] 0crat commented on #1119
The job [#1119](https://github.com/zerocracy/farm/issues/1119) is now out of scope

[2018-07-03 14:21] 0crat commented on #1120
The job [#1120](https://github.com/zerocracy/farm/issues/1120) is now out of scope

[2018-07-03 14:23] g4s8 commented on #1317
@0crat status

[2018-07-03 14:24] 0crat commented on #1317
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1317](https://github.com/zerocracy/farm/issues/1317) is [in scope](http://www.zerocracy.com/policy.html#14) for 17hr
  * The role is `DEV`
  * The job is assigned to @krzyk[/z](https://www.0crat.com/u/krzyk) for [17hr](http://www.zerocracy

[2018-07-03 16:08] g4s8 commented on #1307
@ypshenychka looks like claim with payment to you was missed due to this issue, you can ask project's ARC for manual payment

[2018-07-03 17:15] g4s8 commented on #1312
@emilianodellacasa you can check your agenda on this page: https://www.0crat.com/u/emilianodellacasa/agenda

[2018-07-03 18:30] paulodamaso commented on #1175
@krzyk Thanks for the tipo, look at https://github.com/zerocracy/zerocracy.github.io/issues/32 .

[2018-07-03 18:35] krzyk commented on #1070
@0pdd see PR #1327

[2018-07-03 19:08] botanicus commented on #1320
@g4s8 I don’t know much about it, but if I understand how it works, then it’s certainly not preferred.

I think I’ll have to make one of these methods work at least for now anyway, but it’s probably still going to be bugging PayPal support rather than toying around with BTC (I really just want USD).

But that’s just as a workaround, I still believe in merit of this issue.

[2018-07-03 19:23] krzyk commented on #1072
@0pdd please see PR #1328

[2018-07-03 20:04] paulodamaso opened #1329 "Zerocrat projects participation inconsistencies"
Zerocrat is showing wrong projects in my profile page. I shows 7 projects, but I don't contribute to two of them anymore because I was kicked of them upon graduation:

![projects](https://user-images.githubusercontent.com/33915433/42241724-eb993f82-7ee1-11e8-94ea-70c7dd6a8058.png)

Curiously, there are no tasks of these projects in my agenda:

![agenda_grad](https://user-images.githubusercontent.c

[2018-07-03 20:04] 0crat commented on #1329
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-03 20:15] paulodamaso opened #1330 "Unpayable tasks"
Zerocrat is letting some jobs reach a state where it's impossible to pay the performer for his / her work. It occurred when job sticks to job performer after graduation: by policy job performer is kicked out of sandbox projects after graduation, but retains any unfinished tasks of this project. This causes a bonus calculation problem (https://github.com/zerocracy/farm/issues/1175) and, if ever any

[2018-07-03 20:15] 0crat commented on #1330
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-03 20:37] 0crat commented on #1067
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 20:37] 0crat commented on #1069
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 23:15] llorllale commented on #1330
@paulodamaso I would say that `0crat` should *automatically* make a payment for any job that you, as job performer, have completed, regardless of whether you're currently in the project or not.

As `ARC`, I certainly would *not* appreciate this little bit of extra work for myself. ;)

[2018-07-03 23:28] carlosmiranda commented on #1281
@krzyk it's not closed yet :)

[2018-07-03 23:36] 0crat commented on #1068
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 23:36] 0crat commented on #1070
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-04 00:12] carlosmiranda commented on #559
@0crat refuse

[2018-07-04 00:13] 0crat commented on #559
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#559](https://github.com/zerocracy/farm/issues/559), please stop working. Reason for job resignation: Order was cancelled

[2018-07-04 00:14] carlosmiranda commented on #1267
@g4s8 ping, can I get this task? It's blocking #1123 right now

[2018-07-04 00:14] 0crat commented on #559
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-04 02:22] paulodamaso commented on #1330
@llorllale That would be a good idea, but it would just solve one of the problems listed above ( llorllale/cactoos-matchers#9 ), when paying time was lost due some system problem. In the other cases the system behaved as intended (removed `REV` from task on delay) but `REV` work was already done. `0crat` assumes that `REV` is done when PR is merged, but we have some delay between `REV` ask for mer

[2018-07-04 06:13] #1281 closed

[2018-07-04 06:30] 0crat commented on #1281
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-04 06:30] 0crat commented on #1281
The job [#1281](https://github.com/zerocracy/farm/issues/1281) is now out of scope

[2018-07-04 07:55] ypshenychka commented on #1281
@0crat quality good

[2018-07-04 07:58] g4s8 commented on #1317
@rultor release, tag=`0.24.10`

[2018-07-04 08:00] rultor commented on #1317
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15215-402396808)

[2018-07-04 08:04] g4s8 commented on #1329
@paulodamaso right, we should remove a project from your project list when you doesn't have any role in the project.

[2018-07-04 08:05] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.9](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1329, Action: `labeled`

[2018-07-04 08:05] 0crat commented on #1281
Order was finished, quality is "good": +38 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-04 08:06] 0crat commented on #1281
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-04 08:06] 0crat commented on #1329
Job [#1329](https://github.com/zerocracy/farm/issues/1329) is now in scope, role is `DEV`

[2018-07-04 08:07] 0crat commented on #1329
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-04 08:12] rultor commented on #1317
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15215-402396808) (took me 12min)

[2018-07-04 08:20] carlosmiranda opened #1331 "Master is broken by Checkstyle errors in StkSafe"
See CI build: https://ci.appveyor.com/project/yegor256/farm

[code]

Caused by this change: https://github.com/zerocracy/farm/commit/32c9fc6e2599fd5672df6f2c98c6224fd01ca976

[2018-07-04 08:20] 0crat commented on #1331
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-04 09:09] g4s8 opened #1332 "Don't show inactive users on team page"
We have a lot of users without any activity more than 90 days on https://www.0crat.com/team page. It slows down rendering and loading, and make this page less valuable. I think we can mark user as inactive if his `awards.xml` is empty and don't show such users on team page.
@yegor256 what do you think?

[2018-07-04 09:14] g4s8 opened #1333 "Board page is slow"
We need to save all project properties which we display on board page in `catalog.xml` similar to team page.

[2018-07-04 09:14] 0crat commented on #1333
Job [#1333](https://github.com/zerocracy/farm/issues/1333) is now in scope, role is `DEV`

[2018-07-04 09:18] 0crat commented on #1333
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-04 09:20] g4s8 commented on #1331
@carlosmiranda thanks, fixed in https://github.com/zerocracy/farm/commit/59447371f9548bea3a974320adf42b676b63c779

[2018-07-04 09:20] #1331 closed

[2018-07-04 09:40] 0crat commented on #1331
Job `gh:zerocracy/farm#1331` is not assigned, can't get performer

[2018-07-04 09:40] 0crat commented on #1331
The job is not in WBS, won't close the order

[2018-07-04 09:40] 0crat commented on #1072
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-04 10:05] duker33 opened #1334 "Bot's `/rate` command is broken"
- i'm unregistered user
- sent `/rate` command
- got this answer from bot:

[code]

[2018-07-04 10:05] 0crat commented on #1334
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-04 10:05] 0crat commented on #1334
@duker33[/z](https://www.0crat.com/u/duker33) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-04 10:09] duker33 commented on #1334
tried 7 mins later and bot woke up.
Close issue

[2018-07-04 10:09] #1334 closed

[2018-07-04 10:10] 0pdd commented on #1068
The puzzle `566-492b5668` has disappeared from the source code, that's why I closed this issue.

[2018-07-04 10:10] #1068 closed

[2018-07-04 10:10] 0pdd commented on #566
@yegor256 the only puzzle [#1068](https://github.com/zerocracy/farm/issues/1068) is solved here.

[2018-07-04 10:25] 0crat commented on #1334
Job `gh:zerocracy/farm#1334` is not assigned, can't get performer

[2018-07-04 10:25] 0crat commented on #1334
The job is not in WBS, won't close the order

[2018-07-04 10:29] 0crat commented on #1068
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-04 10:29] 0crat commented on #1068
The job [#1068](https://github.com/zerocracy/farm/issues/1068) is now out of scope

[2018-07-04 10:33] #1072 closed

[2018-07-04 10:33] 0pdd commented on #1072
The puzzle `939-6bf607a5` has disappeared from the source code, that's why I closed this issue.

[2018-07-04 10:34] 0pdd commented on #939
@yegor256 2 puzzles [#1070](https://github.com/zerocracy/farm/issues/1070), [#1071](https://github.com/zerocracy/farm/issues/1071) are still not solved; solved: [#1072](https://github.com/zerocracy/farm/issues/1072).

[2018-07-04 10:42] botanicus opened #1335 "Crash occurs when ‘wait command issued"
When I (erroneously) ask 0crat to wait _on a PR rather than the ticket itself_, I get this:

[code]

[zold-io/zold#338](https://github.com/zold-io/zold/pull/338#issuecomment-402271870)

It’s not clear what’s going on. I’d expect a meaningful error message.

[2018-07-04 10:42] 0crat commented on #1335
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-04 10:42] 0crat commented on #1335
@botanicus[/z](https://www.0crat.com/u/botanicus) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-04 10:53] 0crat commented on #1072
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-04 10:53] 0crat commented on #1072
The job [#1072](https://github.com/zerocracy/farm/issues/1072) is now out of scope

[2018-07-04 10:53] ypshenychka commented on #1068
@0crat quality good

[2018-07-04 10:56] 0crat commented on #1068
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-04 10:56] 0crat commented on #1068
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-04 10:57] ypshenychka commented on #1072
@0crat quality good

[2018-07-04 10:59] 0crat commented on #1072
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-04 10:59] 0crat commented on #1072
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-04 11:07] 0crat commented on #559
The job [#559](https://github.com/zerocracy/farm/issues/559) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1851108511); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-04 11:17] 0crat commented on #1167
The job [#1167](https://github.com/zerocracy/farm/issues/1167) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1851118604); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-04 12:01] g4s8 commented on #773
@amihaiemil @yegor256 I think we can scale groovy stakeholders here as most stateless part of application, to communicate with them we can use centralized claims queue which will receive claims from all sources, and stakeholder workers will take claims from it one by one:
![scaling](https://user-images.githubusercontent.com/1524988/42275666-b3815b58-7f99-11e8-99a6-d8cb10a6037e.png)

Also we need t

[2018-07-04 12:20] g4s8 commented on #1267
@0crat assign @carlosmiranda

[2018-07-04 12:21] 0crat commented on #1267
@g4s8 The job [#1267](https://github.com/zerocracy/farm/issues/1267) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1851223226); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-07-04 14:38] 0crat commented on #487
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-04 14:55] krzyk commented on #1083
@0pdd see PR #1336

[2018-07-04 15:38] 0crat commented on #1071
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-04 15:38] 0crat commented on #1083
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-04 16:01] 0pdd commented on #1067
The puzzle `565-1108b582` has disappeared from the source code, that's why I closed this issue.

[2018-07-04 16:01] #1067 closed

[2018-07-04 16:01] 0pdd commented on #565
@g4s8 the puzzle [#1069](https://github.com/zerocracy/farm/issues/1069) is still not solved; solved: [#1066](https://github.com/zerocracy/farm/issues/1066), [#1067](https://github.com/zerocracy/farm/issues/1067).

[2018-07-04 16:22] 0crat commented on #1067
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-04 16:22] 0crat commented on #1067
The job [#1067](https://github.com/zerocracy/farm/issues/1067) is now out of scope

[2018-07-04 16:27] emilianodellacasa opened #1337 "One job in my agenda has no cost assigned"
The first job that has been assigned to me has no associated cost, maybe the reason why is that it was manually assigned or because of the rate conversion problem.

[2018-07-04 17:21] g4s8 commented on #1337
@emilianodellacasa please, add a link to that job

[2018-07-04 17:38] 0crat commented on #1088
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-04 18:43] ypshenychka commented on #1067
@0crat quality good

[2018-07-04 18:49] 0crat commented on #1067
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-04 18:50] 0crat commented on #1067
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-04 19:08] 0crat commented on #1169
The job [#1169](https://github.com/zerocracy/farm/issues/1169) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1851914952); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-04 19:49] krzyk commented on #1071
@0crat refuse

[2018-07-04 19:53] 0crat commented on #1071
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1071](https://github.com/zerocracy/farm/issues/1071), please stop working. Reason for job resignation: Order was cancelled

[2018-07-04 19:55] 0crat commented on #1071
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-04 20:02] 0crat commented on #1170
The job [#1170](https://github.com/zerocracy/farm/issues/1170) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1852009505); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-04 20:43] krzyk commented on #1069
@0crat refuse

[2018-07-04 20:43] 0crat commented on #1069
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1069](https://github.com/zerocracy/farm/issues/1069), please stop working. Reason for job resignation: Order was cancelled

[2018-07-04 20:45] 0crat commented on #1069
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-04 20:52] 0crat commented on #1179
The job [#1179](https://github.com/zerocracy/farm/issues/1179) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1852060000); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-04 23:52] carlosmiranda commented on #1129
@g4s8 can we close this now? PR #1319 is merged.

[2018-07-05 00:31] carlosmiranda opened #1340 "Applicants to projects should be able to specify role(s) they want"
In `apply_to_project.groovy`, the following message is sent to the architect when someone applies to the project:

[code]

It specifically says "assign `DEV` role". However, you can actually assign different roles like `QA`, or `REV`. This confused me initially when a QA person applied to a project I was handling, it was asking me to assign `DEV`.

We should allow an applicant to specify the type

[2018-07-05 00:31] 0crat commented on #1340
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-05 05:41] 0crat commented on #721
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-05 06:14] carlosmiranda opened #1341 "Jobs under QA review not showing up in Agenda"
One of my jobs is under QA review as of writing (see https://github.com/zerocracy/farm/pull/1328#issuecomment-402615857). However, it's not showing up in my agenda:

![image](https://user-images.githubusercontent.com/1917892/42305452-95af751e-805d-11e8-9400-eb91dfd9dc1d.png)

This was supposed to be fixed in #911, with the reviewer being displayed, but it seems to be not quite completely fixed yet

[2018-07-05 06:14] 0crat commented on #1341
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-05 06:17] carlosmiranda commented on #1269
@0crat wait (need more details on reward, see https://github.com/zerocracy/zerocracy.github.io/issues/23)

[2018-07-05 06:18] 0crat commented on #1269
@carlosmiranda The impediment for [#1269](https://github.com/zerocracy/farm/issues/1269) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-05 06:19] krzyk commented on #1320
@botanicus Could you propose alternative to paypal, it would be easier to add if we have a name?
Some time ago p[ayoneer was proposed](https://github.com/zerocracy/farm/issues/865), but they refused.

[2018-07-05 07:13] carlosmiranda commented on #1166
@krzyk see PR #1343.

[2018-07-05 07:14] carlosmiranda commented on #1166
@0crat wait for merge of #1343.

[2018-07-05 07:14] 0crat commented on #1166
@carlosmiranda The impediment for [#1166](https://github.com/zerocracy/farm/issues/1166) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-05 07:38] emilianodellacasa commented on #1337
This is the issue: https://github.com/zold-io/zold/issues/98

[2018-07-05 08:01] 0crat commented on #1337
Job [#1337](https://github.com/zerocracy/farm/issues/1337) is now in scope, role is `DEV`

[2018-07-05 08:01] 0crat commented on #1337
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-05 08:12] g4s8 commented on #1337
@emilianodellacasa it's a bug: assign DEV role fails first time, because of incorrect rate string, but it partially applied - you got DEV role, but rate didn't change, it was fixed after second `assign role` request, but between these two requests you was elected for `#89` job. We should not assign the role if we failed to change the rate. It's a one time issue, so please ask ARC to pay you manual

[2018-07-05 08:16] emilianodellacasa opened #1344 "Boost is apparently not working"
Issue https://github.com/zold-io/zold/issues/98 has been boosted 4x and by my understanding the budget should be 120 minutes.

As can be seen here https://github.com/zold-io/zold/issues/98#issuecomment-402635420 the budget is 60 minutes

[2018-07-05 08:16] 0crat commented on #1344
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-05 08:16] 0crat commented on #1344
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-05 08:17] carlosmiranda commented on #1267
@g4s8 see PR #1345.

[2018-07-05 08:17] carlosmiranda commented on #1267
@0crat wait for merge of #1345.

[2018-07-05 08:31] botanicus commented on #1320
@krzyk how about Stripe?

[2018-07-05 08:31] g4s8 commented on #1344
@emilianodellacasa default boost is 2x, it means 30 minutes, so 4x = 60 minutes, see https://www.zerocracy.com/policy.html#5

[2018-07-05 08:31] #1344 closed

[2018-07-05 08:39] 0crat commented on #1344
Job `gh:zerocracy/farm#1344` is not assigned, can't get performer

[2018-07-05 08:39] 0crat commented on #1341
Job [#1341](https://github.com/zerocracy/farm/issues/1341) is now in scope, role is `DEV`

[2018-07-05 08:42] 0crat commented on #1341
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-05 08:42] g4s8 opened #1346 "Incorrect Zold extra payments"
Zold extra payment should include not only cash part of payment but also shares part.

[2018-07-05 08:42] 0crat commented on #1346
Job [#1346](https://github.com/zerocracy/farm/issues/1346) is now in scope, role is `DEV`

[2018-07-05 08:43] 0crat commented on #1346
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-05 08:45] g4s8 opened #1347 "Tests are slow"
Let's investigate why tests are slow (especially bundle-tests) and find a solution to speed up them.

[2018-07-05 08:45] g4s8 commented on #1347
@0crat assign @krzyk

[2018-07-05 08:45] 0crat commented on #1347
@g4s8 The job [#1347](https://github.com/zerocracy/farm/issues/1347) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1860845224); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-07-05 08:45] 0crat commented on #1347
@g4s8 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.10](https://github.com/zerocracy/farm): CID: [1860845224](https://www.0crat.com/C3NDPUA8L/1860845224), Type: "Start order", Author: "g4s8"

[2018-07-05 08:45] 0crat commented on #1347
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-05 08:50] g4s8 commented on #1129
@carlosmiranda yes, thanks

[2018-07-05 08:50] #1129 closed

[2018-07-05 08:51] g4s8 commented on #1129
@rultor release, tag=`0.25.1`

[2018-07-05 08:55] 0pdd commented on #1070
The puzzle `939-5d35582c` has disappeared from the source code, that's why I closed this issue.

[2018-07-05 08:55] #1070 closed

[2018-07-05 08:55] 0pdd commented on #939
@yegor256 the puzzle [#1071](https://github.com/zerocracy/farm/issues/1071) is still not solved; solved: [#1070](https://github.com/zerocracy/farm/issues/1070), [#1072](https://github.com/zerocracy/farm/issues/1072).

[2018-07-05 09:01] rultor commented on #1129
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15230-402652189)

[2018-07-05 09:07] krzyk commented on #1320
@botanicus I know Stripe is used shop pages to pay for goods (so customer -> shop). Does it have a way to pay the other way around: shop -> customer?
I mean, is it a online "wallet" like paypal? Can I register there if I'm not a company(/don't have a website) to receive payments?

[2018-07-05 09:12] rultor commented on #1129
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15230-402652189) (took me 10min)

[2018-07-05 09:12] 0crat commented on #1129
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-05 09:13] 0crat commented on #1129
The job [#1129](https://github.com/zerocracy/farm/issues/1129) is now out of scope

[2018-07-05 09:14] 0crat commented on #1070
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-05 09:14] 0crat commented on #1070
The job [#1070](https://github.com/zerocracy/farm/issues/1070) is now out of scope

[2018-07-05 09:17] botanicus commented on #1320
@krzyk Stripe is pretty generic transfer solution.

It does support shop -> customer: https://stripe.com/blog/send-money-to-debit-cards

I believe you cannot just open your account by yourself, but you can through an app that integrates with Stripe.

I’m certainly not an expert, but I believe Stripe should support what we need.

[2018-07-05 09:23] g4s8 commented on #1347
@0crat status

[2018-07-05 09:45] g4s8 commented on #1320
@yegor256 please see this issue, do we need to support new payment methods as Stripe?

[2018-07-05 09:53] ypshenychka commented on #1070
@0crat quality good

[2018-07-05 09:56] ypshenychka commented on #1129
@0crat quality good

[2018-07-05 09:58] 0crat commented on #1070
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-05 09:58] 0crat commented on #1070
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-05 09:59] 0crat commented on #1129
Order was finished, quality is "good": +38 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-05 09:59] 0crat commented on #1129
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-05 10:37] amihaiemil opened #1348 "0crat Makes Silent Payments"
Apparently, 0crat forgets to comment on Github about some payments, even though they are performed: see [here](https://github.com/zerocracy/farm/pull/1318) and [here](https://github.com/zerocracy/farm/pull/1306)

[2018-07-05 10:37] 0crat commented on #1348
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-05 10:48] g4s8 opened #1349 "Save user applications to project"
If user apply to a project his application may be missed in chat log and PO or ARC can never see it.
I think it's better to save application in `applications.xml` and add new project page /applications where PO and ARC can see users who wants to apply. When user got a role in a project we can remove application from list.

[2018-07-05 10:54] krzyk commented on #1041
@proshin-roman Could you upload the full build log where it throws such exception?

[2018-07-05 11:56] ypshenychka commented on #1129
@g4s8 I've got only points for this review. No payment

[2018-07-05 14:28] krzyk commented on #1002
@paulodamaso you can for now use `-DskipTests`, this wil allow you do do all checkstyle/PMD fixes and hope they will run in travis later

[2018-07-05 17:11] krzyk commented on #1139
@0crat refuse

[2018-07-05 17:12] 0crat commented on #1139
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1139](https://github.com/zerocracy/farm/issues/1139), please stop working. Reason for job resignation: Order was cancelled

[2018-07-05 17:15] 0crat commented on #1139
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-05 17:17] 0crat commented on #1116
The job [#1116](https://github.com/zerocracy/farm/issues/1116) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1861721749); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-05 19:02] t-izbassar opened #1350 "How to receive ZLD?"
I have created ZLD wallet with my github, which is connected to ZC. Is it enough? I tried to issue the command to 0crat bot on telegram:
[code]

But received

There is no information on Policy on how to configure ZLD. So, how to do it?

[2018-07-05 19:02] 0crat commented on #1350
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-05 19:02] 0crat commented on #1350
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-05 21:48] proshin-roman commented on #1041
@krzyk I've uploaded it as a gist: https://gist.github.com/proshin-roman/6375ad56eeac773d3253ee8764038ede

[2018-07-06 05:11] carlosmiranda commented on #1269
@yegor256 @g4s8 one question is how do we keep track of releases? Do pre-releases count? or just finalized ones?

Then how does `0crat` keep track of "new" releases in Github have been paid to the architect?

[2018-07-06 06:43] ypshenychka commented on #1129
@g4s8 ping

[2018-07-06 07:09] g4s8 commented on #1129
@0crat status

[2018-07-06 07:09] 0crat commented on #1129
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1129](https://github.com/zerocracy/farm/issues/1129) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%231129%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-07-06 07:48] g4s8 commented on #1269
@carlosmiranda zerocracy/zerocracy.github.io#23 was closed, please see https://github.com/zerocracy/zerocracy.github.io/commit/30401441f755b7d05c70b1d97df00e66303ab303

[2018-07-06 07:53] #1083 closed

[2018-07-06 07:53] 0pdd commented on #1083
The puzzle `613-9bd5aca0` has disappeared from the source code, that's why I closed this issue.

[2018-07-06 07:53] 0pdd opened #1351 "pom.xml:487-489: Continue to increase the coverages to..."
The puzzle `1083-da87ec45` from #1083 has to be resolved:

https://github.com/zerocracy/farm/blob/11aaba3a2858c26464ac8cc03689d778cf6b5785/pom.xml#L487-L489

The puzzle was created by rultor on 06-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _removed_ fr

[2018-07-06 07:53] 0pdd commented on #474
@fabriciofx the puzzle [#1351](https://github.com/zerocracy/farm/issues/1351) is still not solved; solved: [#1083](https://github.com/zerocracy/farm/issues/1083), [#613](https://github.com/zerocracy/farm/issues/613).

[2018-07-06 07:53] 0pdd commented on #613
@0pdd the puzzle [#1351](https://github.com/zerocracy/farm/issues/1351) is still not solved; solved: [#1083](https://github.com/zerocracy/farm/issues/1083).

[2018-07-06 07:53] 0pdd commented on #1083
@0pdd the puzzle [#1351](https://github.com/zerocracy/farm/issues/1351) is still not solved.

[2018-07-06 07:54] 0crat commented on #1351
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-06 07:54] 0crat commented on #1351
Job [#1351](https://github.com/zerocracy/farm/issues/1351) is now in scope, role is `DEV`

[2018-07-06 08:10] 0crat commented on #1083
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-06 08:10] 0crat commented on #1083
The job [#1083](https://github.com/zerocracy/farm/issues/1083) is now out of scope

[2018-07-06 08:14] ypshenychka commented on #1083
@0crat quality good

[2018-07-06 08:16] 0crat commented on #1083
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-06 08:16] 0crat commented on #1083
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-06 08:19] #1146 closed

[2018-07-06 08:19] 0pdd commented on #1146
The puzzle `908-27b4bc69` has disappeared from the source code, that's why I closed this issue.

[2018-07-06 08:19] 0pdd opened #1352 "assign_examiner.groovy:38-44: New user should be invited..."
The puzzle `1146-0cb0fd88` from #1146 has to be resolved:

https://github.com/zerocracy/farm/blob/a3e382e42cb3d60714595a34d9e432d2eeb65476/src/main/groovy/com/zerocracy/stk/pmo/resumes/assign_examiner.groovy#L38-L44

The puzzle was created by g4s8 on 04-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pr

[2018-07-06 08:20] 0crat commented on #1352
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-06 08:20] 0pdd opened #1353 "assign_examiner.groovy:45-47: Test for this stakeholder..."
The puzzle `1146-1c2b1c20` from #1146 has to be resolved:

https://github.com/zerocracy/farm/blob/a3e382e42cb3d60714595a34d9e432d2eeb65476/src/main/groovy/com/zerocracy/stk/pmo/resumes/assign_examiner.groovy#L45-L47

The puzzle was created by g4s8 on 04-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pr

[2018-07-06 08:20] 0pdd commented on #908
@0pdd 3 puzzles [#1179](https://github.com/zerocracy/farm/issues/1179), [#1352](https://github.com/zerocracy/farm/issues/1352), [#1353](https://github.com/zerocracy/farm/issues/1353) are still not solved; solved: [#1146](https://github.com/zerocracy/farm/issues/1146), [#1147](https://github.com/zerocracy/farm/issues/1147).

[2018-07-06 08:20] 0pdd commented on #1146
@0pdd 2 puzzles [#1352](https://github.com/zerocracy/farm/issues/1352), [#1353](https://github.com/zerocracy/farm/issues/1353) are still not solved.

[2018-07-06 08:21] 0crat commented on #1353
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-06 08:22] 0crat commented on #1353
Job [#1353](https://github.com/zerocracy/farm/issues/1353) is now in scope, role is `DEV`

[2018-07-06 08:22] 0crat commented on #1352
Job [#1352](https://github.com/zerocracy/farm/issues/1352) is now in scope, role is `DEV`

[2018-07-06 08:22] 0crat commented on #1180
The job [#1180](https://github.com/zerocracy/farm/issues/1180) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1870837164); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-06 08:22] g4s8 opened #1354 "Notification claim failure should not fail the payment"
If 0crat was failed to notify user about reputation update or any other claim before `make_payment` was failed, it will stop claims flow and user will not receive payment. We should ignore these failures and make payment in any case.

[2018-07-06 08:23] 0crat commented on #1354
Job [#1354](https://github.com/zerocracy/farm/issues/1354) is now in scope, role is `DEV`

[2018-07-06 08:24] 0crat commented on #1354
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-06 08:40] 0crat commented on #1146
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-06 08:40] 0crat commented on #1146
The job [#1146](https://github.com/zerocracy/farm/issues/1146) is now out of scope

[2018-07-06 08:45] 0pdd commented on #765
The puzzle `400-9e938816` has disappeared from the source code, that's why I closed this issue.

[2018-07-06 08:45] #765 closed

[2018-07-06 08:45] 0pdd commented on #400
@g4s8 the puzzle [#1232](https://github.com/zerocracy/farm/issues/1232) is still not solved; solved: [#765](https://github.com/zerocracy/farm/issues/765), [#766](https://github.com/zerocracy/farm/issues/766), [#767](https://github.com/zerocracy/farm/issues/767), [#768](https://github.com/zerocracy/farm/issues/768).

[2018-07-06 08:48] carlosmiranda commented on #1269
@yegor256 @g4s8 see PR #1355.

[2018-07-06 08:56] carlosmiranda opened #1356 "Project can contain "nonexistent" members"
In one of my new projects, a certain user is assigned the DEV role. However, this user does not exist in Zerocracy (expelled?):

![image](https://user-images.githubusercontent.com/1917892/42369616-1ab3ce7e-813d-11e8-89f9-f49c216a9a34.png)

Let's ensure that non-existent users are not assigned to projects.

[2018-07-06 08:56] 0crat commented on #1356
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-06 09:11] 0crat commented on #765
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-06 09:11] 0crat commented on #765
The job [#765](https://github.com/zerocracy/farm/issues/765) is now out of scope

[2018-07-06 09:45] botanicus opened #1357 "Missing payment"
I finished https://github.com/zold-io/zold/issues/280 on time, it was QA’d, reviewed and the `ARC` was asked to close the issue.

That didn’t happen on time and I got -30 points and no money, even though the `ARC` reopened and closed the ticket.

Please rectify.

[2018-07-06 09:45] 0crat commented on #1357
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-06 09:45] 0crat commented on #1357
@botanicus[/z](https://www.0crat.com/u/botanicus) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-06 10:05] g4s8 commented on #1317
@krzyk did you start this task? I can take it if did not

[2018-07-06 10:26] botanicus opened #1358 "Expired PR has been assigned for review"
The implementor of https://github.com/zold-io/zold/issues/287 took over 10 days and the bot told him to stop working.

Yet, 2 days after that, I was assigned the PR for review.

I don’t think it makes sense.

[2018-07-06 10:27] victornoel opened #1359 "0crat assigns already invited applicants for invitation"
Today I received 4 applicants to review and either invite or reject.
But 3 of them are actually already invited.

I suppose this is not meant to happen.

[2018-07-06 10:31] victornoel opened #1360 "0crat does not understand deny"
The policy says that I can reject a resume with the `deny` command: http://www.zerocracy.com/policy.html#1

When I try it (in telegram), `deny username` 0crat tells me: Can't understand "deny", try one of these...

`deny` is not in the list of commands.

[2018-07-06 10:31] 0crat commented on #1360
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-06 10:31] 0crat commented on #1360
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-06 10:43] g4s8 commented on #1358
@botanicus you can be assigned to a job when previous performer was resigned by delay, it's OK. But we are going to not resign on delay PR performers soon: https://github.com/zerocracy/farm/issues/1302

[2018-07-06 10:43] #1358 closed

[2018-07-06 10:48] g4s8 commented on #1357
@botanicus this job is not completed yet, it's waiting for QA review, see https://github.com/zold-io/zold/issues/280#issuecomment-402997504  you will receive payment after QA verdict. (BTW you can check job status with `@0crat status` command)
We have known issue about missing notifications on GitHub, this is why 0crat didn't asked QA to make a review in comments.

[2018-07-06 10:48] #1357 closed

[2018-07-06 10:58] 0crat commented on #1358
The job is not in WBS, won't close the order

[2018-07-06 10:58] 0crat commented on #1358
Job `gh:zerocracy/farm#1358` is not assigned, can't get performer

[2018-07-06 11:03] 0crat commented on #1357
The job is not in WBS, won't close the order

[2018-07-06 11:03] 0crat commented on #1357
Job `gh:zerocracy/farm#1357` is not assigned, can't get performer

[2018-07-06 11:05] krzyk commented on #1317
@g4s8 I didn't start it yet, so go ahead

[2018-07-06 11:52] yegor256 commented on #1320
@botanicus @g4s8 this is what that blog page says: "While we can only support U.S. Visa and MasterCard debit cards at the moment, we’re actively working to bring our transfers API to our users in other countries." So, it's not really a solution.

[2018-07-06 11:54] g4s8 commented on #1317
@0crat assign me

[2018-07-06 11:54] yegor256 commented on #1320
@botanicus @g4s8 @krzyk I think that in the very future we will simply pay in ZLD and they will be easily "sellable" at a number of exchanges. All a programmer will have to do is to register there, collect ZLD, sell them, and receive payments to his/her local bank.

[2018-07-06 11:55] 0crat commented on #1317
@g4s8 The job [#1317](https://github.com/zerocracy/farm/issues/1317) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1871156295); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-06 11:56] 0crat commented on #1317
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-06 11:56] 0crat commented on #1302
The job [#1302](https://github.com/zerocracy/farm/issues/1302) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1871158332); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-06 11:56] 0crat commented on #1302
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-06 12:33] 0crat commented on #1356
Job [#1356](https://github.com/zerocracy/farm/issues/1356) is now in scope, role is `DEV`

[2018-07-06 12:36] 0crat commented on #1356
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-06 12:37] ypshenychka commented on #765
@0crat quality good

[2018-07-06 12:39] 0crat commented on #765
Order was finished, quality is "good": +38 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-07-06 12:39] 0crat commented on #765
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-06 14:34] botanicus commented on #1320
@yegor256 @g4s8 @krzyk how about https://api-docs.transferwise.com/v1/transfers/transfer then? TransferWise is in many countries.

[2018-07-06 15:39] g4s8 commented on #1360
@victornoel it will be implemented with #1352

[2018-07-06 15:39] #1360 closed

[2018-07-06 15:50] 0crat commented on #1360
Job `gh:zerocracy/farm#1360` is not assigned, can't get performer

[2018-07-06 16:00] g4s8 opened #1363 "Verbosity only updated but never used"
0crat updates `verosity.xml` on each `Close job` claim, but this metric is never used. Origin issue #535 also says nothing about usage.
@yegor256 how exactly verbosity metric should be used?

[2018-07-06 16:11] 0pdd commented on #1267
The puzzle `1121-eb4ead73` has disappeared from the source code, that's why I closed this issue.

[2018-07-06 16:11] #1267 closed

[2018-07-06 16:11] 0pdd commented on #1121
@g4s8 the puzzle [#1123](https://github.com/zerocracy/farm/issues/1123) is still not solved; solved: [#1267](https://github.com/zerocracy/farm/issues/1267).

[2018-07-06 16:31] 0crat commented on #1267
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-06 16:31] 0crat commented on #1267
The job [#1267](https://github.com/zerocracy/farm/issues/1267) is now out of scope

[2018-07-06 16:51] 0pdd commented on #1317
The puzzle `1307-a0596409` has disappeared from the source code, that's why I closed this issue.

[2018-07-06 16:51] #1317 closed

[2018-07-06 16:51] 0pdd commented on #1307
@ypshenychka the only puzzle [#1317](https://github.com/zerocracy/farm/issues/1317) is solved here.

[2018-07-06 17:14] 0crat commented on #1317
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-06 17:14] 0crat commented on #1317
The job [#1317](https://github.com/zerocracy/farm/issues/1317) is now out of scope

[2018-07-06 17:59] 0pdd opened #1364 "_after.groovy:23-26: This test always fail because for..."
The puzzle `1302-97bdfff0` from #1302 has to be resolved:

https://github.com/zerocracy/farm/blob/1c32c86fcc2ee3759d91b012f64fa8d509e57a19/src/test/resources/com/zerocracy/bundles/resign_on_delay/_after.groovy#L23-L26

The puzzle was created by g4s8 on 06-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the

[2018-07-06 17:59] 0pdd commented on #1302
@yegor256 the puzzle [#1364](https://github.com/zerocracy/farm/issues/1364) is still not solved.

[2018-07-06 17:59] 0crat commented on #1364
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-06 18:00] 0crat commented on #1364
Job [#1364](https://github.com/zerocracy/farm/issues/1364) is now in scope, role is `DEV`

[2018-07-06 20:53] krzyk commented on #1096
@0crat waiting for better implementation of the solution

[2018-07-06 20:53] 0crat commented on #1096
@krzyk The impediment for [#1096](https://github.com/zerocracy/farm/issues/1096) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-06 21:03] ypshenychka commented on #1267
@0crat quality good

[2018-07-06 21:10] 0crat commented on #1267
Order was finished, quality is "good": +38 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-06 21:10] 0crat commented on #1267
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-07 07:22] 0pdd opened #1366 "RbRelease.java:30-34: Each time a release is published,..."
The puzzle `1269-a1c2eb54` from #1269 has to be resolved:

https://github.com/zerocracy/farm/blob/25f9ad026123a728257530bc7b78eddee4a4a2cb/src/main/java/com/zerocracy/radars/github/RbRelease.java#L30-L34

The puzzle was created by Carlos Miranda on 06-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-07-07 07:22] 0pdd commented on #1269
@yegor256 the puzzle [#1366](https://github.com/zerocracy/farm/issues/1366) is still not solved.

[2018-07-07 07:22] 0crat commented on #1366
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-07 07:22] 0crat commented on #1366
Job [#1366](https://github.com/zerocracy/farm/issues/1366) is now in scope, role is `DEV`

[2018-07-07 08:16] g4s8 commented on #1041
@proshin-roman it should be fixed now, please try again

[2018-07-07 08:45] 0crat commented on #903
The job [#903](https://github.com/zerocracy/farm/issues/903) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1880861056); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-07 08:55] 0crat commented on #1185
The job [#1185](https://github.com/zerocracy/farm/issues/1185) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1880871146); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-07 09:06] proshin-roman commented on #1041
@g4s8 The build is still failing: https://gist.github.com/proshin-roman/6375ad56eeac773d3253ee8764038ede (updated the gist)

[2018-07-07 09:08] proshin-roman commented on #1041
@g4s8 Maybe it will help: systeminfo.exe prints the following info about locale
[code]

[2018-07-07 12:21] 0crat commented on #1350
The job [#1350](https://github.com/zerocracy/farm/issues/1350) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1881220815); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-07 12:21] 0crat commented on #1350
Job `gh:zerocracy/farm#1350` already assigned to @g4s8, can't assign to @g4s8

[2018-07-07 12:21] 0crat commented on #1350
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-07-07 12:21] 0crat commented on #1350
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-07 12:35] g4s8 commented on #1349
@yegor256 please look at this issue, what do you think?

[2018-07-07 12:37] 0crat commented on #1141
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-07 12:37] 0crat commented on #1140
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-07 13:51] krzyk opened #1370 "Projects should have a descriptions"
When I'm informed about a project hiring I get a description written by the ARC in telegram.
This is the only place where I can get any information about a project that I haven't joined.
When e.g. I have reputation < 256 points, and I would like to join such project after I reach 256 points I have no way of getting any basic info about that project (besides talking with the ARC, and taking his tim

[2018-07-07 13:51] 0crat commented on #1370
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-07 14:59] krzyk commented on #1140
@0crat refuse

[2018-07-07 15:00] 0crat commented on #1140
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1140](https://github.com/zerocracy/farm/issues/1140), please stop working. Reason for job resignation: Order was cancelled

[2018-07-07 15:01] 0crat commented on #1140
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-07 16:01] krzyk opened #1372 "VsBalance should log information"
When I look at e.g. https://www.0crat.com/footprint/C3NDPUA8L/1881549436
I see entries like:
[code]

The one in the middle (`+1.38=0.46x3`) is from `VsBalance`. It should be replaced with a log explaining why given amount of points was added for user - in similar way as for other Voters.

[2018-07-07 16:02] 0crat commented on #1372
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-07 16:21] emilianodellacasa opened #1373 "Resigned from all jobs assigned"
Even though 10 days haven't passed yet, I have been resigned from all my job like https://github.com/zold-io/zold/issues/98

Other jobs that were never assigned to me now are e out of time like https://github.com/zold-io/zold/issues/291

[2018-07-07 16:21] 0crat commented on #1373
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-07 16:21] 0crat commented on #1373
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-07 16:29] victornoel commented on #1373
@emilianodellacasa this is the same issue as in #938, but things happened as expected unfortunately.

[2018-07-07 16:33] victornoel commented on #938
@g4s8 for the record, this happened again, see #1373, I think something should be done at least to better inform users of this, maybe add an extra sentence when 0crat says that 5 days has passed:
[code]

Or something like that :)

[2018-07-07 16:34] victornoel commented on #1373
@g4s8 what is strange is that the latest assignee wasn't notified of the 5days, most certainly because it was done for the previous assignee.
Maybe all those timers should be reset when a job is (re-)assigned.

[2018-07-07 16:38] g4s8 commented on #1373
@emilianodellacasa @victornoel the problem in second job is that 0crat not always comment on Github tickets, it's a known issue, I think it may be related to Github API quota limit.
@emilianodellacasa please see your jobs on agenda page.

[2018-07-07 18:07] g4s8 opened #1374 "Rejected person can cause an exception"
We need to check that mentor exists in all possible places, because when person rejected it looses his mentor.
[code]

[2018-07-07 18:07] g4s8 commented on #1374
@0crat in

[2018-07-07 18:07] 0crat commented on #1374
@g4s8 Job [#1374](https://github.com/zerocracy/farm/issues/1374) is now in scope, role is `DEV`

[2018-07-07 18:13] 0crat commented on #1374
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-07 19:37] 0crat commented on #860
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-07 19:37] 0crat commented on #1016
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-07 22:38] yegor256 commented on #1302
@g4s8 thanks!

[2018-07-07 22:38] #1302 closed

[2018-07-07 22:57] yegor256 commented on #1349
@g4s8 I like it, let's do it

[2018-07-07 22:58] 0crat commented on #1302
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-07 22:58] 0crat commented on #1302
The job [#1302](https://github.com/zerocracy/farm/issues/1302) is now out of scope

[2018-07-08 06:37] 0crat commented on #1349
Job [#1349](https://github.com/zerocracy/farm/issues/1349) is now in scope, role is `DEV`

[2018-07-08 06:39] 0crat commented on #1349
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-08 07:47] krzyk opened #1377 "Not every DEV has a REV role"
If you compare election for:
DEV - https://www.0crat.com/footprint/C3NDPUA8L/1880871146
REV - https://www.0crat.com/footprint/C3NDPUA8L/1882158371

You'll notice that REV role is most probably assigned only to 3 people, while DEV role is assigned to 7 (excluding ARC).

Every developer should have both DEV and REV roles.

[2018-07-08 07:47] 0crat commented on #1377
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-08 09:39] 0crat commented on #1291
The job [#1291](https://github.com/zerocracy/farm/issues/1291) is now out of scope

[2018-07-08 11:37] 0crat commented on #1142
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-08 12:37] 0crat commented on #1265
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-08 13:36] 0crat commented on #1163
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-08 14:00] amihaiemil commented on #860
@0crat wait for review of PR #1379

[2018-07-08 14:00] 0crat commented on #860
@amihaiemil The impediment for [#860](https://github.com/zerocracy/farm/issues/860) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-07-08 14:01] 0crat commented on #860
@amihaiemil Job [#860](https://github.com/zerocracy/farm/issues/860) is not in the agenda of @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), can't set impediment

[2018-07-08 17:37] 0pdd commented on #1096
The puzzle `783-b88b1a6d` has disappeared from the source code, that's why I closed this issue.

[2018-07-08 17:37] #1096 closed

[2018-07-08 17:37] 0pdd opened #1380 "Impediments.java:35-38: Add a new stackeholder,..."
The puzzle `1016-094de400` from #1016 has to be resolved:

https://github.com/zerocracy/farm/blob/07963e58660bdb9982483eaaee95780262cabafb/src/main/java/com/zerocracy/pm/in/Impediments.java#L35-L38

The puzzle was created by rultor on 08-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed a

[2018-07-08 17:37] 0pdd commented on #535
@yegor256 all 2 puzzles are solved here: [#1096](https://github.com/zerocracy/farm/issues/1096), [#783](https://github.com/zerocracy/farm/issues/783).

[2018-07-08 17:37] 0pdd commented on #783
@0pdd the only puzzle [#1096](https://github.com/zerocracy/farm/issues/1096) is solved here.

[2018-07-08 17:37] 0pdd commented on #1016
@paulodamaso the puzzle [#1380](https://github.com/zerocracy/farm/issues/1380) is still not solved.

[2018-07-08 17:38] 0crat commented on #1380
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-08 17:38] 0crat commented on #1380
Job [#1380](https://github.com/zerocracy/farm/issues/1380) is now in scope, role is `DEV`

[2018-07-08 17:44] amihaiemil commented on #1016
@paulodamaso PR #1378 has been merged, can we close this? :D

[2018-07-08 17:55] 0crat commented on #1096
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-08 17:55] 0crat commented on #1096
The job [#1096](https://github.com/zerocracy/farm/issues/1096) is now out of scope

[2018-07-08 18:00] 0pdd opened #1381 "Speed.java:38-40: Modify the stakeholder where the..."
The puzzle `860-c0f3bfe5` from #860 has to be resolved:

https://github.com/zerocracy/farm/blob/a1bf97129d7298d914d0d3d8e73f06650fb40959/src/main/java/com/zerocracy/pmo/Speed.java#L38-L40

The puzzle was created by amihaiemil on 08-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the

[2018-07-08 18:01] 0pdd commented on #860
@g4s8 the puzzle [#1381](https://github.com/zerocracy/farm/issues/1381) is still not solved.

[2018-07-08 18:01] 0crat commented on #1381
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-08 18:03] amihaiemil commented on #860
@g4s8 PR #1379 was merged, can we cloae?

[2018-07-08 18:04] 0crat commented on #1381
Job [#1381](https://github.com/zerocracy/farm/issues/1381) is now in scope, role is `DEV`

[2018-07-08 18:17] ypshenychka commented on #1096
@0crat quality good

[2018-07-08 18:22] 0crat commented on #1096
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-08 18:22] 0crat commented on #1096
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-09 00:32] 0crat commented on #1037
The job [#1037](https://github.com/zerocracy/farm/issues/1037) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1900042116); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-07-09 01:14] carlosmiranda commented on #1123
@g4s8 see PR #1382

[2018-07-09 02:51] carlosmiranda commented on #1037
@yegor256 see PR #1383. I wasn't able to reproduce the same exception, but confirmed via a unit test that `Xocument` is not thread safe when modifying the same file.

[2018-07-09 05:04] paulodamaso commented on #1002
@krzyk Thanks, but now I'm having other problems to build, you already knows it ;)

[2018-07-09 05:05] paulodamaso commented on #1002
@0crat wait for https://github.com/teamed/qulice/issues/909 , when qulice is fixed I'll be able to finish this task

[2018-07-09 05:05] 0crat commented on #1002
@paulodamaso Job [#1002](https://github.com/zerocracy/farm/issues/1002) is already on hold

[2018-07-09 06:03] carlosmiranda commented on #903
@0crat wait for completion of #1069, it's a blocker.

[2018-07-09 06:03] 0crat commented on #903
@carlosmiranda The impediment for [#903](https://github.com/zerocracy/farm/issues/903) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-09 07:05] amihaiemil opened #1384 "Default values for currency exchange is not OK"
Apparently, we are using [Quotes.DEFAULT](https://github.com/zerocracy/farm/blob/91513b6161574d9c4cda293fa6123afa6d3b736f/src/main/java/com/zerocracy/cash/Quotes.java#L36) for currency exchanges. I don't think this is ok, there should be an exception thrown if the exchange web service is not reachable (assuming there is such a web service). Otherwise, we might be very far off from the real exchang

[2018-07-09 07:05] 0crat commented on #1384
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-09 08:06] amihaiemil commented on #1380
@g4s8 Can I have this one?

[2018-07-09 08:40] g4s8 commented on #1380
@0crat assign @amihaiemil

[2018-07-09 08:40] 0crat commented on #1380
@g4s8 The job [#1380](https://github.com/zerocracy/farm/issues/1380) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1900855049); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-07-09 08:43] 0crat commented on #1380
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-09 08:50] g4s8 commented on #860
@amihaiemil sure, thanks

[2018-07-09 08:50] #860 closed

[2018-07-09 08:54] carlosmiranda commented on #532
@proshin-roman can you update your comment (https://github.com/zerocracy/farm/issues/532#issuecomment-390425412) with a reason for impediment?

[2018-07-09 09:03] 0pdd opened #1385 "XocumentTest.java:78-80: Xocument is not thread safe...."
The puzzle `1037-a0e84825` from #1037 has to be resolved:

https://github.com/zerocracy/farm/blob/5df7bbac098bc8ac702e4f046e4afc3bba77d381/src/test/java/com/zerocracy/XocumentTest.java#L78-L80

The puzzle was created by Carlos Miranda on 09-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixe

[2018-07-09 09:03] 0pdd commented on #1037
@yegor256 the puzzle [#1385](https://github.com/zerocracy/farm/issues/1385) is still not solved.

[2018-07-09 09:04] 0crat commented on #1385
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-09 09:04] 0crat commented on #1385
Job [#1385](https://github.com/zerocracy/farm/issues/1385) is now in scope, role is `DEV`

[2018-07-09 09:08] 0crat commented on #860
Job [#860](https://github.com/zerocracy/farm/issues/860) is not in the agenda of @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), can't inspect

[2018-07-09 09:08] 0crat commented on #860
The job [#860](https://github.com/zerocracy/farm/issues/860) is now out of scope

[2018-07-09 09:14] amihaiemil commented on #860
@0crat status

[2018-07-09 09:17] carlosmiranda commented on #1037
@yegor256 #1383 has been merged, may we close this now?

[2018-07-09 09:23] 0crat commented on #860
@amihaiemil This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#860](https://github.com/zerocracy/farm/issues/860) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 16min
  * @amihaiemil[/z](https://www.0crat.com/u/amihaiemi

[2018-07-09 10:18] proshin-roman commented on #532
@carlosmiranda mission complete :)

[2018-07-09 10:56] yegor256 commented on #1037
@carlosmiranda thanks!

[2018-07-09 10:56] #1037 closed

[2018-07-09 11:15] 0crat commented on #1037
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-09 11:15] 0crat commented on #1037
The job [#1037](https://github.com/zerocracy/farm/issues/1037) is now out of scope

[2018-07-09 11:38] 0crat commented on #559
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-09 11:38] 0crat commented on #1167
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-09 12:31] ypshenychka commented on #860
@amihaiemil Thanks! Looking into it.

[2018-07-09 12:34] ypshenychka commented on #860
@amihaiemil According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

[One](https://github.com/zerocracy/farm/pull/1379/commits/a1352959c67217e44f9ff438757c212285782818) doesn't contain link to issue. Please confirm you'll try to follow this rule next time.

[2018-07-09 12:49] 0crat commented on #1037
Order was finished, quality is "good": +38 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-09 12:50] 0crat commented on #1037
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-09 13:04] 0crat commented on #733
The job [#733](https://github.com/zerocracy/farm/issues/733) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1901303810); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-09 13:08] amihaiemil commented on #860
@ypshenychka I confirm

[2018-07-09 13:57] krzyk commented on #1377
@krzyk closing as duplicate of #1100

[2018-07-09 13:57] #1377 closed

[2018-07-09 14:14] 0crat commented on #1377
The job is not in WBS, won't close the order

[2018-07-09 14:14] 0crat commented on #1377
Job `gh:zerocracy/farm#1377` is not assigned, can't get performer

[2018-07-09 14:19] krzyk commented on #1163
@0crat waiting for review of #1387

[2018-07-09 14:20] 0crat commented on #1163
@krzyk The impediment for [#1163](https://github.com/zerocracy/farm/issues/1163) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-09 14:53] krzyk commented on #1167
@0crat refuse

[2018-07-09 14:53] 0crat commented on #1167
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1167](https://github.com/zerocracy/farm/issues/1167), please stop working. Reason for job resignation: Order was cancelled

[2018-07-09 14:55] 0crat commented on #1167
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-09 15:21] 0pdd opened #1388 "elect_performer.groovy:53-56: we should synchronize..."
The puzzle `926-86594440` from #926 has to be resolved:

https://github.com/zerocracy/farm/blob/9f714dd33a5c6ca90d353d45a65cb0476d91438f/src/main/groovy/com/zerocracy/stk/pm/staff/elections/elect_performer.groovy#L53-L56

The puzzle was created by rultor on 09-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when

[2018-07-09 15:21] 0crat commented on #1388
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-09 15:21] 0crat commented on #1388
Job [#1388](https://github.com/zerocracy/farm/issues/1388) is now in scope, role is `DEV`

[2018-07-09 15:21] 0pdd opened #1389 "VsOverElected.java:96-100: Refactor this method - extract..."
The puzzle `926-0d29fc00` from #926 has to be resolved:

https://github.com/zerocracy/farm/blob/9f714dd33a5c6ca90d353d45a65cb0476d91438f/src/main/java/com/zerocracy/pm/staff/votes/VsOverElected.java#L96-L100

The puzzle was created by rultor on 09-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2018-07-09 15:21] 0pdd commented on #926
@izrik 2 puzzles [#1388](https://github.com/zerocracy/farm/issues/1388), [#1389](https://github.com/zerocracy/farm/issues/1389) are still not solved.

[2018-07-09 15:22] 0crat commented on #1389
Job [#1389](https://github.com/zerocracy/farm/issues/1389) is now in scope, role is `DEV`

[2018-07-09 15:22] 0crat commented on #1389
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-09 15:28] g4s8 commented on #926
@izrik the problem here was that you coud be elected to multiple jobs before assigned to them, so agenda check didn't help. I added additional check to prevent "over-election" (situation when you was  elected but not assigned) for one project and added todo to for cross-project fix. Can we close then?

[2018-07-09 16:08] g4s8 opened #1390 "Log every failed Github API call because of quota"
We are using `Quota` class to check Github API quota limit, but almost always we just skip API calls if we over the quota (using `return` in stakeholders). Let's log all quota related issues with `WARNING` level to send all these messages to Sentry as warnings. Looks like we sometimes skip important Github notifications because of that.

[2018-07-09 16:11] #1088 closed

[2018-07-09 16:11] 0pdd commented on #1088
The puzzle `747-d2018a51` has disappeared from the source code, that's why I closed this issue.

[2018-07-09 16:11] 0pdd opened #1391 "pom.xml:492-496: Groovy scripts are now not excluded, as..."
The puzzle `1088-c6f329b3` from #1088 has to be resolved:

https://github.com/zerocracy/farm/blob/baf72b2a32111f01d2909219e88e7a3aa41e34ce/pom.xml#L492-L496

The puzzle was created by Krzysztof Krason on 07-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _r

[2018-07-09 16:12] 0pdd commented on #747
@t-izbassar 2 puzzles [#1089](https://github.com/zerocracy/farm/issues/1089), [#1391](https://github.com/zerocracy/farm/issues/1391) are still not solved; solved: [#1088](https://github.com/zerocracy/farm/issues/1088).

[2018-07-09 16:12] 0pdd commented on #1088
@0pdd the puzzle [#1391](https://github.com/zerocracy/farm/issues/1391) is still not solved.

[2018-07-09 16:12] 0crat commented on #1390
Job [#1390](https://github.com/zerocracy/farm/issues/1390) is now in scope, role is `DEV`

[2018-07-09 16:13] 0crat commented on #1391
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-09 16:15] 0crat commented on #1391
Job [#1391](https://github.com/zerocracy/farm/issues/1391) is now in scope, role is `DEV`

[2018-07-09 16:15] 0crat commented on #1390
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-09 16:30] 0crat commented on #1088
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-09 16:30] 0crat commented on #1088
The job [#1088](https://github.com/zerocracy/farm/issues/1088) is now out of scope

[2018-07-09 16:31] ypshenychka commented on #860
@amihaiemil Thanks

[2018-07-09 16:31] ypshenychka commented on #860
@0crat quality acceptable

[2018-07-09 16:33] 0crat commented on #860
Order was finished, quality is "acceptable": +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-07-09 16:39] ypshenychka commented on #1088
@0crat quality good

[2018-07-09 16:46] g4s8 commented on #1384
@amihaiemil totally agree. It's strange, because we already have `ApiLayerQuotes` implementation of `Quotes` which uses external service to get quotes, but it's used only in tests.

[2018-07-09 16:50] g4s8 opened #1392 "Test 'refresh_person_job_count_on_agenda_update' sometimes fails"
This test can fail (e.g. here https://api.travis-ci.org/v3/job/401844145/log.txt) with assertion error:
[code]

**Update**:
~~It fails if people (`people.xml` in bundle test) schema version is `0.61.2`, if it's `0.61.6`  - test won't fail~~

This test fails if version of schema in `people.xml` is not the same as in `Xocument.VERSION`It seems that it is schema upgrade related issue.

[2018-07-09 16:51] 0crat commented on #1088
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-09 16:51] 0crat commented on #1384
Job [#1384](https://github.com/zerocracy/farm/issues/1384) is now in scope, role is `DEV`

[2018-07-09 16:52] 0crat commented on #1088
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-09 16:53] 0crat commented on #1384
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-07-09 16:53] 0crat commented on #1392
Job [#1392](https://github.com/zerocracy/farm/issues/1392) is now in scope, role is `DEV`

[2018-07-09 16:55] 0crat commented on #1392
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-09 17:14] amihaiemil opened #1393 "Vesting rate seems broken"
For [this](https://github.com/zerocracy/farm/issues/860) issue, I got paid ``$8``, which is the correct amount of cash (30min from the cash rate of ``$16``), but I got ``$8`` of shares as well, when it should have been ``$16`` (my vesting rate, according to the zerocracy UI is ``$32``).

I noticed it in another ticket as well, it seems that 0crat gives shares in value of the remaining cash up to 1

[2018-07-09 17:14] 0crat commented on #1393
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-09 17:16] paulodamaso opened #1394 "0crat wrong calculations of dates"
`0crat` is calculating wrong `Added` field in `Agenda`:

![agenda-more](https://user-images.githubusercontent.com/33915433/42465523-94e0a874-8382-11e8-87ea-e8be01bb7667.png)

The tasks have been given to me in the following dates:
zerocracy/farm#721 : 30/06/2018 - 8 days ago
zerocracy/datum#315 : 29/06/2018 - 9 days ago
zerocracy/farm#487 : 29/06/2018 - 9 days ago
harvest-foundation/core#56 : 29/0

[2018-07-09 17:16] 0crat commented on #1394
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-09 17:19] paulodamaso commented on #721
@0crat refuse

[2018-07-09 17:20] 0crat commented on #721
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#721](https://github.com/zerocracy/farm/issues/721), please stop working. Reason for job resignation: Order was cancelled

[2018-07-09 17:21] paulodamaso commented on #487
@0crat refuse

[2018-07-09 17:22] 0crat commented on #721
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-09 17:22] 0crat commented on #487
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#487](https://github.com/zerocracy/farm/issues/487), please stop working. Reason for job resignation: Order was cancelled

[2018-07-09 17:22] 0crat commented on #487
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-09 17:23] amihaiemil opened #1395 "Award too big for REV"
[Here](https://github.com/zerocracy/farm/pull/1368) and [here](https://github.com/zerocracy/farm/pull/1343) 0crat awarded me as if I were a ``DEV`` on the job. (30min instead of 15min), when in fact they are PRs and I was ``REV``. The cash payments are correct, it seems to be only a matter of reputation points and commenting.

[2018-07-09 17:23] 0crat commented on #1395
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-09 17:34] krzyk commented on #1265
@yegor256 fix has been merged to master in #1376, please close this issue

[2018-07-09 17:52] 0crat commented on #1069
The job [#1069](https://github.com/zerocracy/farm/issues/1069) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1901757421); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-09 19:38] 0crat commented on #1169
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-09 20:37] 0crat commented on #1170
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-09 21:35] carlosmiranda commented on #1166
@krzyk #1343 merged, may we close this now?

[2018-07-09 21:38] 0crat commented on #1179
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-09 21:39] krzyk commented on #1166
@carlosmiranda thanks

[2018-07-09 21:39] #1166 closed

[2018-07-09 21:57] 0crat commented on #1166
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-09 21:57] 0crat commented on #1166
The job [#1166](https://github.com/zerocracy/farm/issues/1166) is now out of scope

[2018-07-09 23:35] carlosmiranda commented on #733
@0crat status

[2018-07-09 23:37] 0crat commented on #733
@carlosmiranda This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#733](https://github.com/zerocracy/farm/issues/733) is [in scope](http://www.zerocracy.com/policy.html#14) for 4mon
  * The role is `DEV`
  * The job is assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) for [11h

[2018-07-09 23:45] mcmillanrabecca27 commented on #733
On Jul 9, 2018 5:37 PM, "Zerocrat" <notifications@github.com> wrote:

@0crat <https://github.com/0crat> status (here
<https://github.com/zerocracy/farm/issues/733#issuecomment-403652440>)

@carlosmiranda <https://github.com/carlosmiranda> This is what I know about
this job in C3NDPUA8L <https://www.0crat.com/p/C3NDPUA8L>, as in §32
<http://www.zerocracy.com/policy.html#32>:

   - The job #733 <htt

[2018-07-09 23:45] 0crat commented on #733
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/733#issuecomment-403653956); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-07-09 23:53] carlosmiranda opened #1396 "Previously refused job was reassigned"
Issue #733 was previously assigned to me by `0crat`. I [refused](https://github.com/zerocracy/farm/issues/733#issuecomment-400138821) this task because I couldn't reproduce it. A few days later it was then [reassigned](https://github.com/zerocracy/farm/issues/733#issuecomment-403471284) to me.

![image](https://user-images.githubusercontent.com/1917892/42481713-6ebe4202-8416-11e8-926c-db7666876c8d

[2018-07-09 23:53] 0crat commented on #1396
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-10 04:05] carlosmiranda commented on #811
@yegor256 this is working now. Not sure when but I think it's way overdue that I close this. Thanks! :)

[2018-07-10 04:05] #811 closed

[2018-07-10 04:15] carlosmiranda opened #1397 "Allow users to "volunteer" for a task"
Let's add a new command, `@0crat volunteer`, which will allow users to volunteer to perform a task that they are qualified for (in scope, they have the appropriate role, etc.) in the project.

The way I see this working is that if a user volunteered for a task, the elections process will add a small bonus to their election score (something like 0.5). So this means it won't necessarily be the case

[2018-07-10 04:15] 0crat commented on #1397
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-10 05:00] yegor256 commented on #1265
@krzyk thanks!

[2018-07-10 05:00] #1265 closed

[2018-07-10 05:18] 0crat commented on #1265
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-10 05:18] g4s8 commented on #1265
@rultor release, tag=`0.25.3`

[2018-07-10 05:19] 0crat commented on #1265
The job [#1265](https://github.com/zerocracy/farm/issues/1265) is now out of scope

[2018-07-10 05:20] rultor commented on #1265
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15285-403703383)

[2018-07-10 05:31] rultor commented on #1265
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15285-403703383) (took me 11min)

[2018-07-10 05:31] g4s8 commented on #1396
@carlosmiranda it's strange: you was banned without errors, but now I can't see this job in `bans.xml`:
[code]

[2018-07-10 05:32] 0crat commented on #1396
Job [#1396](https://github.com/zerocracy/farm/issues/1396) is now in scope, role is `DEV`

[2018-07-10 05:34] 0crat commented on #1396
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-10 05:44] g4s8 commented on #1393
@amihaiemil there was a bug in equity calculation https://github.com/zerocracy/farm/issues/1281, but now it should be fixed, please see http://www.zerocracy.com/policy.html#37. If your vesting rate is `$32` and cash rate is `$16`, you should always receive same amount of shares and cash for each task: `cash = $16 * 30 min / 60 min`, `shares = ($32 - $16) * 30 min / 60 min`

[2018-07-10 05:55] carlosmiranda commented on #1166
@0crat status

[2018-07-10 05:55] 0crat commented on #1166
@carlosmiranda This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1166](https://github.com/zerocracy/farm/issues/1166) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 8hr
  * @carlosmiranda[/z](https://www.0crat.com/u/car

[2018-07-10 06:02] carlosmiranda commented on #1341
@g4s8 this happened again in #1166, it's under QA review but not showing up in my Agenda. This is very inconsistent, a couple of days ago some of my jobs did show up in the list with the QA reviewer.

You might be able to look at claims and other project artifacts to see if there's any pattern.

[2018-07-10 06:27] g4s8 opened #1398 "Error on 'Add to WBS'"
0crat may fail to add new job to WBS, e.g. this one #1387:
[code]

[2018-07-10 06:45] g4s8 commented on #1350
@rultor release, tag=`0.25.4`

[2018-07-10 06:49] amihaiemil commented on #1393
@g4s8 Oh, I see. Then the UI should be changed a little maybe? It should be ``Hourly rate: $32 ($16 cash and $16 vesting)``. Right now, I thought that my full rate was $48 ($16 cash + $32 vesting) -- what do you think?

[2018-07-10 06:51] amihaiemil commented on #1393
@g4s8

I will keep an eye open for future payments and let you know if I notice it again

[2018-07-10 06:55] #1142 closed

[2018-07-10 06:55] 0pdd commented on #1142
The puzzle `1080-e7775be0` has disappeared from the source code, that's why I closed this issue.

[2018-07-10 06:55] 0pdd opened #1399 "View.java:30-32: This class should be tested that it..."
The puzzle `1142-5773798e` from #1142 has to be resolved:

https://github.com/zerocracy/farm/blob/57244f330766708e6ed63b51ed34f06a6e43bd46/src/test/java/com/zerocracy/tk/View.java#L30-L32

The puzzle was created by Krzysztof Krason on 09-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed a

[2018-07-10 06:55] 0pdd commented on #1080
@g4s8 the puzzle [#1399](https://github.com/zerocracy/farm/issues/1399) is still not solved; solved: [#1142](https://github.com/zerocracy/farm/issues/1142).

[2018-07-10 06:55] 0pdd commented on #1142
@0pdd the puzzle [#1399](https://github.com/zerocracy/farm/issues/1399) is still not solved.

[2018-07-10 06:56] 0crat commented on #1399
Job [#1399](https://github.com/zerocracy/farm/issues/1399) is now in scope, role is `DEV`

[2018-07-10 06:56] 0crat commented on #1399
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-10 07:00] rultor commented on #1350
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15286-403718235)

[2018-07-10 07:01] g4s8 commented on #1350
@t-izbassar I updated the [policy](http://www.zerocracy.com/policy.html#20) and fixed wallet validation. To setup your Zold wallet use `wallet zld github-username` and receive Zold payments via https://wts.zold.io/
These changes will be available after next release https://github.com/zerocracy/farm/issues/1350#issuecomment-403721326

[2018-07-10 07:03] 0crat commented on #1366
The job [#1366](https://github.com/zerocracy/farm/issues/1366) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1910704163); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-10 07:04] 0crat commented on #1366
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-10 07:07] amihaiemil commented on #1016
@paulodamaso ping, can we close this?

[2018-07-10 07:11] rultor commented on #1350
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15286-403718235) (took me 10min)

[2018-07-10 07:15] 0crat commented on #1142
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-10 07:15] 0crat commented on #1142
The job [#1142](https://github.com/zerocracy/farm/issues/1142) is now out of scope

[2018-07-10 07:46] ypshenychka commented on #1265
@g4s8 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/zerocracy/farm/issues/1265#issuecomment-402133736) by indicating an addressee in the beginning.

[2018-07-10 07:47] ypshenychka commented on #1166
@0crat quality good

[2018-07-10 07:50] 0crat commented on #1166
Order was finished, quality is "good": +38 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-10 07:50] 0crat commented on #1166
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-10 07:51] ypshenychka commented on #1142
@0crat quality good

[2018-07-10 07:55] 0crat commented on #1142
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-10 07:56] 0crat commented on #1142
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-10 07:58] g4s8 commented on #1341
@carlosmiranda there are no errors in footprint:
[code]

[2018-07-10 08:00] amihaiemil commented on #1393
@g4s8 For [this](https://github.com/zerocracy/farm/pull/1376) task I got ``$4`` cash (15min of ``$16`` hourly rate, which is correct) and ``$12`` shares. So it is still not as you said above, maybe the bug fix is not released yet?

[2018-07-10 08:00] g4s8 commented on #1265
@ypshenychka done

[2018-07-10 08:21] ypshenychka commented on #1265
@g4s8 THanks

[2018-07-10 08:21] ypshenychka commented on #1265
@0crat quality acceptable

[2018-07-10 08:30] 0crat commented on #487
The job [#487](https://github.com/zerocracy/farm/issues/487) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1910830203); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-07-10 08:40] 0crat commented on #721
The job [#721](https://github.com/zerocracy/farm/issues/721) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1910840506); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-10 09:35] emilianodellacasa opened #1400 "Boost should be preserved"
Issue https://github.com/zold-io/zold/issues/98 had been boosted 4x, but after a rejection and reassignment budget is still 30 minutes.

I think boosting should be preserved in all isue life cycle.

[2018-07-10 09:35] 0crat commented on #1400
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-10 09:35] 0crat commented on #1400
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-10 10:38] 0crat commented on #1347
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-10 11:06] 0crat commented on #1400
Job [#1400](https://github.com/zerocracy/farm/issues/1400) is now in scope, role is `DEV`

[2018-07-10 11:06] 0crat commented on #1400
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-07-10 11:07] #1350 closed

[2018-07-10 11:11] g4s8 commented on #1394
@paulodamaso please try now, it was probably fixed in last datum release

[2018-07-10 11:12] #926 closed

[2018-07-10 11:15] g4s8 commented on #1175
@paulodamaso it was fixed in #1264

[2018-07-10 11:15] #1175 closed

[2018-07-10 11:24] 0crat commented on #1350
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-10 11:24] 0crat commented on #1350
The job [#1350](https://github.com/zerocracy/farm/issues/1350) is now out of scope

[2018-07-10 11:29] 0crat commented on #926
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-10 11:30] 0crat commented on #926
The job [#926](https://github.com/zerocracy/farm/issues/926) is now out of scope

[2018-07-10 11:33] 0crat commented on #1175
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-10 11:33] 0crat commented on #1175
The job [#1175](https://github.com/zerocracy/farm/issues/1175) is now out of scope

[2018-07-10 11:37] carlosmiranda commented on #532
@amihaiemil see PR #1386

[2018-07-10 11:37] carlosmiranda commented on #532
@amihaiemil #1386 merged now, may we close this?

[2018-07-10 12:29] g4s8 opened #1401 "Debt can be sent twice via Payapal"
We can send Paypal payment successfully, but get error in `Notify PMO` about payment, so debt will not be removed from `debts.xml`.

[code]

[2018-07-10 12:33] 0crat commented on #1401
The job [#1401](https://github.com/zerocracy/farm/issues/1401) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1911234336); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-10 12:34] 0crat commented on #1401
Job `gh:zerocracy/farm#1401` already assigned to @g4s8, can't assign to @g4s8

[2018-07-10 12:35] 0crat commented on #1401
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-10 12:35] 0crat commented on #1401
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-10 12:35] 0crat commented on #1401
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-10 12:35] amihaiemil commented on #532
@carlosmiranda sure, thanks

[2018-07-10 12:35] #532 closed

[2018-07-10 12:51] 0crat commented on #532
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-10 12:51] 0crat commented on #532
The job [#532](https://github.com/zerocracy/farm/issues/532) is now out of scope

[2018-07-10 12:56] g4s8 commented on #1401
@rultor release, tag=`0.25.5`

[2018-07-10 12:58] rultor commented on #1401
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15289-403811988)

[2018-07-10 13:08] rultor commented on #1401
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15289-403811988) (took me 10min)

[2018-07-10 14:25] g4s8 opened #1402 "Error in Votes when elections.xml is empty"
`VsOverElected` may throw an exception if elections are empty:
[code]

Sentry errors: https://sentry.io/zerocracy/farm/issues/606539121/?query=is:unresolved

[2018-07-10 14:44] llorllale opened #1403 "Agenda page broken again in firefox"
In Firefox, the agenda page has again stopped rendering a nice table and just showing the raw XML behind it.

Eg.:

![image](https://user-images.githubusercontent.com/2019896/42517654-38f98cf4-842e-11e8-8773-fee30a287e36.png)

[2018-07-10 14:44] 0crat commented on #1403
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-10 14:44] 0crat commented on #1403
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-10 14:51] ypshenychka commented on #532
@0crat quality good

[2018-07-10 14:54] 0crat commented on #532
Order was finished, quality is "good": +38 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-10 14:54] 0crat commented on #532
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-10 14:58] 0crat commented on #1071
The job [#1071](https://github.com/zerocracy/farm/issues/1071) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1911459594); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-10 14:59] 0crat commented on #1403
@g4s8 The job [#1403](https://github.com/zerocracy/farm/issues/1403) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1911459615); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea