[2018-02-28 19:17] amihaiemil commented on #229
@0crat waiting #675

[2018-02-28 19:17] amihaiemil commented on #226
@0crat waiting #675

[2018-02-28 19:17] 0crat commented on #284
@amihaiemil The impediment for [#284](https://github.com/zerocracy/farm/issues/284) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-02-28 19:18] 0crat commented on #279
@amihaiemil The impediment for [#279](https://github.com/zerocracy/farm/issues/279) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-02-28 19:18] amihaiemil commented on #220
@0crat waiting #674

[2018-02-28 19:19] 0crat commented on #226
@amihaiemil The impediment for [#226](https://github.com/zerocracy/farm/issues/226) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-02-28 19:19] 0crat commented on #229
@amihaiemil The impediment for [#229](https://github.com/zerocracy/farm/issues/229) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-02-28 19:19] 0crat commented on #220
@amihaiemil The impediment for [#220](https://github.com/zerocracy/farm/issues/220) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-02-28 19:25] yegor256 commented on #665
@amihaiemil @g4s8 maybe instead of documentation we can create a "flow control" unit, which will check what's going on with claims: which types produce other types. It will know what is allowed and what is not. And this information will be well structured in some XML file. We will have some sort of a "map" for all types of claims. Thus, we will solve two problems: testability and readability.

[2018-02-28 19:26] amihaiemil commented on #279
@g4s8 what are and where are these "help messages"?

[2018-02-28 19:27] yegor256 commented on #675
@amihaiemil you put too many questions into one ticket. Can you please submit them separately?

[2018-02-28 19:27] #675 closed

[2018-02-28 19:30] amihaiemil commented on #675
@yegor256 that's what I thought of initially, then I figured a single ticket for such a file would be cleaner. I'll open more tickets then :)

[2018-02-28 19:32] yegor256 commented on #662
@biboran it's fixed in e5c0665a9f481a2da667ad607316e0e1307bea57 won't happen again.

[2018-02-28 19:32] #662 closed

[2018-02-28 19:35] 0crat commented on #662
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-02-28 19:35] 0crat commented on #662
The job [#662](https://github.com/zerocracy/farm/issues/662) is now out of scope

[2018-02-28 19:36] amihaiemil opened #676 "Start writing a technical documentation"
The project lacks a technical documentation. It has just a very high overview in README.
The first detailed topic can be:

Entry point and overall design. For instance, where do I start if I want to debug end-to-end the "penalize on refuse task" behaviour?

Then, later, more info should be added to it when other tickets demanding documentation are opened.

[2018-02-28 19:36] 0crat commented on #676
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 19:37] amihaiemil commented on #676
@yegor256 Is it better now? I think opening 4-5 tickets now with all my questions separately, makes no sense since we have no centralized point to write the answers to. Better start a documentation here and add to it as new questions/tickets arise. WDYT?

[2018-02-28 19:37] 0crat commented on #329
The job [#329](https://github.com/zerocracy/farm/issues/329) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/591936288). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-02-28 19:40] amihaiemil commented on #665
@yegor256 I cannot say, since I have no idea how those claims/types work yet.

[2018-02-28 19:43] ypshenychka opened #677 "Got paid 3 times for https://github.com/yegor256/cactoos/pull/698"
Occured [here](https://github.com/yegor256/cactoos/pull/698)

![image](https://user-images.githubusercontent.com/11703257/36809330-4a43b72a-1cd0-11e8-9ff6-dc394ec3321a.png)

[2018-02-28 19:43] 0crat commented on #677
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 19:44] amihaiemil commented on #660
@yegor256 The payments disappeared from "debt", but I received no Paypal payment :(

[2018-02-28 19:46] 0crat commented on #676
The job [#676](https://github.com/zerocracy/farm/issues/676) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/591944554). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-28 19:48] 0crat commented on #676
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-02-28 19:48] 0crat commented on #676
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-02-28 20:00] ypshenychka opened #678 "0crat cleared out the debt list but no payments were received to the wallet"
I had there 63.47$ of debt. Today it got cleared, but nothing received in my wallet.
![default](https://user-images.githubusercontent.com/11703257/36810247-cb4eb624-1cd2-11e8-99d4-ad31733c3a37.PNG)

[2018-02-28 20:00] 0crat commented on #678
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 20:05] 0crat commented on #678
The job [#678](https://github.com/zerocracy/farm/issues/678) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/592005133). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-28 20:06] 0crat commented on #678
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-02-28 20:06] 0crat commented on #678
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-02-28 20:15] yegor256 commented on #678
This is how much we lost:

<img width="704" alt="screen shot 2018-02-28 at 11 14 42 pm" src="https://user-images.githubusercontent.com/526301/36810919-31ef811a-1cdd-11e8-9bef-8ba7bef4201e.png">

[2018-02-28 20:17] yegor256 commented on #678
@ypshenychka I added 63.47 to your debt again. Let's wait for an hour (the server pays debts every hour).

[2018-02-28 20:19] yegor256 commented on #660
@amihaiemil see #678

[2018-02-28 20:22] yegor256 commented on #673
@amihaiemil you can run any one of them individually. Here is how: https://www.youtube.com/watch?v=fVfR3pO-5V4

[2018-02-28 20:24] yegor256 commented on #636
@amihaiemil what do you want us to do? It's a pure bureaucratic political BS, which has almost anything to do with small business. It's for Facebook/Google type of companies.

[2018-02-28 20:47] 0crat commented on #397
To cancel the order use `refuse` as in [§6](http://www.zerocracy.com/policy.html#6)

[2018-02-28 20:53] 0crat commented on #397
The job [#397](https://github.com/zerocracy/farm/issues/397) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/592046615). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-28 20:57] 0crat commented on #397
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-02-28 20:57] 0crat commented on #397
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 00:14] carlosmiranda commented on #665
@yegor256 that is a good idea which would also serve as documentation somehow. We need to prevent problems such as #235 from happening, and the bigger the claims codebase gets the more confusing all of this becomes.

[2018-03-01 05:38] proshin-roman commented on #557
@yegor256 @g4s8 I faced with this problem 11 hours ago in issue https://github.com/yegor256/cactoos/issues/666  - it is already closed but was assigned to me.

[2018-03-01 05:52] 0crat commented on #665
The job [#665](https://github.com/zerocracy/farm/issues/665) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/600563312). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-01 05:54] 0crat commented on #665
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-01 05:54] 0crat commented on #665
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 06:11] amihaiemil commented on #636
@yegor256 Of course nothing much to do now, but you should have it in regards. It has to do with any business that deals with EU citizens' data :) All my developer friends are saying they have to deal with this in their projects and they do not work for Facebook or Google

[2018-03-01 06:12] yegor256 opened #679 "show total reputation of the entire gang"
Let's show the total number.

[2018-03-01 06:14] 0crat commented on #679
The job [#679](https://github.com/zerocracy/farm/issues/679) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/600624840). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-01 06:14] amihaiemil commented on #660
@yegor256 I see. Could you also put back the 21.46 for me? (see screenshot above)

[2018-03-01 06:16] 0crat commented on #679
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 06:16] 0crat commented on #679
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 06:16] 0crat commented on #679
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 06:28] #397 closed

[2018-03-01 06:31] yegor256 opened #680 "Pings are not accurate"
Class `Pings` is not sending pings correctly. It counts hours and days starting from the moment of `ExecutionService` start. This leads to inaccuracies. If we reboot the system, `Ping daily` only happens in a day, which sometimes means "never", if we reboot multiple times a day.

Instead, it should do `Ping hourly` when it's a sharp hour by the clock. Also, it should do `Ping daily` when it's 12:0

[2018-03-01 06:32] #679 closed

[2018-03-01 06:33] 0crat commented on #397
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 06:34] 0crat commented on #397
The job [#397](https://github.com/zerocracy/farm/issues/397) is now out of scope

[2018-03-01 06:34] 0crat commented on #680
Job [#680](https://github.com/zerocracy/farm/issues/680) is now in scope, role is `DEV`

[2018-03-01 06:39] 0crat commented on #680
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 06:39] 0crat commented on #679
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 06:39] 0crat commented on #679
The job [#679](https://github.com/zerocracy/farm/issues/679) is now out of scope

[2018-03-01 07:05] yegor256 commented on #660
@amihaiemil I did

[2018-03-01 07:42] yegor256 commented on #450
@g4s8 thanks!

[2018-03-01 07:42] #450 closed

[2018-03-01 07:45] 0crat commented on #450
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-01 07:45] 0crat commented on #450
The job [#450](https://github.com/zerocracy/farm/issues/450) is now out of scope

[2018-03-01 08:00] carlosmiranda opened #681 "NullPointerException in finish_order.groovy"
Right now `0crat` could not finish any orders. This means no clearing out agendas, no award points and no payments, among other things.

See for example https://github.com/zerocracy/farm/pull/647#issuecomment-369507005

[code]

[2018-03-01 08:00] 0crat commented on #681
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-01 08:03] nikialeksey opened #682 "0crat didn't reply to "waiting" message"
I told "waiting" to 0crat, https://github.com/yegor256/cactoos/issues/644#issuecomment-368729877 but it don't reply to me. Then 0crat resigned me.

[2018-03-01 08:03] 0crat commented on #682
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-01 08:04] carlosmiranda commented on #681
@yegor256 I think this issue is urgent to fix.

[2018-03-01 08:14] yegor256 commented on #681
@carlosmiranda I believe I fixed it already... you still experiencing this?

[2018-03-01 08:15] carlosmiranda commented on #681
@yegor256 https://github.com/zerocracy/farm/pull/647#issuecomment-369507005 was only 20 minutes ago, do we have a new version released after that?

[2018-03-01 08:16] yegor256 commented on #681
@carlosmiranda hm... let me test and fix. The cause of the problem is this: #615

[2018-03-01 08:18] 0crat commented on #681
The job [#681](https://github.com/zerocracy/farm/issues/681) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/600818776). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-01 08:20] 0crat commented on #681
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-03-01 08:20] 0crat commented on #681
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 08:21] ypshenychka commented on #678
@yegor256 Still failed to buy at Coinbase. It's already a week since the problem occured. When do you expect it to work?

[2018-03-01 08:23] amihaiemil commented on #654
@yegor256 I think we should also offer reports on bigger projects. Ask POs if we can make such reports on their projects. jpeek and cactoos are just libraries, not relevant for a big application :) the tree from jpeek is not relevant to the cost of zerocrat/farm, for instance.

[2018-03-01 08:39] amihaiemil commented on #279
@0crat waiting #676

[2018-03-01 08:39] amihaiemil commented on #229
@0crat waiting #676

[2018-03-01 08:39] amihaiemil commented on #226
@0crat waiting #676

[2018-03-01 08:40] 0crat commented on #229
@amihaiemil Job [#229](https://github.com/zerocracy/farm/issues/229) is already on hold

[2018-03-01 08:40] 0crat commented on #279
@amihaiemil Job [#279](https://github.com/zerocracy/farm/issues/279) is already on hold

[2018-03-01 08:40] 0crat commented on #226
@amihaiemil Job [#226](https://github.com/zerocracy/farm/issues/226) is already on hold

[2018-03-01 08:48] amihaiemil commented on #329
@0crat status

[2018-03-01 08:49] 0crat commented on #329
@amihaiemil This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#329](https://github.com/zerocracy/farm/issues/329) is [in scope](http://www.zerocracy.com/policy.html#14) for 4mon
  * The role is `DEV`
  * The job is assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) for [13hr](http://www.zerocracy.com/policy.html#8)
  * There is a m

[2018-03-01 08:51] amihaiemil opened #683 "Agenda "Added" column is not correct"
This is my agenda now:

![image](https://user-images.githubusercontent.com/6305156/36835264-4e71b3ce-1d3e-11e8-9cc6-a2ad96911852.png)

The "Added" value is not correct. The oldest one is 1-2 days old and the earliest (the first one at the top) is 13h old. 0crat seems to "know" the correct values, though, it responded correctly to ``status``: https://github.com/zerocracy/farm/issues/329#issuecommen

[2018-03-01 08:51] 0crat commented on #683
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-01 09:58] biboran opened #684 "Broken detection for "job creator" when assigning manually"
I assigned @driver733 as a `DEV` to the issue that I created. I got incorrectly punished for assigning _job to its creator_ because @driver733 is not the creator of the issue. Here are the screenshots:
![screen shot 2018-03-01 at 12 48 19 pm](https://user-images.githubusercontent.com/8717108/36838360-0cc2c7f8-1d50-11e8-8f4b-471644dddb47.png)
![screen shot 2018-03-01 at 12 48 28 pm](https://user-im

[2018-03-01 09:58] 0crat commented on #684
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-01 10:14] 0crat commented on #496
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-01 10:20] t-izbassar commented on #222
@g4s8 hi. Can you put an example of how this link is outputted in slack? The thing is that the message, that is used to be published using link:

And it is used for example in `notify_abaout_award_points.groovy` like this:
[code]

So if slack doesn't understand the format of `gh:test/test#1` such links, then saving full link `https://github.com/test/test/issues/1` should resolve this issue. WDYT?

[2018-03-01 10:35] yegor256 commented on #684
@biboran I believe it's the same bug we fixed in #662 When did this happen?

[2018-03-01 10:39] 0crat commented on #683
Job [#683](https://github.com/zerocracy/farm/issues/683) is now in scope, role is `DEV`

[2018-03-01 10:40] yegor256 commented on #670
@amihaiemil I don't see anything... where did you see them? Can you give a link please?

[2018-03-01 10:42] 0crat commented on #683
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-01 10:42] biboran commented on #684
@yegor256 14 hours ago

[2018-03-01 10:53] g4s8 commented on #222
@yegor256 @t-izbassar looks like this bug is outdated, now github links in slack are ok

[2018-03-01 10:54] t-izbassar commented on #222
@g4s8 close issue then?

[2018-03-01 11:00] biboran commented on #684
@yegor256 a more concrete timestamp would be `1519852200`
<img width="795" alt="screen shot 2018-03-01 at 1 59 17 pm" src="https://user-images.githubusercontent.com/8717108/36841243-c64480ec-1d58-11e8-986e-577013818d98.png">

[2018-03-01 11:19] amihaiemil commented on #670
@yegor256 For instance [here](https://travis-ci.org/zerocracy/farm/builds/347700471#L692) -- in that log there are only 2 exceptions, but when I build locally (both on Ubuntu 16.04 and MacOS High Sierra), the log has many more exceptions.

[2018-03-01 11:29] yegor256 commented on #658
@ypshenychka you are not a member of this project, that's why only points. Here: http://www.zerocracy.com/policy.html#48

[2018-03-01 11:34] yegor256 commented on #684
@biboran yes, this bug was fixed already in #662

[2018-03-01 11:36] yegor256 commented on #678
@ypshenychka we are trying to switch to cex.io now, since Coinbase is a pain. In the meantime I would suggest to switch to PayPal. Or wait... :( I'm very sorry.

[2018-03-01 11:47] 0pdd commented on #495
The puzzle `404-c83766b8` has disappeared from the source code, that's why I closed this issue.

[2018-03-01 11:47] #495 closed

[2018-03-01 11:56] 0crat commented on #495
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-01 11:57] 0crat commented on #495
The job [#495](https://github.com/zerocracy/farm/issues/495) is now out of scope

[2018-03-01 12:11] proshin-roman opened #686 ""Internal application error" on board page"
I get this error each time when open https://www.0crat.com/board:
[code]

Version shown on the page was `1.0-SNAPSHOT, 3b2de08b`

Time was 15:09 UTC+3 of 01 March 2018. Browser (if it makes any difference) was Yandex Browser 18.1.1.839

[2018-03-01 12:11] 0crat commented on #686
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-01 12:18] amihaiemil commented on #660
@yegor256 thanks, it worked now, payment was done

[2018-03-01 12:18] #660 closed

[2018-03-01 12:24] 0crat commented on #660
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 12:24] 0crat commented on #660
The job [#660](https://github.com/zerocracy/farm/issues/660) is now out of scope

[2018-03-01 12:28] amihaiemil opened #687 "There are no unit tests for the Slack radar"
Currently SlackRadar starts the SlackSession internally (using private methods). This needs to be refactored, SlackRadar needs a ctor where SlackSession should be passed, so we can properly unit test this radar. Currently, there are absolutely no unit tests for any of the classes in ``com.zerocracy.radars.slack``,

Later, the slack Reaction implementations should also be refactored somehow, so the

[2018-03-01 12:28] 0crat commented on #687
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-01 12:29] biboran commented on #684
@yegor256 I don't think its fixed. I just created a pull request. Take a look at the below screenshots. As you can see I created this PR and never assigned myself but still got punished as if I did assign myself.
![screen shot 2018-03-01 at 3 25 47 pm](https://user-images.githubusercontent.com/8717108/36844748-fd525f8a-1d64-11e8-9468-ce58086203e5.png)
![screen shot 2018-03-01 at 3 25 54 pm](https:

[2018-03-01 13:36] yegor256 commented on #681
@carlosmiranda I disabled the check for now. It will be properly fixed when we have this: #646

[2018-03-01 13:36] #681 closed

[2018-03-01 13:37] yegor256 commented on #686
@proshin-roman @amihaiemil should work now (recent version of Takes was broken). The final fix will be deployed now.

[2018-03-01 13:39] 0crat commented on #681
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 13:40] 0crat commented on #681
The job [#681](https://github.com/zerocracy/farm/issues/681) is now out of scope

[2018-03-01 14:17] 0crat commented on #686
The job [#686](https://github.com/zerocracy/farm/issues/686) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/601416263). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-01 14:18] 0crat commented on #686
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-03-01 14:18] 0crat commented on #686
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 14:30] llorllale opened #688 "Cam"
Make sure the title of the issue explains the problem you are having. Also, the description of the issue must clearly explain what is broken, not what you want us to implement. Go through this checklist and make sure you answer "YES" to all points:

  - You have all pre-requisites listed in README.md installed
  - You are sure that you are not reporting a duplicate (search all issues)
  - You say

[2018-03-01 14:30] 0crat commented on #688
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-01 14:31] llorllale opened #689 "Can't login"
From www.0crat.com I'm clicking on `Login` which takes me to a url that looks like `https://www.0crat.com/&PsByFlag=PsGithub&code=fc4a47c75fd4eda92c3e` that doesn't work:

Because of this, I can't view my agenda

[2018-03-01 14:31] 0crat commented on #689
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-01 14:31] llorllale commented on #688
Oops, accidentally misclicked somewhere

[2018-03-01 14:31] #688 closed

[2018-03-01 14:36] 0crat commented on #684
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-01 14:36] yegor256 commented on #684
@biboran you are right, the bug is still there

[2018-03-01 14:38] 0crat commented on #684
The job [#684](https://github.com/zerocracy/farm/issues/684) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/601437737). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-01 14:39] 0crat commented on #684
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @biboran[/z](https://www.0crat.com/u/biboran)

[2018-03-01 14:39] 0crat commented on #684
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 14:49] yegor256 commented on #689
@llorllale dup of #686

[2018-03-01 14:49] #689 closed

[2018-03-01 15:24] 0crat commented on #687
Job [#687](https://github.com/zerocracy/farm/issues/687) is now in scope, role is `DEV`

[2018-03-01 15:26] 0crat commented on #687
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-01 15:42] 0crat commented on #616
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-01 16:35] amihaiemil commented on #670
@yegor256 strange, now the logs are the same locally as in Travis -- did you change something in pom.xml, changed build profiles or anything? The build is also much shorter now and not so demanding as before (and I don't mean the very first build, which is longer than usual since it has to download all the dependencies from maven)

[2018-03-01 18:34] driver733 opened #690 "Login fails with "[400] No access token" error"
While logging in I have faced the error` [400] No access token`

[code]

[2018-03-01 18:34] 0crat commented on #690
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-01 20:28] yegor256 commented on #670
@amihaiemil maybe it was something temporary. The build is pretty clean and stable now.

[2018-03-01 20:28] #670 closed

[2018-03-01 20:31] 0crat commented on #690
The job [#690](https://github.com/zerocracy/farm/issues/690) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/602029763). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-01 20:32] 0crat commented on #690
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733)

[2018-03-01 20:32] 0crat commented on #690
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 22:29] 0crat commented on #416
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-01 23:51] carlosmiranda commented on #640
@g4s8 fixed in #647, may we close this now?

[2018-03-02 05:59] yegor256 commented on #690
@driver733 it's fixed

[2018-03-02 05:59] #690 closed

[2018-03-02 05:59] yegor256 commented on #686
@proshin-roman it's fixed

[2018-03-02 05:59] #686 closed

[2018-03-02 06:03] 0crat commented on #690
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-02 06:03] 0crat commented on #690
The job [#690](https://github.com/zerocracy/farm/issues/690) is now out of scope

[2018-03-02 06:04] 0crat commented on #686
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-02 06:04] 0crat commented on #686
The job [#686](https://github.com/zerocracy/farm/issues/686) is now out of scope

[2018-03-02 06:38] yegor256 commented on #682
@nikialeksey I think it's a duplicate of #476

[2018-03-02 06:38] #682 closed

[2018-03-02 07:46] g4s8 commented on #640
@carlosmiranda thanks!

[2018-03-02 07:46] #640 closed

[2018-03-02 07:46] 0crat commented on #640
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-03-02 07:49] 0crat commented on #640
Order was finished, quality was "acceptable": +30 points just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-03-02 07:49] 0crat commented on #640
The job [#640](https://github.com/zerocracy/farm/issues/640) is now out of scope

[2018-03-02 07:51] g4s8 opened #691 "Didn't receive payment"
0crat sends me a message:

We just paid you the debt of $49.16 (AP-16M35497P30599505)

But I didn't receive it via PayPal

[2018-03-02 07:51] 0crat commented on #691
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-02 07:54] g4s8 opened #692 "Jobs in PMO project"
All new jobs assigned to me appears in agenda as `PMO` jobs:
![scrot-2018-03-02-10 52 44](https://user-images.githubusercontent.com/1524988/36888781-156df5fe-1e08-11e8-9b50-733bcfb506aa.png)

[2018-03-02 07:54] 0crat commented on #692
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-02 07:57] g4s8 commented on #494
@0crat waiting #667

[2018-03-02 07:57] 0crat commented on #494
@g4s8 The impediment for [#494](https://github.com/zerocracy/farm/issues/494) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-02 08:01] 0crat commented on #622
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-02 08:19] t-izbassar commented on #222
@g4s8 ping

[2018-03-02 08:33] g4s8 commented on #222
@t-izbassar sure, closing

[2018-03-02 08:33] #222 closed

[2018-03-02 08:36] 0crat commented on #222
Order was finished, quality was "acceptable": +30 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-02 08:36] 0crat commented on #222
The job [#222](https://github.com/zerocracy/farm/issues/222) is now out of scope

[2018-03-02 08:41] yegor256 commented on #684
@biboran I believe it's fixed now, in f0de45a

[2018-03-02 08:41] #684 closed

[2018-03-02 08:44] 0crat commented on #684
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-02 08:44] 0crat commented on #684
The job [#684](https://github.com/zerocracy/farm/issues/684) is now out of scope

[2018-03-02 08:49] 0crat commented on #360
The job [#360](https://github.com/zerocracy/farm/issues/360) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/610867028). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-02 08:51] yegor256 commented on #691
@g4s8 seems to be the same problem as with #490 I suspect that the prefix `AP-` means that the payment hasn't been sent through and we should throw an exception.

[2018-03-02 08:54] 0crat commented on #402
The job [#402](https://github.com/zerocracy/farm/issues/402) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/610871187). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-02 08:56] 0crat commented on #400
The job [#400](https://github.com/zerocracy/farm/issues/400) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/610873259). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-02 08:56] yegor256 commented on #691
@g4s8 I believe it's standing for "adaptive payments", the PayPal API we are using now.

[2018-03-02 08:58] 0crat commented on #412
The job [#412](https://github.com/zerocracy/farm/issues/412) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/610876327). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-02 09:00] t-izbassar opened #694 "Refuse doesn't work as expected"
See this issue: [118](https://github.com/yegor256/jpeek/issues/118#issuecomment-369858999)

I've refused from the issue. Expected behavior is: get notification about refusal, get -15 points deducted.
Current behavior: 0crat [saying this](https://github.com/yegor256/jpeek/issues/118#issuecomment-369859487) and points were not deducted.

Possibly can be reproduced, if user quits the project and then

[2018-03-02 09:00] 0crat commented on #694
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-02 09:00] t-izbassar commented on #363
@0crat status

[2018-03-02 09:01] 0crat commented on #363
@t-izbassar This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#363](https://github.com/zerocracy/farm/issues/363) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) for [19min](http://www.zerocracy.com/policy.html#8)
  * There is a

[2018-03-02 09:01] 0crat commented on #425
The job [#425](https://github.com/zerocracy/farm/issues/425) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/610918424). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-02 09:03] 0crat commented on #438
The job [#438](https://github.com/zerocracy/farm/issues/438) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/610920509). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-02 09:04] t-izbassar opened #695 "0crat assings issue silently"
Look [here](https://github.com/zerocracy/farm/issues/363#issuecomment-369861988). Status said that the job is assigned to me, however there was no mentioning about that in the ticket. Expected to see the message about assignment.

[2018-03-02 09:04] 0crat commented on #695
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-02 09:10] t-izbassar commented on #360
@g4s8 can you try to download this heapdump? As in your #369 pr you made it possible only to you as a user. And publish it somewhere accessible?

[2018-03-02 09:16] g4s8 commented on #360
@t-izbassar at moment it's not possible, it's blocking by this bug https://github.com/zerocracy/farm/issues/400

[2018-03-02 09:24] yegor256 commented on #691
@g4s8 I'm closing this as a duplicate of #490 I put 49.16 back to the list of debts for your account.

[2018-03-02 09:24] #691 closed

[2018-03-02 09:25] g4s8 commented on #691
@yegor256 thanks

[2018-03-02 09:47] amihaiemil commented on #425
@0crat waiting

[2018-03-02 09:48] 0crat commented on #425
@amihaiemil The impediment for [#425](https://github.com/zerocracy/farm/issues/425) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-02 09:50] amihaiemil commented on #279
@g4s8 Is this task still valid? I don't think so since, as I see, the Slack bot is named ``@0crat``, not ``@zerocrat``, as you say.

[2018-03-02 09:54] 0crat commented on #279
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/279#issuecomment-369875355). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-03-02 11:48] yegor256 opened #696 "pay the debt if it's too old"
See https://github.com/zerocracy/zerocracy.github.io/commit/94cd6fce38745b6a257f724dc84dd5180f02b9d1 We should pay the debt when it's too old (over "46.days"). Let's implement it in `pay_all_debts.groovy`

[2018-03-02 11:49] 0crat commented on #696
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-03-02 12:28] amihaiemil commented on #329
@0crat waiting #676

[2018-03-02 12:38] g4s8 commented on #279
@amihaiemil yes, looks like it was changed

[2018-03-02 12:38] #279 closed

[2018-03-02 12:41] proshin-roman opened #697 "0crat site is not available (503 Service Unavailable)"
When I try to open https://www.0crat.com/ I get "Application error" and `503 Service Unavailable` in Network tab of Developer console. I'm observing this problem about two or three hours since 12:00 UTC+3 of 02.03.2018.

[2018-03-02 12:44] proshin-roman opened #698 "Got payment for working on sandbox project"
When I applied to Cactoos (which is a sandbox project), I got the following message from 0crat:
[code]
but then, when I did a few tickets for this project, I got payment for that (on my PayPal wallet).

**What I expect:**
- 0crat shouldn't send "you work for free" **OR** the work should be really "for free"

[2018-03-02 12:58] amihaiemil opened #699 "Heroku Application Error"
http://www.0crat.com/ does not work currently, I get the following error (14:58 EET).:

![image](https://user-images.githubusercontent.com/6305156/36899973-1fe84bc0-1e2a-11e8-8e06-ea9ebf4bfc9c.png)

[2018-03-02 13:06] t-izbassar commented on #360
@0crat waiting for #400

[2018-03-02 13:11] t-izbassar commented on #400
@g4s8 what s3 storage are we using? Do we have ready to use credentials?

[2018-03-02 13:17] amihaiemil commented on #699
@yegor256 see here, 0crat seems to be down

[2018-03-02 13:31] g4s8 commented on #400
@t-izbassar you can see how s3 was implemented in `S3Item` and `S3Farm`

[2018-03-02 14:12] 0crat commented on #360
@t-izbassar The impediment for [#360](https://github.com/zerocracy/farm/issues/360) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-02 14:12] 0crat commented on #329
@amihaiemil The impediment for [#329](https://github.com/zerocracy/farm/issues/329) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-02 14:13] yegor256 opened #701 "remove old claims from MongoDB"
Let's remove meaningless claims that are too old from MongoDB. Let's do that by types. We can definitely remove `Notify.*` (regex). Later, we will add more regular expressions to it. Let's do that in a new Groovy stakeholder. It will just ask `Footprint` to clean up the database. The real work should happen inside the `Footprint`.

[2018-03-02 14:14] 0crat commented on #701
Job [#701](https://github.com/zerocracy/farm/issues/701) is now in scope, role is `DEV`

[2018-03-02 14:14] yegor256 commented on #697
@proshin-roman it's all good now, thanks

[2018-03-02 14:14] #697 closed

[2018-03-02 14:14] 0crat commented on #701
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-02 14:15] yegor256 commented on #699
@amihaiemil dup of #697

[2018-03-02 14:15] #699 closed

[2018-03-02 14:16] 0crat commented on #692
Job [#692](https://github.com/zerocracy/farm/issues/692) is now in scope, role is `DEV`

[2018-03-02 14:17] 0crat commented on #692
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-03-02 14:17] 0crat commented on #692
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-02 14:21] yegor256 commented on #698
@proshin-roman your rate in Cactoos is $16. It was set 19 days ago. Most probably you missed a message in Telegram.

[2018-03-02 14:21] #698 closed

[2018-03-02 14:22] 0crat commented on #696
Job [#696](https://github.com/zerocracy/farm/issues/696) is now in scope, role is `DEV`

[2018-03-02 14:22] 0crat commented on #696
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-02 14:29] amihaiemil commented on #279
@0crat status

[2018-03-02 14:29] 0crat commented on #279
@amihaiemil This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#279](https://github.com/zerocracy/farm/issues/279) is [in scope](http://www.zerocracy.com/policy.html#14) for 5mon
  * The role is `DEV`
  * The job is assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) for [2days](http://www.zerocracy.com/policy.html#8)
  * There is a

[2018-03-02 14:40] amihaiemil opened #702 "0crat does not remove closed impediment"
I registered an impediment for a few of my tasks, an issue which was closed after all. However, it is still registered as an impediment. For instance, [here](https://github.com/zerocracy/farm/issues/226#issuecomment-369351095); ticket 675 was closed, yet the job still has impediments.

[2018-03-02 14:40] 0crat commented on #702
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-02 14:41] 0crat commented on #279
Order was finished, quality was "acceptable": +30 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-02 14:41] 0crat commented on #279
The job [#279](https://github.com/zerocracy/farm/issues/279) is now out of scope

[2018-03-02 14:43] 0crat commented on #435
The job [#435](https://github.com/zerocracy/farm/issues/435) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/611443849). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-02 14:44] 0crat commented on #697
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-02 14:46] 0crat commented on #698
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-02 14:50] 0crat commented on #696
Job [#696](https://github.com/zerocracy/farm/issues/696) is already in scope

[2018-03-02 15:02] 0crat commented on #699
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-02 15:02] yegor256 commented on #702
@amihaiemil but we don't care what you are "waiting" for. We just add an impediment. It doesn't have a parameter. It's just a status for a job -- either has an impediment or not.

[2018-03-02 15:02] #702 closed

[2018-03-02 15:06] amihaiemil commented on #702
@yegor256 but shouldn't 0crat unregister the impediment and start the 10days count again once the impediment has been closed?

[2018-03-02 15:10] #284 closed

[2018-03-02 15:10] 0pdd commented on #284
The puzzle `155-f2c0cacb` has disappeared from the source code, that's why I closed this issue.

[2018-03-02 15:11] 0crat commented on #284
Order was finished, quality was "acceptable": +30 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-02 15:11] 0crat commented on #284
The job [#284](https://github.com/zerocracy/farm/issues/284) is now out of scope

[2018-03-02 15:13] 0crat commented on #489
The job [#489](https://github.com/zerocracy/farm/issues/489) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/611514648). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-02 16:52] yegor256 commented on #676
@amihaiemil see the readme I updated in dfcac15 WDYT?

[2018-03-02 17:08] yegor256 commented on #676
@amihaiemil there is more in c03c2162

[2018-03-02 17:11] 0crat commented on #674
The job [#674](https://github.com/zerocracy/farm/issues/674) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/611711678). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-02 17:11] 0crat commented on #674
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-02 17:11] 0crat commented on #674
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-02 17:25] yegor256 commented on #702
@amihaiemil we don't know what is the "impediment". It could be a ticket or just a bad mood of a developer :)

[2018-03-02 17:25] g4s8 commented on #616
@0crat waiting #650

[2018-03-02 17:27] 0crat commented on #616
@g4s8 The impediment for [#616](https://github.com/zerocracy/farm/issues/616) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-02 17:32] 0crat commented on #676
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-02 17:32] 0crat commented on #676
The job [#676](https://github.com/zerocracy/farm/issues/676) is now out of scope

[2018-03-02 17:55] g4s8 commented on #496
@0crat waiting

[2018-03-02 17:55] 0crat commented on #496
@g4s8 The impediment for [#496](https://github.com/zerocracy/farm/issues/496) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-02 17:59] 0pdd opened #703 "OptionsTest.java:24-28: Options are not implemented. We..."
The puzzle `258-bca58f1a` from #258 has to be resolved:

https://github.com/zerocracy/farm/blob/840e714a5c7dc060efee69bb1f6357956dd6da7e/src/test/java/com/zerocracy/pmo/OptionsTest.java#L24-L28

The puzzle was created by g4s8 on 02-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fi

[2018-03-02 17:59] 0crat commented on #703
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-02 18:01] 0crat commented on #703
Job [#703](https://github.com/zerocracy/farm/issues/703) is now in scope, role is `DEV`

[2018-03-02 18:05] 0crat commented on #497
The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#497](https://github.com/zerocracy/farm/issues/497), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-03-02 18:05] 0crat commented on #497
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-02 18:28] yegor256 commented on #673
@amihaiemil see 8cee6f36 Also, the video: https://www.youtube.com/watch?v=oWEN-vKEEYk

[2018-03-02 18:30] amihaiemil commented on #673
@yegor256 I see, thanks :)

[2018-03-02 18:30] #673 closed

[2018-03-02 18:39] yegor256 commented on #674
@amihaiemil I believe it's solved already in #673?

[2018-03-02 18:44] 0crat commented on #523
The job [#523](https://github.com/zerocracy/farm/issues/523) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/611847851). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-02 19:02] g4s8 commented on #646
@yegor256 PRs zerocracy/datum#302 and #649 were merged, puzzle #656 was created. Can we close?

[2018-03-02 19:39] 0crat commented on #415
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-02 19:45] 0crat commented on #646
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-02 20:05] 0crat commented on #422
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-02 20:22] yegor256 commented on #656
@0crat assign @g4s8

[2018-03-02 20:23] yegor256 commented on #646
@g4s8 thanks

[2018-03-02 20:23] #646 closed

[2018-03-02 20:23] 0crat commented on #656
@yegor256 The job [#656](https://github.com/zerocracy/farm/issues/656) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/612024588). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-02 20:24] 0crat commented on #656
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-02 20:24] 0crat commented on #646
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-02 20:24] 0crat commented on #646
The job [#646](https://github.com/zerocracy/farm/issues/646) is now out of scope

[2018-03-02 20:39] 0crat commented on #423
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-02 20:40] 0crat commented on #527
The job [#527](https://github.com/zerocracy/farm/issues/527) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/612042117). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-02 20:49] g4s8 opened #706 "Logout on redeploy"
After each server restart auth cookies becomes invalid, looks like it's caused by random `IV` in `CcAes` which generates in constructor.

[2018-03-02 20:49] 0crat commented on #706
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-02 20:51] amihaiemil commented on #226
@g4s8 PR merged, please close this if it's ok :)

[2018-03-02 20:56] yegor256 opened #707 "stripe payments are broken"
We don't make real payments, just create customers

[2018-03-02 21:07] g4s8 opened #708 "Dept is not well formatted"
User dept looks like a plain text from error message, I think it will look better if convert dept section to a table.
![scrot-2018-03-02-23 59 33](https://user-images.githubusercontent.com/1524988/36921575-dbd72bc6-1e75-11e8-85db-4679918d783c.png)

[2018-03-02 21:07] 0crat commented on #708
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-02 21:16] yegor256 commented on #708
@g4s8 dup of #660

[2018-03-02 21:16] #708 closed

[2018-03-02 21:16] 0crat commented on #706
Job [#706](https://github.com/zerocracy/farm/issues/706) is now in scope, role is `DEV`

[2018-03-02 21:17] yegor256 commented on #706
@g4s8 yes, correct. We should get rid of the skeleton in CcSecure and make sure the `IV` is constant, coming from `_props`

[2018-03-02 21:17] yegor256 commented on #706
@0crat assign @carlosmiranda

[2018-03-02 21:17] g4s8 commented on #527
@yegor256 so what is the new name finally?

[2018-03-02 21:17] 0crat commented on #706
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-02 21:18] 0crat commented on #706
@yegor256 The job [#706](https://github.com/zerocracy/farm/issues/706) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/612120042). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the

[2018-03-02 21:18] 0crat commented on #706
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-02 21:24] amihaiemil commented on #527
@g4s8 I would say "Developers" so we can also name the technology later. I think we should say which developer does what (Java, Go, php etc). Currently we don't show this info, the prospective customer has no idea what the developers on the platform can do :)

[2018-03-02 21:45] g4s8 commented on #706
@yegor256 @carlosmiranda BTW IV reusing may cause some [security issues](https://security.stackexchange.com/a/1097):

https://security.stackexchange.com/a/17046 https://spring.io/blog/2014/01/20/exploiting-encrypted-cookies-for-fun-and-profit

[2018-03-03 05:43] yegor256 commented on #706
@g4s8 what are you suggesting?

[2018-03-03 05:44] yegor256 commented on #527
@g4s8 let's go for "team"

[2018-03-03 05:57] 0pdd commented on #494
The puzzle `390-ecc63501` has disappeared from the source code, that's why I closed this issue.

[2018-03-03 05:57] #494 closed

[2018-03-03 05:59] 0crat commented on #494
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-03 05:59] 0crat commented on #494
The job [#494](https://github.com/zerocracy/farm/issues/494) is now out of scope

[2018-03-03 06:01] 0crat commented on #536
The job [#536](https://github.com/zerocracy/farm/issues/536) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/620616782). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-03 06:09] #599 closed

[2018-03-03 06:09] 0pdd commented on #599
The puzzle `539-4e7a4000` has disappeared from the source code, that's why I closed this issue.

[2018-03-03 06:09] 0pdd commented on #652
The puzzle `447-38b7b52b` has disappeared from the source code, that's why I closed this issue.

[2018-03-03 06:09] #652 closed

[2018-03-03 06:09] 0pdd opened #709 "_after.groovy:27-29: register_impediment stakeholder..."
The puzzle `447-7f13e82b` from #447 has to be resolved:

https://github.com/zerocracy/farm/blob/99f16ec57c5bd35c6de8d1dac0517aa48539b601/src/test/resources/com/zerocracy/bundles/impediments/_after.groovy#L27-L29

The puzzle was created by Yegor Bugayenko on 03-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2018-03-03 06:09] 0crat commented on #709
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-03 06:09] 0pdd opened #710 "_after.groovy:28-33: The ticket should be removed from..."
The puzzle `539-28713f59` from #539 has to be resolved:

https://github.com/zerocracy/farm/blob/99f16ec57c5bd35c6de8d1dac0517aa48539b601/src/test/resources/com/zerocracy/bundles/close_the_job/_after.groovy#L28-L33

The puzzle was created by Yegor Bugayenko on 02-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will b

[2018-03-03 06:09] 0crat commented on #710
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-03 06:10] 0crat commented on #599
The job [#599](https://github.com/zerocracy/farm/issues/599) is now out of scope

[2018-03-03 06:10] 0crat commented on #709
Job [#709](https://github.com/zerocracy/farm/issues/709) is now in scope, role is `DEV`

[2018-03-03 06:10] 0crat commented on #652
The job [#652](https://github.com/zerocracy/farm/issues/652) is now out of scope

[2018-03-03 06:10] 0crat commented on #710
Job [#710](https://github.com/zerocracy/farm/issues/710) is now in scope, role is `DEV`

[2018-03-03 08:03] g4s8 commented on #226
@amihaiemil thanks, it's working

[2018-03-03 08:03] #226 closed

[2018-03-03 08:03] 0crat commented on #226
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-03-03 08:04] 0crat commented on #226
Order was finished, quality was "acceptable": +30 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-03 08:04] 0crat commented on #226
The job [#226](https://github.com/zerocracy/farm/issues/226) is now out of scope

[2018-03-03 08:46] g4s8 commented on #706
@yegor256 I'd make IV random for each request and add it to cookie (because IV doesn't need to be a secret [by design](https://en.wikipedia.org/wiki/Block_cipher_modes_of_operation#Initialization_vector_.28IV.29)), it prevents any data leakage. Also I'd append HMAC of whole cookie value, including IV and encrypted data, it prevents encrypted text modification attacks, but there are few options: ht

[2018-03-03 09:04] g4s8 commented on #575
@yegor256 please take a look at https://github.com/jcabi/jcabi-github/issues/1065

[2018-03-03 09:09] rexim opened #712 "Please, charge attention to this issue typo"
English is my second language, but this doesn't look right: https://github.com/zerocracy/farm/blob/cbabaa68f1e7f5e9228b7cb6ba1ffa06661ab469/src/main/java/com/zerocracy/radars/github/RbPingArchitect.java#L63

Probably introduced by mass replacement in https://github.com/zerocracy/farm/commit/99f16ec57c5bd35c6de8d1dac0517aa48539b601#diff-0bd7928999472936985e53b1e576c28d

[2018-03-03 09:09] 0crat commented on #712
@yegor256[/z](https://www.0crat.com/u/yegor256) please, charge attention to this issue

[2018-03-03 10:41] amihaiemil commented on #674
@yegor256 yes, better, thanks :)

[2018-03-03 10:41] #674 closed

[2018-03-03 10:41] 0crat commented on #674
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-03 10:41] 0crat commented on #674
The job [#674](https://github.com/zerocracy/farm/issues/674) is now out of scope

[2018-03-03 11:06] amihaiemil commented on #229
@yegor256 I think this ticket is equivalent to [this](https://github.com/zerocracy/farm/issues/192) and was fixed -- user must be a registered person as verifier [here](https://github.com/zerocracy/farm/blob/master/src/main/resources/com/zerocracy/stk/pm/staff/roles/assign_role.groovy#L38)

[2018-03-03 13:51] 0crat commented on #655
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-03 15:52] amihaiemil opened #715 "Awards ctor should accept Pmo, not Project"
As explained [here](https://github.com/zerocracy/farm/pull/672#issuecomment-370140494), the awards are global, not per project. They can be read either from PMO or directly from Farm.

However, one ctor of Awards accepts Project (Pmo implements Project) -- this is not correct and leads to misuse of that class (as I just did in the PR referenced above). Awards should accept only Pmo, not just any t

[2018-03-03 15:52] 0crat commented on #715
@yegor256[/z](https://www.0crat.com/u/yegor256) please, charge attention to this issue

[2018-03-03 16:01] amihaiemil opened #716 "Revise Travis Build, more specificaly BundlesTest"
In PR #672, one bundle test was modified and it was failing locally (consistently). However, Travis CI passed always. We should check to see if ``BundlesTest`` doesn't somehow overlap the test cases in Travis (thus creating the proper setup for that failing test, ``set_boost_factor``, to pass artificially).

The test was failing locally with [this](https://github.com/zerocracy/farm/pull/672#issuec

[2018-03-03 16:01] 0crat commented on #716
@yegor256[/z](https://www.0crat.com/u/yegor256) please, charge attention to this issue

[2018-03-03 19:08] 0crat commented on #501
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-03 19:53] 0crat commented on #502
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-03 20:01] 0crat commented on #654
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-03 22:30] 0crat commented on #416
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#416](https://github.com/zerocracy/farm/issues/416), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-03-03 22:30] 0crat commented on #416
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @caarlos0[/z](https://www.0crat.com/u/caarlos0)

[2018-03-04 07:45] 0pdd commented on #709
The puzzle `447-7f13e82b` has disappeared from the source code, that's why I closed this issue.

[2018-03-04 07:45] #709 closed

[2018-03-04 07:45] 0crat commented on #709
The job [#709](https://github.com/zerocracy/farm/issues/709) is now out of scope

[2018-03-04 07:50] yegor256 commented on #712
@rexim fixed, thanks :)

[2018-03-04 07:50] #712 closed

[2018-03-04 07:51] 0crat commented on #716
Job [#716](https://github.com/zerocracy/farm/issues/716) is now in scope, role is `DEV`

[2018-03-04 07:51] 0crat commented on #716
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-03-04 07:52] 0crat commented on #716
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-04 07:52] 0crat commented on #715
Job [#715](https://github.com/zerocracy/farm/issues/715) is now in scope, role is `DEV`

[2018-03-04 07:52] 0crat commented on #715
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-03-04 07:52] yegor256 commented on #715
@amihaiemil make sense. The same should be done for all other classes in `com.zerocracy.pmo` package.

[2018-03-04 07:52] 0crat commented on #715
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-04 07:54] #707 closed

[2018-03-04 09:11] 0crat commented on #510
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-04 09:15] 0crat commented on #512
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-04 09:32] ypshenychka commented on #661
@yegor256 Now both records are gone. No payment for yegor256/jpeek#211 at all.
![image](https://user-images.githubusercontent.com/11703257/36944177-8aaf3844-1f9f-11e8-8510-c23d91da78db.png)

[2018-03-04 09:33] ypshenychka commented on #677
@yegor256 Only one record left. Closing issue.

[2018-03-04 09:33] #677 closed

[2018-03-04 10:53] g4s8 commented on #377
@0crat waiting #713

[2018-03-04 10:53] 0crat commented on #377
@g4s8 The impediment for [#377](https://github.com/zerocracy/farm/issues/377) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-04 13:19] amihaiemil opened #718 "Pmo should not be a Project"
Pmo is actually the central ledger of the farm, where the [information](https://github.com/zerocracy/farm/issues/new) about all the other projects is stored.

It is not actually a project, it has no jobs, no boosts etc. However, in the code, it implements ``Project``. This is not ok since we always have to take care to treat this particular ``Project`` in a specific way, it is a bad abstraction. I

[2018-03-04 13:19] 0crat commented on #718
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-04 17:05] g4s8 commented on #502
@skapral @yegor256 I was already fixed in #504 by @mazdack. Now it's working fine.

[2018-03-04 17:11] amihaiemil opened #721 "Travis fails: "1 threads are still alive, it's a bug, see above""
One Travis build failed on [one PR](https://github.com/zerocracy/farm/pull/720):

https://travis-ci.org/zerocracy/farm/builds/348972422?utm_source=github_status&utm_medium=notification

I assume it's really a bug in the tests' infrastructure. No matter what happens, threads shouldn't be leaking, right?

[2018-03-04 17:11] 0crat commented on #721
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-05 07:08] yegor256 commented on #721
@amihaiemil definitely a bug, but I can't imagine how it's possible to reproduce it...

[2018-03-05 07:08] 0crat commented on #721
Job [#721](https://github.com/zerocracy/farm/issues/721) is now in scope, role is `DEV`

[2018-03-05 07:09] yegor256 commented on #718
@amihaiemil but they share a lot of functionality, including items, synchronization, claims, etc.

[2018-03-05 07:09] 0crat commented on #721
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-05 07:10] yegor256 opened #722 "resign/remind should not happen if the project is not funded"
See https://github.com/yegor256/cactoos/issues/665#issuecomment-370133674

[2018-03-05 07:26] amihaiemil commented on #721
@yegor256 I think we shouldn't be playing with threads so much (using that ``VerboseRunnable`` or ``VerboseThreads`` when running a stakeholder. There are also issues with the tests, they are silently swallowing exceptions as explained [here](https://github.com/zerocracy/farm/pull/719#issuecomment-370331149).

Is it even necessary to run the stakeholders on separate threads?

[2018-03-05 07:53] #722 closed

[2018-03-05 08:05] #502 closed

[2018-03-05 08:07] 0crat commented on #502
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-05 08:07] 0crat commented on #502
The job [#502](https://github.com/zerocracy/farm/issues/502) is now out of scope

[2018-03-05 09:21] g4s8 commented on #368
@0crat waiting #714

[2018-03-05 09:22] 0crat commented on #368
@g4s8 The impediment for [#368](https://github.com/zerocracy/farm/issues/368) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-05 10:38] yegor256 commented on #718
@amihaiemil no, they are not connected almost anyhow. A PMO is a normal regular project, but it has a different set of artifacts, that's it. They are absolutely identical at the level of Java. They are different by the types of data they store (XML). So, making them as separate types is a wrong idea, I believe.

[2018-03-05 10:38] #718 closed

[2018-03-05 10:42] yegor256 commented on #721
@amihaiemil yes, we need to use `AsyncFlush`, which runs them all in background threads. If you need to know the reason... you know what to do :)

[2018-03-05 10:51] amihaiemil commented on #718
@yegor256 If the 2 are identical in Java, yet they are separate concepts, then it means lower abstractions are too generic. I noticed ``Item`` is the lowest abstraction in the project -- doesn't that seem a little too generic? An Item can be anything, so naturally you have the risk of duplicating code or interfaces in the upper layers.

Do you know what I mean? The abstraction layer should shaped

[2018-03-05 11:10] g4s8 opened #723 "Mechanism to check delayed claims"
There is no generic mechanism for checking delayed claims (where `until > 0`) as in #616, it should be able to check claim status somehow and remove claim from `claims.xml` if it is not valid (e.g. if github issue was closed then `Add job t WBS` becomes invalid). It may be implemented as a stakeholder as described in https://github.com/zerocracy/farm/issues/616#issuecomment-368442036

[2018-03-05 11:10] 0crat commented on #723
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-05 11:11] g4s8 commented on #616
@yegor256 I think you're right - it will be easier to implement it as a stakeholder, I created a ticket about it: #723

[2018-03-05 11:18] 0crat commented on #535
The job [#535](https://github.com/zerocracy/farm/issues/535) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/641117029). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-05 11:19] yegor256 commented on #616
@g4s8 thanks

[2018-03-05 11:20] 0crat commented on #723
Job [#723](https://github.com/zerocracy/farm/issues/723) is now in scope, role is `DEV`

[2018-03-05 11:21] 0crat commented on #723
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-05 11:32] ypshenychka opened #724 "QA rules about waiting for confirmation should be revised"
QA rules currently [say](http://www.zerocracy.com/policy.html#42):

Sometimes it gets to situation, when person doesn't respond on QA remarks. Reasons can be different: person is either not interested, or just not responsible, or is not on project anymore, etc.

And this situation leads to performer's resign due to 10 days rule, so evaluating this ticket as acceptable doesn't make sense anymore, b

[2018-03-05 11:33] 0crat commented on #724
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-05 11:39] 0pdd commented on #425
The puzzle `360-7aef014d` has disappeared from the source code, that's why I closed this issue.

[2018-03-05 11:39] #425 closed

[2018-03-05 11:40] 0pdd opened #725 "TkDump.java:38-40: Download and analyze heap dump from..."
The puzzle `425-40a20d3d` from #425 has to be resolved:

https://github.com/zerocracy/farm/blob/abf8537e9c3af42589c6d4b56d715b8053c6bb78/src/main/java/com/zerocracy/tk/TkDump.java#L38-L40

The puzzle was created by amihaiemil on 03-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fi

[2018-03-05 11:40] 0crat commented on #725
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-05 11:40] 0crat commented on #725
Job [#725](https://github.com/zerocracy/farm/issues/725) is now in scope, role is `DEV`

[2018-03-05 11:46] g4s8 commented on #616
@yegor256 so can we close then? PR #650 with fix for `RbOnClose` was merged and ticket for generic mechanism #723 was submited

[2018-03-05 11:48] yegor256 commented on #616
@g4s8 right, thanks

[2018-03-05 11:48] #616 closed

[2018-03-05 11:57] 0crat commented on #425
Order was finished, quality was "acceptable": +30 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-05 11:57] 0crat commented on #425
The job [#425](https://github.com/zerocracy/farm/issues/425) is now out of scope

[2018-03-05 11:59] 0crat commented on #497
The job [#497](https://github.com/zerocracy/farm/issues/497) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/641160259). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-05 11:59] yegor256 commented on #724
@ypshenychka you are right, the current situation is not really logical. We will change it as soon this one is implemented: #646 We will close the order and the job right when it's closed. Then, we will create a QA review request and will wait for its completion. We will wait for as long as needed. When it's done, we pay for the job and to the QA inspector.

Thus, there will be no necessity to hav

[2018-03-05 11:59] #724 closed

[2018-03-05 11:59] 0crat commented on #724
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-03-05 12:04] 0crat commented on #616
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-05 12:04] 0crat commented on #616
The job [#616](https://github.com/zerocracy/farm/issues/616) is now out of scope

[2018-03-05 12:04] 0crat commented on #627
The job [#627](https://github.com/zerocracy/farm/issues/627) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/641205435). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-05 12:05] 0crat commented on #627
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-05 12:05] 0crat commented on #627
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-05 12:07] 0crat commented on #533
The job [#533](https://github.com/zerocracy/farm/issues/533) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/641208552). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-05 12:24] yegor256 commented on #661
@0crat pay 8min @ypshenychka

[2018-03-05 12:25] 0crat commented on #661
@yegor256 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-03-05 12:32] yegor256 commented on #661
@0crat pay 8min @ypshenychka

[2018-03-05 12:32] 0crat commented on #661
@yegor256 The user @@ypshenychka is working for free in this project, see [§49](http://www.zerocracy.com/policy.html#49)

[2018-03-05 12:40] g4s8 commented on #377
@carlosmiranda I can't reproduce it now, seems to be fixed with another bug, I added test #713 to verify that `apply` with $rate works correctly. Can we close then?

[2018-03-05 13:07] yegor256 commented on #661
@ypshenychka one payment fixed: https://github.com/yegor256/jpeek/pull/211#issuecomment-370413133

[2018-03-05 13:08] yegor256 commented on #661
@ypshenychka we won't have any more duplicates

[2018-03-05 13:08] #661 closed

[2018-03-05 13:09] #627 closed

[2018-03-05 13:25] 0crat commented on #627
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-05 13:25] 0crat commented on #627
The job [#627](https://github.com/zerocracy/farm/issues/627) is now out of scope

[2018-03-05 13:35] 0crat commented on #694
The job [#694](https://github.com/zerocracy/farm/issues/694) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/641333687). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-05 13:35] 0crat commented on #694
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-05 13:35] 0crat commented on #694
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-05 13:36] ypshenychka commented on #661
@yegor256 thanks!

[2018-03-05 13:40] yegor256 commented on #694
@t-izbassar you are right, it was a bug, fixed

[2018-03-05 13:40] #694 closed

[2018-03-05 13:46] g4s8 commented on #527
@amihaiemil renamed "gang" to "team": https://www.0crat.com/team
can we close?

[2018-03-05 13:48] amihaiemil commented on #527
@g4s8 Yes, looks nice, thanks :)

[2018-03-05 13:48] #527 closed

[2018-03-05 13:57] g4s8 commented on #391
@0crat waiting #727

[2018-03-05 14:03] 0crat commented on #694
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-05 14:03] 0crat commented on #391
@g4s8 You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`, `REV`.

[2018-03-05 14:04] 0crat commented on #391
@g4s8 The impediment for [#391](https://github.com/zerocracy/farm/issues/391) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-05 14:04] 0crat commented on #391
@g4s8 You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`, `REV`.

[2018-03-05 14:04] 0crat commented on #391
@g4s8 Job [#391](https://github.com/zerocracy/farm/issues/391) is already on hold

[2018-03-05 14:04] 0crat commented on #694
The job [#694](https://github.com/zerocracy/farm/issues/694) is now out of scope

[2018-03-05 14:07] 0crat commented on #527
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-05 14:07] 0crat commented on #527
The job [#527](https://github.com/zerocracy/farm/issues/527) is now out of scope

[2018-03-05 14:09] yegor256 commented on #706
@g4s8 so it's a bug in Takes, not here, correct? `CcAes` should format the cookie the way you suggested. Am I right?

[2018-03-05 14:11] 0crat commented on #532
The job [#532](https://github.com/zerocracy/farm/issues/532) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/641411825). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-05 14:16] 0crat commented on #546
The job [#546](https://github.com/zerocracy/farm/issues/546) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/641414894). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-05 14:26] 0pdd opened #728 "delete_stale_jobs.groovy:8-12: Let's implement this..."
The puzzle `496-4b81e8fe` from #496 has to be resolved:

https://github.com/zerocracy/farm/blob/9260f1c97d2a008e9bcb05d9fb66b933eeae2728/src/main/resources/com/zerocracy/stk/pmo/agenda/delete_stale_jobs.groovy#L8-L12

The puzzle was created by rultor on 05-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "don

[2018-03-05 14:26] 0crat commented on #728
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-05 14:29] 0crat commented on #728
Job [#728](https://github.com/zerocracy/farm/issues/728) is now in scope, role is `DEV`

[2018-03-05 14:34] yegor256 commented on #557
@g4s8 I belive it's fixed already, `RbOnClose` sends only one claim now

[2018-03-05 14:34] #557 closed

[2018-03-05 14:44] 0pdd commented on #368
The puzzle `362-23595687` has disappeared from the source code, that's why I closed this issue.

[2018-03-05 14:44] #368 closed

[2018-03-05 14:50] 0crat commented on #557
The job [#557](https://github.com/zerocracy/farm/issues/557) is now out of scope

[2018-03-05 15:10] 0crat commented on #368
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-05 15:10] 0crat commented on #368
The job [#368](https://github.com/zerocracy/farm/issues/368) is now out of scope

[2018-03-05 15:14] 0crat commented on #552
The job [#552](https://github.com/zerocracy/farm/issues/552) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/641514069). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-05 15:29] g4s8 commented on #496
@yegor256 PR #705 was merged and todo #728 was submitted, can we close?

[2018-03-05 15:30] yegor256 commented on #496
@g4s8 thanks!

[2018-03-05 15:30] #496 closed

[2018-03-05 15:38] 0crat commented on #555
The job [#555](https://github.com/zerocracy/farm/issues/555) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/641539502). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-05 15:51] 0crat commented on #496
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-05 15:51] 0crat commented on #496
The job [#496](https://github.com/zerocracy/farm/issues/496) is now out of scope

[2018-03-05 15:54] 0crat commented on #556
The job [#556](https://github.com/zerocracy/farm/issues/556) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/641555839). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-05 15:59] g4s8 opened #729 "Too many notifications for one closed issue"
Every time some job completed I receive 3 notifications in Telegram and few Github notifications.
Telegram:

I'm receiving them all during ~one minute.

Maybe we can wait a little bit and not sent notification immediately, then group notifications with same parent claim then send it as single message?

[2018-03-05 15:59] 0crat commented on #729
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-05 16:42] yegor256 commented on #729
@g4s8 yes, that would be great. We need some sanity checker for the list of claims. We discussed it already in #723. We need to introduce a mechanism first and then implement this particular checker/aggregator of `Notify` claims.

[2018-03-05 16:42] 0crat commented on #729
Job [#729](https://github.com/zerocracy/farm/issues/729) is now in scope, role is `DEV`

[2018-03-05 16:44] 0crat commented on #729
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-05 17:21] yegor256 commented on #556
@g4s8 see: https://github.com/zerocracy/farm/issues/724#issuecomment-370397740 This happened NOT when the production server was re-deploying.

[2018-03-05 17:36] yegor256 commented on #656
@0crat assign me

[2018-03-05 17:36] yegor256 commented on #656
@g4s8 hope you don't mind

[2018-03-05 17:37] 0crat commented on #656
@yegor256 The job [#656](https://github.com/zerocracy/farm/issues/656) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/641741017). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is n

[2018-03-05 17:38] 0crat commented on #656
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-05 17:40] g4s8 commented on #656
@yegor256 that's fine

[2018-03-05 17:44] 0crat commented on #559
The job [#559](https://github.com/zerocracy/farm/issues/559) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/641747178). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-05 17:56] amihaiemil opened #730 "Allow OSS projects as sandboxes, free of charge"
0crat should allow any project on Github to be registered, free of charge, as a sandbox project. It will be the PO decision if they pay the contributors or not, but ZC should take no fee.

This solves the problem of training new developers (nobody has to pay to maintain a sandbox project) + should offer diversity in technologies.

[2018-03-05 17:56] 0crat commented on #730
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-05 17:57] amihaiemil commented on #730
@yegor256 well, it sounds easy, but we would need a mechanism to determine whether the project is truly a sandbox... what should the criteria be? If we have no mechanism for this, then anyone could register as a sandbox project and pay nothing :D

[2018-03-05 18:32] #493 closed

[2018-03-05 18:35] yegor256 commented on #730
@amihaiemil at the moment we don't take the management fee from open source projects, see: http://www.zerocracy.com/policy.html#23 So, any project can join and publish itself on the board. However, programmers won't be able to join, unless they have 256 reputation points.

If we allow any project to become "sandbox", they will get very immature programmers and will blame us for that. See?

[2018-03-05 18:35] ypshenychka opened #731 "No payment for issue that was queued by 0crat"
I was reviewing several issues and gave verdict to 0crat one by one.

No response was from 0crat [here](https://github.com/yegor256/cactoos/pull/717) for one hour, so in order not to duplicate review marks, I've triggered 0crat's "attention" by pinging him.

The points were processed, but no payment actually received. Debt list doesn't contain this issue 717.

![image](https://user-images.githubus

[2018-03-05 18:35] 0crat commented on #731
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-05 18:44] amihaiemil commented on #730
@yegor256 oh, I see. I'll have a look

[2018-03-05 18:52] yegor256 commented on #730
@amihaiemil we can allow _some_ projects to become sandbox, but they have to be absolutely ready to deal with strangers who have no idea what they are doing. And they will have to be ready to pay for that. See how difficult it will be to find those volunteers? The main question is why they would do that? They can register a normal project and get normal (256+ rank) programmers. Why accepting newbi

[2018-03-06 00:26] carlosmiranda commented on #377
@g4s8 I don't think I'm seeing it now. The test should help. Thanks!

[2018-03-06 00:26] #377 closed

[2018-03-06 00:26] 0crat commented on #377
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-03-06 00:45] 0crat commented on #377
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-06 00:45] 0crat commented on #377
The job [#377](https://github.com/zerocracy/farm/issues/377) is now out of scope

[2018-03-06 00:47] 0crat commented on #566
The job [#566](https://github.com/zerocracy/farm/issues/566) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/650060233). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-06 00:58] carlosmiranda commented on #706
@0crat waiting

[2018-03-06 00:58] 0crat commented on #706
@carlosmiranda You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`, `REV`.

[2018-03-06 00:58] 0crat commented on #706
@carlosmiranda The impediment for [#706](https://github.com/zerocracy/farm/issues/706) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-03-06 07:48] amihaiemil commented on #435
@0crat waiting

[2018-03-06 07:59] amihaiemil opened #733 "BundlesTest silently swallows exceptions"
In PR #719 we [tried to add](https://github.com/amihaiemil/farm/commit/dbb6001b0c217574d0b6734d0671304767e8bbc3#diff-6b470f91f81f74907161407bc05e83b3) the Github user's followers count to a message. However, MkUser does not have the element ``followersCount`` so IllegalStateException was thrown in the ``assign_role`` bundle test -- but this exception was silently swallowed and displayed in the con

[2018-03-06 07:59] 0crat commented on #733
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-06 08:00] 0crat commented on #435
@amihaiemil You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`.

[2018-03-06 08:00] 0crat commented on #435
@amihaiemil The impediment for [#435](https://github.com/zerocracy/farm/issues/435) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-06 08:02] 0crat commented on #560
The job [#560](https://github.com/zerocracy/farm/issues/560) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/650823290). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-06 09:15] amihaiemil opened #734 "ARC should be able control 0crat better"
As far as I know, currently, ARC has no real power over how 0crat handles tasks (assignment, counting, delay etc). At least not without punishment.

Since the ARC is in charge of the project, he/she has to be sure that the project is stable and in good quality (including budget), ARC should be able to tell 0crat to postpone, stop counting, reassign etc without punishment.

This is because there ar

[2018-03-06 09:16] 0crat commented on #734
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-06 13:00] 0crat commented on #733
Job [#733](https://github.com/zerocracy/farm/issues/733) is now in scope, role is `DEV`

[2018-03-06 13:01] 0crat commented on #733
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-06 15:21] yegor256 commented on #734
@amihaiemil you have to be more specific. I do agree with some of your thoughts and disagree with others. Please, submit more specific issues.

[2018-03-06 15:21] #734 closed

[2018-03-06 15:29] amihaiemil commented on #220
@g4s8 PR was merged, can we close this? :)

[2018-03-06 15:45] amihaiemil commented on #229
@yegor256 PR is merged, can you close this?

[2018-03-06 16:21] amihaiemil commented on #229
@yegor256 ping

[2018-03-06 16:21] 0crat commented on #229
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/229#issuecomment-370837948). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-03-06 16:24] amihaiemil opened #735 "0crat receives other notifications than "mention""
See [here](https://github.com/zerocracy/farm/issues/229#issuecomment-370837948). 0crat analyzed my comment and responded, without any mentioning.

The response was appropriate, since the comment never mentioned 0crat. I think the issue is that 0crat checks all types of notifications, not just the "mention" type.

[2018-03-06 16:24] 0crat commented on #735
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-06 17:38] g4s8 commented on #220
@amihaiemil thanks!

[2018-03-06 17:38] 0crat commented on #220
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/220#issuecomment-370864289). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-03-06 17:38] #220 closed

[2018-03-06 17:53] 0crat commented on #220
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-06 18:01] amihaiemil commented on #735
@yegor256 I am pretty sure the bug was introduced by in #720, when I took out the uppermost wrapping ``if``:

[code]

I was misguided by how those ``Response`` decorators are declared on top of eachother:

[code]

This is in ``TkGithub``. See, the reason of the notification is already supposed to be "mention" by the time it gets inside ``ReIfAddressed`` (from where that ``if`` was removed)

So, ei

[2018-03-06 18:01] 0pdd commented on #656
The puzzle `646-eda38fad` has disappeared from the source code, that's why I closed this issue.

[2018-03-06 18:01] #656 closed

[2018-03-06 18:01] 0crat commented on #656
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/656#issuecomment-370871943). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-03-06 18:01] 0crat commented on #656
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/656#issuecomment-370871943). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-03-06 18:17] 0crat commented on #656
The job [#656](https://github.com/zerocracy/farm/issues/656) is now out of scope

[2018-03-06 18:32] ypshenychka commented on #220
@amihaiemil According to our [QA Rules](http://www.zerocracy.com/policy.html#42):
1. >Some of ticket messages must mention all pull requests where the problem was actually fixed.

Please provide a link to corresponding PR in any of your messages.

2. >All impediments registered in the ticket have explanations of the reasons and links to related tickets, if necessary

Please make the [registered im

[2018-03-06 18:32] 0crat commented on #220
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/220#issuecomment-370881569). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-03-06 18:35] ypshenychka opened #736 "0crat reacted to QA mark with multiple "Are you speaking to me..." and gave no awards"
Happened [here](https://github.com/zerocracy/farm/pull/672).
After giving quality verdict, 0crat responded with nore tha 20 messages "Are you speaking to me or about me here. You must always start your message with my name if you want to address it to me, see §1.".

No points or payments were processed.

[2018-03-06 18:35] 0crat commented on #736
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-06 18:37] amihaiemil commented on #220
@ypshenychka done, updated both comments.

[2018-03-06 18:37] 0crat commented on #220
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/220#issuecomment-370883052). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-03-06 18:39] amihaiemil commented on #735
@yegor256 I think you should deploy the previous release, without #720. The bug is annoying and it probably relvealed other issues as well (I don't see how this bug, by itself, could cause repetition of comments as seen [here](https://github.com/zerocracy/farm/issues/736))

[2018-03-06 18:51] ypshenychka commented on #220
@amihaiemil Thanks!

[2018-03-06 18:51] ypshenychka commented on #220
@0crat quality acceptable

[2018-03-06 18:51] 0crat commented on #220
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/220#issuecomment-370887481). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-03-06 18:52] 0crat commented on #220
@ypshenychka You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `QA`.

[2018-03-06 18:52] 0crat commented on #220
@ypshenychka There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-03-06 18:58] ypshenychka opened #737 "0crat unrecorevable issue after QA review"
Happened [here](https://github.com/zerocracy/farm/issues/220#issuecomment-370887641).

com.zerocracy.farm.reactive.StkGroovy[125] java.lang.IllegalStateException: java.lang.reflect.InvocationTargetException in com/zerocracy/stk/pm/qa/complete_qa_review.groovy
sun.reflect.NativeMethodAccessorImpl[-2] java.lang.reflect.InvocationTargetException: null
com.jcabi.log.PreFormatter[155] java.lang.Illegal

[2018-03-06 18:58] 0crat commented on #737
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-06 19:00] amihaiemil commented on #229
@yegor256 ping

[2018-03-06 19:00] 0crat commented on #229
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/229#issuecomment-370890273). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-03-06 19:02] 0crat commented on #710
The job [#710](https://github.com/zerocracy/farm/issues/710) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/651903493). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-06 19:02] 0crat commented on #710
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-06 19:19] t-izbassar commented on #400
@0crat waiting for #738 to be merged

[2018-03-06 19:19] 0crat commented on #400
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/400#issuecomment-357645520). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-03-06 19:19] 0crat commented on #400
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/400#issuecomment-357750556). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-03-06 19:19] 0crat commented on #400
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/400#issuecomment-369917047). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-03-06 19:19] 0crat commented on #400
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/400#issuecomment-369921361). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-03-06 19:19] 0crat commented on #400
@t-izbassar You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`.

[2018-03-06 19:19] 0crat commented on #400
@t-izbassar The impediment for [#400](https://github.com/zerocracy/farm/issues/400) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-06 20:05] g4s8 commented on #510
@0crat waiting

[2018-03-06 20:06] 0crat commented on #510
@g4s8 You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`, `REV`.

[2018-03-06 20:06] 0crat commented on #510
@g4s8 The impediment for [#510](https://github.com/zerocracy/farm/issues/510) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-06 20:42] g4s8 opened #739 "Can't access MkStorage in BundleTests"
It's not possible to prepare some data in `Github` instance via `MkStorage` for bundle tests, because it accessed with `ExtGithub(farm).value()` which creates `MkGithub` instance for tests with default storage.

[2018-03-06 20:42] 0crat commented on #739
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-06 20:53] 0pdd commented on #710
The puzzle `539-28713f59` has disappeared from the source code, that's why I closed this issue.

[2018-03-06 20:53] #710 closed

[2018-03-06 20:53] 0pdd commented on #539
@rexim the puzzle [710](https://github.com/zerocracy/farm/issues/710) is solved

[2018-03-06 20:53] 0crat commented on #539
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/539#issuecomment-370924372). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-03-06 20:53] 0crat commented on #539
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/539#issuecomment-370924372). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-03-06 20:53] 0crat commented on #710
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-03-06 21:08] 0crat commented on #710
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-03-06 21:59] yegor256 commented on #737
@ypshenychka fixed, please try again

[2018-03-06 21:59] #737 closed

[2018-03-06 22:00] yegor256 commented on #736
@ypshenychka fixed already, thanks

[2018-03-06 22:00] #736 closed

[2018-03-06 22:00] yegor256 commented on #735
@amihaiemil fixed already in 7fe5ceed5578c8f7e9b4e2185d46f5ff59d98edd

[2018-03-06 22:00] #735 closed

[2018-03-06 22:18] g4s8 commented on #512
@0crat refuse

[2018-03-06 22:19] 0crat commented on #512
@g4s8 You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`, `REV`.

[2018-03-06 22:19] 0crat commented on #512
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#512](https://github.com/zerocracy/farm/issues/512), please stop working. Reason for job resignation: Order was cancelled

[2018-03-06 22:19] 0crat commented on #512
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-06 22:21] 0crat commented on #574
The job [#574](https://github.com/zerocracy/farm/issues/574) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/652220528). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-06 22:33] g4s8 commented on #501
@0crat waiting #732

[2018-03-06 22:33] 0crat commented on #501
@g4s8 You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`, `REV`.

[2018-03-06 22:33] 0crat commented on #501
@g4s8 The impediment for [#501](https://github.com/zerocracy/farm/issues/501) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-07 07:21] yegor256 commented on #229
@amihaiemil thanks!

[2018-03-07 07:21] #229 closed

[2018-03-07 07:21] 0crat commented on #229
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-03-07 07:24] yegor256 opened #741 "IllegalStateException: [POST https://www.0crat.com/ghook] failed in 8s: com.amazonaws.SdkClientException: Unable to exec..."
here: https://github.com/zerocracy/farm/issues/229#issuecomment-371047170

https://sentry.io/zerocracy/farm/issues/464802247/

[code]

[2018-03-07 07:24] yegor256 commented on #741
Full stack trace:

[code]

[2018-03-07 07:25] yegor256 commented on #741
@0crat assign @carlosmiranda

[2018-03-07 07:25] amihaiemil commented on #739
@g4s8 Yes, I also had this issue. In fact, I believe we should get rid of ExtGithub (why do we even need ``Scalar<Github>``) -- it doesn't do enything except taking a ``Farm`` in its ctor and passing its ``Props`` to RtGithub. And, well, it gives us trouble when we need MkGithub...

[2018-03-07 07:25] yegor256 commented on #741
@carlosmiranda we tried here: https://github.com/zerocracy/farm/issues/511

[2018-03-07 07:25] 0crat commented on #741
@yegor256 The job [#741](https://github.com/zerocracy/farm/issues/741) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/660739063). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the

[2018-03-07 07:26] 0crat commented on #741
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-07 07:26] 0crat commented on #741
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-07 07:45] amihaiemil commented on #735
@yegor256 Well, I didn't want to redo those changed, they are alright. The bug is somewhere else, as I explained in my comment above, the comment shouldn't reach ReIfAddressed if the handle is not in it :)

[2018-03-07 07:49] g4s8 commented on #739
@amihaiemil `ExtGithub` can construct proper `Github` instance with credentials from properties for production and `MkGithub` for test, I think we need similar class anyway, how would you remove it?

[2018-03-07 07:54] amihaiemil commented on #739
@g4s8 First off, I would at least rename if (wtf is ``Ext``?).

Then, I would add an implementation of ``Github``, which would work with an authenticated ``RtGithub`` behind, like this:

``Github github = new FarmGithub(farm)`` -- this encapsulates and delegates all operations to an ``RtGithub`` authenticated via the Props from the farm. Maybe it is enough to pass the Props directly, instead of th

[2018-03-07 07:59] ypshenychka opened #742 "0crat didn't understand what is "acceptable""
Make sure the title of the issue explains the problem you are having. Also, the description of the issue must clearly explain what is broken, not what you want us to implement. Go through this checklist and make sure you answer "YES" to all points:

  - You have all pre-requisites listed in README.md installed
  - You are sure that you are not reporting a duplicate (search all issues)
  - You say

[2018-03-07 07:59] 0crat commented on #742
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-07 07:59] ypshenychka opened #743 "0crat didn't understand what is "acceptable""
Happened [here](https://github.com/zerocracy/farm/pull/719#issuecomment-371052088).

0crat didn't give any points\payments.

[2018-03-07 07:59] 0crat commented on #743
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-07 08:38] 0crat commented on #229
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-07 08:38] 0crat commented on #229
The job [#229](https://github.com/zerocracy/farm/issues/229) is now out of scope

[2018-03-07 08:40] 0crat commented on #512
The job [#512](https://github.com/zerocracy/farm/issues/512) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/660854893). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-07 09:02] ypshenychka commented on #229
@amihaiemil According to our [QA Rules](http://www.zerocracy.com/policy.html#42):
1. >Some of ticket messages must mention all pull requests where the problem was actually fixed.

Please provide a link to PR in any of your messages.

2. >All impediments registered in the ticket have explanations of the reasons and links to related tickets, if necessary

There were two registered impediments. Pleas

[2018-03-07 09:05] amihaiemil commented on #229
@ypshenychka done, I updated the comments :)

[2018-03-07 09:09] ypshenychka commented on #229
@amihaiemil thanks!

[2018-03-07 09:10] ypshenychka commented on #229
@0crat quality acceptable

[2018-03-07 09:10] 0crat commented on #229
@ypshenychka You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `QA`.

[2018-03-07 09:10] 0crat commented on #229
@ypshenychka I didn't understand what is "acceptable"

[2018-03-07 12:29] amihaiemil commented on #730
@yegor256 I understand now. So basically ZC is a free service for any opensource Github repo (I think you should rephrase that paragraph, the word "waived" is not so common, maybe not everyone understands it. For instance, I did not).

I think you should tweet about that more, and make it popular. More projects will start using it and improve the platform :) Developers could work for them for free

[2018-03-07 14:03] amihaiemil opened #745 "Make sure payments are bulletproof"
Is there a mechanism in the code, exception handling and so on, to make sure that *no matter what happens*, debts or errored payments are not lost?

If not, we should definetely have it, since errors will happen for sure, shut downs will happen, bugs will be introduced etc, and 0crat can't afford to say "sorry, can't help you", once Beta testing is over. Also, there could be no excuse that could b

[2018-03-07 14:03] 0crat commented on #745
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-07 14:21] t-izbassar commented on #363
@yegor256 can you put the full log? And with the most recent issue if possible, so they will be more accurate.

[2018-03-07 14:27] #742 closed

[2018-03-07 14:28] yegor256 commented on #742
@ypshenychka seems to be duplicate of #743

[2018-03-07 14:29] 0crat commented on #743
The job [#743](https://github.com/zerocracy/farm/issues/743) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/661452218). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-07 14:29] 0crat commented on #743
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-07 14:29] 0crat commented on #743
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-07 14:30] yegor256 commented on #745
@amihaiemil `make_payment.groovy` is where we send out all payments. As you see, there is a try/catch block, which either sends the money to the `Payroll` or adds them to the `Debts`. Of course, if something happens in the middle, we may miss the payment. What would you suggest?

[2018-03-07 14:44] amihaiemil commented on #745
@yegor256 first, I would implement make_payment in java. I am not sure, but those groovy scripts seem hard to test (as we've seen, that BundlesTest is not brilliant), log and debug.

So, proper Java objects, decorated as follows:

[code]

And anyway, the logic of make_payment.groovy, as you explained it now, seems too simplistic -- what about the flow where the payment is too little (< $20) and ha

[2018-03-07 15:09] t-izbassar opened #746 "Can't run 0crat locally"
If I try to run `Main` locally it will immediately fail as I cannot connect to relevant external systems. But sometimes I need to run it locally to see UI changes (I have #402 ui related issue), so I cannot be sure, that my changes are looks as they supposed to look. And also I can simply lack some necessary roles, cause I have only `DEV` role in the projects, so ability to run instance in my dev

[2018-03-07 15:09] 0crat commented on #746
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-07 15:13] t-izbassar opened #747 "Groovy scripts are resources, which is not convinient"
Our groovy scripts are just that scripts with `exec` method. However in order to use them we have to do reflection access and distinction between scripts is only the name of file. This leads to testing issues and also maintainability problems as if we want to add additional objects to `exec` it will affect all scripts.

I propose to move groovy to the `src/main/groovy` and use appropriate maven pl

[2018-03-07 15:13] 0crat commented on #747
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-07 16:00] yegor256 commented on #743
@ypshenychka I believe it's fixed in a28e3b9e166813612afba4f5b7d767a9d9e629b2 Please, try again

[2018-03-07 16:03] ypshenychka commented on #229
@0crat quality acceptable

[2018-03-07 16:03] yegor256 commented on #745
@amihaiemil I think it's pretty solid and stable now. No matter what happens inside `Payroll` will end up in `Debts`. Then, we will pay it out anyway. I don't see any major issues now. Let's close.

[2018-03-07 16:03] #745 closed

[2018-03-07 16:03] 0crat commented on #229
Order was finished, quality is "acceptable": +30 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-07 16:03] 0crat commented on #229
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-07 16:09] yegor256 opened #748 "try to pay debts only once a day"
Count the amount of attempts to repay the debt and retry only once a day.

[2018-03-07 16:09] ypshenychka commented on #743
@yegor256 Looks like it's working now: https://github.com/zerocracy/farm/issues/229

[2018-03-07 16:15] ypshenychka commented on #743
@yegor256 oops. [Here](https://github.com/zerocracy/farm/pull/719#issuecomment-371189949) 0crat said that qa review is not needed in this job

[2018-03-07 16:18] 0crat commented on #745
The job is not in WBS, can't close

[2018-03-07 16:24] yegor256 commented on #743
@ypshenychka that's because of the transition from an old system of reviews to a new one. Some of them may be "not required". Please, record them and let me know in a few days what is the full list of them.

[2018-03-07 16:53] g4s8 opened #749 "Todo puzzles are not profitable for developers and for project"
In some situations developer needs to submit issues while doing a job: it may be uncompleted task, or research task, or broken test with todo to fix it. It may be achieved by `todo` pdd-puzzles in code or developer can do in manually on Github. It takes about same time, but in first case performer gets nothing and todo task will be submitted only after code-review, where the reviewer and architect

[2018-03-07 16:53] 0crat commented on #749
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-07 17:07] ypshenychka commented on #220
@0crat quality acceptable

[2018-03-07 17:07] 0crat commented on #220
@ypshenychka Thanks, but `QA` review is not required in this job

[2018-03-07 17:13] #748 closed

[2018-03-07 17:28] yegor256 commented on #749
@g4s8 but they are different things. Puzzles are the troubles _you_ make in the code, if you are the author of the changes. While bugs are the troubles _we_ have in the code already. That's why they are paid differently. You can't create bugs for something is not yet present in the code base. You _have_ to use puzzles for that. See the difference?

[2018-03-07 17:28] 0crat commented on #748
The job is not in WBS, can't close

[2018-03-07 17:34] yegor256 commented on #747
@t-izbassar there were there initially, but I moved them: 86165b4dca3c7767ce174eb033816cb5071152ca I don't remember why, though. Maybe it's time to move them back :)

[2018-03-07 17:35] g4s8 commented on #749
@yegor256 I see. But can I call not implemented part of the feature as a bug and post it on Github? For instance if I create a schema in datum repo and it was merged I can create a todo puzzle to continue in farm repo or post it as a bug.

[2018-03-07 17:35] 0crat commented on #747
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-07 17:39] yegor256 commented on #749
@g4s8 it depends on the situation. If something is _broken_ in farm, you post a bug. If there is nothing yet to be broken, since the feature is not yet implemented, your "bug" won't be accepted. A bug always means that something is broken in master branch.

[2018-03-07 17:41] yegor256 commented on #735
@amihaiemil the purpose of `ReIfAddressed` is to accept _all_ events and allow only those that are addressed to Zerocrat to go through. You removed that functionality in #720 and neither the code reviewer no me didn't pay attention to it. Our fault. Fixed already.

[2018-03-07 17:44] g4s8 commented on #749
@yegor256 ok, see the diference, thanks.

[2018-03-07 17:44] #749 closed

[2018-03-07 18:00] 0crat commented on #749
The job is not in WBS, can't close

[2018-03-07 18:06] 0crat commented on #746
The job [#746](https://github.com/zerocracy/farm/issues/746) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/661806049). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-07 18:07] 0crat commented on #746
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-07 18:07] 0crat commented on #746
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-07 18:09] g4s8 commented on #486
@rexim it was implemented in #303 but disabled then in https://github.com/zerocracy/datum/issues/314 because it brake `templates.xsl`. Now new ticket to fix it in scope: https://github.com/zerocracy/datum/issues/315, so paragraph links will be enabled back after fix. So can we close this issue?

[2018-03-07 18:12] #486 closed

[2018-03-07 18:18] g4s8 opened #750 "0crat didn't remove job from WBS after QA verdict"
0crat asked me to review this job https://github.com/zerocracy/farm/pull/672 then asked for QA verdict, but after `quality acceptable` https://github.com/zerocracy/farm/pull/672#issuecomment-371210167 it answered:

so this job still in WBS and in my agenda.

[2018-03-07 18:18] 0crat commented on #750
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-07 18:27] 0crat commented on #486
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-07 18:27] 0crat commented on #486
The job [#486](https://github.com/zerocracy/farm/issues/486) is now out of scope

[2018-03-07 18:28] yegor256 opened #751 "footprint to text/xml/json"
Let's make it possible to download footprint in text format.

[2018-03-07 18:29] 0crat commented on #751
The job [#751](https://github.com/zerocracy/farm/issues/751) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/661829611). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-07 18:29] 0crat commented on #751
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-07 18:29] 0crat commented on #751
@yegor256 @yegor256[/z](https://www.0crat.com/u/yegor256) resigned from [#751](https://github.com/zerocracy/farm/issues/751), since the job is not in scope anymore

[2018-03-07 18:29] 0crat commented on #751
@yegor256 The job [#751](https://github.com/zerocracy/farm/issues/751) is now out of scope

[2018-03-07 18:29] 0crat commented on #751
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-07 18:29] 0crat commented on #751
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-07 18:32] 0crat commented on #576
The job [#576](https://github.com/zerocracy/farm/issues/576) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/661833751). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-07 18:57] yegor256 commented on #750
@g4s8 it's a duplicate of #742, fixed already

[2018-03-07 18:57] #750 closed

[2018-03-07 19:00] 0crat commented on #589
The job [#589](https://github.com/zerocracy/farm/issues/589) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/661861497). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-07 19:06] g4s8 commented on #589
@0crat refuse (don't have windows)

[2018-03-07 19:06] 0crat commented on #589
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#589](https://github.com/zerocracy/farm/issues/589), please stop working. Reason for job resignation: Order was cancelled

[2018-03-07 19:07] 0crat commented on #589
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-07 19:09] 0crat commented on #609
The job [#609](https://github.com/zerocracy/farm/issues/609) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/661911739). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-07 19:12] 0crat commented on #750
The job is not in WBS, can't close

[2018-03-07 19:13] g4s8 commented on #422
@0crat status

[2018-03-07 19:13] 0crat commented on #422
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#422](https://github.com/zerocracy/farm/issues/422) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0) for [10days](http://www.zerocracy.com/policy.html#8)
  * There is no monetary

[2018-03-07 19:21] amihaiemil opened #754 "IllegalStateException after bootstrap"
I just tried to boostrap a project in a pricate slack channel.

I said: ``0crat bootstrap amihaiemil/docker-java-api``, it responded with "I'm ready to manage the project ...",  but right after that it srnt a second message with an exception:

![screenshot_20180307-211515](https://user-images.githubusercontent.com/6305156/37113181-48ec6318-224d-11e8-95d8-69b14772a2f7.png)

Otherwise, it seemed to

[2018-03-07 19:21] 0crat commented on #754
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-07 19:38] 0crat commented on #415
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#415](https://github.com/zerocracy/farm/issues/415), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-03-07 19:38] 0crat commented on #415
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @caarlos0[/z](https://www.0crat.com/u/caarlos0)

[2018-03-07 19:48] yegor256 commented on #363
@t-izbassar here it is:
[footprint.txt](https://github.com/zerocracy/farm/files/1790649/footprint.txt)

You see what was the problem. Zerocrat wasn't able to post anything here, since there were too many comment from him already :(

[2018-03-07 19:50] yegor256 commented on #754
@amihaiemil that's because your channel name is "zc", which is too short.

[2018-03-07 19:51] 0crat commented on #754
Job [#754](https://github.com/zerocracy/farm/issues/754) is now in scope, role is `DEV`

[2018-03-07 19:51] 0crat commented on #754
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-07 20:04] t-izbassar opened #755 "Too many comments by 0crat"
As pointed out [here](https://github.com/zerocracy/farm/issues/363#issuecomment-371261858) there is a problem with having too many comments by 0crat in the ticket.

I propose to squash or simply delete the old comments (for example about assignments of previous performers and reassignments about them) - this information is not so much relevant to the ticket itself and also it can be received from

[2018-03-07 20:04] 0crat commented on #755
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-07 20:04] t-izbassar commented on #363
@yegor256 yes. However, I was actually asking about log from issue from sentry, that was reported in this ticket).

I created #755 to address the issue with too many comments.

[2018-03-07 20:05] 0crat commented on #422
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#422](https://github.com/zerocracy/farm/issues/422), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-03-07 20:05] 0crat commented on #422
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @caarlos0[/z](https://www.0crat.com/u/caarlos0)

[2018-03-07 20:35] amihaiemil commented on #220
@0crat status

[2018-03-07 20:36] 0crat commented on #220
@amihaiemil This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#220](https://github.com/zerocracy/farm/issues/220) is [in scope](http://www.zerocracy.com/policy.html#14) for 7mon
  * The role is `DEV`
  * The job is assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) for [8days](http://www.zerocracy.com/policy.html#8)
  * There is a

[2018-03-07 20:36] ypshenychka commented on #486
@g4s8 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details to the registered [impediment](https://github.com/zerocracy/farm/issues/486#issuecomment-368877247).

[2018-03-07 20:37] amihaiemil commented on #220
@ypshenychka can you try again and open an Issue if it doesn't work? :D

[2018-03-07 20:38] 0crat commented on #423
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#423](https://github.com/zerocracy/farm/issues/423), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-03-07 20:38] 0crat commented on #423
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @caarlos0[/z](https://www.0crat.com/u/caarlos0)

[2018-03-07 20:40] g4s8 commented on #486
@ypshenychka fixed, please look again

[2018-03-07 20:40] 0crat commented on #487
The job [#487](https://github.com/zerocracy/farm/issues/487) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/662041318). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-07 20:40] ypshenychka commented on #220
@amihaiemil Please see @yegor256 [comment](https://github.com/zerocracy/farm/issues/743#issuecomment-371194735).

[2018-03-07 20:41] amihaiemil opened #756 "Document more details about claims"
In #489 it is implied that a ``claim`` should have the element ``cause`` which should hold the id of the claim which created it, its parent.

However, it is not clear if that is really the case and if so, if ``cause`` should hold the parent's id or something else. Besides, it is not even clear how a claim could create another one. This mechanism and the technical aspects should be documented, sinc

[2018-03-07 20:41] 0crat commented on #756
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-07 20:41] ypshenychka commented on #486
@g4s8 Thank you.

[2018-03-07 20:41] ypshenychka commented on #486
@0crat quality acceptable

[2018-03-07 20:42] amihaiemil commented on #220
@ypshenychka thanks. Are you recording them or should I also keep track? :)

[2018-03-07 20:43] ypshenychka commented on #220
@amihaiemil double control is always better :)

[2018-03-07 20:43] 0crat commented on #486
Order was finished, quality is "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-07 20:43] 0crat commented on #486
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-07 20:47] amihaiemil opened #757 "Don't punish ARC for assignment if there are no available DEVs"
I noticed 0crat may take a rather long time to assign a performer to a task. For instance [here](https://github.com/zerocracy/farm/issues/487#issuecomment-371277153) it took 10 days to assign a new DEV after the original one had refused.

I assume this situation happens when all the DEVs are busy (have max number of tasks), are on vacation or whatever other reason.

In this situation, when electio

[2018-03-07 20:47] 0crat commented on #757
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-07 21:31] amihaiemil opened #758 "Split qulice and codenarc profiles"
So far, codenarc check for the groovy part is embedded into qulice. I think these should be split because usually there is work either in the Java part or in the groovy part. Running codenarc uselessly prolongs the build, slows down development and also, for some reason, it is very demanding of the CPU. Furthermore, it doesn't seem to work on Windows, the build fails there because of codenarc.

I

[2018-03-07 21:31] 0crat commented on #758
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 03:11] carlosmiranda commented on #535
@yegor256 good to merge

[2018-03-08 03:14] carlosmiranda opened #759 "0crat complains that merged PR "not closed by its creator""
In PR #727, PR has been merged. After merge, it replied with the following message:

![image](https://user-images.githubusercontent.com/1917892/37131091-c554910e-22c1-11e8-9d29-4ad1b194fe66.png)

As a result the job is still in scope and the reviewer (me :)) remained unpaid. `@0crat` should always finish order on merged PRs.

[2018-03-08 03:14] 0crat commented on #759
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 05:23] #751 closed

[2018-03-08 05:38] 0crat commented on #751
The job is not in WBS, can't close

[2018-03-08 06:19] amihaiemil commented on #489
@yegor256 PR #704 is for this

[2018-03-08 06:50] 0crat commented on #756
The job [#756](https://github.com/zerocracy/farm/issues/756) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/670665892). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-08 06:51] 0crat commented on #756
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-08 06:51] 0crat commented on #756
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-08 07:18] yegor256 commented on #756
@amihaiemil see 824c097 Good enough?

[2018-03-08 07:28] yegor256 commented on #743
@ypshenychka this won't happen again

[2018-03-08 07:28] #743 closed

[2018-03-08 07:29] yegor256 commented on #755
@t-izbassar maybe this will help first: #729 We will combine notifications if they are coming from the same "cause".

[2018-03-08 07:35] 0pdd opened #760 "close_job.groovy:41-43: Every time we close a ticket in..."
The puzzle `536-488b0c6c` from #536 has to be resolved:

https://github.com/zerocracy/farm/blob/3cf0f49c11ea0c0df5ebec6eb81bbbabbe5010d8/src/main/resources/com/zerocracy/stk/pm/in/orders/close_job.groovy#L41-L43

The puzzle was created by g4s8 on 07-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when

[2018-03-08 07:35] 0pdd commented on #536
@yegor256 the puzzle [760](https://github.com/zerocracy/farm/issues/760) is still not solved

[2018-03-08 07:35] 0crat commented on #760
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 07:35] 0crat commented on #760
Job [#760](https://github.com/zerocracy/farm/issues/760) is now in scope, role is `DEV`

[2018-03-08 07:39] yegor256 commented on #731
@ypshenychka I belive it's fixed already, correct?

[2018-03-08 07:41] t-izbassar commented on #755
@yegor256 I would like to wait, until #729 will be implemented as I don’t 100% like an idea of modifying history in the ticket. Our goal is as far as I understand to reduce verbosity with preserving transparency.

However, this is an infrastructure management messages. They are not so much important for the ticket itself - so we can come up with some compromises.

I’m okay with closing this one or

[2018-03-08 07:43] 0crat commented on #743
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @yegor256[/z](https://www.0crat.com/u/yegor256), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-08 07:44] 0crat commented on #743
The job [#743](https://github.com/zerocracy/farm/issues/743) is now out of scope

[2018-03-08 07:48] yegor256 commented on #755
@t-izbassar let's wait

[2018-03-08 07:53] 0crat commented on #759
The job [#759](https://github.com/zerocracy/farm/issues/759) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/670769476). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-08 07:53] 0pdd opened #761 "TkClaimTest.java:39-41: Write more test cases for a..."
The puzzle `489-3f92a3b1` from #489 has to be resolved:

https://github.com/zerocracy/farm/blob/40954edd2a528ae70b121238d8035d4fb3e844c4/src/test/java/com/zerocracy/tk/project/TkClaimTest.java#L39-L41

The puzzle was created by amihaiemil on 07-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the

[2018-03-08 07:53] 0crat commented on #759
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-03-08 07:53] 0crat commented on #761
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 07:53] 0crat commented on #759
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-08 07:53] 0pdd opened #762 "TkClaim.java:54-57: Change claim.xsl in such a way that..."
The puzzle `489-f307c752` from #489 has to be resolved:

https://github.com/zerocracy/farm/blob/40954edd2a528ae70b121238d8035d4fb3e844c4/src/main/java/com/zerocracy/tk/project/TkClaim.java#L54-L57

The puzzle was created by amihaiemil on 02-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-03-08 07:53] 0pdd commented on #489
@yegor256 the puzzle [761](https://github.com/zerocracy/farm/issues/761) is still not solved

[2018-03-08 07:53] 0pdd commented on #489
@yegor256 the puzzle [762](https://github.com/zerocracy/farm/issues/762) is still not solved

[2018-03-08 07:54] 0crat commented on #762
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 07:54] 0crat commented on #761
Job [#761](https://github.com/zerocracy/farm/issues/761) is now in scope, role is `DEV`

[2018-03-08 07:54] 0crat commented on #762
Job [#762](https://github.com/zerocracy/farm/issues/762) is now in scope, role is `DEV`

[2018-03-08 07:55] carlosmiranda commented on #759
@yegor256 this, too: #752

[2018-03-08 08:04] yegor256 commented on #759
@carlosmiranda I belive it's fixed, thanks

[2018-03-08 08:04] #759 closed

[2018-03-08 08:12] yegor256 commented on #759
@0crat status

[2018-03-08 08:12] 0crat commented on #759
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#759](https://github.com/zerocracy/farm/issues/759) is [in scope](http://www.zerocracy.com/policy.html#14) for 20min
  * The role is `DEV`
  * The job is assigned to @yegor256[/z](https://www.0crat.com/u/yegor256) for [20min](http://www.zerocracy.com/policy.html#8)
  * There is no mone

[2018-03-08 08:20] 0crat commented on #759
Order was finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-08 08:20] 0crat commented on #759
The job [#759](https://github.com/zerocracy/farm/issues/759) is now out of scope

[2018-03-08 08:29] amihaiemil commented on #756
@yegor256 I see now, thanks. params is declared in [claims.xsd](https://github.com/zerocracy/datum/blob/master/xsd/pm/claims.xsd#L47)

Then, having in regards that ``cause`` is not an xml node in itself, is the following filter correct, in TkChain (PR was just merged a few minutes ago): https://github.com/zerocracy/farm/blob/40954edd2a528ae70b121238d8035d4fb3e844c4/src/main/java/com/zerocracy/tk/p

[2018-03-08 08:32] yegor256 commented on #756
@amihaiemil that's correct, all params will be at the same level as `cid` and `project`, see `Footprint#open()` method.

[2018-03-08 08:33] amihaiemil commented on #756
@yegor256 thanks. Then I think we can close this :)

[2018-03-08 08:33] #756 closed

[2018-03-08 08:33] 0crat commented on #756
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-03-08 08:37] amihaiemil commented on #489
@yegor256 this can be closed now

[2018-03-08 08:37] ypshenychka commented on #731
@yegor256 I can't chek this now anymore.

[2018-03-08 08:40] ypshenychka commented on #743
@yegor256 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

No PR was created in scope of this issue.
Please confirm that you'll try to follow the process next time.

[2018-03-08 08:40] yegor256 commented on #489
@amihaiemil thanks!

[2018-03-08 08:40] #489 closed

[2018-03-08 08:48] yegor256 commented on #743
@ypshenychka correct, I confirm

[2018-03-08 08:49] ypshenychka commented on #743
@yegor256 Thank you!

[2018-03-08 08:49] ypshenychka commented on #743
@0crat quality acceptable

[2018-03-08 08:49] 0crat commented on #756
Order was finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-08 08:49] 0crat commented on #756
The job [#756](https://github.com/zerocracy/farm/issues/756) is now out of scope

[2018-03-08 08:50] 0crat commented on #743
Order was finished, quality is "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-08 08:50] 0crat commented on #743
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-08 08:55] amihaiemil opened #763 "Building artificial reputation"
One can build artificial, fake, reputation very easily as follows:

1) They register their OSS project for free (receiveing ARC and PO roles there)
2) Start opening Issues
3) Put them in scope by using ``in``
4) 0crat grants 15 points

See [here](https://github.com/amihaiemil/docker-java-api/issues/33).

We need a mechanism to prevent this from happening. The first thought that comes to mind is: a

[2018-03-08 08:56] 0crat commented on #763
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 08:56] 0crat commented on #489
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-08 08:56] 0crat commented on #489
The job [#489](https://github.com/zerocracy/farm/issues/489) is now out of scope

[2018-03-08 08:57] amihaiemil commented on #489
@0crat status

[2018-03-08 08:57] 0crat commented on #489
@amihaiemil This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#489](https://github.com/zerocracy/farm/issues/489) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%23489%27%7D) (restricted area)

[2018-03-08 08:58] 0crat commented on #415
The job [#415](https://github.com/zerocracy/farm/issues/415) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/670858293). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-08 08:59] yegor256 commented on #756
@amihaiemil you made me think about potential clashes, see: 5dce061be419fffc7b17ecc77238b0d997d14667

[2018-03-08 08:59] amihaiemil commented on #489
@yegor256 I think you should put this back in scope, the QA was assigned for final review, but then 0crat took it out of scope for that reason.

[2018-03-08 09:06] amihaiemil commented on #756
@yegor256 By clash, you mean the following possible claim:

[code]

Notic ethere is element ``<type>`` and also ``<param name="type">`` -- that would be a problem, indeed. Maybe, when turning claims into mongo documents and putting them all at the same level, we should add some prefix to param names. Say the above would be ``param-type`` in the Document.

[2018-03-08 09:06] g4s8 commented on #391
@yegor256 PR #727 was merged, can we close?

[2018-03-08 09:09] yegor256 commented on #489
@0crat status

[2018-03-08 09:10] 0crat commented on #489
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#489](https://github.com/zerocracy/farm/issues/489) is not in scope
  * The job is waiting `QA` review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%23489%27%7D) (restri

[2018-03-08 09:15] yegor256 commented on #489
@amihaiemil that's how it should be now. Job goes out of scope and then QA reviews it. Isn't it what you guys were asking for? :) https://github.com/zerocracy/farm/issues/587

[2018-03-08 09:28] yegor256 commented on #763
@amihaiemil I think that `bootstrap` command should be available only to those who has 1024+ reputation. And it should cost, say, 128 points. This is the first step. It won't solve the problem you are describing here, but will help us get rid of random strangers.

[2018-03-08 09:30] g4s8 commented on #546
@yegor256 could you please clarify, who is the mentor of a project? Does he/she has some roles, or just any person from `people.xml`? Can he/she agree or disagree to be a mentor, or I can put any name without permission to `bootstrap`command? How to upgrade current projects from `catalog.xml`?

[2018-03-08 09:30] amihaiemil commented on #489
@yegor256 I see, makes sense. I thought there will also be no payment if the task is out of scope :)

[2018-03-08 09:31] 0crat commented on #763
The job [#763](https://github.com/zerocracy/farm/issues/763) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/670930415). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-08 09:31] 0crat commented on #763
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-08 09:34] amihaiemil commented on #763
@yegor256 yes, sounds good, it's an improvement

[2018-03-08 09:51] 0crat commented on #756
The job is not in WBS, won't close the order

[2018-03-08 10:01] ypshenychka commented on #489
@0crat quality good

[2018-03-08 10:05] 0crat commented on #489
Order was finished, quality is "good": +30 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-08 10:05] 0crat commented on #489
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-08 10:29] yegor256 commented on #546
@g4s8 the person who sends `bootstrap` command becomes an adviser. Let's call that person an "adviser", to avoid confusion. We put this into `catalog.xml`:

[code]

For current projects let's put `0crat` there, which will mean that there are no advisers and no fee should be paid to anyone.

[2018-03-08 10:30] yegor256 commented on #763
@amihaiemil made fixes in 727e25c0c85a181aa480922269354f7199f9863a

[2018-03-08 10:31] yegor256 commented on #756
@amihaiemil yes, exactly that type of "clash". They won't happen, since I added validation: 5dce061

[2018-03-08 11:20] 0pdd opened #765 "TkDump.java:43-45: Should use HeapDump to get contents..."
The puzzle `400-9e938816` from #400 has to be resolved:

https://github.com/zerocracy/farm/blob/380d151f0800b429635f2b2cadddd6ff8f94cc75/src/main/java/com/zerocracy/tk/TkDump.java#L43-L45

The puzzle was created by Izbassar Tolegen on 06-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2018-03-08 11:20] 0crat commented on #765
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 11:21] 0pdd opened #766 "HeapDump.java:32-35: Use this class, to periodically..."
The puzzle `400-fba0df9b` from #400 has to be resolved:

https://github.com/zerocracy/farm/blob/380d151f0800b429635f2b2cadddd6ff8f94cc75/src/main/java/com/zerocracy/entry/HeapDump.java#L32-L35

The puzzle was created by Izbassar Tolegen on 06-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pr

[2018-03-08 11:21] 0crat commented on #766
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 11:21] 0pdd opened #767 "HeapDump.java:80-84: Should return the latest version of..."
The puzzle `400-cf11083e` from #400 has to be resolved:

https://github.com/zerocracy/farm/blob/380d151f0800b429635f2b2cadddd6ff8f94cc75/src/main/java/com/zerocracy/entry/HeapDump.java#L80-L84

The puzzle was created by Izbassar Tolegen on 06-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pr

[2018-03-08 11:21] 0crat commented on #767
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 11:21] 0crat commented on #765
Job [#765](https://github.com/zerocracy/farm/issues/765) is now in scope, role is `DEV`

[2018-03-08 11:21] 0pdd opened #768 "HeapDump.java:94-98: Should save heap dump to S3 bucket..."
The puzzle `400-1ca94fd4` from #400 has to be resolved:

https://github.com/zerocracy/farm/blob/380d151f0800b429635f2b2cadddd6ff8f94cc75/src/main/java/com/zerocracy/entry/HeapDump.java#L94-L98

The puzzle was created by Izbassar Tolegen on 06-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pr

[2018-03-08 11:21] 0pdd commented on #400
@g4s8 the puzzle [#765](https://github.com/zerocracy/farm/issues/765) is still not solved.

[2018-03-08 11:21] 0pdd commented on #400
@g4s8 the puzzle [#766](https://github.com/zerocracy/farm/issues/766) is still not solved.

[2018-03-08 11:21] 0pdd commented on #400
@g4s8 the puzzle [#767](https://github.com/zerocracy/farm/issues/767) is still not solved.

[2018-03-08 11:21] 0pdd commented on #400
@g4s8 the puzzle [#768](https://github.com/zerocracy/farm/issues/768) is still not solved.

[2018-03-08 11:21] 0crat commented on #768
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 11:21] 0crat commented on #766
Job [#766](https://github.com/zerocracy/farm/issues/766) is now in scope, role is `DEV`

[2018-03-08 11:21] 0crat commented on #767
Job [#767](https://github.com/zerocracy/farm/issues/767) is now in scope, role is `DEV`

[2018-03-08 11:21] 0crat commented on #768
Job [#768](https://github.com/zerocracy/farm/issues/768) is now in scope, role is `DEV`

[2018-03-08 11:27] flslkxtc opened #769 "Internal application error when identifying via Yoti"
I'm trying to identify myself via Yoti app.
It successfully scans QR code and sends all required details, but this data is still absent at https://www.0crat.com/identify page and i have this error at https://www.0crat.com/yoti?token=*** page

[code]

[2018-03-08 11:27] 0crat commented on #769
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 11:38] 0pdd opened #770 "_before.groovy:23-27: Let's implement a test for..."
The puzzle `510-7cdf5e0a` from #510 has to be resolved:

https://github.com/zerocracy/farm/blob/e9f31e130a95408c85215719190ab575e42f238b/src/test/resources/com/zerocracy/bundles/small_pr_skip_wbs/_before.groovy#L23-L27

The puzzle was created by g4s8 on 06-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "don

[2018-03-08 11:38] 0pdd commented on #510
@yegor256 the puzzle [#770](https://github.com/zerocracy/farm/issues/770) is still not solved.

[2018-03-08 11:38] 0crat commented on #770
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 11:39] 0crat commented on #770
Job [#770](https://github.com/zerocracy/farm/issues/770) is now in scope, role is `DEV`

[2018-03-08 11:41] t-izbassar commented on #400
@g4s8 can we close this one? The task was decomposed and have more granular puzzles to be resolved.

[2018-03-08 12:51] 0crat commented on #422
The job [#422](https://github.com/zerocracy/farm/issues/422) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/671253338). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-08 12:54] g4s8 commented on #510
@yegor256 PR #740 was merged, can we close?

[2018-03-08 12:57] g4s8 commented on #400
@t-izbassar yes, thanks

[2018-03-08 12:57] #400 closed

[2018-03-08 13:13] 0crat commented on #400
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-08 13:13] 0crat commented on #400
The job [#400](https://github.com/zerocracy/farm/issues/400) is now out of scope

[2018-03-08 13:16] 0crat commented on #423
The job [#423](https://github.com/zerocracy/farm/issues/423) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/671319950). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-08 13:20] g4s8 commented on #386
@0crat status

[2018-03-08 13:22] 0crat commented on #386
@g4s8[/z](https://www.0crat.com/u/g4s8) I see that you unassigned this issue; the order is still assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2018-03-08 13:22] 0crat commented on #386
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#386](https://github.com/zerocracy/farm/issues/386) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) for [2mon](http://www.zerocracy.com/policy.html#8)
  * There is a monetar

[2018-03-08 13:25] g4s8 commented on #386
@yegor256 looks like @fabriciofx has stopped doing this job, but didn't remove an impediment, maybe you can reassign it?

[2018-03-08 14:28] ypshenychka commented on #400
@0crat quality good

[2018-03-08 14:30] 0crat commented on #400
Order was finished, quality is "good": +30 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-08 14:30] 0crat commented on #400
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-08 16:03] yegor256 commented on #510
@g4s8 thanks

[2018-03-08 16:03] #510 closed

[2018-03-08 16:07] 0crat commented on #769
The job [#769](https://github.com/zerocracy/farm/issues/769) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/671613692). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-08 16:08] 0crat commented on #769
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc)

[2018-03-08 16:08] 0crat commented on #769
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-08 16:13] amihaiemil commented on #329
@yegor256 @g4s8 I think this should be taken out of scope and closed (w/o punishing anybody), since it's rather obscure, the suggestion doesn't make much improvements and bugs with SlackRadar should be found in [this task](https://github.com/zerocracy/farm/issues/687) and its future puzzle tree. What do you think?

[2018-03-08 16:19] 0crat commented on #510
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-08 16:20] 0crat commented on #510
The job [#510](https://github.com/zerocracy/farm/issues/510) is now out of scope

[2018-03-08 16:20] yegor256 commented on #386
@0crat refuse

[2018-03-08 16:20] 0crat commented on #386
@yegor256 The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#386](https://github.com/zerocracy/farm/issues/386), please stop working. Reason for job resignation: Order was cancelled

[2018-03-08 16:24] 0crat commented on #386
The job [#386](https://github.com/zerocracy/farm/issues/386) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/671632076). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-08 16:32] yegor256 commented on #769
@flslkxtc I believe it's fixed, please try again

[2018-03-08 16:34] flslkxtc commented on #769
@yegor256 yes, it worked correctly for me right now

[2018-03-08 16:37] yegor256 commented on #769
@flslkxtc thanks

[2018-03-08 16:37] #769 closed

[2018-03-08 16:53] 0crat commented on #769
Order was finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-08 16:53] 0crat commented on #769
The job [#769](https://github.com/zerocracy/farm/issues/769) is now out of scope

[2018-03-08 17:05] amihaiemil opened #772 "Make Claim work with Issue instead of XML"
This is a big refactoring proposal, certainly not to be started now, but we should think about it:

Currently, when a claim is registered (for instance, at the Github radar), the Issue is stripped down and only certain elements are taken from it and eventually turned into XML which ClaimIn/ClaimOut are working with all over the project.

This is a very sensitive design -- basically, everytime we w

[2018-03-08 17:05] 0crat commented on #772
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 17:13] ypshenychka commented on #510
@0crat quality good

[2018-03-08 17:14] 0crat commented on #510
Order was finished, quality is "good": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-08 17:14] 0crat commented on #510
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-08 17:18] amihaiemil opened #773 "Refactor/redesign for scalability"
As discussed bellow, we need to think about scalability and do some progress in that direction. We should start with ``RvFarm/DefaultFlash``

[2018-03-08 17:19] 0crat commented on #773
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 17:47] yegor256 opened #774 "recharge the customer"
Let's do it right

[2018-03-08 17:48] 0crat commented on #774
The job [#774](https://github.com/zerocracy/farm/issues/774) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/671749043). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-08 17:49] 0crat commented on #774
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-08 17:49] 0crat commented on #774
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-08 17:49] 0crat commented on #774
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-08 18:51] g4s8 commented on #501
@skapral please look at team page https://www.0crat.com/team, I've added legend for reputation colors in #732 PR. Can we close then?

[2018-03-08 19:48] amihaiemil commented on #754
@yegor256 I got an IllegalStateException when I tried to publish this project:

![publish_on_ise](https://user-images.githubusercontent.com/6305156/37172742-598b9b26-231a-11e8-8841-6a73402b84dd.png)

Do you think it's related? If so, would it be possible to update that Title manually? If I remove the project and bootstrap it again, I will now be charged 256 points :(

[2018-03-08 19:55] yegor256 commented on #773
@amihaiemil why would we deploy it to multiple nodes? I'm kidding. The entire application is not ready yet for multi-node deployment. We have no across-nodes synchronization or any other strategy for multi-node work. I agree that we should start thinking in this direction, but radars is not the top priority thing. `RvFarm`/`DefaultFlash` is where the key problem is.

If you rename the ticket and u

[2018-03-08 19:58] yegor256 commented on #772
@amihaiemil we can't "encapsulate" anything in a claim, since it's a plain piece of XML, stored in `claims.xml`. It's not an object, it's pure data. Radar creates a claim and then someone else (on another machine/node/servrer) picks it up and processes. So, they are not object, they are pure data. `ClaimIn` is just a helper to read the data.

Also, you don't need to pass the title of the GitHub ti

[2018-03-08 19:59] yegor256 commented on #754
@amihaiemil you can change the title without bootstrap. Just say `title`

[2018-03-08 19:59] yegor256 commented on #754
@amihaiemil the problem is not related, submit a new ticket pls

[2018-03-08 20:01] amihaiemil opened #775 "IllegalStateException on publish"
I tried to publish a newly boostrapped project and got IllegalStateException:

![publish_on_ise](https://user-images.githubusercontent.com/6305156/37172742-598b9b26-231a-11e8-8841-6a73402b84dd.png)

[2018-03-08 20:01] 0crat commented on #775
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 20:02] yegor256 commented on #757
@amihaiemil but how is guilty if the project doesn't have enough DEVs available?) The ARC is guilty and he/she has to be punished.

[2018-03-08 20:02] amihaiemil commented on #773
@yegor256 done :) But I still think the radars should be decoupled, in the end.

[2018-03-08 20:04] amihaiemil commented on #772
@yegor256 Yes, I figured I could read from Github wherever I needed, but I thought of efficiency, why make a dozen calls on a flow when you can make only one, in the beginning :)

But I see the idea. I'll open other Issues if I find more concrete and not so big stuff.

[2018-03-08 20:04] #772 closed

[2018-03-08 20:06] amihaiemil commented on #757
@yegor256 actually, I would say that the PO is guilty in that situation. And anyway, in order to always have a "free" programmer, in PDD, you need a hell lot of programmers. Task tree goes to 200 tasks in a few days at the beginning of the project, what do you do with them? You only got 15 programmers, all with 5-8 task slots.

I think you will never be able to have enough programmers to cover the

[2018-03-08 20:18] amihaiemil commented on #512
@yegor256 Can I somehow get access to the error reports on sentry?

[2018-03-08 20:20] 0crat commented on #772
The job is not in WBS, won't close the order

[2018-03-08 20:56] 0crat commented on #613
The job [#613](https://github.com/zerocracy/farm/issues/613) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/672057557). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-08 21:24] skapral commented on #501
@g4s8: Nice, thanks.

Sure.

[2018-03-08 21:24] #501 closed

[2018-03-08 21:39] 0crat commented on #501
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-08 21:39] 0crat commented on #501
The job [#501](https://github.com/zerocracy/farm/issues/501) is now out of scope

[2018-03-08 21:41] 0crat commented on #558
The job [#558](https://github.com/zerocracy/farm/issues/558) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/672143674). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-08 23:38] jmrobison opened #777 "Initial Slack Integration - check permissions"
The code at this url: https://www.0crat.com/add_to_slack
needs to perform a few checks.
1) Does the slack user have proper permissions to add the Zerocracy app?
2) Does the slack user have permissions to create a guest account and add that user to a channel?

[2018-03-08 23:38] 0crat commented on #777
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 23:40] jmrobison opened #778 "When adding Zerocracy App to a slack channel, it is too thankful"
See below:

zerocracy APP [3:25 PM]
joined #zerocracy by invitation from USERNAME.

zerocracy APP [3:25 PM]
Thanks for inviting me here.
Thanks for inviting me here.
Thanks for inviting me here.
Thanks for inviting me here.
Thanks for inviting me here.
Thanks for inviting me here.
Thanks for inviting me here.
Thanks for inviting me here.
Thanks for inviting me here.
Thanks for inviting me here.
Th

[2018-03-08 23:40] 0crat commented on #778
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-09 01:10] carlosmiranda commented on #741
@yegor256 isn't this supposed to be handled in #556?

[2018-03-09 05:56] yegor256 opened #779 "Slack slash commands are not working"
Let's make sure all Zerocrat commands are available in Slack as slash commands: https://api.slack.com/slash-commands

[2018-03-09 05:56] yegor256 commented on #779
@0crat assign @g4s8

[2018-03-09 05:57] 0crat commented on #779
@yegor256 The job [#779](https://github.com/zerocracy/farm/issues/779) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/680562978). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-09 05:58] 0crat commented on #779
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-09 05:58] 0crat commented on #779
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-09 06:54] ypshenychka commented on #501
@0crat quality good

[2018-03-09 06:56] t-izbassar commented on #402
@0crat waiting for #746 to be resolved.

[2018-03-09 06:57] 0crat commented on #501
Order was finished, quality is "good": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-09 06:57] 0crat commented on #501
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-09 06:57] 0crat commented on #402
@t-izbassar The impediment for [#402](https://github.com/zerocracy/farm/issues/402) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-09 06:58] t-izbassar commented on #438
@0crat waiting for #746 to be resolved.

[2018-03-09 06:58] 0crat commented on #438
@t-izbassar The impediment for [#438](https://github.com/zerocracy/farm/issues/438) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-09 07:33] yegor256 opened #780 "VsReputation"
Let's add it.

[2018-03-09 07:39] #780 closed

[2018-03-09 07:55] 0crat commented on #780
The job is not in WBS, won't close the order

[2018-03-09 07:57] carlosmiranda opened #781 "0crat reassigns after requesting QA"
Right now `@0crat` appears to be reassigning, or resending the assignment notification, after a ticket is closed and QA is requested. Examples:

https://github.com/zerocracy/farm/pull/744#issuecomment-371737294
![image](https://user-images.githubusercontent.com/1917892/37196398-952ad88a-23b1-11e8-99d9-45da2a7c0392.png)

https://github.com/zerocracy/farm/pull/752#issuecomment-371413065
![image](htt

[2018-03-09 07:57] 0crat commented on #781
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-09 08:04] g4s8 commented on #535
@carlosmiranda you are accepting an issue :) Maybe you wanted to accept PR instead? #753 or zerocracy/datum#322

[2018-03-09 08:08] carlosmiranda commented on #535
@g4s8 doh :) All these open windows have the same name! :))

[2018-03-09 08:11] yegor256 commented on #775
@amihaiemil please, try again. There will be another exception, please post it here.

[2018-03-09 08:19] yegor256 commented on #778
@jmrobison it seems that we fixed it today, in https://github.com/zerocracy/datum/issues/163 Thanks for reporting it though, and welcome to Zerocracy! :)

[2018-03-09 08:19] #778 closed

[2018-03-09 08:22] 0crat commented on #781
The job [#781](https://github.com/zerocracy/farm/issues/781) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/680821027). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-09 08:22] 0crat commented on #781
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-03-09 08:22] 0crat commented on #781
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-09 08:22] yegor256 commented on #781
@carlosmiranda fixed in 1dd9735129d1eea667a36e1ed79bf0c0c194caa7

[2018-03-09 08:22] #781 closed

[2018-03-09 08:23] 0crat commented on #773
Job [#773](https://github.com/zerocracy/farm/issues/773) is now in scope, role is `DEV`

[2018-03-09 08:24] amihaiemil commented on #775
@yegor256 Indeed, now it is IAE instead of ISE (and I get the same behaviour if I try to set the title of the project)

![screenshot_20180309-102158](https://user-images.githubusercontent.com/6305156/37197571-f43e3b1a-2383-11e8-8a59-71fe710229d6.png)

[2018-03-09 08:24] 0crat commented on #773
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-09 08:26] carlosmiranda commented on #781
@yegor256 thanks. :)

[2018-03-09 08:38] 0crat commented on #775
The job [#775](https://github.com/zerocracy/farm/issues/775) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/680837485). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-09 08:38] 0crat commented on #775
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-09 08:38] 0crat commented on #775
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-09 08:38] 0crat commented on #781
Order was finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-09 08:38] 0crat commented on #781
The job [#781](https://github.com/zerocracy/farm/issues/781) is now out of scope

[2018-03-09 08:40] yegor256 commented on #775
@amihaiemil I believe it's fixed in 9735415a3e3798b9bdf2b87bcfd31a7fb697e5b3 Try again, pls.

[2018-03-09 08:46] amihaiemil commented on #775
@yegor256 publish now works and I can see it on the board, however, right after it responded "your project is no visible...", it sent me a second message with this exception:

![screenshot_20180309-104405](https://user-images.githubusercontent.com/6305156/37198467-0b92e8b2-2387-11e8-8352-07b138a193d7.png)

[2018-03-09 08:49] #774 closed

[2018-03-09 09:05] 0crat commented on #774
Order was finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-09 09:05] 0crat commented on #774
The job [#774](https://github.com/zerocracy/farm/issues/774) is now out of scope

[2018-03-09 09:27] neonailol commented on #89
@0crat out

[2018-03-09 09:27] neonailol commented on #89
@0crat status

[2018-03-09 09:28] 0crat commented on #89
@neonailol GitHub issue is still open, won't close

[2018-03-09 09:28] 0crat commented on #89
@neonailol This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#89](https://github.com/zerocracy/farm/issues/89) is [in scope](http://www.zerocracy.com/policy.html#14) for 8mon
  * The role is `DEV`
  * The job is assigned to @neonailol[/z](https://www.0crat.com/u/neonailol) for [27days](http://www.zerocracy.com/policy.html#8)
  * There is a mone

[2018-03-09 09:28] 0crat commented on #89
@neonailol This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#89](https://github.com/zerocracy/farm/issues/89) is [in scope](http://www.zerocracy.com/policy.html#14) for 8mon
  * The role is `DEV`
  * The job is assigned to @neonailol[/z](https://www.0crat.com/u/neonailol) for [27days](http://www.zerocracy.com/policy.html#8)
  * There is a mone

[2018-03-09 09:28] neonailol commented on #89
@yegor256 please close this

[2018-03-09 09:28] neonailol commented on #111
@0crat refuse

[2018-03-09 09:29] 0crat commented on #111
@neonailol The user @neonailol[/z](https://www.0crat.com/u/neonailol) resigned from [#111](https://github.com/zerocracy/farm/issues/111), please stop working. Reason for job resignation: Order was cancelled

[2018-03-09 09:29] neonailol commented on #185
@yegor256 please close this

[2018-03-09 09:29] 0crat commented on #111
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-03-09 09:29] neonailol commented on #194
@0crat refuse

[2018-03-09 09:29] 0crat commented on #194
@neonailol The user @neonailol[/z](https://www.0crat.com/u/neonailol) resigned from [#194](https://github.com/zerocracy/farm/issues/194), please stop working. Reason for job resignation: Order was cancelled

[2018-03-09 09:30] 0crat commented on #194
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-03-09 10:40] g4s8 commented on #111
@yegor256 seems to be a duplicate of #386

[2018-03-09 10:52] 0crat commented on #111
The job [#111](https://github.com/zerocracy/farm/issues/111) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/681053638). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-09 11:48] yegor256 commented on #386
@g4s8 thanks

[2018-03-09 11:48] #386 closed

[2018-03-09 12:04] 0crat commented on #386
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-09 12:04] 0crat commented on #386
The job [#386](https://github.com/zerocracy/farm/issues/386) is now out of scope

[2018-03-09 12:10] yegor256 commented on #512
@amihaiemil I think you can... sent you an invite

[2018-03-09 12:40] g4s8 commented on #560
@0crat status

[2018-03-09 12:40] 0crat commented on #560
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#560](https://github.com/zerocracy/farm/issues/560) is [in scope](http://www.zerocracy.com/policy.html#14) for 22days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [3days](http://www.zerocracy.com/policy.html#8)
  * There is a monetary reward

[2018-03-09 12:41] g4s8 commented on #560
@yegor256 please, remove this job from WBS

[2018-03-09 12:53] ypshenychka commented on #386
@0crat quality good

[2018-03-09 12:54] 0crat commented on #386
Order was finished, quality is "good": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-09 12:54] 0crat commented on #386
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-09 13:51] amihaiemil commented on #435
@g4s8 I looked into it. ``FkItem`` does have the ``delete`` boolean attribute according to which the file is deleted or not in ``close()``.

However, this attribute is initialized in the ctor and there is also a ctor which sets it to ``false``:

https://github.com/zerocracy/farm/blob/91513b6161574d9c4cda293fa6123afa6d3b736f/src/main/java/com/zerocracy/farm/fake/FkItem.java#L64

Now, modifying that

[2018-03-09 14:26] yegor256 commented on #777
@jmrobison you've seen some errors because you didn't have those permissions, right?

[2018-03-09 14:31] yegor256 commented on #329
@amihaiemil @0crat I agree, I would close it with "bad" quality mark.

[2018-03-09 14:31] 0crat commented on #329
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/329#issuecomment-371827824); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-03-09 14:40] yegor256 commented on #111
@0crat refuse

[2018-03-09 14:40] yegor256 commented on #111
@0crat out

[2018-03-09 14:40] 0crat commented on #111
@yegor256 The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#111](https://github.com/zerocracy/farm/issues/111), please stop working. Reason for job resignation: Order was cancelled

[2018-03-09 14:41] #111 closed

[2018-03-09 14:41] 0crat commented on #111
@yegor256 GitHub issue is still open, won't close

[2018-03-09 14:42] yegor256 commented on #741
@0crat refuse

[2018-03-09 14:42] #741 closed

[2018-03-09 14:42] 0crat commented on #741
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-03-09 14:42] 0crat commented on #741
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-03-09 14:43] yegor256 commented on #741
@carlosmiranda you are right, it's a duplicate

[2018-03-09 14:43] 0crat commented on #194
The job [#194](https://github.com/zerocracy/farm/issues/194) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/681451490). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-09 14:45] #329 closed

[2018-03-09 14:45] 0pdd opened #783 "close_job.groovy:34-38: Every time we close a job..."
The puzzle `535-b70e915c` from #535 has to be resolved:

https://github.com/zerocracy/farm/blob/1d4960bae0b5056bfd7e38f92f901b78c909316f/src/main/resources/com/zerocracy/stk/pm/in/orders/close_job.groovy#L34-L38

The puzzle was created by g4s8 on 07-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when

[2018-03-09 14:45] 0pdd commented on #535
@yegor256 the puzzle [#783](https://github.com/zerocracy/farm/issues/783) is still not solved.

[2018-03-09 14:45] 0crat commented on #783
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-09 14:48] g4s8 commented on #535
@yegor256 PRs #753 and zerocracy/datum#322 were merged, puzzle #783 was submitted, can we close then?

[2018-03-09 14:56] 0crat commented on #111
The job [#111](https://github.com/zerocracy/farm/issues/111) is now out of scope

[2018-03-09 14:58] 0crat commented on #741
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-09 14:58] 0crat commented on #741
The job [#741](https://github.com/zerocracy/farm/issues/741) is now out of scope

[2018-03-09 15:01] 0crat commented on #329
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-09 15:02] 0crat commented on #329
The job [#329](https://github.com/zerocracy/farm/issues/329) is now out of scope

[2018-03-09 15:03] 0crat commented on #528
The job [#528](https://github.com/zerocracy/farm/issues/528) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/681512038). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-09 15:32] yegor256 commented on #757
@amihaiemil I understand how it works, I just don't understand why can't we punish the ARC?) He/she will be interested to solve this situation somehow. We have to find solutions. But removing the punishment element will degrade the entire system. I don't like.

[2018-03-09 15:32] #757 closed

[2018-03-09 15:47] 0crat commented on #757
The job is not in WBS, won't close the order

[2018-03-09 15:53] ypshenychka commented on #741
@0crat quality bad

[2018-03-09 15:55] 0crat commented on #741
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-03-09 15:55] 0crat commented on #741
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-09 15:57] ypshenychka commented on #329
@0crat quality bad

[2018-03-09 15:58] 0crat commented on #329
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-03-09 15:58] 0crat commented on #329
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-09 16:41] yegor256 commented on #730
@amihaiemil this exactly is the strategy. We will promote the problem for open source projects, but only when it's technically ready. We still have a lot of bugs, you know about them. The plan is to launch it all to public use on April 2, 2018.

[2018-03-09 16:42] #730 closed

[2018-03-09 16:51] 0crat commented on #633
The job [#633](https://github.com/zerocracy/farm/issues/633) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/681662672). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-09 16:58] 0crat commented on #730
The job is not in WBS, won't close the order

[2018-03-09 17:23] ypshenychka commented on #743
@yegor256 Looks like all tickets that missed payment were covered by direct payments. @amihaiemil Please let us know if I missed something.

[2018-03-09 17:32] amihaiemil commented on #743
@yegor256 @ypshenychka this one wasn't yet: #220

[2018-03-09 17:57] ypshenychka commented on #220
@0crat quality acceptable

[2018-03-09 17:57] 0crat commented on #220
@ypshenychka Thanks, but quality review is not required in this job

[2018-03-09 18:01] ypshenychka commented on #743
@yegor256 Issue #220 is still without payment.

[2018-03-09 18:05] neonailol commented on #185
@0crat status

[2018-03-09 18:06] 0crat commented on #185
@neonailol This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#185](https://github.com/zerocracy/farm/issues/185) is [in scope](http://www.zerocracy.com/policy.html#14) for 7mon
  * The role is `DEV`
  * The job is assigned to @neonailol[/z](https://www.0crat.com/u/neonailol) for [27days](http://www.zerocracy.com/policy.html#8)
  * There is a mo

[2018-03-09 19:37] amihaiemil commented on #416
@g4s8 Are you sure this is the case? I tried now to mess some imports and the tests in cause are failing fast, nothing hangs. And the rest of the test just keep executing fine.

[2018-03-09 19:37] amihaiemil commented on #435
@0crat waiting for answers

[2018-03-09 19:37] 0crat commented on #435
@amihaiemil Job [#435](https://github.com/zerocracy/farm/issues/435) is already on hold

[2018-03-09 19:39] amihaiemil commented on #416
@0crat waiting for answer

[2018-03-09 19:39] 0crat commented on #416
@amihaiemil The impediment for [#416](https://github.com/zerocracy/farm/issues/416) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-10 07:53] ypshenychka opened #787 "Job performers do not get extra +5 points for 'good' quality"
Please see this ticket #764.
QA mark is good, but code reviewer received only +15 points instead of +20.

[2018-03-10 07:53] 0crat commented on #787
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-10 07:59] g4s8 commented on #576
@yegor256 it was implemented in #764 PR, can we close?

[2018-03-10 08:50] amihaiemil opened #788 "Elections and Agenda should work together"
Currently, the elections and the agenda stakeholders (as well as java classes) are completely separate modules. The flow works fine just because they happen to be run sequencially, in the right order.

However, these 2 concepts should work together, in the same unit: once a performer is elected (is assigned a job, an order), then they should automatically have the agenda updated. Now, if the order

[2018-03-10 08:51] 0crat commented on #788
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-10 08:54] g4s8 opened #789 "Ping timer depends on deploy time"
The server can be restarted few times in a day, it means that `Ping daily` claim may not be called more than few days. I think it's better to use some job scheduler e.g. [quartz-scheduler](http://www.quartz-scheduler.org/).

[2018-03-10 08:54] 0crat commented on #789
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-10 15:53] neonailol commented on #185
@yegor256 ping

[2018-03-10 15:53] neonailol commented on #89
@yegor256 ping

[2018-03-10 17:03] 0crat commented on #560
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-10 17:03] 0crat commented on #560
The job [#560](https://github.com/zerocracy/farm/issues/560) is now out of scope

[2018-03-10 17:07] 0crat commented on #653
The job [#653](https://github.com/zerocracy/farm/issues/653) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/691742898). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-10 18:49] ypshenychka commented on #560
@0crat quality bad

[2018-03-10 18:49] 0crat commented on #560
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-03-10 18:49] 0crat commented on #560
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-11 06:00] yegor256 commented on #89
@neonailol but the puzzle is still in the code base. Or I miss something?

[2018-03-11 06:04] yegor256 commented on #789
@g4s8 dup of #680

[2018-03-11 06:04] #789 closed

[2018-03-11 06:05] yegor256 commented on #680
@0crat assign @g4s8

[2018-03-11 06:05] 0crat commented on #680
@yegor256 The job [#680](https://github.com/zerocracy/farm/issues/680) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/700623111). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear