[2018-03-11 06:05] 0crat commented on #680
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-11 06:19] 0crat commented on #789
The job is not in WBS, won't close the order

[2018-03-11 07:54] yegor256 commented on #775
@amihaiemil can you please publish again? It should work, I believe, and you will see the exception

[2018-03-11 08:23] amihaiemil opened #791 "/ghook IllegalStateException"
Received from Sentry:

**Exception**:
[code]
**Message**:
[code]

[2018-03-11 08:23] 0crat commented on #791
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-11 08:28] amihaiemil commented on #775
@yegor256 ``publish off`` worked fine, no error, then ``publish on`` again worked but got this second message:

![screenshot_20180311-102626](https://user-images.githubusercontent.com/6305156/37251340-ddb1caa8-2516-11e8-9ad7-72817de9098d.png)

[2018-03-11 08:32] amihaiemil commented on #775
@yegor256 A bit more detailed from Sentry:

[code]

[2018-03-11 08:33] amihaiemil commented on #775
@yegor256 I think is the "anti clash" validation you added a few days ago :D

[2018-03-11 11:00] amihaiemil commented on #220
@yegor256 could you do the payments here and take it out of scope?

[2018-03-11 12:31] g4s8 opened #792 "Master is broken"
There are 6 broken tests in master:
[code]
It started to fail after updating to 5019099351815d42a80a8e5d3512cc5d0e71e88b commit

[2018-03-11 15:00] amihaiemil commented on #792
Yes, I confirm, I also have this issue.

[2018-03-11 15:01] amihaiemil commented on #497
@0crat waiting https://github.com/zerocracy/farm/issues/792

[2018-03-11 17:59] 0crat commented on #497
@amihaiemil The impediment for [#497](https://github.com/zerocracy/farm/issues/497) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-11 18:24] amihaiemil opened #794 "ISE in start_order.groovy"
Happened [here](https://github.com/amihaiemil/docker-java-api/issues/36#issuecomment-372136499):

[code]

Seems like 0crat cannot assign a job to the Github assignee and also can't assign it when the ARC tells it to do so (see the second trial). However, punishment for ARC works fine.

I think it is related to [this](https://github.com/zerocracy/farm/commit/5019099351815d42a80a8e5d3512cc5d0e71e88b

[2018-03-12 06:29] t-izbassar commented on #412
@0crat refuse

[2018-03-12 06:30] t-izbassar commented on #363
@0crat refuse

[2018-03-12 06:55] yegor256 commented on #220
@0crat status

[2018-03-12 07:29] g4s8 commented on #416
@amihaiemil you are right, it seems to be fixed, can't reproduce it too.

[2018-03-12 07:29] #416 closed

[2018-03-12 07:40] amihaiemil opened #795 "Model form zerocracy/datum should be put in this repo"
See [this](https://github.com/zerocracy/farm/pull/784#pullrequestreview-102938652) discussion. Some changes in the codebase required changes in the ``.xsd`` from the model. This created a nasty dependency between the 2 repos and their releases.

I think the model should be put in this repo, to get rid of this dependency. WDYT?

[2018-03-12 08:52] 0crat commented on #412
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-12 10:18] yegor256 commented on #220
@0crat out

[2018-03-12 10:21] g4s8 commented on #523
@0crat waiting PR to merge #785

[2018-03-12 10:25] g4s8 commented on #391
@yegor256 ping

[2018-03-12 15:06] yegor256 commented on #775
@amihaiemil I believe it's fixed in in dfe6efacdecfc78e958096789f38ecea7250b03c Thanks!

[2018-03-12 15:06] #775 closed

[2018-03-12 15:07] 0crat commented on #523
@g4s8 The impediment for [#523](https://github.com/zerocracy/farm/issues/523) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-12 15:08] 0crat commented on #220
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-12 15:08] 0crat commented on #220
@yegor256 The job [#220](https://github.com/zerocracy/farm/issues/220) is now out of scope

[2018-03-12 15:21] 0crat commented on #363
The job [#363](https://github.com/zerocracy/farm/issues/363) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/711520494). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-12 15:22] 0crat commented on #775
Order was finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-12 15:22] 0crat commented on #775
The job [#775](https://github.com/zerocracy/farm/issues/775) is now out of scope

[2018-03-12 15:22] yegor256 commented on #788
@amihaiemil elections should not affect the agenda, since they are not orders yet. You may be elected for a job but will never get it, because, for example, ARC will assign someone else there manually. The only place where the order is actually placed in `start_order.groovy`. It issues a claim of type `Order was given`. This claim will be picked up by `add_to_agenda.groovy` and the agenda will be

[2018-03-12 15:25] amihaiemil commented on #788
@yegor256 you mean individual procedures :(

[2018-03-12 15:25] #788 closed

[2018-03-12 15:36] yegor256 commented on #788
@amihaiemil yes, exactly them :)

[2018-03-12 15:37] yegor256 commented on #576
@g4s8 thanks!

[2018-03-12 15:37] #576 closed

[2018-03-12 15:39] yegor256 commented on #391
@g4s8 thanks!

[2018-03-12 15:39] #391 closed

[2018-03-12 15:39] ypshenychka commented on #220
@0crat quality acceptable

[2018-03-12 15:42] yegor256 opened #798 "redirect on logout"
Let's remember the URL when we request a login

[2018-03-12 16:02] amihaiemil opened #799 "Can't assign role"
One person applied to the project, I say ``@0crat assign DEV llorllale $0`` and it says "Assignee ``@llorllale``/z must be present on Github"

The check for Github membership has been introduced [here](https://github.com/zerocracy/farm/pull/719/files#diff-6b470f91f81f74907161407bc05e83b3R40), in ``assign_role.groovy`` -- the fact that the ``AssertionError`` is thrown means that the Github response

[2018-03-12 16:10] neonailol commented on #89
@yegor256 oh. sorry, my bad, I saw all these messages about `all puzzles are solved` and was thinking that this is resolved

[2018-03-12 16:11] neonailol commented on #185
@0crat refuse

[2018-03-12 16:18] ypshenychka commented on #220
@0crat ping

[2018-03-12 16:27] ypshenychka opened #801 "0crat ignores QA verdict"
Happened in #220.
0crat doesn't react when mentioning him.

UPD: 0crat responded after 1 hour.

[2018-03-12 16:45] #798 closed

[2018-03-12 16:48] 0crat commented on #220
@ypshenychka Can't understand "ping", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of

[2018-03-12 16:49] 0crat commented on #185
@neonailol The user @neonailol[/z](https://www.0crat.com/u/neonailol) resigned from [#185](https://github.com/zerocracy/farm/issues/185), please stop working. Reason for job resignation: Order was cancelled

[2018-03-12 16:50] 0crat commented on #220
@ypshenychka There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-12 16:50] 0crat commented on #220
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-12 16:50] 0crat commented on #185
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-03-12 17:01] 0crat commented on #798
The job is not in WBS, won't close the order

[2018-03-12 17:04] 0crat commented on #799
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-12 17:30] 0crat commented on #801
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-12 18:47] g4s8 commented on #680
@yegor256 what do you think about moving to some [job scheduler](https://java-source.net/open-source/job-schedulers)? I would suggest [quartz](http://www.quartz-scheduler.org/) because it supports clustering out of box and can move us closer to multi-node server as in #773 ticket.

[2018-03-12 19:51] yegor256 commented on #787
@ypshenychka thanks, fixed in 3fa3edc661c36f1d6282a510458cc65ca43932ea

[2018-03-12 19:51] #787 closed

[2018-03-12 19:53] yegor256 commented on #801
@ypshenychka it was a temporary bug, it was replying slowly. Thanks for reporting, fixed already.

[2018-03-12 19:53] #801 closed

[2018-03-12 19:59] ypshenychka commented on #220
@amihaiemil Did you get paid for this issue?

[2018-03-12 20:06] 0crat commented on #787
The job is not in WBS, won't close the order

[2018-03-12 20:08] 0crat commented on #801
The job is not in WBS, won't close the order

[2018-03-12 20:53] yegor256 commented on #799
@amihaiemil I moved validation to invite user command: 74e72b9001d50a41903b3958de3e09b12071a709

[2018-03-12 20:53] #799 closed

[2018-03-12 20:54] 0crat commented on #799
The job [#799](https://github.com/zerocracy/farm/issues/799) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/712053003). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-12 20:54] 0crat commented on #799
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-12 20:54] 0crat commented on #799
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-12 21:09] 0crat commented on #799
Order was finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-12 21:09] 0crat commented on #799
The job [#799](https://github.com/zerocracy/farm/issues/799) is now out of scope

[2018-03-13 01:03] carlosmiranda opened #802 "Duplicate Paypal debt payment"
Last March 9 I was paid out some debts because the amount was over the $20 threshold. However I received it twice:

![image](https://user-images.githubusercontent.com/1917892/37316665-62050e7a-269b-11e8-82a1-745d9b9f3266.png)

Note the corresponding Telegram message which only appeared once (in case it might be helpful to find out what's going on):

![image](https://user-images.githubusercontent.c

[2018-03-13 01:04] carlosmiranda commented on #802
@yegor256 Sent you details on Telegram. I made a refund for one of the payments as well.

[2018-03-13 05:50] 0crat commented on #795
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-13 05:50] 0crat commented on #787
The job [#787](https://github.com/zerocracy/farm/issues/787) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/720550188). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-13 05:51] 0crat commented on #787
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-13 05:51] 0crat commented on #787
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-13 05:59] 0crat commented on #576
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-13 05:59] 0crat commented on #576
The job [#576](https://github.com/zerocracy/farm/issues/576) is now out of scope

[2018-03-13 06:02] 0crat commented on #391
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-13 06:02] 0crat commented on #391
The job [#391](https://github.com/zerocracy/farm/issues/391) is now out of scope

[2018-03-13 06:05] 0crat commented on #802
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-13 07:43] amihaiemil commented on #415
@g4s8 PR #786 was merged, can we close this ticket?

[2018-03-13 07:54] 0crat commented on #416
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-13 07:54] 0crat commented on #416
The job [#416](https://github.com/zerocracy/farm/issues/416) is now out of scope

[2018-03-13 07:56] 0crat commented on #412
The job [#412](https://github.com/zerocracy/farm/issues/412) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/720756487). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-13 07:59] amihaiemil commented on #512
@0crat refuse

[2018-03-13 07:59] 0crat commented on #512
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#512](https://github.com/zerocracy/farm/issues/512), please stop working. Reason for job resignation: Order was cancelled

[2018-03-13 08:00] 0crat commented on #512
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-13 08:03] amihaiemil commented on #422
@0crat waiting I have to make a second PR in /datum

[2018-03-13 08:06] g4s8 commented on #415
@amihaiemil thanks!

[2018-03-13 08:06] #415 closed

[2018-03-13 08:09] g4s8 commented on #792
seems to be fixed - closing

[2018-03-13 08:09] #792 closed

[2018-03-13 08:22] carlosmiranda opened #803 "0crat awaiting QA verdict, but did not inform QA performer"
In #786 the PR was merged successfully. No further messages were recorded from `@0crat`. When I asked for status, it says it's in QA review, but it did not inform the QA performer.

![image](https://user-images.githubusercontent.com/1917892/37329951-7592689a-26da-11e8-8cf4-a43e20e156c6.png)

[2018-03-13 08:58] ypshenychka commented on #576
@0crat quality good

[2018-03-13 08:59] 0crat commented on #422
@amihaiemil The impediment for [#422](https://github.com/zerocracy/farm/issues/422) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-13 08:59] 0crat commented on #576
Order was finished, quality is "good": +35 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-13 08:59] 0crat commented on #576
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-13 09:01] ypshenychka commented on #391
@0crat quality good

[2018-03-13 09:04] ypshenychka commented on #416
@g4s8 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your messages ([this](https://github.com/zerocracy/farm/issues/416#issuecomment-358221783) and [this](https://github.com/zerocracy/farm/issues/416#issuecomment-358360172)) by indicating an addressee in the beginning.

[2018-03-13 09:04] 0crat commented on #391
Order was finished, quality is "good": +35 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-13 09:04] 0crat commented on #391
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-13 09:06] amihaiemil commented on #220
@ypshenychka yes, according to the "Awards" page I was paid 16h ago, same as you :)

[2018-03-13 09:10] neonailol commented on #89
@0crat refuse

[2018-03-13 09:12] 0crat commented on #89
@neonailol The user @neonailol[/z](https://www.0crat.com/u/neonailol) resigned from [#89](https://github.com/zerocracy/farm/issues/89), please stop working. Reason for job resignation: Order was cancelled

[2018-03-13 09:12] g4s8 commented on #416
@ypshenychka moved these comments to issue details and deleted them.

[2018-03-13 09:13] 0crat commented on #89
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-03-13 09:16] amihaiemil commented on #803
@carlosmiranda I am not sure but I think this Issue is already raised. There was an issue about "0crat silently assigns performer" -- it seems to be the same bug. But let's see...

[2018-03-13 09:20] amihaiemil opened #804 "Tasks slots should be per project, not per platform"
Currently, the number of allowed tasks covers all the projects. This is too little, 8 (or even 12) task slots in, let's say, 3 projects are not enough.

Task complexity and delivery speed are depending a lot on the project and how fast the team as a whole moves in that project. Besides, if the number of possible tasks is global, then one project could "starve", the DEVs could be assigned to other

[2018-03-13 09:41] g4s8 commented on #559
@0crat waiting bug to resolve https://github.com/jcabi/jcabi-github/issues/1361

[2018-03-13 09:56] yegor256 commented on #795
@amihaiemil we will still need to release twice, I think. Since `Xocument` depends on a specific version of the XML model. During testing/building/releasing this version of the model won't be available and we won't be able to release. Thus, we will have to release XML first, anyway.

[2018-03-13 09:57] 0crat commented on #559
@g4s8 The impediment for [#559](https://github.com/zerocracy/farm/issues/559) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-13 10:00] ypshenychka commented on #416
@g4s8 Thanks a lot!

[2018-03-13 10:00] ypshenychka commented on #416
@0crat quality bad as no work was done in acope of the issue

[2018-03-13 10:01] 0crat commented on #416
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-03-13 10:01] 0crat commented on #416
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-13 10:14] amihaiemil commented on #416
@ypshenychka @yegor256 Is it a rule that if no PRs were made, the DEV is not paid? Indeed, I did not spend 30min here but still, I had to study the Issue, make the branch, play with the code, see if I couldn't make it hang otherwise -- I spent 10-15min on this.

Could we have a new quality command for these situations? For instance, the DEV could at least be paid the reputation, or be paid half th

[2018-03-13 10:20] 0crat commented on #804
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-13 10:23] 0crat commented on #803
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-13 10:28] ypshenychka commented on #416
@amihaiemil Currently we have such statement in rules:

[2018-03-13 11:21] amihaiemil opened #807 "Percentage is rounded half-up on vesting page"
On a Project's vesting page, the ownership percentage is rounded half up. E.g., on Zerocracy, it displays that I own ``0.01%`` and that is not true, I own less than that: ``0.00721675`` -- it rounded 0.007 to 0.01, which I don't believe is correct, such data should be precise.

Furthermore, I think this percentage should be written in the ``proof`` PDF, with all decimals (on the page it is only th

[2018-03-13 11:35] amihaiemil commented on #795
@yegor256 I don't understand, isn't ``Xocument`` in ``jcabi-xml``, which is supposed to be a generic library? Why is that a dependency?

[2018-03-13 11:48] yegor256 commented on #795
@amihaiemil `Xocument` is in this repo, see `com.zerocracy.Xocument`

[2018-03-13 11:52] yegor256 opened #808 "VsProjectWorkload"
Let's create `VsProjectWorkload`, which will work exactly like `VsWorkload`, but take into account only orders currently assigned to each person in this particular project.

[2018-03-13 11:52] yegor256 commented on #804
@amihaiemil I agree that we should try to balance tasks between projects: https://github.com/zerocracy/farm/issues/808

[2018-03-13 11:53] yegor256 commented on #804
@amihaiemil I've seen this problem before, that's why decided to put those limits. When a developer has too many tasks in the agenda, he/she can't really perform well and _all_ projects suffer. I believe, we must keep the limits rather strict.

The developer is always interested to clear the agenda, in order to get new takss.

[2018-03-13 11:59] amihaiemil commented on #804
@yegor256 I see. And what would that new class do exactly? "take into account only orders currently assigned to each person in this particular project" is not so precise :D

[2018-03-13 12:00] yegor256 commented on #804
@amihaiemil it's better to ask in #808

[2018-03-13 12:00] amihaiemil commented on #808
@yegor256 What would that new class do exactly? "take into account only orders currently assigned to each person in this particular project" is not so precise :D

[2018-03-13 12:01] amihaiemil commented on #804
@yegor256 I close this, then, and discuss there :D

[2018-03-13 12:01] #804 closed

[2018-03-13 12:01] yegor256 commented on #803
@carlosmiranda the problem is that GitHub sometimes blocks us, especially when we ping their API too frequently.

[2018-03-13 12:02] yegor256 commented on #803
@carlosmiranda I'll close this as dup of #564

[2018-03-13 12:02] #803 closed

[2018-03-13 12:02] yegor256 commented on #695
@t-izbassar dup of #564

[2018-03-13 12:02] #695 closed

[2018-03-13 12:05] yegor256 commented on #808
@amihaiemil why not? It will give priority to the user with the lowest amount of orders in this project. Thus, if you are a member of 5 projects, you will get jobs quicker when you are not yet present (have no or almost no orders).

[2018-03-13 12:07] amihaiemil commented on #808
@yegor256 so it solves the issue that one project could "starve"? DEVs could move as fast as possible, but how does 0crat decide to which Project to assign tasks? What stops 0crat from always assigning me tasks in ``zerocracy/farm``, when I am also in 2 other projects?

[2018-03-13 12:11] yegor256 commented on #808
@amihaiemil in those projects it will try to pick you, since you don't have tasks there.

[2018-03-13 12:20] yegor256 commented on #802
@carlosmiranda I can't understand why this happened. I added some extra logging/reporting. Let's keep an eye on this.

[2018-03-13 12:20] amihaiemil commented on #808
@yegor256 makes semse now, thanks

[2018-03-13 13:01] yegor256 opened #809 "IllegalArgumentException: Failed to transform by net.sf.saxon.TransformerFactoryImpl: [Job name "gh:zerocracy/zerocracy.git..."
https://sentry.io/zerocracy/farm/issues/489142037/

[code]

[2018-03-13 13:36] #809 closed

[2018-03-13 15:02] #609 closed

[2018-03-13 15:02] 0pdd commented on #609
The puzzle `186-75ab7a62` has disappeared from the source code, that's why I closed this issue.

[2018-03-13 15:02] 0pdd commented on #186
@0pdd the last puzzle [#609](https://github.com/zerocracy/farm/issues/609) is solved here.

[2018-03-13 15:16] g4s8 commented on #536
@yegor256 PRs #752 and zerocracy/datum#321 were merged, todo #760 was submitted, can we close?

[2018-03-13 15:34] g4s8 commented on #533
@amihaiemil it was fixed in #782 PR, now "Exit" is a submit button inside post form

[2018-03-13 15:36] amihaiemil commented on #533
@g4s8 I see. Seems to work fine, but there is a styling issue on the intex page, maybe you can submit an issue?

![image](https://user-images.githubusercontent.com/6305156/37352084-1ec8ac94-26e5-11e8-9448-c935cf7fe19e.png)

[2018-03-13 15:36] #533 closed

[2018-03-13 15:42] g4s8 commented on #533
@amihaiemil sure, I'll submit it

[2018-03-13 15:46] g4s8 opened #810 "Exit button style issues"
Exit button has some style issues on index page, also it doesn't have underline like all other links
![index-page](https://user-images.githubusercontent.com/6305156/37352084-1ec8ac94-26e5-11e8-9448-c935cf7fe19e.png)

[2018-03-13 16:29] yegor256 commented on #536
@g4s8 thanks

[2018-03-13 16:29] #536 closed

[2018-03-13 16:38] yegor256 commented on #739
@amihaiemil yes, we can do `new FarmGithub()` in this particular case, but there are many other `Ext*` classes, which are basically singletons. That's why all of them are designed in the same manner, as singletons.

[2018-03-13 18:25] 0crat commented on #807
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-13 18:26] 0crat commented on #758
Job [#758](https://github.com/zerocracy/farm/issues/758) is now in scope, role is `DEV`

[2018-03-13 18:27] 0crat commented on #802
The job [#802](https://github.com/zerocracy/farm/issues/802) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/721825453). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-13 21:05] g4s8 commented on #536
@0crat status

[2018-03-13 21:06] g4s8 commented on #536
@0crat waiting for close

[2018-03-14 02:40] carlosmiranda commented on #728
@yegor256 can I grab this ticket? It's bothering me. :)

Also I have lots of stale jobs in my queue and it's preventing jobs from being properly assigned to me.

[2018-03-14 02:50] carlosmiranda opened #811 "Let's add Github links to the debt list"
Let's make all the Github job labels in the debts section of the user home page into Github links.

![image](https://user-images.githubusercontent.com/1917892/37380857-70700eb2-2775-11e8-87ce-01541ae38e83.png)

[2018-03-14 02:52] carlosmiranda opened #812 "Color code "Role" in Agenda page"
Let's give each role in the Agenda page its own color. Right now it's hard to tell at first glance the difference between REV and DEV:

![image](https://user-images.githubusercontent.com/1917892/37380921-b1276af4-2775-11e8-907d-af46eac8f554.png)

[2018-03-14 05:31] 0crat commented on #536
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#536](https://github.com/zerocracy/farm/issues/536) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [11days](http://www.zerocracy.com/policy.html#8)
  * There is a monetary reward a

[2018-03-14 05:31] 0crat commented on #536
@g4s8 The impediment for [#536](https://github.com/zerocracy/farm/issues/536) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-14 07:42] amihaiemil commented on #435
@g4s8 ping, can you answer my question?

[2018-03-14 07:46] amihaiemil opened #813 "ranks in elections drains the Github API quota"
Due to Github API quota, many webhook calls respond with 503:

![image](https://user-images.githubusercontent.com/6305156/37389306-7c94ee82-276c-11e8-8347-c72547ca1f1d.png)

I think we should solve this somehow. The waiting time is rather big and then inconsistencies appear in the project, since 0crat answers much later (call is saved by ReHttp), when the Issue might already be solved.

[2018-03-14 07:55] amihaiemil commented on #795
@yegor256 So what is the issue about that version? It could always be the project's current version, no?

And maybe, the issue now is also that paths to ``.xsd`` files are absolute, ``datum.zerocracy.com/...`` -- they could also be relative, right?

[2018-03-14 08:49] amihaiemil opened #814 "0crat should automatically put 0pdd's tickets in scope"
Tickets opened by ``0pdd`` should automatically be put in scope, I believe. I merge a PR with 3 puzzles and 0crat asks me to take a look into each new ticket, when I already reviewed them before merging. See [here](https://github.com/amihaiemil/docker-java-api/issues/41). This could also reduce the Github API calls, contributing to fixing the Quota problem :)

Furthermore, I think 0crat should sca

[2018-03-14 10:44] g4s8 commented on #533
@0crat status

[2018-03-14 11:04] g4s8 commented on #435
@amihaiemil sorry, missed the notification.

You are right, it's not clear why fake object are used in production, but I think it may be OK to use `/tmp` files here (it depends on logic), also I think it will be expected behavior to loose temporary files even in production after restart. So I would add a `todo` to get rid of fake objects here, but put `deleteOnExit(true)` also.

[2018-03-14 11:08] amihaiemil commented on #435
@g4s8 But the problem is that ``close()`` method on ``FkItem`` may be called sooner, not just when shutting down the app (for instance, if the instnace is ina try-with-resources) -- what if it's called sooner? I have no idea what is the logic where it is used and what could break. I think there was a solid reason for that ``delete`` flag in ``FkItem``...

[2018-03-14 11:09] amihaiemil commented on #435
@g4s8 to be honest, I don't even understand why we need files on disk at all :D data stored in AWS S3 (or Mongo, as I saw somewhere) -- why put it on disk after reading from there?

[2018-03-14 11:18] g4s8 commented on #536
@0crat status

[2018-03-14 11:19] g4s8 commented on #435
@amihaiemil

maybe to cache it and pay less to Amazon for S3?

@yegor256 could you please comment [here](https://github.com/zerocracy/farm/issues/435#issuecomment-372984441):

[2018-03-14 13:24] amihaiemil opened #815 "Leading roles should also be assignable to Github Organizations"
I'm not sure, but I believe 0crat demands that the Github login belongs to a User. If this is true, then wouldn't it be better if it could also belong to an organization?

For instance, a company may manage their projects with ZC and would rather register their Github Organization, so more people (actual POs) could give commands to 0crat in their respective projects. WDYT?

[2018-03-14 14:04] yegor256 commented on #795
@amihaiemil well, I wanted to keep these two repositories separate for the sake of stability. The XML model lives its own live and is rather stable. The Farm is much more dynamic and changes multiple times a day. The policy is yet another artifact that also has its own lifecycle. I'm going to introduce yet another artifact in the future, which will be responsible for the AI/ML part of the whole sh

[2018-03-14 14:08] amihaiemil commented on #795
@yegor256 maybe ``/datum`` holds more stuff than I am aware of, but I am referring strictly to the ``.xsd`` files which validating XMLs and will complain if some class in ``/farm`` changes attributes -- only those classes, could they be moved to ``/farm``?

[2018-03-14 14:39] g4s8 commented on #535
@0crat waiting for close

[2018-03-14 14:51] g4s8 commented on #813
@amihaiemil @yegor256 @0crat is not responding on Github all day, does it related to this bug?

[2018-03-14 15:03] amihaiemil commented on #813
@g4s8 most likely, my repo's Webhook settings is filled with failed requests :)

[2018-03-14 15:05] amihaiemil commented on #813
@g4s8 Out of the last few dozen calls only 3 succeded

[2018-03-14 15:21] yegor256 commented on #795
@amihaiemil let's keep it the way it is for now. I do understand the confusion, but let's see how both repositories will progress and make the decision later.

[2018-03-14 15:22] yegor256 commented on #535
@g4s8 thanks

[2018-03-14 15:22] #535 closed

[2018-03-14 15:22] amihaiemil commented on #795
@yegor256 ok; I close this for now, then

[2018-03-14 15:22] #795 closed

[2018-03-14 15:49] 0crat commented on #813
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/813#issuecomment-373049047); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-03-14 15:50] 0crat commented on #535
@g4s8 The impediment for [#535](https://github.com/zerocracy/farm/issues/535) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-14 15:50] 0crat commented on #536
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#536](https://github.com/zerocracy/farm/issues/536) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%23536%27%7D) (restric

[2018-03-14 15:50] 0crat commented on #536
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#536](https://github.com/zerocracy/farm/issues/536) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%23536%27%7D) (restric

[2018-03-14 15:50] 0crat commented on #533
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#533](https://github.com/zerocracy/farm/issues/533) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [9days](http://www.zerocracy.com/policy.html#8)
  * There is a monetary reward at

[2018-03-14 15:51] 0crat commented on #533
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#533](https://github.com/zerocracy/farm/issues/533) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [9days](http://www.zerocracy.com/policy.html#8)
  * There is a monetary reward at

[2018-03-14 15:53] yegor256 commented on #535
@0crat status

[2018-03-14 15:54] 0crat commented on #535
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#535](https://github.com/zerocracy/farm/issues/535) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [9days](http://www.zerocracy.com/policy.html#8)
  * There is a monetary rewar

[2018-03-14 15:54] yegor256 commented on #535
@0crat out

[2018-03-14 15:54] 0crat commented on #813
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-14 15:55] 0crat commented on #535
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-14 15:55] 0crat commented on #535
@yegor256 The job [#535](https://github.com/zerocracy/farm/issues/535) is now out of scope

[2018-03-14 15:59] 0crat commented on #814
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-14 16:01] yegor256 commented on #807
@amihaiemil I believe it's fixed, pls check

[2018-03-14 16:02] yegor256 commented on #813
@g4s8 yes, the problem was with the quota. We don't have an issue with it, unless we do something wrong. We were doing something wrong recently, sending them too many requests. I belive it's fixed now and everything will be fine. Let's keep an eye on that.

[2018-03-14 16:05] yegor256 commented on #814
@amihaiemil you just configure 0pdd to add `bug` labels to all new tickets. Then Zerocrat will pick them up automatically. This is how it works in this repository.

As for the estimates, we work with fixed 30-min budgets now. So, we just ignore the information from 0pdd. This is our business case. Other projects may use that information. We don't.

[2018-03-14 16:05] #814 closed

[2018-03-14 16:06] yegor256 commented on #728
@0crat assign @carlosmiranda

[2018-03-14 16:06] 0crat commented on #811
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-14 16:07] amihaiemil commented on #814
@yegor256 I see, thanks

[2018-03-14 16:08] 0crat commented on #812
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-14 16:09] 0crat commented on #728
@yegor256 The job [#728](https://github.com/zerocracy/farm/issues/728) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/731606051). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the

[2018-03-14 16:09] 0crat commented on #810
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-14 16:09] biboran opened #816 "Broken delayed events sequence processing by 0crat"
After 0crat could not communicate to github api due to #813 some of the events were not processed. For example in this case 0crat didn't recognize the assignment (as an `ARC` I assigned myself) as he did in #799:
<img width="896" alt="screen shot 2018-03-14 at 6 52 28 pm" src="https://user-images.githubusercontent.com/8717108/37414716-d2601604-27ba-11e8-995d-12c278e874a9.png">

And after this pr 0

[2018-03-14 16:09] 0crat commented on #816
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-14 16:09] amihaiemil commented on #807
@yegor256 Yes, it looks ok now, thanks :)

[2018-03-14 16:09] #807 closed

[2018-03-14 16:10] 0crat commented on #728
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-14 16:10] yegor256 commented on #435
@amihaiemil @g4s8 S3Item is caching files on disc, in order to work faster. If we remove that, we will have thousands of requests to AWS -- this would be slow and expensive (they charge per each request).

The `delete` flag in `FkItem` is there mostly in order to clean up the disc. But in some rare cases it's not necessary, since we want the file to remain there.

[2018-03-14 16:15] 0crat commented on #533
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-14 16:15] 0crat commented on #533
The job [#533](https://github.com/zerocracy/farm/issues/533) is now out of scope

[2018-03-14 16:17] amihaiemil commented on #816
@biboran

Yes, I also had this, 0crat did not pay me, as ARC, for merged PRs. That may also be a bug somewhere else? Maybe it tries to assign a QA and it doesn't find any?

[2018-03-14 16:29] biboran commented on #816
@amihaiemil I don't think QA is an issue. It used to work fine without QA up until today.

[2018-03-14 16:30] amihaiemil commented on #435
@yegor256

Bingo, that's what I figured.

But if it's an ``FkItem``, a fake object, why does it need to create a real file on disk anyway? Couldn't it work all in memory?

[2018-03-14 16:38] ypshenychka commented on #536
@0crat quality good

[2018-03-14 16:40] ypshenychka commented on #535
@0crat quality good

[2018-03-14 16:42] ypshenychka commented on #533
@0crat quality good

[2018-03-14 20:04] amihaiemil commented on #813
@yegor256 It doesn't seem to be fixed. It seemed to work when you redeployed about 4h ago, it left a few comments but now it's again 503 for the past dozens calls

[2018-03-14 20:49] ypshenychka commented on #533
@0crat status

[2018-03-14 20:49] ypshenychka commented on #535
@0crat status

[2018-03-14 20:49] ypshenychka commented on #536
@0crat status

[2018-03-14 21:21] 0crat commented on #536
@ypshenychka This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#536](https://github.com/zerocracy/farm/issues/536) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%23536%27%7D) (restricted area)

[2018-03-14 21:21] yegor256 commented on #813
@amihaiemil @g4s8 looks like it was a problem with `cleanup_comments`. It takes a comment from DynamoDB and attempts to delete it in GitHub. But it doesn't exist there. It fails, but GitHub quota is used. And it does it every hour. Eventually, we have a problem. I removed all lines from DynamoDB 0crat-errors table, to fix the issue right now, but we need a proper fix.

[2018-03-14 21:22] 0crat commented on #535
@ypshenychka This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#535](https://github.com/zerocracy/farm/issues/535) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%23535%27%7D) (restricted area)

[2018-03-14 21:22] 0crat commented on #533
@ypshenychka This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#533](https://github.com/zerocracy/farm/issues/533) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%23533%27%7D) (restricted area)

[2018-03-14 21:22] yegor256 commented on #816
@biboran it's just a problem with API quota. It should be fixed already and in about an hour everything will be fine.

[2018-03-14 21:23] 0crat commented on #536
Order was finished, quality is "good": +35 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-14 21:23] 0crat commented on #536
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-14 21:23] 0crat commented on #535
Order was finished, quality is "good": +35 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-14 21:23] 0crat commented on #535
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-14 21:24] 0crat commented on #533
Order was finished, quality is "good": +35 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-14 21:24] 0crat commented on #533
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-14 21:24] 0crat commented on #811
The job [#811](https://github.com/zerocracy/farm/issues/811) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/732124317). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-14 21:24] 0crat commented on #811
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-03-14 21:24] 0crat commented on #811
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-14 21:32] yegor256 commented on #811
@carlosmiranda check it now, pls

[2018-03-14 21:55] yegor256 commented on #435
@amihaiemil well, `Item` has method `path()`, which returns a real physical path of the file on the disc. That's why we need to work with files :)

[2018-03-14 22:10] yegor256 opened #817 "VsLosers"
Let's add `VsLosers` to block those who have too low reputation (below zero)

[2018-03-14 22:20] #817 closed

[2018-03-14 22:43] 0crat commented on #815
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-15 01:24] carlosmiranda commented on #811
@yegor256 strange, I still don't see any links.

[2018-03-15 07:09] carlosmiranda commented on #728
@yegor256 see PR #728

[2018-03-15 07:41] yegor256 commented on #815
@amihaiemil actually we don't check that at the moment. Any GitHub user will work. I think it would be good to validate that the account belongs to a user, not organization.

The other part of your suggestion is not really clear to me. Why do we need all that?

[2018-03-15 08:02] yegor256 opened #819 "GPG signature for PDF documents"
Let's add GPG signature for all PDF documents we produce.

[2018-03-15 08:05] amihaiemil commented on #815
@yegor256 well, the overall idea is to have the Organization as an umbrella for more users also from 0crat's perspective. Maybe not necessarily for the current roles, it's actually easier for them to stay like this. But maybe a CEO role, chief of the Organization, could be useful? For instance, the CEO may want to have full control over the budget of all the projects etc.

Basically, the idea is t

[2018-03-15 09:03] g4s8 opened #820 "Options are not implemented"
From zerocracy/datum#258 (this [puzzle](https://github.com/zerocracy/farm/pull/693/files) was not submitted because original issue submitted in datum)
Options are not implemented. We should be able to
access `options/{username}.xml` file (where {username} is a person
name from `people.xml`) to read and modify user options.
Also some mechanism should be invented to allow user to change this
options

[2018-03-15 09:05] g4s8 commented on #532
@0crat refuse

[2018-03-15 09:05] g4s8 commented on #546
@0crat waiting for datum release

[2018-03-15 09:06] g4s8 commented on #552
@0crat waiting PR to merge #790

[2018-03-15 09:06] g4s8 commented on #555
@0crat waiting PR to merge #711

[2018-03-15 09:06] g4s8 commented on #556
@0crat waiting PR to merge #805

[2018-03-15 09:07] g4s8 commented on #566
@0crat waiting PR to merge #796

[2018-03-15 10:00] 0crat commented on #566
@g4s8 The impediment for [#566](https://github.com/zerocracy/farm/issues/566) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-15 10:01] 0crat commented on #566
@g4s8 Job [#566](https://github.com/zerocracy/farm/issues/566) is already on hold

[2018-03-15 10:01] 0crat commented on #556
@g4s8 The impediment for [#556](https://github.com/zerocracy/farm/issues/556) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-15 10:01] 0crat commented on #556
@g4s8 Job [#556](https://github.com/zerocracy/farm/issues/556) is already on hold

[2018-03-15 10:01] 0crat commented on #555
@g4s8 The impediment for [#555](https://github.com/zerocracy/farm/issues/555) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-15 10:01] 0crat commented on #555
@g4s8 Job [#555](https://github.com/zerocracy/farm/issues/555) is already on hold

[2018-03-15 10:01] 0crat commented on #552
@g4s8 The impediment for [#552](https://github.com/zerocracy/farm/issues/552) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-15 10:01] 0crat commented on #546
@g4s8 The impediment for [#546](https://github.com/zerocracy/farm/issues/546) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-15 10:01] 0crat commented on #546
@g4s8 Job [#546](https://github.com/zerocracy/farm/issues/546) is already on hold

[2018-03-15 10:01] 0crat commented on #532
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#532](https://github.com/zerocracy/farm/issues/532), please stop working. Reason for job resignation: Order was cancelled

[2018-03-15 10:02] 0crat commented on #532
@g4s8 Job `gh:zerocracy/farm#532` is not assigned, can't get performer

[2018-03-15 10:03] 0crat commented on #532
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-15 10:07] 0crat commented on #820
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-15 10:45] g4s8 commented on #609
@0crat status

[2018-03-15 12:41] 0crat commented on #817
The job is not in WBS, won't close the order

[2018-03-15 12:55] yegor256 commented on #811
@carlosmiranda can you show what you see in the profile XML? Click "view sources". Also, please attach a new screenshot. Or it's exactly the same?

[2018-03-15 19:48] yegor256 opened #822 "add QA tasks to agenda"
Let's add quality review jobs to the agenda of QA. Also, let's remove them from the agenda when quality verdicts are given.

[2018-03-15 19:48] yegor256 commented on #822
@0crat assign @carlosmiranda

[2018-03-15 20:29] 0crat commented on #822
@yegor256 The job [#822](https://github.com/zerocracy/farm/issues/822) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/742025031). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the

[2018-03-15 20:35] 0crat commented on #822
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-15 20:35] 0crat commented on #822
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-15 21:00] yegor256 commented on #813
@g4s8 it seems that the problem is in `RnkGithubBug`, which we introduced recently in #576. It makes too many queries to GitHub API, one per each ticket/job in each project, which is too many.

[2018-03-15 23:56] carlosmiranda commented on #811
@yegor256 this is the source:

[code]

Screenshot:
![image](https://user-images.githubusercontent.com/1917892/37496781-7f65aec4-28ef-11e8-8314-37b2c2acbd26.png)

[2018-03-15 23:57] carlosmiranda commented on #728
@0crat waiting #728

[2018-03-15 23:57] 0crat commented on #728
@carlosmiranda The impediment for [#728](https://github.com/zerocracy/farm/issues/728) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-03-16 08:00] amihaiemil commented on #564
@0crat refuse

[2018-03-16 08:01] 0crat commented on #564
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#564](https://github.com/zerocracy/farm/issues/564), please stop working. Reason for job resignation: Order was cancelled

[2018-03-16 08:02] 0crat commented on #564
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-16 08:05] amihaiemil opened #823 "ARC is not paid on merged PR"
See [here](https://github.com/amihaiemil/docker-java-api/pull/50#issuecomment-373543186)

1) Contributor makes PR (there are no ``REV`` or ``QA`` in the project)
2) 0crat tells the ARC: ``please, pay attention to this pull request``
3) 0crat says ``role is REV``
4) PR reviewed by ARC and merged

ARC is not paid, why is that? Should I tell 0crat to assign the PR to me?

[2018-03-16 08:05] 0crat commented on #823
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-16 08:05] 0crat commented on #185
The job [#185](https://github.com/zerocracy/farm/issues/185) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/750820659). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-16 08:11] g4s8 commented on #813
@yegor256 I'm working on similar task https://github.com/zerocracy/farm/pull/821/files it will fetch a milestone for each job during election. Maybe we have to postpone this ticket https://github.com/zerocracy/farm/issues/575 ?

[2018-03-16 08:24] amihaiemil opened #824 "Self-assignment processed 3 times"
See [here](https://github.com/amihaiemil/docker-java-api/issues/46#issuecomment-373636947)

I self assigned a task (after I gave myself the ``DEV`` role) and apparently 0crat processed it 3 times.

1) assigned it to me and deducted 5 points
2) said ``Job gh:amihaiemil/docker-java-api#46 already assigned to @amihaiemil, can't assign to @amihaiemil`` and deducted 5 points
3) said again ``Job gh:amih

[2018-03-16 08:24] 0crat commented on #824
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-16 08:26] amihaiemil opened #825 "Slack: "I don't know who you are...""
After [this](https://github.com/amihaiemil/docker-java-api/issues/46#issuecomment-373636947) self assignment (with the weird behaviour described in #824), 0crat also told me on Slack: ``I don't know who you are, please click here: ...`` 5 times; in between these 5 messages it also told me that I lost 5 points (3 times).

[2018-03-16 08:27] 0crat commented on #825
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-16 08:56] valignatev opened #826 "Handle changing username in GitHub"
Hi, I've changed my GitHub username recently, and it seems that now I can't log into 0crat anymore. It tells me that I have to go through the invitation process again.

[2018-03-16 08:56] 0crat commented on #826
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-16 13:54] g4s8 commented on #574
@0crat waiting

[2018-03-16 14:49] 0crat commented on #574
@g4s8 The impediment for [#574](https://github.com/zerocracy/farm/issues/574) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-16 15:12] g4s8 opened #829 "MongoDB timeout exception"
Footprint page (https://www.0crat.com/footprint/C3NDPUA8L/751531200) fails with error `MongoSocketReadTimeoutException`:
[code]

[2018-03-16 15:13] 0crat commented on #829
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-16 15:14] g4s8 commented on #609
@0crat status

[2018-03-16 15:14] 0crat commented on #609
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#609](https://github.com/zerocracy/farm/issues/609) is [in scope](http://www.zerocracy.com/policy.html#14) for 24days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [9days](http://www.zerocracy.com/policy.html#8)
  * There is a monetary reward

[2018-03-16 15:16] g4s8 commented on #609
@yegor256 PR with fix #797 was merged and 0pdd closed this job, but 0crat didn't remove it from WBS. Could you please do it manually?

[2018-03-16 15:20] g4s8 commented on #558
@yegor256 what is the final decision here? This https://github.com/zerocracy/farm/issues/558#issuecomment-367314678 ?

[2018-03-16 15:43] yegor256 commented on #813
@g4s8 yes, it seems we should. We have to find a solution. We can't ping GitHub that frequently. But we need to be able to collect that information. Maybe we should list to webhooks and store the information we receive somewhere...

[2018-03-16 16:05] amihaiemil commented on #819
@yegor256 goddamn, please stop commiting on master, it's broken now :(

[2018-03-16 16:05] amihaiemil commented on #819
@yegor256
[code]

[2018-03-16 16:06] amihaiemil commented on #528
@0crat waiting for https://github.com/zerocracy/farm/issues/819, master is broken

[2018-03-16 16:06] amihaiemil commented on #363
@0crat waiting for https://github.com/zerocracy/farm/issues/819, master is broken

[2018-03-16 16:07] amihaiemil commented on #412
@0crat waiting for https://github.com/zerocracy/farm/issues/819, master is broken

[2018-03-16 16:07] amihaiemil commented on #89
@0crat waiting for https://github.com/zerocracy/farm/issues/819, master is broken

[2018-03-16 16:07] amihaiemil commented on #185
@0crat waiting for https://github.com/zerocracy/farm/issues/819, master is broken

[2018-03-16 16:07] 0crat commented on #528
@amihaiemil The impediment for [#528](https://github.com/zerocracy/farm/issues/528) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-16 16:08] 0crat commented on #363
@amihaiemil The impediment for [#363](https://github.com/zerocracy/farm/issues/363) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-16 16:08] 0crat commented on #412
@amihaiemil The impediment for [#412](https://github.com/zerocracy/farm/issues/412) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-16 16:09] 0crat commented on #89
@amihaiemil The impediment for [#89](https://github.com/zerocracy/farm/issues/89) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-16 16:09] 0crat commented on #185
@amihaiemil The impediment for [#185](https://github.com/zerocracy/farm/issues/185) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-16 16:31] amihaiemil commented on #819
@yegor256 the build worked only when ran with ``sudo``, which is still not ok; you don't run builds containing who knows what maven plugins, with admin rights...

[2018-03-16 17:16] yegor256 commented on #810
@g4s8 fixed, thanks

[2018-03-16 17:16] #810 closed

[2018-03-16 17:32] 0crat commented on #810
The job is not in WBS, won't close the order

[2018-03-16 17:33] yegor256 commented on #823
@amihaiemil ARC is paid only if the job was assigned to someone. Your PR was not assigned to anyone, that's why it was not really an order. Whether it's wrong or not, it's a different question. But this is how it technically works now.

[2018-03-16 17:34] yegor256 commented on #826
@valignatev This is how it works, see: http://www.zerocracy.com/policy.html#39

[2018-03-16 17:34] #826 closed

[2018-03-16 17:49] 0crat commented on #826
The job is not in WBS, won't close the order

[2018-03-16 18:06] yegor256 opened #830 "prevent duplicate claims"
Motivated by https://github.com/zerocracy/farm/issues/825#issuecomment-373639239

[2018-03-16 18:40] amihaiemil commented on #823
@yegor256 well, I guess if there are no CRs in the project then 0crat should assign PRs to ARC automatically, right?

[2018-03-16 18:42] t-izbassar commented on #423
@g4s8 I checked `Agenda.java` and `Estimates.java` and it seems that they are already setting the role. I'm not quite sure if it's meaning that there is nothing to do or something else was meant by this task. Can you clarify?

[2018-03-16 18:46] #830 closed

[2018-03-16 18:46] yegor256 commented on #825
@amihaiemil it's very difficult to say what happened. For some reason, there were 3 identical claims produced. As if we received GitHub messages three times. I added a block for duplicates in #830. Let me continue to investigate.

[2018-03-16 18:48] 0crat commented on #825
The job [#825](https://github.com/zerocracy/farm/issues/825) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/751847102). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-16 18:48] 0crat commented on #825
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-16 18:48] 0crat commented on #825
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-16 18:56] amihaiemil commented on #825
@yegor256 actually, if you ask me, I believe it's useless to have 0crat send messages to Slack at each action... I think Slack should be solely for applying to projects (DEV) and managing the project (PO), but reporting Github assignments, awards etc seems rather useless, everyone is notified via e-mail by Github anyway. I would take it out entirely :)

[2018-03-16 18:57] yegor256 commented on #823
@amihaiemil hm... this makes sense. I'm thinking what potential problems this may cause...

[2018-03-16 19:00] amihaiemil commented on #823
@yegor256 I think 0crat would just need to check who is the PR's assignee; if it's the ARC, then pay them 15min for the review only, not also the 10min. If 0crat would now simply assign the ARC as reviewer, I imagine they would get 15min + the usual 10min.

[2018-03-16 19:02] 0crat commented on #830
The job is not in WBS, won't close the order

[2018-03-16 19:02] t-izbassar commented on #565
@g4s8 so what implementation is actually considered? If we want to save to `file` we just need the new implementation of `Bank` interface that will save details to file and we will add this to the `banks` map of the `Payroll` class. In that case we don't need `FkPayroll` right?

[2018-03-16 19:05] t-izbassar commented on #194
@yegor256 is this issue is still relevant? Seems like it was one-time bug?

[2018-03-16 19:13] yegor256 commented on #819
@amihaiemil try now please, I made it touch the temp dir only: be45af7f

[2018-03-16 19:27] amihaiemil commented on #819
@yegor256 yes, now it seems to work

[2018-03-16 19:36] yegor256 commented on #194
@t-izbassar I don't think so. I don't remember us fixing it anywhere. When I do:

[code]

This text will be printed to GitHub:

[code]

Even if it's `JohnDoe` in GitHub. Or I'm wrong?

[2018-03-16 19:37] yegor256 commented on #819
@amihaiemil sorry for touching master, but this problem would not be caught by Rultor/Travis anyway, since it's relevant to your local environment only.

[2018-03-16 19:40] yegor256 commented on #824
@amihaiemil partial solution added in #830

[2018-03-16 19:45] g4s8 commented on #423
@t-izbassar you're right, it was fixed already, this ticket is outdated.

[2018-03-16 19:45] #423 closed

[2018-03-16 19:49] g4s8 commented on #565
@t-izbassar yes, we need just new `Bank` implementation whih will be used if user's wallet is a `file`.

[2018-03-16 20:02] 0crat commented on #423
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-16 20:02] 0crat commented on #423
The job [#423](https://github.com/zerocracy/farm/issues/423) is now out of scope

[2018-03-16 20:25] amihaiemil commented on #824
@yegor256 I see; should we leave this open or close?

[2018-03-16 21:13] ypshenychka commented on #423
@0crat quality bad

[2018-03-16 21:23] t-izbassar commented on #423
@ypshenychka what QA rule was violated?

[2018-03-16 21:23] 0crat commented on #423
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-03-16 21:24] 0crat commented on #423
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-17 05:25] yegor256 opened #831 "IllegalStateException: [POST https://www.0crat.com/ghook] failed in 26ms: URLDecoder: Illegal hex characters in escape (..."
https://sentry.io/zerocracy/farm/issues/494855832/

[code]

Full:

[code]

[2018-03-17 05:26] 0crat commented on #831
Job [#831](https://github.com/zerocracy/farm/issues/831) is now in scope, role is `DEV`

[2018-03-17 05:27] 0crat commented on #831
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-17 09:00] ypshenychka commented on #423
@t-izbassar According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

[2018-03-17 16:15] g4s8 commented on #609
@0crat waiting for close

[2018-03-17 16:16] 0crat commented on #609
@g4s8 The impediment for [#609](https://github.com/zerocracy/farm/issues/609) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-17 16:18] g4s8 commented on #558
@0crat waiting for answer https://github.com/zerocracy/farm/issues/558#issuecomment-373746674

[2018-03-17 16:19] 0crat commented on #558
@g4s8 The impediment for [#558](https://github.com/zerocracy/farm/issues/558) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-17 18:46] 0crat commented on #710
The job [#710](https://github.com/zerocracy/farm/issues/710) is now out of scope

[2018-03-17 18:47] 0crat commented on #710
Order was finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-18 10:20] amihaiemil opened #832 "0crat doesn't assign Issues which are in scope"
There are 5 open Issues in my repo, which are in scope (1-2 days old) and 0crat did not yet assign them to anyone. There are 2 people on the project, 1 DEV and 1 PO/ARC/DEV -- maybe it's a bug? Since we have an ARC which is also DEV, maybe 0crat is confused?

**Edit:**
The tasks were assigned after all but still, after 2 days. I think the election/assignment mechanism should still be revised. 2 da

[2018-03-18 10:20] 0crat commented on #832
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-18 19:30] 0crat commented on #609
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-18 19:30] 0crat commented on #609
The job [#609](https://github.com/zerocracy/farm/issues/609) is now out of scope

[2018-03-18 19:30] 0crat commented on #787
The job [#787](https://github.com/zerocracy/farm/issues/787) is now out of scope

[2018-03-18 19:30] 0crat commented on #787
Order was finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-18 21:46] ypshenychka commented on #609
@0crat quality good

[2018-03-18 21:47] 0crat commented on #609
Order was finished, quality is "good": +35 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-18 21:47] 0crat commented on #609
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-19 07:02] 0pdd opened #833 "bootstrap.groovy:66-68: Let's add project adviser in..."
The puzzle `546-c1316cdf` from #546 has to be resolved:

https://github.com/zerocracy/farm/blob/4dcbd6c1c9f880b75baf2ac1579775fbc18f40d2/src/main/resources/com/zerocracy/stk/pm/bootstrap.groovy#L66-L68

The puzzle was created by rultor on 19-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pro

[2018-03-19 07:02] 0pdd commented on #546
@yegor256 the puzzle [#833](https://github.com/zerocracy/farm/issues/833) is still not solved.

[2018-03-19 07:03] 0crat commented on #833
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-19 07:03] 0crat commented on #833
Job [#833](https://github.com/zerocracy/farm/issues/833) is now in scope, role is `DEV`

[2018-03-19 08:12] amihaiemil opened #834 "Ticket titles in agenta, part 2"
Originated from https://github.com/zerocracy/farm/issues/422. The title was implemented as a mandatory attribute in agenda.xsd model, [here](https://github.com/zerocracy/datum/pull/331). We need to continue implementation as suggested by Yegor [here](https://github.com/zerocracy/farm/pull/784#issuecomment-372447596).

I opened a ticket rather than making a PR just to leave a puzzle in the code bec

[2018-03-19 08:12] 0crat commented on #834
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-19 08:14] g4s8 commented on #546
@yegor256 PRs zerocracy/datum#324 and #827 were merged, `@todo` #833 was submitted, can we close then?

[2018-03-19 08:15] g4s8 commented on #633
@0crat refuse

[2018-03-19 08:15] g4s8 commented on #613
@0crat waiting

[2018-03-19 08:15] 0crat commented on #633
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#633](https://github.com/zerocracy/farm/issues/633), please stop working. Reason for job resignation: Order was cancelled

[2018-03-19 08:15] 0crat commented on #613
@g4s8 The impediment for [#613](https://github.com/zerocracy/farm/issues/613) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-19 08:16] 0crat commented on #633
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-19 10:24] carlosmiranda commented on #822
@0crat waiting. @yegor256 will be on this very soon - just quite busy today and possibly tomorrow. :)

[2018-03-19 10:24] 0crat commented on #822
@carlosmiranda Can't understand "waiting.", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the stat

[2018-03-19 10:24] carlosmiranda commented on #822
@0crat wait

[2018-03-19 10:24] 0crat commented on #822
@carlosmiranda The impediment for [#822](https://github.com/zerocracy/farm/issues/822) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-03-19 10:55] 0pdd opened #835 "remove_stale_users.groovy:50-52: Let's implement 'Delete..."
The puzzle `555-426f09d2` from #555 has to be resolved:

https://github.com/zerocracy/farm/blob/ebd728133d2cdbe36cf562ecc96a31e51a37e1b0/src/main/resources/com/zerocracy/stk/pmo/people/remove_stale_users.groovy#L50-L52

The puzzle was created by g4s8 on 09-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "don

[2018-03-19 10:55] 0pdd commented on #555
@yegor256 the puzzle [#835](https://github.com/zerocracy/farm/issues/835) is still not solved.

[2018-03-19 10:55] 0crat commented on #835
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-19 10:55] 0crat commented on #835
Job [#835](https://github.com/zerocracy/farm/issues/835) is now in scope, role is `DEV`

[2018-03-19 11:27] g4s8 commented on #555
@yegor256 PR #771 was merged, `@todo` #835 was submitted, can we close?

[2018-03-19 12:44] yegor256 commented on #833
@0crat boost 2x

[2018-03-19 12:44] 0crat commented on #833
@yegor256 Boost 2x was set

[2018-03-19 12:44] 0crat commented on #833
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-19 12:49] yegor256 commented on #833
@0crat status

[2018-03-19 12:49] 0crat commented on #833
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#833](https://github.com/zerocracy/farm/issues/833) is [in scope](http://www.zerocracy.com/policy.html#14) for 6hr
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is 30 minutes/points
  * These users are banned and wo

[2018-03-19 12:51] yegor256 commented on #833
@0crat assign @g4s8

[2018-03-19 12:52] 0crat commented on #833
@yegor256 The job [#833](https://github.com/zerocracy/farm/issues/833) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/781253424). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-19 12:52] 0crat commented on #833
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-19 12:53] yegor256 commented on #558
@g4s8 yes, let's implement the schedule I proposed

[2018-03-19 12:56] yegor256 commented on #834
@amihaiemil looks like a duplicate of #422. Why do we need a new ticket?

[2018-03-19 12:56] #834 closed

[2018-03-19 13:08] amihaiemil commented on #834
@yegor256 because #422 should be closed now, I've done 30min work with the first PR and then working on datum to add the title attribute.

Since #422 needs to be closed, we need a ticket to continue implementation, since it's not finished. Either I make a PR in /farm with a puzzle, or open an Issue. I opted for openning this Issue since it's faster and cheaper -- project only pays 15min for the au

[2018-03-19 13:10] yegor256 commented on #546
@g4s8 thanks

[2018-03-19 13:10] #546 closed

[2018-03-19 13:11] 0crat commented on #834
The job is not in WBS, won't close the order

[2018-03-19 13:12] yegor256 commented on #834
@amihaiemil don't worry about costs, let's follow the procedure

[2018-03-19 13:14] yegor256 commented on #832
@amihaiemil I think we should create some mechanism to inform project ARC and PO about election problems. Sometimes our `elect_performer.groovy` may fail to find the right candidate. And this may happen rather frequently. We have to put these situations into some buffer of "problems" and report to ARC/PO daily or when it seems relevant.

[2018-03-19 13:17] #824 closed

[2018-03-19 13:18] yegor256 opened #836 "filter our "Notify" events in footprint"
Let's filter them out.

[2018-03-19 13:19] amihaiemil commented on #832
@yegor256 yes, it could be an improvement, but only doing that is useless. The only thing they can do when receiving that report is assign manually and this is punished. If you want it to be a real improvement, then there should be no punishments for manual assignment if there are registered problems with the election for that task.

[2018-03-19 13:25] 0crat commented on #546
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-19 13:25] 0crat commented on #546
The job [#546](https://github.com/zerocracy/farm/issues/546) is now out of scope

[2018-03-19 13:32] 0crat commented on #824
The job is not in WBS, won't close the order

[2018-03-19 13:39] yegor256 commented on #832
@amihaiemil first, we have to see what is the problem. Now it's not obvious. Maybe all your project members had overfull agendas. Let's first see.

[2018-03-19 13:46] g4s8 opened #837 "0crat didn't add pull request to WBS"
0crat didn't add this PR https://github.com/zerocracy/farm/pull/805 to WBS, see https://github.com/zerocracy/farm/pull/805#issuecomment-374216684

[2018-03-19 13:47] 0crat commented on #837
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-19 13:58] g4s8 commented on #813
@yegor256 @amihaiemil I think it can be solved with this issue: https://github.com/jcabi/jcabi-github/issues/1369

[2018-03-19 14:08] #836 closed

[2018-03-19 14:23] 0crat commented on #836
The job is not in WBS, won't close the order

[2018-03-19 14:43] ypshenychka commented on #546
@0crat quality good

[2018-03-19 14:46] 0crat commented on #546
Order was finished, quality is "good": +35 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-19 14:46] 0crat commented on #546
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-19 16:24] yegor256 commented on #837
@g4s8 it seems that we simply missed the webhook from GitHub, most probably due to the problem with API quota. It's a temporary issue, we can't really fix it.

[2018-03-19 16:24] #837 closed

[2018-03-19 16:30] g4s8 opened #838 "0crat added PR to WBS as DEV job"
0crat added #805 PR as `DEV` job with 30 min. budget: https://github.com/zerocracy/farm/pull/805#issuecomment-374274975

[2018-03-19 16:30] 0crat commented on #838
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-19 16:39] 0crat commented on #837
The job is not in WBS, won't close the order

[2018-03-19 16:40] 0crat commented on #838
The job [#838](https://github.com/zerocracy/farm/issues/838) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/781640154). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-19 16:40] 0crat commented on #838
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-19 16:40] 0crat commented on #838
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-19 16:55] yegor256 commented on #838
@g4s8 I believe it's fixed in b65ff54

[2018-03-19 16:55] #838 closed

[2018-03-19 17:07] yegor256 commented on #555
@g4s8 thanks!

[2018-03-19 17:07] #555 closed

[2018-03-19 17:07] yegor256 commented on #835
@0crat assign @g4s8

[2018-03-19 17:08] 0crat commented on #835
@yegor256 The job [#835](https://github.com/zerocracy/farm/issues/835) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/781708298). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-19 17:09] 0crat commented on #835
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-19 17:13] 0crat commented on #838
Order was finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-19 17:13] 0crat commented on #838
The job [#838](https://github.com/zerocracy/farm/issues/838) is now out of scope

[2018-03-19 17:18] #552 closed

[2018-03-19 17:18] 0pdd commented on #552
The puzzle `366-6dccce28` has disappeared from the source code, that's why I closed this issue.

[2018-03-19 17:18] 0pdd opened #840 "PeopleTest.java:39-41: Add tests for details(), links(),..."
The puzzle `552-b158b0f7` from #552 has to be resolved:

https://github.com/zerocracy/farm/blob/28423cccaf280316365df9ec972151ac931cdf76/src/test/java/com/zerocracy/pmo/PeopleTest.java#L39-L41

The puzzle was created by g4s8 on 12-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-03-19 17:18] 0crat commented on #840
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-19 17:18] 0pdd opened #841 "People.java:44-47: Let's keep agenda inside `people.xml`..."
The puzzle `552-9d3ef349` from #552 has to be resolved:

https://github.com/zerocracy/farm/blob/28423cccaf280316365df9ec972151ac931cdf76/src/main/java/com/zerocracy/pmo/People.java#L44-L47

The puzzle was created by g4s8 on 10-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed a

[2018-03-19 17:19] 0pdd commented on #366
@yegor256 2 puzzles [#840](https://github.com/zerocracy/farm/issues/840), [#841](https://github.com/zerocracy/farm/issues/841) are still not solved; solved: [#552](https://github.com/zerocracy/farm/issues/552).

[2018-03-19 17:19] 0crat commented on #840
Job [#840](https://github.com/zerocracy/farm/issues/840) is now in scope, role is `DEV`

[2018-03-19 17:19] 0pdd commented on #552
@0pdd 2 puzzles [#840](https://github.com/zerocracy/farm/issues/840), [#841](https://github.com/zerocracy/farm/issues/841) are still not solved.

[2018-03-19 17:19] 0crat commented on #841
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-19 17:19] 0crat commented on #841
Job [#841](https://github.com/zerocracy/farm/issues/841) is now in scope, role is `DEV`

[2018-03-19 17:23] 0crat commented on #555
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-19 17:23] 0crat commented on #555
The job [#555](https://github.com/zerocracy/farm/issues/555) is now out of scope

[2018-03-19 17:34] 0crat commented on #552
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-19 17:34] 0crat commented on #552
The job [#552](https://github.com/zerocracy/farm/issues/552) is now out of scope

[2018-03-19 17:36] 0crat commented on #668
The job [#668](https://github.com/zerocracy/farm/issues/668) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/781737084). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-03-19 18:19] ypshenychka commented on #555
@0crat quality good

[2018-03-19 18:21] 0crat commented on #555
Order was finished, quality is "good": +35 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-19 18:21] 0crat commented on #555
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-19 18:21] ypshenychka commented on #552
@0crat quality good

[2018-03-19 18:24] 0crat commented on #552
Order was finished, quality is "good": +35 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-19 18:24] 0crat commented on #552
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-20 08:38] 0pdd opened #843 "Agenda.java:37-42: Title element, of an order in agenda,..."
The puzzle `422-1711e986` from #422 has to be resolved:

https://github.com/zerocracy/farm/blob/4ffd74260a8ce8c0916af24de5b58d004e6b7e31/src/main/java/com/zerocracy/pmo/Agenda.java#L37-L42

The puzzle was created by amihaiemil on 19-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is f

[2018-03-20 08:38] 0pdd commented on #422
@g4s8 the puzzle [#843](https://github.com/zerocracy/farm/issues/843) is still not solved.

[2018-03-20 08:38] 0crat commented on #843
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-20 08:38] 0crat commented on #843
Job [#843](https://github.com/zerocracy/farm/issues/843) is now in scope, role is `DEV`

[2018-03-20 08:41] g4s8 commented on #566
@yegor256 it was fixed in #796, can we close?

[2018-03-20 09:16] carlosmiranda commented on #812
@yegor256 what do you think of this?

[2018-03-20 09:26] carlosmiranda opened #844 "Limit students based on mentor's reputation"
Right now we allow up to [16 students](http://www.zerocracy.com/policy.html#1) per mentor. We do not appear to be limiting the number of students regardless if someone has zero or negative reputation.

I suggest we set the number of maximum students based on the mentor's reputation. In the current system new and unknown users can basically swamp the platform with suprious invites. Also, we should

[2018-03-20 09:26] 0crat commented on #844
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-20 10:05] carlosmiranda commented on #822
@yegor256 see PR #845

[2018-03-20 10:09] filfreire opened #846 "Total points seem to have reset on Personal and Team page"
I had more than 500 points.

Recently I only get a display of 60 points on personal and team page.

Username is `filfreire`

![screenshot_20180320-100601](https://user-images.githubusercontent.com/11976836/37648347-a164d39e-2c26-11e8-88b8-736dd285d72b.png)

[2018-03-20 10:09] 0crat commented on #846
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-20 10:51] amihaiemil opened #848 "Reputation should not drop below 2048, the "graduation" point"
The reputation does not mean that you are a good developer at all -- if you think it means that, then the drop makes sense, because if you don't practice programming for a while, you forget, lose experience). And it doesn't mean you are a good developer or architect, since you can achieve it in many ways besides writing code or designing an application.

Instead, the reputation's only real purpose

[2018-03-20 10:51] 0crat commented on #848
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-20 11:13] yegor256 commented on #846
@filfreire we remove all points earner earlier than 90 days ago in `refresh_awards.groovy`. Most probably your points were earned some time before that.

[2018-03-20 11:13] #846 closed

[2018-03-20 11:18] amihaiemil opened #849 "Reputation points removed too early"
According to the Team page, I lost all my reputation:

![image](https://user-images.githubusercontent.com/6305156/37651513-0b77439c-2c41-11e8-82a3-cee96e8018d5.png)

But it hasn't even been 3 months yet since I work with ZC. Started at the beginning of January and 3 months would be somewhere at the beginning of April.

I say "according to the Team page" because they are still displayed on my profi

[2018-03-20 11:19] 0crat commented on #849
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-20 11:29] 0crat commented on #846
The job is not in WBS, won't close the order

[2018-03-20 12:14] rexim commented on #848
The @yegor256's point was "it's bad to drop somebody from 4000 to a complete zero", which can happen in just 3 month right now. So we want to slow down that process a little bit. But it is difficult to control the dropping rate if all of the awards obey the 90 days rule. What if we make different kinds of awards live different amount of time? For example, award for `DEV` closed a bug could live lo

[2018-03-20 12:27] rexim commented on #848
Btw, with that mechanism we could "freeze" the awards earned before the "graduation".

[2018-03-20 12:32] amihaiemil commented on #848
@rexim Given the simple purpose of the reputation (as I explained in the description), the whole mechanism you are describing is rather pointless... so far, users just need to learn the platform, period. Do you see it as a realistic representation for something else? I really don't.

[2018-03-20 12:41] rexim commented on #848
@amihaiemil yes, absolutely correct. This is because I didn't take your interpretation of the purpose of the reputation into account when I wrote my proposal.

[2018-03-20 13:01] g4s8 commented on #849
@amihaiemil I think you can't see your reputation on "Team" page because we start caching reputation in https://github.com/zerocracy/farm/pull/790 so it will be updated automatically when you get reputation points, try to find it on your profile page: https://www.0crat.com/u/amihaiemil

[2018-03-20 13:06] amihaiemil commented on #849
@g4s8 I don't see how caching could play a role here :D

[2018-03-20 13:13] t-izbassar commented on #848
@amihaiemil well, reputation is not only showing how well you know the platform. It shows efficiency of performers and how much values they bring to projects. That might be important for those who wants to hire zerocrat programmers to their projects. Also reputation affects the logic: with lower reputation you have reduced jobs limit, you can't apply to new non-sandbox projects and you can't have

[2018-03-20 13:17] amihaiemil commented on #848
@t-izbassar

Agreed, but that efficiency, performance and speed differenciation is represented by the difference from 2048 up. Graduation point is from where we should start drawing more conclusions related to efficiency; until graduation, it is assumed that they are still learning.

The rest of your comment I don't really understand, sorry. We already have tose milestones which would be respected

[2018-03-20 13:20] t-izbassar commented on #848
@amihaiemil well I suggested to expand you proposal. So you don't go below 256 if you already reached that point. You don't go below 512 and 1024 as well. Just to have more non reducible checkpoints. Level it's just a distinction, which might be taken in to consideration. So if you are Level 4 it means that your reputation 2048 or higher - it can't go below that point.

[2018-03-20 13:21] amihaiemil commented on #848
@t-izbassar I see now, thanks. Yes, could also be an improvement.

[2018-03-20 14:04] g4s8 opened #852 "422 Unprocessable Entity for equity pdf download"
I tried to download equity pdf but got an error:
[code]

[2018-03-20 14:04] 0crat commented on #852
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-20 14:59] amihaiemil commented on #848
@yegor256 Are you suggesting to replace reputation with badges, once it reaches over 2048?

[2018-03-20 15:07] yegor256 commented on #848
@amihaiemil no. Once you reach 2048, you get a badge. That's all. You keep this badge on your account and it works for you when key decisions are made by the system.

[2018-03-20 15:10] g4s8 opened #853 "Signature test sometimes fails"
`SignatureTest` may fail time to time, e.g. here http://www.rultor.com/t/14157-374290049
also reproduced it twice on local machine in different branches.
[code]

[2018-03-20 15:10] 0crat commented on #853
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-20 15:11] amihaiemil commented on #848
@yegor256 But I am a bit confused; will the reputation drop below 2048 once we have the badge? What is the purpose of the reputation in the system if we already have the badge and the system takes that into acoound? :)

[2018-03-20 15:46] yegor256 commented on #848
@amihaiemil yes, the reputation will go up and down by itself. But once you have a badge, it stays with you forever. When it's time to decide who can be a mentor, we select those who have "mentor" badge. We will use badges instead of reputation to make those decisions.

[2018-03-20 15:47] amihaiemil commented on #848
@yegor256 I see, nice idea; but then reputation seems a bit useless; it would just give a short idea about how much and how fast the person is working on ZC, but I guess everyone will pay attention to the badges more

[2018-03-20 15:51] yegor256 commented on #848
@amihaiemil well, the reputation will matter for many other situations. But for some cases we will pay attention to the badges.

[2018-03-20 15:51] yegor256 commented on #848
@amihaiemil another idea here would be to increase 90 days to, say, 180 days.

[2018-03-20 16:22] 0crat commented on #853
Job [#853](https://github.com/zerocracy/farm/issues/853) is now in scope, role is `DEV`

[2018-03-20 16:23] g4s8 opened #854 "Speed bonus §36 almost unachievable"
It almost not possible to complete the task less than for 4 hours as in [§36](http://www.zerocracy.com/policy.html#36), because the task should pass not only `DEV` stage, but also CR by `REV`, then PR merge by `ARC`, then response from task author to close, then `QA` review. Each stage may wait for performer about few hours.

[2018-03-20 16:23] 0crat commented on #854
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-20 16:23] 0crat commented on #853
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-20 16:39] amihaiemil commented on #848
@yegor256 If reputation will keep going up and down, then it seems to me we are just artificially hiding the mentioned inconsistencies with labels -- if you want badge (I also like the idea), then I think it should be how @t-izbassar suggested above. Receiving a badge means you "leveld up" and your reputation will not go lower than that point.

And whatever calculations 0crat does, it should do it

[2018-03-20 16:43] g4s8 commented on #833
@0crat status

[2018-03-20 16:43] 0crat commented on #833
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#833](https://github.com/zerocracy/farm/issues/833) is [in scope](http://www.zerocracy.com/policy.html#14) for 1days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [1days](http://www.zerocracy.com/policy.html#8)
  * There is a monetary reward a

[2018-03-20 16:49] g4s8 opened #855 "Missed Guts documentation"
It's not clear what is `Guts` and how it's used by other classes.

[2018-03-20 16:50] 0crat commented on #855
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-20 17:00] amihaiemil commented on #849
@g4s8 I think it's definetely a bug on the Team page (I don't really understand what the caching you mentioned has to do with it), it's not possible that almost everyone reached 0 now. Besides, I think most of us starter working only in January and there aren't yet 3 months since then.

[2018-03-20 17:03] g4s8 commented on #849
@amihaiemil I mean that you may see different reputation values on team page and on profile page, on team page reputation will be synchronized after first reputation change

[2018-03-20 17:05] amihaiemil commented on #849
@g4s8 but why is my reputation ``-`` on Team page? My reputation should not have changed and, according to your explanation, if it did change and reached 0, I should still see ``1680`` on Team page and it would be ``30`` at my next award.

[2018-03-20 17:14] g4s8 commented on #849
@amihaiemil on your profile page reputation calculated from your awards: https://www.0crat.com/u/amihaiemil/awards
it's expensive operation for "Team" page, so we added field `reputation` in `people.xml` where we keep all awards on every awards update (claim `Award points were added` see `update_reputation.groovy`). On your next award this value will be updated in `people.xml` and become `1680 + 3

[2018-03-20 17:18] amihaiemil commented on #849
@g4s8 ah, makes sense now... thanks. Closing this, I'll reopen if it's the case :)

[2018-03-20 17:18] #849 closed

[2018-03-20 17:28] g4s8 opened #856 "java.lang.ArrayIndexOutOfBoundsException in slack bot"
Slack bot failed to answer for `hello`:

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-20 17:28] 0crat commented on #856
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-20 17:33] 0crat commented on #849
The job is not in WBS, won't close the order

[2018-03-21 08:31] yegor256 commented on #856
@g4s8 a typo, fixed, thanks: d9a1e3dee5491c86392a282956738f8b50455203

[2018-03-21 08:31] #856 closed

[2018-03-21 08:36] yegor256 commented on #854
@g4s8 the bonus is not implemented yet, that's for starter. Second, I agree that the timing should be increased. See: https://github.com/zerocracy/zerocracy.github.io/commit/0c800d5301799418c1e1b646f4421c00c52f3efa

[2018-03-21 08:36] #854 closed

[2018-03-21 08:46] 0crat commented on #856
The job is not in WBS, won't close the order

[2018-03-21 08:51] 0crat commented on #854
The job is not in WBS, won't close the order

[2018-03-21 14:44] yegor256 commented on #848
@amihaiemil we can't grant any reputation to anyone for a lifetime. You can earn reputation now, but stop working for a year. You come back in a year with 1024 points -- it's not correct. You have to earn them again. But a badge will help us understand how much you earned before.

[2018-03-21 14:58] amihaiemil commented on #848
@yegor256 Yes, I agree with that idea, but I'm saying the reputation that should really matter in the system is only the one above the graduation point. You only graduate once and even if you stop working for a year, you don't forget how the model works and you can come back -- graduation is the one that shouldn't be erased.

And the issue with going bellow graduation point (and reaching 0 eventua

[2018-03-21 15:02] amihaiemil commented on #848
@yegor256 on the other hand, truth is that it's rather hard to reach -256 anyway, since you're supposed to know the model already and at least you can find some bugs to improve the project and earn reputation... I guess we are fine with the badges then :-?

[2018-03-21 16:09] amihaiemil opened #857 "/team should be visible without login"
Currently, the Team page requires login:

![image](https://user-images.githubusercontent.com/6305156/37721711-ebe07830-2d32-11e8-8e6d-676aa051c6f7.png)

I suppose it's a bug, it is information that should be public to any possible client (and also Yegor linked it on his article, suggesting that it should be visible to anyone)

[2018-03-21 16:18] amihaiemil commented on #497
@yegor256 PR #806 was merged, can we close this?

[2018-03-22 08:35] 0crat commented on #512
The job [#512](https://github.com/zerocracy/farm/issues/512) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/810872445); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear

[2018-03-22 09:29] yegor256 commented on #848
@amihaiemil yes, let's go with the badges idea. Let's have three levels: "master" (when you reach 2048), "guru" (when it's 4096) and "champion" (when it's 16384).

BTW, if you work full time, 7 days a week, 4 hours per day, closing 8 tasks every day, your 90 reputation will be 21600.

[2018-03-22 09:31] yegor256 commented on #497
@amihaiemil thanks

[2018-03-22 09:31] #497 closed

[2018-03-22 09:32] yegor256 commented on #857
@amihaiemil is it so difficult to click "login" and authenticate yourself via GitHub?

[2018-03-22 09:46] 0crat commented on #497
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-22 09:46] 0crat commented on #497
The job [#497](https://github.com/zerocracy/farm/issues/497) is now out of scope

[2018-03-22 09:47] amihaiemil commented on #857
@yegor256 no, it isn't, but prospective clients, managers, who just want to see the table, do not have a Github account :)

[2018-03-22 09:48] amihaiemil commented on #848
@yegor256

We both know that is the best case scenario. That won't be possible until there are many projects on the platform. Human factor is still high, we wait a lot for others :)

[2018-03-22 09:49] amihaiemil commented on #848
@yegor256 but yeah, badges are fine. I'll edit the description here.

[2018-03-22 10:04] yegor256 commented on #857
@amihaiemil they are not our friends, if they don't have GitHub accounts :)

[2018-03-22 10:05] 0crat commented on #848
Job [#848](https://github.com/zerocracy/farm/issues/848) is now in scope, role is `DEV`

[2018-03-22 10:06] 0crat commented on #848
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-22 10:18] amihaiemil commented on #857
@yegor256 well, this is a contradiction with what you've told me a few days ago. I suggested that messaging Slack everytime with updates, assignments, awards etc is pointless since everyone receives them from Github... and you said that they might not check (I understood might not have) the Github account.

If everyone must have a Github account, they will receive notifications from Github... and

[2018-03-22 10:19] amihaiemil commented on #857
@yegor256 Anyway, to not deviate, I really think ``/team`` and maybe other pages as well should be visible without login :D

[2018-03-22 10:33] #857 closed

[2018-03-22 10:36] yegor256 commented on #844
@carlosmiranda make sense, but I'm proposing a different formula. First, to invite someone you have to have 1024 reputation (this is already in place). Let's add a price for this operation. Every time you invite someone, you pay, say 128 points.

[2018-03-22 10:37] yegor256 opened #858 "ARC point of view improvements"
Let's make the project view more user friendly. I'll take care of this.

[2018-03-22 10:48] 0crat commented on #857
The job is not in WBS, won't close the order

[2018-03-22 10:49] ypshenychka commented on #497
@amihaiemil According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add details to the registered [impediment](https://github.com/zerocracy/farm/issues/497#issuecomment-372121842).

[2018-03-22 10:56] amihaiemil commented on #497
@ypshenychka done, thanks

[2018-03-22 12:38] ypshenychka commented on #497
@amihaiemil Thanks!

[2018-03-22 12:38] ypshenychka commented on #497
@0crat quality good

[2018-03-22 12:39] ypshenychka commented on #497
@yegor256 My bad. Wrong quality mark. It can't be undone though.

[2018-03-22 12:39] 0crat commented on #497
Order was finished, quality is "good": +35 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-22 12:39] 0crat commented on #497
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-22 12:55] 0crat commented on #820
Job [#820](https://github.com/zerocracy/farm/issues/820) is now in scope, role is `DEV`

[2018-03-22 12:55] yegor256 commented on #815
@amihaiemil I don't see what we can do with. I'm closing.

[2018-03-22 12:55] #815 closed

[2018-03-22 12:56] 0crat commented on #808
Job [#808](https://github.com/zerocracy/farm/issues/808) is now in scope, role is `DEV`

[2018-03-22 12:57] 0crat commented on #808
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-22 13:03] yegor256 commented on #812
@carlosmiranda fixed in https://github.com/zerocracy/datum/commit/088a882d19deed43f2a387ffde54a6bdbacdc15a You will see new colors after the next release of Datum.

[2018-03-22 13:03] #812 closed

[2018-03-22 13:04] 0crat commented on #812
The job [#812](https://github.com/zerocracy/farm/issues/812) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/811306551); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-03-22 13:04] yegor256 commented on #813
@amihaiemil please, rename the ticket and I will accept it. The problem here is that we run out of GitHub quota when using "ranks" during election.

[2018-03-22 13:04] 0crat commented on #812
Job `gh:zerocracy/farm#812` already assigned to @yegor256, can't assign to @yegor256

[2018-03-22 13:05] 0crat commented on #812
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-03-22 13:05] 0crat commented on #812
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-22 13:05] yegor256 commented on #816
@biboran I'm closing, it was a temporary issue, already reported in #813

[2018-03-22 13:05] #816 closed

[2018-03-22 13:06] #819 closed

[2018-03-22 13:06] yegor256 commented on #794
@amihaiemil fixed already, thanks

[2018-03-22 13:06] #794 closed

[2018-03-22 13:06] yegor256 commented on #791
@amihaiemil fixed already, thanks

[2018-03-22 13:06] #791 closed

[2018-03-22 13:08] yegor256 commented on #829
@g4s8 I increased the delay to 15sec. That's the best we can do, I believe. Thanks.

[2018-03-22 13:08] #829 closed

[2018-03-22 13:10] 0crat commented on #815
The job is not in WBS, won't close the order

[2018-03-22 13:12] amihaiemil commented on #813
@yegor256 done

[2018-03-22 13:20] Vatavuk opened #859 "Internal Application Error when sending join request form"
I've got error response while sending new request form to join zerocracy.

[code]

[2018-03-22 13:20] 0crat commented on #859
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-22 13:20] 0crat commented on #812
Order was finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-22 13:20] 0crat commented on #812
The job [#812](https://github.com/zerocracy/farm/issues/812) is now out of scope

[2018-03-22 13:20] 0crat commented on #816
The job is not in WBS, won't close the order

[2018-03-22 13:24] 0crat commented on #829
The job is not in WBS, won't close the order

[2018-03-22 13:37] yegor256 commented on #859
@Vatavuk you seem to be trying to send the form multiple time. Was it the case?

[2018-03-22 14:27] Vatavuk commented on #859
@yegor256 The error popped out when I submitted the form for the first time. Above is the stack trace from the second attempt.
Now I submitted it through IE and it works.

[2018-03-22 15:32] yegor256 commented on #692
@g4s8 fixed in 1642c26

[2018-03-22 15:32] #692 closed

[2018-03-22 15:35] yegor256 commented on #859
@Vatavuk I don't think it's reproducible. The text `someText` was submitted in the form. I believe, it was a temporary problem on the user side. Anyway, it's not fixable.

[2018-03-22 15:35] #859 closed

[2018-03-22 15:48] 0crat commented on #692
The job [#692](https://github.com/zerocracy/farm/issues/692) is now out of scope

[2018-03-22 17:36] g4s8 opened #860 "Speed bonus is not implemented"
According to [§36](http://www.zerocracy.com/policy.html#36) a user should get 5 extra minutes if he completed a job less than 48 hours.

[2018-03-22 17:36] 0crat commented on #860
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-22 23:24] carlosmiranda commented on #844
@yegor256 sounds good to me

[2018-03-22 23:44] allanwsilva opened #861 "Allow Github user update"
If I change my Github user, I should be able to update it in 0crat

Maybe implementing a bot command to allow that? That command would automatically replace the "old" user ID with the new one.

[2018-03-22 23:45] 0crat commented on #861
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-23 05:26] carlosmiranda commented on #706
@g4s8 @yegor256 see PR #862

[2018-03-23 07:41] amihaiemil opened #863 "Never received /join notification"
More people have filed the /join formular, apparently, yet I have never received any notification even though I've been over 1024 rep for a while

[2018-03-23 07:41] 0crat commented on #863
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-23 12:42] yegor256 commented on #844
@carlosmiranda fixed in 590109022c5f31e59106520b2ff23bd4d73834ee

[2018-03-23 12:42] #844 closed

[2018-03-23 12:49] 0crat commented on #860
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-23 12:51] 0crat commented on #813
Job [#813](https://github.com/zerocracy/farm/issues/813) is now in scope, role is `DEV`

[2018-03-23 12:51] 0crat commented on #860
Job [#860](https://github.com/zerocracy/farm/issues/860) is now in scope, role is `DEV`

[2018-03-23 12:56] amihaiemil opened #864 "Punish mentors if students quit or get kicked out?"
This may make sense, but on the other hand, mentors have no real control -- they could make big efforts to explain the model (actually earning that commision), but it's still up to the student. And it is very hard to know the level of determination and commitment just by exchanging a few emails after the person submits the ``/join`` form.

[2018-03-23 12:56] 0crat commented on #864
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-23 12:57] 0crat commented on #860
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-23 12:58] 0crat commented on #844
The job is not in WBS, won't close the order

[2018-03-23 13:09] yegor256 commented on #861
@allanwsilva see http://www.zerocracy.com/policy.html#39 It's impossible :(

[2018-03-23 13:09] #861 closed

[2018-03-23 13:10] yegor256 commented on #864
@amihaiemil the mentor earns money when the student works. So, it's mentor's responsibility to take care of the student. If the student fails, we have to punish the mentor. I think so.

[2018-03-23 13:13] amihaiemil commented on #864
@yegor256 the mentor earns, but not for nothing. The mentor is supposed to teach the student (e.g. I imagine I would take part in tickets of my students, advise them where to leave puzzles etc). So after all this, what's the mentor's fault that the student did not want to participate anymore?

[2018-03-23 13:25] 0crat commented on #861
The job is not in WBS, won't close the order

[2018-03-23 13:31] hofmanndavid opened #865 "Add Payoneer as a payment method"
It works in 200 countries and has an API you can use to integrate https://www.payoneer.com/products/integrated-payments-api/

In Paraguay, Paypal doesn't work for receiving money and we have no local Exchangers of crypto-currencies.

[2018-03-23 13:31] 0crat commented on #865
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-23 13:35] yegor256 commented on #865
@hofmanndavid I emailed them and they refused to accept us. I don't know why.

[2018-03-23 13:53] g4s8 commented on #574
@yegor256 it was implemented in #828 PR, can we close?

[2018-03-23 13:54] amihaiemil commented on #865
@yegor256 I suppose, if there is no wallet set, the earned money will just stay there, right? Until there is a registered wallet and they can be transfered.

[2018-03-23 14:11] yegor256 commented on #863
@amihaiemil I hope it's fixed in 3ffa5ec Let's monitor...

[2018-03-23 14:12] 0crat commented on #863
The job [#863](https://github.com/zerocracy/farm/issues/863) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/821411067); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-03-23 14:12] 0crat commented on #863
Job `gh:zerocracy/farm#863` already assigned to @yegor256, can't assign to @yegor256

[2018-03-23 14:15] yegor256 opened #866 "public donations to open source projects"
Let's implement, as explained here: https://github.com/zerocracy/datum/issues/212

[2018-03-23 16:21] #866 closed

[2018-03-23 16:36] 0crat commented on #866
The job is not in WBS, won't close the order

[2018-03-23 19:42] amihaiemil opened #867 "More serious schooling"
We need a more serious schooling system, not just the 2 sandbox projects (which are owned by Yegor, so it's not ok, either way).

One of the principles is that "it's not a school", we expect programmers to learn on their own, understand the model and so on. Then, when they fail to do so, they just leave and we are apparently ok with that. But here is the flaw:

A developer starts working on produc

[2018-03-23 19:42] 0crat commented on #867
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-23 20:46] yegor256 commented on #574
@g4s8 thanks!

[2018-03-23 20:46] #574 closed

[2018-03-23 20:48] yegor256 commented on #864
@amihaiemil "didn't want to participate" and "failed 10 tickets" are two different things. If the student doesn't want to be with us anymore, he/she just has to go on vacation and that's it. But -256 reputation means that the student really caused a lot of damage to some projects.

[2018-03-23 20:51] yegor256 commented on #865
@amihaiemil I don't know about the wallet. I filled out their form, they emailed me back with some questions. I answered them. And then they emailed me a few days later:

<img width="515" alt="screen shot 2018-03-23 at 11 50 38 pm" src="https://user-images.githubusercontent.com/526301/37852805-0a422102-2ef5-11e8-87db-b66a4c90383e.png">

[2018-03-23 20:55] yegor256 commented on #867
@amihaiemil my previous experience in Teamed demonstrated that there is nothing you can do with that. Some people are just interested to work by the strict rules, while others (the majority) prefer the traditional model with no rules. We can't change people. We can only filter them out faster. At the moment, the acceptance rate in ZC is higher than it was in Teamed. So, I see no problem. When we a

[2018-03-23 21:03] 0crat commented on #574
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-23 21:03] 0crat commented on #574
The job [#574](https://github.com/zerocracy/farm/issues/574) is now out of scope

[2018-03-24 07:25] ypshenychka commented on #574
@0crat quality good

[2018-03-24 08:14] amihaiemil commented on #867
@yegor256 The problem is not that they get angry and leave; the problem is that they might do so after they've merged a few PRs on which they worked more then they got paid (because they did not understand the model).

To that situation, the project cannot say "so be it", since the situation is in the project's advantage -- if more people do the same thing, then the project eventually earns a lot

[2018-03-24 08:35] amihaiemil opened #868 "Why -256 on both bootstrap and publish?"
According to the Policy, you get -256 rep for both bootstraping and publishing. I understand the reasoning behind the reputation drop, but I think it is too much, publishing should not drop the reputation, especially since it is understood that 9/10 projects will want to be published on the Board.

If you think 256 is too little and it all should really cost 512, then I think it should drop with 5

[2018-03-24 08:35] 0crat commented on #868
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-24 09:29] carlosmiranda commented on #844
@yegor256 no payment for raising  this ticket?

[2018-03-24 16:20] amihaiemil commented on #435
@0crat refuse

[2018-03-24 16:20] amihaiemil commented on #528
@0crat refuse

[2018-03-24 16:21] amihaiemil commented on #363
@yegor256 Are you sure this is still a valid bug?

[2018-03-24 16:21] amihaiemil commented on #412
@0crat refuse

[2018-03-24 16:21] amihaiemil commented on #89
@0crat refuse

[2018-03-24 16:21] 0crat commented on #528
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#528](https://github.com/zerocracy/farm/issues/528), please stop working. Reason for job resignation: Order was cancelled

[2018-03-24 16:24] 0crat commented on #412
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#412](https://github.com/zerocracy/farm/issues/412), please stop working. Reason for job resignation: Order was cancelled

[2018-03-24 16:24] 0crat commented on #89
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#89](https://github.com/zerocracy/farm/issues/89), please stop working. Reason for job resignation: Order was cancelled

[2018-03-24 16:24] 0crat commented on #528
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-24 16:25] 0crat commented on #435
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-24 16:29] 0crat commented on #540
The job [#540](https://github.com/zerocracy/farm/issues/540) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/831654476); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cle

[2018-03-24 16:32] 0crat commented on #589
The job [#589](https://github.com/zerocracy/farm/issues/589) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/831657558); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cle

[2018-03-24 16:32] amihaiemil commented on #589
@0crat refuse (no windows)

[2018-03-24 16:33] 0crat commented on #589
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#589](https://github.com/zerocracy/farm/issues/589), please stop working. Reason for job resignation: Order was cancelled

[2018-03-24 16:34] 0crat commented on #589
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-24 16:38] 0crat commented on #600
The job [#600](https://github.com/zerocracy/farm/issues/600) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/831663744); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cle

[2018-03-24 16:42] 0crat commented on #601
The job [#601](https://github.com/zerocracy/farm/issues/601) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/831666830); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cle

[2018-03-24 16:44] amihaiemil opened #869 "Introduce "tasks for ARC""
Assign ARC automatically if the boost factor is over a certain limit.

Original text:

[2018-03-24 16:44] 0crat commented on #869
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-24 16:46] 0crat commented on #633
The job [#633](https://github.com/zerocracy/farm/issues/633) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/831672948); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cle

[2018-03-24 16:59] amihaiemil opened #870 "Document the election process"
The election process is not properly documented. How does it work initially? How do a user's actions influence 0crat's election process? E.g. How would [this](https://github.com/zerocracy/farm/issues/540) task start?

[2018-03-24 17:00] 0crat commented on #870
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-24 17:00] amihaiemil commented on #540
@0crat waiting #870 need documentation.

[2018-03-24 17:02] 0crat commented on #540
@amihaiemil The impediment for [#540](https://github.com/zerocracy/farm/issues/540) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-25 13:56] DamianX opened #871 "0crat.com can't be browsed with JS disabled"
### ???
Using Firefox 59 with NoScript on its default settings, browse to https://www.0crat.com

### Expected result
I should be able to browse the contents of the website without the need for JavaScript

### Actual result
All I see is the plain text string `1 1hr 1.0-SNAPSHOT 34b6c9e9 2018-03-25T12:41:02 0.60`

[2018-03-25 13:56] 0crat commented on #871
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-25 13:56] 0crat commented on #871
@damianx[/z](https://www.0crat.com/u/damianx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-03-26 06:41] amihaiemil opened #872 "Self-assignment double processing"
Similar to #824, 0crat processed the manual self assignment 2 times, here: https://github.com/amihaiemil/docker-java-api/issues/67#event-1540106041

It also deduced 2 x 5 rep points.

[2018-03-26 06:41] 0crat commented on #872
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-26 08:09] g4s8 commented on #613
@0crat refuse

[2018-03-26 08:11] 0crat commented on #613
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#613](https://github.com/zerocracy/farm/issues/613), please stop working. Reason for job resignation: Order was cancelled

[2018-03-26 08:13] 0crat commented on #613
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-26 08:27] g4s8 commented on #566
@yegor256 ping

[2018-03-26 12:39] 0pdd commented on #728
The puzzle `496-4b81e8fe` has disappeared from the source code, that's why I closed this issue.

[2018-03-26 12:39] #728 closed

[2018-03-26 12:39] 0pdd commented on #496
@yegor256 the only puzzle [#728](https://github.com/zerocracy/farm/issues/728) is solved here.

[2018-03-26 12:53] yegor256 commented on #566
@g4s8 thanks!

[2018-03-26 12:53] #566 closed

[2018-03-26 12:56] 0crat commented on #728
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-26 12:56] 0crat commented on #728
The job [#728](https://github.com/zerocracy/farm/issues/728) is now out of scope

[2018-03-26 13:08] yegor256 commented on #363
@amihaiemil I think it's not valid anymore.

[2018-03-26 13:08] #363 closed

[2018-03-26 13:09] 0crat commented on #363
The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#363](https://github.com/zerocracy/farm/issues/363), please stop working. Reason for job resignation: GitHub issue was closed as 'invalid' by @yegor256[/z](https://www.0crat.com/u/yegor256)[/z](https://www.0crat.com/u/yegor256)

[2018-03-26 13:10] 0crat commented on #363
The job [#363](https://github.com/zerocracy/farm/issues/363) is now out of scope

[2018-03-26 13:10] 0crat commented on #566
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-26 13:10] 0crat commented on #566
The job [#566](https://github.com/zerocracy/farm/issues/566) is now out of scope

[2018-03-26 13:28] 0crat commented on #683
The job [#683](https://github.com/zerocracy/farm/issues/683) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/851328690); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [th

[2018-03-26 13:41] yegor256 commented on #868
@amihaiemil I lowered the cost of publishing down to 32: https://github.com/zerocracy/zerocracy.github.io/commit/44cbf3be8e05d9954e55d7053f5c7802792a6bc4

[2018-03-26 13:41] #868 closed

[2018-03-26 13:50] 0crat commented on #870
The job [#870](https://github.com/zerocracy/farm/issues/870) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/851349172); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-03-26 13:50] 0crat commented on #870
Job `gh:zerocracy/farm#870` already assigned to @yegor256, can't assign to @yegor256

[2018-03-26 13:50] 0crat commented on #870
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-26 13:50] 0crat commented on #870
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-26 13:57] 0crat commented on #868
The job is not in WBS, won't close the order

[2018-03-26 14:10] yegor256 commented on #870
@amihaiemil explained a bit in 4373e57 Enough?

[2018-03-26 14:17] yegor256 commented on #871
@DamianX I can't reproduce it, here is what I see in Firefox (JavaScript it turned off):

<img width="1095" alt="screen shot 2018-03-26 at 5 15 45 pm" src="https://user-images.githubusercontent.com/526301/37911680-65625f4a-3119-11e8-9271-ed8675799930.png">

It's Firefox 59.0.1:

<img width="759" alt="screen shot 2018-03-26 at 5 16 38 pm" src="https://user-images.githubusercontent.com/526301/379117

[2018-03-26 14:36] ypshenychka commented on #728
@carlosmiranda According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details to registered [impediment](https://github.com/zerocracy/farm/issues/728#issuecomment-373559767).

[2018-03-26 14:38] ypshenychka commented on #566
@0crat quality good

[2018-03-26 14:40] 0crat commented on #566
Order was finished, quality is "good": +35 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-26 14:40] 0crat commented on #566
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-26 14:51] g4s8 commented on #523
@yegor256 it was fixed in #785 PR, can we close?

[2018-03-26 14:52] yegor256 commented on #653
@g4s8 I think you are using a wrong strategy while working with multiple repositories. When you have a ticket that needs changes in multiple places, you should submit tickets to other repositories, explaining there what should be done. Then, someone (!) will fix them, release new versions and you will continue here.

[2018-03-26 14:56] g4s8 commented on #653
@yegor256 got it, I will do it for new tickets

[2018-03-26 15:02] yegor256 commented on #825
@amihaiemil this bug is fixed

[2018-03-26 15:02] #825 closed

[2018-03-26 15:04] yegor256 commented on #523
@g4s8 thanks!

[2018-03-26 15:04] #523 closed

[2018-03-26 15:06] 0crat commented on #855
The job [#855](https://github.com/zerocracy/farm/issues/855) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/851508165); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-03-26 15:06] 0crat commented on #855
Job `gh:zerocracy/farm#855` already assigned to @yegor256, can't assign to @yegor256

[2018-03-26 15:06] 0crat commented on #855
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-26 15:06] 0crat commented on #855
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-26 15:19] 0crat commented on #825
Order was finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-26 15:19] 0crat commented on #825
The job [#825](https://github.com/zerocracy/farm/issues/825) is now out of scope

[2018-03-26 15:20] 0crat commented on #523
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-26 15:20] 0crat commented on #523
The job [#523](https://github.com/zerocracy/farm/issues/523) is now out of scope

[2018-03-26 15:22] 0crat commented on #687
The job [#687](https://github.com/zerocracy/farm/issues/687) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/851524625); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [th

[2018-03-26 15:30] ypshenychka commented on #523
@0crat quality good

[2018-03-26 15:31] g4s8 commented on #855
@yegor256 yes, thanks!

[2018-03-26 15:31] #855 closed

[2018-03-26 15:32] 0crat commented on #523
Order was finished, quality is "good": +35 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-26 15:32] 0crat commented on #523
Quality review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-26 15:47] 0crat commented on #855
Order was finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-26 15:47] 0crat commented on #855
The job [#855](https://github.com/zerocracy/farm/issues/855) is now out of scope

[2018-03-26 15:59] yegor256 opened #874 "/hiring"
Let's make it possible to announce hiring per project.

[2018-03-26 16:59] DamianX commented on #871
That seems to be right. For some reason, using NoScript to disable scripts seems to have a different effect.
![image](https://user-images.githubusercontent.com/6307265/37920678-d872ffb8-3127-11e8-9133-a7271b526f46.png)

[2018-03-26 17:05] #874 closed

[2018-03-26 17:20] 0crat commented on #874
The job is not in WBS, won't close the order

[2018-03-27 05:31] neonailol commented on #512
@0crat refuse

[2018-03-27 05:31] 0crat commented on #512
@neonailol The user @neonailol[/z](https://www.0crat.com/u/neonailol) resigned from [#512](https://github.com/zerocracy/farm/issues/512), please stop working. Reason for job resignation: Order was cancelled

[2018-03-27 05:31] 0crat commented on #512
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-03-27 06:46] ypshenychka commented on #728
@carlosmiranda Thank you!

[2018-03-27 06:46] ypshenychka commented on #728
@0crat quality acceptable

[2018-03-27 06:48] 0crat commented on #728
Order was finished, quality is "acceptable": +30 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-03-27 06:48] 0crat commented on #728
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-27 09:56] yegor256 opened #875 "RnkEstimates"
Let's create a new rank `RnkEstimates` for `elect_performer.groovy`, which will put the most expensive tasks (according to the information from `Estimates`) on top of the list.

[2018-03-27 09:56] 0crat commented on #875
Job [#875](https://github.com/zerocracy/farm/issues/875) is now in scope, role is `DEV`

[2018-03-27 09:57] 0crat commented on #875
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-27 11:40] yegor256 opened #876 "put QA jobs into Estimates"
Let's add QA reviews into `Estimates` and remove them from there when they are finished.

[2018-03-27 11:40] 0crat commented on #876
Job [#876](https://github.com/zerocracy/farm/issues/876) is now in scope, role is `DEV`

[2018-03-27 11:42] 0crat commented on #876
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-27 12:27] yegor256 commented on #869
@amihaiemil conceptually, there should be no imbalance between tasks in a single project. We should not have "complex" tasks and "easy" tasks specially labeled as such. What I can offer is somehow shift focus of `election_performer` towards tasks that are "bugs" or highly boosted (this already happens).

Maybe we can introduce a new rule: if a task is very much boosted (over 6x), it goes to the AR

[2018-03-27 12:40] amihaiemil commented on #869
@yegor256 Yes, I believe that should cover most of the situations. I was thinking also of the tasks which require a specific OS and such, but I'll open another issue and discuss it there :)

[2018-03-27 12:41] 0crat commented on #869
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-27 12:44] amihaiemil commented on #869
@yegor256 but 6x seems kind of a high boost factor. Wouldn't 3x be enough? I mean, if tasks should be small and broken with PDD anyway, 6x seems high :)

[2018-03-27 12:56] 0crat commented on #869
The job is not in WBS, won't close the order

[2018-03-27 13:30] yegor256 opened #877 "hints"
Let's create hints

[2018-03-27 17:12] yegor256 commented on #822
@carlosmiranda thanks

[2018-03-27 17:12] #822 closed

[2018-03-27 17:29] 0crat commented on #822
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-27 17:29] 0crat commented on #822
The job [#822](https://github.com/zerocracy/farm/issues/822) is now out of scope

[2018-03-27 19:06] ypshenychka commented on #822
@0crat quality good

[2018-03-27 19:10] 0crat commented on #822
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-03-27 19:10] 0crat commented on #822
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-29 10:19] g4s8 commented on #683
@0crat status

[2018-03-29 10:19] 0crat commented on #683
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#683](https://github.com/zerocracy/farm/issues/683) is [in scope](http://www.zerocracy.com/policy.html#14) for 28days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [3days](http://www.zerocracy.com/policy.html#8)
  * There is a monetary reward

[2018-03-30 04:57] yegor256 opened #878 "IllegalStateException: java.lang.reflect.InvocationTargetException in com/zerocracy/stk/pm/comm/notify_telegram.groovy"
https://sentry.io/zerocracy/farm/issues/507833195/

When Telegram is down we simply fail to post a message and then kill the claim. Instead, I believe, we should repost the claim back to the project with UNTIL set to 15 minutes ahead.

[code]

[2018-03-30 04:58] #877 closed

[2018-03-30 05:00] yegor256 commented on #680
@g4s8 quartz sounds right, let's use it

[2018-03-30 05:02] yegor256 commented on #869
@amihaiemil the default boost factor is 1x (15 minutes): http://www.zerocracy.com/policy.html. 6x means 90 minutes. I think it's OK for important tasks.

[2018-03-30 05:13] 0crat commented on #877
The job is not in WBS, won't close the order

[2018-03-30 05:13] amihaiemil commented on #869
@yegor256 I see, ok

[2018-03-30 06:28] ypshenychka opened #879 "0crat failed after QA review and said "QA review is not required""
Two failurs happened after QA verdict in #862: https://github.com/zerocracy/farm/pull/862#issuecomment-377336545 and https://github.com/zerocracy/farm/pull/862#issuecomment-377336559.
After that 0crat said "Thanks, but quality review is not required in this job", but awarded points.

[2018-03-30 06:28] 0crat commented on #879
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-30 14:32] amihaiemil commented on #422
@g4s8 this was started in datum, with the xml model, and I left a puzzle here for continuation. Both PRs merged, can we close this?:)

[2018-03-30 14:55] g4s8 commented on #422
@amihaiemil thanks!

[2018-03-30 14:55] #422 closed

[2018-03-30 15:11] 0crat commented on #422
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-30 15:11] 0crat commented on #422
The job [#422](https://github.com/zerocracy/farm/issues/422) is now out of scope

[2018-03-30 15:14] 0crat commented on #487
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 23days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 15:14] 0crat commented on #779
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 21days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 15:14] 0crat commented on #194
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 21days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 15:14] 0crat commented on #653
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 20days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 15:14] 0crat commented on #680
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 19days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 15:14] 0crat commented on #565
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 18days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 15:14] 0crat commented on #833
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 11days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 15:14] 0crat commented on #835
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 11days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 15:17] g4s8 commented on #653
@0crat waiting for zerocracy/datum release

[2018-03-30 15:17] 0crat commented on #653
@g4s8 The impediment for [#653](https://github.com/zerocracy/farm/issues/653) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-30 15:17] g4s8 commented on #680
@0crat waiting

[2018-03-30 15:18] 0crat commented on #680
@g4s8 The impediment for [#680](https://github.com/zerocracy/farm/issues/680) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-30 15:18] g4s8 commented on #833
@0crat waiting PR #839 to merge

[2018-03-30 15:18] 0crat commented on #833
@g4s8 The impediment for [#833](https://github.com/zerocracy/farm/issues/833) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-30 15:18] g4s8 commented on #835
@0crat waiting PR #851 to merge

[2018-03-30 15:19] 0crat commented on #835
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-30 15:19] 0crat commented on #835
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-30 15:19] g4s8 commented on #668
@0crat waiting PR #850 to merge

[2018-03-30 15:19] 0crat commented on #668
@g4s8 The impediment for [#668](https://github.com/zerocracy/farm/issues/668) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-30 17:14] 0crat commented on #600
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 17:14] 0crat commented on #601
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 17:15] amihaiemil commented on #601
@0crat refuse

[2018-03-30 17:15] 0crat commented on #601
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#601](https://github.com/zerocracy/farm/issues/601), please stop working. Reason for job resignation: Order was cancelled

[2018-03-30 17:15] 0crat commented on #601
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-30 17:18] 0crat commented on #613
The job [#613](https://github.com/zerocracy/farm/issues/613) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/891723336); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cle

[2018-03-30 18:35] 0crat commented on #487
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 23days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 18:35] 0crat commented on #779
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 22days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 18:35] 0crat commented on #194
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 21days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 18:35] 0crat commented on #565
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 18days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 18:35] 0crat commented on #835
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 11days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 18:49] ypshenychka commented on #422
@amihaiemil
According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please provide a link to corresponding PR in any of your messages.

[2018-03-30 19:07] amihaiemil commented on #422
@ypshenychka done, updated my last comment :)

[2018-03-30 19:11] ypshenychka commented on #422
@amihaiemil thanks

[2018-03-30 19:11] ypshenychka commented on #422
@0crat quality acceptable

[2018-03-30 19:13] 0crat commented on #422
Order was finished, quality is "acceptable": +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-03-30 19:13] 0crat commented on #422
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-30 19:35] 0crat commented on #600
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 19:35] 0crat commented on #633
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-31 10:06] g4s8 opened #880 "No JDBC connection"
From https://github.com/zerocracy/farm/issues/680#issuecomment-377445509

JDBC connection required for quartz [JDBC-store ](http://www.quartz-scheduler.org/documentation/quartz-2.2.x/tutorials/tutorial-lesson-09.html) to save scheduled jobs info. It should be connected to supported database (Oracle, PostgreSQL, MySQL, MS SQLServer, HSQLDB, DB2), I think it can be connected via Heroku plugins.

[2018-03-31 10:06] 0crat commented on #880
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-31 13:40] 0crat commented on #683
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-31 15:40] 0crat commented on #687
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-31 22:58] carlosmiranda commented on #706
@g4s8 can we close this now? Fixed in #862

[2018-04-01 05:37] yegor256 commented on #880
@g4s8 you make a puzzle in this case, not a ticket. There is nothing is broken in master at the moment. Without this JDBC connection the project is perfectly fine. It's only you (and your ticket #680) who needst this. So, it's a puzzle.

[2018-04-01 05:37] #880 closed

[2018-04-01 05:37] 0crat commented on #880
Job `gh:zerocracy/farm#880` is not assigned, can't get performer

[2018-04-01 09:14] g4s8 commented on #706
@carlosmiranda thanks

[2018-04-01 09:14] #706 closed

[2018-04-01 09:30] 0crat commented on #706
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-01 09:30] 0crat commented on #706
The job [#706](https://github.com/zerocracy/farm/issues/706) is now out of scope

[2018-04-01 09:32] 0crat commented on #701
The job [#701](https://github.com/zerocracy/farm/issues/701) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/910957509); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [th

[2018-04-01 09:35] 0crat commented on #696
The job [#696](https://github.com/zerocracy/farm/issues/696) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/910959591); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [th

[2018-04-01 10:19] g4s8 commented on #683
@0crat waiting #336 to resolve

[2018-04-01 10:20] 0crat commented on #683
@g4s8 The impediment for [#683](https://github.com/zerocracy/farm/issues/683) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-01 11:03] ypshenychka commented on #706
@0crat quality good

[2018-04-01 11:07] 0crat commented on #706
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-04-01 11:07] 0crat commented on #706
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-04-01 11:21] VsSekorin opened #882 "Internal application error on RFPs page if your reputation is less than 512"
[code]
Here: https://www.0crat.com/rfps

[2018-04-01 11:21] 0crat commented on #882
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-01 11:21] 0crat commented on #882
@vssekorin[/z](https://www.0crat.com/u/vssekorin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-02 18:09] SilasReinagel opened #885 "No Documentation for Setting Max Active Jobs"
https://github.com/zerocracy/farm/pull/693
https://github.com/zerocracy/datum/issues/258

Feature appears to be built, but there is no documentation on how to set User Options, such as Max Active jobs.

There should be clear documentation on how to configure your Max Active Jobs.

0crat also does not list any commands that indicate how to do this.

[2018-04-02 18:09] 0crat commented on #885
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-02 18:09] 0crat commented on #885
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-02 19:52] g4s8 commented on #885
@SilasReinagel it is not implemented yet: https://github.com/zerocracy/farm/issues/820

[2018-04-03 00:27] carlosmiranda commented on #844
@yegor256 ping... why was this ticket not paid? I think I raised a valid concern which was eventually addressed after all.

[2018-04-03 05:29] yegor256 commented on #844
@carlosmiranda I just considered it as a minor improvement, which was quickly fixed. Not all tickets are paid, as you know. It's a decision of an ARC.

[2018-04-03 05:37] carlosmiranda commented on #844
@yegor256 fair enough. Just wanted to know the justification since it was actually addressed somehow. :)

[2018-04-03 07:11] yegor256 commented on #558
@g4s8 thanks!

[2018-04-03 07:11] #558 closed

[2018-04-03 07:13] yegor256 opened #886 "no need to pay to the ARC if there were no comments in a PR"
See https://github.com/zerocracy/farm/pull/821#issuecomment-378145529 The ARC received the money while nothing was really done by him.

[2018-04-03 07:59] g4s8 commented on #853
@yegor256 could you please assign someone here? This bug is getting annoying.

[2018-04-03 10:40] g4s8 commented on #835
@yegor256 could you please close this ticket? pdd didn't do this automatically: https://github.com/yegor256/0pdd/issues/189

[2018-04-03 11:12] g4s8 commented on #558
@0crat status

[2018-04-03 11:12] 0crat commented on #558
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#558](https://github.com/zerocracy/farm/issues/558) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [26days](http://www.zerocracy.com/policy.html#8)
  * There is a monetary reward a

[2018-04-03 14:29] yegor256 opened #887 "show ledger if project is fee-free"
let's show it.

[2018-04-03 14:54] llorllale opened #888 "Duplicate claim when registering impediment"
See [here](https://github.com/yegor256/s3auth/pull/370#issuecomment-378276980)

[2018-04-03 14:54] 0crat commented on #888
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-03 14:54] 0crat commented on #888
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-04 06:10] #887 closed

[2018-04-04 06:25] 0crat commented on #887
The job is not in WBS, won't close the order

[2018-04-04 06:52] yegor256 opened #889 "auto-vacation mode"
Let's put a user on "vacation" mode automatically if he has over 8 negative point reward lines over the last 16 days and no positive ones. Let's not forget to update the Policy.

[2018-04-04 06:53] yegor256 commented on #889
@0crat assign @carlosmiranda

[2018-04-04 06:54] 0crat commented on #889
@yegor256 The job [#889](https://github.com/zerocracy/farm/issues/889) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/940676732); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-04-04 06:55] 0crat commented on #889
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-04 06:55] 0crat commented on #889
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-04 09:12] skapral opened #890 "It's impossible to make a donation from non-0crat contributors"
Steps to reproduce:

1. Logout from 0crat, if logged in
2. Go to some 0crat-managed project, click on the donations badge

Actual result:
- You are being redirected to 0crat, and 0crat asks you to log in

Expected result:
- Stripe form for donations is opened.

Not all the sponsors supposed to have account in 0crat.

[2018-04-04 09:12] 0crat commented on #890
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-04 09:12] 0crat commented on #890
@skapral[/z](https://www.0crat.com/u/skapral) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-04 09:25] yegor256 commented on #890
@skapral this is by design. To donate you have to be logged in. Why it's a problem?

[2018-04-04 09:41] skapral commented on #890
@yegor256 The feature is mostly for the project users, not the project developers. They come outside of the system. Making them register to 0crat just to give you the money is already user-unfriendly enough to frighten them out. Moreover, they even can't register. The only way for them to get to the system is find a mentor. This makes the feature almost useless.

[2018-04-04 11:54] yegor256 commented on #890
@skapral you don't need to be invited to donate. Just login using GitHub, that's all.

[2018-04-04 13:02] skapral commented on #890
@yegor256 Rechecked that. My mistake about the mentor. I am closing this issue for now. I am still hesitant about convenience of the feature though, maybe will come with other issues later.

[2018-04-04 13:02] #890 closed

[2018-04-04 13:44] g4s8 commented on #558
@0crat status

[2018-04-04 13:44] 0crat commented on #558
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#558](https://github.com/zerocracy/farm/issues/558) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [27days](http://www.zerocracy.com/policy.html#8)
  * There is a monetary reward a

[2018-04-04 16:38] pbenety opened #891 "Internal application error in join form"
I've got an error while submitting the join form.

## Expected Behavior
Inform that the field "StackOverflow ID" is required.

## Current Behavior
Internal application error.

## Steps to Reproduce
1. Fill all fields but "StackOverflow ID" field.
2. Submit form.

## Stack trace
[code]

## Version
1.0-SNAPSHOT, 8699e2ef

[2018-04-04 16:38] 0crat commented on #891
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-04 16:38] 0crat commented on #891
@pbenety[/z](https://www.0crat.com/u/pbenety) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-04 16:58] yegor256 commented on #853
@0crat assign @carlosmiranda

[2018-04-04 16:59] 0crat commented on #853
@yegor256 The job [#853](https://github.com/zerocracy/farm/issues/853) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/941658035); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-04-04 16:59] 0crat commented on #853
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-04 17:23] victornoel opened #892 "Internal application error in Identity page"
Tried to ientify myself via yoti, after scanning the QR code the following happened on the 0crat webpage (I've removed the token in case it contained sensible information):
[code]

[2018-04-04 19:56] 0crat commented on #613
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-04 20:02] amihaiemil commented on #613
@0crat refuse

[2018-04-04 20:02] 0crat commented on #613
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#613](https://github.com/zerocracy/farm/issues/613), please stop working. Reason for job resignation: Order was cancelled

[2018-04-04 20:02] 0crat commented on #613
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-05 06:27] carlosmiranda commented on #853
@g4s8 @yegor256 see PR #893.

[2018-04-05 07:58] amihaiemil opened #894 "0crat didn't see that the task was already assigned"
See [here](https://github.com/jcabi/jcabi-github/pull/1376#issuecomment-378661321).

I assigned the task manually to myself, 0crat assigned it and deducted points but later it also said tried to automatically assigned the task and complained: "All ``REV`` roles are banned".

In that stackeholder, it should check to see if the task is already assigned or not, to avoid spamming uselessly.

[2018-04-05 07:58] 0crat commented on #894
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-05 08:11] amihaiemil opened #895 "Handle job's aspects as a whole"
Apparently, 0crat's stackeholders are completely independent of eachother (and maybe also run in arbitrary order). This causes a lot of noise and useless roundtrips to the DB and Github API calls.

For instance, [here](https://github.com/jcabi/jcabi-github/issues/1373#event-1558141849). From the moment I labeled it as a bug and assigned it to me, 0crat ran each stackeholder statelessly and left 5

[2018-04-05 08:11] 0crat commented on #895
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-05 08:13] amihaiemil commented on #895
The current situation is also not so scalable, form my point of view. Currently, 0crat does relatively little communication and it already looks noisy. What if we add more functionalities later, or we have to introduce a mechanism where order of actions matters?

[2018-04-05 10:56] 0pdd commented on #668
The puzzle `450-6f8e6904` has disappeared from the source code, that's why I closed this issue.

[2018-04-05 10:56] #668 closed

[2018-04-05 10:56] 0pdd commented on #833
The puzzle `546-c1316cdf` has disappeared from the source code, that's why I closed this issue.

[2018-04-05 10:56] #833 closed

[2018-04-05 10:56] #835 closed

[2018-04-05 10:56] 0pdd commented on #835
The puzzle `555-426f09d2` has disappeared from the source code, that's why I closed this issue.

[2018-04-05 10:57] 0pdd opened #896 "remove_stale_users.groovy:38-41: At moment user.exists()..."
The puzzle `835-3f8bfc99` from #835 has to be resolved:

https://github.com/zerocracy/farm/blob/90dabfec8849d2c34c56678e5d1fae321274632e/src/main/resources/com/zerocracy/stk/pmo/people/remove_stale_users.groovy#L38-L41

The puzzle was created by g4s8 on 05-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "don

[2018-04-05 10:57] 0pdd commented on #450
@yegor256 the only puzzle [#668](https://github.com/zerocracy/farm/issues/668) is solved here.

[2018-04-05 10:57] 0pdd commented on #546
@yegor256 the only puzzle [#833](https://github.com/zerocracy/farm/issues/833) is solved here.

[2018-04-05 10:57] 0pdd commented on #555
@yegor256 the puzzle [#896](https://github.com/zerocracy/farm/issues/896) is still not solved; solved: [#835](https://github.com/zerocracy/farm/issues/835).

[2018-04-05 10:57] 0pdd commented on #835
@0pdd the puzzle [#896](https://github.com/zerocracy/farm/issues/896) is still not solved.

[2018-04-05 10:57] 0crat commented on #896
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-05 10:57] 0crat commented on #896
Job [#896](https://github.com/zerocracy/farm/issues/896) is now in scope, role is `DEV`

[2018-04-05 11:13] 0crat commented on #668
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-05 11:13] 0crat commented on #833
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-05 11:13] 0crat commented on #835
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-05 11:13] 0crat commented on #668
The job [#668](https://github.com/zerocracy/farm/issues/668) is now out of scope

[2018-04-05 11:13] 0crat commented on #833
The job [#833](https://github.com/zerocracy/farm/issues/833) is now out of scope

[2018-04-05 11:13] 0crat commented on #835
The job [#835](https://github.com/zerocracy/farm/issues/835) is now out of scope

[2018-04-05 11:16] 0crat commented on #703
The job [#703](https://github.com/zerocracy/farm/issues/703) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/951117121); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [th

[2018-04-05 11:44] g4s8 commented on #687
@0crat refuse

[2018-04-05 11:44] 0crat commented on #687
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#687](https://github.com/zerocracy/farm/issues/687), please stop working. Reason for job resignation: Order was cancelled

[2018-04-05 11:44] 0crat commented on #687
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-05 11:47] 0crat commented on #715
The job [#715](https://github.com/zerocracy/farm/issues/715) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/951150053); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [th

[2018-04-05 13:35] yegor256 commented on #892
@victornoel it's a duplicate of #556

[2018-04-05 13:35] #892 closed

[2018-04-05 13:44] yegor256 commented on #863
@amihaiemil are you receiving them now? Or still nothing?

[2018-04-05 13:48] amihaiemil commented on #863
@yegor256 I receive them now, but as messages on the Slack Zerocracy channel (since you added me there). Otherwise, nothing.  Maybe I should also receive a mail? I mean, are all those > 1024 automatically invited to that channel? I don't think so,

[2018-04-05 13:50] 0crat commented on #892
The job is not in WBS, won't close the order

[2018-04-05 14:06] 0crat commented on #89
The job [#89](https://github.com/zerocracy/farm/issues/89) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/951413044); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-04-05 14:22] yegor256 opened #898 "remove GitHub organizations"
We started at #555

Now there is another problem. Some users may upgrade their GitHub accounts to organizations. We should delete them too. When we see that a user is an organization in GitHub, we notify him and delete in 24 hours.

[2018-04-05 14:25] amihaiemil commented on #863
@yegor256 Yes, I double-checked now; I only receive them on Zerocracy channel, in the direct chat with ``0crat2``; I neve received them in my own channel, where I also have a direct chat with ``0crat`` + a private chat for project management.

[2018-04-05 14:58] ypshenychka commented on #833
@0crat quality good

[2018-04-05 14:58] ypshenychka commented on #668
@0crat quality good

[2018-04-05 14:59] 0crat commented on #833
Order was finished, quality is "good": +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-05 14:59] ypshenychka commented on #835
@0crat quality good

[2018-04-05 14:59] 0crat commented on #835
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-05 14:59] 0crat commented on #833
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-05 15:00] 0crat commented on #833
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-04-05 15:01] 0crat commented on #835
@ypshenychka Thanks, but quality review is not required in this job

[2018-04-05 15:02] 0crat commented on #835
Order was finished, quality is "good": +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-05 15:02] 0crat commented on #835
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-04-05 23:34] carlosmiranda commented on #889
@yegor256 a few clarifications:

* Do we turn off vacation mode automatically also? What is the criteria for that?
* Can the user manually turn off vacation mode?
* When will we trigger the evaluation? I am thinking right after/during points award.

[2018-04-05 23:34] carlosmiranda commented on #889
@0crat wait, clarifications regarding task needed

[2018-04-05 23:35] 0crat commented on #889
@carlosmiranda Can't understand "wait,", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status

[2018-04-05 23:37] carlosmiranda commented on #889
@0crat wait for clarifications

[2018-04-05 23:38] 0crat commented on #889
@carlosmiranda The impediment for [#889](https://github.com/zerocracy/farm/issues/889) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-04-06 05:00] yegor256 commented on #889
@carlosmiranda we just put the vacation mode to ON and that's it. We don't turn it back to OFF. The user should do it manually. We have to `Notify user` about it, explaining why this happened. Yes, I agree, let's trigger it on every points award.

[2018-04-06 05:02] yegor256 commented on #863
@amihaiemil this is how it should be. The systems picks a random Slack private channel with you and notifies you there. That's it.

[2018-04-06 05:02] #863 closed

[2018-04-06 06:00] carlosmiranda commented on #853
@g4s8 PR #893 merged, think we can close this now?

[2018-04-06 09:37] 0crat commented on #701
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-06 09:37] 0crat commented on #696
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-06 21:51] VsSekorin commented on #882
It seems that the problem continued.
`java.lang.IllegalStateException: [GET https://www.0crat.com/rfps] failed in 27ms: Your reputation is +15, while a minimum of +128 is required in order to do this, see [§40](http://www.zerocracy.com/policy.html#40)`

[2018-04-07 06:42] yegor256 opened #899 "check GitHub repo existence beforehand"
Let's check GitHub repo existence before touching it. Otherwise, now we are getting runtime exceptions from jcabi-github.

[2018-04-07 07:03] yegor256 commented on #899
When this is ready we can continue: https://github.com/jcabi/jcabi-github/issues/1379

[2018-04-07 11:57] g4s8 commented on #853
@carlosmiranda thanks

[2018-04-07 11:57] #853 closed

[2018-04-07 12:05] g4s8 opened #900 "SignatureTest: Broken pipe"
`SignatureTest` can fail with `IOException` (probably after #893 PR), see build logs http://www.rultor.com/t/14253-378938198
[code]

[2018-04-07 12:05] 0crat commented on #900
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-07 12:12] 0crat commented on #853
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-07 12:12] 0crat commented on #853
The job [#853](https://github.com/zerocracy/farm/issues/853) is now out of scope

[2018-04-07 12:15] 0crat commented on #435
The job [#435](https://github.com/zerocracy/farm/issues/435) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/971224370); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is n

[2018-04-07 12:17] 0crat commented on #723
The job [#723](https://github.com/zerocracy/farm/issues/723) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/971226429); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cle

[2018-04-07 16:46] ypshenychka commented on #853
@0crat quality good

[2018-04-07 16:46] 0crat commented on #853
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-04-07 16:47] 0crat commented on #853
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-04-08 05:04] yegor256 commented on #900
@0crat assign @carlosmiranda

[2018-04-08 05:05] 0crat commented on #900
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-08 06:15] yegor256 commented on #882
@VsSekorin try again please

[2018-04-08 06:34] VsSekorin commented on #882
Yes. All fine.

[2018-04-08 06:34] #882 closed

[2018-04-08 06:45] VsSekorin opened #901 "Agenda page show plain html code"
Agenda page show plain html code:
[code]

Here: https://www.0crat.com/u/VsSekorin/agenda

[2018-04-08 06:46] 0crat commented on #901
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-08 06:46] 0crat commented on #901
@vssekorin[/z](https://www.0crat.com/u/vssekorin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-08 06:51] 0crat commented on #882
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-08 06:51] 0crat commented on #882
The job [#882](https://github.com/zerocracy/farm/issues/882) is now out of scope

[2018-04-08 10:47] VsSekorin opened #902 "Java 8's "Files.exists" should not be used"
`FtProject`, `GsProject`, `RdItem`, `S3Item`, `SpyItem`, `Xocument` use `Files#exists`.

Sonar rule: https://rules.sonarsource.com/java/RSPEC-3725
Solution: `path.toFile().exists()`.

[2018-04-08 10:47] 0crat commented on #902
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-08 10:47] 0crat commented on #902
@vssekorin[/z](https://www.0crat.com/u/vssekorin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-08 20:33] 0crat commented on #902
Job [#902](https://github.com/zerocracy/farm/issues/902) is now in scope, role is `DEV`

[2018-04-08 20:34] 0crat commented on #902
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vssekorin[/z](https://www.0crat.com/u/vssekorin)

[2018-04-08 20:49] 0pdd opened #903 "pay_all_debts.groovy:38-40: Add test for pay_all_depts..."
The puzzle `696-65091594` from #696 has to be resolved:

https://github.com/zerocracy/farm/blob/d06f16c3ef055e3dd5827fb4f044d7083f745d53/src/main/resources/com/zerocracy/stk/pmo/debts/pay_all_debts.groovy#L38-L40

The puzzle was created by g4s8 on 02-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" whe

[2018-04-08 20:49] 0pdd commented on #696
@yegor256 the puzzle [#903](https://github.com/zerocracy/farm/issues/903) is still not solved.

[2018-04-08 20:49] 0crat commented on #903
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-08 20:49] 0crat commented on #903
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-08 20:49] 0crat commented on #903
Job [#903](https://github.com/zerocracy/farm/issues/903) is now in scope, role is `DEV`

[2018-04-09 04:57] g4s8 commented on #696
@yegor256 #883 was merged, can we close?

[2018-04-09 07:07] g4s8 commented on #558
@yegor256 remove this job from WBS please, 0crat didn't do this automatically

[2018-04-09 08:49] #899 closed

[2018-04-09 08:50] yegor256 commented on #901
@VsSekorin what is the browser type/version?

[2018-04-09 08:59] yegor256 commented on #891
@pbenety fixed in 7e1e1096 thanks!

[2018-04-09 08:59] #891 closed

[2018-04-09 09:04] 0crat commented on #899
The job is not in WBS, won't close the order

[2018-04-09 09:14] 0crat commented on #891
The job is not in WBS, won't close the order

[2018-04-09 09:27] yegor256 commented on #696
@g4s8 thanks

[2018-04-09 09:27] #696 closed

[2018-04-09 09:28] yegor256 commented on #558
@0crat out

[2018-04-09 09:29] 0crat commented on #558
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-09 09:29] 0crat commented on #558
@yegor256 The job [#558](https://github.com/zerocracy/farm/issues/558) is now out of scope

[2018-04-09 09:43] 0crat commented on #696
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-09 09:43] 0crat commented on #696
The job [#696](https://github.com/zerocracy/farm/issues/696) is now out of scope

[2018-04-09 09:45] 0crat commented on #721
The job [#721](https://github.com/zerocracy/farm/issues/721) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/990945288); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [th

[2018-04-09 10:56] ypshenychka commented on #558
@amihaiemil According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/zerocracy/farm/issues/558#issuecomment-365994618) by indicating an addressee in the beginning.

[2018-04-09 10:57] ypshenychka commented on #696
@0crat quality good

[2018-04-09 10:58] 0crat commented on #696
Order was finished, quality is "good": +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-09 10:58] 0crat commented on #696
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-04-09 11:07] amihaiemil commented on #558
@ypshenychka done :)

[2018-04-09 11:10] ypshenychka commented on #558
@amihaiemil Thanks!

[2018-04-09 11:10] ypshenychka commented on #558
@0crat quality acceptable

[2018-04-09 11:12] 0crat commented on #558
Order was finished, quality is "acceptable": +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-09 11:12] 0crat commented on #558
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-04-09 13:49] 0crat commented on #879
Job [#879](https://github.com/zerocracy/farm/issues/879) is now in scope, role is `DEV`

[2018-04-09 13:50] 0crat commented on #879
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-04-09 14:04] 0pdd opened #908 "TkJoin.java:40-51: Requests to /join should add an entry..."
The puzzle `800-10ded7b0` from #800 has to be resolved:

https://github.com/zerocracy/farm/blob/b9f6ac2b2363593ef901d2131721acc6b7a3d454/src/main/java/com/zerocracy/tk/TkJoin.java#L40-L51

The puzzle was created by g4s8 on 26-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed an

[2018-04-09 14:04] 0crat commented on #908
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-09 14:04] 0crat commented on #908
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-09 14:04] 0crat commented on #908
Job [#908](https://github.com/zerocracy/farm/issues/908) is now in scope, role is `DEV`

[2018-04-09 14:12] 0crat commented on #872
The job [#872](https://github.com/zerocracy/farm/issues/872) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/991412086); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-09 14:12] 0crat commented on #872
Job `gh:zerocracy/farm#872` already assigned to @yegor256, can't assign to @yegor256

[2018-04-09 14:12] 0crat commented on #872
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-09 14:12] 0crat commented on #872
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-09 14:15] yegor256 commented on #885
@SilasReinagel seems to be a duplicate of #820

[2018-04-09 14:15] #885 closed

[2018-04-09 14:45] yegor256 commented on #888
@llorllale are you sure the link is correct?

[2018-04-09 15:38] 0pdd opened #909 "quartz.properties:1-6: Change jobStore to JDBC to store..."
The puzzle `680-5b4d7868` from #680 has to be resolved:

https://github.com/zerocracy/farm/blob/769b26cfd5dc94588ca9860de157d719cae777ff/src/main/resources/quartz.properties#L1-L6

The puzzle was created by g4s8 on 02-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the te

[2018-04-09 15:38] 0pdd commented on #680
@yegor256 the puzzle [#909](https://github.com/zerocracy/farm/issues/909) is still not solved.

[2018-04-09 15:38] 0crat commented on #909
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-09 15:38] 0crat commented on #909
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-09 15:38] 0crat commented on #909
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-09 15:38] 0crat commented on #909
Job [#909](https://github.com/zerocracy/farm/issues/909) is now in scope, role is `DEV`

[2018-04-09 16:06] SilasReinagel commented on #885
What makes this a duplicate? It is blocked by #820, but completing #820 won't mean there is documentation for this particular feature.

[2018-04-09 16:28] SilasReinagel opened #910 "Zerocrat fails to pay and keeps Closed Issue in Agenda"
Today, an issue with a registered impediment was closed. There are two problems

https://github.com/yegor256/0pdd/issues/133

1. The payment was not made for closing this issue
2. The issue still shows as active on `Agenda` page

![image](https://user-images.githubusercontent.com/10834339/38509639-59e0091a-3bd7-11e8-9621-d5dfb8e17eaa.png)

0crat's message is:

![image](https://user-images.githubus

[2018-04-09 16:28] 0crat commented on #910
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-09 16:28] 0crat commented on #910
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-09 17:45] yegor256 commented on #899
@rultor release, tag is `0.21.2`

[2018-04-09 17:46] rultor commented on #899
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14280-379835516)

[2018-04-09 17:51] rultor commented on #899
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14280-379835516) (spent 5min)

[code]

[2018-04-09 18:01] yegor256 commented on #899
@rultor release, tag is `0.21.2`

[2018-04-09 18:02] VsSekorin commented on #901
Firefox Quantum 59.0.2 (64-bit)

[2018-04-09 18:02] VsSekorin commented on #901
@yegor256 Firefox Quantum 59.0.2 (64-bit)

[2018-04-09 18:03] rultor commented on #899
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14280-379840629)

[2018-04-09 18:13] rultor commented on #899
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14280-379840629) (spent 10min)

[code]

[2018-04-10 00:57] carlosmiranda opened #911 "Show completed jobs that are pending QA"
Right now, if a job is completed, it is removed from the Agenda page. If QA is available, that task will not be paid until QA is completed. However, we don't currently display completed jobs that are pending QA, which may make it difficult to keep track of which jobs are paid or not.

Let's add this info to a new section in the "Agenda" page (or somewhere else... let's just display it somehow). On

[2018-04-10 00:57] 0crat commented on #911
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-10 02:00] carlosmiranda commented on #900
@g4s8 see PR #900 please

[2018-04-10 02:01] carlosmiranda commented on #900
@0crat wait for PR #900 merge

[2018-04-10 02:01] carlosmiranda commented on #900
@0crat wait for merge of PR #912.

[2018-04-10 02:01] 0crat commented on #900
@carlosmiranda Job [#900](https://github.com/zerocracy/farm/issues/900) is already on hold

[2018-04-10 03:51] carlosmiranda commented on #435
@g4s8 see PR #435

[2018-04-10 03:52] carlosmiranda commented on #435
@0crat wait for merge of #913

[2018-04-10 03:52] 0crat commented on #435
@carlosmiranda The impediment for [#435](https://github.com/zerocracy/farm/issues/435) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-04-10 08:52] 0crat commented on #909
The job [#909](https://github.com/zerocracy/farm/issues/909) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1000852166); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-10 08:52] 0crat commented on #909
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-10 09:28] #909 closed

[2018-04-10 09:28] 0pdd commented on #909
The puzzle `680-5b4d7868` has disappeared from the source code, that's why I closed this issue.

[2018-04-10 09:28] 0pdd commented on #680
@yegor256 the only puzzle [#909](https://github.com/zerocracy/farm/issues/909) is solved here.

[2018-04-10 09:38] 0crat commented on #911
Job [#911](https://github.com/zerocracy/farm/issues/911) is now in scope, role is `DEV`

[2018-04-10 09:39] 0crat commented on #911
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-04-10 09:40] yegor256 commented on #911
@carlosmiranda I think we should just add a job to the agenda of a performer, when we add it to the QA. And then remove it from there, where we remove it from the QA's agenda. The only question is what should be the status in the agenda, to differ them from normal jobs. Maybe just set `role` to `QA`?

[2018-04-10 09:42] yegor256 commented on #901
@VsSekorin it's a duplicate of #402

[2018-04-10 09:42] #901 closed

[2018-04-10 09:43] 0crat commented on #909
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-10 09:43] 0crat commented on #909
The job [#909](https://github.com/zerocracy/farm/issues/909) is now out of scope

[2018-04-10 09:57] 0crat commented on #901
The job is not in WBS, won't close the order

[2018-04-10 15:37] izrik opened #914 "Join form is broken: I submitted the form with the necessary info, but no notification was sent to high-rep users"
I navigated to `https://www.0crat.com/join`, filled in my information, and clicked the `Submit` button. My browser was then redirected to `https://www.0crat.com/`, with a green information banner that read "The request has been sent to all high-ranked users". However, in the Telegram chat, Kirill and yegor256 both said that they did not receive any such request. I expect the request to be sent to

[2018-04-10 15:37] 0crat commented on #914
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-10 15:37] 0crat commented on #914
@izrik[/z](https://www.0crat.com/u/izrik) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-10 15:44] g4s8 opened #915 "User can submit join requests with empty social profiles"
At moment many users submitted join requests with empty Stackoverflow and Github profiles (with 1 reputation on SO and 0-1 repos on GH). We can check it via public API and suggest to improve reputation before joining. SO reputation can be checked at: `https://api.stackexchange.com/2.2/users/{userid}?site=stackoverflow`

[2018-04-10 15:44] 0crat commented on #915
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-10 16:12] yegor256 commented on #914
@izrik it seems that it was a problem with Telegram API. They were not allowing us to post anything, for some reason...

[2018-04-10 19:07] yegor256 commented on #909
@rultor release, tag is `0.21.2`

[2018-04-10 19:10] rultor commented on #909
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14286-380213802)

[2018-04-10 19:16] rultor commented on #909
@0pdd @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14286-380213802) (spent 6min)

[code]

[2018-04-10 19:18] yegor256 commented on #909
@rultor release, tag is `0.21.2`

[2018-04-10 19:32] rultor commented on #909
@0pdd @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14286-380216995) (spent 11min)

[code]

[2018-04-10 19:46] yegor256 commented on #909
@rultor release, tag is `0.21.2`

[2018-04-10 19:48] rultor commented on #909
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14286-380224344)

[2018-04-10 19:54] rultor commented on #909
@0pdd @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14286-380224344) (spent 5min)

[code]

[2018-04-10 19:57] izrik commented on #914
@yegor256 Ok. Should I re-submit the form then?

[2018-04-10 23:17] carlosmiranda commented on #911
@yegor256 better to have a separate status indicator. `QA` role is also in the agenda of the QA reviewer, so it would be confusing.

[2018-04-11 04:24] SilasReinagel opened #916 "Policy says points are gained for Refuse Job. 0crat takes away points."
From the 0crat policy:

From 0crat upon refusal:

Points should be refunded and policy or behavior should be fixed.

[2018-04-11 05:27] yegor256 commented on #909
@rultor release, tag is `0.21.2`

[2018-04-11 05:28] rultor commented on #909
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14286-380331603)

[2018-04-11 05:33] rultor commented on #909
@0pdd @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14286-380331603) (spent 5min)

[code]

[2018-04-11 06:16] yegor256 commented on #909
@rultor release, tag is `0.21.2`

[2018-04-11 06:46] yegor256 commented on #909
@rultor release, tag is `0.21.2`

[2018-04-11 06:48] rultor commented on #909
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14286-380345274)

[2018-04-11 06:53] rultor commented on #909
@0pdd @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14286-380345274) (spent 5min)

[code]

[2018-04-11 07:14] amihaiemil commented on #916
@SilasReinagel Policy needs to be edited, the behaviour is correct. You get -15 points since refusing jobs is discouraged.

[2018-04-11 07:50] SilasReinagel commented on #916
@amihaiemil Okay, makes sense. So, should I open a new ticket to enable refund of points when Zerocracy software or policy has a bug?