[2018-07-10 15:00] 0crat commented on #1403
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-07-10 15:00] 0crat commented on #1403
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-10 15:07] krzyk commented on #1071
@0crat status

[2018-07-10 15:08] 0crat commented on #1071
@krzyk This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1071](https://github.com/zerocracy/farm/issues/1071) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @krzyk[/z](https://www.0crat.com/u/krzyk) for [10min](http://www.zerocra

[2018-07-10 15:08] krzyk commented on #1071
@0crat refuse

[2018-07-10 15:09] 0crat commented on #1071
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1071](https://github.com/zerocracy/farm/issues/1071), please stop working. Reason for job resignation: Order was cancelled

[2018-07-10 15:09] 0crat commented on #1071
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-10 15:34] g4s8 commented on #1041
@proshin-roman please try again ;) Now it have to build on Windows

[2018-07-10 15:41] g4s8 commented on #1401
It was fixed in https://github.com/zerocracy/farm/commit/8c1982d4e51eaf9095bb4f36bfa17a1d627d9237

[2018-07-10 15:41] #1401 closed

[2018-07-10 15:59] 0crat commented on #1401
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-10 15:59] 0crat commented on #1401
The job [#1401](https://github.com/zerocracy/farm/issues/1401) is now out of scope

[2018-07-10 16:01] g4s8 commented on #1393
@0crat status

[2018-07-10 16:11] g4s8 commented on #1370
@krzyk you can always check vacancies page to see projects to join: https://www.0crat.com/vacancies

As description you mean some information about the project that user can see on project page, right?

[2018-07-10 16:12] 0crat commented on #1393
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1393](https://github.com/zerocracy/farm/issues/1393) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%231393%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-07-10 16:36] g4s8 commented on #1347
@krzyk just a guess - maybe bundle tests are slow because `Xocument` apply big amount of upgrades to each `xml` file in a bundle for each test.

[2018-07-10 16:48] g4s8 commented on #1393
@amihaiemil you're right, westing rate calculation is broken, it depends on `minutes` parameter but it should not:
[code]

[2018-07-10 16:49] 0crat commented on #1393
Job [#1393](https://github.com/zerocracy/farm/issues/1393) is now in scope, role is `DEV`

[2018-07-10 16:50] g4s8 commented on #1372
@krzyk thanks, it was fixed in #1404

[2018-07-10 16:50] #1372 closed

[2018-07-10 16:50] 0crat commented on #1393
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-07-10 17:05] g4s8 commented on #967
@amihaiemil can we close this job or it requires more changes?

[2018-07-10 17:05] 0crat commented on #1372
The job is not in WBS, won't close the order

[2018-07-10 17:05] 0crat commented on #1372
Job `gh:zerocracy/farm#1372` is not assigned, can't get performer

[2018-07-10 17:08] g4s8 commented on #922
@carlosmiranda was this job fixed, can we close?

[2018-07-10 17:10] g4s8 commented on #921
@yegor256 do you want to complete this job, or I can reassign it?

[2018-07-10 17:12] g4s8 commented on #802
@carlosmiranda this job was fixed in #1401, can we close?

[2018-07-10 17:17] amihaiemil commented on #967
@g4s8 well, yes, but I still don't like that we have no interfaces :(

I understood that it would be too much of a change, though, so let's close...

[2018-07-10 17:17] #967 closed

[2018-07-10 17:19] g4s8 commented on #665
@yegor256 do you want to complete this job, or maybe reassign it to someone else?

[2018-07-10 17:32] 0crat commented on #967
Job [#967](https://github.com/zerocracy/farm/issues/967) is not in the agenda of @yegor256[/z](https://www.0crat.com/u/yegor256), can't retrieve data and time of add

[2018-07-10 17:33] 0crat commented on #967
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-10 17:33] 0crat commented on #967
The job [#967](https://github.com/zerocracy/farm/issues/967) is now out of scope

[2018-07-10 17:36] 0crat commented on #1116
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-10 18:17] ypshenychka commented on #678
@g4s8 Yes, you're right. Closing it.

[2018-07-10 18:17] #678 closed

[2018-07-10 18:32] 0crat commented on #678
Job [#678](https://github.com/zerocracy/farm/issues/678) is not in the agenda of @yegor256[/z](https://www.0crat.com/u/yegor256), can't retrieve data and time of add

[2018-07-10 18:33] 0crat commented on #678
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-10 18:33] 0crat commented on #678
The job [#678](https://github.com/zerocracy/farm/issues/678) is now out of scope

[2018-07-10 19:46] proshin-roman commented on #1041
@g4s8 no, still failing :( https://gist.github.com/proshin-roman/6375ad56eeac773d3253ee8764038ede (updated the gist)

[2018-07-10 20:50] krzyk commented on #1347
@g4s8 from my first try few days ago I saw a lot of URL.openStream (which can be either from filesystem or from outside, I vote for filesystem), I need to try another profiler and give it another try.

[2018-07-10 21:42] carlosmiranda commented on #802
@g4s8 thanks!

[2018-07-10 21:42] #802 closed

[2018-07-10 21:44] carlosmiranda commented on #922
@g4s8 yes, thanks. Seems that I missed this one

[2018-07-10 21:44] #922 closed

[2018-07-10 21:58] 0crat commented on #802
Job [#802](https://github.com/zerocracy/farm/issues/802) is not in the agenda of @yegor256[/z](https://www.0crat.com/u/yegor256), can't retrieve data and time of add

[2018-07-10 21:58] 0crat commented on #802
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-10 21:58] 0crat commented on #802
The job [#802](https://github.com/zerocracy/farm/issues/802) is now out of scope

[2018-07-10 21:59] 0crat commented on #922
Job [#922](https://github.com/zerocracy/farm/issues/922) is not in the agenda of @yegor256[/z](https://www.0crat.com/u/yegor256), can't retrieve data and time of add

[2018-07-10 22:00] 0crat commented on #922
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-10 22:00] 0crat commented on #922
The job [#922](https://github.com/zerocracy/farm/issues/922) is now out of scope

[2018-07-11 02:43] paulodamaso commented on #1330
@g4s8 Yes, but neither #1302 nor changes in QA calculations solves the problem that happened in https://github.com/llorllale/cactoos-matchers/pull/9 , so it is not enough to resolve this problem of unpaybale tasks.

[2018-07-11 02:58] paulodamaso commented on #1016
@amihaiemil Sorry for the delay. I'd just ask you to put a puzzle in code about setting / removing multiple impediments to a job in the future, I think that would be a great feature.

[2018-07-11 04:50] amihaiemil commented on #1016
@paulodamaso please open another issue about that and discuss with the ARC there, since it is a completely new feature. Besides, I have already worked the allocated time here.

[2018-07-11 06:32] g4s8 commented on #1370
@krzyk it looks helpful, but instead of langauges padges I'd make skills badges to reflect person skills in `people.xml`. To change description we can use project's Slack channel and command `description <text>`, for skills: `skills one;two;three`.

[2018-07-11 06:33] 0crat commented on #1370
Job [#1370](https://github.com/zerocracy/farm/issues/1370) is now in scope, role is `DEV`

[2018-07-11 06:34] 0crat commented on #1370
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-11 06:46] g4s8 commented on #1330
@paulodamaso but this situation should not happens again, because you will not be kicked out from PR job and QA bonus will be calculated correctly after you leave sandbox project. Add new mechanism to pass over existing restrictions looks not correct, because it solve only your problem but project will spent few hours to implement a workaround. Instead of this I can manually add you a payment for

[2018-07-11 06:47] 0pdd commented on #1123
The puzzle `1121-f96bc81e` has disappeared from the source code, that's why I closed this issue.

[2018-07-11 06:47] #1123 closed

[2018-07-11 06:47] 0pdd commented on #1121
@g4s8 all 2 puzzles are solved here: [#1123](https://github.com/zerocracy/farm/issues/1123), [#1267](https://github.com/zerocracy/farm/issues/1267).

[2018-07-11 07:03] 0crat commented on #1123
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-11 07:03] 0crat commented on #1123
The job [#1123](https://github.com/zerocracy/farm/issues/1123) is now out of scope

[2018-07-11 07:31] ypshenychka commented on #1123
@0crat quality good

[2018-07-11 07:33] 0crat commented on #1123
Order was finished, quality is "good": +38 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-11 07:33] 0crat commented on #1123
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-11 07:35] krzyk commented on #559
@0crat waiting for #1405

[2018-07-11 07:38] 0crat commented on #559
@krzyk The impediment for [#559](https://github.com/zerocracy/farm/issues/559) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-11 07:38] 0crat commented on #1071
The job [#1071](https://github.com/zerocracy/farm/issues/1071) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1920750352); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-07-11 08:37] 0crat commented on #1180
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 08:45] krzyk commented on #1180
@0crat refuse

[2018-07-11 08:46] 0crat commented on #1180
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1180](https://github.com/zerocracy/farm/issues/1180), please stop working. Reason for job resignation: Order was cancelled

[2018-07-11 08:46] 0crat commented on #1180
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-11 11:34] rultor commented on #1372
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15302-404135461) (took me 9min)

[2018-07-11 14:44] amihaiemil commented on #1016
@paulodamaso ping

[2018-07-11 14:47] yegor256 commented on #921
@0crat refuse

[2018-07-11 14:47] yegor256 commented on #921
@g4s8 reassign it pls

[2018-07-11 14:47] 0crat commented on #921
@yegor256 The user @yegor256[/z](https://www.0crat.com/u/yegor256) resigned from [#921](https://github.com/zerocracy/farm/issues/921), please stop working. Reason for job resignation: Order was cancelled

[2018-07-11 14:48] 0crat commented on #921
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-11 14:49] 0crat commented on #1089
The job [#1089](https://github.com/zerocracy/farm/issues/1089) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1921450499); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-11 16:33] yegor256 opened #1410 "remove student limitation for QA members of the Farm project"
At the moment we don't allow a user to have more than X students. Let's remove this limitation for QA people of Farm project (C3NDPUA8L). We should do something like:

[code]

We need this in order to help QA people onboard new members for us.

[2018-07-11 16:34] 0crat commented on #1410
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-11 16:47] 0crat commented on #1410
The job [#1410](https://github.com/zerocracy/farm/issues/1410) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1921649982); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-11 16:47] 0crat commented on #1410
Job `gh:zerocracy/farm#1410` already assigned to @g4s8, can't assign to @g4s8

[2018-07-11 16:47] 0crat commented on #1410
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-11 16:47] 0crat commented on #1410
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-11 17:39] #559 closed

[2018-07-11 17:39] 0pdd commented on #559
The puzzle `492-2cc36189` has disappeared from the source code, that's why I closed this issue.

[2018-07-11 17:39] 0pdd opened #1411 "update_skills.groovy:27-30: Create a method..."
The puzzle `559-80a85ff3` from #559 has to be resolved:

https://github.com/zerocracy/farm/blob/59de700b431212558541bbe2e0fb80e9125955cf/src/main/groovy/com/zerocracy/stk/pmo/people/update_skills.groovy#L27-L30

The puzzle was created by Krzysztof Krason on 10-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when

[2018-07-11 17:40] 0pdd opened #1412 "TkTeam.java:45-46: Let's display the data from..."
The puzzle `559-34ba884a` from #559 has to be resolved:

https://github.com/zerocracy/farm/blob/59de700b431212558541bbe2e0fb80e9125955cf/src/main/java/com/zerocracy/tk/TkTeam.java#L45-L46

The puzzle was created by Krzysztof Krason on 10-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed a

[2018-07-11 17:40] 0pdd commented on #492
@yegor256 2 puzzles [#1411](https://github.com/zerocracy/farm/issues/1411), [#1412](https://github.com/zerocracy/farm/issues/1412) are still not solved; solved: [#559](https://github.com/zerocracy/farm/issues/559).

[2018-07-11 17:40] 0pdd commented on #559
@0pdd 2 puzzles [#1411](https://github.com/zerocracy/farm/issues/1411), [#1412](https://github.com/zerocracy/farm/issues/1412) are still not solved.

[2018-07-11 17:40] 0crat commented on #1411
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-11 17:40] 0crat commented on #1411
Job [#1411](https://github.com/zerocracy/farm/issues/1411) is now in scope, role is `DEV`

[2018-07-11 17:41] 0crat commented on #1412
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-11 17:41] 0crat commented on #1412
Job [#1412](https://github.com/zerocracy/farm/issues/1412) is now in scope, role is `DEV`

[2018-07-11 17:57] 0crat commented on #559
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-11 17:57] 0crat commented on #559
The job [#559](https://github.com/zerocracy/farm/issues/559) is now out of scope

[2018-07-11 18:46] ypshenychka opened #1414 "QA agenda contains job that was reviewed 5 days ago and didn't receive any points\payment for it"
QA review of https://github.com/zerocracy/farm/pull/1336 was done 5 days ago. But this job is still shown in agenda. Also no points and payment was done for QA.

![image](https://user-images.githubusercontent.com/11703257/42592893-a9c03c28-8553-11e8-99b1-55dce47e1c60.png)

[2018-07-11 18:46] 0crat commented on #1414
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-11 19:39] ypshenychka commented on #559
@krzyk According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details to registered [impediment](https://github.com/zerocracy/farm/issues/559#issuecomment-404073854).

[2018-07-11 20:11] krzyk commented on #559
@ypshenychka added

[2018-07-11 22:48] paulodamaso commented on #1330
@g4s8 Right, I thought that you couldn't add these payments manually. I have three payments in that condition:
- For https://github.com/yegor256/jpeek/pull/247 is 15min @ 16USD/hr;
- For https://github.com/yegor256/jpeek/pull/256 is 15min @ 16USD/hr;
- For https://github.com/llorllale/cactoos-matchers/pull/9 is 20min @ 16USD/hr (as @llorllale stated)

[2018-07-12 04:04] paulodamaso commented on #1016
@amihaiemil Sorry, I didn't had much time to take care of this. Let's close this one for now, I'll submit a new issue later.

[2018-07-12 04:04] #1016 closed

[2018-07-12 04:20] 0crat commented on #1016
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-12 04:20] 0crat commented on #1016
The job [#1016](https://github.com/zerocracy/farm/issues/1016) is now out of scope

[2018-07-12 08:05] g4s8 commented on #1330
@paulodamaso done, please check your profile page (debts section) https://www.0crat.com/u/paulodamaso

[2018-07-12 08:55] g4s8 commented on #1403
@rultor release, tag=`0.25.7`

[2018-07-12 08:57] rultor commented on #1403
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15325-404440802)

[2018-07-12 09:00] rultor commented on #1403
@g4s8 @llorllale Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15325-404440802) (spent 3min)

[code]

[2018-07-12 09:38] 0crat commented on #1185
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-12 10:31] g4s8 commented on #1403
@rultor release, tag=`0.25.7`

[2018-07-12 10:33] rultor commented on #1403
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15325-404467731)

[2018-07-12 10:50] rultor commented on #1403
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15325-404467731) (took me 17min)

[2018-07-12 13:19] g4s8 commented on #1410
@yegor256 it should be done in #1413, can we close?

[2018-07-12 13:32] krzyk commented on #1170
@0crat waiting for review of PR #1415

[2018-07-12 13:32] 0crat commented on #1170
@krzyk The impediment for [#1170](https://github.com/zerocracy/farm/issues/1170) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-12 13:35] krzyk commented on #721
@0crat refuse

[2018-07-12 13:35] 0crat commented on #721
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#721](https://github.com/zerocracy/farm/issues/721), please stop working. Reason for job resignation: Order was cancelled

[2018-07-12 13:36] 0crat commented on #721
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-12 14:20] emilianodellacasa opened #1416 "Description missing on ZLD bonus after job completion"
When a job is completed on Zerocracy, a ZLD bonus is given to the DEV.

I think that for clarity and tracebility, the description should contain the link of the job completed or a small description of the issue (maybe the title?).

Currently the description of the payments states"none"

[2018-07-12 14:20] 0crat commented on #1416
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-12 14:20] 0crat commented on #1416
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-12 17:06] g4s8 commented on #1416
@emilianodellacasa you're right, we can't send description now because of the bug in Zold API: https://github.com/zold-io/wts.zold.io/issues/36, we will fix it in #1325 after Zold bug resolved.

[2018-07-12 17:06] #1416 closed

[2018-07-12 17:06] 0crat commented on #1416
Job `gh:zerocracy/farm#1416` is not assigned, can't get performer

[2018-07-12 18:06] liligga opened #1418 "Speed Bonus should be considered if impediments are applied"
I believe [Speed Bonus](http://www.zerocracy.com/policy.html#36) is neglected when job in 'impediment mode'. I think this should be rectified and time of job being in 'wait' mode should be subtracted from the total age so that `DEV` could be able to achieve 'Speed Bonus'. I think the current implementation of impediments should be considered as well as
 [this proposal](https://github.com/zerocracy

[2018-07-12 18:06] 0crat commented on #1418
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-12 18:06] 0crat commented on #1418
@liligga[/z](https://www.0crat.com/u/liligga) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-12 18:22] g4s8 commented on #1418
@liligga speed bonus was created to encourage developers to deliver results faster, because it's profitable for the project. If the performer uses impediments and not deliver the result fast, there are no benefits for the project, regardless how fast was performer and how much time he spent on a job. So I don't see a resons to pay extra money to developers for fast working if they can't deliver re

[2018-07-12 18:22] #1418 closed

[2018-07-12 18:37] 0crat commented on #1418
The job is not in WBS, won't close the order

[2018-07-12 18:37] 0crat commented on #1418
Job `gh:zerocracy/farm#1418` is not assigned, can't get performer

[2018-07-12 18:56] ypshenychka commented on #559
@krzyk thank you

[2018-07-12 18:56] ypshenychka commented on #559
@0crat quality acceptable

[2018-07-12 19:00] 0crat commented on #559
Order was finished, quality is "acceptable": +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-12 19:00] 0crat commented on #559
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-12 19:05] ypshenychka commented on #1016
@0crat quality good

[2018-07-12 19:08] 0crat commented on #1016
Order was finished, quality is "good": +46 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-07-12 19:08] 0crat commented on #1016
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-12 20:20] t-izbassar opened #1419 "0crat have put the PR REV out of the task illegaly"
See this [PR](https://github.com/zold-io/java-api/pull/30)

It seems like the project creates two workers of 0crat for every action. So the first worker has put the job out of scope for review and the second one sees, that job is out of scope and then deletes the performer.

The idea of possible reason is that there might be two webhooks configured for the project. But I believe 0crat should handl

[2018-07-12 20:20] 0crat commented on #1419
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-12 20:20] 0crat commented on #1419
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-12 20:45] krzyk opened #1420 "@since javadoc tags should be for major releases"
`@since` tags with minor versions make sense for libraries (like cactoos, takes), but for projects like zerocracy they don't.

So I propose to change it only for major releases `1.0`, `2.0` etc.

All the classes that we have should have `0.x` replaced with `1.0`.

[2018-07-12 20:45] 0crat commented on #1420
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-12 22:57] paulodamaso commented on #1330
@g4s8 Thank you, they're all there.

[2018-07-12 22:57] #1330 closed

[2018-07-12 23:13] 0crat commented on #1330
The job is not in WBS, won't close the order

[2018-07-12 23:13] 0crat commented on #1330
Job `gh:zerocracy/farm#1330` is not assigned, can't get performer

[2018-07-12 23:51] carlosmiranda commented on #1269
@yegor256 ping

[2018-07-12 23:57] paulodamaso commented on #1002
@krzyk Already merged, please close.

[2018-07-13 05:32] ypshenychka opened #1422 "Punishment for those who constantly ignores QA"
We should have some kind of punishment for those users who constantly ignore QA remarks and pings.

Currently we have a "5 days rule", after which QA gives his verdict anyway. But it totally discourages some of the users to communicate with QA at all if they can wait 5 days for their payment and it's not a problem for them. But for QA it becomes a real "pain", when he has to track those tickets, p

[2018-07-13 05:32] 0crat commented on #1422
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-13 06:49] ypshenychka commented on #1422
@elenavolokhova What do you think? Does it make sense to implement something like this?

[2018-07-13 07:37] krzyk commented on #1002
@paulodamaso thanks

[2018-07-13 07:37] #1002 closed

[2018-07-13 07:52] 0crat commented on #1002
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-13 07:52] 0crat commented on #1002
The job [#1002](https://github.com/zerocracy/farm/issues/1002) is now out of scope

[2018-07-13 07:58] g4s8 commented on #1422
@ypshenychka I think it make a sense but only for job performers, in case of open source project many people may comment some tickets but they may be not aware of our [rules](http://www.zerocracy.com/policy.html) and it's OK, I don't think we need to punish these people somehow. BTW, can'y you just say `quality bad` if the performer is not responding within 5 days?

[2018-07-13 08:13] ypshenychka commented on #1422
@g4s8 Sure, I can say "quality bad". But once or twice it can be forgiven, I assume (reasons for not repsonding can be different, but person should be paid for the work done). However if it's systematically (we should define how many "5 days" tickets were ignored previously), then we can say 'quality bad'. Also we should define strict rule - e.g. I'm waiting response from a person from team (who h

[2018-07-13 08:19] ypshenychka commented on #1002
@0crat quality good

[2018-07-13 08:19] g4s8 commented on #1422
@ypshenychka maybe we can add new metric for such users, like "Negligence" for users who was rejected by 10-days delay often. @yegor256 what do you think?

[2018-07-13 08:20] #1307 closed

[2018-07-13 08:21] 0crat commented on #1002
Order was finished, quality is "good": +46 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-13 08:21] 0crat commented on #1002
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-13 08:30] yegor256 commented on #1269
@carlosmiranda thanks!

[2018-07-13 08:30] #1269 closed

[2018-07-13 08:38] 0crat commented on #1307
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-13 08:38] 0crat commented on #1307
The job [#1307](https://github.com/zerocracy/farm/issues/1307) is now out of scope

[2018-07-13 08:46] 0crat commented on #1269
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-13 08:46] 0crat commented on #1269
The job [#1269](https://github.com/zerocracy/farm/issues/1269) is now out of scope

[2018-07-13 09:02] ypshenychka commented on #1422
@g4s8 Also we should somehow take into consideration vacation. If a person doesn't repsond within 5 days, but he's on vacation, then don't count it towards "ignore".

[2018-07-13 09:48] krzyk commented on #1179
@0crat refuse

[2018-07-13 09:48] 0crat commented on #1179
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1179](https://github.com/zerocracy/farm/issues/1179), please stop working. Reason for job resignation: Order was cancelled

[2018-07-13 09:49] krzyk commented on #1347
@0crat wait I still haven't found the root cause

[2018-07-13 09:49] 0crat commented on #1179
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-13 09:49] 0crat commented on #1347
@krzyk The impediment for [#1347](https://github.com/zerocracy/farm/issues/1347) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-13 11:19] krzyk commented on #1347
@g4s8 sorry I wasn't able to find anything specific using profilers and changing the code didn't give any speed up, so I give up on this

[2018-07-13 11:19] krzyk commented on #1347
@0crat refuse

[2018-07-13 11:19] 0crat commented on #1347
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1347](https://github.com/zerocracy/farm/issues/1347), please stop working. Reason for job resignation: Order was cancelled

[2018-07-13 11:20] 0crat commented on #1347
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-13 13:09] ypshenychka commented on #1269
@botanicus According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/zerocracy/farm/issues/1269#issuecomment-401056300) by indicating an addressee in the beginning.

[2018-07-13 14:36] krzyk commented on #1403
@llorllale this has been fixed in #1407, please close this issue

[2018-07-13 15:18] g4s8 commented on #360
@yegor256 it should be partially fixed in #1408 - now we are using soft references for caching datum documents instead of static fields.

[2018-07-13 15:29] llorllale commented on #1403
@krzyk works again, thanks!

[2018-07-13 15:29] #1403 closed

[2018-07-13 15:44] 0crat commented on #1403
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-13 15:44] 0crat commented on #1403
The job [#1403](https://github.com/zerocracy/farm/issues/1403) is now out of scope

[2018-07-13 17:48] 0crat commented on #1402
The job [#1402](https://github.com/zerocracy/farm/issues/1402) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1941753369); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-13 17:48] 0crat commented on #1402
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-13 17:48] 0crat commented on #1402
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-13 18:17] g4s8 commented on #1193
@0crat assign @krzyk

[2018-07-13 18:17] 0crat commented on #1193
@g4s8 The job [#1193](https://github.com/zerocracy/farm/issues/1193) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1941822667); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-07-13 18:17] 0crat commented on #1193
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-13 18:29] rultor commented on #1402
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15354-404915642)

[2018-07-13 18:44] rultor commented on #1402
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15354-404915642) (took me 14min)

[2018-07-13 18:54] g4s8 commented on #1402
Reproduced and fixed in https://github.com/zerocracy/farm/commit/1b75af0673223035fed243051a66d6e259ecb464

[2018-07-13 18:54] #1402 closed

[2018-07-13 19:39] g4s8 commented on #1402
@0crat status

[2018-07-13 19:45] 0crat commented on #1402
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1402](https://github.com/zerocracy/farm/issues/1402) is [in scope](http://www.zerocracy.com/policy.html#14) for 3days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [2hr](http://www.zerocracy.c

[2018-07-13 19:46] 0crat commented on #1402
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-13 19:46] 0crat commented on #1402
The job [#1402](https://github.com/zerocracy/farm/issues/1402) is now out of scope

[2018-07-13 19:56] g4s8 opened #1426 "Sentry.capture may throw an exception"
We should refactor exception handling with `Sentry` because `Sentry.capture()` may throw an exception itself:
[code]
it breaks the logic of some classes, e.g. `Terminator`, Slack, Github, Telegram reactions.

We need to wrap it with some class which can initialize it and send events safely:
[code]

Also commit https://github.com/zerocracy/farm/commit/a0766ae54345a36fbfe5f15b67963606c745c44c should

[2018-07-13 20:05] 0crat commented on #1426
Job [#1426](https://github.com/zerocracy/farm/issues/1426) is now in scope, role is `DEV`

[2018-07-13 20:06] 0crat commented on #1426
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-13 20:29] g4s8 commented on #1426
@rultor release, tag=`0.25.8`

[2018-07-13 20:29] g4s8 commented on #1426
@rultor release, tag=`0.25.9`

[2018-07-13 20:32] rultor commented on #1426
@g4s8 Invalid release tag `0.25.8` specified. There is already a release `0.25.8` newer than the given release in this repository.

[2018-07-13 20:32] rultor commented on #1426
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-07-13 20:34] rultor commented on #1426
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15355-404945179)

[2018-07-13 20:36] g4s8 commented on #1426
@rultor release, tag=`0.25.9`

[2018-07-13 20:50] rultor commented on #1426
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15355-404945179) (took me 15min)

[2018-07-13 20:55] rultor commented on #1426
@g4s8 Invalid release tag `0.25.9` specified. There is already a release `0.25.9` newer than the given release in this repository.

[2018-07-13 20:55] rultor commented on #1426
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-07-13 20:56] g4s8 commented on #1426
@0crat status

[2018-07-13 20:59] 0crat commented on #1426
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1426](https://github.com/zerocracy/farm/issues/1426) is [in scope](http://www.zerocracy.com/policy.html#14) for 53min
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is n

[2018-07-13 23:30] carlosmiranda commented on #1422
@ypshenychka @g4s8 I think delayed payment is a sufficient disincentive for a performer. Do we have actual examples of team members being chronically negligent of QA? At least on my part I would prefer to fix issues sooner than later, because I want to be paid.

A bigger issue would be that some of our rules apply to non-team members who may not be aware of policy. See #1427 for example, which has

[2018-07-14 06:57] ypshenychka commented on #1403
@0crat quality good

[2018-07-14 07:00] 0crat commented on #1403
Order was finished, quality is "good": +46 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-14 07:01] 0crat commented on #1403
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-14 07:23] ypshenychka commented on #1422
@carlosmiranda I agree with #1427. I didn't have a lot of situations like this, but we can just ignore comments from non-team members. It's not a problem.

As per examples of such negligence, I have a bunch of such tickets.
Here are the most recent ones that already passed QA: https://github.com/zold-io/zold/pull/362, https://github.com/zold-io/zold/pull/150, https://github.com/zold-io/zold/pull/1

[2018-07-14 09:06] krzyk commented on #1395
@g4s8 similar thing for DEV, for #1403 I got 46 points (hmm, 30 + 16, like the percentage was just added), cash payment was correct (rate + 16 %)

[2018-07-14 12:40] g4s8 commented on #1426
@0crat assign @carlosmiranda

[2018-07-14 12:41] 0crat commented on #1426
@g4s8 The job [#1426](https://github.com/zerocracy/farm/issues/1426) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1951240210); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-07-14 12:44] krzyk commented on #1364
@g4s8 could I take this one? It is closely related to https://github.com/zerocracy/farm/issues/1116, I need to fix this first and after that the #1116

[2018-07-14 12:45] krzyk commented on #1116
@0crat waiting for #1364 to be done before proceeding here (blocks testing)

[2018-07-14 12:45] 0crat commented on #1426
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-14 12:45] 0crat commented on #1116
@krzyk The impediment for [#1116](https://github.com/zerocracy/farm/issues/1116) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-14 21:38] 0crat commented on #1380
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-14 21:38] 0crat commented on #1069
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-15 08:13] g4s8 commented on #1422
@ypshenychka maybe you can ask for confirmation only in disputable situation when you can't be sure that quality is bad or not? but in all other cases just say the verdict without confirmation?

[2018-07-15 08:48] 0pdd commented on #1069
The puzzle `565-edf33878` has disappeared from the source code, that's why I closed this issue.

[2018-07-15 08:48] #1069 closed

[2018-07-15 08:48] 0pdd opened #1428 "FkBank.java:57-60: Add FkBank to the Payroll under the..."
The puzzle `1069-c7edbb2e` from #1069 has to be resolved:

https://github.com/zerocracy/farm/blob/629641be3cb12c2f98adffabd29f08463f96e9f8/src/main/java/com/zerocracy/pmo/banks/FkBank.java#L57-L60

The puzzle was created by rultor on 15-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed an

[2018-07-15 08:48] 0pdd commented on #565
@g4s8 the puzzle [#1428](https://github.com/zerocracy/farm/issues/1428) is still not solved; solved: [#1066](https://github.com/zerocracy/farm/issues/1066), [#1067](https://github.com/zerocracy/farm/issues/1067), [#1069](https://github.com/zerocracy/farm/issues/1069).

[2018-07-15 08:48] 0pdd commented on #1069
@0pdd the puzzle [#1428](https://github.com/zerocracy/farm/issues/1428) is still not solved.

[2018-07-15 08:48] 0crat commented on #1428
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-15 09:11] #1163 closed

[2018-07-15 09:11] 0pdd commented on #1163
The puzzle `1015-7cbe8f93` has disappeared from the source code, that's why I closed this issue.

[2018-07-15 09:11] 0pdd commented on #1015
@g4s8 the only puzzle [#1163](https://github.com/zerocracy/farm/issues/1163) is solved here.

[2018-07-15 10:17] 0crat commented on #1428
Job [#1428](https://github.com/zerocracy/farm/issues/1428) is now in scope, role is `DEV`

[2018-07-15 10:22] 0crat commented on #1069
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-15 10:41] g4s8 opened #1431 "Failed to change Github assignee"
0crat failed to set Github issue assignee via API (e.g. here https://github.com/zerocracy/farm/pull/1429):
[code]

[2018-07-15 10:44] 0crat commented on #1431
Job [#1431](https://github.com/zerocracy/farm/issues/1431) is now in scope, role is `DEV`

[2018-07-15 10:46] g4s8 commented on #1426
@rultor release, tag=`0.25.10`

[2018-07-15 10:47] 0crat commented on #1431
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-15 10:48] rultor commented on #1426
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15355-405082534)

[2018-07-15 11:03] rultor commented on #1426
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15355-405082534) (took me 15min)

[2018-07-15 14:09] ypshenychka commented on #1163
@0crat quality good

[2018-07-15 14:13] ypshenychka commented on #1069
@paulodamaso According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

[One](https://github.com/zerocracy/farm/pull/1421/commits/e2131644f435c44172aaf3eb8599277d679871f7) of your commits contains link to invalid issue. Please confirm you'll try to avoid this mistake in future.

[2018-07-15 17:33] 0crat commented on #1163
Order was finished, quality is "good": +46 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-15 17:33] 0crat commented on #1163
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-15 17:37] 0crat commented on #487
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-15 21:11] krzyk commented on #1185
@g4s8 as you created the original todo, do you remember what `notifyPublish` means? Which notifications should it disable?

[2018-07-16 00:46] carlosmiranda commented on #733
@0crat refuse (already refused [before}(https://github.com/zerocracy/farm/issues/733#issuecomment-400138821))

[2018-07-16 02:54] paulodamaso commented on #1069
@ypshenychka confirm, thanks

[2018-07-16 05:57] 0crat commented on #733
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#733](https://github.com/zerocracy/farm/issues/733), please stop working. Reason for job resignation: Order was cancelled

[2018-07-16 06:01] 0crat commented on #733
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-16 07:15] ypshenychka commented on #1069
@paulodamaso thanks

[2018-07-16 07:15] ypshenychka commented on #1069
@0crat quality acceptable

[2018-07-16 07:42] g4s8 opened #1433 "Claims are not processed"
0crat may not process `claims.xml` for some time, it always process them after restart and after some time, e.g. claim `Ping` can be submitted 2 hours ago, but processed only now.

[2018-07-16 07:50] g4s8 commented on #1433
@rultor release, tag=`0.25.10`

[2018-07-16 07:52] rultor commented on #1433
@g4s8 Invalid release tag `0.25.10` specified. There is already a release `0.25.10` newer than the given release in this repository.

[2018-07-16 07:52] rultor commented on #1433
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-07-16 07:54] g4s8 commented on #1433
@rultor release, tag=`0.25.11`

[2018-07-16 07:54] rultor commented on #1433
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15367-405172046)

[2018-07-16 07:57] g4s8 commented on #487
@amihaiemil yes, it's the same error as in this bug: https://github.com/zerocracy/farm/issues/1396#issuecomment-403705200

[2018-07-16 08:10] rultor commented on #1433
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15367-405172046) (took me 15min)

[2018-07-16 08:17] 0crat commented on #1433
The job [#1433](https://github.com/zerocracy/farm/issues/1433) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1970810016); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-16 08:17] 0crat commented on #1069
Order was finished, quality is "acceptable": +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-16 08:18] 0crat commented on #1069
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-16 08:18] 0crat commented on #1433
Job `gh:zerocracy/farm#1433` already assigned to @g4s8, can't assign to @g4s8

[2018-07-16 08:19] 0crat commented on #1433
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-16 08:19] 0crat commented on #1433
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-16 08:19] 0crat commented on #1433
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-16 08:32] carlosmiranda commented on #1426
@g4s8 see PR #1434

[2018-07-16 10:32] g4s8 commented on #1433
@rultor release, tag=`0.25.12`

[2018-07-16 10:33] rultor commented on #1433
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15367-405206958)

[2018-07-16 10:49] rultor commented on #1433
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15367-405206958) (took me 15min)

[2018-07-16 11:11] g4s8 commented on #1433
@rultor release, tag=`0.25.13`

[2018-07-16 11:12] rultor commented on #1433
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15367-405214736)

[2018-07-16 11:29] 0crat commented on #921
The job [#921](https://github.com/zerocracy/farm/issues/921) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1971104010); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-07-16 11:29] rultor commented on #1433
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15367-405214736) (took me 17min)

[2018-07-16 11:29] 0crat commented on #921
Job `gh:zerocracy/farm#921` already assigned to @paulodamaso, can't assign to @paulodamaso

[2018-07-16 11:38] g4s8 commented on #1433
@rultor release, tag=`0.25.14`

[2018-07-16 11:52] rultor commented on #1433
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15367-405220043) (spent 12min)

[code]

[2018-07-16 11:57] 0crat commented on #1139
The job [#1139](https://github.com/zerocracy/farm/issues/1139) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1971157137); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-16 11:59] g4s8 commented on #1433
@rultor release, tag=`0.25.14`

[2018-07-16 12:01] rultor commented on #1433
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15367-405224249)

[2018-07-16 12:17] rultor commented on #1433
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15367-405224249) (took me 15min)

[2018-07-16 12:36] g4s8 commented on #1433
@rultor release, tag=`0.25.15`

[2018-07-16 12:37] 0crat commented on #1071
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-16 12:38] rultor commented on #1433
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15367-405233158)

[2018-07-16 12:55] rultor commented on #1433
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15367-405233158) (took me 16min)

[2018-07-16 13:25] g4s8 commented on #1310
@amihaiemil PR #1409 was merged, can we close?

[2018-07-16 13:35] amihaiemil commented on #1310
@g4s8 sure, sorry, I forgot about it

[2018-07-16 13:35] #1310 closed

[2018-07-16 13:54] 0crat commented on #1310
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-16 13:54] 0crat commented on #1310
The job [#1310](https://github.com/zerocracy/farm/issues/1310) is now out of scope

[2018-07-16 14:52] g4s8 commented on #773
@yegor256 ping. What do you think about this https://github.com/zerocracy/farm/issues/773#issuecomment-402458468 ?
We need to start thinking and preparing for multi-instance application, now we have about 34.7 requests per second to our `Flush` implementation (when `Ping` claim is submitted for all projects), I think these `Flush`-es and `claims.xml` on S3 will become our "weak point" if we add fe

[2018-07-16 15:07] 0pdd opened #1435 "VsOverElected.java:33-36: VsOverElected may cause..."
The puzzle `1433-9a8228e9` from #1433 has to be resolved:

https://github.com/zerocracy/farm/blob/375d63a08d2cb25d7b745c28075953f36a7c5180/src/main/java/com/zerocracy/pm/staff/votes/VsOverElected.java#L33-L36

The puzzle was created by g4s8 on 16-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem i

[2018-07-16 15:07] 0pdd commented on #1433
@g4s8 the puzzle [#1435](https://github.com/zerocracy/farm/issues/1435) is still not solved.

[2018-07-16 15:07] 0crat commented on #1435
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-16 15:08] g4s8 commented on #1433
Fixed in https://github.com/zerocracy/farm/commit/1d22118ba00d888ff764312ba2fa95a435ba27b2

[2018-07-16 15:08] #1433 closed

[2018-07-16 15:08] 0crat commented on #1435
Job [#1435](https://github.com/zerocracy/farm/issues/1435) is now in scope, role is `DEV`

[2018-07-16 16:37] 0crat commented on #1089
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-16 17:16] g4s8 commented on #1410
@yegor256 it was fixed in #1413

[2018-07-16 17:16] #1410 closed

[2018-07-16 18:20] g4s8 commented on #1433
@rultor release, tag=`0.25.16`

[2018-07-16 18:32] rultor commented on #1433
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15367-405334443)

[2018-07-16 18:49] ypshenychka commented on #1269
@botanicus ping

[2018-07-16 18:51] rultor commented on #1433
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15367-405334443) (took me 18min)

[2018-07-16 19:06] g4s8 commented on #1420
@krzyk thanks, fixed in e6f0c4d5

[2018-07-16 19:06] #1420 closed

[2018-07-16 19:21] 0crat commented on #1420
The job is not in WBS, won't close the order

[2018-07-16 19:21] 0crat commented on #1420
Job `gh:zerocracy/farm#1420` is not assigned, can't get performer

[2018-07-16 20:06] ypshenychka commented on #1414
@g4s8 Currently I have about 6 tickets that are awaiting QA verdict, but Agenda contains only 2. It's not functioning correctly.
![image](https://user-images.githubusercontent.com/11703257/42780734-bd5ed800-894c-11e8-81e5-c05a55c951f1.png)

[2018-07-16 20:59] krzyk commented on #1185
@0crat refuse

[2018-07-16 21:00] 0crat commented on #1185
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1185](https://github.com/zerocracy/farm/issues/1185), please stop working. Reason for job resignation: Order was cancelled

[2018-07-16 21:02] 0crat commented on #1185
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-16 21:37] carlosmiranda commented on #1426
@g4s8 merged #1434, may we close this now?

[2018-07-17 03:13] g4s8 commented on #1426
@carlosmiranda thanks

[2018-07-17 03:13] #1426 closed

[2018-07-17 03:17] g4s8 commented on #1242
@yegor256 it was fixed in #1425, can we close?

[2018-07-17 03:19] g4s8 commented on #1414
@0crat assign @carlosmiranda

[2018-07-17 03:22] 0crat commented on #1414
@g4s8 The job [#1414](https://github.com/zerocracy/farm/issues/1414) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1980325165); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-07-17 03:23] 0crat commented on #1414
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-17 03:23] 0crat commented on #1414
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-17 03:35] 0crat commented on #1426
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-17 03:35] 0crat commented on #1426
The job [#1426](https://github.com/zerocracy/farm/issues/1426) is now out of scope

[2018-07-17 07:49] ypshenychka commented on #1426
@0crat quality good

[2018-07-17 07:56] 0crat commented on #1426
Order was finished, quality is "good": +46 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-17 07:56] 0crat commented on #1426
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-17 08:18] carlosmiranda commented on #1422
@ypshenychka agreed. I've "disputed" you a few times and managed to get the verdict updated from "acceptable" to "good" _at least once_. :) The notification process is very helpful.

[2018-07-17 09:07] yegor256 commented on #360
@g4s8 OK, thanks

[2018-07-17 09:07] #360 closed

[2018-07-17 09:14] krzyk opened #1437 "TmZerocrat doesn't have a mock"
It is right now impossible to test stakeholders that do notifications using telegram because there is no mock implementation.

I would expect a mock implementation that would be returned in tests from `ExtTelegram`. This mock should allow getting list of messages sent, and to whom they were sent to.

[2018-07-17 09:14] 0crat commented on #1437
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-17 10:03] carlosmiranda commented on #1071
@g4s8 see PR #1436

[2018-07-17 10:04] carlosmiranda commented on #1071
@0crat wait for merge of #1436

[2018-07-17 10:04] 0crat commented on #1071
@carlosmiranda The impediment for [#1071](https://github.com/zerocracy/farm/issues/1071) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-17 10:10] krzyk opened #1438 "BundlesTest doesn't copy directories to projects"
Current BundlesTest implementation takes only files that end with `*.xml` and copies them to project/PMO.
But it should look recursively for files with *.xml and all directories that contain xml files, e.g. for options we have a structure like: `options/uid.xml`, this file should be also copied.

[2018-07-17 10:10] 0crat commented on #1438
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-17 12:09] 0crat commented on #1140
The job [#1140](https://github.com/zerocracy/farm/issues/1140) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1981218455); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-17 13:56] emilianodellacasa opened #1439 "Boosted issue does not reflect on Agenda page"
Even though issue https://github.com/zold-io/zold/issues/98 has boosted 4x, in my Agenda page I still se the cost without boosting.

This is confusing: the boost should be visible everywhere, or I should be able to see in a glance from the Agenda page if the issue has been boosted.

[2018-07-17 13:56] 0crat commented on #1439
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-17 13:56] 0crat commented on #1439
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-17 17:07] 0pdd commented on #1366
The puzzle `1269-a1c2eb54` has disappeared from the source code, that's why I closed this issue.

[2018-07-17 17:07] #1366 closed

[2018-07-17 17:07] 0pdd commented on #1269
@yegor256 the only puzzle [#1366](https://github.com/zerocracy/farm/issues/1366) is solved here.

[2018-07-17 17:07] g4s8 commented on #1366
@rultor release, tag=`0.26.1`

[2018-07-17 17:08] rultor commented on #1366
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15395-405656270)

[2018-07-17 17:18] g4s8 commented on #1439
@emilianodellacasa right, you have boost in https://github.com/zold-io/zold/issues/98#issuecomment-405658874 job, but it doesn't reflect your agenda.

[2018-07-17 17:19] 0crat commented on #1439
Job [#1439](https://github.com/zerocracy/farm/issues/1439) is now in scope, role is `DEV`

[2018-07-17 17:24] rultor commented on #1366
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15395-405656270) (took me 15min)

[2018-07-17 17:52] g4s8 commented on #1366
@rultor release, tag=`0.26.2`

[2018-07-17 17:54] rultor commented on #1366
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15395-405669631)

[2018-07-17 18:09] rultor commented on #1366
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15395-405669631) (took me 15min)

[2018-07-17 18:17] g4s8 commented on #1366
@rultor release, tag=`0.26.3`

[2018-07-17 18:20] rultor commented on #1366
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15395-405678059)

[2018-07-17 18:38] rultor commented on #1366
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15395-405678059) (took me 17min)

[2018-07-17 19:20] krzyk commented on #1183
@g4s8 what do you think? Without it the only way to speed up given important issues is manual assignment or doing it by ARC. With this feature 0crat will do the assignment according to the algorithm.

[2018-07-17 19:36] g4s8 commented on #1183
@krzyk I'm waiting for milestone stakeholders and ranks here, I think they may solve this issue, if not we can add this task to WBS

[2018-07-18 06:30] yegor256 commented on #773
@g4s8 I agree with the strategy. How about moving "claims" to Amazon SQS?

[2018-07-18 06:46] yegor256 commented on #1242
@g4s8 thanks!

[2018-07-18 06:46] #1242 closed

[2018-07-18 07:05] 0crat commented on #1242
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-18 07:05] 0crat commented on #1242
The job [#1242](https://github.com/zerocracy/farm/issues/1242) is now out of scope

[2018-07-18 07:07] 0crat commented on #721
The job [#721](https://github.com/zerocracy/farm/issues/721) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1990713266); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-18 07:07] g4s8 commented on #1352
@0pdd also any user can be invited by Zerocracy QA, see #1410

[2018-07-18 07:09] g4s8 commented on #1352
@0crat assign @krzyk

[2018-07-18 07:09] 0crat commented on #1352
@g4s8 The job [#1352](https://github.com/zerocracy/farm/issues/1352) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1990716318); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-07-18 07:10] 0crat commented on #1352
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-18 07:10] g4s8 commented on #1169
@0crat assign @carlosmiranda

[2018-07-18 07:11] 0crat commented on #1169
@g4s8 The job [#1169](https://github.com/zerocracy/farm/issues/1169) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1990718345); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-07-18 07:11] 0crat commented on #1169
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-18 07:34] ypshenychka commented on #1269
@0crat quality acceptable

[2018-07-18 07:37] 0crat commented on #1269
Order was finished, quality is "acceptable": +30 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-18 07:37] 0crat commented on #1269
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-18 07:44] krzyk commented on #1438
@g4s8 This one will block all the stakeholders tests for "options" (e.g. https://github.com/zerocracy/farm/issues/1186, https://github.com/zerocracy/farm/issues/1185)

[2018-07-18 07:48] krzyk commented on #1186
@g4s8 I think it would be better for users to be able to change the options using `0crat` in telegram not by uploading files. Was the file upload chosen as the easier option?

[2018-07-18 07:49] krzyk commented on #1187
@g4s8 I'm interested in this one (I get swamped with issues) and generally options feature in regard to changing the maxJobsInAgenda (so also https://github.com/zerocracy/farm/issues/1186)

[2018-07-18 07:50] carlosmiranda commented on #721
@0crat status

[2018-07-18 07:50] 0crat commented on #721
@carlosmiranda This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#721](https://github.com/zerocracy/farm/issues/721) is [in scope](http://www.zerocracy.com/policy.html#14) for 5mon
  * The role is `DEV`
  * The job is assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) for [43m

[2018-07-18 07:51] krzyk commented on #721
@carlosmiranda hot potato :)

[2018-07-18 07:55] carlosmiranda commented on #721
@0crat refuse (darn it, I [refused already](https://github.com/zerocracy/farm/issues/721#issuecomment-400935918) :))

[2018-07-18 07:55] 0crat commented on #721
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#721](https://github.com/zerocracy/farm/issues/721), please stop working. Reason for job resignation: Order was cancelled

[2018-07-18 07:57] 0crat commented on #721
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-18 08:12] carlosmiranda commented on #1414
@ypshenychka there is a bug in `delete_stale_jobs` , it's not working properly for QA reviews. See PR #1440 for workaround.

[2018-07-18 08:17] carlosmiranda commented on #1341
@g4s8 I know what's causing this now. In `delete_stale_jobs.groovy`, Zerocracy periodically purges the Agenda list of 10 random users of jobs that are not in `orders.xml`. The problem is that jobs under review are actually removed in `finish_order.groovy` from `orders.xml`, and placed in `reviews.xml` by `start_qa_review.groovy`. This also explains the unpredictable behavior of this bug.

So, `del

[2018-07-18 08:18] g4s8 commented on #1438
@0crat assign @carlosmiranda

[2018-07-18 08:21] g4s8 commented on #1186
@krzyk I suppose we choose file upload because of easier implementation comparing to chat bot commands, because we need to add many new commands for each option

[2018-07-18 08:22] 0crat commented on #1438
@g4s8 The job [#1438](https://github.com/zerocracy/farm/issues/1438) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1990827272); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-07-18 08:22] 0crat commented on #1438
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-18 08:22] 0crat commented on #1438
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-18 08:31] g4s8 commented on #1186
@krzyk you're right, it would be much easier. Didn't think about it. Let's do as you suggested.

[2018-07-18 08:33] ypshenychka commented on #1414
@carlosmiranda Thanks for figuring this out!

[2018-07-18 08:47] g4s8 commented on #1341
@carlosmiranda thanks, do you think that #1440 can also solve this issue?

[2018-07-18 09:10] g4s8 commented on #773
@yegor256 yes, SQS will be good for it, I think we need FIFO SQS here. We may even not reach free limit (1_000_000 requests per month): now we have about 416 claims per day (average for Zerocracy project).

[2018-07-18 09:32] carlosmiranda commented on #1341
@g4s8 no, since `delete_stale_jobs` will still be applied to `DEV`/`REV` tasks, and if they are moved from Orders to Reviews they might be nuked by the cleanup.

[2018-07-18 09:41] g4s8 commented on #1186
@0crat assign @krzyk

[2018-07-18 09:41] g4s8 commented on #1187
@0crat assign @krzyk

[2018-07-18 09:43] amihaiemil commented on #487
@0crat refuse

[2018-07-18 09:45] 0crat commented on #1186
@g4s8 The job [#1186](https://github.com/zerocracy/farm/issues/1186) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1990951443); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-07-18 09:45] 0crat commented on #1187
@g4s8 The job [#1187](https://github.com/zerocracy/farm/issues/1187) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1990951444); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-07-18 09:46] 0crat commented on #1186
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-18 09:46] 0crat commented on #1187
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-18 09:46] 0crat commented on #487
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-07-18 11:12] amihaiemil commented on #1380
@0crat waiting for PR #1441 to be reviewed

[2018-07-18 11:13] 0crat commented on #1380
@amihaiemil The impediment for [#1380](https://github.com/zerocracy/farm/issues/1380) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-07-18 18:37] 0crat commented on #1193
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-19 04:01] carlosmiranda opened #1442 "SafeSentryTest.logsThrownException fails intermittently"
See https://github.com/zerocracy/farm/pull/1436#issuecomment-405914676:

[code]

Looks like a race condition related to adding and removing the log appender. Let's fix it:

1. Synchronize and/or use a concurrent list such as `CopyOnWriteArrayList`
2. Use `hasItem` instead of `contains`, the appender might have multiple log messages.

[2018-07-19 04:01] 0crat commented on #1442
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-19 08:54] yegor256 commented on #773
@g4s8 let's go for SQS. Let me know what I need to create there and what credentials to add to `settings.xml`

[2018-07-19 12:49] ypshenychka opened #1444 "Points for inviting a student are not added"
According to http://www.zerocracy.com/policy.html#1, examiner will get +32 reputation points if he invites or denies a student.

I haven't received any points when inviting assigned person.

[2018-07-19 12:49] 0crat commented on #1444
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-19 15:04] llorllale opened #1445 "'Duplicate Claims' error everywhere in zold-io/java-api"
We're getting this "Duplicate claims" error *everywhere* in `zold-io/java-api` (example [here](https://github.com/zold-io/java-api/issues/5#issuecomment-406307497) and [here](https://github.com/zold-io/java-api/issues/40#issuecomment-406294832) and [here](https://github.com/zold-io/java-api/issues/41#issuecomment-406294444)).

@g4s8 you once asked in the chat if there are duplicate webhooks config

[2018-07-19 15:05] 0crat commented on #1445
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-19 15:05] 0crat commented on #1445
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-19 16:59] krzyk commented on #1364
@0crat waiting for PR review in #1432

[2018-07-19 17:00] 0crat commented on #1364
@krzyk The impediment for [#1364](https://github.com/zerocracy/farm/issues/1364) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-19 19:06] paulodamaso commented on #1089
@0crat refuse

[2018-07-19 19:07] 0crat commented on #1089
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1089](https://github.com/zerocracy/farm/issues/1089), please stop working. Reason for job resignation: Order was cancelled

[2018-07-19 19:09] 0crat commented on #1089
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-20 04:20] paulodamaso commented on #733
@amihaiemil I've found that `notify.groovy` is swallowing these exceptions. When we test `assign_role.groovy` it generates other claims with the `test` channel, and unfortunately the exceptions raised in `assign_role.groovy` are wrapped in claims directed to the `test` channel too. So, they're proccessed by `notify.groovy` and redirected to `notify_test.groovy`, which saves them to some text file.

[2018-07-20 04:40] paulodamaso commented on #733
@amihaiemil All the magic is happening in `StkSafe:93`: when any groovy scripts thows a `SoftException` it adds a `Notify` claim with the claim that generated the exception and the exception message.

A solution would be tamper with the xml and replace `test` channel with another type, `text-exception` for example, add this channel to `notify.groovy` an explode it there. It will break a lot of tes

[2018-07-20 07:20] g4s8 commented on #1442
@0crat assign @paulodamaso

[2018-07-20 07:22] 0crat commented on #1442
@g4s8 The job [#1442](https://github.com/zerocracy/farm/issues/1442) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2010727251); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-07-20 07:23] 0crat commented on #1442
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-20 07:23] 0crat commented on #1442
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-20 07:30] 0pdd opened #1448 "delete_stale_jobs.groovy:35-41: Cleanup of stale jobs is..."
The puzzle `1414-beb41dc9` from #1414 has to be resolved:

https://github.com/zerocracy/farm/blob/07c10b476fc64c88105291d5a06637840308c8a9/src/main/groovy/com/zerocracy/stk/pmo/agenda/delete_stale_jobs.groovy#L35-L41

The puzzle was created by Carlos Miranda on 19-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done"

[2018-07-20 07:30] 0pdd commented on #1414
@ypshenychka the puzzle [#1448](https://github.com/zerocracy/farm/issues/1448) is still not solved.

[2018-07-20 07:31] 0crat commented on #1448
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-20 07:37] 0crat commented on #1448
Job [#1448](https://github.com/zerocracy/farm/issues/1448) is now in scope, role is `DEV`

[2018-07-20 07:43] carlosmiranda commented on #1414
@ypshenychka should be fixed in PR #1440, may we close this now?

[2018-07-20 07:53] 0pdd commented on #1071
The puzzle `939-6d7b5358` has disappeared from the source code, that's why I closed this issue.

[2018-07-20 07:53] #1071 closed

[2018-07-20 07:54] 0pdd opened #1449 "notify.groovy:32-37: Let's allow notification via Viber...."
The puzzle `1071-28281b2a` from #1071 has to be resolved:

https://github.com/zerocracy/farm/blob/6b256aec7feaa25e77e02813c34ec3b290d92fd0/src/main/groovy/com/zerocracy/stk/pm/comm/notify.groovy#L32-L37

The puzzle was created by Carlos Miranda on 17-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the probl

[2018-07-20 07:54] 0pdd commented on #939
@yegor256 the puzzle [#1449](https://github.com/zerocracy/farm/issues/1449) is still not solved; solved: [#1070](https://github.com/zerocracy/farm/issues/1070), [#1071](https://github.com/zerocracy/farm/issues/1071), [#1072](https://github.com/zerocracy/farm/issues/1072).

[2018-07-20 07:54] 0pdd commented on #1071
@0pdd the puzzle [#1449](https://github.com/zerocracy/farm/issues/1449) is still not solved.

[2018-07-20 07:54] 0crat commented on #1449
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-20 08:02] 0crat commented on #1449
Job [#1449](https://github.com/zerocracy/farm/issues/1449) is now in scope, role is `DEV`

[2018-07-20 08:12] 0crat commented on #1071
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-20 08:12] 0crat commented on #1071
The job [#1071](https://github.com/zerocracy/farm/issues/1071) is now out of scope

[2018-07-20 08:17] 0pdd commented on #1141
The puzzle `540-880d3ffd` has disappeared from the source code, that's why I closed this issue.

[2018-07-20 08:17] #1141 closed

[2018-07-20 08:17] 0pdd opened #1450 "Negligence.java:33-38: Use this metric inside..."
The puzzle `1141-7253381b` from #1141 has to be resolved:

https://github.com/zerocracy/farm/blob/29ca6fb9b6f7e66d05df77178e74695a220b6fe5/src/main/java/com/zerocracy/pmo/Negligence.java#L33-L38

The puzzle was created by rultor on 20-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and

[2018-07-20 08:17] 0pdd commented on #540
@g4s8 the puzzle [#1450](https://github.com/zerocracy/farm/issues/1450) is still not solved; solved: [#1141](https://github.com/zerocracy/farm/issues/1141).

[2018-07-20 08:17] 0pdd commented on #1141
@0pdd the puzzle [#1450](https://github.com/zerocracy/farm/issues/1450) is still not solved.

[2018-07-20 08:18] 0crat commented on #1450
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-20 08:28] 0crat commented on #1450
Job [#1450](https://github.com/zerocracy/farm/issues/1450) is now in scope, role is `DEV`

[2018-07-20 08:39] 0crat commented on #1141
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-20 08:40] 0crat commented on #1141
The job [#1141](https://github.com/zerocracy/farm/issues/1141) is now out of scope

[2018-07-20 08:41] ypshenychka commented on #1141
@0crat quality good

[2018-07-20 08:43] ypshenychka commented on #1414
@carlosmiranda Thank you.

[2018-07-20 08:43] #1414 closed

[2018-07-20 08:44] 0crat commented on #1141
Order was finished, quality is "good": +46 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-20 08:44] 0crat commented on #1141
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-20 08:45] ypshenychka commented on #1071
@0crat quality good

[2018-07-20 08:47] 0crat commented on #1071
Order was finished, quality is "good": +46 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-20 08:47] 0crat commented on #1071
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-20 08:49] krzyk commented on #1170
@g4s8 changes have been merged in #1415, please close this issue

[2018-07-20 08:58] 0crat commented on #487
The job [#487](https://github.com/zerocracy/farm/issues/487) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2010865517); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-20 08:59] 0crat commented on #1414
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-20 08:59] 0crat commented on #1414
The job [#1414](https://github.com/zerocracy/farm/issues/1414) is now out of scope

[2018-07-20 09:03] krzyk commented on #1381
@g4s8 can I take this?

[2018-07-20 09:03] 0crat commented on #1089
The job [#1089](https://github.com/zerocracy/farm/issues/1089) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2010910580); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-07-20 09:17] amihaiemil commented on #733
@paulodamaso I would make a PR with a puzzle reflecting what we have to do to fix this problem, or the general direction towards fixing the issue. This, considering that you already spent your time here doing the research.

[2018-07-20 09:18] ypshenychka commented on #1414
@0crat quality good

[2018-07-20 09:23] 0crat commented on #1414
Order was finished, quality is "good": +46 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-20 09:23] 0crat commented on #1414
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-20 09:28] 0crat commented on #1167
The job [#1167](https://github.com/zerocracy/farm/issues/1167) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2010935794); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-07-20 09:33] 0crat commented on #1179
The job [#1179](https://github.com/zerocracy/farm/issues/1179) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2010940845); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-07-20 09:38] krzyk commented on #1193
@amihaiemil I don't think I see usefulness of amount of minutes.
Would it be really minutes or points? Because those are currently different. And points are awared right away so they are not a debt.

[2018-07-20 09:56] krzyk commented on #1193
@0crat waiting for review of PR #1452

[2018-07-20 09:56] 0crat commented on #1193
@krzyk The impediment for [#1193](https://github.com/zerocracy/farm/issues/1193) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-20 11:40] amihaiemil commented on #1193
@krzyk Right, reputation is awarded right away so it doesn't make much sense to specify it as a debt. We can go without that, then :)

[2018-07-20 12:41] g4s8 opened #1453 "Add or remove project to "sandbox""
Let's allow to mark project as a "sandbox" project in Slack channel for PMO users (has role in `PMO`). Let's use `@0crat sandbox add|remove` commands to add or remove project to sandbox. Also we need to add `sandbox` flag to `<project>` in `catalog.xml` and use instead of `Catalog.sandbox()` method.

[2018-07-20 12:41] 0crat commented on #1453
Job [#1453](https://github.com/zerocracy/farm/issues/1453) is now in scope, role is `DEV`

[2018-07-20 12:44] 0crat commented on #1453
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-20 12:50] g4s8 commented on #1414
@rultor release, tag=`0.26.4`

[2018-07-20 12:54] rultor commented on #1414
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15432-406591320)

[2018-07-20 12:57] g4s8 commented on #1381
@krzyk sure

[2018-07-20 12:58] g4s8 commented on #1381
@0crat assign @krzyk

[2018-07-20 12:58] g4s8 commented on #1170
@krzyk thanks

[2018-07-20 12:58] #1170 closed

[2018-07-20 13:05] 0crat commented on #1381
@g4s8 The job [#1381](https://github.com/zerocracy/farm/issues/1381) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2011270313); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-07-20 13:06] 0crat commented on #1381
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-20 13:11] rultor commented on #1414
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15432-406591320) (took me 16min)

[2018-07-20 13:30] 0crat commented on #1170
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-20 13:31] 0crat commented on #1170
The job [#1170](https://github.com/zerocracy/farm/issues/1170) is now out of scope

[2018-07-20 13:53] krzyk commented on #487
@0crat refuse

[2018-07-20 14:00] 0crat commented on #487
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#487](https://github.com/zerocracy/farm/issues/487), please stop working. Reason for job resignation: Order was cancelled

[2018-07-20 14:03] 0crat commented on #487
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-20 15:04] paulodamaso commented on #1139
@0crat wait, this task depends on #1140

[2018-07-20 15:05] 0crat commented on #1139
@paulodamaso Can't understand "wait,", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from th

[2018-07-20 15:08] paulodamaso commented on #1139
@0crat wait this task depends on #1140

[2018-07-20 19:41] ypshenychka commented on #1170
@0crat quality good

[2018-07-20 19:46] 0crat commented on #1170
Order was finished, quality is "good": +46 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-20 19:46] 0crat commented on #1170
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-21 09:43] 0crat commented on #733
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-21 10:04] victornoel commented on #1445
@g4s8 @llorllale I confirm there is something fishy happening somewhere because 0crat does everything twice on the `zold-io/java-api` project, see for example https://github.com/zold-io/java-api/issues/42.

[2018-07-21 12:08] krzyk commented on #1287
@carlosmiranda @amihaiemil @paulodamaso would you like to fix this one (and start getting +33% instead of +8% for good REV tasks?) :)

[2018-07-21 12:16] victornoel opened #1456 "Award page content is outdated or incomplete"
I have noticed that my award page is showing outdated or incomplete information.
I believe the total sum of point is correct and coherent with the team page though.

There hasn't been any new award recorded there for 14 days even though I did get some points since that moment. One thing of importance is that the points I got since the last recorded award were tuition fees.

If it is only tuition f

[2018-07-21 12:16] 0crat commented on #1456
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-21 13:38] 0crat commented on #921
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-21 16:11] paulodamaso opened #1457 "0crat assign task but it does not shows up in agenda"
Just like https://github.com/zerocracy/farm/issues/1043 .

0crat assigned a job to me, and it does not appear in my agenda: https://github.com/zerocracy/farm/issues/921

![agenda-no-job](https://user-images.githubusercontent.com/33915433/43037738-7b623502-8ce7-11e8-9617-e0dfddd59fe7.png)

[2018-07-21 16:11] 0crat commented on #1457
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-21 17:14] g4s8 commented on #1287
@0crat assign @amihaiemil

[2018-07-21 17:15] 0crat commented on #1287
@g4s8 The job [#1287](https://github.com/zerocracy/farm/issues/1287) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2021717414); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-07-21 17:17] 0crat commented on #1287
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-21 17:20] g4s8 commented on #921
@0crat status

[2018-07-21 17:37] 0pdd opened #1458 "profile.xsl:19-22: When..."
The puzzle `1193-ee91f3f9` from #1193 has to be resolved:

https://github.com/zerocracy/farm/blob/4ae84683c0fc9802f4d04bd7bc3d5e319fd22ad4/src/main/resources/xsl/profile.xsl#L19-L22

The puzzle was created by rultor on 21-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of t

[2018-07-21 17:37] 0pdd commented on #1193
@amihaiemil the puzzle [#1458](https://github.com/zerocracy/farm/issues/1458) is still not solved.

[2018-07-21 17:37] 0crat commented on #1458
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-21 17:38] 0crat commented on #1458
Job [#1458](https://github.com/zerocracy/farm/issues/1458) is now in scope, role is `DEV`

[2018-07-21 17:59] 0pdd commented on #1187
The puzzle `1035-3b7a2d5a` has disappeared from the source code, that's why I closed this issue.

[2018-07-21 17:59] #1187 closed

[2018-07-21 17:59] 0pdd commented on #703
@0pdd 2 puzzles [#1185](https://github.com/zerocracy/farm/issues/1185), [#1186](https://github.com/zerocracy/farm/issues/1186) are still not solved; solved: [#1035](https://github.com/zerocracy/farm/issues/1035), [#1187](https://github.com/zerocracy/farm/issues/1187).

[2018-07-21 17:59] 0pdd commented on #1035
@0pdd 2 puzzles [#1185](https://github.com/zerocracy/farm/issues/1185), [#1186](https://github.com/zerocracy/farm/issues/1186) are still not solved; solved: [#1187](https://github.com/zerocracy/farm/issues/1187).

[2018-07-21 18:18] 0crat commented on #1187
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-21 18:18] 0crat commented on #1187
The job [#1187](https://github.com/zerocracy/farm/issues/1187) is now out of scope

[2018-07-21 20:42] #1193 closed

[2018-07-21 21:00] 0crat commented on #1193
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-21 21:00] 0crat commented on #1193
The job [#1193](https://github.com/zerocracy/farm/issues/1193) is now out of scope

[2018-07-22 06:18] ypshenychka commented on #1187
@0crat quality good

[2018-07-22 06:22] g4s8 commented on #1444
@ypshenychka sorry, it's not implemented yet, will be fixed in #1352

[2018-07-22 06:22] #1444 closed

[2018-07-22 06:34] 0crat commented on #1180
The job [#1180](https://github.com/zerocracy/farm/issues/1180) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2030643542); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-07-22 06:38] 0crat commented on #1444
Job `gh:zerocracy/farm#1444` is not assigned, can't get performer

[2018-07-22 06:38] 0crat commented on #1444
The job is not in WBS, won't close the order

[2018-07-22 06:39] 0crat commented on #1185
The job [#1185](https://github.com/zerocracy/farm/issues/1185) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2030648734); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-07-22 06:44] 0crat commented on #1188
The job [#1188](https://github.com/zerocracy/farm/issues/1188) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2030653797); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-22 07:01] yegor256 opened #1459 "recalculate hourly rate"
Let's recalculate the hourly rate of a programmer automatically, every day. I'm talking about the rate we keep in `peopoe.xml`, not the project rate. Let's use our internal metrics and re-set the rate according to them. This article should help: https://www.yegor256.com/2014/04/20/how-hourly-rate-is-calculated.html When the rate is changed, let's inform the developer via `Notify user`. Let's make

[2018-07-22 07:01] 0crat commented on #1459
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-22 08:58] g4s8 commented on #1459
@yegor256 do you have some coefficients for these metrics? How exactly each metric should affect the rate?

[2018-07-22 11:02] 0pdd opened #1460 "_after.groovy:39-41: This assertion fails because..."
The puzzle `1395-2f0f55eb` from #1395 has to be resolved:

https://github.com/zerocracy/farm/blob/634f2fa963e449daf492ef83a4289df4b183c91b/src/test/resources/com/zerocracy/bundles/close_job_with_quality_review/_after.groovy#L39-L41

The puzzle was created by rultor on 22-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2018-07-22 11:02] 0crat commented on #1460
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-22 11:03] 0crat commented on #1460
Job [#1460](https://github.com/zerocracy/farm/issues/1460) is now in scope, role is `DEV`

[2018-07-22 12:40] g4s8 commented on #1395
@amihaiemil it was fixed in #1429 PR, can we close?

[2018-07-22 12:43] amihaiemil commented on #1395
@g4s8 sure, thanks

[2018-07-22 12:43] #1395 closed

[2018-07-22 13:02] 0pdd commented on #1380
The puzzle `1016-094de400` has disappeared from the source code, that's why I closed this issue.

[2018-07-22 13:02] #1380 closed

[2018-07-22 13:02] 0crat commented on #1395
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-22 13:02] 0crat commented on #1395
The job [#1395](https://github.com/zerocracy/farm/issues/1395) is now out of scope

[2018-07-22 13:02] 0pdd opened #1461 "remove_impediment.groovy:30-34: The impediment should..."
The puzzle `1380-39754ff8` from #1380 has to be resolved:

https://github.com/zerocracy/farm/blob/3928b6f0d1134a40f25d3202da516849a6513894/src/main/groovy/com/zerocracy/stk/pm/in/impediments/remove_impediment.groovy#L30-L34

The puzzle was created by amihaiemil on 18-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "don

[2018-07-22 13:02] 0pdd commented on #1016
@paulodamaso the puzzle [#1461](https://github.com/zerocracy/farm/issues/1461) is still not solved; solved: [#1380](https://github.com/zerocracy/farm/issues/1380).

[2018-07-22 13:02] 0pdd commented on #1380
@0pdd the puzzle [#1461](https://github.com/zerocracy/farm/issues/1461) is still not solved.

[2018-07-22 13:02] 0crat commented on #1461
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-22 13:03] 0crat commented on #1461
Job [#1461](https://github.com/zerocracy/farm/issues/1461) is now in scope, role is `DEV`

[2018-07-22 13:24] 0pdd opened #1463 "Claims.java:50-53: Use Amazon SQS instead of xml files..."
The puzzle `773-d4aeb93a` from #773 has to be resolved:

https://github.com/zerocracy/farm/blob/b9a2c7e41c4aa10220976a0ba3db42f4636b8e50/src/main/java/com/zerocracy/pm/Claims.java#L50-L53

The puzzle was created by g4s8 on 22-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text

[2018-07-22 13:26] 0pdd opened #1464 "Flush.java:29-34: Use long-polling for claims instead of..."
The puzzle `773-91937673` from #773 has to be resolved:

https://github.com/zerocracy/farm/blob/b9a2c7e41c4aa10220976a0ba3db42f4636b8e50/src/main/java/com/zerocracy/farm/reactive/Flush.java#L29-L34

The puzzle was created by g4s8 on 22-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and

[2018-07-22 13:27] 0pdd opened #1465 "SyncItem.java:29-32: Use external synchronization of..."
The puzzle `773-13f5d30a` from #773 has to be resolved:

https://github.com/zerocracy/farm/blob/b9a2c7e41c4aa10220976a0ba3db42f4636b8e50/src/main/java/com/zerocracy/farm/sync/SyncItem.java#L29-L32

The puzzle was created by g4s8 on 22-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and

[2018-07-22 13:29] 0crat commented on #1380
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-22 13:30] 0crat commented on #1380
The job [#1380](https://github.com/zerocracy/farm/issues/1380) is now out of scope

[2018-07-22 13:30] 0crat commented on #1464
Job [#1464](https://github.com/zerocracy/farm/issues/1464) is now in scope, role is `DEV`

[2018-07-22 13:30] 0crat commented on #1465
Job [#1465](https://github.com/zerocracy/farm/issues/1465) is now in scope, role is `DEV`

[2018-07-22 13:30] 0crat commented on #1463
The job [#1463](https://github.com/zerocracy/farm/issues/1463) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2031343349); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-22 13:30] 0crat commented on #1463
Job `gh:zerocracy/farm#1463` already assigned to @g4s8, can't assign to @g4s8

[2018-07-22 13:30] 0crat commented on #1463
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-22 13:33] g4s8 commented on #773
@amihaiemil I added 3 tasks to refactor certain parts in application: #1463 #1464 #1465, can we close?

[2018-07-22 13:43] 0crat commented on #1364
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-22 13:43] 0crat commented on #1364
The job [#1364](https://github.com/zerocracy/farm/issues/1364) is now out of scope

[2018-07-22 13:47] 0pdd commented on #733
@amihaiemil the puzzle [#1466](https://github.com/zerocracy/farm/issues/1466) is still not solved.

[2018-07-22 14:50] ypshenychka commented on #1380
@0crat quality goof

[2018-07-22 14:50] ypshenychka commented on #1380
@0crat quality good

[2018-07-22 14:52] ypshenychka commented on #1364
@0crat quality good

[2018-07-22 15:11] 0crat commented on #1380
Order was finished, quality is "good": +46 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-07-22 15:12] 0crat commented on #1380
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-22 15:12] 0crat commented on #1364
Order was finished, quality is "good": +46 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-22 15:13] 0crat commented on #1364
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-22 15:17] 0crat commented on #1189
The job [#1189](https://github.com/zerocracy/farm/issues/1189) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2031517109); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-22 15:21] 0crat commented on #1190
The job [#1190](https://github.com/zerocracy/farm/issues/1190) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2031522157); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-22 16:39] 0crat commented on #1140
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-22 18:43] #683 closed

[2018-07-22 18:43] #773 closed

[2018-07-22 18:43] #733 closed

[2018-07-22 19:00] 0crat commented on #683
Job [#683](https://github.com/zerocracy/farm/issues/683) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2018-07-22 19:09] 0crat commented on #733
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-22 19:09] 0crat commented on #683
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-22 19:09] 0crat commented on #683
The job [#683](https://github.com/zerocracy/farm/issues/683) is now out of scope

[2018-07-22 19:09] 0crat commented on #773
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-22 19:09] 0crat commented on #773
The job [#773](https://github.com/zerocracy/farm/issues/773) is now out of scope

[2018-07-22 19:09] 0crat commented on #733
The job [#733](https://github.com/zerocracy/farm/issues/733) is now out of scope

[2018-07-22 19:41] ypshenychka commented on #733
@0crat quality good

[2018-07-22 19:52] 0crat commented on #733
Order was finished, quality is "good": +46 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-22 19:52] 0crat commented on #733
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-22 19:56] 0crat commented on #1192
The job [#1192](https://github.com/zerocracy/farm/issues/1192) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2031959617); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-23 07:39] 0crat commented on #1169
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-23 07:43] carlosmiranda commented on #1169
@0crat wait (busy on other tasks)

[2018-07-23 07:43] 0crat commented on #1169
@carlosmiranda The impediment for [#1169](https://github.com/zerocracy/farm/issues/1169) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-23 08:39] 0crat commented on #1438
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-23 09:36] carlosmiranda commented on #1438
@0crat wait (busy on other tasks)

[2018-07-23 09:41] 0crat commented on #1438
@carlosmiranda The impediment for [#1438](https://github.com/zerocracy/farm/issues/1438) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-23 09:43] 0crat commented on #1410
The job [#1410](https://github.com/zerocracy/farm/issues/1410) is now out of scope

[2018-07-23 09:43] 0crat commented on #1410
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-23 09:52] g4s8 commented on #1437
@krzyk we already have `test` messages for tests, see `apply_to_a_project` bundle test, it uses `test;` token to send all notifications to file `test.txt`, does it solve your issue?

[2018-07-23 09:58] krzyk commented on #1437
@g4s8 Nice. Yes I think it should

[2018-07-23 09:58] #1437 closed

[2018-07-23 10:04] g4s8 commented on #575
@0crat status

[2018-07-23 10:05] 0crat commented on #575
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#575](https://github.com/zerocracy/farm/issues/575) is [in scope](http://www.zerocracy.com/policy.html#14) for 5mon
  * The role is `DEV`
  * The job is assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) for [1mon](http://www.z

[2018-07-23 10:13] 0crat commented on #1437
Job `gh:zerocracy/farm#1437` is not assigned, can't get performer

[2018-07-23 10:13] 0crat commented on #1437
The job is not in WBS, won't close the order

[2018-07-23 10:38] 0crat commented on #1186
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-23 14:56] g4s8 commented on #1463
@0crat boost 4x

[2018-07-23 14:59] 0crat commented on #1463
@g4s8 Boost 4x was set for [#1463](https://github.com/zerocracy/farm/issues/1463)

[2018-07-23 14:59] 0crat commented on #1463
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-23 15:04] 0crat commented on #1099
The job [#1099](https://github.com/zerocracy/farm/issues/1099) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2041503568); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-23 16:13] g4s8 commented on #1463
@0crat hello

[2018-07-23 16:15] 0crat commented on #1463
@g4s8 Hey, what's up, how is it going?

[2018-07-23 19:39] 0crat commented on #1210
The job [#1210](https://github.com/zerocracy/farm/issues/1210) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2041942286); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-23 20:16] krzyk commented on #1381
@0crat waiting for review of #1467

[2018-07-23 20:16] 0crat commented on #1381
@krzyk The impediment for [#1381](https://github.com/zerocracy/farm/issues/1381) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-24 00:53] paulodamaso commented on #1442
@carlosmiranda the issue is solved, please close.

[2018-07-24 01:44] 0crat commented on #1442
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-24 01:44] 0crat commented on #1442
The job [#1442](https://github.com/zerocracy/farm/issues/1442) is now out of scope

[2018-07-24 03:30] paulodamaso commented on #921
@0crat wait for #1428 (from #565 , make payment is not fully testable yet)

[2018-07-24 03:30] 0crat commented on #921
@paulodamaso The impediment for [#921](https://github.com/zerocracy/farm/issues/921) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-24 03:31] 0crat commented on #921
@paulodamaso Job [#921](https://github.com/zerocracy/farm/issues/921) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't set impediment

[2018-07-24 03:31] paulodamaso commented on #921
@g4s8 Please take a look at this, 0crat looks lost.

[2018-07-24 04:12] carlosmiranda opened #1468 "Milestones are never updated"
Right now we have a `RbMilestone` Github reaction. It takes the milestone ID and due date, and produces a claim `Add milestone`. This is then taken by `update_milestone.groovy` stakeholder and posted to `milestones.xml`.

Note however that milestones can be edited or even deleted. This means that it is possible for milestones.xml to be incorrect if the due date is later updated.

Let's rectify thi

[2018-07-24 04:13] 0crat commented on #1468
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-24 04:21] carlosmiranda commented on #1169
@g4s8 see PR #1169.

[2018-07-24 06:01] carlosmiranda commented on #770
@0crat refuse

[2018-07-24 06:01] 0crat commented on #770
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#770](https://github.com/zerocracy/farm/issues/770), please stop working. Reason for job resignation: Order was cancelled

[2018-07-24 06:03] 0crat commented on #770
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-24 06:18] ypshenychka commented on #1442
@0crat quality good

[2018-07-24 06:34] 0crat commented on #1214
The job [#1214](https://github.com/zerocracy/farm/issues/1214) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2050642193); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-24 06:39] 0crat commented on #1218
The job [#1218](https://github.com/zerocracy/farm/issues/1218) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2050647384); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-24 06:44] 0crat commented on #1225
The job [#1225](https://github.com/zerocracy/farm/issues/1225) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2050652447); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-24 06:53] g4s8 commented on #1246
@0crat out

[2018-07-24 06:53] 0crat commented on #1459
Job [#1459](https://github.com/zerocracy/farm/issues/1459) is now in scope, role is `DEV`

[2018-07-24 06:53] 0crat commented on #1246
@g4s8 Job `gh:zerocracy/farm#1246` is not assigned, can't get performer

[2018-07-24 06:53] 0crat commented on #1459
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-24 06:53] 0crat commented on #1246
@g4s8 The job [#1246](https://github.com/zerocracy/farm/issues/1246) is now out of scope

[2018-07-24 06:59] 0crat commented on #1226
The job [#1226](https://github.com/zerocracy/farm/issues/1226) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2050667645); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-24 07:09] 0crat commented on #1227
The job [#1227](https://github.com/zerocracy/farm/issues/1227) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2050717776); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-24 07:10] g4s8 commented on #921
@0crat status

[2018-07-24 07:10] 0crat commented on #921
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#921](https://github.com/zerocracy/farm/issues/921) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [8days](http://ww

[2018-07-24 07:14] 0crat commented on #1231
The job [#1231](https://github.com/zerocracy/farm/issues/1231) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2050722829); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-24 07:16] g4s8 commented on #921
@paulodamaso this job is assigned to you and impediment was registered, but looks like it fails to add this job to your agenda because of duplicate claim error. We are going to fix such issues when we migrate claim system to Amazon SQS queues.

[2018-07-24 07:19] 0crat commented on #1232
The job [#1232](https://github.com/zerocracy/farm/issues/1232) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2050727879); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-24 08:18] carlosmiranda commented on #1438
@krzyk @g4s8 see PR #1471

[2018-07-24 09:59] 0pdd opened #1472 "change_option.groovy:29-34: Add ability to change options..."
The puzzle `1186-c29461b2` from #1186 has to be resolved:

https://github.com/zerocracy/farm/blob/01a48e5d5be6ca9e3d9b071ae63d23e528dfe478/src/main/groovy/com/zerocracy/stk/pmo/profile/change_option.groovy#L29-L34

The puzzle was created by Krzysztof Krason on 19-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" w

[2018-07-24 09:59] 0pdd commented on #703
@0pdd 3 puzzles [#1185](https://github.com/zerocracy/farm/issues/1185), [#1186](https://github.com/zerocracy/farm/issues/1186), [#1472](https://github.com/zerocracy/farm/issues/1472) are still not solved; solved: [#1035](https://github.com/zerocracy/farm/issues/1035), [#1187](https://github.com/zerocracy/farm/issues/1187).

[2018-07-24 09:59] 0pdd commented on #1035
@0pdd 3 puzzles [#1185](https://github.com/zerocracy/farm/issues/1185), [#1186](https://github.com/zerocracy/farm/issues/1186), [#1472](https://github.com/zerocracy/farm/issues/1472) are still not solved; solved: [#1187](https://github.com/zerocracy/farm/issues/1187).

[2018-07-24 09:59] 0pdd commented on #1186
@0pdd the puzzle [#1472](https://github.com/zerocracy/farm/issues/1472) is still not solved.

[2018-07-24 09:59] 0crat commented on #1472
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-24 10:07] g4s8 commented on #1169
@rultor release, tag=`0.27.1`

[2018-07-24 10:08] rultor commented on #1169
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15465-407353579)

[2018-07-24 10:10] 0crat commented on #1472
Job [#1472](https://github.com/zerocracy/farm/issues/1472) is now in scope, role is `DEV`

[2018-07-24 10:16] g4s8 commented on #1169
@carlosmiranda fixed in #1469, thanks

[2018-07-24 10:16] #1169 closed

[2018-07-24 10:23] rultor commented on #1169
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15465-407353579) (took me 15min)

[2018-07-24 10:42] 0crat commented on #1169
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-24 10:43] 0crat commented on #1169
The job [#1169](https://github.com/zerocracy/farm/issues/1169) is now out of scope

[2018-07-24 10:55] ypshenychka commented on #1169
@0crat quality good

[2018-07-24 11:01] 0crat commented on #1169
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-24 11:01] 0crat commented on #1169
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-24 12:14] krzyk commented on #1189
@0crat refuse

[2018-07-24 12:14] krzyk commented on #1190
@0crat refuse

[2018-07-24 12:15] 0crat commented on #1189
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1189](https://github.com/zerocracy/farm/issues/1189), please stop working. Reason for job resignation: Order was cancelled

[2018-07-24 12:18] 0crat commented on #1190
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1190](https://github.com/zerocracy/farm/issues/1190), please stop working. Reason for job resignation: Order was cancelled

[2018-07-24 12:19] 0crat commented on #1189
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-24 12:19] 0crat commented on #1190
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-24 13:08] #1186 closed

[2018-07-24 13:08] 0pdd commented on #1186
The puzzle `1035-a9c9989f` has disappeared from the source code, that's why I closed this issue.

[2018-07-24 13:08] 0pdd commented on #703
@0pdd 2 puzzles [#1185](https://github.com/zerocracy/farm/issues/1185), [#1472](https://github.com/zerocracy/farm/issues/1472) are still not solved; solved: [#1035](https://github.com/zerocracy/farm/issues/1035), [#1186](https://github.com/zerocracy/farm/issues/1186), [#1187](https://github.com/zerocracy/farm/issues/1187).

[2018-07-24 13:08] 0pdd commented on #1035
@0pdd 2 puzzles [#1185](https://github.com/zerocracy/farm/issues/1185), [#1472](https://github.com/zerocracy/farm/issues/1472) are still not solved; solved: [#1186](https://github.com/zerocracy/farm/issues/1186), [#1187](https://github.com/zerocracy/farm/issues/1187).

[2018-07-24 13:30] paulodamaso commented on #1192
@amihaiemil @g4s8 This is not the expected behavior in these cases? How 0crat should behave when it couldn't get a thread?

[2018-07-24 13:30] 0crat commented on #1186
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-24 13:30] 0crat commented on #1186
The job [#1186](https://github.com/zerocracy/farm/issues/1186) is now out of scope

[2018-07-24 14:07] g4s8 commented on #1192
@paulodamaso looks like it's memory related issue or it's the result of #1205 issue

[2018-07-24 14:08] 0crat commented on #1468
Job [#1468](https://github.com/zerocracy/farm/issues/1468) is now in scope, role is `DEV`

[2018-07-24 14:13] 0crat commented on #1468
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-24 16:17] g4s8 commented on #1444
@ypshenychka because we decided to use new rules and updated the policy, but feature was not implemented. So it's a bug that you didn't receive reputation points, but it was already submitted using 0pdd

[2018-07-24 16:32] ypshenychka commented on #1444
@g4s8 I see, Thanks for explanation

[2018-07-24 19:35] ypshenychka commented on #1186
@0crat quality good

[2018-07-24 19:40] 0crat commented on #1186
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-24 19:40] 0crat commented on #1186
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-25 04:20] carlosmiranda commented on #1089
@g4s8 see PR #1477

[2018-07-25 04:20] carlosmiranda commented on #1089
@0crat wait for merge of #1477

[2018-07-25 04:20] 0crat commented on #1089
@carlosmiranda The impediment for [#1089](https://github.com/zerocracy/farm/issues/1089) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-25 04:29] paulodamaso commented on #1140
@0crat wait for #1479 review

[2018-07-25 04:30] 0crat commented on #1140
@paulodamaso The impediment for [#1140](https://github.com/zerocracy/farm/issues/1140) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-25 08:34] #1246 closed

[2018-07-25 08:34] 0pdd commented on #1246
The puzzle `1215-032c8ff3` has disappeared from the source code, that's why I closed this issue.

[2018-07-25 08:34] 0pdd commented on #1463
The puzzle `773-d4aeb93a` has disappeared from the source code, that's why I closed this issue.

[2018-07-25 08:34] #1463 closed

[2018-07-25 08:34] 0pdd opened #1480 "Claims.java:27-29: Add SQS claims implementation and..."
The puzzle `1436-66b5a846` from #1436 has to be resolved:

https://github.com/zerocracy/farm/blob/a0abaf804d8fbf3b91279f2fed8e436d2388389f/src/main/java/com/zerocracy/pm/Claims.java#L27-L29

The puzzle was created by g4s8 on 24-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the tex

[2018-07-25 08:34] 0pdd commented on #1208
@g4s8 all 3 puzzles are solved here: [#1215](https://github.com/zerocracy/farm/issues/1215), [#1245](https://github.com/zerocracy/farm/issues/1245), [#1246](https://github.com/zerocracy/farm/issues/1246).

[2018-07-25 08:34] 0pdd commented on #1215
@0pdd all 2 puzzles are solved here: [#1245](https://github.com/zerocracy/farm/issues/1245), [#1246](https://github.com/zerocracy/farm/issues/1246).

[2018-07-25 08:34] 0pdd commented on #773
@amihaiemil 2 puzzles [#1464](https://github.com/zerocracy/farm/issues/1464), [#1465](https://github.com/zerocracy/farm/issues/1465) are still not solved; solved: [#1463](https://github.com/zerocracy/farm/issues/1463).

[2018-07-25 08:36] 0crat commented on #1480
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-25 08:39] 0crat commented on #1480
Job [#1480](https://github.com/zerocracy/farm/issues/1480) is now in scope, role is `DEV`

[2018-07-25 08:54] g4s8 commented on #1463
@rultor release, tag=`0.27.2`

[2018-07-25 08:58] 0crat commented on #1246
The job is not in WBS, won't close the order

[2018-07-25 08:58] 0crat commented on #1246
Job `gh:zerocracy/farm#1246` is not assigned, can't get performer

[2018-07-25 09:00] 0crat commented on #1463
Order was finished: +60 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-25 09:00] 0crat commented on #1463
The job [#1463](https://github.com/zerocracy/farm/issues/1463) is now out of scope

[2018-07-25 09:00] 0crat commented on #1480
The job [#1480](https://github.com/zerocracy/farm/issues/1480) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2060870341); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-25 09:01] 0crat commented on #1480
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-25 09:04] carlosmiranda commented on #1438
@krzyk fixed in #1471, may we close this now?

[2018-07-25 09:07] rultor commented on #1463
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15471-407683323)

[2018-07-25 09:29] 0crat commented on #1463
@g4s8 Hey, what's up, how is it going?

[2018-07-25 09:29] 0crat commented on #1463
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1463](https://github.com/zerocracy/farm/issues/1463) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%231463%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-07-25 09:59] 0crat commented on #1167
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-25 10:10] oltdaniel commented on #1422
@ypshenychka I would like to add a vacation thing. Because I were on a vacation for 17 days, and were only able to respond to small things not to change or research information for updating comments.

[2018-07-25 10:12] krzyk commented on #1438
@carlosmiranda thanks

[2018-07-25 10:12] #1438 closed

[2018-07-25 10:19] g4s8 commented on #1480
@yegor256 could you please create new AWS user with policy:
[code]
and add credentials for `props.xml`: `sqs.key` and `sqs.secret`?

[2018-07-25 10:41] 0crat commented on #1438
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-25 10:46] 0crat commented on #1438
The job [#1438](https://github.com/zerocracy/farm/issues/1438) is now out of scope

[2018-07-25 10:50] 0crat commented on #1179
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-25 11:34] carlosmiranda commented on #1167
@0crat refuse

[2018-07-25 11:35] carlosmiranda commented on #1179
@0crat wait (a bit too many tasks now)

[2018-07-25 11:38] 0crat commented on #1167
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1167](https://github.com/zerocracy/farm/issues/1167), please stop working. Reason for job resignation: Order was cancelled

[2018-07-25 11:43] ypshenychka commented on #1438
@0crat quality good

[2018-07-25 11:44] 0crat commented on #1438
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.2](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1438, Comment: 407725953

[2018-07-25 11:44] 0crat commented on #1438
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.2](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1438, Action: `created`

[2018-07-25 11:51] 0crat commented on #1179
@carlosmiranda The impediment for [#1179](https://github.com/zerocracy/farm/issues/1179) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-25 21:39] carlosmiranda commented on #1438
@0crat status

[2018-07-25 21:42] 0crat commented on #1438
@carlosmiranda This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1438](https://github.com/zerocracy/farm/issues/1438) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%231438%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restrict

[2018-07-25 21:45] carlosmiranda commented on #1438
@g4s8 help, I didn't get paid for this :(

[2018-07-26 02:08] carlosmiranda commented on #1438
@ypshenychka not sure whether you got any points nor payment for this either.

[2018-07-26 02:10] carlosmiranda commented on #1056
@g4s8 I received no payment nor credit for #1438, and neither did QA it seems. There was an [error](https://github.com/zerocracy/farm/issues/1438#issuecomment-407725989) this time.

[2018-07-26 02:12] carlosmiranda commented on #1438
@0crat status

[2018-07-26 02:13] 0crat commented on #1438
@carlosmiranda This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1438](https://github.com/zerocracy/farm/issues/1438) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%231438%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restrict

[2018-07-26 06:41] ypshenychka commented on #1438
@carlosmiranda @g4s8 I didn't receive payment as well.

[2018-07-26 08:20] krzyk commented on #1116
@amihaiemil please close this issue, it has been merged in #1474

[2018-07-26 08:23] g4s8 commented on #1438
@0crat pay 20min @carlosmiranda

[2018-07-26 08:23] g4s8 commented on #1438
@0crat pay 8min @ypshenychka

[2018-07-26 08:24] g4s8 commented on #1438
@carlosmiranda @ypshenychka same as here: https://github.com/zerocracy/farm/pull/1471#issuecomment-408013067

[2018-07-26 08:43] carlosmiranda commented on #1438
@g4s8 already got paid for 20 minutes (got notification from Telegram), but the amount is short by 15 minutes. https://github.com/zerocracy/farm/issues/1438#issuecomment-408018973

[2018-07-26 08:45] 0crat commented on #1438
Direct payment from @g4s8[/z](https://www.0crat.com/u/g4s8): +20 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-26 08:45] 0crat commented on #1438
Direct payment to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) in #1438, which is discouraged, see [§49](http://www.zerocracy.com/policy.html#49): -20 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-26 08:45] 0crat commented on #1438
Direct payment from @g4s8[/z](https://www.0crat.com/u/g4s8): +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-26 08:45] 0crat commented on #1438
Direct payment to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) in #1438, which is discouraged, see [§49](http://www.zerocracy.com/policy.html#49): -20 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-26 10:43] amihaiemil commented on #1116
@krzyk Right, thanks a lot! :)

[2018-07-26 10:43] #1116 closed

[2018-07-26 11:09] 0crat commented on #1116
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-26 11:11] 0crat commented on #1116
The job [#1116](https://github.com/zerocracy/farm/issues/1116) is now out of scope

[2018-07-26 13:09] ypshenychka commented on #1116
@0crat quality good

[2018-07-26 13:14] paulodamaso commented on #1210
@yegor256 this issue was resolved in #1476 PR, please close.

[2018-07-26 13:35] paulodamaso commented on #1192
@0crat refuse

[2018-07-26 13:36] 0crat commented on #1192
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.2](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1192, Comment: 408099588

[2018-07-26 13:36] 0crat commented on #1192
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.2](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1192, Action: `created`

[2018-07-26 13:39] 0crat commented on #1192
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1192](https://github.com/zerocracy/farm/issues/1192), please stop working. Reason for job resignation: Order was cancelled

[2018-07-26 14:04] amihaiemil commented on #1287
@krzyk I'm not sure, but wasn't this task fixed already, as [this](https://github.com/zerocracy/zerocracy.github.io/issues/25#issuecomment-402543844) comment says?

[2018-07-26 14:34] amihaiemil commented on #1287
@0crat refuse

Going on vacation for 3 weeks

[2018-07-26 14:35] krzyk commented on #1287
@amihaiemil it was only the policy page, now we need to use it here

[2018-07-26 14:35] 0crat commented on #1287
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#1287](https://github.com/zerocracy/farm/issues/1287), please stop working. Reason for job resignation: Order was cancelled

[2018-07-26 14:36] amihaiemil commented on #1287
@krzyk Well, I'll take it up again after vacation if it's not fixed by then :)

[2018-07-26 15:56] 0pdd commented on #1381
The puzzle `860-c0f3bfe5` has disappeared from the source code, that's why I closed this issue.

[2018-07-26 15:56] #1381 closed

[2018-07-26 15:56] 0pdd opened #1483 "_after.groovy:28-31: Create a test for checking that the..."
The puzzle `1381-932a555e` from #1381 has to be resolved:

https://github.com/zerocracy/farm/blob/8ae7d06509eb532409841b49bcd60a8da7877818/src/test/resources/com/zerocracy/bundles/add_speed_bonus/_after.groovy#L28-L31

The puzzle was created by rultor on 26-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when th

[2018-07-26 15:57] 0pdd opened #1484 "finish_order.groovy:58-62: This message has to be moved..."
The puzzle `1381-6fac770c` from #1381 has to be resolved:

https://github.com/zerocracy/farm/blob/8ae7d06509eb532409841b49bcd60a8da7877818/src/main/groovy/com/zerocracy/stk/pm/in/orders/finish_order.groovy#L58-L62

The puzzle was created by rultor on 26-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pr

[2018-07-26 15:57] 0pdd commented on #860
@g4s8 2 puzzles [#1483](https://github.com/zerocracy/farm/issues/1483), [#1484](https://github.com/zerocracy/farm/issues/1484) are still not solved; solved: [#1381](https://github.com/zerocracy/farm/issues/1381).

[2018-07-26 15:57] 0pdd commented on #1381
@0pdd 2 puzzles [#1483](https://github.com/zerocracy/farm/issues/1483), [#1484](https://github.com/zerocracy/farm/issues/1484) are still not solved.

[2018-07-26 15:57] 0crat commented on #1483
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-26 15:58] 0crat commented on #1484
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-26 15:59] 0crat commented on #1483
Job [#1483](https://github.com/zerocracy/farm/issues/1483) is now in scope, role is `DEV`

[2018-07-26 15:59] 0crat commented on #1484
Job [#1484](https://github.com/zerocracy/farm/issues/1484) is now in scope, role is `DEV`

[2018-07-26 16:34] 0crat commented on #1381
The job [#1381](https://github.com/zerocracy/farm/issues/1381) is now out of scope

[2018-07-26 16:50] krzyk commented on #1381
@g4s8 could you make a release with this?

[2018-07-26 16:52] g4s8 commented on #1381
@rultor release, tag=`0.27.3`

[2018-07-26 16:54] rultor commented on #1381
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15494-408162755)

[2018-07-26 16:55] krzyk opened #1485 "New metric - bug hits"
Let's introduce a new metric (a complementary to `Blanks`) that will count the number of bugs reported by given person that were accepted.
I would call it either `Bullseyes` or `Hits`.

[2018-07-26 16:55] 0crat commented on #1485
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-26 17:04] g4s8 commented on #1485
@yegor256 please look at this issue, what do you think?
Also see #1113

[2018-07-26 17:14] rultor commented on #1381
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15494-408162755) (took me 19min)

[2018-07-26 17:24] 0crat commented on #575
The job [#575](https://github.com/zerocracy/farm/issues/575) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2071713351); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-07-26 17:38] 0crat commented on #575
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-26 17:39] 0pdd commented on #1352
The puzzle `1146-0cb0fd88` has disappeared from the source code, that's why I closed this issue.

[2018-07-26 17:39] #1352 closed

[2018-07-26 17:39] 0pdd opened #1486 "assign_examiner.groovy:39-44: New users can also be..."
The puzzle `1352-131ebec6` from #1352 has to be resolved:

https://github.com/zerocracy/farm/blob/95f9c336eec9c755547bd64e8eadc1bcdcbe5508/src/main/groovy/com/zerocracy/stk/pmo/resumes/assign_examiner.groovy#L39-L44

The puzzle was created by Krzysztof Krason on 24-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done"

[2018-07-26 17:39] 0pdd commented on #908
@0pdd 3 puzzles [#1179](https://github.com/zerocracy/farm/issues/1179), [#1353](https://github.com/zerocracy/farm/issues/1353), [#1486](https://github.com/zerocracy/farm/issues/1486) are still not solved; solved: [#1146](https://github.com/zerocracy/farm/issues/1146), [#1147](https://github.com/zerocracy/farm/issues/1147), [#1352](https://github.com/zerocracy/farm/issues/1352).

[2018-07-26 17:39] 0pdd commented on #1146
@0pdd 2 puzzles [#1353](https://github.com/zerocracy/farm/issues/1353), [#1486](https://github.com/zerocracy/farm/issues/1486) are still not solved; solved: [#1352](https://github.com/zerocracy/farm/issues/1352).

[2018-07-26 17:39] 0pdd commented on #1352
@0pdd the puzzle [#1486](https://github.com/zerocracy/farm/issues/1486) is still not solved.

[2018-07-26 17:40] 0crat commented on #1486
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-26 17:44] 0crat commented on #1486
Job [#1486](https://github.com/zerocracy/farm/issues/1486) is now in scope, role is `DEV`

[2018-07-26 18:09] g4s8 opened #1487 "Do not assign a job to performer on deficit"
The job https://github.com/yegor256/cactoos/issues/905 was assigned to performer after election, but failed to update estimates with error:

performer was not notified, but the job was assigned to him.

We shouldn't assign a job if there is not enough funds.

[2018-07-26 18:09] 0crat commented on #1487
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.3](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1487, Action: `labeled`

[2018-07-26 18:34] ypshenychka commented on #1381
@0crat quality good

[2018-07-26 18:34] 0crat commented on #1381
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.3](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1381, Comment: 408193353

[2018-07-26 18:34] 0crat commented on #1381
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.3](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1381, Action: `created`

[2018-07-26 18:38] 0crat commented on #1352
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-26 18:45] ypshenychka commented on #1352
@0crat quality good

[2018-07-26 18:45] 0crat commented on #1352
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.3](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1352, Comment: 408196761

[2018-07-26 18:45] 0crat commented on #1352
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.3](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1352, Action: `created`

[2018-07-26 18:52] 0crat commented on #1352
The job [#1352](https://github.com/zerocracy/farm/issues/1352) is now out of scope

[2018-07-26 18:56] 0crat commented on #1487
Job [#1487](https://github.com/zerocracy/farm/issues/1487) is now in scope, role is `DEV`

[2018-07-26 20:11] paulodamaso commented on #770
@0crat wait : this depends on https://github.com/jcabi/jcabi-github/issues/1424 .

[2018-07-26 20:11] 0crat commented on #770
@paulodamaso The impediment for [#770](https://github.com/zerocracy/farm/issues/770) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-26 20:30] paulodamaso commented on #1214
@amihaiemil Would you kindly point me to another github issue where this happened?

[2018-07-26 20:51] g4s8 commented on #1214
@paulodamaso please see
[assign-closed.txt](https://github.com/zerocracy/farm/files/2233558/assign-closed.txt)

[2018-07-26 21:13] krzyk commented on #1381
@g4s8 no payment here also (at least I don't see it in debts)

[2018-07-26 21:31] carlosmiranda commented on #1438
@g4s8 ping

[2018-07-27 03:34] paulodamaso commented on #1214
@g4s8 What I've found so far is that `0pdd` closed the github issue but `0crat` had a failure in removing it from WBS, so `0crat` assigned it again to someone. Proposed a solution in #1488.

[2018-07-27 03:43] paulodamaso commented on #1210
@yegor256 ping

[2018-07-27 03:52] carlosmiranda commented on #487
@0crat refuse

[2018-07-27 03:52] 0crat commented on #487
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.3](https://github.com/zerocracy/farm): Issue: zerocracy/farm#487, Comment: 408303794

[2018-07-27 03:52] 0crat commented on #487
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.3](https://github.com/zerocracy/farm): Issue: zerocracy/farm#487, Action: `created`

[2018-07-27 04:13] carlosmiranda commented on #487
@0crat status

[2018-07-27 04:13] 0crat commented on #487
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.3](https://github.com/zerocracy/farm): Issue: zerocracy/farm#487, Comment: 408306144

[2018-07-27 04:13] 0crat commented on #487
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.3](https://github.com/zerocracy/farm): Issue: zerocracy/farm#487, Action: `created`

[2018-07-27 04:51] 0crat commented on #487
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#487](https://github.com/zerocracy/farm/issues/487), please stop working. Reason for job resignation: Order was cancelled

[2018-07-27 05:02] 0crat commented on #487
@carlosmiranda This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#487](https://github.com/zerocracy/farm/issues/487) is [in scope](http://www.zerocracy.com/policy.html#14) for 6mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4

[2018-07-27 06:42] amihaiemil opened #1489 "Unrecoverable failure after Speed bonus impl"
Maybe it has nothing to do with the Speed bonus, or maybe it does, but after the latest release, 0crat started reporting failures, see [here](https://github.com/zerocracy/farm/pull/1467#issuecomment-408193965) and [here](https://github.com/zerocracy/farm/pull/1475#issuecomment-408196563).

Even though the failures happened, payments were performed but on the other hand the PRs are still in my agen

[2018-07-27 06:42] 0crat commented on #1489
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-27 06:46] 0crat commented on #1180
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-27 07:23] ypshenychka commented on #1116
@0crat ping

[2018-07-27 07:29] 0crat commented on #1489
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.3](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1489, Action: `assigned`

[2018-07-27 07:32] ypshenychka commented on #1352
@0crat ping

[2018-07-27 07:32] 0crat commented on #1352
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.3](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1352, Comment: 408337191

[2018-07-27 07:32] 0crat commented on #1352
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.3](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1352, Action: `created`

[2018-07-27 07:35] ypshenychka commented on #1352
@0crat ping

[2018-07-27 07:35] 0crat commented on #1381
@ypshenychka Can't understand "ping", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from thi

[2018-07-27 07:37] 0crat commented on #1116
@ypshenychka Can't understand "ping", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from thi

[2018-07-27 07:51] 0crat commented on #1381
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1381](https://github.com/zerocracy/farm/issues/1381) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%231381%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-07-27 07:53] carlosmiranda commented on #1180
@0crat wait (too many tasks)

[2018-07-27 07:53] 0crat commented on #1180
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.3](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1180, Comment: 408341690

[2018-07-27 07:53] 0crat commented on #1180
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.3](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1180, Action: `created`

[2018-07-27 07:54] 0crat commented on #1352
@ypshenychka Can't understand "ping", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from thi

[2018-07-27 07:55] 0crat commented on #1352
@ypshenychka Can't understand "ping", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from thi

[2018-07-27 08:02] 0crat commented on #1185
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-27 08:10] g4s8 commented on #1489
@0crat assign me

[2018-07-27 08:10] 0crat commented on #1489
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.3](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1489, Comment: 408345708

[2018-07-27 08:10] 0crat commented on #1489
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.3](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1489, Action: `created`

[2018-07-27 08:10] 0crat commented on #1180
@carlosmiranda The impediment for [#1180](https://github.com/zerocracy/farm/issues/1180) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-27 08:37] 0crat commented on #1185
@carlosmiranda The impediment for [#1185](https://github.com/zerocracy/farm/issues/1185) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-27 08:40] 0crat commented on #1489
@g4s8 The job [#1489](https://github.com/zerocracy/farm/issues/1489) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2080834324); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-27 08:47] ypshenychka commented on #1381
@g4s8 no payment here as well

[2018-07-27 08:48] ypshenychka commented on #1352
@g4s8 no payment here as well

[2018-07-27 08:50] ypshenychka commented on #1116
@g4s8 no payment done here

[2018-07-27 08:56] 0crat commented on #1489
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-27 08:56] 0crat commented on #1188
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-27 09:48] krzyk commented on #1191
@0crat refuse

[2018-07-27 09:49] 0crat commented on #1191
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1191](https://github.com/zerocracy/farm/issues/1191), please stop working. Reason for job resignation: Order was cancelled

[2018-07-27 10:09] 0crat commented on #1191
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-27 11:01] 0crat commented on #1140
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-27 11:12] 0crat commented on #1140
The job [#1140](https://github.com/zerocracy/farm/issues/1140) is now out of scope

[2018-07-27 11:17] ypshenychka commented on #1140
@paulodamaso According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Some of your commits contain link to incorrect issue. Please confirm you'll try to avoid this mistake in future.

[2018-07-27 11:17] g4s8 commented on #1489
@rultor release, tag=`0.27.4`

[2018-07-27 11:19] rultor commented on #1489
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15504-408389553)

[2018-07-27 11:35] rultor commented on #1489
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15504-408389553) (took me 16min)

[2018-07-27 11:51] g4s8 commented on #1489
@0crat status

[2018-07-27 12:09] 0crat commented on #1489
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1489](https://github.com/zerocracy/farm/issues/1489) is [in scope](http://www.zerocracy.com/policy.html#14) for 4hr
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [4hr](http://www.zerocracy.com

[2018-07-27 12:46] paulodamaso commented on #1140
@ypshenychka Sorry again, I confirm I'll try to avoid this in the future.

[2018-07-27 12:55] paulodamaso commented on #1210
@yegor256 Please close the issue, it's already been merged in #1476.

[2018-07-27 12:57] paulodamaso commented on #1218
@g4s8 I have a doubt here, how do we check if a claim was submitted?

[2018-07-27 13:07] g4s8 commented on #1218
@paulodamaso we can check it in the footpint, see `elects_and_assigns_performer/_after.groovy` for example

[2018-07-27 13:13] g4s8 commented on #1489
@amihaiemil this issue is not related to speed bonus implementation, but it was caused by claims refactoring, it should be fixed in #1490

[2018-07-27 13:16] ypshenychka commented on #1140
@paulodamaso thank you

[2018-07-27 13:16] ypshenychka commented on #1140
@0crat quality acceptable

[2018-07-27 13:18] g4s8 commented on #1438
@0crat pay 15min @carlosmiranda

[2018-07-27 13:29] g4s8 commented on #1116
Missing payments due to "duplicate claim error":

|  job  | role | assignee | QA | quality | payment for job | payment for QA |
|--------|-------|--------------|------|-----------|------------------------|------------------------|
| #1116| `DEV` | @krzyk | @ypshenychka | good | `35min` | `8min`       |
| #1475| `REV` | @krzyk | @ypshenychka | good | `20min` | `8min`       |
| #1432| `DEV` | @krzyk

[2018-07-27 13:47] emilianodellacasa opened #1491 "When 0bot makes a payment it doesn't consider what it owes the DEV"
Today I received a payment from 0bot for a completed task, however 0bot owes me money for past contribution that isn't going thru because it's a small amount (total $40 more or mess).

I think that, before making a payment, 0bot should check it it owes a DEV money and send everything in a single transaction, to avoid paying unnecessary transaction fees.

[2018-07-27 13:47] 0crat commented on #1491
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-27 13:47] 0crat commented on #1491
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-27 14:07] 0crat commented on #1140
Order was finished, quality is "acceptable": +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-27 14:08] 0crat commented on #1140
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-27 14:08] 0crat commented on #1438
Direct payment from @g4s8[/z](https://www.0crat.com/u/g4s8): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-27 14:08] 0crat commented on #1438
Direct payment to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) in #1438, which is discouraged, see [§49](http://www.zerocracy.com/policy.html#49): -20 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-27 14:15] ypshenychka commented on #1116
@g4s8 Three tickets are missed in this table - #1467 , #1352 and https://github.com/Harvest-foundation/telegram/pull/129

[2018-07-27 14:33] emilianodellacasa commented on #1491
@paulodamaso It is definitely the same, sorry for creating a duplicate and thank you for pointing out

[2018-07-27 14:33] #1491 closed

[2018-07-27 14:42] g4s8 commented on #1116
@ypshenychka thanks, updated table with #1467 and #1352,  Harvest-foundation/telegram#129 is not related to this project

[2018-07-27 14:52] ypshenychka commented on #1116
@g4s8 Thanks. Now all tickets with missed payment from farm are in table (at least from my side).

[2018-07-27 14:53] 0crat commented on #1491
The job is not in WBS, won't close the order

[2018-07-27 14:53] 0crat commented on #1491
Job `gh:zerocracy/farm#1491` is not assigned, can't get performer

[2018-07-27 15:13] g4s8 commented on #1116
@0crat pay 40min @ypshenychka

[2018-07-27 16:07] amihaiemil commented on #1489
@g4s8 I see, thanks

[2018-07-27 16:07] #1489 closed

[2018-07-27 16:23] 0crat commented on #1489
Job was finished in 7 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-07-27 16:35] paulodamaso commented on #1491
@emilianodellacasa No problem, I've only saw that because the other ticket is assigned to me ;)

[2018-07-27 16:43] krzyk commented on #1116
@g4s8 looks correct

[2018-07-27 17:00] 0crat commented on #1489
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-27 17:08] 0crat commented on #1489
The job [#1489](https://github.com/zerocracy/farm/issues/1489) is now out of scope

[2018-07-27 17:11] g4s8 commented on #1116
@0crat pay 105min @krzyk

[2018-07-27 17:32] 0pdd opened #1492 "elect_performer.groovy:58-62: 0crat is assigning closed..."
The puzzle `1214-eb4dd687` from #1214 has to be resolved:

https://github.com/zerocracy/farm/blob/828bc8d267092d59df6bdd092ac3df010bf95982/src/main/groovy/com/zerocracy/stk/pm/staff/elections/elect_performer.groovy#L58-L62

The puzzle was created by rultor on 27-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" wh

[2018-07-27 17:32] 0pdd commented on #1214
@g4s8 the puzzle [#1492](https://github.com/zerocracy/farm/issues/1492) is still not solved.

[2018-07-27 17:32] 0crat commented on #1492
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-27 17:44] g4s8 commented on #1214
@paulodamaso thanks

[2018-07-27 17:44] #1214 closed

[2018-07-27 18:06] 0crat commented on #1116
Direct payment from @g4s8[/z](https://www.0crat.com/u/g4s8): +40 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-27 18:08] 0crat commented on #1116
Direct payment to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) in #1116, which is discouraged, see [§49](http://www.zerocracy.com/policy.html#49): -20 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-27 18:14] 0crat commented on #1492
Job [#1492](https://github.com/zerocracy/farm/issues/1492) is now in scope, role is `DEV`

[2018-07-27 18:46] 0crat commented on #1116
Direct payment from @g4s8[/z](https://www.0crat.com/u/g4s8): +105 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-27 19:07] 0crat commented on #1116
Direct payment to @krzyk[/z](https://www.0crat.com/u/krzyk) in #1116, which is discouraged, see [§49](http://www.zerocracy.com/policy.html#49): -20 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-27 19:12] 0crat commented on #1214
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-27 19:33] 0crat commented on #1214
The job [#1214](https://github.com/zerocracy/farm/issues/1214) is now out of scope

[2018-07-27 19:48] ypshenychka commented on #1214
@0crat quality good

[2018-07-27 20:59] 0crat commented on #1214
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-27 21:21] krzyk commented on #1188
@g4s8 hmm, one stakeholder throwing exception can block execution of another stakeholder?
I tried to recreate it in test, but make_payment.groovy is executed always before the recharge one so it always works.

[2018-07-27 21:37] krzyk commented on #1381
@g4s8 this and #1352 is still in my agenda

[2018-07-27 21:38] carlosmiranda commented on #1438
@g4s8 thanks!

[2018-07-28 07:47] ypshenychka commented on #1381
@g4s8 #1467 , #1352 , #1471 , #1438 , #1467 and #1475 are still in my agenda

[2018-07-28 08:59] g4s8 commented on #1381
@ypshenychka should be fixed, please check

[2018-07-28 09:11] g4s8 commented on #1188
@krzyk please see the footprint, performer didn't receive a payment in this job (harvest-foundation/telegram#55) automatically:
[code]

[2018-07-28 09:14] ypshenychka commented on #1381
@g4s8 This one is still in my agenda.

[2018-07-28 15:38] 0crat commented on #1099
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-28 17:13] krzyk commented on #1188
@0crat refuse

[2018-07-28 17:13] 0crat commented on #1188
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1188](https://github.com/zerocracy/farm/issues/1188), please stop working. Reason for job resignation: Order was cancelled

[2018-07-28 17:18] 0crat commented on #1188
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-28 17:19] 0crat commented on #487
The job [#487](https://github.com/zerocracy/farm/issues/487) assigned to @rgevaerd[/z](https://www.0crat.com/u/rgevaerd), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2091722387); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-28 17:35] g4s8 commented on #1390
@0crat assign @rgevaerd

[2018-07-28 17:48] 0crat commented on #1390
@g4s8 The job [#1390](https://github.com/zerocracy/farm/issues/1390) assigned to @rgevaerd[/z](https://www.0crat.com/u/rgevaerd), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2091746663); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-28 17:50] 0crat commented on #1390
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-28 17:50] 0crat commented on #1192
The job [#1192](https://github.com/zerocracy/farm/issues/1192) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2091753908); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-28 21:16] g4s8 commented on #1210
@yegor256 @paulodamaso just tried `vacation` command and it's working

[2018-07-28 21:16] #1210 closed

[2018-07-28 21:45] 0crat commented on #1210
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-28 21:48] 0crat commented on #1210
The job [#1210](https://github.com/zerocracy/farm/issues/1210) is now out of scope

[2018-07-28 22:01] rgevaerd commented on #1041
@g4s8 @proshin-roman There are locale specific errors. For example, in my Windows, running TkIdentifyTest fails due to

but running it with  **-Duser.country=US -Duser.language=en** it runs successfully.

[2018-07-29 01:11] rgevaerd commented on #1041
@g4s8 After forcing the US locale there are only two tests are failing on my Windows: ClaimsItemTest.ignoresClaimsUntilTheyBecomeValid and RbOnCloseTest.registerDelayedClaim. Should I create an issue for each of them? Or that would be part of this issue?

[2018-07-29 07:38] 0crat commented on #1218
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-29 07:38] 0crat commented on #1225
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-29 07:38] 0crat commented on #1226
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-29 07:40] 0crat commented on #1227
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-29 07:40] 0crat commented on #1231
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-29 07:40] 0crat commented on #1232
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-29 07:41] 0crat commented on #1233
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-29 07:41] 0crat commented on #1238
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-29 08:44] 0crat commented on #1210
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-29 08:44] 0crat commented on #1210
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-29 08:58] 0crat commented on #1113
Job [#1113](https://github.com/zerocracy/farm/issues/1113) is now in scope, role is `DEV`

[2018-07-29 09:01] g4s8 commented on #1041
@rgevaerd we already have this job: #1231

[2018-07-29 09:16] amihaiemil commented on #1485
@krzyk @yegor256 @g4s8 why introduce a new one? I think we should just decrement Blanks when a reported bug is accepted.

[2018-07-29 09:21] g4s8 commented on #1485
@amihaiemil but blanks may contain negative numbers then, also we will not be able to configure coefficients for blanks and hits votes independently of each other.

[2018-07-29 09:51] amihaiemil commented on #1485
@g4s8 I see, ok :)

[2018-07-29 10:45] victornoel opened #1496 "0crat ignored a PR"
After I opened zold-io/java-api#52, 0crat did nothing and simply ignored it.
I had to close and reopen it for it to be taken into account.

I don't know if it is lost event between github and 0crat, or if something else went wrong though.

In the first case, I really think we should do something about making things more robust.
In the second case, I think the situation should have raised some erro

[2018-07-29 10:45] 0crat commented on #1496
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-29 10:48] victornoel opened #1497 "Github events should be processed in order of time not arrival"
It seems that sometimes 0crat receives events from github in the wrong order, for example in zold-io/java-api#52 I had to close and reopen the PR (see #1496 as to why).

So what happened is that 0crat first saw the issue being opened, it put it in scope, and then a few minutes later, it saw the issue being closed and removed it from scope.

In the end I had to close it and simply open a new PR.

I

[2018-07-29 10:48] 0crat commented on #1497
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-29 14:46] rgevaerd opened #1498 "Code style definition for eclipse"
Is there a code style file to be used in Eclipse for this project? It would be much easier let the Eclipse IDE do most of the code style formatting than have to manually adjust all checkstyle errors.

[2018-07-29 14:46] 0crat commented on #1498
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-29 15:14] krzyk commented on #1287
@g4s8 I know it is unorthodox, but I could work on this if no one else can.

[2018-07-29 15:43] g4s8 commented on #1498
@rgevaerd we are using https://www.qulice.com/ for quality control , you can configure these [rules](https://www.qulice.com/quality.html) for your IDE and share with others if you want, but I don't think that this job is related to this particular project.

[2018-07-29 15:43] #1498 closed

[2018-07-29 15:45] krzyk commented on #1099
@0crat waiting for review of PR #1499

[2018-07-29 15:45] 0crat commented on #1099
@krzyk The impediment for [#1099](https://github.com/zerocracy/farm/issues/1099) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-29 15:59] 0crat commented on #1498
The job is not in WBS, won't close the order

[2018-07-29 15:59] 0crat commented on #1498
Job `gh:zerocracy/farm#1498` is not assigned, can't get performer

[2018-07-29 16:06] g4s8 commented on #1287
@0crat assign @krzyk

[2018-07-29 16:06] 0crat commented on #1287
@g4s8 The job [#1287](https://github.com/zerocracy/farm/issues/1287) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2101607829); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-07-29 16:07] 0crat commented on #1287
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-29 16:07] 0crat commented on #1287
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-29 18:48] krzyk opened #1500 "Few stakeholder issues"
There are few issues with groovy code:
1. notify_job.groovy: `farm` is not defined but it is used in the code
2. penalize_for_breakup.groovy: `farm` is not defined but it is used in the code
3. set_parent.groovy: `claim.reply...postTo(pmo)` - can't post to project directly, need to use ClaimsOf
4. purchase_rfp.groovy: `awards.add` called but there is no `awards` defined

[2018-07-29 18:48] 0crat commented on #1500
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-29 20:37] 0crat commented on #1500
The job [#1500](https://github.com/zerocracy/farm/issues/1500) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2102038990); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-29 20:37] 0crat commented on #1500
Job `gh:zerocracy/farm#1500` already assigned to @g4s8, can't assign to @g4s8

[2018-07-29 20:38] 0crat commented on #1500
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-29 20:38] 0crat commented on #1500
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-30 05:50] krzyk opened #1502 "No new issues/PRs assigned"
At least since yesterday there are no new issues/PRs assigned to me in any of the projects, but  my agenda has free space.
It looks like there is a general problem with the elections because PRs in projects are also not assigned, few examples:
1. https://github.com/zerocracy/farm/pull/1501
2. https://github.com/zerocracy/farm/pull/1499
3. https://github.com/Harvest-foundation/telegram/pull/138

[2018-07-30 05:50] 0crat commented on #1502
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-30 07:19] carlosmiranda commented on #1179
@g4s8 see PR #1503.

[2018-07-30 08:04] 0crat commented on #1502
The job [#1502](https://github.com/zerocracy/farm/issues/1502) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2110807788); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-30 08:04] 0crat commented on #1502
Job `gh:zerocracy/farm#1502` already assigned to @g4s8, can't assign to @g4s8

[2018-07-30 08:04] 0crat commented on #1502
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-30 08:04] 0crat commented on #1502
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-30 08:08] g4s8 commented on #1502
@krzyk it's strange looks like `Ping` claim was stopped, but `Ping hourly` and `Ping daily` works fine.

[2018-07-30 08:16] 0pdd commented on #1089
The puzzle `747-f5927788` has disappeared from the source code, that's why I closed this issue.

[2018-07-30 08:16] #1089 closed

[2018-07-30 08:17] 0pdd opened #1504 "_after.groovy:23-29: This test should be fixed already...."
The puzzle `1089-d64db1c1` from #1089 has to be resolved:

https://github.com/zerocracy/farm/blob/17fa9c0f47f55b0fae947eb08f428f6d3bf7abaa/src/test/resources/com/zerocracy/bundles/not_assign_task_to_reporter/_after.groovy#L23-L29

The puzzle was created by Carlos Miranda on 30-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task wi

[2018-07-30 08:17] 0pdd commented on #747
@t-izbassar 2 puzzles [#1391](https://github.com/zerocracy/farm/issues/1391), [#1504](https://github.com/zerocracy/farm/issues/1504) are still not solved; solved: [#1088](https://github.com/zerocracy/farm/issues/1088), [#1089](https://github.com/zerocracy/farm/issues/1089).

[2018-07-30 08:17] 0pdd commented on #1089
@0pdd the puzzle [#1504](https://github.com/zerocracy/farm/issues/1504) is still not solved.

[2018-07-30 08:17] 0crat commented on #1504
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-30 08:18] 0crat commented on #1504
Job [#1504](https://github.com/zerocracy/farm/issues/1504) is now in scope, role is `DEV`

[2018-07-30 08:32] 0crat commented on #1089
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-30 08:32] 0crat commented on #1089
The job [#1089](https://github.com/zerocracy/farm/issues/1089) is now out of scope

[2018-07-30 09:35] krzyk commented on #1390
@g4s8 There are three places where over quota is checked:
1. AcceptInvitations - here we just `return`
2. notify_in_github - we copy claim and add until 5 seconds (so it will be retried)
3. TkGithub - we return 503, so rehttp should retry it

So is it correct to only fix AcceptInvitations? Are only invitations lost here?

[2018-07-30 09:54] ypshenychka commented on #1089
@0crat quality good

[2018-07-30 09:54] 0crat commented on #1089
@ypshenychka There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.4](https://github.com/zerocracy/farm): CID: [2110955673](https://www.0crat.com/C3NDPUA8L/2110955673), Type: "Complete QA review", Author: "ypshenychka"

[2018-07-30 09:56] g4s8 commented on #1390
@krzyk I think we need to collect all quota related issues, even in `notify_in_github` to be able to count how often this situation happens.

[2018-07-30 10:08] carlosmiranda commented on #1089
@0crat status

[2018-07-30 10:09] 0crat commented on #1089
@carlosmiranda This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1089](https://github.com/zerocracy/farm/issues/1089) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 2hr
  * @carlosmiranda[/z](https://www.0crat.com/u/car

[2018-07-30 10:11] carlosmiranda commented on #1089
@ypshenychka you may have to repeat your verdict

[2018-07-30 10:47] carlosmiranda commented on #1089
@ypshenychka let's try again, Policy page fixed in https://github.com/zerocracy/zerocracy.github.io/commit/b9e9e6fa72d7370c31125c078131f173f64ebfff, it should work now

[2018-07-30 11:31] ypshenychka commented on #1089
@0crat quality good

[2018-07-30 11:40] 0crat commented on #1089
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-30 11:40] 0crat commented on #1089
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-30 11:48] 0crat commented on #1188
The job [#1188](https://github.com/zerocracy/farm/issues/1188) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2111150214); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-07-30 12:00] g4s8 commented on #1502
@krzyk fix was merged in #1505, can we close?

[2018-07-30 12:24] 0pdd commented on #1179
The puzzle `1147-60d5b5b4` has disappeared from the source code, that's why I closed this issue.

[2018-07-30 12:24] #1179 closed

[2018-07-30 12:24] 0pdd opened #1506 "TkJoin.java:43-48: Each user should see the status of..."
The puzzle `1179-61ff2e4f` from #1179 has to be resolved:

https://github.com/zerocracy/farm/blob/dd1a7acfa86db68612fe4055849af02467b002e2/src/main/java/com/zerocracy/tk/TkJoin.java#L43-L48

The puzzle was created by Carlos Miranda on 30-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed a

[2018-07-30 12:24] 0pdd commented on #908
@0pdd 3 puzzles [#1353](https://github.com/zerocracy/farm/issues/1353), [#1486](https://github.com/zerocracy/farm/issues/1486), [#1506](https://github.com/zerocracy/farm/issues/1506) are still not solved; solved: [#1146](https://github.com/zerocracy/farm/issues/1146), [#1147](https://github.com/zerocracy/farm/issues/1147), [#1179](https://github.com/zerocracy/farm/issues/1179), [#1352](https://git

[2018-07-30 12:24] 0pdd commented on #1147
@0pdd the puzzle [#1506](https://github.com/zerocracy/farm/issues/1506) is still not solved; solved: [#1179](https://github.com/zerocracy/farm/issues/1179).

[2018-07-30 12:24] 0pdd commented on #1179
@0pdd the puzzle [#1506](https://github.com/zerocracy/farm/issues/1506) is still not solved.

[2018-07-30 12:29] krzyk commented on #1502
@g4s8 thanks

[2018-07-30 12:29] #1502 closed

[2018-07-30 12:37] 0crat commented on #1506
The job [#1506](https://github.com/zerocracy/farm/issues/1506) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2111236673); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-30 12:41] 0crat commented on #1179
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-30 12:41] 0crat commented on #1179
The job [#1179](https://github.com/zerocracy/farm/issues/1179) is now out of scope

[2018-07-30 12:42] krzyk opened #1507 "Crop Blanks, Verbosity, Negligence to 90 days"
Blanks, Verbosity and Negligence should be cropped to 90 days, similar to reputation and speed of delivery.
This would make all metrics consistent.

[2018-07-30 12:42] 0crat commented on #1507
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-30 12:45] 0crat commented on #1502
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-07-30 12:46] 0crat commented on #1502
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-30 12:46] 0crat commented on #1502
The job [#1502](https://github.com/zerocracy/farm/issues/1502) is now out of scope

[2018-07-30 13:08] 0crat commented on #1189
The job [#1189](https://github.com/zerocracy/farm/issues/1189) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2111256101); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-30 13:30] 0crat commented on #1507
Job [#1507](https://github.com/zerocracy/farm/issues/1507) is now in scope, role is `DEV`

[2018-07-30 13:48] 0crat commented on #1507
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-30 13:51] 0pdd opened #1508 "refresh_awards.groovy:40-44: refresh_awards.groovy is..."
The puzzle `1218-6ccd8af1` from #1218 has to be resolved:

https://github.com/zerocracy/farm/blob/14b7f13120002ccd690f3abc3b40ea7f66db0906/src/main/groovy/com/zerocracy/stk/pmo/awards/refresh_awards.groovy#L40-L44

The puzzle was created by Paulo Lobo on 28-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when th

[2018-07-30 13:51] 0pdd commented on #1218
@g4s8 the puzzle [#1508](https://github.com/zerocracy/farm/issues/1508) is still not solved.

[2018-07-30 13:52] 0crat commented on #1508
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-07-30 13:53] 0crat commented on #1508
Job [#1508](https://github.com/zerocracy/farm/issues/1508) is now in scope, role is `DEV`

[2018-07-30 13:54] g4s8 commented on #1218
@paulodamaso #1493 was merged, thanks

[2018-07-30 13:54] #1218 closed

[2018-07-30 14:19] ypshenychka commented on #1179
@0crat quality good

[2018-07-30 14:23] 0pdd commented on #1225
The puzzle `1055-055a4c3b` has disappeared from the source code, that's why I closed this issue.

[2018-07-30 14:23] #1225 closed

[2018-07-30 14:23] 0pdd commented on #1055
@yegor256 the only puzzle [#1225](https://github.com/zerocracy/farm/issues/1225) is solved here.

[2018-07-30 14:30] 0crat commented on #1218
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-30 14:32] 0crat commented on #1218
The job [#1218](https://github.com/zerocracy/farm/issues/1218) is now out of scope

[2018-07-30 14:32] 0crat commented on #1179
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-30 14:32] 0crat commented on #1179
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-30 14:40] 0crat commented on #1190
The job [#1190](https://github.com/zerocracy/farm/issues/1190) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2111443542); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-07-30 14:41] 0crat commented on #1225
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-30 14:41] 0crat commented on #1225
The job [#1225](https://github.com/zerocracy/farm/issues/1225) is now out of scope

[2018-07-30 16:14] ypshenychka commented on #1218
@0crat quality good

[2018-07-30 16:16] ypshenychka commented on #1225
@0crat quality good

[2018-07-30 16:39] 0crat commented on #1218
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-30 16:40] 0crat commented on #1218
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-30 16:43] 0crat commented on #1225
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-30 16:43] 0crat commented on #1225
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-30 16:48] 0crat commented on #1191
The job [#1191](https://github.com/zerocracy/farm/issues/1191) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2111654277); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-30 16:58] 0crat commented on #1240
The job [#1240](https://github.com/zerocracy/farm/issues/1240) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2111664367); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea