[2019-01-19 08:00] 0crat commented on #1861
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-19 08:11] 0crat commented on #1861
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-19 08:14] 0crat commented on #1861
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-19 11:51] emilianodellacasa commented on #1859
@g4s8 Thanks

[2019-01-19 11:51] #1859 closed

[2019-01-19 12:08] 0crat commented on #1859
Job [#1859](https://github.com/zerocracy/farm/issues/1859) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-01-19 12:08] 0crat commented on #1859
Job was finished in 18 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-19 12:13] 0crat commented on #1859
The job [#1859](https://github.com/zerocracy/farm/issues/1859) is now out of scope

[2019-01-19 12:16] 0crat commented on #1859
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-19 19:35] 0crat commented on #1855
Job `gh:zerocracy/farm#1855` already assigned to @g4s8, can't assign to @g4s8

[2019-01-19 19:39] 0crat commented on #1855
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-19 19:41] 0crat commented on #1855
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-19 20:39] rultor commented on #1855
@amihaiemil @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17434-455812425) (spent 13min)

[code]

[2019-01-19 20:46] g4s8 commented on #1855
@rultor release, tag=`0.40.8`

[2019-01-19 20:47] rultor commented on #1855
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17434-455813721)

[2019-01-19 21:04] rultor commented on #1855
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17434-455813721) (took me 16min)

[2019-01-19 21:05] g4s8 commented on #1855
@amihaiemil please check https://www.0crat.com/resumes to see resumes where you are examiner

[2019-01-19 21:07] g4s8 commented on #1855
@rultor release, tag=`0.40.9`

[2019-01-19 21:07] rultor commented on #1855
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17434-455815207)

[2019-01-19 21:47] amihaiemil commented on #1855
@g4s8 thanks :)

[2019-01-19 21:47] #1855 closed

[2019-01-19 22:50] 0crat commented on #1855
Job [#1855](https://github.com/zerocracy/farm/issues/1855) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-01-19 22:52] 0crat commented on #1855
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-19 22:58] 0crat commented on #1855
The job [#1855](https://github.com/zerocracy/farm/issues/1855) is now out of scope

[2019-01-19 22:58] 0crat commented on #1855
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-20 17:59] victornoel opened #1862 "resumes page shows very old resumes which are expected to have expired"
On the new http://0crat.com/resumes page, I can see lots of old resumes dating from June 2018.

I can't find any information about expiration date for resumes, but the policy says that one can re-apply to 0crat every 16 days (http://www.zerocracy.com/policy.html#1) so I would expect those resumes to have disappeared from my page.

[2019-01-20 17:59] 0crat commented on #1862
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-20 18:00] victornoel opened #1863 "resumes page shows resume from people that have already been accepted to zerocary"
In the new http://0crat.com/resumes pages, there are resumes from people that I can't invite because they are already in the system.

I would expect those resumes to be removed from the page.

[2019-01-20 18:00] 0crat commented on #1863
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-21 16:37] 0crat commented on #1863
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1863](https://github.com/zerocracy/farm/issues/1863), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-21 16:40] 0crat commented on #1863
Job `gh:zerocracy/farm#1863` already assigned to @g4s8, can't assign to @g4s8

[2019-01-21 16:42] 0crat commented on #1863
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-21 16:42] 0crat commented on #1863
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-01-22 17:24] paulodamaso opened #1864 "0crat did not removed task on issue close"
I've closed an issue, but 0crat neither did removed it from scope nor paide the developer on closure, see https://github.com/yegor256/takes/issues/893#issuecomment-456473514

[2019-01-22 17:24] 0crat commented on #1864
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-22 17:31] paulodamaso commented on #1864
@g4s8 looked like a performance problema, there's no bug, sorry

[2019-01-22 17:31] #1864 closed

[2019-01-22 17:54] g4s8 commented on #1864
@paulodamaso yes, firstly we have a delay of 15 minutes, so when you close a ticket 0crat will see the claim only 15 minutes later, it was made intentionally, so if you closed a ticket by mistake you can reopen it in 15 minutes and 0crat will ignore it.
And we have some performance issues too.

[2019-01-22 17:54] 0crat commented on #1864
Job `gh:zerocracy/farm#1864` is not assigned, can't get performer

[2019-01-22 17:54] 0crat commented on #1864
This job is not in scope

[2019-01-22 17:57] paulodamaso commented on #1864
@g4s8 Thanks for the explanation, I did not knew about this 15 minute delay. Shouldn't it be documented somewhere?

[2019-01-23 10:46] denis-konovalyenko opened #1865 "Reward issue submitter and ARC on closing the issue with a related commit"
First of all, it is clearly stated, see [§29](http://www.zerocracy.com/policy.html#29), that "ARC makes a subjective non-disputable decision whether a reported bug deserves to be a job or not".

However, there is a case when someone known to 0crat opens an issue. After that ARC pays attention to this issue and makes a related commit, which references this issue, while not putting it into the scope

[2019-01-23 10:46] 0crat commented on #1865
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-23 12:09] g4s8 commented on #1865
@denis-konovalyenko it may be related: https://github.com/zerocracy/farm/issues/1288

[2019-01-23 12:35] denis-konovalyenko commented on #1865
@g4s8 , the idea is a bit different here. We are NOT using project funds but rather giving an opportunity to gain reputation points only if a related commit refers to the issue.

[2019-01-23 21:52] ammaratef45 opened #1866 "Add filter to board page"
[Board](https://www.0crat.com/board) page needs to have some filters,
If there is a lot of projects it won't be easy to find what I really want

Suggested filters:
- Language
- Fund state
- Members
- Jobs

[2019-01-23 21:52] 0crat commented on #1866
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-25 01:05] paulodamaso opened #1867 "0crat failed Paypal payments"
0crat failed to pay me. I've receive these messages in 0crat telegram chat last week:
- 16/01/2019 06:41 "We tried to pay your debt of $67.77, but failed (Failed to pay); don't worry, we will retry very soon"
- 17/01/2019 07:17 "We tried to pay your debt of $81.64, but failed (Failed to pay); don't worry, we will retry very soon"
- 18/01/2019: "We tried to pay your debt of $91.64, but failed (Fail

[2019-01-25 01:05] 0crat commented on #1867
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-25 15:50] paulodamaso commented on #1867
@g4s8 Received the payment some minnutes ago, thanks

[2019-01-25 15:50] #1867 closed

[2019-01-25 16:21] 0crat commented on #1867
Job `gh:zerocracy/farm#1867` is not assigned, can't get performer

[2019-01-25 16:21] 0crat commented on #1867
This job is not in scope

[2019-01-26 11:52] fabriciofx opened #1868 "Zerocrat telegram bot notify new maximum allowed size of agenda"
My points overcome +512 points and my maximum allowed size of schedule increased from 3 to 8 jobs. But it would be nice if Zerocrat telegram bot notify me about it. WDYT?

[2019-01-26 11:52] 0crat commented on #1868
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-27 08:47] g4s8 opened #1869 "Failed to link repo"
Sentry error: https://sentry.io/zerocracy/farm/issues/860008659/?query=is%3Aunresolved
[code]

[2019-01-27 08:48] 0crat commented on #1869
Job [#1869](https://github.com/zerocracy/farm/issues/1869) is now in scope, role is `DEV`

[2019-01-27 08:50] 0crat commented on #1869
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1869](https://github.com/zerocracy/farm/issues/1869), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-27 08:50] 0crat commented on #1869
Job `gh:zerocracy/farm#1869` already assigned to @g4s8, can't assign to @g4s8

[2019-01-27 08:54] 0crat commented on #1869
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-27 08:54] 0crat commented on #1869
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-27 08:54] 0crat commented on #1869
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-27 10:36] g4s8 commented on #1869
@rultor release, tag=`0.40.10`

[2019-01-27 10:37] rultor commented on #1869
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17554-457906466)

[2019-01-27 10:53] rultor commented on #1869
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17554-457906466) (took me 16min)

[2019-01-27 10:59] g4s8 commented on #1869
done in https://github.com/zerocracy/farm/commit/66bcc02c66c1b8b50f3f9f69e72a591173ac6047 released in `0.40.10`

[2019-01-27 10:59] #1869 closed

[2019-01-27 11:46] 0crat commented on #1869
Job [#1869](https://github.com/zerocracy/farm/issues/1869) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-01-27 11:48] 0crat commented on #1869
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-27 11:54] 0crat commented on #1869
The job [#1869](https://github.com/zerocracy/farm/issues/1869) is now out of scope

[2019-01-27 11:54] 0crat commented on #1869
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-27 13:48] korthout opened #1870 "Student should see how to contact mentor"
According to the FAQ page

The mentor's zerocrat page only shows the Github user associated to the mentor, but no way to contact the mentor. A student should be able to contact the mentor. A possible solution would be to show the Telegram account associated to the mentor, only visible to the student.

[2019-01-27 13:48] 0crat commented on #1870
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-27 13:48] 0crat commented on #1870
@korthout[/z](https://www.0crat.com/u/korthout) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-27 19:41] rultor commented on #1706
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17563-457946484) (spent 12min)

[code]

[2019-01-27 19:48] 0crat commented on #1706
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1706](https://github.com/zerocracy/farm/issues/1706), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-27 20:07] 0crat commented on #1706
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-27 20:31] fabriciofx commented on #1706
@g4s8 Just for curiosity: how did you detect the slow problem is this thread lock?

[2019-01-28 08:06] g4s8 commented on #1706
@fabriciofx I'm using visualVM for profiling

[2019-01-28 08:31] 0pdd opened #1871 "Project.java:61-63: Find all usages of this method and..."
The puzzle `1706-b3b081d2` from #1706 has to be resolved:

https://github.com/zerocracy/farm/blob/4a62a3abf3f4e26e290776e2ca4032bc4ab00da1/src/main/java/com/zerocracy/Project.java#L61-L63

The puzzle was created by Kirill on 27-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-01-28 08:32] 0crat commented on #1871
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-28 08:32] 0pdd opened #1872 "PgLocks.java:30-31: Implement ReadWriteLock in PgLock and..."
The puzzle `1706-2d297284` from #1706 has to be resolved:

https://github.com/zerocracy/farm/blob/4a62a3abf3f4e26e290776e2ca4032bc4ab00da1/src/main/java/com/zerocracy/farm/sync/PgLocks.java#L30-L31

The puzzle was created by Kirill on 27-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the pu

[2019-01-28 08:32] 0pdd commented on #1347
@g4s8 4 puzzles [#1706](https://github.com/zerocracy/farm/issues/1706), [#1762](https://github.com/zerocracy/farm/issues/1762), [#1871](https://github.com/zerocracy/farm/issues/1871), [#1872](https://github.com/zerocracy/farm/issues/1872) are still not solved; solved: [#1705](https://github.com/zerocracy/farm/issues/1705).

[2019-01-28 08:32] 0pdd commented on #1706
@0pdd 2 puzzles [#1871](https://github.com/zerocracy/farm/issues/1871), [#1872](https://github.com/zerocracy/farm/issues/1872) are still not solved.

[2019-01-28 08:32] 0crat commented on #1872
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-28 08:43] g4s8 commented on #1706
@rultor release, tag=`0.40.11`

[2019-01-28 08:44] rultor commented on #1706
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17563-458040898)

[2019-01-28 08:57] rultor commented on #1706
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17563-458040898) (spent 13min)

[code]

[2019-01-28 09:18] g4s8 commented on #1706
@rultor release, tag=`0.40.11`

[2019-01-28 09:19] rultor commented on #1706
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17563-458051043)

[2019-01-28 09:32] rultor commented on #1706
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17563-458051043) (spent 13min)

[code]

[2019-01-28 09:46] 0crat commented on #1872
Job [#1872](https://github.com/zerocracy/farm/issues/1872) is now in scope, role is `DEV`

[2019-01-28 10:14] g4s8 commented on #1706
@rultor release, tag=`0.40.11`

[2019-01-28 10:16] rultor commented on #1706
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17563-458070800)

[2019-01-28 10:34] rultor commented on #1706
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17563-458070800) (took me 16min)

[2019-01-28 10:48] g4s8 commented on #1706
@rultor release, tag=`0.40.12`

[2019-01-28 10:48] 0pdd commented on #1871
The puzzle `1706-b3b081d2` has disappeared from the source code, that's why I closed this issue.

[2019-01-28 10:48] #1871 closed

[2019-01-28 10:48] 0pdd commented on #1872
The puzzle `1706-2d297284` has disappeared from the source code, that's why I closed this issue.

[2019-01-28 10:48] #1872 closed

[2019-01-28 10:48] 0pdd commented on #1347
@g4s8 2 puzzles [#1706](https://github.com/zerocracy/farm/issues/1706), [#1762](https://github.com/zerocracy/farm/issues/1762) are still not solved; solved: [#1705](https://github.com/zerocracy/farm/issues/1705), [#1871](https://github.com/zerocracy/farm/issues/1871), [#1872](https://github.com/zerocracy/farm/issues/1872).

[2019-01-28 10:48] 0pdd commented on #1706
@0pdd all 2 puzzles are solved here: [#1871](https://github.com/zerocracy/farm/issues/1871), [#1872](https://github.com/zerocracy/farm/issues/1872).

[2019-01-28 10:50] rultor commented on #1706
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17563-458082205)

[2019-01-28 11:03] rultor commented on #1706
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17563-458082205) (spent 12min)

[code]

[2019-01-28 11:14] 0crat commented on #1871
Job `gh:zerocracy/farm#1871` is not assigned, can't get performer

[2019-01-28 11:14] 0crat commented on #1872
The job [#1872](https://github.com/zerocracy/farm/issues/1872) is now out of scope

[2019-01-28 11:15] 0crat commented on #1871
The job [#1871](https://github.com/zerocracy/farm/issues/1871) is now out of scope

[2019-01-28 11:18] fabriciofx commented on #1706
@g4s8 Thanks!

[2019-01-28 11:34] g4s8 commented on #1706
@rultor release, tag=`0.40.12`

[2019-01-28 11:35] rultor commented on #1706
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17563-458096107)

[2019-01-28 11:41] emilianodellacasa opened #1873 "Error on zerocracy on Team page"
While assigning a QA in a private project, this error appeared

PID: 4@a9471c69-e56c-4d9f-9493-18c6abad9f91, thread: pool-104-thread-1
com.zerocracy.farm.sync.SyncProject[98] java.lang.IllegalStateException: Failed to acquire "people.xml" in "PMO" in 2min: java.util.concurrent.locks.ReentrantReadWriteLock$WriteLock@3a613201[Unlocked]

Also, Tem page is down:

https://www.0crat.com/team

[2019-01-28 11:42] 0crat commented on #1873
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-28 11:43] 0crat commented on #1873
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-28 11:53] rultor commented on #1706
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17563-458096107) (took me 16min)

[2019-01-28 12:42] 0crat commented on #1873
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-28 12:42] 0crat commented on #1873
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-28 14:46] yegor256 commented on #1842
@g4s8 thanks!

[2019-01-28 14:46] #1842 closed

[2019-01-28 14:47] emilianodellacasa commented on #1873
@g4s8 Solved now, thanks

[2019-01-28 14:47] #1873 closed

[2019-01-28 15:03] 0crat commented on #1842
Job [#1842](https://github.com/zerocracy/farm/issues/1842) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-01-28 15:03] 0crat commented on #1873
Job `gh:zerocracy/farm#1873` is not assigned, can't get performer

[2019-01-28 15:04] 0crat commented on #1873
This job is not in scope

[2019-01-28 15:09] 0crat commented on #1842
The job [#1842](https://github.com/zerocracy/farm/issues/1842) is now out of scope

[2019-01-28 15:10] 0crat commented on #1842
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-28 16:55] fabriciofx opened #1874 "Update jcabi-parent to 0.49.4 (solves xcop issue)"
Let's update to new jcabi version (0.49.4) because this new version solves xcop issue on windows.

[2019-01-28 16:56] 0crat commented on #1874
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-28 16:56] 0crat commented on #1874
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-28 18:14] 0pdd commented on #1347
@g4s8 4 puzzles [#1706](https://github.com/zerocracy/farm/issues/1706), [#1762](https://github.com/zerocracy/farm/issues/1762), [#1871](https://github.com/zerocracy/farm/issues/1871), [#1872](https://github.com/zerocracy/farm/issues/1872) are still not solved; solved: [#1705](https://github.com/zerocracy/farm/issues/1705).

[2019-01-28 18:14] 0pdd commented on #1706
@0pdd 2 puzzles [#1871](https://github.com/zerocracy/farm/issues/1871), [#1872](https://github.com/zerocracy/farm/issues/1872) are still not solved.

[2019-01-28 18:15] g4s8 commented on #1706
@rultor release, tag=`0.40.13`

[2019-01-28 18:18] rultor commented on #1706
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17563-458241854)

[2019-01-28 18:46] rultor commented on #1706
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17563-458241854) (took me 27min)

[2019-01-28 19:18] g4s8 commented on #1706
@rultor release, tag=`0.40.14`

[2019-01-28 19:18] 0pdd commented on #1347
@g4s8 2 puzzles [#1706](https://github.com/zerocracy/farm/issues/1706), [#1762](https://github.com/zerocracy/farm/issues/1762) are still not solved; solved: [#1705](https://github.com/zerocracy/farm/issues/1705), [#1871](https://github.com/zerocracy/farm/issues/1871), [#1872](https://github.com/zerocracy/farm/issues/1872).

[2019-01-28 19:18] 0pdd commented on #1706
@0pdd all 2 puzzles are solved here: [#1871](https://github.com/zerocracy/farm/issues/1871), [#1872](https://github.com/zerocracy/farm/issues/1872).

[2019-01-28 19:20] rultor commented on #1706
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17563-458264288)

[2019-01-28 19:39] rultor commented on #1706
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17563-458264288) (took me 17min)

[2019-01-29 08:04] g4s8 commented on #1706
@rultor release, tag=`0.40.15`

[2019-01-29 08:05] rultor commented on #1706
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17563-458443963)

[2019-01-29 14:24] fabriciofx opened #1876 "Problems to invite a student"
When I try invite a student (I'm using the command `/invite student-github-login` I receive the following error:

![image](https://user-images.githubusercontent.com/1964562/51914824-71b2ab00-23b8-11e9-8c72-aad4298204c9.png)

[2019-01-29 14:24] 0crat commented on #1876
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-29 14:24] 0crat commented on #1876
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-29 16:09] fabriciofx opened #1877 "No mention in policy about penalty for mentor if student refuse an issue/revision"
There isn't any mention in policy about penalty for mentor if student refuse an issue/revision. Is it correct?

[2019-01-29 16:09] 0crat commented on #1877
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-29 17:39] g4s8 opened #1878 "Incorrect message for continue"
Continue (`Remove impediment`) command uses wrong response message:
`@%s continued working on job %s`, where first parameter is a command author, but it should be job performer.

[2019-01-29 17:42] 0crat commented on #1878
Job [#1878](https://github.com/zerocracy/farm/issues/1878) is now in scope, role is `DEV`

[2019-01-29 17:51] 0crat commented on #1878
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-29 21:15] kaldown opened #1879 "Lack of a feedback when send a job application"
Yesterday I fill and sent a job application form.
There were problems with application, which was discussed in telegram channel:
[code]
After that - no response what so ever.

I think it's would be nice to give a feedback to an applicant about the reason he(she) was rejected.
To fix problems and be better prepared next time.
Otherwise, it would be infinite cycle (or luck ass a matter).

[2019-01-29 22:14] 0crat commented on #1879
Job `gh:zerocracy/farm#1879` already assigned to @g4s8, can't assign to @g4s8

[2019-01-30 20:03] olenagerasimova opened #1880 "0crat assigned task from the project I quit"
I quit timeless project and after that 0crat assigned the job from the project to me.
Telegram chat
![image](https://user-images.githubusercontent.com/14931449/52009052-04e7ff80-24e3-11e9-9be8-0a28f696798d.png)
Agenda
![image](https://user-images.githubusercontent.com/14931449/52009107-247f2800-24e3-11e9-81a6-1e4a6b853e2a.png)

[2019-01-30 20:03] 0crat commented on #1880
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-01-30 20:03] 0crat commented on #1880
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-31 14:56] 0crat commented on #1880
Job [#1880](https://github.com/zerocracy/farm/issues/1880) is now in scope, role is `DEV`

[2019-01-31 15:08] 0crat commented on #1880
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-02-01 12:31] ypshenychka opened #1881 "Link to resumes page should be added to the main dashboard page"
STR:
1. Log in to www.0crat.com
2. Navigate to your dashboard page

Actual Result: no link to resumes page. Currently if team member doesn't see message in telegram chat or issues in this repository - he won't know that this page exists.

Expected Result: next to "agenda", "team" etc. new link should be added that will redirect to  https://www.0crat.com/resumes

[2019-02-01 12:31] 0crat commented on #1881
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-02 16:24] fabriciofx opened #1882 "Allow someone who was kicked out sandbox project for reached more than 1024 points, return if he/she want to"
@yegor256 @g4s8 Let's allow someone who was kicked out sandbox project for reached more than 1024 points, return if he/she want to. WDYT?

[2019-02-02 23:40] fabriciofx commented on #1882
@yegor256 @g4s8 A suggestion: the *veteran* who choose return to a sandbox will work for free, but will just receive points.

[2019-02-04 18:59] paulodamaso opened #1884 "Issue stuck due QA inactivity"
Something happened this week: the ticket was merged and closed, and it was at QA phase, but QA was not made. The ticket is https://github.com/yegor256/jpeek/issues/205 . How can `ARC` put the project moving if the `QA` is not reviewing pull requests and issues?

[2019-02-05 08:49] g4s8 commented on #1884
@paulodamaso `ARC` can also say quality verdicts like `QA`: `@0crat quality <good|bad|acceptable>`

[2019-02-05 11:23] paulodamaso commented on #1884
@g4s8 I didn't know that, it should be explicit in policy. Should `ARC`  just give the quality veredict or he/she should assign the task to himself/herself?

[2019-02-05 18:59] g4s8 commented on #1884
@paulodamaso no, you don't need to assign - `assign` means that assignee will be task performer, it's `DEV` for bugs and `REV` for PRs. You  can just say QA verdict and get 8min QA payment.
Added a line in policy: https://github.com/zerocracy/zerocracy.github.io/pull/66

[2019-02-05 19:14] paulodamaso commented on #1884
@paulodamaso I think that's good, just put it in scope so I can get my bug points and I'll close it right away

[2019-02-05 19:16] Vatavuk commented on #1860
@g4s8 Does this mean that developers are now going to be paid only with zold, there will be no other option available?

[2019-02-05 20:39] g4s8 commented on #1860
@Vatavuk yes, but before that, limitation for zold exchange will be removed for 0crat users, so you will be able to exchange any amount of zold

[2019-02-05 21:45] Vatavuk commented on #1860
@g4s8 What's the reasoning behind this decision? I will be forced to do double conversion to get to the money paying fees for both conversion. Zold -> Bitcoin (8%) and Bitcoin -> Paypal (there is some fee because Im not US citizen).

[2019-02-06 02:57] paulodamaso opened #1885 "Policy is wrong on 35"
Policy item [35](http://www.zerocracy.com/policy.html#35) says that user still have to finish jobs after quitting a project, but 0crat removed from me tasks that were assigned to me: [1193](https://github.com/yegor256/rultor/issues/1193) and [1278](https://github.com/yegor256/rultor/issues/1287), so policy item is wrong

[2019-02-06 02:57] 0crat commented on #1885
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-06 11:06] g4s8 commented on #1860
@Vatavuk we have some issues with Paypal. I suppose you will be able to sell ZLD directly to your currency without BTC conversion and most probably ZLD->BTC fee will be removed for Zerocracy users.
@yegor256 can you clarify this question please?

[2019-02-06 13:54] emilianodellacasa opened #1886 "Errors after making repo public"
Agter changing repository from private to public, many errors are appearing on issues and PRs like following

PID: 4@55d69b91-ec34-4bf1-baee-b9c4b56fbdad, thread: AsyncProc-5
com.zerocracy.farm.sync.SyncProject[76] java.lang.IllegalStateException: Failed to acquire "wbs.xml" in "CF9LG1YCA" in 2min: java.util.concurrent.locks.ReentrantLock@62e21b4b[Locked by thread BkParallel-7]

and

PID: 4@55d69b

[2019-02-06 13:55] 0crat commented on #1886
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-06 13:55] 0crat commented on #1886
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-06 17:12] emilianodellacasa opened #1887 "Management fee paid even if repository is public"
Recently timeless project switched repo visibility from private to public.

We expected not to pay the management fee, but apparently we still do.

[2019-02-06 17:12] 0crat commented on #1887
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-06 17:12] 0crat commented on #1887
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-06 18:17] g4s8 commented on #1887
@emilianodellacasa I've just fixed it manually, will fix a code a little bit later

[2019-02-06 18:48] emilianodellacasa commented on #1887
@g4s8 thanks!

[2019-02-07 12:02] paulodamaso opened #1888 "0crat bot is down"
Looks like 0crat bot is down, it's not responding to any commands or assigning tests since yesterday, neither on github issues nor on telegram chat.

[2019-02-07 12:02] 0crat commented on #1888
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-07 13:47] 0crat commented on #1887
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1887](https://github.com/zerocracy/farm/issues/1887), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-02-07 14:03] 0crat commented on #1887
Job `gh:zerocracy/farm#1887` already assigned to @g4s8, can't assign to @g4s8

[2019-02-07 14:04] 0crat commented on #1887
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-07 14:05] 0crat commented on #1887
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-09 18:24] filfreire opened #1889 "Replace the role of "QA" with a "Tester" role in the policy"
@g4s8 and @yegor256, I propose we change the naming of the current "QA" role to something more appropriate, like `Tester (TST)` taking into account the current description of the role in the [policy](http://www.zerocracy.com/policy.html#35).

There is a difference between what is quality assurance, quality control and testing, fairly documented throughout many sources of expertise in the testing c

[2019-02-09 18:25] 0crat commented on #1889
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-09 18:25] 0crat commented on #1889
@filfreire[/z](https://www.0crat.com/u/filfreire) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-10 09:26] g4s8 commented on #1889
@filfreire we already has different roles: `QA` and `TST`. `QA` checks the quality of each job according to these rules: https://www.zerocracy.com/policy.html#42 `QA` doesn't test the software somehow, but `TST` does, `TST` gets cash for bug-reporting.

[2019-02-10 17:01] filfreire commented on #1889
@g4s8 should we document the `TST` role in the policy then? (It seems missing)

[2019-02-12 08:36] emilianodellacasa opened #1890 "Adding label to issue when an impediment is registered"
I think that could be an easy and useful feature: when an user asks to wait on a issue, as soon as the bot registers the impediment, it should also add a label to the issue so that it can be easy to identify visually those issues.

[2019-02-12 08:36] 0crat commented on #1890
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-12 08:36] 0crat commented on #1890
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-12 11:02] emilianodellacasa opened #1891 "Wallet on a project basis"
It would be awesome if users could define the payment method on a project basis, the same that is for the rate - that is, having a default one and one depending on the project.

That could allow people to work on paid projects and on sandbox (or open source) projects at the same time.

[2019-02-12 11:02] 0crat commented on #1891
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-12 11:02] 0crat commented on #1891
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-12 13:21] g4s8 commented on #1891
@emilianodellacasa you can set different rates for different projects (https://www.zerocracy.com/policy.html#13), doesn't it solve the issue? ARC of sandbox project can set zero rate for sandbox project for example. Payment method is not about the project, it's a gateway for receiving cash, which should be configured by user itself.

[2019-02-12 13:40] amihaiemil commented on #1860
@g4s8 @yegor256 I, for one, want to be paid in real money, not crypto. So unless you add some other cash payment method (or just leave PayPal as it is), I'm afraid I'll be out --and I think I am not the knly one with this opinion.

[2019-02-12 14:07] emilianodellacasa commented on #1891
@g4s8 True, however I may want to work for ZLD in a project and for USD in another (actually it's my case)

[2019-02-12 14:36] emilianodellacasa commented on #1860
@g4s8 Just to have another opinion on this matter, I am not against removing paypal payments as it is slow and (I can imagine) quite expensive.

If we are forced to choose another payment option involving conversion fees I guess we could just raise our rates accordingly, no big deal.

However.

The good thing of PayPal is its reliability - you can be 100% (well, let's say 99.999%) sure that paymen

[2019-02-12 17:23] 0crat commented on #1890
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1890](https://github.com/zerocracy/farm/issues/1890), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-02-12 17:24] g4s8 opened #1892 "PR can be assigned as DEV job"
When `ARC` assign performer for pull request manually 0crat sets the boost as 2x and put to scope as `REV` job. E.g.: https://github.com/timelesslounge/timelessis/pull/137
// cc @emilianodellacasa

[2019-02-12 17:25] 0crat commented on #1890
Job `gh:zerocracy/farm#1890` already assigned to @g4s8, can't assign to @g4s8

[2019-02-12 17:29] 0crat commented on #1890
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-12 17:29] 0crat commented on #1890
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-12 17:30] 0crat commented on #1892
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1892](https://github.com/zerocracy/farm/issues/1892), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-02-12 17:30] 0crat commented on #1892
Job `gh:zerocracy/farm#1892` already assigned to @g4s8, can't assign to @g4s8

[2019-02-12 17:39] 0crat commented on #1892
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-12 17:39] 0crat commented on #1892
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-12 17:39] 0crat commented on #1892
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-12 18:57] g4s8 commented on #1887
@rultor release, tag=`0.41.16`

[2019-02-12 18:59] rultor commented on #1887
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17835-462888366)

[2019-02-12 19:23] rultor commented on #1887
@emilianodellacasa @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17835-462888366) (spent 23min)

[code]

[2019-02-12 20:07] g4s8 commented on #1887
@rultor release, tag=`0.41.16`

[2019-02-12 20:10] rultor commented on #1887
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17835-462914106)

[2019-02-12 20:25] rultor commented on #1887
@emilianodellacasa @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17835-462914106) (spent 16min)

[code]

[2019-02-13 00:49] g4s8 commented on #1887
@rultor release, tag=`0.41.1`

[2019-02-13 00:50] rultor commented on #1887
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17835-463006827)

[2019-02-13 01:04] rultor commented on #1887
@emilianodellacasa @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17835-463006827) (spent 13min)

[code]

[2019-02-13 09:29] 0pdd opened #1893 "_after.groovy:26-28: This test is failing on rultor but..."
The puzzle `1892-81b01170` from #1892 has to be resolved:

https://github.com/zerocracy/farm/blob/8b4c559aa5872dcabcfe1e03bad98ac05ca59d0e/src/test/resources/com/zerocracy/bundles/pr_assigns_performer/_after.groovy#L26-L28

The puzzle was created by @g4s8 on 13-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2019-02-13 09:29] 0pdd commented on #1892
@g4s8 the puzzle [#1893](https://github.com/zerocracy/farm/issues/1893) is still not solved.

[2019-02-13 09:29] 0crat commented on #1893
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-13 09:30] g4s8 commented on #1892
@rultor release, tag=`0.41.1`

[2019-02-13 09:31] rultor commented on #1892
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17847-463125045)

[2019-02-13 09:31] 0crat commented on #1893
Job [#1893](https://github.com/zerocracy/farm/issues/1893) is now in scope, role is `DEV`

[2019-02-13 09:50] rultor commented on #1892
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17847-463125045) (took me 18min)

[2019-02-13 09:53] g4s8 commented on #1890
@0crat wait and add label

[2019-02-13 10:34] 0crat commented on #1890
@g4s8 The impediment for [#1890](https://github.com/zerocracy/farm/issues/1890) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-13 10:41] 0crat commented on #1890
@g4s8 Job [#1890](https://github.com/zerocracy/farm/issues/1890) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't set impediment

[2019-02-13 10:41] g4s8 commented on #1890
@emilianodellacasa it seems to be fixed, see https://github.com/zerocracy/farm/issues/1890#event-2136213465

[2019-02-13 10:41] #1890 closed

[2019-02-13 10:42] emilianodellacasa commented on #1890
@g4s8 Thanks

[2019-02-13 10:42] g4s8 commented on #1892
@emilianodellacasa it should be fixed in `0.41.1`

[2019-02-13 10:42] #1892 closed

[2019-02-13 10:42] g4s8 commented on #1887
@emilianodellacasa it should be fixed in `0.41.1`

[2019-02-13 10:42] #1887 closed

[2019-02-13 11:00] 0crat commented on #1890
Job [#1890](https://github.com/zerocracy/farm/issues/1890) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-02-13 11:00] 0crat commented on #1892
Job [#1892](https://github.com/zerocracy/farm/issues/1892) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-02-13 11:03] 0crat commented on #1887
Job [#1887](https://github.com/zerocracy/farm/issues/1887) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-02-13 11:03] 0crat commented on #1890
Job was finished in 17 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-13 11:04] 0crat commented on #1892
Job was finished in 17 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-13 11:08] 0crat commented on #1890
The job [#1890](https://github.com/zerocracy/farm/issues/1890) is now out of scope

[2019-02-13 11:08] 0crat commented on #1892
The job [#1892](https://github.com/zerocracy/farm/issues/1892) is now out of scope

[2019-02-13 11:08] 0crat commented on #1887
The job [#1887](https://github.com/zerocracy/farm/issues/1887) is now out of scope

[2019-02-13 11:08] 0crat commented on #1890
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-13 11:08] 0crat commented on #1892
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-13 11:08] 0crat commented on #1887
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-13 15:05] ypshenychka commented on #1775
@g4s8 Don't forget to add me into list of users that receive all notifications :)

[2019-02-13 15:15] 0crat commented on #1775
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1775](https://github.com/zerocracy/farm/issues/1775), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-02-13 15:23] 0crat commented on #1775
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-13 15:25] emilianodellacasa opened #1894 "Only active users should be considered to be examiners"
I am not sure regarding what is the logic behind being taken into consideration as an examiner, but it seems to me that right now all users registered users can be examiners.

The consequence is that often new students are not accepted because examiners are not involved in 0crat anymore, so user base doesn't grow.

I suggest we should pick among a reduced set of zerocracy users to be examiner (exc

[2019-02-13 15:26] 0crat commented on #1894
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-13 15:26] 0crat commented on #1894
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-14 09:57] paulodamaso commented on #1894
@emilianodellacasa I think that users on vacation should be removed from the process ass well, WDYT?

[2019-02-14 10:10] emilianodellacasa commented on #1894
@paulodamaso Totally agree

[2019-02-14 10:59] krzyk commented on #1860
@g4s8 I'm in the same boat as @amihaiemil, "only crypto" is no option for  me. It is good to have it as an alternative, but with main payment method being something with old-school money (not necessarily PayPal).

[2019-02-14 15:14] yegor256 commented on #1860
@g4s8 how about we simply pay +10% to the USD/ZLD current rate? This will cover all commissions, I believe.

[2019-02-14 15:19] yegor256 commented on #1860
@Vatavuk there are a number of reasons:

1. Multiple payment options make Zerocrat software too complicated and turn it into a micro-bank, full of potential risks

2. When something goes wrong, Zerocrat has to hold the money and technically act as a bank -- this is not our business at all.

3. PayPal will very soon start blocking our operations for multiple reasons. We can't even predict what may

[2019-02-14 15:32] g4s8 commented on #1860
@yegor256 I think it may help. But should we take this 10% from payer (project)?

[2019-02-14 15:36] yegor256 commented on #1860
@g4s8 yes, I think so. Just like we take now some fee for sending PayPal, we will take a similar fee for sending ZLD, but bigger. Yet another option is to make ZLD-to-BTC conversion cheaper for Zerocracy users. Say, 2% instead of 8%.

[2019-02-14 15:38] amihaiemil commented on #1860
@yegor256

Well, PayPal and Zold are just 2, not so many :)

0crat will act as a bank in any scenario.

Well, why don't you ask for an official B2B Integration Offer and see what they say? Were you ever thinking a big business like 0crat would fly under the radar? :D

[2019-02-14 15:43] yegor256 commented on #1860
@amihaiemil ever tried to deal with large enterprises?) They don't listen to reason. They just do what they do.

[2019-02-14 15:57] krzyk commented on #1860
@yegor256 According to https://blog.zold.io/2018/12/09/btc-to-zld.html we can convert only 4 ZLD to BTC per day, is that still true? That means ~ 4$ per day. That makes it ~$124 per month, that's ~ 15 DEV tasks with minimal rate ($16). So one 30min task per 2 days. It is quite limiting.

[2019-02-14 16:15] yegor256 commented on #1860
@krzyk we will remove this limitation to Zerocracy members, of course.

[2019-02-15 10:49] g4s8 commented on #1717
@rultor release, tag=`0.41.2`

[2019-02-15 10:50] rultor commented on #1717
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17875-463996421)

[2019-02-15 11:01] 0crat commented on #1717
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1717](https://github.com/zerocracy/farm/issues/1717), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-02-15 11:06] 0crat commented on #1717
Job `gh:zerocracy/farm#1717` already assigned to @g4s8, can't assign to @g4s8

[2019-02-15 11:07] rultor commented on #1717
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17875-463996421) (took me 15min)

[2019-02-15 11:10] 0crat commented on #1717
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-15 11:13] 0crat commented on #1717
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-15 11:19] 0crat commented on #1717
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-15 12:03] g4s8 commented on #1717
@rultor release, tag=`0.41.3`

[2019-02-15 12:04] rultor commented on #1717
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17875-464023635)

[2019-02-15 12:22] rultor commented on #1717
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17875-464023635) (took me 17min)

[2019-02-15 13:31] denis-konovalyenko commented on #1860
@yegor256 , I was wondering whether you had ever considered [Payoneer](https://www.payoneer.com/) as an alternative in this regard?

[2019-02-15 13:40] krzyk commented on #1860
@denis-konovalyenko yes he did: https://github.com/zerocracy/farm/issues/865#issuecomment-375666629

[2019-02-16 18:51] krzyk commented on #1860
@g4s8 Actually if ZLD will work as intermediate gateway (like current debt in 0crat), like Zerocracy -> ZLD -> USD/EUR I'm fine with receiving ZLD. I'm just not quite aware what conversion options exist right now for ZLD, besides BTC.

[2019-02-16 20:14] Iprogrammerr opened #1895 "Speed calculation is not objective"
When programmers speed is calculated, the duration of the code reviews is taken into account. It is not objective measure, as it is often the case that reviewers don't look at assigned to them PR's for a few days. Moreover, it is not rare for them to report new issues hours or days after first review, which creates second, not dependent on PR author skills time overhead. Therefore , it should be c

[2019-02-16 20:14] 0crat commented on #1895
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-16 20:14] 0crat commented on #1895
@iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-17 08:04] carlosmiranda commented on #1860
@g4s8 @yegor256 I concur with all the objections... the current issue is that ZLD is not too reliable; I am fine with an extra fee for paypal if it means there is at least some way I know I can get paid. At least that should give some incentive to people to try to switch to ZLD.

[2019-02-17 17:23] g4s8 commented on #1895
@Iprogrammerr the performer is responsible for closing an issue as soon as possible, see these links: https://www.zerocracy.com/policy.html#7 and https://www.yegor256.com/2014/04/15/definition-of-done.html
Even if performer is waiting for review he/she is also responsible for it.
Also, there is no direct relation between issue and PR - an issue may have PR or may not have, or may have multiple PRs

[2019-02-17 17:23] #1895 closed

[2019-02-17 17:43] 0crat commented on #1895
Job `gh:zerocracy/farm#1895` is not assigned, can't get performer

[2019-02-17 17:43] 0crat commented on #1895
This job is not in scope

[2019-02-18 08:29] emilianodellacasa opened #1897 "Only pay ARC when branch is merged"
It may happen that a PR is created by a DEV and assigned to a REV but then, for some reason, DEV decides to close it without notice.

I noticed that in this case ARC gets the payment and I think this is not correct, ARC should be paid only if PR is merged

[2019-02-18 08:30] 0crat commented on #1897
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-18 08:30] 0crat commented on #1897
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-18 09:43] g4s8 commented on #1897
@emilianodellacasa you're right, according to policy ARC should receive 10min only for merged PRs: https://www.zerocracy.com/policy.html#28

[2019-02-18 11:30] 0crat commented on #1897
Job [#1897](https://github.com/zerocracy/farm/issues/1897) is now in scope, role is `DEV`

[2019-02-18 12:12] krzyk opened #1898 "Create voter that votes down with increasing agenda size for PRs"
REV tasks have a hard limit of 32, there is no other limit. But if someone has high ratings, one will get assigned REV very frequently and as such decreasing PR review speed.
Problem won't be solved by gradually increasing speed, because PR reviews generally don't take more than few days, but for the DEV that created PR it further decreases his speed and for project it lowers the amount of tasks c

[2019-02-18 12:12] 0crat commented on #1898
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-18 12:15] krzyk opened #1899 "Seperate speed for different roles"
We should separate speed for different roles.
Generally REV tasks are quicker and DEV ones are slower. But if one got a lot of DEV tasks in the pas then his speed will get lower and is less likely to get REV tasks.
On the other hand similar thing for person that got mostly REV tasks, he will get mostly those because he is quicker and his agenda will be filled with mostly those lacking almost any D

[2019-02-18 12:15] 0crat commented on #1899
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-18 12:31] g4s8 commented on #1717
@rultor release, tag=`0.41.4`

[2019-02-18 12:33] rultor commented on #1717
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17875-464715294)

[2019-02-18 12:45] rultor commented on #1717
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17875-464715294) (spent 12min)

[code]

[2019-02-18 13:02] g4s8 commented on #1717
@rultor release, tag=`0.41.4`

[2019-02-18 13:02] rultor commented on #1717
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17875-464723787)

[2019-02-18 13:16] rultor commented on #1717
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17875-464723787) (spent 14min)

[code]

[2019-02-18 13:36] g4s8 commented on #1717
@rultor release, tag=`0.41.4`

[2019-02-18 13:37] rultor commented on #1717
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17875-464733786)

[2019-02-18 13:55] rultor commented on #1717
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17875-464733786) (took me 17min)

[2019-02-18 14:10] g4s8 commented on #1717
@rultor release, tag=`0.41.4`

[2019-02-18 14:10] g4s8 commented on #1717
@rultor release, tag=`0.41.5`

[2019-02-18 14:13] rultor commented on #1717
@g4s8 Invalid release tag `0.41.4` specified. There is already a release `0.41.4` newer than the given release in this repository.

[2019-02-18 14:13] rultor commented on #1717
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-02-18 14:15] rultor commented on #1717
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17875-464744768)

[2019-02-18 14:34] g4s8 commented on #1717
@rultor release, tag=`0.41.6`

[2019-02-18 14:35] rultor commented on #1717
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17875-464744768) (took me 18min)

[2019-02-18 14:38] rultor commented on #1717
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17875-464752678)

[2019-02-18 14:42] g4s8 commented on #1717
@rultor stop

[2019-02-18 14:42] g4s8 commented on #1717
@rultor release, tag=`0.41.7`

[2019-02-18 14:43] rultor commented on #1717
@g4s8 OK, I'll try to stop current task.

[2019-02-18 14:44] rultor commented on #1717
@g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17875-464755951) (spent 5min)

[code]

[2019-02-18 14:47] rultor commented on #1717
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17875-464756039)

[2019-02-18 15:06] rultor commented on #1717
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17875-464756039) (took me 17min)

[2019-02-18 15:50] g4s8 commented on #1717
@rultor release, tag=`0.41.8`

[2019-02-18 15:52] rultor commented on #1717
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17875-464784247)

[2019-02-18 16:10] rultor commented on #1717
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17875-464784247) (took me 17min)

[2019-02-18 17:10] 0crat commented on #1897
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-18 17:19] g4s8 commented on #1717
@rultor release, tag=`0.41.9`

[2019-02-18 17:20] rultor commented on #1717
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17875-464816590)

[2019-02-18 17:40] rultor commented on #1717
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17875-464816590) (took me 18min)

[2019-02-18 19:27] g4s8 commented on #1717
@rultor release, tag=`0.41.10`

[2019-02-18 19:28] rultor commented on #1717
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17875-464850909)

[2019-02-18 19:47] rultor commented on #1717
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17875-464850909) (took me 17min)

[2019-02-18 20:07] g4s8 commented on #1717
@rultor release, tag=`0.41.11`

[2019-02-18 20:08] rultor commented on #1717
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17875-464860902)

[2019-02-18 20:26] rultor commented on #1717
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17875-464860902) (took me 16min)

[2019-02-18 20:44] g4s8 commented on #1717
@rultor release, tag=`0.41.12`

[2019-02-18 20:45] rultor commented on #1717
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17875-464871487)

[2019-02-18 20:47] g4s8 commented on #1717
@rultor stop

[2019-02-18 20:47] rultor commented on #1717
@g4s8 OK, I'll try to stop current task.

[2019-02-18 20:47] g4s8 commented on #1717
@rultor release, tag=`0.41.13`

[2019-02-18 20:47] rultor commented on #1717
@g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17875-464872381) (spent 2min)

[code]

[2019-02-18 20:50] rultor commented on #1717
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17875-464872569)

[2019-02-18 21:12] g4s8 commented on #1717
@rultor release, tag=`0.41.14`

[2019-02-18 21:13] rultor commented on #1717
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17875-464872569) (took me 21min)

[2019-02-18 21:16] rultor commented on #1717
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17875-464880803)

[2019-02-18 21:34] rultor commented on #1717
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17875-464880803) (took me 17min)

[2019-02-18 21:40] g4s8 commented on #1717
@0crat status

[2019-02-18 21:43] 0crat commented on #1717
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1717](https://github.com/zerocracy/farm/issues/1717) is [in scope](http://www.zerocracy.com/policy.html#14) for 3days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [3days](http://www.zerocracy

[2019-02-18 22:02] g4s8 commented on #1717
@0crat status

[2019-02-18 22:06] 0crat commented on #1717
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1717](https://github.com/zerocracy/farm/issues/1717) is [in scope](http://www.zerocracy.com/policy.html#14) for 3days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [3days](http://www.zerocracy

[2019-02-19 07:08] g4s8 commented on #1899
@krzyk sounds logically. I think we may track speed metric for each role independently and count only appropriate role during election, e.g. if dev-speed of user is 5 and rev-speed is 6 and 0crat is electing a performer for dev job, we should take into account only 5, not 6.
@yegor256 what do you say, would it be correct to do that?

[2019-02-19 07:22] g4s8 commented on #1717
done

[2019-02-19 07:22] #1717 closed

[2019-02-19 07:45] 0crat commented on #1717
Job [#1717](https://github.com/zerocracy/farm/issues/1717) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-02-19 07:51] 0crat commented on #1717
The job [#1717](https://github.com/zerocracy/farm/issues/1717) is now out of scope

[2019-02-19 08:01] 0crat commented on #1717
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-20 08:40] #1833 closed

[2019-02-20 08:43] emilianodellacasa opened #1900 "When wallet is ZLD payments should not go to debts"
I set my wallet to ZLD to test the process if/when paypal will be removed.

I saw that all payments Zerocracy makes to me are add to debt list. This does not make sense for a micropayment system as Zold, where there are no transaction fees.

When the wallet of a user is set to ZLD, Zerocracy should pay immediately to the wallet.

[2019-02-20 08:43] 0crat commented on #1900
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-20 08:43] 0crat commented on #1900
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-20 08:57] 0crat commented on #1833
Job `gh:zerocracy/farm#1833` is not assigned, can't get performer

[2019-02-20 08:57] 0crat commented on #1833
This job is not in scope

[2019-02-20 10:10] g4s8 commented on #1900
@emilianodellacasa 0crat is adding payments to debts for few reasons, see https://www.zerocracy.com/policy.html
 - paymant was failed (e.g. due to network issues or payment API error)
 - debt already exist
 - payment is too small
we should not add payment to debts if wallet was set to ZLD only in case if payment is too small. Are you sure that you didn't have any debt before patment or wts API wor

[2019-02-20 10:17] emilianodellacasa commented on #1900
@g4s8 This is what the bot says:

We are very sorry, but we failed to pay you $7.83 for #294: "The amount $7.83 is too small at: Payment for #294: Payment to ARC for a closed pull request, as in §28"; this amount was added to the list of payments we owe you; we will try to send them all together very soon; we will keep you informed, see §20

I agree that if payment method is Paypal or BTC, we shou

[2019-02-20 10:35] emilianodellacasa opened #1901 "Payment to wallet ZLD disappeared :("
I was expecting a payment to my ZLD wallet from Zerocracy, but now I can't see those payments in my debts (so supposedly Zerocracy should have been made the payment), but I cannot see it in my wallet 25e0819b40cf7eb6 .

For your reference, I cannot even see the payment on the new General Ledger https://wts.zold.io/gl

[2019-02-20 10:35] 0crat commented on #1901
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-20 10:35] 0crat commented on #1901
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-20 10:38] emilianodellacasa commented on #1860
@g4s8 @yegor256 Please see issue #1901

[2019-02-20 11:14] g4s8 opened #1902 "No "Debt was paid" claim log for Zold payments"
After Zold payment, claim "Debt was paid" was not posted.

[2019-02-20 11:15] g4s8 commented on #1902
@rultor release, tag=`0.41.16`

[2019-02-20 11:16] rultor commented on #1902
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17947-465532511)

[2019-02-20 11:17] g4s8 commented on #1901
@emilianodellacasa related #1902

[2019-02-20 11:19] 0crat commented on #1902
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1902](https://github.com/zerocracy/farm/issues/1902), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-02-20 11:23] emilianodellacasa commented on #1901
@g4s8 is this fixing payment problem too?

[2019-02-20 11:29] 0crat commented on #1902
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-20 11:29] 0crat commented on #1902
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-20 11:32] g4s8 commented on #1901
@emilianodellacasa no, it will fix only log message after success payment. The main issue is that we can't track Zold payments because they doesn't have any id, see https://github.com/zold-io/wts.zold.io/issues/139

[2019-02-20 11:33] 0crat commented on #1902
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-20 11:37] rultor commented on #1902
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17947-465532511) (took me 20min)

[2019-02-20 11:39] emilianodellacasa commented on #1860
@yegor256 I guess this issue cannot be completed until zold-io/wts.zold.io#139 is solved. For reference, I lost $70 while testing if process was working - it doesn't.

[2019-02-20 11:43] emilianodellacasa opened #1903 "Zold payment method should be removed"
I guess that since zold payment is currently unreliable, we should remove it as a payment method choice until zold-io/wts.zold.io#139 and #1901 are fixed

[2019-02-20 11:43] 0crat commented on #1903
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-20 11:43] 0crat commented on #1903
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-20 11:57] yegor256 commented on #1901
@emilianodellacasa this seems to be the bug in Farm. It has to check the status of the job before confirming that the payment has been successfully sent.

[2019-02-20 14:42] emilianodellacasa commented on #1901
@g4s8 @yegor256 whom can I request a refund to? Zerocracy?

[2019-02-20 17:47] g4s8 commented on #1901
@emilianodellacasa Zold didn't process this payment, so I'm going to add your debt back.

[2019-02-20 17:48] emilianodellacasa commented on #1901
@g4s8 Thanks

[2019-02-20 17:50] g4s8 commented on #1901
@yegor256 it seems wts API changed and now it requires `keygap` parameter, could you please add it to `props.xml` file under `/zold/keygap` xpath?

[2019-02-20 17:58] 0crat commented on #1903
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1903](https://github.com/zerocracy/farm/issues/1903), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-02-20 18:00] 0crat commented on #1903
Job `gh:zerocracy/farm#1903` already assigned to @g4s8, can't assign to @g4s8

[2019-02-20 18:05] 0crat commented on #1903
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-20 18:12] 0crat commented on #1903
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-20 18:22] g4s8 commented on #1903
@rultor release, tag=`0.42.1`

[2019-02-20 18:24] rultor commented on #1903
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17954-465696510)

[2019-02-20 18:40] rultor commented on #1903
@emilianodellacasa @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17954-465696510) (spent 16min)

[code]

[2019-02-20 18:44] g4s8 commented on #1903
@rultor release, tag=`0.42.1`

[2019-02-20 18:45] rultor commented on #1903
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17954-465704397)

[2019-02-20 19:05] rultor commented on #1903
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17954-465704397) (took me 17min)

[2019-02-21 14:30] g4s8 commented on #1903
@emilianodellacasa done in `0.42.1` - now ZLD payments can receive only PMO users

[2019-02-21 14:30] #1903 closed

[2019-02-21 14:30] g4s8 commented on #1902
fixed in `0.41.16`

[2019-02-21 14:30] #1902 closed

[2019-02-21 14:39] g4s8 commented on #1901
@yegor256 I added `keygap` property for `_props.xml` (see https://github.com/zerocracy/farm/commit/f154bcb654e0654bfc180318a8407b747fe76f71) can you add keygap value for props?

[2019-02-21 14:48] 0crat commented on #1903
Job [#1903](https://github.com/zerocracy/farm/issues/1903) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-02-21 14:48] 0crat commented on #1902
Job [#1902](https://github.com/zerocracy/farm/issues/1902) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-02-21 14:48] 0crat commented on #1903
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-21 14:52] emilianodellacasa opened #1904 "0crat bot often skip message to QA"
Recently it is happening often that as soon as an issue is closed, QA is not notified about it in the messages.

However, the issue correctly states that is waiting for QA to review the job.

Example: https://github.com/timelesslounge/timelessis/issues/57#issuecomment-466027697

[2019-02-21 14:52] 0crat commented on #1904
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-21 14:52] 0crat commented on #1904
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-21 14:52] 0crat commented on #1902
Job was finished in 27 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-21 14:52] 0crat commented on #1900
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1900](https://github.com/zerocracy/farm/issues/1900), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-02-21 14:55] 0crat commented on #1903
The job [#1903](https://github.com/zerocracy/farm/issues/1903) is now out of scope

[2019-02-21 14:55] 0crat commented on #1900
Job `gh:zerocracy/farm#1900` already assigned to @g4s8, can't assign to @g4s8

[2019-02-21 14:56] 0crat commented on #1902
The job [#1902](https://github.com/zerocracy/farm/issues/1902) is now out of scope

[2019-02-21 14:56] 0crat commented on #1903
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-21 14:56] 0crat commented on #1900
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-21 14:56] 0crat commented on #1900
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-21 14:56] 0crat commented on #1902
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-21 16:30] #1852 closed

[2019-02-21 16:37] g4s8 commented on #1862
@victornoel right, also we have to notify a student when his resume expired

[2019-02-21 16:39] g4s8 commented on #1876
@fabriciofx right, we should show a message that "there is no such student with username {username}" instead of stacktrace

[2019-02-21 16:41] g4s8 commented on #1870
@korthout thanks for reporting, but it's a duplicate of #1828

[2019-02-21 16:41] #1870 closed

[2019-02-21 16:47] g4s8 commented on #1894
@emilianodellacasa @paulodamaso I'd start with policy update here.
@yegor256 could you take a look here, can we include these improvements into policy?

BTW: "people with reputation > 256" condition already implemented

[2019-02-21 17:18] g4s8 commented on #1862
@0crat assign me

[2019-02-21 17:28] 0crat commented on #1862
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1862](https://github.com/zerocracy/farm/issues/1862), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-02-21 17:35] 0crat commented on #1862
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-21 17:35] 0crat commented on #1862
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-02-21 17:46] 0crat commented on #1876
Job [#1876](https://github.com/zerocracy/farm/issues/1876) is now in scope, role is `DEV`

[2019-02-21 17:48] 0crat commented on #1828
Job [#1828](https://github.com/zerocracy/farm/issues/1828) is now in scope, role is `DEV`

[2019-02-21 17:56] 0crat commented on #1876
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-02-21 17:58] 0crat commented on #1828
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-21 17:59] 0crat commented on #1870
Job `gh:zerocracy/farm#1870` is not assigned, can't get performer

[2019-02-21 17:59] 0crat commented on #1870
This job is not in scope

[2019-02-21 18:13] 0pdd opened #1905 "GlobalInviters.java:30-32: Reimplement this class - it..."
The puzzle `1775-79469cb7` from #1775 has to be resolved:

https://github.com/zerocracy/farm/blob/0c0935de1b65ec3ed3dc4d22bd496392395cc64c/src/main/java/com/zerocracy/pm/staff/GlobalInviters.java#L30-L32

The puzzle was created by @g4s8 on 21-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of t

[2019-02-21 18:13] 0pdd commented on #1775
@emilianodellacasa the puzzle [#1905](https://github.com/zerocracy/farm/issues/1905) is still not solved.

[2019-02-21 18:14] 0crat commented on #1905
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-21 18:14] 0crat commented on #1905
Job [#1905](https://github.com/zerocracy/farm/issues/1905) is now in scope, role is `DEV`

[2019-02-21 19:31] krzyk opened #1906 "Add a way to limit number of REV jobs assigned"
Similarly to `maxJobsInAgenda` I think it would be beneficial to have an option of `maxRevJobsInAgenda`, so a REV jobs limit could be set by the user. Currently there is no such limit.

[2019-02-21 19:31] 0crat commented on #1906
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-21 19:58] 0crat commented on #1904
Job [#1904](https://github.com/zerocracy/farm/issues/1904) is now in scope, role is `DEV`

[2019-02-21 19:58] g4s8 commented on #1904
It seems that 0crat failed to notify because can't find the job in agenda https://github.com/timelesslounge/timelessis/issues/57#issuecomment-465964810

[2019-02-21 20:05] 0crat commented on #1904
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-21 20:20] g4s8 commented on #1862
@victornoel it should be fixed with next release

[2019-02-21 20:22] g4s8 commented on #1775
@emilianodellacasa it should be fixed with next release, you'll receive only resumes assigned to you.
Notifications about each new resume will receive only PMO users and @ypshenychka

[2019-02-21 20:59] emilianodellacasa commented on #1775
@g4s8 thanks!

[2019-02-21 20:59] #1775 closed

[2019-02-21 21:17] 0crat commented on #1775
Job [#1775](https://github.com/zerocracy/farm/issues/1775) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-02-21 21:21] 0crat commented on #1775
The job [#1775](https://github.com/zerocracy/farm/issues/1775) is now out of scope

[2019-02-21 21:22] g4s8 commented on #1876
@fabriciofx it should be fixed with next release

[2019-02-21 21:23] #1774 closed

[2019-02-21 21:23] 0pdd commented on #1774
The puzzle `1645-dc067a6a` has disappeared from the source code, that's why I closed this issue.

[2019-02-21 21:23] 0pdd commented on #908
@0pdd the puzzle [#1805](https://github.com/zerocracy/farm/issues/1805) is still not solved; solved: [#1146](https://github.com/zerocracy/farm/issues/1146), [#1147](https://github.com/zerocracy/farm/issues/1147), [#1179](https://github.com/zerocracy/farm/issues/1179), [#1352](https://github.com/zerocracy/farm/issues/1352), [#1353](https://github.com/zerocracy/farm/issues/1353), [#1486](https://git

[2019-02-21 21:23] 0pdd commented on #1147
@0pdd the puzzle [#1805](https://github.com/zerocracy/farm/issues/1805) is still not solved; solved: [#1179](https://github.com/zerocracy/farm/issues/1179), [#1506](https://github.com/zerocracy/farm/issues/1506), [#1568](https://github.com/zerocracy/farm/issues/1568), [#1569](https://github.com/zerocracy/farm/issues/1569), [#1645](https://github.com/zerocracy/farm/issues/1645), [#1774](https://git

[2019-02-21 21:23] 0pdd commented on #1179
@0pdd the puzzle [#1805](https://github.com/zerocracy/farm/issues/1805) is still not solved; solved: [#1506](https://github.com/zerocracy/farm/issues/1506), [#1568](https://github.com/zerocracy/farm/issues/1568), [#1569](https://github.com/zerocracy/farm/issues/1569), [#1645](https://github.com/zerocracy/farm/issues/1645), [#1774](https://github.com/zerocracy/farm/issues/1774).

[2019-02-21 21:23] 0pdd commented on #1506
@0pdd the puzzle [#1805](https://github.com/zerocracy/farm/issues/1805) is still not solved; solved: [#1568](https://github.com/zerocracy/farm/issues/1568), [#1569](https://github.com/zerocracy/farm/issues/1569), [#1645](https://github.com/zerocracy/farm/issues/1645), [#1774](https://github.com/zerocracy/farm/issues/1774).

[2019-02-21 21:23] 0pdd commented on #1569
@0pdd all 2 puzzles are solved here: [#1645](https://github.com/zerocracy/farm/issues/1645), [#1774](https://github.com/zerocracy/farm/issues/1774).

[2019-02-21 21:23] 0pdd commented on #1645
@0pdd the only puzzle [#1774](https://github.com/zerocracy/farm/issues/1774) is solved here.

[2019-02-21 21:23] 0crat commented on #1775
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-21 21:47] 0crat commented on #1774
Job `gh:zerocracy/farm#1774` is not assigned, can't get performer

[2019-02-21 21:48] ypshenychka commented on #1904
@g4s8 It happens really often last days. More often than ever. And it's really uncomfortable.

[2019-02-21 21:51] 0crat commented on #1774
The job [#1774](https://github.com/zerocracy/farm/issues/1774) is now out of scope

[2019-02-21 22:01] ypshenychka commented on #1775
@0crat status

[2019-02-21 22:05] 0crat commented on #1775
@ypshenychka This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1775](https://github.com/zerocracy/farm/issues/1775) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%231775%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted

[2019-02-21 22:10] krzyk commented on #1898
@g4s8 any thoughts on that?

[2019-02-22 06:45] g4s8 commented on #1898
@krzyk I think we need to update the policy first, @yegor256 please look here, can we add this improvement to policy?

[2019-02-22 06:52] 0crat commented on #1904
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-22 08:57] 0pdd opened #1908 "start_qa_review.groovy:33-35: 0crat often can't update..."
The puzzle `1904-85820cd7` from #1904 has to be resolved:

https://github.com/zerocracy/farm/blob/04cf477e833168fceae1b77a3d70c8497165e061/src/main/groovy/com/zerocracy/stk/pm/qa/start_qa_review.groovy#L33-L35

The puzzle was created by Kirill on 22-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-02-22 08:57] 0pdd commented on #1904
@emilianodellacasa the puzzle [#1908](https://github.com/zerocracy/farm/issues/1908) is still not solved.

[2019-02-22 08:58] 0crat commented on #1908
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-22 09:02] 0crat commented on #1908
Job [#1908](https://github.com/zerocracy/farm/issues/1908) is now in scope, role is `DEV`

[2019-02-22 09:03] g4s8 commented on #1904
@emilianodellacasa @ypshenychka I added temporary workaround to post this message before actual bug reproduced and todo to fix it later. It will be availabel with next release.

[2019-02-22 09:14] g4s8 commented on #1901
@yegor256 ping, please see https://github.com/zerocracy/farm/issues/1901#issuecomment-466023527

[2019-02-22 18:35] g4s8 commented on #1904
@rultor release, tag=`0.42.2`

[2019-02-22 18:37] rultor commented on #1904
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17989-466500148)

[2019-02-22 18:50] rultor commented on #1904
@emilianodellacasa @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17989-466500148) (spent 14min)

[code]

[2019-02-22 19:37] g4s8 commented on #1904
@rultor release, tag=`0.42.2`

[2019-02-22 19:37] rultor commented on #1904
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17989-466520443)

[2019-02-22 19:56] rultor commented on #1904
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/17989-466520443) (took me 17min)

[2019-02-23 02:25] denis-konovalyenko commented on #1189
@g4s8 , could you please clarify:
1. whether we can have this implementation as a separate project, like "Github class and friends" have their own [jcabi-github](https://github.com/jcabi/jcabi-github)?
2. if we can wrap any of the existing clients API represented by [this](https://github.com/gmessner/gitlab4j-api) or [that](https://github.com/timols/java-gitlab-api) projects?

Thanks!

[2019-02-23 07:14] g4s8 commented on #1189
@denis-konovalyenko sure, we can use some libraries to call Gitlab API, like we use jcabi-github to call GitHub API.

[2019-02-23 15:42] victornoel commented on #1862
@g4s8 thanks

[2019-02-23 15:42] #1862 closed

[2019-02-23 15:59] 0crat commented on #1862
Job [#1862](https://github.com/zerocracy/farm/issues/1862) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-02-23 16:00] 0crat commented on #1862
Job was finished in 46 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-23 16:06] 0crat commented on #1862
The job [#1862](https://github.com/zerocracy/farm/issues/1862) is now out of scope

[2019-02-23 16:06] 0crat commented on #1862
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-24 10:56] Serranya opened #1909 "Support draft pull requests"
Github recently introduced draft pull requests: https://github.blog/2019-02-14-introducing-draft-pull-requests/. This allows to create PRs in a draft status. Indicating that they are not ready for review yet.

Zerocrat should detect draft PRs and should *not* assign a reviewer for these PRs yet.

[2019-02-24 10:56] 0crat commented on #1909
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-24 10:56] 0crat commented on #1909
@serranya[/z](https://www.0crat.com/u/serranya) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-25 11:24] #1876 closed

[2019-02-25 11:35] 0crat commented on #1901
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1901](https://github.com/zerocracy/farm/issues/1901), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-02-25 11:40] 0crat commented on #1901
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-25 11:44] 0crat commented on #1901
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-25 11:46] 0crat commented on #1876
Job `gh:zerocracy/farm#1876` is not assigned, can't get performer

[2019-02-25 11:46] 0crat commented on #1876
The job [#1876](https://github.com/zerocracy/farm/issues/1876) is now out of scope

[2019-02-25 13:42] yegor256 commented on #1901
@g4s8 this is what we have in the file now:

[code]

[2019-02-25 13:45] g4s8 commented on #1901
@rultor release, tag=`0.40.3`

[2019-02-25 13:47] rultor commented on #1901
@emilianodellacasa @g4s8 Invalid release tag `0.40.3` specified. There is already a release `0.42.2` newer than the given release in this repository.

[2019-02-25 13:47] rultor commented on #1901
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-02-25 14:01] g4s8 commented on #1901
@rultor release, tag=`0.42.3`

[2019-02-25 14:03] rultor commented on #1901
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18017-467021518)

[2019-02-25 14:24] rultor commented on #1901
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18017-467021518) (took me 19min)

[2019-02-25 14:41] g4s8 commented on #1901
@rultor release, tag=`0.42.4`

[2019-02-25 14:42] rultor commented on #1901
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18017-467036057)

[2019-02-25 15:03] rultor commented on #1901
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18017-467036057) (took me 18min)

[2019-02-25 15:48] g4s8 commented on #1901
@rultor release, tag=`0.42.5`

[2019-02-25 15:50] rultor commented on #1901
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18017-467062695)

[2019-02-25 16:14] rultor commented on #1901
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18017-467062695) (took me 22min)

[2019-02-25 20:05] g4s8 commented on #1901
@rultor release, tag=`0.42.6`

[2019-02-25 20:06] rultor commented on #1901
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18017-467162457)

[2019-02-25 20:28] rultor commented on #1901
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18017-467162457) (took me 20min)

[2019-02-26 07:32] g4s8 commented on #1901
@rultor release, tag=`0.42.6`

[2019-02-26 07:32] g4s8 commented on #1901
@rultor release, tag=`0.42.7`

[2019-02-26 07:33] rultor commented on #1901
@emilianodellacasa @g4s8 Invalid release tag `0.42.6` specified. There is already a release `0.42.6` newer than the given release in this repository.

[2019-02-26 07:33] rultor commented on #1901
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-02-26 07:35] rultor commented on #1901
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18017-467328321)

[2019-02-26 07:53] rultor commented on #1901
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18017-467328321) (took me 17min)

[2019-02-26 08:34] emilianodellacasa opened #1910 "Remove application expired message when user has been accepted"
A couple of people asked me why they were receiving an "application expired" message even though they were accepted on Zerocracy.

I think this message should be removed (and should be a very easy task to do) as it is confusing for newbies.

[2019-02-26 08:34] 0crat commented on #1910
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-26 08:34] 0crat commented on #1910
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-26 09:05] g4s8 commented on #1901
@emilianodellacasa @yegor256 now it's working, I just received debt payment via Zold.

[2019-02-26 09:05] #1901 closed

[2019-02-26 09:27] 0crat commented on #1901
Job [#1901](https://github.com/zerocracy/farm/issues/1901) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-02-26 09:31] 0crat commented on #1901
Job was finished in 21 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-26 09:44] 0crat commented on #1901
The job [#1901](https://github.com/zerocracy/farm/issues/1901) is now out of scope

[2019-02-26 09:48] 0crat commented on #1901
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-26 10:01] g4s8 commented on #1910
@emilianodellacasa it seems that 0crat is not removing resume when someone invites a student.

[2019-02-26 10:15] 0crat commented on #1910
Job [#1910](https://github.com/zerocracy/farm/issues/1910) is now in scope, role is `DEV`

[2019-02-26 10:35] 0crat commented on #1910
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-02-26 10:39] g4s8 opened #1911 "Claim queue may contains duplicates"
Let's check duplicates in local claim queue before adding new claim.

[2019-02-26 10:48] 0crat commented on #1911
Job [#1911](https://github.com/zerocracy/farm/issues/1911) is now in scope, role is `DEV`

[2019-02-26 10:51] g4s8 commented on #1911
@rultor release, tag=`0.42.8`

[2019-02-26 10:52] 0crat commented on #1911
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1911](https://github.com/zerocracy/farm/issues/1911), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-02-26 10:53] rultor commented on #1911
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18042-467392247)

[2019-02-26 10:56] 0crat commented on #1911
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-26 11:00] 0crat commented on #1911
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-26 11:00] 0crat commented on #1911
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-26 11:12] rultor commented on #1911
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18042-467392247) (took me 18min)

[2019-02-26 12:51] krzyk commented on #1898
@yegor256 any thoughts on that?

[2019-02-26 17:14] g4s8 commented on #1910
@emilianodellacasa reproduced and fixed in https://github.com/zerocracy/farm/commit/6a3e3f5deae4dcc8bfc6d689251b023712c531cf

[2019-02-26 19:50] #1819 closed

[2019-02-26 19:50] 0pdd commented on #1819
The puzzle `1815-c9e7ebc3` has disappeared from the source code, that's why I closed this issue.

[2019-02-26 19:50] 0pdd commented on #1815
@ypshenychka the only puzzle [#1819](https://github.com/zerocracy/farm/issues/1819) is solved here.

[2019-02-26 20:07] 0crat commented on #1819
Job `gh:zerocracy/farm#1819` is not assigned, can't get performer

[2019-02-26 20:08] 0crat commented on #1819
The job [#1819](https://github.com/zerocracy/farm/issues/1819) is now out of scope

[2019-02-27 11:00] g4s8 opened #1912 "Debts text can inject any html to debts page"
If payment failed and payment provider returned html as error, this html will be rendered in browser on debt page.
We should escape debts before rendering.

[2019-02-27 11:09] 0crat commented on #1912
Job [#1912](https://github.com/zerocracy/farm/issues/1912) is now in scope, role is `DEV`

[2019-02-27 11:16] 0crat commented on #1912
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-27 19:29] paulodamaso opened #1913 "Error while creating pull request"
PID: 4@b3107f5b-5bbd-41f4-b810-a17e60fb0df1, thread: pool-12-thread-2
com.zerocracy.farm.reactive.StkRuntime[76] java.lang.IllegalStateException: org.codehaus.groovy.runtime.InvokerInvocationException in com.zerocracy.stk.pm.scope.wbs.add_job_to_wbs
org.codehaus.groovy.reflection.CachedMethod[105] org.codehaus.groovy.runtime.InvokerInvocationException: java.lang.AssertionError: HTTP response statu

[2019-02-27 19:29] 0crat commented on #1913
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-28 08:33] g4s8 commented on #1843
@rultor release, tag=`0.43.1`

[2019-02-28 08:34] rultor commented on #1843
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18073-468184013)

[2019-02-28 08:57] rultor commented on #1843
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18073-468184013) (took me 21min)

[2019-02-28 09:26] g4s8 commented on #1843
@yegor256 coinbase payment option was removed

[2019-02-28 09:26] #1843 closed

[2019-02-28 09:54] 0crat commented on #1843
Job [#1843](https://github.com/zerocracy/farm/issues/1843) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-02-28 10:08] yegor256 commented on #1778
@g4s8 here is the problem: https://github.com/yegor256/tacit/issues/188

[2019-02-28 10:23] 0crat commented on #1843
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-28 10:26] 0crat commented on #1843
The job [#1843](https://github.com/zerocracy/farm/issues/1843) is now out of scope

[2019-02-28 10:39] g4s8 commented on #1911
fixed

[2019-02-28 10:39] #1911 closed

[2019-02-28 10:59] 0crat commented on #1911
Job [#1911](https://github.com/zerocracy/farm/issues/1911) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-02-28 10:59] 0crat commented on #1911
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-28 11:10] 0crat commented on #1911
The job [#1911](https://github.com/zerocracy/farm/issues/1911) is now out of scope

[2019-02-28 11:10] 0crat commented on #1911
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-28 18:59] g4s8 commented on #1900
@emilianodellacasa it was fixed in https://github.com/zerocracy/farm/commit/21fa186f3ac5ab3ca19b3c0c050e69ead9b0ee46 and released.
Now 0crat will send Zold even if payment is small. Also it will send small debts (< $64).

[2019-02-28 18:59] #1900 closed

[2019-02-28 19:02] #1910 closed

[2019-02-28 19:03] g4s8 commented on #1863
@victornoel it was fixed with #1862 and #1910

[2019-02-28 19:19] 0crat commented on #1900
Job [#1900](https://github.com/zerocracy/farm/issues/1900) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-02-28 19:22] 0crat commented on #1910
Job `gh:zerocracy/farm#1910` is not assigned, can't get performer

[2019-02-28 19:26] 0crat commented on #1910
The job [#1910](https://github.com/zerocracy/farm/issues/1910) is now out of scope

[2019-02-28 19:26] 0crat commented on #1900
The job [#1900](https://github.com/zerocracy/farm/issues/1900) is now out of scope

[2019-02-28 19:29] 0crat commented on #1900
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-28 21:53] victornoel commented on #1863
@g4s8 thanks

[2019-02-28 21:53] #1863 closed

[2019-02-28 22:15] 0crat commented on #1863
Job [#1863](https://github.com/zerocracy/farm/issues/1863) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-02-28 22:19] 0crat commented on #1863
The job [#1863](https://github.com/zerocracy/farm/issues/1863) is now out of scope

[2019-02-28 22:22] 0crat commented on #1863
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-28 23:29] filfreire opened #1915 "Tacit is Invisible/Unpublished?"
@g4s8, @yegor256 for some reason Tacit (`Tacit/C7BNDNSNR`) is set as `Invisible`. Why is this the case?

<img width="354" alt="screen shot 2019-03-01 at 00 30 11" src="https://user-images.githubusercontent.com/11976836/53605927-383cad80-3bb9-11e9-9b56-4fb15498d9b5.png">

[2019-02-28 23:29] 0crat commented on #1915
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-02-28 23:29] 0crat commented on #1915
@filfreire[/z](https://www.0crat.com/u/filfreire) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-01 11:35] filfreire commented on #1778
@g4s8 I believe we can close this issue now.

[2019-03-01 11:38] filfreire commented on #1915
@g4s8 closing this issue.

Solution is: ARC needs to publish the project.

[2019-03-01 11:38] #1915 closed

[2019-03-01 11:59] 0crat commented on #1915
Job `gh:zerocracy/farm#1915` is not assigned, can't get performer

[2019-03-01 12:01] 0crat commented on #1915
This job is not in scope

[2019-03-01 12:58] marceloamadeu opened #1916 "Agenda Error - Added 7 days in all my jobs"
Added 7 days to each of my jobs.

In the agenda shows with 8 days and in issue is 18 hours.

[2019-03-01 12:59] 0crat commented on #1916
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-01 12:59] 0crat commented on #1916
@marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-01 14:04] g4s8 commented on #1778
@filfreire thanks!

[2019-03-01 14:04] #1778 closed

[2019-03-01 14:20] amorenew opened #1917 "Feature: zerocracy as a resume to the developer"
The developer resume should be the projects he had contribute to not a companies names
and as UpWork or github shows the projects of the developer then zerocracy should have a shareable link to the developer contriputions

[2019-03-01 14:20] 0crat commented on #1917
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-01 14:20] 0crat commented on #1917
@amorenew[/z](https://www.0crat.com/u/amorenew) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-01 14:24] 0crat commented on #1778
Job `gh:zerocracy/farm#1778` is not assigned, can't get performer

[2019-03-01 14:27] 0crat commented on #1778
The job [#1778](https://github.com/zerocracy/farm/issues/1778) is now out of scope

[2019-03-01 14:45] filfreire opened #1918 "What is the meaning of HLP role?"
@g4s8 what is the meaning of the `HLP` role?

[2019-03-01 14:45] 0crat commented on #1918
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-01 14:45] 0crat commented on #1918
@filfreire[/z](https://www.0crat.com/u/filfreire) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-01 15:24] g4s8 commented on #1918
@filfreire we don't have such role, you can check all roles here: https://www.zerocracy.com/policy.html

[2019-03-01 15:31] g4s8 commented on #1917
@amorenew @yegor256 maybe we can introduce badges with reputation points?
something similar to this badge ![badge](https://www.0crat.com/contrib-badge/CB28FH2NR.svg)

[2019-03-01 17:49] wholegroup opened #1919 "No spaces in the language list on the board"
There are no spaces in the language list on the board. It looks like one long single word for an html rendering engine. In some cases it can breaks the layout.

![image](https://user-images.githubusercontent.com/553191/53655917-113eb400-3c6b-11e9-8477-e03922e676cb.png)

[2019-03-01 17:49] 0crat commented on #1919
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-01 17:49] 0crat commented on #1919
@wholegroup[/z](https://www.0crat.com/u/wholegroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-02 08:51] ypshenychka opened #1920 "Unsupported payment methods have to be removed from Policy"
However in [Policy](http://www.zerocracy.com/policy.html#20) we still have mentioned Bitcoin as a payment method.

Policy has to be either updated, or it's bug with BTC payments not working.

[2019-03-02 08:51] 0crat commented on #1920
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-03 13:51] victornoel opened #1921 "Error when inviting a user"
I tried to invite a user whose resume was assigned to me, I got the following error (in telegram):
[code]

[2019-03-03 13:51] 0crat commented on #1921
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-03 14:56] victornoel commented on #1921
@g4s8 also I didn't get the 32 points associated with reviewing a resume

[2019-03-03 15:02] victornoel commented on #1920
@g4s8 executing `/wallet` command with 0crat bots gives this answer:
[code]

Since only paypal and zold are left in the policy, this should be reflected here too.

[2019-03-03 15:50] 0crat commented on #1920
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1920](https://github.com/zerocracy/farm/issues/1920), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-03 15:50] g4s8 commented on #1921
@victornoel thank for reporting, but it's a duplicate of #1753

[2019-03-03 15:50] #1921 closed

[2019-03-03 15:53] 0crat commented on #1920
Job `gh:zerocracy/farm#1920` already assigned to @g4s8, can't assign to @g4s8

[2019-03-03 15:54] 0crat commented on #1920
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-03 15:57] 0crat commented on #1920
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-03 15:57] 0crat commented on #1921
Job `gh:zerocracy/farm#1921` is not assigned, can't get performer

[2019-03-03 15:59] g4s8 commented on #1920
@ypshenychka @victornoel thanks, it should be fixed now:
 - policy update: https://github.com/zerocracy/zerocracy.github.io/pull/69
 - wallet command update: https://github.com/zerocracy/farm/commit/e77238ed4c0b752092002894f0bdfee33af9c9c6

[2019-03-03 16:06] g4s8 commented on #1753
Sentry error https://sentry.io/organizations/zerocracy/issues/913246788/?project=193755&query=is%3Aunresolved&statsPeriod=14d&utc=false:
[code]

[2019-03-03 16:15] g4s8 commented on #1753
Related https://github.com/jcabi/jcabi-github/issues/1495

[2019-03-03 18:09] 0pdd opened #1922 "invite_friend.groovy:74-78: It's a temporary workaround..."
The puzzle `1753-e367fe73` from #1753 has to be resolved:

https://github.com/zerocracy/farm/blob/c10794ac1469c6a2eae3e68d2870d916aa165bd8/src/main/groovy/com/zerocracy/stk/pmo/profile/invite_friend.groovy#L74-L78

The puzzle was created by Kirill on 03-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and th

[2019-03-03 18:09] 0pdd commented on #1753
@emilianodellacasa the puzzle [#1922](https://github.com/zerocracy/farm/issues/1922) is still not solved.

[2019-03-03 18:09] 0crat commented on #1922
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-03 18:18] 0crat commented on #1922
Job [#1922](https://github.com/zerocracy/farm/issues/1922) is now in scope, role is `DEV`

[2019-03-03 19:21] g4s8 commented on #1753
@rultor release, tag=`0.43.3`

[2019-03-03 19:23] rultor commented on #1753
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18118-469054566)

[2019-03-03 19:33] 0crat commented on #1906
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1906](https://github.com/zerocracy/farm/issues/1906), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-03 19:35] 0crat commented on #1906
Job `gh:zerocracy/farm#1906` already assigned to @g4s8, can't assign to @g4s8

[2019-03-03 19:39] 0crat commented on #1906
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-03-03 19:41] rultor commented on #1753
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18118-469054566) (took me 16min)

[2019-03-03 19:42] 0crat commented on #1906
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-03 20:17] g4s8 commented on #1753
@emilianodellacasa @victornoel it should be fixed in `0.43.3`

[2019-03-03 20:27] yegor256 opened #1923 "/known page to return more details"
This page returns 200 or 404: https://www.0crat.com/known/yegor256

Would be great to make it return JSON document (in case of success):

[code]

We need this information for WTS in Zold.

[2019-03-03 20:27] 0crat commented on #1923
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-03 20:55] 0crat commented on #1923
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1923](https://github.com/zerocracy/farm/issues/1923), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-03 20:59] 0crat commented on #1923
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-03 21:01] 0crat commented on #1923
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-04 05:57] ypshenychka opened #1924 "One zold payment is missing in wallet"
I didn't receive actual payment for https://github.com/timelesslounge/timelessis/pull/445.

Although it was mentioned on the chat
![image](https://user-images.githubusercontent.com/11703257/53713284-08a8d200-3e53-11e9-8a8c-e0ca487b1afe.png)

I don't see it on the list in my wallet.
![image](https://user-images.githubusercontent.com/11703257/53713316-25450a00-3e53-11e9-97df-75ecd2102f29.png)

[2019-03-04 05:57] 0crat commented on #1924
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-04 08:29] g4s8 commented on #1924
@ypshenychka please submit it here: https://github.com/zold-io/wts.zold.io/
0crat is sending ZLD via WTS API, so if you can see your payment in WTS Telegram channel it means that 0crat did send the payment correctly.

[2019-03-04 08:29] #1924 closed

[2019-03-04 08:46] 0crat commented on #1924
Job `gh:zerocracy/farm#1924` is not assigned, can't get performer

[2019-03-04 08:46] 0crat commented on #1924
This job is not in scope

[2019-03-04 09:11] ekondrashev opened #1925 "Pay through PayPal while being in Ukraine is broken"
Zerocrat complains it fails to pay a debt with a following details:
[code]
I'm from Ukraine, but I was receiving payments to PayPal with no problems on other platforms.

[2019-03-04 09:11] 0crat commented on #1925
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-04 09:11] 0crat commented on #1925
@ekondrashev[/z](https://www.0crat.com/u/ekondrashev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-04 11:07] g4s8 commented on #1925
@ekondrashev it's not Zerocracy issue, Paypal doesn't allow some payments based on sender and reaceiver countries. As I know you can receive payment in Ukraine only from Ukraine or from approved by paypal accounts. As you can see we're going to remove Paypal option at all https://github.com/zerocracy/farm/issues/1860 so I'd suggest to switch to Zold wallets and excange it using https://wts.zold.io

[2019-03-04 11:07] #1925 closed

[2019-03-04 11:24] 0crat commented on #1925
Job `gh:zerocracy/farm#1925` is not assigned, can't get performer

[2019-03-04 11:25] 0crat commented on #1925
This job is not in scope

[2019-03-04 13:24] g4s8 opened #1926 "Refuse penalty depending on time"
I think refuse penalty should differ and depends on duration between order was given and refuse time, for example if performer refuse right after assignment it's not critical at all and 0crat may not give a penalty, but if performer refuses after 6 days, it may not be good for a project, I suppose it may lead programmers to refuse as soon as possible if they can't do that job. I'm suggesting this

[2019-03-04 16:36] filfreire commented on #1918
@g4s8 see screenshot below:

<img width="956" alt="screen shot 2019-03-04 at 17 35 01" src="https://user-images.githubusercontent.com/11976836/53747581-e2f7e900-3ea3-11e9-8c2a-789d31bdc70e.png">

also check out:

<img width="777" alt="screen shot 2019-03-04 at 17 35 41" src="https://user-images.githubusercontent.com/11976836/53747620-f73be600-3ea3-11e9-8253-24d413ee3341.png">

[2019-03-06 14:35] g4s8 opened #1927 "Penalty for expired resume"
Add penalty for reviewer if assigned resume was  expired but user was not invited or rejected.

[2019-03-06 14:42] 0crat commented on #1927
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1927](https://github.com/zerocracy/farm/issues/1927), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-06 14:44] #1753 closed

[2019-03-06 14:46] 0crat commented on #1927
Job `gh:zerocracy/farm#1927` already assigned to @g4s8, can't assign to @g4s8

[2019-03-06 14:47] g4s8 commented on #1783
fixed

[2019-03-06 14:47] #1783 closed

[2019-03-06 14:53] 0crat commented on #1927
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-06 14:55] 0crat commented on #1927
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-06 15:10] g4s8 commented on #1879
@kaldown should be fixed in https://github.com/zerocracy/farm/commit/17b712aad23059fd3bfeff9d7e82d8629dad42d3
now the reason is required for `deny` command

[2019-03-06 15:10] #1879 closed

[2019-03-06 15:17] 0crat commented on #1783
Job `gh:zerocracy/farm#1783` is not assigned, can't get performer

[2019-03-06 15:18] 0crat commented on #1783
The job [#1783](https://github.com/zerocracy/farm/issues/1783) is now out of scope

[2019-03-06 15:18] 0crat commented on #1753
Job `gh:zerocracy/farm#1753` is not assigned, can't get performer

[2019-03-06 15:25] 0crat commented on #1753
The job [#1753](https://github.com/zerocracy/farm/issues/1753) is now out of scope

[2019-03-06 15:27] 0crat commented on #1879
Job [#1879](https://github.com/zerocracy/farm/issues/1879) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-06 15:33] 0crat commented on #1879
The job [#1879](https://github.com/zerocracy/farm/issues/1879) is now out of scope

[2019-03-06 15:34] 0crat commented on #1879
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-06 21:14] paulodamaso opened #1928 "Role TST (tester) is undocumented"
We have some evidences of another role on zerocracy besides `DEV`, `REV´, ARC`,`and `PO`: the tester (`TST`). But we don't have anything on policy about this role, its ratings or its responsibilities. Looks like it doesn't make much sense, because people with any role can open bugs and get paid for them in the project, which should be one of `TST` attributions. Is it role "active" or valid? What a

[2019-03-06 21:14] 0crat commented on #1928
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-07 00:19] pinaf opened #1929 "Zold Wallets: Wait until debt accumulates before payment"
After switching wallets from BTC to ZLD, payments started coming in immediately after each issue was closed.

The behavior while on the BTC wallet was that payments would accumulate into a "debt" account and only be payed after it passed a certain threshold (of USD 64).

In order to significantly reduce the number of zold transactions we should use the same "debt account" scheme that existed for B

[2019-03-07 00:19] 0crat commented on #1929
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-07 00:19] 0crat commented on #1929
@pinaf[/z](https://www.0crat.com/u/pinaf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-07 05:32] g4s8 commented on #1929
@pinaf why do we need to reduce amount of transactions? They are free. Debt mechanism was invented for Paypal and Coinbase because these services takes some commission for each payment, to avoid high commissions 0crat accumulated payments to debts. Now we don't have commission in Zold, so we can pay immediately.

Related: https://github.com/zerocracy/farm/issues/1900

[2019-03-07 05:32] #1929 closed

[2019-03-07 05:45] g4s8 commented on #1928
@paulodamaso `TST` role just allows you do be in project for bug reporting, see https://github.com/zerocracy/zerocracy.github.io/pull/71

[2019-03-07 05:45] g4s8 commented on #1889
@filfreire please see https://github.com/zerocracy/zerocracy.github.io/pull/71

[2019-03-07 05:47] 0crat commented on #1929
Job `gh:zerocracy/farm#1929` is not assigned, can't get performer

[2019-03-07 05:48] 0crat commented on #1929
This job is not in scope

[2019-03-07 08:46] emilianodellacasa opened #1930 "Application for new student not received"
Yesterday I was assigned a new student and I had to examine his application: however I haven't received his application, just the message stating that he/she was assigned to me.

Also, I cannot see his/her application here: https://www.0crat.com/resumes

[2019-03-07 08:46] 0crat commented on #1930
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-07 08:46] 0crat commented on #1930
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-07 08:48] emilianodellacasa opened #1931 "Automatic tweet should be disabled"
At the moment zerocracy bot has been temporarily banned from Twitter.

This is causing a lot of errors when adding a new project or user, and this should be avoided as it causes confusion.

[2019-03-07 08:49] 0crat commented on #1931
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-07 08:49] 0crat commented on #1931
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-07 08:50] victornoel commented on #1881
@g4s8 also why is the page named `/resumes` while all the other pages related to my user are under `/u/victornoel`?

[2019-03-07 09:03] victornoel commented on #1930
@emilianodellacasa same here. In my case the user had been invited by someone else before I could (yes, some users have special powers and can do that ;)
@g4s8 I believe something should be done, fore example notify the reviewer that the application has been already processed, or something like that.

[2019-03-07 09:07] victornoel commented on #1927
@g4s8 if the user is penalized when he doesn't review a resume, then I believe he should be reminded after 8 days (half of the 16days for review) that he has pending reviews.

Actually, this review process looks more and more like a DEV job, maybe the logic used to handle jobs, their timeout, penalties, reward and co should be used to handle resume reviews?

[2019-03-07 09:09] g4s8 commented on #1930
@emilianodellacasa @victornoel it's written in FAQ https://www.zerocracy.com/faq.html (about join process):

So @ypshenychka has special rights, she can accept or decline any existing resume. So you can just check that resume exists in `/resumes`. If it doesn't, most probably user was invited already.

[2019-03-07 09:27] emilianodellacasa commented on #1930
@g4s8 This is not my problem. I know @ypshenychka has special powers (and I have used them at my own advantage already :-) ), actually I have invited the user and all worked correctly, but I couldn't see his application.

[2019-03-07 09:27] 0crat commented on #1881
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1881](https://github.com/zerocracy/farm/issues/1881), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-07 09:29] filfreire commented on #1889
@g4s8 ok 👍
Closing this issue then.

[2019-03-07 09:29] #1889 closed

[2019-03-07 09:29] 0crat commented on #1881
Job `gh:zerocracy/farm#1881` already assigned to @g4s8, can't assign to @g4s8

[2019-03-07 09:32] 0crat commented on #1881
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-07 09:34] 0crat commented on #1881
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-07 09:52] g4s8 commented on #1930
@emilianodellacasa so you want to receive full text of application as a message from chat bot, right?

[2019-03-07 09:56] emilianodellacasa commented on #1930
@g4s8 this is how it worked AFAIK: I received the application AND the message stating that the user has been assigned to me. It could be ok to receive only the latter message from 0crat, however we could add a link to the resume pages

[2019-03-07 09:59] 0crat commented on #1889
Job `gh:zerocracy/farm#1889` is not assigned, can't get performer

[2019-03-07 10:09] 0crat commented on #1889
This job is not in scope

[2019-03-07 10:26] g4s8 commented on #1931
@emilianodellacasa I think we just need to catch all exceptions when sending to Twitter and log it to Sentry (do not show to user)

[2019-03-07 10:27] emilianodellacasa commented on #1931
@g4s8 that could work for me, thanks!

[2019-03-07 10:31] g4s8 commented on #1881
@rultor release, tag=`0.43.4`

[2019-03-07 10:33] rultor commented on #1881
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18164-470472839)

[2019-03-07 10:34] g4s8 commented on #1923
@yegor256 it was implemented in https://github.com/zerocracy/farm/commit/7173d45dfe260fa1c49002429ec436e2b88d03d0 and will be available with next release

[2019-03-07 10:50] 0crat commented on #1930
Job [#1930](https://github.com/zerocracy/farm/issues/1930) is now in scope, role is `DEV`

[2019-03-07 10:51] rultor commented on #1881
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18164-470472839) (took me 16min)

[2019-03-07 10:53] 0crat commented on #1931
Job `gh:zerocracy/farm#1931` already assigned to @g4s8, can't assign to @g4s8

[2019-03-07 10:53] 0crat commented on #1931
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1931](https://github.com/zerocracy/farm/issues/1931), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-07 10:57] 0crat commented on #1931
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-07 10:57] 0crat commented on #1931
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-07 10:59] 0crat commented on #1930
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-07 11:01] g4s8 commented on #1881
@rultor release, tag=`0.43.5`

[2019-03-07 11:02] g4s8 commented on #1881
@ypshenychka @victornoel moved resumes page to `/u/login/resumes` (added fallback for `/resumes`), added link to filter `all` resumes and `my` resumes for @ypshenychka

[2019-03-07 11:03] rultor commented on #1881
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18164-470483003)

[2019-03-07 11:25] rultor commented on #1881
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18164-470483003) (took me 20min)

[2019-03-07 14:13] pinaf commented on #1929
@g4s8 because there's no need to clog up a zold wallet with lots of microtransactions unnecessarily, adding strain to the network, unless the receiver wants to get paid that way. I'm proposing we make it an option: setting the threshhold to zero (which could be the default value) would keep the current behavior of immediate payments.

[2019-03-07 15:25] ypshenychka commented on #1881
@g4s8 Thanks. Closing it.

[2019-03-07 15:25] #1881 closed

[2019-03-07 15:43] 0crat commented on #1881
Job [#1881](https://github.com/zerocracy/farm/issues/1881) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-07 15:43] 0crat commented on #1881
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-07 15:48] 0crat commented on #1881
The job [#1881](https://github.com/zerocracy/farm/issues/1881) is now out of scope

[2019-03-09 01:40] ebercamargo opened #1932 "The designated Issue does not appear in my agenda"
I received some Issue from the project "stryvers/life-lens-app", but they not appear in my Agenda, even though is owner in GITHUB. I think this is an isolated case, for my profile in 0crat.

[2019-03-09 01:40] 0crat commented on #1932
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-09 01:40] 0crat commented on #1932
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-09 05:15] g4s8 commented on #1932
@ebercamargo can you please provide more details? I need to know what issue is missed in your agenda (project name and ticket id).

[2019-03-09 11:53] ebercamargo commented on #1932
@g4s8
Id: GFV03LPPY
project name: stryvapp
ticket id: #27

[2019-03-09 19:03] g4s8 commented on #1932
@ebercamargo thanks, it's a bug - 0crat claims that agenda was updated successfully, but it was not.
(claim: https://www.0crat.com/footprint/GFV03LPPY/1976152d-f3e1-41ff-881f-d094a39c738f)

[2019-03-09 19:06] 0crat commented on #1932
Job [#1932](https://github.com/zerocracy/farm/issues/1932) is now in scope, role is `DEV`

[2019-03-09 19:13] 0crat commented on #1932
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-03-09 19:27] pablopaul opened #1933 "GitHub avatar does not get updated on 0crat"
GitHub avatar update is not reflected for my 0crat.com profile - should this be a feature?

If not, how can I update or remove my profile picture on 0crat.com then?

[2019-03-09 19:27] 0crat commented on #1933
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-09 19:27] 0crat commented on #1933
@pablopaul[/z](https://www.0crat.com/u/pablopaul) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-10 17:13] g4s8 commented on #1861
fixed in https://github.com/zerocracy/farm/commit/b7776451c3bbcb0dab38ea85e4c94043c1e85bc0

[2019-03-10 17:13] #1861 closed

[2019-03-10 17:17] g4s8 commented on #1927
@rultor release, tag=`0.43.6`

[2019-03-10 17:18] rultor commented on #1927
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18216-471325194)

[2019-03-10 17:21] g4s8 commented on #1927
@victornoel now examiner will be penalized with -32 pints for expired resume, see http://www.zerocracy.com/policy.html#1

I think it will be enough just a penalti for now, but you can suggest this feature in a new ticket.

[2019-03-10 17:21] #1927 closed

[2019-03-10 17:35] rultor commented on #1927
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18216-471325194) (took me 16min)

[2019-03-10 17:39] 0crat commented on #1861
Job [#1861](https://github.com/zerocracy/farm/issues/1861) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-10 17:42] 0crat commented on #1927
Job [#1927](https://github.com/zerocracy/farm/issues/1927) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-10 17:43] 0crat commented on #1861
The job [#1861](https://github.com/zerocracy/farm/issues/1861) is now out of scope

[2019-03-10 17:48] 0crat commented on #1927
The job [#1927](https://github.com/zerocracy/farm/issues/1927) is now out of scope

[2019-03-10 17:48] 0crat commented on #1861
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-10 17:49] 0crat commented on #1927
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-10 18:01] g4s8 commented on #1931
@emilianodellacasa it should be fixed in https://github.com/zerocracy/farm/commit/d16af88a0d10ca0ea8f50b115f6c9eb113967c65

[2019-03-10 18:19] emilianodellacasa commented on #1931
@g4s8 thanks

[2019-03-10 18:19] #1931 closed

[2019-03-10 18:39] 0crat commented on #1931
Job [#1931](https://github.com/zerocracy/farm/issues/1931) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-10 18:45] 0crat commented on #1931
The job [#1931](https://github.com/zerocracy/farm/issues/1931) is now out of scope

[2019-03-10 18:46] 0crat commented on #1931
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-11 05:26] g4s8 commented on #1931
@0crat status

[2019-03-11 05:28] 0crat commented on #1931
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1931](https://github.com/zerocracy/farm/issues/1931) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%231931%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2019-03-11 05:35] g4s8 opened #1934 "Didn't receive shares when cash == 0"
0crat didn't send shares when estimated cash was 0

[2019-03-11 05:40] 0crat commented on #1934
Job [#1934](https://github.com/zerocracy/farm/issues/1934) is now in scope, role is `DEV`

[2019-03-11 05:42] 0crat commented on #1934
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1934](https://github.com/zerocracy/farm/issues/1934), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-11 05:44] 0crat commented on #1934
Job `gh:zerocracy/farm#1934` already assigned to @g4s8, can't assign to @g4s8

[2019-03-11 05:45] 0crat commented on #1934
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-11 05:45] 0crat commented on #1934
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-11 05:45] 0crat commented on #1934
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-11 06:02] g4s8 commented on #1934
@rultor release, tag=`0.43.7`

[2019-03-11 06:03] rultor commented on #1934
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18226-471414538)

[2019-03-11 06:21] rultor commented on #1934
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18226-471414538) (took me 16min)

[2019-03-11 06:36] g4s8 commented on #1934
fixed

[2019-03-11 06:36] #1934 closed

[2019-03-11 06:55] 0crat commented on #1934
Job [#1934](https://github.com/zerocracy/farm/issues/1934) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-11 06:56] 0crat commented on #1934
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-11 07:08] 0crat commented on #1934
The job [#1934](https://github.com/zerocracy/farm/issues/1934) is now out of scope

[2019-03-11 07:13] 0crat commented on #1934
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-11 10:03] denis-konovalyenko commented on #997
@g4s8 , @yegor256 , @paulodamaso , it seems that this has happened again in the scope of [my](https://github.com/stryvers/life-lens-app/pull/57) issue or I have missed something...

[2019-03-11 13:00] g4s8 commented on #997
@denis-konovalyenko I don't have an access to your repo, can you say me 0crat project id please, and I'll be able to check it?

[2019-03-11 14:09] denis-konovalyenko commented on #997
@g4s8 , this is GFV03LPPY.

[2019-03-11 14:19] denis-konovalyenko commented on #997
@g4s8 , @yegor256 , @paulodamaso , think I missed the message from 0crat:

Sorry for the buzz.

[2019-03-11 14:22] amihaiemil commented on #997
@g4s8 This is not the last time people are going to ask about "missed" (true or not) payments. Maybe it would be wise to have a "Check Payment Status" functionality in 0crat? So people enter the project id and Issue number and see what exactly happened to said payment.

It's usually hard to link payments ot task, especially if 0crat pays the debt right after the payment (then you have to go to Pay

[2019-03-11 15:06] g4s8 commented on #997
@denis-konovalyenko WTS claims that it received the payment, see https://wts.zold.io/output?id=90a7d516-b2c4-44b4-a148-5b4d3c79d3af also you can check it in Telegram channel: https://t.me/zold_wts (just use search with `gh:stryvers/life-lens-app-57`). Try to pull your wallet and check again, if you're not able to find this transaction in your wallet, please submit an issue to https://github.com/zo

[2019-03-11 15:06] g4s8 commented on #997
@amihaiemil I think it's a good idea, can you submit a ticket please?

[2019-03-11 15:09] amihaiemil opened #1935 ""Check Payment Status" Functionality"
It would be very useful to have a "Check Payment Status" form on 0crat.com, where users should enter project id + task id and get info about the payment status.

At the moment it's easy to miss a payment and not be sure what happened with it (particularly if you receive one and then 0crat pays all the debts immediately). For instance, a user complained already about a payment he thought was missin

[2019-03-11 15:09] 0crat commented on #1935
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-11 15:32] 0crat commented on #1935
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1935](https://github.com/zerocracy/farm/issues/1935), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-11 15:32] 0crat commented on #1935
Job `gh:zerocracy/farm#1935` already assigned to @g4s8, can't assign to @g4s8

[2019-03-11 15:42] 0crat commented on #1935
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-11 15:42] 0crat commented on #1935
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-03-11 15:52] denis-konovalyenko commented on #997
@g4s8 , thank you, I have found the transaction.

[2019-03-11 18:34] ebercamargo commented on #1932
@g4s8 - Because it did not appear in my schedule that issue I lost 30 points, would it be possible to recover these points?
In according this:

https://github.com/stryvers/life-lens-app/issues/27#issuecomment-471328800

tks,

[2019-03-11 18:46] pablopaul opened #1936 "Feature Request: Assign Tasks based on chosen Tech Stack"
It should be possible to set tech. stack labels for jobs which get auto. assigned to work on.

Example use case: I only can work on JS related tasks.

[2019-03-11 18:47] 0crat commented on #1936
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-11 18:47] 0crat commented on #1936
@pablopaul[/z](https://www.0crat.com/u/pablopaul) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-12 08:22] emilianodellacasa opened #1937 "Command for POs to modify project default values"
It would be very useful for POs (and also for ARCs?) to have a command to modify some zerocracy settings, like days to close task, bonus for fast delivery, and rewards (issue creation, QA, ARC payment and so on).

Default values should be current values, but ability to change would be a remendous plus.

Command to be issued on Slack should be like

`@ 0crat option daysToCloseTask 4`

[2019-03-12 08:22] 0crat commented on #1937
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-12 08:22] 0crat commented on #1937
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-12 08:31] 0crat commented on #1937
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1937](https://github.com/zerocracy/farm/issues/1937), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-12 08:33] 0crat commented on #1937
Job `gh:zerocracy/farm#1937` already assigned to @g4s8, can't assign to @g4s8

[2019-03-12 08:35] 0crat commented on #1937
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-12 08:37] 0crat commented on #1937
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-12 15:54] Guseyn opened #1938 "Small design(css) problem, overflow needs to set to 'auto' in table in /board page"
Make sure the title of the issue explains the problem you are having. Also, the description of the issue must clearly explain what is broken, not what you want us to implement. Go through this checklist and make sure you answer "YES" to all points:

  - You have all pre-requisites listed in README.md installed
  - You are sure that you are not reporting a duplicate (search all issues)
  - You say

[2019-03-12 15:54] 0crat commented on #1938
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-12 15:55] 0crat commented on #1938
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-12 16:11] g4s8 commented on #1938
@Guseyn there're some issues with ticket description - it's just a placeholder, please check it

[2019-03-12 16:19] Guseyn commented on #1938
@g4s8 fixed

[2019-03-12 19:15] g4s8 commented on #1858
@rultor release, tag=`0.43.8`

[2019-03-12 19:17] rultor commented on #1858
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18260-472143376)

[2019-03-12 19:35] rultor commented on #1858
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18260-472143376) (took me 16min)

[2019-03-12 19:38] g4s8 commented on #1858
done

[2019-03-12 19:38] #1858 closed

[2019-03-12 19:39] g4s8 opened #1939 "Failed to fund with Zold"
[code]

[2019-03-12 19:48] 0crat commented on #1939
Job [#1939](https://github.com/zerocracy/farm/issues/1939) is now in scope, role is `DEV`

[2019-03-12 19:53] 0crat commented on #1939
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1939](https://github.com/zerocracy/farm/issues/1939), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-12 19:57] 0crat commented on #1939
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-12 19:57] 0crat commented on #1939
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-12 19:57] 0crat commented on #1858
Job [#1858](https://github.com/zerocracy/farm/issues/1858) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-12 19:59] 0crat commented on #1939
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-12 20:01] 0crat commented on #1858
The job [#1858](https://github.com/zerocracy/farm/issues/1858) is now out of scope

[2019-03-12 20:04] 0crat commented on #1858
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-13 05:11] g4s8 commented on #1939
Zold issue: https://github.com/zold-io/wts.zold.io/issues/185

[2019-03-13 17:10] #1923 closed

[2019-03-13 17:27] 0crat commented on #1923
Job [#1923](https://github.com/zerocracy/farm/issues/1923) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-13 17:32] 0crat commented on #1923
The job [#1923](https://github.com/zerocracy/farm/issues/1923) is now out of scope

[2019-03-13 17:34] 0crat commented on #1923
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-13 18:33] victornoel opened #1940 "Refusal of REV job by ARC on behalf of user should be penalized"
I noticed multiple times that when a REV wasn't responding and ARC refused the task for him so that the job could be assigned to an active user, 0crat does not penalize the REV.

Example: https://github.com/yegor256/cactoos/pull/1078#issuecomment-469479920

I would expect those user to be penalized so that it reduces the chance for them to be assigned task later on.

[2019-03-13 18:33] 0crat commented on #1940
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-14 04:54] g4s8 commented on #1940
@victornoel but ARC may refuse a job for another reason, e.g. if the job is not valid anymore and it should be removed from WBS without payment, or if ARC wants to assign the job to someone else, in these cases.

I don't think we should penalize someone if that person didn't violate the policy somehow, the policy doesn't say something about PR time limit for REV, but it says about penalty for ARC

[2019-03-14 08:44] emilianodellacasa opened #1941 "Error while closing issue"
I received an error while trying to close an issue:

[code]

Link to the [comment ](https://github.com/stryvers/life-lens-app/issues/49#issuecomment-472755136)

[2019-03-14 08:44] 0crat commented on #1941
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-14 08:44] 0crat commented on #1941
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-14 09:00] emilianodellacasa opened #1942 "Assigned closed issue"
This bug is quite strange, I will try to detail what happened:

- An issue was closed because PR was merged;
- ARC mistakenly assigned the issue to himself;
- Original assignee was correctly paid after quality assessment;
- ARC issued `out `command to remove the issue from scope;
- ARC was paid;

I think that shouldn't ever happen, in general we should check if there was already a payment on a iss

[2019-03-14 09:00] 0crat commented on #1942
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-14 09:00] 0crat commented on #1942
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-14 09:01] g4s8 commented on #1941
@emilianodellacasa it's a duplicate of https://github.com/zerocracy/farm/issues/1519 (origin issue https://github.com/zerocracy/farm/issues/1233)

[2019-03-14 09:01] #1941 closed

[2019-03-14 09:02] 0crat commented on #1941
Job `gh:zerocracy/farm#1941` is not assigned, can't get performer

[2019-03-14 09:03] emilianodellacasa opened #1943 "Payments when project is paused"
By my understanding, payments on a paused project shouldn't happen, but I just got paid on a issue of a paused project.

Link [here](https://github.com/timelesslounge/timelessis/issues/357#issuecomment-472758862)

[2019-03-14 09:03] 0crat commented on #1943
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-14 09:03] 0crat commented on #1943
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-14 09:03] 0crat commented on #1519
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1519](https://github.com/zerocracy/farm/issues/1519), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-14 09:03] 0crat commented on #1519
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 09:11] g4s8 commented on #1942
@emilianodellacasa `out` means remove from scope = close the ticket, so the logic is correct. The only issue is that you was able to assign closed ticket.
If you want to remove the issue from scope without payment, you need to `refuse` first to unassign performer, and then `out` to remove from scope.

[2019-03-14 09:14] emilianodellacasa commented on #1942
@g4s8 will change title of the issue and edit the description then

[2019-03-14 09:15] victornoel commented on #1940
@g4s8 you are right, I understand, thanks for the explanation!

[2019-03-14 09:15] #1940 closed

[2019-03-14 09:31] #1519 closed

[2019-03-14 09:31] 0pdd commented on #1519
The puzzle `1233-8e345196` has disappeared from the source code, that's why I closed this issue.

[2019-03-14 09:31] 0pdd commented on #1233
@yegor256 the only puzzle [#1519](https://github.com/zerocracy/farm/issues/1519) is solved here.

[2019-03-14 09:56] #1904 closed

[2019-03-14 10:02] #1398 closed

[2019-03-14 10:03] g4s8 commented on #1393
@amihaiemil it was fixed

[2019-03-14 10:03] #1393 closed

[2019-03-14 10:05] #1354 closed

[2019-03-14 10:10] 0pdd commented on #1325
The puzzle `1119-cdea2c77` has disappeared from the source code, that's why I closed this issue.

[2019-03-14 10:10] #1325 closed

[2019-03-14 10:10] 0pdd commented on #1119
@yegor256 the only puzzle [#1325](https://github.com/zerocracy/farm/issues/1325) is solved here.

[2019-03-14 10:11] g4s8 commented on #1520
was fixed already

[2019-03-14 10:11] #1520 closed

[2019-03-14 10:13] g4s8 commented on #1535
@paulodamaso it was fixed already

[2019-03-14 10:13] #1535 closed

[2019-03-14 10:14] g4s8 commented on #879
@ypshenychka it should be fixed already

[2019-03-14 10:14] #879 closed

[2019-03-14 10:16] g4s8 commented on #1674
@krzyk it seems that this bug was fixed and is not reproducing anymore, can we close it?

[2019-03-14 10:33] krzyk commented on #1674
@g4s8 yes, you are right

[2019-03-14 10:33] #1674 closed

[2019-03-14 10:42] 0crat commented on #1942
Job [#1942](https://github.com/zerocracy/farm/issues/1942) is now in scope, role is `DEV`

[2019-03-14 10:48] 0crat commented on #1940
Job `gh:zerocracy/farm#1940` is not assigned, can't get performer

[2019-03-14 10:53] 0crat commented on #1519
Job [#1519](https://github.com/zerocracy/farm/issues/1519) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-14 10:53] g4s8 commented on #1939
@rultor release, tag=`0.43.9`

[2019-03-14 10:56] rultor commented on #1939
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18286-472801369)

[2019-03-14 11:00] 0crat commented on #1904
Job [#1904](https://github.com/zerocracy/farm/issues/1904) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-14 11:02] 0crat commented on #1398
Job `gh:zerocracy/farm#1398` is not assigned, can't get performer

[2019-03-14 11:02] 0crat commented on #1519
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-14 11:02] 0crat commented on #1940
This job is not in scope

[2019-03-14 11:06] 0crat commented on #1325
Job `gh:zerocracy/farm#1325` is not assigned, can't get performer

[2019-03-14 11:06] 0crat commented on #1393
Job `gh:zerocracy/farm#1393` is not assigned, can't get performer

[2019-03-14 11:06] 0crat commented on #1535
Job `gh:zerocracy/farm#1535` is not assigned, can't get performer

[2019-03-14 11:08] 0crat commented on #1520
Job [#1520](https://github.com/zerocracy/farm/issues/1520) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-14 11:08] 0crat commented on #1354
Job `gh:zerocracy/farm#1354` is not assigned, can't get performer

[2019-03-14 11:15] 0crat commented on #1398
The job [#1398](https://github.com/zerocracy/farm/issues/1398) is now out of scope

[2019-03-14 11:18] 0crat commented on #1674
Job [#1674](https://github.com/zerocracy/farm/issues/1674) is not in the agenda of @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), can't retrieve data and time of add

[2019-03-14 11:18] 0crat commented on #1325
The job [#1325](https://github.com/zerocracy/farm/issues/1325) is now out of scope

[2019-03-14 11:18] 0crat commented on #1393
The job [#1393](https://github.com/zerocracy/farm/issues/1393) is now out of scope

[2019-03-14 11:18] 0crat commented on #1535
The job [#1535](https://github.com/zerocracy/farm/issues/1535) is now out of scope

[2019-03-14 11:19] 0crat commented on #1354
The job [#1354](https://github.com/zerocracy/farm/issues/1354) is now out of scope

[2019-03-14 11:19] 0crat commented on #1325
Job `gh:zerocracy/farm#1325` doesn't exist in WBS, can't create order

[2019-03-14 11:20] rultor commented on #1939
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18286-472801369) (took me 21min)

[2019-03-14 11:26] 0crat commented on #1519
The job [#1519](https://github.com/zerocracy/farm/issues/1519) is now out of scope

[2019-03-14 11:31] 0crat commented on #1904
The job [#1904](https://github.com/zerocracy/farm/issues/1904) is now out of scope

[2019-03-14 11:32] 0crat commented on #1519
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 11:32] 0crat commented on #1942
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2019-03-14 11:32] 0crat commented on #879
The job [#879](https://github.com/zerocracy/farm/issues/879) is now out of scope

[2019-03-14 11:33] 0crat commented on #1325
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 11:33] 0crat commented on #879
The project doesn't have enough funds, can't make a payment

[2019-03-14 11:33] 0crat commented on #1520
The job [#1520](https://github.com/zerocracy/farm/issues/1520) is now out of scope

[2019-03-14 11:34] 0crat commented on #1904
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 11:34] 0crat commented on #879
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 11:34] 0crat commented on #1674
The job [#1674](https://github.com/zerocracy/farm/issues/1674) is now out of scope

[2019-03-14 11:36] 0crat commented on #1520
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 11:37] 0crat commented on #1674
Order was finished: +30 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-03-14 11:41] yegor256 opened #1944 "not enough details in the invitation to review a candidate"
I just received a message in Telegram: "A new applicant, @nermeen78/z (https://www.0crat.com/u/nermeen78), has been assigned to you. Please review the resume, and either invite or reject the applicant. In either case you will receive +32 reputation points as in §1 (http://www.zerocracy.com/policy.html#1)" I have to review the person, but I don't know where to click... Would be great if I would hav

[2019-03-14 11:41] 0crat commented on #1944
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-14 11:52] g4s8 commented on #1939
@rultor release, tag=`0.43.10`

[2019-03-14 11:54] rultor commented on #1939
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18286-472820640)

[2019-03-14 12:09] rultor commented on #1939
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18286-472820640) (spent 15min)

[code]

[2019-03-14 12:13] g4s8 commented on #1939
@rultor release, tag=`0.43.10`

[2019-03-14 12:14] rultor commented on #1939
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18286-472827221)

[2019-03-14 12:17] 0crat commented on #1944
Job [#1944](https://github.com/zerocracy/farm/issues/1944) is now in scope, role is `DEV`

[2019-03-14 12:24] 0crat commented on #1944
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-14 12:35] rultor commented on #1939
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18286-472827221) (took me 19min)

[2019-03-14 12:43] g4s8 commented on #1939
@rultor release, tag=`0.43.11`

[2019-03-14 12:44] rultor commented on #1939
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18286-472836753)

[2019-03-14 13:00] rultor commented on #1939
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18286-472836753) (spent 15min)

[code]

[2019-03-14 13:00] g4s8 commented on #1939
@rultor release, tag=`0.43.11`

[2019-03-14 13:04] rultor commented on #1939
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18286-472842611)

[2019-03-14 13:26] rultor commented on #1939
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18286-472842611) (took me 19min)

[2019-03-14 14:00] g4s8 commented on #1939
fixed

[2019-03-14 14:00] #1939 closed

[2019-03-14 14:22] 0crat commented on #1939
Job [#1939](https://github.com/zerocracy/farm/issues/1939) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-14 14:25] 0crat commented on #1939
Job was finished in 42 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-14 14:29] 0crat commented on #1939
The job [#1939](https://github.com/zerocracy/farm/issues/1939) is now out of scope

[2019-03-14 14:30] 0crat commented on #1939
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 14:35] denis-konovalyenko opened #1945 "Internal application error 2 on board page"
Navigate to the board page and observe the following error:
[code]

[2019-03-14 14:35] 0crat commented on #1945
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-14 16:41] g4s8 commented on #1711
@denis-konovalyenko it was fixed in #1713 thanks

[2019-03-14 16:41] #1711 closed

[2019-03-14 16:41] g4s8 commented on #1190
@0crat refuse

[2019-03-14 16:41] g4s8 commented on #1189
@0crat refuse

[2019-03-14 16:42] g4s8 commented on #1621
@0crat refuse

[2019-03-14 16:43] g4s8 commented on #1419
@t-izbassar it seems, this bug was fixed already

[2019-03-14 16:43] #1419 closed

[2019-03-14 16:43] g4s8 commented on #1419
@0crat refuse

[2019-03-14 16:43] g4s8 commented on #903
@0crat refuse

[2019-03-14 16:44] g4s8 commented on #876
@0crat assign me

[2019-03-14 16:45] g4s8 commented on #1145
@0crat refuse

[2019-03-14 16:48] g4s8 commented on #779
@0crat refuse

[2019-03-14 16:51] g4s8 opened #1946 "Failed to delete recharge on fund_by_zold"
`fund_by_zold` stk falis to delete reacharge, error: https://sentry.io/organizations/zerocracy/issues/934436020/?project=1227515&query=is%3Aunresolved+&statsPeriod=14d&utc=true

[code]

[2019-03-14 16:52] g4s8 commented on #942
@yegor256 it seems this bug was fixed already, can't find same error in Sentry now

[2019-03-14 16:52] #942 closed

[2019-03-14 16:52] g4s8 commented on #942
@0crat refuse

[2019-03-14 16:52] g4s8 commented on #848
@0crat refuse

[2019-03-14 16:53] g4s8 commented on #762
@0crat refuse

[2019-03-14 16:54] g4s8 commented on #729
@0crat refuse

[2019-03-14 17:14] 0crat commented on #729
@g4s8 The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#729](https://github.com/zerocracy/farm/issues/729), please stop working. Reason for job resignation: Order was cancelled

[2019-03-14 17:14] 0crat commented on #848
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#848](https://github.com/zerocracy/farm/issues/848), please stop working. Reason for job resignation: Order was cancelled

[2019-03-14 17:14] 0crat commented on #762
@g4s8 The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#762](https://github.com/zerocracy/farm/issues/762), please stop working. Reason for job resignation: Order was cancelled

[2019-03-14 17:14] 0crat commented on #1145
@g4s8 The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#1145](https://github.com/zerocracy/farm/issues/1145), please stop working. Reason for job resignation: Order was cancelled

[2019-03-14 17:14] 0crat commented on #779
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#779](https://github.com/zerocracy/farm/issues/779), please stop working. Reason for job resignation: Order was cancelled

[2019-03-14 17:15] 0crat commented on #942
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#942](https://github.com/zerocracy/farm/issues/942), please stop working. Reason for job resignation: Order was cancelled

[2019-03-14 17:15] 0crat commented on #1189
@g4s8 The user @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) resigned from [#1189](https://github.com/zerocracy/farm/issues/1189), please stop working. Reason for job resignation: Order was cancelled

[2019-03-14 17:15] 0crat commented on #1621
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#1621](https://github.com/zerocracy/farm/issues/1621), please stop working. Reason for job resignation: Order was cancelled

[2019-03-14 17:15] 0crat commented on #1419
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#1419](https://github.com/zerocracy/farm/issues/1419), please stop working. Reason for job resignation: Order was cancelled

[2019-03-14 17:15] 0crat commented on #903
@g4s8 The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#903](https://github.com/zerocracy/farm/issues/903), please stop working. Reason for job resignation: Order was cancelled

[2019-03-14 17:16] 0crat commented on #1190
@g4s8 The user @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) resigned from [#1190](https://github.com/zerocracy/farm/issues/1190), please stop working. Reason for job resignation: Order was cancelled

[2019-03-14 17:16] 0crat commented on #876
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#876](https://github.com/zerocracy/farm/issues/876), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-14 17:17] 0crat commented on #848
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 17:17] 0crat commented on #1621
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 17:17] 0crat commented on #779
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 17:17] 0crat commented on #942
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 17:17] 0crat commented on #1419
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 17:17] 0crat commented on #876
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 17:58] 0crat commented on #1946
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1946](https://github.com/zerocracy/farm/issues/1946), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-14 18:05] 0crat commented on #1419
Job `gh:zerocracy/farm#1419` is not assigned, can't get performer

[2019-03-14 18:38] 0crat commented on #1946
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 18:40] 0crat commented on #1946
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 18:41] 0crat commented on #1946
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-14 18:41] 0crat commented on #1419
The job [#1419](https://github.com/zerocracy/farm/issues/1419) is now out of scope

[2019-03-14 18:47] 0crat commented on #1711
The project doesn't have enough funds, can't make a payment

[2019-03-14 18:47] 0crat commented on #1711
The job [#1711](https://github.com/zerocracy/farm/issues/1711) is now out of scope

[2019-03-14 18:49] 0crat commented on #942
Job `gh:zerocracy/farm#942` is not assigned, can't get performer

[2019-03-14 18:52] 0crat commented on #1711
Order was finished: +30 point(s) just awarded to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2019-03-14 18:53] 0crat commented on #942
The job [#942](https://github.com/zerocracy/farm/issues/942) is now out of scope

[2019-03-14 18:53] 0crat commented on #1711
The project doesn't have enough funds, can't make a payment

[2019-03-15 06:07] g4s8 opened #1947 "You have to pull the wallet first"
0crat failed to create new invoice to receive ZLD:
https://sentry.io/organizations/zerocracy/issues/934360086/?project=193755
[code]
we should pull 0crat wallet before each operation

[2019-03-15 06:09] 0crat commented on #1947
Job [#1947](https://github.com/zerocracy/farm/issues/1947) is now in scope, role is `DEV`

[2019-03-15 06:16] 0crat commented on #1947
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-15 18:08] g4s8 commented on #1942
@rultor release, tag=`0.44.1`

[2019-03-15 18:09] rultor commented on #1942
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18310-473389296)

[2019-03-15 18:09] g4s8 commented on #1942
@emilianodellacasa it should be fixed in https://github.com/zerocracy/farm/commit/a5e614c0747fcba7e9fc84323c4afd43e394040f and realeased in `0.44.1`, so I'm closing this ticket to verify that I can't assign it after close

[2019-03-15 18:09] #1942 closed

[2019-03-15 18:29] rultor commented on #1942
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18310-473389296) (took me 18min)

[2019-03-15 18:29] 0crat commented on #1942
Job `gh:zerocracy/farm#1942` is not assigned, can't get performer

[2019-03-15 18:30] g4s8 commented on #1942
@0crat status

[2019-03-15 18:32] 0crat commented on #1942
The job [#1942](https://github.com/zerocracy/farm/issues/1942) is now out of scope

[2019-03-15 18:33] g4s8 commented on #1942
@0crat assign me

[2019-03-15 18:34] g4s8 commented on #1944
@yegor256 thanks, it should be fixed now, added link to resume in message

[2019-03-15 18:34] #1944 closed

[2019-03-15 18:35] 0crat commented on #1942
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1942](https://github.com/zerocracy/farm/issues/1942) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%231942%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2019-03-15 18:39] 0crat commented on #1942
@g4s8 Job [#1942](https://github.com/zerocracy/farm/issues/1942) is closed, can't start order

[2019-03-15 18:40] g4s8 commented on #1942
@emilianodellacasa see https://github.com/zerocracy/farm/issues/1942#issuecomment-473399502 it's fixed now

[2019-03-15 18:56] 0crat commented on #1944
Job `gh:zerocracy/farm#1944` is not assigned, can't get performer

[2019-03-15 18:57] 0crat commented on #1944
The job [#1944](https://github.com/zerocracy/farm/issues/1944) is now out of scope

[2019-03-16 05:51] denis-konovalyenko commented on #997
@g4s8 , do you think you would be able to clarify one more case? I am quite sure there was no monetary reward for that - no message from 0crat in Telegram, no transaction in my wallet [e560c4fb95684c6d](http://www.zold.io/ledger.html?wallet=e560c4fb95684c6d).

Telegram message from 0crat:

You got +15 point(s) in the job #101 (https://github.com/stryvers/life-lens-app/issues/101) in GFV03LPPY, you

[2019-03-16 06:20] g4s8 commented on #997
@denis-konovalyenko sorry, but I didn't get your problem: is it about "scope label is not working" or you didn't receive the payment for job?

[2019-03-16 06:23] denis-konovalyenko commented on #997
@g4s8 , I did not receive the payment first of all. :) As for the "scope label is not working", I can post a new issue if there is no such.

[2019-03-16 06:31] g4s8 commented on #997
@denis-konovalyenko as I can see it was added to WBS successfully:
![scrot-2019-03-16-09:27:23](https://user-images.githubusercontent.com/1524988/54471681-e6597180-47cd-11e9-9ab4-ca262c8ff684.png)

you didn't receive the payment because this project doesn't have enough funds to pay you.

[2019-03-16 06:37] denis-konovalyenko commented on #997
@g4s8 , thank you very much! Could you please point me out to the place where I can also observer such information for the future? By the way, my WBS page is just listing me my project IDs I am working on: `C3NDPUA8L, GFCHY7NQG, GFV03LPPY`. Is it expected to show more details?

[2019-03-16 06:45] g4s8 commented on #997
@denis-konovalyenko you can go to profile page https://www.0crat.com/me and see all projects where you have any role, then you can click on each project to see more details, such as available cash, if you see this warning message, it means that project can't pay you:
![scrot-2019-03-16-09:41:38](https://user-images.githubusercontent.com/1524988/54471785-fa9e6e00-47cf-11e9-9ea8-4e194a051e03.png)

[2019-03-16 06:58] denis-konovalyenko commented on #997
@g4s8 , thank you for the clarification! Sorry, I have not found the message you shown on the project page:
![image](https://user-images.githubusercontent.com/15904097/54471919-629d8600-47c9-11e9-9b00-97bceff15e11.png)

[2019-03-16 08:13] g4s8 commented on #997
@denis-konovalyenko did you check this project https://www.0crat.com/p/GFV03LPPY , right?
I can see this warning, maybe you don't have enough permissions?

[2019-03-16 08:18] denis-konovalyenko commented on #997
@g4s8 , you are right. This is the correct link to the project. As you can see I have DEV and REV roles. I have no clue what permissions have to be possessed with these roles.

[2019-03-17 17:58] g4s8 opened #1948 "PMO users can't invite without resume"
PMO users should be able to invite any people without resume

[2019-03-17 17:58] 0crat commented on #1948
Job [#1948](https://github.com/zerocracy/farm/issues/1948) is now in scope, role is `DEV`

[2019-03-17 18:01] 0crat commented on #1948
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1948](https://github.com/zerocracy/farm/issues/1948), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-17 18:05] 0crat commented on #1948
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-17 18:06] 0crat commented on #1948
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-17 18:06] 0crat commented on #1948
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-18 05:22] 0crat commented on #1340
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1340](https://github.com/zerocracy/farm/issues/1340), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-18 05:24] 0crat commented on #1340
Job `gh:zerocracy/farm#1340` already assigned to @g4s8, can't assign to @g4s8

[2019-03-18 05:26] 0crat commented on #1340
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-18 05:29] 0crat commented on #1340
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-03-18 07:49] 0crat commented on #1238
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1238](https://github.com/zerocracy/farm/issues/1238), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-18 07:49] 0crat commented on #1238
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-18 11:44] dennis00010011b commented on #1798
@g4s8, @LavinJ  same thing happens with each currency symbol USD, EUR, GBP, JPY

<img width="720" alt="Screen Shot 2019-03-18 at 04 35 42" src="https://user-images.githubusercontent.com/14067096/54527824-5126bc00-4938-11e9-8251-4453ae817bc5.png">

According http://www.zerocracy.com/policy.html#16 the Telegram bot should accepts  USD, EUR, GBP, JPY

[2019-03-18 13:09] g4s8 commented on #1238
@krzyk it should be fixed with #1949 - some bundle tests had same project ids, so it was possible that one test changes `xml` resources of another test when running parallel, I updated bundle directories names (it's the source of project id) and added a check to fail `BundleTest` if duplicates were found.

[2019-03-18 13:10] g4s8 commented on #1340
@rultor release, tag=`0.44.2`

[2019-03-18 13:11] rultor commented on #1340
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18331-473903211)

[2019-03-18 13:34] rultor commented on #1340
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18331-473903211) (took me 19min)

[2019-03-18 14:17] krzyk commented on #1238
@g4s8 thanks

[2019-03-18 14:17] #1238 closed

[2019-03-18 14:34] 0crat commented on #1238
Job [#1238](https://github.com/zerocracy/farm/issues/1238) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-18 14:34] 0crat commented on #1238
Job was finished in 6 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-18 14:42] 0crat commented on #1238
The job [#1238](https://github.com/zerocracy/farm/issues/1238) is now out of scope

[2019-03-18 14:44] 0crat commented on #1238
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-18 18:19] g4s8 commented on #1340
@carlosmiranda it should be fixed in https://github.com/zerocracy/farm/commit/9e536506cab44dd4df9ac84414b72c176d4a2d45 and released `0.44.2`

[2019-03-18 18:50] ebercamargo commented on #1932
@g4s8 ping

[2019-03-18 19:21] ebercamargo commented on #1932
@g4s8 I received some Issue from the project "stryvers/life-lens-app", but they not appear in my Agenda, even though is owner in GITHUB. I think this is an isolated case, for my profile in 0crat.

Id: GFV03LPPY
project name: stryvapp
ticket id: #117
https://github.com/stryvers/life-lens-app/issues/117

[2019-03-19 05:22] g4s8 commented on #1932
@ebercamargo it's strange, I can see 117 job in your agenda. Do you use correct link? It is https://www.0crat.com/u/ebercamargo/agenda
![scrot-2019-03-19-08:18:48](https://user-images.githubusercontent.com/1524988/54581928-c5885a80-4a1f-11e9-9412-92bb16028aa1.png)

What jobs does display this page for you?
Also, what did you mean under "even though is owner in GITHUB"?

[2019-03-19 08:59] g4s8 commented on #1943
@emilianodellacasa I updated the policy to explain pause behavior, please take a look: https://www.zerocracy.com/policy.html#24

[2019-03-19 09:01] #1943 closed

[2019-03-19 09:17] 0crat commented on #1943
Job `gh:zerocracy/farm#1943` is not assigned, can't get performer

[2019-03-19 09:17] 0crat commented on #1943
This job is not in scope

[2019-03-19 21:42] denis-konovalyenko commented on #997
@g4s8 , could you please clarify the time frame the claims are usually paid in (the project has been properly funded for some days already)? Thanks!

[2019-03-20 14:16] ypshenychka opened #1950 "Telegram nickname is not displayed in resume"
I was assigned for an application form and when I followed the link to resume - there was no Telegram nickname in it. So it's quite difficult to find and contact that person.
This issue is actual for resumes assigned to other examiners as well (I could check this as far as I have access to all of them).

Please add Telegram field back to resume.

[2019-03-20 14:16] 0crat commented on #1950
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-20 14:16] 0crat commented on #1950
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-20 14:35] 0crat commented on #1657
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1657](https://github.com/zerocracy/farm/issues/1657), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-20 14:38] 0crat commented on #1657
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-20 16:48] 0crat commented on #1950
Job [#1950](https://github.com/zerocracy/farm/issues/1950) is now in scope, role is `DEV`

[2019-03-20 16:50] 0crat commented on #1950
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1950](https://github.com/zerocracy/farm/issues/1950), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-20 16:54] 0crat commented on #1950
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-20 16:55] 0crat commented on #1950
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-21 02:52] pinaf opened #1951 "Add Formal Signed Contracts between ZC and Devs"
Please add formal signed contracts to the dashboards.

A basic agreement with a specific hourly rate between ZC and the "dev", either through his own company or directly as natural person.

[2019-03-21 02:52] 0crat commented on #1951
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-21 02:52] 0crat commented on #1951
@pinaf[/z](https://www.0crat.com/u/pinaf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-21 02:52] pinaf commented on #1951
@yegor256 c/c

[2019-03-21 04:35] #1657 closed

[2019-03-21 04:35] 0pdd commented on #1657
The puzzle `1333-6882f9fb` has disappeared from the source code, that's why I closed this issue.

[2019-03-21 04:35] 0pdd commented on #1687
The puzzle `930-ecca0a03` has disappeared from the source code, that's why I closed this issue.

[2019-03-21 04:35] #1687 closed

[2019-03-21 04:35] 0pdd opened #1952 "TkBoard.java:45-49: Implement stakeholders to update..."
The puzzle `1657-8629e708` from #1657 has to be resolved:

https://github.com/zerocracy/farm/blob/a07091e03268da4de09d8cb8b7aade9e12a26ad6/src/main/java/com/zerocracy/tk/TkBoard.java#L45-L49

The puzzle was created by @g4s8 on 20-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-03-21 04:36] 0crat commented on #1952
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-21 04:36] 0pdd opened #1953 "TkBoardTest.java:38-41: Board implementation was changed,..."
The puzzle `1657-7708bb25` from #1657 has to be resolved:

https://github.com/zerocracy/farm/blob/a07091e03268da4de09d8cb8b7aade9e12a26ad6/src/test/java/com/zerocracy/tk/TkBoardTest.java#L38-L41

The puzzle was created by Kirill on 20-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2019-03-21 04:36] 0pdd commented on #1333
@g4s8 2 puzzles [#1952](https://github.com/zerocracy/farm/issues/1952), [#1953](https://github.com/zerocracy/farm/issues/1953) are still not solved; solved: [#1657](https://github.com/zerocracy/farm/issues/1657).

[2019-03-21 04:36] 0pdd commented on #1657
@0pdd 2 puzzles [#1952](https://github.com/zerocracy/farm/issues/1952), [#1953](https://github.com/zerocracy/farm/issues/1953) are still not solved.

[2019-03-21 04:36] 0pdd commented on #930
@yegor256 the only puzzle [#1687](https://github.com/zerocracy/farm/issues/1687) is solved here.

[2019-03-21 04:36] 0crat commented on #1953
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-21 04:46] 0crat commented on #1952
Job [#1952](https://github.com/zerocracy/farm/issues/1952) is now in scope, role is `DEV`

[2019-03-21 04:46] 0crat commented on #1953
Job [#1953](https://github.com/zerocracy/farm/issues/1953) is now in scope, role is `DEV`

[2019-03-21 04:52] 0crat commented on #1657
Job [#1657](https://github.com/zerocracy/farm/issues/1657) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-21 04:52] 0crat commented on #1657
Job was finished in 14 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-21 04:52] 0crat commented on #1687
Job `gh:zerocracy/farm#1687` is not assigned, can't get performer

[2019-03-21 04:54] 0crat commented on #1687
The job [#1687](https://github.com/zerocracy/farm/issues/1687) is now out of scope

[2019-03-21 04:59] 0crat commented on #1657
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-21 04:59] 0crat commented on #1657
The job [#1657](https://github.com/zerocracy/farm/issues/1657) is now out of scope

[2019-03-21 05:31] 0pdd opened #1954 "update_catalog_props.groovy:59-61: Right now we are..."
The puzzle `1952-ecca0a03` from #1952 has to be resolved:

https://github.com/zerocracy/farm/blob/963f965e6db88be706f4e33e354a50ad5c5416ec/src/main/groovy/com/zerocracy/stk/pmo/catalog/update_catalog_props.groovy#L59-L61

The puzzle was created by Kirill on 21-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2019-03-21 05:31] 0pdd commented on #1333
@g4s8 3 puzzles [#1952](https://github.com/zerocracy/farm/issues/1952), [#1953](https://github.com/zerocracy/farm/issues/1953), [#1954](https://github.com/zerocracy/farm/issues/1954) are still not solved; solved: [#1657](https://github.com/zerocracy/farm/issues/1657).

[2019-03-21 05:31] 0pdd commented on #1657
@0pdd 3 puzzles [#1952](https://github.com/zerocracy/farm/issues/1952), [#1953](https://github.com/zerocracy/farm/issues/1953), [#1954](https://github.com/zerocracy/farm/issues/1954) are still not solved.

[2019-03-21 05:31] 0pdd commented on #1952
@0pdd the puzzle [#1954](https://github.com/zerocracy/farm/issues/1954) is still not solved.

[2019-03-21 05:31] 0crat commented on #1954
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-21 05:31] g4s8 commented on #1952
@rultor release, tag=`0.45.1`

[2019-03-21 05:32] 0crat commented on #1954
Job [#1954](https://github.com/zerocracy/farm/issues/1954) is now in scope, role is `DEV`

[2019-03-21 05:32] rultor commented on #1952
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18365-475117463)

[2019-03-21 05:33] 0pdd commented on #1952
The puzzle `1657-8629e708` has disappeared from the source code, that's why I closed this issue.

[2019-03-21 05:33] #1952 closed

[2019-03-21 05:33] 0pdd commented on #1333
@g4s8 2 puzzles [#1953](https://github.com/zerocracy/farm/issues/1953), [#1954](https://github.com/zerocracy/farm/issues/1954) are still not solved; solved: [#1657](https://github.com/zerocracy/farm/issues/1657), [#1952](https://github.com/zerocracy/farm/issues/1952).

[2019-03-21 05:33] 0pdd commented on #1657
@0pdd 2 puzzles [#1953](https://github.com/zerocracy/farm/issues/1953), [#1954](https://github.com/zerocracy/farm/issues/1954) are still not solved; solved: [#1952](https://github.com/zerocracy/farm/issues/1952).

[2019-03-21 05:49] rultor commented on #1952
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18365-475117463) (took me 16min)

[2019-03-21 05:53] 0crat commented on #1952
Job `gh:zerocracy/farm#1952` is not assigned, can't get performer

[2019-03-21 05:55] 0crat commented on #1952
The job [#1952](https://github.com/zerocracy/farm/issues/1952) is now out of scope

[2019-03-21 06:18] g4s8 commented on #1952
@rultor release, tag=`0.45.2`

[2019-03-21 06:20] rultor commented on #1952
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18365-475123254)

[2019-03-21 06:44] rultor commented on #1952
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18365-475123254) (took me 23min)

[2019-03-21 07:00] g4s8 commented on #1952
@rultor release, tag=`0.45.3`

[2019-03-21 07:01] rultor commented on #1952
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18365-475129128)

[2019-03-21 07:21] rultor commented on #1952
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18365-475129128) (took me 18min)

[2019-03-21 11:17] g4s8 commented on #1952
@rultor release, tag=`0.45.4`

[2019-03-21 11:19] rultor commented on #1952
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18365-475191541)

[2019-03-21 11:39] rultor commented on #1952
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18365-475191541) (took me 19min)

[2019-03-21 12:45] g4s8 commented on #1952
@rultor release, tag=`0.45.5`

[2019-03-21 12:46] rultor commented on #1952
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18365-475214625)

[2019-03-21 13:05] rultor commented on #1952
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18365-475214625) (spent 18min)

[code]

[2019-03-21 13:05] g4s8 commented on #1952
@rultor release, tag=`0.45.5`

[2019-03-21 13:08] rultor commented on #1952
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18365-475220699)

[2019-03-21 13:25] rultor commented on #1952
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18365-475220699) (spent 17min)

[code]

[2019-03-21 13:31] g4s8 commented on #1952
@rultor release, tag=`0.45.5`

[2019-03-21 13:33] rultor commented on #1952
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18365-475229287)

[2019-03-21 13:49] rultor commented on #1952
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18365-475229287) (spent 15min)

[code]

[2019-03-21 14:00] g4s8 commented on #1952
@rultor release, tag=`0.45.5`

[2019-03-21 14:02] rultor commented on #1952
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18365-475239940)

[2019-03-21 14:18] rultor commented on #1952
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18365-475239940) (spent 15min)

[code]

[2019-03-21 15:49] g4s8 commented on #1952
@rultor release, tag=`0.45.5`

[2019-03-21 15:52] rultor commented on #1952
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18365-475286828)

[2019-03-21 16:15] rultor commented on #1952
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18365-475286828) (took me 19min)

[2019-03-22 05:08] g4s8 opened #1955 "Estimates are not updated on job delete"
When job removed from estimates, `total` value is not updated.

[2019-03-22 05:10] 0crat commented on #1955
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1955](https://github.com/zerocracy/farm/issues/1955), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-22 05:12] 0crat commented on #1955
Job `gh:zerocracy/farm#1955` already assigned to @g4s8, can't assign to @g4s8

[2019-03-22 05:14] 0crat commented on #1955
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-22 05:14] 0crat commented on #1955
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-22 05:14] 0crat commented on #1955
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-22 06:05] g4s8 commented on #1955
@rultor release, tag=`0.45.6`

[2019-03-22 06:06] rultor commented on #1955
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18374-475504919)

[2019-03-22 06:34] rultor commented on #1955
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18374-475504919) (took me 27min)

[2019-03-22 06:41] g4s8 commented on #1955
fixed

[2019-03-22 06:41] #1955 closed

[2019-03-22 06:44] yegor256 opened #1956 "Send PDF receipts to everybody who buys via Stripe"
Every time we get a new purchase via Stripe (RfP or project funding) we should create a simple PDF document, a receipt, and email the client (we know the email from Stripe). The receipt should just say that this amount of money was received for "software development services".

[2019-03-22 06:44] 0crat commented on #1956
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-22 06:57] 0crat commented on #1955
Job [#1955](https://github.com/zerocracy/farm/issues/1955) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-22 06:57] 0crat commented on #1955
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-22 07:01] 0crat commented on #1955
The job [#1955](https://github.com/zerocracy/farm/issues/1955) is now out of scope

[2019-03-22 07:03] 0crat commented on #1955
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-22 07:18] g4s8 commented on #1956
@yegor256 what should be the format of PDF and email?

[2019-03-22 07:51] yegor256 commented on #1956
@g4s8 let's just make it simple for now. We should use LaTeX, I believe (we have a class for that already), and the formatting we can improve later. In the receipt we should mention our business details: http://www.zerocracy.com/terms.html

[2019-03-22 11:40] g4s8 commented on #1950
@rultor release, tag=`0.45.7`

[2019-03-22 11:41] #1340 closed

[2019-03-22 11:43] rultor commented on #1950
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18376-475589090)

[2019-03-22 11:58] 0crat commented on #1956
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1956](https://github.com/zerocracy/farm/issues/1956), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-22 12:02] rultor commented on #1950
@g4s8 @ypshenychka Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18376-475589090) (spent 19min)

[code]

[2019-03-22 12:02] 0crat commented on #1956
Job `gh:zerocracy/farm#1956` already assigned to @g4s8, can't assign to @g4s8

[2019-03-22 12:04] 0crat commented on #1956
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-22 12:04] 0crat commented on #1340
Job [#1340](https://github.com/zerocracy/farm/issues/1340) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-22 12:05] 0crat commented on #1956
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-22 12:06] g4s8 commented on #1950
@rultor release, tag=`0.45.7`

[2019-03-22 12:08] rultor commented on #1950
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18376-475596248)

[2019-03-22 12:11] 0crat commented on #1340
The job [#1340](https://github.com/zerocracy/farm/issues/1340) is now out of scope

[2019-03-22 12:11] 0crat commented on #1340
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-22 12:29] rultor commented on #1950
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18376-475596248) (took me 18min)