[2018-04-11 07:54] amihaiemil commented on #916
@SilasReinagel I think that's a good idea, although hard to implement in the current architecture of it, I believe. Nevetheless, you can rename this Issue and edit its description, so the Policy gets updated here. Let's wait for Yegor (I am not an ARCH, I cannot accept the ticket).

[2018-04-11 12:31] yegor256 commented on #916
@SilasReinagel I explained the policy: https://github.com/zerocracy/zerocracy.github.io/commit/e52747d8cdedb55c07ed28c04bd5c62adbdcda5d

[2018-04-11 12:32] #916 closed

[2018-04-11 12:33] 0crat commented on #915
Job [#915](https://github.com/zerocracy/farm/issues/915) is now in scope, role is `DEV`

[2018-04-11 12:33] 0crat commented on #915
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-11 12:33] yegor256 commented on #915
@g4s8 good point. Let's check the both and refuse if SO is less than 512 and if GitHub followers is less than 32. Make sense?

[2018-04-11 12:35] yegor256 commented on #915
@g4s8 moreover, let's add reputation numbers to the message we send to `Notify all`. The recipients will immediately see the numbers and decide whether the user is worth talking to or not.

[2018-04-11 12:47] 0crat commented on #916
The job is not in WBS, won't close the order

[2018-04-11 12:49] g4s8 commented on #915
@yegor256 I think Github follower count is no such important as contribution activity and starred repos in profile. BTW only you have > 32 followers among people from https://www.0crat.com/team with reputation > 500 ;)

[2018-04-11 12:49] yegor256 opened #917 "rebills"
Let's implement them

[2018-04-11 13:40] driver733 opened #918 "Notify Team members about the new projects on the Board"
Let's give all team members an option to sign up for notifications (in Telegram or Slack) about the new projects posted on the "Board". The Telegram and Slack should have commands such as `new_projects_updates on` and `new_projects_updates off`.

[2018-04-11 13:40] 0crat commented on #918
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-11 13:40] 0crat commented on #918
@driver733[/z](https://www.0crat.com/u/driver733) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-11 14:43] g4s8 commented on #680
@yegor256 PR #884 was merged, can we close?

[2018-04-11 15:00] yegor256 commented on #917
it was started here: https://github.com/zerocracy/datum/issues/325

[2018-04-11 16:47] yegor256 opened #919 "We are not getting any pings anymore"
It seems that `Pings` are not sending anything to us. No pings since #884

[2018-04-11 16:47] yegor256 commented on #919
@0crat assign @g4s8

[2018-04-11 16:48] 0crat commented on #919
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-11 16:48] 0crat commented on #919
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-11 17:01] yegor256 commented on #919
@0crat assign @g4s8

[2018-04-11 17:03] 0crat commented on #919
@yegor256 The job [#919](https://github.com/zerocracy/farm/issues/919) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1011702004); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-04-11 17:03] 0crat commented on #919
@yegor256 Job `gh:zerocracy/farm#919` already assigned to @g4s8, can't assign to @g4s8

[2018-04-11 17:03] 0crat commented on #919
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-11 17:03] 0crat commented on #919
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-11 17:03] 0crat commented on #919
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-11 17:04] yegor256 commented on #919
@g4s8 this is rather urgent, since all elections are stopped now, nothing really happens :(

[2018-04-11 17:08] yegor256 commented on #919
@0crat boost 4x

[2018-04-11 17:08] 0crat commented on #919
@yegor256 Boost 4x was set for [#919](https://github.com/zerocracy/farm/issues/919)

[2018-04-11 17:08] 0crat commented on #919
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-11 17:10] g4s8 commented on #919
@yegor256 I see, I'm looking for solution

[2018-04-11 17:52] yegor256 commented on #915
@g4s8 let's start with reporting those numbers, just for information (SO reputation and GitHub followers) and see how it will help us?

[2018-04-11 17:55] yegor256 commented on #911
@carlosmiranda OK, let's add `inspection` element, which will include the name of the inspector.

[2018-04-11 17:55] yegor256 commented on #680
@g4s8 thanks!

[2018-04-11 17:55] #680 closed

[2018-04-11 18:00] g4s8 commented on #915
@yegor256 yes, I think we can start with it

[2018-04-11 18:00] yegor256 commented on #918
@driver733 we have this already. Once a new project gets into the board, everybody (who is over 256) get a notification.

[2018-04-11 18:11] 0crat commented on #680
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-11 18:11] 0crat commented on #680
The job [#680](https://github.com/zerocracy/farm/issues/680) is now out of scope

[2018-04-11 19:09] g4s8 commented on #716
@amihaiemil it was fixed in #907 PR , can we close?

[2018-04-11 19:17] #716 closed

[2018-04-11 19:18] amihaiemil commented on #716
@g4s8 thanks :)

[2018-04-11 19:33] 0crat commented on #716
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-11 19:33] 0crat commented on #716
The job [#716](https://github.com/zerocracy/farm/issues/716) is now out of scope

[2018-04-11 20:47] #918 closed

[2018-04-11 21:02] 0crat commented on #918
The job is not in WBS, won't close the order

[2018-04-12 01:12] #917 closed

[2018-04-12 01:28] 0crat commented on #917
The job is not in WBS, won't close the order

[2018-04-12 01:35] 0crat commented on #919
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-12 01:35] 0crat commented on #919
The job [#919](https://github.com/zerocracy/farm/issues/919) is now out of scope

[2018-04-12 01:38] 0crat commented on #733
The job [#733](https://github.com/zerocracy/farm/issues/733) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1020137751); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-04-12 02:37] 0crat commented on #703
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-12 03:36] 0crat commented on #715
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-12 06:27] 0crat commented on #747
The job [#747](https://github.com/zerocracy/farm/issues/747) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1020630816); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-04-12 06:27] g4s8 commented on #680
@ypshenychka fixed

[2018-04-12 06:30] g4s8 commented on #701
@0crat waiting #904 PR to merge

[2018-04-12 06:30] 0crat commented on #701
@g4s8 The impediment for [#701](https://github.com/zerocracy/farm/issues/701) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-12 06:38] g4s8 opened #921 "0crat ignores debt on new payment"
If 0crat has some debt to me (e.g. $5) which can't be sent because it's to small, and I'm receiving bigger payment (e.g. $30) 0crat will skips this $5 and just sends me $30. I think it should accumulate payments from debts and new payment and send them together as $35 payment.

[2018-04-12 06:38] 0crat commented on #921
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-12 07:18] carlosmiranda opened #922 "Rultor build is failing due to Jacoco coverage check."
Recent Rultor builds have been failing; see for example:

https://github.com/zerocracy/farm/issues/909#issuecomment-380346765
https://github.com/zerocracy/farm/pull/913#issuecomment-380439641

[code]

Might have had something to do with the change in https://github.com/zerocracy/farm/commit/e91aab5495eb23073217933325229a131303f343. Let's investigate and fix.

[2018-04-12 08:08] 0crat commented on #921
The job [#921](https://github.com/zerocracy/farm/issues/921) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1020815165); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-12 08:08] 0crat commented on #921
Job `gh:zerocracy/farm#921` already assigned to @yegor256, can't assign to @yegor256

[2018-04-12 08:08] 0crat commented on #921
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-12 08:09] 0crat commented on #921
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-12 08:32] amihaiemil commented on #633
@yegor256 Could you take this out of scope? I don't think it's applicable anymore.

[2018-04-12 09:19] amihaiemil commented on #600
@0crat waiting for review

[2018-04-12 09:19] 0crat commented on #600
@amihaiemil The impediment for [#600](https://github.com/zerocracy/farm/issues/600) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-12 12:36] 0crat commented on #723
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-12 14:31] rultor commented on #922
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14295-380825577)

[2018-04-12 14:37] #633 closed

[2018-04-12 14:44] llorllale commented on #888
@yegor256 It *did* happen but seems like I confused the url and I don't remember any more.

Closing.

[2018-04-12 14:44] #888 closed

[2018-04-12 14:47] yegor256 opened #924 "resign phantom users"
Let's regularly go through all roles in each project and check whether users are still in `people.xml`. If they are not, we should resign them automatically from all roles in the project and terminate their orders.

[2018-04-12 14:47] 0crat commented on #924
Job [#924](https://github.com/zerocracy/farm/issues/924) is now in scope, role is `DEV`

[2018-04-12 14:53] 0crat commented on #633
The job [#633](https://github.com/zerocracy/farm/issues/633) is now out of scope

[2018-04-12 15:00] 0crat commented on #888
The job is not in WBS, won't close the order

[2018-04-12 15:06] yegor256 commented on #914
@izrik you are right, fixed.

[2018-04-12 15:06] #914 closed

[2018-04-12 16:08] SilasReinagel commented on #910
@yegor256 The message is fine but the behavior is wrong.

From 0crat policy:

[code]

The ticket is closed, but 0crat has done treated it as done. This is a behavior flaw in 0crat. Closed ticket should result in payment and removal from Agenda.

[2018-04-13 05:28] izrik opened #926 "Assignments are broken: 0crat assigns more jobs than allowed by stated policy"
From [/u/izrik](https://www.0crat.com/u/izrik):

I am currently assigned 5 jobs, when the [policy states that the max should be 3](http://www.zerocracy.com/policy.html#3).I expected that the number of assigned jobs would not exceed the state policy. They are all `DEV` jobs, none are reviews, so the exception for code reviews doesn't factor into it (c.f. https://github.com/zerocracy/farm/issues/488

[2018-04-13 05:28] 0crat commented on #926
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-13 05:28] 0crat commented on #926
@izrik[/z](https://www.0crat.com/u/izrik) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-13 06:48] yegor256 commented on #926
@izrik can you how your agenda please? I need to understand in how many projects you have jobs.

[2018-04-13 06:48] 0crat commented on #926
Job [#926](https://github.com/zerocracy/farm/issues/926) is now in scope, role is `DEV`

[2018-04-13 06:48] 0crat commented on #926
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @izrik[/z](https://www.0crat.com/u/izrik)

[2018-04-13 06:49] yegor256 commented on #910
@SilasReinagel but Zerocrat explained that the closer of the ticket is not its author. And asked the author to reopen.

[2018-04-13 08:22] amihaiemil opened #927 "Still don't like PMO abstraction"
After looking around more, I still can't wrap my head around why we have the PMO Project.

The way I understand it PMO is zerocracy/farm itself, and in the codebase, PMO implements Project because we want ZC to be able to manage itself (e.g. be iterated together with the other Projects) and at the same time have access to configuration data/properties.

But why can't we separate this? It is really

[2018-04-13 11:01] amihaiemil opened #928 "_props.xml should not be part of the deployable"
From what I understood while studying the [Props pachage](https://github.com/zerocracy/farm/tree/91513b6161574d9c4cda293fa6123afa6d3b736f/src/main/java/com/zerocracy/farm/props), the ``_props.xml`` file, which holds the configuration for PMO, is part of the deployable.

Because of this, when [PropsItem] is loading it, it checks to see if junit ``Test.class`` is on the classpath and if so, it adds

[2018-04-13 11:01] 0crat commented on #928
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-13 12:48] yegor256 commented on #928
@amihaiemil are you suggesting that we should have that `testing` right inside of `_props.xml`?

[2018-04-13 12:52] amihaiemil commented on #928
@yegor256 no.

At startup, the app should load its ``_props.xml`` file and there should be 1 file/environment. There should be a system property, which the app reads at startup and knows which environment it is, to load the correct props file.

The idea is that the production code should not care about the environment, just the props should be different: point to a different S3 bucket, use differe

[2018-04-13 12:52] yegor256 commented on #927
@amihaiemil PMO has everything any other project has: claims, artifacts, synchronization, everything. How would you suggest to design it differently?

[2018-04-13 12:54] amihaiemil commented on #927
@yegor256 Yes, it does have all that, but it is zerocracy/farm itself, represented by zerocracy/farm in its code, it doesn't make sense. Don't you see the twist?

/farm works with Projects from Github. In the code, /farm represents itself as a Project, from which it extracts its own properties and configuration. That's how I understand it.

[2018-04-13 12:55] yegor256 commented on #928
@amihaiemil and we will have PayPal mocks, AWS mocks, Stripe mocks, right? :) They don't provide them. Blame them. We have that "if(testing)" exactly because the providers of libraries we use are not smart enough to create mock versions of them. Let's be more specific, where exactly you think we should make a fix?

[2018-04-13 12:56] yegor256 commented on #927
@amihaiemil I don't understand. The way it now seems clear to me. We have projects. One of them is PMO. That's all.

[2018-04-13 12:56] #927 closed

[2018-04-13 12:59] g4s8 opened #929 "Hiring message does not include project id to apply"
`Par` replaces project id with project title automatically, so a person can't see project id which he/she needs to apply (`apply <project-id> <rate>`).

[2018-04-13 12:59] 0crat commented on #929
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-13 13:04] amihaiemil commented on #927
@yegor256 It is not clear, because all the codebase is polluted with forks!

The only difference between PMO and another Project is that PMO has something all the others don't -- yet it implements the same interface and always has to be treated specifically. This alone, means it should not implement Project :(

[2018-04-13 13:11] amihaiemil commented on #928
@yegor256

Well, depends. You need mocks for the unit tests... then ``if(testing)`` might have to stay (otherwise, as you said, we have to implement mocks).

But what about integration testing? If you make a Test environment for 0crat, how will it know to load different S3, Paypal and Stripe coordinates depending on the environment? I suppose in a Test environment you will want to have real servic

[2018-04-13 13:12] 0crat commented on #927
The job is not in WBS, won't close the order

[2018-04-13 16:19] yegor256 opened #930 "show GitHub repo languages on the board"
Let's show them, fetching from GitHub. Let's show only top for.

[2018-04-13 16:24] 0crat commented on #930
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-13 16:57] yegor256 commented on #926
@izrik that's what I expected. You are a member of three projects. And you were elected for tasks there at the same time. The election mechanism didn't know that you have anything in the agenda and assigned too many to you. We need to add some mechanism of synchronization between projects... I'm not sure yet.

[2018-04-13 17:08] yegor256 opened #931 "Telegram doesn't work anymore"
To my knowledge, we didn't change anything in our code. But Telegram doesn't work anymore. Let's test and fix.

[2018-04-13 17:08] yegor256 commented on #931
@0crat assign @g4s8

[2018-04-13 17:08] yegor256 commented on #931
@0crat boost 4x

[2018-04-13 17:08] 0crat commented on #931
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-13 17:08] 0crat commented on #931
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-13 17:09] yegor256 commented on #931
@0crat assign @g4s8

[2018-04-13 17:09] 0crat commented on #931
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-13 17:09] 0crat commented on #931
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-13 17:16] 0crat commented on #931
@yegor256 Boost 4x was set for [#931](https://github.com/zerocracy/farm/issues/931)

[2018-04-13 17:16] g4s8 commented on #931
It may be related:
[code]

[2018-04-13 17:16] 0crat commented on #931
@yegor256 Current boost factor of [#931](https://github.com/zerocracy/farm/issues/931) is 4x, nothing changed

[2018-04-13 17:28] 0crat commented on #931
@yegor256 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-13 17:28] yegor256 commented on #931
@g4s8 I see this in logs:

[code]

[2018-04-13 17:28] 0crat commented on #931
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-13 17:29] 0crat commented on #931
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-13 17:30] 0crat commented on #931
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#931](https://github.com/zerocracy/farm/issues/931) is [in scope](http://www.zerocracy.com/policy.html#14) for 16min
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [10min](http://www.zerocracy.com/policy.html#8)
  * There is a monetary rewa

[2018-04-13 17:31] 0crat commented on #931
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-13 17:47] yegor256 commented on #929
@g4s8 fixed in f54b8bc5 thanks

[2018-04-13 17:47] #929 closed

[2018-04-13 18:03] 0crat commented on #929
The job is not in WBS, won't close the order

[2018-04-13 20:58] g4s8 commented on #931
@yegor256 should be fixed in #932

[2018-04-13 21:49] g4s8 opened #933 "ARC can't see project artifacts"
User with `ARC` role can assign new roles but can't view them (0crat shows 'only PO can do that'), same problem with all other links on project page (WBS, impediments, roles, etc) - these links are visible, but none of them can be viewed.

[2018-04-13 21:49] 0crat commented on #933
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-14 12:36] 0crat commented on #721
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-14 13:24] yegor256 commented on #931
@g4s8 I guess we need an integration test (which we had some time ago, but deleted)

[2018-04-14 13:27] g4s8 commented on #931
@yegor256 yes, I submitted a bug some time ago, it's in WBS now: https://github.com/zerocracy/farm/issues/528

[2018-04-14 13:31] yegor256 commented on #528
@0crat assign @g4s8

[2018-04-14 13:31] 0crat commented on #528
@yegor256 The job [#528](https://github.com/zerocracy/farm/issues/528) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1041331321); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-04-14 13:32] 0crat commented on #528
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-14 13:32] 0crat commented on #528
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-14 18:03] victornoel opened #935 "0crat resigned me twice instead of once and removed too much points"
See in yegor256/cactoos-http#9, 0crat resigned me twice and removed me 30 points twice.

I don't think that's supposed to happen, anyway to get 30 points back? :)

[2018-04-14 18:03] 0crat commented on #935
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-14 18:03] 0crat commented on #935
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-14 18:10] g4s8 commented on #703
@0crat waiting #905 PR to merge

[2018-04-14 18:13] g4s8 commented on #715
@0crat waiting #897 PR to merge

[2018-04-14 18:13] 0crat commented on #703
@g4s8 The impediment for [#703](https://github.com/zerocracy/farm/issues/703) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-14 18:13] 0crat commented on #715
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-14 18:13] 0crat commented on #703
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-14 18:15] 0crat commented on #715
@g4s8 The impediment for [#715](https://github.com/zerocracy/farm/issues/715) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-14 18:15] 0crat commented on #715
@g4s8 Job [#715](https://github.com/zerocracy/farm/issues/715) is already on hold

[2018-04-15 04:35] yegor256 commented on #931
@g4s8 oops, my bad, fixed: b64dbd6

[2018-04-15 04:35] #931 closed

[2018-04-15 04:35] 0crat commented on #931
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-15 06:14] yegor256 opened #936 "ExtTelegram reconnects"
[code]

[2018-04-15 06:24] #936 closed

[2018-04-15 06:40] 0crat commented on #936
The job is not in WBS, won't close the order

[2018-04-15 06:52] 0crat commented on #931
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-15 06:52] 0crat commented on #931
The job [#931](https://github.com/zerocracy/farm/issues/931) is now out of scope

[2018-04-15 08:02] g4s8 commented on #528
Added test in #934

[2018-04-15 08:02] #528 closed

[2018-04-15 12:13] ypshenychka commented on #931
@g4s8 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/zerocracy/farm/issues/931#issuecomment-381203025) by indicating an addressee in the beginning.

[2018-04-15 13:47] g4s8 commented on #528
@ypshenychka updated comment

[2018-04-15 13:48] g4s8 commented on #931
@ypshenychka done

[2018-04-15 18:24] ypshenychka commented on #931
@g4s8 Thanks

[2018-04-15 18:25] ypshenychka commented on #931
@g4s8 The quality of ticket will be bad as the job was closed without a soultion provided. Agree?

[2018-04-15 18:26] ypshenychka commented on #528
@g4s8 Thank you.

[2018-04-15 18:32] g4s8 commented on #931
@ypshenychka not in full, there were two different issues in this bug, I found only one (related to this stacktrace: https://github.com/zerocracy/farm/issues/931#issuecomment-381206154) and fixed it in #932 PR, then @yegor256 fixed another issue in commit b64dbd63932c56e208c962075aab92e2c7fbb8fa

[2018-04-15 18:50] ypshenychka commented on #931
@g4s8 OK, I see. Thanks for clarification.

[2018-04-15 18:50] ypshenychka commented on #931
@0crat quality acceptable

[2018-04-15 18:50] 0crat commented on #931
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-15 18:50] 0crat commented on #931
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-15 18:58] 0crat commented on #931
Order was finished, quality is "acceptable": +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-15 18:58] 0crat commented on #931
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-04-15 23:09] carlosmiranda commented on #435
@g4s8 PR #913 closed, can we close this now?

[2018-04-16 06:51] g4s8 commented on #435
@carlosmiranda thanks! Now I can switch to tmpfs back ;)

[2018-04-16 06:51] #435 closed

[2018-04-16 07:10] 0crat commented on #435
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-16 07:11] 0crat commented on #435
The job [#435](https://github.com/zerocracy/farm/issues/435) is now out of scope

[2018-04-16 08:22] Vatavuk opened #937 "0crat assigns reviewer to a hijacked PR"
0crat assigns a reviewer to a PR which is not created by a person who owns this job.
[Link](https://github.com/yegor256/cactoos/pull/767) to PR which is supposed to be solved by @flslkxtc for [issue ](https://github.com/yegor256/cactoos/issues/764).

[2018-04-16 08:29] ypshenychka commented on #435
@amihaiemil According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add details to registsred [impediment](https://github.com/zerocracy/farm/issues/435#issuecomment-370693095).

[2018-04-16 08:30] carlosmiranda commented on #435
@ypshenychka job has been refused by @amihaiemil and continued by me. Why does he have to provide details?

[2018-04-16 08:37] amihaiemil commented on #435
@ypshenychka updated my comment, I was waiting for clarifications

[2018-04-16 08:41] ypshenychka commented on #435
@carlosmiranda comment was written by @amihaiemil. You could ask him to make corrections prior to QA review.

[2018-04-16 08:41] ypshenychka commented on #435
@amihaiemil Thank you!

[2018-04-16 08:41] ypshenychka commented on #435
@0crat quality acceptable

[2018-04-16 08:49] 0crat commented on #435
Order was finished, quality is "acceptable": +30 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-04-16 08:49] 0crat commented on #435
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-04-16 15:07] g4s8 commented on #747
@t-izbassar what maven plugin did you mention here?

[2018-04-16 15:56] victornoel opened #938 "Zerocracy should handle gracefuly an unwanted resignation by delay"
The following situation happened:
 - User U got an issue assigned
 - U did the job and made a PR
 - the review took some time
 - U forgot to ask 0crat to wait
 - 0crat resigned U from the job after the 10 days delay

This situation will obviously arise more than once (for various reasons, in U's case, it was because he was busy and didn't see the time pass between the last warning and the deadline

[2018-04-16 15:56] 0crat commented on #938
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-16 15:56] 0crat commented on #938
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-16 16:15] yegor256 commented on #928
@amihaiemil give a more specific suggestion. Now you are just saying that design is not perfect. Be more specific. What exactly should be done?

[2018-04-16 16:31] g4s8 commented on #938
@victornoel @yegor256 maybe we should notify in Telegram/Slack about these jobs (assigned more than 5 days), not only in Github?

[2018-04-17 01:36] 0crat commented on #725
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-17 02:36] 0crat commented on #733
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-17 05:56] carlosmiranda commented on #900
@g4s8 fixed in #912, can we close this now?

[2018-04-17 06:13] amihaiemil commented on #928
@yegor256 well, let's start with the really basics: the check for ``org/junit/Test.class`` is not cool at all; what if we run tests with some other engine or we upgrade the JUnit version and it changes the name of that class. Can find a more elegant solution for deciding if we are in "test mode"?

[2018-04-17 06:36] 0crat commented on #747
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-17 06:50] victornoel commented on #938
@g4s8 IMHO, the point of having a bot is to reduce noise, efforts and overhead. We already have lots of emails, and I think that if we add to that messages in the chat, there is even more chances that they will be ignored (like I did).

The solution should at the same time avoid any effort/noise/overhead when things go well, and limit efforts when things go wrong.

That's a major problem in IA (fa

[2018-04-17 08:43] yegor256 opened #939 "Viber radar"
Let's implement Viber radar, similar to what we have for Telegram. https://developers.viber.com/docs/api/rest-bot-api/

[2018-04-17 08:44] yegor256 commented on #939
@0crat assign @carlosmiranda

[2018-04-17 08:45] 0crat commented on #939
@yegor256 The job [#939](https://github.com/zerocracy/farm/issues/939) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1070882254); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2018-04-17 08:45] 0crat commented on #939
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-17 08:45] 0crat commented on #939
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-17 09:43] 0crat commented on #935
The job [#935](https://github.com/zerocracy/farm/issues/935) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1070983260); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-17 09:44] 0crat commented on #935
Job `gh:zerocracy/farm#935` already assigned to @yegor256, can't assign to @yegor256

[2018-04-17 09:44] 0crat commented on #935
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-04-17 09:44] 0crat commented on #935
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-17 09:58] yegor256 commented on #935
@victornoel I believe it's fixed

[2018-04-17 09:58] yegor256 commented on #935
@0crat status

[2018-04-17 10:05] victornoel commented on #935
@yegor256 ok, since I have no way to verify I will just close this

[2018-04-17 10:05] #935 closed

[2018-04-17 10:08] 0crat commented on #935
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#935](https://github.com/zerocracy/farm/issues/935) is [in scope](http://www.zerocracy.com/policy.html#14) for 24min
  * The role is `DEV`
  * The job is assigned to @yegor256[/z](https://www.0crat.com/u/yegor256) for [24min](http://www.zerocracy.com/policy.html#8)
  * There is no mone

[2018-04-17 11:47] ypshenychka commented on #528
@yegor256 ping

[2018-04-17 12:01] 0crat commented on #933
The job [#933](https://github.com/zerocracy/farm/issues/933) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1071159468); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-17 12:03] 0crat commented on #933
Job `gh:zerocracy/farm#933` already assigned to @yegor256, can't assign to @yegor256

[2018-04-17 12:03] 0crat commented on #933
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-17 12:50] yegor256 commented on #933
@g4s8 I believe it's fixed, please check

[2018-04-17 13:25] 0crat commented on #900
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-17 13:25] 0crat commented on #900
The job [#900](https://github.com/zerocracy/farm/issues/900) is now out of scope

[2018-04-17 13:32] t-izbassar commented on #747
@g4s8 you can pick [from maven Integration](http://docs.groovy-lang.org/latest/html/documentation/tools-groovyc.html#_maven_integration) section of the docs. Probably I would choose eclipse option as we have cross java and groovy files.

[2018-04-17 13:39] g4s8 commented on #747
@t-izbassar thanks

[2018-04-17 14:02] ypshenychka commented on #900
@0crat quality good

[2018-04-17 14:05] 0crat commented on #900
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-04-17 14:05] 0crat commented on #900
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-04-17 15:50] yegor256 commented on #528
@ypshenychka what? :)

[2018-04-17 15:50] yegor256 commented on #528
@0crat status

[2018-04-17 15:50] 0crat commented on #528
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#528](https://github.com/zerocracy/farm/issues/528) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 2days
  * @g4s8[/z](https://www.0crat.com/u/g4s8) will receive 30 minutes after quality review
  * Job [footpri

[2018-04-17 16:08] ypshenychka commented on #528
@yegor256 Please consider my [remark](https://github.com/zerocracy/farm/issues/528#issuecomment-381402104).

[2018-04-17 18:42] amihaiemil opened #940 "Tweet is missing Github repo link"
Currently, 0crat is tweeting about projects which are in need of developers: https://twitter.com/0crat/status/986312456334176257

The tweet should contain the Github repo link, rather than the 0crat.com one, because it is not accessible to those who are not members, even if we are logged in. I am logged in and get the orange banner: "You are not a member of C3T46CUJJ"

[2018-04-17 18:42] 0crat commented on #940
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-17 18:52] paulodamaso opened #941 "Problem in zerocrat telegram chat"
Zerocrat asked to make this bug report here:

There is an unrecoverable failure on my side. Please, submit it here (https://github.com/zerocracy/farm/issues):

PID: 4@3240236f-eb34-475e-b7b0-614f79eff8ee, thread: zerocrat_bot Telegram Executor
com.zerocracy.radars.Question[143] java.lang.IllegalStateException: The question doesn't match, you can call invited().

[2018-04-17 18:52] 0crat commented on #941
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-17 18:52] 0crat commented on #941
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-18 04:08] krzyk commented on #941
Same issue for me, I can't apply to any project because of this.

[2018-04-18 04:46] yegor256 opened #942 "TelegramApiRequestException: Error sending message: [400] Bad Request: can't parse entities: Can't find end of the entity"
[code]

It seems that we have to preprocess/filter the text somehow, before sending it to Telegram API.

This was the message:

[code]

It seems that it chokes on the underscore.

[2018-04-18 04:47] 0crat commented on #942
Job [#942](https://github.com/zerocracy/farm/issues/942) is now in scope, role is `DEV`

[2018-04-18 04:47] 0crat commented on #942
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-18 08:31] g4s8 opened #943 "Master is broken (Qulice)"
Master branch can't pass Qulice validation because of error:
[code]

[2018-04-18 08:31] 0crat commented on #943
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-18 08:48] g4s8 commented on #721
@0crat refuse

[2018-04-18 08:48] 0crat commented on #721
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#721](https://github.com/zerocracy/farm/issues/721), please stop working. Reason for job resignation: Order was cancelled

[2018-04-18 08:49] 0crat commented on #721
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-18 09:09] t-izbassar opened #944 "Get rid of mentorship"
I believe having mentors in ZC is a bug as it is completely contradicts with the idea of ZC and here is why:

- All participants of ZC projects should rely only on written policies. But if you have a mentor you can ask for help **directly**.
- If you have an issue with the project you should create bug. That's the philosophy in ZC projects. But with mentors you can just ask directly and resolve is

[2018-04-18 09:09] 0crat commented on #944
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-18 11:31] yegor256 commented on #943
@g4s8 hm... that's an encoding problem, since it's not broken on my machine.

[2018-04-18 11:31] yegor256 commented on #943
@rultor deploy

[2018-04-18 11:31] rultor commented on #943
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14324-382355734)

[2018-04-18 11:31] yegor256 commented on #528
@ypshenychka oh, yes, I missed it. I agree, my bad.

[2018-04-18 11:36] yegor256 commented on #928
@amihaiemil that's the best I found. Do you have any other ideas?

[2018-04-18 11:41] rultor commented on #943
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14324-382355734) (spent 10min)

[code]

[2018-04-18 11:43] yegor256 commented on #943
@rultor deploy

[2018-04-18 11:45] 0crat commented on #940
The job [#940](https://github.com/zerocracy/farm/issues/940) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1081157200); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-18 11:46] 0crat commented on #940
Job `gh:zerocracy/farm#940` already assigned to @yegor256, can't assign to @yegor256

[2018-04-18 11:46] 0crat commented on #940
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-18 11:46] 0crat commented on #940
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-18 12:01] rultor commented on #943
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14324-382358366)

[2018-04-18 12:12] rultor commented on #943
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14324-382358366) (took me 10min)

[2018-04-18 12:35] yegor256 commented on #940
@amihaiemil it's fixed, now you can see the project, even if being a non-member. But only if it's published on the board.

[2018-04-18 12:35] #940 closed

[2018-04-18 12:38] 0crat commented on #941
The job [#941](https://github.com/zerocracy/farm/issues/941) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1081237998); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-18 12:38] 0crat commented on #941
Job `gh:zerocracy/farm#941` already assigned to @yegor256, can't assign to @yegor256

[2018-04-18 12:38] 0crat commented on #941
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-04-18 12:38] 0crat commented on #941
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-18 12:46] yegor256 commented on #941
@paulodamaso I believe it's fixed, please confirm and close.

[2018-04-18 12:52] ypshenychka commented on #528
@yegor256 Thank you.

[2018-04-18 12:52] 0crat commented on #940
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-18 12:52] 0crat commented on #940
The job [#940](https://github.com/zerocracy/farm/issues/940) is now out of scope

[2018-04-18 12:52] ypshenychka commented on #528
@0crat quality acceptable

[2018-04-18 12:54] 0crat commented on #528
Order was finished, quality is "acceptable": +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-18 12:54] 0crat commented on #528
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-04-18 13:07] yegor256 commented on #938
@victornoel I'm sure we had a similar question before, can't find it. There is not really a solution. We can't break the rule we have: 0/100. We can't take into account anything that is happening inside a ticket. It's either complete or not. What exactly do you suggest?

[2018-04-18 13:10] yegor256 commented on #944
@t-izbassar well, everything you said do make sense, but we can't be fully automated. New people, when they join, have no idea how it all works. Someone has to on-board them. Who will it be?

[2018-04-18 13:30] victornoel commented on #938
@yegor256 I agree with you, but I'm not talking about changing the rules. My point is  that any automated action by a bot will eventually lead to an unwanted (for everyone) situation.

My suggestion is that the system could take this into account so that when it happens, it's not a big problem for the people involved.
One idea I proposed in the description of the issue is to have a way, for a subs

[2018-04-18 13:37] t-izbassar commented on #944
@yegor256 I think

This is wrong assumption. There should be some getting started guide or documentation that is so clear, that new guy know what to do straight away. We will discover issues in our documentation if we won't have mentors. Right now all of the questions that new guys have are hidden in some private conversations between students and mentors (probably) and that's why probably we have

[2018-04-18 13:45] yegor256 commented on #938
@victornoel

I don't understand. Please, be more specific. What exactly should be done?

[2018-04-18 13:46] yegor256 commented on #944
@t-izbassar we will think about it

[2018-04-18 14:54] krzyk opened #945 "setting rate with currency is broken"
1. `/rate` command description should mention the format of the rate including all the supported currencies, right now it only gives example in dollars, which is `rate $25`, but according to http://www.zerocracy.com/policy.html#16 it is possible to use EUR, GPB and JPY.

Using just `/rate` should give an explanation like:
[code]

2. `/rate` should support also providing the rate without using the

[2018-04-18 14:54] 0crat commented on #945
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-18 14:54] 0crat commented on #945
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-18 16:00] skapral opened #946 "Documentation issue in Stripe class"
https://github.com/zerocracy/farm/blob/61145b72632a429902d4be52be124c4ee79e7a16/src/main/java/com/zerocracy/pmo/recharge/Stripe.java#L60-L70

Isn't it wrong method description?

[2018-04-18 16:00] 0crat commented on #946
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-18 16:00] 0crat commented on #946
@skapral[/z](https://www.0crat.com/u/skapral) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-19 04:59] izrik opened #947 "0crat messages are broken: when quitting a project, messages from 0crat contradict stated policy"
I resigned from a project by telling 0crat `quit <project id>` in Telegram. He responded by saying that I was no longer in the project and that I was resigned from the two tasks in the project that I had been assigned. In particular, he said "please stop working". However, this directly contradicts the [policy page, section 35](http://www.zerocracy.com/policy.html#35), where it says "You can alway

[2018-04-19 04:59] 0crat commented on #947
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-19 04:59] 0crat commented on #947
@izrik[/z](https://www.0crat.com/u/izrik) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-19 06:38] carlosmiranda commented on #889
@yegor256 also see PR #948.

[2018-04-19 12:15] g4s8 commented on #943
@yegor256 Rultor failed to merge 2 PRs with this error:
https://github.com/zerocracy/farm/pull/897#issuecomment-382361942
and
https://github.com/zerocracy/farm/pull/881#issuecomment-381972230
looks like it started to fail after c8286fa364af2e5673ecf41cd7beab57eb9fb4f3 commit.

[2018-04-19 14:32] yegor256 commented on #943
@g4s8 I guess it's fixed, thanks

[2018-04-19 14:32] #943 closed

[2018-04-19 14:47] 0crat commented on #943
The job is not in WBS, won't close the order

[2018-04-20 07:55] krzyk opened #950 "Task assignement in case of vacation (or end of emplyment) is broken"
When a given developer resigns from zerocracy, or goes on vacation his/hers:
- PRs should be invalidated (out made out of scope) and closed
- issues that he/her were working on should be reassigned to someone else

Right now I have a problem in cactoos#728 (developer is on vacation) and cactoos#702 (developer is no longer in the project) where it was not handled this way and those PRs will hang un

[2018-04-20 07:55] 0crat commented on #950
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-20 07:55] 0crat commented on #950
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-20 08:11] krzyk opened #951 "It is unclear what grayed out means in the team page"
On the team page (https://www.0crat.com/team) some of the team members are grayed out.
I can only assume it means they are on vacation, right?
If yes then it should be clearly marked as such:

Add a hover over when mouse moves over a given users row and show: `@someone is on vacation since 2018-01-01`.

[2018-04-20 08:11] 0crat commented on #951
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-20 08:11] 0crat commented on #951
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-20 08:56] yegor256 commented on #951
@krzyk fixed in 3d69dd8faa1bb1a36fd3ded8d3b448d0d02ed253 thanks

[2018-04-20 08:56] #951 closed

[2018-04-20 09:12] 0crat commented on #951
The job is not in WBS, won't close the order

[2018-04-20 10:11] g4s8 opened #952 "Java time API usage is not documented"
We are mixing different time API in code: old `java.util.Date` and new `java.time.*`. There are not any rules about this usage, in many situation any API can be used. I think we should use only one of them and specify it in README.

[2018-04-20 10:11] 0crat commented on #952
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-20 11:37] krzyk opened #954 "0crat status response has wrong budget for reviews"
Code review tasks have 15 minute budget (according to the [§27](http://www.zerocracy.com/policy.html#27)) and 0crat should indicate that in the `status` response.

Right now when I asked `status` I got a [response](https://github.com/yegor256/cactoos-http/pull/30#issuecomment-383063298) with budget information of 30 minutes/points:
[code]
It inco

[2018-04-20 11:37] 0crat commented on #954
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-20 11:37] 0crat commented on #954
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-20 14:06] 0crat commented on #954
The job [#954](https://github.com/zerocracy/farm/issues/954) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1101414590); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-20 14:06] 0crat commented on #954
Job `gh:zerocracy/farm#954` already assigned to @yegor256, can't assign to @yegor256

[2018-04-20 14:06] 0crat commented on #954
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-20 14:06] 0crat commented on #954
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-20 14:38] artem-p opened #955 "Public and private projects"
Seems like projects in Zerocracy can be public or private. There is no mention of it in the Policy. For example, it is evident that Takes project manages by Zerocracy, but I don't see it on my board. I would like to know exactly that private projects exists, why I don't see them on my board, what should I do to apply to them etc.

[2018-04-20 14:38] 0crat commented on #955
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-20 14:38] 0crat commented on #955
@artem-p[/z](https://www.0crat.com/u/artem-p) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-20 14:38] 0crat commented on #954
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-20 14:39] 0crat commented on #954
The job [#954](https://github.com/zerocracy/farm/issues/954) is now out of scope

[2018-04-20 14:41] 0pdd opened #956 "TkJoin.java:40-43: We should allow user to send `/join`..."
The puzzle `653-b9d34fcf` from #653 has to be resolved:

https://github.com/zerocracy/farm/blob/2d5997a5340b9cd38d032b590a21a9892a574789/src/main/java/com/zerocracy/tk/TkJoin.java#L40-L43

The puzzle was created by g4s8 on 01-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed an

[2018-04-20 14:41] 0pdd commented on #653
@amihaiemil the puzzle [#956](https://github.com/zerocracy/farm/issues/956) is still not solved.

[2018-04-20 14:41] 0crat commented on #956
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-20 14:41] 0crat commented on #956
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-20 14:42] 0crat commented on #956
Job [#956](https://github.com/zerocracy/farm/issues/956) is now in scope, role is `DEV`

[2018-04-20 14:53] victornoel opened #957 "0crat should ignore separator characters such as commas or dots"
In github, if you say to 0crat: `@0crat refuse, blabla`, 0crat tries to understand the `refuse,` command instead of `refuse`.

I suppose the same happens for any command and also for other separator characters.

[2018-04-20 14:53] 0crat commented on #957
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-20 14:53] 0crat commented on #957
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-20 15:30] VsSekorin opened #958 "Notification of job was assigned 5 days ago"
I did not get notification of new task from 0crat bot when this task was assigned to me. If it has been more than 5 days, 0crat should send a re-notification. Since usually this means some problems.

[2018-04-20 15:30] 0crat commented on #958
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-20 15:30] 0crat commented on #958
@vssekorin[/z](https://www.0crat.com/u/vssekorin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-20 16:53] paulodamaso commented on #941
Fixed.

[2018-04-20 16:53] #941 closed

[2018-04-20 16:54] 0crat commented on #941
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-20 16:56] paulodamaso opened #959 "Issue closing #941"
Zerocrat notified an error when I closed #941

PID: 4@9c0ff7e3-e0b9-4bc8-930d-80f60a6be371, thread: BkParallel-7
com.mongodb.connection.InternalStreamConnection[457] com.mongodb.MongoSocketReadTimeoutException: Timeout while receiving message
java.net.SocketInputStream[-2] java.net.SocketTimeoutException: Read timed out

[2018-04-20 16:56] 0crat commented on #959
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-20 16:56] 0crat commented on #959
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-20 17:09] artem-p commented on #944
Maybe introduce kind of forum where newcomers can ask questions? Mentors can act as moderators of this forum. The information will remain on the forum. I guess newcomers basically have the same questions and they can easily find answers on the forum.

[2018-04-20 17:10] 0crat commented on #941
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-20 17:10] 0crat commented on #941
The job [#941](https://github.com/zerocracy/farm/issues/941) is now out of scope

[2018-04-20 17:13] paulodamaso opened #960 "Documentation issue of zerocrat telegram and github commands"
Couldn't find comprehensive documentation about telegram and github commands; maybe you should have a help page in https://www.0crat.com/

[2018-04-20 17:13] 0crat commented on #960
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-20 17:13] 0crat commented on #960
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-20 18:09] 0crat commented on #941
The job is not in WBS, won't close the order

[2018-04-20 20:37] krzyk commented on #950
@yegor256 OK, I get it. So maybe we have a different case here.
What in case if given person stops being responsive? E.g. in https://github.com/yegor256/cactoos/pull/710 the last response was 2 months ago and the PR review was reassigned to new reviewer few times. Wouldn't it be better to just close it?

And what about the other case - vacations?

[2018-04-21 11:22] victornoel opened #961 "Give back lost points due to a 0crat bug"
Because of #935 I lost 30 points when I shouldn't have, I would like them to be given back.

[2018-04-22 10:37] 0crat commented on #939
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-22 23:09] carlosmiranda commented on #939
@0crat wait , currently busy on other tasks

[2018-04-22 23:10] 0crat commented on #939
@carlosmiranda The impediment for [#939](https://github.com/zerocracy/farm/issues/939) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-04-23 05:46] g4s8 commented on #747
@0crat waiting #949 PR to merge

[2018-04-23 05:47] 0crat commented on #747
@g4s8 The impediment for [#747](https://github.com/zerocracy/farm/issues/747) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-23 06:55] elf70srs78 opened #962 "Google"
Make sure the title of the issue explains the problem you are having. Also, the description of the issue must clearly explain what is broken, not what you want us to implement. Go through this checklist and make sure you answer "YES" to all points:

  - You have all pre-requisites listed in README.md installed
  - You are sure that you are not reporting a duplicate (search all issues)
  - You say

[2018-04-23 06:55] 0crat commented on #962
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-23 06:55] 0crat commented on #962
@elf70srs78[/z](https://www.0crat.com/u/elf70srs78) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-23 06:59] #962 closed

[2018-04-23 07:15] 0crat commented on #962
The job is not in WBS, won't close the order

[2018-04-23 08:35] g4s8 commented on #813
@0crat status

[2018-04-23 08:35] 0crat commented on #813
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#813](https://github.com/zerocracy/farm/issues/813) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * Job [footprint](https://www.0crat.com/

[2018-04-23 08:38] g4s8 commented on #813
@yegor256 can you assign this job to someone? It's blocking another job: #575

[2018-04-23 09:16] yegor256 commented on #813
@0crat assign @carlosmiranda

[2018-04-23 09:34] #476 closed

[2018-04-23 09:34] 0pdd commented on #476
The puzzle `297-8a8d277c` has disappeared from the source code, that's why I closed this issue.

[2018-04-23 09:34] 0pdd opened #963 "SyncFarmTest.java:124-127: Method freeze should wait for..."
The puzzle `476-cbedeee7` from #476 has to be resolved:

https://github.com/zerocracy/farm/blob/d519e8dae3a2d8add27ea861b94739d17d387d22/src/test/java/com/zerocracy/farm/sync/SyncFarmTest.java#L124-L127

The puzzle was created by g4s8 on 23-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-04-23 09:34] 0pdd commented on #297
@yegor256 the puzzle [#963](https://github.com/zerocracy/farm/issues/963) is still not solved; solved: [#476](https://github.com/zerocracy/farm/issues/476), [#477](https://github.com/zerocracy/farm/issues/477).

[2018-04-23 09:34] 0pdd commented on #476
@0pdd the puzzle [#963](https://github.com/zerocracy/farm/issues/963) is still not solved.

[2018-04-23 09:34] 0crat commented on #963
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-23 09:34] 0crat commented on #963
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-23 09:35] 0crat commented on #963
Job [#963](https://github.com/zerocracy/farm/issues/963) is now in scope, role is `DEV`

[2018-04-23 09:50] 0crat commented on #476
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-23 09:50] 0crat commented on #476
The job [#476](https://github.com/zerocracy/farm/issues/476) is now out of scope

[2018-04-23 14:58] ypshenychka commented on #476
@g4s8 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add details to the registered [impediment](https://github.com/zerocracy/farm/issues/476#issuecomment-368330970).

[2018-04-23 18:23] g4s8 opened #964 "Estimates are not recalculated after rate change"
If user was added to a project with zero rate, then some task was assigned to him and then his rate was changed, estimate for this task will not be updated. I think it's not clear for user and estimate should be updated when rate changed.

[2018-04-23 18:43] g4s8 commented on #476
@ypshenychka done, please check

[2018-04-23 20:37] yegor256 commented on #964
@g4s8 this by design. We don't update estimates of previous tasks, see: https://github.com/zerocracy/zerocracy.github.io/commit/aed86af7c04a0c6bd58498b71af30b34b6b1082b

[2018-04-23 20:37] #964 closed

[2018-04-23 20:52] 0crat commented on #964
The job is not in WBS, won't close the order

[2018-04-24 02:01] carlosmiranda commented on #813
@amihaiemil @yegor256 @g4s8 see PR #965.

[2018-04-24 02:01] carlosmiranda commented on #813
@0crat wait for merge of PR #965.

[2018-04-24 02:02] 0crat commented on #813
@carlosmiranda The impediment for [#813](https://github.com/zerocracy/farm/issues/813) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-04-24 05:09] krzyk commented on #945
@yegor256 This would also help in the future if you would introduce new currencies, not all of them have a single char symbol, but all of them have an three letter code (ISO 4217).

[2018-04-24 05:58] ypshenychka commented on #476
@g4s8 Thanks!

[2018-04-24 05:58] ypshenychka commented on #476
@0crat quality acceptable

[2018-04-24 06:00] 0crat commented on #476
Order was finished, quality is "acceptable": +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-24 06:00] 0crat commented on #476
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-04-24 08:00] amihaiemil commented on #928
@yegor256 The best idea would be if the projects had at least 2 props files:

[code]

At start-time, the app reads the ``env`` evironmental variable or system property, to know in which evironment it's running, thus loading the appropriate props file. Then, inside the code:

1. you wouldn't have to look for ``Test.class`` anymore (``_props_test.xml`` would have the ``test: true`` property)

2. pro

[2018-04-24 08:42] 0crat commented on #945
The job [#945](https://github.com/zerocracy/farm/issues/945) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1140844398); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-24 08:43] 0crat commented on #945
Job `gh:zerocracy/farm#945` already assigned to @yegor256, can't assign to @yegor256

[2018-04-24 08:44] 0crat commented on #945
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-24 08:44] 0crat commented on #945
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-24 15:04] krzyk opened #966 "0crat throws exception when closing issue"
When I closed issue https://github.com/yegor256/cactoos/issues/780#issuecomment-383936784 0crat responded with following:

[code]

It should not do something like that, even when the issue reported closed the issue.

[2018-04-24 15:04] 0crat commented on #966
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-24 15:04] 0crat commented on #966
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-25 08:18] amihaiemil opened #967 "Ledger should be able to work without a Project"
Currently [Ledger](https://github.com/zerocracy/farm/blob/75dd306ccac34da7168d0f31559ced097d06fda1/src/main/java/com/zerocracy/pm/cost/Ledger.java) is a class with no interface, it cannot have multiple implementations. However, I noticed at least [here](https://github.com/zerocracy/farm/blob/d06f16c3ef055e3dd5827fb4f044d7083f745d53/src/main/resources/com/zerocracy/stk/pmo/debts/pay_all_debts.groov

[2018-04-26 08:41] krzyk opened #968 "Voting mechanism is broken"
Voting mechanism somehow elected one person too many times for REV role in PRs in sandbox project.
cactoos project:
[9 reviews assigned to @SharplEr](https://github.com/yegor256/cactoos/search?utf8=%E2%9C%93&q=%22assigned+to+%40SharplEr%2Fz%22+and+is%3Aopen+and+is%3Apr&type=Issues)
A total of [12 reviews available](https://github.com/yegor256/cactoos-http/search?utf8=%E2%9C%93&q=%22assigned+to%22+

[2018-04-26 08:41] 0crat commented on #968
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-26 08:41] 0crat commented on #968
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-26 10:57] amihaiemil opened #969 "Unable to execute HTTP request in make_payment.groovy"
0crat responded with an unrecoverable failure when trying to make the payment for a closed issue, see [here](https://github.com/sunsofterp/portal/issues/8#issuecomment-384597406). The payment worked after all, I guess at the second trial.

[2018-04-26 10:58] 0crat commented on #969
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-26 13:17] yegor256 commented on #969
@amihaiemil it's a temporary issue, can't fix it anyhow. We are trying a few times and if we fail, we put the amount to the list to debts. The programmer won't lose anyway.

[2018-04-26 13:17] #969 closed

[2018-04-26 13:33] 0crat commented on #969
The job is not in WBS, won't close the order

[2018-04-26 13:37] 0pdd opened #970 "Vacancies.java:33-35: Vacancies are not rendered on..."
The puzzle `925-41a80871` from #925 has to be resolved:

https://github.com/zerocracy/farm/blob/44aaf55dc2eddc61638df23b86faa1367017c5ef/src/main/java/com/zerocracy/pmo/Vacancies.java#L33-L35

The puzzle was created by rultor on 26-Apr-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the

[2018-04-26 13:37] 0crat commented on #970
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-26 13:37] 0crat commented on #970
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-26 13:37] 0crat commented on #970
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-26 13:37] 0pdd opened #971 "Vacancies.java:36-38: Old vacancies are not removed..."
The puzzle `925-74129afd` from #925 has to be resolved:

https://github.com/zerocracy/farm/blob/44aaf55dc2eddc61638df23b86faa1367017c5ef/src/main/java/com/zerocracy/pmo/Vacancies.java#L36-L38

The puzzle was created by rultor on 26-Apr-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the

[2018-04-26 13:37] 0crat commented on #971
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-26 13:37] 0crat commented on #971
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-26 13:38] 0crat commented on #971
Job [#971](https://github.com/zerocracy/farm/issues/971) is now in scope, role is `DEV`

[2018-04-26 13:40] 0crat commented on #970
The job [#970](https://github.com/zerocracy/farm/issues/970) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1161362867); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-04-26 13:42] 0crat commented on #412
The job [#412](https://github.com/zerocracy/farm/issues/412) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1161363924); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-04-26 13:45] krzyk commented on #968
@yegor256 It is hard to tell if one specific review assignement is a mistake.
Problem is that I don't know who can review in cactoos. If SharplEr is the only reviewer not on vacation that would make sense, but if there is at least one more person then it looks like a bug because each new review is assigned to him for the last 6 days I think.

[2018-04-26 13:56] amihaiemil commented on #600
@g4s8 PR #923 was merged, can we close this?

[2018-04-26 19:40] g4s8 commented on #600
@amihaiemil yes, thanks

[2018-04-26 19:40] #600 closed

[2018-04-26 19:55] SilasReinagel opened #972 "Completion Speed Should Not Be Impacted By Impediment Time"
This is a major flaw that greatly impacts all developer motivation and perception of the fairness of Zerocracy.

On this page these is a speed counter per person: https://www.0crat.com/team
Per the policy, there is a bonus for completing tasks quickly: http://www.zerocracy.com/policy.html#36

**Scenario 1**
Presently, when DEV complete the work and submits a PR, there is often a lot of time when t

[2018-04-26 19:55] 0crat commented on #972
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-26 19:55] 0crat commented on #972
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-26 19:56] 0crat commented on #600
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-26 19:56] 0crat commented on #600
The job [#600](https://github.com/zerocracy/farm/issues/600) is now out of scope

[2018-04-27 07:29] g4s8 commented on #725
@0crat refuse

[2018-04-27 07:29] g4s8 commented on #733
@0crat refuse

[2018-04-27 07:30] 0crat commented on #733
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#733](https://github.com/zerocracy/farm/issues/733), please stop working. Reason for job resignation: Order was cancelled

[2018-04-27 07:30] 0crat commented on #725
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#725](https://github.com/zerocracy/farm/issues/725), please stop working. Reason for job resignation: Order was cancelled

[2018-04-27 07:30] 0crat commented on #733
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-27 07:30] 0crat commented on #725
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-27 07:32] 0crat commented on #754
The job [#754](https://github.com/zerocracy/farm/issues/754) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1170740819); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-04-27 12:55] paulodamaso opened #973 "0crat allows assignment of DEV to issue with active PR"
0crat allows assignment of DEV to issue with active PR. It happened in https://github.com/yegor256/cactoos/issues/747 : 0crat assigned an issue which had already an opened PR to another DEV.

There are some suggestions to avoid / correct this problem:
- 0crat should block PRs referencing that issue not made by the issue responsible, if there is one;
- 0crat should auto-assign the issue when someon

[2018-04-27 12:55] 0crat commented on #973
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-27 12:55] 0crat commented on #973
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-27 14:35] paulodamaso opened #974 "0crat assignes issue but user is not set as assignee"
0crat assigned issue #747 to me (at least said so in https://github.com/yegor256/cactoos/issues/747#issuecomment-384782094 ), but I'm not realy assigned to it.

May be related to #973.

[2018-04-27 14:35] 0crat commented on #974
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-27 14:35] 0crat commented on #974
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-27 17:50] 0crat commented on #968
The job is not in WBS, won't close the order

[2018-04-27 18:50] 0crat commented on #968
The job is not in WBS, won't close the order

[2018-04-27 19:00] nqafield opened #975 "Following the instructions to join Qulice project doesn't work"
@0crat suggests that it's possible to join the project, but the instructions don't work.

Initially reported here: https://github.com/teamed/qulice/issues/882

[2018-04-27 19:00] 0crat commented on #975
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-27 19:00] 0crat commented on #975
@nqafield[/z](https://www.0crat.com/u/nqafield) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-27 19:01] 0crat commented on #760
The job [#760](https://github.com/zerocracy/farm/issues/760) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1171932098); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-04-28 19:59] krzyk commented on #950
@yegor256 What do you think? Shouldn't all tasks of a person that goes on vacation be reassigned to someone else?

[2018-04-30 17:03] llorllale opened #979 "0crat should beg for money"
I propose to add the ability for 0crat to publish the need for funding for projects via the official ZC channels (twitter, facebook, telegram?, email?, etc.).

The current situation is less than ideal: potential donors can currently [contribute funds](http://www.yegor256.com/2018/04/03/donations-via-zerocracy.html) to a project via the "fund me" badge on a project's README in github but this is a

[2018-04-30 17:03] 0crat commented on #979
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-30 17:03] 0crat commented on #979
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-01 10:10] victornoel opened #980 "0crat doesn't succeed paying via ethereum"
It has been a few days that 0crat tells me it can't pay me and will retry later, without success.

I am using ethereum to get paid, and I've never been paid since the beginning, so I don't know if it's new or not.

The error should be available in 0crat logs I suppose, the message I get is very succinct:
[code]

[2018-05-01 10:10] 0crat commented on #980
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-01 10:10] 0crat commented on #980
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-01 15:07] g4s8 commented on #653
@amihaiemil PR #881 was merged, todo #956 was submitted, can we close?

[2018-05-01 15:26] amihaiemil commented on #653
@g4s8 yeah, thanks :)

[2018-05-01 15:26] #653 closed

[2018-05-01 15:26] 0crat commented on #653
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-01 15:42] 0crat commented on #653
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-01 15:42] 0crat commented on #653
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-01 15:42] 0crat commented on #653
The job [#653](https://github.com/zerocracy/farm/issues/653) is now out of scope

[2018-05-01 15:45] 0crat commented on #761
The job [#761](https://github.com/zerocracy/farm/issues/761) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1211564362); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-05-01 16:42] 0crat commented on #653
The job is not in WBS, won't close the order

[2018-05-01 17:16] ypshenychka commented on #653
@0crat quality good

[2018-05-01 17:17] 0crat commented on #653
Order was finished, quality is "good": +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-01 17:17] 0crat commented on #653
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-05-01 18:36] 0crat commented on #970
@neonailol[/z](https://www.0crat.com/u/neonailol) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-01 18:36] 0crat commented on #412
@neonailol[/z](https://www.0crat.com/u/neonailol) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-02 06:39] krzyk opened #981 "Resign or refuse a task"
0crat shows in a list of available commands `resign`, but [§6](http://www.zerocracy.com/policy.html#6) mentions `refuse`.

When I do `refuse` or `resign` the effect is the same - I get unassigned from the task (and get negative points).

We should either update the policy or the 0crat list of commands to include all that are available and make either refuse or resign work, but not both.

[2018-05-02 06:39] 0crat commented on #981
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-02 06:39] 0crat commented on #981
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-02 07:36] 0crat commented on #754
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-02 14:03] paulodamaso opened #982 "Error refusing task"
Zerocrat showed an error when I refused a task today (https://github.com/sunsofterp/portal/issues/2), an asked to file a issue here:

PID: 4@ab56d234-9c5a-4a94-9bc9-5e54c14be93d, thread: BkParallel-3
com.zerocracy.radars.github.ReSafe[76] java.io.IOException: com.mongodb.MongoWriteException: quota exceeded
com.mongodb.MongoCollectionImpl[558] com.mongodb.MongoWriteException: quota exceeded

[2018-05-02 14:03] 0crat commented on #982
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-02 14:03] 0crat commented on #982
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-02 15:05] krzyk opened #983 "Not getting points/payment for reporting a bug"
I'm in cactoos project but recently when my bug report was accepted I didn't get any points/payment when I reported a [bug](https://github.com/yegor256/cactoos/issues/790).
Instead I saw two error [messages](https://github.com/yegor256/cactoos/issues/790#issuecomment-385965280):
[code]

and
[code]

This shouldn't happen.

[2018-05-02 15:05] 0crat commented on #983
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-02 15:05] 0crat commented on #983
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-02 15:11] krzyk opened #984 "How to apply to zerocracy project"
How should I apply to zerocracy project as a DEV/REV?
I saw on the telegram group  few days (weeks?) ago that it is partial payment in $ and partial in equity.
`/apply` command doesn't accept anything except a currency, so how to do it? It is a general problem in projects that could have such payment structure.

[2018-05-02 15:11] 0crat commented on #984
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-02 15:11] 0crat commented on #984
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-02 18:06] llorllale opened #985 "Duplicate awards for finished jobs"
I have these duplicate awards and extra points now for issues 90, 91 and 92 for project [amihaiemil/docker-java-api](https://github.com/amihaiemil/docker-java-api).

[code]

[2018-05-02 18:52] krzyk opened #986 "What's the purpose of `out` command"
It is not clear what is the purpose of `out` command. I thought it is a inverse of `in`, but I can't do `out` on a issue that is not closed.
But closed issues are automatically being `outed` by 0crat, so why have a command that is not needed?

[2018-05-02 18:52] 0crat commented on #986
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-02 18:52] 0crat commented on #986
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-02 20:55] yegor256 opened #987 "SdkClientException: Unable to execute HTTP request: null"
https://sentry.io/zerocracy/farm/issues/464802246/

[code]

[2018-05-02 20:56] yegor256 commented on #987
@0crat assign @g4s8

[2018-05-02 20:56] yegor256 commented on #987
@0crat boost 4x

[2018-05-02 20:56] 0crat commented on #987
@yegor256 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:56] 0crat commented on #987
@yegor256 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:56] 0crat commented on #987
@yegor256 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:56] 0crat commented on #987
@yegor256 Boost 4x was set for [#987](https://github.com/zerocracy/farm/issues/987)

[2018-05-02 20:56] 0crat commented on #987
@yegor256 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 21:19] 0crat commented on #987
The job [#987](https://github.com/zerocracy/farm/issues/987) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1222120032); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-05-02 21:26] 0crat commented on #762
The job [#762](https://github.com/zerocracy/farm/issues/762) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1222127367); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-05-02 21:28] 0crat commented on #765
The job [#765](https://github.com/zerocracy/farm/issues/765) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1222129467); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-05-02 21:30] 0crat commented on #766
The job [#766](https://github.com/zerocracy/farm/issues/766) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1222131601); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-05-02 23:36] 0crat commented on #760
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-03 06:02] krzyk opened #988 "`out` doesn't remove "scope" tag"
When I did `@0crat out` (and the issue wasn't assigned) in https://github.com/teamed/qulice/issues/869 it said that it removed it from the scope, but it didn't remove the "scope" tag from the issue.
Having that tag is misleading and makes browsing issues harder.
Please make sure that after issueing `out` command the the "scope" tag is removed.

[2018-05-03 06:02] 0crat commented on #988
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-03 06:02] 0crat commented on #988
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-03 06:02] #986 closed

[2018-05-03 06:18] 0crat commented on #986
The job is not in WBS, won't close the order

[2018-05-03 07:15] yegor256 opened #989 "assign_role must validate GitHub access permissions"
When we assign role to a new person in a project, `assign_role` must validate that the person has access to all GitHub repos linked to the project.

[2018-05-03 07:16] 0crat commented on #989
Job [#989](https://github.com/zerocracy/farm/issues/989) is now in scope, role is `DEV`

[2018-05-03 07:16] 0crat commented on #988
Job [#988](https://github.com/zerocracy/farm/issues/988) is now in scope, role is `DEV`

[2018-05-03 07:16] 0crat commented on #989
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-03 07:16] 0crat commented on #988
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-03 07:25] amihaiemil commented on #985
@llorllale I confirm, I also got duplicated awards

[2018-05-03 07:25] g4s8 opened #990 "Http redirects in make_payment"
0crat failed to pay to REV and ARC after closing pull request:
[code]

[2018-05-03 07:25] 0crat commented on #990
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-03 07:28] amihaiemil opened #991 "Payment failed with no debt registered"
In [this](https://github.com/sunsofterp/portal/pull/18#issuecomment-386121887) Pull Request, the payments seem to have failed entirely. I only received the reputation points but no Paypal payment or debt registration was made.

3 failures are visible in that PR: one in ``make_payment.groovy``, one in ``pay_architect_for_pull_request.groovy`` and the other in ``reject_people_below_score.groovy``. I

[2018-05-03 07:28] 0crat commented on #991
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-03 07:59] yegor256 commented on #984
@krzyk I believe it's fixed, you should get equity now

[2018-05-03 08:00] 0crat commented on #984
The job [#984](https://github.com/zerocracy/farm/issues/984) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1230759239); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-03 08:01] 0crat commented on #984
Job `gh:zerocracy/farm#984` already assigned to @yegor256, can't assign to @yegor256

[2018-05-03 08:01] 0crat commented on #984
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-03 08:01] 0crat commented on #984
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-03 08:05] yegor256 commented on #984
@krzyk see https://github.com/zerocracy/zerocracy.github.io/commit/68f5f01645a8e824d1f59d708b541ade8ac0ecb7

[2018-05-03 08:05] yegor256 commented on #984
@krzyk you can't request vesting rate anyhow, the project decides how much to assign to you. You can only quit the project if you don't like it and apply again.

[2018-05-03 08:29] g4s8 commented on #761
@amihaiemil looks like this task is depend on #762 so I should start it after it, right?

[2018-05-03 08:33] amihaiemil commented on #761
@g4s8 As far as I understand, no, because #762 only concerns the ``claims.xsl``, UI stuff. This task here concerns the backend TkClaim, which is already able to return the ``children`` element in a claim.

[2018-05-03 08:35] g4s8 commented on #761
@amihaiemil ok, thanks.

[2018-05-03 10:35] amihaiemil opened #992 "Tweet containing IDs instead of Names"
When 0crat is tweeting to ask for developers on a project, it uses the project's internal ID instead of its name. See here: https://twitter.com/0crat/status/991959781693943808

We had a similar Issue a month ago: https://github.com/zerocracy/farm/issues/940, but that one was concerning the link: it was poiting to 0crat instead of Github -- the fix there was that we now allow any 0crat user to see

[2018-05-03 10:35] 0crat commented on #992
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-03 11:35] yegor256 opened #993 "NPE in Xocument ctor"
[code]

I can't understand what's going on and why... I see this sometimes.

[2018-05-03 11:36] yegor256 commented on #980
@victornoel I don't see anything in the log, let's monitor more after this: 66605be

[2018-05-03 11:37] 0crat commented on #990
The job is not in WBS, won't close the order

[2018-05-03 11:37] 0crat commented on #993
Job [#993](https://github.com/zerocracy/farm/issues/993) is now in scope, role is `DEV`

[2018-05-03 11:41] 0crat commented on #993
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-03 11:41] 0crat commented on #993
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-03 11:41] 0crat commented on #993
The score of @yegor256[/z](https://www.0crat.com/u/yegor256) -449 is too low and will be reset: +449 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-03 12:29] yegor256 commented on #980
@victornoel this is what we are getting in logs now:

[code]

Looks like Coinbase API doesn't understand that we are sending ETH instead of BTC.

[2018-05-03 12:32] yegor256 commented on #980
@victornoel it seems that instead of using `setAmount("USD 10")` we have to do `setAmount("ETH 0.01")`. In order to do that we have to calculate the exchange rate first.

[2018-05-03 12:33] yegor256 commented on #945
@krzyk I believe it's fixed, please try

[2018-05-03 12:33] 0crat commented on #980
Job [#980](https://github.com/zerocracy/farm/issues/980) is now in scope, role is `DEV`

[2018-05-03 12:34] 0crat commented on #980
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-03 12:35] 0crat commented on #980
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-05-03 12:38] 0crat commented on #992
The job [#992](https://github.com/zerocracy/farm/issues/992) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1231235373); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-03 12:38] 0crat commented on #992
Job `gh:zerocracy/farm#992` already assigned to @yegor256, can't assign to @yegor256

[2018-05-03 12:39] 0crat commented on #992
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-03 12:39] 0crat commented on #992
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-03 12:41] yegor256 commented on #992
@amihaiemil should be OK now

[2018-05-03 12:41] #992 closed

[2018-05-03 13:09] 0crat commented on #983
Job [#983](https://github.com/zerocracy/farm/issues/983) is now in scope, role is `DEV`

[2018-05-03 13:14] 0crat commented on #983
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-03 13:59] 0crat commented on #992
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-03 13:59] 0crat commented on #992
The job [#992](https://github.com/zerocracy/farm/issues/992) is now out of scope

[2018-05-03 14:14] victornoel commented on #980
@yegor256 reading the documentation of the API, it looks like that if you use `setAmount("ETH 0.01")` it will then be converted to BTC and sent to the address as if it is bitcoin (instead of sending to a ETH address). Are we actually sure that coinbase api support sending to ETH wallet?

[2018-05-03 19:02] yegor256 commented on #980
@victornoel do you have a link to prove that?

[2018-05-03 19:40] 0crat commented on #984
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-03 19:40] 0crat commented on #984
The job [#984](https://github.com/zerocracy/farm/issues/984) is now out of scope

[2018-05-03 20:04] krzyk commented on #945
@yegor256 OK works, but I had to try out, for `/rate` I got following response:
[code]

So I went to [§16](http://www.zerocracy.com/policy.html#16) and there I see:

So still no info how to format the `/rate` command, so I tried `/rate 42 USD` (which seamed natural to me) and got:
[code]

Which finally got me the format I need to use - I think it is quite a long way, I would expect to see this e.g

[2018-05-04 06:52] victornoel commented on #980
@yegor256 yes, here they are:
In https://developers.coinbase.com/api/v1#send-money:

In https://developers.coinbase.com/api/v2#send-money, the `to` field is described as:

In https://developers.coinbase.com/api/v2#official-client-libraries, the Java API is described as:

[2018-05-04 07:54] amihaiemil opened #994 "Tweet on invite contains Github user tag"
When a new user is invited, 0crat tweets it with a handle to the user's supposed twitter profile and also a link to their Github profile. Problem is, it is not guaranteed that 1) the user has a Twitter accound and 2) the Twitter handle is the same as the Github one:

See [here](https://github.com/zerocracy/farm/blob/9aeb703c27409d11e55b8b6b5959523313ecb3ed/src/main/resources/com/zerocracy/stk/pmo/

[2018-05-04 07:54] 0crat commented on #994
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-04 09:59] yegor256 commented on #945
@krzyk explained: https://github.com/zerocracy/zerocracy.github.io/commit/866256e97692e966cdd45e8b552f536a8482af81

[2018-05-04 10:13] yegor256 commented on #945
@krzyk I believe it's fixed: 4917c7226d7eb7d696eef2a94a686bffa29b2e6f

[2018-05-04 10:16] 0crat commented on #994
The job [#994](https://github.com/zerocracy/farm/issues/994) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1241014186); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-04 10:17] 0crat commented on #994
Job `gh:zerocracy/farm#994` already assigned to @yegor256, can't assign to @yegor256

[2018-05-04 10:18] 0crat commented on #994
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-04 10:18] 0crat commented on #994
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-04 10:26] yegor256 commented on #967
@amihaiemil it's a good thinking, but we will have to change the entire system. We have many classes now that don't have interfaces, and it's OK, since they all our one-time-use entities. They are not supposed to be decorated anyhow. Let me explain it in the documentation...

[2018-05-04 10:26] 0crat commented on #967
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-04 10:36] 0crat commented on #967
The job [#967](https://github.com/zerocracy/farm/issues/967) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1241033268); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-04 10:37] 0crat commented on #967
Job `gh:zerocracy/farm#967` already assigned to @yegor256, can't assign to @yegor256

[2018-05-04 10:38] 0crat commented on #967
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-04 10:38] 0crat commented on #967
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-04 10:40] 0crat commented on #994
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-04 10:40] 0crat commented on #994
The job [#994](https://github.com/zerocracy/farm/issues/994) is now out of scope

[2018-05-04 10:48] yegor256 commented on #967
@0crat status

[2018-05-04 10:49] 0crat commented on #967
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#967](https://github.com/zerocracy/farm/issues/967) is [in scope](http://www.zerocracy.com/policy.html#14) for 15min
  * The role is `DEV`
  * The job is assigned to @yegor256[/z](https://www.0crat.com/u/yegor256) for [15min](http://www.zerocracy.com/policy.html#8)
  * There is no mone

[2018-05-04 10:52] amihaiemil commented on #985
@yegor256 The author got duplicate awards in

1. https://github.com/amihaiemil/docker-java-api/pull/90
2. https://github.com/amihaiemil/docker-java-api/pull/91
3, https://github.com/amihaiemil/docker-java-api/pull/92

and I got duplicates (6x, for each) in

1. https://github.com/amihaiemil/docker-java-api/issues/77
2, https://github.com/amihaiemil/docker-java-api/issues/86
3. https://github.com/am

[2018-05-04 10:55] amihaiemil commented on #967
@yegor256

I imagine that, in the end, the redesign would be huge, but would the impact be so big we we did it gradually, through puzzles? :/

It doesn't seem that complicated (at least at a first glance).

[2018-05-04 11:01] yegor256 commented on #980
@victornoel it's sad... Let's wait than.

[2018-05-04 11:06] yegor256 commented on #982
@paulodamaso it was a temporary bug, it's gone already

[2018-05-04 11:06] #982 closed

[2018-05-04 11:13] victornoel commented on #980
@yegor256 do you mean wait for a new version of the API? Should I expect not being able to receive payment via ethereum before a long time then?

[2018-05-04 13:10] krzyk commented on #945
@yegor256 cool, thanks

[2018-05-04 13:10] #945 closed

[2018-05-04 13:30] 0crat commented on #945
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-04 13:30] 0crat commented on #945
The job [#945](https://github.com/zerocracy/farm/issues/945) is now out of scope

[2018-05-04 15:24] krzyk opened #995 ""We owe you these N payments" is unreadable"
The section about debt in user page (https://www.0crat.com/u/login) lists all the pending payments in one line. This is unreadable.

This list should be put in a table so it can be easily inspected by the user.

[2018-05-04 15:32] krzyk opened #996 "Equity proof page error"
When I go to https://www.0crat.com/equity/C3NDPUA8L I'm presented with an error page:
[code]

I would expect not to see the error, but the actual page :)

[2018-05-04 15:32] 0crat commented on #996
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-06 04:41] yegor256 commented on #995
@krzyk we tried to fix this in #660

[2018-05-06 04:46] yegor256 commented on #980
@victornoel yes, you will have to wait, unfortunately. Or, we can add a new payment solution, on top of Coinbase, like cex.io, for example.

[2018-05-06 04:52] #760 closed

[2018-05-06 04:52] 0pdd commented on #760
The puzzle `536-488b0c6c` has disappeared from the source code, that's why I closed this issue.

[2018-05-06 04:52] 0pdd commented on #536
@yegor256 the only puzzle [#760](https://github.com/zerocracy/farm/issues/760) is solved here.

[2018-05-06 04:53] krzyk commented on #995
@yegor256 OK, I'll close this. But considering that there are now 2 duplicates of #660, that it should be somehow formatted differently (less ugly)?
Maybe make it at least a list? Add newlines after each debt entry?

[2018-05-06 04:53] #995 closed

[2018-05-06 05:02] yegor256 commented on #995
@krzyk we just don't want to keep those lists too long. They have to include 10 items, at most. Creating a full-scale table would make the layout uglier than it is now, I believe.

[2018-05-06 05:10] 0crat commented on #760
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-06 05:10] 0crat commented on #995
The job is not in WBS, won't close the order

[2018-05-06 05:11] 0crat commented on #760
The job [#760](https://github.com/zerocracy/farm/issues/760) is now out of scope

[2018-05-06 05:15] 0crat commented on #767
The job [#767](https://github.com/zerocracy/farm/issues/767) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1260548598); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-05-06 05:49] ypshenychka commented on #760
@g4s8 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add link to PR in any of your messages.

[2018-05-06 09:02] g4s8 commented on #760
@ypshenychka fixed in #977 PR

[2018-05-06 09:03] g4s8 commented on #754
@amihaiemil should be fixed in #976 PR, can we close?

[2018-05-06 09:31] ypshenychka commented on #760
@g4s8 Thanks!

[2018-05-06 09:31] ypshenychka commented on #760
@0crat quality acceptable

[2018-05-06 09:38] 0crat commented on #760
Order was finished, quality is "acceptable": +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-06 09:38] 0crat commented on #760
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-05-06 09:39] 0crat commented on #754
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-06 09:39] 0crat commented on #754
The job [#754](https://github.com/zerocracy/farm/issues/754) is now out of scope

[2018-05-06 09:42] 0crat commented on #768
The job [#768](https://github.com/zerocracy/farm/issues/768) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1260983335); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-05-06 12:56] ypshenychka commented on #754
@g4s8 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Your commit doesn't contain link to this issue. Please confirm you'll try to follow this rule next time.

[2018-05-06 13:56] g4s8 commented on #754
@ypshenychka I confirm

[2018-05-06 16:36] 0crat commented on #761
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-06 19:08] ypshenychka commented on #754
@g4s8 Thank you.

[2018-05-06 19:08] ypshenychka commented on #754
@0crat quality acceptable

[2018-05-06 19:11] 0crat commented on #754
Order was finished, quality is "acceptable": +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-06 19:11] 0crat commented on #754
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-05-07 02:27] paulodamaso opened #997 "Received points but no payment"
I did not received payment for https://github.com/yegor256/cactoos/issues/747, just points. The payment not appeared even in debt page; I've received payment for other jobs which were listed in debts page before and after https://github.com/yegor256/cactoos/issues/747 completion, but just points for this job.

[2018-05-07 02:28] 0crat commented on #997
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-07 02:28] 0crat commented on #997
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-07 13:27] duker33 opened #999 "Join form is broken"
Tried to submit form with all fields filled.
Got application error.

Stracktrace below:
[code]

[2018-05-07 13:27] 0crat commented on #999
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-07 13:27] 0crat commented on #999
@duker33[/z](https://www.0crat.com/u/duker33) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-07 15:25] biboran opened #1000 "0crat failed on a non assigned closed task"
@0crat asked me to submit the issue for him for BlockStoreApp/Web3Swift/issues/49

[2018-05-07 15:25] 0crat commented on #1000
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-07 15:25] 0crat commented on #1000
@biboran[/z](https://www.0crat.com/u/biboran) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-08 02:36] 0crat commented on #987
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-08 02:37] 0crat commented on #725
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-08 03:36] 0crat commented on #729
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-08 03:36] 0crat commented on #762
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-08 04:36] 0crat commented on #765
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-08 04:36] 0crat commented on #766
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-08 06:32] amihaiemil commented on #997
@paulodamaso I also had a similar behaviour here: https://github.com/zerocracy/farm/issues/991

[2018-05-08 06:33] amihaiemil commented on #766
@0crat waiting for explanations

[2018-05-08 06:33] 0crat commented on #766
@amihaiemil The impediment for [#766](https://github.com/zerocracy/farm/issues/766) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-08 06:34] amihaiemil commented on #729
@0crat waiting for #723

[2018-05-08 06:34] 0crat commented on #729
@amihaiemil The impediment for [#729](https://github.com/zerocracy/farm/issues/729) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-08 06:34] amihaiemil commented on #725
@0crat waiting for clarifications on payments bug

[2018-05-08 06:34] amihaiemil commented on #987
@0crat waiting for clarifications on payments bug

[2018-05-08 06:34] amihaiemil commented on #762
@0crat waiting for clarifications on payments bug

[2018-05-08 06:34] 0crat commented on #987
@amihaiemil The impediment for [#987](https://github.com/zerocracy/farm/issues/987) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-08 06:35] 0crat commented on #725
@amihaiemil The impediment for [#725](https://github.com/zerocracy/farm/issues/725) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-08 06:35] 0crat commented on #762
@amihaiemil The impediment for [#762](https://github.com/zerocracy/farm/issues/762) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-08 07:02] g4s8 commented on #747
@yegor256 this job takes too much time to resolve merge conflicts, can you please boost it?

[2018-05-08 16:55] paulodamaso commented on #997
@amihaiemil Yes, I saw it before opening this issue, but I think is a different bug because #747 had an abnormal behavior from the very beginning.

[2018-05-09 07:13] carlosmiranda commented on #939
@yegor256 see PR #1001

[2018-05-09 08:18] krzyk opened #1002 "Upgrade qulice to 0.17.3"
New qulice version brings following important changes:
- removal of `@author` tag (it is prohibited now)
- removal of `@version` tag (it is prohibited now)
- license header should start with `/*` instead of `/**`  - this will fix problem with IntelliJ reporting it as a javadoc that is not attached to any class
- checkstyle validation performance improvement (speedup of ~ 10%)
And few minor formatt

[2018-05-09 08:18] 0crat commented on #1002
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-09 13:29] 0crat commented on #1002
Job [#1002](https://github.com/zerocracy/farm/issues/1002) is now in scope, role is `DEV`

[2018-05-09 14:12] paulodamaso commented on #997
@yegor256 please take a look, I didn't received this payment yet neither in wallet nor in paypal.

[2018-05-10 08:00] g4s8 commented on #715
@amihaiemil few constructors was refactored in #897 and `@todo` for other was added, can we close?

[2018-05-10 08:02] amihaiemil commented on #715
@g4s8 yes, looks ok. Just that the PR is very big (21 changed files)... if I were the reviewer I would have rejected it :D

[2018-05-10 08:02] #715 closed

[2018-05-10 08:09] g4s8 commented on #715
@amihaiemil why? It's a refactoring, so one constructor change requires to change many other classes, like `Votes` and groovy scripts.

[2018-05-10 08:12] amihaiemil commented on #715
@g4s8 yes, but then I would have changed only ``Awards``, not 3 classes, to reach 21 changed files. Even if the change seems innocent, maybe there's a bug in some of those classes (or clients of those classes) which now would be very hard to track since we have that huge PR merged :)

[2018-05-10 08:18] 0crat commented on #715
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-10 08:18] 0crat commented on #715
The job [#715](https://github.com/zerocracy/farm/issues/715) is now out of scope

[2018-05-10 08:27] amihaiemil commented on #715
@g4s8 I think such situation should be rare and so it's better for the project to pay you more than risk introducing shady bugs. Besides, you shouldn't spend all your 30min on preparing the first version of the PR, since you will spend some more time discussing and making CR changes.

[2018-05-10 08:29] g4s8 commented on #715
@amihaiemil thanks, I think it make sense.

[2018-05-10 08:50] ypshenychka commented on #715
@0crat quality good

[2018-05-10 08:53] 0crat commented on #715
Order was finished, quality is "good": +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-10 08:53] 0crat commented on #715
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-05-10 10:05] victornoel opened #1003 "Apparently missing `blanks/user` when closing issue"
- I opened an issue to ask a question to cactoos' ARC (yegor256/cactoos#841).
- The issue was resolved via discussion.
- I thus closed the issue.

`@0crat` failed at this point with the following error:
[code]

[2018-05-10 10:05] 0crat commented on #1003
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-10 10:05] 0crat commented on #1003
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-10 11:45] yegor256 commented on #997
@paulodamaso most likely your rate was zero at the moment of assignment. This fix will make the situation more transparent to a developer: 8220bc35c3ec5b8f6c14e2aa8a4906226fe822d6 and 7013353bc1561a5b15cedf31e53f6f0adeaa044e

[2018-05-10 11:48] yegor256 commented on #997
@paulodamaso thanks for reporting, hope this won't happen again. In the meantime you can explain this situation to the project architect and ask him to use http://www.zerocracy.com/policy.html#49

[2018-05-10 11:48] #997 closed

[2018-05-10 12:04] 0crat commented on #997
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1301148122, Type: 'Close job', Author: yegor256

[2018-05-10 13:16] 0crat commented on #770
The job [#770](https://github.com/zerocracy/farm/issues/770) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1301318000); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-05-10 13:56] krzyk commented on #981
@yegor256 and a list of comands displayed by 0crat also should be updated.
Is it possible for it to be always up to date? I didn't look into the code, but it should be possible to keep a single list of commands that 0crat understands and can print out in the help text.

[2018-05-10 16:11] SilasReinagel commented on #972
@yegor256 Due to stochasticity, it does not impact all programmers equally. It only has a chance of impacting all programmers equally. When the quality level of the tickets or of the speediness of gatekeepers varies greatly, some programmers will be impacted a lot and others very little. In practice, this makes it a lottery for each individual contributor. Rankings do not reflect skill or speed.

[2018-05-10 17:01] paulodamaso commented on #997
@yegor256 Thanks for the reply.

[2018-05-10 17:26] llorllale commented on #997
@yegor256 according to the cactoos slack chat, I successfully assigned `DEV` and `REV` with rate `$16` to @paulodamaso on april 19th.

[2018-05-10 20:16] g4s8 commented on #1003
Same error here: https://github.com/yegor256/rultor/issues/1257#issuecomment-388171310

[2018-05-10 22:11] elenavolokhova opened #1004 "0crat didn't pay for QA review due to error: Duplicate claims are not allowed"
Happened here: [#790](https://github.com/yegor256/cactoos/issues/790#issuecomment-387544448).
0crat didn't pay for QA review.
[code]

[2018-05-10 22:11] 0crat commented on #1004
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-10 22:11] 0crat commented on #1004
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-10 22:15] elenavolokhova opened #1005 "0crat didn't pay for QA review without any notification about failure"
Happened in [#830](https://github.com/yegor256/cactoos/pull/830)
Points for QA were not rewarded.

[2018-05-10 22:15] 0crat commented on #1005
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-10 22:15] 0crat commented on #1005
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-10 23:04] carlosmiranda commented on #813
@amihaiemil fixed (finally) in #965, can we close this now?

[2018-05-11 04:09] 0pdd opened #1006 "package-info.java:24-27: Change 'com.zerocracy.pmo'..."
The puzzle `715-1243e0dc` from #715 has to be resolved:

https://github.com/zerocracy/farm/blob/0ff4574278030b5972d54c3fdfa3f4685f2a3606/src/main/java/com/zerocracy/pmo/package-info.java#L24-L27

The puzzle was created by Yegor Bugayenko on 11-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is f

[2018-05-11 04:10] 0pdd commented on #715
@amihaiemil the puzzle [#1006](https://github.com/zerocracy/farm/issues/1006) is still not solved.

[2018-05-11 04:10] 0crat commented on #1006
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-11 04:10] 0crat commented on #1006
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-11 04:10] 0crat commented on #1006
Job [#1006](https://github.com/zerocracy/farm/issues/1006) is now in scope, role is `DEV`

[2018-05-11 04:15] 0crat commented on #1006
The job [#1006](https://github.com/zerocracy/farm/issues/1006) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1310414059); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-05-11 04:18] 0crat commented on #532
The job [#532](https://github.com/zerocracy/farm/issues/532) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1310417149); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-05-11 06:19] amihaiemil commented on #813
@carlosmiranda sure, thanks :)

[2018-05-11 06:19] #813 closed

[2018-05-11 06:35] 0crat commented on #813
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-11 06:35] 0crat commented on #813
The job [#813](https://github.com/zerocracy/farm/issues/813) is now out of scope

[2018-05-11 06:38] 0crat commented on #564
The job [#564](https://github.com/zerocracy/farm/issues/564) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1310641565); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-05-11 06:39] ypshenychka commented on #813
@0crat quality good

[2018-05-11 06:43] 0crat commented on #813
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-05-11 06:43] 0crat commented on #813
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-05-11 07:50] alex-semenyuk opened #1007 "Redundant message for @0pdd"
It doesn't make sense to show this message

[2018-05-11 07:50] 0crat commented on #1007
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-11 07:50] 0crat commented on #1007
@alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-11 08:37] 0crat commented on #767
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-11 10:37] 0crat commented on #768
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-12 19:31] llorllale commented on #1003
I'm getting similar error when trying to remove from scope a PR [here](https://github.com/yegor256/cactoos/pull/858#issuecomment-388577256)

[2018-05-12 23:09] paulodamaso opened #1008 "0crat not taking points for invitations"
0crat is not charging mentors for inviting new students. I made an invite, the student already appears at team page, but I have not paid 128 points for the invitation, as sain in policy (http://www.zerocracy.com/policy.html#1).

[2018-05-12 23:09] 0crat commented on #1008
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-12 23:09] 0crat commented on #1008
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-13 13:24] krzyk opened #1009 "Not being assigned to any jobs in some projects"
~~I'm not sure if there is some kind of an internal block or an error.~~
~~I'm assigned currently to few projects, I'm getting tasks in two of them and not getting any tasks in another two: zerocracy and takes.~~

~~Right now my number of assigned jobs is 6 (max allowed is 8), and in zerocracy the ration of assigned jobs / unassigned ones is 62/106 (I don't know how it looks like for takes, as it

[2018-05-13 13:27] krzyk opened #1010 "Self (@you) page should diffrentiate between rev and dev jobs"
When I go to my page in zerocracy (`@krzyk` link) I see:

Right now I don't have any REV jobs assigned, but when I had the text would look something like this:

REV jobs don't have a limit, so I would expect the above text to differentiate between REV and DEV jobs, e.g. like this:

[2018-05-13 13:27] 0crat commented on #1010
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-13 16:52] t-izbassar commented on #194
@0crat refuse

[2018-05-13 16:53] t-izbassar commented on #438
@0crat refuse

[2018-05-13 16:53] t-izbassar commented on #402
@0crat refuse

[2018-05-13 16:53] t-izbassar commented on #360
@0crat refuse

[2018-05-13 16:58] 0crat commented on #194
@t-izbassar The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#194](https://github.com/zerocracy/farm/issues/194), please stop working. Reason for job resignation: Order was cancelled

[2018-05-13 16:59] 0crat commented on #438
@t-izbassar The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#438](https://github.com/zerocracy/farm/issues/438), please stop working. Reason for job resignation: Order was cancelled

[2018-05-13 16:59] 0crat commented on #402
@t-izbassar The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#402](https://github.com/zerocracy/farm/issues/402), please stop working. Reason for job resignation: Order was cancelled

[2018-05-13 16:59] 0crat commented on #360
@t-izbassar The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#360](https://github.com/zerocracy/farm/issues/360), please stop working. Reason for job resignation: Order was cancelled

[2018-05-13 17:03] 0crat commented on #194
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-05-13 17:04] 0crat commented on #438
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-05-13 17:04] 0crat commented on #402
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-05-13 17:05] 0crat commented on #360
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-05-13 17:08] yegor256 commented on #1003
@victornoel fixed in 5479521b6dfe985f2e33996f8ac787c323666dc1 thanks!

[2018-05-13 17:08] #1003 closed

[2018-05-13 17:10] 0crat commented on #194
The job [#194](https://github.com/zerocracy/farm/issues/194) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1331712121); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-05-13 17:14] 0crat commented on #360
The job [#360](https://github.com/zerocracy/farm/issues/360) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1331717266); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-05-13 17:35] g4s8 opened #1011 "Invalid SSL certificate"
https://zerocracy.com uses invalid SSL certificate:

but https://www.zerocracy.com has valid sertificate.

[2018-05-13 17:35] 0crat commented on #1011
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-13 20:56] #1009 closed

[2018-05-13 21:12] 0crat commented on #1009
The job is not in WBS, won't close the order

[2018-05-13 21:19] g4s8 opened #1012 "0crat may not pay 10 min for closed PR"
According to [policy#28](http://www.zerocracy.com/policy.html#28) architect should receive payment and reputation (10 minutes) for each merged PR, but if PR is small (less than 10 lines of code) 0crat skips ARC review bonus.
If it is expected behavior then policy have to be updated.

[2018-05-13 21:25] g4s8 opened #1013 "0crat may skip CR for not small PR"
If first commit in a PR was small (less than 10 lines of code) and 0crat skip CR but then performer pushed new commits (more than 10 lines of code) 0crat will not add this job to the scope. I think 0crat should check each commit in a PR and add job to scope if any of commits is not small.

[2018-05-13 21:25] 0crat commented on #1013
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-14 06:39] krzyk commented on #360
@t-izbassar @g4s8 were you ever able to download the heapdump using `TkDump` (I know the plan is to put it in S3). I'm wondering is there a point in adding myself to the list and periodically trying to get data from heapdump endpoint?

[2018-05-14 06:46] g4s8 commented on #360
@krzyk I think we need a new solution here, we already have heap dump on out-of memory https://github.com/zerocracy/farm/pull/369/files#diff-5bd6b85c2d6fc987875f4bf82de2a15a but we can't access it. BTW we can download it with `heroku ps:exec`, but only @yegor256 can do it.

[2018-05-14 07:13] g4s8 opened #1014 "NullPointerException in Telegram"
NullPointerException in `ReProfile$MsgText.toString` https://sentry.io/zerocracy/farm/issues/555695078/
[code]

[2018-05-14 07:13] 0crat commented on #1014
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-14 10:58] g4s8 opened #1015 "0crat assigns PRs as DEV jobs"
When ARC manually assign PR to a user it is assigned as `DEV` task and `30min` estimate.
I suppose 0crat should check GitHub ticket type and assign PRs as `REV` jobs with `15min` estimates.

[2018-05-14 10:58] 0crat commented on #1015
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-14 11:56] paulodamaso opened #1016 "Remove impediment from issue."
There is no way at the moment to tell zerocracy to lift impediment from a task. It should be interesting to allow impediment removal. There is the case that an impediment is created for a task but some time later the developer discover that it is not an impediment to task anymore, but it is still an issue that must be solved. The creator of the impediment should be allowed to lift this impediment

[2018-05-14 11:56] 0crat commented on #1016
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-14 11:56] 0crat commented on #1016
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-14 12:14] yegor256 opened #1017 "minor bugs"
Let's fix

[2018-05-14 12:31] yegor256 commented on #1012
@g4s8 see: https://github.com/zerocracy/zerocracy.github.io/commit/3a8b759d5c8d49aa1c1b2f17ab3352cc0dff4435

[2018-05-14 12:33] yegor256 commented on #1012
@g4s8 see bbb12a28

[2018-05-14 12:33] #1012 closed

[2018-05-14 12:33] yegor256 commented on #1012
@g4s8 thanks!

[2018-05-14 12:43] 0crat commented on #1016
Job [#1016](https://github.com/zerocracy/farm/issues/1016) is now in scope, role is `DEV`

[2018-05-14 12:45] 0crat commented on #1016
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-05-14 12:51] yegor256 commented on #1000
@biboran yes, it's a dup of #1003

[2018-05-14 12:51] #1000 closed

[2018-05-14 12:52] 0crat commented on #1012
The job is not in WBS, won't close the order

[2018-05-14 12:59] yegor256 commented on #1011
@g4s8 fixed. Try again in 24 hours, please.

[2018-05-14 13:00] 0crat commented on #1015
Job [#1015](https://github.com/zerocracy/farm/issues/1015) is now in scope, role is `DEV`

[2018-05-14 13:04] 0crat commented on #1015
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-14 13:08] paulodamaso commented on #997
@llorllale @yegor256 No payment yet on yegor256/cactoos#747 for me.

[2018-05-14 13:09] 0crat commented on #1000
The job is not in WBS, won't close the order

[2018-05-14 13:12] yegor256 commented on #1007
@alex-semenyuk fixed in d1d0ea55 thanks!

[2018-05-14 13:12] #1007 closed

[2018-05-14 13:13] yegor256 commented on #997
@paulodamaso this is definitely some bug inside, but I can't catch it since we didn't have logs at that time. We will have more visibility in the future. Sorry.

[2018-05-14 13:14] yegor256 commented on #1014
@g4s8 fixed already, thanks: e84075084417ce55d0df77c0a29455a086a3bbaa

[2018-05-14 13:14] #1014 closed

[2018-05-14 13:20] 0pdd commented on #761
The puzzle `489-3f92a3b1` has disappeared from the source code, that's why I closed this issue.

[2018-05-14 13:20] #761 closed

[2018-05-14 13:20] 0pdd commented on #489
@yegor256 the puzzle [#762](https://github.com/zerocracy/farm/issues/762) is still not solved; solved: [#761](https://github.com/zerocracy/farm/issues/761).

[2018-05-14 13:28] 0crat commented on #1007
The job is not in WBS, won't close the order

[2018-05-14 13:29] 0crat commented on #1014
The job is not in WBS, won't close the order

[2018-05-14 13:39] 0crat commented on #1013
The job is not in WBS, won't close the order

[2018-05-14 13:43] krzyk commented on #1010
@yegor256 Ah, OK now I understand.

[2018-05-14 13:43] #1010 closed

[2018-05-14 14:02] 0crat commented on #1010
The job is not in WBS, won't close the order

[2018-05-14 16:12] elenavolokhova opened #1018 "Unrecoverable failure on Ocrat"
Happened [here](https://github.com/yegor256/cactoos/issues/799#issuecomment-388869099) and [here](https://github.com/yegor256/cactoos/issues/518#issuecomment-388876945):
[code]

[2018-05-14 17:05] victornoel commented on #1018
@yegor256 also [here](https://github.com/yegor256/cactoos/pull/856#issuecomment-388865415)

[2018-05-14 17:51] llorllale commented on #1018
@yegor256 same [here](https://github.com/yegor256/cactoos/issues/747#issuecomment-388904966)

[2018-05-14 18:26] amihaiemil commented on #1018
@yegor256 don't just fix that ``<img/>`` tag, but separate some concerns there. What does the validation of some HTML page have to do with making payments or completin QA review? It's embarassing!

[2018-05-15 10:39] g4s8 opened #1019 "Reduce extra payment penalty"
0crat can miss payments because of bugs (e.g. it didn't pay anything for few hours yesterday), so ARC have to pay to all team manually with `extra` command. It may dramatically decrease ARC reputation (e.g. 5 jobs * 120 penalty = -600 reputation), so I'd suggest to change the penalty to `-30` until 0crat payments will be stable.

[2018-05-15 10:39] 0crat commented on #1019
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-15 10:41] g4s8 commented on #761
@0crat status

[2018-05-15 10:42] 0crat commented on #761
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#761](https://github.com/zerocracy/farm/issues/761) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [14days](http://www.zerocracy.com/policy.html#8)
  * There is a monetary reward a

[2018-05-15 10:45] g4s8 commented on #703
@yegor256 looks like `0pdd` error, this puzzle was removed in #905 PR, can you close this manually?

[2018-05-15 10:46] g4s8 commented on #761
@yegor256 this job was not removed from scope after close, can you do it manually?

[2018-05-15 14:35] krzyk commented on #360
@0crat refuse

[2018-05-15 14:37] 0crat commented on #770
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-15 14:37] 0crat commented on #360
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#360](https://github.com/zerocracy/farm/issues/360), please stop working. Reason for job resignation: Order was cancelled

[2018-05-15 14:39] 0crat commented on #360
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-15 14:44] 0crat commented on #402
The job [#402](https://github.com/zerocracy/farm/issues/402) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1351471320); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-05-15 19:35] VsSekorin opened #1020 "Unrecoverable failure"
[code]
Happened in https://github.com/yegor256/cactoos/pull/810#issuecomment-386884228

[2018-05-15 19:35] 0crat commented on #1020
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-15 19:35] 0crat commented on #1020
@vssekorin[/z](https://www.0crat.com/u/vssekorin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-16 04:36] 0crat commented on #1006
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-16 04:37] 0crat commented on #532
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-16 08:04] TestUserHere commented on #194
@0crat hello

[2018-05-16 08:06] 0crat commented on #194
@TestUserHere Hey, what's up, how is it going?

[2018-05-16 08:07] TestUserHere commented on #194
@0crat status

[2018-05-16 08:07] 0crat commented on #194
@TestUserHere This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#194](https://github.com/zerocracy/farm/issues/194) is [in scope](http://www.zerocracy.com/policy.html#14) for 9mon
  * The role is `DEV`
  * The job is assigned to @krzyk[/z](https://www.0crat.com/u/krzyk) for [3days](http://www.zerocracy.com/policy.html#8)
  * There is a monetary

[2018-05-16 08:08] krzyk commented on #194
@yegor256 This looks like it is working, see the [above](https://github.com/zerocracy/farm/issues/194#issuecomment-389432719) from my @TestUserHere account, it correctly uses letter case above

[2018-05-16 08:39] 0crat commented on #564
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-16 08:46] carlosmiranda commented on #564
@yegor256 @g4s8 is this bug still being experienced? Seems like there was a fix in #695.

[2018-05-16 08:47] carlosmiranda commented on #564
@0crat wait for clarifications

[2018-05-16 08:49] 0crat commented on #564
@carlosmiranda The impediment for [#564](https://github.com/zerocracy/farm/issues/564) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-05-16 08:54] 0crat commented on #360
The job [#360](https://github.com/zerocracy/farm/issues/360) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1360857823); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-05-16 09:00] 0crat commented on #438
The job [#438](https://github.com/zerocracy/farm/issues/438) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1360861929); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-05-16 10:32] yegor256 commented on #1018
@amihaiemil we keep all our configuration data in that HTML page. I agree, it's not stable now. I will do something in order to make it more reliable.

[2018-05-16 10:33] yegor256 commented on #1018
@elenavolokhova fixed: https://github.com/zerocracy/zerocracy.github.io/commit/6d07b7690dcb1d81a68a62dca1671706ed26806a

[2018-05-16 10:33] #1018 closed

[2018-05-16 10:33] yegor256 commented on #1020
@VsSekorin it's fixed already, thanks

[2018-05-16 10:33] #1020 closed

[2018-05-16 10:35] yegor256 commented on #1019
@g4s8 agreed, fixed: https://github.com/zerocracy/zerocracy.github.io/commit/0888811c83f786ec21e6793cb77465df82ec2c80

[2018-05-16 10:35] #1019 closed

[2018-05-16 10:48] 0crat commented on #1018
The job is not in WBS, won't close the order

[2018-05-16 10:48] 0crat commented on #1020
The job is not in WBS, won't close the order

[2018-05-16 10:50] 0crat commented on #1019
The job is not in WBS, won't close the order

[2018-05-16 11:26] krzyk opened #1021 "https://www.0crat.com/board not working"
https://www.0crat.com/board and all pages that I think require DB connection (e.g. agenda, team, self page) are not working, there is a heroku "Application Error" page.

The only page working right now is the main one (https://www.0crat.com), terms and policy.

Please make it work.

[2018-05-16 11:26] 0crat commented on #1021
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-16 11:48] g4s8 commented on #1019
@yegor256 thanks

[2018-05-16 12:26] krzyk opened #1022 "TkProfileTest, TkAwardsTest and TkAgentaTest are broken"
`TkProfileTest.rendersHomePage`, `TkAwardsTest.rendersAgendaPage` and `TkAgentaTest.rendersAgendaPage` when run from IntelliJ they are throwing exceptions like:
[code]

And generate a html page that contains "Internal server error", having done that those tests still pass. They should not pass in such case.

To recreate this issue, you need to do `mvn clean` and then try to run test in IDEA.

[2018-05-16 12:27] 0crat commented on #1022
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-16 16:02] llorllale commented on #997
@yegor256 FYI I just manually instructed 0crat to pay @paulodamaso 30min for yegor256/cactoos#747

[2018-05-16 16:07] elenavolokhova commented on #1018
@yegor256 what about payment for all these tickets? 0crat refuses my review now. No one was paid.

[2018-05-16 16:18] paulodamaso commented on #1018
@elenavolokhova The payment for https://github.com/yegor256/cactoos/issues/747 was added to my wallet some minutes ago.

[2018-05-16 20:46] cancellier opened #1023 "cannot apply to sandbox project because of acquiring "people.xml" in "PMO""
An `java.lang.IllegalStateException` was thrown when I have tried to apply in sandbox project.
I have sent `apply sandbox` to `0crat` on Telegram and it replied :

[2018-05-16 20:46] 0crat commented on #1023
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-16 20:46] 0crat commented on #1023
@cancellier[/z](https://www.0crat.com/u/cancellier) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-17 13:37] 0crat commented on #589
The job [#589](https://github.com/zerocracy/farm/issues/589) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1371350053); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-05-17 13:41] 0crat commented on #601
The job [#601](https://github.com/zerocracy/farm/issues/601) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1371355216); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-05-17 13:49] krzyk commented on #589
@neonailol Didn't you fix it already in #590? If so pls close this issue.

[2018-05-17 17:11] neonailol commented on #589
@krzyk yes, all good now

[2018-05-17 17:11] #589 closed

[2018-05-17 17:30] 0crat commented on #589
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-17 17:30] 0crat commented on #589
The job [#589](https://github.com/zerocracy/farm/issues/589) is now out of scope

[2018-05-17 17:36] 0crat commented on #613
The job [#613](https://github.com/zerocracy/farm/issues/613) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1371753968); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-05-17 17:42] 0crat commented on #687
The job [#687](https://github.com/zerocracy/farm/issues/687) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1371761143); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-05-17 19:05] 0crat commented on #589
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-05-17 19:07] 0crat commented on #589
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-05-17 20:35] #1021 closed

[2018-05-17 20:51] 0crat commented on #1021
The job is not in WBS, won't close the order

[2018-05-18 11:28] 0crat commented on #773
The job [#773](https://github.com/zerocracy/farm/issues/773) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1381137931); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-05-18 11:29] krzyk commented on #773
@0crat refuse

[2018-05-18 11:30] 0crat commented on #773
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#773](https://github.com/zerocracy/farm/issues/773), please stop working. Reason for job resignation: Order was cancelled

[2018-05-18 11:31] 0crat commented on #773
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-18 11:33] 0crat commented on #783
The job [#783](https://github.com/zerocracy/farm/issues/783) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1381143119); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-05-18 12:44] g4s8 commented on #701
@yegor256 PR #904 was merged, can we close?

[2018-05-18 12:46] 0crat commented on #773
The job [#773](https://github.com/zerocracy/farm/issues/773) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1381258514); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-05-18 17:56] llorllale opened #1026 "breakup is adding 256 points, not deducting"
The `breakup` command is doing the opposite of what the policy says: it's actually adding 256 points to the mentor instead of deducting them.

For example, I just broke up with a student and this was my award:

[code]

[2018-05-18 17:56] 0crat commented on #1026
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-18 17:56] 0crat commented on #1026
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-18 19:09] krzyk commented on #194
@yegor256 ping

[2018-05-18 19:15] 0crat commented on #758
The job [#758](https://github.com/zerocracy/farm/issues/758) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1381940117); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-05-18 19:36] 0crat commented on #194
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-19 08:06] g4s8 opened #1028 "Penalty for ARC if PR is not merged"
ARC doesn't have enough motivation to close (merge) pull requests which was reviewed. I think we can add a penalty for ARC if PR was approved (we can check review status via GitHub API) but not merged or closed within 10? days.

[2018-05-19 08:06] 0crat commented on #1028
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-19 08:15] 0crat commented on #831
The job [#831](https://github.com/zerocracy/farm/issues/831) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1390817127); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-05-19 08:18] 0crat commented on #840
The job [#840](https://github.com/zerocracy/farm/issues/840) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1390820207); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-05-19 09:13] g4s8 commented on #575
@0crat refuse

[2018-05-19 09:14] 0crat commented on #575
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#575](https://github.com/zerocracy/farm/issues/575), please stop working. Reason for job resignation: Order was cancelled

[2018-05-19 09:14] 0crat commented on #575
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-19 09:17] g4s8 commented on #559
@0crat refuse

[2018-05-19 09:18] 0crat commented on #559
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#559](https://github.com/zerocracy/farm/issues/559), please stop working. Reason for job resignation: Order was cancelled

[2018-05-19 09:18] 0crat commented on #559
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-19 10:47] yegor256 commented on #701
@0crat thanks!

[2018-05-19 10:47] #701 closed

[2018-05-19 10:47] 0crat commented on #701
@yegor256 Can't understand "thanks!", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of

[2018-05-19 11:03] 0crat commented on #701
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-19 11:03] 0crat commented on #701
The job [#701](https://github.com/zerocracy/farm/issues/701) is now out of scope

[2018-05-19 11:06] ypshenychka commented on #701
@0crat quality good

[2018-05-19 11:09] 0crat commented on #701
Order was finished, quality is "good": +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-19 11:09] 0crat commented on #701
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-05-19 13:41] yegor256 commented on #194
@krzyk thanks

[2018-05-19 13:41] #194 closed

[2018-05-19 13:45] yegor256 commented on #952
@g4s8 which one you would recommend to stay with?

[2018-05-19 13:48] yegor256 commented on #1022
@krzyk let's fix this by moving `.xsl` files to the `resources` directory. Then, Maven should process them and place at `target/classes/...`

[2018-05-19 13:48] 0crat commented on #1022
Job [#1022](https://github.com/zerocracy/farm/issues/1022) is now in scope, role is `DEV`

[2018-05-19 13:50] yegor256 commented on #761
@0crat out

[2018-05-19 13:51] 0crat commented on #1022
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-19 13:51] 0crat commented on #761
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-19 13:51] 0crat commented on #761
@yegor256 The job [#761](https://github.com/zerocracy/farm/issues/761) is now out of scope

[2018-05-19 13:56] 0crat commented on #194
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1391354486, Type: 'Close job', Author: yegor256

[2018-05-19 13:56] 0crat commented on #194
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-19 13:56] 0crat commented on #194
The job [#194](https://github.com/zerocracy/farm/issues/194) is now out of scope

[2018-05-19 14:00] 0crat commented on #1026
The job [#1026](https://github.com/zerocracy/farm/issues/1026) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1391414098); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-05-19 14:01] 0crat commented on #1026
Job `gh:zerocracy/farm#1026` already assigned to @yegor256, can't assign to @yegor256

[2018-05-19 14:01] 0crat commented on #1026
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-19 14:01] 0crat commented on #1026
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-19 14:02] yegor256 commented on #1026
@llorllale thanks, fixed in 16c35b7

[2018-05-19 14:02] #1026 closed

[2018-05-19 14:04] yegor256 commented on #703
@g4s8 if the ticket is not closed, the puzzle is still in the code base. Are you sure it's gone?

[2018-05-19 14:17] 0crat commented on #1023
The job [#1023](https://github.com/zerocracy/farm/issues/1023) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1391416381); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-05-19 14:17] 0crat commented on #1023
Job `gh:zerocracy/farm#1023` already assigned to @yegor256, can't assign to @yegor256

[2018-05-19 14:17] 0crat commented on #1023
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @cancellier[/z](https://www.0crat.com/u/cancellier)

[2018-05-19 14:17] 0crat commented on #1023
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-19 14:18] yegor256 commented on #1023
@cancellier have you tried to apply again? Did it work?

[2018-05-19 14:18] 0crat commented on #1026
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-19 14:18] 0crat commented on #1026
The job [#1026](https://github.com/zerocracy/farm/issues/1026) is now out of scope

[2018-05-19 14:27] ypshenychka commented on #194
@yegor256 Please advice, how should I evaluate the ticket in this case. In fact no solution was provided. but on the other hand @krzyk spent some time to reproduce and check if it's working or not.

[2018-05-19 14:38] g4s8 commented on #761
@ypshenychka this bug was fixed in #998 PR

[2018-05-19 14:38] victornoel commented on #1004
@yegor256 same problem happened in https://github.com/yegor256/cactoos/issues/588#issuecomment-390409126 (but with less impact, it was just for registering an impediment).

[2018-05-19 14:45] yegor256 commented on #194
@ypshenychka I would say it's "acceptable"

[2018-05-19 14:49] g4s8 opened #1029 "QA rule improvement"
This QA rule looks redundant if pull request has a link to ticket, because GitHub automatically add a reference to pull request in a ticket:

I'd change it to:

So this rule accept both ticket comments and GitHub links.

[2018-05-19 14:49] 0crat commented on #1029
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-19 14:50] g4s8 commented on #761
@ypshenychka BTW what do you think about #1029 ?

[2018-05-19 14:53] yegor256 commented on #1029
@g4s8 fixed, thanks https://github.com/zerocracy/zerocracy.github.io/commit/c20dbfec40d07608654bfe5e529d086b246bd36b

[2018-05-19 14:53] #1029 closed

[2018-05-19 15:02] g4s8 commented on #703
@yegor256 yes, I can't find it with text-search in fresh master branch:
[code]
also I can't find it in `0pdd.xml` file generated with command `pdd --source=$(pwd) --verbose --file=/tmp/0pdd.xml`

[2018-05-19 15:05] g4s8 commented on #761
@ypshenychka QA rules has changed:

so it's ok now to reference PR via GitHub links: https://github.com/zerocracy/farm/issues/761#ref-pullrequest-320706735

[2018-05-19 15:09] 0crat commented on #1029
The job is not in WBS, won't close the order

[2018-05-19 15:35] victornoel commented on #1004
@yegor256 actually, even though 0crat said the empediment is registered (see https://github.com/yegor256/cactoos/issues/588#issuecomment-390412785), when looking at my agenda on 0crat.com, the job is not marked on hold.

[2018-05-19 15:37] ypshenychka commented on #761
@g4s8 I think that reference is indeed enough. Thanks for an update!

[2018-05-19 15:38] ypshenychka commented on #761
@0crat quality good

[2018-05-19 15:39] 0crat commented on #761
Order was finished, quality is "good": +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-19 15:39] 0crat commented on #761
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-05-19 15:41] 0crat commented on #848
The job [#848](https://github.com/zerocracy/farm/issues/848) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1391543291); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-05-19 15:44] 0crat commented on #808
The job [#808](https://github.com/zerocracy/farm/issues/808) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1391546371); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-05-19 15:46] 0crat commented on #875
The job [#875](https://github.com/zerocracy/farm/issues/875) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1391548447); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-05-19 15:48] 0crat commented on #896
The job [#896](https://github.com/zerocracy/farm/issues/896) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1391550531); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-05-19 16:57] yegor256 commented on #703
@g4s8 but it's still there: http://www.0pdd.com/p?name=zerocracy/farm

[2018-05-19 18:56] proshin-roman commented on #1006
@0crat wait

[2018-05-19 18:56] 0crat commented on #1006
@proshin-roman The impediment for [#1006](https://github.com/zerocracy/farm/issues/1006) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-19 18:56] proshin-roman commented on #532
@0crat wait

[2018-05-19 18:57] 0crat commented on #532
@proshin-roman The impediment for [#532](https://github.com/zerocracy/farm/issues/532) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-19 21:52] elenavolokhova commented on #1005
@yegor256 Happened in [#863](https://github.com/yegor256/cactoos/pull/863) too.

[2018-05-20 08:14] g4s8 commented on #703
@yegor256 looks like 0pdd bug, I submitted a ticket: yegor256/0pdd#205

[2018-05-20 18:35] krzyk commented on #613
@0crat PR #1027 created

[2018-05-20 18:36] 0crat commented on #613
@krzyk Can't understand "PR", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of the job

[2018-05-20 18:36] 0crat commented on #402
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-20 18:50] krzyk commented on #721
@0crat refuse

[2018-05-20 18:51] 0crat commented on #721
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#721](https://github.com/zerocracy/farm/issues/721), please stop working. Reason for job resignation: Order was cancelled

[2018-05-20 18:52] 0crat commented on #721
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-21 06:16] krzyk opened #1032 "FootprintTest.cleanOldClaims is not stable"
`FootprintTest.cleanOldClaims` sometimes fails, I once saw it in [travis](https://travis-ci.org/zerocracy/farm/builds/380839701) and now it failed also on my local machine:

[code]

Please make it stable.

[2018-05-21 06:16] 0crat commented on #1032
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-21 08:09] g4s8 commented on #848
@yegor256 please see https://github.com/zerocracy/datum/issues/343

[2018-05-21 08:52] g4s8 commented on #952
@yegor256 I'd use new time API because:
1. All classes are immutable and thread-safe
2. It's more understandable than `Calendar` class for time calculation and comparation
3. It supports both time with timezones and local times
4. It's easier to format and parse

[2018-05-21 11:36] 0crat commented on #360
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-21 11:36] 0crat commented on #438
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-21 12:47] #703 closed

[2018-05-21 12:47] 0pdd commented on #703
The puzzle `258-bca58f1a` has disappeared from the source code, that's why I closed this issue.

[2018-05-21 12:47] 0crat commented on #703
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/farm#703, Action: `closed`

[2018-05-21 12:47] 0pdd opened #1035 "Options.java:33-36: Options are not used. Election should..."
The puzzle `703-5f3e27dc` from #703 has to be resolved:

https://github.com/zerocracy/farm/blob/563619f5122e47543f287b567238bb26a852f28a/src/main/java/com/zerocracy/pmo/Options.java#L33-L36

The puzzle was created by Yegor Bugayenko on 21-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-05-21 12:47] 0crat commented on #1035
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-21 12:47] 0crat commented on #1035
Job [#1035](https://github.com/zerocracy/farm/issues/1035) is now in scope, role is `DEV`

[2018-05-21 12:47] 0pdd opened #1036 "_after.groovy:23-27: Implement stakeholder..."
The puzzle `889-ebed2d87` from #889 has to be resolved:

https://github.com/zerocracy/farm/blob/563619f5122e47543f287b567238bb26a852f28a/src/test/resources/com/zerocracy/bundles/turn_on_vacation_for_too_many_negative_awards/_after.groovy#L23-L27

The puzzle was created by Yegor Bugayenko on 21-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets ins

[2018-05-21 12:47] 0pdd commented on #703
@0pdd the puzzle [#1035](https://github.com/zerocracy/farm/issues/1035) is still not solved.

[2018-05-21 12:47] 0pdd commented on #889
@yegor256 the puzzle [#1036](https://github.com/zerocracy/farm/issues/1036) is still not solved.

[2018-05-21 12:47] 0crat commented on #1036
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-21 12:48] 0crat commented on #1036
Job [#1036](https://github.com/zerocracy/farm/issues/1036) is now in scope, role is `DEV`

[2018-05-21 13:02] 0crat commented on #703
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-21 13:02] 0crat commented on #703
The job [#703](https://github.com/zerocracy/farm/issues/703) is now out of scope

[2018-05-21 13:28] ypshenychka commented on #703
@0crat quality good

[2018-05-21 13:29] 0crat commented on #703
Order was finished, quality is "good": +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-21 13:29] 0crat commented on #703
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-05-21 13:31] 0crat commented on #902
The job [#902](https://github.com/zerocracy/farm/issues/902) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1411371210); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-05-21 14:03] 0crat commented on #703
The job is not in WBS, won't close the order

[2018-05-21 16:12] SilasReinagel commented on #1028
This seems like a very important feature.

[2018-05-21 16:13] yegor256 opened #1037 "NPE in Saxon"
Very rarely I see this exception when building locally. I believe, there is some concurrency issue inside Saxon. Let's fix somehow (maybe synchronize).

[code]

[2018-05-21 16:14] 0crat commented on #1037
Job [#1037](https://github.com/zerocracy/farm/issues/1037) is now in scope, role is `DEV`

[2018-05-21 16:14] 0crat commented on #1037
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-21 16:17] 0crat commented on #559
The job [#559](https://github.com/zerocracy/farm/issues/559) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1411662982); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-05-21 16:20] yegor256 commented on #1004
@elenavolokhova I believe it was a synchronization issue on the server. We had too many concurrent events to one GitHub issue and they got in conflict. Should not happen anymore: 096615fff3beee8d1521a62dba0b57163c5c95d3

[2018-05-21 16:22] 0crat commented on #1004
Job `gh:zerocracy/farm#1004` already assigned to @yegor256, can't assign to @yegor256

[2018-05-21 16:23] 0crat commented on #1004
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-21 16:23] 0crat commented on #1004
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-21 16:39] 0crat commented on #1004
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-21 16:39] 0crat commented on #1004
The job [#1004](https://github.com/zerocracy/farm/issues/1004) is now out of scope

[2018-05-21 16:49] yegor256 commented on #1005
@elenavolokhova seems to be a duplicate of #1004 Won't happen again, I believe.

[2018-05-21 16:49] #1005 closed

[2018-05-21 16:52] yegor256 commented on #1028
@g4s8 but there is money involved? The ARC gets a payment when the code is merged and a PR is closed. Aside from that, how a bot can understand that the PR _must_ be approved or not?

[2018-05-21 16:54] SilasReinagel commented on #1028
@yegor256 Good project managers know that speed of delivery is one of the most valuable things for a project. 0crat should do everything he can to get PRs merged in as fast and frequently as possible. This must mean disincentives/punishment for anyone who slows down the project.

All PRs should be merged/rejected as fast as possible. Anything that prevents the timely resolution of a PR should be f

[2018-05-21 16:56] g4s8 commented on #1028
@yegor256 yes, not money, but ARC can get negative reputation if  he/she didn't merge PR within 10 days. We can know PR review status via GitHub API: https://developer.github.com/v3/pulls/reviews/#list-reviews-on-a-pull-request

[2018-05-21 16:57] yegor256 commented on #1028
@g4s8 @SilasReinagel how about a penalty for long REV tasks? When a PR is merged, the task is closed. We know how long it took. If it was longer than X days, the ARC gets a penalty. If longer than Y days, a very big penalty. Make sense?

[2018-05-21 16:59] SilasReinagel commented on #1028
@yegor256 Is the completion of the REV task always simultaneous with the merging of the PR?

If those are different, then that seems insufficient.

[2018-05-21 17:01] g4s8 commented on #1028
@yegor256 yes, it make sense.

[2018-05-21 17:03] yegor256 commented on #1028
@SilasReinagel completion of REV task and closing the PR are same things.

[2018-05-21 17:04] yegor256 commented on #1028
@g4s8 let's do -15 for "over 8 days" and -60 for "over 16 days"?

[2018-05-21 17:04] 0crat commented on #1005
The job is not in WBS, won't close the order

[2018-05-21 17:09] 0crat commented on #1028
Job [#1028](https://github.com/zerocracy/farm/issues/1028) is now in scope, role is `DEV`

[2018-05-21 17:10] 0crat commented on #1028
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-21 19:29] krzyk commented on #783
@0crat refuse

[2018-05-21 19:29] 0crat commented on #783
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#783](https://github.com/zerocracy/farm/issues/783), please stop working. Reason for job resignation: Order was cancelled

[2018-05-21 19:29] krzyk commented on #733
@0crat refuse

[2018-05-21 19:30] 0crat commented on #733
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#733](https://github.com/zerocracy/farm/issues/733), please stop working. Reason for job resignation: Order was cancelled

[2018-05-21 19:30] 0crat commented on #783
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-21 19:30] 0crat commented on #733
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-22 07:33] krzyk opened #1038 "local dynamodb setup is not stable"
I have a [PR build](https://travis-ci.org/zerocracy/farm/builds/381536262?utm_source=github_status&utm_medium=notification) where I got an issue with dynamodb:
[code]

Please make dynamodb setup more stable so it won't fail a build.

[2018-05-22 07:33] 0crat commented on #1038
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-22 14:36] 0crat commented on #601
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-22 18:37] 0crat commented on #613
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-22 18:37] 0crat commented on #687
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-22 19:02] t-izbassar commented on #565
@0crat wait for #1040 to be merged.

[2018-05-22 19:03] 0crat commented on #565
@t-izbassar The impediment for [#565](https://github.com/zerocracy/farm/issues/565) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-05-22 20:37] proshin-roman opened #1041 "Build is failing on Windows"
I've tried to build the latest version of the project on Windows 10 running this command:
[code]
but I got 6 test failures. 5 failed tests are:

- com.zerocracy.tk.project.TkArtifactTest#rendersHomePage
- com.zerocracy.tk.project.TkFootprintTest#rendersListOfClaims
- com.zerocracy.pm.cost.EquityTest#addValue
- com.zerocracy.tk.TkAppTest#rendersHomePageViaHttp
- com.zerocracy.tk.profile.TkIdentifyT

[2018-05-22 20:37] 0crat commented on #1041
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-22 20:43] proshin-roman opened #1042 "There is no CI on Windows OS (Appveyor)"
I have a problem that the project doesn't build on Windows OS (see #1041).

Having CI process on [Appveyor](https://www.appveyor.com/) (which is Windows-based) could identify the problem immediately when it was introduced.

**TODO:**
- configure CI process on [Appveyor](https://www.appveyor.com/) for the project

P.S. The build will fail until #1041 is fixed.

[2018-05-22 20:43] 0crat commented on #1042
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-23 05:53] krzyk commented on #402
@0crat waiting for @yegor256 approval

[2018-05-23 05:54] 0crat commented on #402
@krzyk The impediment for [#402](https://github.com/zerocracy/farm/issues/402) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-23 05:54] krzyk commented on #438
@0crat waiting for @yegor256 approval

[2018-05-23 05:54] krzyk commented on #613
@0crat waiting for @yegor256 approval in PR #1027

[2018-05-23 05:54] 0crat commented on #438
@krzyk The impediment for [#438](https://github.com/zerocracy/farm/issues/438) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-23 05:54] 0crat commented on #613
@krzyk The impediment for [#613](https://github.com/zerocracy/farm/issues/613) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-23 05:55] krzyk commented on #687
@0crat waiting for @yegor256 approval in #1031

[2018-05-23 05:55] 0crat commented on #687
@krzyk The impediment for [#687](https://github.com/zerocracy/farm/issues/687) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-23 13:36] 0crat commented on #773
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-23 19:01] paulodamaso opened #1043 "0crat assign task but it does not appear in agenda"
PR https://github.com/yegor256/cactoos/pull/866 was assigned to my by 0crat, but it does not appear in my agenda and github not does mark me as its owner.

[2018-05-23 19:01] 0crat commented on #1043
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-23 19:01] 0crat commented on #1043
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-23 19:13] paulodamaso opened #1044 "0crat didn't paid me for llorllale/cactoos-matchers/#9"
Recently I've reviewed PR https://github.com/llorllale/cactoos-matchers/pull/9 , the requested changes were made and QA was assured, marking review with a good quality mark. `ARC` and `QA` received their points, but none came to me, `REV`. Ididn't received any payment either; this issues does not show in my agenda, neither in wallet, and it's already been closed by QA reviewer.