[2018-08-21 11:41] 0crat commented on #1622
The job [#1622](https://github.com/zerocracy/farm/issues/1622) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2331147236); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-21 12:25] krzyk commented on #1104
@scriptnull Please close this issue, fix has been merge to master in #1616

[2018-08-21 12:52] g4s8 commented on #1076
@rultor release, tag=`0.30.7`

[2018-08-21 12:55] rultor commented on #1076
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15721-414662945)

[2018-08-21 13:08] krzyk commented on #1151
@0crat refuse

[2018-08-21 13:12] krzyk commented on #1588
@0crat refuse

[2018-08-21 13:13] rultor commented on #1076
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15721-414662945) (took me 18min)

[2018-08-21 13:28] #1104 closed

[2018-08-21 14:01] 0crat commented on #1151
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1151](https://github.com/zerocracy/farm/issues/1151), please stop working. Reason for job resignation: Order was cancelled

[2018-08-21 14:05] 0crat commented on #1588
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1588](https://github.com/zerocracy/farm/issues/1588), please stop working. Reason for job resignation: Order was cancelled

[2018-08-21 14:52] 0crat commented on #1104
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-21 14:52] 0crat commented on #1151
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-21 14:56] 0crat commented on #1104
The job [#1104](https://github.com/zerocracy/farm/issues/1104) is now out of scope

[2018-08-21 17:10] paulodamaso commented on #512
@ypshenychka sorry, made some confusion working in parallel with another issue. I confirm that I'll avoid these mistakes in the future.

[2018-08-21 21:47] yegor256 opened #1629 "new keys"
I will revoke some access keys and deploy again

[2018-08-21 21:48] 0crat commented on #1629
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-21 22:02] yegor256 commented on #1629
@rultor release, tag is `0.30.8`

[2018-08-21 22:04] rultor commented on #1629
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15739-414836529)

[2018-08-22 04:43] yegor256 commented on #1629
@rultor release, tag is `0.30.9`

[2018-08-22 04:45] rultor commented on #1629
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15739-414909435)

[2018-08-22 05:02] rultor commented on #1629
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15739-414909435) (spent 17min)

[code]

[2018-08-22 05:10] yegor256 commented on #1629
@rultor release, tag is `0.30.9`

[2018-08-22 05:11] rultor commented on #1629
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15739-414913527)

[2018-08-22 05:30] rultor commented on #1629
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15739-414913527) (took me 18min)

[2018-08-22 05:31] #1629 closed

[2018-08-22 05:35] yegor256 opened #1633 "MessageMonitorProcTest was killed"
I deleted it at https://github.com/zerocracy/farm/commit/a52c61d96703ff2b102921e191774f3a1286423e because it didn't work, see http://www.rultor.com/t/15739-414909435 Let's put it back and make sure it actually compiles and works.

[2018-08-22 05:35] 0crat commented on #1633
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-22 06:08] 0crat commented on #1629
Job was finished in 7 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-08-22 06:11] g4s8 commented on #1590
@carlosmiranda thanks

[2018-08-22 06:11] #1590 closed

[2018-08-22 06:16] 0crat commented on #1629
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-08-22 06:18] 0crat commented on #1629
The job [#1629](https://github.com/zerocracy/farm/issues/1629) is now out of scope

[2018-08-22 06:33] 0crat commented on #1590
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-22 06:34] 0crat commented on #1590
The job [#1590](https://github.com/zerocracy/farm/issues/1590) is now out of scope

[2018-08-22 06:49] carlosmiranda commented on #1533
@0crat refuse

[2018-08-22 06:49] 0crat commented on #1533
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1533](https://github.com/zerocracy/farm/issues/1533), please stop working. Reason for job resignation: Order was cancelled

[2018-08-22 06:50] 0crat commented on #1533
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-22 08:15] g4s8 opened #1635 "ARC release bonuses are not balanced"
ARC release bonuses doesn't reflect actual amount of work spent by ARC in a project.
Right now it depends on total amount of claims exluding system (`Ping*`, `Notify*`) claims since last release.
I think instead of exluding some claim types we should filter claims by whitelist:
 * `Order was given` (ARC can checks who was assigned to a ticket)
 * `Order was cancelled` (ARC cancel order)
 * `Order

[2018-08-22 09:10] g4s8 commented on #1520
@yegor256 ping, please see this bug

[2018-08-22 09:12] g4s8 commented on #1288
@llorllale this issue was fixed with ARC release bonuses.

[2018-08-22 09:12] #1288 closed

[2018-08-22 09:13] g4s8 commented on #1332
@yegor256 ping, please see this issue

[2018-08-22 09:30] 0crat commented on #1566
Job [#1566](https://github.com/zerocracy/farm/issues/1566) is now in scope, role is `DEV`

[2018-08-22 10:46] 0crat commented on #1288
The job is not in WBS, won't close the order

[2018-08-22 10:46] 0crat commented on #1288
Job `gh:zerocracy/farm#1288` is not assigned, can't get performer

[2018-08-22 10:57] 0crat commented on #1566
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-22 11:07] ypshenychka commented on #1590
@0crat quality good

[2018-08-22 12:26] paulodamaso opened #1636 "FootprintTest is not being cleared after tests"
Unit tests are not clearing `FootprintTest`, as discovered in https://github.com/zerocracy/farm/pull/1612#issuecomment-414812891 . Fix the problem and uncomment `dont_add_closed_job_to_wbs/_before.groovy` so it can be tested along with the rest of the bundles.

[2018-08-22 12:26] 0crat commented on #1636
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-22 12:36] 0crat commented on #1590
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-22 12:40] 0crat commented on #1590
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-22 12:46] 0crat commented on #1606
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-22 12:46] 0crat commented on #1465
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-22 14:09] krzyk commented on #1606
@paulodamaso ping

[2018-08-22 14:10] krzyk commented on #1606
@0crat waiting for review of PR #1618

[2018-08-22 14:12] 0crat commented on #1606
@krzyk The impediment for [#1606](https://github.com/zerocracy/farm/issues/1606) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-22 15:06] 0pdd commented on #1534
@g4s8 the only puzzle [#1606](https://github.com/zerocracy/farm/issues/1606) is solved here.

[2018-08-22 16:04] 0crat commented on #1606
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-22 16:31] 0crat commented on #1606
The job [#1606](https://github.com/zerocracy/farm/issues/1606) is now out of scope

[2018-08-22 16:34] 0crat commented on #1609
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-22 19:48] paulodamaso commented on #512
@ypshenychka ping

[2018-08-23 06:47] carlosmiranda opened #1637 "AsyncProc does not clean up its thread pool"
`AsyncProc` does not close its internal thread pool, anywhere. We should have some mechanism to do so. Our options:

1. We close it externally
2. Convert it into a `ScheduledExecutorService` and have a scheduled task monitor `ShutdownFarm.Hook` at regular intervals, so it can shut itself down by the hook state.

[2018-08-23 06:47] 0crat commented on #1637
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-23 08:10] Vatavuk commented on #1565
@g4s8 Is there a way I can refuse an applicant? I'm not receiving any new applications because I'm stuck on examination process and `deny` command is not working.

[2018-08-23 08:25] ypshenychka commented on #1104
@0crat quality good

[2018-08-23 08:31] 0crat commented on #1104
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-23 08:31] 0crat commented on #1104
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-23 08:40] 0crat commented on #1333
The job [#1333](https://github.com/zerocracy/farm/issues/1333) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2350840794); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-23 08:41] ypshenychka commented on #1606
@0crat quality good

[2018-08-23 08:41] ypshenychka commented on #512
@paulodamaso thanks

[2018-08-23 08:41] ypshenychka commented on #512
@0crat quality acceptable

[2018-08-23 08:48] 0crat commented on #1606
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-23 08:48] 0crat commented on #1606
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-23 08:50] 0crat commented on #512
Order was finished, quality is "acceptable": +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-23 08:50] 0crat commented on #512
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-23 08:51] 0crat commented on #1346
The job [#1346](https://github.com/zerocracy/farm/issues/1346) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2350847910); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-23 08:55] 0crat commented on #1347
The job [#1347](https://github.com/zerocracy/farm/issues/1347) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2350856065); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-08-23 11:37] 0crat commented on #1102
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-23 13:40] paulodamaso commented on #1190
@0crat refuse

[2018-08-23 13:41] 0crat commented on #1190
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1190](https://github.com/zerocracy/farm/issues/1190), please stop working. Reason for job resignation: Order was cancelled

[2018-08-23 13:44] 0crat commented on #1190
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-23 14:05] 0crat commented on #1533
The job [#1533](https://github.com/zerocracy/farm/issues/1533) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2351409565); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-08-23 14:38] 0crat commented on #1533
@uurl This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1533](https://github.com/zerocracy/farm/issues/1533) is [in scope](http://www.zerocracy.com/policy.html#14) for 21days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is

[2018-08-23 15:45] uurl commented on #1247
@0crat status

[2018-08-23 15:54] olenagerasimova commented on #1396
@carlosmiranda @g4s8 I've just got same problem with one [issue from harvest](https://github.com/harvest-foundation/telegram/issues/169)
![image](https://user-images.githubusercontent.com/14931449/44536660-a2a1fc00-a705-11e8-8af7-d1c24741b1c8.png)
according to 0crat I'm not banned from the job
![image](https://user-images.githubusercontent.com/14931449/44536761-d846e500-a705-11e8-80ac-b5caffc50227

[2018-08-23 15:54] 0crat commented on #1247
@uurl This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1247](https://github.com/zerocracy/farm/issues/1247) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is no

[2018-08-23 16:43] g4s8 commented on #1565
@Vatavuk this command is not implemented yet. This issue is a duplicate of #1552

[2018-08-23 17:02] Vatavuk commented on #1565
@g4s8 ok, closing this

[2018-08-23 17:02] #1565 closed

[2018-08-23 17:03] 0crat commented on #1565
Job `gh:zerocracy/farm#1565` is not assigned, can't get performer

[2018-08-23 17:03] 0crat commented on #1565
You @vatavuk[/z](https://www.0crat.com/u/vatavuk) need to have one of these roles in order to do "Remove job from WBS": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2018-08-23 17:41] 0crat commented on #1637
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-23 18:07] 0pdd opened #1640 "Wbs.java:42-44: Modify add method to accept user that..."
The puzzle `1159-ca75469b` from #1159 has to be resolved:

https://github.com/zerocracy/farm/blob/5b444ab0764a726f64468137ebe5ce3d32fe4067/src/main/java/com/zerocracy/pm/scope/Wbs.java#L42-L44

The puzzle was created by rultor on 23-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and th

[2018-08-23 18:07] 0crat commented on #1640
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-23 18:13] 0crat commented on #1640
Job [#1640](https://github.com/zerocracy/farm/issues/1640) is now in scope, role is `DEV`

[2018-08-23 18:13] 0pdd opened #1641 "TkUserWbs.java:34-37: Change implementation of this Take..."
The puzzle `1159-ce5d7ee6` from #1159 has to be resolved:

https://github.com/zerocracy/farm/blob/5b444ab0764a726f64468137ebe5ce3d32fe4067/src/main/java/com/zerocracy/tk/profile/TkUserWbs.java#L34-L37

The puzzle was created by rultor on 23-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixe

[2018-08-23 18:13] 0crat commented on #1641
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-23 18:16] 0pdd commented on #1159
@krzyk 2 puzzles [#1640](https://github.com/zerocracy/farm/issues/1640), [#1641](https://github.com/zerocracy/farm/issues/1641) are still not solved.

[2018-08-23 18:19] 0crat commented on #1641
Job [#1641](https://github.com/zerocracy/farm/issues/1641) is now in scope, role is `DEV`

[2018-08-23 18:59] 0crat commented on #1159
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-23 19:00] 0crat commented on #1159
The job [#1159](https://github.com/zerocracy/farm/issues/1159) is now out of scope

[2018-08-23 19:06] ypshenychka commented on #1159
@0crat quality goof

[2018-08-23 19:06] ypshenychka commented on #1159
@0crat quality good

[2018-08-23 19:20] 0crat commented on #1159
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-23 19:20] 0crat commented on #1159
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-23 20:00] 0crat commented on #1636
Job [#1636](https://github.com/zerocracy/farm/issues/1636) is now in scope, role is `DEV`

[2018-08-23 20:04] paulodamaso commented on #1346
@g4s8 So Zold payment must be based in full $ / hour ratio and not on only effective (with shares part discounted) one, right?

[2018-08-23 20:05] 0crat commented on #1636
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-23 20:25] g4s8 commented on #1346
@paulodamaso yes, it should check versing rate if exists, othervise send cash param, something like this:
[code]

[2018-08-23 20:51] 0pdd commented on #1465
The puzzle `773-13f5d30a` has disappeared from the source code, that's why I closed this issue.

[2018-08-23 20:51] #1465 closed

[2018-08-23 20:51] 0pdd opened #1644 "MongoDbLock.java:26-29: Implement external locking..."
The puzzle `1465-4595fca1` from #1465 has to be resolved:

https://github.com/zerocracy/farm/blob/9c8632f205e01db20f4bba4f2ab39aad7df9a4dc/src/main/java/com/zerocracy/farm/sync/MongoDbLock.java#L26-L29

The puzzle was created by Paulo Lobo on 22-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-08-23 20:51] 0crat commented on #1644
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-23 20:52] 0pdd commented on #773
@amihaiemil 2 puzzles [#1533](https://github.com/zerocracy/farm/issues/1533), [#1644](https://github.com/zerocracy/farm/issues/1644) are still not solved; solved: [#1463](https://github.com/zerocracy/farm/issues/1463), [#1464](https://github.com/zerocracy/farm/issues/1464), [#1465](https://github.com/zerocracy/farm/issues/1465).

[2018-08-23 20:52] 0pdd commented on #1465
@0pdd the puzzle [#1644](https://github.com/zerocracy/farm/issues/1644) is still not solved.

[2018-08-23 21:12] 0crat commented on #1644
Job [#1644](https://github.com/zerocracy/farm/issues/1644) is now in scope, role is `DEV`

[2018-08-23 21:15] #1569 closed

[2018-08-23 21:15] 0pdd commented on #1569
The puzzle `1506-9a48ed63` has disappeared from the source code, that's why I closed this issue.

[2018-08-23 21:16] 0pdd opened #1645 "Resumes.java:31-36: Implement resumes.resume(login),..."
The puzzle `1569-990fecb8` from #1569 has to be resolved:

https://github.com/zerocracy/farm/blob/a6f1a22602f8d528ca9071b0f63c2c2618784c55/src/main/java/com/zerocracy/pmo/Resumes.java#L31-L36

The puzzle was created by Paulo Lobo on 22-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and

[2018-08-23 21:16] 0pdd commented on #908
@0pdd 3 puzzles [#1552](https://github.com/zerocracy/farm/issues/1552), [#1568](https://github.com/zerocracy/farm/issues/1568), [#1645](https://github.com/zerocracy/farm/issues/1645) are still not solved; solved: [#1146](https://github.com/zerocracy/farm/issues/1146), [#1147](https://github.com/zerocracy/farm/issues/1147), [#1179](https://github.com/zerocracy/farm/issues/1179), [#1352](https://git

[2018-08-23 21:16] 0pdd commented on #1147
@0pdd 2 puzzles [#1568](https://github.com/zerocracy/farm/issues/1568), [#1645](https://github.com/zerocracy/farm/issues/1645) are still not solved; solved: [#1179](https://github.com/zerocracy/farm/issues/1179), [#1506](https://github.com/zerocracy/farm/issues/1506), [#1569](https://github.com/zerocracy/farm/issues/1569).

[2018-08-23 21:16] 0pdd commented on #1179
@0pdd 2 puzzles [#1568](https://github.com/zerocracy/farm/issues/1568), [#1645](https://github.com/zerocracy/farm/issues/1645) are still not solved; solved: [#1506](https://github.com/zerocracy/farm/issues/1506), [#1569](https://github.com/zerocracy/farm/issues/1569).

[2018-08-23 21:16] 0pdd commented on #1506
@0pdd 2 puzzles [#1568](https://github.com/zerocracy/farm/issues/1568), [#1645](https://github.com/zerocracy/farm/issues/1645) are still not solved; solved: [#1569](https://github.com/zerocracy/farm/issues/1569).

[2018-08-23 21:16] 0pdd commented on #1569
@0pdd the puzzle [#1645](https://github.com/zerocracy/farm/issues/1645) is still not solved.

[2018-08-23 21:16] 0crat commented on #1645
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-23 21:45] carlosmiranda commented on #1609
@0crat wait for clarification

[2018-08-23 21:46] 0crat commented on #1465
The job [#1465](https://github.com/zerocracy/farm/issues/1465) is now out of scope

[2018-08-23 21:49] 0crat commented on #1645
Job [#1645](https://github.com/zerocracy/farm/issues/1645) is now in scope, role is `DEV`

[2018-08-23 21:52] 0crat commented on #1569
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-23 21:52] 0crat commented on #1609
@carlosmiranda The impediment for [#1609](https://github.com/zerocracy/farm/issues/1609) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-23 21:52] 0crat commented on #1569
The job [#1569](https://github.com/zerocracy/farm/issues/1569) is now out of scope

[2018-08-24 01:55] paulodamaso commented on #1102
@amihaiemil Merged, please close

[2018-08-24 02:13] paulodamaso commented on #1568
@0crat wait for `Resumes.resume()` implementation in https://github.com/zerocracy/farm/issues/1645

[2018-08-24 02:14] 0crat commented on #1568
@paulodamaso The impediment for [#1568](https://github.com/zerocracy/farm/issues/1568) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-24 04:45] #1102 closed

[2018-08-24 05:05] 0crat commented on #1102
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-24 05:05] 0crat commented on #1102
The job [#1102](https://github.com/zerocracy/farm/issues/1102) is now out of scope

[2018-08-24 05:14] 0crat commented on #1533
The job [#1533](https://github.com/zerocracy/farm/issues/1533) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2360528688); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-24 05:29] 0crat commented on #1637
The job [#1637](https://github.com/zerocracy/farm/issues/1637) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2360543804); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-24 05:58] ypshenychka commented on #1465
@0crat quality good

[2018-08-24 05:59] ypshenychka commented on #1569
@0crat quality good

[2018-08-24 06:02] ypshenychka commented on #1102
@0crat quality good

[2018-08-24 06:26] 0crat commented on #1465
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-24 06:28] 0crat commented on #1569
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-24 06:28] 0crat commented on #1569
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-24 06:29] 0crat commented on #1102
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-24 06:29] 0crat commented on #1102
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-24 06:31] 0crat commented on #1536
The job [#1536](https://github.com/zerocracy/farm/issues/1536) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2360630301); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-24 13:14] 0pdd opened #1647 "_after.groovy:22-25: 0crat ignores debt on new payment...."
The puzzle `921-1530b8b3` from #921 has to be resolved:

https://github.com/zerocracy/farm/blob/7cf6cefe08bdb59985555ac93f4bbe77d9391283/src/test/resources/com/zerocracy/bundles/add_payment_to_debts_if_has_debt/_after.groovy#L22-L25

The puzzle was created by Paulo Lobo on 21-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task wil

[2018-08-24 13:14] 0crat commented on #1647
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-24 13:14] 0pdd commented on #921
@g4s8 the puzzle [#1647](https://github.com/zerocracy/farm/issues/1647) is still not solved.

[2018-08-24 13:18] g4s8 commented on #1647
@0crat assign @paulodamaso

[2018-08-24 13:18] g4s8 commented on #921
@paulodamaso done, thanks

[2018-08-24 13:18] #921 closed

[2018-08-24 13:27] g4s8 commented on #1633
@yegor256 there was incorrect import (`javafx.utils.Duration` instead of `java.time.Duration`), it was fixed in #1634

[2018-08-24 13:27] #1633 closed

[2018-08-24 13:27] 0crat commented on #1647
Job [#1647](https://github.com/zerocracy/farm/issues/1647) is now in scope, role is `DEV`

[2018-08-24 13:32] 0crat commented on #1647
@g4s8 The job [#1647](https://github.com/zerocracy/farm/issues/1647) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2361328092); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-08-24 13:45] 0pdd opened #1648 "send_zold.groovy:44-50: Incorrect zold extra payments...."
The puzzle `1346-59918b04` from #1346 has to be resolved:

https://github.com/zerocracy/farm/blob/fbaccba76a6e221c7f5fdd327c1d0aa3b44e3344/src/main/groovy/com/zerocracy/stk/pm/cost/funding/send_zold.groovy#L44-L50

The puzzle was created by Paulo Lobo on 24-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when th

[2018-08-24 13:45] 0crat commented on #1648
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-24 13:46] 0pdd commented on #1346
@g4s8 the puzzle [#1648](https://github.com/zerocracy/farm/issues/1648) is still not solved.

[2018-08-24 13:48] 0crat commented on #1647
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-24 13:48] 0crat commented on #921
Job [#921](https://github.com/zerocracy/farm/issues/921) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't retrieve data and time of add

[2018-08-24 13:51] g4s8 commented on #1346
@paulodamaso done, thanks

[2018-08-24 13:51] #1346 closed

[2018-08-24 13:53] 0crat commented on #1633
Job `gh:zerocracy/farm#1633` is not assigned, can't get performer

[2018-08-24 13:53] 0crat commented on #1633
The job is not in WBS, won't close the order

[2018-08-24 14:10] #1552 closed

[2018-08-24 14:10] 0pdd commented on #1552
The puzzle `1486-f5becce5` has disappeared from the source code, that's why I closed this issue.

[2018-08-24 14:10] 0pdd opened #1649 "assign_examiner.groovy:39-41: Allow examiner to reject..."
The puzzle `1552-d7bf68d4` from #1552 has to be resolved:

https://github.com/zerocracy/farm/blob/17fa466890af52315d16f43d5516424aa97bf67f/src/main/groovy/com/zerocracy/stk/pmo/resumes/assign_examiner.groovy#L39-L41

The puzzle was created by Krzysztof Krason on 23-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done"

[2018-08-24 14:10] 0pdd commented on #908
@0pdd 3 puzzles [#1568](https://github.com/zerocracy/farm/issues/1568), [#1645](https://github.com/zerocracy/farm/issues/1645), [#1649](https://github.com/zerocracy/farm/issues/1649) are still not solved; solved: [#1146](https://github.com/zerocracy/farm/issues/1146), [#1147](https://github.com/zerocracy/farm/issues/1147), [#1179](https://github.com/zerocracy/farm/issues/1179), [#1352](https://git

[2018-08-24 14:10] 0pdd commented on #1146
@0pdd the puzzle [#1649](https://github.com/zerocracy/farm/issues/1649) is still not solved; solved: [#1352](https://github.com/zerocracy/farm/issues/1352), [#1353](https://github.com/zerocracy/farm/issues/1353), [#1486](https://github.com/zerocracy/farm/issues/1486), [#1552](https://github.com/zerocracy/farm/issues/1552).

[2018-08-24 14:10] 0pdd commented on #1352
@0pdd the puzzle [#1649](https://github.com/zerocracy/farm/issues/1649) is still not solved; solved: [#1486](https://github.com/zerocracy/farm/issues/1486), [#1552](https://github.com/zerocracy/farm/issues/1552).

[2018-08-24 14:10] 0pdd commented on #1486
@0pdd the puzzle [#1649](https://github.com/zerocracy/farm/issues/1649) is still not solved; solved: [#1552](https://github.com/zerocracy/farm/issues/1552).

[2018-08-24 14:10] 0pdd commented on #1552
@0pdd the puzzle [#1649](https://github.com/zerocracy/farm/issues/1649) is still not solved.

[2018-08-24 14:11] 0crat commented on #1649
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-24 14:13] 0crat commented on #921
Job [#921](https://github.com/zerocracy/farm/issues/921) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't inspect

[2018-08-24 14:14] 0crat commented on #1648
Job [#1648](https://github.com/zerocracy/farm/issues/1648) is now in scope, role is `DEV`

[2018-08-24 14:17] 0crat commented on #921
The job [#921](https://github.com/zerocracy/farm/issues/921) is now out of scope

[2018-08-24 14:27] 0crat commented on #1649
Job [#1649](https://github.com/zerocracy/farm/issues/1649) is now in scope, role is `DEV`

[2018-08-24 14:28] 0crat commented on #1346
Job was finished in 29 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-08-24 14:44] 0crat commented on #1346
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-24 14:45] 0crat commented on #1346
The job [#1346](https://github.com/zerocracy/farm/issues/1346) is now out of scope

[2018-08-24 14:47] 0crat commented on #1552
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-24 14:48] 0crat commented on #1552
The job [#1552](https://github.com/zerocracy/farm/issues/1552) is now out of scope

[2018-08-24 16:31] paulodamaso commented on #1622
@g4s8 I forgot to remove the todo, so ` 0pdd` won't close the task. What do we do?

[2018-08-24 16:58] 0pdd commented on #1622
The puzzle `1545-78dce506` has disappeared from the source code, that's why I closed this issue.

[2018-08-24 16:58] #1622 closed

[2018-08-24 16:58] 0pdd commented on #1545
@g4s8 the puzzle [#1621](https://github.com/zerocracy/farm/issues/1621) is still not solved; solved: [#1622](https://github.com/zerocracy/farm/issues/1622).

[2018-08-24 17:01] paulodamaso commented on #1622
@g4s8 Thanks!

[2018-08-24 19:33] paulodamaso commented on #1536
@g4s8 So on every `Recharge project` claims we give 4% of the value to the advisor, correct?

[2018-08-24 20:21] pinaf opened #1651 "Add BCH payments"
Let's add BCC/BCH (bitcoin cash) payments as coinbase already supports them.

[2018-08-25 07:12] ypshenychka commented on #1622
@0crat quality good

[2018-08-25 07:26] 0crat commented on #1346
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-25 07:39] 0crat commented on #1552
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-25 07:39] 0crat commented on #1552
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-25 07:41] g4s8 commented on #1536
@yegor256 please see https://github.com/zerocracy/farm/issues/1536#issuecomment-415860748, is it correct?

[2018-08-25 07:46] 0crat commented on #1304
The job [#1304](https://github.com/zerocracy/farm/issues/1304) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2370746067); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-08-25 07:47] 0crat commented on #1304
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-25 07:47] g4s8 commented on #1651
@pinaf please see this conversation: https://github.com/zerocracy/farm/issues/980

[2018-08-25 08:03] 0crat commented on #1644
The job [#1644](https://github.com/zerocracy/farm/issues/1644) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2370803230); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-25 08:13] 0crat commented on #1648
The job [#1648](https://github.com/zerocracy/farm/issues/1648) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2370813306); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-25 08:33] 0crat commented on #1649
The job [#1649](https://github.com/zerocracy/farm/issues/1649) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2370833467); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-25 13:29] krzyk opened #1654 "add_speed_bonus test is commented out"
add_speed_bonus stakeholder test is commented out, but there is no todo to fix/uncomment it.
So there is a possibility that the speed bonus breaks in the future and we won't know about it.

[2018-08-25 13:29] 0crat commented on #1654
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-25 15:56] pinaf commented on #1651
@g4s8 argh, thanks. so it's either ZLD or waiting for the java implementation for coinbase v2.

[2018-08-25 15:56] #1651 closed

[2018-08-25 15:57] pinaf commented on #1651
@g4s8 they have v2 libraries for php and ruby but not java.

[2018-08-25 16:13] 0crat commented on #1651
The job is not in WBS, won't close the order

[2018-08-25 16:13] 0crat commented on #1651
Job `gh:zerocracy/farm#1651` is not assigned, can't get performer

[2018-08-26 02:47] paulodamaso commented on #921
@0crat status

[2018-08-26 02:48] 0crat commented on #921
@paulodamaso This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#921](https://github.com/zerocracy/farm/issues/921) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 2days
  * @paulodamaso[/z](https://www.0crat.com/u/pauloda

[2018-08-26 02:52] paulodamaso commented on #921
@ypshenychka please take a look, looks like 0crat forgot to notify you

[2018-08-26 07:14] ypshenychka commented on #921
@paulodamaso thanks! looking into it

[2018-08-26 07:16] ypshenychka commented on #921
@0crat quality good

[2018-08-26 11:38] g4s8 commented on #1654
@krzyk it's a duplicate of #1535

[2018-08-26 11:38] #1654 closed

[2018-08-26 11:39] 0crat commented on #1654
Job `gh:zerocracy/farm#1654` is not assigned, can't get performer

[2018-08-27 08:01] 0pdd opened #1657 "CatalogTest.java:51-53: Board page is slow, load all..."
The puzzle `1333-6882f9fb` from #1333 has to be resolved:

https://github.com/zerocracy/farm/blob/ffcdf7d6d683d04a11aa93ebc9dcb82583789354/src/test/java/com/zerocracy/pmo/CatalogTest.java#L51-L53

The puzzle was created by rultor on 27-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and

[2018-08-27 08:01] 0crat commented on #1657
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-27 08:01] 0pdd commented on #1333
@g4s8 the puzzle [#1657](https://github.com/zerocracy/farm/issues/1657) is still not solved.

[2018-08-27 08:07] 0crat commented on #1657
Job [#1657](https://github.com/zerocracy/farm/issues/1657) is now in scope, role is `DEV`

[2018-08-27 08:28] #1304 closed

[2018-08-27 08:28] 0pdd commented on #1304
The puzzle `980-46a74068` has disappeared from the source code, that's why I closed this issue.

[2018-08-27 08:28] 0pdd commented on #980
@victornoel the only puzzle [#1304](https://github.com/zerocracy/farm/issues/1304) is solved here.

[2018-08-27 08:53] 0pdd opened #1658 "_after.groovy:22-25: Project is not paying adviser when..."
The puzzle `1536-7b5e8444` from #1536 has to be resolved:

https://github.com/zerocracy/farm/blob/c304906679aecd7642afdcf195cb40e332acc774/src/test/resources/com/zerocracy/bundles/pays_adviser_on_funding/_after.groovy#L22-L25

The puzzle was created by Paulo Lobo on 24-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "d

[2018-08-27 08:53] 0pdd commented on #1536
@g4s8 the puzzle [#1658](https://github.com/zerocracy/farm/issues/1658) is still not solved.

[2018-08-27 08:53] 0crat commented on #1658
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-27 09:22] g4s8 opened #1659 "Duplicate claim id of pings"
There are many exceptions in Sentry about duplicate claim ids for `Ping` claims:
[code]
It seems that claim id is not really unique, we need to investigate and fix this.
https://sentry.io/zerocracy/farm/issues/656907018/

[2018-08-27 09:54] g4s8 opened #1660 "Telegram "Forbidden: bot was blocked by the user""
0crat received `403 Forbidden` error on `notify_in_telegram` script:
[code]
it seems that some users may block 0crat chat. Let's remove telegram link for such users from `people.xml`.

[2018-08-27 09:56] g4s8 commented on #1304
@0crat status

[2018-08-27 10:01] g4s8 commented on #1570
@0crat assign @paulodamaso

[2018-08-27 10:47] 0crat commented on #1304
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-27 10:51] 0crat commented on #1304
The job [#1304](https://github.com/zerocracy/farm/issues/1304) is now out of scope

[2018-08-27 11:26] g4s8 commented on #1536
@paulodamaso PR #1652 was merged, thanks

[2018-08-27 11:26] #1536 closed

[2018-08-27 11:43] 0crat commented on #1660
Job [#1660](https://github.com/zerocracy/farm/issues/1660) is now in scope, role is `DEV`

[2018-08-27 11:45] 0crat commented on #1304
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1304](https://github.com/zerocracy/farm/issues/1304) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%231304%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-08-27 12:18] ypshenychka opened #1661 "As a mentor I don't receive any tuition fee from students"
On the Team page I see that my students have some points (e.g. "peter-kehl" has +30 and "timeracers" has +15). But I didn't receive any tuition fee from these points - there was no notification in telegram of 0crat and nothing in debt list.

[2018-08-27 12:18] 0crat commented on #1661
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-27 12:26] 0crat commented on #1660
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-27 12:47] paulodamaso commented on #1570
@0crat status

[2018-08-27 12:49] paulodamaso commented on #1536
@0crat status

[2018-08-27 12:50] paulodamaso commented on #1333
@g4s8 mereged, please close

[2018-08-27 13:28] 0crat commented on #1536
The job [#1536](https://github.com/zerocracy/farm/issues/1536) is now out of scope

[2018-08-27 13:29] 0crat commented on #1570
@paulodamaso This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1570](https://github.com/zerocracy/farm/issues/1570) is [in scope](http://www.zerocracy.com/policy.html#14) for 19days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html

[2018-08-27 13:29] 0crat commented on #1536
@paulodamaso This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1536](https://github.com/zerocracy/farm/issues/1536) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 60min
  * @paulodamaso[/z](https://www.0crat.com/u/paulo

[2018-08-27 13:29] #1647 closed

[2018-08-27 13:29] 0pdd commented on #1647
The puzzle `921-1530b8b3` has disappeared from the source code, that's why I closed this issue.

[2018-08-27 13:29] 0pdd commented on #921
@g4s8 the only puzzle [#1647](https://github.com/zerocracy/farm/issues/1647) is solved here.

[2018-08-27 13:33] 0crat commented on #1570
@g4s8 The job [#1570](https://github.com/zerocracy/farm/issues/1570) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2391323882); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-08-27 13:40] 0crat commented on #1570
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-27 13:42] ypshenychka commented on #1536
@0crat quality good

[2018-08-27 14:00] paulodamaso commented on #1570
@g4s8 I've tracked the problem but I'm having difficulties on emulating / creating `error` instances. It creates on `dynamobd`. but I'm getting `java.sql.SQLException: org.h2.jdbc.JdbcSQLException: Table "_61HN4OBK5LIN4SJFE9PG____" not found; SQL statement:
INSERT INTO _61HN4OBK5LIN4SJFE9PG____ (created,location,system) VALUES (?,?,?)`. Is there somehing that I must create or run before testing so

[2018-08-27 14:30] g4s8 commented on #1661
@ypshenychka peter-kehl submitted two bugs: https://github.com/yegor256/wring/issues/65 and https://github.com/zerocracy/farm/issues/1576 but didn't receive money for them, because he is not a project member, (he received only points).
timeracers did receive only points for https://github.com/yegor256/0pdd/issues/228 job also (it seems that he hadn't configured the rate before was assigned to this

[2018-08-27 14:34] g4s8 commented on #1570
@paulodamaso yes, you should use `dynamodb` maven profile during integration tests, it will set up local dynamodb testing instance, see https://dynamodb.jcabi.com/index.html

[2018-08-27 14:42] g4s8 commented on #1333
@paulodamaso thanks

[2018-08-27 14:42] #1333 closed

[2018-08-27 15:17] 0crat commented on #1647
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-27 15:18] 0crat commented on #1536
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-27 15:28] g4s8 opened #1662 "make_payment is very slow in some projects"
`make_payment` stakeholder can be completed in 50-60 seconds in some projects (e.g. in Zerocracy). I suppose the reason of this is big `ledger.xml` which is about ~42000 lines here.
[code]
We need to find the reason or prove that it's because of ledger and fix it.

[2018-08-27 15:38] g4s8 opened #1663 "elections.xml can be very huge"
In some projects `election.xml` file is very huge (~0.5Gb), it contains many jobs where all users are banned and completed jobs.
[code]

[2018-08-27 15:40] 0crat commented on #1536
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-27 15:46] 0crat commented on #1647
The job [#1647](https://github.com/zerocracy/farm/issues/1647) is now out of scope

[2018-08-27 15:59] 0crat commented on #1662
Job [#1662](https://github.com/zerocracy/farm/issues/1662) is now in scope, role is `DEV`

[2018-08-27 16:03] 0crat commented on #1333
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-27 16:03] 0crat commented on #1663
The job [#1663](https://github.com/zerocracy/farm/issues/1663) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2391556503); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-08-27 16:03] 0crat commented on #1333
The job [#1333](https://github.com/zerocracy/farm/issues/1333) is now out of scope

[2018-08-27 16:04] 0crat commented on #1663
Job `gh:zerocracy/farm#1663` already assigned to @g4s8, can't assign to @g4s8

[2018-08-27 16:05] 0crat commented on #1662
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-27 16:05] 0crat commented on #1663
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-27 16:05] 0crat commented on #1663
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-27 16:05] 0crat commented on #1663
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-27 16:11] 0crat commented on #1662
The job [#1662](https://github.com/zerocracy/farm/issues/1662) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2391615731); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-08-27 16:11] ypshenychka commented on #1647
@0crat quality good

[2018-08-27 16:12] ypshenychka commented on #1333
@0crat quality good

[2018-08-27 16:17] 0crat commented on #1647
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-27 16:17] 0crat commented on #1647
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-27 16:18] 0crat commented on #1333
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-27 16:35] krzyk commented on #1082
@yegor256 please close this issue

[2018-08-27 16:38] yegor256 commented on #1520
@g4s8 well... I don't know. maybe we should create a new project, something like "HR", fund it and send payment from there?

[2018-08-27 16:39] yegor256 commented on #1332
@g4s8 yes, totally agree. But don't forget to explain this in the `/team` page somewhere at the bottom. Otherwise, developers will wonder why they don't show up there.

[2018-08-27 16:39] yegor256 commented on #1090
@g4s8 I vote for the second option. Let's use time, not money.

[2018-08-27 16:51] g4s8 commented on #1635
@0crat assign @carlosmiranda

[2018-08-27 16:52] g4s8 commented on #1585
@yegor256 done in https://github.com/zerocracy/farm/commit/28f82ca56f89df27d0be05a09e9e94f24e9bfcd5

[2018-08-27 16:52] #1585 closed

[2018-08-27 16:53] 0crat commented on #1332
Job [#1332](https://github.com/zerocracy/farm/issues/1332) is now in scope, role is `DEV`

[2018-08-27 16:54] 0crat commented on #1090
Job [#1090](https://github.com/zerocracy/farm/issues/1090) is now in scope, role is `DEV`

[2018-08-27 17:10] 0crat commented on #1332
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-27 17:11] 0crat commented on #1090
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-27 17:11] 0crat commented on #1635
@g4s8 The job [#1635](https://github.com/zerocracy/farm/issues/1635) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2391662346); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-08-27 17:11] 0crat commented on #1585
Job `gh:zerocracy/farm#1585` is not assigned, can't get performer

[2018-08-27 17:11] 0crat commented on #1585
The job is not in WBS, won't close the order

[2018-08-27 17:13] 0crat commented on #1635
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-27 17:13] 0crat commented on #1635
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-27 17:39] paulodamaso commented on #1570
@g4s8 Now something strange started to happen, `java.lang.UnsupportedOperationException: at the moment only EQ operator is supported: LT` when iterating over `Errors`; there was some version change in dynamo lib?

[2018-08-27 18:49] #1649 closed

[2018-08-27 18:49] 0pdd commented on #1649
The puzzle `1552-d7bf68d4` has disappeared from the source code, that's why I closed this issue.

[2018-08-27 18:49] 0pdd opened #1666 "assign_examiner.groovy:39-44: Allow examiner to reject..."
The puzzle `1552-5d564f66` from #1552 has to be resolved:

https://github.com/zerocracy/farm/blob/516073f9de5beaef358161282b3b33ea81c3494a/src/main/groovy/com/zerocracy/stk/pmo/resumes/assign_examiner.groovy#L39-L44

The puzzle was created by rultor on 27-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the

[2018-08-27 18:49] 0pdd commented on #908
@0pdd 3 puzzles [#1568](https://github.com/zerocracy/farm/issues/1568), [#1645](https://github.com/zerocracy/farm/issues/1645), [#1666](https://github.com/zerocracy/farm/issues/1666) are still not solved; solved: [#1146](https://github.com/zerocracy/farm/issues/1146), [#1147](https://github.com/zerocracy/farm/issues/1147), [#1179](https://github.com/zerocracy/farm/issues/1179), [#1352](https://git

[2018-08-27 18:49] 0pdd commented on #1146
@0pdd the puzzle [#1666](https://github.com/zerocracy/farm/issues/1666) is still not solved; solved: [#1352](https://github.com/zerocracy/farm/issues/1352), [#1353](https://github.com/zerocracy/farm/issues/1353), [#1486](https://github.com/zerocracy/farm/issues/1486), [#1552](https://github.com/zerocracy/farm/issues/1552), [#1649](https://github.com/zerocracy/farm/issues/1649).

[2018-08-27 18:49] 0pdd commented on #1352
@0pdd the puzzle [#1666](https://github.com/zerocracy/farm/issues/1666) is still not solved; solved: [#1486](https://github.com/zerocracy/farm/issues/1486), [#1552](https://github.com/zerocracy/farm/issues/1552), [#1649](https://github.com/zerocracy/farm/issues/1649).

[2018-08-27 18:49] 0pdd commented on #1486
@0pdd the puzzle [#1666](https://github.com/zerocracy/farm/issues/1666) is still not solved; solved: [#1552](https://github.com/zerocracy/farm/issues/1552), [#1649](https://github.com/zerocracy/farm/issues/1649).

[2018-08-27 18:49] 0pdd commented on #1552
@0pdd the puzzle [#1666](https://github.com/zerocracy/farm/issues/1666) is still not solved; solved: [#1649](https://github.com/zerocracy/farm/issues/1649).

[2018-08-27 18:50] 0crat commented on #1666
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-27 18:57] 0crat commented on #1666
Job [#1666](https://github.com/zerocracy/farm/issues/1666) is now in scope, role is `DEV`

[2018-08-27 19:10] ypshenychka commented on #1661
@g4s8 Ok, got it. Thanks for explanation.

[2018-08-27 19:10] #1661 closed

[2018-08-27 19:13] #1648 closed

[2018-08-27 19:13] 0pdd commented on #1648
The puzzle `1346-59918b04` has disappeared from the source code, that's why I closed this issue.

[2018-08-27 19:13] 0pdd commented on #1346
@g4s8 the only puzzle [#1648](https://github.com/zerocracy/farm/issues/1648) is solved here.

[2018-08-27 19:19] 0crat commented on #1649
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-27 19:30] 0crat commented on #1649
The job [#1649](https://github.com/zerocracy/farm/issues/1649) is now out of scope

[2018-08-27 19:32] 0crat commented on #1661
Job `gh:zerocracy/farm#1661` is not assigned, can't get performer

[2018-08-27 19:32] 0crat commented on #1661
The job is not in WBS, won't close the order

[2018-08-27 19:37] 0crat commented on #1648
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-27 20:36] paulodamaso commented on #1533
@0crat refuse

[2018-08-27 20:42] 0crat commented on #1533
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1533](https://github.com/zerocracy/farm/issues/1533), please stop working. Reason for job resignation: Order was cancelled

[2018-08-27 20:48] 0crat commented on #1533
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-28 03:44] carlosmiranda commented on #1635
@g4s8 see PR #1667

[2018-08-28 04:29] uurl commented on #1247
@krzyk ping

[2018-08-28 04:49] carlosmiranda commented on #1347
@0crat refuse (can't find anything on the profiler, either)

[2018-08-28 04:53] 0crat commented on #1347
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1347](https://github.com/zerocracy/farm/issues/1347), please stop working. Reason for job resignation: Order was cancelled

[2018-08-28 04:54] 0crat commented on #1347
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-28 05:15] krzyk commented on #1247
@uurl yes?

[2018-08-28 05:16] 0crat commented on #1347
The job [#1347](https://github.com/zerocracy/farm/issues/1347) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2400528694); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-28 05:17] carlosmiranda commented on #1662
@g4s8 it is the ledger. I created the following test:

[code]

On my machine, until around the 130th entryy, each `add` operation takes anywhere from 60 to 100 ms - basically just noise. However, beyond that the size of the ledger becomes noticeable, with each new entry taking an extra 50ms per 100 existing entries. So for example, it takes 300ms to add if the ledger has 600 entries, 500ms if it h

[2018-08-28 05:33] carlosmiranda commented on #1028
@0crat refuse

[2018-08-28 05:53] 0crat commented on #1028
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1028](https://github.com/zerocracy/farm/issues/1028), please stop working. Reason for job resignation: Order was cancelled

[2018-08-28 05:57] 0crat commented on #1028
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-28 06:05] ypshenychka commented on #1649
@0crat quality good

[2018-08-28 06:08] ypshenychka commented on #1648
@0crat quality good

[2018-08-28 07:48] 0crat commented on #1649
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-28 08:02] 0crat commented on #1649
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-28 08:02] 0crat commented on #1648
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-28 08:02] 0crat commented on #1648
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-28 09:49] g4s8 commented on #1662
@carlosmiranda I think we can keep only `<balance>` section in `ledger.xml` file and store all transactions in Mongo. @yegor256 what do you think, can we use Mongo for that?

[2018-08-28 13:47] paulodamaso commented on #1347
@0crat refuse

[2018-08-28 15:31] 0crat commented on #1347
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-28 17:13] 0pdd opened #1669 "cleanup_comments.groovy:31-36: cleanup_comments often..."
The puzzle `1570-01eb7ff8` from #1570 has to be resolved:

https://github.com/zerocracy/farm/blob/18028474ccceb6b475fce04897309848127f787b/src/main/groovy/com/zerocracy/stk/internal/cleanup_comments.groovy#L31-L36

The puzzle was created by Paulo Lobo on 27-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when th

[2018-08-28 17:13] 0crat commented on #1669
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-28 17:13] 0pdd commented on #1570
@g4s8 the puzzle [#1669](https://github.com/zerocracy/farm/issues/1669) is still not solved.

[2018-08-28 17:19] 0crat commented on #1669
Job [#1669](https://github.com/zerocracy/farm/issues/1669) is now in scope, role is `DEV`

[2018-08-28 17:37] 0pdd opened #1670 "_after.groovy:24-26: Elections.remove is not working for..."
The puzzle `1663-4d268a0e` from #1663 has to be resolved:

https://github.com/zerocracy/farm/blob/2fc77cce1ffe63e4cfbef30f50a5812abd1e29ad/src/test/resources/com/zerocracy/bundles/remove_invalid_elections/_after.groovy#L24-L26

The puzzle was created by g4s8 on 27-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done"

[2018-08-28 17:37] 0pdd commented on #1663
@g4s8 the puzzle [#1670](https://github.com/zerocracy/farm/issues/1670) is still not solved.

[2018-08-28 17:38] 0crat commented on #1670
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-28 18:39] paulodamaso commented on #1570
@g4s8 Merged, please close

[2018-08-28 18:56] 0crat commented on #1670
Job [#1670](https://github.com/zerocracy/farm/issues/1670) is now in scope, role is `DEV`

[2018-08-28 20:02] g4s8 commented on #1663
@rultor release, tag=`0.31.1`

[2018-08-28 20:04] rultor commented on #1663
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15797-416721373)

[2018-08-28 20:42] g4s8 commented on #1663
Done in #1664

[2018-08-28 20:42] #1663 closed

[2018-08-28 20:47] g4s8 commented on #1648
@rultor release, tag=`0.31.2`

[2018-08-28 20:49] rultor commented on #1648
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15799-416735075)

[2018-08-28 21:01] rultor commented on #1648
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15799-416735075) (spent 12min)

[code]

[2018-08-28 21:17] 0crat commented on #1663
Job was finished in 28 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-08-28 21:32] 0crat commented on #1659
The job [#1659](https://github.com/zerocracy/farm/issues/1659) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2402131797); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-08-29 01:02] paulodamaso opened #1671 "0crat returned all refused jobs"
After last update, 0crat returned me all recently refused jobs (https://github.com/zerocracy/farm/issues/1533, https://github.com/zerocracy/farm/issues/1347, https://github.com/sunsofterp/portal/issues/128) and even some ones that were stuck in `REV` status for some long time ago (https://github.com/yegor256/takes/pull/836). It can be related to elections changes.
There is no need to take these ta

[2018-08-29 01:02] 0crat commented on #1671
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-29 02:39] 0crat commented on #1278
The job [#1278](https://github.com/zerocracy/farm/issues/1278) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2410160321); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-08-29 03:07] 0crat commented on #1279
The job [#1279](https://github.com/zerocracy/farm/issues/1279) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2410161329); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-08-29 07:38] 0crat commented on #1205
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-29 07:38] 0crat commented on #1637
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-29 07:40] krzyk commented on #1205
@0crat waiting because I'm busy with other tasks

[2018-08-29 11:46] paulodamaso commented on #1570
@g4s8 ping

[2018-08-29 14:11] paulodamaso commented on #1637
@carlosmiranda Sorry but I couldn't understand the proposed solution: the current implementation already uses `ShutdownFarm.Hook`; what I could do is to use the mentioned `ScheduledExecutorService` in `this.service` and schedule a `Callable` which checks `ShutdownFarm.Hook` and shut down the thread (by using `Thread.currentThread().interrupt();`). WDYT?

[2018-08-29 19:32] paulodamaso commented on #1533
@0crat status

[2018-08-29 19:33] 0crat commented on #1533
@paulodamaso This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1533](https://github.com/zerocracy/farm/issues/1533) is [in scope](http://www.zerocracy.com/policy.html#14) for 27days
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [22hr]

[2018-08-29 23:58] carlosmiranda commented on #1637
@paulodamaso that is not going to work - calling `Thread.interrupt()` within a `Callable` submitted to an `ExecutorService` is simply going to cause that task to be interrupted, but doesn't stop the `ExecutorService` from scheduling more tasks.

What I am proposing is something like this:

1. Change the current `ExecutorService` to a `ScheduledExecutorService`
2. Upon initializing `AsyncProc`, sub

[2018-08-30 00:29] carlosmiranda opened #1672 "Project got recharged twice"
A project I was working on got recharged twice:

From Footprint (only showing "Recharge Project" and its triggers "Ping hourly", and "Make payment"):
[code]

The delay between the two is roughly an hour. Notifications came in at 17:35 and 18:29. So it appears that they were both triggered by "Make payment".

The second one should not have occurred since the first "recharge project" event happened

[2018-08-30 00:29] 0crat commented on #1672
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-30 01:48] paulodamaso commented on #1637
@carlosmiranda Clear, thanks!

[2018-08-30 02:53] 0crat commented on #1666
The job [#1666](https://github.com/zerocracy/farm/issues/1666) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2420254470); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-08-30 02:53] 0crat commented on #1332
The job [#1332](https://github.com/zerocracy/farm/issues/1332) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2420255490); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-08-30 06:29] krzyk opened #1674 "Elections assigns DEV jobs even if # > maxJobsInAgenda"
Recently (last few days) I was given few DEV jobs even when my number of jobs is higher than maxJobsInAgenda.

`elect_performer` has correct code (the max shouldn't be used if it is a REV job):
[code]

So somewhere else there is a bug that assigns jobs regardless of the limit.
Maybe the `role` is set to REV, even for DEV jobs?

Exampe:
1. https://www.0crat.com/footprint/C3NDPUA8L/2420255490
2. htt

[2018-08-30 06:29] 0crat commented on #1674
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-30 06:31] krzyk commented on #1205
@0crat refuse

[2018-08-30 06:31] 0crat commented on #1205
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1205](https://github.com/zerocracy/farm/issues/1205), please stop working. Reason for job resignation: Order was cancelled

[2018-08-30 06:32] krzyk commented on #1082
@yegor256 It has been 13 days, it is quite discouraging to wait so long for task close.

[2018-08-30 06:58] 0crat commented on #1205
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-30 08:46] 0crat commented on #1644
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-30 12:25] 0crat commented on #1644
@paulodamaso The impediment for [#1644](https://github.com/zerocracy/farm/issues/1644) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-30 14:05] paulodamaso commented on #1347
@0crat refuse I can't run a clean build on my machine yet (windows build)

[2018-08-30 15:30] 0crat commented on #1347
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1347](https://github.com/zerocracy/farm/issues/1347), please stop working. Reason for job resignation: Order was cancelled

[2018-08-30 18:30] krzyk commented on #1674
@g4s8 this one is very annoying, unfortunately I couldn't find the root cause

[2018-08-31 03:28] paulodamaso commented on #1570
@0crat wait for closure

[2018-08-31 03:48] 0crat commented on #1570
@paulodamaso The impediment for [#1570](https://github.com/zerocracy/farm/issues/1570) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-31 03:54] carlosmiranda opened #1675 "0crat refused to assign PR, saying DEVs are banned"
See https://github.com/yegor256/wring/pull/68#issuecomment-417535200.

Roles on this project (note that there are two REVs, but only one DEV):

![image](https://user-images.githubusercontent.com/1917892/44891911-8eb55600-ad14-11e8-9a81-6aff63d4895f.png)

In any case the notification message is wrong, since PR jobs should have role `REV` and not `DEV`.

[2018-08-31 03:54] 0crat commented on #1675
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-31 05:14] g4s8 commented on #1570
@paulodamaso thanks

[2018-08-31 05:14] #1570 closed

[2018-08-31 05:32] 0crat commented on #1674
Job [#1674](https://github.com/zerocracy/farm/issues/1674) is now in scope, role is `DEV`

[2018-08-31 05:35] g4s8 commented on #1675
@carlosmiranda it's strange: this PR was added to WBS as `REV` job, but now it has `DEV` role

[2018-08-31 05:36] g4s8 commented on #1635
@carlosmiranda PR #1667 was merged, thanks

[2018-08-31 05:36] #1635 closed

[2018-08-31 05:36] g4s8 commented on #1635
@rultor release, tag=`0.32.1`

[2018-08-31 05:39] rultor commented on #1635
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15829-417557108)

[2018-08-31 05:56] rultor commented on #1635
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15829-417557108) (took me 16min)

[2018-08-31 06:46] 0crat commented on #1570
The job [#1570](https://github.com/zerocracy/farm/issues/1570) is now out of scope

[2018-08-31 06:46] 0crat commented on #1674
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-31 06:54] 0crat commented on #1675
Job [#1675](https://github.com/zerocracy/farm/issues/1675) is now in scope, role is `DEV`

[2018-08-31 07:00] 0crat commented on #1672
The job [#1672](https://github.com/zerocracy/farm/issues/1672) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2430639132); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-08-31 07:04] 0crat commented on #1635
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-31 07:04] 0crat commented on #1672
Job `gh:zerocracy/farm#1672` already assigned to @g4s8, can't assign to @g4s8

[2018-08-31 07:05] 0crat commented on #1675
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-31 07:05] 0crat commented on #1635
The job [#1635](https://github.com/zerocracy/farm/issues/1635) is now out of scope

[2018-08-31 07:07] 0crat commented on #1672
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-31 07:07] 0crat commented on #1672
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-31 07:17] filfreire opened #1677 "Internal Application Error when opening 0crat on /policy"
@yegor256 @g4s8 when opening `/policy` path in 0crat.com I expected to be lead to http://www.zerocracy.com/policy.html, instead I get an `IllegalStateException`
[code]

see screenshot:
<img width="1149" alt="screen shot 2018-08-31 at 09 14 01" src="https://user-images.githubusercontent.com/11976836/44898223-88b47a80-acfe-11e8-8919-335578055fbd.png">

[2018-08-31 07:17] 0crat commented on #1677
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-08-31 07:17] 0crat commented on #1677
@filfreire[/z](https://www.0crat.com/u/filfreire) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-31 07:18] filfreire commented on #1677
@yegor256 @g4s8 also notice the build information doesn't seem properly formatted:

[code]

Screenshot:
<img width="466" alt="screen shot 2018-08-31 at 09 18 04" src="https://user-images.githubusercontent.com/11976836/44898303-c913f880-acfe-11e8-927e-31bf446e54ef.png">

[2018-08-31 07:26] g4s8 commented on #1677
@filfreire 0crat.com is actual web-app where you can see profiles, projects etc, zerocracy.com is for static content, like policy, FAQ, etc

@yegor256 please look at this issue, I agree that it's not very comfortable to use two different hosts 0crat.com and zerocracy.com
maybe we can switch to one of them? (or use 0crat.com for webhooks only)

[2018-08-31 12:17] paulodamaso commented on #1637
@carlosmiranda #1673 merged, please close

[2018-08-31 14:42] 0crat commented on #1637
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-31 14:42] 0crat commented on #1637
The job [#1637](https://github.com/zerocracy/farm/issues/1637) is now out of scope

[2018-08-31 17:09] yegor256 opened #1678 "KPI"
Let's collect our key metrics into a KPI storage. I would suggest to use AWS CloudWatch. Every time something important happens, we increment certain metric. For example:

  * we make a new payment to a programmer
  * we get a new payment from a client
  * we add a new user to the system
  * we assign a new role
  * we resign a role
  etc.

There will be many metrics. Then, every day on `Ping dail

[2018-08-31 17:10] 0crat commented on #1678
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-01 03:13] ypshenychka commented on #1570
@0crat quality good

[2018-09-01 03:16] ypshenychka commented on #1635
@0crat quality good

[2018-09-01 03:27] 0crat commented on #1635
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-01 03:27] 0crat commented on #1635
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-01 03:34] 0crat commented on #1637
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-01 03:34] 0crat commented on #1637
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-01 08:17] 0crat commented on #1678
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1678](https://github.com/zerocracy/farm/issues/1678), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-09-01 14:53] g4s8 commented on #1678
@yegor256 can you please create a policy for Cloudwatch user:
[code]
and put credentials into properties:
[code]

[2018-09-02 06:26] 0crat commented on #1674
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1674](https://github.com/zerocracy/farm/issues/1674), see [§21](http://www.zerocracy.com/policy.html#21); @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-09-02 06:26] g4s8 commented on #1671
@paulodamaso it looks like a duplicate of #1396

[2018-09-02 06:30] 0crat commented on #1674
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-02 06:38] 0pdd commented on #1644
The puzzle `1465-4595fca1` has disappeared from the source code, that's why I closed this issue.

[2018-09-02 06:38] #1644 closed

[2018-09-02 06:39] 0pdd opened #1680 "MongoDbLockTest.java:29-36: Implement external locking..."
The puzzle `1644-df92de1b` from #1644 has to be resolved:

https://github.com/zerocracy/farm/blob/52644324408a9480dd96b5ebab13d85d19d7b90c/src/test/java/com/zerocracy/farm/sync/MongoDbLockTest.java#L29-L36

The puzzle was created by rultor on 02-Sep-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-09-02 06:39] 0crat commented on #1680
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-02 06:41] 0pdd opened #1681 "MongoDbLock.java:84-88: Implement external locking..."
The puzzle `1644-7ed092c3` from #1644 has to be resolved:

https://github.com/zerocracy/farm/blob/52644324408a9480dd96b5ebab13d85d19d7b90c/src/main/java/com/zerocracy/farm/sync/MongoDbLock.java#L84-L88

The puzzle was created by rultor on 02-Sep-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-09-02 06:41] 0crat commented on #1681
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-02 06:41] 0pdd commented on #773
@amihaiemil 3 puzzles [#1533](https://github.com/zerocracy/farm/issues/1533), [#1680](https://github.com/zerocracy/farm/issues/1680), [#1681](https://github.com/zerocracy/farm/issues/1681) are still not solved; solved: [#1463](https://github.com/zerocracy/farm/issues/1463), [#1464](https://github.com/zerocracy/farm/issues/1464), [#1465](https://github.com/zerocracy/farm/issues/1465), [#1644](https

[2018-09-02 06:41] 0pdd commented on #1465
@0pdd 2 puzzles [#1680](https://github.com/zerocracy/farm/issues/1680), [#1681](https://github.com/zerocracy/farm/issues/1681) are still not solved; solved: [#1644](https://github.com/zerocracy/farm/issues/1644).

[2018-09-02 06:41] 0pdd commented on #1644
@0pdd 2 puzzles [#1680](https://github.com/zerocracy/farm/issues/1680), [#1681](https://github.com/zerocracy/farm/issues/1681) are still not solved.

[2018-09-02 06:48] 0crat commented on #1680
Job [#1680](https://github.com/zerocracy/farm/issues/1680) is now in scope, role is `DEV`

[2018-09-02 06:48] 0crat commented on #1681
Job [#1681](https://github.com/zerocracy/farm/issues/1681) is now in scope, role is `DEV`

[2018-09-02 06:53] g4s8 commented on #1520
@yegor256 can't we use `PMO` for that? We can update it's balance on each Zerocracy fee for closing task and then send bonuses.
Also we're using `FkProject` to pay debts:
[code]
it looks not correct, maybe it would be better to send transaction from one project to `PMO` on new debt and then pay debts from `PMO`?

[2018-09-02 06:59] 0crat commented on #1644
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-02 07:02] 0crat commented on #1644
The job [#1644](https://github.com/zerocracy/farm/issues/1644) is now out of scope

[2018-09-02 09:29] yegor256 commented on #1662
@g4s8 you think Mongo is the right place for financial transactions? Maybe something like PostgreSQL will be a better choice? Heroku can provide that for us.

[2018-09-02 09:40] g4s8 opened #1683 "No author in notify_declined_job"
Error from [Sentry](https://sentry.io/zerocracy/farm/issues/671678666/?query=is:unresolved):
[code]

[2018-09-02 09:43] g4s8 commented on #1678
@yegor256 see #1682

[2018-09-02 09:54] g4s8 commented on #1662
@yegor256 right, Postgres looks better, can you enable plugin on Heroku for that?

[2018-09-02 10:03] 0crat commented on #1683
Job [#1683](https://github.com/zerocracy/farm/issues/1683) is now in scope, role is `DEV`

[2018-09-02 11:38] rultor commented on #1672
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15843-417923581) (took me 16min)

[2018-09-02 11:42] ypshenychka commented on #1644
@0crat quality good

[2018-09-02 12:02] 0crat commented on #1644
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-02 12:02] 0crat commented on #1644
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-02 13:14] krzyk commented on #1332
@0crat waiting for review of PR #1679

[2018-09-02 13:14] 0crat commented on #1332
@krzyk The impediment for [#1332](https://github.com/zerocracy/farm/issues/1332) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-09-02 15:40] paulodamaso commented on #1396
@carlosmiranda @g4s8  0crat returned me all recently refused jobs (#1533, #1347, sunsofterp/portal#128) and even some ones that were stuck in REV status for some long time ago (yegor256/takes#836). Then, I've refused yegor256/takes#836 in 28/08/2018 for the second time, but 0crat insisted and assigned it to me again in 31/08/2018, see yegor256/takes#836 (comment)

[2018-09-02 15:40] paulodamaso commented on #1671
@g4s8 transcripted to #1396, closing

[2018-09-02 15:40] #1671 closed

[2018-09-02 15:56] 0crat commented on #1671
Job `gh:zerocracy/farm#1671` is not assigned, can't get performer

[2018-09-02 17:35] g4s8 commented on #1396
@0crat assign @paulodamaso

[2018-09-02 17:46] 0crat commented on #1396
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1396](https://github.com/zerocracy/farm/issues/1396), see [§21](http://www.zerocracy.com/policy.html#21); @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-09-02 17:50] 0crat commented on #1396
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-02 19:31] g4s8 commented on #1672
@carlosmiranda it should be fixed in #1676 and release in `0.32.2`, can we close?

[2018-09-03 00:06] carlosmiranda commented on #1672
@g4s8 seems like recharge is not working? `Zerocracy` project has no funds now. Or is it something else?

[2018-09-03 05:06] carlosmiranda commented on #930
@yegor256 please see PR #1684

[2018-09-03 05:38] g4s8 commented on #1672
@carlosmiranda Zerocracy doesn't have linked Stripe account, it can't be recharged automatically

[2018-09-03 05:49] carlosmiranda commented on #1672
@g4s8 right, ok. In any case, I'll raise a new issues if I find any new problems. Thanks!

[2018-09-03 05:49] #1672 closed

[2018-09-03 06:14] 0crat commented on #1672
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-03 06:14] 0crat commented on #1672
The job [#1672](https://github.com/zerocracy/farm/issues/1672) is now out of scope

[2018-09-03 06:34] carlosmiranda commented on #924
@yegor256 see PR #1685

[2018-09-04 22:02] paulodamaso commented on #1533
@0crat refuse

[2018-09-04 22:02] 0crat commented on #1533
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1533](https://github.com/zerocracy/farm/issues/1533), please stop working. Reason for job resignation: Order was cancelled

[2018-09-04 22:02] paulodamaso commented on #1396
@0crat status

[2018-09-04 22:07] 0crat commented on #1533
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-04 22:07] 0crat commented on #1396
@paulodamaso This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1396](https://github.com/zerocracy/farm/issues/1396) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [2days](

[2018-09-05 00:12] paulodamaso commented on #1457
@g4s8 Happened in this too: https://github.com/zerocracy/farm/issues/1396

[2018-09-05 00:29] paulodamaso commented on #1396
@g4s8 Looks like something is resetting the bans and clearing `bans.xml`. IIRC the first time it happened was when 0crat was unstable for a few days. Would you kindly show me the footprint related to the affected tasks and the most recent `bans.xml`?

[2018-09-05 03:50] paulodamaso opened #1686 "Agenda showing negative dates"
Agenda page is showing negative `Added` value:
![image](https://user-images.githubusercontent.com/33915433/45069852-f1a44580-b0a4-11e8-9eab-86ae602f892d.png)
Both from jcabi were assigned manually (https://github.com/jcabi/jcabi-github/issues/1370#issuecomment-417567246 and https://github.com/paulodamaso) and in the other one 0crat did not assigned me on ticket (https://github.com/yegor256/wring/i

[2018-09-05 03:50] 0crat commented on #1686
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-05 06:50] carlosmiranda commented on #915
@0crat refuse

[2018-09-05 06:51] carlosmiranda commented on #1188
@0crat refuse

[2018-09-05 06:51] 0crat commented on #915
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#915](https://github.com/zerocracy/farm/issues/915), please stop working. Reason for job resignation: Order was cancelled

[2018-09-05 06:56] 0crat commented on #1188
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1188](https://github.com/zerocracy/farm/issues/1188), please stop working. Reason for job resignation: Order was cancelled

[2018-09-05 06:58] 0crat commented on #915
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-05 06:58] 0crat commented on #1188
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-05 12:35] g4s8 commented on #1678
@yegor256 ping, please see https://github.com/zerocracy/farm/issues/1678#issuecomment-417864852

[2018-09-05 18:52] 0pdd opened #1687 "TkBoard.java:188-190: Right now we are displaying all..."
The puzzle `930-ecca0a03` from #930 has to be resolved:

https://github.com/zerocracy/farm/blob/f77cb9d8630bc77c7c454bdec68f7c3e1c3c5644/src/main/java/com/zerocracy/tk/TkBoard.java#L188-L190

The puzzle was created by Carlos Miranda on 03-Sep-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-09-05 18:52] 0pdd commented on #930
@yegor256 the puzzle [#1687](https://github.com/zerocracy/farm/issues/1687) is still not solved.

[2018-09-05 18:52] 0crat commented on #1687
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-05 18:58] 0crat commented on #1687
Job [#1687](https://github.com/zerocracy/farm/issues/1687) is now in scope, role is `DEV`

[2018-09-05 19:00] paulodamaso opened #1688 "Error when inviting"
This error appeared when inviting a friend using `/invite` on telegram chat:

[code]

[2018-09-05 19:00] 0crat commented on #1688
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-05 21:38] carlosmiranda commented on #930
@yegor256 PR #1684 merged, may we close this now?

[2018-09-06 02:38] carlosmiranda commented on #1609
@yegor256 any word on this (https://github.com/zerocracy/farm/issues/1609#issuecomment-414108799)

[2018-09-06 04:15] carlosmiranda commented on #898
@yegor256 see PR #1689

[2018-09-06 08:01] g4s8 opened #1690 "500 error for webhooks"
Webhooks are not working

[2018-09-06 08:04] krzyk commented on #1666
@0crat wait, busy with other tasks

[2018-09-06 08:36] g4s8 commented on #1690
@rultor release, tag=`0.32.3`

[2018-09-06 08:38] rultor commented on #1690
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15873-419012382)

[2018-09-06 08:55] 0crat commented on #1666
@krzyk Can't understand "wait,", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this iss

[2018-09-06 08:56] rultor commented on #1690
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15873-419012382) (took me 17min)

[2018-09-06 09:08] 0crat commented on #1690
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1690](https://github.com/zerocracy/farm/issues/1690), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-09-06 09:08] 0crat commented on #1690
Job `gh:zerocracy/farm#1690` already assigned to @g4s8, can't assign to @g4s8

[2018-09-06 09:10] 0crat commented on #1690
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-06 09:10] 0crat commented on #1690
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-06 09:10] 0crat commented on #1690
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-06 09:43] g4s8 opened #1691 "Include release details ARC release bonus"
ARC release bonus should include release details (repo, release name) to be unique in `debts.xml`. Right now it can be skipped from debts if debts already contains another release bonus, because debt `details` is always the same: `Release bonus for ARC $54 at none`.

[2018-09-06 10:00] 0pdd opened #1692 "TkTeam.java:66-71: After zerocracy/datum#386 is done..."
The puzzle `1332-94d9282c` from #1332 has to be resolved:

https://github.com/zerocracy/farm/blob/6698915227fb7fc0ebbc7629e004d3fd6a48f5aa/src/main/java/com/zerocracy/tk/TkTeam.java#L66-L71

The puzzle was created by Krzysztof Krason on 06-Sep-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-09-06 10:00] 0pdd commented on #1332
@g4s8 the puzzle [#1692](https://github.com/zerocracy/farm/issues/1692) is still not solved.

[2018-09-06 10:00] 0crat commented on #1692
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-06 10:07] krzyk commented on #1332
@g4s8 please close this issue, it has been merged to master in #1679

[2018-09-06 10:26] 0crat commented on #1692
Job [#1692](https://github.com/zerocracy/farm/issues/1692) is now in scope, role is `DEV`

[2018-09-06 10:27] 0crat commented on #1691
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-06 18:30] denis-konovalyenko opened #1694 "A successful invitation notification message not get triggered after being invited"
Pre-conditions:
- One user is logged in using their* GitHub account for the first time.
- Another user has enough reputation to be a mentor (is allowed to invite others).

Steps to reproduce:
- Fill in and submit the "join" form by the logged in user for the first time.
- Invite this user by the user who can be a mentor.

Expected results:
- The new starter user is get notified that they** has bee

[2018-09-06 18:30] 0crat commented on #1694
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-06 21:51] denis-konovalyenko opened #1696 "Application error on serving the board"
Steps to reproduce:
- Open a browser and navigate to the https://www.0crat.com/board page

Actual results:
- The "Application error" page is shown (for more information please refer to the screenshot)
![application-error-at-201809070033-eest](https://user-images.githubusercontent.com/15904097/45186845-7d4ddb80-b237-11e8-8f3d-f203ac1b354b.png)
The issue has been reproducible from 00:33 to 00:45 EES

[2018-09-06 21:51] 0crat commented on #1696
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-07 00:36] carlosmiranda opened #1697 "Recharge project is broken"
I am on a project now which is well under deficit (cash $78.95, locked funds $128.75). However, it's not being recharged, despite "Recharge project" claims:

[code]

This is the culprit: https://github.com/zerocracy/farm/blob/4bc8f9a1ede13856a41f447df8fdc3d73eddfb5e/src/main/groovy/com/zerocracy/stk/pm/cost/funding/recharge_project.groovy#L42-L52

Note that based on that code, if there is a "Recha

[2018-09-07 00:36] 0crat commented on #1697
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-07 02:59] g4s8 commented on #1697
@0crat assign me

[2018-09-07 03:03] 0crat commented on #1697
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1697](https://github.com/zerocracy/farm/issues/1697), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-09-07 03:06] g4s8 commented on #1697
@rultor release, tag=`0.32.4`

[2018-09-07 03:06] 0crat commented on #1697
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-07 03:06] 0crat commented on #1697
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-07 03:08] rultor commented on #1697
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15879-419307601)

[2018-09-07 03:29] rultor commented on #1697
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15879-419310764)

[2018-09-07 03:41] rultor commented on #1697
@carlosmiranda @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15879-419310764) (spent 13min)

[code]

[2018-09-07 03:55] g4s8 commented on #1697
@rultor release, tag=`0.32.4`

[2018-09-07 03:55] rultor commented on #1697
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15879-419314850)

[2018-09-07 04:11] rultor commented on #1697
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15879-419314850) (took me 15min)

[2018-09-07 05:18] g4s8 commented on #1697
@rultor release, tag=`0.32.5`

[2018-09-07 05:19] rultor commented on #1697
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15879-419325674)

[2018-09-07 05:27] rultor commented on #1697
@g4s8 OK, I'll try to stop current task.

[2018-09-07 05:27] rultor commented on #1697
@carlosmiranda @g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15879-419326724) (spent 8min)

[code]

[2018-09-07 05:29] g4s8 commented on #1697
@rultor release, tag=`0.32.5`

[2018-09-07 05:32] rultor commented on #1697
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15879-419327278)

[2018-09-07 05:45] rultor commented on #1697
@carlosmiranda @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15879-419327278) (spent 12min)

[code]

[2018-09-07 05:45] g4s8 commented on #1697
@rultor release, tag=`0.32.5`

[2018-09-07 05:46] g4s8 commented on #1347
@0crat assign me

[2018-09-07 05:50] rultor commented on #1697
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15879-419329693)

[2018-09-07 05:53] 0crat commented on #1347
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1347](https://github.com/zerocracy/farm/issues/1347), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-09-07 05:57] 0crat commented on #1347
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-07 05:57] 0crat commented on #1347
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-07 06:08] rultor commented on #1697
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15879-419329693) (took me 18min)

[2018-09-07 06:44] g4s8 commented on #1697
@carlosmiranda it was fixed, see this claim: https://www.0crat.com/footprint/CC71RLB2B/2500643443

[2018-09-07 07:17] carlosmiranda commented on #1697
@g4s8 thanks!

[2018-09-07 07:17] #1697 closed

[2018-09-07 07:35] 0crat commented on #1697
Job [#1697](https://github.com/zerocracy/farm/issues/1697) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2018-09-07 07:35] 0crat commented on #1697
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-09-07 07:43] 0crat commented on #1697
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-07 07:43] 0crat commented on #1697
The job [#1697](https://github.com/zerocracy/farm/issues/1697) is now out of scope

[2018-09-07 07:49] g4s8 commented on #1533
@0crat assign me

[2018-09-07 07:50] 0crat commented on #1533
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1533](https://github.com/zerocracy/farm/issues/1533), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-09-07 07:54] 0crat commented on #1533
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-07 10:55] krzyk commented on #1082
@yegor256 ping

[2018-09-07 11:35] g4s8 commented on #1332
@krzyk thanks

[2018-09-07 11:35] #1332 closed

[2018-09-07 11:53] 0crat commented on #1332
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-07 11:53] 0crat commented on #1332
The job [#1332](https://github.com/zerocracy/farm/issues/1332) is now out of scope

[2018-09-07 12:13] ypshenychka commented on #1332
@0crat quality good

[2018-09-07 12:19] 0crat commented on #1332
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-09-07 12:19] 0crat commented on #1332
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-10 04:11] carlosmiranda commented on #1662
@0crat wait (too many tasks)

[2018-09-10 04:11] 0crat commented on #1662
@carlosmiranda The impediment for [#1662](https://github.com/zerocracy/farm/issues/1662) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-10 05:42] carlosmiranda commented on #924
@yegor256 PR #1685 merged, may we close this now?

[2018-09-11 06:35] yegor256 commented on #924
@carlosmiranda thanks!

[2018-09-11 06:35] #924 closed

[2018-09-11 06:35] yegor256 commented on #930
@carlosmiranda thanks!

[2018-09-11 06:35] #930 closed

[2018-09-11 06:54] 0crat commented on #930
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-11 06:54] 0crat commented on #924
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-11 06:54] 0crat commented on #930
The job [#930](https://github.com/zerocracy/farm/issues/930) is now out of scope

[2018-09-11 06:54] 0crat commented on #924
The job [#924](https://github.com/zerocracy/farm/issues/924) is now out of scope

[2018-09-11 09:01] ypshenychka commented on #930
@0crat quality good

[2018-09-11 09:03] ypshenychka commented on #924
@0crat quality good

[2018-09-11 09:11] 0crat commented on #924
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-11 09:12] 0crat commented on #924
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-11 09:13] 0crat commented on #930
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-11 09:14] 0crat commented on #930
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-11 12:11] paulodamaso commented on #1396
@0crat refuse

[2018-09-11 12:12] 0crat commented on #1396
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1396](https://github.com/zerocracy/farm/issues/1396), please stop working. Reason for job resignation: Order was cancelled

[2018-09-11 12:16] 0crat commented on #1396
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-12 10:55] #770 closed

[2018-09-12 10:55] 0pdd commented on #770
The puzzle `510-7cdf5e0a` has disappeared from the source code, that's why I closed this issue.

[2018-09-12 10:55] 0pdd commented on #510
@yegor256 the only puzzle [#770](https://github.com/zerocracy/farm/issues/770) is solved here.

[2018-09-12 11:13] 0crat commented on #770
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-12 11:13] 0crat commented on #770
The job [#770](https://github.com/zerocracy/farm/issues/770) is now out of scope

[2018-09-12 12:58] ypshenychka commented on #770
@0crat quality good

[2018-09-12 13:07] 0crat commented on #770
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-12 13:07] 0crat commented on #770
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-13 04:44] yegor256 opened #1701 "accept automatically to sanbox projects"
Let's assign a user automatically to DEV role in a project with the rate of $16 (take it from the policy), when he/she applies to a sandbox project. There is no need for a manual approval in this case. We should just assign everybody there, the moment they apply.

[2018-09-13 04:44] 0crat commented on #1701
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-13 08:01] 0crat commented on #1701
Job [#1701](https://github.com/zerocracy/farm/issues/1701) is now in scope, role is `DEV`

[2018-09-13 08:06] 0crat commented on #1701
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-09-14 06:35] amihaiemil opened #1702 "Architects' Skills are Unknown"
Every client submits a RfP (and pays the non-refundable fee), but they have no idea if there is any architect (or developer, for that matter) that have the skills necessary to build their product.

I think, before having to pay the fee, the prospective client should have a clear overview of what skills the people in ZC have.

[2018-09-14 06:35] 0crat commented on #1702
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-15 06:35] 0crat commented on #1028
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1028](https://github.com/zerocracy/farm/issues/1028), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-09-15 06:40] 0crat commented on #1028
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-15 06:40] 0crat commented on #1028
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-15 07:35] #1666 closed

[2018-09-15 07:35] 0pdd commented on #1666
The puzzle `1552-5d564f66` has disappeared from the source code, that's why I closed this issue.

[2018-09-15 07:35] 0pdd commented on #908
@0pdd 2 puzzles [#1568](https://github.com/zerocracy/farm/issues/1568), [#1645](https://github.com/zerocracy/farm/issues/1645) are still not solved; solved: [#1146](https://github.com/zerocracy/farm/issues/1146), [#1147](https://github.com/zerocracy/farm/issues/1147), [#1179](https://github.com/zerocracy/farm/issues/1179), [#1352](https://github.com/zerocracy/farm/issues/1352), [#1353](https://git

[2018-09-15 07:35] 0pdd commented on #1146
@0pdd all 6 puzzles are solved here: [#1352](https://github.com/zerocracy/farm/issues/1352), [#1353](https://github.com/zerocracy/farm/issues/1353), [#1486](https://github.com/zerocracy/farm/issues/1486), [#1552](https://github.com/zerocracy/farm/issues/1552), [#1649](https://github.com/zerocracy/farm/issues/1649), [#1666](https://github.com/zerocracy/farm/issues/1666).

[2018-09-15 07:35] 0pdd commented on #1352
@0pdd all 4 puzzles are solved here: [#1486](https://github.com/zerocracy/farm/issues/1486), [#1552](https://github.com/zerocracy/farm/issues/1552), [#1649](https://github.com/zerocracy/farm/issues/1649), [#1666](https://github.com/zerocracy/farm/issues/1666).

[2018-09-15 07:35] 0pdd commented on #1486
@0pdd all 3 puzzles are solved here: [#1552](https://github.com/zerocracy/farm/issues/1552), [#1649](https://github.com/zerocracy/farm/issues/1649), [#1666](https://github.com/zerocracy/farm/issues/1666).

[2018-09-15 07:35] 0pdd commented on #1552
@0pdd all 2 puzzles are solved here: [#1649](https://github.com/zerocracy/farm/issues/1649), [#1666](https://github.com/zerocracy/farm/issues/1666).

[2018-09-15 07:52] 0crat commented on #1666
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-15 07:53] 0crat commented on #1666
The job [#1666](https://github.com/zerocracy/farm/issues/1666) is now out of scope

[2018-09-15 09:02] g4s8 commented on #1702
@amihaiemil it seems similar to this in-progress feature: #492

[2018-09-15 09:05] amihaiemil commented on #1702
@g4s8 yes, it is similar, but that will only show the Github coding
languages. Maybe we have a person who is expert in ReactJs, but doesnt have
a ReactJs repo under their name. Wdyt?

On Sat, Sep 15, 2018, 12:02 Kirill <notifications@github.com> wrote:

[2018-09-15 10:05] ypshenychka commented on #1666
@0crat quality good

[2018-09-15 10:14] 0crat commented on #1666
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-09-15 10:14] 0crat commented on #1666
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-17 05:30] g4s8 commented on #1678
@yegor256 ping

[2018-09-17 06:33] g4s8 opened #1704 "TkProfileTest is failing on Windows"
The test `TkProfileTest.showsLinkToPolicyForUnknownUser` is always failing on Appveyor CI (e.g. see https://ci.appveyor.com/project/yegor256/farm/build/1055). It seems there is some encoding issue.

[code]

[2018-09-17 06:34] 0crat commented on #1704
Job [#1704](https://github.com/zerocracy/farm/issues/1704) is now in scope, role is `DEV`

[2018-09-17 06:49] 0crat commented on #1704
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-17 07:02] #1533 closed

[2018-09-17 07:02] 0pdd commented on #1533
The puzzle `1464-5424b9c6` has disappeared from the source code, that's why I closed this issue.

[2018-09-17 07:03] 0pdd opened #1705 "upgrade_bundles.groovy:7-11: Call this script from maven..."
The puzzle `1347-5a27c21a` from #1347 has to be resolved:

https://github.com/zerocracy/farm/blob/5c0f98d8d621d35f4a5b3199ba4fb45981ce348c/upgrade_bundles.groovy#L7-L11

The puzzle was created by rultor on 17-Sep-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is

[2018-09-17 07:03] 0crat commented on #1705
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-17 07:03] 0pdd opened #1706 "Xocument.java:61-66: Xocument is the most slow part of..."
The puzzle `1347-214c7ed4` from #1347 has to be resolved:

https://github.com/zerocracy/farm/blob/5c0f98d8d621d35f4a5b3199ba4fb45981ce348c/src/main/java/com/zerocracy/Xocument.java#L61-L66

The puzzle was created by rultor on 17-Sep-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the te

[2018-09-17 07:04] 0crat commented on #1706
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-17 07:04] 0pdd commented on #773
@amihaiemil 2 puzzles [#1680](https://github.com/zerocracy/farm/issues/1680), [#1681](https://github.com/zerocracy/farm/issues/1681) are still not solved; solved: [#1463](https://github.com/zerocracy/farm/issues/1463), [#1464](https://github.com/zerocracy/farm/issues/1464), [#1465](https://github.com/zerocracy/farm/issues/1465), [#1533](https://github.com/zerocracy/farm/issues/1533), [#1644](https

[2018-09-17 07:04] 0pdd commented on #1464
@0pdd the only puzzle [#1533](https://github.com/zerocracy/farm/issues/1533) is solved here.

[2018-09-17 07:04] 0pdd commented on #1347
@g4s8 2 puzzles [#1705](https://github.com/zerocracy/farm/issues/1705), [#1706](https://github.com/zerocracy/farm/issues/1706) are still not solved.

[2018-09-17 07:09] 0crat commented on #1705
Job [#1705](https://github.com/zerocracy/farm/issues/1705) is now in scope, role is `DEV`

[2018-09-17 07:09] 0crat commented on #1706
Job [#1706](https://github.com/zerocracy/farm/issues/1706) is now in scope, role is `DEV`

[2018-09-17 07:40] 0crat commented on #1347
Job [#1347](https://github.com/zerocracy/farm/issues/1347) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2018-09-17 07:48] 0crat commented on #1347
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-18 06:58] yegor256 commented on #1082
@krzyk thanks!

[2018-09-18 06:58] #1082 closed

[2018-09-18 07:16] 0crat commented on #1082
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-18 07:16] 0crat commented on #1082
The job [#1082](https://github.com/zerocracy/farm/issues/1082) is now out of scope

[2018-09-18 07:33] 0crat commented on #1082
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-09-18 07:34] 0crat commented on #1082
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-18 14:02] yegor256 commented on #1678
@g4s8 I added this:

[code]

[2018-09-18 14:05] yegor256 commented on #1677
@g4s8 we will still need to have two domains, because they are hosted in different places. They can either be xx.zerocracy.com + zerocracy.com or 0crat.com + zerocracy.com. A year ago I decided to go with the second option.

[2018-09-18 14:08] yegor256 commented on #1536
@g4s8 yes, correct, that's what the Policy says (about 4%) or not? If it doesn't, it should.

[2018-09-18 14:19] 0crat commented on #1692
The job [#1692](https://github.com/zerocracy/farm/issues/1692) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2611420365); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-09-18 14:30] 0crat commented on #1705
The job [#1705](https://github.com/zerocracy/farm/issues/1705) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2611430447); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-09-18 14:31] amihaiemil commented on #1615
@yegor256 right, I did't think about that. I guess if it does it for only a few users than it's not worth it and if it advertises to many users, it will be spam.

Closing then...

[2018-09-18 14:31] #1615 closed

[2018-09-18 14:45] krzyk opened #1707 "Stakeholder names should be an enum"
We use stakeholder names in multiple places and it is very easy to make a mistake.
I suggest to create a `StakeholderName` enum, that will contain all the stakeholder names, and reuse those in all the places where we need them.

Additionally we should have a test that will validate that q-profile.xml, q-project.xml and q-tracker.xml use only those stakeholder names that exist in the newly created

[2018-09-18 14:45] 0crat commented on #1707
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-18 14:47] 0crat commented on #1659
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 21days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-18 14:47] 0crat commented on #1278
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 21days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-18 14:47] 0crat commented on #1279
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 21days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-18 14:47] 0crat commented on #1674
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 16days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-18 14:48] 0crat commented on #1615
Job `gh:zerocracy/farm#1615` is not assigned, can't get performer

[2018-09-18 14:48] 0crat commented on #1706
The job [#1706](https://github.com/zerocracy/farm/issues/1706) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2611438594); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-09-18 14:48] 0crat commented on #1205
The job [#1205](https://github.com/zerocracy/farm/issues/1205) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2611448728); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-09-18 14:54] 0crat commented on #1188
The job [#1188](https://github.com/zerocracy/farm/issues/1188) assigned to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2611455797); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2018-09-18 15:00] 0crat commented on #1189
The job [#1189](https://github.com/zerocracy/farm/issues/1189) assigned to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2611460854); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2018-09-18 15:10] 0crat commented on #1190
The job [#1190](https://github.com/zerocracy/farm/issues/1190) assigned to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2611510929); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2018-09-18 15:21] 0crat commented on #1192
The job [#1192](https://github.com/zerocracy/farm/issues/1192) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2611522071); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-09-18 20:29] krzyk commented on #1674
@carlosmiranda I don't see this problem anymore, not sure what it was

[2018-09-18 23:33] carlosmiranda commented on #1278
@0crat wait (busy on other tasks)

[2018-09-18 23:33] carlosmiranda commented on #1279
@0crat wait (busy on other tasks)

[2018-09-18 23:36] carlosmiranda commented on #1205
@0crat refuse (already refused before)

[2018-09-18 23:43] 0crat commented on #1278
@carlosmiranda The impediment for [#1278](https://github.com/zerocracy/farm/issues/1278) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-19 00:16] 0crat commented on #1279
@carlosmiranda The impediment for [#1279](https://github.com/zerocracy/farm/issues/1279) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-19 00:48] 0crat commented on #1205
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1205](https://github.com/zerocracy/farm/issues/1205), please stop working. Reason for job resignation: Order was cancelled

[2018-09-19 00:53] carlosmiranda commented on #1674
@0crat wait (too many tasks)

[2018-09-19 00:53] carlosmiranda commented on #1674
@krzyk maybe we can close it then

[2018-09-19 02:08] 0crat commented on #1674
@carlosmiranda The impediment for [#1674](https://github.com/zerocracy/farm/issues/1674) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-19 02:09] 0crat commented on #1205
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-19 02:10] 0crat commented on #1674
@carlosmiranda Job [#1674](https://github.com/zerocracy/farm/issues/1674) is not in the agenda of @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), can't set impediment

[2018-09-19 02:14] 0crat commented on #1205
The job [#1205](https://github.com/zerocracy/farm/issues/1205) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2620217934); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-09-19 02:37] carlosmiranda commented on #1205
@0crat refuse (dammit stop assigning this to me!!!)

[2018-09-19 03:04] 0crat commented on #1205
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1205](https://github.com/zerocracy/farm/issues/1205), please stop working. Reason for job resignation: Order was cancelled

[2018-09-19 03:40] carlosmiranda commented on #1205
@0crat status

[2018-09-19 03:44] 0crat commented on #1205
@carlosmiranda This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1205](https://github.com/zerocracy/farm/issues/1205) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html

[2018-09-19 03:46] carlosmiranda commented on #1278
@g4s8 please see PR #1708

[2018-09-19 05:48] 0crat commented on #1396
The job [#1396](https://github.com/zerocracy/farm/issues/1396) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2620549969); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-09-19 06:05] 0crat commented on #1396
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-19 06:43] 0crat commented on #1205
The job [#1205](https://github.com/zerocracy/farm/issues/1205) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2620650670); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-09-19 06:49] carlosmiranda commented on #1205
@0crat status

[2018-09-19 06:59] 0crat commented on #1205
@carlosmiranda This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1205](https://github.com/zerocracy/farm/issues/1205) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) for [1

[2018-09-19 07:00] g4s8 commented on #1205
@carlosmiranda it is a bug in election: it says
[code]
but this job is `gh:zerocracy/farm#1205`

[2018-09-19 07:45] 0crat commented on #1259
The job [#1259](https://github.com/zerocracy/farm/issues/1259) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2620755304); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-09-19 07:51] krzyk commented on #1674
@carlosmiranda I need to check again when I hit the max number of tasks, because recently there weren't any tasks available at all

[2018-09-19 08:01] emilianodellacasa opened #1709 "Issue assgiend to two different users"
The issue https://github.com/zold-io/zold/issues/176 seems to be assigned at the same time to two different users, that shouldn't be allowed

[2018-09-19 08:02] 0crat commented on #1709
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-19 08:02] 0crat commented on #1709
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-19 09:13] g4s8 commented on #1709
@emilianodellacasa it's not possible - one job can be assigned only to one user, this job is assigned to you, see https://github.com/zold-io/zold/issues/176#issuecomment-422717894
Previous performer quitted the project, so this job was canceled automatically.

[2018-09-19 09:31] emilianodellacasa commented on #1709
@g4s8 I understand, I have been confused by the fact that I couldn't see the message from the bot stating that the user had resigned.

I guess 0crat bot should post a message when a user quit the project, just like when it resigns from the ticket, what do you think?

[2018-09-19 10:30] g4s8 commented on #1709
@emilianodellacasa thanks

[2018-09-19 10:40] 0crat commented on #1709
Job [#1709](https://github.com/zerocracy/farm/issues/1709) is now in scope, role is `DEV`

[2018-09-19 10:41] 0crat commented on #1709
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-09-19 10:44] yegor256 commented on #1609
@g4s8 @carlosmiranda I agree with https://github.com/zerocracy/farm/issues/1609#issuecomment-414108799

[2018-09-19 10:54] yegor256 commented on #1459
@llorllale yes, you can. Here we are talking about the profile rate, which you set for yourself via Telegram. The rate in the project is set by the ARC/PO, not the user and not the bot.

[2018-09-19 10:59] 0crat commented on #1275
The job [#1275](https://github.com/zerocracy/farm/issues/1275) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2621064892); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-09-19 11:08] yegor256 commented on #1662
@g4s8 we already have PostgreSQL enabled there, we use it for the Quartz tasks, remember? You can use the same DB connection. Just make sure you also use Liquibase, in order to create and maintain the DB schema. See how it works in this project, for example: https://github.com/aintshy/hub

[2018-09-19 11:12] yegor256 commented on #1613
@g4s8 I like the idea, for sure.

[2018-09-19 11:13] yegor256 commented on #1613
@g4s8 maybe we should use PostgreSQL for that, since the size of that "history" will grow up to very big numbers. Would be wise to just drop them all into a PostgreSQL table. All of them.

[2018-09-19 11:46] yegor256 commented on #915
@carlosmiranda yes, let's make it all visible

[2018-09-19 11:48] yegor256 commented on #938
@victornoel I don't think I like this. I don't like compromises in general. If it's off, it's off.

[2018-09-19 11:52] victornoel commented on #938
@yegor256 np, it seemed more important at the time that it feels right now anyway :)

[2018-09-19 11:52] #938 closed

[2018-09-19 11:58] denis-konovalyenko opened #1711 "Build with tests failed"
Following the advice of the How to Contribute section [here](https://github.com/zerocracy/farm#how-to-contribute) had caused the build to fail:
[code]
The mentioned resource is not present. For more information please refer to
the attached build log - [tests-failed.log](https://github.com/zerocracy/farm/files/2396885/tests-failed.log).

I assume that this is specific to running the tests on FreeBS

[2018-09-19 11:58] 0crat commented on #1711
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-19 12:15] g4s8 commented on #1711
@denis-konovalyenko can you contribute with a pull-request (I can assign this task to you)? I think there can be maven profile with system properties to specify local mongo for tests. E.g. you put it in your local `~/.m2/settings.xml`:
[code]
and enable it for your OS in `pom.xml`:
[code]
then check it in `ExtMongo`:
[code]

[2018-09-19 12:16] 0crat commented on #938
Job `gh:zerocracy/farm#938` is not assigned, can't get performer

[2018-09-19 12:18] 0crat commented on #1613
Job [#1613](https://github.com/zerocracy/farm/issues/1613) is now in scope, role is `DEV`

[2018-09-19 12:27] denis-konovalyenko commented on #1711
@g4s8 , thanks for replying! Sure, I can make and the proposed changes.

[2018-09-19 13:26] krzyk commented on #1674
@carlosmiranda nope, problem still exists, see https://www.0crat.com/footprint/C3NDPUA8L/2621053799 and go to my election results, I got 11 jobs, but my maxJobsInAgenda is set to 10

[2018-09-19 13:28] krzyk commented on #1692
@g4s8 could you add https://github.com/zerocracy/datum/issues/386 to `performance` milestone also?

[2018-09-19 13:33] 0crat commented on #1613
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-09-19 13:43] paulodamaso commented on #1259
@g4s8 I'd like to see the footprint of these jobs, looks like 0crat somewhere messed things

[2018-09-19 13:56] g4s8 commented on #1711
@0crat assign @denis-konovalyenko

[2018-09-19 14:45] 0crat commented on #1711
@g4s8 The job [#1711](https://github.com/zerocracy/farm/issues/1711) assigned to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2621423090); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2018-09-19 15:34] 0crat commented on #1711
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2018-09-19 15:34] 0crat commented on #1711
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-19 15:39] 0crat commented on #1711
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-19 19:35] denis-konovalyenko opened #1712 "How to properlly setup and run farm in my local environment"
[The How to contribute section](https://github.com/zerocracy/farm#how-to-contribute) does not help a new starter to properly build, configure and run the project. It is a vital information to get started!

**Building**
What software do I need to have installed and configured in my system (e.g. which database) before running the build process?
What does every of the build options (profiles) mean an

[2018-09-19 19:35] 0crat commented on #1712
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-19 19:41] denis-konovalyenko commented on #1188
@0crat wait (impediments: #1711, #1712)

[2018-09-19 19:42] denis-konovalyenko commented on #1190
@0crat wait (impediments: #1711, #1712)

[2018-09-19 19:59] 0pdd commented on #1389
The puzzle `926-0d29fc00` has disappeared from the source code, that's why I closed this issue.

[2018-09-19 19:59] #1389 closed

[2018-09-19 20:04] g4s8 commented on #1396
@rultor release, tag=`0.33.1`

[2018-09-19 20:06] rultor commented on #1396
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15961-422939663)

[2018-09-19 20:38] denis-konovalyenko opened #1714 "Code conventions documentation required"
I was not able to find any code style associated documentation. Do we have it somewhere else?

The checkstye is failing with 58 violations in my PR #1713...

[2018-09-19 20:38] 0crat commented on #1714
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-19 20:40] denis-konovalyenko commented on #1711
@0crat wait (impediments: #1714 )

[2018-09-19 21:12] denis-konovalyenko opened #1715 "0crat sends ZLD when the specified wallet is for BTC"
I had set my wallet to BTC, however, 0crat informed me that the fee went to ZLD wallet somehow... For more details please observe my chat with 0crat below.
![sending-zld-when-specified-btc](https://user-images.githubusercontent.com/15904097/45781697-65c81700-bc69-11e8-80b9-9a61449c0419.png)

[2018-09-19 21:12] 0crat commented on #1715
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-19 21:57] 0crat commented on #1188
@denis-konovalyenko The impediment for [#1188](https://github.com/zerocracy/farm/issues/1188) was registered successfully by @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2018-09-19 21:58] 0crat commented on #1189
@denis-konovalyenko The impediment for [#1189](https://github.com/zerocracy/farm/issues/1189) was registered successfully by @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2018-09-19 22:04] 0crat commented on #1190
@denis-konovalyenko The impediment for [#1190](https://github.com/zerocracy/farm/issues/1190) was registered successfully by @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2018-09-19 22:15] 0crat commented on #1389
Job `gh:zerocracy/farm#1389` is not assigned, can't get performer

[2018-09-19 22:36] 0crat commented on #1711
@denis-konovalyenko The impediment for [#1711](https://github.com/zerocracy/farm/issues/1711) was registered successfully by @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2018-09-19 22:55] 0crat commented on #1389
The job [#1389](https://github.com/zerocracy/farm/issues/1389) is now out of scope

[2018-09-20 00:40] carlosmiranda commented on #898
@yegor256 PR #1689 merged, may we close this now?

[2018-09-20 04:12] g4s8 commented on #1678
@rultor release, tag=`0.33.2`

[2018-09-20 04:14] rultor commented on #1678
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15963-423034340)

[2018-09-20 04:30] rultor commented on #1678
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15963-423034340) (took me 15min)

[2018-09-20 04:31] g4s8 commented on #1712
@denis-konovalyenko it is a big work, you'll need to create and configure a lot of AWS services (which may be not free BTW). Why do you need it?

[2018-09-20 04:35] g4s8 commented on #1715
@denis-konovalyenko it's a bonus ZLD, we're sending extra ZLD with base payment (with same amount). You BTC payment wasn't sent because it's too small, 0crat accumulates small payments in debts and send them all together when the amount is big enough, see https://www.zerocracy.com/policy.html#46

[2018-09-20 04:39] g4s8 commented on #1714
@denis-konovalyenko all code style rules are checked with qulice maven plugin, you can find them here: https://www.qulice.com/quality.html

[2018-09-20 07:27] g4s8 commented on #1678
@rultor release, tag=`0.33.3`

[2018-09-20 07:29] rultor commented on #1678
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15963-423071229)

[2018-09-20 07:31] 0crat commented on #1280
The job [#1280](https://github.com/zerocracy/farm/issues/1280) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2630037150); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-09-20 07:31] 0crat commented on #1280
Job `gh:zerocracy/farm#1280` already assigned to @krzyk, can't assign to @krzyk

[2018-09-20 07:47] rultor commented on #1678
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15963-423071229) (took me 17min)

[2018-09-21 05:46] g4s8 commented on #1678
@rultor release, tag=`0.33.4`

[2018-09-21 05:48] rultor commented on #1678
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15963-423420387)

[2018-09-21 05:51] g4s8 commented on #1662
@carlosmiranda you've already found the reason of this issue, can you submit a PR with a todo to fix it using Postgres as in https://github.com/zerocracy/farm/issues/1662#issuecomment-422759929 and we will close this task

[2018-09-21 06:04] rultor commented on #1678
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15963-423420387) (took me 15min)

[2018-09-21 06:35] carlosmiranda commented on #1659
@g4s8 I have a hypothesis about what's causing this:

The CID is actually formed by adding together two things:

* The current time in the following format: (`DDDHHMM000`)
(where `DDD` is the nth day of the year (e.g. Sept. 21 is 264), `HH` is hours, `MM` is minutes)
---> September 21, 01:35 would be `2640135000`
* An incrementing `AtomicLong`

The first number increases every minute by 1000 due t

[2018-09-21 06:55] carlosmiranda commented on #1662
@g4s8 see PR #1716

[2018-09-21 07:02] g4s8 commented on #1659
@carlosmiranda it seems to be possible after release (when claim counter is reset to zero).
E.g. it increases from `1` to `1001` in one minute in `September 21, 01:35`, so `cid`'s range is `2640135001` -> `2640136001`, after new release this counter becomes `0` again, so after one minute `cid` can be `2640136001`.

Maybe it's better to use `UUID.randomUUID()` for claim ids, what do yu think? It sh

[2018-09-21 07:32] g4s8 commented on #1662
@carlosmiranda thanks

[2018-09-21 07:32] #1662 closed

[2018-09-21 08:08] g4s8 commented on #1028
done in #1703

[2018-09-21 08:08] #1028 closed

[2018-09-21 09:03] g4s8 commented on #1259
@paulodamaso working on it

[2018-09-21 09:31] 0crat commented on #1028
Job [#1028](https://github.com/zerocracy/farm/issues/1028) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2018-09-21 09:44] 0crat commented on #1662
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-21 10:29] g4s8 opened #1717 "Claims priority"
The problem: scheduled jobs (aka pings) may produce a high load, every minute election is running for all projects, and job to resign by delay, every hour a lot of routine jobs are started together. If a user tries to send a command in a chat-bot or make some action in github which produces a webhook, while ping jobs are running, this claim (from chat-bot or webhook) will be placed in the end of t

[2018-09-21 10:30] g4s8 commented on #1717
@yegor256 please look at this issue

[2018-09-21 10:58] 0crat commented on #1662
The job [#1662](https://github.com/zerocracy/farm/issues/1662) is now out of scope

[2018-09-21 11:27] denis-konovalyenko commented on #1712
@g4s8 , my main concern is that I do not know how to actually verify that, for example, one or another issue has been solved and it has not caused new ones to appear... I assume we are not allowed to debug production, so how I can get into the code execution flow then? Maybe, I have missed something and this is not the way the work has to be done here - could you please point me out in the right d

[2018-09-21 11:49] 0crat commented on #1028
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-21 11:51] 0crat commented on #1028
The job [#1028](https://github.com/zerocracy/farm/issues/1028) is now out of scope

[2018-09-21 12:04] g4s8 commented on #1712
@denis-konovalyenko please read this: https://www.yegor256.com/2016/02/09/are-you-still-debugging.html

If you need to prove that some class is working as expected, you can write a unit-test for that class, e.g. see `ExtMongoTest` which has tests for `ExtMongo` class; if you're testing a class which requires external service, you can write integration test, e.g. `ClaimsSqsITCase` connects to AWS S

[2018-09-21 13:10] ypshenychka commented on #1662
@0crat quality good

[2018-09-21 13:12] g4s8 commented on #1678
@yegor256 I just received stats for one day, can we close?

[2018-09-21 14:39] 0crat commented on #1662
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-21 14:39] 0crat commented on #1662
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-21 15:01] denis-konovalyenko commented on #1715
@g4s8 , thank you for the clarification! Wouldn't it be better to state this somewhere in the document then? By the way, does this also mean that I have to set my wallet to ZLD to earn the bonus?

Regarding the accumulation of payments in debts, I knew about that from the policy. Thanks for the direct reference!

[2018-09-21 15:09] g4s8 commented on #1712
@denis-konovalyenko added some details to README, see https://github.com/zerocracy/farm/commit/449531dae18873c507886d2f71fac17604db82a7

If something is not clear, please submit a ticket about that (you can combine multiple issues about documentation in one ticket)

[2018-09-21 15:15] g4s8 commented on #1715
@denis-konovalyenko no, you don't need to setup it, you can access it via https://wts.zold.io/
This is a temporary bonus just to attract attention to ZLD, so I don't think it should be placed in a policy.

[2018-09-21 15:36] denis-konovalyenko commented on #1712
@g4s8 , the changes look good - thanks for your efforts!

Here are more thoughts on the build configuration options. For sure, there are some profiles that affect the build behaviour in one or another way. Would it be possible to say some words about that as well, at least about the mentioned in [the How to contribute section](https://github.com/zerocracy/farm#how-to-contribute)?

Yet another thin

[2018-09-21 15:40] 0crat commented on #1692
@krzyk Can't understand "waitign", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this i

[2018-09-21 15:42] denis-konovalyenko commented on #1715
@g4s8 , got it - thanks! Can I close the issue then?

[2018-09-21 16:59] olenagerasimova opened #1718 "Empty title of the dev job in agenda"
In my agenda I have a job with empty title:
![image](https://user-images.githubusercontent.com/14931449/45894813-2a982600-bdd8-11e8-8474-0dfe76edb9c1.png)

The issue itself has a title in github
![image](https://user-images.githubusercontent.com/14931449/45894878-616e3c00-bdd8-11e8-987e-c10876d55285.png)

Other issues in my agenda are displayed with title as usual.

[2018-09-21 16:59] 0crat commented on #1718
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-21 16:59] 0crat commented on #1718
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-21 17:37] 0crat commented on #1692
@krzyk The impediment for [#1692](https://github.com/zerocracy/farm/issues/1692) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-09-21 18:16] 0crat commented on #1718
Job [#1718](https://github.com/zerocracy/farm/issues/1718) is now in scope, role is `DEV`

[2018-09-21 19:20] 0crat commented on #1718
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2018-09-22 11:00] 0crat commented on #1284
The job [#1284](https://github.com/zerocracy/farm/issues/1284) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2651030851); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-09-23 01:46] denis-konovalyenko commented on #1714
@g4s8 , as I promised, below is the first portion of checks I would like to draw your attention to.

[ImportCohesionCheck](https://www.qulice.com/qulice-checkstyle/apidocs/com/qulice/checkstyle/ImportCohesionCheck.html) - In my opinion, it is unusual to think about this at all, so it would be best to let our IDE to take care of that (the IDE formatting rules needed).

[JavadocTagsCheck](https://ww

[2018-09-23 02:39] 0crat commented on #1162
The job [#1162](https://github.com/zerocracy/farm/issues/1162) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2660237322); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-09-23 03:28] 0crat commented on #1305
The job [#1305](https://github.com/zerocracy/farm/issues/1305) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2660248463); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-09-23 04:29] g4s8 commented on #1714
@denis-konovalyenko please report these questions here: https://github.com/teamed/qulice

I don't agree that some checks can be replaced with IDE warnings, because people may use different IDEs and IDE warning can't fail the build during CI or merge, where qulice can - if you have some style violation, your branch will not be merged because of auto-checks.

[2018-09-23 06:46] 0crat commented on #1211
The job [#1211](https://github.com/zerocracy/farm/issues/1211) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2660644288); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-09-23 07:32] victornoel commented on #1125
@g4s8 this would be cool if this was solved, my IDE is always complaining about that

[2018-09-23 09:00] victornoel opened #1719 "Consider dropping Groovy"
This is a difficult issue, but I think it should be said: Groovy is hell to work with.

Some small changes to the codebase (see #1305) took way too long to tackle because of Groovy: it's not typed so it is really hard to find where things are broken when changing the type of class.
I'm not even talking about changing a string somewhere, but an actual object type.
This should be simplest act during

[2018-09-23 09:00] 0crat commented on #1719
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-23 09:06] victornoel commented on #1305
@0crat waiting for #1720 to be merged

[2018-09-23 09:08] victornoel commented on #1282
@emilianodellacasa @g4s8 this is not clear what is expected of DEV here...

[2018-09-23 09:09] victornoel commented on #1282
@0crat waiting for reporter and ARC answer

[2018-09-23 09:33] 0crat commented on #1305
@victornoel The impediment for [#1305](https://github.com/zerocracy/farm/issues/1305) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-09-23 09:34] 0crat commented on #1282
@victornoel The impediment for [#1282](https://github.com/zerocracy/farm/issues/1282) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-09-23 09:41] 0crat commented on #1162
@victornoel The impediment for [#1162](https://github.com/zerocracy/farm/issues/1162) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-09-23 16:32] 0crat commented on #1706
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-23 16:36] 0crat commented on #1192
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-23 16:37] 0crat commented on #1238
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-23 22:07] carlosmiranda commented on #1706
@0crat refuse

[2018-09-23 22:56] 0crat commented on #1706
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1706](https://github.com/zerocracy/farm/issues/1706), please stop working. Reason for job resignation: Order was cancelled

[2018-09-23 23:09] 0crat commented on #1706
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-23 23:10] 0crat commented on #1101
The job [#1101](https://github.com/zerocracy/farm/issues/1101) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2662311724); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-09-23 23:10] 0crat commented on #1101
Job `gh:zerocracy/farm#1101` already assigned to @carlosmiranda, can't assign to @carlosmiranda

[2018-09-23 23:10] 0crat commented on #1127
The job [#1127](https://github.com/zerocracy/farm/issues/1127) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2662318801); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-09-24 05:28] carlosmiranda commented on #1192
@0crat refuse

[2018-09-24 05:28] carlosmiranda commented on #1238
@0crat refuse

[2018-09-24 05:28] carlosmiranda commented on #1205
@0crat wait (if I refuse, I get penalized and reassigned)

[2018-09-24 05:52] 0crat commented on #1192
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1192](https://github.com/zerocracy/farm/issues/1192), please stop working. Reason for job resignation: Order was cancelled

[2018-09-24 05:54] 0crat commented on #1238
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1238](https://github.com/zerocracy/farm/issues/1238), please stop working. Reason for job resignation: Order was cancelled

[2018-09-24 05:55] 0crat commented on #1205
@carlosmiranda The impediment for [#1205](https://github.com/zerocracy/farm/issues/1205) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-24 05:55] 0crat commented on #1192
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-24 05:55] 0crat commented on #1238
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-24 05:56] 0crat commented on #1151
The job [#1151](https://github.com/zerocracy/farm/issues/1151) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2670568590); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-09-24 07:16] carlosmiranda commented on #1659
@g4s8 please see #1723

[2018-09-24 07:17] carlosmiranda commented on #1659
@0crat wait for merge of #1723

[2018-09-24 07:49] carlosmiranda commented on #1659
@g4s8 also raised issue in Datum, see https://github.com/zerocracy/datum/issues/388

[2018-09-24 07:58] g4s8 opened #1724 "User can be banned after election"
User can be banned for a job after election, so it's possible to elect issue reporter if `Ping` claim will be processed after job added to WBS and before performer election. E.g. this job: https://github.com/zerocracy/farm/pull/1722
 See https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%231722%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D
![scrot-2018-09-24-10 47 46](ht

[2018-09-24 07:59] g4s8 commented on #1396
@carlosmiranda it should be fixed in `0.33.1` version, can we close?

[2018-09-24 08:01] carlosmiranda commented on #1396
@g4s8 thanks

[2018-09-24 08:01] #1396 closed

[2018-09-24 08:07] 0crat commented on #1659
@carlosmiranda The impediment for [#1659](https://github.com/zerocracy/farm/issues/1659) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-24 08:46] 0crat commented on #1724
Job [#1724](https://github.com/zerocracy/farm/issues/1724) is now in scope, role is `DEV`

[2018-09-24 11:12] 0crat commented on #1259
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-24 12:03] 0crat commented on #1724
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-24 12:33] 0crat commented on #1396
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-24 13:06] 0crat commented on #1396
The job [#1396](https://github.com/zerocracy/farm/issues/1396) is now out of scope

[2018-09-24 14:34] 0crat commented on #1275
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-24 17:49] #1715 closed

[2018-09-24 18:56] 0crat commented on #1715
Job `gh:zerocracy/farm#1715` is not assigned, can't get performer

[2018-09-24 19:11] 0crat commented on #1715
This job is not in scope

[2018-09-24 20:48] llorllale commented on #1582
@victornoel it's no longer in my agenda

[2018-09-24 20:48] #1582 closed

[2018-09-24 22:01] 0crat commented on #1582
Job `gh:zerocracy/farm#1582` is not assigned, can't get performer

[2018-09-25 01:13] 0crat commented on #1280
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-25 06:17] 0crat commented on #1341
@g4s8 The job [#1341](https://github.com/zerocracy/farm/issues/1341) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2680544414); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-09-25 06:32] 0crat commented on #1341
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-25 06:48] 0crat commented on #1691
@g4s8 The job [#1691](https://github.com/zerocracy/farm/issues/1691) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2680633345); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-09-25 07:02] 0crat commented on #1691
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-25 07:27] krzyk commented on #1211
@krzyk done in #1722

[2018-09-25 07:27] #1211 closed

[2018-09-25 08:11] yegor256 commented on #898
@carlosmiranda thanks!

[2018-09-25 08:11] #898 closed

[2018-09-25 08:33] 0crat commented on #1211
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-25 08:48] 0crat commented on #1211
The job [#1211](https://github.com/zerocracy/farm/issues/1211) is now out of scope

[2018-09-25 08:54] ypshenychka commented on #1211
@0crat quality good

[2018-09-25 09:21] 0crat commented on #898
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-25 09:34] 0crat commented on #898
The job [#898](https://github.com/zerocracy/farm/issues/898) is now out of scope

[2018-09-25 09:35] ypshenychka commented on #898
@0crat quality good

[2018-09-25 10:11] 0crat commented on #1211
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-09-25 10:12] 0crat commented on #1211
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-25 10:44] 0crat commented on #898
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-25 10:56] 0crat commented on #898
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-25 11:04] 0crat commented on #1311
The job [#1311](https://github.com/zerocracy/farm/issues/1311) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2681036767); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-09-25 11:05] 0crat commented on #1311
Job `gh:zerocracy/farm#1311` already assigned to @carlosmiranda, can't assign to @carlosmiranda

[2018-09-25 11:05] 0crat commented on #1311
Job `gh:zerocracy/farm#1311` already assigned to @carlosmiranda, can't assign to @carlosmiranda

[2018-09-25 11:05] 0crat commented on #1311
Job `gh:zerocracy/farm#1311` already assigned to @carlosmiranda, can't assign to @carlosmiranda

[2018-09-25 11:14] 0crat commented on #1308
The job [#1308](https://github.com/zerocracy/farm/issues/1308) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2681058119); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-09-25 11:34] 0crat commented on #1238
The job [#1238](https://github.com/zerocracy/farm/issues/1238) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2681143559); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-09-25 11:49] 0crat commented on #1325
The job [#1325](https://github.com/zerocracy/farm/issues/1325) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2681147711); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-09-25 16:04] g4s8 commented on #575
@yegor256 it was done in #1521 PR

[2018-09-25 16:04] #575 closed

[2018-09-25 16:16] g4s8 commented on #1341
@0crat status

[2018-09-25 16:17] #665 closed

[2018-09-25 17:02] 0crat commented on #665
Job [#665](https://github.com/zerocracy/farm/issues/665) is not in the agenda of @yegor256[/z](https://www.0crat.com/u/yegor256), can't retrieve data and time of add

[2018-09-25 17:12] 0crat commented on #575
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-25 17:12] 0crat commented on #575
The job [#575](https://github.com/zerocracy/farm/issues/575) is now out of scope

[2018-09-25 17:29] 0crat commented on #665
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-09-25 17:29] 0crat commented on #665
The job [#665](https://github.com/zerocracy/farm/issues/665) is now out of scope

[2018-09-25 19:18] g4s8 opened #1726 ""Resign all roles" has no token in resign_all_roles"
Repeating error in `resign_all_roles` script (https://sentry.io/zerocracy/farm/issues/666399427/?query=is:unresolved):
[code]

[2018-09-25 19:56] 0crat commented on #1726
Job [#1726](https://github.com/zerocracy/farm/issues/1726) is now in scope, role is `DEV`

[2018-09-25 20:29] 0crat commented on #1726
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-26 05:14] 0crat commented on #1305
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-26 05:29] ypshenychka commented on #1305
@0crat quality good

[2018-09-26 07:02] 0crat commented on #1305
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-09-26 07:02] 0crat commented on #1305
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-26 12:28] denis-konovalyenko opened #1727 "The com.zerocracy.tk.profile.TkProfileTest#showsLinkToPolicyForUnknownUser test is failing on the AppVeyor"
Below is the extracted stack trace of the issue (the full build information is available [here](https://ci.appveyor.com/project/yegor256/farm/build/1100)):

[code]
@krzyk , assumes that the fix is here https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/issues/45.

[2018-09-26 12:28] 0crat commented on #1727
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-26 13:31] g4s8 opened #1728 "Too many temporary rdfarm files"
`RdFarm` produces a lot of temporary files on production (e.g. `/tmp/rdfarm5919867088714710480.xml`). Because of that farm app throws `java.nio.file.FileSystemException: No space left on device` after few days of working. We should remove these teporary xml files after using.

[2018-09-26 13:31] g4s8 commented on #1728
@0crat assign @carlosmiranda

[2018-09-26 13:42] g4s8 commented on #1727
@denis-konovalyenko duplicate of #1704

[2018-09-26 13:42] #1727 closed

[2018-09-26 13:54] 0crat commented on #1728
@g4s8 The job [#1728](https://github.com/zerocracy/farm/issues/1728) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2691334058); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-09-26 14:06] 0crat commented on #1727
Job `gh:zerocracy/farm#1727` is not assigned, can't get performer

[2018-09-26 14:06] 0crat commented on #1728
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-26 14:18] 0crat commented on #1728
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-26 16:00] g4s8 commented on #1041
@proshin-roman it was partially fixed in #1367 and will be fixed completely after #1704

[2018-09-26 16:00] #1041 closed

[2018-09-27 06:19] amihaiemil opened #1730 "Possible XXE attack?"
Certain users can upload XML files and this **might** pose a very high rish, because our XML parser may also process [XML External Entities](https://www.owasp.org/index.php/XML_External_Entity_(XXE)_Processing).

I didn't try it since I didn't want to take down Production, but basically if the user uploads this kind of XXE xml, they could either get access to internal Files (from the OS) or take d

[2018-09-27 06:19] 0crat commented on #1730
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-27 09:20] g4s8 opened #1731 "Warning message for long claims"
Log warning message (which will be sent to Sentry automatically) if claim is executing by stakeholder longer than 5 seconds. Message should contain claim id, signature, type and project.

[2018-09-27 09:40] g4s8 opened #1732 "Election is slow"
`elect_performer` can take up to 10 minute to complete:
[code]
let's count each step in election and log a message after election with all timings. We should know how long can take each `Rank` to sort WBS, and each `Vote` call, (sum by type). Example log output:
`Election completed in 489487ms: RnkGithubLabel=100ms, RnkGithubLabel=200ms, VsWorkload=300ms`

[2018-09-27 09:40] g4s8 commented on #1732
@0crat assign @krzyk

[2018-09-27 10:43] 0crat commented on #1731
@g4s8 The job [#1731](https://github.com/zerocracy/farm/issues/1731) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2700937387); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-09-27 11:52] 0crat commented on #1732
@g4s8 The job [#1732](https://github.com/zerocracy/farm/issues/1732) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2701018071); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-09-27 12:04] 0crat commented on #1731
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-27 12:17] 0crat commented on #1731
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-27 12:43] 0crat commented on #1284
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-27 12:51] 0crat commented on #1732
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-27 12:54] g4s8 commented on #1717
@yegor256 ping, please look here

[2018-09-27 13:00] 0crat commented on #1732
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-27 13:43] krzyk commented on #1341
@carlosmiranda Changes have been merged to master in #1729, please close this issue

[2018-09-27 21:30] victornoel opened #1733 "Incoherent point taking/giving when inviting student"
I've invited a student: zerocracy both took 128 points from my reputation AND gave me 32 point.

0crat told me I would get 32 point for inviting, not loose so much reputation.

This should be clarifier and fixed so that one or the other happens...

[2018-09-27 21:30] 0crat commented on #1733
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-28 04:16] g4s8 commented on #1162
@

[2018-09-28 04:16] 0crat commented on #1162
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-28 04:39] g4s8 commented on #1162
@victornoel I don't think this solution will work, because we can't use only minutes to make a payment. Let me explain you how payment for closed job is performed:
when 0crat assigns a job to performer it calculates `estimate` for this job, it is amount of cash in `$` which will be sent to performer on close. Then, when job is closed, 0crat read this estimate value for the job and post `Make payme

[2018-09-28 04:51] 0crat commented on #1162
GitHub issue is still open, won't close

[2018-09-28 05:06] 0crat commented on #1733
The job [#1733](https://github.com/zerocracy/farm/issues/1733) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2710455796); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-09-28 05:10] 0crat commented on #1733
Job `gh:zerocracy/farm#1733` already assigned to @g4s8, can't assign to @g4s8

[2018-09-28 05:13] g4s8 commented on #1733
@victornoel PR for policy: https://github.com/zerocracy/zerocracy.github.io/pull/59

[2018-09-28 05:13] 0crat commented on #1733
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-09-28 05:13] 0crat commented on #1733
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-28 06:08] g4s8 commented on #1733
@victornoel PR with fix: #1734

[2018-09-28 06:37] victornoel commented on #1162
@g4s8 ok, thanks for the explanation, I will do that

[2018-09-28 12:07] carlosmiranda commented on #1341
@krzyk thanks

[2018-09-28 12:07] #1341 closed

[2018-09-28 17:17] 0crat commented on #1341
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-28 17:29] carlosmiranda commented on #1275
@0crat refuse

[2018-09-28 17:29] carlosmiranda commented on #1101
@0crat refuse

[2018-09-28 17:34] 0crat commented on #1341
The job [#1341](https://github.com/zerocracy/farm/issues/1341) is now out of scope

[2018-09-28 18:27] 0crat commented on #1275
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1275](https://github.com/zerocracy/farm/issues/1275), please stop working. Reason for job resignation: Order was cancelled

[2018-09-28 18:27] 0crat commented on #1101
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1101](https://github.com/zerocracy/farm/issues/1101), please stop working. Reason for job resignation: Order was cancelled

[2018-09-28 18:39] 0crat commented on #1275
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-28 18:47] 0crat commented on #1101
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-28 19:50] krzyk commented on #1705
@g4s8 issue wasn't closed but the puzzle disappeared from the code

[2018-09-28 19:50] krzyk commented on #1705
@0crat status

[2018-09-28 19:52] krzyk commented on #1280
@0crat wait, I'm busy with other tasks

[2018-09-28 20:12] 0crat commented on #1280
@krzyk Can't understand "wait,", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this iss

[2018-09-28 20:19] krzyk commented on #1280
@0crat wait  I'm busy with other tasks

[2018-09-28 20:19] 0crat commented on #1705
@krzyk This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1705](https://github.com/zerocracy/farm/issues/1705) is [in scope](http://www.zerocracy.com/policy.html#14) for 12days
  * The role is `DEV`
  * The job is assigned to @krzyk[/z](https://www.0crat.com/u/krzyk) for [10days](http://www.zero

[2018-09-28 20:32] 0crat commented on #1280
@krzyk The impediment for [#1280](https://github.com/zerocracy/farm/issues/1280) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-09-29 00:00] 0crat commented on #1127
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-29 05:50] ypshenychka commented on #1341
@0crat quality good

[2018-09-29 06:54] 0crat commented on #1341
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-09-29 06:54] 0crat commented on #1341
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-29 07:08] 0crat commented on #1151
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-29 07:57] g4s8 commented on #1705
@krzyk looks like @0pdd is broken, it also can't submit new issues

[2018-09-29 07:57] #1705 closed

[2018-09-29 08:15] 0crat commented on #1705
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-29 08:15] 0crat commented on #1705
The job [#1705](https://github.com/zerocracy/farm/issues/1705) is now out of scope

[2018-09-29 08:53] g4s8 commented on #1733
@rultor release, tag=`0.34.4`

[2018-09-29 08:55] rultor commented on #1733
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16026-425628782)

[2018-09-29 09:07] victornoel opened #1736 "ClaimOut (and maybe other objects) does not escape string before writing to xml"
In some case, `ClaimIn` receive some text in its `reply` method that is not valid xml.
Since reply results in a `ClaimOut` object being created, which writes to xml, the whole process just fails instead of the text being written as expected.

One example where this happens is with `set_rate` that has a bug where:
- a rate of `100EUR` is parsed
- the EUR string is replaced by the euro symbol
- whic

[2018-09-29 09:07] 0crat commented on #1736
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-29 09:11] rultor commented on #1733
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/16026-425628782) (took me 15min)

[2018-09-29 09:16] g4s8 commented on #1733
@victornoel it was fixed in #1734 PR, can we close?

[2018-09-29 09:38] g4s8 commented on #1736
@victornoel are you sure that it is `ClaimOut` bug? According to `XML_1.0` spec it is a valid character and can be presented in xml, see https://stackoverflow.com/a/28152666
Also invalid `Xembler` class automatically escape xml, e.g. try to run this code:
[code]

[2018-09-29 09:47] victornoel commented on #1736
@g4s8 actually, the incriminating character was \1 which is forbidden by XML.

Here is the stack trace:
[code]

[2018-09-29 10:13] victornoel commented on #1282
@emilianodellacasa @g4s8 PR with fix: #1737

[2018-09-29 10:15] victornoel commented on #1719
@g4s8 for the record, while fixing a simple task such as #1282, it took me way more than 30mn just because groovy is such a pain to work with. Between bad IDE support and back-and-forth because of typing errors impossible to understand (I had to copy paste my code in Java to understand the problem with it), it doubled the time it took me.

[2018-09-29 10:32] ypshenychka commented on #1705
@0crat quality good

[2018-09-29 10:33] 0crat commented on #1736
The job [#1736](https://github.com/zerocracy/farm/issues/1736) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2721007855); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-09-29 10:35] g4s8 commented on #1719
@victornoel groovy is used here to write procedural script files without classes which can be executed in runtime and has java bindings. It is not used as a language with cool syntax or light version of java. To avoid type issues you should always use type names instead of `def` keyworkd: `Awards awards = new Awards(farm, user)`, not `def awards = new Awards(farm, user)`. You can try to use "Intel

[2018-09-29 10:35] #1719 closed

[2018-09-29 10:39] 0crat commented on #1736
Job `gh:zerocracy/farm#1736` already assigned to @g4s8, can't assign to @g4s8

[2018-09-29 10:39] 0crat commented on #1736
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-09-29 10:49] 0crat commented on #1736
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-29 11:12] 0crat commented on #1736
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-09-29 11:18] 0crat commented on #1719
Job `gh:zerocracy/farm#1719` is not assigned, can't get performer

[2018-09-29 11:18] 0crat commented on #1705
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-09-29 11:19] 0crat commented on #1705
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-09-29 13:54] victornoel opened #1738 "Getting inexplicable error while running bundle tests"
I'm trying to solve #1162 but when running tests, after doing some changes, I'm getting lots of this error:
[code]

I have no idea what this means and what is creating this situation.
Could I get an explanation as well as having this improved or documented somewhere?

[2018-09-29 13:54] 0crat commented on #1738
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-29 13:58] victornoel opened #1739 "Errors when preparing environment in BundlesTest are invisibly swallowed"
I am trying to solve #1162 and I got blocked because an error during the processing of the `claims.xml` file of a bundle got swallowed and never shown to me.

I had to realise it happened by going through debug.

The situation was the following:
- trying to make `publish_project` bundle work
- the first claim of the claims.xml is a "Make Payment" claim, and since I changed the code and wasn't fini

[2018-09-29 13:58] 0crat commented on #1739
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-29 14:01] victornoel commented on #1162
@g4s8 @proshin-roman for the moment I am blocked by #1738

[2018-09-29 14:14] carlosmiranda commented on #1127
@0crat refuse

[2018-09-29 14:14] 0crat commented on #1127
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1127](https://github.com/zerocracy/farm/issues/1127), please stop working. Reason for job resignation: Order was cancelled

[2018-09-29 14:16] g4s8 commented on #1739
@victornoel it's working as expected: `publish_project` script throws `SoftException` which was catched by `StkSafe` to reply to user with error message. `SoftException` should not fail entire system, they are used to notify claim's author about error. So if user with low reputation will try to publish a project he will see this error: `"Your reputation is 1, while a minimum of 1024 is required in

[2018-09-29 14:38] victornoel commented on #1739
@g4s8 I'm talking about tests. I understand how things work for production, but during tests, this is not desired.

In this situation, when we have failing tests, we don't know why they fails: I already gave an example of this in the description of this issue.

Sometimes it is worse: they should be failing but they are not because the tests themselves are bugged.

Here is an example:
- `bootstrap_

[2018-09-29 14:39] 0crat commented on #1151
@carlosmiranda The impediment for [#1151](https://github.com/zerocracy/farm/issues/1151) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-29 14:42] g4s8 commented on #1739
@victornoel it is a bug in `bootstrap`, not in `bootstrap_short_named_project` test. This test just check that `bootstrap` can create new project in a catalog.

[2018-09-29 14:56] victornoel commented on #1738
@g4s8 I understand what is happening, but I don't understand why it is happening. I am just running the `BundlesTest` tests.

I can't seem to reproduce it anymore now... this is maybe because I'm running tests from Eclipse and the `target` directory, containing the tests, is not cleaned in between runs.

I think `BundlesTest` should cleanup the directory before starting a test for a bundle.

[2018-09-29 14:57] victornoel commented on #1739
@g4s8 I am talking about both the bundle `bootstraps_short_named_project`. The test passes even though the claim for bootstraping a project is not processed fully by `bootstrap`.

As proof you can simply remove the claim "Make Payment" in `claims.xml` and the test will still pass. This begs the question as to what is this test testing then, and why is there some code in `bootstrap` to handle chann

[2018-09-29 15:35] victornoel commented on #1162
@proshin-roman @g4s8 PR with fix: #1740

[2018-09-29 15:46] krzyk commented on #1238
@0crat refuse

[2018-09-29 15:49] 0crat commented on #1238
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1238](https://github.com/zerocracy/farm/issues/1238), please stop working. Reason for job resignation: Order was cancelled

[2018-09-29 15:50] 0crat commented on #1238
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-09-29 17:52] krzyk opened #1741 "0crat produces too many messages in telegram for payment"
When I finish a task I usually get 4 (or 3) messages fom 0crat:
- about additional reputation points
- about cash payment
- about zold payment
- about shares payment

It is quite annoying to see so many messages for basically a single transaction.
I would prefer to have those 4 types of messages (and any future messages related to a single transaction for given job) merged into one telegram messag

[2018-09-29 17:52] 0crat commented on #1741
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-09-30 13:57] 0crat commented on #1691
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-30 14:18] 0crat commented on #1311
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-30 14:19] 0crat commented on #1308
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-30 14:19] 0crat commented on #1325
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-30 14:43] krzyk commented on #1284
@0crat wait I busy with other tasks

[2018-09-30 15:18] carlosmiranda commented on #1691
@0crat wait busy on other tasks

[2018-09-30 15:18] carlosmiranda commented on #1311
@0crat wait busy on other tasks

[2018-09-30 15:19] carlosmiranda commented on #1308
@0crat wait busy on other tasks

[2018-09-30 15:32] 0crat commented on #1284
@krzyk The impediment for [#1284](https://github.com/zerocracy/farm/issues/1284) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-09-30 16:12] 0crat commented on #1691
@carlosmiranda The impediment for [#1691](https://github.com/zerocracy/farm/issues/1691) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-30 16:31] 0crat commented on #1311
@carlosmiranda The impediment for [#1311](https://github.com/zerocracy/farm/issues/1311) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-09-30 16:45] 0crat commented on #1308
@carlosmiranda The impediment for [#1308](https://github.com/zerocracy/farm/issues/1308) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-10-01 04:29] g4s8 commented on #1741
@krzyk it looks like a duplicate of #729

[2018-10-01 05:57] g4s8 commented on #1739
@victornoel I've checked this test, and I see that this test is not valid at all, the asserion will always pass because: project title is set up in `Catalog.add()` as `project.pid()` which is called from `BundleTest` before each test, so even if you remove all claims in `claims.xml` the project with valid title will be placed in `catalog.xml`, so actually this test is not verifying anything. But t