[2017-07-11 11:42] yegor256 opened #73 "let's add "QA reviews""
Let's pay for a job only after QA review is completed. Let's pay 15 minutes for each QA review, no matter what is the result of it (either good or bad). More: http://at.teamed.io/policy.html#24

[2017-07-20 19:37] 0pdd opened #89 "_before.groovy:30-35: We have to implement simple slack..."
The puzzle `62-6eaaf140` in [`src/test/resources/com/zerocracy/bundles/notify_in_slack_without_user/_before.groovy`](https://github.com/zerocracy/farm/blob/master/src/test/resources/com/zerocracy/bundles/notify_in_slack_without_user/_before.groovy) (lines 30-35) has to be resolved: "We have to implement simple slack session object to use inside 'notify_in_slack' stakeholder-script and fake object

[2017-07-25 07:17] yegor256 opened #111 "delete awards that are older than 90 days"
We must automatically delete awards that are older than 90 days. Let's do it every time we fetch awards from `Awards`. Also, let's add a notice text to the `/u/<name>/awards` page that "Only the last 90 days are taken into account, older awards are ignored".

[2017-08-09 11:42] yegor256 opened #184 "boost doesn't work"
Boost command doesn't work, but it has to. We started in #63, but never implemented the user interface. It should work as `@0crat boost 3x`, for example.

[2017-08-09 12:14] 0pdd opened #185 "update_precedences.groovy:28-30: let's implement this stakeholder. It..."
The puzzle `166-540fefdb` (from #166) in [`src/main/resources/com/zerocracy/stk/pm/staff/milestones/update_precedences.groovy`](https://github.com/zerocracy/farm/blob/master/src/main/resources/com/zerocracy/stk/pm/staff/milestones/update_precedences.groovy) (lines 28-30) has to be resolved: "let's implement this stakeholder. It will update precedences.xml. The update should occur whenever a GitHub

[2017-08-09 12:14] 0pdd opened #186 "update_milestones.groovy:28-31: let's implement this stakeholder. It..."
The puzzle `166-073320e4` (from #166) in [`src/main/resources/com/zerocracy/stk/pm/staff/milestones/update_milestones.groovy`](https://github.com/zerocracy/farm/blob/master/src/main/resources/com/zerocracy/stk/pm/staff/milestones/update_milestones.groovy) (lines 28-31) has to be resolved: "let's implement this stakeholder. It will update milestones.xml, taking information from GitHub milestones. I

[2017-08-09 14:34] yegor256 opened #189 "election results must be randomized"
Look at this one, for example:

[code]

Looks like we have two winners here: carlosmiranda (0 points) and caarlos0 (0 points). But all tasks are assigned to the first one in the list (carlosmiranda). It's wrong. We must randomize the final list, if all winners have the same amount of points.

[2017-08-10 16:40] yegor256 opened #194 "our GitHub responses are not case-sensitive"
See what happened here: https://github.com/DronMDF/telebot/issues/1#issuecomment-321579558 We started our response with `@dronmdf`, while the real GitHub name is `@DronMDF`. We keep `dronmdf` everywhere in our documents and it's correct. But when we respond in GitHub we should first ask GitHub to give us the information about the user and then use his real GitHub handler.

[2017-08-14 16:01] yegor256 opened #207 "notify_user must send to all aliases/links"
At the moment `notify_user.groovy` only sends a message to the user in Slack. This is not correct, since the user may have other aliases, like Telegram, for example. We must take them all from the People and notify the user through all of them.

[2017-08-14 16:49] yegor256 opened #208 "Wrong assumption in notify_user and notify_project"
At the moment both `notify_user.groovy` and `notify_project.groovy` make wrong assumption. They assume that project.toString() is the Slack channel ID. It is valid at the moment, but only for now. Let's make sure they get that information from `Catalog`. For each project there has to be a `<link rel="slack" href="C3NDPUA8L"/>`. We should find it and use.

Also, that link should be automatically ad

[2017-08-16 08:05] g4s8 opened #220 "Punish architect for tasks boosting"
0crat should add negative points to architect if he boosted a task.
Policy should be updated also.

[2017-08-16 11:06] g4s8 opened #222 "Github links in slack"
Slack bot should post link to github ticket instead of job id in all possible messages.

[2017-08-16 18:28] g4s8 opened #226 "Slack direct messages"
Slack bot should understand direct messages without mentioning.
At this moment `@0crat2 hello` is working fine, but `hello` is not.

[2017-08-17 05:52] yegor256 opened #229 "assign_role.groovy must fail if GitHub user is absent"
`assign_role.groovy` must fail if GitHub user is absent. We must check the presence of the user and also add some information in the response message. For example, let's say:

[code]

Motivated by https://github.com/zerocracy/datum/issues/91

[2017-10-02 19:49] 0pdd opened #273 "StkSafe.java:40-42: Error handling in `StkSafe::process`..."
The puzzle `272-5f75250e` (from #272) in [`src/main/java/com/zerocracy/farm/StkSafe.java`](https://github.com/zerocracy/farm/blob/master/src/main/java/com/zerocracy/farm/StkSafe.java) (lines 40-42) has to be resolved: "Error handling in `StkSafe::process` method is similar to `ReSafe` in telegram, slack and github error handling. We need to refactor it. Let's use one class for it, now it's placed

[2017-10-04 20:40] g4s8 opened #279 "Rename 0crat"
Slack bot renamed to `@zerocrat` but all help messages are still referring to `@0crat`.
I think we should rename them too.

[2017-10-06 08:47] 0pdd opened #281 "_after.groovy:23-26: This test started to fail after..."
The puzzle `235-ca1d9c8f` (from #235) in [`src/test/resources/com/zerocracy/bundles/resigns_tasks_upon_quit/_after.groovy`](https://github.com/zerocracy/farm/blob/master/src/test/resources/com/zerocracy/bundles/resigns_tasks_upon_quit/_after.groovy) (lines 23-26) has to be resolved: "This test started to fail after `remove_assignee` script fix. In this test stakeholder can't find assignee in MkIss

[2017-10-09 12:14] 0pdd opened #284 "TkFootprintTest.java:41-45: This test and `FtParamTest` fail..."
The puzzle `155-f2c0cacb` (from #155) in [`src/test/java/com/zerocracy/tk/project/TkFootprintTest.java`](https://github.com/zerocracy/farm/blob/master/src/test/java/com/zerocracy/tk/project/TkFootprintTest.java) (lines 41-45) has to be resolved: "This test and `FtParamTest` fail because they require proper 'mongod' installation. Locally test fails with error: "Cannot run program "mongod": error=2,

[2017-10-12 07:22] yegor256 opened #297 "IllegalArgumentException: Claim #2850622277 in C6KLDT6QG: type="Ping", id="com/zerocracy/stk/pm/staff/elections/elect_perfo..."
https://sentry.io/zerocracy/farm/issues/358260610/

[code]

[2017-10-14 07:45] yegor256 opened #311 "com.github.mongobee.dao.LockDao: Duplicate key exception while acquireLock."
In production:

[code]

[2017-10-22 12:11] g4s8 opened #328 "Clean up agenda"
Agenda may contain completed or canceled orders,
we need to remove them regularly.
See #314 and  zerocracy/datum#133

[2017-10-23 17:54] g4s8 opened #329 "Duplicated claims from Slack"
I've got many `hello` messages and `bootstrap` responses in Slack for a new project. It seems that for one user message from Slack same claims can be created. See http://www.0crat.com/footprint/C7NJ258GL

responses for `bootstrap`:
[code]

[2017-10-24 18:15] yegor256 opened #335 "ping takes too long (over 5s)"
Logs in production:

[code]

It's too long. We should analyze what's going on and optimize it somehow.

[2017-12-11 17:24] yegor256 opened #360 "memory leakage somewhere"
[code]

[2017-12-18 13:36] yegor256 opened #363 "IllegalArgumentException: Claim #3521328016 in C6KLDT6QG: type="Order was finished", stakeholder="com/zerocracy/stk/pm/staf..."
https://sentry.io/zerocracy/farm/issues/418640135/

[code]

[2017-12-19 18:26] yegor256 opened #366 "/gang"
Let's create a new web page `/gang`, which will take all people from `people.xml` and render in a table. For each person let's show:

  * GitHub name/link
  * `Awards.total()`
  * `Agenda.total()`
  * `Projects.total()`

Let's make the list sorted by default by the awards column.

We will definitely have performance issues here. Let's think right away how to cache the calculations.

[2017-12-25 16:00] 0pdd opened #368 "remove_stale_github_ticket_from_wbs.groovy:52-55: This..."
The puzzle `362-23595687` from #362 has to be resolved:

https://github.com/zerocracy/farm/blob/98540f5ada2370797c0975798b716a8e45d433f3/src/main/resources/com/zerocracy/stk/pm/scope/wbs/remove_stale_github_ticket_from_wbs.groovy#L52-L55

The puzzle was created by Yegor Bugayenko on 25-Dec-17.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets

[2018-01-04 18:28] g4s8 opened #374 "Some tests always fail on Shippable"
Shippable failed to run test which depend on mongo:
https://app.shippable.com/github/zerocracy/farm/runs/1240/1/console
[code]

[2018-01-08 16:27] yegor256 opened #376 "clean up routine"
Let's create a new table in the DynamoDB, where we will store all GitHub comments we post with error messages and stacktraces. Then, in, say, 72 hours, we will go there again and delete them. That will clean up the mess we are leaving sometimes in GitHub tickets.

[2018-01-10 01:17] carlosmiranda opened #377 "@0crat rejects validly formatted rate when applying"
I'm trying to apply to a project via Slack. `@0crat` does not accept the request, telling me that my rate is invalidly formatted. But I used the correct format (e.g. $25)

![image](https://user-images.githubusercontent.com/1917892/34751237-5798bc2e-f5e6-11e7-826c-9146902110ba.png)

[2018-01-11 12:09] yegor256 opened #380 "make job election protocols web accessible"
Let's make it possible to view job assignment reasons in the web. Currently, we publish them in chat bots and it's not very convenient, since they are rather verbose. Would be better to just say "this job was assigned to you, here is why" and a link. When the user clicks the link, he sees the entire log. I guess, the best way to do that is through the Footprint, where we already keep this informat

[2018-01-11 16:29] yegor256 opened #382 "candidates.xml"
Each project should have a `candidates.xml` document. When someone applies to it, as in §2, we add a new line to the document. A PO can assign a new role to someone only if that person exists in the document, provided that person is not already in `roles.xml`. Also, when a role is assigned, the person should be removed from the document.

[code]

Also, we should remove people from here in 20 days,

[2018-01-11 16:32] yegor256 opened #383 "publish the list of candidates in the board"
Once #382 is implemented, let's show the full list of candidates in the `/board`. It should be visible who is waiting to join the project.

[2018-01-11 16:33] yegor256 opened #384 "notify everybody when a new project is published"
Every time a new project is published on the `/board`, let's send a notification to all users, who is not on vacation. Let's mention in the notification, that if they don't want to receive them anymore, they just have to turn the vacation mode ON.

[2018-01-11 16:37] yegor256 opened #386 "Awards.total() doesn't obey the 90 days rule"
`Awards.total()` must take into account the rewards of the last 90 days only. Now it calculates them all. Let's fix.

[2018-01-11 17:45] yegor256 opened #387 "mentor has to pay for mistakes of his students"
Every time we give negative points to someone, let's give the same amount of points to his mentor. Let's inform the mentor about it and make it possible to "expel" the student. If it happens, the student loses the mentor and the record in `people.xml`. Thus, he will have to find someone again to invite him.

Let's not forget to update the policy.

[2018-01-11 17:49] yegor256 opened #388 "mentor has to take 8% of what the student is earning (tuition fee)"
Every time we `"Make payment"` to anyone, we should check who is the mentor and pay that person 8% of what the student just made. We have to deduct this commission from the student.

Let's not forget to update the policy.

[2018-01-11 17:54] yegor256 opened #390 "reject people when reputation is below -256"
When someone's reputation goes below `-256` we should delete that person from `people.xml` and add `+256` to the `awards.xml` (in order to help that person to get back on track later).

Let's not forget to update the policy.

[2018-01-11 18:05] yegor256 opened #391 "adding "bug" label causes duplicate "in" claim"
When a job is already in scope and I add `bug` label to the GitHub issue - a new `Add job to WBS` claim is sent. It is redundant and causes noise in the ticket. Let's make sure that when the job is already in scope adding `bug` doesn't lead to any new actions.

[2018-01-12 13:33] yegor256 opened #397 "paging in Footprint page"
Let's add a possibility to jump to next pages it the `/footprint` page.

[2018-01-13 07:03] g4s8 opened #400 "Can't access hepdump.hprof file via web"
Now it's not possible to access `./hepdump.hprof` file via browser if OOM error occurred. Let's upload it to S3 storage as described in this comment: https://github.com/zerocracy/farm/issues/371#issuecomment-357262574

[2018-01-15 09:21] g4s8 opened #402 "Some pages are not working in Firefox"
E.g. agenda and awards:
![scrot-2018-01-15-12 09 28](https://user-images.githubusercontent.com/1524988/34935046-95da03ac-f9ed-11e7-9800-7f239578f984.png)

[2018-01-15 10:35] yegor256 opened #403 "add GitHub label to all "in scope" tickets"
Every time we add a GitHub job to scope, we must add a label to the GitHub ticket. Let's make its name equal to `"in"` and its color to `#3a6622`. Also, when we take a job out of scope, this label has to be automatically removed.

[2018-01-15 14:01] yegor256 opened #404 "tweet when a new project gets published"
When someone says `publish` and the project goes to the board, we should send a tweet about it.

[2018-01-15 15:31] g4s8 opened #405 "Incorrect payment"
I just received a payment 30 min for https://github.com/yegor256/takes/pull/760 PR, but I'm not a member of Takes project (in Zerocracy) and I'm not an author of this PR or issue

[2018-01-15 20:31] 0pdd opened #408 "q-tracker.xml:83-86: Add command to rate the quality, the..."
The puzzle `73-6d39317c` from #73 has to be resolved:

https://github.com/zerocracy/farm/blob/c0bf6140b8308f65d1364a05060a61e2a09c1cee/src/main/resources/com/zerocracy/radars/q-tracker.xml#L83-L86

The puzzle was created by g4s8 on 10-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-01-16 08:41] g4s8 opened #411 "Missing telegram bot commands"
It's needed to register telegram bot commands for `0crat` via Botfather chat:

1. Start speaking with Botfather bot in telegram
2. Send `/setcommands` command
3. Add commands in format `command - description`

Example:

See zerocracy/datum#188

[2018-01-16 10:31] yegor256 opened #412 "java.io.IOException: Stream closed"
This happens in the build, time to time (not very often). I believe, it's some concurrency issue, let's investigate and fix.

[code]

[2018-01-16 10:33] yegor256 opened #413 "pick up GitHub issue assignee on "scope in""
When we add a new GitHub issue to the scope, we should look into its current assignee. If it's set, we should treat it a formal performer of the job and should automatically create an order.

[2018-01-16 17:11] g4s8 opened #415 "BundlesTests are to slow for every build"
There is no need to run `BundleTest`s on every build, sometimes all unit tests + Qulice validation will be enough. Let's add an option to skip these tests, e.g. `mvn -PskipBundleTests` or `mvn -DskipBundleTests=true`

[2018-01-16 20:00] g4s8 opened #416 "Tests sometimes hangs"
See #379 PR Rultor messages. It hangs about 2 hours on some tests (different tests), then fails with message:

but I can run these tests on local machine in same branch.

[2018-01-17 21:00] g4s8 opened #422 "Ticket titles in agenda"
It's hard to use agenda page for developers, especially if you have about 15 jobs in it. Let's add Github tiket titles to agenda items, it will make this page more useful.

[2018-01-17 21:48] g4s8 opened #423 "Agenda schema changed"
In `0.51.6` datum version `role` is required element in `agenda.xml` and `estimates.xml`.
We should add it in `add()` methods in `Agenda.java` and `Estimates.java`.
See zerocracy/datum#214 PR for details.

[2018-01-18 14:10] 0pdd opened #425 "TkDump.java:39-42: Download and analyze heap dump from..."
The puzzle `360-7aef014d` from #360 has to be resolved:

https://github.com/zerocracy/farm/blob/ae179aecb1bd64d6db8689d8aaad432fbf98a467/src/main/java/com/zerocracy/tk/TkDump.java#L39-L42

The puzzle was created by Yegor Bugayenko on 18-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2018-01-19 07:16] g4s8 opened #427 "URL.openStream() does not support HTTP caching"
A lot of static resources (such as `xsd`, `xsl`) are hosted on Github, which support HTTP caching. For instance request to http://datum.zerocracy.com/0.51.1/xsd/pmo/agenda.xsd will return `Cache-Control: max-age=600` response header, so same request with `If-Modified-Since: Thu, 18 Jan 2018 16:12:13 GMT` header will return `304 Not Modified` response without body within 600 seconds.
But `Xocument`

[2018-01-19 11:35] fabriciofx opened #429 "Can't see my open jobs and points earned"
I think happened a regression: I can't see my open jobs or points earned. It was planned?

[2018-01-20 17:07] g4s8 opened #435 "Too many temporary files after tests"
Unit tests spawn a lot of temporary files which are not removed after tests. It may produce few Gb in a day. I think `File.deleteOnExit()` method for `FkItem` may help.

[2018-01-20 18:35] g4s8 opened #438 "Some pages suggests me to use google-chrome in chrome"
I'm using google chrome to browse 0crat.com, but some pages (vesting, equity, reminders) still warn me about browser:
![scrot-2018-01-20-21 29 31](https://user-images.githubusercontent.com/1524988/35186712-a5d85566-fe29-11e7-9eab-cfb57441a70f.png)

[2018-01-22 22:04] g4s8 opened #443 "Got a half from payment for PR review"
My rate in [Takes](https://github.com/yegor256/takes) project is $10:
![scrot-2018-01-23-00 52 38](https://user-images.githubusercontent.com/1524988/35246590-492a0b38-ffd8-11e7-822f-abf9b712b62f.png)
after https://github.com/yegor256/takes/pull/772 review `@0crat` [said me](https://github.com/yegor256/takes/pull/772#issuecomment-359575332):

I've received +15 points to my awards, but only $1.25 to

[2018-01-23 13:23] yegor256 commented on #208
@g4s8 thanks!

[2018-01-23 13:23] #208 closed

[2018-01-23 13:25] yegor256 opened #447 "four impediments total"
Let's make it possible to have only four impediments per user. In other words, a user should not be able to say `waiting` for more than four jobs. If there are already four jobs in impediments, we must refuse to wait. Let's not forget to update policy at http://datum.zerocracy.com/pages/policy.html#9

[2018-01-23 13:48] 0crat commented on #208
Order was successfully finished: +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3460](https://www.0crat.com/u/g4s8)

[2018-01-23 13:56] 0crat commented on #208
The job [#208](https://github.com/zerocracy/farm/issues/208) is now out of scope

[2018-01-23 14:34] 0crat commented on #447
Job [#447](https://github.com/zerocracy/farm/issues/447) is now in scope, role is `DEV`

[2018-01-23 14:35] 0crat commented on #447
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7885](https://www.0crat.com/u/yegor256)

[2018-01-23 15:48] yegor256 opened #448 "show mentor and students"
In the profile page let's show the name of the mentor and the list of students of the user.

[2018-01-23 15:49] 0crat commented on #448
Job [#448](https://github.com/zerocracy/farm/issues/448) is now in scope, role is `DEV`

[2018-01-23 15:50] 0crat commented on #448
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7945](https://www.0crat.com/u/yegor256)

[2018-01-23 15:50] yegor256 opened #449 "no more than 16 students"
Let's make it possible to mentor only 16 students per user. If a user has more students already, we should reject all other requests.

[2018-01-23 15:51] 0crat commented on #449
Job [#449](https://github.com/zerocracy/farm/issues/449) is now in scope, role is `DEV`

[2018-01-23 15:52] 0crat commented on #449
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7960](https://www.0crat.com/u/yegor256)

[2018-01-23 15:52] yegor256 opened #450 "breakup"
Let's add a new command `breakup`, as an opposite to `invite`. The `breakup` should remove the mentor of the user.

Also, when it happens, we should deduct 256 points from the mentor. Let's not forget to update the policy.

[2018-01-23 15:52] 0crat commented on #450
Job [#450](https://github.com/zerocracy/farm/issues/450) is now in scope, role is `DEV`

[2018-01-23 15:53] 0crat commented on #450
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7975](https://www.0crat.com/u/yegor256)

[2018-01-23 17:25] 0crat commented on #207
The job [#207](https://github.com/zerocracy/farm/issues/207) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-23 19:35] amihaiemil opened #451 "0crat.com header list goes out of view on mobile"
On https://www.0crat.com/, on most pages there is this list of links in the header:

![image](https://user-images.githubusercontent.com/6305156/35267184-25617ad2-002e-11e8-891a-6fd7c19c2a09.png)

On mobile, it goes out of view, it doesn't fit well in the screen's width (I have a 5'' screen). I think on mobile the list should be hidden behind a button similar to this:

![image](https://user-images.

[2018-01-23 19:35] 0crat commented on #451
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-23 19:39] t-izbassar opened #452 "Internal error while verifying with yoti"
I've got error when I was trying to verify the details via QR code scanning. In yoti app it is said that details was send. Here is the stacktrace from the 0crat page:

	at org.takes.facets.fallback.TkFallback.error(TkFallback.java:234)
	at org.takes.facets.fallback.TkFallback.route(TkFallback.java:115)
	at org.takes.facets.fallback.TkFallback.access$000(TkFallback.java:54)
	at org.takes.facets.fal

[2018-01-23 19:39] 0crat commented on #452
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-23 19:41] t-izbassar commented on #452
I think the way to reproduce it is to try get new QR code after previous one was expired. That at least what was happening for me. Also, my credentials was verified regardless.

[2018-01-23 19:42] 0crat commented on #451
The job [#451](https://github.com/zerocracy/farm/issues/451) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-23 19:43] 0crat commented on #451
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7965](https://www.0crat.com/u/yegor256)

[2018-01-23 20:52] 0crat commented on #443
The job [#443](https://github.com/zerocracy/farm/issues/443) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-23 20:54] 0crat commented on #443
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3475](https://www.0crat.com/u/g4s8)

[2018-01-23 20:58] 0crat commented on #443
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7955](https://www.0crat.com/u/yegor256)

[2018-01-23 20:59] 0crat commented on #452
The job [#452](https://github.com/zerocracy/farm/issues/452) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-23 21:01] 0crat commented on #452
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7950](https://www.0crat.com/u/yegor256)

[2018-01-23 21:05] yegor256 commented on #452
@t-izbassar I fixed it, thanks for reporting

[2018-01-23 21:06] t-izbassar commented on #452
@yegor256 thanks. I see)

[2018-01-23 21:06] #452 closed

[2018-01-23 21:08] 0crat commented on #452
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7975](https://www.0crat.com/u/yegor256)

[2018-01-23 21:15] 0crat commented on #405
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-23 21:15] 0crat commented on #452
The job [#452](https://github.com/zerocracy/farm/issues/452) is now out of scope

[2018-01-23 21:16] 0crat commented on #452
Job [#452](https://github.com/zerocracy/farm/issues/452) was not in scope

[2018-01-23 21:56] yegor256 opened #453 "PDF proof of ownership"
Let's make it downloadable, with a signature.

[2018-01-23 21:58] 0crat commented on #453
The job [#453](https://github.com/zerocracy/farm/issues/453) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-23 22:00] 0crat commented on #453
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7970](https://www.0crat.com/u/yegor256)

[2018-01-23 22:00] 0crat commented on #453
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7970](https://www.0crat.com/u/yegor256)

[2018-01-23 22:00] 0crat commented on #453
It is strongly discouraged to assign jobs to their creators, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7970](https://www.0crat.com/u/yegor256)

[2018-01-24 01:44] 0crat commented on #220
The job [#220](https://github.com/zerocracy/farm/issues/220) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-24 04:08] carlosmiranda commented on #404
@yegor256 see PR #454

[2018-01-24 08:36] 0crat commented on #408
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-24 08:36] 0crat commented on #404
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-24 08:36] 0crat commented on #403
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-24 08:36] 0crat commented on #397
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-24 08:36] 0crat commented on #390
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-24 08:36] 0crat commented on #386
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-24 08:54] 0crat commented on #388
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-24 08:55] 0crat commented on #387
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-24 09:04] g4s8 commented on #405
@yegor256 thanks

[2018-01-24 09:04] #405 closed

[2018-01-24 09:06] 0crat commented on #405
Job `gh:zerocracy/farm#405` is not assigned, can't get start time

[2018-01-24 09:06] 0crat commented on #405
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8000](https://www.0crat.com/u/yegor256)

[2018-01-24 09:15] 0crat commented on #405
The job [#405](https://github.com/zerocracy/farm/issues/405) is now out of scope

[2018-01-24 09:15] 0crat commented on #405
Job [#405](https://github.com/zerocracy/farm/issues/405) was not in scope

[2018-01-24 10:45] g4s8 commented on #297
@0crat waiting #456

[2018-01-24 10:45] 0crat commented on #297
@g4s8 The impediment for [#297](https://github.com/zerocracy/farm/issues/297) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-01-24 10:45] g4s8 commented on #408
@0crat waiting #414

[2018-01-24 10:46] 0crat commented on #408
@g4s8 The impediment for [#408](https://github.com/zerocracy/farm/issues/408) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-01-24 10:55] 0crat commented on #411
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-24 10:55] 0crat commented on #412
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-24 10:55] 0crat commented on #366
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-24 20:14] yegor256 commented on #451
@0crat hold

[2018-01-24 20:15] 0crat commented on #451
@yegor256 The impediment for [#451](https://github.com/zerocracy/farm/issues/451) was registered successfully by @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-01-24 20:17] amihaiemil commented on #451
@yegor256 I think this is already solved?

[2018-01-24 20:24] yegor256 commented on #451
@amihaiemil not yet, the PR is not merged yet and Tacit is not released: https://github.com/yegor256/tacit/pull/142

[2018-01-24 20:31] yegor256 commented on #443
@g4s8 was it a one time error or you keep seeing it?

[2018-01-24 23:07] filfreire commented on #451
@amihaiemil @yegor256 merged and released https://github.com/yegor256/tacit/pull/142

What it looks like now:
<img width="582" alt="screen shot 2018-01-24 at 23 07 01" src="https://user-images.githubusercontent.com/11976836/35361971-5f5b915e-015b-11e8-9dd4-2bd5763fa487.png">

[2018-01-25 06:01] #451 closed

[2018-01-25 06:03] 0crat commented on #451
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8145](https://www.0crat.com/u/yegor256)

[2018-01-25 06:35] 0crat commented on #451
The job [#451](https://github.com/zerocracy/farm/issues/451) is now out of scope

[2018-01-25 06:52] g4s8 commented on #443
@yegor256 it was one time error. I received $2.5 for this PR review https://github.com/yegor256/takes/pull/761

[2018-01-25 07:00] g4s8 opened #457 "Agenda filters"
It's hard to monitor job progress in /agenda page (if you have ~16 jobs). Let's add some filters:
* filter by project (show only Zerocracy jobs)
* filter by role (show only `DEV` jobs)
* filter impediments (don't show `waiting` jobs)

[2018-01-25 07:00] 0crat commented on #457
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-25 07:10] g4s8 opened #458 "Project page bug"
It's some UI bug on Zerocracy project page in Chrome https://www.0crat.com/p/C3NDPUA8L
![scrot-2018-01-25-10 05 14](https://user-images.githubusercontent.com/1524988/35375369-d6969eec-01b7-11e8-8034-47aa8cd208a5.png)

[2018-01-25 07:10] 0crat commented on #458
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-25 07:44] g4s8 commented on #416
@yegor256 I've got the reason: it's infinity loop started by `BundleTest` if some groovy script has invalid imports:

[code]

[2018-01-25 09:59] g4s8 commented on #366
@yegor256 I think it may produce inconsistency between reputation in `people.xml` and `awards.xml` especially after #439 PR, because awards will be calculated from last 90 days on the fly, but reputation in `people.xml` will be updated only when awards updated.

[2018-01-25 10:54] amihaiemil opened #462 "0crat assigns a new reviewer when there is already one assigned"
I was assigned as CR to a [PR](https://github.com/yegor256/cactoos/pull/516#issuecomment-360429805) by mistake (manual assignment by the architect); that PR already had an assignee set by 0crat.

After I told 0crat ``resign``, it resigned me and then assigned someone else, not taking into account that there was a previous (not resigned) assignee.

I think the problem is the fact that 0crat will si

[2018-01-25 10:54] 0crat commented on #462
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-25 12:05] 0crat commented on #425
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-25 12:24] 0crat commented on #273
The job [#273](https://github.com/zerocracy/farm/issues/273) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is

[2018-01-25 12:54] amihaiemil opened #463 "Deadline for the reviewer?"
In the past, the reviewer did not have a 'deadline', since it is the author's job to do the review changes as fast as possible and make the reviewer accept the PR.

Now, apparently, the CR has a deadline: https://github.com/yegor256/cactoos/pull/503#issuecomment-360445463

But what are the instruments for "hurrying things up"? I finished the review there, now I am simply waiting for the author to

[2018-01-25 12:54] 0crat commented on #463
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-25 13:10] rexim opened #464 "Elections are accessible without being logged in"
I can access elections of a project without being logged in via `https://www.0crat.com/a/<project-id>?a=pm/staff/elections`. On the other hand `https://www.0crat.com/p/<project-id>` is forbidden if you are not logged in, so I'd expect the same for the elections.

Looks like a bug to me. Please let me know if misunderstood anything.

[2018-01-25 13:10] 0crat commented on #464
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-25 14:00] yegor256 commented on #443
@g4s8 I can't find the cause of this trouble. It may be anything, including your lower rate set there for some period of time. In order to make such situations more fixable and searchable, I will introduce `cause` param into all claims we post. Also, in all GitHub comments, we will add comments, which will refer to claim IDs. Thus, it will be possible to find the exact claim easily, and then go up

[2018-01-25 14:39] yegor256 commented on #443
@g4s8 see 0f457cc and d3b3c6b I think we can close it

[2018-01-25 14:40] yegor256 commented on #443
@0crat status

[2018-01-25 14:41] 0crat commented on #443
@yegor256 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#443](https://github.com/zerocracy/farm/issues/443) is in scope for 2days
  * The role is `DEV`
  * The job is assigned to @yegor256[/z](https://www.0crat.com/u/yegor256) for 2days
  * These users are banned: @g4s8[/z](https://www.0crat.com/u/g4s8): This user reported the ticke

[2018-01-25 14:47] yegor256 opened #465 "duplicate bans"
See this comment: https://github.com/yegor256/cactoos/issues/532#issuecomment-360322565 We must not allow duplicate bans, for the same user. If a user is already banned, there should be no ability to ban it again.

[2018-01-25 14:48] 0crat commented on #465
Job [#465](https://github.com/zerocracy/farm/issues/465) is now in scope, role is `DEV`

[2018-01-25 14:48] 0crat commented on #465
Job [#465](https://github.com/zerocracy/farm/issues/465) is already in scope

[2018-01-25 14:48] 0crat commented on #465
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8220](https://www.0crat.com/u/yegor256)

[2018-01-25 14:55] yegor256 commented on #416
@g4s8 this may be true, thanks. We have to fix the test, it should not hang forever, but should report a problem and fail.

[2018-01-25 15:05] yegor256 commented on #458
@g4s8 works for me... are you sure?

[2018-01-25 15:46] yegor256 commented on #457
@g4s8 I will add more info to the agenda: https://github.com/zerocracy/datum/issues/250

[2018-01-25 15:47] 0crat commented on #457
The job [#457](https://github.com/zerocracy/farm/issues/457) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-25 15:48] 0crat commented on #457
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3505](https://www.0crat.com/u/g4s8)

[2018-01-25 15:48] 0crat commented on #457
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8215](https://www.0crat.com/u/yegor256)

[2018-01-25 15:55] g4s8 commented on #458
@yegor256 yes, it's still reproducing, maybe because I'm using not latest Chrome `Version 63.0.3239.132 (Official Build) (64-bit)`.

[2018-01-25 16:02] g4s8 commented on #443
@yegor256 thanks!

[2018-01-25 16:02] #443 closed

[2018-01-25 16:04] 0crat commented on #443
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8245](https://www.0crat.com/u/yegor256)

[2018-01-25 16:04] 0crat commented on #443
The job [#443](https://github.com/zerocracy/farm/issues/443) is now out of scope

[2018-01-25 16:12] 0crat commented on #443
Job [#443](https://github.com/zerocracy/farm/issues/443) was not in scope

[2018-01-25 16:30] yegor256 commented on #366
@g4s8 you are right, and I think that we should not just ignore awards during selection. Instead, we should _remove_ older rewards from `awards.xml` regularly, and update `people.xml`. See? I would reject that PR.

[2018-01-25 17:07] yegor256 commented on #458
@g4s8 can you check some other browser/

[2018-01-25 17:10] yegor256 opened #467 "Notify programmers when a new project is published on the board"
When `Project was published` arrives to the PMO, we should send notifications to all users about it, if their reputation is over 256. We should ask them to review the project and apply to it, if they are interested.

[2018-01-25 17:11] 0crat commented on #467
Job [#467](https://github.com/zerocracy/farm/issues/467) is now in scope, role is `DEV`

[2018-01-25 17:12] 0crat commented on #467
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8260](https://www.0crat.com/u/yegor256)

[2018-01-25 17:25] g4s8 commented on #458
Same in Firefox:
![scrot-2018-01-25-20 18 49](https://user-images.githubusercontent.com/1524988/35402244-02a63628-020d-11e8-9fec-f7f421339c04.png)

Also I tried to clear caches and open in private tab

[2018-01-25 17:27] g4s8 commented on #458
@yegor256 Also same in Chrome on Android

[2018-01-25 17:47] g4s8 opened #468 "500 error on pm/cost/equity"
Stylesheet transformation error on equity page: https://www.0crat.com/a/C3NDPUA8L?a=pm/cost/equity

[code]

[2018-01-25 17:48] 0crat commented on #468
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-25 18:23] t-izbassar opened #469 "How to change rate in the project?"
For example my current rate is $10 and now I feel that I have grown into 15$. What should I do?

[2018-01-25 18:23] 0crat commented on #469
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-25 18:23] g4s8 commented on #374
@yegor256 maybe we can disconnect Shippable now, because we are using Travis? It's always failing in pull requests and draw red cross for each commit
![scrot-2018-01-25-21 22 33](https://user-images.githubusercontent.com/1524988/35405022-f00d90f2-0215-11e8-82a9-37111e72db2d.png)

[2018-01-25 18:33] t-izbassar opened #470 "Ability to refuse given rate"
Scenario: I'm applying to project with rate 15$. `PO` let me in with rate $10. I should be able to refuse.

[2018-01-25 18:33] 0crat commented on #470
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-25 19:03] yegor256 commented on #457
@g4s8 you should be able to sort the table now, just click the headers of the each column. Also, you will see the cost of each task and the impediment status. That's, I believe, the best we can do. Let me know.

[2018-01-25 19:04] g4s8 commented on #366
@yegor256 also we need to keep total project count for each person, I think we can add project as a link:
[code]
and update them in `Roles.assign()`, `Roles.resign()`.
What do you think?

[2018-01-25 19:07] g4s8 commented on #457
@yegor256 thanks, now it's much comfortable

[2018-01-25 19:07] #457 closed

[2018-01-25 19:09] 0crat commented on #457
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8290](https://www.0crat.com/u/yegor256)

[2018-01-25 19:17] 0crat commented on #457
The job [#457](https://github.com/zerocracy/farm/issues/457) is now out of scope

[2018-01-25 19:21] yegor256 commented on #469
@t-izbassar just apply to the project again, see 8c3c681

[2018-01-25 19:26] yegor256 commented on #374
@g4s8 done

[2018-01-25 19:26] t-izbassar commented on #469
@yegor256 make sense. However, that doesn't clear from policy.

[2018-01-25 19:27] yegor256 commented on #469
@t-izbassar see https://github.com/zerocracy/datum/commit/8c3c681cbfb58e94c31e0ad0c0e2d6e28878e29b In the future, please, submit policy related bugs to the Datum repo.

[2018-01-25 19:29] t-izbassar commented on #469
@yegor256 ok thanks!

[2018-01-25 19:29] #469 closed

[2018-01-25 19:29] 0crat commented on #469
Job `gh:zerocracy/farm#469` is not assigned, can't get start time

[2018-01-25 19:39] 0crat commented on #469
Job [#469](https://github.com/zerocracy/farm/issues/469) was not in scope

[2018-01-25 20:45] g4s8 commented on #374
@yegor256 thanks

[2018-01-25 20:45] #374 closed

[2018-01-25 20:45] 0crat commented on #374
Job `gh:zerocracy/farm#374` is not assigned, can't get start time

[2018-01-25 20:55] 0crat commented on #374
The job [#374](https://github.com/zerocracy/farm/issues/374) is now out of scope

[2018-01-26 02:25] fabriciofx commented on #397
@0crat waiting

[2018-01-26 02:26] 0crat commented on #397
@fabriciofx The impediment for [#397](https://github.com/zerocracy/farm/issues/397) was registered successfully by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2018-01-26 02:26] fabriciofx commented on #386
@0crat waiting

[2018-01-26 02:26] fabriciofx commented on #388
@0crat waiting

[2018-01-26 02:26] fabriciofx commented on #387
@0crat waiting

[2018-01-26 02:26] fabriciofx commented on #411
@0crat waiting

[2018-01-26 02:27] 0crat commented on #386
@fabriciofx The impediment for [#386](https://github.com/zerocracy/farm/issues/386) was registered successfully by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2018-01-26 02:27] 0crat commented on #388
@fabriciofx The impediment for [#388](https://github.com/zerocracy/farm/issues/388) was registered successfully by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2018-01-26 02:28] 0crat commented on #387
@fabriciofx The impediment for [#387](https://github.com/zerocracy/farm/issues/387) was registered successfully by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2018-01-26 02:28] 0crat commented on #411
@fabriciofx The impediment for [#411](https://github.com/zerocracy/farm/issues/411) was registered successfully by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2018-01-26 04:20] fabriciofx opened #471 "Remove (or fix) Shippable check"
The farm is now opensource. So, let's remove Shippable or fix it, because we already have Travis to do same thing.

[2018-01-26 04:20] 0crat commented on #471
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 04:21] fabriciofx opened #472 "Add Codecov report"
Let's add Codecov report support.

[2018-01-26 04:21] 0crat commented on #472
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 04:23] fabriciofx opened #473 "Add support to AppVeyor"
Let's add support to [AppVeyor](https://www.appveyor.com/) CI.

[2018-01-26 04:23] 0crat commented on #473
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 04:25] fabriciofx opened #474 "Let's Jacoco enforces minimum code coverage"
It's a common problem submit PRs and them not pass in Codecov. I think this problem could be minimized if Jacoco enforces minimum code coverage, as you can check [here](http://choudhury.com/blog/2014/02/25/enforcing-minimum-code-coverage/). Thus, you can check if the minimum code coverage is reach before submit your PR.

[2018-01-26 04:25] 0crat commented on #474
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 04:32] fabriciofx opened #475 "Time Remain (to finish the job) instead of added time in Agenda"
Let's change the "Added" time to "Time Remain" (to finish the job) in Agenda. For example, instead Agenda shows:
[code]
it will be show:
[code]

[2018-01-26 04:32] 0crat commented on #475
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 06:28] 0crat commented on #468
The job [#468](https://github.com/zerocracy/farm/issues/468) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-26 06:28] yegor256 commented on #468
@g4s8 this is what I see in logs:

[code]

[2018-01-26 06:29] 0crat commented on #468
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3520](https://www.0crat.com/u/g4s8)

[2018-01-26 06:29] 0crat commented on #468
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8285](https://www.0crat.com/u/yegor256)

[2018-01-26 06:30] yegor256 commented on #468
@0crat status

[2018-01-26 06:30] 0crat commented on #468
@yegor256 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#468](https://github.com/zerocracy/farm/issues/468) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 4min
  * The role is `DEV`
  * The job is assigned to @yegor256[/z](https://www.0crat.com/u/yegor256) for 3min
  * The [budget](http://datum.zerocracy.com/page

[2018-01-26 06:38] yegor256 commented on #474
@fabriciofx I agree, see how it works in Cactoos: https://github.com/yegor256/cactoos/issues/250

[2018-01-26 06:39] 0crat commented on #474
Job [#474](https://github.com/zerocracy/farm/issues/474) is now in scope, role is `DEV`

[2018-01-26 06:41] 0crat commented on #474
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), total is [+315](https://www.0crat.com/u/fabriciofx)

[2018-01-26 06:48] 0pdd opened #476 "TkShutdown.java:30-33: App shutdown is not implemented...."
The puzzle `297-8a8d277c` from #297 has to be resolved:

https://github.com/zerocracy/farm/blob/8b759229151695942749775de58b9d0139916af5/src/main/java/com/zerocracy/tk/TkShutdown.java#L30-L33

The puzzle was created by g4s8 on 21-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixe

[2018-01-26 06:48] 0crat commented on #476
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 06:48] 0pdd opened #477 "TkShutdown.java:34-36: Shutdown endpoint can be accessed..."
The puzzle `297-c88f3107` from #297 has to be resolved:

https://github.com/zerocracy/farm/blob/8b759229151695942749775de58b9d0139916af5/src/main/java/com/zerocracy/tk/TkShutdown.java#L34-L36

The puzzle was created by g4s8 on 23-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixe

[2018-01-26 06:48] 0crat commented on #477
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 06:51] 0crat commented on #476
Job [#476](https://github.com/zerocracy/farm/issues/476) is now in scope, role is `DEV`

[2018-01-26 06:51] 0crat commented on #477
Job [#477](https://github.com/zerocracy/farm/issues/477) is now in scope, role is `DEV`

[2018-01-26 06:51] g4s8 commented on #297
@yegor256 #456 was merged and some todos were posted, can we close?

[2018-01-26 06:58] g4s8 commented on #443
@yegor256 I've got same bug for new PR: #439, should I post a new ticket or reopen this?

[2018-01-26 06:58] yegor256 commented on #471
@fabriciofx it's removed already

[2018-01-26 06:58] #471 closed

[2018-01-26 06:59] 0crat commented on #471
Job `gh:zerocracy/farm#471` is not assigned, can't get start time

[2018-01-26 06:59] yegor256 commented on #470
@t-izbassar you can quit: http://datum.zerocracy.com/pages/policy.html#35

[2018-01-26 07:08] 0crat commented on #471
Job [#471](https://github.com/zerocracy/farm/issues/471) was not in scope

[2018-01-26 07:16] 0pdd opened #478 "add_label_to_github_ticket.groovy:42-44: Right now we are..."
The puzzle `403-fdebb43c` from #403 has to be resolved:

https://github.com/zerocracy/farm/blob/3080a8b17a239370629007ff40b38cc80b596ba0/src/main/resources/com/zerocracy/stk/pm/scope/wbs/add_label_to_github_ticket.groovy#L42-L44

The puzzle was created by Carlos Miranda on 23-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. T

[2018-01-26 07:16] 0crat commented on #478
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 07:17] 0crat commented on #478
Job [#478](https://github.com/zerocracy/farm/issues/478) is now in scope, role is `DEV`

[2018-01-26 07:21] carlosmiranda commented on #403
@yegor256 can we close this now? PR #445 is closed

[2018-01-26 07:48] g4s8 commented on #366
@0crat waiting

[2018-01-26 07:48] 0crat commented on #366
@g4s8 The impediment for [#366](https://github.com/zerocracy/farm/issues/366) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-01-26 07:54] g4s8 commented on #311
@yegor256 could you provide more details? Where exactly this exception was thrown, can you post full stack-trace here?

[2018-01-26 09:10] t-izbassar commented on #470
@yegor256 I've checked the message from telegram bot. It says:

It might be useful to add with what rate I was included. Of course, I can check it in project page.

[2018-01-26 11:15] yegor256 commented on #470
@t-izbassar that's a separate problem, please submit it to the Farm repo

[2018-01-26 11:20] #470 closed

[2018-01-26 11:20] yegor256 commented on #468
@g4s8 I will continue once https://github.com/zerocracy/datum/issues/255 is fixed

[2018-01-26 11:20] yegor256 commented on #468
@0crat hold

[2018-01-26 11:21] 0crat commented on #470
Job `gh:zerocracy/farm#470` is not assigned, can't get start time

[2018-01-26 11:21] 0crat commented on #468
@yegor256 The impediment for [#468](https://github.com/zerocracy/farm/issues/468) was registered successfully by @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-01-26 11:30] 0crat commented on #470
Job [#470](https://github.com/zerocracy/farm/issues/470) was not in scope

[2018-01-26 11:31] yegor256 commented on #468
@0crat status

[2018-01-26 11:32] 0crat commented on #468
@yegor256 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#468](https://github.com/zerocracy/farm/issues/468) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 5hr
  * The role is `DEV`
  * The job is assigned to @yegor256[/z](https://www.0crat.com/u/yegor256) for [5hr](http://datum.zerocracy.com/pages/policy.html#8)

[2018-01-26 12:17] yegor256 commented on #473
@fabriciofx each ticket has to sound like a bug, not a task, see: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5-report-when-it-is-broken

[2018-01-26 12:17] yegor256 commented on #472
@fabriciofx see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5-report-when-it-is-broken

[2018-01-26 12:18] yegor256 commented on #443
@g4s8 post a new one pls. In general, it's better (and in your favor) to create new tickets.

[2018-01-26 12:44] yegor256 commented on #403
@carlosmiranda thanks!

[2018-01-26 12:44] #403 closed

[2018-01-26 12:46] 0crat commented on #403
Order was successfully finished: +30 points just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), total is [+1170](https://www.0crat.com/u/carlosmiranda)

[2018-01-26 13:36] g4s8 opened #479 "Incorrect payment for PR review"
I received $1.25 instead of $2.5 for PR #439 review. Same as here #443.
0crat [commented](https://github.com/zerocracy/farm/pull/439#issuecomment-360699081):

![scrot-2018-01-26-16 26 41](https://user-images.githubusercontent.com/1524988/35441824-1329643a-02b6-11e8-8739-a2174bd3f0f2.png)

[2018-01-26 13:36] 0crat commented on #479
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 13:36] yegor256 commented on #297
@g4s8 thanks

[2018-01-26 13:36] #297 closed

[2018-01-26 13:37] 0crat commented on #403
The job [#403](https://github.com/zerocracy/farm/issues/403) is now out of scope

[2018-01-26 13:39] 0crat commented on #297
Order was successfully finished: +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3565](https://www.0crat.com/u/g4s8)

[2018-01-26 13:47] 0crat commented on #297
The job [#297](https://github.com/zerocracy/farm/issues/297) is now out of scope

[2018-01-26 13:58] 0pdd opened #480 "TkClaim.java:42-44: Single claim xsl is missing. We need..."
The puzzle `380-d5fa189f` from #380 has to be resolved:

https://github.com/zerocracy/farm/blob/2cdd0d08669ef7f255f1f9e0c08f4dc6c9bc6dd3/src/main/java/com/zerocracy/tk/project/TkClaim.java#L42-L44

The puzzle was created by g4s8 on 21-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-01-26 13:58] 0crat commented on #480
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 13:58] 0pdd opened #481 "TkClaim.java:45-48: Add link to election claim instead of..."
The puzzle `380-7a7b9529` from #380 has to be resolved:

https://github.com/zerocracy/farm/blob/2cdd0d08669ef7f255f1f9e0c08f4dc6c9bc6dd3/src/main/java/com/zerocracy/tk/project/TkClaim.java#L45-L48

The puzzle was created by g4s8 on 21-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-01-26 13:58] 0crat commented on #481
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 13:58] 0crat commented on #480
Job [#480](https://github.com/zerocracy/farm/issues/480) is now in scope, role is `DEV`

[2018-01-26 13:59] 0crat commented on #481
Job [#481](https://github.com/zerocracy/farm/issues/481) is now in scope, role is `DEV`

[2018-01-26 14:00] yegor256 commented on #480
@0crat assign me

[2018-01-26 14:00] yegor256 commented on #481
@0crat assign me

[2018-01-26 14:00] g4s8 commented on #380
@yegor256 PR #461 was merged, can we close?

[2018-01-26 14:03] 0crat commented on #480
@yegor256 The job [#480](https://github.com/zerocracy/farm/issues/480) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.co

[2018-01-26 14:03] 0crat commented on #481
@yegor256 The job [#481](https://github.com/zerocracy/farm/issues/481) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.co

[2018-01-26 14:05] 0crat commented on #480
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8465](https://www.0crat.com/u/yegor256)

[2018-01-26 14:05] 0crat commented on #481
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8465](https://www.0crat.com/u/yegor256)

[2018-01-26 14:30] 0pdd commented on #480
The puzzle `380-d5fa189f` has disappeared from the source code, that's why I closed this issue.

[2018-01-26 14:30] #480 closed

[2018-01-26 14:36] rexim opened #482 "Cost of a job is missing in Agenda"
0crat assigned a job to me saying that the budged is 30 minutes https://github.com/yegor256/cactoos/issues/532#issuecomment-360486873 But the cost of this job is missing in Agenda.

![2018-01-26-213010_822x290_scrot](https://user-images.githubusercontent.com/165283/35444347-de509bc2-02e0-11e8-8270-77adb3f140ad.png)

[2018-01-26 14:36] 0crat commented on #482
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 14:53] fabriciofx commented on #479
@g4s8 @yegor256 The same for me [here](https://github.com/zerocracy/datum/issues/253).

[2018-01-26 15:05] 0crat commented on #480
The job [#480](https://github.com/zerocracy/farm/issues/480) is now out of scope

[2018-01-26 15:05] 0crat commented on #480
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8495](https://www.0crat.com/u/yegor256)

[2018-01-26 15:38] 0pdd commented on #481
The puzzle `380-7a7b9529` has disappeared from the source code, that's why I closed this issue.

[2018-01-26 15:38] #481 closed

[2018-01-26 15:38] yegor256 commented on #479
@g4s8 this is where it happened: https://www.0crat.com/footprint/C3NDPUA8L/260650061

[2018-01-26 15:56] 0crat commented on #481
The job [#481](https://github.com/zerocracy/farm/issues/481) is now out of scope

[2018-01-26 15:56] 0crat commented on #481
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8525](https://www.0crat.com/u/yegor256)

[2018-01-26 15:56] 0crat commented on #479
The job [#479](https://github.com/zerocracy/farm/issues/479) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-26 15:58] 0crat commented on #479
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3580](https://www.0crat.com/u/g4s8)

[2018-01-26 15:58] 0crat commented on #479
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8520](https://www.0crat.com/u/yegor256)

[2018-01-26 16:23] g4s8 commented on #479
@yegor256 same in estimates for PR review:
![scrot-2018-01-26-19 22 34](https://user-images.githubusercontent.com/1524988/35449538-63f4272a-02ce-11e8-84cb-f2268d71958d.png)

[2018-01-26 16:32] yegor256 commented on #479
@g4s8 I believe it's fixed in 6158892607d19051d4eb45537f40115ab2525dc8

[2018-01-26 16:39] yegor256 commented on #380
@g4s8 thanks

[2018-01-26 16:39] #380 closed

[2018-01-26 16:41] 0crat commented on #380
Order was successfully finished: +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3610](https://www.0crat.com/u/g4s8)

[2018-01-26 16:44] 0crat commented on #380
The job [#380](https://github.com/zerocracy/farm/issues/380) is now out of scope

[2018-01-26 16:49] 0crat commented on #380
Job [#380](https://github.com/zerocracy/farm/issues/380) was not in scope

[2018-01-26 17:27] g4s8 opened #483 "500 error for PMO"
Got `Internal application error` error for this page: https://www.0crat.com/p/PMO
[code]

[2018-01-26 17:27] 0crat commented on #483
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 18:17] g4s8 commented on #328
@0crat status

[2018-01-26 18:17] 0crat commented on #328
@g4s8 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#328](https://github.com/zerocracy/farm/issues/328) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://datum.zerocracy.com/pages/policy.html#4) is 30 minutes
  * These users are

[2018-01-26 18:19] g4s8 commented on #328
@yegor256 I think this bug is not valid anymore

[2018-01-26 18:19] #328 closed

[2018-01-26 18:20] 0crat commented on #328
Job `gh:zerocracy/farm#328` is not assigned, can't get start time

[2018-01-26 18:24] 0crat commented on #328
The job [#328](https://github.com/zerocracy/farm/issues/328) is now out of scope

[2018-01-26 18:30] 0crat commented on #328
Job [#328](https://github.com/zerocracy/farm/issues/328) was not in scope

[2018-01-27 06:35] amihaiemil opened #484 "Actually assign the person to the Github task"
Currently, 0crat doesn't actually assign anyone to any task. I think the assignee should also be assigned on Github.

[2018-01-27 06:35] 0crat commented on #484
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-27 06:35] amihaiemil opened #485 "Add labels"
0crat should add labels to the issues. 1 with the estimation, 1 with the assignee and 1 with the type (PR, bug etc)

[2018-01-27 06:36] 0crat commented on #485
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-27 08:13] g4s8 commented on #479
@yegor256 thanks

[2018-01-27 08:13] #479 closed

[2018-01-27 08:15] 0crat commented on #479
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8595](https://www.0crat.com/u/yegor256)

[2018-01-27 08:24] 0crat commented on #479
The job [#479](https://github.com/zerocracy/farm/issues/479) is now out of scope

[2018-01-28 12:44] 0crat commented on #425
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-28 13:05] 0crat commented on #73
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#73](https://github.com/zerocracy/farm/issues/73), please stop working

[2018-01-28 22:34] 0crat commented on #453
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-29 07:33] rexim opened #486 "User awards page refers to a policy paragraph but doesn't properly link it"
![](https://user-images.githubusercontent.com/165283/35498512-397bde5e-0501-11e8-925f-6cc526ed9a66.png)

"§6" is just a text, not a link

[2018-01-29 07:33] 0crat commented on #486
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 12:55] amihaiemil opened #487 "0crat reassigned CR after PR was merged"
See [here](https://github.com/yegor256/jpeek/pull/108). The PR was merged, 0crat paid me 15min + 15 points rating, then took the job out of scope -- fine until here. Then:

1) 0crat assigned me again, budget **15min**
2) 0crat then said that I resigned
3) 0crat said the order was successfuly finished and awarded me **30 points**. However, no payment has been repeated, just rating points added.

[2018-01-29 12:55] 0crat commented on #487
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 12:57] amihaiemil commented on #487
@yegor256 have a look, 0crat seems to have gone haywire :) Now it has assigned that job again, to someone else.

[2018-01-29 12:57] 0crat commented on #483
The job [#483](https://github.com/zerocracy/farm/issues/483) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-29 12:58] 0crat commented on #483
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3640](https://www.0crat.com/u/g4s8)

[2018-01-29 12:58] 0crat commented on #483
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8665](https://www.0crat.com/u/yegor256)

[2018-01-29 13:08] neonailol opened #488 "0crat assigns more jobs than allowed"
Account: neonailol

first 3 jobs are legit, and linked to open issues on github
and new 3 jobs are reviews
this starts happening around 3 days ago

[2018-01-29 13:08] 0crat commented on #488
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 13:38] 0crat commented on #487
Job [#487](https://github.com/zerocracy/farm/issues/487) is now in scope, role is `DEV`

[2018-01-29 13:46] yegor256 commented on #483
@g4s8 it was reproduced and fixed: f93f4cc32c0b3742b410a29bd7ecbacc4acae833 and 528b532d49054ff56a3363c1c57056b473e5ee2e

[2018-01-29 14:01] yegor256 commented on #485
@amihaiemil but we have `status` command for that... Or you think we still need labels? Also, we add `scope` label now.

[2018-01-29 14:06] amihaiemil commented on #485
I still liked the labels better, you could clearly see who was assigned, what type and what the estimation of the issue was.

Status should be used to check on 0crat if it's not acting as expected, I think. The less interaction with the bot, the better; why bother it for such info when it could just add the labels once.

And actually, no label of assignee is needed, you can see it clearly if 0crat

[2018-01-29 14:26] yegor256 commented on #488
@neonailol it assigns pull requests even if you have no room. That's the logic. If we don't do that, some pull requests may get stuck for very long and the project won't move forward. I updated the policy: https://github.com/zerocracy/datum/commit/a0fdec4acaf0876a86e4a9ad32089ab4cd8a7b34

[2018-01-29 14:27] 0crat commented on #488
Job [#488](https://github.com/zerocracy/farm/issues/488) is now in scope, role is `DEV`

[2018-01-29 14:29] yegor256 commented on #458
@g4s8 I can see it too, but in a different place

[2018-01-29 14:30] 0crat commented on #458
Job [#458](https://github.com/zerocracy/farm/issues/458) is now in scope, role is `DEV`

[2018-01-29 14:31] 0crat commented on #458
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3655](https://www.0crat.com/u/g4s8)

[2018-01-29 14:51] yegor256 commented on #366
@g4s8 why not just a number of projects? We already have their list in `projects/yegor256.xml`. No need to reproduce the full list in `people.xml`. Just a number would be enough, I believe.

[2018-01-29 14:58] yegor256 opened #489 "list of sub-claims in TkClaim"
Let's show the list of claims, where `cause` is pointing to the claim we are rendering currently in TkClaim. That will help us the the hierarchies of claims.

[2018-01-29 15:00] 0crat commented on #489
The job [#489](https://github.com/zerocracy/farm/issues/489) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is

[2018-01-29 15:01] 0crat commented on #489
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8790](https://www.0crat.com/u/yegor256)

[2018-01-29 15:01] 0crat commented on #489
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8790](https://www.0crat.com/u/yegor256)

[2018-01-29 15:01] 0crat commented on #489
The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#489](https://github.com/zerocracy/farm/issues/489), please stop working

[2018-01-29 15:02] yegor256 commented on #482
@rexim I can't check the bug, since the ticket is closed already (yegor256/cactoos#532). Most probably one of your tasks didn't get the Cost value because this feature was introduced just recently. Please, keep an eye on this and report again, if you see similar problems.

[2018-01-29 15:02] #482 closed

[2018-01-29 15:02] 0crat commented on #482
Job `gh:zerocracy/farm#482` is not assigned, can't get start time

[2018-01-29 15:04] yegor256 commented on #463
@amihaiemil it was a bug. We don't enforce ouf Ten Days Rule on code review jobs, see: http://datum.zerocracy.com/pages/policy.html#8

[2018-01-29 15:04] #463 closed

[2018-01-29 15:05] 0crat commented on #463
Job `gh:zerocracy/farm#463` is not assigned, can't get start time

[2018-01-29 15:06] yegor256 commented on #311
@g4s8 I don't see it production since December... I guess, it's gone.

[2018-01-29 15:06] #311 closed

[2018-01-29 15:07] 0crat commented on #311
The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#311](https://github.com/zerocracy/farm/issues/311), please stop working

[2018-01-29 15:07] 0crat commented on #311
Job `gh:zerocracy/farm#311` is not assigned, can't get performer

[2018-01-29 15:07] 0crat commented on #311
Job `gh:zerocracy/farm#311` is not assigned, can't get start time

[2018-01-29 15:07] yegor256 commented on #464
@rexim fixed in feb383d4f064fca282df821ba6fd83a76b36adc1

[2018-01-29 15:07] 0crat commented on #464
Job [#464](https://github.com/zerocracy/farm/issues/464) is now in scope, role is `DEV`

[2018-01-29 15:08] 0crat commented on #464
The job [#464](https://github.com/zerocracy/farm/issues/464) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-29 15:09] 0crat commented on #464
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8785](https://www.0crat.com/u/yegor256)

[2018-01-29 15:12] 0crat commented on #482
Job [#482](https://github.com/zerocracy/farm/issues/482) was not in scope

[2018-01-29 15:14] 0crat commented on #311
The job [#311](https://github.com/zerocracy/farm/issues/311) is now out of scope

[2018-01-29 15:15] 0crat commented on #463
Job [#463](https://github.com/zerocracy/farm/issues/463) was not in scope

[2018-01-29 15:16] 0crat commented on #311
Job [#311](https://github.com/zerocracy/farm/issues/311) was not in scope

[2018-01-29 16:15] neonailol commented on #488
Thanks for clarifying this. Closing the issue then.

[2018-01-29 16:15] #488 closed

[2018-01-29 16:16] 0crat commented on #488
Job `gh:zerocracy/farm#488` is not assigned, can't get start time

[2018-01-29 16:24] 0crat commented on #488
The job [#488](https://github.com/zerocracy/farm/issues/488) is now out of scope

[2018-01-29 16:26] 0crat commented on #488
Job [#488](https://github.com/zerocracy/farm/issues/488) was not in scope

[2018-01-29 17:26] yegor256 commented on #475
@fabriciofx we don't know how much remains. It depends on the task, on the decisions to be made by 0crat and many other factors. The agenda can't make this decision.

[2018-01-29 17:26] #475 closed

[2018-01-29 17:27] 0crat commented on #475
Job `gh:zerocracy/farm#475` is not assigned, can't get start time

[2018-01-29 17:29] 0crat commented on #486
Job [#486](https://github.com/zerocracy/farm/issues/486) is now in scope, role is `DEV`

[2018-01-29 17:31] yegor256 commented on #453
@0crat hold

[2018-01-29 17:31] 0crat commented on #453
@yegor256 The impediment for [#453](https://github.com/zerocracy/farm/issues/453) was registered successfully by @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-01-29 17:32] yegor256 commented on #484
@amihaiemil it's technically not possible if the user is not a "contributor" of the repo. We try to assign, but if we fail we just silently ignore this situation.

[2018-01-29 17:32] #484 closed

[2018-01-29 17:33] 0crat commented on #484
Job `gh:zerocracy/farm#484` is not assigned, can't get start time

[2018-01-29 17:37] 0crat commented on #475
Job [#475](https://github.com/zerocracy/farm/issues/475) was not in scope

[2018-01-29 17:40] driver733 opened #490 "Payment not received for the closed issue"
I have not received the payment to my paypal account for the issue 537 in cactoos.
Also, I do not understand why zerocrat stated that my rate is 0.00 (it is set to $16).
`@driver733/z will get 0.00 of their hourly rate for this job`
I have received the payment for the previous issue successfully though.
https://github.com/yegor256/cactoos/issues/537#issuecomment-361286000
![screen shot 2018-01-29

[2018-01-29 17:40] 0crat commented on #490
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 17:43] 0crat commented on #484
Job [#484](https://github.com/zerocracy/farm/issues/484) was not in scope

[2018-01-29 17:56] driver733 opened #491 "0crat telegram bot crashes after an attempt to apply to a project"
apply C7JGJ00DP $16

[code]

[2018-01-29 17:56] 0crat commented on #491
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 20:31] yegor256 commented on #491
@driver733 can you please try again? It seems to be a temporary issue.

[2018-01-29 21:04] yegor256 opened #492 "skills"
Let's add this information into `people.xml`:

[code]

Let's create a `.groovy` stakeholder that will take a random user from the list, which has the oldest `updated` attribute, go to its GitHub account, fetch all repositories he owns and contributes to and fetch the most popular languages from them. GitHub provides that information.

Then, let's show those skills in the `TkGang`.

[2018-01-29 21:05] 0crat commented on #492
Job [#492](https://github.com/zerocracy/farm/issues/492) is now in scope, role is `DEV`

[2018-01-29 21:06] 0crat commented on #492
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8950](https://www.0crat.com/u/yegor256)

[2018-01-29 21:10] yegor256 commented on #492
@0crat assign @g4s8

[2018-01-29 21:11] 0crat commented on #492
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-29 21:11] 0crat commented on #492
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-29 21:32] driver733 commented on #491
@yegor256 I have just tried it again and 0crat threw off the exact same error.

[2018-01-29 21:33] driver733 commented on #491
[code]

[2018-01-30 08:31] g4s8 commented on #458
@yegor256 fixed, thanks

[2018-01-30 08:31] #458 closed

[2018-01-30 08:32] 0crat commented on #458
Job `gh:zerocracy/farm#458` is not assigned, can't get start time

[2018-01-30 08:34] 0crat commented on #458
The job [#458](https://github.com/zerocracy/farm/issues/458) is now out of scope

[2018-01-30 08:42] 0crat commented on #458
Job [#458](https://github.com/zerocracy/farm/issues/458) was not in scope

[2018-01-30 09:11] yegor256 commented on #491
@driver733 fixed, should work fine now

[2018-01-30 10:25] driver733 commented on #491
@yegor256, thank you!

[2018-01-30 10:26] #491 closed

[2018-01-30 10:26] 0crat commented on #491
Job `gh:zerocracy/farm#491` is not assigned, can't get start time

[2018-01-30 10:43] 0crat commented on #491
Job [#491](https://github.com/zerocracy/farm/issues/491) was not in scope

[2018-01-30 11:16] yegor256 commented on #492
@0crat assign @g4s8

[2018-01-30 11:17] 0crat commented on #492
@yegor256 The job [#492](https://github.com/zerocracy/farm/issues/492) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-01-30 11:17] yegor256 opened #493 "stability"
The stability of the back end is far from ideal. Let's improve it.

[2018-01-30 11:17] 0crat commented on #492
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8945](https://www.0crat.com/u/yegor256)

[2018-01-30 12:03] 0pdd opened #494 "reject_people_below_score.groovy:35-37: We should remove..."
The puzzle `390-ecc63501` from #390 has to be resolved:

https://github.com/zerocracy/farm/blob/1bc1aebbe327879df2ff38b0be6a9789981382ec/src/main/resources/com/zerocracy/stk/pm/staff/awards/reject_people_below_score.groovy#L35-L37

The puzzle was created by Carlos Miranda on 30-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead.

[2018-01-30 12:03] 0crat commented on #494
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-30 12:06] 0crat commented on #494
Job [#494](https://github.com/zerocracy/farm/issues/494) is now in scope, role is `DEV`

[2018-01-30 12:14] 0crat commented on #425
The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#425](https://github.com/zerocracy/farm/issues/425), please stop working

[2018-01-30 12:21] 0pdd opened #495 "publish_project.groovy:64-68: Use of the Twitter API in..."
The puzzle `404-c83766b8` from #404 has to be resolved:

https://github.com/zerocracy/farm/blob/a82fd971c9d2d56e866b208182749299cb5a48ec/src/main/resources/com/zerocracy/stk/pm/publish_project.groovy#L64-L68

The puzzle was created by Carlos Miranda on 24-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done

[2018-01-30 12:21] 0crat commented on #495
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-30 12:21] 0crat commented on #495
Job [#495](https://github.com/zerocracy/farm/issues/495) is now in scope, role is `DEV`

[2018-01-30 14:28] yegor256 commented on #490
@driver733 are you sure you didn't get the payment? There is a PayPal transaction ID, which can't be obtained anyhow except from PayPal API. It means that the money were transferred.

[2018-01-30 14:45] yegor256 opened #496 "Stale jobs in the agenda"
We had this problem in #328, but didn't really fix it anyhow.

Let's create a new Groovy stakeholder in `stk/pmo/agenda/delete_stale_jobs.groovy`. It has to react to `Ping daily`. It has to fetch all users from `people.xml`, pick random, say five. And then go through their agendas and check that each job they have there really exist in the correspondent projects. If they don't exist, it should rem

[2018-01-30 14:46] yegor256 opened #497 "Clean up agendas on project termination"
When `destroy.groovy` happens, we should delete project jobs from user agendas.

[2018-01-30 14:47] 0crat commented on #497
Job [#497](https://github.com/zerocracy/farm/issues/497) is now in scope, role is `DEV`

[2018-01-30 14:47] 0crat commented on #496
Job [#496](https://github.com/zerocracy/farm/issues/496) is now in scope, role is `DEV`

[2018-01-30 14:49] 0crat commented on #497
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9000](https://www.0crat.com/u/yegor256)

[2018-01-30 14:50] 0crat commented on #496
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9000](https://www.0crat.com/u/yegor256)

[2018-01-30 15:07] yegor256 opened #498 "remove from sandbox project is reputation is over 1024"
We should automatically remove a user from a sandbox project when his/her reputation is over 1024.

[2018-01-30 15:08] 0crat commented on #498
Job [#498](https://github.com/zerocracy/farm/issues/498) is now in scope, role is `DEV`

[2018-01-30 15:09] 0crat commented on #498
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9015](https://www.0crat.com/u/yegor256)

[2018-01-30 15:22] t-izbassar commented on #490
@yegor256 I have the same issue. Transactions doesn't appear in the PayPal activities. Can they be on hold or something like that? I couldn't find a way to check status by provided transaction ID. Can you check on your side?

[2018-01-30 18:35] driver733 commented on #490
@yegor256 I am sure that I did not get the payment. I have completed 2 tasks, but have received the payment only for one of them.
`AP-9RY9243931143003F`
![img_bfbd74e6f72d-1](https://user-images.githubusercontent.com/10466206/35584201-4dae6006-05c2-11e8-9060-a8d5da5fea9a.png)

[2018-01-30 18:53] 0crat commented on #279
The job [#279](https://github.com/zerocracy/farm/issues/279) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-31 00:19] carlosmiranda commented on #390
@yegor256 #442 merged, can we close this now?

[2018-01-31 00:19] carlosmiranda commented on #404
@yegor256 #454 merged, may we close this?

[2018-01-31 00:19] 0crat commented on #390
The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#390](https://github.com/zerocracy/farm/issues/390), please stop working

[2018-01-31 00:20] carlosmiranda commented on #390
@yegor256 why was I unassigned?

[2018-01-31 00:20] 0crat commented on #404
The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#404](https://github.com/zerocracy/farm/issues/404), please stop working

[2018-01-31 00:20] carlosmiranda commented on #404
@yegor256 why was I unassigned here?

[2018-01-31 00:27] carlosmiranda opened #499 "0crat should state why a person is resigned from the ticket"
At the moment the resignation message simply states the following:

![image](https://user-images.githubusercontent.com/1917892/35598810-6a7e832a-0660-11e8-949b-e3d8fc73f703.png)

We should state the reason for the resignation (job took too long, task rejected, job out of scope, resigned/reassigned by architect, etc.) in the same message.

[2018-01-31 00:27] 0crat commented on #499
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-31 06:35] 0crat commented on #468
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-31 07:46] amihaiemil opened #500 "0crat should open issues in its own repo if something fails"
Currently, if there is an exception, 0crat anounces the commander and asks them to subit an issue, also printing the exception.

I think it would be more elegant if 0crat cauth all the exception at the highest level and open an issue in its repo itself, then letting the commander know that something went wrong and an issue has been opened about it.

For instance, one of my bots performs Actions (t

[2018-01-31 07:46] 0crat commented on #500
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-31 12:17] yegor256 commented on #390
@carlosmiranda it seems you did it yourself. Didn't you?

[2018-01-31 12:19] yegor256 commented on #490
@driver733 @t-izbassar if we get their payment IDs, we definitely deliver the payments to them. The question is whether they are able to send you the money. I just checked our PayPal account, it seems that it didn't have the credit card attached. Let's keep an eye on it now.

[2018-01-31 12:22] yegor256 commented on #404
@carlosmiranda I think you did it yourself

[2018-01-31 13:21] yegor256 commented on #468
@0crat hold

[2018-01-31 13:21] 0crat commented on #468
@yegor256 Job [#468](https://github.com/zerocracy/farm/issues/468) is already on hold

[2018-01-31 14:08] yegor256 commented on #500
@amihaiemil well... not a bad idea. Currently we are submitting all issues to Sentry and then from there we can create GitHub issues, but manually. I think that if we do it automatically, GitHub repo will be flooded with issues (some errors repeat very frequently). How would we filter our duplicates?

[2018-01-31 14:09] 0crat commented on #499
Job [#499](https://github.com/zerocracy/farm/issues/499) is now in scope, role is `DEV`

[2018-01-31 14:11] 0crat commented on #499
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), total is [+1200](https://www.0crat.com/u/carlosmiranda)

[2018-01-31 14:49] amihaiemil commented on #500
@yegor256 Yes, there isn't much to do about duplicates... But how often can a problem repeat? If it's some communication issue with AWS that should be fixed quickly. Sure, some HTTP calls may fail every now and then but that isn't supposed to happen often.

Maybe implement this after we have a more stable version that won't flood the repo with issues?

[2018-01-31 14:55] amihaiemil commented on #500
@yegor256 Or we can implement it and also add a switch on the UI somewhere (if there is an admin panel).  Then, we can activate/deactivate the functionality whenever we want :-?

[2018-01-31 15:35] yegor256 commented on #500
@amihaiemil let's keep it open. Maybe in the future something like this will make sense.

[2018-01-31 17:49] t-izbassar commented on #490
@yegor256 seems fixed now as I received new payments.

[2018-01-31 22:56] 0crat commented on #453
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-31 23:59] carlosmiranda commented on #404
@yegor256 no, I didn't, I don't have any assignment powers :) Might be a Github bug?

[2018-02-01 00:00] carlosmiranda commented on #390
@yegor256 I didn't unassign myself, in fact I don't have access to do that here. Perhaps it was a Github bug - can this be reassigned to me?

[2018-02-01 11:31] skapral opened #501 "What does these colors mean on "gang" page?"
I noticed that reputation displayed in "gang" page is colored. However, I haven't found any direct descripion anywhere of what these colors mean. From the context the meaning was obvious only for "red", which means dishonor (reputation below 0). It took me some time to correlate others with policy: I guess that "green" reputation have experienced gang members who passed the threshold of "sandbox-o

[2018-02-01 11:31] 0crat commented on #501
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-01 12:26] yegor256 commented on #390
@0crat assign @carlosmiranda

[2018-02-01 12:26] 0crat commented on #501
Job [#501](https://github.com/zerocracy/farm/issues/501) is now in scope, role is `DEV`

[2018-02-01 12:27] 0crat commented on #390
@yegor256 The job [#390](https://github.com/zerocracy/farm/issues/390) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.y

[2018-02-01 12:27] 0crat commented on #390
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9040](https://www.0crat.com/u/yegor256)

[2018-02-01 12:33] skapral opened #502 ""Gang" page - sorting by reputation is broken"
Steps to reproduce:
1. Open "Gang" page on 0crat
2. Click by "reputation" column header

Expected result:

- Reputation is sorted ascendingly or descendingly.

Actual result:

- See attached screenshot

![screenshot from 2018-02-01 15-36-06](https://user-images.githubusercontent.com/1714171/35678780-a87cee72-0765-11e8-9f66-9854290fd978.png)

[2018-02-01 12:34] 0crat commented on #502
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-01 12:46] 0crat commented on #502
Job [#502](https://github.com/zerocracy/farm/issues/502) is now in scope, role is `DEV`

[2018-02-01 12:55] yegor256 commented on #490
@driver733 that was a temporary issue.

[2018-02-01 12:55] yegor256 commented on #404
@0crat assign @carlosmiranda

[2018-02-01 12:56] 0crat commented on #404
@yegor256 The job [#404](https://github.com/zerocracy/farm/issues/404) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.y

[2018-02-01 12:57] 0crat commented on #404
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9050](https://www.0crat.com/u/yegor256)

[2018-02-01 13:29] yegor256 commented on #453
@0crat status

[2018-02-01 13:29] 0crat commented on #453
@yegor256 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#453](https://github.com/zerocracy/farm/issues/453) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 9days
  * The role is `DEV`
  * The job is assigned to @yegor256[/z](https://www.0crat.com/u/yegor256) for [9days](http://datum.zerocracy.com/pages/policy.html

[2018-02-01 15:22] driver733 commented on #490
@yegor256 so the payment will be processed eventually?

[2018-02-01 23:50] carlosmiranda commented on #404
@yegor256 can we close this now? merged in #454

[2018-02-01 23:50] carlosmiranda commented on #390
@yegor256 can we close this now? merged in #442

[2018-02-02 06:10] 0crat commented on #111
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#111](https://github.com/zerocracy/farm/issues/111), please stop working

[2018-02-02 07:15] amihaiemil opened #503 "Architecture around Question.java"
As far as I can tell, all the chatting logic is inside the [radars](https://github.com/zerocracy/farm/blob/master/src/main/java/com/zerocracy/radars) package and the central object is [Question.java](https://github.com/zerocracy/farm/blob/master/src/main/java/com/zerocracy/radars/Question.java).

There are a number of issues with class Question:

1) It does not have an interface, so currently we a

[2018-02-02 07:15] 0crat commented on #503
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-02 08:35] 0crat commented on #186
The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#186](https://github.com/zerocracy/farm/issues/186), please stop working

[2018-02-02 09:34] g4s8 opened #505 "Notify ARC about vacation status on manual assignment"
Sometimes ARC uses manual assignment, but assignee may be on vacation and can miss it.
I think ARC should know about vacation status in this case.

[2018-02-02 09:34] 0crat commented on #505
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-02 09:40] g4s8 opened #506 "PR update cause reviewer unassignment"
If I change a title (#459) or resolve conflicts via Github web tool (#460), or update "Allow edits from maintainers." checkbox (#446), the reviewer (@fabriciofx in these PRs) will be unassigned.

[2018-02-02 09:40] 0crat commented on #506
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-02 12:23] 0crat commented on #189
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#189](https://github.com/zerocracy/farm/issues/189), please stop working

[2018-02-02 13:33] g4s8 opened #507 "You have no roles in <project>"
If I open roles page, I will see this error:

but I have DEV and REV roles here:

[2018-02-02 13:34] 0crat commented on #507
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-02 13:48] g4s8 opened #508 "Didn't receive some payments"
I received messages from 0crat telegram bot:

We just paid you $1.25 (AP-9K413652WJ9044414) for #773: Order was successfully finished

We just paid you $1.25 (AP-20600360U05248420) for #776: Order was successfully finished

But didn't receive anything in Paypal.

[2018-02-02 13:51] g4s8 commented on #492
@0crat status

[2018-02-02 13:51] 0crat commented on #492
@g4s8 I can't do it for technical reasons, I'm very sorry.  If you don't know what to do,  submit this error as a ticket  [here](https://github.com/zerocracy/farm/issues):

[code]

Cc @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-02-02 13:52] g4s8 commented on #505
It was implemented already

[2018-02-02 13:52] #505 closed

[2018-02-02 13:52] 0crat commented on #505
Job `gh:zerocracy/farm#505` is not assigned, can't get start time

[2018-02-02 13:53] g4s8 commented on #492
@0crat status

[2018-02-02 13:53] 0crat commented on #492
@g4s8 I can't do it for technical reasons, I'm very sorry.  If you don't know what to do,  submit this error as a ticket  [here](https://github.com/zerocracy/farm/issues):

[code]

Cc @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-02-02 13:54] g4s8 opened #509 "Can't see job status"
Status command throws an error: https://github.com/zerocracy/farm/issues/492#issuecomment-362591737
[code]

[2018-02-02 13:54] 0crat commented on #509
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-02 14:02] 0crat commented on #505
Job [#505](https://github.com/zerocracy/farm/issues/505) was not in scope

[2018-02-02 14:36] yegor256 commented on #506
@g4s8 it seems to be a bug in GitHub... did you try to contact them? The only solution I see now is to stop listening to "unassign" events from GitHub if they are coming from pull requests. WDYT?

[2018-02-02 14:36] 0crat commented on #506
Job [#506](https://github.com/zerocracy/farm/issues/506) is now in scope, role is `DEV`

[2018-02-02 14:38] 0crat commented on #506
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3715](https://www.0crat.com/u/g4s8)

[2018-02-02 14:41] yegor256 commented on #503
@amihaiemil our previous software had way more of that "AI" inside the interface. However, our 2-years experience demonstrated that the AI in the interface only makes it less convenient. It's way easier to communicate with a bot that perfectly understands 10 commands in a very specific, simple and explicit syntax like "assign me", instead of talking to Siri-style pseudo-AI boots which are designed

[2018-02-02 14:43] yegor256 commented on #507
@g4s8 can you please attach screenshots? I can't understand what pages you are talking about.

[2018-02-02 14:43] yegor256 commented on #490
@driver733 I'm not sure... maybe PayPal will do it later, since it gave us the transaction ID. I just added an extra check to our code: But it's for the future, of course.

[2018-02-02 14:47] yegor256 commented on #390
@carlosmiranda thanks!

[2018-02-02 14:47] #390 closed

[2018-02-02 14:48] yegor256 commented on #508
@g4s8 dup of #490

[2018-02-02 14:48] #508 closed

[2018-02-02 14:49] 0crat commented on #390
Order was successfully finished: +30 points just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), total is [+1230](https://www.0crat.com/u/carlosmiranda)

[2018-02-02 14:49] 0crat commented on #508
Job `gh:zerocracy/farm#508` is not assigned, can't get start time

[2018-02-02 14:53] g4s8 commented on #507
@yegor256
project page https://www.0crat.com/p/C3NDPUA8L
![scrot-2018-02-02-17 49 27](https://user-images.githubusercontent.com/1524988/35739090-97776bc0-0841-11e8-9395-b21a1374911b.png)

roles page (`roles` link on project page) https://www.0crat.com/a/C3NDPUA8L?a=pm/staff/roles
![scrot-2018-02-02-17 51 44](https://user-images.githubusercontent.com/1524988/35739168-cb457514-0841-11e8-8b58-b6c1404

[2018-02-02 14:56] yegor256 opened #510 "skip code review if amount of changes is too small"
Take this for example: https://github.com/zerocracy/farm/pull/504 The PR is so small, there is no reason to do a code review. Let's check each pull request size in `RbOnPullRequest` and ignore those that are smaller than 10 modified lines.

[2018-02-02 14:56] 0crat commented on #510
Job [#510](https://github.com/zerocracy/farm/issues/510) is now in scope, role is `DEV`

[2018-02-02 14:58] 0crat commented on #510
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9090](https://www.0crat.com/u/yegor256)

[2018-02-02 14:58] 0crat commented on #390
The job [#390](https://github.com/zerocracy/farm/issues/390) is now out of scope

[2018-02-02 14:58] 0crat commented on #508
Job [#508](https://github.com/zerocracy/farm/issues/508) was not in scope

[2018-02-02 15:03] yegor256 commented on #507
@g4s8 fixed in 772a6d3

[2018-02-02 15:03] #507 closed

[2018-02-02 15:04] 0crat commented on #507
Job `gh:zerocracy/farm#507` is not assigned, can't get start time

[2018-02-02 15:06] yegor256 opened #511 "java.nio.channels.ClosedChannelException: null"
https://sentry.io/zerocracy/farm/issues/444589551/

[code]

[2018-02-02 15:07] yegor256 commented on #511
@g4s8 I see this once a day... something really weird. It looks like Amazon client is trying to upload a file and then, for some reason, the file disappears. I thought that it was because our files are in the `/tmp` folder and Heroku server removes them time to time. I moved them to a local directory, which is not touched by Heroku, but it didn't help. Can you take a look?

[2018-02-02 15:08] yegor256 commented on #511
@0crat assign @g4s8

[2018-02-02 15:08] yegor256 commented on #511
@g4s8 full stack:

[code]

[2018-02-02 15:09] yegor256 opened #512 "IllegalStateException: [GET http://www.0crat.com/?PsByFlag=PsGithub&code=1257b773ba07221e7eb5] failed in 98ms: [400] No ..."
https://sentry.io/zerocracy/farm/issues/438900698/

[code]

[2018-02-02 15:09] 0crat commented on #511
@yegor256 The job [#511](https://github.com/zerocracy/farm/issues/511) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-02-02 15:10] yegor256 commented on #511
@g4s8 another place, same bug:

[code]

[2018-02-02 15:10] 0crat commented on #511
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9115](https://www.0crat.com/u/yegor256)

[2018-02-02 15:11] 0crat commented on #511
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9115](https://www.0crat.com/u/yegor256)

[2018-02-02 15:11] 0crat commented on #512
Job [#512](https://github.com/zerocracy/farm/issues/512) is now in scope, role is `DEV`

[2018-02-02 15:12] yegor256 commented on #511
@g4s8 we've seen it in #297

[2018-02-02 15:12] 0crat commented on #512
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9130](https://www.0crat.com/u/yegor256)

[2018-02-02 15:12] g4s8 commented on #506
@yegor256 I think it's not Github's bug, because I tested this case in my test repository and didn't find webhook with `unassign` action, only `"action": "edited"`

[2018-02-02 15:13] yegor256 commented on #509
@0crat status

[2018-02-02 15:13] yegor256 commented on #511
@g4s8 one more:

[code]

[2018-02-02 15:13] 0crat commented on #509
@yegor256 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#509](https://github.com/zerocracy/farm/issues/509) is not in scope

[2018-02-02 15:14] 0crat commented on #507
Job [#507](https://github.com/zerocracy/farm/issues/507) was not in scope

[2018-02-02 15:14] yegor256 commented on #492
@0crat status

[2018-02-02 15:14] 0crat commented on #492
@yegor256 I can't do it for technical reasons, I'm very sorry.  If you don't know what to do,  submit this error as a ticket  [here](https://github.com/zerocracy/farm/issues):

[code]

Cc @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-02-02 15:45] yegor256 commented on #492
@0crat status

[2018-02-02 15:45] 0crat commented on #492
@yegor256 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#492](https://github.com/zerocracy/farm/issues/492) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 4days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [3days](http://datum.zerocracy.com/pages/policy.html#8)
  *

[2018-02-02 15:46] yegor256 commented on #509
@g4s8 fixed, thanks

[2018-02-02 15:46] #509 closed

[2018-02-02 15:46] 0crat commented on #509
Job `gh:zerocracy/farm#509` is not assigned, can't get start time

[2018-02-02 15:56] g4s8 commented on #509
@yegor256 why did you not add this and #507 jobs to WBS before fixed them?

[2018-02-02 15:56] 0crat commented on #509
Job [#509](https://github.com/zerocracy/farm/issues/509) was not in scope

[2018-02-02 16:00] yegor256 commented on #506
@g4s8 that's weird... Let's fix it urgently, since it's annoying

[2018-02-02 16:00] yegor256 commented on #506
@0crat boost 2x

[2018-02-02 16:00] 0crat commented on #506
@yegor256 Can't understand "boost", try one of these:
  - `assign` Assign a performer to this issue
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Remove this issue from scope (WBS)
  - `resign` Resign from this issue
  - `status` Check the status of the job
  - `version` Print current version of the bot
  - `waiting` Register an impediment for a job

[2018-02-02 16:02] yegor256 commented on #509
@g4s8 it was rather small, so I decided to treat it as a minor bug. It's always up to a project architect, which ticket to register officially and which one to "ignore".

[2018-02-02 16:03] yegor256 commented on #404
@carlosmiranda thanks

[2018-02-02 16:03] #404 closed

[2018-02-02 16:24] mazdack opened #514 ""Gang" page - how to sort negative reputation?"
after fixing https://github.com/zerocracy/farm/issues/502 we can see that negative reputation is smaller then no reputation. need clarification if this is ok?
![image](https://user-images.githubusercontent.com/6659876/35743508-e754e386-084e-11e8-9acb-a3f9b5626d48.png)

[2018-02-02 16:24] 0crat commented on #514
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-02 16:49] amihaiemil commented on #503
@yegor256 I see... ok then, closing this :)

[2018-02-02 16:49] #503 closed

[2018-02-02 16:49] 0crat commented on #503
Job `gh:zerocracy/farm#503` is not assigned, can't get start time

[2018-02-02 16:59] 0crat commented on #503
Job [#503](https://github.com/zerocracy/farm/issues/503) was not in scope

[2018-02-02 17:43] 0crat commented on #207
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#207](https://github.com/zerocracy/farm/issues/207), please stop working

[2018-02-02 19:52] g4s8 commented on #511
@yegor256 reproduced it here: #516. An exception with same stacktrace
[code]
can be thrown in two cases:
if stream was closed before reading (I didn't find such code in this project)
or if `FileChannelImpl` was read from two threads and one of them was interrupted.

[2018-02-02 23:24] 0crat commented on #189
The job [#189](https://github.com/zerocracy/farm/issues/189) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is

[2018-02-03 01:54] 0crat commented on #220
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#220](https://github.com/zerocracy/farm/issues/220), please stop working

[2018-02-03 06:05] 0crat commented on #207
The job [#207](https://github.com/zerocracy/farm/issues/207) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is

[2018-02-03 09:48] 0crat commented on #273
@g4s8 Job [#273](https://github.com/zerocracy/farm/issues/273) is not assigned, can't put it on hold

[2018-02-03 09:49] g4s8 commented on #492
@0crat status

[2018-02-03 09:49] 0crat commented on #492
@g4s8 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#492](https://github.com/zerocracy/farm/issues/492) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 5days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [4days](http://datum.zerocracy.com/pages/policy.html#8)
  * Ther

[2018-02-03 09:55] g4s8 commented on #506
@yegor256 same for issues: #273 (actually I don't have permissions to unassign myself)

[2018-02-03 13:04] 0crat commented on #483
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-03 13:21] g4s8 commented on #483
@yegor256 thanks

[2018-02-03 13:21] #483 closed

[2018-02-03 13:22] 0crat commented on #483
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9170](https://www.0crat.com/u/yegor256)

[2018-02-03 13:31] 0crat commented on #483
The job [#483](https://github.com/zerocracy/farm/issues/483) is now out of scope

[2018-02-03 13:39] g4s8 commented on #207
@yegor256 it was already implemented: `notify_user` script sends a message to all user's slack and telegram links.

[2018-02-03 13:52] yegor256 commented on #514
@mazdack I believe this is how it should be, isn't it? Just simple arithmetics.

[2018-02-03 15:14] 0crat commented on #464
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-03 15:17] rexim commented on #464
@yegor256 I confirm, the bug is fixed.

[2018-02-03 15:17] #464 closed

[2018-02-03 15:19] 0crat commented on #464
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9200](https://www.0crat.com/u/yegor256)

[2018-02-03 15:27] 0crat commented on #464
The job [#464](https://github.com/zerocracy/farm/issues/464) is now out of scope

[2018-02-03 18:53] 0crat commented on #281
The job [#281](https://github.com/zerocracy/farm/issues/281) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-02-03 23:24] 0crat commented on #329
The job [#329](https://github.com/zerocracy/farm/issues/329) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-02-04 05:43] 0crat commented on #335
The job [#335](https://github.com/zerocracy/farm/issues/335) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-02-04 05:44] 0crat commented on #335
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#335](https://github.com/zerocracy/farm/issues/335), please stop working

[2018-02-04 07:41] mazdack commented on #514
Ok, you guys are right.

[2018-02-04 07:41] #514 closed

[2018-02-04 07:41] 0crat commented on #514
Job `gh:zerocracy/farm#514` is not assigned, can't get start time

[2018-02-04 07:51] 0crat commented on #514
Job [#514](https://github.com/zerocracy/farm/issues/514) was not in scope

[2018-02-04 09:16] g4s8 opened #518 "REV 0crat commands"
Let's add PR reviewer commands (`@0crat accept`, `@0crat reject`), when reviewer accepted PR this job will be removed from his agenda and assigned to `ARC` to merge it, or if he rejected, `0crat` will automatically close this PR.
It will reduce 'in-progress' `REV`-jobs in agenda so reviewer will be able to get new jobs from `0crat`.

[2018-02-04 09:16] 0crat commented on #518
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-04 10:14] 0crat commented on #335
The job [#335](https://github.com/zerocracy/farm/issues/335) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is

[2018-02-04 11:25] 0crat commented on #492
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-04 11:54] g4s8 commented on #492
@0crat waiting #513 zerocracy/datum#265

[2018-02-04 11:54] 0crat commented on #492
@g4s8 The impediment for [#492](https://github.com/zerocracy/farm/issues/492) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-04 20:27] llorllale commented on #496
@yegor256 I think this bug is presenting itself [here](https://github.com/yegor256/jpeek/issues/68)

[2018-02-04 21:34] 0crat commented on #363
The job [#363](https://github.com/zerocracy/farm/issues/363) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-02-04 23:09] carlosmiranda commented on #404
@0crat status

[2018-02-04 23:09] 0crat commented on #404
@carlosmiranda This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#404](https://github.com/zerocracy/farm/issues/404) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 20days
  * The role is `DEV`
  * The job is assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) for [3days](http://datum.zerocracy.com/p

[2018-02-05 02:53] 0crat commented on #360
The job [#360](https://github.com/zerocracy/farm/issues/360) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-02-05 08:21] amihaiemil opened #520 "Page for inviting"
Currently, if a new user wants to join ZC, they have to go on the Telegram chat and ask someone to invite them. This is not feasable for the future, as that chat grows and grows + maybe the mentors are not checking that chat.

It would be more elegant if there was a page on 0crat.com, where the new user would ask for invite -- then, the proposal for a new student would appear on the page of all th

[2018-02-05 08:22] 0crat commented on #520
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-05 12:48] 0crat commented on #273
@yegor256 The job [#273](https://github.com/zerocracy/farm/issues/273) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-02-05 12:49] 0crat commented on #273
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9250](https://www.0crat.com/u/yegor256)

[2018-02-05 12:49] yegor256 commented on #207
@0crat refuse

[2018-02-05 12:50] 0crat commented on #207
@yegor256 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#207](https://github.com/zerocracy/farm/issues/207), please stop working

[2018-02-05 12:50] #207 closed

[2018-02-05 12:50] 0crat commented on #207
Job `gh:zerocracy/farm#207` is not assigned, can't get start time

[2018-02-05 12:58] yegor256 commented on #511
@g4s8 thanks!

[2018-02-05 13:00] 0crat commented on #207
The job [#207](https://github.com/zerocracy/farm/issues/207) is now out of scope

[2018-02-05 13:02] g4s8 opened #521 "0crat does not assign user in Github issue sometimes"
0crat may assign a user internally but not in Github issue:
![scrot-2018-02-05-15 55 46](https://user-images.githubusercontent.com/1524988/35805493-24a2f40e-0a8d-11e8-8063-f6d00121dc69.png)
e.g. here: https://github.com/zerocracy/farm/issues/273#issuecomment-363075092

[2018-02-05 13:02] 0crat commented on #521
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-05 13:08] g4s8 opened #522 ""can't get start time" comments are redundant"
If issue was closed when nobody had been assigned to it, 0crat posts a comment:

I think these messages are redundant.

e.g. this one: https://github.com/zerocracy/farm/issues/207#issuecomment-363075547

[2018-02-05 13:08] 0crat commented on #522
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-05 14:06] yegor256 commented on #496
@llorllale not really, it was a different bug in https://github.com/yegor256/jpeek/issues/68

[2018-02-05 14:25] yegor256 commented on #518
@g4s8 I don't think it's correct to let the REV go when the PR is not yet merged. The REV has to stay with the ticket until it's fully closed, either merged or rejected.

[2018-02-05 14:35] yegor256 commented on #521
@g4s8 dup of #484

[2018-02-05 14:35] #521 closed

[2018-02-05 14:37] 0crat commented on #521
Job `gh:zerocracy/farm#521` is not assigned, can't get start time

[2018-02-05 14:37] 0crat commented on #520
Job [#520](https://github.com/zerocracy/farm/issues/520) is now in scope, role is `DEV`

[2018-02-05 14:38] 0crat commented on #520
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+315](https://www.0crat.com/u/amihaiemil)

[2018-02-05 14:39] yegor256 commented on #520
@amihaiemil totally agree, thanks! We should create a short form, where a new comer will provide his/her GitHub name, a short description, and a Telegram contact information. Then, we will automatically send this information to everybody who has 1024+ reputation.

[2018-02-05 14:45] 0crat commented on #521
Job [#521](https://github.com/zerocracy/farm/issues/521) was not in scope

[2018-02-05 21:44] 0crat commented on #382
The job [#382](https://github.com/zerocracy/farm/issues/382) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is

[2018-02-06 03:51] carlosmiranda commented on #412
@0crat status

[2018-02-06 03:52] 0crat commented on #412
The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#412](https://github.com/zerocracy/farm/issues/412), please stop working

[2018-02-06 03:52] 0crat commented on #412
@carlosmiranda This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#412](https://github.com/zerocracy/farm/issues/412) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 21days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://datum.zerocracy.com/pages/policy.html#4) is 30 minutes/points

[2018-02-06 07:27] g4s8 commented on #382
@yegor256 I think it's not correct, what if you want to assign new role (e.g. `REV`) to some person which has another role (`DEV`) in the project?

[2018-02-06 08:37] yegor256 opened #523 "don't touch code parts inside Par"
This test should not fail:

[code]

But it fails now. We should not touch anything that stays inside those backquotes.

[2018-02-06 08:37] 0crat commented on #523
Job [#523](https://github.com/zerocracy/farm/issues/523) is now in scope, role is `DEV`

[2018-02-06 08:39] 0crat commented on #523
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9300](https://www.0crat.com/u/yegor256)

[2018-02-06 11:00] amihaiemil opened #524 "HTTPS certificate "not completely safe" on some pages"
On most pages, the HTTPS certificate is ok, we see the green icon lock in the browser:

![image](https://user-images.githubusercontent.com/6305156/35855958-48e33d64-0b3d-11e8-8c14-c7f377848395.png)

However, at least on the index page and the main profile page (``/u/amihaiemil``), the browser says that the certificate is not entirely safe and we see the grey lock:

![image](https://user-images.git

[2018-02-06 11:00] 0crat commented on #524
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 11:05] amihaiemil opened #525 "Some cosmetic changes on the Intex page"
On the index page of 0car.com, we see the following:

![image](https://user-images.githubusercontent.com/6305156/35856157-c893dcee-0b3d-11e8-82d8-ec9ba37de769.png)

1) There is an extra dot before the Github handle

2) The version of 0crat -- is it valid? Is it the one used by Rultor or the one from ``pom.xml`` which Rultor never updates?

3) Displaying info about the server load -- not so good, s

[2018-02-06 11:05] 0crat commented on #525
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 11:10] amihaiemil opened #527 "Rename "Gang" to "Team""
This is strictly for the image of the company, "Gang" is not professional at all. It could be a nice joke, but ZC is not known well enough yet. I believe that, so far, the first impression is that we are just a group of russian programmers on a Telegram chat, playing with XDSD.

[2018-02-06 11:10] 0crat commented on #527
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 11:15] g4s8 opened #528 "Telegram test case is missed"
Telegram test case `TelegramRadarITCase` was fully removed here: https://github.com/zerocracy/farm/commit/7db21a1d7fadf3eb9529338c16d216e5dbe09f6a#diff-dcf7fd842a91a64d23895f44b938a5ae
so now it's not possible to test Telegram.

[2018-02-06 11:16] 0crat commented on #528
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 14:36] 0crat commented on #528
Job [#528](https://github.com/zerocracy/farm/issues/528) is now in scope, role is `DEV`

[2018-02-06 14:38] 0crat commented on #528
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3730](https://www.0crat.com/u/g4s8)

[2018-02-06 14:42] yegor256 commented on #382
@g4s8 that person will have to "apply" anyway

[2018-02-06 14:51] 0crat commented on #524
The job [#524](https://github.com/zerocracy/farm/issues/524) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-02-06 14:52] 0crat commented on #524
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+345](https://www.0crat.com/u/amihaiemil)

[2018-02-06 14:52] 0crat commented on #524
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9310](https://www.0crat.com/u/yegor256)

[2018-02-06 15:22] amihaiemil opened #529 "Don't show links if the user does not have the appropriate role"
On a project's page, there are a number of links, like the following:

![image](https://user-images.githubusercontent.com/6305156/35867190-da48fae0-0b61-11e8-89ce-f54316c2b6e5.png)

If I click on any of them, I am redirected to the Index page which has the following orange banner:

![image](https://user-images.githubusercontent.com/6305156/35867277-13931df8-0b62-11e8-8167-a55bcc14feee.png)

I thin

[2018-02-06 15:25] amihaiemil opened #530 "Page to see equity earnings?"
Some of the first developers who joined ZC are paid, in part, through equity.

We should definetely have a page where the earnings are tracked and where all the process is  explained: what exactly does that equity mean? Dividends at the end of the year or something else? Should a contract be signed at some point? etc.

[2018-02-06 15:25] 0crat commented on #530
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 16:23] yegor256 commented on #530
@amihaiemil we have it all already. Those, who have their "vesting" schedules configured, see the numbers and can download the contract with all necessary details: https://github.com/zerocracy/farm/issues/453

[2018-02-06 16:23] #530 closed

[2018-02-06 16:24] 0crat commented on #530
Job `gh:zerocracy/farm#530` is not assigned, can't get start time

[2018-02-06 16:28] amihaiemil commented on #530
@yegor256 Then I think I am not registered there, since I don't see any numbers and no PDF for download. On the other hand, I am paid only a 3rd of my rate of Zerocrat project. I thought you enabled it for me as well, we talked about it on Telegram :D

[2018-02-06 16:32] yegor256 commented on #525
@amihaiemil I made some cosmetic changes, thanks! The security concern is not very important. We are not afraid of hackers. As of yet :)

[2018-02-06 16:32] #525 closed

[2018-02-06 16:32] 0crat commented on #525
Job `gh:zerocracy/farm#525` is not assigned, can't get start time

[2018-02-06 16:34] 0crat commented on #530
Job [#530](https://github.com/zerocracy/farm/issues/530) was not in scope

[2018-02-06 16:35] yegor256 commented on #530
@amihaiemil fixed, reload the project page pls.

[2018-02-06 16:37] yegor256 commented on #527
@amihaiemil I agree, but I don't like the "Team" either. Team would mean that these people are our in-house developers, on a payroll. Any other ideas?

[2018-02-06 16:38] yegor256 commented on #527
@amihaiemil maybe "Crew"?

[2018-02-06 16:40] amihaiemil commented on #530
@yegor256 ok, I see the numbers now; should there also be a link to a PDF? I looked for it but I can't see that anywhere.

[2018-02-06 16:42] 0crat commented on #529
The job [#529](https://github.com/zerocracy/farm/issues/529) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-02-06 16:42] amihaiemil commented on #527
@yegor256 How about simply "Developers"? Taking into account that also, in the future, we may want to filter them on different pages: "Java Developers", "Ruby Developers" etc. Then maybe we will also have "QAs" etc

[2018-02-06 16:44] 0crat commented on #529
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+360](https://www.0crat.com/u/amihaiemil)

[2018-02-06 16:44] 0crat commented on #529
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9305](https://www.0crat.com/u/yegor256)

[2018-02-06 16:44] 0crat commented on #525
Job [#525](https://github.com/zerocracy/farm/issues/525) was not in scope

[2018-02-06 16:54] yegor256 commented on #529
@amihaiemil I believe it's fixed, please check

[2018-02-06 16:55] amihaiemil opened #532 "Replace XML+XSD frontend with Web Standards"
I know this is a long shot but it's better to think about it now:

ZC has a lot of potential, yet its frontend is not sexy at all. I believe it needs a lot of redesign and refactoring in order to look better and move faster.

XML + XSLT is an old technology which has **big drawbacks** for a project of ZC's potential:

1. it is s-l-o-w; each page load takes 1-2 seconds, unacceptable;

2. design is

[2018-02-06 16:56] 0crat commented on #532
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 16:56] yegor256 commented on #530
@amihaiemil you should see the "proof" link, next to the numbers. Maybe it should be replaced by a PDF icon...

[2018-02-06 17:01] amihaiemil commented on #530
@yegor256 I see it now, thanks. But the PDF is broken. it gets downloaded, yet I cannot open it, it looks like it's corrupt. I'll try at home, maybe it's an OS issue, and let you know if the problem persists.

[2018-02-06 17:03] amihaiemil commented on #529
@yegor256 Yes, it seems to be fixed, I cannot see the links anymore.

[2018-02-06 17:03] yegor256 commented on #530
@amihaiemil it's a bug: #453

[2018-02-06 17:04] yegor256 commented on #453
Still doesn't work, since I can't find a way to produce PDF from LaTeX on Heroku

[2018-02-06 17:07] 0crat commented on #527
Job [#527](https://github.com/zerocracy/farm/issues/527) is now in scope, role is `DEV`

[2018-02-06 17:09] 0crat commented on #527
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+375](https://www.0crat.com/u/amihaiemil)

[2018-02-06 17:14] #529 closed

[2018-02-06 17:17] 0crat commented on #529
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9365](https://www.0crat.com/u/yegor256)

[2018-02-06 17:17] yegor256 commented on #532
@amihaiemil the "slow" point is not valid. We are slow because we combine a number of XML documents in order to produce the output. For example, the `/gang` page puts together the data from 60+ XML files, each of which is stored in AWS S3. You can imagine how much time it takes to load them all, parse, and combine. The conversion of XML to HTML takes milliseconds, it's very fast.

All other points

[2018-02-06 17:23] amihaiemil commented on #532
@yegor256 not even browser compatibility? Outputing the HTML from the XML + XSL is the browser's job, how many browsers still support that?

And the target users is a very long discussion. From my point of view, the first people that should be impressed with the product are managers, project owners, clients etc (not technical people at all), since they will make the decision to move their project

[2018-02-06 17:25] 0crat commented on #529
The job [#529](https://github.com/zerocracy/farm/issues/529) is now out of scope

[2018-02-06 19:36] amihaiemil commented on #532
@yegor256 Also, in the end, the users don't care how many XMLs are needed to render a page. If it's so slow due to that, then maybe a better solution for the backend is needed.

[2018-02-06 20:19] amihaiemil opened #533 "Exit/Log out should be a POST, not a GET"
Currently, Exit/Log Out is a simple GET. This is not ok, since browsers with a prefetch mechanism (fetching pages in advance to speed things up) will automatically log out the user after the login. Plus, anyone could post a link on the Internet, pointing to ``http://www.0crat.com/?PsByFlag=PsLogout`` and anyone who clicked on it would be logged out.

Besides posting a link to click on, one could a

[2018-02-06 20:19] 0crat commented on #533
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-07 04:24] 0crat commented on #383
The job [#383](https://github.com/zerocracy/farm/issues/383) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is

[2018-02-07 11:34] 0crat commented on #384
The job [#384](https://github.com/zerocracy/farm/issues/384) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is

[2018-02-07 14:33] amihaiemil opened #534 "Concurrency issue when adding reputation points"
I think there is a concurrency issue when adding reputation points.

My last reputation was **375**, then I resigned from 2 jobs ([here](https://github.com/yegor256/jpeek/issues/8#issuecomment-363785136) and [here](https://github.com/yegor256/jpeek/issues/64#issuecomment-363785158)). 0crat deducted 15 points for each, and the current reputation is **345** (correct), but the comment is the same in

[2018-02-07 14:33] 0crat commented on #534
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-07 15:23] 0crat commented on #511
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-07 19:37] 0crat commented on #279
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-08 10:23] yegor256 commented on #534
@amihaiemil it's just a matter of reporting -- we can't guarantee its synchronization. And I don't think we need to do that. However, thanks for reporting, we will keep any eye on that in the future.

[2018-02-08 10:24] #534 closed

[2018-02-08 10:26] 0crat commented on #534
Job [#534](https://github.com/zerocracy/farm/issues/534) is now in scope, role is `DEV`

[2018-02-08 10:27] g4s8 commented on #511
@0crat waiting #516

[2018-02-08 10:28] 0crat commented on #534
Job `gh:zerocracy/farm#534` is not assigned, can't get start time

[2018-02-08 10:28] 0crat commented on #534
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+360](https://www.0crat.com/u/amihaiemil)

[2018-02-08 10:28] 0crat commented on #511
@g4s8 The impediment for [#511](https://github.com/zerocracy/farm/issues/511) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-08 10:30] yegor256 opened #535 "verbosity"
Let's collect a new metric per developer: verbosity. Every time we close a job completed by a developer, we should count the amount of messages that person posted in the GitHub issue or a pull request. Let's count not only issue messages, but also commit messages. Then, report it the way we report speed.

[2018-02-08 10:35] 0crat commented on #534
The job [#534](https://github.com/zerocracy/farm/issues/534) is now out of scope

[2018-02-08 10:36] yegor256 opened #536 "blanks"
Let's add a new metric for each developer: the amount of bugs he/she reported, which were not counted as bugs by project architects. Every time we close a ticket in GitHub, which was not a job, we should increment this metric. Also, when we close a pull request, which was not merged, we should increment this metric. Let's do it the same way we count "speed."

[2018-02-08 10:37] 0crat commented on #536
Job [#536](https://github.com/zerocracy/farm/issues/536) is now in scope, role is `DEV`

[2018-02-08 10:37] 0crat commented on #535
Job [#535](https://github.com/zerocracy/farm/issues/535) is now in scope, role is `DEV`

[2018-02-08 10:38] yegor256 commented on #533
@amihaiemil I have no idea how POST can be used there, but let's try) Thanks for reporting.

[2018-02-08 10:39] 0crat commented on #536
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9390](https://www.0crat.com/u/yegor256)

[2018-02-08 10:39] 0crat commented on #535
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9390](https://www.0crat.com/u/yegor256)

[2018-02-08 10:39] 0crat commented on #533
Job [#533](https://github.com/zerocracy/farm/issues/533) is now in scope, role is `DEV`

[2018-02-08 10:40] 0crat commented on #533
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+375](https://www.0crat.com/u/amihaiemil)

[2018-02-08 10:41] amihaiemil commented on #533
@yegor256 Well, worst case scenario, a simple, syncronous ``<form action="..." method="post">`` should work

[2018-02-09 07:50] g4s8 commented on #532
@amihaiemil @yegor256 +1 for browser compatibility. I'm using Chrome only to view 0crat.com because it can't be rendered correctly in Firefox

[2018-02-09 07:52] g4s8 commented on #518
@yegor256 OK, I see.

[2018-02-09 07:52] #518 closed

[2018-02-09 07:52] 0crat commented on #518
Job `gh:zerocracy/farm#518` is not assigned, can't get start time

[2018-02-09 08:01] g4s8 opened #537 "0crat doesn't unassign PR reviewer after 10 days"
0crat doen't include PR jobs to "10 days rule". As a result I have 5 PR's that are 2 weeks old. I think if reviewer doesn't have time to review PR's, they should be re-assigned to someone else. Or if review is in progress he can say `waiting`.

[2018-02-09 08:02] 0crat commented on #537
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-09 08:02] 0crat commented on #518
Job [#518](https://github.com/zerocracy/farm/issues/518) was not in scope

[2018-02-09 10:44] amihaiemil commented on #537
I think the simplest solution would be to remove the 10day deadline for DEV if they have made a Pull Request. So count those 10days rule only while the task stays open and doesn't have at least an open PR
linked to it. Because it's true, the DEV's work is much delayed because of CR and ARCH.

[2018-02-09 10:45] amihaiemil commented on #537
Then, of course, a little AI could be needed to determine whether that PR is alive, if someone is actually doing something about it.

[2018-02-09 10:45] yegor256 commented on #532
@amihaiemil @g4s8 what we can do is always deliver HTML to the browser, unless it explicitly asks for, say `application/vnd.zerocracy+xml`, just like GitHub is doing: https://developer.github.com/v3/media/

[2018-02-09 10:55] yegor256 commented on #532
@amihaiemil I'm telling you, this XML+XSL->HTML conversion is super fast, it takes milliseconds

[2018-02-09 10:56] 0crat commented on #532
Job [#532](https://github.com/zerocracy/farm/issues/532) is now in scope, role is `DEV`

[2018-02-09 10:58] 0crat commented on #532
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+420](https://www.0crat.com/u/amihaiemil)

[2018-02-09 11:05] yegor256 commented on #532
@amihaiemil to me it looks very fresh and elegant)

[2018-02-09 11:11] yegor256 commented on #537
@g4s8 I guess you are right, let me fix it now.

[2018-02-09 11:12] amihaiemil commented on #537
@yegor256 no no, wait a second, what are you doing after all? :))

[2018-02-09 11:13] 0crat commented on #537
The job [#537](https://github.com/zerocracy/farm/issues/537) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-02-09 11:15] 0crat commented on #537
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3775](https://www.0crat.com/u/g4s8)

[2018-02-09 11:15] 0crat commented on #537
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9435](https://www.0crat.com/u/yegor256)

[2018-02-09 11:22] yegor256 commented on #537
@g4s8 fixed in 3a743a53319baaa92dbce4b5fe6460efdd4822ee and updated policy: https://github.com/zerocracy/datum/commit/bb6d172745e47dd6b87697696c23afdcc949b5ed

[2018-02-09 11:26] yegor256 commented on #537
@g4s8 @amihaiemil impediments are still not allowed for PRs. We must not block the process by putting code reviews on hold, I believe.

[2018-02-09 11:33] amihaiemil commented on #537
@yegor256 but what can the reviewer do if the DEV is late? Say I review a PR, suggest some changes and then the DEV takes a lot of time to do them. Then, comes the ARCH, which takes another day or two

[2018-02-09 11:34] amihaiemil commented on #537
@yegor256 It seems to me the REV has a deadline but can do almost nothing to speed things up, that's the problem.

[2018-02-09 12:11] yegor256 commented on #537
@amihaiemil you can simply reject the PR if it takes too long. Just ask the ARC to close the pull request and that's it. The ARC won't be against it, since it's in everybody's favor (except the PR author). The ARC will earn and you will earn.

[2018-02-09 12:13] amihaiemil commented on #537
@yegor256 but then the project loses a lot of value. Question is: what is better for the project? lose a little more time or lose the implemented value (which was almost done, just little changes were needed)?

Plus, the project loses more time if the REV simply rejects a PR after 10 days. 10 days have passed for that PR which was almost done and 10 more will pass until the next PR will be merged.

[2018-02-09 13:16] neonailol opened #538 "0crat failed to deliver a payment"
https://github.com/yegor256/takes/issues/779#issuecomment-364417159

[code]

[2018-02-09 13:16] 0crat commented on #538
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-09 15:00] yegor256 commented on #538
@neonailol shouldn't happen again, I hope. It was a defect with PayPal connection.

[2018-02-09 15:00] #538 closed

[2018-02-09 15:01] 0crat commented on #538
Job `gh:zerocracy/farm#538` is not assigned, can't get start time

[2018-02-09 15:01] 0pdd commented on #273
The puzzle `272-5f75250e` has disappeared from the source code, that's why I closed this issue.

[2018-02-09 15:01] #273 closed

[2018-02-09 15:01] yegor256 commented on #537
@amihaiemil but the slow developer will be punished. This is priceless!

[2018-02-09 15:04] g4s8 commented on #537
@yegor256 thanks! I think if REV can't register impediments in a PR he should be able to reject it with 0crat command (`@0crat reject`) because ARC can miss rejection comment so PR will be unassigned and REV will lose a reputation. @yegor256 @amihaiemil what do you think?

[2018-02-09 15:04] #537 closed

[2018-02-09 15:07] yegor256 commented on #537
@g4s8 the command will not guarantee anything. We need the ticket to get physically closed in GitHub.

[2018-02-09 15:07] 0crat commented on #273
Order was successfully finished: +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3835](https://www.0crat.com/u/g4s8)

[2018-02-09 15:08] 0crat commented on #537
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9625](https://www.0crat.com/u/yegor256)

[2018-02-09 15:11] 0crat commented on #538
Job [#538](https://github.com/zerocracy/farm/issues/538) was not in scope

[2018-02-09 15:11] 0crat commented on #273
The job [#273](https://github.com/zerocracy/farm/issues/273) is now out of scope

[2018-02-09 15:14] 0crat commented on #537
The job [#537](https://github.com/zerocracy/farm/issues/537) is now out of scope

[2018-02-09 15:16] rexim opened #539 "GitHub close keyword abuse problem"
GitHub makes it super easy to automatically close an issue with [keywords](https://help.github.com/articles/closing-issues-using-keywords/) without the reporter's consent.

Example: https://github.com/yegor256/cactoos/issues/561

[2018-02-09 15:16] 0crat commented on #539
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-09 15:17] rexim commented on #539
@yegor256 one of the solutions I see is to make some automatic check that the PR description and commit messages don't contain the keywords.

[2018-02-09 16:21] g4s8 commented on #189
@0crat waiting #517

[2018-02-09 16:22] 0crat commented on #189
@g4s8 The impediment for [#189](https://github.com/zerocracy/farm/issues/189) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-09 19:34] 0crat commented on #279
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#279](https://github.com/zerocracy/farm/issues/279), please stop working

[2018-02-10 01:36] 0crat commented on #73
The job [#73](https://github.com/zerocracy/farm/issues/73) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/410134025). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-10 07:23] 0crat commented on #89
The job [#89](https://github.com/zerocracy/farm/issues/89) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/410723535). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-10 13:54] 0crat commented on #111
The job [#111](https://github.com/zerocracy/farm/issues/111) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/411354155). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-10 21:54] 0crat commented on #382
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-11 06:29] g4s8 commented on #382
@0crat waiting #265 #531

[2018-02-11 06:29] 0crat commented on #382
@g4s8 The impediment for [#382](https://github.com/zerocracy/farm/issues/382) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-11 08:51] g4s8 opened #540 "Users are not banned from all jobs if they skip many of them"
Some users may ignore Zerocracy jobs assigned to them  (do nothing until 0crat unassign job by 10 days rule), which extends result delivery timeline.
I'd siggest to ban them from all jobs (add to `bans.xml` with a wildcard) automatically if they exceed some threshold (maybe 10 ignored jobs one by one) until they ask PO to unban them back.
Another solution may be to automatically turn vacation mode

[2018-02-11 08:51] 0crat commented on #540
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-11 09:08] g4s8 commented on #273
@yegor256 you removed this `@todo` in aa4e41852edd01f73399ec635f91552d74251cf0 but I have opened PR #466 for this ticket. So how to deal with this PR now?

[2018-02-11 11:14] 0crat commented on #220
The job [#220](https://github.com/zerocracy/farm/issues/220) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/421116519). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-11 13:14] 0crat commented on #404
The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#404](https://github.com/zerocracy/farm/issues/404), please stop working

[2018-02-11 14:57] g4s8 opened #542 "Some tests are broken"
EquityTest.createsPdf and LatexTest.renders are failing with exception:

e.g. this build: https://travis-ci.org/zerocracy/farm/builds/340113972?utm_source=github_status&utm_medium=notification

[2018-02-11 14:57] 0crat commented on #542
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-11 15:05] 0crat commented on #524
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-11 22:25] 0crat commented on #377
The job [#377](https://github.com/zerocracy/farm/issues/377) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/422223570). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-12 04:34] 0crat commented on #383
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-12 11:44] 0crat commented on #384
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-12 11:48] g4s8 commented on #384
@0crat waiting #541

[2018-02-12 11:48] 0crat commented on #384
@g4s8 The impediment for [#384](https://github.com/zerocracy/farm/issues/384) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-12 12:56] g4s8 commented on #520
@yegor256 could you please assign me this job? I have similar one: https://github.com/zerocracy/datum/issues/122

[2018-02-12 12:57] yegor256 commented on #539
@rexim that would be a very complex validation software, which would have to go through the entire PR, check all commit messages, all texts, report problems somehow... It seems to be something outside of our scope.

[2018-02-12 12:58] yegor256 commented on #542
@g4s8 disabled them in 5c1abb8d Thanks!

[2018-02-12 12:59] #542 closed

[2018-02-12 12:59] 0crat commented on #542
Job `gh:zerocracy/farm#542` is not assigned, can't get start time

[2018-02-12 13:07] yegor256 commented on #540
@g4s8 I would suggest to introduce a new per-user metric (similar to #536 and #535). Let's call it "negligence". Let's record every situation when a user is ejected from a job by delay. Then, let's create a new voter that will seriously downvote those users. Make sense?

[2018-02-12 13:08] 0crat commented on #540
Job [#540](https://github.com/zerocracy/farm/issues/540) is now in scope, role is `DEV`

[2018-02-12 13:10] 0crat commented on #542
Job [#542](https://github.com/zerocracy/farm/issues/542) was not in scope

[2018-02-12 13:10] 0crat commented on #540
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3850](https://www.0crat.com/u/g4s8)

[2018-02-12 13:18] rexim commented on #539
@yegor256 another solution that I'm thinking about is to not pay to the DEV without the reporter's approval.

Case 1:
- Issue closed by the reporter.
- 0crat pays to the `DEV`.

Case 2:
- Issue closed by somebody else (for example rultor).
- 0crat asks the reporter to approve the solution.
- If the problem is solved, the reporter just says something like `@0crat approve` and the `DEV` gets paid.
-

[2018-02-12 13:20] g4s8 opened #543 "Qulice PMD error in master"
@yegor256 please fix this in `master` branch:
[ERROR] /src/main/java/com/zerocracy/radars/slack/TkSlack.java[78-78]: Avoid declaring a variable if it is unreferenced before a possible exit point. (PrematureDeclaration)
[INFO] Read our quality policy: http://www.qulice.com/quality.html

[2018-02-12 13:20] 0crat commented on #543
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 13:24] g4s8 commented on #335
@yegor256 I've found good working library for java: https://github.com/tim-group/java-statsd-client so we can make an aspect for aspectj based on it.
And there is another problem: Graphite plugin in Heroku has free plan, but server for this plugin (https://www.hostedgraphite.com/) doesn't have.

[2018-02-12 13:38] yegor256 commented on #543
@g4s8 fixed the build, sorry, my bad

[2018-02-12 13:38] #543 closed

[2018-02-12 13:38] 0crat commented on #543
Job `gh:zerocracy/farm#543` is not assigned, can't get start time

[2018-02-12 13:45] yegor256 commented on #524
@amihaiemil I removed the badges from the home page and the profile page will be fixed when this bug is gone: https://github.com/terales/socatar/issues/79

[2018-02-12 13:48] 0crat commented on #543
Job [#543](https://github.com/zerocracy/farm/issues/543) was not in scope

[2018-02-12 14:02] amihaiemil opened #544 "0crat doesn't care about the developers' actual knowledge"
It is assumed by the model that developers will work on specialized repos (e.g. I, as a Java developer, won't work on a repo that has other stuff than Java).

For instance, this repo is Java + advanced XML technologies. I have no idea about XML tech -- there are, of course, puzzles, I can puzzle stuff out, but this won't work indefinetely; at some point I'll not be able to puzzle the task out and

[2018-02-12 14:02] 0crat commented on #544
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 14:08] yegor256 commented on #544
@amihaiemil that's a valid concern, but my answer to this is that each repo should be one technology focused only. There should not be repositories with multiple technologies in it. If that is the case, the repo is wrong, not Zerocrat. Labeling tasks and letting Zerocrat make those decisions will only complicate the situation and make it messy. So, the answer is no.

[2018-02-12 14:08] #544 closed

[2018-02-12 14:10] 0crat commented on #544
The job [#544](https://github.com/zerocracy/farm/issues/544) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/431410087). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-12 14:12] 0crat commented on #544
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+495](https://www.0crat.com/u/amihaiemil)

[2018-02-12 14:12] yegor256 commented on #273
@g4s8 I would close the PR. I don't really agree with the changes you made there, so I have big doubts it will pass the review without many changes.

[2018-02-12 14:12] 0crat commented on #544
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9660](https://www.0crat.com/u/yegor256)

[2018-02-12 14:13] amihaiemil commented on #544
@yegor256 I see. Did you really want to put this in scope and pay me, or not (since you rejected the issue)? Should I refund the transaction?

[2018-02-12 14:14] 0crat commented on #544
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9690](https://www.0crat.com/u/yegor256)

[2018-02-12 14:16] yegor256 commented on #544
@amihaiemil it was done intentionally. The report was valid, we paid you for it. But the decision on it was "rejection." The decision and the work you've done to report the bug -- are two separate things. We don't pay for bugs that are minor, cosmetic or incorrectly reported. This one is not one of those.

[2018-02-12 14:17] amihaiemil commented on #544
@yegor256 Ok, thanks :)

[2018-02-12 14:19] 0crat commented on #544
The job [#544](https://github.com/zerocracy/farm/issues/544) is now out of scope

[2018-02-12 14:23] yegor256 commented on #520
@0crat assign @g4s8

[2018-02-12 14:24] 0pdd opened #545 "notify_all.groovy:25-32: Let's implement this..."
The puzzle `384-734984f7` from #384 has to be resolved:

https://github.com/zerocracy/farm/blob/d3d6e51a282c6702d4a0cb6294c1e2865027523c/src/main/resources/com/zerocracy/stk/pm/comm/notify_all.groovy#L25-L32

The puzzle was created by g4s8 on 11-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the

[2018-02-12 14:24] 0crat commented on #545
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 14:24] 0crat commented on #520
@yegor256 The job [#520](https://github.com/zerocracy/farm/issues/520) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/431425195). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-12 14:25] 0crat commented on #520
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9685](https://www.0crat.com/u/yegor256)

[2018-02-12 14:26] 0crat commented on #545
Job [#545](https://github.com/zerocracy/farm/issues/545) is now in scope, role is `DEV`

[2018-02-12 14:28] g4s8 commented on #384
@yegor256 can we close it? #541 was merged, #545 puzzle was created

[2018-02-12 14:33] yegor256 commented on #384
@g4s8 thanks!

[2018-02-12 14:33] #384 closed

[2018-02-12 14:36] 0crat commented on #384
Order was successfully finished: +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3880](https://www.0crat.com/u/g4s8)

[2018-02-12 14:37] 0crat commented on #539
Job [#539](https://github.com/zerocracy/farm/issues/539) is now in scope, role is `DEV`

[2018-02-12 14:37] yegor256 commented on #539
@rexim I like it, thanks! But we will do it simpler. We will check who closed the ticket and add this information to the "closing claim". Then, when it's time to pay, we will check whether the ticket was closed by the reporter or ARC or PO. In these cases, we pay. Otherwise, we say "sorry, we won't pay". Let's do it this way and don't forget to update the policy.

[2018-02-12 14:37] yegor256 commented on #539
@0crat assign @g4s8

[2018-02-12 14:37] 0crat commented on #539
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/539#issuecomment-364919840). You must always start your message with my name if you want to address it to me, see [§1](http://datum.zerocracy.com/pages/policy.html#1).

[2018-02-12 14:38] 0crat commented on #539
@yegor256 The job [#539](https://github.com/zerocracy/farm/issues/539) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/431439328). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-12 14:39] 0crat commented on #539
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9695](https://www.0crat.com/u/yegor256)

[2018-02-12 14:41] yegor256 opened #546 "project advisers"
Each project must have a "adviser" (one of our users), whose name has to be provided to the `bootstrap` command. We should store the name of the adviser in `catalog.xml`. Then, the adviser should get 4% of every project funding operation. Every time a project gets funded, the adviser receives a payment.

Let's not forget to update the policy too.

[2018-02-12 14:43] yegor256 opened #547 ""0crat" as a mentor for high-ranked users"
When a user reaches 2048 reputation points, we should automatically set `0crat` as his/her mentor. We should inform the user about that and his/her mentor. This should also mean, that there will no fees deducted anymore to the benefits of the mentor.

[2018-02-12 15:22] yegor256 opened #548 "RFP"
Let's create a new page `/rfp`, which will contain a form our potential clients will have to fill out:

  * Title
  * Budget
  * Tech stack
  * Deadline(s)
  * Scope of work

Then, we store this RFP (request for proposal) in `pmo/rfps.xml` and announce it for those users who have 2048+ reputation. Some of them may be interested to become an architect in this new project. What happens next I'm not

[2018-02-12 15:36] yegor256 commented on #520
@g4s8 keep this in mind: https://github.com/zerocracy/datum/issues/270 In the `/join` page we have to list things that are important for us, including GitHub profile, SO reputation, etc. Maybe give links to my [blog post](http://www.yegor256.com/2014/10/29/how-much-do-you-cost.html).

[2018-02-12 15:43] 0crat commented on #546
Job [#546](https://github.com/zerocracy/farm/issues/546) is now in scope, role is `DEV`

[2018-02-12 15:43] 0crat commented on #547
Job [#547](https://github.com/zerocracy/farm/issues/547) is now in scope, role is `DEV`

[2018-02-12 15:44] 0crat commented on #546
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9780](https://www.0crat.com/u/yegor256)

[2018-02-12 15:45] 0crat commented on #547
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9780](https://www.0crat.com/u/yegor256)

[2018-02-12 16:43] g4s8 opened #549 "notify_user sometimes fail"
Tests sometimes fails with this stacktrace:
[code]
e.g. this build: http://www.rultor.com/t/13858-364974689

[2018-02-12 16:43] 0crat commented on #549
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 19:25] msarhan opened #550 "Link to policy.html#1 page is broken"
When uninvited user login, the home page shows a message "_You (@username) must be invited to us by someone we already know, see §1_".
**§1** in the message is not linked to [http://datum.zerocracy.com/pages/policy.html#1](url) page.

[2018-02-12 19:25] 0crat commented on #550
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 20:17] terales commented on #524
@yegor256 https://github.com/terales/socatar/issues/79 is fixed now

[2018-02-12 21:26] yegor256 commented on #550
@msarhan thanks, should be fine now

[2018-02-12 21:26] #550 closed

[2018-02-12 21:27] 0crat commented on #550
Job `gh:zerocracy/farm#550` is not assigned, can't get start time

[2018-02-12 21:28] yegor256 commented on #549
@g4s8 too late, fixed already in a518b373

[2018-02-12 21:28] #549 closed

[2018-02-12 21:29] 0crat commented on #549
Job `gh:zerocracy/farm#549` is not assigned, can't get start time

[2018-02-12 21:31] yegor256 commented on #524
@amihaiemil it seems we are fully secure now, please check

[2018-02-12 21:37] 0crat commented on #550
Job [#550](https://github.com/zerocracy/farm/issues/550) was not in scope

[2018-02-12 21:39] 0crat commented on #549
Job [#549](https://github.com/zerocracy/farm/issues/549) was not in scope

[2018-02-13 06:25] amihaiemil commented on #524
@yegor256 yes, seems fine now, thanks :)

[2018-02-13 06:25] #524 closed

[2018-02-13 06:26] 0crat commented on #524
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9840](https://www.0crat.com/u/yegor256)

[2018-02-13 06:35] 0crat commented on #524
The job [#524](https://github.com/zerocracy/farm/issues/524) is now out of scope

[2018-02-13 10:25] 0pdd opened #552 "People.java:43-47: Let's keep person reputation, agenda..."
The puzzle `366-6dccce28` from #366 has to be resolved:

https://github.com/zerocracy/farm/blob/fa3b468d9759edb85fdd1434fe96ccb5f26ff705/src/main/java/com/zerocracy/pmo/People.java#L43-L47

The puzzle was created by rultor on 13-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-02-13 10:25] 0crat commented on #552
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-13 10:28] 0crat commented on #552
Job [#552](https://github.com/zerocracy/farm/issues/552) is now in scope, role is `DEV`

[2018-02-13 19:10] rexim opened #553 "0crat sends links that I don't have an access to"
0crat sent me the following text via Telegram:

If I click on [why](https://www.0crat.com/footprint/C7JGJ00DP/441813874) I get "Access Denied" page:

![2018-02-14-020859_613x606_scrot](https://user-images.githubusercontent.com/165283/36168558-14884696-112c-11e8-9105-22551da5b26c.png)

I'd expect to either have an access to that page, or don't see the links I'm not allowed to see.

[2018-02-13 19:10] 0crat commented on #553
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-13 23:44] 0crat commented on #329
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#329](https://github.com/zerocracy/farm/issues/329), please stop working

[2018-02-14 06:14] 0crat commented on #384
The job [#384](https://github.com/zerocracy/farm/issues/384) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/450613695). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-14 07:08] g4s8 commented on #384
@0crat status

[2018-02-14 07:09] 0crat commented on #384
@g4s8 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#384](https://github.com/zerocracy/farm/issues/384) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0) for [56min](http://datum.zerocracy.com/pages/policy.html#8)

[2018-02-14 07:32] #548 closed

[2018-02-14 07:32] yegor256 commented on #553
@rexim fixed, now you will have access.

[2018-02-14 07:32] #553 closed

[2018-02-14 07:32] 0crat commented on #548
Job `gh:zerocracy/farm#548` is not assigned, can't get start time

[2018-02-14 07:33] 0crat commented on #553
Job `gh:zerocracy/farm#553` is not assigned, can't get start time

[2018-02-14 07:42] 0crat commented on #548
Job [#548](https://github.com/zerocracy/farm/issues/548) was not in scope

[2018-02-14 07:43] 0crat commented on #553
Job [#553](https://github.com/zerocracy/farm/issues/553) was not in scope

[2018-02-14 08:27] g4s8 commented on #184
@yegor256 #459 was merged, can we close?

[2018-02-14 08:27] 0crat commented on #184
The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#184](https://github.com/zerocracy/farm/issues/184), please stop working

[2018-02-14 08:31] g4s8 commented on #506
@yegor256 same here: #184

[2018-02-14 08:46] g4s8 commented on #506
@yegor256 same here: https://github.com/zerocracy/datum/pull/266

[2018-02-14 10:24] 0crat commented on #335
The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#335](https://github.com/zerocracy/farm/issues/335), please stop working

[2018-02-14 12:02] yegor256 commented on #506
@0crat assign me

[2018-02-14 12:03] 0crat commented on #506
@yegor256 The job [#506](https://github.com/zerocracy/farm/issues/506) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/451203282). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.h

[2018-02-14 12:05] 0crat commented on #506
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9619](https://www.0crat.com/u/yegor256)

[2018-02-14 12:15] yegor256 commented on #506
@g4s8 I believe it's fixed in 7103d344 Let's try?

[2018-02-14 12:58] amihaiemil opened #554 "0crat doesn't care if the ARCH did something on the PR or not"
When the PR is closed, the architect gets paid regardless if they did something on the PR or not.

For instance here: https://github.com/yegor256/cactoos/pull/627#issuecomment-365597353

The architect did absolutely nothing, the author of the PR closed it after discussion with the reviewer. In such cases, when the ARCH did nothing, they should not be paid -- it is a worthless cost for the project.

[2018-02-14 12:58] 0crat commented on #554
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-14 12:59] 0crat commented on #545
The job [#545](https://github.com/zerocracy/farm/issues/545) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/451258196). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-14 13:07] #545 closed

[2018-02-14 13:07] 0pdd commented on #545
The puzzle `384-734984f7` has disappeared from the source code, that's why I closed this issue.

[2018-02-14 13:15] yegor256 opened #555 "remove lost GitHub users"
Let's create a new stakeholder, which will react to `Ping daily` and check whether everybody we have in `people.xml` is still present in GitHub. At the moment, we already have three people, whose accounts are no longer active in GitHub. Let's just remove them from `people.xml`

[2018-02-14 13:16] 0crat commented on #545
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9684](https://www.0crat.com/u/yegor256)

[2018-02-14 13:16] 0crat commented on #555
Job [#555](https://github.com/zerocracy/farm/issues/555) is now in scope, role is `DEV`

[2018-02-14 13:17] 0crat commented on #555
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9699](https://www.0crat.com/u/yegor256)

[2018-02-14 13:18] 0crat commented on #545
The job [#545](https://github.com/zerocracy/farm/issues/545) is now out of scope

[2018-02-14 13:20] yegor256 commented on #554
@amihaiemil the right mechanism to prevent this is to have a QA role in the project: http://datum.zerocracy.com/pages/policy.html#QA We don't have it yet, but will have soon. I agree that even without a QA role, we should not pay if ARC or CR made zero comments to the PR. Let's introduce a simple check, which will go through all comments in the PR and set `quality` to `bad` if either CR or ARC lef

[2018-02-14 13:20] yegor256 commented on #554
@0crat assign @g4s8

[2018-02-14 13:24] 0crat commented on #554
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9694](https://www.0crat.com/u/yegor256)

[2018-02-14 13:47] yegor256 commented on #184
@0crat boost 2x

[2018-02-14 14:01] 0pdd opened #556 "S3ItemTest.java:129-132: S3Item does not handle..."
The puzzle `511-1a49e160` from #511 has to be resolved:

https://github.com/zerocracy/farm/blob/55b8680abb68fdf8aab8eebc43028f7aed58d373/src/test/java/com/zerocracy/farm/S3ItemTest.java#L129-L132

The puzzle was created by g4s8 on 02-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-02-14 14:01] 0crat commented on #556
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-14 14:04] 0crat commented on #556
Job [#556](https://github.com/zerocracy/farm/issues/556) is now in scope, role is `DEV`

[2018-02-14 14:18] yegor256 commented on #184
@0crat hey

[2018-02-14 14:18] 0crat commented on #184
@yegor256 Hey, what's up, how is it going?

[2018-02-14 14:31] yegor256 commented on #184
@0crat boost 2x

[2018-02-14 14:48] yegor256 commented on #184
@0crat status

[2018-02-14 14:48] 0crat commented on #184
@yegor256 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#184](https://github.com/zerocracy/farm/issues/184) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 6mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://datum.zerocracy.com/pages/policy.html#4) is 30 minutes/points
  * Thes

[2018-02-14 14:49] yegor256 commented on #184
@g4s8 thanks (6 months!)

[2018-02-14 14:49] #184 closed

[2018-02-14 14:49] 0crat commented on #184
Job `gh:zerocracy/farm#184` is not assigned, can't get start time

[2018-02-14 14:59] 0crat commented on #184
The job [#184](https://github.com/zerocracy/farm/issues/184) is now out of scope

[2018-02-14 16:18] g4s8 commented on #506
test

[2018-02-14 16:26] g4s8 opened #557 "0crat can assign closed issue"
Looks like 0crat didn't remove a job from WBS after closing and assigns a performer to this issue:
https://github.com/zerocracy/farm/issues/384#issuecomment-365507099

[2018-02-14 16:26] 0crat commented on #557
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-14 16:30] g4s8 commented on #506
@0crat status

[2018-02-14 16:30] 0crat commented on #506
@g4s8 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#506](https://github.com/zerocracy/farm/issues/506) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 12days
  * The role is `DEV`
  * The job is assigned to @yegor256[/z](https://www.0crat.com/u/yegor256) for [4hr](http://datum.zerocracy.com/pages/policy.html#8)

[2018-02-14 16:32] g4s8 commented on #506
@yegor256 thanks!

[2018-02-14 16:32] #506 closed

[2018-02-14 16:34] 0crat commented on #506
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9769](https://www.0crat.com/u/yegor256)

[2018-02-14 16:42] 0crat commented on #506
The job [#506](https://github.com/zerocracy/farm/issues/506) is now out of scope

[2018-02-14 17:12] yegor256 commented on #511
@g4s8 thanks!

[2018-02-14 17:12] #511 closed

[2018-02-14 17:15] 0crat commented on #511
Order was successfully finished: +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3910](https://www.0crat.com/u/g4s8)

[2018-02-14 17:17] yegor256 opened #558 "Ten Days Rule correction coefficient"
How about we add a correction to the Ten Days Rule? The higher the reputation of a user, the bigger the amount of time we can wait for a job completion. The lower the reputation, the faster the user has to act. The motivation here is obvious: new low-reputation users put projects on hold, since they can't complete in time even the simplest tasks. We should give them 3-4 days and eject as soon as p

[2018-02-14 17:22] 0crat commented on #511
The job [#511](https://github.com/zerocracy/farm/issues/511) is now out of scope

[2018-02-14 17:29] yegor256 commented on #557
@g4s8 well, the bug manifests itself like this:

  * The ticket gets closed;
  * GitHub sends us the webhook;
  * `RbOnClose` creates two claims: `Close job` and `Remove job from WBS`;
  * For some reason (no matter which one) the `Remove job from WBS` fails;
  * The job remains in the WBS, the order is closed;
  * Zerocrat assigns the job again.

The only solution to this problem we have now is t

[2018-02-14 17:32] 0crat commented on #557
Job [#557](https://github.com/zerocracy/farm/issues/557) is now in scope, role is `DEV`

[2018-02-14 17:33] yegor256 commented on #384
@0crat refuse

[2018-02-14 17:33] yegor256 commented on #384
@0crat out

[2018-02-14 17:34] 0crat commented on #557
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3925](https://www.0crat.com/u/g4s8)

[2018-02-14 17:34] 0crat commented on #384
@yegor256 The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#384](https://github.com/zerocracy/farm/issues/384), please stop working

[2018-02-14 17:35] 0crat commented on #384
@yegor256 The job [#384](https://github.com/zerocracy/farm/issues/384) is now out of scope

[2018-02-14 22:51] 0pdd opened #559 "update_skills.groovy:26-30: Let's implement this..."
The puzzle `492-2cc36189` from #492 has to be resolved:

https://github.com/zerocracy/farm/blob/caf3b3188dbf65ef9b27559c394254a3bc4afcae/src/main/resources/com/zerocracy/stk/pmo/people/update_skills.groovy#L26-L30

The puzzle was created by g4s8 on 02-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" wh

[2018-02-14 22:51] 0crat commented on #559
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-14 22:53] 0crat commented on #559
Job [#559](https://github.com/zerocracy/farm/issues/559) is now in scope, role is `DEV`

[2018-02-15 02:54] 0crat commented on #360
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#360](https://github.com/zerocracy/farm/issues/360), please stop working

[2018-02-15 04:34] 0crat commented on #383
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-15 06:27] g4s8 commented on #189
@yegor256 added random voter in #517, can we close?

[2018-02-15 06:27] g4s8 commented on #383
@0crat waiting #382

[2018-02-15 06:29] 0crat commented on #383
@g4s8 The impediment for [#383](https://github.com/zerocracy/farm/issues/383) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-15 06:34] g4s8 commented on #366
@yegor256 zerocracy/datum#266 and #515 were merged, #552 todo was posted, can we close?

[2018-02-15 06:34] 0crat commented on #366
To cancel the order use `refuse` as in §6

[2018-02-15 06:56] g4s8 commented on #539
@yegor256 do we need to remove such jobs (closed by someone else) from WBS?

[2018-02-15 07:26] yegor256 commented on #189
@g4s8 thanks!

[2018-02-15 07:26] yegor256 commented on #189
@rultor release, tag is `0.21`

[2018-02-15 07:26] yegor256 commented on #366
@g4s8 thanks!

[2018-02-15 07:26] #366 closed

[2018-02-15 07:27] rultor commented on #189
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13887-365845268)

[2018-02-15 07:29] 0crat commented on #366
Order was successfully finished: +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3970](https://www.0crat.com/u/g4s8)

[2018-02-15 07:34] rultor commented on #189
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13887-365845268) (took me 7min)

[2018-02-15 07:35] yegor256 commented on #539
@g4s8 good question. Let's leave them in the WBS.

[2018-02-15 08:07] 0crat commented on #366
The job [#366](https://github.com/zerocracy/farm/issues/366) is now out of scope

[2018-02-15 08:27] amihaiemil commented on #558
@yegor256 I think we can wait more days for higher-reputation contributors, but we should leave it the same for new commers. 3-4 days is way to little time, taking into account that 4 people are involved: the ticket's author, the resolver, the CR and the ARCH.

Also, let's not forget that the model should be distributed, so this also means flexibility. If I am forced to really hurry and put off ot

[2018-02-15 08:29] amihaiemil opened #560 "0crat resigned DEV and CR without paying"
One PR, for which I was the reviewer, was closed today and I wasn't paid. Instead, 0crat said that I resigned from the issue. See here: https://github.com/yegor256/cactoos/pull/642#issuecomment-365853549

It did not deduct reputation points, though.

[2018-02-15 08:29] 0crat commented on #560
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-15 08:32] proshin-roman opened #561 "0crat doesn't assign issues although there are free ones"
I'm assigned to [Cactoos project](https://www.0crat.com/p/C63314D6Z) and have DEV role. 0crat shows that Cactoos project has 15/23 jobs (there are 8 "free" issues that might be assigned to me). My rate is $16 that is the min allowed rate (but anyway the work on this project is not paid).

Is this a bug that 0crat doesn't assign any issues to me?

[2018-02-15 08:32] 0crat commented on #561
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-15 08:38] amihaiemil opened #562 "0crat doesn't care if the PR's author was assigned to the Issue or not"
Currently, anyone can make a PR regarding any opened Issue and 0crat doesn't check if they were previously assigned to said Issue.

It depends how you look at it; anyone is free to contribute even without payment, if they want, but I think 0crat should make a check and at least leave a comment on the PR, telling them that there's a risk their PR doesn't get merged since the Issue's assignee might

[2018-02-15 08:39] 0crat commented on #562
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-15 09:25] skapral opened #563 "Proposal to make on-demand task assignment option in 0crat"
Subj.

Currently, 0crat automatically assignes a set of tasks until the [threshold](http://datum.zerocracy.com/pages/policy.html#3) is met. Let's call this mode "automatic". However, there are some cases when automatic mode is unreasonably tough to follow, especially taking into account the fact that higher rates make this threshold larger:

- There is an accident on my side which had heavily impa

[2018-02-15 09:25] 0crat commented on #563
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-15 11:27] g4s8 opened #564 "0crat can assign task silently"
This task https://github.com/zerocracy/farm/issues/281 was appeared in my agenda, but 0crat didn't comment on it, so I didn't receive notifications in Github. Here is `status` output: https://github.com/zerocracy/farm/issues/281#issuecomment-365898431

[2018-02-15 11:28] 0crat commented on #564
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-15 12:03] g4s8 opened #565 "'Make payment' is not testable"
It's not possible to check that 'Make payment' claim was called. I suppose that we can implement `FkPayroll` which will be used if `testing` flag found in `Props`. This `FkPayroll` can log payments to file, that will be accessible during test.

[2018-02-15 12:03] 0crat commented on #565
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-15 12:36] yegor256 commented on #563
@skapral I'm not against this proposal but would like to understand the reason behind it. What exactly is the problem now? What are the symptoms?

[2018-02-15 12:38] yegor256 commented on #558
@amihaiemil well, I think it's better to "fail fast" with newcomers and give them feedback earlier. They will either understand the importance of doing everything quickly (by losing points) or will quit. But the project won't suffer. It's sort of a faster training.

On the other hand, totally fresh/zero-reputation newcomers are only joining sandbox projects, which don't really care about the speed

[2018-02-15 12:43] yegor256 commented on #562
@amihaiemil how can the robot know which ticket this particular PR is related to?

[2018-02-15 12:45] amihaiemil commented on #558
@yegor256 Yes, speed is the most important part. After all, the flexibility depends on the project.  The developers will have to adjust anyway.

Still, wouldn't it be better to let each project configure this timeframe? 3-4 days is good from the "fail-fast" perspective you are mentioning, but maybe some projects don't like this idea.

[2018-02-15 12:48] amihaiemil commented on #562
@yegor256 by following the ticket that is linked in the PRs description. Having more than one link there is not ok either way you look at it.

If there are a dozen tickets linked there, traceability is lost, you don't know where to look anymore. So, it could first check the number of links and say "Please, link the parent issue only", then use that ticket's number to check who is the assignee ther

[2018-02-15 12:58] yegor256 opened #566 "VsSpeed rates unknown people too high"
Here is what [I see](https://www.0crat.com/footprint/C63314D6Z/460045609) for a person who hasn't done any tasks yet:

[code]

It's wrong. We should give such a person the lowest position, if no jobs have been completed yet.

[2018-02-15 12:58] 0crat commented on #566
Job [#566](https://github.com/zerocracy/farm/issues/566) is now in scope, role is `DEV`

[2018-02-15 12:59] 0crat commented on #566
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9849](https://www.0crat.com/u/yegor256)

[2018-02-15 13:20] skapral commented on #563
@yegor256 Well, I'd formulate it that way: in some situations it is more convenient to control incoming work load manually, instead of letting it be controlled by 0crat. Especially when 0crat is not your main source of income and you are there just out of curiosity.

[2018-02-15 14:05] 0crat commented on #561
The job [#561](https://github.com/zerocracy/farm/issues/561) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/461404090). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-15 14:06] yegor256 commented on #565
@g4s8 yes, good idea. We can just set the wallet of a user to `file` instead of `paypal` and the system will just save the payment information into the file, instead of using `Paypal` class.

[2018-02-15 14:08] 0crat commented on #561
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9844](https://www.0crat.com/u/yegor256)

[2018-02-15 14:09] 0crat commented on #565
Job [#565](https://github.com/zerocracy/farm/issues/565) is now in scope, role is `DEV`

[2018-02-15 14:11] 0crat commented on #565
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+3985](https://www.0crat.com/u/g4s8)

[2018-02-15 14:26] g4s8 commented on #189
@yegor256 seems to be working: https://www.0crat.com/footprint/C3FFK3YAY/460913167

[2018-02-15 14:48] yegor256 commented on #561
@proshin-roman I believe it's fixed

[2018-02-15 15:02] amihaiemil commented on #560
Happened again, [here](https://github.com/yegor256/cactoos/pull/647#issuecomment-365951409).

[2018-02-15 15:02] amihaiemil commented on #560
@yegor256 ping, check this one out :)

[2018-02-15 16:06] nick318 commented on #560
@yegor256 the same for dev role [here](https://github.com/yegor256/cactoos/issues/595)

[2018-02-15 16:07] nick318 commented on #560
@amihaiemil could you change a title to cover `DEV` role also.

[2018-02-15 16:30] yegor256 commented on #563
@skapral we have this ticket: https://github.com/zerocracy/datum/issues/258 It is somehow related, I believe. Would that be enough?

[2018-02-15 16:58] yegor256 commented on #558
@amihaiemil I think that we should make our software as less configurable as possible. Becuase if it will have many configuration options, it will not translate any particular philosophy/concept to the projects. It will be just a piece of software. On the other hand, if it works only one specific way, people will buy/take not only its functionality, but also the concept behind it.

[2018-02-15 16:59] skapral commented on #563
@yegor256 yes, this would be sufficient.

[2018-02-15 16:59] #563 closed

[2018-02-15 17:06] amihaiemil commented on #558
Right, that's also a point... well, then I say we can give it a shot :)

[2018-02-15 17:09] 0crat commented on #563
Job [#563](https://github.com/zerocracy/farm/issues/563) was not in scope