[2018-02-15 17:52] yegor256 commented on #189
@g4s8 yes, thanks

[2018-02-15 17:52] #189 closed

[2018-02-15 17:56] 0crat commented on #189
Order was successfully finished: +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4015](https://www.0crat.com/u/g4s8)

[2018-02-15 18:03] 0crat commented on #189
The job [#189](https://github.com/zerocracy/farm/issues/189) is now out of scope

[2018-02-15 18:07] 0pdd commented on #408
The puzzle `73-6d39317c` has disappeared from the source code, that's why I closed this issue.

[2018-02-15 18:07] #408 closed

[2018-02-15 18:07] 0crat commented on #408
To cancel the order use `refuse` as in [§6](http://datum.zerocracy.com/pages/policy.html#6)

[2018-02-15 18:09] g4s8 commented on #408
@yegor256 #460 was merged, let's assign QA role to someone?

[2018-02-15 18:10] 0crat commented on #408
Order was successfully finished: +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4045](https://www.0crat.com/u/g4s8)

[2018-02-15 18:18] 0crat commented on #408
The job [#408](https://github.com/zerocracy/farm/issues/408) is now out of scope

[2018-02-15 18:23] yegor256 commented on #560
@amihaiemil I believe it was fixed in 0155c7e Let's close. If it shows up again, report it again please, in a new ticket.

[2018-02-15 18:24] yegor256 commented on #408
@g4s8 we already have QA roles in Cactoos, Takes, and jPeek. Let's see what happens...

[2018-02-15 18:29] amihaiemil commented on #560
@yegor256 ok, sure

[2018-02-15 18:29] #560 closed

[2018-02-15 18:31] 0crat commented on #560
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+630](https://www.0crat.com/u/amihaiemil)

[2018-02-15 18:31] 0crat commented on #560
Job `gh:zerocracy/farm#560` is not assigned, can't get start time

[2018-02-15 18:51] yegor256 opened #569 "TkPing is not fast enough"
We need a faster mechanism of "pinging"

[2018-02-15 18:53] 0crat commented on #569
The job [#569](https://github.com/zerocracy/farm/issues/569) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/461851230). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-15 19:09] 0crat commented on #569
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9839](https://www.0crat.com/u/yegor256)

[2018-02-15 19:09] 0crat commented on #569
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9839](https://www.0crat.com/u/yegor256)

[2018-02-15 19:10] 0crat commented on #569
It is strongly discouraged to assign jobs to their creators, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9839](https://www.0crat.com/u/yegor256)

[2018-02-15 19:34] 0crat commented on #368
The job [#368](https://github.com/zerocracy/farm/issues/368) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/461934653). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-15 20:00] 0crat commented on #391
The job [#391](https://github.com/zerocracy/farm/issues/391) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/461960346). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-15 20:29] 0crat commented on #402
The job [#402](https://github.com/zerocracy/farm/issues/402) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/462030130). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-15 20:59] proshin-roman commented on #561
@yegor256 it works! Thanks for the fix!

[2018-02-15 21:01] 0crat commented on #404
The job [#404](https://github.com/zerocracy/farm/issues/404) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/462102979). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-15 21:34] 0crat commented on #400
The job [#400](https://github.com/zerocracy/farm/issues/400) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/462136844). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-15 22:06] 0crat commented on #412
The job [#412](https://github.com/zerocracy/farm/issues/412) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/462209646). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-15 22:26] #569 closed

[2018-02-15 22:27] yegor256 commented on #281
@0crat status

[2018-02-15 22:28] 0crat commented on #281
@yegor256 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

cc @yegor256

[2018-02-15 22:29] 0crat commented on #569
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9869](https://www.0crat.com/u/yegor256)

[2018-02-15 22:39] yegor256 commented on #281
@0crat status

[2018-02-15 22:40] 0crat commented on #281
@yegor256 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#281](https://github.com/zerocracy/farm/issues/281) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 4mon
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [1days](http://datum.zerocracy.com/pages/policy.html#8)
  * T

[2018-02-15 22:57] 0crat commented on #413
The job [#413](https://github.com/zerocracy/farm/issues/413) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/462254053). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-15 23:01] 0crat commented on #447
The job [#447](https://github.com/zerocracy/farm/issues/447) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/462300184). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-15 23:06] 0crat commented on #448
The job [#448](https://github.com/zerocracy/farm/issues/448) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/462304285). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-16 07:06] g4s8 opened #570 "0crat doesn't change reputation when applying "10 days rule""
0crat should deduct 30 points if user didn't complete a job within 10 days, as pointed in http://datum.zerocracy.com/pages/policy.html#8

[2018-02-16 07:06] 0crat commented on #570
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-16 07:53] g4s8 commented on #411
@yegor256 @fabriciofx actually, this job can be done only by Telegram bot `@zerocrat_bot` admin - @yegor256

[2018-02-16 07:53] 0crat commented on #411
To cancel the order use `refuse` as in [§6](http://datum.zerocracy.com/pages/policy.html#6)

[2018-02-16 08:08] g4s8 commented on #413
@yegor256 could you please clarify:

you mean Github issue assignee here? If so, what should we do if this user is not a Zerocracy user?

[2018-02-16 08:13] g4s8 commented on #447
@yegor256 maybe we should make this limit dynamic? I.e. depend on max possible jobs:
 - 1 impediment for 3 max jobs
 - 2 impediments for 8 max jobs
 - 4 impediments for 16 max jobs
 - 6 impediments for 24 max jobs

[2018-02-16 08:44] ypshenychka opened #571 "0crat assigned closed job"
Issue https://github.com/yegor256/cactoos/issues/629 was closed without any job done there and requested for QA review, and afterwards 0crat assigned it for some reason.

[2018-02-16 08:45] 0crat commented on #571
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-16 09:03] flslkxtc commented on #571
I've encountered similar issue. Task https://github.com/yegor256/cactoos/issues/641 was assigned to me shortly after author closed it.

[2018-02-16 09:20] yegor256 commented on #561
@proshin-roman please, close the ticket. Thanks.

[2018-02-16 09:24] #561 closed

[2018-02-16 09:26] yegor256 commented on #411
@0crat assign me

[2018-02-16 09:27] 0crat commented on #561
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9899](https://www.0crat.com/u/yegor256)

[2018-02-16 09:28] 0crat commented on #411
@yegor256 The job [#411](https://github.com/zerocracy/farm/issues/411) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/470940856). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.h

[2018-02-16 09:29] 0crat commented on #411
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9894](https://www.0crat.com/u/yegor256)

[2018-02-16 10:46] g4s8 commented on #411
@yegor256 thanks! I can see them. Close #411

пт, 16 февр. 2018 г., 12:30 Yegor Bugayenko <notifications@github.com>:

[2018-02-16 10:52] #411 closed

[2018-02-16 10:54] 0crat commented on #411
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9924](https://www.0crat.com/u/yegor256)

[2018-02-16 12:55] amihaiemil opened #572 "Reputation mechanism should be configurable/project"
Currently, 0crat's is only managing **the project** -- the developers are offered by the platform, the client cannot work with his own team easily since everyone has to go through the sandbox/reputation building projects.

I, as a client, may want to work with my own team. First step is very easy: I ask someone to invite all my team. But then here comes the bottleneck: they can't work on my projec

[2018-02-16 12:55] 0crat commented on #572
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-16 13:37] amihaiemil opened #573 "The project should invite the architect, not the other way around"
Currently, the client submits a [RFP](https://www.0crat.com/rfp) and waits for the best architect to respond.

I think the client should interview them instead. ARCH is the most powerful role in a project, so the person has to really have the knowledge and experience for it. On the other hand, the reputation points are not a good metric for that: 2048 reputation is achievable in many ways, maybe I

[2018-02-16 13:37] 0crat commented on #573
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-16 15:21] 0crat commented on #571
The job [#571](https://github.com/zerocracy/farm/issues/571) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/471542634). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-16 15:21] 0crat commented on #571
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9919](https://www.0crat.com/u/yegor256)

[2018-02-16 15:38] yegor256 commented on #571
@ypshenychka This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-02-16 15:38] #571 closed

[2018-02-16 15:38] 0crat commented on #571
@[ please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30)

[2018-02-16 15:39] 0crat commented on #573
Job [#573](https://github.com/zerocracy/farm/issues/573) is now in scope, role is `DEV`

[2018-02-16 15:41] 0crat commented on #573
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+645](https://www.0crat.com/u/amihaiemil)

[2018-02-16 15:45] yegor256 commented on #573
@amihaiemil sounds reasonable. How about we ask the client to provide the skills he/she is looking for. Then, we match the RFP only with the architects who have those skills (see https://github.com/zerocracy/farm/issues/492). WDYT?

[2018-02-16 15:54] yegor256 commented on #571
@0crat refuse

[2018-02-16 15:54] 0crat commented on #571
@yegor256 The user @yegor256[/z](https://www.0crat.com/u/yegor256) resigned from [#571](https://github.com/zerocracy/farm/issues/571), please stop working

[2018-02-16 15:55] yegor256 commented on #571
@0crat out

[2018-02-16 15:55] 0crat commented on #571
Tasks refusal is discouraged, see [§6](http://datum.zerocracy.com/pages/policy.html#6): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9904](https://www.0crat.com/u/yegor256)

[2018-02-16 16:00] 0crat commented on #571
@yegor256 The job [#571](https://github.com/zerocracy/farm/issues/571) is now out of scope

[2018-02-16 16:00] 0crat commented on #571
@yegor256 Job [#571](https://github.com/zerocracy/farm/issues/571) was not in scope

[2018-02-16 16:10] 0crat commented on #564
Job [#564](https://github.com/zerocracy/farm/issues/564) is now in scope, role is `DEV`

[2018-02-16 16:13] 0crat commented on #564
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4060](https://www.0crat.com/u/g4s8)

[2018-02-16 16:13] yegor256 commented on #564
@g4s8 it's a mistery... The `Order was given`, for some reason, didn't create the `Notify user` claim:
<img width="865" alt="screen shot 2018-02-16 at 7 13 12 pm" src="https://user-images.githubusercontent.com/526301/36317202-8724b112-134d-11e8-9666-6601773d682e.png">

[2018-02-16 16:14] yegor256 commented on #564
@g4s8 the only thing I can blame is the re-deployment. We killed the server right when it wanted to notify you and the claim got lost.

[2018-02-16 16:15] yegor256 commented on #447
@g4s8 yes, I agree. Let's do it the way you suggested.

[2018-02-16 16:16] yegor256 commented on #447
@g4s8 let's make it 20% of the agenda limit.

[2018-02-16 16:17] yegor256 commented on #413
@g4s8 yes, I meant the GitHub assignee. If the user is not known to us, we just ignore it.

[2018-02-16 16:20] amihaiemil commented on #572
@yegor256 I see. Well, even that -256 -- I understand if they reach that point they are kicked out. Maybe I don't want them to be kicked out? I may not care about the reputation, maybe simply not paying them cash is enough of a "punishment" for me. Again, this is the idea that it's my team, they don't necessarily work on other projects on 0crat.

[2018-02-16 16:22] yegor256 commented on #562
@amihaiemil it seems reasonable but too complicated. I would put it on hold for now.

[2018-02-16 16:23] amihaiemil commented on #573
@yegor256 yes, sounds ok. But then the client interviews them, he/she selects the architect and doesn't have to rely only on the reputation and/or those skills. Again, the fact that I contributed to 100 Java repos and 50 Kotlin ones does not mean that I have the skills to properly architect a software from all points of view.

[2018-02-16 16:25] amihaiemil commented on #573
@yegor256 for instance, myself, I am confident in my OOP design skills + testing, I could architect a library or a small/medium-size application. But I kind of suck when it comes to databases. I can work on a DB access layer, but not sure I could design one to be fast, scalable etc etc. So someone may see my reputation and skills and figure I can deisgn some mission critical software for them -- w

[2018-02-16 16:27] yegor256 opened #574 "remove the expired RFP"
According to http://datum.zerocracy.com/pages/policy.html#41 an expired RFP has to disappear in 32 days after creation. It's not implemented now. Let's implement in a new `remove_expired_rfps.groovy` stakeholder.

[2018-02-16 16:28] 0crat commented on #574
Job [#574](https://github.com/zerocracy/farm/issues/574) is now in scope, role is `DEV`

[2018-02-16 16:29] amihaiemil commented on #562
@yegor256 I see; maybe it could be done on a next version :)

[2018-02-16 16:29] 0crat commented on #574
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9919](https://www.0crat.com/u/yegor256)

[2018-02-16 16:30] yegor256 opened #575 "RnkGithubMilestone"
Let's create a new "rank" for `elect_performer.groovy`, which will pay attention to what GitHub milestones each job is linked to. The milestones have their "due dates". The job with an earlier due date has to be ranked higher, in order to get a performer earlier.

No "due date" means the lowest priority.

[2018-02-16 16:30] yegor256 commented on #575
@0crat assign @g4s8

[2018-02-16 16:32] yegor256 opened #576 "RnkGithubBugs"
Let's create a new "rank" for `elect_performer.groovy`, which will pay attention to jobs that are in GitHub and have `bug` labels attached to them. If the label is there, the job has to have higher rank than other jobs. We should fix bugs ealier than implementing new features.

[2018-02-16 16:33] 0crat commented on #575
@yegor256 The job [#575](https://github.com/zerocracy/farm/issues/575) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/471631538). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-16 16:34] 0crat commented on #576
Job [#576](https://github.com/zerocracy/farm/issues/576) is now in scope, role is `DEV`

[2018-02-16 16:35] 0crat commented on #575
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9929](https://www.0crat.com/u/yegor256)

[2018-02-16 16:35] 0crat commented on #575
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9929](https://www.0crat.com/u/yegor256)

[2018-02-16 16:36] 0crat commented on #576
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9944](https://www.0crat.com/u/yegor256)

[2018-02-16 16:47] yegor256 commented on #573
@amihaiemil you will discuss, when you "buy" the RFP. So, first of all you will assess whether the project is doable for you. Then, you will pay for the RFP and email the client. Then, you will discuss with the client. They will check your resume, etc. Then, they will trust you the project. There have to be too many mistakes made, by all parties, in order for you (being "just a tester with a high

[2018-02-16 16:51] amihaiemil commented on #573
@yegor256 or charge the fee only after the project is settled, with an architect?

[2018-02-16 16:56] 0crat commented on #570
The job [#570](https://github.com/zerocracy/farm/issues/570) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/471654100). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-16 16:57] 0crat commented on #570
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4075](https://www.0crat.com/u/g4s8)

[2018-02-16 16:58] 0crat commented on #570
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9939](https://www.0crat.com/u/yegor256)

[2018-02-16 17:18] yegor256 commented on #570
@g4s8  This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-02-16 17:18] #570 closed

[2018-02-16 17:21] yegor256 commented on #573
@amihaiemil we don't know when it's "settled," maybe never. I think we should just charge smaller amount and that's it.

[2018-02-16 17:21] #573 closed

[2018-02-16 17:21] 0crat commented on #570
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9969](https://www.0crat.com/u/yegor256)

[2018-02-16 17:21] 0crat commented on #573
The job [#573](https://github.com/zerocracy/farm/issues/573) is now out of scope

[2018-02-16 17:22] yegor256 commented on #573
@amihaiemil fixed: https://github.com/zerocracy/datum/commit/f16d6f704096c1c6a07ccf23279038f5838c009c

[2018-02-16 18:02] g4s8 commented on #492
@yegor256 PRs zerocracy/datum#265 and #513 with todo were merged, can we close?

[2018-02-16 18:10] g4s8 commented on #382
@yegor256 https://github.com/zerocracy/datum/pull/268#issuecomment-366304555

I've closed these PRs: zerocracy/datum#268 and #531

[2018-02-16 18:29] g4s8 commented on #383
@yegor256 I think this job should be closed for same reason https://github.com/zerocracy/datum/pull/268#issuecomment-366304555

[2018-02-16 19:40] yegor256 commented on #492
@g4s8 thanks!

[2018-02-16 19:40] #492 closed

[2018-02-16 19:40] yegor256 commented on #382
@g4s8 thanks!

[2018-02-16 19:40] #382 closed

[2018-02-16 19:42] yegor256 commented on #382
@g4s8 I changed my mind, we don't need this feature. It would block our clients from inviting their own people the projects, see: https://github.com/zerocracy/farm/issues/572#issuecomment-366276443

[2018-02-16 19:43] yegor256 commented on #383
@g4s8 right, thanks

[2018-02-16 19:43] #383 closed

[2018-02-16 19:44] 0crat commented on #492
Order was successfully finished: +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4105](https://www.0crat.com/u/g4s8)

[2018-02-16 19:47] 0crat commented on #382
Order was successfully finished: +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4135](https://www.0crat.com/u/g4s8)

[2018-02-16 19:48] yegor256 commented on #572
@amihaiemil if you don't care about reputation and just want to pay them -- go to Upwork :) If you want them to live and work in Zerocracy, you have to follow **our** rules. That's the only way we can guarantee you something.

[2018-02-16 19:49] 0crat commented on #383
Order was successfully finished: +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4165](https://www.0crat.com/u/g4s8)

[2018-02-16 19:51] 0crat commented on #449
The job [#449](https://github.com/zerocracy/farm/issues/449) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/471954533). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-16 19:52] yegor256 opened #579 "/spam"
Let's create a new form to "spam" all users of the system, through their Telegram chats.

[2018-02-16 19:55] 0crat commented on #450
The job [#450](https://github.com/zerocracy/farm/issues/450) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/471958631). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-16 19:58] 0crat commented on #465
The job [#465](https://github.com/zerocracy/farm/issues/465) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/471961714). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-16 20:03] 0crat commented on #467
The job [#467](https://github.com/zerocracy/farm/issues/467) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/472006864). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-16 20:06] g4s8 commented on #376
@yegor256 PR #455 was merged, can we close?

[2018-02-16 20:06] 0crat commented on #376
To cancel the order use `refuse` as in [§6](http://datum.zerocracy.com/pages/policy.html#6)

[2018-02-16 20:11] 0crat commented on #474
The job [#474](https://github.com/zerocracy/farm/issues/474) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/472010036). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-16 20:14] ypshenychka opened #580 "0crat doesn't understand quality verdict"
As described [here](http://datum.zerocracy.com/pages/policy.html#30) Zerocrat should understand verdicts like "quality is good", "quality is acceptable" and "quality is bad".

But looks like there is some [problem](https://github.com/yegor256/jpeek/issues/191#issuecomment-366340078).

[2018-02-16 20:14] 0crat commented on #580
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-16 20:14] 0crat commented on #476
The job [#476](https://github.com/zerocracy/farm/issues/476) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/472013121). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-16 20:17] 0crat commented on #222
The job [#222](https://github.com/zerocracy/farm/issues/222) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/472017250). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-16 20:19] #579 closed

[2018-02-16 20:20] 0crat commented on #477
The job [#477](https://github.com/zerocracy/farm/issues/477) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/472019323). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-16 20:23] ypshenychka commented on #580
And again this [issue](https://github.com/yegor256/cactoos/pull/572#issuecomment-366347049).

[2018-02-16 20:24] 0crat commented on #478
The job [#478](https://github.com/zerocracy/farm/issues/478) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/472024452). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-16 20:33] g4s8 opened #581 "Impediments are not removed when job completed"
Impediments will be kept in `xml` file forever at moment. I think it should be removed when job completed or cancelled. (related to #447)

[2018-02-16 20:33] 0crat commented on #581
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-16 20:34] 0crat commented on #487
The job [#487](https://github.com/zerocracy/farm/issues/487) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/472033711). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-16 20:35] 0crat commented on #580
Job [#580](https://github.com/zerocracy/farm/issues/580) is now in scope, role is `DEV`

[2018-02-16 20:36] 0crat commented on #580
The job [#580](https://github.com/zerocracy/farm/issues/580) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/472035761). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-16 20:37] 0crat commented on #580
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10009](https://www.0crat.com/u/yegor256)

[2018-02-16 20:37] yegor256 commented on #580
@ypshenychka you are right, there is a problem, fixing it now...

[2018-02-16 20:44] yegor256 commented on #580
@ypshenychka I believe it's fixed, but the right command is `quality bad` or `quality acceptable` or `quality bad`. Skip the `is`.

[2018-02-16 20:49] yegor256 commented on #581
@g4s8 it happens on the level of XML artifacts, we don't need any Groovy code for that.

[2018-02-16 22:24] 0crat commented on #377
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-17 00:33] yegor256 commented on #376
@g4s8 thanks!

[2018-02-17 00:33] #376 closed

[2018-02-17 00:37] 0crat commented on #376
Order was successfully finished: +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4195](https://www.0crat.com/u/g4s8)

[2018-02-17 06:25] g4s8 commented on #581
@yegor256 ok, thanks. I submited an issue about auto: zerocracy/datum#283

[2018-02-17 06:28] #581 closed

[2018-02-17 06:58] amihaiemil commented on #572
@yegor256 I would just like 0crat to be more flexible. I'm talking about the XDSD/PDD methodology alone, which can be practiced without the competition and punishmend mechanisms, if the client already knows their team.

I think there will be both kind of clients -- the ones who want to rely 100% on all the platform and the ones who would like to use it for XDSD/PDD alone, with the scope of not hav

[2018-02-17 07:01] #572 closed

[2018-02-17 07:10] ypshenychka commented on #580
@yegor256 Works now. Thank you. Should I close the issue?

[2018-02-17 09:42] neonailol commented on #73
@0crat waiting

[2018-02-17 09:43] 0crat commented on #73
@neonailol The impediment for [#73](https://github.com/zerocracy/farm/issues/73) was registered successfully by @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-02-17 09:50] neonailol commented on #89
@0crat waiting

[2018-02-17 09:50] neonailol commented on #111
@0crat waiting

[2018-02-17 09:50] neonailol commented on #186
@0crat waiting

[2018-02-17 09:50] neonailol commented on #185
@0crat waiting

[2018-02-17 09:51] neonailol commented on #194
@0crat waiting

[2018-02-17 09:51] neonailol commented on #220
@0crat waiting

[2018-02-17 09:52] 0crat commented on #111
@neonailol The impediment for [#111](https://github.com/zerocracy/farm/issues/111) was registered successfully by @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-02-17 09:53] 0crat commented on #185
To cancel the order use `refuse` as in [§6](http://datum.zerocracy.com/pages/policy.html#6)

[2018-02-17 09:53] 0crat commented on #89
@neonailol The impediment for [#89](https://github.com/zerocracy/farm/issues/89) was registered successfully by @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-02-17 09:53] 0crat commented on #186
@neonailol The impediment for [#186](https://github.com/zerocracy/farm/issues/186) was registered successfully by @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-02-17 09:53] 0crat commented on #194
To cancel the order use `refuse` as in [§6](http://datum.zerocracy.com/pages/policy.html#6)

[2018-02-17 09:53] 0crat commented on #185
@neonailol The impediment for [#185](https://github.com/zerocracy/farm/issues/185) was registered successfully by @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-02-17 09:53] 0crat commented on #194
@neonailol The impediment for [#194](https://github.com/zerocracy/farm/issues/194) was registered successfully by @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-02-17 09:59] g4s8 commented on #467
@yegor256 looks like a duplicate of #384

[2018-02-17 10:42] neonailol opened #584 "Can't get contributing guidelines"
Link in readme is broken
https://github.com/zerocracy/farm#how-to-contribute
also it would be helpful if there will be gude on setting up IDEA with this project

[2018-02-17 10:42] 0crat commented on #584
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-17 10:57] g4s8 commented on #449
@yegor256 what should we do if someone already has more than 16 students?

[2018-02-17 12:18] g4s8 commented on #450
@yegor256 what should happened with a user? Just remove his mentor, but keep in `people.xml`?

[2018-02-17 14:25] 0crat commented on #520
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-17 14:38] 0crat commented on #539
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-17 14:46] g4s8 commented on #539
@0crat waiting #567

[2018-02-17 14:46] g4s8 commented on #520
@0crat waiting #551

[2018-02-17 14:46] 0crat commented on #539
@g4s8 The impediment for [#539](https://github.com/zerocracy/farm/issues/539) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-17 14:47] 0crat commented on #520
@g4s8 The impediment for [#520](https://github.com/zerocracy/farm/issues/520) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-17 16:36] yegor256 commented on #580
@ypshenychka yes, please close the ticket

[2018-02-17 16:40] yegor256 commented on #449
@g4s8 nothing. Just reject new `invite` requests.

[2018-02-17 16:54] t-izbassar opened #587 "0crat should release task from agenda after issue closed"
Actual behavior: DEV finishing task, issue reporter closed it. Now, he should wait for QA verdict. In meantime, task is done, result is delivered and merged. DEV is ready to take other task, but if he's agenda is full - he's time is wasted on waiting. QA verdict time will may take 10 days or even more, if 1 QA will be resigned. All this time is wasted.

Expected: DEV finishing task, issue reporter

[2018-02-17 16:54] 0crat commented on #587
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-17 19:33] g4s8 commented on #564
@yegor256 what do you think about using Amazon SQS or maybe ApacheMQ for claims delivery? I think they can guaranty message delivery even on app restart/redeploy and are able to work with multiple server intances in the future.

[2018-02-17 20:32] rexim opened #588 "0crat assigned closed job again"
As per https://github.com/zerocracy/farm/issues/571#issuecomment-366269644 I'm filing another issue. See https://github.com/yegor256/cactoos/issues/629#issuecomment-366422935

[2018-02-17 20:32] 0crat commented on #588
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-18 11:46] neonailol opened #589 "Can't run tests locally on windows os"
When running `mvn test`, i get failures regarding that i don't have `mongod` file in path
i suggest using embedded mongo for running tests

second failure is
[code]
and i can't understand what should i do

[2018-02-18 11:46] 0crat commented on #589
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-18 16:22] ypshenychka opened #592 "Payments not received for QA review"
I've already received 5 awards (15 point for each ticket), but haven't received any payments on PayPal account. My email address is juliakarate@yahoo.com.

[2018-02-18 16:22] 0crat commented on #592
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-18 20:04] #580 closed

[2018-02-18 20:06] 0crat commented on #580
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10084](https://www.0crat.com/u/yegor256)

[2018-02-18 21:10] ypshenychka commented on #580
@yegor256 Shouldn't 0crat give points for reporting issues?

[2018-02-19 06:47] yegor256 commented on #520
@g4s8 let's make sure the results of this testing is also provided at the form: https://www.16personalities.com/free-personality-test

[2018-02-19 09:36] ypshenychka commented on #592
@yegor256 It's pretty urgent as far as a lot of tickets are pending QA review.

[2018-02-19 09:59] yegor256 commented on #592
@ypshenychka looking into it now

[2018-02-19 10:40] amihaiemil commented on #587
@t-izbassar This issue also applies for PRs. CR does their job, the PR is merged and then a QA is assigned.

Furthermore (and I think it may apply to DEV as well, on their assigned task), 0crat continues to count the 10 days rule for the assignee. For instance [here](https://github.com/yegor256/cactoos/pull/628#issuecomment-366454358) -- 0crat assigned the QA, but later warned me that 5 days alrea

[2018-02-19 10:44] amihaiemil commented on #592
@yegor256 Have a look here: https://github.com/zerocracy/farm/issues/587 . Given the behaviour explained there, I think it seems to be a matter of assignment.

[2018-02-19 10:47] amihaiemil commented on #592
@yegor256 and I also did not get paid [here](https://github.com/yegor256/cactoos/pull/649#issuecomment-366422817)

[2018-02-19 10:59] yegor256 commented on #592
@ypshenychka try now, should work, I believe

[2018-02-19 11:35] t-izbassar opened #594 "0crat is silent when QA verdict is bad"
Actual behavior: there was a verdict in [this issue](https://github.com/yegor256/takes/issues/744). After that, job is out of my agenda with no points and monetary award received. I can only knew about it if I look at job status, check my agenda and awards page. That's too tedious.

Expected behavior: after `quality bad` verdict there should be a message telling something like that:

[2018-02-19 11:35] 0crat commented on #594
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 11:36] ypshenychka commented on #592
@yegor256 Tried in https://github.com/yegor256/cactoos/issues/608, but haven't received any payment yet.

[2018-02-19 11:42] t-izbassar commented on #587
@amihaiemil I don't think that 10 days rule should change. The only thing that I'm care in this issue is that I can't tackle next task, while waiting for QA review. The fact that I cannot do something in that time anyway is what matters - I can't influence QA review anyway so why my time should be wasted? I already delivered the result.

Imagine you have all of your agenda of such closed tasks onl

[2018-02-19 12:05] 0crat commented on #594
The job [#594](https://github.com/zerocracy/farm/issues/594) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/501201637). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-19 12:07] 0crat commented on #594
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+300](https://www.0crat.com/u/t-izbassar)

[2018-02-19 12:07] 0crat commented on #594
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10079](https://www.0crat.com/u/yegor256)

[2018-02-19 12:12] yegor256 commented on #594
@t-izbassar thanks, I belive it's fixed

[2018-02-19 12:18] 0crat commented on #589
Job [#589](https://github.com/zerocracy/farm/issues/589) is now in scope, role is `DEV`

[2018-02-19 12:20] 0crat commented on #589
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol), total is [+570](https://www.0crat.com/u/neonailol)

[2018-02-19 12:25] yegor256 commented on #587
@t-izbassar that's a good poing

[2018-02-19 12:27] 0crat commented on #587
The job [#587](https://github.com/zerocracy/farm/issues/587) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/501225493). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-19 12:28] 0crat commented on #587
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+315](https://www.0crat.com/u/t-izbassar)

[2018-02-19 12:29] yegor256 commented on #587
@t-izbassar @amihaiemil how about we make a rule that if a QA review is not completed in 48 hours, we consider quality as "acceptable" and move on?

[2018-02-19 12:29] 0crat commented on #587
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10074](https://www.0crat.com/u/yegor256)

[2018-02-19 12:32] amihaiemil commented on #587
@yegor256 I don't think it's correct to make that assumption. On the other hand, I think the 10 day count should stop the moment a QA is assigned -- the DEV and CR have both completed their jobs, why should they be taxed for QA being late? What about the QA, aren't they taxed?

[2018-02-19 12:37] yegor256 commented on #587
@t-izbassar @amihaiemil it seems we have to finalize everything and put a new record into a special `inspections.xml` XML file. When the QA is completed, we take the information from the file and make all payments.

[2018-02-19 12:39] amihaiemil commented on #587
@t-izbassar The first statement and the last paragraph contradict each other. That's exactly what I'm saying, the 10 days count should stop the moment a QA is assigned. because the DEV or CR cannot control the QA and make them move fast. Why should they possibly lose the delivered task if the QA takse a lot of time and the 10 days expire?

[2018-02-19 12:50] #594 closed

[2018-02-19 12:53] 0crat commented on #594
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10119](https://www.0crat.com/u/yegor256)

[2018-02-19 12:59] yegor256 commented on #564
@g4s8 they won't help anyhow, since the problem is our Java code. We kill the server when the claim is still in memory. We don't have a chance to save it to the file, and we won't be able to send it to SQS. So, we have to fix the deployment problem first: https://github.com/zerocracy/farm/issues/297

[2018-02-19 13:10] t-izbassar commented on #587
@yegor256 @amihaiemil sorry, but this issue **is not** about punishments, 10 days rule, QA being late, payments and other staff.

This issue is about the fact, that DEV can take new task after the issue is closed (meaning that result is delivered). There are 2 solutions to that:
* release task from agenda (I feel like this is wrong, as job is still in scope and should be visible)
* mark task as `o

[2018-02-19 13:12] t-izbassar opened #596 "DEV can lose all jobs due to QA being late"
As i pointed out [here](https://github.com/zerocracy/farm/issues/587#issuecomment-366665274)

The issue with current behavior of 0crat:
If I as a DEV finished the task, it is merged and issue is closed - I still have 10 days rule applied for me, as job is still in scope waiting for QA to finish his review. That can lead to the point, when all of the jobs are just waiting for QA review even though

[2018-02-19 13:13] 0crat commented on #596
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 13:16] t-izbassar commented on #587
I created #596 to address issue with possibility of loosing all the jobs.

[2018-02-19 13:19] yegor256 commented on #587
@t-izbassar it goes all together. We either remove the job from WBS (scope) before the QA verdict or after. Depending on that everything else will happen either faster or slower.

[2018-02-19 13:23] 0crat commented on #554
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-19 13:23] yegor256 commented on #592
@ypshenychka can you please try again?

[2018-02-19 13:24] yegor256 commented on #588
@rexim it's by design, the ticket was still in scope. Fixed in the ticket.

[2018-02-19 13:24] #588 closed

[2018-02-19 13:25] amihaiemil commented on #587
@yegor256 What does it have to do with the scope of the job? The job is always in scope no matter to whom it is assigned. It's a matter of assignments only, right? 0crat should count and pay the assignee only + remember past, payment-pending assignees, like the CR.

[2018-02-19 13:26] t-izbassar commented on #587
@yegor256 I feel like if we want to work on greed philosophy we should just punish QA, REV and ARC for the late responses. That should be enough.

[2018-02-19 13:26] yegor256 commented on #580
@ypshenychka yes, only if you are a member of the project. We are going to change this soon: https://github.com/zerocracy/datum/issues/248

[2018-02-19 13:49] yegor256 commented on #587
@amihaiemil here is the logic: https://github.com/zerocracy/datum/commit/bd891e025852fbe7a7063e872f14807f431a502a First, we close order, then we remove job from WBS, then we pay.

[2018-02-19 13:59] yegor256 commented on #467
@0crat refuse

[2018-02-19 13:59] ypshenychka commented on #592
@yegor256 reviewed issue https://github.com/yegor256/jpeek/issues/134. No payment as well. I can't do reviews for free :)

[2018-02-19 13:59] yegor256 commented on #467
@g4s8 right, thanks

[2018-02-19 13:59] #467 closed

[2018-02-19 14:00] 0crat commented on #467
@yegor256 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#467](https://github.com/zerocracy/farm/issues/467), please stop working

[2018-02-19 14:01] 0crat commented on #467
The job [#467](https://github.com/zerocracy/farm/issues/467) is now out of scope

[2018-02-19 14:02] yegor256 commented on #592
@ypshenychka I'm sorry about this situation, we're just starting to use this new QA feature. When it's fixed, everything will work smoothly)

[2018-02-19 14:04] nick318 opened #597 "Exception due processing task by 0crat"
0crat has exception by processing task:
Steps:
1. ARC added label 'Bug'
2. 0crat said:
[code]
here: https://github.com/yegor256/cactoos/issues/670#issuecomment-366700745
3. 0crat added label scope

[2018-02-19 14:04] 0crat commented on #597
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 14:06] ypshenychka commented on #592
@yegor256 Thank you. Please keep me posted with progress. Currently I have to postpone any pending QA reviews.

[2018-02-19 14:32] t-izbassar commented on #596
This is duplicate for #587 .

[2018-02-19 14:32] #596 closed

[2018-02-19 15:14] llorllale commented on #490
@yegor256 I did not receive payment (nor points) for [this](https://github.com/yegor256/jpeek/issues/90) job in jpeek

[2018-02-19 15:27] llorllale commented on #490
@yegor256 I also did not receive payment nor points for [this](https://github.com/yegor256/jpeek/issues/120) other job

[2018-02-19 15:38] llorllale commented on #587
This [job](https://github.com/yegor256/jpeek/issues/120) is still on my agenda even after having being completed 2 days ago.

[2018-02-19 15:50] yegor256 commented on #592
@ypshenychka the problem was found, it's related to your PayPal account, I emailed you. Let's see what we can do. In the meantime we will make it possible to receive payments in Bitcoin.

[2018-02-19 15:52] yegor256 opened #598 "Bitcoin and Etherium payments"
Let's make it possible to pay in Bitcoin or Etherium.

[2018-02-19 15:56] 0crat commented on #598
The job [#598](https://github.com/zerocracy/farm/issues/598) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/501554080). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-19 15:57] 0crat commented on #598
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10114](https://www.0crat.com/u/yegor256)

[2018-02-19 15:58] 0crat commented on #598
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10114](https://www.0crat.com/u/yegor256)

[2018-02-19 15:58] 0crat commented on #598
It is strongly discouraged to assign jobs to their creators, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10114](https://www.0crat.com/u/yegor256)

[2018-02-19 17:34] 0pdd opened #599 "_after.groovy:28-33: The ticket should be removed from..."
The puzzle `539-4e7a4000` from #539 has to be resolved:

https://github.com/zerocracy/farm/blob/47767e3480885278ad9cac2452414a75afc11aa4/src/test/resources/com/zerocracy/bundles/close_the_job/_after.groovy#L28-L33

The puzzle was created by g4s8 on 15-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" wh

[2018-02-19 17:34] 0crat commented on #599
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 17:37] 0crat commented on #599
Job [#599](https://github.com/zerocracy/farm/issues/599) is now in scope, role is `DEV`

[2018-02-19 17:46] g4s8 commented on #539
@rexim PR with unit-test #567 was merged, also new task to fix it #599 was submitted, can we close?

[2018-02-19 17:51] rexim commented on #539
@g4s8 sure!

[2018-02-19 17:51] #539 closed

[2018-02-19 17:55] 0crat commented on #539
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4225](https://www.0crat.com/u/g4s8)

[2018-02-19 17:57] g4s8 opened #600 "Props and PropsFarm usage is not documented"
It's not clear where `Props` values come from, how to use it in unit-tests and how to setup some properties for individual tests.

[2018-02-19 17:57] 0crat commented on #600
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 17:59] 0crat commented on #486
The job [#486](https://github.com/zerocracy/farm/issues/486) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/501761014). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-19 18:24] yegor256 commented on #597
@nick318 dup of https://github.com/zerocracy/farm/issues/511

[2018-02-19 18:24] #597 closed

[2018-02-19 18:39] 0crat commented on #600
Job [#600](https://github.com/zerocracy/farm/issues/600) is now in scope, role is `DEV`

[2018-02-19 18:43] 0crat commented on #600
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4240](https://www.0crat.com/u/g4s8)

[2018-02-19 18:47] yegor256 commented on #450
@g4s8 set the mentor to `0crat`

[2018-02-19 18:53] yegor256 commented on #584
@neonailol fixed in 229e4456

[2018-02-19 18:53] #584 closed

[2018-02-19 19:20] llorllale commented on #490
@yegor256 sounds like a clarification is in order for the policy. The "definition of done" defined as when "the ticket is closed" is commonly understood to be when the GitHub issue is closed, not when the job is out of scope, etc.

[2018-02-19 19:44] g4s8 commented on #413
@yegor256 PR #578 was merged, can we close?

[2018-02-19 19:54] g4s8 opened #601 "Travis builds often fails"
Travis build can fail with this stacktrace:
[code]

[2018-02-19 19:54] 0crat commented on #601
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 20:25] g4s8 commented on #449
@yegor256 PR #586 was merged, can we close?

[2018-02-19 20:28] g4s8 commented on #601
Rultor can fail too: https://github.com/zerocracy/farm/pull/591#issuecomment-366788406

[2018-02-19 20:45] 0pdd opened #602 "TkJoinTest.java:38-40: TkJoin does not handle POST..."
The puzzle `520-a0cac38b` from #520 has to be resolved:

https://github.com/zerocracy/farm/blob/87ce5b6d8281c396eb5a8c2d488b73f5fc3448b2/src/test/java/com/zerocracy/tk/TkJoinTest.java#L38-L40

The puzzle was created by g4s8 on 12-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixe

[2018-02-19 20:45] 0crat commented on #602
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 20:47] 0crat commented on #602
Job [#602](https://github.com/zerocracy/farm/issues/602) is now in scope, role is `DEV`

[2018-02-19 20:59] ypshenychka opened #603 "0crat unrecoverable failure after QA review"
As per https://github.com/yegor256/jpeek/issues/162#issuecomment-366797157:

sun.reflect.GeneratedMethodAccessor236[-1] java.lang.reflect.InvocationTargetException: null
com.zerocracy.pmo.banks.Paypal[122] java.io.IOException: Failed to pay $12.50 to yegor@tpc2.com with memo "Payment for gh:yegor256/jpeek#162 (30 minutes): Order was finished, quality was "acceptable""
com.zerocracy.pmo.banks.Paypa

[2018-02-19 20:59] 0crat commented on #603
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 21:08] g4s8 commented on #520
@amihaiemil please, look at https://www.0crat.com/join
can we close this?

[2018-02-19 21:46] ypshenychka commented on #592
@yegor256 Thank you. Looks like everything's fine now. Closing the issue.

[2018-02-19 21:46] #592 closed

[2018-02-19 22:24] 0crat commented on #377
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 06:42] 0crat commented on #601
Job [#601](https://github.com/zerocracy/farm/issues/601) is now in scope, role is `DEV`

[2018-02-20 06:45] 0crat commented on #601
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4270](https://www.0crat.com/u/g4s8)

[2018-02-20 08:02] ypshenychka commented on #603
Also [here](https://github.com/yegor256/jpeek/issues/90#issuecomment-366888229) a failure

[2018-02-20 11:09] amihaiemil commented on #520
@g4s8 Yes, looks ok, thanks :)

[2018-02-20 11:09] #520 closed

[2018-02-20 11:12] 0crat commented on #520
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4300](https://www.0crat.com/u/g4s8)

[2018-02-20 11:45] llorllale commented on #603
@yegor256 missed payment after QA review on [this](https://github.com/yegor256/jpeek/issues/90) and received this error via private chat from 0crat:

[2018-02-20 12:41] ashtonhogan opened #604 "personality type format is wrong"
1. Go to: https://www.0crat.com/join
2. Enter all the details
3. Enter INTJ-A as personality type as recommended
4. Try click Submit

-> You get a validation error stating that the personality type format is wrong

[2018-02-20 12:41] 0crat commented on #604
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 12:46] ashtonhogan opened #605 "submit an rfp makes negotiations more difficult"
The client doesn't really want to wait to know if we're going to do their work or not WHILE we're asking them for work, it doesn't make sense... I think there's potentially a level of verbal interaction required at the negotiations phase, no?

[2018-02-20 12:46] 0crat commented on #605
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 13:07] yegor256 commented on #603
@ypshenychka thanks for reporting, it's a temporary problem, will disappear soon.

[2018-02-20 13:07] yegor256 commented on #603
@llorllale it's better so submit a different ticket, these two problems are not related to each other

[2018-02-20 13:07] #603 closed

[2018-02-20 13:24] yegor256 commented on #413
@g4s8 thanks

[2018-02-20 13:24] #413 closed

[2018-02-20 13:24] llorllale opened #606 "Failed payment for DEV after 'quality acceptable'"
Missed payment after QA review on [this](https://github.com/yegor256/jpeek/issues/90) and received this error via private chat from 0crat:

[2018-02-20 13:25] 0crat commented on #606
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 13:30] 0crat commented on #413
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4360](https://www.0crat.com/u/g4s8)

[2018-02-20 13:32] 0crat commented on #494
The job [#494](https://github.com/zerocracy/farm/issues/494) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/511331427). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-20 14:26] amihaiemil opened #607 "Implementation details should not be mentioned in the policy"
At [vesting](http://datum.zerocracy.com/pages/policy.html#37) the Policy urges the PO to "just modify the rates in ``vesting.xml``".

How exactly is that? Should there be a ``vesting.xml`` file in the project's repo? Or is there a UI for this (in which case the Policy should point to that)?

In any case, it's unprofessional and not user friendly to make users modify XML files. Especially since the

[2018-02-20 14:26] 0crat commented on #607
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 14:31] g4s8 opened #608 "Unit tests always hangs"
After merging master with [embedded mongodb](https://github.com/zerocracy/farm/pull/590) version, unit tests started to hang on my laptop after 3-5 passed tests, so I'm not able to run unit-tests at all. But as I can see Travis can run all tests successfully. Looks like it includes some platform-depended binaries.
4b720f0c0e44c712973aa045ebaa971a4af8997b - hangs on this commit
I tried to build on

[2018-02-20 14:31] 0crat commented on #608
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 14:52] yegor256 commented on #606
@llorllale that's a weird bug. We received "payment source is not available from PayPal" but then all other transactions just go forward without problems. We are planning to switch to [mass payments](https://www.paypal.com/us/webapps/mpp/mass-payout-payments) soon. Hopefully, that will help.

[2018-02-20 14:53] 0crat commented on #606
Job [#606](https://github.com/zerocracy/farm/issues/606) is now in scope, role is `DEV`

[2018-02-20 14:55] yegor256 commented on #449
@g4s8 thanks!

[2018-02-20 14:55] #449 closed

[2018-02-20 14:55] yegor256 commented on #608
@0crat assign @neonailol

[2018-02-20 15:02] 0crat commented on #608
@yegor256 The job [#608](https://github.com/zerocracy/farm/issues/608) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/511456005). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy

[2018-02-20 15:02] yegor256 commented on #605
@ashtonhogan what exactly are you suggesting? I didn't get the idea.

[2018-02-20 15:02] 0crat commented on #608
@yegor256 Job `gh:zerocracy/farm#608` already assigned to @neonailol, can't assign to @neonailol

[2018-02-20 15:05] 0crat commented on #608
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4375](https://www.0crat.com/u/g4s8)

[2018-02-20 15:05] 0crat commented on #608
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10354](https://www.0crat.com/u/yegor256)

[2018-02-20 15:06] 0crat commented on #608
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10354](https://www.0crat.com/u/yegor256)

[2018-02-20 15:07] llorllale commented on #606
@yegor256 does the change to mass payouts mean that zerocracy will handle payments via batch jobs?

[2018-02-20 15:07] yegor256 commented on #604
@ashtonhogan fixed already, thanks!

[2018-02-20 15:07] #604 closed

[2018-02-20 15:10] yegor256 commented on #606
@llorllale no, we'll pay for each job, as before. It's just a new payment API of PayPal. The one we are using now ([Adaptive Payments](https://developer.paypal.com/docs/classic/adaptive-payments/integration-guide/APIntro/)) is deprecated. Maybe that's why it fails sporadically.

[2018-02-20 15:11] driver733 commented on #606
@yegor256 I have faced the same problem today.
![img_3939](https://user-images.githubusercontent.com/10466206/36431696-3d3d23fa-1626-11e8-8b93-64a5c9c02e5c.jpg)

[2018-02-20 15:13] 0pdd commented on #186
The puzzle `166-073320e4` has disappeared from the source code, that's why I closed this issue.

[2018-02-20 15:13] #186 closed

[2018-02-20 15:13] 0pdd opened #609 "RbMilestone.java:30-33: Let's implement this `Rebound`...."
The puzzle `186-75ab7a62` from #186 has to be resolved:

https://github.com/zerocracy/farm/blob/3bc94359a859c6021fdf917c79b7929a1d045d88/src/main/java/com/zerocracy/radars/github/RbMilestone.java#L30-L33

The puzzle was created by g4s8 on 23-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pro

[2018-02-20 15:13] 0crat commented on #609
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 15:15] yegor256 commented on #606
@llorllale @driver733 indeed, the problem manifests itself time to time. We are trying to switch to this new payment API of PayPal soon.

[2018-02-20 15:16] 0crat commented on #609
Job [#609](https://github.com/zerocracy/farm/issues/609) is now in scope, role is `DEV`

[2018-02-20 15:19] 0crat commented on #186
Order was finished, quality was "acceptable": +30 points just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol), total is [+600](https://www.0crat.com/u/neonailol)

[2018-02-20 15:22] ashtonhogan commented on #604
@yegor256 in agile, if you fix something but then break something else, it's not considered "done". I'm not sure if you agree with that approach or not. If you don't, I can create another issue...

If you submit the details, it takes you to this url: https://www.0crat.com/join-post

Which is a blank screen, then it does nothing, just stays there

[2018-02-20 15:43] yegor256 commented on #604
@ashtonhogan that's a separate problem, it's not implemented yet: https://github.com/zerocracy/farm/issues/602

[2018-02-20 15:46] 0crat commented on #602
The job [#602](https://github.com/zerocracy/farm/issues/602) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/511544812). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-20 15:47] 0crat commented on #602
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10364](https://www.0crat.com/u/yegor256)

[2018-02-20 15:49] #477 closed

[2018-02-20 15:49] 0pdd commented on #477
The puzzle `297-c88f3107` has disappeared from the source code, that's why I closed this issue.

[2018-02-20 15:49] neonailol opened #610 "I did not complete the job but still got paid"
Issue in question: https://github.com/zerocracy/farm/issues/186
I registered waiting on this task, but some one else complete it,
and i still got my 30 points and 5$ in payments,
i believe it does not suppose to work like that

[2018-02-20 15:49] 0crat commented on #610
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 15:51] neonailol commented on #608
@g4s8 i will look into it soon, what os are you using? i can only test it on linux and windows

[2018-02-20 16:04] 0crat commented on #477
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4405](https://www.0crat.com/u/g4s8)

[2018-02-20 16:07] 0crat commented on #606
The job [#606](https://github.com/zerocracy/farm/issues/606) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/511560135). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-20 16:08] 0crat commented on #449
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-02-20 16:09] ashtonhogan commented on #604
@yegor256 Okay, I'm assuming the details went through

[2018-02-20 16:10] 0crat commented on #449
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4435](https://www.0crat.com/u/g4s8)

[2018-02-20 16:10] 0crat commented on #606
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10374](https://www.0crat.com/u/yegor256)

[2018-02-20 16:14] 0crat commented on #495
The job [#495](https://github.com/zerocracy/farm/issues/495) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/511613470). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-20 16:19] g4s8 opened #611 "Failed to pay exception"
I've received a [notification](https://github.com/zerocracy/farm/issues/449#issuecomment-367027609) that `make_payment` script failed to pay via Paypal:
[code]

[2018-02-20 16:19] 0crat commented on #611
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 16:26] ashtonhogan opened #612 "new role for winning clients"
I need an invite but don't plan on contributing any time soon. Mainly I want to refer clients...

[2018-02-20 16:26] 0crat commented on #612
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 16:27] g4s8 commented on #608
@neonailol I'm using Gentoo Linux `x86_64 4.9.76-gentoo-r1`
my java version:
[code]
maven version: `Apache Maven 3.3.9`

[2018-02-20 16:27] amihaiemil commented on #612
What my friend of few words is trying to say here is: it would be nice if we had some sort of marketing/evanghelist role, at least at the beginning, people who would spread the word about ZC.

[2018-02-20 16:58] g4s8 commented on #448
@yegor256  PR #577  was merged, can we close?

[2018-02-20 17:28] 0pdd commented on #602
The puzzle `520-a0cac38b` has disappeared from the source code, that's why I closed this issue.

[2018-02-20 17:28] #602 closed

[2018-02-20 17:33] 0crat commented on #602
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10419](https://www.0crat.com/u/yegor256)

[2018-02-20 17:54] yegor256 commented on #448
@g4s8 thanks!

[2018-02-20 17:54] #448 closed

[2018-02-20 18:01] 0crat commented on #448
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4465](https://www.0crat.com/u/g4s8)

[2018-02-20 18:03] yegor256 commented on #611
@g4s8 dup of #606

[2018-02-20 18:03] #611 closed

[2018-02-20 18:05] 0crat commented on #497
The job [#497](https://github.com/zerocracy/farm/issues/497) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/511804117). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-20 18:08] yegor256 commented on #612
@ashtonhogan it's a bug, `/rfp` should be available without invite

[2018-02-20 18:10] 0crat commented on #612
The job [#612](https://github.com/zerocracy/farm/issues/612) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/511808223). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-20 18:11] 0crat commented on #612
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10414](https://www.0crat.com/u/yegor256)

[2018-02-20 18:23] yegor256 commented on #610
@neonailol it's inevitable, sometimes this may happen. We can't prevent it. Enjoy the payment)

[2018-02-20 18:23] #610 closed

[2018-02-20 18:27] 0crat commented on #612
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10444](https://www.0crat.com/u/yegor256)

[2018-02-20 18:40] 0pdd opened #613 "pom.xml:609-611: branch coverage, complexity coverage and..."
The puzzle `474-ba887765` from #474 has to be resolved:

https://github.com/zerocracy/farm/blob/4988c73e30415628d6f80078349c5258c42497f8/pom.xml#L609-L611

The puzzle was created by g4s8 on 20-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _remo

[2018-02-20 18:40] 0crat commented on #613
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 18:43] g4s8 commented on #474
@fabriciofx PR #593 was merged, `todo` #613 was submitted, can we close?

[2018-02-20 18:46] 0crat commented on #613
Job [#613](https://github.com/zerocracy/farm/issues/613) is now in scope, role is `DEV`

[2018-02-20 19:07] ypshenychka opened #614 "Unrecoverable issue after QA review #585"
https://github.com/yegor256/cactoos/issues/585#issuecomment-367076457

sun.reflect.GeneratedMethodAccessor61[-1] java.lang.reflect.InvocationTargetException: null
com.zerocracy.pmo.banks.Paypal[122] java.io.IOException: Failed to pay $8.00 to driver733@me.com with memo "Payment for gh:yegor256/cactoos#585 (30 minutes): Order was finished, quality was "acceptable"": java.io.IOException Failed to pa

[2018-02-20 19:07] 0crat commented on #614
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 19:21] ashtonhogan commented on #605
@yegor256 that the process makes it difficult to compete against other software consulting companies who have no red tape.

Going through the problems one by one:

1. "You need to make one of them interested in your project" - Let's say I've fished out a client, they're interested and want to use your services but then I can't find anyone interested?

2. "Once you pay us the entrance fee below, we

[2018-02-20 19:21] yegor256 commented on #607
@amihaiemil I added this 679cb57 Everything else will be explained in the `Files` tag. I think it's enough. WDYT?

[2018-02-20 19:22] yegor256 commented on #614
@ypshenychka duplicate of #606

[2018-02-20 19:22] #614 closed

[2018-02-20 19:24] amihaiemil commented on #607
@yegor256 strange, it didn't turn into a link to the commit, what exactly did you do?

[2018-02-20 19:26] yegor256 commented on #605
@ashtonhogan Zerocracy is not a consulting company. We are not going to sell our services to clients directly, since they won't be able to understand how we work. This would be a waste of time. They are used to work with slaves and body shops. Zerocracy is not for them. We are going to sell our platform to architects mostly/only. They will bring clients on board. This RFP page is only for those wh

[2018-02-20 19:27] yegor256 commented on #607
@amihaiemil oops, you reported the ticket to the wrong repo. I fixed here: https://github.com/zerocracy/datum/commit/679cb57e3ae1122c149490d618ecfcc4fe464263

[2018-02-20 19:29] amihaiemil commented on #607
@yegor256 right; looks better now, closing this :D

[2018-02-20 19:29] #607 closed

[2018-02-20 19:37] 0crat commented on #368
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 20:02] 0crat commented on #391
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 20:30] 0crat commented on #402
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 20:40] driver733 commented on #558
@yegor256 I believe that we should give devs more time to complete the tasks at the same time they get their agenda increased. For instance, when your reputation reaches 512, you can have 8 tasks at the same time instead of 3, when you reputation was lower.
I suggest the following:

[code]
I also agree that the system should not be configurable from outside.

[2018-02-20 20:41] ashtonhogan commented on #605
@yegor256 Realistically I think it's more like this:

Technical people: "Business decisions make us slaves"
Business people: "Technical decisions make us poor"

Tech people are wired differently, they don't spend all their time thinking about budgets and numbers...

It's going to be hard to get through to the people with the keys to the bank with only technical lures...

You have your own system,

[2018-02-20 21:35] 0crat commented on #400
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 23:04] 0crat commented on #447
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-21 06:11] g4s8 commented on #465
@yegor256  PR zerocracy/datum#285 was merged, can we close?

[2018-02-21 10:14] 0crat commented on #496
The job [#496](https://github.com/zerocracy/farm/issues/496) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/521032532). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-21 10:18] 0crat commented on #498
The job [#498](https://github.com/zerocracy/farm/issues/498) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/521036640). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-21 10:35] amihaiemil commented on #557
@g4s8 @yegor256 The problem is still there, see [here](https://github.com/yegor256/cactoos/pull/694). Author made a PR, closes it, then PR is put in scope and assigned for Review

[2018-02-21 10:39] g4s8 commented on #557
@yegor256 could you please post claims from footprint for this job? https://github.com/yegor256/cactoos/pull/694

[2018-02-21 10:53] g4s8 commented on #281
@0crat waiting #568

[2018-02-21 10:54] 0crat commented on #554
@g4s8 The impediment for [#554](https://github.com/zerocracy/farm/issues/554) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-21 10:55] 0crat commented on #281
@g4s8 The impediment for [#281](https://github.com/zerocracy/farm/issues/281) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-21 11:12] amihaiemil commented on #554
@g4s8 A suggestion: PR's title should describe the solution, not the problem. And certainly it shouldn't be the exact text as the Issue's title, it's confusing :)

[2018-02-21 11:25] g4s8 commented on #554
@amihaiemil I got it here: http://datum.zerocracy.com/pages/policy.html#42

Pull request description explains the solution proposed and contains a link to the original ticket it is related to.

Maybe it's a better way to explain the problem than issue's title? @amihaiemil how would you name this PR #615 ?

[2018-02-21 11:25] 0crat commented on #220
@neonailol Job [#220](https://github.com/zerocracy/farm/issues/220) is not assigned, can't put it on hold

[2018-02-21 12:02] amihaiemil commented on #554
@g4s8 I would name it "Make 0crat issue quality checks", or something like that (not sure what exactly is implemented. Then, in the PR's description I would link this Issue and explain how the solution fixes the problem.

[2018-02-21 12:36] yegor256 commented on #465
@g4s8 I don't think it will help. The XML won't allow duplicates to happen, but the Farm will still try to create them. Or you think we should deal with that issue in a separate ticket, when the problem surfaces?

[2018-02-21 12:36] yegor256 commented on #220
@neonailol as I see, the PR is not merged yet. How can I help?

[2018-02-21 12:46] yegor256 commented on #558
@driver733 @amihaiemil maybe it's better to keep 10 days as the lower margin and increase it when the reputation grows:

  * +0 days if less than 512 points,
  * +2 days if less than 2048,
  * +4 days if less than 4096,
  * +8 days otherwise.

WDYT?

[2018-02-21 12:46] yegor256 commented on #558
@g4s8 @carlosmiranda what is you opinion here?

[2018-02-21 12:54] amihaiemil commented on #558
@yegor256 Sure 18 days (best case proposed) is more than enough, But the best and least complicated mechanism would be to just count the person for which the task *as a whole* waits. 0crat should:

1) the assined DEV up until he/she made a PR (stop the count while there is a PR open)
2) start counting the CR when the PR is assigned
3) stop counting the CR and start counting the ARCH when it's his/

[2018-02-21 13:21] 0pdd commented on #281
The puzzle `235-ca1d9c8f` has disappeared from the source code, that's why I closed this issue.

[2018-02-21 13:21] #281 closed

[2018-02-21 13:27] 0crat commented on #281
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4525](https://www.0crat.com/u/g4s8)

[2018-02-21 14:10] g4s8 commented on #465
@yegor256 now it's not possible to ban same user twice, as I can see `ban_cancelled_order` and `ban_github_reporter` will fail to add new ban because of exception in `Bans.ban()`, or you think there should be some check on groovy scripts level?

[2018-02-21 15:31] yegor256 commented on #465
@g4s8 yes, that's my point - we should prevent it from happening. Now it will just throw an exception in runtime. Also, we need to upgrade `Xocument` to the latest version of datum (which also has to be released).

[2018-02-21 15:34] yegor256 commented on #558
@amihaiemil we can't pay attention to "opened PRs". It something Zerocrat should not care about. It's your (the performer of the ticket) business. You may close a job even without a PR or may have 5 of them and still never complete the job. So, I strongly believe we should stay away from any analysis of a job internals.

[2018-02-21 15:35] 0crat commented on #465
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4555](https://www.0crat.com/u/g4s8)

[2018-02-21 15:35] yegor256 commented on #605
@ashtonhogan yes, here: http://www.yegor256.com/2014/04/11/cost-of-loc.html

[2018-02-21 15:38] yegor256 commented on #465
@g4s8 damn it, I closed it by mistake :) We should configure Zerocrat to ignore those situations.

[2018-02-21 15:38] 0crat commented on #499
The job [#499](https://github.com/zerocracy/farm/issues/499) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/521541675). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the tas

[2018-02-21 15:39] yegor256 opened #616 "RbOnClose should take some time"
`RbOnClose` should create a claim, which will be processed in 15 minutes (using `until()`). That claim will check the status of the GitHub job and do what `RbOnClose` is doing now. If the issue is not closed, it will just do nothing.

See what happened here: https://github.com/zerocracy/farm/issues/465#issuecomment-367366704

[2018-02-21 15:40] yegor256 commented on #616
@0crat  assign @g4s8

[2018-02-21 15:42] yegor256 commented on #557
@g4s8 here:
<img width="933" alt="screen shot 2018-02-21 at 6 41 58 pm" src="https://user-images.githubusercontent.com/526301/36489369-efcf8cb8-1736-11e8-95c0-7ec87ef92266.png">

[2018-02-21 15:43] 0crat commented on #616
@yegor256 The job [#616](https://github.com/zerocracy/farm/issues/616) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/521545764). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-21 15:44] 0crat commented on #616
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10574](https://www.0crat.com/u/yegor256)

[2018-02-21 15:44] 0crat commented on #616
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10574](https://www.0crat.com/u/yegor256)

[2018-02-21 15:53] yegor256 commented on #616
@g4s8 I believe we need some mechanism for many other radar reactions. We should not react immediately, but do it in a few minutes. But we can't use any "background threads" for that, because the server may be restarted and we will lose everything. We have to create claims immediately, which will do the real work later.

[2018-02-21 16:11] neonailol commented on #220
@yegor256 https://github.com/zerocracy/farm/pull/585#issuecomment-366781290
Rultor failed to do it, bu all checks are suceeded

[2018-02-21 16:33] 0crat commented on #575
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-21 16:45] g4s8 commented on #558
@yegor256 I agree, but maybe it should be related to user's agenda , not reputation? He/she may have many REV tasks assigned with low reputation

[2018-02-21 16:53] amihaiemil commented on #558
@yegor256 I see... ok, then let's go with your proposal. @g4s8 has a point too: the number of assigned task is also important :)

[2018-02-21 17:02] amihaiemil opened #617 "0crat did not pay CR"
QA gave a "good" quality verdict [here](https://github.com/yegor256/cactoos/pull/687#issuecomment-367387223), 0crat said it paid everyone but did not send any money to my paypal (it did award the reputation points, though).

Maybe it has to do with the fact that another payment was done 2-3min earlier in another PR [here](https://github.com/yegor256/cactoos/pull/575#issuecomment-367389212)?

I als

[2018-02-21 17:02] 0crat commented on #617
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-21 17:11] yegor256 commented on #558
@g4s8 @amihaiemil well, a busy agenda doesn't mean that we should give that person more time. Bigger time lag means higher trust to the person. We give him/her 18 days instead of 10 because we believe that he/she will use them effectively. We believe that the user needs that time because the job requires so. Not because the user is just busy.

[2018-02-21 17:13] yegor256 commented on #220
@neonailol that's your business :) Rultor is part of the process. Until the PR is merged, the job is not completed. Why it happens, we don't really care.

[2018-02-21 17:19] amihaiemil opened #618 "PO should be able to set 0crat's Github account"
Currently, 0crat works only via its designated Github account, but we should let POs decide which account to use-- maybe they would like to receive the emails as well when the bot is tagged in a comment. Or maybe they simply want to use 0crat bot with an account that has some special perimissions. Who knows what CI/CD pipeline they could build via a Github webhook and they may need a certain accou

[2018-02-21 18:21] 0crat commented on #618
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-21 19:26] yegor256 commented on #617
@amihaiemil I can't trace this situation, because the logs were not complete. I fixed them. Let's wait for a similar problem.

[2018-02-21 19:43] t-izbassar opened #619 "Equity proof pdf has wrong format"
Equity proof pdf doesn't open in Ubuntu's standard `Document Viewer`:
![image](https://user-images.githubusercontent.com/24223260/36496568-fa66fe16-1738-11e8-8803-8ca1bc9e910b.png)

And it is also cannot be open in Chrome browser:
![image](https://user-images.githubusercontent.com/24223260/36496603-173d55f8-1739-11e8-89b8-955dd7d908ba.png)

[2018-02-21 19:43] 0crat commented on #619
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-21 19:55] 0crat commented on #450
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-21 20:12] 0crat commented on #474
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-21 20:15] 0crat commented on #476
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-21 20:25] ashtonhogan opened #620 "Can't access https://www.0crat.com/board"
You (@ashtonhogan) must be invited to us by someone we already know, see §1

[2018-02-21 20:25] 0crat commented on #620
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-21 20:25] 0crat commented on #478
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-21 20:34] 0crat commented on #487
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-21 22:25] ashtonhogan commented on #605
@yegor256 thanks that's perfect.

I have a bit more though. Perhaps another issue can be created under the blog repo...

These are the kinds of questions I expect to get asked:

1. Sales - Are you making sales? Are people interested in you? Are you going to disappear in a few months?

2. Cash Flow - Are you desperate? Are you just looking for some quick money? What length of business relationship

[2018-02-21 22:26] 0crat commented on #377
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#377](https://github.com/zerocracy/farm/issues/377), please stop working

[2018-02-21 22:26] 0crat commented on #377
Resigned on delay, see [§8](http://datum.zerocracy.com/pages/policy.html#8): -30 points just awarded to @caarlos0[/z](https://www.0crat.com/u/caarlos0), total is [+615](https://www.0crat.com/u/caarlos0)

[2018-02-21 22:28] 0crat commented on #416
The job [#416](https://github.com/zerocracy/farm/issues/416) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/522233815). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-22 00:44] carlosmiranda opened #621 "Allow performer to set maximum number of tasks"
Currently, we set the maximum Agenda size of the user [depending on their reputation](http://datum.zerocracy.com/pages/policy.html#3):

Folks with good performance (i.e. high reputation) may want to limit the amount of tasks they receive for some reason... they may be busy, can't keep up, just want to hang out in the beach, or whatever. In any case they may want to receive a smaller amount of task

[2018-02-22 00:44] 0crat commented on #621
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-22 00:45] carlosmiranda commented on #558
@yegor256 Generally speaking I agree with your proposal.

As for the points raised by @g4s8 and @amihaiemil regarding number of tasks in agenda, I think that should be a separate feature. We want folks to turn over a small amount of tasks quickly instead of waiting on a large amount of tasks, so extending the deadline for multiple tasks is not efficient. See my proposal in #621.

[2018-02-22 05:33] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-22 05:33] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-22 05:33] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-22 05:33] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-22 05:33] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-22 06:00] yegor256 commented on #620
@ashtonhogan fixed, thanks!

[2018-02-22 06:00] #620 closed

[2018-02-22 06:02] yegor256 commented on #621
@carlosmiranda dup of https://github.com/zerocracy/datum/issues/258

[2018-02-22 06:02] #621 closed

[2018-02-22 06:03] 0crat commented on #558
Job [#558](https://github.com/zerocracy/farm/issues/558) is now in scope, role is `DEV`

[2018-02-22 06:05] 0crat commented on #558
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10624](https://www.0crat.com/u/yegor256)

[2018-02-22 07:57] yegor256 opened #622 "show pulse at 0crat.com"
Let's show a running "pulse" line at 0crat.com.

[2018-02-22 08:01] 0crat commented on #622
The job [#622](https://github.com/zerocracy/farm/issues/622) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/530760882). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-22 08:04] 0crat commented on #622
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10649](https://www.0crat.com/u/yegor256)

[2018-02-22 08:04] 0crat commented on #622
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10649](https://www.0crat.com/u/yegor256)

[2018-02-22 08:04] 0crat commented on #622
It is strongly discouraged to assign jobs to their creators, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10649](https://www.0crat.com/u/yegor256)

[2018-02-22 08:46] amihaiemil opened #623 "CR is sometimes useless"
In the past, with Teamed, the PMs would assign a Pull Request directly to the ARCH if it was very small.

I think this mechanism is needed for 0crat as well, since there are some very small PRs around (modifying README, modifying some puzzles etc) -- it's a waste of time and money to assign CR/ARCH/QA for such small PRs. Besides, the QA will always complain in these cases since it's not possible t

[2018-02-22 08:46] 0crat commented on #623
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-22 09:02] t-izbassar commented on #616
@yegor256 I have assigned to already finished task [see](https://github.com/yegor256/takes/issues/780#issuecomment-367603803). Does it related to this issue?

If yes, can you resign it from me? As it eats my agenda.

[2018-02-22 10:56] ypshenychka opened #624 "No payment for #662 for QA review "Failed to buy at Coinbase""
https://github.com/yegor256/cactoos/pull/662#issuecomment-367643074

com.zerocracy.farm.reactive.StkGroovy[125] java.lang.IllegalStateException: java.lang.reflect.InvocationTargetException in com/zerocracy/stk/pm/cost/make_payment.groovy
sun.reflect.NativeMethodAccessorImpl[-2] java.lang.reflect.InvocationTargetException: null
com.zerocracy.pmo.banks.Crypto[144] java.io.IOException: Failed to buy

[2018-02-22 10:56] 0crat commented on #624
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-22 12:36] amihaiemil commented on #557
@g4s8 FYI, 0crat reassigned a closed PR to me (the QA just gave the verdict, payments were made, then it reassigned it to me): https://github.com/yegor256/jpeek/pull/197#issuecomment-367666866

[2018-02-22 15:19] yegor256 commented on #623
@amihaiemil duplicate of #510

[2018-02-22 15:19] #623 closed

[2018-02-22 15:32] yegor256 opened #625 "debts.xml"
Let's create a new document `pmo/debts.xml` which will accumulate all failed payments (like this one: #624). Then, time to time, once a day, we will try to make an aggregated payment for each user.

[2018-02-22 15:34] yegor256 commented on #624
@ypshenychka it's a temporary failure with our account at coinbase.com. We will introduce a debts collection soon (in #625) to help us solve this and similar issues. In the meantime, wait for a day or so. They must restore our access to the account.

[2018-02-22 15:34] #624 closed

[2018-02-22 16:02] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-22 16:02] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-22 16:02] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-22 16:02] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-22 16:02] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-22 17:11] yegor256 commented on #605
@ashtonhogan here: https://latexonline.cc/compile?git=https%3A%2F%2Fgithub.com%2Fzerocracy%2Fzerocracy.github.io&target=_pdf%2Fexecutive-summary.tex&command=pdflatex&trackId=1519319446613

The sources is here: https://github.com/zerocracy/zerocracy.github.io/blob/master/_pdf/executive-summary.tex Feel free to contribute or submit tickets to that repo.

[2018-02-22 17:11] #605 closed

[2018-02-22 17:44] 0crat commented on #625
Job [#625](https://github.com/zerocracy/farm/issues/625) is now in scope, role is `DEV`

[2018-02-22 17:46] 0crat commented on #625
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10694](https://www.0crat.com/u/yegor256)

[2018-02-22 18:36] ashtonhogan opened #626 "after paying for rfp I can't create an rfp"
You (@ashtonhogan) must be invited to us by someone we already know, see §1

[2018-02-22 18:36] 0crat commented on #626
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-22 18:51] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-22 18:51] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-22 18:51] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-22 18:51] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-22 18:52] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-22 18:53] yegor256 commented on #626
@ashtonhogan the payment hasn't been made yet, our backend failed right before the payment step. I fixed the access control in 567a2420f9ea9aee73b0c221680c6cbd2b4c0327 Please, try to make it again.

[2018-02-22 19:15] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-22 19:16] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-22 19:16] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-22 19:16] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-22 19:16] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-22 20:40] ashtonhogan commented on #626
Works

[2018-02-22 20:40] #626 closed

[2018-02-22 20:45] yegor256 opened #627 "pay"
Let's make it possible to pay a user something extra. Just a simple command:

[code]

Zerocrat should initiate `make_payment` but with an extra param `awards` equal to the amount of minutes of the payment. Moreover, we should add -60 points to the initiator of the payment.

Let's not forget to update the policy.

[2018-02-22 20:46] 0crat commented on #627
Job [#627](https://github.com/zerocracy/farm/issues/627) is now in scope, role is `DEV`

[2018-02-22 20:48] 0crat commented on #627
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10709](https://www.0crat.com/u/yegor256)

[2018-02-22 20:53] #598 closed

[2018-02-22 20:55] 0crat commented on #598
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10739](https://www.0crat.com/u/yegor256)

[2018-02-22 20:55] 0crat commented on #598
The job [#598](https://github.com/zerocracy/farm/issues/598) is now out of scope

[2018-02-22 21:09] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-22 21:09] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-22 21:09] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-22 21:09] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-22 21:09] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-22 22:24] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-22 22:24] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-22 22:24] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-22 22:24] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-22 22:25] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-22 22:25] yegor256 commented on #624
@ypshenychka the problem is solved, I believe. You can continue with reviews. If and when we fail to send a payment to you, you will receive a notification and the amount will be added to the list of "debts" (you will see them in your account page). Sooner or later we will send you the summary payment.

[2018-02-22 22:33] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-22 22:33] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-22 22:33] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-22 22:33] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-22 22:33] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-22 22:38] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-22 22:38] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-22 22:38] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-22 22:38] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-22 22:38] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-22 22:46] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-22 22:46] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-22 22:46] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-22 22:46] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-22 22:46] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-23 06:27] neonailol opened #628 "Can not see rfp page"
According to policy http://www.zerocracy.com/policy.html#40 you need 512 reputation to see rfp page, but in code this parameter set to minimum of 2048, and i cant access rpf page with my reputation of 570

https://github.com/zerocracy/farm/blob/0e5c7619b0e895af897f4cc93876341cefa0a04c/src/main/java/com/zerocracy/tk/rfp/TkRfps.java#L68

[2018-02-23 06:27] 0crat commented on #628
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-23 06:28] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-23 06:28] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-23 06:28] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-23 06:28] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-23 06:28] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-23 06:28] 0pdd commented on #281
@0pdd all puzzles are solved

[2018-02-23 06:28] 0pdd commented on #284
@0pdd all puzzles are solved

[2018-02-23 06:28] 0pdd commented on #368
@0pdd all puzzles are solved

[2018-02-23 06:28] 0pdd commented on #408
@0pdd all puzzles are solved

[2018-02-23 06:28] 0pdd commented on #425
@0pdd all puzzles are solved

[2018-02-23 06:28] 0pdd commented on #476
@0pdd all puzzles are solved

[2018-02-23 06:28] 0pdd commented on #477
@0pdd all puzzles are solved

[2018-02-23 06:28] 0pdd commented on #478
@0pdd all puzzles are solved

[2018-02-23 06:28] 0pdd commented on #480
@0pdd all puzzles are solved

[2018-02-23 06:28] 0pdd commented on #481
@0pdd all puzzles are solved

[2018-02-23 06:48] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-23 06:48] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-23 06:48] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-23 06:48] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-23 06:48] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-23 06:48] 0pdd commented on #281
@0pdd all puzzles are solved

[2018-02-23 06:48] 0pdd commented on #284
@0pdd all puzzles are solved

[2018-02-23 06:48] 0pdd commented on #368
@0pdd all puzzles are solved

[2018-02-23 06:48] 0pdd commented on #408
@0pdd all puzzles are solved

[2018-02-23 06:48] 0pdd commented on #425
@0pdd all puzzles are solved

[2018-02-23 06:48] 0pdd commented on #476
@0pdd all puzzles are solved

[2018-02-23 06:49] 0pdd commented on #477
@0pdd all puzzles are solved

[2018-02-23 06:49] 0pdd commented on #478
@0pdd all puzzles are solved

[2018-02-23 06:49] 0pdd commented on #480
@0pdd all puzzles are solved

[2018-02-23 06:49] 0pdd commented on #481
@0pdd all puzzles are solved

[2018-02-23 06:49] 0pdd commented on #494
@0pdd all puzzles are solved

[2018-02-23 06:49] 0pdd commented on #495
@0pdd all puzzles are solved

[2018-02-23 06:49] 0pdd commented on #545
@0pdd all puzzles are solved

[2018-02-23 06:49] 0pdd commented on #552
@0pdd all puzzles are solved

[2018-02-23 06:49] 0pdd commented on #556
@0pdd all puzzles are solved

[2018-02-23 06:49] 0pdd commented on #559
@0pdd all puzzles are solved

[2018-02-23 06:49] 0pdd commented on #599
@0pdd all puzzles are solved

[2018-02-23 06:49] 0pdd commented on #602
@0pdd all puzzles are solved

[2018-02-23 06:49] 0pdd commented on #613
@0pdd all puzzles are solved

[2018-02-23 07:15] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-23 07:15] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-23 07:15] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-23 07:15] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-23 07:15] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-23 08:14] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-23 08:14] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-23 08:14] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-23 08:14] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-23 08:14] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-23 09:03] ypshenychka opened #629 "Received only +8 points for QA review and in debt the payment is also lower"
Happened [here](https://github.com/yegor256/jpeek/pull/208#issuecomment-367826756) and [here](https://github.com/yegor256/cactoos/issues/666#issuecomment-367754137).
I've received only 8 points for QA review (instead of 15) and payment transaction in debts is 2.13$ instead of 4$.

[2018-02-23 09:03] amihaiemil commented on #557
@g4s8 Same situation as above here: https://github.com/yegor256/jpeek/pull/208#issuecomment-367950153

[2018-02-23 09:03] 0crat commented on #629
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-23 09:05] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-23 09:05] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-23 09:05] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-23 09:05] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-23 09:05] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-23 09:10] ypshenychka commented on #629
Saw change in policy right now. Closing issue.

[2018-02-23 09:10] #629 closed

[2018-02-23 10:41] ashtonhogan opened #630 "enhance policy with responsiveness bonus"

[2018-02-23 10:41] 0crat commented on #630
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-23 12:09] amihaiemil opened #631 "0crat should not reassign a PR which is in QA stage"
Heppened [here](https://github.com/yegor256/jpeek/pull/179#issuecomment-367991164). PR was merged, closed and was assigned to QA. The QA asked the author to do some changes in order to comply with the quality policy.

The author did not do those changes, so I, the reviewer, lost the task since 10 days passed. Not a problem for the CR, it's his/her punishment. After all, it is the CR's mistake: the

[2018-02-23 12:09] 0crat commented on #631
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-23 12:19] amihaiemil opened #632 "ARCH should also be punished if PR is merged and QA policies are not respected"
Heppened [here](https://github.com/yegor256/jpeek/pull/179#issuecomment-367991164). PR was merged, closed and was assigned to QA. The QA asked the author to do some changes in order to comply with the quality policy, but the author did not do them, so CR lost the task eventually.

CR was punished, ok, but I think the ARCH should be punished as well -- the PR passed 2 people and was merged while ha

[2018-02-23 12:19] 0crat commented on #632
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-23 13:15] 0crat commented on #547
The job [#547](https://github.com/zerocracy/farm/issues/547) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/541318211). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-23 13:17] 0crat commented on #547
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10789](https://www.0crat.com/u/yegor256)

[2018-02-23 13:17] 0crat commented on #547
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10789](https://www.0crat.com/u/yegor256)

[2018-02-23 13:29] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-23 13:29] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-23 13:29] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-23 13:29] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-23 13:29] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-23 13:30] #547 closed

[2018-02-23 13:31] yegor256 commented on #630
@ashtonhogan we have it already: http://www.zerocracy.com/policy.html#36 Or what do you mean?

[2018-02-23 13:33] 0crat commented on #547
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10819](https://www.0crat.com/u/yegor256)

[2018-02-23 13:33] 0crat commented on #547
The job [#547](https://github.com/zerocracy/farm/issues/547) is now out of scope

[2018-02-23 13:34] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-23 13:34] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-23 13:34] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-23 13:34] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-23 13:34] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-23 13:38] yegor256 commented on #628
@neonailol fixed in 32b1b52c92fd373a0d313243a63464aea57ca45e and deployed

[2018-02-23 13:49] ashtonhogan commented on #630
@yegor256 that link says: `If this interval is shorter than 4 hours, you get extra 10 minutes.`

I meant monetary bonus, not time bonus

[2018-02-23 14:16] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-23 14:16] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-23 14:16] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-23 14:16] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-23 14:17] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-23 15:07] #628 closed

[2018-02-23 15:57] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-23 15:57] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-23 15:57] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-23 15:57] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-23 15:57] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-23 16:11] valignatev opened #633 "0crat wasn't able to register impediment first time"
![image](https://user-images.githubusercontent.com/7038954/36603832-c3d08da6-1907-11e8-8e1d-d0ba6790bbb2.png)
As you can see in the image, first time it doesn't quite get the message.
Here's first time I've tried say `waiting` to 0crat: [comment link](https://github.com/yegor256/0pdd/issues/24#issuecomment-368050936)

[2018-02-23 16:11] 0crat commented on #633
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-23 16:12] #625 closed

[2018-02-23 16:13] 0crat commented on #633
Job [#633](https://github.com/zerocracy/farm/issues/633) is now in scope, role is `DEV`

[2018-02-23 16:13] 0crat commented on #633
Thanks for your contribution, @valentjedi[/z](https://www.0crat.com/u/valentjedi)! If you would be a member of [the project](https://www.0crat.com/p/C3NDPUA8L), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-02-23 16:13] 0crat commented on #625
The job [#625](https://github.com/zerocracy/farm/issues/625) is now out of scope

[2018-02-23 17:44] amihaiemil opened #634 "0crat should only count business days"
Most people do not work in the weekends, so I believe weekends should not be counted in the deadlines.
Or at least make this configurable per project.

[2018-02-23 17:45] 0crat commented on #634
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-23 19:35] 0crat commented on #368
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-23 19:45] llorllale opened #635 "0crat assigning closed job to DEV again"
As per https://github.com/zerocracy/farm/issues/571#issuecomment-366269644:

0crat assigned [this](https://github.com/yegor256/jpeek/issues/138#issuecomment-367929373) issue back to me after QA was done

[2018-02-23 19:45] 0crat commented on #635
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-23 19:47] yegor256 commented on #630
@ashtonhogan "extra 10 minutes" means points + money, not just points.

[2018-02-23 20:01] 0crat commented on #391
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-23 20:08] 0crat commented on #388
To cancel the order use `refuse` as in [§6](http://www.zerocracy.com/policy.html#6)

[2018-02-23 20:08] yegor256 commented on #388
@0crat assign me

[2018-02-23 20:11] 0crat commented on #388
@yegor256 The job [#388](https://github.com/zerocracy/farm/issues/388) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/542015444). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is n

[2018-02-23 20:11] 0crat commented on #388
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10814](https://www.0crat.com/u/yegor256)

[2018-02-23 20:12] 0crat commented on #388
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10814](https://www.0crat.com/u/yegor256)

[2018-02-23 20:30] 0crat commented on #402
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-23 21:34] 0crat commented on #400
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-23 23:01] 0crat commented on #447
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-24 01:06] 0pdd commented on #89
@0pdd all puzzles are solved

[2018-02-24 01:06] 0pdd commented on #185
@0pdd all puzzles are solved

[2018-02-24 01:06] 0pdd commented on #186
@0pdd this puzzle is still not solved: [609](https://github.com/zerocracy/farm/issues/609)

[2018-02-24 01:06] 0pdd commented on #609
@0pdd all puzzles are solved

[2018-02-24 01:06] 0pdd commented on #273
@0pdd all puzzles are solved

[2018-02-24 07:27] amihaiemil opened #636 "Study and comply with the GDPR Law of the EU"
Soon, there will be a new law enforced in the EU, related to the user data protection. See [EU General Data Protection Regulation](https://www.eugdpr.org) -- it's a good starting point but it's not the official thing, of course.

Idea being that most companies are confused, don't know what to do. The current situation is rather chaotic, everyone I know is working on this topic to make their produc

[2018-02-24 07:27] 0crat commented on #636
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-24 07:34] ypshenychka opened #637 "0crat failed to make payment"
Happened [here](https://github.com/yegor256/cactoos/issues/646#issuecomment-368207616)

com.zerocracy.farm.reactive.StkGroovy[125] java.lang.IllegalStateException: java.lang.reflect.InvocationTargetException in com/zerocracy/stk/pm/cost/make_payment.groovy
sun.reflect.NativeMethodAccessorImpl[-2] java.lang.reflect.InvocationTargetException: null
com.jcabi.xml.ListWrapper[162] com.jcabi.xml.ListWra

[2018-02-24 07:34] 0crat commented on #637
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-24 08:08] g4s8 commented on #447
@0crat waiting #582

[2018-02-24 08:08] 0crat commented on #447
@g4s8 The impediment for [#447](https://github.com/zerocracy/farm/issues/447) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-24 09:49] g4s8 commented on #465
@yegor256 please see #638 PR with fix

[2018-02-24 10:10] g4s8 commented on #474
@yegor256 could you please close this issue? PR #593 was merged and new `todo` #613 was created.

[2018-02-24 12:26] 0crat commented on #587
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-24 13:08] neonailol commented on #73
@yegor256 it looks like this task is already implemented, am i wrong?

[2018-02-24 13:09] neonailol commented on #89
@yegor256 puzzle is solved

[2018-02-24 13:14] neonailol commented on #111
@yegor256 i think better to implement it when we add award to a user, do you agree?

[2018-02-24 14:36] g4s8 commented on #487
@yegor256 could you please post footprint claims here for this job: https://github.com/yegor256/jpeek/pull/108

[2018-02-24 16:37] 0crat commented on #575
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-24 17:59] 0crat commented on #486
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-24 19:55] 0crat commented on #450
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-24 20:12] 0crat commented on #474
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-24 20:15] 0crat commented on #476
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-24 20:27] 0crat commented on #478
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-24 20:36] 0crat commented on #487
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-24 21:18] g4s8 opened #640 "Authorization is not secure"
@yegor256 It's possible to login to 0crat.com as any user and access all user's projects (or other pages). Can provide more details directly and publish here after fix.

[2018-02-24 21:18] 0crat commented on #640
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-24 21:48] #630 closed

[2018-02-25 07:26] #388 closed

[2018-02-25 07:27] yegor256 commented on #640
@g4s8 email me the details please

[2018-02-25 07:29] 0crat commented on #388
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10849](https://www.0crat.com/u/yegor256)

[2018-02-25 07:29] 0crat commented on #388
The job [#388](https://github.com/zerocracy/farm/issues/388) is now out of scope

[2018-02-25 07:29] yegor256 commented on #637
@ypshenychka fixed, thanks. won't happen again.

[2018-02-25 07:29] #637 closed

[2018-02-25 08:04] neonailol commented on #185
@yegor256 this puzzle are solved

[2018-02-25 08:05] neonailol commented on #608
@g4s8 sorry i tried different installations of linux, and everythings works fine for me (

[2018-02-25 08:50] yegor256 commented on #640
@g4s8 so your point is that `CcXor` is not strong enough. Let's use `CcAes`.

[2018-02-25 08:53] 0crat commented on #640
The job [#640](https://github.com/zerocracy/farm/issues/640) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/560851453). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-25 08:56] 0crat commented on #640
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4630](https://www.0crat.com/u/g4s8)

[2018-02-25 08:56] 0crat commented on #640
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10844](https://www.0crat.com/u/yegor256)

[2018-02-25 10:14] yegor256 commented on #640
@g4s8 it's weird, but replacing `CcXor` with `CcAes` five tests fail, but `CcSecureTest` remains "passed"... I can't understand what's going on.

[2018-02-25 10:14] yegor256 commented on #640
@0crat refuse

[2018-02-25 10:15] 0crat commented on #640
@yegor256 The user @yegor256[/z](https://www.0crat.com/u/yegor256) resigned from [#640](https://github.com/zerocracy/farm/issues/640), please stop working

[2018-02-25 10:16] 0crat commented on #640
Job [#640](https://github.com/zerocracy/farm/issues/640) is already in scope

[2018-02-25 10:16] 0crat commented on #640
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10829](https://www.0crat.com/u/yegor256)

[2018-02-25 11:05] SharplEr opened #643 "Payment is broken"
I had got following message from 0crat:

[code]

But there isn't such payment on my PayPal history. And my account balance remain intact. But three previous transaction was successful and I haven't changed any settings.

Wallet: sharplermc@gmail.com

So my question is where is my money?)

Also we need to have some command for 0crat to get payment history with transactions id. Because it can be pro

[2018-02-25 11:06] 0crat commented on #643
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-25 11:33] g4s8 commented on #220
@0crat status

[2018-02-25 11:33] 0crat commented on #220
@g4s8 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#220](https://github.com/zerocracy/farm/issues/220) is [in scope](http://www.zerocracy.com/policy.html#14) for 6mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is 30 minutes/points
  * These users are banned and won't

[2018-02-25 11:44] g4s8 opened #644 "Not clear how to deal with PRs with resigned performer"
It's not clear what should I do as a CR with PRs where performer was resigned from from ticket, e.g. this one: https://github.com/zerocracy/farm/pull/585 I requested some changes then accepted PR, but merge failed and performer was resigned from the [ticket](https://github.com/zerocracy/farm/issues/220) by 10 days rule. And now I'm going to receive negative points for this job, because it will be

[2018-02-25 11:44] 0crat commented on #644
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-25 13:34] 0crat commented on #494
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-25 14:58] 0crat commented on #608
@neonailol[/z](https://www.0crat.com/u/neonailol) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-25 16:04] 0crat commented on #606
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-25 16:14] 0crat commented on #495
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-25 17:27] g4s8 commented on #608
@neonailol looks like this plugin is loading something big from internet without logs, it was fixed when I leaved paused test for 20 minutes

[2018-02-25 17:27] #608 closed

[2018-02-25 17:31] 0crat commented on #608
Order was finished, quality was "acceptable": +30 points just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol), total is [+344](https://www.0crat.com/u/neonailol)

[2018-02-25 17:31] 0crat commented on #608
The job [#608](https://github.com/zerocracy/farm/issues/608) is now out of scope

[2018-02-25 17:31] 0crat commented on #608
Order was finished, quality was "acceptable": +0 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10829](https://www.0crat.com/u/yegor256)

[2018-02-25 18:05] 0crat commented on #497
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-25 18:08] g4s8 commented on #575
@0crat waiting jcabi/jcabi-github#1065

[2018-02-25 18:08] 0crat commented on #575
@g4s8 The impediment for [#575](https://github.com/zerocracy/farm/issues/575) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-25 18:10] g4s8 commented on #450
@0crat waiting #595

[2018-02-25 18:11] 0crat commented on #450
@g4s8 The impediment for [#450](https://github.com/zerocracy/farm/issues/450) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-25 18:11] g4s8 commented on #474
@0crat waiting for close

[2018-02-25 18:11] 0crat commented on #474
@g4s8 The impediment for [#474](https://github.com/zerocracy/farm/issues/474) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-25 18:12] g4s8 commented on #476
@0crat waiting #639

[2018-02-25 18:13] 0crat commented on #476
@g4s8 The impediment for [#476](https://github.com/zerocracy/farm/issues/476) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-25 18:14] g4s8 commented on #478
@0crat waiting #583

[2018-02-25 18:15] 0crat commented on #478
@g4s8 The impediment for [#478](https://github.com/zerocracy/farm/issues/478) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-25 19:00] yegor256 commented on #640
@0crat assign @carlosmiranda

[2018-02-25 19:01] yegor256 commented on #644
@g4s8 you just ask the ARC to close the PR and that's it. Why would you lose your points?

[2018-02-25 19:01] 0crat commented on #640
@yegor256 The job [#640](https://github.com/zerocracy/farm/issues/640) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/561901926). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the

[2018-02-25 19:02] 0crat commented on #640
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10824](https://www.0crat.com/u/yegor256)

[2018-02-25 19:19] yegor256 commented on #643
@SharplEr have no idea why and how this could happen... PayPal returned the transaction ID (`AP-7M30975162102181T`) but I can't find it in our account either... We had a similar problem before, I believe https://github.com/zerocracy/farm/issues/490 Looks like this ticket is a duplicate of #490

[2018-02-25 19:19] #643 closed

[2018-02-25 19:27] g4s8 commented on #644
@yegor256 thanks

[2018-02-25 19:27] #644 closed

[2018-02-25 19:36] 0crat commented on #368
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#368](https://github.com/zerocracy/farm/issues/368), please stop working

[2018-02-25 19:36] 0crat commented on #368
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @caarlos0[/z](https://www.0crat.com/u/caarlos0), total is [+585](https://www.0crat.com/u/caarlos0)

[2018-02-25 19:38] 0crat commented on #415
The job [#415](https://github.com/zerocracy/farm/issues/415) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/561939850). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-25 19:43] yegor256 opened #646 "pm/qa/reviews.xml"
I think we have to introduce a new document `pm/qa/reviews.xml` in order to avoid duplicate reviews. Now it's possible to say `quality good` multiple times and the QA inspector will get a few payments. We should place the demand for review into the XML document and then place the mark there, when the review is completed. When the order gets removed from `orders.xml` we automatically destroy the re

[2018-02-25 19:44] yegor256 commented on #646
@0crat assign @g4s8

[2018-02-25 19:45] 0crat commented on #646
@yegor256 The job [#646](https://github.com/zerocracy/farm/issues/646) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/561947007). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-02-25 19:47] 0crat commented on #646
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10834](https://www.0crat.com/u/yegor256)

[2018-02-25 19:47] 0crat commented on #646
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10834](https://www.0crat.com/u/yegor256)

[2018-02-25 20:02] 0crat commented on #391
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#391](https://github.com/zerocracy/farm/issues/391), please stop working

[2018-02-25 20:02] 0crat commented on #391
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @caarlos0[/z](https://www.0crat.com/u/caarlos0), total is [+555](https://www.0crat.com/u/caarlos0)

[2018-02-25 20:04] 0crat commented on #422
The job [#422](https://github.com/zerocracy/farm/issues/422) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/562007558). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-25 20:33] 0crat commented on #402
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#402](https://github.com/zerocracy/farm/issues/402), please stop working

[2018-02-25 20:33] 0crat commented on #402
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @caarlos0[/z](https://www.0crat.com/u/caarlos0), total is [+525](https://www.0crat.com/u/caarlos0)

[2018-02-25 20:38] g4s8 commented on #412
@0crat refuse

[2018-02-25 20:38] 0crat commented on #423
The job [#423](https://github.com/zerocracy/farm/issues/423) assigned to @caarlos0[/z](https://www.0crat.com/u/caarlos0), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/562037396). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-25 20:39] 0crat commented on #412
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#412](https://github.com/zerocracy/farm/issues/412), please stop working

[2018-02-25 20:41] 0crat commented on #412
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4615](https://www.0crat.com/u/g4s8)

[2018-02-25 21:05] 0crat commented on #404
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#404](https://github.com/zerocracy/farm/issues/404), please stop working

[2018-02-25 21:05] 0crat commented on #404
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @caarlos0[/z](https://www.0crat.com/u/caarlos0), total is [+495](https://www.0crat.com/u/caarlos0)

[2018-02-25 21:38] 0crat commented on #400
The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#400](https://github.com/zerocracy/farm/issues/400), please stop working

[2018-02-25 21:38] 0crat commented on #400
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @caarlos0[/z](https://www.0crat.com/u/caarlos0), total is [+465](https://www.0crat.com/u/caarlos0)

[2018-02-26 01:56] carlosmiranda commented on #640
@yegor256 @g4s8 see PR #647

[2018-02-26 06:15] g4s8 commented on #447
@yegor256 please see #648 PR with todo syntax correction

[2018-02-26 06:33] g4s8 commented on #487
@0crat refuse

[2018-02-26 06:33] 0crat commented on #487
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#487](https://github.com/zerocracy/farm/issues/487), please stop working

[2018-02-26 06:34] 0crat commented on #487
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4600](https://www.0crat.com/u/g4s8)

[2018-02-26 07:54] g4s8 commented on #616
@yegor256 maybe we can specify some claim types which should be delayed and set `until` field automatically for them?

[2018-02-26 09:36] yegor256 commented on #616
@g4s8 I think we should go this direction. We should set `until` to, say, 15 minutes ahead, for some radar-generated claims. Then, we should introduce a new Groovy stakeholder, which will go through the list of claims in `claims.xml` and delete some of them, using certain logic. For example, if it says `Add job to WBS` and the GitHub ticket is closed -- it deletes the claim.

Some sort of sanity c

[2018-02-26 09:46] ypshenychka opened #651 "List of debts became smaller although no payments were received"
In list of debts I had 9 items. But today after review instead of 10 items I see there only 6. No payments were received in my BTC wallet since Feb 21.

Also question: when all the debts should be paid? Is there any cumulative amount?

[2018-02-26 09:46] 0crat commented on #651
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-26 09:48] 0pdd opened #652 "_after.groovy:27-29: register_impediment stakeholder..."
The puzzle `447-38b7b52b` from #447 has to be resolved:

https://github.com/zerocracy/farm/blob/13e6ed7d6eb5e64ce3e289e222a81bdbccb5725d/src/test/resources/com/zerocracy/bundles/impediments/_after.groovy#L27-L29

The puzzle was created by Kirill on 26-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" wh

[2018-02-26 09:48] 0crat commented on #652
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-26 09:50] g4s8 commented on #447
@yegor256 PR #582 was merged and puzzle #652 was created, can we close?

[2018-02-26 09:50] 0crat commented on #652
Job [#652](https://github.com/zerocracy/farm/issues/652) is now in scope, role is `DEV`

[2018-02-26 10:06] g4s8 commented on #616
@yegor256 I think it can be a bit simpler if we do claim's check right before take it from xml (I.e. in `DefaultFlush` after `claim.take()`), WDYT?

[2018-02-26 10:15] 0crat commented on #496
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-26 10:16] yegor256 commented on #447
@g4s8 thanks!

[2018-02-26 10:16] #447 closed

[2018-02-26 10:17] yegor256 commented on #616
@g4s8 but where will the logic be located? There will be a lot of it. At the moment we have just three radars and they understand just a few user operations. In the future there will be many more. Where all that logic be stored?

[2018-02-26 10:20] 0crat commented on #447
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4645](https://www.0crat.com/u/g4s8)

[2018-02-26 10:20] 0crat commented on #447
The job [#447](https://github.com/zerocracy/farm/issues/447) is now out of scope

[2018-02-26 10:21] 0crat commented on #498
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-26 10:23] 0crat commented on #377
The job [#377](https://github.com/zerocracy/farm/issues/377) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/571023338). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-02-26 10:53] amihaiemil opened #653 "It is possible to submit /join form too often"
As discussed, the /join form should be submittable only once a week, to avoid white spamming.

[2018-02-26 10:53] 0crat commented on #653
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-26 10:57] amihaiemil opened #654 "Proposal: offer some reports on costs"
0crat seems quite expensive: $4 per job is a lot, also considering that PDD generates a huge tree of tasks at least for the first version of a product.

This being the case, clients have no idea what the cost of ZC actually is and it is also very hard to estimate it, since you don't have a clue how big and fast will the puzzle tree grow.

Proposal: 0crat should offer some reports on previously don

[2018-02-26 10:57] 0crat commented on #654
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-26 11:01] yegor256 commented on #631
@amihaiemil this will be fixed automatically, once we implement #646

[2018-02-26 11:01] #631 closed

[2018-02-26 11:04] yegor256 commented on #651
@ypshenychka yes, check this: http://www.zerocracy.com/policy.html#20 I removed two items from the list of debts, they were duplicates. We will send once there is $50. At the moment we are still having a problem with Coinbase. Should be resolved soon. Sorry for the confusion.

[2018-02-26 11:04] #651 closed

[2018-02-26 11:08] yegor256 commented on #653
@amihaiemil but all forms require login. You can't fill them out unless you are logged in. Can you imagine a GitHub user spamming us through those forms? What for? And we can easily block him/her.

Maybe we should allow `/join` form to be submitted only once per, say, 7 days. In order to prevent "white" spam, when an honest user really wants to be invited, but the profile is not strong enough and

[2018-02-26 11:10] yegor256 commented on #335
We don't have this problem anymore.

[2018-02-26 11:10] #335 closed

[2018-02-26 11:11] 0crat commented on #335
The job [#335](https://github.com/zerocracy/farm/issues/335) is now out of scope

[2018-02-26 11:12] yegor256 commented on #634
@amihaiemil well, it's a valid idea, but I don't really like it. We are all about remote work with no offices, etc. A holiday is something we inherit from 5-day nine-to-five working schedule. Most freelancers, actually, do work on holidays more than on weekdays.

[2018-02-26 11:13] yegor256 commented on #474
@g4s8 thanks!

[2018-02-26 11:13] #474 closed

[2018-02-26 11:18] 0crat commented on #474
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4675](https://www.0crat.com/u/g4s8)

[2018-02-26 11:18] 0crat commented on #474
The job [#474](https://github.com/zerocracy/farm/issues/474) is now out of scope

[2018-02-26 11:20] 0pdd commented on #478
The puzzle `403-fdebb43c` has disappeared from the source code, that's why I closed this issue.

[2018-02-26 11:20] #478 closed

[2018-02-26 11:23] 0crat commented on #368
The job [#368](https://github.com/zerocracy/farm/issues/368) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/571122651). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-02-26 11:28] amihaiemil commented on #634
@yegor256

Yes, but it's not that simple. Most of the world works only on week days. If I should work on the weekends then I lose time I could spend with friends/family etc, since they, unlike me, are working 9-to-5.

Besides, ZC is still far from a replacement of a full-time job or even traditional freelancing (which most of the times translates to 9-to-5). It is still a part-time (even less than

[2018-02-26 11:29] 0crat commented on #478
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4705](https://www.0crat.com/u/g4s8)

[2018-02-26 11:29] 0crat commented on #478
The job [#478](https://github.com/zerocracy/farm/issues/478) is now out of scope

[2018-02-26 11:31] amihaiemil commented on #653
@yegor256 yes, allowing ``/join`` only once in a while sounds better.

Even if user is logged in, I could easily make a Github false account and start spamming. We will detect it eventually, but it's enough if one makes a DDOS once a month and 0crat is down for 1 day until someone realizes it :-?

[2018-02-26 11:32] 0crat commented on #391
The job [#391](https://github.com/zerocracy/farm/issues/391) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/571134013). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-02-26 11:57] g4s8 commented on #499
@carlosmiranda PR #642 was merged, can we close?

[2018-02-26 11:59] g4s8 commented on #465
@yegor256 can we close this bug now?

[2018-02-26 13:42] yegor256 commented on #465
@g4s8 thanks!

[2018-02-26 13:42] #465 closed

[2018-02-26 13:43] amihaiemil opened #655 "End-to-End testing"
0cart should have a Test environment where we could also write end-to-end tests: simulate the Github integration using jcabi-github's MkGithub library.

[2018-02-26 13:43] 0crat commented on #655
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-26 13:46] yegor256 commented on #465
@rultor release, tag is `0.21.1`

[2018-02-26 13:47] rultor commented on #465
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14001-368508399)

[2018-02-26 13:51] yegor256 commented on #655
@amihaiemil I will configure something like `test.0crat.com`, which will be a copy of production. We will be able to login there, create projects, and see how it all works. I'm sure it will be necessary in the beginning, but you are right -- down the road we will need something like that for staging before deploying to production.

[2018-02-26 13:52] 0crat commented on #655
The job [#655](https://github.com/zerocracy/farm/issues/655) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/571352184). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-26 13:53] 0crat commented on #655
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+1025](https://www.0crat.com/u/amihaiemil)

[2018-02-26 13:53] 0crat commented on #655
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10889](https://www.0crat.com/u/yegor256)

[2018-02-26 13:56] rultor commented on #465
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14001-368508399) (took me 9min)

[2018-02-26 14:30] 0pdd opened #656 "complete_qa_review.groovy:29-32: We should place the..."
The puzzle `646-eda38fad` from #646 has to be resolved:

https://github.com/zerocracy/farm/blob/1a9b3ee17b2bfa309fe1d6f38beb223d34a55bd3/src/main/resources/com/zerocracy/stk/pm/qa/complete_qa_review.groovy#L29-L32

The puzzle was created by g4s8 on 26-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" wh

[2018-02-26 14:30] 0crat commented on #656
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-26 14:33] 0crat commented on #656
Job [#656](https://github.com/zerocracy/farm/issues/656) is now in scope, role is `DEV`

[2018-02-26 15:27] amihaiemil opened #657 "0crat failed Paypal payments?"
Today, I should have received 4 Paypal transactions and received none. Instead, they are in the list of debts, which I understand will be paid when the total debt is > $50.

But still, the payments should not be in that list unless they failed due to [technical reasons](http://www.zerocracy.com/policy.html#20), so something must have gone wrong.

I received no error message on Slack or somewhere e

[2018-02-26 15:27] 0crat commented on #657
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-26 15:31] ypshenychka commented on #651
@yegor256 Looks like one valid 4$ payment is missing in this list. Please see below screenshots from Telegram  - there are non-paid 4$ items for 3 different issues. And in list of debts - only 2 debts with 4$.
![screenshot_20180226-162549](https://user-images.githubusercontent.com/11703257/36678893-9c230bca-1b1a-11e8-9380-7ebca7f48e69.png)
![screenshot_20180226-162601](https://user-images.githubus

[2018-02-26 15:38] 0crat commented on #499
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-26 15:43] 0crat commented on #616
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-26 17:19] 0crat commented on #404
The job [#404](https://github.com/zerocracy/farm/issues/404) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/571722572). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-02-26 17:26] g4s8 commented on #404
@yegor256 could you please remove this closed job from WBS?

[2018-02-26 18:40] yegor256 commented on #651
@ypshenychka fixed, thanks.

[2018-02-26 18:53] yegor256 commented on #653
@amihaiemil but we have only two forms: `/join` and `/rfp`. Join will allow you to spam only once a week. `/rfp` requires you to pay $16 every time you submit it. So, nothing to be afraid of :)

[2018-02-26 19:02] yegor256 commented on #653
@amihaiemil let's change the description of the ticket or close this one and create a new one. The bug is that it's possible to submit `/join` too frequently. Should be once a week.

[2018-02-26 19:06] 0crat commented on #501
The job [#501](https://github.com/zerocracy/farm/issues/501) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/571906076). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-02-26 19:12] yegor256 commented on #634
@amihaiemil you almost convinced me... let's try to put this question to a vote in Telegram.

[2018-02-26 19:16] yegor256 commented on #657
@amihaiemil are you sure you didn't receive notifications from Zerocrat? We don't make any PayPal/Bitcoin payments if they are smaller than $10, to avoid big commissions. We put the automatically to the debt and pay when it's over $50.

[2018-02-26 19:33] ypshenychka opened #658 ""You can't do that, unless you have one of these roles: ARC, PO" from 0crat after each QA review"
Each time after QA review I receive from 0crat next message:

For example, [here](https://github.com/yegor256/jpeek/issues/124#issuecomment-368597460).

[2018-02-26 19:33] 0crat commented on #658
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-26 19:45] yegor256 commented on #498
@g4s8 thanks!

[2018-02-26 19:45] #498 closed

[2018-02-26 19:48] 0crat commented on #498
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4795](https://www.0crat.com/u/g4s8)

[2018-02-26 19:48] 0crat commented on #498
The job [#498](https://github.com/zerocracy/farm/issues/498) is now out of scope

[2018-02-26 19:49] yegor256 commented on #111
@neonailol not really. Imagine a situation when a user earned something a month ago and stopped working. We won't remove those awards ever, because no new awards are coming in. Instead, we should regularly check all users (on `Ping daily` or `Ping hourly`) and remove their expired awards.

[2018-02-26 19:49] yegor256 commented on #73
@0crat refuse

[2018-02-26 19:50] yegor256 commented on #73
@neonailol you are right, it's done already.

[2018-02-26 19:50] #73 closed

[2018-02-26 19:50] 0crat commented on #73
@yegor256 The user @neonailol[/z](https://www.0crat.com/u/neonailol) resigned from [#73](https://github.com/zerocracy/farm/issues/73), please stop working. Reason for job resignation: Order was cancelled

[2018-02-26 19:50] 0crat commented on #73
The job [#73](https://github.com/zerocracy/farm/issues/73) is now out of scope

[2018-02-26 19:53] 0crat commented on #502
The job [#502](https://github.com/zerocracy/farm/issues/502) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/571953259). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-02-26 19:59] yegor256 commented on #654
@amihaiemil good idea. I think we should just make finances of sanbox projects open to everybody, in some demo mode. That will help clients (and programmers) understand how much the development costs.

[2018-02-26 20:00] yegor256 commented on #404
@0crat out

[2018-02-26 20:00] 0crat commented on #654
The job [#654](https://github.com/zerocracy/farm/issues/654) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/571960449). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-26 20:02] 0crat commented on #654
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+1070](https://www.0crat.com/u/amihaiemil)

[2018-02-26 20:02] 0crat commented on #654
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10939](https://www.0crat.com/u/yegor256)

[2018-02-26 20:02] 0crat commented on #404
@yegor256 @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#404](https://github.com/zerocracy/farm/issues/404), since the job is not in scope anymore

[2018-02-26 20:03] 0crat commented on #404
@yegor256 The job [#404](https://github.com/zerocracy/farm/issues/404) is now out of scope

[2018-02-26 20:26] 0crat commented on #658
The job [#658](https://github.com/zerocracy/farm/issues/658) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/572026229). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-26 20:26] 0crat commented on #658
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+789](https://www.0crat.com/u/ypshenychka)

[2018-02-26 20:26] 0crat commented on #658
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10934](https://www.0crat.com/u/yegor256)

[2018-02-26 20:57] yegor256 commented on #658
@ypshenychka thanks, it was a bug, fixed in b1ecedcb

[2018-02-26 20:57] #658 closed

[2018-02-26 21:01] 0crat commented on #658
The job [#658](https://github.com/zerocracy/farm/issues/658) is now out of scope

[2018-02-26 22:29] 0crat commented on #416
@caarlos0[/z](https://www.0crat.com/u/caarlos0) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-27 00:21] carlosmiranda commented on #499
@g4s8 yes, thank you. :)

[2018-02-27 00:21] #499 closed

[2018-02-27 00:24] 0crat commented on #499
Order was finished, quality was "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8), total is [+4825](https://www.0crat.com/u/g4s8)

[2018-02-27 00:24] 0crat commented on #499
The job [#499](https://github.com/zerocracy/farm/issues/499) is now out of scope

[2018-02-27 07:10] amihaiemil commented on #657
@yegor256 yes. I am sure (I also checked Paypal now).

But none of them is >$10, so I guess it is correct. However, this info is nowhere in the policy, in clear? I did not find it anywhere.

[2018-02-27 07:18] amihaiemil commented on #653
@yegor256 done

[2018-02-27 07:21] amihaiemil opened #659 "Payment not done and not registered in debts"
I had two payments yesterday, [here](https://github.com/yegor256/jpeek/pull/206#issuecomment-368576911) and [here](https://github.com/yegor256/jpeek/pull/207#issuecomment-368595142). They were neither performed (checked e-mail and Paypal) nor registered as debts.

I think it was because the project (jpeek) is sandbox and these 2 payments should have been done just after I reached reputation 1024.

[2018-02-27 07:24] amihaiemil commented on #657
@yegor256 let me know if I missed something (maybe it's actually explained somewhere) or if I should change the title and description here.

[2018-02-27 07:27] amihaiemil opened #660 "Lower payout amount"
There are 3 issues with it (on Chrome):

1. They are inlined, simply appended one after another. I have 5 and they are already hard to understand, (10 lines of text already). They should be displayed in a table, I think. And maybe on a new page since it's going to be a long table.

2. They use Markdown to format links and it is not rendered correctly. -> SOLVED

3. The amounts are less than 25% or

[2018-02-27 07:27] 0crat commented on #660
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-27 08:25] g4s8 commented on #634
@amihaiemil I think it is not right direction to say which days will be counted, I think it should be configured via `x` parameter in "x-days-rule", I mean if you think that 10 days is not enough to complete some amount of jobs, it should be extended to 11 or 12 days rule.

[2018-02-27 08:28] ypshenychka commented on #658
@yegor256 Should there be payment as well? I've got only points.

[2018-02-27 08:28] amihaiemil commented on #634
@g4s8 no, 10 days are enough, but weekends should simply not be counted. I just want to enjoy my weekends without having to worry about some task that is still waiting for ARCH's review, or receive emails from 0crat: "task has been assigned to you for 8 days".

Plus, it's not only about me, I personally can ignore it, but others cannot -- the PRs' authors are spamming me in the weekends, for insta

[2018-02-27 08:29] amihaiemil commented on #636
@yegor256 have a look here, this is quite important.

[2018-02-27 08:41] g4s8 commented on #634
@amihaiemil I see. So maybe it should be configurable for your profile (not project)? Because other people (as me) are working on weekends and not working on some workdays, and I can't say exacly on which week days I'll work next month and on which not. I think can be implemented via "notification settings" in your profile where you can click checkbox "don't notify me on weekends" and you will not

[2018-02-27 08:49] amihaiemil commented on #634
@g4s8 yes, that could also work :)

[2018-02-27 08:50] yegor256 commented on #657
@amihaiemil check this: http://www.zerocracy.com/policy.html#20

[2018-02-27 08:58] 0crat commented on #622
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-27 09:11] 0crat commented on #510
The job [#510](https://github.com/zerocracy/farm/issues/510) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/580910393). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-02-27 09:14] amihaiemil commented on #657
@yegor256 Yes, but there is still nothing about payments < $10? You said such payments won't be performed and will be added to the debt, since making such small transactions causes a lot of fees.

[2018-02-27 09:14] 0crat commented on #512
The job [#512](https://github.com/zerocracy/farm/issues/512) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/580913497). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read [th

[2018-02-27 10:06] yegor256 commented on #660
@amihaiemil can you share the screenshot? Also, the amounts are smaller because you are paying tuition fee: http://www.zerocracy.com/policy.html#45

[2018-02-27 10:09] yegor256 commented on #653
@amihaiemil the solution would be to add `<applied/>` element to `people.xml` with date/time when the request has been received. Then, we should check that value when a new request comes in.

[2018-02-27 10:10] yegor256 commented on #659
@amihaiemil definitely a bug, let me fix it ASAP

[2018-02-27 10:11] 0crat commented on #653
Job [#653](https://github.com/zerocracy/farm/issues/653) is now in scope, role is `DEV`

[2018-02-27 10:13] amihaiemil commented on #660
@yegor256 Here it is:

![image](https://user-images.githubusercontent.com/6305156/36722911-830777b4-1bb7-11e8-8fdc-4c68f6ffdaa7.png)

[2018-02-27 10:14] 0crat commented on #659
Job [#659](https://github.com/zerocracy/farm/issues/659) is now in scope, role is `DEV`

[2018-02-27 10:17] 0crat commented on #653
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+1145](https://www.0crat.com/u/amihaiemil)

[2018-02-27 10:18] 0crat commented on #659
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+1160](https://www.0crat.com/u/amihaiemil)

[2018-02-27 10:23] ypshenychka opened #661 "Duplicate payment for https://github.com/yegor256/jpeek/pull/211"
Debts list contains duplicate payment for https://github.com/yegor256/jpeek/pull/211.
Please remove one.

![image](https://user-images.githubusercontent.com/11703257/36723475-ffca0b44-1bb8-11e8-9dde-7ae7b0f0c684.png)

[2018-02-27 10:23] 0crat commented on #220
The job [#220](https://github.com/zerocracy/farm/issues/220) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/581022730). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-02-27 10:23] 0crat commented on #661
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-27 10:27] 0crat commented on #226
The job [#226](https://github.com/zerocracy/farm/issues/226) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/581025831). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-02-27 11:13] yegor256 commented on #659
@amihaiemil I believe it's fixed, won't happen again

[2018-02-27 11:13] #659 closed

[2018-02-27 11:14] 0crat commented on #659
The job [#659](https://github.com/zerocracy/farm/issues/659) is now out of scope

[2018-02-27 12:22] biboran opened #662 "Broken points distribution for manual assignment"
As an `ARC` I assigned a task manually and points punishment was applied to the assigned `DEV` and his mentor who is not participating in this project. The excepted behavior would be that I got the punishment for manual assignment (this used to be the case for all previous issues I assigned manually).

![screen shot 2018-02-27 at 3 05 20 pm](https://user-images.githubusercontent.com/8717108/367283

[2018-02-27 12:26] 0crat commented on #587
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-27 13:38] llorllale commented on #635
@yegor256 please resign me from [this](https://github.com/yegor256/jpeek/issues/138#issuecomment-367929373) issue

[2018-02-27 13:38] g4s8 commented on #486
@0crat waiting zerocracy/datum#303

[2018-02-27 13:39] 0crat commented on #486
@g4s8 The impediment for [#486](https://github.com/zerocracy/farm/issues/486) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-27 13:43] llorllale commented on #657
@yegor256 I agree, policy should be explicit on this issue

[2018-02-27 13:44] llorllale commented on #635
@yegor256 I've been assigned to [another](https://github.com/yegor256/jpeek/issues/119) closed issue again

[2018-02-27 14:04] llorllale opened #663 "Identify link is broken"
Trying to access https://www.0crat.com/identify and get this error:

[code]

[2018-02-27 14:04] 0crat commented on #663
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-27 15:51] driver733 commented on #662
Also, 0crat took off only 5 points me (see first post), but did not take off 15 (see second post, my point reputation did not change after the second post).
![screen shot 2018-02-27 at 10 49 38 am](https://user-images.githubusercontent.com/10466206/36738607-f36e1956-1bab-11e8-9124-4e284381828f.png)

[2018-02-27 16:04] biboran commented on #662
@driver733 I don't think it works that way. 0crat usually does notification in batches but the points are precomputed for the batch execution and you get the same output for the whole batch.

[2018-02-27 16:32] yegor256 commented on #635
@llorllale this was the cause: #658  Fixed already, won't happen again.

[2018-02-27 16:32] #635 closed

[2018-02-27 16:39] yegor256 commented on #660
@amihaiemil can you check the layout now? Should look better. I don't want to use a table, since the list of debts is supposed to be short. We create them temporarily and flush frequently. A table will mean that we are very serious about them and they will stay there for a long time:)

[2018-02-27 16:46] llorllale commented on #635
@yegor256 it just happened again [here](https://github.com/yegor256/jpeek/issues/124)

[2018-02-27 16:47] amihaiemil commented on #660
@yegor256 It still looks terrible, if you ask me:

<img width="940" alt="screen shot 2018-02-27 at 18 46 41" src="https://user-images.githubusercontent.com/6305156/36741767-9f30dd9a-1bee-11e8-9633-5794667c8dc1.png">

Are you sure you don't want to make it a table? I think it will be rather long and stay there for some time (for instance, I estimate 1-2 weeks, until I make $50, considering how a ta

[2018-02-27 16:48] yegor256 commented on #657
@amihaiemil @llorllale see https://github.com/zerocracy/zerocracy.github.io/commit/cdf1dd0a8df0bbc851f0993505c4758418fff0c9

[2018-02-27 16:48] llorllale commented on #635
@yegor256 also [here](https://github.com/yegor256/jpeek/issues/140)

[2018-02-27 16:48] amihaiemil commented on #660
@yegor256 plus, think about responsiveness -- maybe it should even be a different page. Such a table or wall of text should not be displayed on mobile all the time, it's hard to read there either way.

[2018-02-27 16:49] llorllale commented on #657
@yegor256 works for me

[2018-02-27 16:50] amihaiemil commented on #657
@yegor256 looks better, I close this then :)

[2018-02-27 16:50] #657 closed

[2018-02-27 16:56] 0crat commented on #660
Job [#660](https://github.com/zerocracy/farm/issues/660) is now in scope, role is `DEV`

[2018-02-27 16:56] yegor256 commented on #660
@amihaiemil maybe it's better to lower the payout amount. If we set it to, say, $20 instead of $50, there will be no more than 10 payments in the list...

[2018-02-27 16:57] amihaiemil commented on #660
@yegor256 yes, that could also work

[2018-02-27 16:57] 0crat commented on #660
The job [#660](https://github.com/zerocracy/farm/issues/660) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/581656002). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-27 16:58] yegor256 commented on #660
@amihaiemil see https://github.com/zerocracy/zerocracy.github.io/commit/30d2d28b47b0dd5a1eee04dbf8555d97650a982a Expect a payment any time soon

[2018-02-27 16:59] 0crat commented on #660
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10974](https://www.0crat.com/u/yegor256)

[2018-02-27 17:01] driver733 opened #664 "Iterative reputation point calculation"
As per
https://github.com/zerocracy/farm/issues/662#issuecomment-368924764
https://github.com/zerocracy/farm/issues/662#issuecomment-368929249

I believe that we should remove batch reputation point calculation. Each post made by the 0crat should have its own calculation of the points, not the final one. Otherwise, it might be confusing, especially for newcomers.
See screenshot for the details.
In

[2018-02-27 17:01] 0crat commented on #664
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-27 17:11] 0crat commented on #663
The job [#663](https://github.com/zerocracy/farm/issues/663) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/581710403). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-27 17:12] yegor256 commented on #587
@t-izbassar this will be fixed when we fix #646

[2018-02-27 17:12] #587 closed

[2018-02-27 17:12] 0crat commented on #663
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+880](https://www.0crat.com/u/llorllale)

[2018-02-27 17:12] 0crat commented on #663
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10969](https://www.0crat.com/u/yegor256)

[2018-02-27 17:14] 0crat commented on #587
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10999](https://www.0crat.com/u/yegor256)

[2018-02-27 17:14] 0crat commented on #587
The job [#587](https://github.com/zerocracy/farm/issues/587) is now out of scope

[2018-02-27 18:14] yegor256 commented on #663
@llorllale I believe it's fixed in dde5484e, please check

[2018-02-27 18:15] yegor256 commented on #619
@t-izbassar see #453

[2018-02-27 18:16] llorllale commented on #663
@yegor256 thanks

[2018-02-27 18:16] #663 closed

[2018-02-27 18:19] 0crat commented on #663
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10994](https://www.0crat.com/u/yegor256)

[2018-02-27 18:19] 0crat commented on #663
The job [#663](https://github.com/zerocracy/farm/issues/663) is now out of scope

[2018-02-27 18:27] amihaiemil commented on #229
@0crat status

[2018-02-27 18:28] 0crat commented on #229
@amihaiemil This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#229](https://github.com/zerocracy/farm/issues/229) is [in scope](http://www.zerocracy.com/policy.html#14) for 6mon
  * The role is `DEV`
  * The job is assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) for [5hr](http://www.zerocracy.com/policy.html#8)
  * There is a mo

[2018-02-27 18:44] driver733 commented on #662
Here is the stack trace

[code]

[2018-02-27 19:05] yegor256 commented on #619
@t-izbassar fixed, please check

[2018-02-27 19:05] #619 closed

[2018-02-27 19:06] #453 closed

[2018-02-27 19:10] 0crat commented on #453
The job [#453](https://github.com/zerocracy/farm/issues/453) is now out of scope

[2018-02-28 07:11] amihaiemil opened #665 "Codebase filled with hardcoded "types""
I noticed that the codebase, especially the groovy part, is filled with hardcoded String constants, called "types", such as "Make Payment", "Assign role" etc.

These constants should clearly be pulled out in an Enum or Class of constants, where they would be referenced from. Also, there should be javadocs there that would explain which is used where. Plus, we would have a good overview of what is

[2018-02-28 07:11] 0crat commented on #665
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 07:15] amihaiemil opened #666 "Oblige Projects to have an architecture.md file"
I think each project managed by ZC (including this one) should have an ``architecture.md`` file which should give a clear overview of the codebase's architecture. Something like [this](https://github.com/opencharles/charles-rest/blob/master/architecture.md)

This file should explain:

1. where the entry point is (where to start looking into if you are new on the project) and the main code executio

[2018-02-28 07:16] 0crat commented on #666
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 07:26] amihaiemil commented on #660
@yegor256 I haven't received any payment yet (and 0crat silently put the payment for this bug in the debt list, it did not comment anything here). Should it have been sent already or?

[2018-02-28 08:22] carlosmiranda commented on #640
@0crat waiting

[2018-02-28 08:23] 0crat commented on #640
@carlosmiranda The impediment for [#640](https://github.com/zerocracy/farm/issues/640) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-02-28 11:18] yegor256 commented on #666
@amihaiemil it's not a school, remember? We should not write documentation just because we want our project to be properly documented. We write it only when someone is blaming us for not having it. Up to now, there were not so many requests from programmers to document anything in this project. When they show up, we document. Also, Zerocrat is not an architect bot, it's a management bot. What happ

[2018-02-28 11:18] #666 closed

[2018-02-28 11:27] amihaiemil commented on #666
@yegor256 True, it's not a school. But this is a minimum effort to help the project a lot, and it's done only once, in the beginning :)

And whether it is a technical or management issue is very debatable. If the project has this minimum technical documentation then the management becomes easier; programmers understand better how to split their work, they deliver faster etc.

[2018-02-28 11:31] 0pdd opened #668 "penalize_for_breakup.groovy:24-28: Let's implement this..."
The puzzle `450-6f8e6904` from #450 has to be resolved:

https://github.com/zerocracy/farm/blob/2f2bd9f23f02693601572f1e03f3f3548a7fd16d/src/main/resources/com/zerocracy/stk/pmo/profile/penalize_for_breakup.groovy#L24-L28

The puzzle was created by rultor on 28-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2018-02-28 11:31] 0crat commented on #668
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 11:31] 0crat commented on #668
Job [#668](https://github.com/zerocracy/farm/issues/668) is now in scope, role is `DEV`

[2018-02-28 11:37] g4s8 commented on #450
@yegor256 PR #595 was merged, todo #668 was created, can we close?

[2018-02-28 13:55] 0crat commented on #494
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-28 16:04] 0crat commented on #606
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-28 16:14] 0crat commented on #495
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-28 16:24] g4s8 commented on #495
@0crat waiting #669

[2018-02-28 16:24] 0crat commented on #495
@g4s8 The impediment for [#495](https://github.com/zerocracy/farm/issues/495) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-02-28 16:26] 0crat commented on #279
The job [#279](https://github.com/zerocracy/farm/issues/279) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/591626591). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-02-28 17:30] yegor256 commented on #660
@amihaiemil should happen soon. We had payouts configured as "once per day". Now it's "once per hour", so let's wait a bit and see what happens.

[2018-02-28 17:33] yegor256 commented on #662
@biboran what is broken? You don't want negative points to be applied to your mentor? I didn't get the problem.

[2018-02-28 17:35] 0crat commented on #664
The job [#664](https://github.com/zerocracy/farm/issues/664) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/591736433). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-28 17:37] 0crat commented on #664
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+550](https://www.0crat.com/u/driver733)

[2018-02-28 17:37] 0crat commented on #664
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+11004](https://www.0crat.com/u/yegor256)

[2018-02-28 17:39] driver733 commented on #662
@yegor256
@biboran, the `ARC`, assigned me to the ticket and should have been punished for that. But instead, I the `DEV` got punished.

[2018-02-28 17:40] yegor256 commented on #665
@g4s8 @carlosmiranda what do you think about this?

[2018-02-28 17:43] yegor256 commented on #662
@driver733 I see, thanks, let me check

[2018-02-28 17:44] yegor256 commented on #664
@driver733 we just won't show the total anymore, see 31024aa5

[2018-02-28 17:44] #664 closed

[2018-02-28 17:45] 0crat commented on #662
The job [#662](https://github.com/zerocracy/farm/issues/662) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/591746726). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-28 17:47] 0crat commented on #662
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @biboran[/z](https://www.0crat.com/u/biboran), total is [+175](https://www.0crat.com/u/biboran)

[2018-02-28 17:48] 0crat commented on #662
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10999](https://www.0crat.com/u/yegor256)

[2018-02-28 17:48] 0crat commented on #664
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+11029](https://www.0crat.com/u/yegor256)

[2018-02-28 17:48] 0crat commented on #664
The job [#664](https://github.com/zerocracy/farm/issues/664) is now out of scope

[2018-02-28 17:50] amihaiemil opened #670 "Build logs filled with stacktraces. Are all the tests working fine?"
The build is succesful, however there are *a lot* of exceptions on the test logs, most of them starting with: ``com.jcabi.log.VerboseCallable: swallowed runtime exception:...``

Are we sure that all the tests are working fine and they are not silently throwing exceptions in separate threads? Check the Travis build, that log is also filled with stacktraces.

[2018-02-28 17:50] 0crat commented on #670
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 17:56] amihaiemil commented on #665
@yegor256 No offense but I think the complaint is quite well founded :) and it's a matter of design as well; duplication everywhere, what if one day you want to change those constants. And having them as literally strings is quite primitive -- how do you implement a report now? Work with strings everywhere? What is someone forgets a space somewhere? Whole hell breaks loose because there is a space

[2018-02-28 18:05] 0crat commented on #497
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-28 18:08] driver733 opened #671 "Merge and closed PR assigned"
As per https://github.com/yegor256/cactoos/pull/639#issuecomment-369325369

The PR has been merged and closed, but 0crat assigned it to a `DEV`.

[2018-02-28 18:08] 0crat commented on #671
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 18:24] g4s8 commented on #665
@yegor256 @amihaemil I agree with documentation for claim types, it was easy to understand what claim can do on early stages with few types, but now it becomes harder. But I don't believe that putting them into enum or class will change something. I would create some page on GitHub (claims.md) with all types and documentation.

[2018-02-28 18:27] amihaiemil commented on #665
@g4s8 Why not Enum or Class? Maybe Class, I also hate Enums, could never see their real purporse.

If you have a class in code, then they are all centralized there, you can change them easily if needed. And the documentation can be right there, in the javadocs. If you simply document the existing ones, it is still not clear:

1. where do these types come from?
2. how many are they?
3. when do I ne

[2018-02-28 18:40] 0crat commented on #284
The job [#284](https://github.com/zerocracy/farm/issues/284) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/591843435). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-02-28 18:53] amihaiemil opened #673 "Split up BundlesTest"
Currently all the ``.groovy`` bundles test are run by ``BundlesTest`` class, all at once. There is no way of running them separately and at the same timne, ``BundlesTest`` takes between 4 and 6 minutes to execute fully -- tried on 2 laptops, one with i3 and one with i5 processor.

4-6min for a test run is too long considering a task is supposed to be done in 30min. One third of that time goes away

[2018-02-28 18:53] 0crat commented on #673
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 19:04] amihaiemil opened #674 "Where is /target/testing-bundles being setup?"
I am trying to understand [BundlesTest](https://github.com/zerocracy/farm/blob/a518b3736a900edd04aaffd573ee0b9e72bfdf85/src/test/java/com/zerocracy/BundlesTest.java) so I can figure out why it fails in #672 (strangely, it only fails locally, the Travis build passes).

The first question is: where is ``/target/testing-bundles`` being written? I couldn't find it anywhere, it seems that all the groov

[2018-02-28 19:04] 0crat commented on #674
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 19:11] amihaiemil opened #675 "Technical documentation needed"
The project has very little documentation inside README.md and it also lacks Javadocs. Classes such as ``Pmo.java`` with javadocs that say simply "PMO.".

An architectural overview is really needed in order for new developers to understand the codebase. I would expect an explanation about:

1. Main types: what is a PMO? What is a stakeholder exactly? etc

2. Entry point and overall design. For ins

[2018-02-28 19:11] 0crat commented on #675
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 19:12] amihaiemil commented on #675
@yegor256 You said earlier that we should open issues if documentation is needed. Here it is. Please, take the time to write one, it cannot be that complicated.

[2018-02-28 19:16] amihaiemil commented on #284
@0crat waiting #675

[2018-02-28 19:17] amihaiemil commented on #279
@0crat waiting #675