[2019-03-22 12:33] g4s8 commented on #1950
@rultor release, tag=`0.45.8`

[2019-03-22 12:34] rultor commented on #1950
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18376-475604326)

[2019-03-22 12:52] g4s8 commented on #1950
@ypshenychka done, please look at the resumes page

[2019-03-22 12:55] rultor commented on #1950
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18376-475604326) (took me 17min)

[2019-03-22 16:10] ypshenychka commented on #1950
@g4s8 Thanks

[2019-03-22 16:10] #1950 closed

[2019-03-22 16:27] 0crat commented on #1950
Job [#1950](https://github.com/zerocracy/farm/issues/1950) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-22 16:28] 0crat commented on #1950
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-22 16:32] 0crat commented on #1950
The job [#1950](https://github.com/zerocracy/farm/issues/1950) is now out of scope

[2019-03-22 16:34] 0crat commented on #1950
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-22 20:00] nagievflash commented on #769
java.lang.IllegalStateException: [GET https://www.0crat.com/yoti?token=E_7aw6bdLHbjgI9c7rRp0IMdYEwH9gFKDBrvZQoDRSibDl6hfjb2B1QgW-HMRxvs-2SvzNChUyCqFR8-J-rw2JGkXpTj64qY7rfP2kNfmYeLjrtzPvh8afOIbuCpmUtYKYf_sfpMGvSihsBzZS3dnBaLVqkjALz9VF_Sx2firVjApAEb11U1yHXNcdtTBLPq51JizOqjZm3NvlyUAqCSf4BycfvT_OiHt-h3MQnX2RD4l87GgyA0cYrWrBSTbihGH7J1t9_XsDlkWQeqoxxFAtA5h5VkoChPI1nG4LdnRmUm9pxSVsHug3H384eKsnLwDh1GlcNvt

[2019-03-23 04:47] paulodamaso opened #1957 "Broken 0crat project xml"
I've received a message from 0crat with a XML with all projects in it:
[code]

[2019-03-23 04:47] 0crat commented on #1957
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.45.8](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1957, Action: `opened`

[2019-03-23 05:36] g4s8 commented on #1957
@0crat hello

[2019-03-23 05:39] g4s8 commented on #1957
@paulodamaso it's strange, looks like syncronization didn't work for `catalog.xml`:
there was a broken line on start of document:
[code]

[2019-03-23 05:41] 0crat commented on #1957
@g4s8 Hey, what's up, how is it going?

[2019-03-23 06:23] g4s8 commented on #1957
@paulodamaso I fixed it manually for now, so you can work with your projects

[2019-03-23 21:12] paulodamaso opened #1958 "Broken answer on @0crat `pay`"
sing the command
`@0crat pay `
Brings me the following answer:
[code]
Then saying
[code]
Makes @0crat  answer
[code]
So we should add the `+` signal before the minutes to the documentation, because 0crat expects that

[2019-03-23 21:12] 0crat commented on #1958
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-23 22:37] fviel opened #1959 "Error when applying to a project at telegram bot"
Hi, I was trying to apply to a project using the telegram bot, but I answered with an error message, as follows:
"
Fernando
apply GFV03LPPY dev $20

Zerocrat
There is an unrecoverable failure on my side. Please, submit it here:

PID: 4@e2ea5d70-b3d2-4310-b847-8848f0fd92f8, thread: zerocrat_bot Telegram Executor
com.jcabi.xml.XSLDocument[400] java.lang.IllegalArgumentException: Failed to transform

[2019-03-23 22:38] 0crat commented on #1959
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-23 22:38] 0crat commented on #1959
@fviel[/z](https://www.0crat.com/u/fviel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-26 21:06] g4s8 opened #1960 "Failed to validate github job"
Error: `com.zerocracy.radars.github.Job$Issue[133] java.lang.IllegalArgumentException: Invalid GitHub job label: "gh:january-ai/restaurant_crawling#2"`

[2019-03-26 21:07] 0crat commented on #1960
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1960](https://github.com/zerocracy/farm/issues/1960), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-26 21:13] 0crat commented on #1960
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-26 21:13] 0crat commented on #1960
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-26 21:13] 0crat commented on #1960
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-26 21:17] g4s8 commented on #1960
@rultor release, tag=`0.45.9`

[2019-03-26 21:18] rultor commented on #1960
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18402-476856149)

[2019-03-26 21:38] rultor commented on #1960
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18402-476856149) (took me 19min)

[2019-03-27 04:56] g4s8 commented on #1960
@rultor release, tag=`0.45.10`

[2019-03-27 04:57] rultor commented on #1960
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18402-476975005)

[2019-03-27 05:21] rultor commented on #1960
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18402-476975005) (took me 23min)

[2019-03-27 05:31] g4s8 commented on #1960
fixed

[2019-03-27 05:31] #1960 closed

[2019-03-27 05:48] 0crat commented on #1960
Job [#1960](https://github.com/zerocracy/farm/issues/1960) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-27 05:48] 0crat commented on #1960
Job was finished in 8 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-27 05:53] 0crat commented on #1960
The job [#1960](https://github.com/zerocracy/farm/issues/1960) is now out of scope

[2019-03-27 05:55] 0crat commented on #1960
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-27 06:51] anaumov commented on #769
Same here
[code]

[2019-03-28 00:31] paulodamaso opened #1962 "Error on claims page, project area"
Accesing claims page in project area yields the following error:
[code]

[2019-03-28 00:31] 0crat commented on #1962
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-28 02:05] paulodamaso opened #1963 "Error when assigning people using github page"
I've tried to unassign the performer from a task and assign it to a new performer using the github page, 0crat answered with an error message:
[code]

[2019-03-28 02:05] 0crat commented on #1963
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-28 08:29] g4s8 commented on #1860
@rultor release, tag=`0.45.11`

[2019-03-28 08:31] rultor commented on #1860
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18419-477497557)

[2019-03-28 08:50] rultor commented on #1860
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18419-477497557) (took me 18min)

[2019-03-28 17:38] paulodamaso opened #1964 "0crat wrong behavior"
0crat ih behaving wrongly on my project ():
- https://github.com/stryvers/life-lens-app/pull/182 0crat did not assigned `QA` and closed the job;
- 0crat is not putting job on scope when we chanhe github label to `scope`
- 0crat is not assigning anyone to job, even people have free tasks, example on https://github.com/stryvers/life-lens-app/issues/185

[2019-03-28 17:38] 0crat commented on #1964
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-29 11:11] victornoel opened #1965 "0crat assigned me a PR as REV that I had submitted"
See https://github.com/yegor256/cactoos/pull/1087

I would expect not to be assigned such PR :)

[2019-03-29 11:11] 0crat commented on #1965
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-29 11:44] krzyk opened #1966 "0crat sent my payment to wrong zold address"
I switched from paypal to zold payments and provided 0crat with the address of my wallet:
[code]

Later that day 0crat said that if `We just paid you the debt of .... (01bcbbc8-7466-4310-b932-6fb948666753)`.

I went to wts.zold.io, but my wallet is still at 0.00 ZLD.
But there is a transaction with my user id, but for a different wallet: http://www.zold.io/ledger.html?wallet=2c1a58718d817ab2

Wher

[2019-03-29 11:44] 0crat commented on #1966
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-29 12:05] amihaiemil opened #1967 "Project Report - 0crat Doesn't Know I am PO"
Every now and then, 0crat bugs me (as ARC) about sending some project report to the Project Owner. However, it does so even in the projects where I am both ARC and PO. Naturally, if I am both ARC and PO, it should not send these messages.

[2019-03-29 12:05] 0crat commented on #1967
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-29 14:58] 0crat commented on #1967
Job [#1967](https://github.com/zerocracy/farm/issues/1967) is now in scope, role is `DEV`

[2019-03-29 15:04] 0crat commented on #1967
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-03-29 15:04] 0crat commented on #1966
Job [#1966](https://github.com/zerocracy/farm/issues/1966) is now in scope, role is `DEV`

[2019-03-29 15:07] 0crat commented on #1966
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1966](https://github.com/zerocracy/farm/issues/1966), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-29 15:09] 0crat commented on #1966
Job `gh:zerocracy/farm#1966` already assigned to @g4s8, can't assign to @g4s8

[2019-03-29 15:13] 0crat commented on #1966
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-29 15:13] 0crat commented on #1966
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-03-29 18:54] 0pdd opened #1968 "People.java:375-379: Refactor wallet usage, wallet..."
The puzzle `1966-8492b125` from #1966 has to be resolved:

https://github.com/zerocracy/farm/blob/a11ac078b0e88b47372a7630338c00b992a44677/src/main/java/com/zerocracy/pmo/People.java#L375-L379

The puzzle was created by Kirill on 29-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-03-29 18:54] 0pdd commented on #1966
@krzyk the puzzle [#1968](https://github.com/zerocracy/farm/issues/1968) is still not solved.

[2019-03-29 18:54] 0crat commented on #1968
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-29 18:55] 0crat commented on #1968
Job [#1968](https://github.com/zerocracy/farm/issues/1968) is now in scope, role is `DEV`

[2019-03-29 18:56] g4s8 commented on #1966
@rultor release, tag=`0.45.12`

[2019-03-29 18:57] rultor commented on #1966
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18428-478112084)

[2019-03-29 19:00] g4s8 opened #1969 "Recharge project if direct payment failed"
IF project doesn't have enough amount of cash to make direct payment (`@0crat pay` or `@0crat extra`) we should try to recharge project and fail the claim. Now only reputation points are added.

[2019-03-29 19:05] 0crat commented on #1969
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1969](https://github.com/zerocracy/farm/issues/1969), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-03-29 19:06] 0crat commented on #1969
Job `gh:zerocracy/farm#1969` already assigned to @g4s8, can't assign to @g4s8

[2019-03-29 19:08] 0crat commented on #1969
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-29 19:10] 0crat commented on #1969
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-29 19:11] 0crat commented on #1969
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-29 19:14] g4s8 commented on #1966
@rultor stop

[2019-03-29 19:16] rultor commented on #1966
@g4s8 OK, I'll try to stop current task.

[2019-03-29 19:16] rultor commented on #1966
@g4s8 @krzyk Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18428-478117605) (spent 19min)

[code]

[2019-03-29 19:16] g4s8 commented on #1969
@rultor release, tag=`0.45.16`

[2019-03-29 19:19] rultor commented on #1969
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18429-478118455)

[2019-03-29 19:36] rultor commented on #1969
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18429-478118455) (took me 16min)

[2019-03-29 20:40] g4s8 commented on #1969
@rultor release, tag=`0.45.17`

[2019-03-29 20:41] rultor commented on #1969
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18429-478142332)

[2019-03-29 21:00] rultor commented on #1969
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18429-478142332) (took me 17min)

[2019-03-30 03:50] paulodamaso opened #1970 "0crat stuck on QA"
0crat is stuck on QA on issue https://github.com/stryvers/life-lens-app/pull/134
It is still in performer agenda, albeit being closed and merged. QA can't perform QA review, because 0crat says it has no performer. Trying to assign someone, 0crat says that job is closed, and when trying to open the issue telling `@0crat in` 0crat says that job is already in scope.

We need to close this job for all

[2019-03-30 03:50] 0crat commented on #1970
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-30 04:47] g4s8 commented on #1970
@paulodamaso as I can see QA review was done in this issue: https://www.0crat.com/footprint/GFV03LPPY/8aa9600d-c4ec-4c01-92ed-e8619565c2f0

[2019-03-30 04:48] paulodamaso opened #1971 "Remove inactive and users on vacation from project"
0crat should automatically remove from projects users that are inactive or on vacation for too long.

[2019-03-30 04:48] 0crat commented on #1971
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-30 05:23] g4s8 commented on #1969
@rultor release, tag=`0.45.18`

[2019-03-30 05:24] rultor commented on #1969
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18429-478209106)

[2019-03-30 05:41] rultor commented on #1969
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18429-478209106) (took me 15min)

[2019-03-30 06:22] g4s8 commented on #1969
@rultor release, tag=`0.45.19`

[2019-03-30 06:22] rultor commented on #1969
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18429-478212531)

[2019-03-30 06:39] rultor commented on #1969
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18429-478212531) (took me 15min)

[2019-03-30 07:41] g4s8 commented on #1969
fixed

[2019-03-30 07:41] #1969 closed

[2019-03-30 07:42] g4s8 commented on #1966
@krzyk it should be fixed now

[2019-03-30 07:50] sereshqua opened #1972 "Projects are not displayed on 0crat user's page when ARC invites a zerocracy member directly to GitHub repo of the project"
**Steps to reproduce**:

1) project architect invites a zerocracy member to GitHub repositories (for instance: [https://github.com/sunsofterp/portal](https://github.com/sunsofterp/portal))

2) zerocracy member accepts invitation

3) when opening user's page ([https://www.0crat.com/u/sereshqua](https://www.0crat.com/u/sereshqua) - `portal` project is not displayed in there

**Expected result**: `po

[2019-03-30 07:50] 0crat commented on #1972
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-30 07:50] 0crat commented on #1972
@sereshqua[/z](https://www.0crat.com/u/sereshqua) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-30 07:57] 0crat commented on #1969
Job [#1969](https://github.com/zerocracy/farm/issues/1969) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-30 07:57] 0crat commented on #1969
Job was finished in 12 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-30 08:04] 0crat commented on #1969
The job [#1969](https://github.com/zerocracy/farm/issues/1969) is now out of scope

[2019-03-30 08:04] 0crat commented on #1969
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-30 14:30] ebercamargo commented on #1932
@g4s8 You're back to normal.

[2019-03-30 14:41] ebercamargo opened #1973 "I've lost gains in 0cracy"
Hi,

I had several gains in 0cracy, yesterday they disappeared from my account, are not on paypal and are not in my wallet of Zoldy, would like to know how to solve this?

My account is 0cracy: @ebercamargo
Yesterday: 29/03/2019

Sure of the resolution of this inconvenience.

![image](https://user-images.githubusercontent.com/37782410/55289812-b13e4900-53a1-11e9-8259-bd35f616f61f.png)

tks.

[2019-03-30 14:41] 0crat commented on #1973
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-03-30 14:41] 0crat commented on #1973
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-30 18:00] krzyk commented on #1966
@g4s8 thanks

[2019-03-30 18:00] #1966 closed

[2019-03-30 18:19] 0crat commented on #1966
Job [#1966](https://github.com/zerocracy/farm/issues/1966) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-03-30 18:23] 0crat commented on #1966
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-30 18:28] 0crat commented on #1966
The job [#1966](https://github.com/zerocracy/farm/issues/1966) is now out of scope

[2019-03-30 18:28] 0crat commented on #1966
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-03-31 19:09] victornoel commented on #1965
@g4s8 it happened again: https://github.com/yegor256/cactoos/pull/1092

[2019-04-01 08:27] g4s8 commented on #1965
@victornoel thanks, but it's a duplicate of #1787

[2019-04-01 08:27] #1965 closed

[2019-04-01 08:28] 0crat commented on #1965
Job `gh:zerocracy/farm#1965` is not assigned, can't get performer

[2019-04-01 08:28] g4s8 commented on #1973
@ebercamargo isn't it a duplicate of #1966 bug?

[2019-04-01 08:41] g4s8 commented on #1860
Done - paypal option was removed

[2019-04-01 08:41] #1860 closed

[2019-04-01 08:57] 0crat commented on #1860
Job [#1860](https://github.com/zerocracy/farm/issues/1860) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-04-01 09:01] 0crat commented on #1860
The job [#1860](https://github.com/zerocracy/farm/issues/1860) is now out of scope

[2019-04-01 09:04] 0crat commented on #1860
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-01 10:06] g4s8 commented on #1969
@rultor release, tag=`0.45.20`

[2019-04-01 10:07] rultor commented on #1969
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18429-478518112)

[2019-04-01 10:25] rultor commented on #1969
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18429-478518112) (took me 16min)

[2019-04-01 11:09] sereshqua commented on #1972
@g4s8 can you check it out please?

[2019-04-01 11:28] g4s8 commented on #1972
@sereshqua the description is not fully correct - if someone invites you to Github repository it doesn't (and should not) give you any role in Zerocracy, but if you get a role manually (PO can edit project files, e.g. `roles.xml`), so when you got the role this way, your project list won't be updated. So please change ticket's title and description and I'll add it to scope.

[2019-04-01 11:37] ebercamargo commented on #1973
@g4s8 No, this is because of the lack of money.

[2019-04-01 11:39] sereshqua commented on #1972
@g4s8 thanks for the info; updated title and description

[2019-04-01 12:26] 0crat commented on #1972
Job [#1972](https://github.com/zerocracy/farm/issues/1972) is now in scope, role is `DEV`

[2019-04-01 12:28] g4s8 commented on #1973
@ebercamargo it's not technically possible to send payment to "nowhere", could you please clarify your problem?

[2019-04-01 12:33] 0crat commented on #1972
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-01 12:42] ebercamargo commented on #1973
@g4s8
1 - I set ocrat bot : /wallet zold 87a77d9144b8034a - this is my wallet in Zold, in accoding http://www.zerocracy.com/policy.html#20

![image](https://user-images.githubusercontent.com/37782410/55328021-ced2e780-5461-11e9-8e1e-4698ff6e229b.png)

2 - The bot send my gains to wallet ebercamargo, that did not exist at that time;

3 - And the money was lost.

[2019-04-01 12:43] g4s8 commented on #1973
@ebercamargo if you saw the message "We just paid you the debt" with WTS

[2019-04-01 12:43] #1973 closed

[2019-04-01 12:47] ebercamargo commented on #1973
@g4s8 Sorry but the problem is the bot, he can not send to a wallet that was not informed to him.

[2019-04-01 12:56] g4s8 commented on #1973
@ebercamargo most probably you've changed your wallet for `zold` what is not valid address, so it's a duplicate of https://github.com/zerocracy/farm/issues/1966

[2019-04-01 13:01] 0crat commented on #1973
Job `gh:zerocracy/farm#1973` is not assigned, can't get performer

[2019-04-01 13:01] 0crat commented on #1973
This job is not in scope

[2019-04-01 20:56] denis-konovalyenko opened #1974 "An unrecoverable failure on closing a job"
There is an unrecoverable failure on my side.
[code]
0.45.20: CID: [4f8a8d8d-e5bf-42d6-b8b3-1a67398c8ca4](https://www.0crat.com/footprint/GFV03LPPY/4f8a8d8d-e5bf-42d6-b8b3-1a67398c8ca4), Type: "Close job"

[2019-04-01 20:56] 0crat commented on #1974
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-02 07:47] g4s8 commented on #1974
@denis-konovalyenko it's similar to https://github.com/zerocracy/farm/issues/1233

[2019-04-02 07:47] 0crat commented on #1974
Job [#1974](https://github.com/zerocracy/farm/issues/1974) is now in scope, role is `DEV`

[2019-04-02 07:54] 0crat commented on #1974
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2019-04-02 10:17] yegor256 opened #1975 "/funded callback"
Every time a project receives funding via Stripe, we have to `GET` call `https://www.rehttp.net/p/https://wts.zold.io/funded?amount=29.95`. Here `29.95` is the amount in dollars we charged via Stripe.

It will be received: https://github.com/zold-io/wts.zold.io/issues/201

Don't forget to provide the authenticating token, to make sure the call is made by 0crat.

[2019-04-02 10:17] 0crat commented on #1975
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-02 11:26] sereshqua opened #1976 "Zerocrat TG: /wallet command is NOT removed"
**Steps to reproduce:**

1) Open chat with Zerocrat in telegram

2) Type `/` and see list of available commands

3) Observe that `/wallet` command is NOT removed from the list (however it does NOT work anymore or it is disabled)

<img width="512" alt="Screenshot 2019-04-02 at 14 24 49" src="https://user-images.githubusercontent.com/10097808/55399225-3157e080-5553-11e9-8ef3-6b542643c905.png">

[2019-04-02 11:26] 0crat commented on #1976
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-02 11:26] 0crat commented on #1976
@sereshqua[/z](https://www.0crat.com/u/sereshqua) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-02 12:13] g4s8 commented on #1976
@yegor256 please remove wallet command from telegram bot (you're bot admin)

[2019-04-02 12:14] g4s8 commented on #1975
@0crat assign me

[2019-04-02 12:17] 0crat commented on #1975
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1975](https://github.com/zerocracy/farm/issues/1975), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-04-02 12:19] 0crat commented on #1975
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-02 12:21] 0crat commented on #1975
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-02 18:04] Umbrah opened #1977 "NullPointerException when identifying through Yoti"
Here is the stacktrace I got when trying to identify through Yoti:

![image](https://user-images.githubusercontent.com/26185895/55425330-e0fc7500-558a-11e9-9c31-ad3fd1526998.png)
[code]
com.zerocracy.tk.profile.TkYoti.act(TkYoti.java:86) is about getting birth date, but when Yoti asks me to give permissions to 0crat, it doesn't show birth date in list of needed permissions - maybe problem is there

[2019-04-02 18:04] 0crat commented on #1977
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-02 18:04] 0crat commented on #1977
@umbrah[/z](https://www.0crat.com/u/umbrah) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-02 18:46] 0crat commented on #1977
Job [#1977](https://github.com/zerocracy/farm/issues/1977) is now in scope, role is `DEV`

[2019-04-02 18:53] 0crat commented on #1977
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-04-02 22:18] pinaf commented on #1951
@g4s8 is the PO @yegor256 ?

[2019-04-04 09:49] yegor256 opened #1978 "start Zold beneficiary name with @"
When you call `/do-pay` in WTS, you should start the name of the beneficiary with `@` sign, to avoid confusions. Please, implement it ASAP.

[2019-04-04 09:49] 0crat commented on #1978
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-04 10:33] 0crat commented on #1978
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1978](https://github.com/zerocracy/farm/issues/1978), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-04-04 10:39] 0crat commented on #1978
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-04 10:41] 0crat commented on #1978
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-04 11:02] g4s8 commented on #1978
@rultor release, tag=`0.45.21`

[2019-04-04 11:04] rultor commented on #1978
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18477-479851957)

[2019-04-04 11:06] yegor256 commented on #1975
@g4s8 this is pretty urgent, thanks!

[2019-04-04 11:20] rultor commented on #1978
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18477-479851957) (spent 16min)

[code]

[2019-04-04 11:38] g4s8 commented on #1975
@rultor release, tag=`0.45.21`

[2019-04-04 11:40] rultor commented on #1975
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18478-479862138)

[2019-04-04 11:59] rultor commented on #1975
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18478-479862138) (took me 17min)

[2019-04-04 12:07] yegor256 commented on #1975
@g4s8 thanks!

[2019-04-04 12:07] #1975 closed

[2019-04-04 12:25] 0crat commented on #1975
Job [#1975](https://github.com/zerocracy/farm/issues/1975) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-04-04 12:25] 0crat commented on #1975
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-04 12:29] 0crat commented on #1975
The job [#1975](https://github.com/zerocracy/farm/issues/1975) is now out of scope

[2019-04-04 12:31] 0crat commented on #1975
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-04 19:03] yegor256 commented on #1978
@g4s8 I believe it's fixed

[2019-04-04 19:03] #1978 closed

[2019-04-04 19:03] 0crat commented on #1978
I'm not managing `zerocracy/farm` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2019-04-04 20:11] g4s8 opened #1979 "catalog.xml is broken"
File `catalog.xml` in `PMO` becomes broken, it contains only project ids.
[catalog.gz](https://github.com/zerocracy/farm/files/3045282/catalog.gz)

[2019-04-04 20:11] 0crat commented on #1979
@g4s8[/z](https://www.0crat.com/u/g4s8) I'm not managing this repo, remove the [webhook](https://github.com/zerocracy/farm/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `zerocracy/farm` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](https://www.

[2019-04-04 20:12] 0crat commented on #1979
I'm not managing `zerocracy/farm` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2019-04-04 20:12] 0crat commented on #1979
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.45.21](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1979, Action: `labeled`

[2019-04-04 22:46] g4s8 commented on #1979
@0crat assign me

[2019-04-04 22:48] 0crat commented on #1979
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1979](https://github.com/zerocracy/farm/issues/1979), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-04-04 22:54] 0crat commented on #1979
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-04 22:54] 0crat commented on #1979
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-04 22:55] 0crat commented on #1979
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-05 09:06] atapin opened #1980 "0crat assigned the issue with closed PR"
The issue [cactoos#941](https://github.com/yegor256/cactoos/issues/941) has a closed [PR](https://github.com/yegor256/cactoos/pull/995). But the issue was not closed, so 0crat [wants](https://www.0crat.com/footprint/C63314D6Z/8249f7c5-ba0c-4a80-b928-09fb2e1c3e91) to reassign it to me.

[2019-04-05 10:06] g4s8 commented on #1979
@rultor release, tag=`0.45.22`

[2019-04-05 10:07] 0crat commented on #1980
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-05 10:07] 0crat commented on #1980
@atapin[/z](https://www.0crat.com/u/atapin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-05 10:07] rultor commented on #1979
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18490-480220942)

[2019-04-05 10:21] rultor commented on #1979
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18490-480220942) (spent 13min)

[code]

[2019-04-05 11:06] g4s8 commented on #1979
@rultor release, tag=`0.45.22`

[2019-04-05 11:08] rultor commented on #1979
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18490-480236731)

[2019-04-05 11:20] rultor commented on #1979
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18490-480236731) (spent 12min)

[code]

[2019-04-05 11:26] g4s8 commented on #1979
@rultor release, tag=`0.45.22`

[2019-04-05 11:27] rultor commented on #1979
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18490-480241545)

[2019-04-05 11:45] rultor commented on #1979
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18490-480241545) (took me 16min)

[2019-04-05 14:13] g4s8 commented on #1980
@atapin 0crat doesn't link issues and PRs, if issue is open it can assign a performer to it.

[2019-04-05 14:13] #1980 closed

[2019-04-05 14:15] 0crat commented on #1980
Job `gh:zerocracy/farm#1980` is not assigned, can't get performer

[2019-04-05 14:25] alex-semenyuk opened #1981 "WBS link leads to blank page"
https://www.0crat.com/u/{user-name}/wbs leads to blank page

[2019-04-05 14:25] 0crat commented on #1981
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-05 14:25] 0crat commented on #1981
@alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-05 17:00] ammaratef45 opened #1982 "Issue refreshing the board page"
I was trying to refresh the board page and I got this message

0.45.22, ${buildNumber}

	at org.takes.facets.fallback.TkFallback.error(TkFallback.java:234)
	at org.takes.facets.fallback.TkFallback.access$100(TkFallback.java:54)
	at org.takes.facets.fallback.TkFallback$2.body(TkFallback.java:202)
	at org.takes.rs.RsWrap.body(RsWrap.java:65)
	at org.takes.rs.RsPrint.printBody(RsPrint.java:161)
	at o

[2019-04-05 17:00] 0crat commented on #1982
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-05 17:01] 0crat commented on #1982
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-05 18:14] g4s8 commented on #1982
@ammaratef45 thanks for reporting, but it was caused by manual file editing, and was automatically fixed now.

[2019-04-05 18:14] #1982 closed

[2019-04-05 18:31] 0crat commented on #1982
Job `gh:zerocracy/farm#1982` is not assigned, can't get performer

[2019-04-05 18:31] 0crat commented on #1982
This job is not in scope

[2019-04-06 11:41] sereshqua opened #1983 "@0crat does not react on GitHub message when it is being tagged via edit"
**Steps to reproduce**:

- [ ] 1) Tag @0pdd (by mistake) instead of @0pdd (see [here](https://github.com/yegor256/cactoos/issues/939#issuecomment-480496552)) to write a result of quality review

- [ ] 2) Edit message to tag @0crat instead of @0pdd and see if @0crat is working correctly

- [ ] 3) See that nothing happens

**Expected result**: When user by mistake does not tag @0crat firstly and tag

[2019-04-06 11:41] 0crat commented on #1983
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-06 11:41] 0crat commented on #1983
@sereshqua[/z](https://www.0crat.com/u/sereshqua) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-06 17:11] ebercamargo opened #1984 "BUG in my Agenda"
Item 181 left my Agenda in less than 10 days.

Id Project: GFV03LPPY

https://github.com/stryvers/life-lens-app/issues/181

This is one image of my Agenda today:

![image](https://user-images.githubusercontent.com/37782410/55672745-e6044180-5874-11e9-8a2f-ea49f2b45e04.png)

I request that my reputation be adjusted:

![image](https://user-images.githubusercontent.com/37782410/55672774-3c718000-5875

[2019-04-06 17:11] 0crat commented on #1984
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-06 17:11] 0crat commented on #1984
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-08 07:55] emilianodellacasa opened #1985 "Issues assigned not in agenda"
I have assigned issues (like [this](https://github.com/stryvers/life-lens-app/issues/22#issuecomment-480722345)) that are not in my agenda

[2019-04-08 07:55] 0crat commented on #1985
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-08 07:55] 0crat commented on #1985
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-08 09:50] g4s8 commented on #1984
@ebercamargo sorry, I don't understand you, please clarify your bug-report and include in your report such sections as: "what is broken" and "what are you expecting to see", also this post may help you: https://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2019-04-08 11:58] ebercamargo commented on #1984
@g4s8 You answered minah question, I can not trust the bot. Even though this is a bug, you do not want to or can not understand how. Thank you.

[2019-04-08 12:09] amorenew commented on #1977
I have faced the same error
[code]

[2019-04-08 13:38] #1984 closed

[2019-04-08 13:41] 0crat commented on #1984
Job `gh:zerocracy/farm#1984` is not assigned, can't get performer

[2019-04-08 13:42] 0crat commented on #1977
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1977](https://github.com/zerocracy/farm/issues/1977), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-04-08 13:43] 0crat commented on #1977
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-08 14:44] g4s8 commented on #1977
@yegor256 can you please check that yoti application has required permissions enabled? We're using: `GivenNames`, `FamilyName`, `DateOfBirth`.

[2019-04-08 14:55] yegor256 commented on #1977
@g4s8 yes, see:
<img width="492" alt="Screen Shot 2019-04-08 at 5 55 03 PM" src="https://user-images.githubusercontent.com/526301/55734005-77b3b080-5a27-11e9-8c46-3ff9db0b7335.png">

[2019-04-08 15:47] amorenew commented on #1977
Yoti shares Id, Full name and Given Name
but Age not in the Yoti request

![image](https://user-images.githubusercontent.com/2842459/55737901-5d2d0780-5a26-11e9-830e-bf50ae25fd93.png)

[2019-04-08 16:25] amorenew commented on #1977
no birth date in the mobile app request too
![device-2019-04-08-182337 mp4_snapshot_00 31 316](https://user-images.githubusercontent.com/2842459/55740569-a6cc2100-5a2b-11e9-87ba-b60bf2fe799f.jpg)

[2019-04-08 16:50] g4s8 opened #1986 "Fund by zold failed"
`fund_by_zold` script failed with error (https://sentry.io/organizations/zerocracy/issues/973589879/?project=1227515&query=is%3Aunresolved&statsPeriod=14d&utc=true):
[code]

[2019-04-08 16:51] 0crat commented on #1986
Job [#1986](https://github.com/zerocracy/farm/issues/1986) is now in scope, role is `DEV`

[2019-04-08 16:57] 0crat commented on #1986
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-08 19:20] g4s8 commented on #1946
@g4s8 fixed in https://github.com/zerocracy/farm/commit/4c7717ba70f09028c7d6bb296d7babd9f7a53b36

[2019-04-08 19:20] #1946 closed

[2019-04-08 19:40] 0crat commented on #1946
Job [#1946](https://github.com/zerocracy/farm/issues/1946) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-04-08 19:45] 0crat commented on #1905
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1905](https://github.com/zerocracy/farm/issues/1905), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-04-08 19:45] 0crat commented on #1946
The job [#1946](https://github.com/zerocracy/farm/issues/1946) is now out of scope

[2019-04-08 19:46] 0crat commented on #1946
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-08 19:46] 0crat commented on #1905
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-09 09:42] #1905 closed

[2019-04-09 09:42] 0pdd commented on #1905
The puzzle `1775-79469cb7` has disappeared from the source code, that's why I closed this issue.

[2019-04-09 09:42] 0pdd commented on #1775
@emilianodellacasa the only puzzle [#1905](https://github.com/zerocracy/farm/issues/1905) is solved here.

[2019-04-09 09:43] 0pdd opened #1989 "pay_architect_for_pull_request.groovy:47-50: MkPull.merge..."
The puzzle `1897-424356db` from #1897 has to be resolved:

https://github.com/zerocracy/farm/blob/445546f5dff55aadc287f3bd67bcca4562b1866f/src/main/groovy/com/zerocracy/stk/pm/cost/pay_architect_for_pull_request.groovy#L47-L50

The puzzle was created by Kirill on 08-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2019-04-09 09:43] 0pdd commented on #1897
@emilianodellacasa the puzzle [#1989](https://github.com/zerocracy/farm/issues/1989) is still not solved.

[2019-04-09 09:43] g4s8 commented on #1948
@rultor release, tag=`0.45.23`

[2019-04-09 09:43] 0crat commented on #1989
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-09 09:44] rultor commented on #1948
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18521-481180629)

[2019-04-09 09:45] g4s8 commented on #1897
@emilianodellacasa it should be fixed in #1987

[2019-04-09 09:50] emilianodellacasa commented on #1897
@g4s8 great, thanks

[2019-04-09 09:50] #1897 closed

[2019-04-09 09:59] 0crat commented on #1989
Job [#1989](https://github.com/zerocracy/farm/issues/1989) is now in scope, role is `DEV`

[2019-04-09 10:00] rultor commented on #1948
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18521-481180629) (spent 16min)

[code]

[2019-04-09 10:16] 0crat commented on #1905
Job [#1905](https://github.com/zerocracy/farm/issues/1905) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-04-09 10:22] 0crat commented on #1897
Job `gh:zerocracy/farm#1897` is not assigned, can't get performer

[2019-04-09 10:22] 0crat commented on #1905
Job was finished in 14 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-09 10:27] 0crat commented on #1897
The job [#1897](https://github.com/zerocracy/farm/issues/1897) is now out of scope

[2019-04-09 10:28] 0crat commented on #1905
The job [#1905](https://github.com/zerocracy/farm/issues/1905) is now out of scope

[2019-04-09 10:29] 0crat commented on #1905
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-09 11:34] g4s8 commented on #1948
@rultor release, tag=`0.45.23`

[2019-04-09 11:35] rultor commented on #1948
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18521-481214281)

[2019-04-09 11:48] rultor commented on #1948
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18521-481214281) (spent 12min)

[code]

[2019-04-10 11:06] 0crat commented on #1978
The job [#1978](https://github.com/zerocracy/farm/issues/1978) is now out of scope

[2019-04-10 11:18] 0crat commented on #1978
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-11 07:45] denis-konovalyenko opened #1992 "There is a message from 0crat that there is a new applicant but their resume is absent"
0crat chat message:
[code]
By following the link - https://www.0crat.com/u/denis-konovalyenko/resumes#resume-cviniciussdias I faced with an empty list page:

![image](https://user-images.githubusercontent.com/15904097/55939565-becbbc80-5c46-11e9-9f99-59717ec496ae.png)

[2019-04-11 07:45] 0crat commented on #1992
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-11 08:33] g4s8 commented on #1992
@denis-konovalyenko you can't see the resume because this user was invited already:

[2019-04-11 08:35] denis-konovalyenko commented on #1992
@g4s8 , thanks for the clarification! Do you happen to know if there an issue for being more informative about that from 0crat?

[2019-04-11 08:54] denis-konovalyenko opened #1993 "Be more informative on the applicant's resume status"
It is possible to be an examiner and get into the situation when an applicant's resume is not available for the reasons that someone else has already invited him/her before you even get to the resumes page (for more information please refer to issue #1992).

It would be fair to make another notice from 0crat about the changes. E.g.:

_Since you were not managed to look at the resume for more than

[2019-04-11 08:54] 0crat commented on #1993
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-11 08:55] denis-konovalyenko commented on #1992
@g4s8 , I have creaed the issue #1993. Thanks again!

[2019-04-11 08:55] #1992 closed

[2019-04-11 09:09] g4s8 commented on #1993
@denis-konovalyenko correct, we should notify mentor when student invited by someone else

[2019-04-11 09:24] 0crat commented on #1992
Job `gh:zerocracy/farm#1992` is not assigned, can't get performer

[2019-04-11 09:25] 0crat commented on #1993
Job [#1993](https://github.com/zerocracy/farm/issues/1993) is now in scope, role is `DEV`

[2019-04-11 09:25] 0crat commented on #1992
This job is not in scope

[2019-04-11 09:35] 0crat commented on #1993
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2019-04-11 11:47] g4s8 commented on #1986
@g4s8 fixed in https://github.com/zerocracy/farm/commit/b52b1ff78efd17a2434541a79f3813acaa55a2a1

[2019-04-11 11:47] #1986 closed

[2019-04-11 11:53] g4s8 commented on #1947
@rultor release, tag=`0.45.23`

[2019-04-11 11:54] rultor commented on #1947
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18537-482083417)

[2019-04-11 12:16] rultor commented on #1947
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18537-482083417) (took me 20min)

[2019-04-11 12:16] 0crat commented on #1986
Job `gh:zerocracy/farm#1986` is not assigned, can't get performer

[2019-04-11 12:19] 0crat commented on #1507
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1507](https://github.com/zerocracy/farm/issues/1507), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-04-11 12:20] 0crat commented on #1986
The job [#1986](https://github.com/zerocracy/farm/issues/1986) is now out of scope

[2019-04-11 12:21] 0crat commented on #1507
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-11 13:04] denis-konovalyenko opened #1994 "Make the status message less confusing"
When the ``status`` command is issued, 0crat prints out the information it knows about the job:

@denis-konovalyenko This is what I know about this job in GFV03LPPY, as in §32:

The job #7 is in scope for 11days
The role is DEV
The job is assigned to @denis-konovalyenko/z for 11days
There is a monetary reward attached
**@denis-konovalyenko/z will get 50% of their hourly rate for this job**
The job

[2019-04-11 13:04] 0crat commented on #1994
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-11 13:29] g4s8 commented on #1947
@g4s8 fixed

[2019-04-11 13:29] #1947 closed

[2019-04-11 13:51] 0crat commented on #1947
Job `gh:zerocracy/farm#1947` is not assigned, can't get performer

[2019-04-11 13:58] 0crat commented on #1947
The job [#1947](https://github.com/zerocracy/farm/issues/1947) is now out of scope

[2019-04-11 16:07] 0pdd opened #1996 "_after.groovy:23-25: When implementing 1507 this test was..."
The puzzle `1507-c0ca2252` from #1507 has to be resolved:

https://github.com/zerocracy/farm/blob/45893936ef99b54d706bae54ea7dd30aba9fca36/src/test/resources/com/zerocracy/bundles/upbcWp_remove_stale_users/_after.groovy#L23-L25

The puzzle was created by Kirill on 11-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem i

[2019-04-11 16:07] 0pdd commented on #1507
@krzyk the puzzle [#1996](https://github.com/zerocracy/farm/issues/1996) is still not solved.

[2019-04-11 16:08] 0crat commented on #1996
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-11 16:13] 0crat commented on #1996
Job [#1996](https://github.com/zerocracy/farm/issues/1996) is now in scope, role is `DEV`

[2019-04-11 16:43] g4s8 commented on #1113
@rultor release, tag=`0.45.24`

[2019-04-11 16:51] g4s8 commented on #1113
@rultor release, tag=0.45.24

[2019-04-11 17:14] g4s8 commented on #1113
@rultor release, tag=`0.45.24`

[2019-04-11 17:14] g4s8 commented on #1507
@krzyk it was implemented in #1995 - now all metrics will be removed after 90 days

[2019-04-11 17:14] #1507 closed

[2019-04-11 17:16] rultor commented on #1113
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18543-482193209)

[2019-04-11 17:35] 0crat commented on #1507
Job [#1507](https://github.com/zerocracy/farm/issues/1507) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-04-11 17:35] 0crat commented on #1507
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-11 17:36] rultor commented on #1113
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/18543-482193209) (took me 17min)

[2019-04-11 17:40] rultor commented on #1113
@amihaiemil @g4s8 Invalid release tag `0.45.24` specified. There is already a release `0.45.24` newer than the given release in this repository.

[2019-04-11 17:40] rultor commented on #1113
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-04-11 17:41] 0crat commented on #1507
The job [#1507](https://github.com/zerocracy/farm/issues/1507) is now out of scope

[2019-04-11 17:42] 0crat commented on #1507
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-11 17:42] g4s8 commented on #1113
@amihaiemil done, now `blanks.xml` will be counted in election process

[2019-04-11 17:42] #1113 closed

[2019-04-11 17:58] 0crat commented on #1113
Job `gh:zerocracy/farm#1113` is not assigned, can't get performer

[2019-04-11 17:58] 0crat commented on #1113
The job [#1113](https://github.com/zerocracy/farm/issues/1113) is now out of scope

[2019-04-11 18:01] g4s8 commented on #1948
@g4s8 done

[2019-04-11 18:01] #1948 closed

[2019-04-11 18:18] 0crat commented on #1948
Job [#1948](https://github.com/zerocracy/farm/issues/1948) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-04-11 18:21] 0crat commented on #1948
The job [#1948](https://github.com/zerocracy/farm/issues/1948) is now out of scope

[2019-04-11 18:23] 0crat commented on #1948
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-12 18:41] vzurauskas commented on #1977
The same just happened to me.

0.45.24, ${buildNumber}

[code]

[2019-04-12 21:42] g4s8 commented on #1977
@rultor release, tag=`0.45.25`

[2019-04-12 21:43] rultor commented on #1977
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18557-482732235)

[2019-04-12 21:52] rultor commented on #1977
@umbrah @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18557-482732235) (spent 8min)

[code]

[2019-04-13 17:56] g4s8 commented on #1977
@rultor release, tag=`0.45.25`

[2019-04-13 17:57] rultor commented on #1977
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18557-482852657)

[2019-04-13 18:07] rultor commented on #1977
@umbrah @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18557-482852657) (spent 9min)

[code]

[2019-04-13 18:34] g4s8 commented on #1977
@rultor release, tag=`0.45.25`

[2019-04-13 18:35] rultor commented on #1977
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18557-482860605)

[2019-04-13 18:54] rultor commented on #1977
@umbrah @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18557-482860605) (spent 19min)

[code]

[2019-04-13 19:28] g4s8 commented on #1977
@rultor release, tag=`0.45.25`

[2019-04-13 19:30] rultor commented on #1977
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18557-482871324)

[2019-04-13 19:33] g4s8 commented on #1977
@rultor stop

[2019-04-13 19:34] rultor commented on #1977
@g4s8 OK, I'll try to stop current task.

[2019-04-13 19:34] rultor commented on #1977
@umbrah @g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18557-482871738) (spent 5min)

[code]

[2019-04-13 19:43] g4s8 commented on #1977
@rultor release, tag=`0.45.25`

[2019-04-13 19:44] rultor commented on #1977
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18557-482873108)

[2019-04-13 20:01] rultor commented on #1977
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18557-482873108) (took me 16min)

[2019-04-13 20:39] amorenew commented on #1977
@g4s8 I have tested right now after rultor Done

I got the same error

Internal application error
0.45.25, ${buildNumber}

Please, report it here. We will do our best to fix it as soon as possible. We're very sorry.

[code]

[2019-04-13 20:41] amorenew commented on #1977
is it caching so I need to test after several hours?

[2019-04-14 07:06] vzurauskas commented on #1977
I just tried again, same result. The date of birth still wasn't sent, this could be the reason.

[2019-04-14 08:55] g4s8 commented on #1977
@vzurauskas @amorenew nothing changed, I've rolled back recent commits, because new yoti library has conflicting dependency which causes runtime errors. I'll notify you when I done with it.

[2019-04-14 16:04] vzurauskas opened #1997 "There is no full reference of Zerocrat's commands"
There should be a highly visible page (e.g. linked from [policy](http://www.zerocracy.com/policy.html)) with:
- all possible Zerocrat's commands
- all possible parameters for these commands
- descriptions of what the commands and parameters do.

Currently, the closest thing to this as far as I can tell is Zerocrat's Telegram chat, where if I enter "/" I get some possible commands, but not all (e.g

[2019-04-14 16:04] 0crat commented on #1997
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-14 16:04] 0crat commented on #1997
@vzurauskas[/z](https://www.0crat.com/u/vzurauskas) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-14 16:18] g4s8 commented on #1997
@vzurauskas you can use `help` (or any invalid command) to get full list of supported commands in chat bot

[2019-04-14 16:32] vzurauskas commented on #1997
@g4s8 I tried it, but not all commands are listed there, e.g. `maxagenda` is missing.

If I try some of them, I get a list of possible parameters with descriptions, so that part is ok. I guess it's just that the list of commands needs to be updated.

[2019-04-14 16:43] vzurauskas commented on #1997
@g4s8 Actually, `maxagenda` command doesn't seem to exist, but there used to be some command to set the max number of jobs in your agenda which sounded something like that, and it's not in the list. That's why I suspect there might be other commands missing.

[2019-04-14 16:50] g4s8 commented on #1997
@vzurauskas

it always prints full list of supported commands (it's generated programmatically, the list is not static)

The command you are looking for called `option`, it changes user options, e.g. to change max-agenda items use `option maxJobsInAgenda 1`

[2019-04-14 16:53] vzurauskas commented on #1997
Ah, ok, thanks.

[2019-04-14 16:53] #1997 closed

[2019-04-14 17:14] 0crat commented on #1997
Job `gh:zerocracy/farm#1997` is not assigned, can't get performer

[2019-04-14 17:14] 0crat commented on #1997
This job is not in scope

[2019-04-15 14:43] sereshqua commented on #1983
@g4s8 ping

[2019-04-15 15:09] g4s8 commented on #1983
@sereshqua it will be hard to implement: if we just handle any update of comment from Github, 0crat may process similar claim multiple times (e.g. if you assign performer to ticket and then edit performers name - 0crat will asign first performer then second, but first message will be lost); also we can keep on 0crat side full comment history, but it'd be very complex solution just to accept typo e

[2019-04-15 15:09] #1983 closed

[2019-04-15 15:11] 0crat commented on #1983
Job `gh:zerocracy/farm#1983` is not assigned, can't get performer

[2019-04-15 15:12] sereshqua opened #1999 "0crat sends same messages to the ticket multiple times"
**Steps to reproduce**:

1. Do a Quality Review and write `@0crat quality good` in the ticket

2. See same 0crat multiple messages about project NOT having enough funds:

[Here](https://github.com/Harvest-foundation/core/issues/428#issuecomment-478939031), [here (2nd)](https://github.com/Harvest-foundation/core/issues/428#issuecomment-478939738) [and here (3rd)](https://github.com/Harvest-foundati

[2019-04-15 15:12] 0crat commented on #1999
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-15 15:37] g4s8 commented on #1999
@sereshqua related to #876

[2019-04-15 15:40] g4s8 commented on #1977
@rultor release, tag=`0.46.1`

[2019-04-15 15:44] rultor commented on #1977
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18557-483305496)

[2019-04-15 16:11] rultor commented on #1977
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18557-483305496) (took me 23min)

[2019-04-15 18:45] amorenew commented on #1977
still same error
0.46.1, ${buildNumber}

Caused by: java.lang.NullPointerException
	at com.zerocracy.tk.profile.TkYoti.act(TkYoti.java:86)

[2019-04-16 10:39] g4s8 opened #2000 "notify_telegram failed for some text"
0crat failed to send some message to Telegram (it seems for jobs in repositories with underscore, not sure).

stacktrace:
[code]
message:
[code]

[2019-04-16 10:46] 0crat commented on #2000
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2000](https://github.com/zerocracy/farm/issues/2000), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-04-16 10:49] 0crat commented on #2000
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-16 10:51] 0crat commented on #2000
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-16 10:51] 0crat commented on #2000
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-18 13:48] g4s8 opened #2001 "Allow TST of Zerocracy invite students without limitations"
Allow `TST` role of Zerocracy project to invite students without limitations, similar to this task https://github.com/zerocracy/farm/issues/1410 but for `TST`

[2019-04-18 13:49] 0crat commented on #2001
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2001](https://github.com/zerocracy/farm/issues/2001), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-04-18 13:55] 0crat commented on #2001
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-18 13:55] 0crat commented on #2001
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-18 13:55] 0crat commented on #2001
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-18 14:43] g4s8 commented on #2001
@rultor release, tag=`0.46.2`

[2019-04-18 14:46] rultor commented on #2001
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18629-484539693)

[2019-04-18 15:07] rultor commented on #2001
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18629-484539693) (took me 18min)

[2019-04-18 16:09] g4s8 commented on #2001
@g4s8 fixed

[2019-04-18 16:09] #2001 closed

[2019-04-18 16:27] 0crat commented on #2001
Job [#2001](https://github.com/zerocracy/farm/issues/2001) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-04-18 16:27] 0crat commented on #2001
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-18 16:32] 0crat commented on #2001
The job [#2001](https://github.com/zerocracy/farm/issues/2001) is now out of scope

[2019-04-18 16:33] 0crat commented on #2001
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-18 20:47] paulodamaso opened #2002 "0crat elections broken"
Elections in 0crat is broken: it is assigning issues that doesn't have the tag `scope` to performers

[2019-04-18 20:47] 0crat commented on #2002
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-18 20:49] paulodamaso opened #2003 "0crat does not assign performer on github"
0crat is assigning the performer in its registers but not assigning it in github issue, for example in https://github.com/yegor256/jpeek/issues/261

[2019-04-18 20:49] 0crat commented on #2003
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-18 20:51] paulodamaso opened #2004 "Allow ARC to invite people"
ARC should be allowed to invite / approve developers resumes. The way it is now takes too long for an ARC to put developers into the platform to work in his projects, if the platform does not have people with some special skill

[2019-04-18 20:52] 0crat commented on #2004
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-18 21:58] g4s8 commented on #2002
@paulodamaso election process and scope label have nothing in common, this label should be added when ticket added to scope, but sometimes 0crat failed to do that because of GitHub API limits, it doesn't mean that ticket isn't in scope

[2019-04-19 08:20] g4s8 commented on #2004
@paulodamaso could you clarify please, you think that ARC of **any** project should be able to invite **any** user to Zerocracy without formal process of resume reviewing, or I missed something?

[2019-04-19 11:05] g4s8 opened #2005 "0crat can assign and cancel closed job on complete"
0crat can assign closed job to new performer and cancel this job right away.
It happens after closing the job.

job: https://github.com/January-ai/restaurant_crawling/issues/22
footprint: https://www.0crat.com/footprint/CH41SFDQ8?q=%7Bjob%3A%27gh%3Ajanuary-ai%2Frestaurant_crawling%2322%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D

[2019-04-19 11:06] 0crat commented on #2005
Job [#2005](https://github.com/zerocracy/farm/issues/2005) is now in scope, role is `DEV`

[2019-04-19 11:12] 0crat commented on #2005
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-19 12:53] sereshqua opened #2006 "There is internal server error when opening user's page"
1) Go to [https://www.0crat.com/u/g4s8](https://www.0crat.com/u/g4s8)

2) See the error

<img width="1440" alt="Screenshot 2019-04-19 at 15 53 11" src="https://user-images.githubusercontent.com/10097808/56425014-3ccd3a80-62bb-11e9-9575-e2bc7aec90d1.png">

[2019-04-19 12:53] 0crat commented on #2006
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.46.2](https://github.com/zerocracy/farm): Issue: zerocracy/farm#2006, Action: `opened`

[2019-04-19 15:20] paulodamaso commented on #2004
@krzyk Yes, let me put an example of real life:
Recently came to zerocracy a new project which tech stack wasn't mastered by anyone in zerocracy. I, as the architect, should be able to put people into zerocracy to fill this gap and get things moving as soon as possible. Problem is that even using the QA shortcuts it took too long (4-5 days) to get people into work, receiving their first issues. I'

[2019-04-21 10:11] yegor256 opened #2007 "refund command"
Let's add a new command `refund` to Slack. Product owner should have an ability to say `refund` and we should add a new transaction to the ledger: Ct:CASH, Dt:Payables.

And then we should inform PMO that it's time to send the specified amount by check to the user.

[2019-04-21 10:11] 0crat commented on #2007
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-21 10:11] yegor256 commented on #2007
@g4s8 would be great if we can implement it ASAP

[2019-04-22 09:16] g4s8 commented on #2007
@yegor256 isn't it a duplicate of #1611 ticket?
Could you please clarify what did you mean by "it's time to send the specified amount by check to the user.", should we just inform PO with a message or make some action? If yes what exactly we should do?

[2019-04-22 09:21] 0crat commented on #2006
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2006](https://github.com/zerocracy/farm/issues/2006), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-04-22 09:25] 0crat commented on #2006
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-22 09:27] 0crat commented on #2006
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-22 09:50] g4s8 commented on #2006
@rultor release, tag=`046.3`

[2019-04-22 09:51] rultor commented on #2006
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18676-485379511)

[2019-04-22 10:08] rultor commented on #2006
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18676-485379511) (took me 16min)

[2019-04-22 15:48] g4s8 commented on #2006
@rultor release, tag=`0.46.4`

[2019-04-22 15:49] rultor commented on #2006
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18676-485455562)

[2019-04-22 16:02] yegor256 commented on #1611
@g4s8 I would close this one and continue in #2007 I don't think it's a good idea to refund a specific Stripe payment. Better let's make this operation manual, as #2007 suggests.

[2019-04-22 16:04] yegor256 commented on #2007
@g4s8 I would suggest closing #1611 and continue here. I think it should be a manual operation always. When a PO makes `refund` request, we immediately add the transaction to the ledger (to prevent further funds spending) and send a message to the PMO. No action, just a message. The PMO will decide how to make a refund, either via Zold or paper check. After the message to the PMO is sent, the farm

[2019-04-22 16:06] rultor commented on #2006
@g4s8 @sereshqua Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18676-485455562) (spent 17min)

[code]

[2019-04-22 16:18] g4s8 commented on #2006
@rultor release, tag=`0.46.4`

[2019-04-22 16:20] #1611 closed

[2019-04-22 16:20] rultor commented on #2006
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18676-485464280)

[2019-04-22 16:28] 0crat commented on #2007
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2007](https://github.com/zerocracy/farm/issues/2007), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-04-22 16:30] 0crat commented on #2007
Job `gh:zerocracy/farm#2007` already assigned to @g4s8, can't assign to @g4s8

[2019-04-22 16:32] 0crat commented on #2007
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-22 16:33] g4s8 commented on #2007
@yegor256 got it. One more question: do we need to set project on pause? If we don't, 0crat may automaticlly recharge project on refund.

[2019-04-22 16:38] 0crat commented on #2007
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-22 16:39] rultor commented on #2006
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18676-485464280) (took me 17min)

[2019-04-22 16:43] 0crat commented on #1611
Job `gh:zerocracy/farm#1611` is not assigned, can't get performer

[2019-04-22 16:44] 0crat commented on #1611
The job [#1611](https://github.com/zerocracy/farm/issues/1611) is now out of scope

[2019-04-22 16:54] yegor256 commented on #2007
@g4s8 now, we shouldn't. It's a problem of PO. Let's just do the refund. Let's not forget to update the policy.

[2019-04-22 19:36] g4s8 commented on #2007
@rultor release, tag=`0.46.5`

[2019-04-22 19:36] rultor commented on #2007
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18681-485525323)

[2019-04-22 19:49] rultor commented on #2007
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18681-485525323) (spent 12min)

[code]

[2019-04-22 20:01] g4s8 commented on #2007
@rultor release, tag=`0.46.5`

[2019-04-22 20:03] rultor commented on #2007
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18681-485532925)

[2019-04-22 20:22] rultor commented on #2007
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18681-485532925) (took me 17min)

[2019-04-22 20:35] g4s8 commented on #2007
@yegor256 it should be fixed in new release

[2019-04-23 05:10] yegor256 commented on #2007
@g4s8 thanks!

[2019-04-23 05:10] #2007 closed

[2019-04-23 05:26] 0crat commented on #2007
Job [#2007](https://github.com/zerocracy/farm/issues/2007) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-04-23 05:27] 0crat commented on #2007
Job was finished in 12 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-23 05:29] 0crat commented on #2007
The job [#2007](https://github.com/zerocracy/farm/issues/2007) is now out of scope

[2019-04-23 05:31] 0crat commented on #2007
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-23 11:14] yegor256 opened #2009 ""Estimated" value is not updated in some projects"
Some projects complain that their "estimated" value in the dashboard is not updated after they un-assign some tasks. Let's check and fix.

[2019-04-23 11:14] 0crat commented on #2009
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-23 11:17] zverovich commented on #2009
Attaching screenshot from the "estimates" page:
![image](https://user-images.githubusercontent.com/6697455/56576965-74e1bf80-65d2-11e9-9030-ed1bde59d41e.png)

[2019-04-23 11:35] 0crat commented on #2009
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2009](https://github.com/zerocracy/farm/issues/2009), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-04-23 11:42] 0crat commented on #2009
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-23 11:42] 0crat commented on #2009
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-23 12:58] g4s8 commented on #2009
@rultor release, tag=`0.46.6`

[2019-04-23 12:59] rultor commented on #2009
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18686-485791681)

[2019-04-23 13:06] paulodamaso opened #2010 "Can't invite user"
I'm having some problems inviting an user via telegram bot:
- `/invite @username` brings me

[2019-04-23 13:07] 0crat commented on #2010
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-23 13:23] rultor commented on #2009
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18686-485791681) (took me 20min)

[2019-04-23 13:30] g4s8 commented on #2010
@paulodamaso thanks, but it's a duplicate of #1826

[2019-04-23 13:32] g4s8 commented on #2009
@yegor256 @zverovich it should be fixed, please check https://www.0crat.com/p/CF9LG1YCA

[2019-04-23 13:57] zverovich commented on #2009
Confirmed, money is unlocked. But "estimates" page still shows Total: $230.25. and empty list of estimates.

[2019-04-23 14:12] g4s8 commented on #2009
@yegor256 I think we don't need this `total` attribute for estimates document, please see https://github.com/zerocracy/datum/issues/402

[2019-04-23 17:06] alessandrosilva commented on #1977
Same error here

Internal application error
0.46.6, ${buildNumber}

Please, report it here. We will do our best to fix it as soon as possible. We're very sorry.

java.lang.IllegalStateException: [GET https://www.0crat.com/yoti?token=Bm986K4Wqz8r1IJm-ZGLx1c-ck3JATKi_YgVCyLHzd9cjJ4RW02DhKHT58rPGZpdtviLN6piR8psu9wAQ8PvLfrEZGZxwjTLPuj3M4GF3T99-kI60i-MKodfKiplErSTOuB3ptka5o7K3BX_389A6y7Pjw1vlkCwqKTtW2D

[2019-04-23 19:36] #1143 closed

[2019-04-23 19:36] 0pdd commented on #1143
The puzzle `185-4c683176` has disappeared from the source code, that's why I closed this issue.

[2019-04-23 19:36] 0pdd commented on #185
@0pdd the only puzzle [#1143](https://github.com/zerocracy/farm/issues/1143) is solved here.

[2019-04-23 20:02] 0crat commented on #1143
The job [#1143](https://github.com/zerocracy/farm/issues/1143) is now out of scope

[2019-04-23 20:04] 0crat commented on #1143
The project doesn't have enough funds, can't make a payment

[2019-04-23 20:04] 0crat commented on #1143
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-24 00:30] amorenew commented on #1977
@yegor256 @g4s8 I found that you can just use basic age verification "age is over 18"
or if you want a detailed age then you need to check why your integration is wrong
maybe unpaid receipt to Yoti or something else
I tried to run Yoti by a testing business account and my screen is different than yours check it below.

![device-2019-04-24-022223 mp4_snapshot_00 55 906](https://user-images.githubus

[2019-04-24 02:29] fabriciofx opened #2011 "Update maven-compiler-plugin and fix bug on it to allow incremental compilation"
Let's update `maven-compiler-plugin` to 3.8.0 version and fix a bug in this plugin which doesn't allow incremental compilation that increase compile and running time. To fix both we need change `pom.xml` to:
[code]
Please, pay attention to `<version>` and `<useIncrementalCompilation>` tag.

[2019-04-24 02:29] 0crat commented on #2011
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-24 02:29] 0crat commented on #2011
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-24 08:47] g4s8 commented on #1977
@yegor256 I tried to write to yoti support, but it seems only organization owner can do that, can you please write to them about this issue?

[2019-04-24 09:09] g4s8 commented on #2011
@fabriciofx thanks a lot! Fixed in https://github.com/zerocracy/farm/commit/e3b2b37b3ca397c2ba6871f2baf859892bb81159

[2019-04-24 09:09] #2011 closed

[2019-04-24 09:12] #2010 closed

[2019-04-24 09:15] g4s8 commented on #2009
@yegor256 it was fixed in https://github.com/zerocracy/farm/commit/c2f6a119ef54ccf98cb567201aabb142b3a14293

[2019-04-24 09:15] #2009 closed

[2019-04-24 09:16] g4s8 commented on #2003
@paulodamaso footprint: https://www.0crat.com/footprint/C7JGJ00DP?q=%7Bjob%3A%27gh%3Ayegor256%2Fjpeek%23261%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D

[2019-04-24 09:17] #2002 closed

[2019-04-24 09:19] g4s8 commented on #2006
@sereshqua I didn't see this error for 2 days, it should be fixed

[2019-04-24 09:19] #2006 closed

[2019-04-24 09:20] 0crat commented on #2010
Job `gh:zerocracy/farm#2010` is not assigned, can't get performer

[2019-04-24 09:22] sereshqua commented on #2006
@g4s8 sure, all looks fine for me as well

[2019-04-24 09:24] 0crat commented on #2002
Job `gh:zerocracy/farm#2002` is not assigned, can't get performer

[2019-04-24 09:24] 0crat commented on #2003
Job [#2003](https://github.com/zerocracy/farm/issues/2003) is now in scope, role is `DEV`

[2019-04-24 09:26] g4s8 commented on #2004
@paulodamaso I beleive it should be fixed since you have QA role in Zerocracy and you can invite any person from resumes page without being a mentor, does it?

[2019-04-24 09:32] 0crat commented on #2011
This job is not in scope

[2019-04-24 09:32] 0crat commented on #2011
Job `gh:zerocracy/farm#2011` is not assigned, can't get performer

[2019-04-24 09:40] 0crat commented on #2009
Job [#2009](https://github.com/zerocracy/farm/issues/2009) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-04-24 09:40] 0crat commented on #2003
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-04-24 09:41] 0crat commented on #2009
Job was finished in 21 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-24 09:46] 0crat commented on #2006
Job [#2006](https://github.com/zerocracy/farm/issues/2006) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-04-24 09:48] 0crat commented on #2006
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-24 09:50] 0crat commented on #2009
The job [#2009](https://github.com/zerocracy/farm/issues/2009) is now out of scope

[2019-04-24 09:53] 0crat commented on #2009
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-24 09:53] 0crat commented on #2006
The job [#2006](https://github.com/zerocracy/farm/issues/2006) is now out of scope

[2019-04-24 09:53] 0crat commented on #2006
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-24 10:35] duker33 opened #2012 "Umbigous message "Your resume was expired" from zerocrat bot"
Zerocrat bot sent me this message: "Your resume was expired, you can try again to submit join form".
I tried to resubmit form throw `0crat.com` and app answered me like "No need to submit".
I can see the projects board under my login, but i'm not sure that it has comprehensive and fresh data.

[2019-04-24 10:36] 0crat commented on #2012
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-24 10:36] 0crat commented on #2012
@duker33[/z](https://www.0crat.com/u/duker33) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-24 13:08] g4s8 opened #2013 "0crat failed to pay for release"
0crat may fail to pay for release
https://www.0crat.com/footprint/GFV03LPPY/54531f09-ec46-493d-a87a-157642dc6fe4

[code]

[2019-04-24 13:09] 0crat commented on #2013
Job [#2013](https://github.com/zerocracy/farm/issues/2013) is now in scope, role is `DEV`

[2019-04-24 13:17] 0crat commented on #2013
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-24 14:06] paulodamaso opened #2014 "0crat failed to make direct payment"
Trying to wirk around #2013 I've triedy to make a direct payment:

`@0crat pay 120min @paulodamaso`

[2019-04-24 14:06] 0crat commented on #2014
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-24 14:26] g4s8 commented on #2014
[code]
https://www.0crat.com/footprint/GFV03LPPY/48216a54-9893-42e5-916e-67c764617108

[2019-04-24 16:07] 0crat commented on #2014
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2014](https://github.com/zerocracy/farm/issues/2014), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-04-24 16:09] g4s8 commented on #2014
@paulodamaso it seems you've sent two identical direct payments (same amount, from same issue):

is it true?

[2019-04-24 16:18] 0crat commented on #2014
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-24 16:18] 0crat commented on #2014
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-04-25 15:09] sereshqua opened #2015 "After architect has done a QA review, I am still assigned to a job and it is in my agenda"
**Steps to reproduce**:

1) See the [task](https://github.com/sunsofterp/portal/issues/237)

2) The job was originally assigned to me (`sereshqua`) but  @g4s8 did a QA review instead

3) The QA is done, points and $ are give, but the job is still in my agenda

**Expected result**:

After architect does a QA review instead of QA, the job should be removed from QA's agenda

[2019-04-25 15:10] 0crat commented on #2015
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-26 11:48] ebercamargo opened #2016 "BUG BOT 0crat - Tickets in WAIT"
Even puttinged the ticket on WAIT, in the bot 0crat, he counted the days and withdrew my tickets. I'm leaving the projects, I'm missing a lot of points on 0crat by BOT BUGS. This is very bad,I hope in the future the developers of bot 0crat will pay more attention to it.

project: GFV03LPPY

![image](https://user-images.githubusercontent.com/37782410/56805567-d175f200-67ff-11e9-9279-f91332c75195.pn

[2019-04-26 11:48] 0crat commented on #2016
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-26 11:48] 0crat commented on #2016
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-26 12:30] sereshqua opened #2017 "When I am on vacation mode, 0crat still assigns me to jobs"
**Steps to reproduce**:

1) Tell 0crat in TG `vacation on` (I did at 12:32 PM GMT +2)

2) See that 0crat still assigns me to a [job](https://github.com/llorllale/cactoos-matchers/pull/115#issuecomment-487031772) (0crat assigned me at 2:59 PM GMT +2)

**Expected result**:

When I am on vacation mode, 0crat should NOT assign me to jobs

[2019-04-26 12:31] 0crat commented on #2017
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-26 14:00] g4s8 commented on #2016
@ebercamargo it's not a bug - as I can see, project's architect (@paulodamaso) removed impediment for these issues. Actually, you must have a very good reason to put a job into waiting state.
E.g. see https://www.0crat.com/footprint/GFV03LPPY/96dbd0da-132d-46bd-8521-64bbf9783e2f

[2019-04-26 14:00] #2016 closed

[2019-04-26 14:01] 0crat commented on #2016
Job `gh:zerocracy/farm#2016` is not assigned, can't get performer

[2019-04-26 14:23] 0crat commented on #2015
Job [#2015](https://github.com/zerocracy/farm/issues/2015) is now in scope, role is `DEV`

[2019-04-26 14:29] 0crat commented on #2015
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-26 14:30] 0crat commented on #2017
Job [#2017](https://github.com/zerocracy/farm/issues/2017) is now in scope, role is `DEV`

[2019-04-26 14:37] 0crat commented on #2017
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-26 17:23] ebercamargo opened #2018 "Notify performer on wait/continue"
I request that when the ticket is placed with WAIT status, and ARK removes this status, the BOT send a notification "Message Telegram" indicating withdrawal from this "WAIT" status for example, or whenever there is one change in the status of ticket.

Maybe this is not a BUG, ​​but it would be an interesting improvement and would help everyone.

Tks,

[2019-04-26 17:23] 0crat commented on #2018
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-26 17:23] 0crat commented on #2018
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-26 17:52] 0crat commented on #2018
Job [#2018](https://github.com/zerocracy/farm/issues/2018) is now in scope, role is `DEV`

[2019-04-26 17:59] 0crat commented on #2018
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-04-27 19:17] lavinj87 commented on #1977
Same here

[code]

[2019-04-29 03:13] yegor256 opened #2019 "/funded callback doesn't work"
It was implemented in #1975, however, it doesn't work. I'm not sure exactly what happens, but I suspect that we should start by creating a unit test for it. At the moment the WTS platform doesn't get any HTTP GET requests from the Farm on Stripe funding events.

[2019-04-29 03:13] 0crat commented on #2019
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-29 10:40] g4s8 commented on #2019
@yegor256 sentry error https://sentry.io/organizations/zerocracy/issues/972588501/?project=193755&query=is%3Aunresolved:
[code]

[2019-04-29 10:43] 0crat commented on #2019
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2019](https://github.com/zerocracy/farm/issues/2019), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-04-29 10:47] 0crat commented on #2019
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-29 10:51] 0crat commented on #2019
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-29 12:04] g4s8 commented on #2019
@rultor release, tag=`0.46.7`

[2019-04-29 12:05] rultor commented on #2019
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18733-487553003)

[2019-04-29 12:25] rultor commented on #2019
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18733-487553003) (took me 18min)

[2019-04-30 13:44] krzyk opened #2020 "Architect Review Bonus is not applied when there is no REV or QA"
Qulice doesn't have any participants (no DEV/REV/QA) and as such when someone provides a PR only ARC reviews it and then merges it, but in such case (when there is no QA or maybe no REV) ARC doesn't get bonus for merging the PR as mentioned in http://www.zerocracy.com/policy.html#28.

This paragraph doesn't state that a QA/REV is needed to get the bonus, so I would expect to get it for all merged

[2019-04-30 15:40] krzyk commented on #2020
@g4s8 this was a problem in qulice for almost forever, excluding a short time when there was an active DEV/REV +QA there.

[2019-04-30 15:42] g4s8 commented on #2020
@krzyk looks like you can receive a bonus only if a job was assigned to someone before closing. But 0crat should pay this bonus when job removed from wbs, not when order was finished.

[2019-04-30 15:43] 0crat commented on #2020
Job [#2020](https://github.com/zerocracy/farm/issues/2020) is now in scope, role is `DEV`

[2019-04-30 15:47] g4s8 commented on #1979
should be fixed

[2019-04-30 15:47] #1979 closed

[2019-04-30 15:53] 0crat commented on #2020
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-04-30 16:05] 0crat commented on #1974
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1974](https://github.com/zerocracy/farm/issues/1974), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-04-30 16:05] 0crat commented on #1974
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-30 16:05] 0crat commented on #1979
Job [#1979](https://github.com/zerocracy/farm/issues/1979) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-04-30 16:12] 0crat commented on #1979
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-30 16:13] 0crat commented on #1979
The job [#1979](https://github.com/zerocracy/farm/issues/1979) is now out of scope

[2019-04-30 16:13] 0crat commented on #2020
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2020](https://github.com/zerocracy/farm/issues/2020), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-04-30 16:13] 0crat commented on #2020
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-30 17:25] g4s8 commented on #2020
@rultor release, tag=`0.46.8`

[2019-04-30 17:27] rultor commented on #2020
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18758-488041205)

[2019-04-30 17:41] rultor commented on #2020
@g4s8 @krzyk Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18758-488041205) (spent 14min)

[code]

[2019-04-30 18:24] vassilevsky opened #2023 "Identification via Yoti is broken (again :)"
Hello :)

I've identified myself via Yoti and saw this:

Internal application error
0.46.7, ${buildNumber}

Please, report it here. We will do our best to fix it as soon as possible. We're very sorry.

[code]

Damn nulls are everywhere!

Wat do

[2019-04-30 18:24] 0crat commented on #2023
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-04-30 18:24] 0crat commented on #2023
@vassilevsky[/z](https://www.0crat.com/u/vassilevsky) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-30 18:28] vassilevsky commented on #2023
Remind me later :D

[2019-04-30 18:29] vassilevsky commented on #2023
I tried again after 16 minutes and the result was the same. I guess you could say it's reliably broken! :)

[2019-04-30 19:14] g4s8 commented on #2020
@rultor release, tag=`0.46.8`

[2019-04-30 19:15] rultor commented on #2020
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18758-488079165)

[2019-04-30 19:17] g4s8 commented on #2023
@vassilevsky thanks for reporting, it's a duplicate of #1977

[2019-04-30 19:17] #2023 closed

[2019-04-30 19:19] 0crat commented on #2023
Job `gh:zerocracy/farm#2023` is not assigned, can't get performer

[2019-04-30 19:27] rultor commented on #2020
@g4s8 @krzyk Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18758-488079165) (spent 12min)

[code]

[2019-04-30 20:11] g4s8 commented on #2020
@rultor release, tag=`0.46.8`

[2019-04-30 20:12] rultor commented on #2020
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18758-488097514)

[2019-04-30 20:32] rultor commented on #2020
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18758-488097514) (took me 19min)

[2019-05-01 10:16] g4s8 commented on #1959
@fviel right, we need more friendly message for that kind of error

[2019-05-01 10:18] g4s8 commented on #1974
@denis-konovalyenko it should be fixed in #2021 PR, can we close?

[2019-05-01 10:21] 0crat commented on #1959
Job [#1959](https://github.com/zerocracy/farm/issues/1959) is now in scope, role is `DEV`

[2019-05-01 10:22] g4s8 commented on #1962
@paulodamaso thanks, claims link was removed in https://github.com/zerocracy/farm/commit/e20be29a1b219548c05d811a59fc5283df4af626

[2019-05-01 10:22] #1962 closed

[2019-05-01 10:36] denis-konovalyenko commented on #1974
@g4s8 , thanks for addressing this!

[2019-05-01 10:36] #1974 closed

[2019-05-01 10:40] 0crat commented on #1959
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fviel[/z](https://www.0crat.com/u/fviel)

[2019-05-01 10:46] 0crat commented on #1962
Job `gh:zerocracy/farm#1962` is not assigned, can't get performer

[2019-05-01 10:46] 0crat commented on #1962
This job is not in scope

[2019-05-01 10:53] 0crat commented on #1974
Job [#1974](https://github.com/zerocracy/farm/issues/1974) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-05-01 10:53] 0crat commented on #1974
Job was finished in 18 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-01 10:57] 0crat commented on #1974
The job [#1974](https://github.com/zerocracy/farm/issues/1974) is now out of scope

[2019-05-01 10:59] 0crat commented on #1974
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-01 12:47] g4s8 commented on #2020
@krzyk it was fixed in #2022 PR, see https://github.com/zerocracy/farm/pull/2021#issuecomment-488255777 (received 10min bonus after release)

[2019-05-01 17:42] g4s8 commented on #1937
@rultor release, tag=`0.46.9`

[2019-05-01 17:45] rultor commented on #1937
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18769-488354934)

[2019-05-01 17:49] krzyk commented on #2020
@g4s8 works, thanks

[2019-05-01 17:49] #2020 closed

[2019-05-01 18:07] 0crat commented on #2020
Job [#2020](https://github.com/zerocracy/farm/issues/2020) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-05-01 18:08] 0crat commented on #2020
Job was finished in 25 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-01 18:08] rultor commented on #1937
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18769-488354934) (took me 20min)

[2019-05-01 18:12] 0crat commented on #2020
The job [#2020](https://github.com/zerocracy/farm/issues/2020) is now out of scope

[2019-05-01 18:14] 0crat commented on #2020
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-01 20:24] g4s8 commented on #1937
@emilianodellacasa it should be fixed in #2024 PR, try `@0crat option daysToCloseTask 7` in Slack channel

[2019-05-02 07:30] emilianodellacasa commented on #1937
@g4s8 Working, thanks. Are all the options documented somewhere? Shall I open an issue for it, otherwise?

[2019-05-02 07:30] #1937 closed

[2019-05-02 07:49] 0crat commented on #1937
Job [#1937](https://github.com/zerocracy/farm/issues/1937) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-05-02 07:54] 0crat commented on #1937
The job [#1937](https://github.com/zerocracy/farm/issues/1937) is now out of scope

[2019-05-02 07:56] 0crat commented on #1937
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-02 09:20] g4s8 commented on #1937
@emilianodellacasa right, I forgot about it, see zerocracy/zerocracy.github.io#87

[2019-05-02 09:22] emilianodellacasa commented on #1937
@g4s8 great, thanks

[2019-05-04 22:04] g4s8 opened #2025 "Impediment per project limit"
Rationale: project developers may overuse impediment feature in a project, it may cause slow job delivery and important tickets blocking by waiting without any reasonable argument.

Possible solution: add project option (similar to `daysToCloseTask`) to configure the limit for impediments in project, e.g. command `option impedimentsLimit 3` in Slack channel. Performers will not be able to set impe

[2019-05-04 22:05] g4s8 commented on #2025
@yegor256 please check this issue

[2019-05-04 23:28] StuporHero commented on #2025
An alternative would be to require ARC approval for the wait command unless a ticket is specified.

[2019-05-05 07:41] yegor256 commented on #1976
@g4s8 can you please create a text file somewhere in `src/resources` with a list of commands for Telegram. I will just use that file and post to BotFather.

[2019-05-05 07:46] yegor256 commented on #1951
@g4s8 would be great to have this feature. We should use LaTeX for that. Check this out: https://github.com/YtoTech/latex-on-http#compiling-latex (25-05-2019

[2019-05-05 08:38] g4s8 commented on #1951
@pinaf hourly rate may be different for each project, so there is no agreement with a specific hourly rate between ZC and the "dev", what do you want to see in this agreement?

[2019-05-05 16:40] pinaf commented on #1951
@g4s8 Hey, thanks for the feedback. How about we use the developer's base rate in the agreement with language that makes it clear that rate could vary from project to project? I don't think we need more than a basic agreement with a specific base rate at this point.

[2019-05-05 18:03] yegor256 commented on #1841
@g4s8 I think that we should update the policy. When someone quits, all jobs should be cancelled.

[2019-05-06 07:23] g4s8 commented on #1841
@ammaratef45 @yegor256 see https://github.com/zerocracy/zerocracy.github.io/pull/88

[2019-05-06 10:08] victornoel commented on #1849
@yegor256 an opinion on this?

[2019-05-06 10:09] victornoel commented on #1748
@g4s8 I haven't seen this for some time so I'm closing

[2019-05-06 10:09] #1748 closed

[2019-05-06 10:18] victornoel commented on #1782
@g4s8 the bot now behaves as expected, I'm closing this

[2019-05-06 10:18] #1782 closed

[2019-05-06 10:32] 0crat commented on #1748
Job `gh:zerocracy/farm#1748` is not assigned, can't get performer

[2019-05-06 10:33] 0crat commented on #1748
This job is not in scope

[2019-05-06 10:35] 0crat commented on #1782
Job `gh:zerocracy/farm#1782` is not assigned, can't get performer

[2019-05-06 10:35] 0crat commented on #1782
This job is not in scope

[2019-05-06 10:36] victornoel opened #2026 "0crat bot should react when an issue/PR causing an impediment is closed"
Basically, I would like 0crat to assist me so that I don't have to check if the reason behind impediments are solved. This would greatly reduce management overhead from my activity as a DEV.

An example where this could make sense is:
- I've opened yegor256/cactoos#944
- ARC decided to wait on two other issues before discussing it further
  - yegor256/cactoos#913 has been going for some time but s

[2019-05-06 10:36] 0crat commented on #2026
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-06 10:38] victornoel commented on #1497
@g4s8 ping

[2019-05-06 10:38] victornoel commented on #1496
@g4s8 I haven't seen this for some time so I'm closing this

[2019-05-06 10:38] #1496 closed

[2019-05-06 10:40] victornoel commented on #1456
@g4s8 ping

[2019-05-06 10:58] 0crat commented on #1496
Job `gh:zerocracy/farm#1496` is not assigned, can't get performer

[2019-05-06 10:58] 0crat commented on #1496
This job is not in scope

[2019-05-06 13:02] g4s8 commented on #1456
@victornoel can you please refer any job which was not included?

[2019-05-06 14:14] g4s8 commented on #2026
@victornoel I think we need to solve this ticket first: #1110

[2019-05-06 16:48] victornoel commented on #2026
@g4s8 this makes sense

[2019-05-06 16:50] victornoel commented on #1456
@g4s8 I believe it is the tuition fees that are not included as explained in the description, but maybe the tuition fee themselves does not include points but only money?
If this is the case, I think we can close this issue.

[2019-05-06 16:55] sereshqua opened #2027 "Allow users to make a donation to projects using ZOLD, not just CC"
I thought that I would like to donate all my ZOLD earnings to some projects here.

However, when I open an interface for donation ([see](https://www.0crat.com/contrib/C3NDPUA8L)), I am only able to pick up a payment from the list and use my CC to be able to donate.

But, I thought that it would be a great idea to allow project donation using ZOLD, so users would be able to connect to their wallets

[2019-05-06 16:55] 0crat commented on #2027
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-06 17:14] g4s8 commented on #2027
@yegor256 please look at this issue, I think it's a good idea, but we need to disable ZLD bonus for sandbox projects for ZLD donations.

[2019-05-06 18:14] victornoel commented on #1125
@g4s8 ping

[2019-05-06 18:14] #961 closed

[2019-05-06 18:15] victornoel commented on #1056
@carlosmiranda I haven't seen this for some time, what about you? If not I will close this issue :)

[2019-05-06 18:16] victornoel commented on #957
@g4s8 ping

[2019-05-06 18:33] 0crat commented on #961
Job `gh:zerocracy/farm#961` is not assigned, can't get performer

[2019-05-06 18:33] 0crat commented on #961
This job is not in scope

[2019-05-07 00:20] carlosmiranda commented on #1056
@victornoel yep, looks like this has been fixed

[2019-05-07 07:10] #1056 closed

[2019-05-07 07:25] 0crat commented on #1056
Job `gh:zerocracy/farm#1056` is not assigned, can't get performer

[2019-05-07 07:26] 0crat commented on #1056
This job is not in scope

[2019-05-07 09:01] g4s8 commented on #1125
@victornoel it's minor issue because it doesn't affect build phase, it may be fixed later when we have more resources

[2019-05-07 09:03] g4s8 commented on #1456
@victornoel correct, you get only cash from your student not points, see https://www.zerocracy.com/policy.html#45

[2019-05-07 09:07] 0crat commented on #957
Job [#957](https://github.com/zerocracy/farm/issues/957) is now in scope, role is `DEV`

[2019-05-07 09:14] victornoel commented on #1456
@g4s8 thx for the clarification, I'm closing this

[2019-05-07 09:14] #1456 closed

[2019-05-07 09:14] victornoel commented on #1125
@g4s8 ok, so I will keep this open then, thx

[2019-05-07 09:15] 0crat commented on #957
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-05-07 09:34] 0crat commented on #1456
Job `gh:zerocracy/farm#1456` is not assigned, can't get performer

[2019-05-07 09:34] 0crat commented on #1456
This job is not in scope

[2019-05-08 09:21] victornoel opened #2028 "Inconsistent state of 0crat about project membership"
I thought I was a member of the Cactoos project but since I wasn't assigned any jobs after coming back from vacation, I went to verify.

I noticed an inconsistency between what is presented on my user page:
![image](https://user-images.githubusercontent.com/160975/57364155-e5680f00-7182-11e9-8d9e-e6186af75f4a.png)

And what is shown on the project page:
![image](https://user-images.githubuserconte

[2019-05-08 09:21] 0crat commented on #2028
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-08 09:43] 0crat commented on #2028
Job [#2028](https://github.com/zerocracy/farm/issues/2028) is now in scope, role is `DEV`

[2019-05-08 09:49] victornoel commented on #2028
@g4s8 for the record I've asked Cactoos' ARC @llorllale to add me manually to the project, but if needed for your investigation we can ask him to wait until it's done.

[2019-05-08 09:53] 0crat commented on #2028
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-05-08 09:55] victornoel commented on #2005
@g4s8 this may be related to this: #1497

[2019-05-08 09:56] #1359 closed

[2019-05-08 10:05] g4s8 commented on #1497
@victornoel I don't think it's relevant, because:
 1. 0crat has a queue of events which is designed to be processed simultaneously: when 0crat received first event it starts to process it, then it can receive second event and start process it too, but second event may be processed faster than first and it's a normal situation. Even more, it's designed to work on multiple instances, so second event

[2019-05-08 10:06] g4s8 commented on #2028
@victornoel it's not needed, I think it will be easy to reproduce with a unit test

[2019-05-08 10:07] victornoel commented on #1497
@g4s8 ok, so the solution I propose is not good, but the problem itself is real. Should I rewrite the description or open a new issue?

[2019-05-08 10:13] 0crat commented on #1359
Job `gh:zerocracy/farm#1359` is not assigned, can't get performer

[2019-05-08 10:13] 0crat commented on #1359
This job is not in scope

[2019-05-08 10:25] g4s8 commented on #1497
@victornoel I think each problem is unique here, even if many of them looks similar but requires different work to solve it, so please submit different bugs for each inconsistent behavior, like this: https://github.com/zerocracy/farm/issues/2005

[2019-05-08 10:32] victornoel opened #2029 "0crat can remove from scope an actually open issue"
This happened in zold-io/java-api#52: I closed and then reopened the PR (see #1496 as to why, but this is out of scope of this issue).

So what happened is that 0crat first saw the issue being opened, it put it in scope, and then a few minutes later, it saw the issue being closed and removed it from scope. It seems that 0crat received the events from github in the wrong order or something like tha

[2019-05-08 10:32] 0crat commented on #2029
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-08 10:33] victornoel commented on #1497
@g4s8 I've created #2029, thanks

[2019-05-08 10:33] #1497 closed

[2019-05-08 10:51] 0crat commented on #1497
Job `gh:zerocracy/farm#1497` is not assigned, can't get performer

[2019-05-08 10:51] 0crat commented on #1497
This job is not in scope

[2019-05-08 11:53] victornoel opened #2030 "0crat removed me from sandbox even though I graduated and rejoined before"
Lately I was removed from sandbox project because I graduated.

Today I asked cactoos' ARC to add me again to the project.

A few time later, 0crat removed me again from the cactoos project, saying I was over 1024 points.

I would expect that once being re-added after I graduated, 0crat wouldn't kick me out again.
According to @g4s8 this should be the expected behaviour: https://t.me/zerocracy/553

[2019-05-08 22:13] ilyakharlamov opened #2031 "0crat assigns REV job to the same DEV who created PR"
Steps to reproduce:

1. Create a project with few dev/rev, for example just one or two.
2. Create A PR as DEV

What's wrong:
0crat can assign the REV job to the same developer who submitted the PR.

Might also be related: #1830

Reproduced on version v0.46.9

[2019-05-08 22:13] 0crat commented on #2031
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-08 22:13] 0crat commented on #2031
@ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-09 06:52] yegor256 commented on #2019
@g4s8 still doesn't work, WTS is not getting calls

[2019-05-09 07:47] g4s8 commented on #2031
@ilyakharlamov thanks for reporting, but it's a duplicate of #1787

[2019-05-09 07:47] #2031 closed

[2019-05-09 07:50] 0crat commented on #2031
Job `gh:zerocracy/farm#2031` is not assigned, can't get performer

[2019-05-09 08:27] g4s8 commented on #2019
@rultor release, tag=`0.46.10`

[2019-05-09 08:29] rultor commented on #2019
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18733-490808462)

[2019-05-09 08:41] #1841 closed

[2019-05-09 08:45] rultor commented on #2019
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18733-490808462) (spent 16min)

[code]

[2019-05-09 08:46] yegor256 opened #2032 "KPIs are not really informative now"
Let's make them look better and more informative.

[2019-05-09 08:46] 0crat commented on #2032
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-09 08:46] yegor256 commented on #2032
@g4s8 I will do it, in a few PRs

[2019-05-09 08:48] g4s8 commented on #2019
@rultor release, tag=`0.46.10`

[2019-05-09 08:50] rultor commented on #2019
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18733-490815889)

[2019-05-09 08:54] 0crat commented on #2032
The job [#2032](https://github.com/zerocracy/farm/issues/2032) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/001f0d3e-aa58-4ee3-8ae9-83ee781e873e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-05-09 08:59] 0crat commented on #2032
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-09 08:59] 0crat commented on #2032
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-09 08:59] 0crat commented on #1841
Job `gh:zerocracy/farm#1841` is not assigned, can't get performer

[2019-05-09 08:59] 0crat commented on #2032
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-09 08:59] 0crat commented on #1841
This job is not in scope

[2019-05-09 09:12] rultor commented on #2019
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18733-490815889) (took me 19min)

[2019-05-09 09:36] g4s8 commented on #2019
@yegor256 it should be fixed now, also please check https://github.com/zold-io/wts.zold.io/issues/226

[2019-05-09 20:14] yegor256 commented on #2019
@g4s8 works now, thanks!

[2019-05-09 20:27] #2019 closed

[2019-05-09 20:44] 0crat commented on #2019
Job [#2019](https://github.com/zerocracy/farm/issues/2019) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-05-09 20:49] 0crat commented on #2019
The job [#2019](https://github.com/zerocracy/farm/issues/2019) is now out of scope

[2019-05-09 20:52] 0crat commented on #2019
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-10 09:36] g4s8 opened #2034 "Wrong pattern for releases"
Some releases in Github repos can't pass validation:
[code]

[2019-05-10 09:44] 0crat commented on #2034
Job [#2034](https://github.com/zerocracy/farm/issues/2034) is now in scope, role is `DEV`

[2019-05-10 09:53] 0crat commented on #2034
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-11 09:34] victornoel commented on #2030
@g4s8 ping, and furthermore 0crat removed me from the jobs I was working on in cactoos... is there a bug already open for this?

[2019-05-11 09:36] victornoel commented on #1885
@g4s8 ping, I also got impacted by this

[2019-05-11 09:45] g4s8 commented on #1885
@paulodamaso @victornoel policy was changed in https://github.com/zerocracy/zerocracy.github.io/pull/88 see: https://www.zerocracy.com/policy.html#35

[2019-05-11 09:49] 0crat commented on #2030
Job [#2030](https://github.com/zerocracy/farm/issues/2030) is now in scope, role is `DEV`

[2019-05-11 09:56] 0crat commented on #2030
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-05-11 10:15] g4s8 commented on #2032
@rultor release, tag=`0.46.11`

[2019-05-11 10:16] rultor commented on #2032
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18867-491498488)

[2019-05-11 10:29] rultor commented on #2032
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18867-491498488) (spent 13min)

[code]

[2019-05-11 10:43] g4s8 commented on #2032
@rultor release, tag=`0.46.11`

[2019-05-11 10:44] rultor commented on #2032
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18867-491500249)

[2019-05-11 11:03] rultor commented on #2032
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18867-491500249) (took me 17min)

[2019-05-12 09:04] victornoel commented on #2030
@g4s8 any way to some investigation on this? I would like to be able to resume work on cactoos as soon as possible.

[2019-05-13 10:36] yegor256 opened #2035 "new metric: total amount of projects"
Let's add a new metric: the total amount of projects we manage now. Let's collect it the way we collect other metrics and include it the regular report to the PMO.

[2019-05-13 10:36] 0crat commented on #2035
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-13 18:15] 0crat commented on #2035
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2035](https://github.com/zerocracy/farm/issues/2035), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-05-13 18:18] 0crat commented on #2035
Job `gh:zerocracy/farm#2035` already assigned to @g4s8, can't assign to @g4s8

[2019-05-13 18:19] 0crat commented on #2035
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-13 18:21] 0crat commented on #2035
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-13 19:05] lavinj87 commented on #1977
Any advance on this?

Kind regards

[2019-05-14 18:40] yegor256 opened #2036 "new metrics: team statistics"
Let's add a few more metrics. Let's collect them every 24 hours. They all are visible here: https://www.0crat.com/team

1. Active users (27 now)

2. Total reputation (66364 now)

3. Visible users (67 now)

Let's show them in the regular report to the PMO.

[2019-05-14 18:40] 0crat commented on #2036
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-14 19:11] yegor256 commented on #2027
@g4s8 yes, I like the idea. And I agree that should disable bonuses first.

[2019-05-14 19:12] yegor256 commented on #1849
@g4s8 I like the suggestion, let's do it (don't forget to update the policy)

[2019-05-14 20:31] 0crat commented on #1849
Job [#1849](https://github.com/zerocracy/farm/issues/1849) is now in scope, role is `DEV`

[2019-05-14 20:31] 0crat commented on #2027
Job [#2027](https://github.com/zerocracy/farm/issues/2027) is now in scope, role is `DEV`

[2019-05-14 20:38] 0crat commented on #2036
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2036](https://github.com/zerocracy/farm/issues/2036), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-05-14 20:38] 0crat commented on #2036
Job `gh:zerocracy/farm#2036` already assigned to @g4s8, can't assign to @g4s8

[2019-05-14 20:41] 0crat commented on #2027
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-05-14 20:41] 0crat commented on #1849
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-05-14 20:44] 0crat commented on #2036
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-14 20:46] 0crat commented on #2036
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-15 12:55] yegor256 opened #2038 "move /doc content to the README file"
I strongly believe that a single README file should be enough for any GitHub project. Making directories like `/doc` is not a good idea and only introduces mess to the repo. Let's move what's there into our README.

[2019-05-15 12:55] 0crat commented on #2038
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-15 12:56] yegor256 opened #2039 "new metric: total balance in all projects"
Let's go through all projects under management, check their balances and summarize them all. This is the amount of money we owe to our customers. Let's add this metric to our collection of metrics and report it to the PMO together with everything else.

[2019-05-15 12:56] 0crat commented on #2039
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-16 13:17] scristalli commented on #1977
Happened to me right now:
[code]

[2019-05-16 14:37] sereshqua opened #2040 "After doing CV's examination, I haven't received any email confirming that I am awarded with 32 points"
Generally, there is always an email from 0crat, that is set to send messages about rewarding the points of job completion.

However, after doing CV's examination, I haven't received any email confirming that I am awarded with 32 points. I have just received a TG message from 0crat: `You received bonus 32 points for @...username/z resume examination`.

Can this feature of sending emails of rewardin

[2019-05-16 14:37] 0crat commented on #2040
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-16 19:11] g4s8 commented on #2040
@sereshqua did you receive 32 points?

[2019-05-16 19:13] sereshqua commented on #2040
@g4s8 I did receive, but the was not any email notification and usual, so I thought it would be nice to have feature

[2019-05-17 06:34] yegor256 opened #2041 "new metric: total fees for the last 30 days"
Let's introduce a new metric and collect it every day. Let's go through all projects we manage, open their ledgers, and calculate how much management fees we managed to charge over the last 30 days. Let's put all the numbers together and this will be our "revenue". Let's add this metric to the regular report to the PMO.

[2019-05-17 06:34] 0crat commented on #2041
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-17 17:13] 0crat commented on #2041
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2041](https://github.com/zerocracy/farm/issues/2041), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-05-17 17:15] 0crat commented on #2041
Job `gh:zerocracy/farm#2041` already assigned to @g4s8, can't assign to @g4s8

[2019-05-17 17:17] 0crat commented on #2041
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-17 17:19] 0crat commented on #2041
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-20 00:27] fabriciofx opened #2042 "Upgrade problem with jackson-databind to solve security issues"
Github points me `jackson-databind` has some security issues. To see more detail, look:

https://nvd.nist.gov/vuln/detail/CVE-2017-17485
https://nvd.nist.gov/vuln/detail/CVE-2017-15095
https://nvd.nist.gov/vuln/detail/CVE-2018-7489

and a possible solution too:

**Remediation
Upgrade com.fasterxml.jackson.core:jackson-databind to version 2.8.11.1 or later. For example:**
[code]

[2019-05-20 00:27] 0crat commented on #2042
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-20 00:27] 0crat commented on #2042
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-20 21:47] g4s8 commented on #2041
@rultor release, tag=`0.47.1`

[2019-05-20 21:50] rultor commented on #2041
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18956-494162922)

[2019-05-20 22:14] rultor commented on #2041
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18956-494162922) (took me 22min)

[2019-05-22 12:22] g4s8 commented on #2035
@yegor256 it was fixed in #2037 PR, can we close?

[2019-05-22 12:22] g4s8 commented on #2036
@yegor256 it was fixed in #2037 PR, can we close?

[2019-05-22 12:23] g4s8 commented on #2041
@yegor256 it was fixed in #2043 PR, can we close?

[2019-05-22 19:34] yegor256 opened #2044 "There are 1 developers in the project, but only 0 code reviewers"
This message in Slack is annoying and not helpful:

[code]

Let's not send it, if the project has less than 10 people.

[2019-05-22 19:54] 0crat commented on #2044
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-22 20:35] 0crat commented on #2044
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2044](https://github.com/zerocracy/farm/issues/2044), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-05-22 20:40] 0crat commented on #2044
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-22 20:44] 0crat commented on #2044
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-23 07:58] sereshqua opened #2047 "/rate command is not working"
After the `wallet` functionality has been changed, as it is being created automatically on first payment, the address is 0crat (github) username - `/rate` command does not work and new user is not able to set up his rate via 0crat.

[2019-05-23 07:58] 0crat commented on #2047
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-23 08:38] g4s8 commented on #2047
@sereshqua can you please attach error message from 0crat? I can't find it in logs.

[2019-05-23 09:04] Supra89kren commented on #1977
java.lang.IllegalStateException: [GET https://www.0crat.com/yoti?token=****] failed in 1s: null
	at org.takes.facets.fallback.TkFallback.error(TkFallback.java:234)
	at org.takes.facets.fallback.TkFallback.route(TkFallback.java:115)
	at org.takes.facets.fallback.TkFallback.access$000(TkFallback.java:54)
	at org.takes.facets.fallback.TkFallback$1.act(TkFallback.java:66)
	at org.takes.tk.TkWrap.act(T

[2019-05-23 09:06] Supra89kren commented on #1977
I am also seeing this issue.

[2019-05-23 14:03] Supra89kren commented on #1959
PID: 4@2827dd1a-014e-44bf-8adf-207407044220, thread: zerocrat_bot Telegram Executor
com.jcabi.xml.XSLDocument[400] java.lang.IllegalArgumentException: Failed to transform by net.sf.saxon.TransformerFactoryImpl: [Role name "dev" is not valid, Processing terminated by xsl:message at line 27 in file:///; SystemID: file:///; Line#: 27; Column#: 6]
net.sf.saxon.expr.instruct.Message[223] net.sf.saxon.e

[2019-05-23 14:04] Supra89kren commented on #1959
could somebody advice where the list of the roles is placed?

[2019-05-23 16:31] sereshqua commented on #2047
@g4s8 I was told by [https://www.0crat.com/u/ankitshah2272m](https://www.0crat.com/u/ankitshah2272m) that it was not working at the beginning of the day;

as I see now we has able to set him rate

[2019-05-24 14:15] victornoel opened #2048 "0crat.com seemed to have removed me from jobs but 0crat bot says otherwise"
Following the situation in #2030, I thought I was resigned from the jobs by 0crat and on 0crat.com I don't have any job assigned:
![image](https://user-images.githubusercontent.com/160975/58333775-7bb45a00-7e3e-11e9-8430-800d4d068abb.png)

But when I look at one of the issue I was previously assigned, I can see I'm still assigned to it according to 0crat: https://github.com/yegor256/cactoos/issues

[2019-05-24 14:15] 0crat commented on #2048
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-24 14:34] yegor256 commented on #1977
@g4s8 Yoti support team told me that we were using the wrong Yoti account. I switched to the right one. Please, redeploy. The problem should disappear.

[2019-05-24 15:34] g4s8 commented on #1977
@rultor release, tag=`0.47.2`

[2019-05-24 15:36] rultor commented on #1977
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18557-495679932)

[2019-05-24 15:45] g4s8 commented on #2048
@victornoel yes, it's a bug, 0crat should cancel all jobs on quit from project

[2019-05-24 15:50] 0crat commented on #2048
Job [#2048](https://github.com/zerocracy/farm/issues/2048) is now in scope, role is `DEV`

[2019-05-24 15:50] 0crat commented on #2030
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2030](https://github.com/zerocracy/farm/issues/2030), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-05-24 15:57] rultor commented on #1977
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18557-495679932) (took me 18min)

[2019-05-24 15:59] 0crat commented on #2030
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-24 16:01] g4s8 commented on #1977
Done, someone who didn't pass identification please try again now.

[2019-05-24 16:01] 0crat commented on #2048
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-05-24 16:01] 0pdd opened #2049 "kickout_from_sandbox.groovy:48-54: Reimplement this..."
The puzzle `2030-8edd287a` from #2030 has to be resolved:

https://github.com/zerocracy/farm/blob/778190662da5d6a0bdb1c0f7bdb41118129b5482/src/main/groovy/com/zerocracy/stk/pm/staff/roles/kickout_from_sandbox.groovy#L48-L54

The puzzle was created by Kirill on 24-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2019-05-24 16:01] 0pdd commented on #2030
@victornoel the puzzle [#2049](https://github.com/zerocracy/farm/issues/2049) is still not solved.

[2019-05-24 16:01] 0crat commented on #2049
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-24 16:02] 0crat commented on #2049
Job [#2049](https://github.com/zerocracy/farm/issues/2049) is now in scope, role is `DEV`

[2019-05-24 16:02] g4s8 commented on #2030
@rultor release, tag=`0.47.3`

[2019-05-24 16:03] g4s8 commented on #2030
@victornoel should be fixed in https://github.com/zerocracy/farm/commit/778190662da5d6a0bdb1c0f7bdb41118129b5482
try to join the project after release https://github.com/zerocracy/farm/issues/2030#issuecomment-495689693

[2019-05-24 16:04] rultor commented on #2030
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18997-495689693)

[2019-05-24 16:26] rultor commented on #2030
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/18997-495689693) (took me 19min)

[2019-05-24 17:33] amorenew commented on #1977
@g4s8
it works it is ok for me but my name is null
@amorenew/z have been successfully identified as null null 12-7-1990 @Yoti
![image](https://user-images.githubusercontent.com/2842459/58346272-c04dee80-7e5a-11e9-922b-b184012f3e72.png)

[2019-05-25 12:45] Yoti commented on #1977
Never used this lol.

[2019-05-25 12:53] victornoel opened #2050 "Can't apply to sandbox project with reputation over 1024"
I tried to apply to Cactoos, a sandbox project, and I don't have a mentor anymore and reputation over 1024. I got the following error:
[code]

Based on previous discussions in #2030 and this todo introduced by ARC #2049, I conclude that I should be able to do so (or there is an incoherence in how things work).

[2019-05-25 12:53] 0crat commented on #2050
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-25 16:06] victornoel commented on #2030
@g4s8 thanks, I joined cactoos again and will close this issue in a few days when I can confirm I am not kicked out again :)

[2019-05-25 16:07] victornoel commented on #2040
@sereshqua I think you should have received a message via telegram. Note that 0crat never send any email, at all. All the emails you receive are from github.

[2019-05-25 16:14] sereshqua commented on #2040
@victornoel i got it, then it would be nice to configure such notification in GitHub if possible :)

[2019-05-26 08:22] g4s8 commented on #2040
@sereshqua GitHub doesn't know about Zerocracy resumes and reviews, so we can't notify you via GitHub about examinations. Also, we don't have email notifications for now, so it's not possible to receive such emails.

[2019-05-26 08:22] #2040 closed

[2019-05-26 08:43] 0crat commented on #2040
Job `gh:zerocracy/farm#2040` is not assigned, can't get performer

[2019-05-26 08:44] 0crat commented on #2040
This job is not in scope

[2019-05-27 12:24] #2035 closed

[2019-05-27 12:24] #2036 closed

[2019-05-27 12:24] #2041 closed

[2019-05-27 12:43] 0crat commented on #2041
Job [#2041](https://github.com/zerocracy/farm/issues/2041) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-05-27 12:43] 0crat commented on #2035
Job [#2035](https://github.com/zerocracy/farm/issues/2035) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-05-27 12:44] 0crat commented on #2036
Job [#2036](https://github.com/zerocracy/farm/issues/2036) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-05-27 12:52] 0crat commented on #2036
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-27 12:52] 0crat commented on #2041
The job [#2041](https://github.com/zerocracy/farm/issues/2041) is now out of scope

[2019-05-27 12:52] 0crat commented on #2035
The job [#2035](https://github.com/zerocracy/farm/issues/2035) is now out of scope

[2019-05-27 12:52] 0crat commented on #2036
The job [#2036](https://github.com/zerocracy/farm/issues/2036) is now out of scope

[2019-05-27 12:52] 0crat commented on #2035
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-27 12:52] 0crat commented on #2041
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-27 14:04] amorenew opened #2051 "unrecoverable failure Type: "Job milestoned""
I have added an issue with a milestone but 0crat gives me the following error in this issue https://github.com/ammaratef45/zold-flutter-client/issues/108

[code]

[2019-05-27 14:04] 0crat commented on #2051
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-27 14:04] 0crat commented on #2051
@amorenew[/z](https://www.0crat.com/u/amorenew) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-27 17:57] 0crat commented on #2051
Job [#2051](https://github.com/zerocracy/farm/issues/2051) is now in scope, role is `DEV`

[2019-05-27 18:09] g4s8 commented on #1805
@0crat assign @sbzdev

[2019-05-27 18:10] 0crat commented on #1805
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1805](https://github.com/zerocracy/farm/issues/1805), see [§21](http://www.zerocracy.com/policy.html#21); @sbzdev[/z](https://www.0crat.com/u/sbzdev) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-05-27 18:10] 0crat commented on #1805
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-27 18:22] g4s8 commented on #1805
@0crat status

[2019-05-27 18:26] 0crat commented on #1805
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1805](https://github.com/zerocracy/farm/issues/1805) is [in scope](http://www.zerocracy.com/policy.html#14) for 6mon
  * The role is `DEV`
  * The job is assigned to @sbzdev[/z](https://www.0crat.com/u/sbzdev) for [14min](http://www.zerocr

[2019-05-28 07:48] sbzDev commented on #1805
@g4s8 hi! please review second commit with fixes the PR's comments & validation issues.

[2019-05-28 07:53] sbzDev commented on #1805
@0crat status

[2019-05-28 08:01] 0crat commented on #1805
@sbzDev This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1805](https://github.com/zerocracy/farm/issues/1805) is [in scope](http://www.zerocracy.com/policy.html#14) for 6mon
  * The role is `DEV`
  * The job is assigned to @sbzdev[/z](https://www.0crat.com/u/sbzdev) for [14hr](http://www.zeroc

[2019-05-28 08:05] g4s8 commented on #1891
@emilianodellacasa we've removed wallets functionality from 0crat and fully moved it to https://wts.zold.io, so this ticket is not valid anymore.

[2019-05-28 08:05] #1891 closed

[2019-05-28 08:06] g4s8 commented on #1882
@fabriciofx it's a duplicate of #2030

[2019-05-28 08:06] #1882 closed

[2019-05-28 08:16] 0crat commented on #1453
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1453](https://github.com/zerocracy/farm/issues/1453), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-05-28 08:20] 0crat commented on #1453
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-28 08:20] 0crat commented on #1453
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-28 08:24] 0crat commented on #1882
Job `gh:zerocracy/farm#1882` is not assigned, can't get performer

[2019-05-28 08:24] 0crat commented on #1891
Job `gh:zerocracy/farm#1891` is not assigned, can't get performer

[2019-05-28 08:24] 0crat commented on #1882
This job is not in scope

[2019-05-28 08:24] 0crat commented on #1891
This job is not in scope

[2019-05-28 09:10] #1805 closed

[2019-05-28 09:10] 0pdd commented on #1805
The puzzle `1568-f8e630b6` has disappeared from the source code, that's why I closed this issue.

[2019-05-28 09:10] 0pdd commented on #908
@0pdd all 15 puzzles are solved here: [#1146](https://github.com/zerocracy/farm/issues/1146), [#1147](https://github.com/zerocracy/farm/issues/1147), [#1179](https://github.com/zerocracy/farm/issues/1179), [#1352](https://github.com/zerocracy/farm/issues/1352), [#1353](https://github.com/zerocracy/farm/issues/1353), [#1486](https://github.com/zerocracy/farm/issues/1486), [#1506](https://github.com

[2019-05-28 09:10] 0pdd commented on #1147
@0pdd all 7 puzzles are solved here: [#1179](https://github.com/zerocracy/farm/issues/1179), [#1506](https://github.com/zerocracy/farm/issues/1506), [#1568](https://github.com/zerocracy/farm/issues/1568), [#1569](https://github.com/zerocracy/farm/issues/1569), [#1645](https://github.com/zerocracy/farm/issues/1645), [#1774](https://github.com/zerocracy/farm/issues/1774), [#1805](https://github.com/

[2019-05-28 09:10] 0pdd commented on #1179
@0pdd all 6 puzzles are solved here: [#1506](https://github.com/zerocracy/farm/issues/1506), [#1568](https://github.com/zerocracy/farm/issues/1568), [#1569](https://github.com/zerocracy/farm/issues/1569), [#1645](https://github.com/zerocracy/farm/issues/1645), [#1774](https://github.com/zerocracy/farm/issues/1774), [#1805](https://github.com/zerocracy/farm/issues/1805).

[2019-05-28 09:10] 0pdd commented on #1506
@0pdd all 5 puzzles are solved here: [#1568](https://github.com/zerocracy/farm/issues/1568), [#1569](https://github.com/zerocracy/farm/issues/1569), [#1645](https://github.com/zerocracy/farm/issues/1645), [#1774](https://github.com/zerocracy/farm/issues/1774), [#1805](https://github.com/zerocracy/farm/issues/1805).

[2019-05-28 09:10] 0pdd commented on #1568
@0pdd the only puzzle [#1805](https://github.com/zerocracy/farm/issues/1805) is solved here.

[2019-05-28 09:33] 0crat commented on #1805
Job [#1805](https://github.com/zerocracy/farm/issues/1805) is not in the agenda of @sbzdev[/z](https://www.0crat.com/u/sbzdev), can't retrieve data and time of add

[2019-05-28 09:38] 0crat commented on #1805
Job was finished in 15 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-28 09:45] 0crat commented on #1805
Job [#1805](https://github.com/zerocracy/farm/issues/1805) is not in the agenda of @sbzdev[/z](https://www.0crat.com/u/sbzdev), can't inspect

[2019-05-28 09:52] 0crat commented on #1805
The job [#1805](https://github.com/zerocracy/farm/issues/1805) is now out of scope

[2019-05-28 09:52] 0crat commented on #1805
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sbzdev[/z](https://www.0crat.com/u/sbzdev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-05-28 10:00] sereshqua commented on #1805
@0crat quality good

[2019-05-28 10:15] 0crat commented on #1805
@sereshqua The project doesn't have enough funds, can't make a payment

[2019-05-28 10:15] 0crat commented on #1805
Order was finished, quality is "good": +40 point(s) just awarded to @sbzdev[/z](https://www.0crat.com/u/sbzdev)

[2019-05-28 10:15] 0crat commented on #1805
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-05-28 10:20] 0crat commented on #1805
@sereshqua The project doesn't have enough funds, can't make a payment

[2019-05-28 12:53] sereshqua opened #2053 "0crat is down - Application error"
1) Go to personal page - [https://www.0crat.com/u/sereshqua](https://www.0crat.com/u/sereshqua)

2) See the error

<img width="521" alt="Screenshot 2019-05-28 at 15 53 26" src="https://user-images.githubusercontent.com/10097808/58479336-c09f0000-8160-11e9-8ed1-a3289fb9013b.png">

[2019-05-28 12:53] 0crat commented on #2053
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.3](https://github.com/zerocracy/farm): Issue: zerocracy/farm#2053, Action: `opened`

[2019-05-28 12:54] sereshqua commented on #2053
@g4s8 FYI

[2019-05-28 13:15] 0crat commented on #2053
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2053](https://github.com/zerocracy/farm/issues/2053), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-05-28 13:16] sbzDev commented on #2017
@g4s8 Can I take it?

Clarifications:
1. How to test it locally?
2. According to Policy, job can't be assigned to performers on Vacation, but user can be elected and be assigned to job with note '**we should be aware that @%s is on vacation; this ticket may be delayed**' in
`com/zerocracy/stk/pm/in/orders/start_order.groovy:99 `
 will be enough to add only check if performer on vacation during ass

[2019-05-28 13:23] 0crat commented on #2053
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-28 13:28] 0crat commented on #2053
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-05-28 14:15] sbzDev commented on #2018
@g4s8 can I take it?

[2019-05-28 14:41] yegor256 commented on #1977
@g4s8 can I help somehow?

[2019-05-28 14:59] g4s8 commented on #2017
@sbzDev the issue here is that @sereshqua has QA role in projects and 0crat assigned tickets after complete for QA review (it's not about DEV, REV jobs) when he was on vacation. The bug should be in `start_qa_review`.

To reproduce it you can write a bundle test, check `BundlesTest` class and bundle scripts in `src/test/resources/com/zerocracy/bundles`, or even better - you can update `upUGY6_adds

[2019-05-28 14:59] g4s8 commented on #2017
@0crat assign @sbzDev

[2019-05-28 15:01] g4s8 opened #2054 "User identified as null - null via Yoti"
User can be identified as `null - null` via Yoti, see https://github.com/zerocracy/farm/issues/1977#issuecomment-495722870

[2019-05-28 15:04] g4s8 commented on #1977
@amorenew @yegor256 I think this bug (500 error with `NullPointerException`) was fixed by switching Yoti account, I'll check new issue (about `null null` name) in #2054 ticket soon.

[2019-05-28 15:04] #1977 closed

[2019-05-28 15:23] sbzDev commented on #2017
@g4s8 maybe you meant `upaiXM_assigns_and_notifies_on_vacation` test ?

[2019-05-28 16:29] g4s8 commented on #2018
@0crat status

[2019-05-28 16:32] g4s8 commented on #2017
@sbzDev no, it's about `DEV` / `REV` jobs, `upUGY6_adds_reviews_to_qa_agenda` test checks that a job is assigned for QA review on completion, we need to check that a job can't be assigned to QA on vacation

[2019-05-28 17:05] g4s8 commented on #2018
@0crat status

[2019-05-28 17:28] 0crat commented on #2017
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2017](https://github.com/zerocracy/farm/issues/2017), see [§21](http://www.zerocracy.com/policy.html#21); @sbzdev[/z](https://www.0crat.com/u/sbzdev) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-05-28 17:29] 0crat commented on #2018
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2018](https://github.com/zerocracy/farm/issues/2018), see [§21](http://www.zerocracy.com/policy.html#21); @sbzdev[/z](https://www.0crat.com/u/sbzdev) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-05-28 17:35] 0crat commented on #2018
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#2018](https://github.com/zerocracy/farm/issues/2018) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @sbzdev[/z](https://www.0crat.com/u/sbzdev) for [1hr](http://www.zerocrac

[2019-05-28 17:36] 0crat commented on #2018
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#2018](https://github.com/zerocracy/farm/issues/2018) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @sbzdev[/z](https://www.0crat.com/u/sbzdev) for [2hr](http://www.zerocrac

[2019-05-28 17:37] 0crat commented on #2054
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2054](https://github.com/zerocracy/farm/issues/2054), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-05-28 17:46] 0crat commented on #2017
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-28 17:47] 0crat commented on #2018
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-28 17:53] 0crat commented on #1977
The job [#1977](https://github.com/zerocracy/farm/issues/1977) is now out of scope

[2019-05-28 17:53] 0crat commented on #2054
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-28 17:54] 0crat commented on #1977
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-28 17:54] 0crat commented on #2054
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-28 17:54] 0crat commented on #2054
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-28 17:56] sbzDev commented on #2017
@g4s8 The PR is ready for REVIEW

[2019-05-28 19:42] webdatavisualdev opened #2056 "https://www.0crat.com/join is broken after I filled the form and submitted."
I attached the image.
![Screen Shot 2019-05-28 at 12 39 16 PM](https://user-images.githubusercontent.com/29671404/58507223-16b27a00-8146-11e9-95fb-a1677949ef2b.png)

[2019-05-28 19:42] 0crat commented on #2056
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-28 19:43] 0crat commented on #2056
@webdatavisualdev[/z](https://www.0crat.com/u/webdatavisualdev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-29 04:44] sbzDev commented on #2056
@g4s8 hi! Might it be related to my recent changes for #1805 ? how can I help with that?

[2019-05-29 10:02] g4s8 commented on #2056
@sbzDev this error should be fixed by your changes (but it's not release yet). Actually, we need to check that user has assigned examiner in `TkJoin` and render it **only** if examiner exist. Can you take this ticket?

[2019-05-29 10:08] sbzDev commented on #2056
@g4s8 `xsl/resume.xsl` doesn't have `examiner` also it missed it in `com/zerocracy/tk/TkJoin.java`

[code]

So actually I don't know how to reproduce it to debug and find root of cause.

[2019-05-29 10:14] sbzDev commented on #2056
@g4s8 I will be happy to help & resolve this issue. Could someone to help me with reproducing/debugging it? how can I check it locally?

[2019-05-29 10:25] g4s8 commented on #2056
@sbzDev it's not possible to reproduce because you've fixed this bug already. But now we can't see examiner login in resume. So we need to have an ability to check that examiner exist. I'd not suggest to return default values like `""` from data objects, it would be better to add new method instead, e.g. `hasExaminer` to `Resumes`, similar to `hasMentor` in `People`. To avoid inconsistency you can

[2019-05-29 10:25] g4s8 commented on #2056
@0crat assign @sbzDev

[2019-05-29 10:28] 0crat commented on #2056
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2056](https://github.com/zerocracy/farm/issues/2056), see [§21](http://www.zerocracy.com/policy.html#21); @sbzdev[/z](https://www.0crat.com/u/sbzdev) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-05-29 10:32] g4s8 commented on #2054
@rultor release, tag=`0.47.4`

[2019-05-29 10:32] 0crat commented on #2056
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-29 10:32] sbzDev commented on #2056
@g4s8 got it! please assign it to me. and I will prepare PR ASAP

[2019-05-29 10:34] rultor commented on #2054
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19044-496881147)

[2019-05-29 10:34] 0crat commented on #2056
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @webdatavisualdev[/z](https://www.0crat.com/u/webdatavisualdev)

[2019-05-29 10:48] rultor commented on #2054
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19044-496881147) (spent 13min)

[code]

[2019-05-29 11:28] g4s8 commented on #2054
@rultor release, tag=`0.47.4`

[2019-05-29 11:31] rultor commented on #2054
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19044-496897240)

[2019-05-29 11:53] rultor commented on #2054
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19044-496897240) (took me 20min)

[2019-05-29 13:12] sbzDev commented on #2056
@g4s8 PR is ready

[2019-05-29 13:12] 0crat commented on #2056
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.4](https://github.com/zerocracy/farm): Issue: zerocracy/farm#2056, Action: `created`

[2019-05-29 13:47] vassilevsky commented on #1866
Also, Sandbox (boolean).

[2019-05-29 18:34] vassilevsky commented on #2054
So right now I see this:

Should I re-identify myself? Where can I find a link to do that?

[2019-05-29 19:38] sbzDev commented on #2018
@0crat status

[2019-05-29 19:38] sbzDev commented on #2017
@0crat status

[2019-05-29 19:41] 0crat commented on #2018
@sbzDev This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#2018](https://github.com/zerocracy/farm/issues/2018) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @sbzdev[/z](https://www.0crat.com/u/sbzdev) for [1days](http://www.zero

[2019-05-29 19:43] 0crat commented on #2017
@sbzDev This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#2017](https://github.com/zerocracy/farm/issues/2017) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @sbzdev[/z](https://www.0crat.com/u/sbzdev) for [1days](http://www.zero

[2019-05-30 08:12] sbzDev commented on #2056
@g4s8 PR is ready

[2019-05-30 08:13] sbzDev commented on #2018
@g4s8 PR is ready

[2019-05-30 08:13] sbzDev commented on #2017
@g4s8 PR is ready

[2019-05-30 09:07] g4s8 commented on #2054
@vassilevsky yes please, I've reset all `null null` identities.

[2019-05-30 09:07] #2054 closed

[2019-05-30 09:24] 0crat commented on #2054
Job [#2054](https://github.com/zerocracy/farm/issues/2054) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-05-30 09:26] 0crat commented on #2054
Job was finished in 41 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-30 09:30] 0crat commented on #2054
The job [#2054](https://github.com/zerocracy/farm/issues/2054) is now out of scope

[2019-05-30 09:31] 0crat commented on #2054
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-30 13:13] victornoel opened #2059 "0crat didn't completely register the impediment"
In this issue: https://github.com/yegor256/cactoos/issues/1117

I asked 0crat to wait (https://github.com/yegor256/cactoos/issues/1117#issuecomment-497306189), it labelled the issue as `waiting` but:
- didn't add a comment to say the impediment was registered
- doesn't show the job as having an impediment in `0crat.com/u/victornoel/agenda`

More than one hour has passed, I registered other impedim

[2019-05-30 13:13] 0crat commented on #2059
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-30 14:35] g4s8 commented on #2059
@victornoel it's strange - 0crat should change waiting state and add Github label in one take (it's one method), but I can't see any error for this job.

[2019-05-30 14:38] 0crat commented on #2059
Job [#2059](https://github.com/zerocracy/farm/issues/2059) is now in scope, role is `DEV`

[2019-05-30 14:44] 0crat commented on #2059
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-05-30 17:03] denis-konovalyenko opened #2060 "An unrecoverbale failure on closing a job 2"
There is an unrecoverable failure on my side. Please, submit it here:
[code]
0.47.4: CID: [18e75328-98d4-4db2-b0d4-d7d5d8c4765e](https://www.0crat.com/footprint/GFV03LPPY/18e75328-98d4-4db2-b0d4-d7d5d8c4765e), Type: "Close job"

[2019-05-30 17:03] 0crat commented on #2060
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-31 11:40] sbzDev opened #2061 "When all QAs on vacation in the project, notify ARCs about that"
When all QAs on vacation in the project, notify ARCs about that
related to https://github.com/zerocracy/farm/issues/2017

[2019-05-31 11:40] 0crat commented on #2061
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-05-31 12:04] 0crat commented on #2061
Job [#2061](https://github.com/zerocracy/farm/issues/2061) is now in scope, role is `DEV`

[2019-05-31 12:13] 0crat commented on #2061
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sbzdev[/z](https://www.0crat.com/u/sbzdev)

[2019-05-31 12:28] sbzDev commented on #2061
@g4s8 please assign it to me?

[2019-05-31 12:30] sbzDev commented on #2018
@0crat status

[2019-05-31 12:31] sbzDev commented on #2017
@0crat status

[2019-05-31 12:31] g4s8 commented on #2061
@0crat assign @sbzDev

[2019-05-31 12:31] sbzDev commented on #2056
@0crat status

[2019-05-31 12:37] 0crat commented on #2056
@sbzDev This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#2056](https://github.com/zerocracy/farm/issues/2056) is [in scope](http://www.zerocracy.com/policy.html#14) for 2days
  * The role is `DEV`
  * The job is assigned to @sbzdev[/z](https://www.0crat.com/u/sbzdev) for [2days](http://www.zer

[2019-05-31 12:37] 0crat commented on #2018
@sbzDev This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#2018](https://github.com/zerocracy/farm/issues/2018) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @sbzdev[/z](https://www.0crat.com/u/sbzdev) for [3days](http://www.zero

[2019-05-31 12:37] 0crat commented on #2017
@sbzDev This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#2017](https://github.com/zerocracy/farm/issues/2017) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @sbzdev[/z](https://www.0crat.com/u/sbzdev) for [3days](http://www.zero

[2019-05-31 12:38] 0crat commented on #2061
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2061](https://github.com/zerocracy/farm/issues/2061), see [§21](http://www.zerocracy.com/policy.html#21); @sbzdev[/z](https://www.0crat.com/u/sbzdev) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-05-31 12:39] 0crat commented on #2061
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-31 12:41] 0crat commented on #2061
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-31 12:46] sbzDev commented on #2017
@g4s8 if PR is ok. Can this issue be closed?

[2019-05-31 12:46] sbzDev commented on #2056
@g4s8 if PR is ok. Can this issue be closed?

[2019-05-31 13:00] g4s8 commented on #2017
@sbzDev please ask issue author to close it

[2019-05-31 13:03] sereshqua commented on #2017
@0crat close

[2019-05-31 13:05] 0crat commented on #2017
@sereshqua Can't understand "close", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this

[2019-05-31 13:06] #2017 closed

[2019-05-31 13:24] 0crat commented on #2017
Job [#2017](https://github.com/zerocracy/farm/issues/2017) is not in the agenda of @sbzdev[/z](https://www.0crat.com/u/sbzdev), can't retrieve data and time of add

[2019-05-31 13:24] 0crat commented on #2017
Job [#2017](https://github.com/zerocracy/farm/issues/2017) is not in the agenda of @sbzdev[/z](https://www.0crat.com/u/sbzdev), can't inspect

[2019-05-31 13:24] 0crat commented on #2017
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sbzdev[/z](https://www.0crat.com/u/sbzdev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-05-31 13:25] 0crat commented on #2017
The job [#2017](https://github.com/zerocracy/farm/issues/2017) is now out of scope

[2019-05-31 13:26] sereshqua commented on #2017
@0crat quality good

[2019-05-31 13:33] 0crat commented on #2017
@sereshqua The project doesn't have enough funds, can't make a payment

[2019-05-31 13:33] 0crat commented on #2017
Order was finished, quality is "good": +35 point(s) just awarded to @sbzdev[/z](https://www.0crat.com/u/sbzdev)

[2019-05-31 13:36] 0crat commented on #2017
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-05-31 13:38] 0crat commented on #2017
@sereshqua The project doesn't have enough funds, can't make a payment

[2019-06-01 06:35] sbzDev commented on #2056
@webdatavisualdev please close this issue. The fix is delivered

[2019-06-01 09:35] victornoel commented on #1686
@g4s8 I have the same here too:
![image](https://user-images.githubusercontent.com/160975/58746688-512b5800-8461-11e9-83b6-f8a3e5733abe.png)

[2019-06-01 14:01] 0crat commented on #1686
Job [#1686](https://github.com/zerocracy/farm/issues/1686) is now in scope, role is `DEV`

[2019-06-01 14:07] 0crat commented on #1686
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-06-01 19:05] scristalli opened #2066 "Review assigned on already approved PR"
[PR #125 in cactoos-matchers](https://github.com/llorllale/cactoos-matchers/pull/125)

The PR has been approved and rultor is waiting for ARC to confirm merge, but it seems that 0crat assigned the review of the PR again.

[2019-06-01 19:05] 0crat commented on #2066
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-01 19:05] 0crat commented on #2066
@scristalli[/z](https://www.0crat.com/u/scristalli) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-02 09:37] g4s8 commented on #2066
@scristalli I just checked this PR - reviewer decided to quit the project this is why, the job was cancelled and assigned to new performer.

[2019-06-02 09:37] #2066 closed

[2019-06-02 09:55] 0crat commented on #2066
Job `gh:zerocracy/farm#2066` is not assigned, can't get performer

[2019-06-02 09:55] 0crat commented on #2066
This job is not in scope

[2019-06-02 10:00] #1919 closed

[2019-06-02 10:18] 0crat commented on #1919
Job `gh:zerocracy/farm#1919` is not assigned, can't get performer

[2019-06-02 10:18] 0crat commented on #1919
This job is not in scope

[2019-06-02 11:37] sbzDev commented on #2061
@g4s8  how can i close that?

[2019-06-02 13:20] scristalli commented on #2066
Thanks for the explanation, this wasn't visible from the comments so I thought it might have been a bug.

[2019-06-02 16:56] g4s8 commented on #2061
@sbzDev sure, thanks

[2019-06-02 16:56] #2061 closed

[2019-06-02 17:06] g4s8 opened #2067 "Mentor may not receive tuition fees"
Mentor may not receive tuition fees when user get payments via pay extra command.
It seems it was introduced intentionally here:

https://github.com/zerocracy/farm/commit/3d88a06f3cab8ece6cee50f9b2d114c59d7603ac#diff-1f2fd793b201bd4080e3502d774f9109R67

for #627 ticket, but it's contradicting 45 policy rule: https://www.zerocracy.com/policy.html#45 :

@yegor256 please check this issue, since it's

[2019-06-02 17:10] 0crat commented on #2067
Job [#2067](https://github.com/zerocracy/farm/issues/2067) is now in scope, role is `DEV`

[2019-06-02 17:12] 0crat commented on #2067
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2067](https://github.com/zerocracy/farm/issues/2067), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-06-02 17:17] 0crat commented on #2061
Job [#2061](https://github.com/zerocracy/farm/issues/2061) is not in the agenda of @sbzdev[/z](https://www.0crat.com/u/sbzdev), can't retrieve data and time of add

[2019-06-02 17:17] 0crat commented on #2067
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-02 17:17] 0crat commented on #2067
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-02 17:17] 0crat commented on #2061
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sbzdev[/z](https://www.0crat.com/u/sbzdev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-02 17:17] 0crat commented on #2061
Job [#2061](https://github.com/zerocracy/farm/issues/2061) is not in the agenda of @sbzdev[/z](https://www.0crat.com/u/sbzdev), can't inspect

[2019-06-02 17:17] 0crat commented on #2067
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-02 17:18] 0crat commented on #2061
The job [#2061](https://github.com/zerocracy/farm/issues/2061) is now out of scope

[2019-06-02 17:19] g4s8 commented on #2067
@rultor release, tag=`0.47.5`

[2019-06-02 17:20] rultor commented on #2067
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19102-498049355)

[2019-06-02 17:39] rultor commented on #2067
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19102-498049355) (took me 17min)

[2019-06-02 18:43] sereshqua commented on #2061
@sbzDev & @g4s8 please make sure that next time problem reporter and problem solver will be 2 different persons (as written in [policy](http://www.zerocracy.com/policy.html#30))

[2019-06-02 19:51] ypshenychka opened #2068 "Reimburse tution fee for manual payment"
I've had a student @sazed5055 who was hired as a one-time expert to CA2075Q49 project. Overall he has received 500$ for his job via manual payments and tuition fee was not paid because of issue #2067.
Please compensate the tuition fee (40$) as I spent really lot of time to get this expert aboard and walk him through all of the Zerocracy processes.

[2019-06-02 19:51] 0crat commented on #2068
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-02 20:10] g4s8 commented on #2068
@ypshenychka it's not fully correct: @sazed5055 has received the payment for 4.5h with this bug, but I'm going to send other part (5.5h) as manual payment after bug-fix release: https://github.com/zerocracy/farm/issues/2067#issuecomment-498050721

[2019-06-03 08:08] sereshqua commented on #2061
@0crat quality acceptable

[2019-06-03 08:22] 0crat commented on #2061
@sereshqua The project doesn't have enough funds, can't make a payment

[2019-06-03 08:23] 0crat commented on #2061
Order was finished, quality is "acceptable": +30 point(s) just awarded to @sbzdev[/z](https://www.0crat.com/u/sbzdev)

[2019-06-03 08:23] 0crat commented on #2061
@sereshqua The project doesn't have enough funds, can't make a payment

[2019-06-03 08:23] 0crat commented on #2061
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-03 15:58] scristalli opened #2069 "ARC not visible in project board"
ARC is not visible in the project board altought a column for ARC is present.
Piece of output from the board page, as you can see ARC's `<td>` is empty:
[code]

[2019-06-03 15:58] 0crat commented on #2069
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-03 15:58] 0crat commented on #2069
@scristalli[/z](https://www.0crat.com/u/scristalli) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-03 16:13] 0crat commented on #2069
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2069](https://github.com/zerocracy/farm/issues/2069), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-06-03 16:17] 0crat commented on #2069
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-03 16:17] 0crat commented on #2069
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-06-05 08:10] sbzDev commented on #2056
@sereshqua how can I speed up closing this issue?

[2019-06-05 08:13] sereshqua commented on #2056
@sbzDev hi! you need to tag and ask issue creator to close the issue, because the PR has been already merged. The author is @webdatavisualdev

[2019-06-05 08:15] sbzDev commented on #2056
@sereshqua thanks. I did it 4 days ago.

[2019-06-05 08:20] sereshqua commented on #2056
@sbzDev try to ping him in TG as well

[2019-06-05 09:16] #2056 closed

[2019-06-05 09:33] 0crat commented on #2056
Job [#2056](https://github.com/zerocracy/farm/issues/2056) is not in the agenda of @sbzdev[/z](https://www.0crat.com/u/sbzdev), can't retrieve data and time of add

[2019-06-05 09:33] 0crat commented on #2056
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sbzdev[/z](https://www.0crat.com/u/sbzdev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-05 09:33] 0crat commented on #2056
Job [#2056](https://github.com/zerocracy/farm/issues/2056) is not in the agenda of @sbzdev[/z](https://www.0crat.com/u/sbzdev), can't inspect

[2019-06-05 09:34] 0crat commented on #2056
The job [#2056](https://github.com/zerocracy/farm/issues/2056) is now out of scope

[2019-06-05 09:40] sereshqua commented on #2056
@0crat quality good

[2019-06-05 09:56] 0crat commented on #2056
Order was finished, quality is "good": +35 point(s) just awarded to @sbzdev[/z](https://www.0crat.com/u/sbzdev)

[2019-06-05 09:56] 0crat commented on #2056
@sereshqua The project doesn't have enough funds, can't make a payment

[2019-06-05 10:00] 0crat commented on #2056
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-05 10:00] 0crat commented on #2056
@sereshqua The project doesn't have enough funds, can't make a payment

[2019-06-05 10:05] sbzDev commented on #2018
@ebercamargo please close the issue

[2019-06-07 08:43] victornoel opened #2070 "A job not yet reviewed by QA is removed from my agenda"
The issue https://github.com/llorllale/cactoos-matchers/issues/119 was assigned to me and present in my agenda, when it was closed, a QA was assigned, but at the current time the QA review hasn't been done.

But the job was already removed from my agenda. Also if you look at 0crat comment (https://github.com/llorllale/cactoos-matchers/issues/119#issuecomment-499735061), it says:

I believe there i

[2019-06-07 08:44] 0crat commented on #2070
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-08 07:47] g4s8 commented on #2067
Fixed in https://github.com/zerocracy/farm/commit/973bbf300828f048066a2afed55d5f2c98ddaa84

[2019-06-08 07:47] #2067 closed

[2019-06-08 08:04] 0crat commented on #2067
Job [#2067](https://github.com/zerocracy/farm/issues/2067) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-06-08 08:09] 0crat commented on #2067
The job [#2067](https://github.com/zerocracy/farm/issues/2067) is now out of scope

[2019-06-08 08:11] 0crat commented on #2067
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-08 11:15] victornoel opened #2072 "A job without impediment is not removed from assignee after 10 days"
In https://github.com/llorllale/cactoos-matchers/issues/106, the job has been assigned for 11 days but it hasn't been removed from assignee.

I think it should have, no?

[2019-06-08 11:15] 0crat commented on #2072
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-08 14:11] ammaratef45 opened #2073 "Vesting proof link is broken"
When I click on proof word behind vesting share I get the following

500 Internal Server Error [https://sheila.infra.cloudconvert.com/download/e3e3cd1b-53dc-4c01-80d0-7abf8b167fd6?inline]
Cache-Control: no-cache, no-store, must-revalidate
ETag: W/"2a-c5Yd735mWsST6SbM+ozpXm6eIAU"
Access-Control-Allow-Origin: *
Access-Control-Allow-Methods: OPTIONS, GET, PUT, POST, DELETE
Connection: keep-alive
Expi

[2019-06-08 14:11] 0crat commented on #2073
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-08 14:11] 0crat commented on #2073
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-08 14:40] g4s8 commented on #2073
@ammaratef45 thanks for reporting but it's a duplicate of https://github.com/zerocracy/farm/issues/852

[2019-06-08 14:40] #2073 closed

[2019-06-08 14:41] g4s8 commented on #996
@krzyk thanks for reporting but it's a duplicate of #852

[2019-06-08 14:41] #996 closed

[2019-06-08 14:47] 0crat commented on #852
Job [#852](https://github.com/zerocracy/farm/issues/852) is now in scope, role is `DEV`

[2019-06-08 14:47] 0crat commented on #2073
Job `gh:zerocracy/farm#2073` is not assigned, can't get performer

[2019-06-08 14:55] 0crat commented on #852
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-08 14:57] 0crat commented on #996
Job `gh:zerocracy/farm#996` is not assigned, can't get performer

[2019-06-08 14:58] 0crat commented on #996
This job is not in scope

[2019-06-08 22:50] paulodamaso commented on #1817
@g4s8 Happened again, this time on [stryv] (https://www.0crat.com/p/GFV03LPPY) project even when project had funding:
![stryv_arc_release](https://user-images.githubusercontent.com/33915433/59153008-6f2b2680-8a26-11e9-83bc-d53953a6364c.jpg)

According to rate, release bonus should be $140 (120 mins). This money was available at the funding that time.

[2019-06-09 12:36] ammaratef45 opened #2074 "Adding job to a milestone gives an error"
In ammaratef45/zold-flutter-client#118, When I've added the job to a milestone I got the following from zercrat

[2019-06-09 12:36] 0crat commented on #2074
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-09 12:36] 0crat commented on #2074
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-10 16:34] sbzDev commented on #2018
@g4s8 can you close this issue due to no answer from reporter?

[2019-06-10 16:39] ebercamargo commented on #2018
@0crat close

[2019-06-10 16:41] ebercamargo commented on #2018
@sbzDev tks.

[2019-06-10 16:41] #2018 closed

[2019-06-10 16:59] 0crat commented on #2018
Job [#2018](https://github.com/zerocracy/farm/issues/2018) is not in the agenda of @sbzdev[/z](https://www.0crat.com/u/sbzdev), can't retrieve data and time of add

[2019-06-10 16:59] 0crat commented on #2018
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sbzdev[/z](https://www.0crat.com/u/sbzdev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-10 16:59] 0crat commented on #2018
Job [#2018](https://github.com/zerocracy/farm/issues/2018) is not in the agenda of @sbzdev[/z](https://www.0crat.com/u/sbzdev), can't inspect

[2019-06-10 16:59] 0crat commented on #2018
The job [#2018](https://github.com/zerocracy/farm/issues/2018) is now out of scope

[2019-06-10 17:02] sereshqua commented on #2018
@0crat quality good

[2019-06-10 17:13] 0crat commented on #2018
@sereshqua The project doesn't have enough funds, can't make a payment

[2019-06-10 17:18] 0crat commented on #2018
Order was finished, quality is "good": +35 point(s) just awarded to @sbzdev[/z](https://www.0crat.com/u/sbzdev)

[2019-06-10 17:19] 0crat commented on #2018
@sereshqua The project doesn't have enough funds, can't make a payment

[2019-06-10 17:19] 0crat commented on #2018
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-10 20:22] g4s8 commented on #1817
@paulodamaso looks like Mongo is getting slower with new projects https://www.0crat.com/footprint/GFV03LPPY/6c37deb2-9b70-4655-a4cb-0087261d49ce

related to: https://github.com/zerocracy/farm/issues/829

[code]

[2019-06-10 20:26] 0crat commented on #1817
Job [#1817](https://github.com/zerocracy/farm/issues/1817) is now in scope, role is `DEV`

[2019-06-10 20:33] 0crat commented on #1817
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-06-11 04:58] sereshqua opened #2075 "0crat did not react to `quality good` and `status` commands"
[See](https://github.com/harvest-foundation/core/issues/490#issuecomment-500580253) the ticket and comments

**Expected result**: 0crat should react to `quality good` and `status` commands as usual

[2019-06-11 04:58] 0crat commented on #2075
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-11 07:00] g4s8 commented on #2075
@sereshqua 0crat may be sometimes slow (especially on high load)

[2019-06-11 07:00] #2075 closed

[2019-06-11 07:03] g4s8 commented on #2074
@ammaratef45 thanks for reporting, but it's a duplicate of #2051, will try to fix it soon

[2019-06-11 07:03] #2074 closed

[2019-06-11 07:07] ammaratef45 commented on #2074
@g4s8 A lot of duplicates :laughing:

Good luck :+1:

[2019-06-11 07:11] 0crat commented on #2074
Job `gh:zerocracy/farm#2074` is not assigned, can't get performer

[2019-06-11 07:13] 0crat commented on #2051
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2051](https://github.com/zerocracy/farm/issues/2051), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-06-11 07:17] 0crat commented on #2051
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-11 07:18] 0crat commented on #2075
Job `gh:zerocracy/farm#2075` is not assigned, can't get performer

[2019-06-11 07:18] 0crat commented on #2075
This job is not in scope

[2019-06-12 09:50] ammaratef45 opened #2076 "Wrong shares calculation"
Here, I got 4 * 1.67 $ of shares in the project [ghman](https://www.0crat.com/p/CJT4R32Q3)
![Screenshot from 2019-06-12 11-44-24](https://user-images.githubusercontent.com/13663221/59341349-fc60ca80-8d07-11e9-9ad5-825b61d72c6f.png)

They should be a total of 6.68 shares but I got only 5.01
![Screenshot from 2019-06-12 11-44-43](https://user-images.githubusercontent.com/13663221/59341475-3336e080-8

[2019-06-12 09:50] 0crat commented on #2076
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-12 09:50] 0crat commented on #2076
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-12 11:54] ammaratef45 commented on #2076
@g4s8 after earning one more $1.67 it was calculated, I guess one of my earnings was ignored, this may help you while investigating

[2019-06-13 10:10] scristalli opened #2077 "Internal application error on /equity URL"
Querying `https://www.0crat.com/equity/CJT4R32Q3` (project of which I am member, got there from link "proof" in the project page next to my equity), I get an error.
It doesn't seem temporary, reloading the page produces the same error again.
The only part that changes is the string after the `/download` URL, in the example below is `c7449d58-98d0-4a83-9bb7-7f8aa2e88a65` but it changes every time.

[2019-06-13 10:10] 0crat commented on #2077
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-13 10:10] 0crat commented on #2077
@scristalli[/z](https://www.0crat.com/u/scristalli) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-13 17:21] hkarakose opened #2078 "Zerocrat Configuration Guide"
Hello
I am trying to setup this project. I am already seeing the homepage. But I don't know how to add a project, add new members, etc.

Is there a configuration guide of this project?

[2019-06-13 17:21] 0crat commented on #2078
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-13 17:21] 0crat commented on #2078
@hkarakose[/z](https://www.0crat.com/u/hkarakose) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-13 20:55] sereshqua opened #2079 "There is an unrecoverable failure 0crat's side"
[See](https://github.com/ammaratef45/zold-flutter-client/pull/116#issuecomment-501874951)

com.jcabi.xml.ListWrapper[162] com.jcabi.xml.ListWrapper$NodeNotFoundException: XPath '/equity/shares/text()' not found in '<?xml version="1.0" encoding="UTF-8"?>\uA<equity x..174..acy.com/0.65.1/xsd/pm/cost/equity.xsd"/>\uA': Index (0) is out of bounds (size=0)
0.47.5: CID: 3143e865-e8ad-4f10-9303-68a0512f7

[2019-06-13 20:56] 0crat commented on #2079
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-14 02:28] fabriciofx opened #2080 "Zerocracy for trainee"
It would be nice if Zerocracy allows a *trainee mode*. It'll work as follow: I'll put an opensource project there and the *trainee contribuitors* will use all infraestructure of Zerocracy, but withou earn any "official" points. The reason is because I'm a professor and I'd like to teach Zerocracy workflow for my students but they're still learning to programming and the development tools (maven, g

[2019-06-14 02:28] 0crat commented on #2080
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-14 02:28] 0crat commented on #2080
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-14 13:05] g4s8 commented on #2078
@hkarakose please check this page: https://www.zerocracy.com/pfaq.html

[2019-06-14 13:06] 0crat commented on #2076
Job [#2076](https://github.com/zerocracy/farm/issues/2076) is now in scope, role is `DEV`

[2019-06-14 14:13] ypshenychka commented on #1259
@g4s8 It happens all the time, when there is an error for the first verdict, and after second try I see "no performer" issue. E.g. here - https://github.com/January-ai/estimated-gl/issues/203.

[2019-06-14 17:14] pinaf opened #2081 "Wait command should not be accepted from dev who is not assigned to the issue"
Currently if a project dev asks 0crat to wait on an issue that command is accepted even when the dev is no longer the one assigned to the issue. Let's make 0crat refuse these requests unless they come from the assigned dev or from the ARC or the PO.

![image](https://user-images.githubusercontent.com/1054771/59526195-b7c36380-8eae-11e9-8545-040d2ffb8b20.png)

[2019-06-14 17:14] 0crat commented on #2081
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-14 17:14] 0crat commented on #2081
@pinaf[/z](https://www.0crat.com/u/pinaf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-14 18:19] hkarakose commented on #2078
Thanks @g4s8.
How do I create a PO user and advisor user with reputation > 1024?

![image](https://user-images.githubusercontent.com/406291/59529537-f9bdcb00-8ee9-11e9-8326-81b13567d0ae.png)

[2019-06-14 21:37] paulodamaso commented on #1817
@g4s8 Happened again in the same project, please check

[2019-06-15 10:05] g4s8 commented on #2078
@hkarakose you need to find adviser first, just submit [RFP](https://www.0crat.com/rfp) and someone will answer you, adviser will help you to bootstrap the project in your Slack channel and assign you PO role, then you'll be able to manage your project.

[2019-06-15 10:07] 0crat commented on #2081
Job [#2081](https://github.com/zerocracy/farm/issues/2081) is now in scope, role is `DEV`

[2019-06-15 10:10] 0crat commented on #2081
Job `gh:zerocracy/farm#2081` already assigned to @g4s8, can't assign to @g4s8

[2019-06-15 10:10] 0crat commented on #2081
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2081](https://github.com/zerocracy/farm/issues/2081), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-06-15 10:14] 0crat commented on #2081
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @pinaf[/z](https://www.0crat.com/u/pinaf)

[2019-06-15 10:14] 0crat commented on #2081
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-15 11:12] hkarakose commented on #2078
@g4s8 I am trying to setup another instance of zerocrat software in AWS. How can I create initial users?

[2019-06-15 11:16] 0pdd opened #2084 "Catalog.java:49-52: Add new command to handle `sandbox..."
The puzzle `1453-269b8f94` from #1453 has to be resolved:

https://github.com/zerocracy/farm/blob/6c74e0e6ef0653ea035d02ef4634445fd81424ae/src/main/java/com/zerocracy/pmo/Catalog.java#L49-L52

The puzzle was created by Kirill on 30-May-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2019-06-15 11:16] 0pdd commented on #1453
@g4s8 the puzzle [#2084](https://github.com/zerocracy/farm/issues/2084) is still not solved.

[2019-06-15 11:16] 0crat commented on #2084
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-15 11:22] 0crat commented on #2084
Job [#2084](https://github.com/zerocracy/farm/issues/2084) is now in scope, role is `DEV`

[2019-06-15 13:56] g4s8 commented on #2078
@hkarakose it's out of scope of Zerocracy issues, if you set up the instance somewhere you need to manage the data by yourself.

[2019-06-15 13:56] #2078 closed

[2019-06-15 13:57] 0crat commented on #2078
Job `gh:zerocracy/farm#2078` is not assigned, can't get performer

[2019-06-15 13:57] g4s8 commented on #2081
@pinaf it should be fixed in #2083 and released soon.

[2019-06-15 13:58] g4s8 commented on #1453
@rultor release, tag=`0.47.6`

[2019-06-15 14:00] rultor commented on #1453
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19217-502369215)

[2019-06-15 14:12] rultor commented on #1453
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19217-502369215) (spent 12min)

[code]

[2019-06-15 14:13] g4s8 commented on #1453
@rultor release, tag=`0.47.6`

[2019-06-15 14:15] rultor commented on #1453
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19217-502370361)

[2019-06-15 14:19] g4s8 commented on #1453
Done in #2082

[2019-06-15 14:19] #1453 closed

[2019-06-15 14:34] rultor commented on #1453
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19217-502370361) (took me 17min)

[2019-06-15 14:39] 0crat commented on #1453
Job [#1453](https://github.com/zerocracy/farm/issues/1453) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-06-15 14:48] 0crat commented on #1453
The job [#1453](https://github.com/zerocracy/farm/issues/1453) is now out of scope

[2019-06-15 14:49] 0crat commented on #1453
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-15 16:18] pinaf commented on #2081
@g4s8 thank you

[2019-06-15 16:18] #2081 closed

[2019-06-15 16:33] victornoel commented on #2070
@g4s8 this happened again with https://github.com/g4s8/ghman/pull/26

[2019-06-15 16:41] 0crat commented on #2081
Job [#2081](https://github.com/zerocracy/farm/issues/2081) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-06-15 16:43] 0crat commented on #2081
Job was finished in 6 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-06-15 16:47] 0crat commented on #2081
The job [#2081](https://github.com/zerocracy/farm/issues/2081) is now out of scope

[2019-06-15 16:47] 0crat commented on #2081
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-15 16:58] victornoel opened #2085 "Getting telegram notification about merged PR being in continue status"
Since today I'm getting telegram message from 0crat saying things like:
[code]

It is a PR that was just merged, I don't think I should be getting this notification in this situation.

[2019-06-15 16:58] 0crat commented on #2085
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-15 19:09] pinaf opened #2086 "Resume command should not be accepted from dev who is not assigned to the issue"
Currently if a project dev asks 0crat to resume an issue that command is accepted even when the dev is no longer the one assigned to the issue. Let's make 0crat refuse these requests unless they come from the assigned dev or from the ARC or the PO.

![image](https://user-images.githubusercontent.com/1054771/59555400-dba6a800-8f87-11e9-9656-7fbedabd8166.png)

[2019-06-15 19:09] 0crat commented on #2086
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-15 19:09] 0crat commented on #2086
@pinaf[/z](https://www.0crat.com/u/pinaf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-16 07:11] 0crat commented on #2086
Job [#2086](https://github.com/zerocracy/farm/issues/2086) is now in scope, role is `DEV`

[2019-06-16 07:15] 0crat commented on #2085
Job [#2085](https://github.com/zerocracy/farm/issues/2085) is now in scope, role is `DEV`

[2019-06-16 07:17] 0crat commented on #2086
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @pinaf[/z](https://www.0crat.com/u/pinaf)

[2019-06-16 07:24] 0crat commented on #2085
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-16 19:59] SergeyKutsko opened #2087 "command links add github fails"
PID: 13110@ip-172-31-12-121, thread: pool-5-thread-41
org.codehaus.groovy.runtime.ScriptBytecodeAdapter[66] groovy.lang.MissingPropertyException: No such property: ref for class: com.zerocracy.stk.pm.in.links.add_link

[2019-06-16 19:59] 0crat commented on #2087
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-16 19:59] 0crat commented on #2087
@sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!