[2019-06-16 20:22] SergeyKutsko opened #2088 "Typo ref instead of href"
https://github.com/zerocracy/farm/blob/ebf50a7381f0ca952373ce2575e97d179fcb97a4/src/main/groovy/com/zerocracy/stk/pm/in/links/add_link.groovy#L45

[2019-06-16 20:22] 0crat commented on #2088
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-16 20:22] 0crat commented on #2088
@sergeykutsko[/z](https://www.0crat.com/u/sergeykutsko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-18 23:39] fabriciofx opened #2090 "zerocrat bot too slow"
Zerocrat bot takes too much time to answer the commands. After `0crat quality good` it took almost 30 minutes to answer, as you can see below:

![image](https://user-images.githubusercontent.com/1964562/59726698-10756200-9209-11e9-8ea5-84fc7899a049.png)

[2019-06-18 23:39] 0crat commented on #2090
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-18 23:39] 0crat commented on #2090
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-19 14:36] zerocratsubs commented on #2078
This was a question about open source github repo: https://github.com/zerocracy/farm.

If this is out of scope, where can I ask?

Can you share dynamodb configuration of this tool?

[2019-06-19 17:03] scristalli opened #2091 "0crat assigned too many jobs (over maximum)"
After closing a job, 0crat assigned me three jobs, bringing my agenda to 5 even though my reputation is only +135.

These are the three footprints:

- [Job 1](https://www.0crat.com/footprint/C63314D6Z/c4c6868e-59fe-459b-8262-eb3801e10993)
- [Job 2](https://www.0crat.com/footprint/CJT4R32Q3/bfabf75f-f0d9-48c7-a1c7-3f32bb2c4528)
- [Job 3](https://www.0crat.com/footprint/C63314D6Z/39f4d27d-86d4-4baa-

[2019-06-19 17:03] 0crat commented on #2091
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-19 17:03] 0crat commented on #2091
@scristalli[/z](https://www.0crat.com/u/scristalli) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-19 18:22] g4s8 commented on #2078
@zerocratsubs it's open source project - you can read sources and understand the schema from it. But explaining the setup and deployment process of this project is out of scope, because deployment is working as expected now, no need to change something.

[2019-06-20 13:23] 0crat commented on #2091
Job [#2091](https://github.com/zerocracy/farm/issues/2091) is now in scope, role is `DEV`

[2019-06-20 13:31] 0crat commented on #2091
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-06-20 16:15] scristalli commented on #2077
@g4s8 can we confirm this issue? The problem persists, I get errors every time I try to access the equity URL from the "proof" link in the project page.

[2019-06-20 16:33] g4s8 commented on #2077
@scristalli thanks for reporting, it's a duplicate of #2073

[2019-06-20 16:33] #2077 closed

[2019-06-20 16:34] 0crat commented on #2077
Job `gh:zerocracy/farm#2077` is not assigned, can't get performer

[2019-06-21 11:11] yegor256 opened #2092 "Show the list of currently active projects and their ARCs"
In our daily report to the PMO let's also show the list of active projects now (which have at least one transaction over the last 16 days) and their ARC names.

[2019-06-21 11:11] 0crat commented on #2092
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-21 12:46] 0crat commented on #2092
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2092](https://github.com/zerocracy/farm/issues/2092), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-06-21 12:49] 0crat commented on #2092
Job `gh:zerocracy/farm#2092` already assigned to @g4s8, can't assign to @g4s8

[2019-06-21 12:51] 0crat commented on #2092
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-21 12:53] 0crat commented on #2092
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-06-21 18:02] g4s8 commented on #2092
@rultor release, tag=`0.47.7`

[2019-06-21 18:03] rultor commented on #2092
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19287-504517912)

[2019-06-21 18:22] rultor commented on #2092
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19287-504517912) (took me 17min)

[2019-06-22 10:24] aivinog1 opened #2094 "A sort of options in apply command is not works as expected"
For example if trying to apply to the project without parameters:
[code]

 The response was:
[code]

But I think that a zerocrat bot must give you options with sort:
[code]

[2019-06-22 10:24] 0crat commented on #2094
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-22 10:24] 0crat commented on #2094
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-22 11:18] aivinog1 opened #2095 "A help for apply command is not obvious"
A help for apply command is this:
[code]

But when I'm trying to set rate to 0:
[code]
I got this response:
[code]

Expected: successful applying to the project.

[2019-06-22 11:18] 0crat commented on #2095
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-22 11:18] 0crat commented on #2095
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-22 12:03] aivinog1 opened #2096 "An apply command needs more interactivity."
When I use Telegram's `@jobs_bot` I have a good-looking interactive process. Maybe worth to do the same?

I'll try to explain. When a user hit apply, he received a list of projects. Like this:
![Screenshot_2019-06-22-18-54-37-205_org telegram messenger](https://user-images.githubusercontent.com/25925932/59963577-3d828700-951f-11e9-910c-c5c33be83bd8.png).

After he chose a project, the same is goin

[2019-06-22 12:03] 0crat commented on #2096
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-22 12:03] 0crat commented on #2096
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-22 13:20] g4s8 commented on #2095
@aivinog1 you have to specify rate in USD, e.g. `/apply PROJECT DEV $100`

[2019-06-22 13:44] aivinog1 commented on #2095
@g4s8 I understand it but in the help message (a part about rate if I want work for free) this is not specified.

[2019-06-23 15:19] g4s8 commented on #2092
@rultor release, tag=`0.47.8`

[2019-06-23 15:20] rultor commented on #2092
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19287-504761322)

[2019-06-23 15:37] rultor commented on #2092
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19287-504761322) (took me 16min)

[2019-06-24 13:14] emilianodellacasa opened #2097 "Tuition fee notified in USD instead of ZLD"
When the bot notifies a mentor that he/she is going to receive a tution fee, the amount is given in USD and not ZLD, like in all other cases

[2019-06-24 13:15] 0crat commented on #2097
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-24 13:15] 0crat commented on #2097
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-24 13:31] g4s8 commented on #2097
@emilianodellacasa could you clarify what did you mean by "given in USD and not ZLD", can you provide some example?

[2019-06-24 13:38] emilianodellacasa commented on #2097
@g4s8 This is an example:

[2019-06-24 14:40] g4s8 commented on #2097
@emilianodellacasa but 0crat is always using USD amounts for all payments, e.g. for job payment:

Why should it use ZLD for tuition payments?

[2019-06-24 14:45] emilianodellacasa commented on #2097
@g4s8 As ZLD is the only way of payment in Zerocracy, I though it would be more straightforward and transparent

[2019-06-24 14:55] g4s8 commented on #2097
@emilianodellacasa but ZLD rate is no stable and it's changing over time, and all user rates are accepted in USD/EUR/ETC format, so it would be not obvious what amount in $ user received right now (always need to calculate).

[2019-06-24 15:19] emilianodellacasa commented on #2097
@g4s8 As ZLD is the only currency for Zerocracy, I think it should make sense to show all currencies amount in ZLD; also, the user would see the exactly same amount delivered to his/het wallet as stated in the notification (no need to calculations by the user)

[2019-06-24 16:18] samihibrahim opened #2098 "Zold payment failure reported by 0crat"
As role DEV, after completion of job #354 (https://github.com/stryvers/life-lens-app/issues/354) in zerocracy project GFV03LPPY, the payment failed with the log provided at the end of this issue. This message was received from 0crat bot over telegram. After about 20mins, I received another notification that the debt was received (& it was paid successfully indeed).

[code]

[2019-06-24 16:18] 0crat commented on #2098
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-24 16:19] 0crat commented on #2098
@samihibrahim[/z](https://www.0crat.com/u/samihibrahim) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-24 16:37] g4s8 commented on #2098
@samihibrahim this payment should be added to the debts, check profile page: https://www.0crat.com/u/me to see all debts. 0crat will retry to make failed payment every 1 hour.

[2019-06-24 16:45] samihibrahim commented on #2098
@g4s8 It was indeed paid successfully after 20mins or so after the error. I have no issue with the payment, I am only reporting this for the sake of the exception received.

[2019-06-25 12:24] g4s8 commented on #2092
@rultor release, tag=`0.47.9`

[2019-06-25 12:25] rultor commented on #2092
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19287-505420889)

[2019-06-25 12:39] rultor commented on #2092
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19287-505420889) (spent 14min)

[code]

[2019-06-25 12:51] g4s8 commented on #2092
@rultor release, tag=`0.47.9`

[2019-06-25 12:53] rultor commented on #2092
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19287-505430360)

[2019-06-25 13:17] rultor commented on #2092
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19287-505430360) (took me 20min)

[2019-06-25 20:23] vassilevsky commented on #1806
This weird sequence of notifications hit me too.

[2019-06-26 13:49] g4s8 commented on #2092
@rultor release, tag=`0.47.10`

[2019-06-26 13:51] rultor commented on #2092
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19287-505883600)

[2019-06-26 14:07] rultor commented on #2092
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19287-505883600) (spent 16min)

[code]

[2019-06-26 14:09] g4s8 commented on #2092
@rultor release, tag=`0.47.10`

[2019-06-26 14:11] rultor commented on #2092
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19287-505891918)

[2019-06-26 14:28] rultor commented on #2092
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19287-505891918) (spent 16min)

[code]

[2019-06-26 17:06] vzurauskas commented on #1906
@g4s8 Could this issue receive a boost? The number of PRs in my agenda is getting unmanageable.

[2019-06-26 17:18] vzurauskas opened #2100 "Payment for REV jobs should be based on the number of issues found"
At the moment code reviewer gets full payment if he finds three or more non-cosmetic issues. This gives me a very strong incentive to stop reviewing after I comment on three non-cosmetic issues. This also gives me an incentive not to review code changes the DEV commits addressing my issues and just approve anything.

I think the payment should be based on issues found, perhaps 5 mins per issue? So

[2019-06-26 17:18] 0crat commented on #2100
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-26 17:18] 0crat commented on #2100
@vzurauskas[/z](https://www.0crat.com/u/vzurauskas) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-27 07:58] g4s8 commented on #2092
@rultor release, tag=`0.47.11`

[2019-06-27 07:59] rultor commented on #2092
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19287-506237367)

[2019-06-27 08:11] g4s8 commented on #1906
@vzurauskas can you try to fix it? I can assign it to you if you want

[2019-06-27 08:14] g4s8 commented on #2100
@vzurauskas I like this idea, you suggested that QA needs to say amount of issues in the verdict, right? E.g. `quality good, pr.issues=5`, or something.

[2019-06-27 08:14] g4s8 commented on #2100
@yegor256 please check this

[2019-06-27 08:18] rultor commented on #2092
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19287-506237367) (took me 17min)

[2019-06-27 08:32] g4s8 commented on #2098
@samihibrahim reported it here: https://github.com/zold-io/wts.zold.io/issues/271

[2019-06-27 08:32] #2098 closed

[2019-06-27 08:35] g4s8 commented on #2088
@SergeyKutsko it was fixed in #2089 thanks

[2019-06-27 08:35] #2088 closed

[2019-06-27 08:35] g4s8 commented on #2087
@SergeyKutsko it was fixed in #2089 thanks

[2019-06-27 08:35] #2087 closed

[2019-06-27 08:38] g4s8 commented on #2060
@denis-konovalyenko it was temporary failure, Github API didn't respond with 4 attempts, it looks it was down for some time

[2019-06-27 08:38] #2060 closed

[2019-06-27 08:39] g4s8 commented on #2053
@sereshqua I think it was fixed

[2019-06-27 08:39] #2053 closed

[2019-06-27 08:48] g4s8 commented on #485
@amihaiemil I don't think that we need a label with estimation, because all tasks are estimated as 30min, and I don't understand assignee label: 0crat is changing Github ticket assignee, you can filter by assignee by clicking on it in ticket list,  or didn't get you? But boost labels may have a sense, because we don't have Github native attributes for that.

[2019-06-27 08:49] g4s8 commented on #490
@driver733 Paypal payment option was removed, closing this bug

[2019-06-27 08:49] #490 closed

[2019-06-27 08:57] #522 closed

[2019-06-27 09:00] g4s8 commented on #617
@amihaiemil I think it was fixed

[2019-06-27 09:00] #617 closed

[2019-06-27 09:06] g4s8 commented on #731
@ypshenychka I think it was fixed

[2019-06-27 09:06] #731 closed

[2019-06-27 09:11] g4s8 commented on #832
@amihaiemil it should be fixed

[2019-06-27 09:11] #832 closed

[2019-06-27 09:11] g4s8 commented on #858
@yegor256 I think it was fixed

[2019-06-27 09:11] #858 closed

[2019-06-27 09:13] #864 closed

[2019-06-27 09:13] #865 closed

[2019-06-27 09:15] g4s8 commented on #872
@amihaiemil I think it was fixed

[2019-06-27 09:15] #872 closed

[2019-06-27 09:19] #910 closed

[2019-06-27 09:21] #1073 closed

[2019-06-27 09:21] g4s8 commented on #1053
@proshin-roman I think it was fixed

[2019-06-27 09:21] #1053 closed

[2019-06-27 09:21] g4s8 commented on #1052
@proshin-roman I think it was fixed

[2019-06-27 09:21] #1052 closed

[2019-06-27 09:22] g4s8 commented on #1008
@paulodamaso policy changed, now you will receive +32 points for invite

[2019-06-27 09:22] #1008 closed

[2019-06-27 09:24] g4s8 commented on #991
@amihaiemil I think it was fixed

[2019-06-27 09:24] #991 closed

[2019-06-27 09:24] g4s8 commented on #985
@llorllale I think it was fixed

[2019-06-27 09:24] #985 closed

[2019-06-27 09:27] g4s8 commented on #974
@paulodamaso it's not possible to assign ticket in Github to first-time contributor if user was not added to project members list, even repo admin can't do that

[2019-06-27 09:27] #974 closed

[2019-06-27 09:29] g4s8 commented on #973
@paulodamaso issue and PRs are independent entities for 0crat, it should not make an assignment decision based on referenced PRs

[2019-06-27 09:29] #973 closed

[2019-06-27 09:30] g4s8 commented on #966
@krzyk it should be fixed

[2019-06-27 09:30] #966 closed

[2019-06-27 09:31] 0crat commented on #2053
Job [#2053](https://github.com/zerocracy/farm/issues/2053) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-06-27 09:32] 0crat commented on #2060
Job `gh:zerocracy/farm#2060` is not assigned, can't get performer

[2019-06-27 09:33] g4s8 commented on #955
@artem-p only published projects are displayed on board, it's PO decision to display or not the project on board. To display, `publish` command can be used in PM Slack channel

[2019-06-27 09:33] #955 closed

[2019-06-27 09:34] g4s8 commented on #937
@Vatavuk issue and PR are independent entities, 0crat is not linking them.

[2019-06-27 09:34] #937 closed

[2019-06-27 09:35] g4s8 commented on #1217
@olenagerasimova I think it was fixed

[2019-06-27 09:35] #1217 closed

[2019-06-27 09:36] g4s8 commented on #1182
@skapral I think it was fixed

[2019-06-27 09:36] #1182 closed

[2019-06-27 09:39] g4s8 commented on #1335
@botanicus I think it was fixed

[2019-06-27 09:39] #1335 closed

[2019-06-27 09:40] g4s8 commented on #1320
@botanicus all payments methods except ZLD was removed

[2019-06-27 09:40] #1320 closed

[2019-06-27 09:41] 0crat commented on #2088
Job `gh:zerocracy/farm#2088` is not assigned, can't get performer

[2019-06-27 09:42] g4s8 commented on #1363
@yegor256 ping

[2019-06-27 09:43] g4s8 commented on #1348
@amihaiemil I think it was fixed

[2019-06-27 09:43] #1348 closed

[2019-06-27 09:44] 0crat commented on #2098
Job `gh:zerocracy/farm#2098` is not assigned, can't get performer

[2019-06-27 09:45] 0crat commented on #2087
Job `gh:zerocracy/farm#2087` is not assigned, can't get performer

[2019-06-27 09:45] 0crat commented on #490
Job `gh:zerocracy/farm#490` is not assigned, can't get performer

[2019-06-27 09:56] 0crat commented on #2060
This job is not in scope

[2019-06-27 09:56] 0crat commented on #522
Job `gh:zerocracy/farm#522` is not assigned, can't get performer

[2019-06-27 09:57] 0crat commented on #2088
This job is not in scope

[2019-06-27 09:57] 0crat commented on #2087
This job is not in scope

[2019-06-27 09:57] 0crat commented on #731
Job `gh:zerocracy/farm#731` is not assigned, can't get performer

[2019-06-27 09:59] 0crat commented on #617
Job `gh:zerocracy/farm#617` is not assigned, can't get performer

[2019-06-27 09:59] 0crat commented on #858
Job `gh:zerocracy/farm#858` is not assigned, can't get performer

[2019-06-27 09:59] 0crat commented on #2098
This job is not in scope

[2019-06-27 09:59] 0crat commented on #832
Job `gh:zerocracy/farm#832` is not assigned, can't get performer

[2019-06-27 09:59] 0crat commented on #490
This job is not in scope

[2019-06-27 09:59] 0crat commented on #864
Job `gh:zerocracy/farm#864` is not assigned, can't get performer

[2019-06-27 10:01] 0crat commented on #865
Job `gh:zerocracy/farm#865` is not assigned, can't get performer

[2019-06-27 10:01] 0crat commented on #910
Job `gh:zerocracy/farm#910` is not assigned, can't get performer

[2019-06-27 10:02] 0crat commented on #872
Job [#872](https://github.com/zerocracy/farm/issues/872) is not in the agenda of @yegor256[/z](https://www.0crat.com/u/yegor256), can't retrieve data and time of add

[2019-06-27 10:02] 0crat commented on #522
This job is not in scope

[2019-06-27 10:02] 0crat commented on #1053
Job `gh:zerocracy/farm#1053` is not assigned, can't get performer

[2019-06-27 10:02] 0crat commented on #1073
Job `gh:zerocracy/farm#1073` is not assigned, can't get performer

[2019-06-27 10:02] 0crat commented on #1052
Job `gh:zerocracy/farm#1052` is not assigned, can't get performer

[2019-06-27 10:02] 0crat commented on #991
Job `gh:zerocracy/farm#991` is not assigned, can't get performer

[2019-06-27 10:02] 0crat commented on #1008
Job `gh:zerocracy/farm#1008` is not assigned, can't get performer

[2019-06-27 10:02] 0crat commented on #985
Job `gh:zerocracy/farm#985` is not assigned, can't get performer

[2019-06-27 10:03] 0crat commented on #979
Job [#979](https://github.com/zerocracy/farm/issues/979) is now in scope, role is `DEV`

[2019-06-27 10:03] 0crat commented on #973
Job `gh:zerocracy/farm#973` is not assigned, can't get performer

[2019-06-27 10:03] 0crat commented on #617
This job is not in scope

[2019-06-27 10:03] 0crat commented on #974
Job `gh:zerocracy/farm#974` is not assigned, can't get performer

[2019-06-27 10:03] 0crat commented on #966
Job `gh:zerocracy/farm#966` is not assigned, can't get performer

[2019-06-27 10:03] 0crat commented on #731
This job is not in scope

[2019-06-27 10:03] 0crat commented on #832
This job is not in scope

[2019-06-27 10:03] 0crat commented on #937
Job `gh:zerocracy/farm#937` is not assigned, can't get performer

[2019-06-27 10:03] 0crat commented on #858
This job is not in scope

[2019-06-27 10:03] 0crat commented on #955
Job `gh:zerocracy/farm#955` is not assigned, can't get performer

[2019-06-27 10:03] 0crat commented on #864
This job is not in scope

[2019-06-27 10:03] 0crat commented on #1182
Job `gh:zerocracy/farm#1182` is not assigned, can't get performer

[2019-06-27 10:03] 0crat commented on #2053
The job [#2053](https://github.com/zerocracy/farm/issues/2053) is now out of scope

[2019-06-27 10:03] 0crat commented on #1217
Job `gh:zerocracy/farm#1217` is not assigned, can't get performer

[2019-06-27 10:04] 0crat commented on #865
This job is not in scope

[2019-06-27 10:04] 0crat commented on #1335
Job `gh:zerocracy/farm#1335` is not assigned, can't get performer

[2019-06-27 10:04] 0crat commented on #1320
Job `gh:zerocracy/farm#1320` is not assigned, can't get performer

[2019-06-27 10:04] 0crat commented on #910
This job is not in scope

[2019-06-27 10:04] 0crat commented on #886
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#886](https://github.com/zerocracy/farm/issues/886), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-06-27 10:06] 0crat commented on #1073
This job is not in scope

[2019-06-27 10:10] 0crat commented on #1052
This job is not in scope

[2019-06-27 10:10] 0crat commented on #985
This job is not in scope

[2019-06-27 10:15] 0crat commented on #1008
This job is not in scope

[2019-06-27 10:15] 0crat commented on #1053
This job is not in scope

[2019-06-27 10:16] 0crat commented on #991
This job is not in scope

[2019-06-27 10:16] 0crat commented on #1348
Job `gh:zerocracy/farm#1348` is not assigned, can't get performer

[2019-06-27 10:23] 0crat commented on #974
This job is not in scope

[2019-06-27 10:23] 0crat commented on #955
This job is not in scope

[2019-06-27 10:23] 0crat commented on #937
This job is not in scope

[2019-06-27 10:23] 0crat commented on #1217
This job is not in scope

[2019-06-27 10:23] 0crat commented on #1182
This job is not in scope

[2019-06-27 10:23] 0crat commented on #966
This job is not in scope

[2019-06-27 10:23] 0crat commented on #973
This job is not in scope

[2019-06-27 10:23] 0crat commented on #2053
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-27 10:29] 0crat commented on #1335
This job is not in scope

[2019-06-27 10:30] 0crat commented on #1320
This job is not in scope

[2019-06-27 10:37] 0crat commented on #1349
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1349](https://github.com/zerocracy/farm/issues/1349), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-06-27 10:37] 0crat commented on #1348
This job is not in scope

[2019-06-27 10:38] 0crat commented on #886
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-27 10:38] 0crat commented on #872
The job [#872](https://github.com/zerocracy/farm/issues/872) is now out of scope

[2019-06-27 10:40] 0crat commented on #886
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-06-27 10:40] 0crat commented on #872
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-06-27 10:40] 0crat commented on #1349
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-27 10:44] 0crat commented on #979
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-06-27 10:45] 0crat commented on #1349
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-27 12:17] vzurauskas commented on #2100
@g4s8 Yes, something like that.

[2019-06-27 12:19] vzurauskas commented on #1906
@g4s8 I'll see if I find some time to look into it and will get back at you.

[2019-06-28 14:42] 0pdd opened #2102 "Applications.java:32-35: Remove application when user get..."
The puzzle `1349-1d1c3726` from #1349 has to be resolved:

https://github.com/zerocracy/farm/blob/d47f0c23ce02acf7defbab0dd05a49bd5bdc3cd0/src/main/java/com/zerocracy/pm/staff/Applications.java#L32-L35

The puzzle was created by Kirill on 28-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2019-06-28 14:42] 0pdd commented on #1349
@g4s8 the puzzle [#2102](https://github.com/zerocracy/farm/issues/2102) is still not solved.

[2019-06-28 14:42] 0crat commented on #2102
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-28 14:47] 0crat commented on #2102
Job [#2102](https://github.com/zerocracy/farm/issues/2102) is now in scope, role is `DEV`

[2019-06-28 14:59] g4s8 commented on #1349
@rultor release, tag=`0.47.12`

[2019-06-28 15:01] rultor commented on #1349
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19369-506765708)

[2019-06-28 15:22] rultor commented on #1349
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19369-506765708) (took me 19min)

[2019-06-28 15:48] g4s8 commented on #1349
Done in #2101

[2019-06-28 15:48] #1349 closed

[2019-06-28 16:05] 0crat commented on #1349
Job [#1349](https://github.com/zerocracy/farm/issues/1349) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-06-28 16:07] 0crat commented on #1349
Job was finished in 29 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-06-28 16:09] 0crat commented on #1349
The job [#1349](https://github.com/zerocracy/farm/issues/1349) is now out of scope

[2019-06-28 16:11] 0crat commented on #1349
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-29 06:09] 0crat commented on #2085
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2085](https://github.com/zerocracy/farm/issues/2085), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-06-29 06:10] 0crat commented on #2085
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-29 17:44] vzurauskas commented on #1906
@g4s8 Ok, I'll fix it. Can you assign me? Do I need to join the project for this?

[2019-06-30 14:30] g4s8 commented on #1906
@vzurauskas yes, please apply to `C3NDPUA8L` project, for implementation you can check `elect_performer.groovy` script, `VsOptionsMaxJobs` class and search for `maxJobsInAgenda` property.

[2019-07-01 10:50] scristalli opened #2104 "Wrong "Added" times in agenda"
I have a problem similar to the one reported in #1394, but it is happening now.
My agenda says that these two tasks have been `Added` 12 days ago:

- [g4s8/ghman#40](https://github.com/g4s8/ghman/issues/40)
- [yegor256/cactoos#1143](https://github.com/yegor256/cactoos/issues/1143)

But, as you can see, they have been assigned to me 5 days ago.
Additionally, after commenting in [g4s8/ghman#40](http

[2019-07-01 10:50] 0crat commented on #2104
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-01 10:50] 0crat commented on #2104
@scristalli[/z](https://www.0crat.com/u/scristalli) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-01 11:22] g4s8 commented on #1906
@0crat assign @vzurauskas

[2019-07-01 11:24] 0crat commented on #1906
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1906](https://github.com/zerocracy/farm/issues/1906), see [§21](http://www.zerocracy.com/policy.html#21); @vzurauskas[/z](https://www.0crat.com/u/vzurauskas) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-07-01 11:24] 0crat commented on #1906
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-07-01 11:26] 0crat commented on #1906
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-01 14:58] g4s8 opened #2105 "Try to pay old debts once a day"
Let's try to pay debts with amount of failures > 10 once a day instead of once a hour.

[2019-07-01 14:59] 0crat commented on #2105
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2105](https://github.com/zerocracy/farm/issues/2105), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-07-01 15:01] 0crat commented on #2105
Job `gh:zerocracy/farm#2105` already assigned to @g4s8, can't assign to @g4s8

[2019-07-01 15:09] 0crat commented on #2105
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-01 15:09] 0crat commented on #2105
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-01 15:10] 0crat commented on #2105
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-01 15:34] g4s8 commented on #2105
@rultor release, tag=`0.47.13`

[2019-07-01 15:36] rultor commented on #2105
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19394-507315605)

[2019-07-01 15:59] rultor commented on #2105
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19394-507315605) (took me 20min)

[2019-07-01 16:44] g4s8 commented on #2085
@victornoel it should be fixed in #2103 PR

[2019-07-01 16:52] victornoel commented on #2085
@g4s8 cool, thx

[2019-07-01 16:52] #2085 closed

[2019-07-01 17:09] 0crat commented on #2085
Job [#2085](https://github.com/zerocracy/farm/issues/2085) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-07-01 17:15] 0crat commented on #2085
The job [#2085](https://github.com/zerocracy/farm/issues/2085) is now out of scope

[2019-07-01 17:15] 0crat commented on #2085
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-02 12:16] g4s8 commented on #2105
done in https://github.com/zerocracy/farm/commit/dbc0cae6e65326a4206358e04d7d55854b6e814e

[2019-07-02 12:16] #2105 closed

[2019-07-02 12:35] 0crat commented on #2105
Job [#2105](https://github.com/zerocracy/farm/issues/2105) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-07-02 12:38] 0crat commented on #2105
Job was finished in 21 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-07-02 12:43] 0crat commented on #2105
The job [#2105](https://github.com/zerocracy/farm/issues/2105) is now out of scope

[2019-07-02 12:47] 0crat commented on #2105
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-03 04:09] carlosmiranda opened #2106 "Auto recharge not working"
This is for project https://www.0crat.com/p/CC71RLB2B.

We ran out of funds today. There have been several "Recharge Project" claims, but I don't see any actual charges being made and thus no funds coming in.

Recent claims:
https://www.0crat.com/footprint/CC71RLB2B/8d283337-ea7f-4687-8d6d-61ca3735b712
https://www.0crat.com/footprint/CC71RLB2B/af1da7ea-9485-4189-b5eb-189a9c51173d

[2019-07-03 04:09] 0crat commented on #2106
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-03 06:16] 0crat commented on #2106
Job [#2106](https://github.com/zerocracy/farm/issues/2106) is now in scope, role is `DEV`

[2019-07-03 06:18] g4s8 commented on #2106
@carlosmiranda it's strange bug - recharge details were removed from the project, it can be made in two cases:
 1. On pause/resume
 2. On funding with ZLD

But I didn't find any pause or new funding claims in the footprint.

I've restored it manually for now, but this bug should be investigated.

[2019-07-03 06:23] 0crat commented on #2106
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-07-03 06:36] carlosmiranda commented on #2106
@g4s8 I've paused it a few months ago, but it's been recharged a couple of times since the resume happened.

[2019-07-04 05:21] yegor256 commented on #1011
@g4s8 I believe it's fixed?

[2019-07-04 05:25] yegor256 opened #2107 "rename all issues"
When I rename a GitHub repository, all jobs in 0crat still point to the old repo and new jobs will be created for the new repo. This is wrong. Let's add a feature to rename all issues in one go. I should be able to say something like this in Slack:

[code]

All jobs `gh#teamed/qulice:[0-9]+` will be renamed to `gh#yegor256/qulice:[0-9]+`

[2019-07-04 05:25] 0crat commented on #2107
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-04 08:34] 0crat commented on #2107
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2107](https://github.com/zerocracy/farm/issues/2107), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-07-04 08:36] g4s8 commented on #1011
@yegor256 no, it's still not working:
http://zerocracy.com redirects to http://www.zerocracy.com
https://www.zerocracy.com works fine
https://zerocracy.com can't be opened (The connection has timed out)

[2019-07-04 08:43] 0crat commented on #2107
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-04 08:46] 0crat commented on #2107
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-04 12:16] yegor256 opened #2108 "avoid duplicate messages in GitHub issues"
Take a look at this long list of identical messages posted by 0crat: https://github.com/jcabi/jcabi-jdbc/issues/70 Would be great if we before posting a new message we check the previous one there and if it's exactly the same we simply quietly ignore the operation. I believe we have this check already and maybe it's failing because of the `` comments in the message -- they are all unique.

Let's s

[2019-07-04 12:33] yegor256 commented on #1363
@g4s8 the more verbose is the person the less likely he/she should get the next job. We have to use this metric in the election process. More verbose people should get less jobs.

[2019-07-04 12:34] yegor256 commented on #2100
@g4s8 a few years ago we had a different formula. We were paying one extra minute per each comment posted by the reviewer in the pull request. The longer the discussion, the larger the payment. I still think it's a good idea. WDYT?

[2019-07-04 13:17] 0crat commented on #2108
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-04 15:17] 0crat commented on #1363
Job [#1363](https://github.com/zerocracy/farm/issues/1363) is now in scope, role is `DEV`

[2019-07-04 16:19] 0crat commented on #1363
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-04 16:29] 0crat commented on #1363
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1363](https://github.com/zerocracy/farm/issues/1363), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-07-04 16:35] 0crat commented on #2108
Job `gh:zerocracy/farm#2108` already assigned to @g4s8, can't assign to @g4s8

[2019-07-04 16:35] 0crat commented on #2108
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2108](https://github.com/zerocracy/farm/issues/2108), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-07-04 16:49] 0crat commented on #1363
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-04 16:58] 0crat commented on #2108
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-04 17:03] 0crat commented on #2108
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-04 17:04] 0crat commented on #1363
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-04 19:53] paulodamaso opened #2109 "0crat is failing to pay me"
0crat is faling to pay me and add all payments to debts from the last two days:

![image](https://user-images.githubusercontent.com/33915433/60685922-3858fc80-9e7c-11e9-8e8b-e59e481553f0.png)

It may be related to https://github.com/zerocracy/farm/issues/2105

[2019-07-04 19:53] 0crat commented on #2109
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-04 19:56] 0crat commented on #2109
Job [#2109](https://github.com/zerocracy/farm/issues/2109) is now in scope, role is `DEV`

[2019-07-04 19:56] 0crat commented on #2109
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2109](https://github.com/zerocracy/farm/issues/2109), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-07-04 19:58] 0crat commented on #2109
Job `gh:zerocracy/farm#2109` already assigned to @g4s8, can't assign to @g4s8

[2019-07-04 20:03] 0crat commented on #2109
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-07-04 20:03] 0crat commented on #2109
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-05 05:11] 0crat commented on #1450
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1450](https://github.com/zerocracy/farm/issues/1450), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-07-05 05:11] 0crat commented on #1450
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-05 07:59] g4s8 commented on #2109
@rultor release, tag=`0.48`

[2019-07-05 07:59] 0pdd commented on #1450
The puzzle `1141-7253381b` has disappeared from the source code, that's why I closed this issue.

[2019-07-05 07:59] #1450 closed

[2019-07-05 07:59] 0pdd commented on #540
@g4s8 all 2 puzzles are solved here: [#1141](https://github.com/zerocracy/farm/issues/1141), [#1450](https://github.com/zerocracy/farm/issues/1450).

[2019-07-05 07:59] 0pdd commented on #1141
@0pdd the only puzzle [#1450](https://github.com/zerocracy/farm/issues/1450) is solved here.

[2019-07-05 08:01] rultor commented on #2109
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19445-508669131)

[2019-07-05 08:19] 0crat commented on #1450
Job [#1450](https://github.com/zerocracy/farm/issues/1450) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-07-05 08:19] 0crat commented on #1450
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-07-05 08:22] rultor commented on #2109
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19445-508669131) (took me 19min)

[2019-07-05 08:24] 0crat commented on #1450
The job [#1450](https://github.com/zerocracy/farm/issues/1450) is now out of scope

[2019-07-05 08:27] 0crat commented on #1450
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-05 08:29] g4s8 commented on #2109
@paulodamaso it should be fixed now, 0crat will try to pay you the debt within one hour

[2019-07-05 09:06] g4s8 commented on #2100
@yegor256 yes, I think it should work. @vzurauskas see https://github.com/zerocracy/farm/issues/2100#issuecomment-508466905

[2019-07-05 09:08] 0crat commented on #2100
Job [#2100](https://github.com/zerocracy/farm/issues/2100) is now in scope, role is `DEV`

[2019-07-05 09:15] 0crat commented on #2100
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-07-05 11:02] Protagores commented on #1926
@g4s8 The problem with 0 points refuse penalty in the same day is that, it would give performers some luxury of choosing tasks themselves without consequences (to an extent), and by doing so they would become less _manageable_. The whole point of @0crat is that the job assignment process should be fully automatic and bypassed as little as possible, by either side.

[2019-07-05 11:02] 0crat commented on #1926
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/1926#issuecomment-508722446); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-07-05 11:14] Protagores commented on #1926
@yegor256 What is your opinion?

[2019-07-05 14:33] Protagores commented on #1926
@g4s8 Also another point to mention here. The more jobs a performer refuses to take, no matter the time, the more possible it is that s/he is a weak performer and teammate, therefore deserving less payment for each job completed overall than other performers who are stronger than him/her.

One of the rep points’ purposes is to measure the ability of each participant to find and implement solutions

[2019-07-05 14:47] g4s8 commented on #1926
@Protagores

I don't see any issue here, if performer doesn't want to take a job, and resigns it without delay (1 day looks acceptable), the project loses nothing, because this job will be reassigned quickly. So my point is if performer wants to work around of 0crat management, it's pretty fine, unless project is not suffering from it.

[2019-07-05 15:04] Protagores commented on #1926
@g4s8

This statement might be valid for projects with a small amount of tasks. However, as a project grows, predictability in management becomes more and more important.

One might argue that, if a particular task looks unappealing, you can just add a boost factor to increase the chances that the solution would be delivered in time. But what if there’s a certain percentage of such tasks (I’m talk

[2019-07-07 07:57] Protagores commented on #1239
@yegor256 @krzyk @g4s8 @amihaiemil I think certain issues should still be exempt from this restriction. In particular, PDD tasks which contain the word ‘impediment’ in their descriptions come to mind.

[2019-07-07 14:53] 0crat commented on #1926
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1926](https://github.com/zerocracy/farm/issues/1926), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-07-07 14:57] 0crat commented on #1926
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-07 14:59] 0crat commented on #1926
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-07 14:59] 0crat commented on #1926
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-08 06:00] vzurauskas commented on #1906
@g4s8 I'm trying to figure out how to check whether a job which is in `Agenda` is DEV or REV. As far as I can tell, `Wbs#role` can be used for that, but in order for that to work, the task has to be in `Wbs`. There are tests, where jobs which are not in `Wbs` are being added to `Agenda`, e.g. in [up6okb_elections_dont_exceed_max_jobs_option](https://github.com/zerocracy/farm/tree/master/src/test/r

[2019-07-08 06:30] g4s8 commented on #1906
@vzurauskas please check `elect_performer` script, where some voters can be applied to `DEV` jobs only, e.g. `VsNoRoom` or `VsOptionsMaxJobs`, we need the same but for `REV`

[2019-07-08 12:42] vzurauskas commented on #1906
@g4s8 `VsOptionsMaxJobs` rule compares the number of all jobs (both DEV and REV) to the limit set in options, and just ignores the result if the new job is REV. If I did the same for `VsOptionsMaxRevJobs` (i.e. count all jobs in agenda, but ignore the result if the new job is DEV), we would have a situation where, say, maxJobs=4 and MaxRevJobs=4, but an agenda with 2 DEV and 2 REV jobs would be "f

[2019-07-08 14:15] g4s8 commented on #1906
@vzurauskas got it, I think you need to create new method in `Agenda`: `String role(String job)`, see `Agenda.add()` method, it saves the role (`DEV` or `REV`) to `agenda.xml`, but then this value is never used.
I'd not modify  `VsOptionsMaxJobs`, because it has zero multiplier for `REV` jobs.

[2019-07-09 05:18] yegor256 commented on #1926
@g4s8 I like this idea

[2019-07-09 08:00] vzurauskas commented on #2100
@yegor256 @g4s8 I think that's a good idea. Sometimes a long discussion can be useful, it makes both REV and DEV think about how the code can be improved, even if it doesn't always result in actual improvement then and there. However, I think there should be some way to prevent REV from abusing this rule by intentionally spamming the PR with comments. Maybe QA should just use common sense?

[2019-07-09 13:21] Protagores opened #2111 "Allow ARC to reset bans after impediments are resolved"
Currently, the performers who refused a task are banned from being elected again, and there is no known way of allowing them to be re-elected. In practice, many jobs are often refused because of long-standing unresolved impediments which they depend on, just to keep the performers’ agendas clean.

Once, however, all the impediments are resolved, it may happen that there are no suitable performers

[2019-07-09 13:21] 0crat commented on #2111
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-09 13:21] 0crat commented on #2111
@protagores[/z](https://www.0crat.com/u/protagores) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-11 08:07] g4s8 commented on #1906
@rultor release, tag=`0.48.1`

[2019-07-11 08:08] rultor commented on #1906
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19523-510378528)

[2019-07-11 10:09] rultor commented on #1906
@g4s8 @krzyk Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19523-510378528) (spent 2hr)

[code]

[2019-07-11 13:17] g4s8 commented on #1906
@rultor release, tag=`0.48.1`

[2019-07-11 13:18] rultor commented on #1906
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19523-510481309)

[2019-07-11 13:43] rultor commented on #1906
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19523-510481309) (took me 23min)

[2019-07-11 14:23] vzurauskas commented on #1906
@g4s8 I just tried setting the new option, and Zerocrat told me "Incorrect option; Possible options are: "maxJobsInAgenda"".

Did we miss something or does it need some time to catch up?

[2019-07-11 15:20] g4s8 commented on #1906
@vzurauskas it seems you didn't update `change_option.groovy` script

[2019-07-11 16:54] scristalli opened #2112 "Agenda improvement: new manual "status" field"
**Issue**
Altough some progress for jobs is already tracked in the agenda (e.g. impediments, waiting for QA), there is no way to track some other useful information without opening the single job. Having just passed +256 reputation, it's already pretty annoying for a couple `REV` jobs; I can't even imagine this situation for 24 jobs at the same time.

Standard examples:

* `DEV` role: track whethe

[2019-07-11 16:54] 0crat commented on #2112
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-11 16:54] 0crat commented on #2112
@scristalli[/z](https://www.0crat.com/u/scristalli) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-11 19:06] sereshqua opened #2113 "After receiving > 1024 points - I am not graduated"
I have received 1027 points already, however, I am still NOT graduated and have @g4s8 as my mentor

[2019-07-11 19:06] 0crat commented on #2113
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-11 19:08] sereshqua commented on #655
@g4s8 I think this can be closed as the PR's been merged already?

[2019-07-11 21:18] vzurauskas commented on #1906
@g4s8 Ok, new PR: https://github.com/zerocracy/farm/pull/2114

[2019-07-12 07:08] g4s8 commented on #2113
@sereshqua as I can see you was graduated yesterday evening, check your profile page https://www.0crat.com/u/sereshqua
![scrot-2019-07-12-10:06:50](https://user-images.githubusercontent.com/1524988/61109198-0273d380-a48d-11e9-944f-89eda06e4f15.png)

[2019-07-12 07:10] g4s8 commented on #655
@sereshqua no, we still don't have test.0crat.com

[2019-07-12 07:19] sereshqua commented on #2113
@g4s8 yeap, it came up a bit later at 23:13 UKR time, but the amount of points that I have had by that time already was 1027.

May be I gave QA verdict to few tickets and 0crat processes that jobs first, rather than processing graduation job? I think as user gets 1024 point, he / she has to be graduated straightaway.

[2019-07-12 07:30] g4s8 commented on #2113
@sereshqua it may be so, 0crat is iterating users for potential graduation every hour, but within one hour user may complete few jobs but it doesn't happen frequently. So this technical limitations is not easy to solve, but  it's hard to reproduce.

[2019-07-12 07:39] sereshqua commented on #2113
@g4s8 alright, so you think it is NOT worth adding to scope? may be with low priority?

[2019-07-13 09:47] aivinog1 commented on #1981
@alex-semenyuk and @g4s8 I also see this in the log.
[www.0crat.com-1563011173789.log](https://github.com/zerocracy/farm/files/3388677/www.0crat.com-1563011173789.log)

[2019-07-13 10:13] g4s8 commented on #1981
@alex-semenyuk thanks for reporting, but it's a duplicate of #1641

[2019-07-13 10:13] #1981 closed

[2019-07-13 10:14] g4s8 commented on #1906
@rultor release, tag=`0.48.2`

[2019-07-13 10:15] 0crat commented on #1981
Job `gh:zerocracy/farm#1981` is not assigned, can't get performer

[2019-07-13 10:16] rultor commented on #1906
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19523-511110272)

[2019-07-13 10:34] rultor commented on #1906
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19523-511110272) (took me 16min)

[2019-07-13 16:09] olenagerasimova opened #2115 "I've got my own PR for review"
0crat just asked me to review my own pull request. Check details in https://github.com/g4s8/ghman/pull/64, everything else is as usual: I've message in telegram and the job is in my agenda

[2019-07-13 16:09] 0crat commented on #2115
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-13 16:09] 0crat commented on #2115
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-14 06:47] g4s8 commented on #2115
@olenagerasimova thanks for reporting, but it's a duplicate of #1787
will try to fix it soon

[2019-07-14 06:47] #2115 closed

[2019-07-14 06:49] 0crat commented on #2115
Job `gh:zerocracy/farm#2115` is not assigned, can't get performer

[2019-07-14 11:27] Sammers21 opened #2116 "A counter of amount of money earned on the platform during a period of time"
Having a counter, which would count the amount of money earned on the platform today/last week/last month would be awesome.

This also would attract people to work on the platform.

[2019-07-14 11:28] 0crat commented on #2116
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-14 11:28] 0crat commented on #2116
@sammers21[/z](https://www.0crat.com/u/sammers21) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-14 14:21] victornoel commented on #1229
@g4s8 for the record it is the same on 0crat.com error pages:
![image](https://user-images.githubusercontent.com/160975/61184930-7233bb00-a653-11e9-82af-5a1baf41a093.png)

[2019-07-14 14:24] victornoel commented on #852
@g4s8 could we get this fixed? I tried to access my equity proof on a project and I got the following error (it's a bit different than the one in the description, but according to #2073 and #2077 it is the same problem):
[code]

[2019-07-14 14:50] vzurauskas commented on #1906
@krzyk Done. Can this be closed?

[2019-07-15 08:13] g4s8 commented on #2106
@rultor release, tag=`0.48.3`

[2019-07-15 08:14] rultor commented on #2106
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19559-511310548)

[2019-07-15 08:28] rultor commented on #2106
@carlosmiranda @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19559-511310548) (spent 14min)

[code]

[2019-07-15 10:09] aivinog1 opened #2117 "The zerocrat fails to setting of the impediment"
See this: https://github.com/yegor256/sibit/issues/35#issuecomment-511334744

I see a successful message of setting the impediment(https://github.com/yegor256/sibit/issues/35#issuecomment-511334699) and a failure message(https://github.com/yegor256/sibit/issues/35#issuecomment-511334744). I've checked my agenda and I see that this job have a hold status:
![image](https://user-images.githubusercont

[2019-07-15 10:09] 0crat commented on #2117
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-15 10:09] 0crat commented on #2117
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-15 14:43] 0crat commented on #2117
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2117](https://github.com/zerocracy/farm/issues/2117), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-07-15 14:47] 0crat commented on #2117
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-15 14:49] 0crat commented on #2117
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-07-16 11:24] aivinog1 commented on #2117
@g4s8 If it helps I have another one: https://github.com/yegor256/sibit/issues/36#issuecomment-511765769.

[2019-07-16 12:16] g4s8 commented on #2109
@0crat status

[2019-07-16 12:19] 0crat commented on #2109
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#2109](https://github.com/zerocracy/farm/issues/2109) is [in scope](http://www.zerocracy.com/policy.html#14) for 12days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [12days](http://www.zerocra

[2019-07-16 12:41] #2109 closed

[2019-07-16 12:43] #2014 closed

[2019-07-16 12:59] 0crat commented on #2109
Job [#2109](https://github.com/zerocracy/farm/issues/2109) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-07-16 13:04] 0crat commented on #2014
Job [#2014](https://github.com/zerocracy/farm/issues/2014) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-07-16 13:07] 0crat commented on #2109
The job [#2109](https://github.com/zerocracy/farm/issues/2109) is now out of scope

[2019-07-16 13:07] 0crat commented on #2014
The job [#2014](https://github.com/zerocracy/farm/issues/2014) is now out of scope

[2019-07-16 13:07] 0crat commented on #2109
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-16 13:07] 0crat commented on #2014
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-16 13:22] g4s8 commented on #2117
@0crat status

[2019-07-16 13:24] 0crat commented on #2117
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#2117](https://github.com/zerocracy/farm/issues/2117) is [in scope](http://www.zerocracy.com/policy.html#14) for 23hr
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [23hr](http://www.zerocracy.c

[2019-07-16 13:41] g4s8 opened #2118 "Job can be not added to agenda"
0crat won't add job to agenda if project doesn't have money, see #2117 footprint

[2019-07-16 13:45] 0crat commented on #2118
Job [#2118](https://github.com/zerocracy/farm/issues/2118) is now in scope, role is `DEV`

[2019-07-16 13:53] 0crat commented on #2118
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-16 14:07] 0crat commented on #2116
Job [#2116](https://github.com/zerocracy/farm/issues/2116) is now in scope, role is `DEV`

[2019-07-16 14:14] 0crat commented on #2116
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sammers21[/z](https://www.0crat.com/u/sammers21)

[2019-07-17 16:40] krzyk commented on #1906
@vzurauskas thanks

[2019-07-17 16:40] #1906 closed

[2019-07-17 17:08] 0crat commented on #1906
Job [#1906](https://github.com/zerocracy/farm/issues/1906) is not in the agenda of @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), can't retrieve data and time of add

[2019-07-17 17:11] 0crat commented on #1906
Job [#1906](https://github.com/zerocracy/farm/issues/1906) is not in the agenda of @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), can't inspect

[2019-07-17 17:11] 0crat commented on #1906
The job [#1906](https://github.com/zerocracy/farm/issues/1906) is now out of scope

[2019-07-17 17:11] 0crat commented on #1906
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-17 18:57] sereshqua commented on #1906
@0crat quality good

[2019-07-17 19:39] 0crat commented on #1906
@sereshqua The project doesn't have enough funds, can't make a payment

[2019-07-17 20:03] 0crat commented on #1906
Order was finished, quality is "good": +35 point(s) just awarded to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-07-17 20:20] 0crat commented on #1906
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-07-19 08:46] filfreire opened #2119 "IllegalStateException in SyncProject"
@g4s8 caught the following error in a merged Pull request in this repo https://github.com/yegor256/tacit/pull/202

[code]

Link where it was seen happening: https://github.com/yegor256/tacit/pull/202#issuecomment-513144245

[2019-07-19 08:46] 0crat commented on #2119
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-19 08:48] 0crat commented on #2119
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): Issue: zerocracy/farm#2119, Action: `opened`

[2019-07-21 08:28] victornoel commented on #2119
@g4s8 same is happening in multiple projects where I participate, there is some kind of deadlock somewhere, this is critical I believe because 0crat work is stopped and people aren't paid!
- https://github.com/llorllale/cactoos-matchers/pull/131#issuecomment-513514699
- https://github.com/yegor256/cactoos-http/pull/92#issuecomment-513514704
- https://github.com/yegor256/cactoos/pull/1158#issuecomm

[2019-07-21 09:08] g4s8 commented on #2119
@victornoel this is the list of current issues with synchronization:
 - it's working on project basis, when someone locks project file, no one else can access any other file in the project, it's implemented because of hidden and unobvious files modifications with auto-transofrmations (see `Rd*` files especially `RdAuto`). PMO project can be accessed very frequently (0crat read multiple files from

[2019-07-21 09:08] g4s8 commented on #2119
@0crat assign @victornoel

[2019-07-21 09:10] 0crat commented on #2119
@g4s8 @g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2119](https://github.com/zerocracy/farm/issues/2119), see [§21](http://www.zerocracy.com/policy.html#21); @victornoel[/z](https://www.0crat.com/u/victornoel) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-07-21 09:16] 0crat commented on #2119
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-21 09:17] 0crat commented on #2119
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2019-07-21 10:35] victornoel commented on #2119
@g4s8 Here are some feedbacks on the matter

Random questions/hypothesis while reading:
- Both `SyncFarm` and `ExtFarm` decorates the `find` method with `Guts`, is that expected?
- I understand the locking is done via the database, I'm sure there is a good reason for this, but why not use in process locks?
- If I understand well, the `Project` abstraction was made so that locking happens on a per-

[2019-07-21 11:15] g4s8 commented on #2119
@victornoel just to clarify a bit: right now we have locks implementation based on `ReentrantLock`, but we're going to use database locks (it's disabled now) to be able to start multiple instances of farm simultaneously (farm cluster).

[2019-07-21 11:32] victornoel commented on #2119
@g4s8 ah ok, I missed the fact that `PgLocks` wasn't used but `TestLocks` was.

In that cas, I think my short term recommendations still applies, but I would add one more:
- use fair `ReentrantLock`s in order to avoid threads starving, I don't think the perfomance impact is going to be a problem at all.

[2019-07-21 11:48] victornoel commented on #2119
@g4s8 if you boost this job, I can do a PR with the less risk-taking evolutions that I proposed

[2019-07-21 11:56] victornoel commented on #2119
@g4s8 another recommendation in the short term:
- add a `finalize` (or another mean to detect GC) method to `WarnItem` so that it complains if the item wasn't closed as expected when the object is GCed. This could help diagnose future problems.

[2019-07-21 11:59] victornoel commented on #2119
This would help detect for example that `Txn` is not calling close :)

[2019-07-21 12:57] victornoel commented on #2119
@g4s8 about using pg as the lock implementation, a better solution would be to use PostgreSQL advisory locks instead of a table and implement things by hand. See http://shiroyasha.io/advisory-locks-and-how-to-use-them.html for example. The example given on this page is very similar to what is done in farm.

[2019-07-21 15:13] victornoel commented on #2119
@0crat status

[2019-07-21 15:14] 0crat commented on #2119
@victornoel This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#2119](https://github.com/zerocracy/farm/issues/2119) is [in scope](http://www.zerocracy.com/policy.html#14) for 6hr
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [6hr](http:/

[2019-07-21 15:52] victornoel commented on #2119
@filfreire for the record, if the bot has not re-processed the close event, you can ask ARC to do so with `@0crat out`

[2019-07-21 15:52] 0crat commented on #2119
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/2119#issuecomment-513565748); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-07-22 17:55] victornoel opened #2120 "0crat refuses to acknowledged an issue was closed by its creator"
Because of a bug of 0crat (see #2119), the two following issues were closed but 0crat didn't take it into account and they are stuck as open in my agenda:
- https://github.com/llorllale/cactoos-matchers/issues/129
- https://github.com/yegor256/cactoos/issues/1119

I told 0crat `out` but it answered even though the issue **was** closed by 0pdd:
[code]

[2019-07-22 17:55] 0crat commented on #2120
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-24 08:20] g4s8 opened #2121 "Some metrics are not removed after 90 days"
Old metrics, e.g. `awards.xml`, `speed.xml` end others are not removed after 90 days

[2019-07-24 08:22] 0crat commented on #2121
Job [#2121](https://github.com/zerocracy/farm/issues/2121) is now in scope, role is `DEV`

[2019-07-24 08:22] 0crat commented on #2121
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2121](https://github.com/zerocracy/farm/issues/2121), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-07-24 08:27] 0crat commented on #2121
Job `gh:zerocracy/farm#2121` already assigned to @g4s8, can't assign to @g4s8

[2019-07-24 08:29] 0crat commented on #2121
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-24 08:29] 0crat commented on #2121
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-24 08:29] 0crat commented on #2121
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-24 10:57] g4s8 commented on #2121
@rultor release, tag=`0.48.4`

[2019-07-24 10:59] rultor commented on #2121
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19683-514585063)

[2019-07-24 11:19] rultor commented on #2121
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19683-514585063) (took me 18min)

[2019-07-25 12:43] #1669 closed

[2019-07-25 12:43] 0pdd commented on #1669
The puzzle `1570-01eb7ff8` has disappeared from the source code, that's why I closed this issue.

[2019-07-25 12:43] g4s8 commented on #1669
@rultor release, tag=`0.48.5`

[2019-07-25 12:45] rultor commented on #1669
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19694-515028174)

[2019-07-25 12:58] 0crat commented on #1669
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1669](https://github.com/zerocracy/farm/issues/1669), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-07-25 12:59] g4s8 commented on #1669
@rultor stop

[2019-07-25 13:00] rultor commented on #1669
@g4s8 OK, I'll try to stop current task.

[2019-07-25 13:00] g4s8 commented on #1669
@rultor release, tag=`0.48.5`

[2019-07-25 13:00] rultor commented on #1669
@0pdd @g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19694-515033190) (spent 15min)

[code]

[2019-07-25 13:04] rultor commented on #1669
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19694-515033503)

[2019-07-25 13:27] 0crat commented on #1669
Job [#1669](https://github.com/zerocracy/farm/issues/1669) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-07-25 13:28] rultor commented on #1669
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19694-515033503) (took me 21min)

[2019-07-25 13:29] 0crat commented on #1669
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-07-25 13:34] 0crat commented on #1669
The job [#1669](https://github.com/zerocracy/farm/issues/1669) is now out of scope

[2019-07-25 13:37] 0crat commented on #1669
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-26 12:49] g4s8 commented on #2121
@rultor release, tag=`0.48.5`

[2019-07-26 12:51] rultor commented on #2121
@g4s8 Invalid release tag `0.48.5` specified. There is already a release `0.48.5` newer than the given release in this repository.

[2019-07-26 12:51] rultor commented on #2121
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-07-26 13:05] g4s8 commented on #2121
@rultor release, tag=`0.48.6`

[2019-07-26 13:05] rultor commented on #2121
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19683-515443059)

[2019-07-26 13:27] rultor commented on #2121
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19683-515443059) (took me 20min)

[2019-07-26 13:40] g4s8 commented on #2121
@rultor release, tag=`0.48.7`

[2019-07-26 13:42] rultor commented on #2121
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19683-515456778)

[2019-07-26 13:59] rultor commented on #2121
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19683-515456778) (spent 17min)

[code]

[2019-07-26 14:04] g4s8 commented on #2121
@rultor release, tag=`0.48.7`

[2019-07-26 14:05] rultor commented on #2121
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19683-515466620)

[2019-07-26 14:20] rultor commented on #2121
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19683-515466620) (spent 15min)

[code]

[2019-07-26 15:04] g4s8 commented on #2121
@rultor release, tag=`0.48.7`

[2019-07-26 15:06] rultor commented on #2121
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19683-515489162)

[2019-07-26 15:21] rultor commented on #2121
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19683-515489162) (spent 16min)

[code]

[2019-07-26 15:53] g4s8 commented on #2121
@rultor release, tag=`0.48.7`

[2019-07-26 15:54] rultor commented on #2121
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19683-515506428)

[2019-07-26 16:15] rultor commented on #2121
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19683-515506428) (took me 18min)

[2019-07-26 16:38] g4s8 commented on #2121
@rultor release, tag=`0.48.8`

[2019-07-26 16:40] rultor commented on #2121
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19683-515520743)

[2019-07-26 17:02] rultor commented on #2121
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19683-515520743) (took me 20min)

[2019-07-27 13:59] g4s8 commented on #2121
Fixed

[2019-07-27 13:59] #2121 closed

[2019-07-27 14:17] 0crat commented on #2121
Job [#2121](https://github.com/zerocracy/farm/issues/2121) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-07-27 14:21] 0crat commented on #2121
The job [#2121](https://github.com/zerocracy/farm/issues/2121) is now out of scope

[2019-07-27 14:23] 0crat commented on #2121
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-28 20:44] paulodamaso opened #2122 "0crat fails on invite"
0crat is failing when trying to invinte a new member:

```/invite @lucasfragoso7```

[code]

[2019-07-28 20:44] 0crat commented on #2122
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-29 06:29] g4s8 commented on #2122
@paulodamaso this error means that user was already invited (or rejected) by someone else - most probably his examiner. Check https://www.0crat.com/u/lucasfragoso7
I'd suggest updating this ticket into "show friendly/understandable message if user already invited" and I'll add it to scope to fix the message.

[2019-07-29 12:23] #1916 closed

[2019-07-29 12:44] 0crat commented on #1916
This job is not in scope

[2019-07-29 12:44] 0crat commented on #1916
Job `gh:zerocracy/farm#1916` is not assigned, can't get performer

[2019-07-30 21:11] paulodamaso commented on #2122
@g4s8 Done!

[2019-07-31 08:20] 0crat commented on #2122
Job [#2122](https://github.com/zerocracy/farm/issues/2122) is now in scope, role is `DEV`

[2019-07-31 08:27] 0crat commented on #2122
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-08-02 16:36] scristalli opened #2123 "Make REV jobs truly not count for maximum size of agenda"
Currently, 0crat will assign you a `REV` job even if your agenda is full, as per [§3](http://www.zerocracy.com/policy.html#3).
However, `REV` jobs count for the maximum size of agenda if one already has them, so for instance if I already have 4 `REV` jobs and my maximum is 3, 0crat will not assign any `DEV` jobs to me.
I think that the rule should be symmetrical, i.e. `REV` jobs should not count a

[2019-08-02 16:36] 0crat commented on #2123
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-08-02 16:36] 0crat commented on #2123
@scristalli[/z](https://www.0crat.com/u/scristalli) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-02 16:42] scristalli opened #2124 "Manual payment not working in sandbox project"
Please have a look at [this comment from 0crat](https://github.com/llorllale/cactoos-matchers/pull/134#issuecomment-516186179). `ARC` tried to pay me 15 minutes, but 0crat refuses and tells him that I work for free (true, but why can't I get 15 points of reputation?)

[2019-08-02 16:42] 0crat commented on #2124
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-08-02 16:42] 0crat commented on #2124
@scristalli[/z](https://www.0crat.com/u/scristalli) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-03 12:00] g4s8 commented on #2013
@rultor release, tag=`0.48.9`

[2019-08-03 12:01] rultor commented on #2013
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19789-517919258)

[2019-08-03 12:19] rultor commented on #2013
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19789-517919258) (took me 17min)

[2019-08-03 12:45] g4s8 commented on #2013
@paulodamaso it should be fixed, please try again

[2019-08-06 08:47] 0crat commented on #1692
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#1692](https://github.com/zerocracy/farm/issues/1692), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-08-06 08:48] 0crat commented on #1692
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-08-06 10:29] #1692 closed

[2019-08-06 10:29] 0pdd commented on #1692
The puzzle `1332-94d9282c` has disappeared from the source code, that's why I closed this issue.

[2019-08-06 10:29] 0pdd commented on #1332
@g4s8 the only puzzle [#1692](https://github.com/zerocracy/farm/issues/1692) is solved here.

[2019-08-06 10:29] g4s8 commented on #1692
@rultor release, tag=`0.49.0`

[2019-08-06 10:31] rultor commented on #1692
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19812-518612163)

[2019-08-06 10:51] rultor commented on #1692
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19812-518612163) (took me 18min)

[2019-08-06 11:34] 0crat commented on #1692
Job [#1692](https://github.com/zerocracy/farm/issues/1692) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-08-06 11:41] 0crat commented on #1692
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-08-06 11:45] 0crat commented on #1692
The job [#1692](https://github.com/zerocracy/farm/issues/1692) is now out of scope

[2019-08-06 11:49] 0crat commented on #1692
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-08-06 14:15] g4s8 commented on #1692
@rultor release, tag=`0.49.1`

[2019-08-06 14:16] rultor commented on #1692
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19812-518688085)

[2019-08-06 14:29] rultor commented on #1692
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19812-518688085) (spent 13min)

[code]

[2019-08-06 14:30] g4s8 commented on #1692
@rultor release, tag=`0.49.1`

[2019-08-06 14:33] rultor commented on #1692
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19812-518694801)

[2019-08-06 14:57] rultor commented on #1692
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19812-518694801) (took me 22min)

[2019-08-06 17:19] scristalli opened #2125 "0crat does not expel users"
According to [§44](http://www.zerocracy.com/policy.html#44)

This does not happen for the users currently in this state. If it's not a bug, and there are cases in which users should not be expelled, it should be clarified in the Policy (e.g. if the fact that one still has a mentor is implied, right now it is ambiguous).

[2019-08-06 17:19] 0crat commented on #2125
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-08-06 17:19] 0crat commented on #2125
@scristalli[/z](https://www.0crat.com/u/scristalli) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-06 17:21] scristalli opened #2126 "Board layout is broken"
Layout in the board page is broken

![board-screenshot](https://user-images.githubusercontent.com/7326295/62561395-6b2d5080-b87f-11e9-8b28-5a389866c9f7.png)

[2019-08-06 17:21] 0crat commented on #2126
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-08-06 17:21] 0crat commented on #2126
@scristalli[/z](https://www.0crat.com/u/scristalli) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-06 17:23] 0crat commented on #2124
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-08-06 17:23] 0crat commented on #2124
@scristalli[/z](https://www.0crat.com/u/scristalli) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-06 17:23] scristalli commented on #2124
@g4s8 is this a bug, or is it normal behavior of 0crat?

[2019-08-06 17:23] #2123 closed

[2019-08-06 17:41] 0crat commented on #2124
Job `gh:zerocracy/farm#2124` is not assigned, can't get performer

[2019-08-06 17:43] 0crat commented on #2124
This job is not in scope

[2019-08-06 17:45] 0crat commented on #2123
Job `gh:zerocracy/farm#2123` is not assigned, can't get performer

[2019-08-06 17:45] 0crat commented on #2123
This job is not in scope

[2019-08-07 11:13] 0crat commented on #2124
Job [#2124](https://github.com/zerocracy/farm/issues/2124) is now in scope, role is `DEV`

[2019-08-07 11:13] 0crat commented on #2126
Job [#2126](https://github.com/zerocracy/farm/issues/2126) is now in scope, role is `DEV`

[2019-08-07 11:15] 0crat commented on #2125
Job [#2125](https://github.com/zerocracy/farm/issues/2125) is now in scope, role is `DEV`

[2019-08-07 11:25] 0crat commented on #2124
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-08-07 11:25] 0crat commented on #2126
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-08-07 11:28] 0crat commented on #2125
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-08-07 12:32] g4s8 commented on #2003
@paulodamaso this is a limitation of Github system - no one can assign new user to the ticket (even repo admin or owner), this is why 0crat failed to assign people to the ticket before first contribution.

[2019-08-07 12:32] #2003 closed

[2019-08-07 12:32] #2013 closed

[2019-08-07 12:32] g4s8 commented on #1817
@paulodamaso duplicate of #2013

[2019-08-07 12:32] #1817 closed

[2019-08-07 13:12] 0crat commented on #2013
Job `gh:zerocracy/farm#2013` is not assigned, can't get performer

[2019-08-07 13:12] 0crat commented on #1817
Job `gh:zerocracy/farm#1817` is not assigned, can't get performer

[2019-08-07 13:12] 0crat commented on #2003
Job `gh:zerocracy/farm#2003` is not assigned, can't get performer

[2019-08-07 13:15] 0crat commented on #2013
The job [#2013](https://github.com/zerocracy/farm/issues/2013) is now out of scope

[2019-08-07 13:15] 0crat commented on #2003
The job [#2003](https://github.com/zerocracy/farm/issues/2003) is now out of scope

[2019-08-07 13:15] 0crat commented on #1817
The job [#1817](https://github.com/zerocracy/farm/issues/1817) is now out of scope

[2019-08-12 15:15] scristalli opened #2127 "Wrong project count for users in team page"
Everyone is marked has being part of 0 projects, see the screenshot.

![zerocracy-team-issue](https://user-images.githubusercontent.com/7326295/62876210-bbdff600-bd24-11e9-8d4f-7f4a8575807b.png)

[2019-08-12 15:15] 0crat commented on #2127
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-08-12 15:15] 0crat commented on #2127
@scristalli[/z](https://www.0crat.com/u/scristalli) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-12 16:13] paulodamaso opened #2128 "Cannot pause project"
0crat is not accepting `pause` command in slack, for pausing the project. I've tried to put the project GFV03LPPY into pause, but 0crat just ignored the command.

[2019-08-12 16:14] 0crat commented on #2128
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-08-12 16:41] g4s8 commented on #2128
@paulodamaso it looks like a connection problem with Slack API, can you please try again this command as a hotfix (I've restarted 0crat to reconnect it to Slack servers)?

[code]

[2019-08-12 16:44] 0crat commented on #2128
Job [#2128](https://github.com/zerocracy/farm/issues/2128) is now in scope, role is `DEV`

[2019-08-12 16:51] 0crat commented on #2128
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-08-12 17:43] #2069 closed

[2019-08-12 18:00] 0crat commented on #2069
Job [#2069](https://github.com/zerocracy/farm/issues/2069) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-08-12 18:11] 0crat commented on #2069
The job [#2069](https://github.com/zerocracy/farm/issues/2069) is now out of scope

[2019-08-12 18:13] 0crat commented on #2069
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-08-12 18:50] paulodamaso commented on #2128
@g4s8 It worked. 0crat should detect communication problems with slack or any other provider and notify someone, WDYT?

[2019-08-13 11:31] g4s8 commented on #2128
@rultor release, tag=`0.49.2`

[2019-08-13 11:32] rultor commented on #2128
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19877-520797659)

[2019-08-13 11:54] rultor commented on #2128
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/19877-520797659) (took me 19min)

[2019-08-13 12:09] 0crat commented on #2127
Job [#2127](https://github.com/zerocracy/farm/issues/2127) is now in scope, role is `DEV`

[2019-08-13 13:33] 0crat commented on #2127
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-08-14 11:37] vzurauskas opened #2129 "Zerocrat is not responding in Telegram chat"
I tried the following commands in Zerocrat Telegram chat (time is in UTC):

10:41 `/option maxRevJobsInAgenda 2`
11:05 `Hi`

It's 11:37 now and Zerocrat hasn't responded yet.

[2019-08-14 11:37] 0crat commented on #2129
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-08-14 11:37] 0crat commented on #2129
@vzurauskas[/z](https://www.0crat.com/u/vzurauskas) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-14 17:27] vzurauskas commented on #2129
Works now.

[2019-08-14 17:27] #2129 closed

[2019-08-14 17:46] 0crat commented on #2129
Job `gh:zerocracy/farm#2129` is not assigned, can't get performer

[2019-08-14 17:47] 0crat commented on #2129
This job is not in scope

[2019-08-23 10:18] sereshqua opened #2130 "Every project in project board is labeled as "sandbox""
Every project in there has sandbox label under the title, which should not happen. There were 3 sandbox projects only before.

<img width="1042" alt="Screenshot 2019-08-23 at 13 16 52" src="https://user-images.githubusercontent.com/10097808/63585703-64ede280-c5a8-11e9-90d7-1672ff85dd76.png">

[2019-08-23 10:18] 0crat commented on #2130
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-08-23 11:11] g4s8 commented on #2130
@rultor release, tag=`0.49.3`

[2019-08-23 11:12] rultor commented on #2130
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20002-524275418)

[2019-08-23 11:25] rultor commented on #2130
@g4s8 @sereshqua Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20002-524275418) (spent 13min)

[code]

[2019-08-23 12:34] g4s8 commented on #2130
@rultor release, tag=`0.49.3`

[2019-08-23 12:35] rultor commented on #2130
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20002-524298345)

[2019-08-23 12:56] rultor commented on #2130
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20002-524298345) (took me 19min)

[2019-08-30 12:19] sereshqua opened #2131 "Every user in ZC has 0 projects assigned"
Please see the screen

<img width="499" alt="Screenshot 2019-08-30 at 15 18 11" src="https://user-images.githubusercontent.com/10097808/64020062-58820080-cb39-11e9-817f-541ecaddf648.png">

[2019-08-30 12:19] 0crat commented on #2131
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-08-30 12:21] g4s8 commented on #2130
@sereshqua thanks, it's fixed in https://github.com/zerocracy/farm/commit/d42ad30d252e73cc6be2f3eac5bb022f28a5dd2b

[2019-08-30 12:21] #2130 closed

[2019-08-30 12:21] 0crat commented on #2131
Job [#2131](https://github.com/zerocracy/farm/issues/2131) is now in scope, role is `DEV`

[2019-08-30 13:07] 0crat commented on #2131
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-08-30 13:32] 0crat commented on #2130
Job `gh:zerocracy/farm#2130` is not assigned, can't get performer

[2019-08-30 13:33] 0crat commented on #2130
This job is not in scope

[2019-09-01 15:55] scristalli commented on #2131
@g4s8 this is a duplicate of #2127

[2019-09-03 14:53] disanza opened #2132 "Status Update doesn’t work"
When asking 0crat for a status update `status`, it is returning an error.

![DC61DC89-2823-4226-AC79-797925962A15](https://user-images.githubusercontent.com/9894480/64184162-0d1d6a00-ce39-11e9-98fb-2e913873908e.png)

[2019-09-03 14:53] 0crat commented on #2132
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-03 14:53] 0crat commented on #2132
@disanza[/z](https://www.0crat.com/u/disanza) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-03 14:59] g4s8 commented on #2132
@disanza we need to make error messages more friendly, but this error means that the're no such command for profile management. `status` command should be used right in the ticket, not in the chat. (see next message)

[2019-09-03 14:59] g4s8 commented on #2132
@0crat status

[2019-09-03 15:03] disanza commented on #2132
Ok. Thank you!

[2019-09-03 15:03] #2132 closed

[2019-09-03 15:25] 0crat commented on #2132
Job [#2132](https://github.com/zerocracy/farm/issues/2132) is now in scope, role is `DEV`

[2019-09-03 15:25] 0crat commented on #2132
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#2132](https://github.com/zerocracy/farm/issues/2132) is [in scope](http://www.zerocracy.com/policy.html#14) for 8s
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not

[2019-09-03 15:26] 0crat commented on #2132
Job `gh:zerocracy/farm#2132` is not assigned, can't get performer

[2019-09-03 15:41] 0crat commented on #2132
The job [#2132](https://github.com/zerocracy/farm/issues/2132) is now out of scope

[2019-09-03 15:47] 0crat commented on #2132
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @disanza[/z](https://www.0crat.com/u/disanza)

[2019-09-04 10:42] g4s8 opened #2133 "Show stakeholders brigade in /guts"
Add details about running stakeholders to `/guts` page

[2019-09-04 11:35] 0crat commented on #2133
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2133](https://github.com/zerocracy/farm/issues/2133), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-09-04 11:43] 0crat commented on #2133
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-04 11:45] 0crat commented on #2133
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-04 11:45] 0crat commented on #2133
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-04 11:48] g4s8 commented on #2133
@rultor release, tag=`0.49.4`

[2019-09-04 11:50] rultor commented on #2133
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20120-527865909)

[2019-09-04 12:07] rultor commented on #2133
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20120-527865909) (spent 17min)

[code]

[2019-09-04 12:10] g4s8 commented on #2133
@rultor release, tag=`0.49.4`

[2019-09-04 12:11] rultor commented on #2133
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20120-527872542)

[2019-09-04 12:11] g4s8 commented on #2131
@scristalli correct

[2019-09-04 12:11] #2131 closed

[2019-09-04 12:18] 0crat commented on #2131
The job [#2131](https://github.com/zerocracy/farm/issues/2131) is now out of scope

[2019-09-04 12:18] 0crat commented on #2131
Job `gh:zerocracy/farm#2131` is not assigned, can't get performer

[2019-09-04 12:32] rultor commented on #2133
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20120-527872542) (took me 18min)

[2019-09-04 12:46] g4s8 commented on #2133
@rultor release, tag=`0.49.5`

[2019-09-04 12:47] rultor commented on #2133
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20120-527884657)

[2019-09-04 13:09] rultor commented on #2133
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20120-527884657) (took me 20min)

[2019-09-04 13:09] g4s8 commented on #2133
Done

[2019-09-04 13:09] #2133 closed

[2019-09-04 13:28] 0crat commented on #2133
Job [#2133](https://github.com/zerocracy/farm/issues/2133) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-09-04 13:28] 0crat commented on #2133
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-04 13:32] 0crat commented on #2133
The job [#2133](https://github.com/zerocracy/farm/issues/2133) is now out of scope

[2019-09-04 13:35] 0crat commented on #2133
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-05 12:53] g4s8 commented on #2092
@yegor256 it should be fixed

[2019-09-05 12:53] #2092 closed

[2019-09-05 13:16] 0crat commented on #2127
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2127](https://github.com/zerocracy/farm/issues/2127), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-09-05 13:19] 0crat commented on #2092
Job [#2092](https://github.com/zerocracy/farm/issues/2092) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-09-05 13:28] 0crat commented on #2127
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-05 13:35] g4s8 commented on #2127
@rultor release, tag=`0.49.6`

[2019-09-05 13:36] 0crat commented on #2092
The job [#2092](https://github.com/zerocracy/farm/issues/2092) is now out of scope

[2019-09-05 13:36] rultor commented on #2127
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20150-528366925)

[2019-09-05 14:01] rultor commented on #2127
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20150-528366925) (took me 22min)

[2019-09-05 15:51] g4s8 commented on #2127
@rultor release, tag=`0.49.7`

[2019-09-05 15:54] rultor commented on #2127
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20150-528435069)

[2019-09-05 16:26] rultor commented on #2127
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20150-528435069) (took me 28min)

[2019-09-06 10:33] g4s8 opened #2134 "Multiple Telegram bot instances are running"
There're multiple Telegram bot instances are running (according to logs), most probably different farm instances are used to access `ExtTelegram`:
[code]

[2019-09-06 10:44] 0crat commented on #2134
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2134](https://github.com/zerocracy/farm/issues/2134), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-09-06 11:05] 0crat commented on #2134
Job `gh:zerocracy/farm#2134` already assigned to @g4s8, can't assign to @g4s8

[2019-09-06 11:05] 0crat commented on #2134
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-06 11:06] 0crat commented on #2134
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-06 11:09] 0crat commented on #2134
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-06 11:39] g4s8 commented on #2134
@rultor release, tag=`0.49.8`

[2019-09-06 11:40] rultor commented on #2134
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20159-528821011)

[2019-09-06 12:00] rultor commented on #2134
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20159-528821011) (took me 18min)

[2019-09-07 03:34] paulodamaso opened #2135 "Impossible to assign roles to user"
I've bootstrapped a new project today as adviser. When trying to set `ARC` and `PO` roles via slack for user `@Silas Reinagel` (pay attention to the whitespace), `0crat` slack bot tolde me:
![image](https://user-images.githubusercontent.com/33915433/64469348-d5e3dd00-d106-11e9-8fe5-effba9a3ccd0.png)

(it does not show the whitespace in username because I asked Silas to remove it, and slack removed

[2019-09-07 03:34] 0crat commented on #2135
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-07 04:14] paulodamaso commented on #2135
@g4s8 Removed the `@` from the username, and it worked. But there is somethin really strange about it

[2019-09-09 11:04] g4s8 commented on #2135
@paulodamaso you should use 0crat (same as Github) username of user to give a role, not Slack username. Github doesn't allo to put `@` chars or whitespaces into usernames

[2019-09-09 17:57] SilasReinagel opened #2136 "0crat Setup: Webhook Policy is missing Information"
Current policy doesn't say which webhook type should be used.

https://www.zerocracy.com/policy.html

[code]

Only supported webhook type is `application/x-www-form-urlencoded` This needs to be explained in policy.

[2019-09-09 17:57] 0crat commented on #2136
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-09 17:57] 0crat commented on #2136
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-09 18:21] SilasReinagel opened #2137 "0crat: Boost penalty can be applied more than once per ticket."
Two problems.

1) Boost penalty is applied even when boost value is unchanged.

![image](https://user-images.githubusercontent.com/10834339/64556221-dbeae100-d2f3-11e9-9cf9-be6ddfbce9d5.png)

2) Boost penalty is applied once per instance, not once per ticket. It should only apply once per ticket.

See reference ticket: https://github.com/EnigmaDragons/ProjectNeon/issues/14

[2019-09-09 18:21] 0crat commented on #2137
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-09 18:21] 0crat commented on #2137
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-09 20:28] SilasReinagel opened #2138 "0crat: Ticket Bonus should be configurable"
Presently, 0crat pay money for all opened tickets that are put in scope, at 15minutes per ticket.

This is COMPLETELY WRONG.

First, there should be a difference between Bug Ticket and Feature Request. rates.
Second, rates should be CONFIGURABLE. If my project pays $2 per bug, then it shouldn't automatically pay DEV with $128 rate $32 for reporting a bug. Should only pay $2.

Bonus rate absolutely

[2019-09-09 20:28] 0crat commented on #2138
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-09 20:28] 0crat commented on #2138
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-09 21:08] SilasReinagel opened #2139 "0crat: Should not comment on tickets he can’t manage"
I have roles in my project that 0crat doesn’t get support: DESIGN, ART, AUDIO.

I want to manually administer these tickets.

Presently, 0crat comments on tickets which are not in scope, and which he is not allowed to manage.

This is wrong. 0crat should only comment on tickets he is allowed to manage.

See https://github.com/EnigmaDragons/ProjectNeon/issues/22#issuecomment-529662949

[2019-09-09 21:08] 0crat commented on #2139
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-09 21:08] 0crat commented on #2139
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-10 06:59] SilasReinagel opened #2140 "0crat: Cannot scope tickets as ARC"
I am unable to put tickets in scope, despite having ARC and PO role on my project.

Nonsense error message is: `You must be invited in order to do that, see §1`

See: https://github.com/EnigmaDragons/ProjectNeon/issues/8

[2019-09-10 06:59] 0crat commented on #2140
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-10 06:59] 0crat commented on #2140
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-10 07:02] SilasReinagel opened #2141 "0crat: Support roles other than DEV"
I have a project, where people are assigned tickets only from their roles. I have roles:
DEV,
DESIGN,
UI,
ART,
MUSIC,
PROJECT

Other users of the appropriate role should be assigned tickets. I don't want my ART contractors being assigned DEV jobs. I don't want my DEV contractors being assign MUSIC jobs... etc.

I need support for these roles in order to effectively use 0crat.

[2019-09-10 07:02] 0crat commented on #2141
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-10 07:02] 0crat commented on #2141
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-10 08:36] victornoel opened #2142 "0crat crashed when I tried to invite"
I typed `/invite @silasreinagel` and 0crat answered me with:
[code]

[2019-09-10 08:36] 0crat commented on #2142
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-10 08:43] g4s8 commented on #2137
@SilasReinagel correct, we should not change the boost if it's the same as current

[2019-09-10 08:44] g4s8 commented on #2138
@yegor256 please check this ticket

[2019-09-10 08:47] g4s8 commented on #2139
@SilasReinagel how 0crat can understand that this ticket is not for managing? I suppose the correct  way would be to use separate repository for assets managing or maybe not Github project board (e.g. Trello or similar).

[2019-09-10 08:50] g4s8 commented on #2141
@SilasReinagel I think 0crat is for programming managing only at the current stage, maybe it will be able to manage another activities but not now, because in your case artists, musicians and others should pass default Zerocracy joining process get reputation by developer rules etc. @yegor256 what do you think?

[2019-09-10 08:51] 0crat commented on #2137
Job [#2137](https://github.com/zerocracy/farm/issues/2137) is now in scope, role is `DEV`

[2019-09-10 08:54] g4s8 commented on #2142
@victornoel thanks for reporting, but it's a duplicate of #2122

[2019-09-10 08:54] #2142 closed

[2019-09-10 08:58] 0crat commented on #2137
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2019-09-10 08:58] 0crat commented on #2142
Job `gh:zerocracy/farm#2142` is not assigned, can't get performer

[2019-09-10 15:39] SilasReinagel commented on #2139
@g4s8 There are many ways to teach 0crat what is his domain.

Could exclude all Tickets with label in (X, Y, Z)

Could be configured to not try to manage ticket that's not in scope.

Many possible solutions.

[2019-09-10 16:33] SilasReinagel commented on #2141
@g4s8 I don't agree at all.

Any Results-Only work system that involves approval will fit PERFECTLY with zerocracy.

It's the same lifecycle.
1. PO wants a new piece of art.
2. PO assigns ARTIST with his rate.
3. 0crat assigns the ART issue to the artist.
4. Artist delivers the piece by the deadline and opens a PR with the initial revision.
5. REV looks at the art and requests changes.
6. Artist m

[2019-09-11 16:56] victornoel opened #2143 "Terminator should track Project by their pid instead of their Object"
Following the investigation in #2119, we should have the `Map` inside `Terminator` track `Project` by their pid instead of their `Object` because we are never sure that all the `Project` classes properly implements `equals`/`hashCode`.

By the way this is related to our discussion on telegram about envelopes and `equals`, `Map`s are not meant to hold behavioural objects but data that is clearly ha

[2019-09-11 16:56] 0crat commented on #2143
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-11 16:57] victornoel opened #2144 "Terminator should rely on a ConcurrentMap"
Following the investigation in #2119, `Terminator` should rely on the `ConcurrentMap` abstraction to insert elements in it instead of using synchronized, it should improve performance and maybe even correctness in some odd cases.

[2019-09-11 16:57] 0crat commented on #2144
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-11 16:58] victornoel opened #2145 "Terminator should be stress tested."
Following the investigation in #2119.
.The behaviour of `Terminator` is not easy to understand, in order to validate it is actually doing its job, we should stress test it.

[2019-09-11 16:58] 0crat commented on #2145
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-11 17:02] victornoel opened #2146 "Use fair ReentrantLocks to avoid starvation"
Following the investigation in #2119.

The currently used implementation for `Locks` is based on `ReentrantLock` but it is not using the fair scheduling.

This can lead to thread starving and thus timeouts during the handling of lots of request by 0crat.

We should use fair threading, this will make the behaviour of 0crat more deterministic (request will be handled in more or less the order of arr

[2019-09-11 17:02] 0crat commented on #2146
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-11 17:03] g4s8 opened #2147 "Update performer speed on refuse"
Let's update job performer's speed metric on refuse, so if user refuses a job right after he/she get it, it should affect the speed in positive way, but if it was cancelled by delay or user refused it after few days, then it should negatively impact his metrics. REF:  https://t.me/zerocracy/7869

[2019-09-11 17:06] 0crat commented on #2147
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2147](https://github.com/zerocracy/farm/issues/2147), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-09-11 17:06] victornoel opened #2148 "Add logs to detect bugs in the usage of WarnItem"
It would be wise to add a `finalize` (or another mean to detect GC) method to `WarnItem` so that ot complains if the item wasn't closed as expected when the object is GCed.

This could help diagnose future problems in case the item returned by SyncProject are not closed as expected before being discarded (`WarnItem` only complains if it was closed too late).

[2019-09-11 17:06] 0crat commented on #2148
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-11 17:08] victornoel opened #2149 "Implement PgLocks using PostgreSQL advisory locks"
Instead of reinventing the wheel to do locking using a database, it would be a better solution to use PostgreSQL advisory locks instead of a table.

See http://shiroyasha.io/advisory-locks-and-how-to-use-them.html for example. The example given on this page is very similar to what is done in farm.

Here are some more details on read/write locks with advisory locks https://vladmihalcea.com/how-do-p

[2019-09-11 17:08] 0crat commented on #2149
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-11 17:12] victornoel opened #2150 "Investigate the best design to improve performance of zerocracy"
Following the investigation in #2119, here are some ideas about improving things.

They should be studied to find the better design to implement in the medium/long term.

In the medium term:
* we should consider differentiating read only operation from write operations, it is not without reasons that `ReadWriteLock` have a specific behaviour related to that. This would prevent all the web access f

[2019-09-11 17:12] 0crat commented on #2150
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-11 17:12] 0crat commented on #2147
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-11 17:12] 0crat commented on #2147
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-11 17:13] 0crat commented on #2147
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-11 17:13] 0crat commented on #2143
Job [#2143](https://github.com/zerocracy/farm/issues/2143) is now in scope, role is `DEV`

[2019-09-11 17:13] 0crat commented on #2144
Job [#2144](https://github.com/zerocracy/farm/issues/2144) is now in scope, role is `DEV`

[2019-09-11 17:13] 0crat commented on #2145
Job [#2145](https://github.com/zerocracy/farm/issues/2145) is now in scope, role is `DEV`

[2019-09-11 17:14] victornoel commented on #2119
@g4s8 I have created the following issues, I think my job is done here and we should close this ticket
- #2143
- #2144
- #2145
- #2146
- #2148
- #2149
- #2150

[2019-09-11 17:15] 0crat commented on #2146
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2146](https://github.com/zerocracy/farm/issues/2146), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-09-11 17:20] 0crat commented on #2146
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-09-11 17:21] 0crat commented on #2146
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-11 17:21] 0crat commented on #2144
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-09-11 17:22] 0crat commented on #2145
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-09-11 17:24] SilasReinagel opened #2151 "0crat: CRITICAL BUG - Paying WRONG amounts for completed jobs"
This has happened multiple times now!

1. Ticket is boosted to 1x (**15 minutes**).
2. 0crat approved the boost.
3. 0crat assigns the job with **wrong** budget amount (30 minutes).
4. 0crat pays for **30 minutes** of work, plus 5 minutes speed bonus.

Examples:
https://github.com/EnigmaDragons/ProjectNeon/issues/7
https://github.com/EnigmaDragons/ProjectNeon/issues/8

![image](https://user-images.

[2019-09-11 17:24] 0crat commented on #2151
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-11 17:24] 0crat commented on #2151
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-11 17:39] g4s8 commented on #2151
@SilasReinagel it's a known issue: 0crat resets boost factor when the job gets new assignee. Duplicate of #1400

[2019-09-11 17:39] #2151 closed

[2019-09-11 17:44] 0crat commented on #2151
Job `gh:zerocracy/farm#2151` is not assigned, can't get performer

[2019-09-11 17:56] SilasReinagel commented on #1400
@yegor256 @g4s8

This issue is a showstopper for our project. Client will leave 0cracy if 0crat keeps overpaying for work!

Can we get this one fixed?

[2019-09-11 17:57] SilasReinagel commented on #1400
This probably also represents a MAJOR legal liability.

[2019-09-11 18:04] g4s8 commented on #1400
@SilasReinagel each 0crat message about performer assignment says directly that boost factor was ignored, e.g. see this message: https://github.com/EnigmaDragons/ProjectNeon/issues/7#issuecomment-530001543
you changed the boost from 2 to 1, but performer was assigned with boost = 2 ("the budget is 30 minutes"), also you can check estimates page to see all pending payments.

[2019-09-11 18:11] SilasReinagel commented on #1400
@g4s8 If 0crat is ignoring pricing, it is stealing money.

It is either stealing from Client or from Programmer.

This is absolutely unacceptable.

It must be fixed.

[2019-09-15 11:02] magwas opened #2152 "Build is broken: pdd.xml is empty"
I tried to build the project. I have created a docker image based on what I have found in travis.yml,
and ran .travis/run.sh

I got this:

[code]

in checking pdd.xml , it is empty.

The Dockerfile for the build environment looks like this:

[code]

I guess I am missing something from the build environment.
What do I miss?

[2019-09-15 11:02] 0crat commented on #2152
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-15 11:02] 0crat commented on #2152
@magwas[/z](https://www.0crat.com/u/magwas) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-15 12:08] g4s8 commented on #2152
@magwas you need to run `mvn clean install -Pqulice` to build it, not `.travis/run.sh`

[2019-09-15 12:08] #2152 closed

[2019-09-15 12:10] 0crat commented on #2152
Job `gh:zerocracy/farm#2152` is not assigned, can't get performer

[2019-09-16 07:30] victornoel commented on #2070
@g4s8 can this at least be put in scope? I think this should be solved, I loose so much time keeping track of the issue I closed but that QA hasn't evaluated yet because 0crat is not doing it for me.

[2019-09-16 09:25] 0crat commented on #2070
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2070](https://github.com/zerocracy/farm/issues/2070), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-09-16 09:29] 0crat commented on #2070
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-16 09:31] 0crat commented on #2070
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-09-16 09:40] victornoel commented on #2070
@g4s8 for the record we experience also this deteministically when there are no QA available in a project : https://github.com/yegor256/cactoos/issues/1152

The job is removed from scope, from agenda, even though ARC has not evaluated quality. Maybe this is a bit different, but it concerns the same pain: the fact that as a zerocracy user, I have to do the job that I am expecting of zerocracy, i.e.

[2019-09-16 09:54] g4s8 commented on #2070
@rultor release, tag=`0.49.9`

[2019-09-16 09:56] rultor commented on #2070
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20274-531711546)

[2019-09-16 10:10] g4s8 commented on #2146
@victornoel thanks, it should be fixed in https://github.com/zerocracy/farm/commit/af60a59ffca78a212aa4d7aa7158921e50607e23

[2019-09-16 10:10] #2146 closed

[2019-09-16 10:11] rultor commented on #2070
@g4s8 @victornoel Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20274-531711546) (spent 16min)

[code]

[2019-09-16 10:13] g4s8 commented on #2070
@rultor release, tag=`0.49.9`

[2019-09-16 10:14] g4s8 commented on #2070
@victornoel this is another bug with yegor256/cactoos#1152 ticket, this fix https://github.com/zerocracy/farm/commit/96d147b638eda205cc43de66258d915551efb336 won't solve it

[2019-09-16 10:15] rultor commented on #2070
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20274-531716979)

[2019-09-16 10:28] 0crat commented on #2146
Job [#2146](https://github.com/zerocracy/farm/issues/2146) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-09-16 10:34] rultor commented on #2070
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20274-531716979) (took me 17min)

[2019-09-16 10:35] 0crat commented on #2146
The job [#2146](https://github.com/zerocracy/farm/issues/2146) is now out of scope

[2019-09-16 10:36] 0crat commented on #2146
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-16 10:44] g4s8 commented on #2070
@victornoel should be fixed now

[2019-09-16 11:19] victornoel commented on #2070
@g4s8 do you want me to open another ticket or do you want to cover this here? Both problems are related to the same pain/requirement even though they each have their fix.

[2019-09-16 12:51] g4s8 opened #2153 "Don't send adviser payments for free projects"
0crat should not send adviser payments for free projects. Instead of that, it should send a message that user could receive a bonus if the project was not free.

// cc @yegor256

[2019-09-16 12:54] g4s8 opened #2154 "Only projects with OS license should be free"
0crat should check project's license (`license` JSON at [repo](https://developer.github.com/v3/repos/) API), and don't take a fee only for projects with open source license, not just public repos.

// cc @yegor256

[2019-09-16 16:59] 0crat commented on #2153
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2153](https://github.com/zerocracy/farm/issues/2153), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-09-16 16:59] 0crat commented on #2154
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2154](https://github.com/zerocracy/farm/issues/2154), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-09-16 17:03] 0crat commented on #2153
Job `gh:zerocracy/farm#2153` already assigned to @g4s8, can't assign to @g4s8

[2019-09-16 17:05] 0crat commented on #2154
Job `gh:zerocracy/farm#2154` already assigned to @g4s8, can't assign to @g4s8

[2019-09-16 17:07] 0crat commented on #2154
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-16 17:07] 0crat commented on #2153
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-16 17:07] 0crat commented on #2153
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-16 17:08] 0crat commented on #2154
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-16 17:08] 0crat commented on #2153
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-16 17:08] 0crat commented on #2154
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-16 19:53] g4s8 commented on #2153
@rultor release, tag=`0.49.10`

[2019-09-16 19:54] rultor commented on #2153
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20282-531931806)

[2019-09-16 20:16] rultor commented on #2153
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20282-531931806) (took me 20min)

[2019-09-17 12:41] g4s8 commented on #2070
@victornoel the bug with  yegor256/cactoos#1152 is another because 0crat just closed the job without payment and not put it into QA review.

[2019-09-17 12:43] g4s8 commented on #462
@amihaiemil it should be fixed

[2019-09-17 12:43] #462 closed

[2019-09-17 12:43] #472 closed

[2019-09-17 12:46] g4s8 commented on #618
@amihaiemil I think ideally 0crat should be converted to GitHub app and use app token instead of GH user token.

[2019-09-17 12:46] #618 closed

[2019-09-17 12:47] g4s8 commented on #959
@paulodamaso should be fixed already

[2019-09-17 12:47] #959 closed

[2019-09-17 12:49] g4s8 commented on #947
@izrik it was fixed already, see https://www.zerocracy.com/policy.html#35

[2019-09-17 12:49] #947 closed

[2019-09-17 12:49] victornoel opened #2155 "Do not close a job without paying if there are no QA available"
In yegor256/cactoos#1152 for example (but it happened in multiple places), the cactoos project having no QA available, simply closed the job even though the performer wasn't paid.

0crat told ARC to do something about it, but ARC can't assert quality for example (see https://github.com/yegor256/cactoos/issues/1152#issuecomment-531901240).

I think 0crat should consider that ARC is a valid QA and s

[2019-09-17 12:49] 0crat commented on #2155
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-17 12:49] victornoel commented on #2070
@g4s8 thank you, I have opened #2155 for this.

[2019-09-17 12:49] #2070 closed

[2019-09-17 12:51] g4s8 commented on #2153
@rultor release, tag=`0.49.11`

[2019-09-17 12:52] rultor commented on #2153
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20282-532206426)

[2019-09-17 12:53] g4s8 commented on #946
@skapral thanks, fixed in https://github.com/zerocracy/farm/commit/17f02ff7b6e858fc3c5abf4672b8933a27a80123

[2019-09-17 12:53] #946 closed

[2019-09-17 12:53] 0crat commented on #485
Job [#485](https://github.com/zerocracy/farm/issues/485) is now in scope, role is `DEV`

[2019-09-17 13:01] #869 closed

[2019-09-17 13:05] #1155 closed

[2019-09-17 13:18] 0crat commented on #472
Job `gh:zerocracy/farm#472` is not assigned, can't get performer

[2019-09-17 13:20] rultor commented on #2153
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20282-532206426) (took me 26min)

[2019-09-17 13:21] 0crat commented on #462
Job `gh:zerocracy/farm#462` is not assigned, can't get performer

[2019-09-17 13:21] 0crat commented on #485
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-09-17 13:22] 0crat commented on #618
Job `gh:zerocracy/farm#618` is not assigned, can't get performer

[2019-09-17 13:22] 0crat commented on #959
Job `gh:zerocracy/farm#959` is not assigned, can't get performer

[2019-09-17 13:22] 0crat commented on #2070
Job [#2070](https://github.com/zerocracy/farm/issues/2070) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-09-17 13:22] 0crat commented on #472
This job is not in scope

[2019-09-17 13:23] 0crat commented on #462
This job is not in scope

[2019-09-17 13:23] 0crat commented on #618
This job is not in scope

[2019-09-17 13:23] 0crat commented on #947
Job `gh:zerocracy/farm#947` is not assigned, can't get performer

[2019-09-17 13:24] 0crat commented on #959
This job is not in scope

[2019-09-17 13:24] 0crat commented on #869
Job `gh:zerocracy/farm#869` is not assigned, can't get performer

[2019-09-17 13:24] 0crat commented on #946
Job `gh:zerocracy/farm#946` is not assigned, can't get performer

[2019-09-17 13:24] 0crat commented on #947
This job is not in scope

[2019-09-17 13:24] 0crat commented on #2070
Job was finished in 27 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-17 13:26] 0crat commented on #1155
Job `gh:zerocracy/farm#1155` is not assigned, can't get performer

[2019-09-17 13:26] 0crat commented on #869
This job is not in scope

[2019-09-17 13:27] 0crat commented on #946
This job is not in scope

[2019-09-17 13:32] 0crat commented on #1155
This job is not in scope

[2019-09-17 13:32] 0crat commented on #2155
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2155](https://github.com/zerocracy/farm/issues/2155), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-09-17 13:32] 0crat commented on #2070
The job [#2070](https://github.com/zerocracy/farm/issues/2070) is now out of scope

[2019-09-17 13:33] 0crat commented on #2070
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-17 13:33] 0crat commented on #2155
Job `gh:zerocracy/farm#2155` already assigned to @g4s8, can't assign to @g4s8

[2019-09-17 13:43] 0crat commented on #2155
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-09-17 13:43] 0crat commented on #2155
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-19 15:59] SilasReinagel opened #2156 "If 0crat is down, it doesn't pay for a new ticket that was created -> assigned -> completed"
Ticket was opened, assigned, and completed when 0crat apparently wasn't running.

See this card: https://github.com/EnigmaDragons/ProjectNeon/issues/131

This raises 2 questions:
1) Why is 0crat down so often?
2) Why can't 0crat figure out whom to pay?

[2019-09-19 15:59] 0crat commented on #2156
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-19 15:59] 0crat commented on #2156
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-19 16:57] SilasReinagel commented on #2156
@g4s8 I am mistaken. 0crat was just down and runs very slowly. Apparently it eventually resolved the issue.

[2019-09-19 16:57] #2156 closed

[2019-09-19 17:24] 0crat commented on #2156
Job `gh:zerocracy/farm#2156` is not assigned, can't get performer

[2019-09-19 17:25] 0crat commented on #2156
This job is not in scope

[2019-09-20 10:39] iakunin opened #2157 "Bug with reputation receiving"
zerocrat said that `There is no quality review for #1172, no performer`.

https://github.com/yegor256/cactoos/issues/1172#issuecomment-531896622

**Expected behavior**: reputation points successfully accrued to the performer (@iakunin)

**Observed behavior**: there are no reputation points for the issue https://github.com/yegor256/cactoos/issues/1172

[2019-09-20 10:39] 0crat commented on #2157
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-20 10:39] 0crat commented on #2157
@iakunin[/z](https://www.0crat.com/u/iakunin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-21 15:41] victornoel commented on #2155
@g4s8 was a solution and/or a workaround until it's fixed found?
I noticed another situation with this bug where the ticket is closed, but it is still present in my agenda but not marked as QA: https://github.com/llorllale/cactoos-matchers/issues/133

[2019-09-21 20:47] SilasReinagel opened #2158 "Set Contributor WIP Limit - Per Project"
In our project, we use a Kanban work flow. Following our flow, we have a hard rule that each performer is only allowed to have 1 issue assigned at a time.

There seems to be no way to limit how many tasks 0crat assigns to project performers.

This has a MAJOR NEGATIVE impact on our parallelism and project velocity, since when 0crat assigns 5 tickets to one performer, no-one else on the project, in

[2019-09-21 20:47] 0crat commented on #2158
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-21 20:47] 0crat commented on #2158
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-22 07:44] g4s8 commented on #2158
@yegor256 please look at this issue

[2019-09-22 10:17] victornoel commented on #2119
@filfreire can you close this issue?

[2019-09-22 14:23] g4s8 commented on #2157
@iakunin thanks for reporting, but it's a duplicate of #2155

[2019-09-22 14:23] #2157 closed

[2019-09-22 14:24] 0crat commented on #2157
Job `gh:zerocracy/farm#2157` is not assigned, can't get performer

[2019-09-22 14:53] g4s8 commented on #2155
@rultor release, tag=`0.49.12`

[2019-09-22 14:55] rultor commented on #2155
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20362-533888790)

[2019-09-22 15:12] rultor commented on #2155
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20362-533888790) (took me 16min)

[2019-09-24 11:21] g4s8 commented on #2155
@victornoel it should be fixed now - if all QA users are on vacation, then 0crat will behave like there're no QA at all.

[2019-09-24 12:34] g4s8 commented on #2155
@victornoel they were removed from WBS, so only project ARC can pay for these jobs manually.

[2019-09-24 13:06] 0crat commented on #2155
Job [#2155](https://github.com/zerocracy/farm/issues/2155) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-09-24 13:13] 0crat commented on #2155
The job [#2155](https://github.com/zerocracy/farm/issues/2155) is now out of scope

[2019-09-24 13:15] 0crat commented on #2155
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-24 18:02] victornoel commented on #2119
@g4s8 can you close this? it seems @filfreire is not with us anymore

[2019-09-24 19:13] g4s8 commented on #2119
@victornoel sure, thanks

[2019-09-24 19:13] #2119 closed

[2019-09-24 19:34] 0crat commented on #2119
Job [#2119](https://github.com/zerocracy/farm/issues/2119) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't retrieve data and time of add

[2019-09-24 19:36] 0crat commented on #2119
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-09-24 19:36] 0crat commented on #2119
Job [#2119](https://github.com/zerocracy/farm/issues/2119) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-09-24 19:39] 0crat commented on #2119
The job [#2119](https://github.com/zerocracy/farm/issues/2119) is now out of scope

[2019-09-24 20:15] paulodamaso commented on #2119
@0crat quality good

[2019-09-24 20:32] 0crat commented on #2119
@paulodamaso The project doesn't have enough funds, can't make a payment

[2019-09-24 20:33] 0crat commented on #2119
Quality review completed: +4 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-24 20:35] 0crat commented on #2119
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-09-25 16:28] SilasReinagel opened #2159 "0crat over pays for 0pdd-Opened Issue"
0pdd opens a ticket for a puzzle explicitly setting the budget to 15mins.

0crat assigns issue using a budget of 30 minutes.

https://github.com/EnigmaDragons/ProjectNeon/issues/102

This is blatantly wrong! Yet another instance of 0crat stealing money.

[2019-09-25 16:28] 0crat commented on #2159
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-25 16:28] 0crat commented on #2159
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-25 16:48] g4s8 commented on #2159
@SilasReinagel 0crat didn't steal anything because it's not receiving money from your project. 0crat using default budget 30 minutes for each ticket, see https://www.zerocracy.com/policy.html#5

[2019-09-25 16:48] #2159 closed

[2019-09-25 16:50] 0crat commented on #2159
Job `gh:zerocracy/farm#2159` is not assigned, can't get performer

[2019-09-25 16:59] SilasReinagel commented on #2159
@g4s8 So, you're saying that 0pdd and 0crat are supposed to be incompatible?

If that's true, where is the support for 0crat to request a refund? I don't see it in the policy.

[2019-09-26 15:25] lavinj87 opened #2160 "Setting rate at telegram after second application via github is broken"
My original github name is lavinj.
Started the telegram bot being my username lavinj.
Changed my github account name to lavinj87.
Changed my telegram user name to lavinj87 as well.
I've applied a second time to 0cracy with this new account name.

When I issue a rate command, the telegram bot still refers to me as lavinj.

I would like to see that the telegram bot refers to me as lavinj87, so that

[2019-09-26 15:25] 0crat commented on #2160
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-09-26 15:25] 0crat commented on #2160
@lavinj87[/z](https://www.0crat.com/u/lavinj87) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-26 15:26] g4s8 commented on #2147
Fixed in https://github.com/zerocracy/farm/commit/ce834f5ee6213892813ecf71dc682807fe9631a6

[2019-09-26 15:26] #2147 closed

[2019-09-26 15:31] g4s8 commented on #2160
@lavinj87 I've reset Telegram handle for `lavinj` user. 0crat Telegram bot will ask to authorize with next bot command, please follow the link and login with new user. Should work. Let me know about the result.

[2019-09-26 15:36] lavinj87 commented on #2160
@g4s8 Worked like charm. Thank you very much.

[2019-09-26 15:44] 0crat commented on #2147
Job [#2147](https://github.com/zerocracy/farm/issues/2147) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-09-26 15:49] g4s8 opened #2161 "Payment issues"
There're few payment issues:
 - 0crat pay for QA review even if there're no cash available in the project
 - 0crat won't pay if amount is greater than available cash in the project

[2019-09-26 15:49] #2160 closed

[2019-09-26 15:50] 0crat commented on #2147
The job [#2147](https://github.com/zerocracy/farm/issues/2147) is now out of scope

[2019-09-26 15:51] 0crat commented on #2147
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-26 15:57] 0crat commented on #2161
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2161](https://github.com/zerocracy/farm/issues/2161), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-09-26 16:05] 0crat commented on #2161
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-26 16:05] 0crat commented on #2161
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-26 16:07] 0crat commented on #2161
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-26 16:07] 0crat commented on #2160
Job `gh:zerocracy/farm#2160` is not assigned, can't get performer

[2019-09-26 16:09] 0crat commented on #2160
This job is not in scope

[2019-09-26 16:11] g4s8 commented on #2161
@rultor release, tag=`0.49.13`

[2019-09-26 16:12] rultor commented on #2161
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20432-535576345)

[2019-09-26 16:42] rultor commented on #2161
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20432-535576345) (took me 28min)

[2019-09-26 17:14] g4s8 commented on #2161
@rultor release, tag=`0.49.14`

[2019-09-26 17:16] rultor commented on #2161
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20432-535600927)

[2019-09-26 17:51] rultor commented on #2161
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20432-535600927) (spent 34min)

[code]

[2019-09-26 19:46] g4s8 commented on #2161
@rultor release, tag=`0.49.14`

[2019-09-26 19:47] rultor commented on #2161
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20432-535658431)

[2019-09-26 20:12] rultor commented on #2161
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20432-535658431) (took me 23min)

[2019-10-05 15:10] sereshqua opened #2162 "0crat did not react to QA verdict"
I gave a QA verdict in one of the tickets - [here](https://github.com/yegor256/cactoos/pull/1187#issuecomment-538265314), however, nothing happened after 1 day

[2019-10-05 15:10] 0crat commented on #2162
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-10-06 13:18] ruspl-afed opened #2163 "Avoid unrecoverable failure during apply command"
Unrecoverable failure reported after as a result of -apply command from Slack

[code]

[2019-10-06 13:18] 0crat commented on #2163
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-10-06 13:18] 0crat commented on #2163
@ruspl-afed[/z](https://www.0crat.com/u/ruspl-afed) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-08 09:18] g4s8 commented on #2162
@sereshqua it looks like a temporary failure, 0crat sometimes loose Github comments due to network issues.

[2019-10-08 09:18] #2162 closed

[2019-10-08 09:27] g4s8 opened #2164 "0crat failed to retry payment after 1 attempt"
0crat is failing to retry payment when project is not funded after 1 attempt with message:
[code]

See: https://github.com/sunsofterp/portal/pull/388

[2019-10-08 09:56] 0crat commented on #2162
Job `gh:zerocracy/farm#2162` is not assigned, can't get performer

[2019-10-08 10:18] 0crat commented on #2162
This job is not in scope

[2019-10-08 11:03] 0crat commented on #2084
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2084](https://github.com/zerocracy/farm/issues/2084), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-10-08 11:04] 0crat commented on #2084
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-08 11:46] 0pdd commented on #2084
The puzzle `1453-269b8f94` has disappeared from the source code, that's why I closed this issue.

[2019-10-08 11:46] #2084 closed

[2019-10-08 11:46] 0pdd commented on #1453
@g4s8 the only puzzle [#2084](https://github.com/zerocracy/farm/issues/2084) is solved here.

[2019-10-08 11:46] g4s8 commented on #1363
Fixed in https://github.com/zerocracy/farm/commit/b14d8f76f43b759a725b823ff8f607be5370d75e

[2019-10-08 11:46] #1363 closed

[2019-10-08 11:47] g4s8 commented on #2084
@rultor release, tag=`0.49.15`

[2019-10-08 11:47] g4s8 commented on #1690
Should be fixed

[2019-10-08 11:47] #1690 closed

[2019-10-08 11:48] g4s8 commented on #1838
@0crat refuse

[2019-10-08 11:48] #1920 closed

[2019-10-08 11:48] rultor commented on #2084
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20540-539475942)

[2019-10-08 11:49] g4s8 commented on #2044
@yegor256 it was fixed in https://github.com/zerocracy/farm/commit/65c74b3451c235a0cd78074c30143e028d05e7f7

[2019-10-08 11:49] #2044 closed

[2019-10-08 11:50] g4s8 commented on #2117
@aivinog1 it should be fixed in https://github.com/zerocracy/farm/commit/5922f8fa31ffce220771fe8b8db7c2c6c9aa4291

[2019-10-08 11:50] #2117 closed

[2019-10-08 11:50] g4s8 commented on #2127
@scristalli it should be fixed in https://github.com/zerocracy/farm/commit/90b6f51f6577b02cd14457af837d02f94b7dba21

[2019-10-08 11:50] #2127 closed

[2019-10-08 11:51] g4s8 commented on #2134
@g4s8 it was fixed in https://github.com/zerocracy/farm/commit/885f2adde0c76b96c521c6e1dc88d451c17ffd21

[2019-10-08 11:51] #2134 closed

[2019-10-08 11:51] g4s8 commented on #2161
@g4s8 it was fixed in `0.49.14`

[2019-10-08 11:51] #2161 closed

[2019-10-08 11:51] g4s8 commented on #2153
It should be fixed in https://github.com/zerocracy/farm/commit/f0c941fe872e162097b4b4447d510a607017b40c

[2019-10-08 11:51] #2153 closed

[2019-10-08 11:59] 0crat commented on #1838
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#1838](https://github.com/zerocracy/farm/issues/1838), please stop working. Reason for job resignation: Order was cancelled

[2019-10-08 12:09] 0crat commented on #2084
Job [#2084](https://github.com/zerocracy/farm/issues/2084) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-08 12:10] 0crat commented on #1363
Job [#1363](https://github.com/zerocracy/farm/issues/1363) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-08 12:10] 0crat commented on #1920
Job [#1920](https://github.com/zerocracy/farm/issues/1920) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-08 12:10] 0crat commented on #2044
Job [#2044](https://github.com/zerocracy/farm/issues/2044) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-08 12:11] 0crat commented on #1690
Job [#1690](https://github.com/zerocracy/farm/issues/1690) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-08 12:13] 0crat commented on #2117
Job [#2117](https://github.com/zerocracy/farm/issues/2117) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-08 12:13] 0crat commented on #1838
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-08 12:18] 0crat commented on #2134
Job [#2134](https://github.com/zerocracy/farm/issues/2134) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-08 12:18] 0crat commented on #2084
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-10-08 12:18] 0crat commented on #2127
Job [#2127](https://github.com/zerocracy/farm/issues/2127) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-08 12:18] 0crat commented on #2161
Job [#2161](https://github.com/zerocracy/farm/issues/2161) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-08 12:19] 0crat commented on #2153
Job [#2153](https://github.com/zerocracy/farm/issues/2153) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-08 12:20] rultor commented on #2084
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20540-539475942) (took me 29min)

[2019-10-08 12:29] 0crat commented on #1363
The job [#1363](https://github.com/zerocracy/farm/issues/1363) is now out of scope

[2019-10-08 12:33] 0crat commented on #2084
The job [#2084](https://github.com/zerocracy/farm/issues/2084) is now out of scope

[2019-10-08 12:33] 0crat commented on #2044
The job [#2044](https://github.com/zerocracy/farm/issues/2044) is now out of scope

[2019-10-08 12:35] 0crat commented on #1690
The job [#1690](https://github.com/zerocracy/farm/issues/1690) is now out of scope

[2019-10-08 12:35] 0crat commented on #1920
The job [#1920](https://github.com/zerocracy/farm/issues/1920) is now out of scope

[2019-10-08 12:35] 0crat commented on #2134
The job [#2134](https://github.com/zerocracy/farm/issues/2134) is now out of scope

[2019-10-08 12:37] 0crat commented on #1363
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-08 12:37] 0crat commented on #2084
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-08 12:37] 0crat commented on #2161
The job [#2161](https://github.com/zerocracy/farm/issues/2161) is now out of scope

[2019-10-08 12:37] 0crat commented on #2117
The job [#2117](https://github.com/zerocracy/farm/issues/2117) is now out of scope

[2019-10-08 12:38] 0crat commented on #2153
The job [#2153](https://github.com/zerocracy/farm/issues/2153) is now out of scope

[2019-10-08 12:38] 0crat commented on #2127
The job [#2127](https://github.com/zerocracy/farm/issues/2127) is now out of scope

[2019-10-08 12:38] 0crat commented on #1690
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-08 12:39] 0crat commented on #2044
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-08 12:41] 0crat commented on #2134
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-08 12:45] 0crat commented on #1920
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-08 12:48] 0crat commented on #2127
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-08 12:48] 0crat commented on #2161
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-08 12:49] 0crat commented on #2117
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-08 12:52] 0crat commented on #2153
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-09 08:52] 0crat commented on #1993
Job `gh:zerocracy/farm#1993` already assigned to @victornoel, can't assign to @victornoel

[2019-10-09 08:52] 0crat commented on #1993
The job [#1993](https://github.com/zerocracy/farm/issues/1993) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/3918003f-f8f9-4752-9630-2c42cb0dfc63); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-10-09 09:01] 0crat commented on #2005
The job [#2005](https://github.com/zerocracy/farm/issues/2005) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/ee53a1ca-8726-4fe0-8820-0083de8cca59); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2019-10-09 09:43] g4s8 commented on #2150
@rultor release, tag=`0.49.16`

[2019-10-09 09:44] rultor commented on #2150
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20554-539924981)

[2019-10-09 10:39] rultor commented on #2150
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20554-539924981) (took me 54min)

[2019-10-09 12:43] 0pdd opened #2165 "ExecFor.java:32-37: - Lets introduce new `Farm`,..."
The puzzle `2150-34dfa09b` from #2150 has to be resolved:

https://github.com/zerocracy/farm/blob/bc26c026283fd0979a8482c827ef3df0cf096ed3/src/main/java/com/zerocracy/claims/proc/ExecFor.java#L32-L37

The puzzle was created by Kirill on 09-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2019-10-09 12:43] 0pdd commented on #2150
@victornoel the puzzle [#2165](https://github.com/zerocracy/farm/issues/2165) is still not solved.

[2019-10-09 12:44] 0crat commented on #2165
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-10-09 12:46] g4s8 commented on #2150
@victornoel thanks for the ticket. I started new implementation of async logic - each project has its own thread now, then we will check that resource can be accessed only by project thread and remove synchronizations after #2156

[2019-10-09 12:46] #2150 closed

[2019-10-09 12:57] 0crat commented on #2165
Job [#2165](https://github.com/zerocracy/farm/issues/2165) is now in scope, role is `DEV`

[2019-10-09 13:03] 0crat commented on #2165
Job `gh:zerocracy/farm#2165` already assigned to @g4s8, can't assign to @g4s8

[2019-10-09 13:03] 0crat commented on #2165
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2165](https://github.com/zerocracy/farm/issues/2165), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-10-09 13:05] 0crat commented on #2150
Job `gh:zerocracy/farm#2150` is not assigned, can't get performer

[2019-10-09 13:05] 0crat commented on #2165
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-09 13:06] 0crat commented on #2150
This job is not in scope

[2019-10-09 17:27] g4s8 commented on #2164
@rultor release, tag=`0.49.17`

[2019-10-09 17:28] rultor commented on #2164
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20558-540103960)

[2019-10-09 17:52] rultor commented on #2164
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20558-540103960) (took me 22min)

[2019-10-10 05:58] loro2 opened #2166 "Zerocrat bot not communicating - says "unrecoverable failure""
Hello,

new user of Zerocrat here. After I've introduced myself, there is no reply to any of my messages on Telegram. I've tried Slack too, where it replies to my commands with the following message:

[code]

![image](https://user-images.githubusercontent.com/51793898/66542574-3f567180-eb33-11e9-89f8-5c723900b893.png)

![image](https://user-images.githubusercontent.com/51793898/66542528-20f07600-e

[2019-10-10 05:58] 0crat commented on #2166
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-10-10 05:58] 0crat commented on #2166
@loro2[/z](https://www.0crat.com/u/loro2) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-10 08:33] yegor256 commented on #2108
@g4s8 this is super annoying, would be great if we can fix this sooner

[2019-10-10 11:40] g4s8 commented on #2108
@yegor256 as I can see, such behavior was introduced intentionally: `Hint` class stores [`ttl` attribute](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/TTL.html) for each posted hint - 0crat will not be able to post same issue for this time. The script `hint_when_everybody_banned` uses 5-days TTL, so 0crat can post this message only once per 5 day. Do you want to increase this v

[2019-10-10 14:39] g4s8 commented on #2150
@rultor release, tag=`0.49.18`

[2019-10-10 14:41] rultor commented on #2150
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20554-540619273)

[2019-10-10 14:58] rultor commented on #2150
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20554-540619273) (took me 14min)

[2019-10-11 02:50] 0crat commented on #762
The job [#762](https://github.com/zerocracy/farm/issues/762) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/965eef1a-30e7-4138-909e-8fd7e77dfb8c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-10-11 07:56] carlosmiranda commented on #762
@0crat refuse

[2019-10-11 08:39] 0crat commented on #762
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#762](https://github.com/zerocracy/farm/issues/762), please stop working. Reason for job resignation: Order was cancelled

[2019-10-11 08:42] 0crat commented on #762
@carlosmiranda There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.49.18](https://github.com/zerocracy/farm): CID: [4582fdb8-508b-4d91-bf32-26f1a629a966](https://www.0crat.com/footprint/C3NDPUA8L/4582fdb8-508b-4d91-bf32-26f1a629a966), Type: "Order was canceled"

[2019-10-11 09:08] 0crat commented on #1145
The job [#1145](https://github.com/zerocracy/farm/issues/1145) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1d4a5f75-a515-40b4-b7b8-4184f2b7fef1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-10-11 17:28] victornoel opened #2168 "0crat can't seem to retrieve policy"
This happened here: https://github.com/zold-io/java-api/issues/38#issuecomment-540876224

It said:
[code]

In the end it didn't penalize the user.

[2019-10-11 17:28] 0crat commented on #2168
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-10-11 17:33] g4s8 commented on #2168
@victornoel it should be fixed after https://github.com/zerocracy/farm/pull/2167#issuecomment-541155251 merge

[2019-10-11 17:39] victornoel commented on #2168
@g4s8 ok, thx, let me close this then

[2019-10-11 17:39] #2168 closed

[2019-10-11 18:05] 0crat commented on #2168
Job `gh:zerocracy/farm#2168` is not assigned, can't get performer

[2019-10-11 18:23] 0crat commented on #2168
This job is not in scope

[2019-10-11 18:29] 0crat commented on #762
The job [#762](https://github.com/zerocracy/farm/issues/762) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/b0f21307-46ea-4b35-80f7-146a6ec5504b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-10-12 09:45] g4s8 commented on #1926
@rultor release, tag=`0.49.19`

[2019-10-12 09:47] rultor commented on #1926
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20585-541307951)

[2019-10-12 10:02] rultor commented on #1926
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20585-541307951) (took me 13min)

[2019-10-12 10:45] g4s8 commented on #1926
Done

[2019-10-12 10:45] #1926 closed

[2019-10-12 11:07] 0crat commented on #1926
Job [#1926](https://github.com/zerocracy/farm/issues/1926) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-12 11:20] 0crat commented on #1926
The job [#1926](https://github.com/zerocracy/farm/issues/1926) is now out of scope

[2019-10-12 11:31] 0crat commented on #1926
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-12 16:26] victornoel commented on #1993
@0crat wait for #2169 to be merged

[2019-10-12 16:28] 0crat commented on #1993
@victornoel The impediment for [#1993](https://github.com/zerocracy/farm/issues/1993) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-10-12 16:28] victornoel commented on #762
@0crat refuse

[2019-10-12 16:30] 0crat commented on #762
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#762](https://github.com/zerocracy/farm/issues/762), please stop working. Reason for job resignation: Order was cancelled

[2019-10-12 16:32] 0crat commented on #762
@victornoel Job refused in 22 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-13 06:16] 0crat commented on #903
The job [#903](https://github.com/zerocracy/farm/issues/903) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/3cefe2ca-fbc7-43d9-9fb9-c93439f01300); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-10-14 00:03] carlosmiranda commented on #1145
@0crat refuse

[2019-10-14 00:29] 0crat commented on #1145
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1145](https://github.com/zerocracy/farm/issues/1145), please stop working. Reason for job resignation: Order was cancelled

[2019-10-14 00:38] 0crat commented on #1145
Tasks refusal is discouraged (job refused in 63 hours), see [§6](http://www.zerocracy.com/policy.html#6): -10 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-10-14 00:54] 0crat commented on #1284
The job [#1284](https://github.com/zerocracy/farm/issues/1284) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/5b194875-ac45-4847-822f-e1ec53cf57ab); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-10-14 00:59] 0crat commented on #1284
Job `gh:zerocracy/farm#1284` already assigned to @carlosmiranda, can't assign to @carlosmiranda

[2019-10-14 01:02] carlosmiranda commented on #1284
@0crat refuse

[2019-10-14 01:12] 0crat commented on #1284
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1284](https://github.com/zerocracy/farm/issues/1284), please stop working. Reason for job resignation: Order was cancelled

[2019-10-14 01:14] 0crat commented on #1284
@carlosmiranda Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-14 01:14] 0crat commented on #729
The job [#729](https://github.com/zerocracy/farm/issues/729) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/fc2cc25c-34b6-41fe-b74d-58128b0b6c19); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-10-14 01:18] 0crat commented on #1284
The job [#1284](https://github.com/zerocracy/farm/issues/1284) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1e8e276b-c611-42a2-a4af-b7648312f07c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-10-14 01:19] carlosmiranda commented on #1284
@0crat refuse

[2019-10-14 01:22] 0crat commented on #1388
The job [#1388](https://github.com/zerocracy/farm/issues/1388) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/6d3f6ce5-ccfd-4c94-93af-bb4ae4d39b83); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-10-14 01:23] 0crat commented on #1284
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1284](https://github.com/zerocracy/farm/issues/1284), please stop working. Reason for job resignation: Order was cancelled

[2019-10-14 01:25] 0crat commented on #1284
@carlosmiranda There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.49.19](https://github.com/zerocracy/farm): CID: [6387c034-cc7e-4162-a31d-73575ef0c5c5](https://www.0crat.com/footprint/C3NDPUA8L/6387c034-cc7e-4162-a31d-73575ef0c5c5), Type: "Order was canceled"

[2019-10-14 01:25] 0crat commented on #1284
@carlosmiranda Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-14 01:26] carlosmiranda commented on #1388
@0crat refuse

[2019-10-14 01:29] 0crat commented on #1388
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1388](https://github.com/zerocracy/farm/issues/1388), please stop working. Reason for job resignation: Order was cancelled

[2019-10-14 01:33] 0crat commented on #1388
@carlosmiranda Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-14 01:44] 0crat commented on #1391
Job `gh:zerocracy/farm#1391` already assigned to @carlosmiranda, can't assign to @carlosmiranda

[2019-10-14 01:44] carlosmiranda commented on #1391
@0crat refuse

[2019-10-14 01:47] 0crat commented on #1391
The job [#1391](https://github.com/zerocracy/farm/issues/1391) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/a19342a6-6340-48cd-9016-dedfa35ef6bf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-10-14 01:50] 0crat commented on #1391
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1391](https://github.com/zerocracy/farm/issues/1391), please stop working. Reason for job resignation: Order was cancelled

[2019-10-14 01:51] 0crat commented on #1391
@carlosmiranda Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-14 01:52] 0crat commented on #779
The job [#779](https://github.com/zerocracy/farm/issues/779) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/58b142cd-4d16-4592-93a1-ca76e58f5430); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-10-14 01:53] carlosmiranda commented on #779
@0crat refuse

[2019-10-14 02:27] 0crat commented on #848
The job [#848](https://github.com/zerocracy/farm/issues/848) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/016310be-245b-4169-a5bd-8c674054b195); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-10-14 02:29] 0crat commented on #779
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#779](https://github.com/zerocracy/farm/issues/779), please stop working. Reason for job resignation: Order was cancelled

[2019-10-14 02:32] 0crat commented on #779
@carlosmiranda Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-14 02:37] 0crat commented on #1399
The job [#1399](https://github.com/zerocracy/farm/issues/1399) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2a2cb282-7a99-4996-9fee-8b4944c2506f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-10-14 03:03] carlosmiranda commented on #729
@0crat refuse

[2019-10-14 03:23] 0crat commented on #729
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#729](https://github.com/zerocracy/farm/issues/729), please stop working. Reason for job resignation: Order was cancelled

[2019-10-14 03:24] carlosmiranda commented on #848
@0crat refuse

[2019-10-14 03:25] 0crat commented on #729
@carlosmiranda Job refused in 2 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-14 03:27] 0crat commented on #848
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#848](https://github.com/zerocracy/farm/issues/848), please stop working. Reason for job resignation: Order was cancelled

[2019-10-14 03:28] 0crat commented on #848
@carlosmiranda Job refused in 1 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-14 03:31] 0crat commented on #848
The job [#848](https://github.com/zerocracy/farm/issues/848) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/7ad36be1-e177-4d56-93c5-78e4b4e8c6a9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-10-14 03:33] carlosmiranda commented on #848
@0crat refuse

[2019-10-14 03:40] 0crat commented on #848
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#848](https://github.com/zerocracy/farm/issues/848), please stop working. Reason for job resignation: Order was cancelled

[2019-10-14 03:45] 0crat commented on #848
@carlosmiranda Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-14 03:46] 0crat commented on #848
@carlosmiranda There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.49.19](https://github.com/zerocracy/farm): CID: [ad26e4d6-6ba6-49b9-9e7b-145ccd472d06](https://www.0crat.com/footprint/C3NDPUA8L/ad26e4d6-6ba6-49b9-9e7b-145ccd472d06), Type: "Order was canceled"

[2019-10-14 04:00] 0crat commented on #1411
The job [#1411](https://github.com/zerocracy/farm/issues/1411) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/28ce8849-96b5-4ca4-91e7-a6be595fd43a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-10-14 04:00] 0crat commented on #1411
Job `gh:zerocracy/farm#1411` already assigned to @carlosmiranda, can't assign to @carlosmiranda

[2019-10-14 04:01] 0crat commented on #1412
The job [#1412](https://github.com/zerocracy/farm/issues/1412) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/cf301e29-3898-460b-986d-8bcb00ab5875); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-10-14 06:38] carlosmiranda commented on #1411
@0crat refuse

[2019-10-14 06:38] carlosmiranda commented on #1412
@0crat refuse

[2019-10-14 07:00] 0crat commented on #1412
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1412](https://github.com/zerocracy/farm/issues/1412), please stop working. Reason for job resignation: Order was cancelled

[2019-10-14 07:00] 0crat commented on #1411
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1411](https://github.com/zerocracy/farm/issues/1411), please stop working. Reason for job resignation: Order was cancelled

[2019-10-14 07:01] 0crat commented on #1412
@carlosmiranda Job refused in 2 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-14 07:01] 0crat commented on #1411
@carlosmiranda Job refused in 3 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-14 07:11] 0crat commented on #1428
The job [#1428](https://github.com/zerocracy/farm/issues/1428) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/c30b1492-9c31-4ec3-986b-b200b294dbfb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-10-14 07:18] 0crat commented on #1449
The job [#1449](https://github.com/zerocracy/farm/issues/1449) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/e8d80e1b-3de5-4fb1-925b-af034a1f717c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-10-14 07:19] carlosmiranda commented on #1399
@0crat refuse

[2019-10-14 07:20] 0crat commented on #1399
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1399](https://github.com/zerocracy/farm/issues/1399), please stop working. Reason for job resignation: Order was cancelled

[2019-10-14 07:21] 0crat commented on #1399
@carlosmiranda Job refused in 4 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-14 07:29] 0crat commented on #1460
The job [#1460](https://github.com/zerocracy/farm/issues/1460) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/4e43b373-2844-4c2a-9c0e-222d350713b4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-10-14 10:39] 0crat commented on #1247
The job [#1247](https://github.com/zerocracy/farm/issues/1247) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/7067e478-1b79-419c-bc9a-af40eff33bd1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-10-14 12:54] #2165 closed

[2019-10-14 12:54] 0pdd commented on #2165
The puzzle `2150-34dfa09b` has disappeared from the source code, that's why I closed this issue.

[2019-10-14 12:54] 0pdd opened #2170 "AsyncSink.java:36-42: - Lets introduce new `Farm`,..."
The puzzle `2165-34dfa09b` from #2165 has to be resolved:

https://github.com/zerocracy/farm/blob/07d0198970272ab9a26da1b4eecd06d310200af7/src/main/java/com/zerocracy/claims/proc/AsyncSink.java#L36-L42

The puzzle was created by Kirill on 14-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2019-10-14 12:54] 0pdd commented on #2150
@victornoel the puzzle [#2170](https://github.com/zerocracy/farm/issues/2170) is still not solved; solved: [#2165](https://github.com/zerocracy/farm/issues/2165).

[2019-10-14 12:54] 0pdd commented on #2165
@0pdd the puzzle [#2170](https://github.com/zerocracy/farm/issues/2170) is still not solved.

[2019-10-14 12:54] 0crat commented on #2170
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-10-14 13:11] 0crat commented on #2170
Job [#2170](https://github.com/zerocracy/farm/issues/2170) is now in scope, role is `DEV`

[2019-10-14 13:27] 0crat commented on #2165
Job [#2165](https://github.com/zerocracy/farm/issues/2165) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-14 13:27] 0crat commented on #2170
Job `gh:zerocracy/farm#2170` already assigned to @g4s8, can't assign to @g4s8

[2019-10-14 13:27] 0crat commented on #2170
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2170](https://github.com/zerocracy/farm/issues/2170), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-10-14 13:58] 0crat commented on #2170
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-14 13:59] 0crat commented on #2165
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-14 13:59] 0crat commented on #2165
The job [#2165](https://github.com/zerocracy/farm/issues/2165) is now out of scope

[2019-10-14 16:13] g4s8 commented on #2165
@rultor release, tag=`0.50.1`

[2019-10-14 16:15] rultor commented on #2165
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20603-541772688)

[2019-10-14 16:25] rultor commented on #2165
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20603-541772688) (spent 9min)

[code]

[2019-10-14 16:25] g4s8 commented on #2165
@rultor release, tag=`0.50.1`

[2019-10-14 16:28] rultor commented on #2165
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20603-541778735)

[2019-10-14 16:43] rultor commented on #2165
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20603-541778735) (took me 12min)

[2019-10-14 16:44] g4s8 commented on #2165
@rultor release, tag=`0.50.2`

[2019-10-14 16:46] rultor commented on #2165
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20603-541788626)

[2019-10-14 17:02] rultor commented on #2165
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20603-541788626) (took me 13min)

[2019-10-14 17:09] g4s8 commented on #2165
@rultor release, tag=`0.50.3`

[2019-10-14 17:11] rultor commented on #2165
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20603-541800692)

[2019-10-14 17:26] rultor commented on #2165
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20603-541800692) (took me 13min)

[2019-10-14 18:42] 0pdd opened #2171 "ProjectQueue.java:189-192: Some threads are getting..."
The puzzle `2165-6203cc2e` from #2165 has to be resolved:

https://github.com/zerocracy/farm/blob/57a1a7ea3dc9782eb62461701951b03bfb068846/src/main/java/com/zerocracy/claims/proc/ProjectQueue.java#L189-L192

The puzzle was created by Kirill on 14-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2019-10-14 18:42] 0crat commented on #2171
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-10-14 18:42] 0pdd commented on #2150
@victornoel 2 puzzles [#2170](https://github.com/zerocracy/farm/issues/2170), [#2171](https://github.com/zerocracy/farm/issues/2171) are still not solved; solved: [#2165](https://github.com/zerocracy/farm/issues/2165).

[2019-10-14 18:42] g4s8 commented on #2165
@rultor release, tag=`0.50.4`

[2019-10-14 18:43] 0pdd commented on #2165
@0pdd 2 puzzles [#2170](https://github.com/zerocracy/farm/issues/2170), [#2171](https://github.com/zerocracy/farm/issues/2171) are still not solved.

[2019-10-14 18:44] rultor commented on #2165
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20603-541850680)

[2019-10-14 18:58] rultor commented on #2165
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20603-541850680) (took me 12min)

[2019-10-14 19:24] g4s8 commented on #2165
@rultor release, tag=`0.50.5`

[2019-10-14 19:25] rultor commented on #2165
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20603-541871429)

[2019-10-14 19:38] rultor commented on #2165
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20603-541871429) (took me 12min)

[2019-10-14 20:00] g4s8 commented on #2165
@rultor release, tag=`0.50.6`

[2019-10-14 20:02] rultor commented on #2165
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20603-541889463)

[2019-10-14 20:16] rultor commented on #2165
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20603-541889463) (took me 12min)

[2019-10-14 20:18] 0crat commented on #2171
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2171](https://github.com/zerocracy/farm/issues/2171), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-10-14 20:18] 0crat commented on #2171
Job `gh:zerocracy/farm#2171` already assigned to @g4s8, can't assign to @g4s8

[2019-10-14 20:35] g4s8 commented on #2171
@0crat hello

[2019-10-14 20:37] 0crat commented on #2171
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-14 20:52] rultor commented on #2165
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20603-541913797)

[2019-10-14 21:02] rultor commented on #2165
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20603-541913797) (spent 10min)

[code]

[2019-10-14 21:12] g4s8 commented on #2165
@rultor release, tag=`0.50.7`

[2019-10-14 21:13] rultor commented on #2165
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20603-541924569)

[2019-10-14 21:15] 0crat commented on #2171
@g4s8 Hey, what's up, how is it going?

[2019-10-14 21:18] g4s8 commented on #2165
@rultor stop

[2019-10-14 21:18] g4s8 commented on #2165
@rultor release, tag=`0.50.7`

[2019-10-14 21:18] rultor commented on #2165
@g4s8 OK, I'll try to stop current task.

[2019-10-14 21:19] rultor commented on #2165
@0pdd @g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20603-541927409) (spent 6min)

[code]

[2019-10-14 21:22] rultor commented on #2165
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20603-541927779)

[2019-10-14 21:34] rultor commented on #2165
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20603-541927779) (spent 12min)

[code]

[2019-10-15 01:04] carlosmiranda commented on #1247
@0crat refuse

[2019-10-15 01:04] carlosmiranda commented on #1428
@0crat refuse

[2019-10-15 01:19] 0crat commented on #1247
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1247](https://github.com/zerocracy/farm/issues/1247), please stop working. Reason for job resignation: Order was cancelled

[2019-10-15 01:23] 0crat commented on #1428
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1428](https://github.com/zerocracy/farm/issues/1428), please stop working. Reason for job resignation: Order was cancelled

[2019-10-15 01:24] 0crat commented on #1428
@carlosmiranda Job refused in 18 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-15 01:25] 0crat commented on #1247
@carlosmiranda Job refused in 15 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-15 03:07] carlosmiranda commented on #1449
@0crat refuse

[2019-10-15 03:24] 0crat commented on #1449
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1449](https://github.com/zerocracy/farm/issues/1449), please stop working. Reason for job resignation: Order was cancelled

[2019-10-15 03:31] 0crat commented on #1449
@carlosmiranda Job refused in 19 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-15 05:32] g4s8 opened #2172 "Mongo cleanup timeoutexception"
Too many exceptions on `Footprint.cleanup()` in Sentry:
[code]

[2019-10-15 05:34] g4s8 opened #2173 "Message duplicates in project queue"
The're some SQS message duplicates in project queue. Let's remove duplicates before pushing new item.

[2019-10-15 05:54] 0crat commented on #2173
Job [#2173](https://github.com/zerocracy/farm/issues/2173) is now in scope, role is `DEV`

[2019-10-15 06:00] carlosmiranda commented on #1460
@0crat refuse

[2019-10-15 06:02] g4s8 opened #2174 "Tests are failing without failed test"
Surefilre plugin may fail (quite often) even if no one test fails:
[code]

[2019-10-15 06:02] 0crat commented on #2173
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2173](https://github.com/zerocracy/farm/issues/2173), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-10-15 06:03] 0crat commented on #2172
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2172](https://github.com/zerocracy/farm/issues/2172), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-10-15 06:04] 0crat commented on #2172
Job `gh:zerocracy/farm#2172` already assigned to @g4s8, can't assign to @g4s8

[2019-10-15 06:06] g4s8 commented on #2173
@rultor release, tag=`0.50.7`

[2019-10-15 06:08] rultor commented on #2173
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20608-542052558)

[2019-10-15 06:12] 0crat commented on #2173
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 06:13] 0crat commented on #2173
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 06:14] 0crat commented on #2174
Job [#2174](https://github.com/zerocracy/farm/issues/2174) is now in scope, role is `DEV`

[2019-10-15 06:20] 0crat commented on #1460
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1460](https://github.com/zerocracy/farm/issues/1460), please stop working. Reason for job resignation: Order was cancelled

[2019-10-15 06:20] 0crat commented on #2172
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 06:22] rultor commented on #2173
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20608-542052558) (took me 12min)

[2019-10-15 06:24] 0crat commented on #2172
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 06:25] 0crat commented on #2173
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 06:26] 0crat commented on #2172
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 06:26] 0crat commented on #1460
@carlosmiranda Job refused in 22 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-15 06:41] 0crat commented on #2174
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 07:41] g4s8 opened #2175 "Print project queue metrics in `/guts`"
Let's print queue metrics in guts:
 - queue speed - amount of processed claims per second for last hour
 - brigade load - 1hour / time spent by brigade
 - brigade speed - time spent by brigade / amount of claims for last hour

[2019-10-15 07:58] 0crat commented on #2175
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2175](https://github.com/zerocracy/farm/issues/2175), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-10-15 08:19] 0crat commented on #2175
Job `gh:zerocracy/farm#2175` already assigned to @g4s8, can't assign to @g4s8

[2019-10-15 08:21] 0crat commented on #2175
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 08:28] 0crat commented on #2175
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 08:29] 0crat commented on #2175
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 09:01] g4s8 commented on #2173
Fixed in https://github.com/zerocracy/farm/commit/41d9fae80914e9b1cdb51214b747c06fc403168d

[2019-10-15 09:01] #2173 closed

[2019-10-15 09:03] g4s8 commented on #2175
@rultor release, tag=`0.50.8`

[2019-10-15 09:04] rultor commented on #2175
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20610-542114254)

[2019-10-15 09:32] rultor commented on #2175
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20610-542114254) (took me 26min)

[2019-10-15 09:44] g4s8 commented on #2175
@rultor release, tag=`0.50.9`

[2019-10-15 09:46] rultor commented on #2175
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20610-542130681)

[2019-10-15 09:51] 0crat commented on #2173
Job [#2173](https://github.com/zerocracy/farm/issues/2173) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-15 09:54] 0crat commented on #2173
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-10-15 10:01] rultor commented on #2175
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20610-542130681) (took me 13min)

[2019-10-15 10:22] 0crat commented on #2173
The job [#2173](https://github.com/zerocracy/farm/issues/2173) is now out of scope

[2019-10-15 10:23] 0crat commented on #2173
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 10:51] g4s8 commented on #2175
Done in https://github.com/zerocracy/farm/commit/a8cb2947c909479d8c632bf13799ef6913a36dc5 https://github.com/zerocracy/farm/commit/f3f8c202d6f1e10f2352b7dd711b5fc4377ca4e6

[2019-10-15 10:51] #2175 closed

[2019-10-15 11:35] 0crat commented on #2175
Job [#2175](https://github.com/zerocracy/farm/issues/2175) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-15 11:46] 0crat commented on #2175
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))