[2018-06-18 08:34] rultor commented on #1105
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14971-397977873)

[2018-06-18 08:35] g4s8 opened #1168 "Can't acquire any file in project"
I can't open project (`CAWJH9K0X`) page in Zerocracy because of 500 error, also `@0crat` respond with exception to any GitHub comment,
Sentry is full of messages like this one:
[code]
It seems that `lock` in `SyncProject` was not unlocked one time, and now any request to `SyncProject.acuire` throws an exception.

[2018-06-18 08:35] 0crat commented on #1168
Job [#1168](https://github.com/zerocracy/farm/issues/1168) is now in scope, role is `DEV`

[2018-06-18 08:36] 0crat commented on #1168
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-18 08:37] g4s8 commented on #1050
@krzyk thanks

[2018-06-18 08:37] #1050 closed

[2018-06-18 08:39] rultor commented on #1105
@0pdd @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14971-397977873) (spent 5min)

[code]

[2018-06-18 08:53] 0crat commented on #1050
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-18 08:53] 0crat commented on #1050
The job [#1050](https://github.com/zerocracy/farm/issues/1050) is now out of scope

[2018-06-18 08:59] ypshenychka commented on #1050
@0crat quality good

[2018-06-18 09:06] g4s8 commented on #1105
@rultor release, tag=`0.22.6`

[2018-06-18 09:07] rultor commented on #1105
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14971-397989714)

[2018-06-18 09:07] 0crat commented on #1050
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-18 09:07] 0crat commented on #1050
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-18 09:13] g4s8 commented on #1160
@ypshenychka I think we should send policy changes to all users (not only QA), who are not on vacation. But I can't figure out what format to use here. Maybe we can send a link to GitHub diff, like this one: https://github.com/zerocracy/zerocracy.github.io/commit/c20dbfec40d07608654bfe5e529d086b246bd36b
what do you think?

[2018-06-18 09:17] rultor commented on #1105
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/14971-397989714) (took me 10min)

[2018-06-18 09:19] ypshenychka commented on #1160
@g4s8 Sending this to everyone is even better. Link to GitHub diff is more than sufficient, to my mind. It gives an opportunity to compare with previous version, which is very convinient.

[2018-06-18 09:44] g4s8 commented on #773
@0crat waiting for @yegot256 answer

[2018-06-18 09:44] 0crat commented on #773
@g4s8 The impediment for [#773](https://github.com/zerocracy/farm/issues/773) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-18 10:20] g4s8 opened #1169 "Add milestone claim never submitted"
We have `RbMilestone` GitHub reaction which should post `Add milestone` claims to project stakeholders, but it's not working: there are no claims with type "Add milestone".

[2018-06-18 10:21] 0crat commented on #1169
Job [#1169](https://github.com/zerocracy/farm/issues/1169) is now in scope, role is `DEV`

[2018-06-18 10:22] 0crat commented on #1169
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-18 10:30] g4s8 opened #1170 "update_precedence stakeholder uses incorrect claim"
`update_precedence` stakeholder should be triggered when GitHub ticket gets assigned to a milestone, but it uses incorrect claim for it: `Add milestone`. We have to implement another reaction in `TkGithub` to handle `milestoned` [event action](https://developer.github.com/v3/activity/events/types/#issuesevent), e.g. like this:
[code]
and submit new claim with type: `Job milestoned` with params `mi

[2018-06-18 10:31] 0crat commented on #1170
Job [#1170](https://github.com/zerocracy/farm/issues/1170) is now in scope, role is `DEV`

[2018-06-18 10:33] 0crat commented on #1170
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-18 11:36] 0crat commented on #1144
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-18 12:37] yegor256 commented on #773
@g4s8 most probably, yet

[2018-06-18 13:23] krzyk commented on #1160
@ypshenychka Wouldn't it be enough if anyone interested clicked on Watch in https://github.com/zerocracy/zerocracy.github.io? There is not much traffic there and you would not only know about changes but also about planned ones (PRs/Issues).

[2018-06-18 13:33] ypshenychka commented on #1160
@krzyk I really don't need information other than regarding Policy. Even if there's not a lot of it. Changes in Policy are happening very rarely, but missing them brings some chaos into reviews :) And if there's a simple way to notify users about this exact changes - that would be really much of help.

[2018-06-18 13:37] krzyk commented on #1041
@g4s8 could I take this one? (it really annoys me that appveyor always fails)

[2018-06-18 13:41] krzyk commented on #1160
@ypshenychka I wasn't clear in my previous comment :)
You can go to the zerocracy.github.io repo and on the top right corner you have a "Watch" button:
![image](https://user-images.githubusercontent.com/105730/41539378-f39e35dc-730d-11e8-842a-95a7a962b34a.png)

It will notify you about all the traffic in given repo.

[2018-06-18 13:49] ypshenychka commented on #1160
@krzyk I got your point. But I was not aware, that this repo is for Policy only, is it? I meant that if there is any other traffic than changes in Policy, then I wouldn't like to watch it as it will become noisy for me by sending me unwanted and unneeded info (even if there's really not much of it - noone knows whether it won't have more traffic in future).
But if it's only for Policy - then simpl

[2018-06-18 14:00] g4s8 commented on #1041
@0crat assign me

[2018-06-18 14:03] 0crat commented on #1041
@g4s8 The job [#1041](https://github.com/zerocracy/farm/issues/1041) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1691402351); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-06-18 14:04] 0crat commented on #1041
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-18 14:17] g4s8 commented on #1157
@amihaiemil as I can see in footprint you've earned 435 reputation points more than 3 months ago only in Zerocracy project. Looks like your reputation was not refreshed for some period for unkown reason. I added new claim in d1e6f1d to track how much reputation was removed from awards in `refresh_awards` stakeholder.

[2018-06-18 14:30] amihaiemil commented on #1157
@g4s8 I see; no PR, you commited on master directly? :D

Should I close this?

[2018-06-18 14:38] 0crat commented on #575
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-18 15:28] g4s8 opened #1172 "Add performance metrics"
Let's add some performance metrics. First of all we need to collect how much time takes to execute each stakeholder script (by it's type) and how often it started. Also we need to track S3 artifacts downloads, xml document modifications and footprint access.

[2018-06-18 15:31] g4s8 commented on #1121
@0crat boost 4x

[2018-06-18 15:32] 0crat commented on #1121
@g4s8 Boost 4x was set for [#1121](https://github.com/zerocracy/farm/issues/1121)

[2018-06-18 15:32] 0crat commented on #1121
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-18 15:34] g4s8 commented on #1121
@carlosmiranda this task is most urgent, please try to solve it first

[2018-06-18 16:32] amihaiemil opened #1173 "Automatic vacation is broken"
According to [point 52](http://www.zerocracy.com/policy.html#52), automatic vacation happens if, in the last 16 days, the user has more than 8 consecutive negative awars.

However, I see I was put on vacation automatically, yet I never had 8 consecutive negative awards (I did a few in the past 2 weeks, but I also got awards in between them)

[2018-06-18 16:32] 0crat commented on #1173
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-18 17:37] 0crat commented on #876
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-18 18:28] 0crat commented on #1172
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-18 19:01] g4s8 commented on #1173
@amihaiemil yes, same for me, it turns my vacation mode on

[2018-06-18 19:02] 0crat commented on #1173
Job [#1173](https://github.com/zerocracy/farm/issues/1173) is now in scope, role is `DEV`

[2018-06-18 19:05] 0crat commented on #1173
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-18 19:41] g4s8 opened #1174 "No balance between projects in election"
If user is contributing to many projects with Zerocracy with people deficit (many jobs in WBS which are not assigned to anyone), most probably he/she will be assigned only to jobs in a project with "early ping", because usually there will be only one slot for job in the agenda. We need to fix election process somehow, so user should be assigned to jobs from different project in a balanced way.

Le

[2018-06-18 19:42] 0crat commented on #1174
Job [#1174](https://github.com/zerocracy/farm/issues/1174) is now in scope, role is `DEV`

[2018-06-18 19:43] 0crat commented on #1174
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-18 19:49] 0crat commented on #1035
@krzyk The impediment for [#1035](https://github.com/zerocracy/farm/issues/1035) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-18 19:56] paulodamaso commented on #1164
@g4s8 I agree that we must punish `ARC` on delay, like #1028, but it will not solve the problem at all. The problem is that `0crat` is taking away an job already done. So, if `ARC`does not care about punishment, or just have something more important to attend to and cannot make the merge at the time `REV` work will be wasted anyway.

I think we should refine `0crat` rules by not allowing `0crat` r

[2018-06-18 20:16] paulodamaso opened #1175 "0crat made a wrong payment"
I've received a wrong payments last week:

For (https://github.com/yegor256/jpeek/issues/156), quality good, received 35 points but 5 extra minutes weren't added to cash payment.

I've received the following bot message:

I should have received $8.58:
- rate is $16
- quality is good (35 mins)
- tuition fee is deducted (0.08 per dollar)
`((16 * 35) / 60 ) * 0.92 = 8.58`

[2018-06-18 20:16] 0crat commented on #1175
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-18 20:25] paulodamaso opened #1176 "Tuition fee still being deducted after graduation"
`0crat` deducted tuition fee even after graduation from `REV` task (https://github.com/Harvest-foundation/telegram/pull/71).

- graduation date: 12/06/2018
- task assignment date: 14/06/2018
- task finished: 18/06/2018

`0crat` sent me the following message:

[2018-06-18 20:38] g4s8 commented on #1176
@paulodamaso according to [policy §43](http://www.zerocracy.com/policy.html#43) you will be graduated when you earn 2048 reputation points.

[2018-06-18 21:01] g4s8 commented on #1175
@paulodamaso you're right, [your claim](https://www.0crat.com/footprint/C7JGJ00DP/1651135973):
[code]

[2018-06-18 21:04] 0crat commented on #1175
The job [#1175](https://github.com/zerocracy/farm/issues/1175) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1692117491); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-18 21:04] 0crat commented on #1175
Job `gh:zerocracy/farm#1175` already assigned to @g4s8, can't assign to @g4s8

[2018-06-18 21:04] 0crat commented on #1175
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-06-18 21:04] 0crat commented on #1175
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-18 21:34] g4s8 commented on #1175
@paulodamaso it happened because:
 1. you was assigned to a job
 2. you was kicked out from sanbox project because of your reputation
 3. your roles and rate was removed in this project
 4. your 'good quality bonus' was calculated as `$0`:
[code]

I think we have two solutions here:
 1. use `8%` instead of `5 minutes` bonus and calculate it from job estimate (not from user's rate)
 2. do not remov

[2018-06-18 22:36] 0crat commented on #1147
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-19 01:28] paulodamaso commented on #1176
@g4s8 Right, sorry, somehow I thought that was 1024.

[2018-06-19 01:28] #1176 closed

[2018-06-19 01:45] 0crat commented on #1176
The job is not in WBS, won't close the order

[2018-06-19 01:45] 0crat commented on #1176
Job `gh:zerocracy/farm#1176` is not assigned, can't get performer

[2018-06-19 05:34] carlosmiranda commented on #1121
@g4s8 noted, will be on it

[2018-06-19 05:53] yegor256 opened #1177 "Ledger is not visible for non PO/ARC"
https://www.0crat.com/a/CAZPZR9FS?a=pm/cost/ledger

The project is published on the board. Its ledger must be visible for all registered users.

[2018-06-19 05:53] 0crat commented on #1177
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-19 06:29] krzyk commented on #1173
@g4s8 I can take this, as I broke it :-)

[2018-06-19 07:50] g4s8 commented on #1173
@0crat assign @krzyk

[2018-06-19 07:53] 0crat commented on #1173
@g4s8 The job [#1173](https://github.com/zerocracy/farm/issues/1173) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1700784696); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-06-19 07:54] 0crat commented on #1173
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-19 08:03] g4s8 commented on #1177
@yegor256 we have another link for public ledger: https://www.0crat.com/contrib-ledger/CAZPZR9FS does it work?

[2018-06-19 08:37] g4s8 commented on #1157
@amihaiemil

it's much faster and no need to fix review comments ;)

If you think that my changes will help to understand such cases in future better

[2018-06-19 08:43] 0crat commented on #993
The job [#993](https://github.com/zerocracy/farm/issues/993) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1700842384); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-19 08:45] 0pdd commented on #1147
The puzzle `908-f22ecc2e` has disappeared from the source code, that's why I closed this issue.

[2018-06-19 08:45] #1147 closed

[2018-06-19 08:45] 0pdd opened #1179 "TkJoin.java:45-52: Each user should see the status of..."
The puzzle `1147-60d5b5b4` from #1147 has to be resolved:

https://github.com/zerocracy/farm/blob/787dd23c8468095d9e7f6c41a843362fafffd4b9/src/main/java/com/zerocracy/tk/TkJoin.java#L45-L52

The puzzle was created by rultor on 19-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the t

[2018-06-19 08:45] 0pdd commented on #908
@0pdd 2 puzzles [#1146](https://github.com/zerocracy/farm/issues/1146), [#1179](https://github.com/zerocracy/farm/issues/1179) are still not solved; solved: [#1147](https://github.com/zerocracy/farm/issues/1147).

[2018-06-19 08:45] 0pdd commented on #1147
@0pdd the puzzle [#1179](https://github.com/zerocracy/farm/issues/1179) is still not solved.

[2018-06-19 08:46] 0crat commented on #1179
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-19 08:50] 0crat commented on #1179
Job [#1179](https://github.com/zerocracy/farm/issues/1179) is now in scope, role is `DEV`

[2018-06-19 09:02] carlosmiranda commented on #1121
@g4s8 currently blocked by https://github.com/zerocracy/datum/issues/353

[2018-06-19 09:09] 0crat commented on #1147
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-19 09:11] 0crat commented on #1147
The job [#1147](https://github.com/zerocracy/farm/issues/1147) is now out of scope

[2018-06-19 09:13] 0crat commented on #980
The job [#980](https://github.com/zerocracy/farm/issues/980) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1700913092); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-19 09:15] ypshenychka commented on #1147
@0crat quality good

[2018-06-19 09:27] 0crat commented on #1147
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-19 10:31] amihaiemil opened #1180 "0crat tags Github username on Twitter again"
Again, I noticed 0crat tagging the Github user in a tweet: https://twitter.com/0crat/status/1009004893124915200

Naturally, this tags the Twitter username, which is not guaranteed to be the same person.

In this ticket, we should start fixing all the places where 0crat is tweeting or writing messages to other platforms than Github and replace the username tag with the Github profile link.

ARC sho

[2018-06-19 10:32] 0crat commented on #1180
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-19 10:58] skapral opened #1182 "0crat assigned closed tasks from paused project to an ARC on vacation"
o_O

I have a 0crat account (skapral), which is currently on vacation mode. I also have paused project OO-atom on-board - I paused it intentionally to clean up a mess there after recent rebranding. During cleaning a mess, I closed some redundant issues. Today, I received from 0crat a serie of issue assignments on me. Closed issues. On me in vacation mode. From paused project.

My profile page curr

[2018-06-19 10:58] 0crat commented on #1182
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-19 10:58] 0crat commented on #1182
@skapral[/z](https://www.0crat.com/u/skapral) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-19 11:42] krzyk opened #1183 "ARC should be able to prioritize tasks"
Right now if ARC wants to speed up delivery of given task he has almost no way of doing that besides doing the job himself.

I propose to introduce two commands: `urgent` and `not urgent`. Which will mark given task as urgent, or remove that flag.

When task is marked as urgent 0crat will:
- add a label `urgent` to it
- when assigning jobs in given project first it will assign urgent jobs and late

[2018-06-19 11:43] 0crat commented on #1183
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-19 11:49] krzyk commented on #1159
@g4s8 I updated the description.
This will solve the problem partially, but maybe it will be enough (at least until github introduces some nice way of linking PRs with issues).

[2018-06-19 12:00] amihaiemil commented on #1157
@g4s8 Well, I assume it's ok, but I can't be sure. I will close this and someone will report bugs if they find any.

I don't think it's ok to work on Master for 2 reasons:

1) The project's quality

2) We are not supposed to, according to the ZC model. If we cannot follow the model, it means it's broken, we need to file issues. If you think that the model is too slow, and you find working on Maste

[2018-06-19 12:00] #1157 closed

[2018-06-19 12:21] 0crat commented on #1157
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-19 12:21] 0crat commented on #1157
The job [#1157](https://github.com/zerocracy/farm/issues/1157) is now out of scope

[2018-06-19 12:30] g4s8 commented on #1180
@amihaiemil I think it an be fixed in `Par.say` which processes `@([a-z-0-9]{3,})` pattern as username.

[2018-06-19 12:33] 0crat commented on #1159
Job [#1159](https://github.com/zerocracy/farm/issues/1159) is now in scope, role is `DEV`

[2018-06-19 12:35] 0crat commented on #1180
Job [#1180](https://github.com/zerocracy/farm/issues/1180) is now in scope, role is `DEV`

[2018-06-19 12:43] 0crat commented on #1159
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-19 12:44] 0crat commented on #1180
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-19 13:05] krzyk opened #1184 "Verbosity and blanks should be published on the team page"
Because those metrics are gather for all users we should be show them on the team page (and they use their own xml files so this shouldn't slow down that page).
Those metrics might be later used for voting on jobs so it is better to have more eyes on them to catch potential errors in implementation.

[2018-06-19 13:05] 0crat commented on #1184
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-19 13:57] #1035 closed

[2018-06-19 13:57] 0pdd commented on #1035
The puzzle `703-5f3e27dc` has disappeared from the source code, that's why I closed this issue.

[2018-06-19 13:58] 0pdd opened #1185 "Options.java:33-36: Notify stakeholders should check..."
The puzzle `1035-248d802b` from #1035 has to be resolved:

https://github.com/zerocracy/farm/blob/de7c160ab1980324320b30300911f80e665496b7/src/main/java/com/zerocracy/pmo/Options.java#L33-L36

The puzzle was created by Krzysztof Krason on 15-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-06-19 13:58] 0pdd opened #1186 "Options.java:37-39: Options should be changeable by the..."
The puzzle `1035-a9c9989f` from #1035 has to be resolved:

https://github.com/zerocracy/farm/blob/de7c160ab1980324320b30300911f80e665496b7/src/main/java/com/zerocracy/pmo/Options.java#L37-L39

The puzzle was created by Krzysztof Krason on 15-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-06-19 13:58] 0crat commented on #1185
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-19 13:59] 0pdd opened #1187 "_after.groovy:23-25: Options are not used. Election..."
The puzzle `1035-3b7a2d5a` from #1035 has to be resolved:

https://github.com/zerocracy/farm/blob/de7c160ab1980324320b30300911f80e665496b7/src/test/resources/com/zerocracy/bundles/elections_dont_exceed_max_jobs_option/_after.groovy#L23-L25

The puzzle was created by Krzysztof Krason on 15-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead.

[2018-06-19 13:59] 0pdd commented on #703
@0pdd 3 puzzles [#1185](https://github.com/zerocracy/farm/issues/1185), [#1186](https://github.com/zerocracy/farm/issues/1186), [#1187](https://github.com/zerocracy/farm/issues/1187) are still not solved; solved: [#1035](https://github.com/zerocracy/farm/issues/1035).

[2018-06-19 13:59] 0pdd commented on #1035
@0pdd 3 puzzles [#1185](https://github.com/zerocracy/farm/issues/1185), [#1186](https://github.com/zerocracy/farm/issues/1186), [#1187](https://github.com/zerocracy/farm/issues/1187) are still not solved.

[2018-06-19 13:59] 0crat commented on #1185
Job [#1185](https://github.com/zerocracy/farm/issues/1185) is now in scope, role is `DEV`

[2018-06-19 14:00] 0crat commented on #1187
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-19 14:00] 0crat commented on #1186
Job [#1186](https://github.com/zerocracy/farm/issues/1186) is now in scope, role is `DEV`

[2018-06-19 14:01] 0crat commented on #1187
Job [#1187](https://github.com/zerocracy/farm/issues/1187) is now in scope, role is `DEV`

[2018-06-19 14:12] 0crat commented on #1002
The job [#1002](https://github.com/zerocracy/farm/issues/1002) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1701418785); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-06-19 14:18] 0crat commented on #1035
The job [#1035](https://github.com/zerocracy/farm/issues/1035) is now out of scope

[2018-06-19 14:21] 0crat commented on #1037
The job [#1037](https://github.com/zerocracy/farm/issues/1037) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1701428081); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-19 14:23] ypshenychka commented on #1035
@0crat quality good

[2018-06-19 14:30] krzyk commented on #1084
@yegor256 please close this issue, changes have been merged to master in #1158

[2018-06-19 14:38] 0crat commented on #1035
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-19 14:39] 0crat commented on #1035
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-19 19:17] 0crat commented on #1022
The job [#1022](https://github.com/zerocracy/farm/issues/1022) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1701928219); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-06-19 19:51] g4s8 opened #1188 "Recharge should not fail payment to performer"
If order closed and `recharge_on_deficit` script fails ("Make payment" claim), the performer won't receive a payment. It's not correct because project has some "locked" funds in `estimates.xml` to be able to pay for each job in scope. E.g. project may have $80 locked funds, but fails to pay $10 for a job.

[2018-06-19 19:53] 0crat commented on #1188
Job [#1188](https://github.com/zerocracy/farm/issues/1188) is now in scope, role is `DEV`

[2018-06-19 19:57] 0crat commented on #1188
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-19 20:02] krzyk commented on #1037
@yegor256 I did 170 builds and haven't seen a single NullPointerException in the logs, maybe it got fixed by accident during the last 29 days?

[2018-06-20 07:30] 0pdd opened #1189 "TkGitlab.java:43-46: Create an implementation of GitLab..."
The puzzle `1144-dd8c18c5` from #1144 has to be resolved:

https://github.com/zerocracy/farm/blob/75c059013614c828113bb4eb5138529cfb509477/src/main/java/com/zerocracy/radars/gitlab/TkGitlab.java#L43-L46

The puzzle was created by rultor on 20-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fi

[2018-06-20 07:30] 0crat commented on #1189
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-20 07:30] 0pdd opened #1190 "TkGitlab.java:47-52: Create a generic interface for..."
The puzzle `1144-5990610c` from #1144 has to be resolved:

https://github.com/zerocracy/farm/blob/75c059013614c828113bb4eb5138529cfb509477/src/main/java/com/zerocracy/radars/gitlab/TkGitlab.java#L47-L52

The puzzle was created by rultor on 20-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fi

[2018-06-20 07:30] 0crat commented on #1189
Job [#1189](https://github.com/zerocracy/farm/issues/1189) is now in scope, role is `DEV`

[2018-06-20 07:31] 0crat commented on #1190
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-20 07:31] 0crat commented on #1190
Job [#1190](https://github.com/zerocracy/farm/issues/1190) is now in scope, role is `DEV`

[2018-06-20 07:31] 0pdd opened #1191 "TkGitlab.java:53-55: Mimic the functionality of TkGithub..."
The puzzle `1144-d78254a3` from #1144 has to be resolved:

https://github.com/zerocracy/farm/blob/75c059013614c828113bb4eb5138529cfb509477/src/main/java/com/zerocracy/radars/gitlab/TkGitlab.java#L53-L55

The puzzle was created by rultor on 20-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fi

[2018-06-20 07:31] 0pdd commented on #1144
@g4s8 3 puzzles [#1189](https://github.com/zerocracy/farm/issues/1189), [#1190](https://github.com/zerocracy/farm/issues/1190), [#1191](https://github.com/zerocracy/farm/issues/1191) are still not solved.

[2018-06-20 07:32] krzyk commented on #1144
@g4s8 please close this issue, changes have been merged to master in #1171

[2018-06-20 07:32] 0crat commented on #1191
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-20 07:32] 0crat commented on #1191
Job [#1191](https://github.com/zerocracy/farm/issues/1191) is now in scope, role is `DEV`

[2018-06-20 07:36] g4s8 commented on #1144
@krzyk thanks

[2018-06-20 07:36] #1144 closed

[2018-06-20 07:43] krzyk commented on #1084
@yegor256 BTW. After release the board works in firefox - https://www.0crat.com/board

[2018-06-20 07:49] amihaiemil opened #1192 "RejectedExecutionException on Github boost"
Tried to boost a task. I commented yesterday, but 0crat did not answer. I commented again today, and 0crat tried to answer the initial comment from yesterday. However, I got multiple exception messages:

[code]

See [here](https://github.com/jcabi/jcabi-github/issues/1421#issuecomment-398410675).

I think the thread pool is busy, 0crat cannot get a thread to do the job, so while waiting for a free

[2018-06-20 07:49] 0crat commented on #1192
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-20 07:52] 0crat commented on #1144
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-20 07:53] 0crat commented on #1144
The job [#1144](https://github.com/zerocracy/farm/issues/1144) is now out of scope

[2018-06-20 07:55] 0crat commented on #1048
The job [#1048](https://github.com/zerocracy/farm/issues/1048) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1710754379); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-20 07:55] ypshenychka commented on #1144
@0crat quality good

[2018-06-20 07:57] 0crat commented on #1144
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-20 07:57] 0crat commented on #1144
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-20 08:00] g4s8 commented on #1192
@amihaiemil full stacktrace:
[code]

[2018-06-20 08:01] 0crat commented on #1192
Job [#1192](https://github.com/zerocracy/farm/issues/1192) is now in scope, role is `DEV`

[2018-06-20 08:02] 0crat commented on #1192
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-20 08:38] amihaiemil opened #1193 "Debts table instead of text"
Currently the debts are simply listed in text one after another. I gathered a debt of $64 and I already have a prose text of ~30 lines -- very hard to read/understand and a complete mess on mobile view.

We discussed this already [here](https://github.com/zerocracy/farm/issues/660) and the "solution" was to lower the payout rate to $20, so there could not be so much text in the debts area. However

[2018-06-20 08:38] 0crat commented on #1193
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-20 09:02] g4s8 commented on #1193
@amihaiemil I agree that it's hard to read profile page, esepcially when you have a lot of small payments like "tution fee for ..." which are usually less than $1. Now I need to scroll debts section about for 2.5 screen heights (25 payments - 45 lines of text) to find project links. But I think table will not solve this issue, because it will be as big as text now, if it inlude the same data.
I th

[2018-06-20 09:05] amihaiemil commented on #1193
@g4s8 Yes, I think it makes sense. As short and concise as possible + hover details.

[2018-06-20 09:19] amihaiemil commented on #725
@0crat refuse

[2018-06-20 09:19] amihaiemil commented on #360
@0crat refuse

[2018-06-20 09:20] 0crat commented on #725
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#725](https://github.com/zerocracy/farm/issues/725), please stop working. Reason for job resignation: Order was cancelled

[2018-06-20 09:21] 0crat commented on #360
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#360](https://github.com/zerocracy/farm/issues/360), please stop working. Reason for job resignation: Order was cancelled

[2018-06-20 09:21] 0crat commented on #725
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-20 09:21] 0crat commented on #360
@amihaiemil Job `gh:zerocracy/farm#360` is not assigned, can't get performer

[2018-06-20 09:21] 0crat commented on #360
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-20 09:38] carlosmiranda commented on #1121
@0crat wait for zerocracy/datum#353

[2018-06-20 09:38] 0crat commented on #1121
@carlosmiranda The impediment for [#1121](https://github.com/zerocracy/farm/issues/1121) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-20 10:40] amihaiemil opened #1194 "Failed to aqcuire blanks.xml for user"
See [here](https://github.com/jcabi/jcabi-github/issues/1422#issuecomment-398704432).

There is the Blanks measurement, which counts how many times an opened ticket was rejected. I think the problem is the fact that the issue's author is not a user in the system, so he does not have a personalized file under ``/blanks``.

**Edit:**

I got a mail from Sentry, with a similar exception for ``/verbosi

[2018-06-20 10:40] 0crat commented on #1194
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-20 10:59] krzyk commented on #1173
@amihaiemil fix has been merged to master in #1181, please close this issue

[2018-06-20 11:00] amihaiemil commented on #1173
@krzyk thanks :)

[2018-06-20 11:00] #1173 closed

[2018-06-20 11:18] olenagerasimova commented on #1194
I've got similar exception when said `/hello` to 0crat in telegram:
[code]

[2018-06-20 11:18] g4s8 commented on #1173
@rultor release, tag=`0.22.8`

[2018-06-20 11:19] rultor commented on #1173
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15013-398714459)

[2018-06-20 11:20] g4s8 commented on #1194
@amihaiemil @olenagerasimova  looks like generic error in `SyncProject`, 0crat failed to acquire any file:
[code]

[2018-06-20 11:30] g4s8 commented on #1194
@amihaiemil looks like a duplicate of #1168 but now it can't acquire `PMO` files.

[2018-06-20 11:30] rultor commented on #1173
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15013-398716217)

[2018-06-20 11:42] rultor commented on #1173
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15013-398716217) (took me 11min)

[2018-06-20 11:47] amihaiemil commented on #1194
@g4s8 Right, closing then :D

[2018-06-20 11:47] #1194 closed

[2018-06-20 11:48] krzyk commented on #1184
@g4s8 what do you think?

[2018-06-20 11:56] g4s8 commented on #1194
@0crat hello

[2018-06-20 11:57] 0crat commented on #1194
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.8](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1194, Comment: 398723449

[2018-06-20 11:57] 0crat commented on #1194
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.8](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1194, Action: `created`

[2018-06-20 12:01] 0crat commented on #1173
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.7](https://github.com/zerocracy/farm): CID: [1711104726](https://www.0crat.com/C3NDPUA8L/1711104726), Type: "Close job", Author: "amihaiemil"

[2018-06-20 12:04] 0crat commented on #1194
Job `gh:zerocracy/farm#1194` is not assigned, can't get performer

[2018-06-20 12:04] 0crat commented on #1194
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.8](https://github.com/zerocracy/farm): CID: [1711147044](https://www.0crat.com/C3NDPUA8L/1711147044), Type: "Close job", Author: "amihaiemil"

[2018-06-20 12:11] krzyk commented on #1173
@0crat ping

[2018-06-20 12:12] 0crat commented on #1173
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.8](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1173, Comment: 398726859

[2018-06-20 12:12] 0crat commented on #1173
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.8](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1173, Action: `created`

[2018-06-20 12:28] wholegroup commented on #1023
@yegor256 It looks like I have the same issue:

I get an exception when I say hello

com.zerocracy.farm.sync.SyncProject[77] java.lang.IllegalStateException: Failed to acquire "people.xml" in "PMO" in 1min: d2e6b100d1f8/35min/0/3/true/false by AsyncFlush-3

[2018-06-20 12:29] g4s8 commented on #1194
@rultor release, tag=`0.22.9`

[2018-06-20 12:30] rultor commented on #1194
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15015-398731559)

[2018-06-20 12:33] wholegroup commented on #1023
@yegor256 and the same exception in slack

com.zerocracy.farm.sync.SyncProject[77] java.lang.IllegalStateException: Failed to acquire "people.xml" in "PMO" in 1min: d2e6b100d1f8/43min/0/1/true/false by AsyncFlush-3

[2018-06-20 12:33] krzyk commented on #1048
@g4s8 Is there a specific list of events 0crat should subscribe to, or just all?

[2018-06-20 12:41] rultor commented on #1194
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15015-398731559) (took me 10min)

[2018-06-20 12:42] g4s8 commented on #1048
@krzyk now we are using "Send me everything" checkbox to configure webhook.
![scrot-2018-06-20-15 41 47](https://user-images.githubusercontent.com/1524988/41658890-809a9f46-74a0-11e8-953c-2b202f42cf14.png)

[2018-06-20 12:53] g4s8 commented on #1168
Same here: #1194 `PMO` was inaccessible about 1 hour

[2018-06-20 12:53] g4s8 commented on #1168
@0crat assign @krzyk

[2018-06-20 12:54] g4s8 commented on #1168
@0crat boost 6x

[2018-06-20 12:55] 0crat commented on #1168
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.9](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1168, Comment: 398738020

[2018-06-20 12:55] 0crat commented on #1168
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.9](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1168, Action: `created`

[2018-06-20 13:01] g4s8 commented on #1168
@krzyk please, try to fix this bug first, it's very critical. Looks like `SyncFarm` may not unlock item on high-load and all next attempts to acquire same item can fail with error: `java.lang.IllegalStateException: Failed to acquire`

[2018-06-20 13:04] g4s8 commented on #1194
@rultor release, tag=`0.22.10`

[2018-06-20 13:06] rultor commented on #1194
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15015-398741113)

[2018-06-20 13:17] g4s8 commented on #1168
@0crat assign @krzyk

[2018-06-20 13:18] g4s8 commented on #1168
@0crat boost 6x

[2018-06-20 13:18] rultor commented on #1194
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15015-398741113) (took me 12min)

[2018-06-20 13:33] 0crat commented on #1168
@g4s8 The job [#1168](https://github.com/zerocracy/farm/issues/1168) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1711320028); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-06-20 13:43] 0pdd opened #1196 "TkBadge.java:34-36: TkBadge is temporary disabled because..."
The puzzle `1168-91afb756` from #1168 has to be resolved:

https://github.com/zerocracy/farm/blob/bb38cc5e6e995b03a4acf130e44d496c29836f0f/src/main/java/com/zerocracy/tk/project/TkBadge.java#L34-L36

The puzzle was created by g4s8 on 20-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed an

[2018-06-20 13:43] 0pdd commented on #1168
@g4s8 the puzzle [#1196](https://github.com/zerocracy/farm/issues/1196) is still not solved.

[2018-06-20 13:43] 0crat commented on #1196
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-20 13:43] g4s8 commented on #1168
@rultor release, tag=`0.22.11`

[2018-06-20 13:43] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-398752913)

[2018-06-20 13:44] 0crat commented on #1168
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.10](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1168, Comment: 398745032

[2018-06-20 13:44] 0crat commented on #1168
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.10](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1168, Action: `created`

[2018-06-20 13:47] 0crat commented on #1196
Job [#1196](https://github.com/zerocracy/farm/issues/1196) is now in scope, role is `DEV`

[2018-06-20 13:54] rultor commented on #1168
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15016-398752913) (took me 10min)

[2018-06-20 14:20] g4s8 commented on #1194
@rultor release, tag=`0.22.11`

[2018-06-20 14:21] rultor commented on #1194
@amihaiemil @g4s8 Invalid release tag `0.22.11` specified. There is already a release `0.22.11` newer than the given release in this repository.

[2018-06-20 14:21] rultor commented on #1194
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-06-20 14:37] g4s8 commented on #1194
@rultor release, tag=`0.22.12`

[2018-06-20 14:38] rultor commented on #1194
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15015-398773007)

[2018-06-20 14:48] rultor commented on #1194
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15015-398773007) (took me 10min)

[2018-06-20 15:15] g4s8 commented on #1168
@rultor release, tag=`0.22.13`

[2018-06-20 15:16] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-398788407)

[2018-06-20 15:28] rultor commented on #1168
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15016-398788407) (took me 11min)

[2018-06-20 16:25] g4s8 commented on #1168
@rultor release, tag=`0.22.14`

[2018-06-20 16:26] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-398811874)

[2018-06-20 16:37] rultor commented on #1168
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15016-398811874) (took me 10min)

[2018-06-20 16:52] g4s8 commented on #1168
@krzyk this exception is going front "Can't acquire ..." errors:
[code]

[2018-06-20 17:07] g4s8 commented on #1168
@rultor release, tag=`0.22.15`

[2018-06-20 17:09] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-398825564)

[2018-06-20 17:17] rultor commented on #1168
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15016-398825564) (spent 8min)

[code]

[2018-06-20 17:19] g4s8 commented on #1168
@rultor release, tag=`0.22.15`

[2018-06-20 17:21] robsonataide opened #1197 "Identify page returns error"
When I access identify page (https://www.0crat.com/identify) returns this msg:

Application error
An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details.

[2018-06-20 17:21] 0crat commented on #1197
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-20 17:22] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-398829243)

[2018-06-20 17:22] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.14](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1197, Action: `opened`

[2018-06-20 17:32] rultor commented on #1168
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15016-398829243) (took me 10min)

[2018-06-20 17:51] g4s8 commented on #1168
@rultor release, tag=`0.22.16`

[2018-06-20 17:52] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-398839274)

[2018-06-20 18:03] rultor commented on #1168
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15016-398839274) (took me 10min)

[2018-06-20 18:04] g4s8 commented on #1168
@0crat status

[2018-06-20 18:06] 0crat commented on #1168
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.16](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1168, Comment: 398843286

[2018-06-20 18:06] 0crat commented on #1168
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.16](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1168, Action: `created`

[2018-06-20 18:14] robsonataide commented on #1197
by my cellphone works

[2018-06-20 19:08] g4s8 commented on #1168
@rultor release, tag=`0.22.17`

[2018-06-20 19:11] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-398862929)

[2018-06-20 19:33] rultor commented on #1168
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15016-398862929) (took me 22min)

[2018-06-20 19:35] paulodamaso commented on #993
@yegor256 Do you have any information on `pings.hour` job?

[2018-06-20 19:53] g4s8 commented on #1168
@rultor release, tag=`0.22.18`

[2018-06-20 19:53] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-398875569)

[2018-06-20 20:04] rultor commented on #1168
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15016-398875569) (took me 10min)

[2018-06-20 20:54] 0pdd commented on #1196
The puzzle `1168-91afb756` has disappeared from the source code, that's why I closed this issue.

[2018-06-20 20:54] #1196 closed

[2018-06-20 20:55] 0pdd commented on #1168
@g4s8 the only puzzle [#1196](https://github.com/zerocracy/farm/issues/1196) is solved here.

[2018-06-20 20:56] g4s8 commented on #1168
@rultor release, tag=`0.22.19`

[2018-06-20 20:56] 0crat commented on #1196
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.18](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1196, Action: `closed`

[2018-06-20 20:58] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-398893912)

[2018-06-20 21:10] rultor commented on #1168
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15016-398893912) (took me 12min)

[2018-06-20 21:57] g4s8 commented on #1168
@rultor release, tag=0.22.20

[2018-06-20 21:59] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-398910901)

[2018-06-20 22:02] rultor commented on #1168
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15016-398910901) (spent 3min)

[code]

[2018-06-20 22:06] g4s8 commented on #1168
@rultor release, tag=`0.22.20`

[2018-06-20 22:07] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-398912996)

[2018-06-20 22:17] rultor commented on #1168
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15016-398912996) (took me 10min)

[2018-06-20 22:37] g4s8 commented on #1168
@carlosmiranda there is some bug in `SyncFarm` I tried to fix it but without success. Can you have a look here? I can boost this bug 6x and assign to you when 0crat starts to work.

[2018-06-20 22:54] g4s8 commented on #1168
@rultor release, tag=`0.22.21`

[2018-06-20 22:55] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-398922781)

[2018-06-20 23:01] rultor commented on #1168
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15016-398922781) (spent 6min)

[code]

[2018-06-20 23:04] g4s8 commented on #1168
@rultor release, tag=`0.22.21`

[2018-06-20 23:06] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-398924730)

[2018-06-20 23:12] rultor commented on #1168
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15016-398924730) (spent 6min)

[code]

[2018-06-20 23:18] g4s8 commented on #1168
@rultor release, tag=`0.22.21`

[2018-06-20 23:20] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-398927286)

[2018-06-20 23:32] rultor commented on #1168
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15016-398927286) (spent 11min)

[code]

[2018-06-20 23:36] g4s8 commented on #1168
@rultor release, tag=`0.22.21`

[2018-06-20 23:37] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-398930217)

[2018-06-20 23:51] rultor commented on #1168
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15016-398930217) (took me 14min)

[2018-06-20 23:52] g4s8 commented on #1168
Anyway if somebody started to work on this issue please add a comment first

[2018-06-21 05:45] krzyk commented on #1168
@g4s8 I started to look at it, sorry I wasn't available yesterday afternoon.
Do you have some clues besides the two stack traces above (`java.lang.IllegalMonitorStateException: null` from terminator and the `java.lang.IllegalStateException: Failed to acquire "roles.xml" ...`)?

[2018-06-21 06:57] g4s8 commented on #1168
@krzyk thanks! Usually there are 3 exception types in logs, one by one: first `OutOfMemoryError` with random stacktrace, then `IllegalMonitorStateException` in terminator and then a lot of `IllegalStateException Failed to acquire some file`. The biggest part of `IllegalStateException` came from `/badge` and `/contrib-badge` urls, this is why I've diabled them.

What about fixing in production, I c

[2018-06-21 07:15] g4s8 commented on #1168
@rultor release, tag=0.22.22

[2018-06-21 07:18] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-399000833)

[2018-06-21 07:18] rultor commented on #1168
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15016-399000833) (spent 23s)

[code]

[2018-06-21 07:19] g4s8 commented on #1168
@rultor release, tag=`0.22.22`

[2018-06-21 07:20] krzyk commented on #1168
@g4s8 OK, so OOM + the recent changes might suggest that it has something to do with my firefox fixes + few new people joining.

I would first try to disable firefox specific handling and will see.

[2018-06-21 07:27] rultor commented on #1168
@g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15016-399002659) (spent 3min)

[code]

[2018-06-21 07:32] g4s8 commented on #1168
@rultor release, tag=`0.22.22`

[2018-06-21 07:32] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-399002772)

[2018-06-21 07:43] rultor commented on #1168
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15016-399002772) (took me 11min)

[2018-06-21 07:49] rultor commented on #1168
@g4s8 Invalid release tag `0.22.22` specified. There is already a release `0.22.22` newer than the given release in this repository.

[2018-06-21 07:49] rultor commented on #1168
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-06-21 07:52] g4s8 commented on #1168
@krzyk yes, usually it's working for few minutes

[2018-06-21 08:03] g4s8 commented on #1168
@rultor release, tag=`0.22.23`

[2018-06-21 08:05] g4s8 commented on #1168
@krzyk I added some logs in `0.22.22` and now I can see that this exception was first in application:
[code]

[2018-06-21 08:05] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-399012833)

[2018-06-21 08:16] rultor commented on #1168
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15016-399012833) (took me 10min)

[2018-06-21 08:39] krzyk commented on #1168
@g4s8 Hmm, so the app starts, receives almost no traffic (rehttp lists just few requests) and it dies after 5 mins.

So what triggers it? Either github, slack, web traffic (all of them are basically web traffic) or some scheduler (that works on our current data)?

Do you know the amount of http traffic to it?

BTW. Strange that there are 100 Grizzly threads, 68 out of those in WAITING. I wonder ho

[2018-06-21 08:46] krzyk commented on #1168
@g4s8Do you have some GC logs from the whole start->live->dead process?

[2018-06-21 08:49] g4s8 commented on #1168
@krzyk no, I can't see http traffic and GC logs. But looks like about 35 projects are trying to send something in first 5 minutes:
[code]

[2018-06-21 08:55] g4s8 commented on #1168
@rultor release, tag=`0.22.24`

[2018-06-21 08:57] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-399027863)

[2018-06-21 09:10] rultor commented on #1168
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15016-399027863) (took me 12min)

[2018-06-21 09:11] g4s8 commented on #1168
@0crat hello

[2018-06-21 09:11] 0crat commented on #1168
@g4s8 Hey, what's up, how is it going?

[2018-06-21 09:12] g4s8 commented on #1168
@0crat status

[2018-06-21 09:12] 0crat commented on #1168
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1168](https://github.com/zerocracy/farm/issues/1168) is [in scope](http://www.zerocracy.com/policy.html#14) for 3days
  * The role is `DEV`
  * The job is assigned to @krzyk[/z](https://www.0crat.com/u/krzyk) for [20hr](http://www.zerocrac

[2018-06-21 09:13] g4s8 commented on #1168
@krzyk I've just disabled all pings, looks like it's much faster now

[2018-06-21 10:21] g4s8 commented on #1168
@krzyk application is running without errors more than one hour. I think we can submit todo and close this one. It seems that `SyncFarm` can't handle too much pings at the same time (75 pings every minute). Can you take new pings task and fix it ASAP if I boost it?

[2018-06-21 10:31] krzyk commented on #1168
@g4s8 I'll revert the changes for disabling firefox - https://github.com/zerocracy/farm/pull/1199

[2018-06-21 10:34] g4s8 opened #1200 "Pings fixing"
Pings are disabled now because application can't handle too much pings at the same time (about 75 pings every minute). We need to invent some solution to reduce the load on SyncFarm and keep Pings running.

[2018-06-21 10:35] g4s8 commented on #1200
@0crat assign @krzyk

[2018-06-21 10:35] g4s8 commented on #1200
@0crat boost 4x

[2018-06-21 10:37] 0crat commented on #1200
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.24](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1200, Comment: 399055974

[2018-06-21 10:37] 0crat commented on #1200
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.24](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1200, Action: `created`

[2018-06-21 10:39] 0crat commented on #1200
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.24](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1200, Comment: 399056044

[2018-06-21 10:39] 0crat commented on #1200
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.24](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1200, Action: `created`

[2018-06-21 10:56] g4s8 commented on #1168
@krzyk pings disabling just deferred the problem, without it application can work about 1.5 hour, when with bings 5-10 minutes

[2018-06-21 11:04] g4s8 commented on #1168
@rultor release, tag=`0.22.25`

[2018-06-21 11:07] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-399064016)

[2018-06-21 11:17] rultor commented on #1168
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15016-399064016) (took me 10min)

[2018-06-21 11:32] g4s8 commented on #1168
@0crat hello

[2018-06-21 11:32] 0crat commented on #1168
@g4s8 Hey, what's up, how is it going?

[2018-06-21 11:37] g4s8 commented on #1200
@0crat assign @krzyk

[2018-06-21 11:38] g4s8 commented on #1200
@0crat boost 4x

[2018-06-21 11:44] 0crat commented on #1200
@g4s8 The job [#1200](https://github.com/zerocracy/farm/issues/1200) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1721138007); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-06-21 11:46] 0crat commented on #1200
@g4s8 Boost 4x was set for [#1200](https://github.com/zerocracy/farm/issues/1200)

[2018-06-21 11:46] 0crat commented on #1200
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-21 11:46] 0crat commented on #1200
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-21 11:46] 0crat commented on #1200
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-21 11:51] g4s8 commented on #725
@0crat assign me

[2018-06-21 11:53] 0crat commented on #725
@g4s8 The job [#725](https://github.com/zerocracy/farm/issues/725) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1721151059); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-21 11:54] 0crat commented on #725
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-21 11:55] 0pdd opened #1201 "PingTest.java:38-40: Revert all unnecessary changes which..."
The puzzle `1168-428c4b61` from #1168 has to be resolved:

https://github.com/zerocracy/farm/blob/3d9a973748a4dee51244d8732d28bf8139de4327/src/test/java/com/zerocracy/tk/PingTest.java#L38-L40

The puzzle was created by g4s8 on 21-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the t

[2018-06-21 11:55] 0pdd commented on #1168
@g4s8 the puzzle [#1201](https://github.com/zerocracy/farm/issues/1201) is still not solved; solved: [#1196](https://github.com/zerocracy/farm/issues/1196).

[2018-06-21 11:56] 0crat commented on #1201
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-21 11:56] 0crat commented on #1201
Job [#1201](https://github.com/zerocracy/farm/issues/1201) is now in scope, role is `DEV`

[2018-06-21 11:58] g4s8 commented on #725
Got heap dump: [heapdump.zip](https://github.com/zerocracy/farm/files/2123479/heapdump.zip)

[2018-06-21 12:27] victornoel commented on #980
@paulodamaso I did look a bit a it, you could also implement a very simple Java API to interact with coinbase v2 (not sure it is a good idea though…)

[2018-06-21 12:29] 0crat commented on #980
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.25](https://github.com/zerocracy/farm): Issue: zerocracy/farm#980, Action: `created`

[2018-06-21 12:29] 0pdd commented on #725
The puzzle `425-40a20d3d` has disappeared from the source code, that's why I closed this issue.

[2018-06-21 12:29] #725 closed

[2018-06-21 12:29] 0pdd opened #1202 "AsyncFlush.java:43-46: Fix memory leak in async-flush...."
The puzzle `725-3ad115cb` from #725 has to be resolved:

https://github.com/zerocracy/farm/blob/079c843765bb768659db9391ec86173204cb033f/src/main/java/com/zerocracy/farm/reactive/AsyncFlush.java#L43-L46

The puzzle was created by g4s8 on 21-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixe

[2018-06-21 12:29] 0pdd opened #1203 "Terminator.java:46-48: Fix memory leak in Terminator. It..."
The puzzle `725-e530d946` from #725 has to be resolved:

https://github.com/zerocracy/farm/blob/079c843765bb768659db9391ec86173204cb033f/src/main/java/com/zerocracy/farm/sync/Terminator.java#L46-L48

The puzzle was created by g4s8 on 21-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed an

[2018-06-21 12:29] 0pdd commented on #360
@yegor256 2 puzzles [#1202](https://github.com/zerocracy/farm/issues/1202), [#1203](https://github.com/zerocracy/farm/issues/1203) are still not solved; solved: [#371](https://github.com/zerocracy/farm/issues/371), [#425](https://github.com/zerocracy/farm/issues/425), [#725](https://github.com/zerocracy/farm/issues/725).

[2018-06-21 12:29] 0pdd commented on #425
@0pdd 2 puzzles [#1202](https://github.com/zerocracy/farm/issues/1202), [#1203](https://github.com/zerocracy/farm/issues/1203) are still not solved; solved: [#725](https://github.com/zerocracy/farm/issues/725).

[2018-06-21 12:29] 0pdd commented on #725
@0pdd 2 puzzles [#1202](https://github.com/zerocracy/farm/issues/1202), [#1203](https://github.com/zerocracy/farm/issues/1203) are still not solved.

[2018-06-21 12:30] g4s8 commented on #1203
@0crat assign me

[2018-06-21 12:31] paulodamaso commented on #980
@victornoel Yeah, my first thought was about implementing a API just to make these payments or decorate / extend current API, but as you said, I'm not too sure about being a good idea, any of them. @yegor256 WDYT?

[2018-06-21 12:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.25](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1203, Comment: 399086919

[2018-06-21 12:33] 0crat commented on #1203
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-21 12:34] 0crat commented on #1202
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-21 12:35] 0crat commented on #1203
Job [#1203](https://github.com/zerocracy/farm/issues/1203) is now in scope, role is `DEV`

[2018-06-21 12:37] 0crat commented on #1202
Job [#1202](https://github.com/zerocracy/farm/issues/1202) is now in scope, role is `DEV`

[2018-06-21 12:39] g4s8 commented on #1202
@carlosmiranda can you try to fix this one?  This bug is one of blockers now

[2018-06-21 12:39] g4s8 commented on #360
@0crat assign me

[2018-06-21 12:41] 0crat commented on #360
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.25](https://github.com/zerocracy/farm): Issue: zerocracy/farm#360, Comment: 399089419

[2018-06-21 12:41] 0crat commented on #360
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.25](https://github.com/zerocracy/farm): Issue: zerocracy/farm#360, Action: `created`

[2018-06-21 12:52] g4s8 commented on #1203
@0crat assign me

[2018-06-21 12:54] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.25](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1203, Comment: 399092801

[2018-06-21 12:54] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.25](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1203, Action: `created`

[2018-06-21 12:59] #1203 closed

[2018-06-21 12:59] 0pdd commented on #1203
The puzzle `725-e530d946` has disappeared from the source code, that's why I closed this issue.

[2018-06-21 12:59] 0pdd commented on #360
@yegor256 the puzzle [#1202](https://github.com/zerocracy/farm/issues/1202) is still not solved; solved: [#1203](https://github.com/zerocracy/farm/issues/1203), [#371](https://github.com/zerocracy/farm/issues/371), [#425](https://github.com/zerocracy/farm/issues/425), [#725](https://github.com/zerocracy/farm/issues/725).

[2018-06-21 12:59] 0pdd commented on #425
@0pdd the puzzle [#1202](https://github.com/zerocracy/farm/issues/1202) is still not solved; solved: [#1203](https://github.com/zerocracy/farm/issues/1203), [#725](https://github.com/zerocracy/farm/issues/725).

[2018-06-21 12:59] 0pdd commented on #725
@0pdd the puzzle [#1202](https://github.com/zerocracy/farm/issues/1202) is still not solved; solved: [#1203](https://github.com/zerocracy/farm/issues/1203).

[2018-06-21 12:59] g4s8 commented on #1203
@rultor release, tag=`0.22.26`

[2018-06-21 13:01] rultor commented on #1203
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15037-399094770)

[2018-06-21 13:03] 0crat commented on #725
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.25](https://github.com/zerocracy/farm): CID: [1721229203](https://www.0crat.com/C3NDPUA8L/1721229203), Type: "Close job", Author: "0pdd"

[2018-06-21 13:05] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.25](https://github.com/zerocracy/farm): CID: [1721257222](https://www.0crat.com/C3NDPUA8L/1721257222), Type: "Start order", Author: "g4s8"

[2018-06-21 13:06] g4s8 commented on #1202
@0crat assigm me

[2018-06-21 13:11] rultor commented on #1203
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15037-399094770) (took me 10min)

[2018-06-21 13:11] 0crat commented on #1202
@g4s8 Can't understand "assigm", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of the j

[2018-06-21 13:12] g4s8 commented on #1203
@0crat assign me

[2018-06-21 13:12] g4s8 commented on #1202
@0crat assign me

[2018-06-21 13:13] 0crat commented on #1201
The job [#1201](https://github.com/zerocracy/farm/issues/1201) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1721312004); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-21 13:13] g4s8 commented on #1200
@0crat status

[2018-06-21 13:13] 0crat commented on #1201
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-21 13:13] g4s8 commented on #360
@0crat assign me

[2018-06-21 13:13] 0crat commented on #1200
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1200](https://github.com/zerocracy/farm/issues/1200) is [in scope](http://www.zerocracy.com/policy.html#14) for 2hr
  * The role is `DEV`
  * The job is assigned to @krzyk[/z](https://www.0crat.com/u/krzyk) for [2hr](http://www.zerocracy.c

[2018-06-21 13:13] 0crat commented on #1202
@g4s8 The job [#1202](https://github.com/zerocracy/farm/issues/1202) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1721313026); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-06-21 13:14] 0crat commented on #1202
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-21 13:14] 0crat commented on #360
@g4s8 The job [#360](https://github.com/zerocracy/farm/issues/360) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1721313034); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-21 13:14] 0crat commented on #360
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-21 13:14] g4s8 commented on #1168
@0crat status

[2018-06-21 13:15] 0crat commented on #1203
Job `gh:zerocracy/farm#1203` is not assigned, can't get performer

[2018-06-21 13:15] 0crat commented on #1203
The job [#1203](https://github.com/zerocracy/farm/issues/1203) is now out of scope

[2018-06-21 13:15] 0crat commented on #1168
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1168](https://github.com/zerocracy/farm/issues/1168) is [in scope](http://www.zerocracy.com/policy.html#14) for 3days
  * The role is `DEV`
  * The job is assigned to @krzyk[/z](https://www.0crat.com/u/krzyk) for [24hr](http://www.zerocrac

[2018-06-21 13:15] g4s8 commented on #1168
It will be fixed in #1200 #1203 #1202 #360

[2018-06-21 13:15] #1168 closed

[2018-06-21 13:21] ypshenychka opened #1204 "0crat failure after QA review"
Happened [here](https://github.com/zerocracy/datum/issues/347#issuecomment-399086607) after QA verdict.

com.zerocracy.farm.sync.SyncProject[77] java.lang.IllegalStateException: Failed to acquire "people.xml" in "PMO" in 2min: 6cc77ffce735/10min/0/2/true/false by zerocrat_bot Telegram Executor
0.22.25: Issue: zerocracy/datum#347, Comment: 399083959

[2018-06-21 13:21] 0crat commented on #1204
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-21 13:27] krzyk commented on #1204
@ypshenychka 0crat is currently in a fragile state, so until we have a certain fix such errors will happen (if you see: `java.lang.IllegalStateException: Failed to acquire` then this is what we try to fix right now).

[2018-06-21 13:28] #1202 closed

[2018-06-21 13:28] 0pdd commented on #1202
The puzzle `725-3ad115cb` has disappeared from the source code, that's why I closed this issue.

[2018-06-21 13:28] 0pdd commented on #360
@yegor256 all 5 puzzles are solved here: [#1202](https://github.com/zerocracy/farm/issues/1202), [#1203](https://github.com/zerocracy/farm/issues/1203), [#371](https://github.com/zerocracy/farm/issues/371), [#425](https://github.com/zerocracy/farm/issues/425), [#725](https://github.com/zerocracy/farm/issues/725).

[2018-06-21 13:28] 0pdd commented on #425
@0pdd all 3 puzzles are solved here: [#1202](https://github.com/zerocracy/farm/issues/1202), [#1203](https://github.com/zerocracy/farm/issues/1203), [#725](https://github.com/zerocracy/farm/issues/725).

[2018-06-21 13:28] 0pdd commented on #725
@0pdd all 2 puzzles are solved here: [#1202](https://github.com/zerocracy/farm/issues/1202), [#1203](https://github.com/zerocracy/farm/issues/1203).

[2018-06-21 13:29] g4s8 commented on #1202
@rultor release, tag=`0.22.26`

[2018-06-21 13:30] krzyk commented on #1200
@g4s8 FYI I'm adding read locks besides the current write locks, hopefully this will fix the problem (or reduce it considerably).

[2018-06-21 13:30] rultor commented on #1202
@0pdd @g4s8 Invalid release tag `0.22.26` specified. There is already a release `0.22.26` newer than the given release in this repository.

[2018-06-21 13:30] rultor commented on #1202
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-06-21 13:31] 0crat commented on #1168
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-21 13:31] 0crat commented on #1168
The job [#1168](https://github.com/zerocracy/farm/issues/1168) is now out of scope

[2018-06-21 13:34] g4s8 commented on #1200
@krzyk maybe we can "spread" project pings in timeline somehow, I mean do not ping all projects every minute, but ping one batch (e.g. 5) of projects at same time, then ping next batch, then next, etc. What do you think?

[2018-06-21 13:37] krzyk commented on #1200
@g4s8 Yes, I was thinking about it also, until the 0crat failed after 90 mins. That's why went the ReadWriteLock route.

[2018-06-21 13:37] ypshenychka commented on #1168
@g4s8 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/zerocracy/farm/issues/1168#issuecomment-398932845) by indicating an addressee in the beginning.

[2018-06-21 13:37] g4s8 commented on #1202
@rultor release, tag=`0.22.27`

[2018-06-21 13:38] rultor commented on #1202
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15038-399106320)

[2018-06-21 13:44] g4s8 opened #1205 "Inadequate thread usage"
We have about 200 threads in different state in app from start. We need to find places where these threads created and replace where possible with cached thread pool for short tasks.
This is all threads in format: `(name/state/daemon/alive)`:
[code]

[2018-06-21 13:50] rultor commented on #1202
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15038-399106320) (took me 11min)

[2018-06-21 13:50] g4s8 commented on #1205
@0crat assign @carlosmiranda

[2018-06-21 13:58] g4s8 commented on #1202
@rultor release, tag=`0.22.28`

[2018-06-21 13:59] rultor commented on #1202
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15038-399113142)

[2018-06-21 14:00] 0crat commented on #1205
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.27](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1205, Comment: 399110496

[2018-06-21 14:00] g4s8 commented on #1200
@krzyk ok then, let's do as you suggested

[2018-06-21 14:11] rultor commented on #1202
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15038-399113142) (took me 12min)

[2018-06-21 14:17] g4s8 commented on #1168
@ypshenychka done

[2018-06-21 14:19] ypshenychka commented on #1204
@krzyk okat, I see. Thank you!

[2018-06-21 14:21] ypshenychka commented on #1168
@g4s8 Did you correct this [message](https://github.com/zerocracy/farm/issues/1168#issuecomment-398932845)? Looks like there's still no addressee.

[2018-06-21 17:11] g4s8 commented on #1205
@0crat assign @carlosmiranda

[2018-06-21 17:14] 0crat commented on #1205
@g4s8 The job [#1205](https://github.com/zerocracy/farm/issues/1205) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1721711006); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-06-21 17:14] 0crat commented on #1202
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-21 17:14] 0crat commented on #1202
The job [#1202](https://github.com/zerocracy/farm/issues/1202) is now out of scope

[2018-06-21 17:14] 0crat commented on #1205
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-21 17:14] 0crat commented on #1205
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-21 17:30] paulodamaso opened #1206 "Jave heap space on invite"
Tried to make an invitation, zerocrat had an unrecoverable failure:

[code]

0.22.28 (https://github.com/zerocracy/farm): ID: 344195911, From: pauloeduardolobo, ChatId: 227326096

[2018-06-21 17:31] 0crat commented on #1206
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-21 19:30] g4s8 commented on #1168
@rultor release, tag=`0.22.29`

[2018-06-21 19:31] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-399217031)

[2018-06-21 19:32] g4s8 commented on #1168
@ypshenychka sorry, missed this one, updated now

[2018-06-21 19:36] rultor commented on #1168
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15016-399217031) (spent 5min)

[code]

[2018-06-21 19:43] g4s8 commented on #1168
@rultor release, tag=0.22.29

[2018-06-21 19:44] g4s8 commented on #1168
@rultor release, tag=`0.22.29`

[2018-06-21 19:45] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-399220345)

[2018-06-21 19:46] rultor commented on #1168
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15016-399220345) (spent 23s)

[code]

[2018-06-21 19:50] rultor commented on #1168
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15016-399220407)

[2018-06-21 20:03] rultor commented on #1168
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15016-399220407) (took me 12min)

[2018-06-21 20:09] g4s8 commented on #360
@rultor release, tag=`0.22.30`

[2018-06-21 20:10] rultor commented on #360
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15043-399227018)

[2018-06-21 20:12] StuporHero opened #1207 "Error while trying to go on vacation"
Here is [a Gist](https://gist.github.com/StuporHero/657985c99b01cb99db704bccdc7d79a9) of the error message I received when I said `@0crat vacation` from my Slack chat.

[2018-06-21 20:12] 0crat commented on #1207
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-21 20:12] 0crat commented on #1207
@stuporhero[/z](https://www.0crat.com/u/stuporhero) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-21 20:19] g4s8 opened #1208 "0crat can't read claims.xml"
File `claims.xml` changes may cause `OutOfMemoryError` because it's too big.

[2018-06-21 20:19] 0crat commented on #1208
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.29](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1208, Action: `opened`

[2018-06-21 20:21] rultor commented on #360
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15043-399227018) (took me 10min)

[2018-06-21 20:30] g4s8 commented on #1208
@0crat release, tag=`0.22.31`

[2018-06-21 20:34] g4s8 commented on #1208
@rultor release, tag=0.22.31

[2018-06-21 20:37] rultor commented on #1208
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15044-399234614)

[2018-06-21 20:37] rultor commented on #1208
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15044-399234614) (spent 22s)

[code]

[2018-06-21 20:42] rultor commented on #1208
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15044-399234659)

[2018-06-21 20:52] rultor commented on #1208
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15044-399234659) (took me 10min)

[2018-06-21 21:34] krzyk commented on #1200
@g4s8 OK, so unfortunatelly my ReadWriteLock try didn't work, we have places where a read lock would need to be upgraded to write lock, which is not possible with ReentrantReadWriteLock (basically hangs forever).
So I have to throw that code away :(

I'll try with spreading the pings evenly, but I won't be able to do it today.
Did the 5 minute ping help much?

[2018-06-21 21:38] 0pdd commented on #1201
The puzzle `1168-428c4b61` has disappeared from the source code, that's why I closed this issue.

[2018-06-21 21:38] #1201 closed

[2018-06-21 21:38] 0pdd commented on #1168
@g4s8 all 2 puzzles are solved here: [#1196](https://github.com/zerocracy/farm/issues/1196), [#1201](https://github.com/zerocracy/farm/issues/1201).

[2018-06-21 21:45] g4s8 commented on #1200
@krzyk maybe I found main issue: when 0crat was down for few hours because of `OutOfMemoryError` because of leakage in `AsyncFlush` there were submitted a lot of claims in `PMO` (about 20MB of claims), then after restart ping tried to read claims and modify it but failed with new `OutOfMemoryError` in `Arrays.copy` in `Xocument.Modify` which causes `RejectedExecutionException` in `ExeutorService`

[2018-06-21 21:50] g4s8 commented on #1208
@rultor release, tag=`0.23.1`

[2018-06-21 21:52] rultor commented on #1208
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15044-399254652)

[2018-06-21 21:54] 0crat commented on #1201
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-21 21:54] 0crat commented on #1201
The job [#1201](https://github.com/zerocracy/farm/issues/1201) is now out of scope

[2018-06-21 22:02] rultor commented on #1208
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15044-399254652) (took me 10min)

[2018-06-22 03:36] 0crat commented on #1084
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-22 05:46] krzyk commented on #1200
@g4s8 Interesting, nice detective work :).
So is there a point in spreading out the pings now? From what you write this should be out of scope.

[2018-06-22 05:47] krzyk commented on #1173
@0crat ping

[2018-06-22 05:48] 0crat commented on #1173
@krzyk Can't understand "ping", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of the jo

[2018-06-22 05:48] krzyk commented on #1173
@0crat status

[2018-06-22 05:48] 0crat commented on #1173
@krzyk This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1173](https://github.com/zerocracy/farm/issues/1173) is [in scope](http://www.zerocracy.com/policy.html#14) for 3days
  * The role is `DEV`
  * The job is assigned to @krzyk[/z](https://www.0crat.com/u/krzyk) for [3days](http://www.zerocr

[2018-06-22 06:06] krzyk commented on #1173
@ypshenychka looks like 0crat didn't send out, but he waits for your quality review here

[2018-06-22 06:18] yegor256 commented on #1177
@g4s8 yes, definitely, totally forgot it. thanks

[2018-06-22 06:18] #1177 closed

[2018-06-22 06:19] 0crat commented on #725
The job [#725](https://github.com/zerocracy/farm/issues/725) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1730634228); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-22 06:21] 0crat commented on #1055
The job [#1055](https://github.com/zerocracy/farm/issues/1055) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1730636317); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-22 06:32] krzyk commented on #1037
@yegor256 could you take a look here?

[2018-06-22 06:33] 0crat commented on #1177
The job is not in WBS, won't close the order

[2018-06-22 06:33] 0crat commented on #1177
Job `gh:zerocracy/farm#1177` is not assigned, can't get performer

[2018-06-22 06:44] 0crat commented on #1084
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-22 06:44] 0crat commented on #1084
The job [#1084](https://github.com/zerocracy/farm/issues/1084) is now out of scope

[2018-06-22 06:57] krzyk commented on #725
@0crat status

[2018-06-22 06:57] krzyk commented on #725
@g4s8 strange, 0crat assigned me to this bug, but it is already closed.

[2018-06-22 06:58] 0crat commented on #725
@krzyk This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#725](https://github.com/zerocracy/farm/issues/725) is [in scope](http://www.zerocracy.com/policy.html#14) for 4mon
  * The role is `DEV`
  * The job is assigned to @krzyk[/z](https://www.0crat.com/u/krzyk) for [39min](http://www.zerocracy

[2018-06-22 06:59] yegor256 opened #1210 "/vacation should show my status, when no flag given"
When I say `/vacation` I would expect to see my status. Instead, it's an error. Would be better if the bot replies: "You are NOT on vacation now. To change the status use `on` or `off` as an option."

<img width="559" alt="screen shot 2018-06-22 at 9 57 42 am" src="https://user-images.githubusercontent.com/526301/41762264-e21dd932-7602-11e8-8a24-a2a366a62eb9.png">

[2018-06-22 06:59] 0crat commented on #1210
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-22 07:06] proshin-roman commented on #983
@0crat refuse

[2018-06-22 07:06] 0crat commented on #983
@proshin-roman The user @proshin-roman[/z](https://www.0crat.com/u/proshin-roman) resigned from [#983](https://github.com/zerocracy/farm/issues/983), please stop working. Reason for job resignation: Order was cancelled

[2018-06-22 07:08] 0crat commented on #983
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-22 07:24] krzyk opened #1211 "Tasks should be assigned depth first, not breadth first"
To speed up delivery of features/bugfixes it would be best to have a semi depth-first assignment of tasks that are generated from puzzles.

The above is most probably hard/impossible to do right now, so the easiest solution right now would be to first assign tasks that were generated by 0pdd and then the rest that are in the project.

(Ideal solution would be: E.g. When I have a task #10, and crea

[2018-06-22 07:35] krzyk opened #1212 "Add uptime to the bottom of zerocracy webpage"
There are few metrics at the bottom of every page on zerocracy (like load average, memory usage, time taken to generate the page).

It would be useful to have an uptime there also, that would display the time in "humanized" way (automatically switch between seconds, minutes, hours, up to days I think).

And when hovering over it should say something like `Server started at 2018-06-22T09:34:00.000Z

[2018-06-22 07:35] 0crat commented on #1212
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-22 07:39] g4s8 commented on #1212
@krzyk we already have it, but only on main page: https://www.0crat.com/

[2018-06-22 07:43] g4s8 commented on #1211
@krzyk I think we can create new election `Rank` to move tasks with `pdd` labels up, similar to bug label.

[2018-06-22 07:44] 0crat commented on #1211
Job [#1211](https://github.com/zerocracy/farm/issues/1211) is now in scope, role is `DEV`

[2018-06-22 07:49] krzyk commented on #1212
@g4s8 OK, I didn't notice it. So it looks like the 0crat is stable now.

[2018-06-22 07:49] #1212 closed

[2018-06-22 07:49] 0crat commented on #1211
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-22 07:50] 0crat commented on #1210
Job [#1210](https://github.com/zerocracy/farm/issues/1210) is now in scope, role is `DEV`

[2018-06-22 07:51] 0crat commented on #1210
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-22 07:51] g4s8 commented on #725
@0crat refuse

[2018-06-22 07:52] 0crat commented on #725
@g4s8 The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#725](https://github.com/zerocracy/farm/issues/725), please stop working. Reason for job resignation: Order was cancelled

[2018-06-22 07:52] krzyk commented on #1211
@g4s8 Hmm, I think all pdd tasks are also bugs (I think that is result of .0pdd.yml configuration). And it doesn't look like bugs are assigned first.

[2018-06-22 07:55] g4s8 opened #1214 "0crat can assign closed bug"
0crat can assign a bug that was already closed, see https://github.com/zerocracy/farm/issues/725#issuecomment-399333066

[2018-06-22 07:55] g4s8 commented on #725
@0crat out

[2018-06-22 07:56] 0crat commented on #1059
The job [#1059](https://github.com/zerocracy/farm/issues/1059) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1730773141); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-22 07:56] 0crat commented on #1214
Job [#1214](https://github.com/zerocracy/farm/issues/1214) is now in scope, role is `DEV`

[2018-06-22 07:57] 0crat commented on #725
@g4s8 Job `gh:zerocracy/farm#725` is not assigned, can't get performer

[2018-06-22 07:58] 0crat commented on #725
@g4s8 The job [#725](https://github.com/zerocracy/farm/issues/725) is now out of scope

[2018-06-22 07:58] 0crat commented on #1214
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-22 08:07] 0crat commented on #1212
The job is not in WBS, won't close the order

[2018-06-22 08:07] 0crat commented on #1212
Job `gh:zerocracy/farm#1212` is not assigned, can't get performer

[2018-06-22 08:09] 0pdd opened #1215 "Claims.java:48-50: During #1208 fixing PMO claims was..."
The puzzle `1208-ab499773` from #1208 has to be resolved:

https://github.com/zerocracy/farm/blob/0b58154a2c36100a798a16d5036165941c744090/src/main/java/com/zerocracy/pm/Claims.java#L48-L50

The puzzle was created by g4s8 on 22-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the tex

[2018-06-22 08:09] 0pdd commented on #1208
@g4s8 the puzzle [#1215](https://github.com/zerocracy/farm/issues/1215) is still not solved.

[2018-06-22 08:10] 0crat commented on #1215
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-22 08:10] g4s8 commented on #1208
@g4s8 claims in `PMO` were saved locally and removed. Todo to analyze it was submitted: #1215

[2018-06-22 08:10] #1208 closed

[2018-06-22 08:11] 0crat commented on #1215
Job [#1215](https://github.com/zerocracy/farm/issues/1215) is now in scope, role is `DEV`

[2018-06-22 08:12] 0crat commented on #1215
The job [#1215](https://github.com/zerocracy/farm/issues/1215) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1730830487); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-22 08:13] g4s8 commented on #1206
@paulodamaso thanks, it was fixed in #1208

[2018-06-22 08:13] #1206 closed

[2018-06-22 08:14] g4s8 commented on #1204
@ypshenychka please try now, it should be fixed

[2018-06-22 08:14] 0crat commented on #1215
Job `gh:zerocracy/farm#1215` already assigned to @g4s8, can't assign to @g4s8

[2018-06-22 08:15] 0crat commented on #1215
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-22 08:15] 0crat commented on #1206
Job `gh:zerocracy/farm#1206` is not assigned, can't get performer

[2018-06-22 08:22] amihaiemil commented on #1214
@g4s8 It also happened in one of my projects

[2018-06-22 09:40] olenagerasimova opened #1217 "No penalty on refuse"
I refused to complete a job by saying `refuse` to 0crat and didn't get any penalty. According [§6](http://www.zerocracy.com/policy.html#6) refusal costs 15 points penalty.

Attaching some screens:
Issue comments log:
![image](https://user-images.githubusercontent.com/14931449/41769742-f3eabe44-7618-11e8-9c69-e012b9ea900f.png)

My awards page
![image](https://user-images.githubusercontent.com/14931

[2018-06-22 09:40] 0crat commented on #1217
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-22 09:40] 0crat commented on #1217
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-22 09:53] g4s8 commented on #1130
@amihaiemil  please look at  https://github.com/zerocracy/farm/blob/master/doc/arc.md I think it's enough for beginning, if something is not clear you can submit new tickets. Can we close this?

[2018-06-22 10:00] g4s8 commented on #1211
@krzyk we have `RnkGithubBug` for it. Now all review tasks goes first, then boosted tasks, then tasks with `bug` label

[2018-06-22 10:03] amihaiemil commented on #1130
@g4s8 looks nice, thanks!

[2018-06-22 10:03] #1130 closed

[2018-06-22 10:05] g4s8 commented on #1200
@krzyk it's not critical now, however I think we should try to spread the load on the `SyncFarm`, `Flush` implementations and other claim related objects.

[2018-06-22 10:15] krzyk commented on #1200
@g4s8 OK

[2018-06-22 10:29] 0crat commented on #983
The job [#983](https://github.com/zerocracy/farm/issues/983) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1731050739); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-22 10:36] g4s8 opened #1218 "refresh_awards can submit empty claims"
Stakeholder `refresh_awards` submit claims for all users in Zerocracy even if reputation didn't change, it's about 100 claims simultaneously now. We should submit `Award points were added` claim only if reputation was changed (minutes != 0).

[2018-06-22 10:38] 0crat commented on #1218
Job [#1218](https://github.com/zerocracy/farm/issues/1218) is now in scope, role is `DEV`

[2018-06-22 10:41] 0crat commented on #1218
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-22 13:51] ypshenychka commented on #1168
@g4s8 Thanks!

[2018-06-22 13:51] ypshenychka commented on #1168
@0crat quality acceptable

[2018-06-22 13:53] ypshenychka commented on #1173
@krzyk Thank you for a notice! Looking into it.

[2018-06-22 13:54] ypshenychka commented on #1173
@0crat quality good

[2018-06-22 13:54] 0crat commented on #1168
Order was finished, quality is "acceptable": +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-22 13:54] 0crat commented on #1168
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-22 13:56] 0crat commented on #1173
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-22 13:56] 0crat commented on #1173
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-22 14:04] krzyk commented on #1173
@0crat status

[2018-06-22 14:05] ypshenychka commented on #1084
@skapral According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/zerocracy/farm/issues/1084#issuecomment-397560671) by indicating an addressee in the beginning.

[2018-06-22 14:07] 0crat commented on #1173
@krzyk This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1173](https://github.com/zerocracy/farm/issues/1173) is [in scope](http://www.zerocracy.com/policy.html#14) for 4days
  * The role is `DEV`
  * The job is assigned to @krzyk[/z](https://www.0crat.com/u/krzyk) for [3days](http://www.zerocr

[2018-06-22 14:09] krzyk commented on #1173
@g4s8 This issue still exists in my agenda, although it was finished. Probably because of the earlier errors from 0crat.

[2018-06-22 15:13] g4s8 commented on #1173
@0crat out

[2018-06-22 15:17] 0crat commented on #1173
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-22 15:17] 0crat commented on #1173
@g4s8 The job [#1173](https://github.com/zerocracy/farm/issues/1173) is now out of scope

[2018-06-22 15:19] 0crat commented on #1060
The job [#1060](https://github.com/zerocracy/farm/issues/1060) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1731549220); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-22 15:45] skapral commented on #1084
@ypshenychka fixed.

[2018-06-22 19:00] t-izbassar commented on #487
@0crat refuse

[2018-06-22 19:00] 0crat commented on #487
@t-izbassar The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#487](https://github.com/zerocracy/farm/issues/487), please stop working. Reason for job resignation: Order was cancelled

[2018-06-22 19:02] 0crat commented on #487
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-06-22 19:15] StuporHero commented on #1207
@g4s8 It works now, so I guess it was just a transient bug.

[2018-06-22 19:15] #1207 closed

[2018-06-22 19:30] 0crat commented on #1207
The job is not in WBS, won't close the order

[2018-06-22 19:31] 0crat commented on #1207
Job `gh:zerocracy/farm#1207` is not assigned, can't get performer

[2018-06-22 19:31] g4s8 commented on #1207
@StuporHero this bug was fixed with #1208

[2018-06-22 20:04] ypshenychka commented on #1173
@0crat quality good

[2018-06-22 20:07] ypshenychka commented on #1204
@g4s8 Works now. Thanks!

[2018-06-22 20:08] 0crat commented on #1173
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-22 20:08] ypshenychka commented on #1084
@skapral thanks

[2018-06-22 20:08] ypshenychka commented on #1084
@0crat quality acceptable

[2018-06-22 20:10] 0crat commented on #1084
Order was finished, quality is "acceptable": +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-22 20:10] 0crat commented on #1084
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-23 13:51] krzyk commented on #1060
@0pdd PR created #1222

[2018-06-23 13:52] krzyk commented on #1059
@0pdd added PR #1221

[2018-06-24 06:11] carlosmiranda opened #1223 "Update Cactoos version"
Current Cactoos version of this project is [0.29](https://github.com/yegor256/cactoos/tree/0.29). This release is nearly six months old. Let's update to the latest version [0.35](https://github.com/yegor256/cactoos/tree/0.35), and make the appropriate code changes if necessary due to API change.

[2018-06-24 06:12] 0crat commented on #1223
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-24 07:46] yegor256 commented on #1037
@krzyk I don't think running a build many times will help. We should create a heavy multi-threaded test, which will make those `Xocument.modify()` calls from different threads to the same document. This may reproduce the problem. If not, commit the test and we'll call it a day.

[2018-06-24 07:47] yegor256 commented on #1023
@g4s8 what do you think?

[2018-06-24 07:55] yegor256 commented on #1193
@g4s8 totally agree

[2018-06-24 08:00] yegor256 commented on #980
@paulodamaso @victornoel @g4s8 I think we should connect www.cex.io for ETH payments.

[2018-06-24 08:03] yegor256 commented on #1175
@g4s8 I like the first option

[2018-06-24 08:04] yegor256 commented on #993
@paulodamaso not really... what kind of information do you need?

[2018-06-24 09:35] proshin-roman commented on #896
@0crat refuse

[2018-06-24 09:36] 0crat commented on #993
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-24 09:36] 0crat commented on #980
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-24 09:36] 0crat commented on #896
@proshin-roman The user @proshin-roman[/z](https://www.0crat.com/u/proshin-roman) resigned from [#896](https://github.com/zerocracy/farm/issues/896), please stop working. Reason for job resignation: Order was cancelled

[2018-06-24 10:17] g4s8 opened #1224 "Add "points" github command"
Add new tracker command to add points manually by `ARC` or `PO`,  because performer may receive negative reputation by external service breakdown (e.g. 0pdd like in this bug: https://github.com/yegor256/0pdd/issues/57#issuecomment-399738071).

The command may looks like this: `@0crat points @vl3 +30`. Also it should have a restriction: from -60 to +60 points.

[2018-06-24 10:18] 0crat commented on #1224
Job [#1224](https://github.com/zerocracy/farm/issues/1224) is now in scope, role is `DEV`

[2018-06-24 10:20] 0crat commented on #1224
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-24 10:46] 0crat commented on #1193
Job [#1193](https://github.com/zerocracy/farm/issues/1193) is now in scope, role is `DEV`

[2018-06-24 10:48] 0crat commented on #1193
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-24 10:51] g4s8 commented on #1023
@yegor256 I think it was fixed with #1168 issue. @wholegroup can you retry now? @cancellier does it work for you now?

[2018-06-24 10:56] 0pdd commented on #1059
The puzzle `840-1e70f3dd` has disappeared from the source code, that's why I closed this issue.

[2018-06-24 10:56] #1059 closed

[2018-06-24 10:56] 0pdd commented on #366
@yegor256 the puzzle [#841](https://github.com/zerocracy/farm/issues/841) is still not solved; solved: [#1059](https://github.com/zerocracy/farm/issues/1059), [#552](https://github.com/zerocracy/farm/issues/552), [#840](https://github.com/zerocracy/farm/issues/840).

[2018-06-24 10:56] 0pdd commented on #552
@0pdd the puzzle [#841](https://github.com/zerocracy/farm/issues/841) is still not solved; solved: [#1059](https://github.com/zerocracy/farm/issues/1059), [#840](https://github.com/zerocracy/farm/issues/840).

[2018-06-24 10:56] 0pdd commented on #840
@0pdd the only puzzle [#1059](https://github.com/zerocracy/farm/issues/1059) is solved here.

[2018-06-24 11:05] cancellier commented on #1023
It works now, the error message written after my incorrect request ("apply sandbox") is now right.
I did a request to apply to a sandbox project with a correct request and I will wait for ;-)
Thanks guys.

[2018-06-24 11:14] 0crat commented on #1059
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-24 11:14] 0crat commented on #1059
The job [#1059](https://github.com/zerocracy/farm/issues/1059) is now out of scope

[2018-06-24 11:15] 0crat commented on #487
The job [#487](https://github.com/zerocracy/farm/issues/487) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1751124108); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-24 11:21] krzyk commented on #487
@0crat refuse

[2018-06-24 11:23] 0crat commented on #487
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#487](https://github.com/zerocracy/farm/issues/487), please stop working. Reason for job resignation: Order was cancelled

[2018-06-24 11:23] 0pdd opened #1225 "terminate_orders_wbs_on_link_removal.groovy:23-26:..."
The puzzle `1055-055a4c3b` from #1055 has to be resolved:

https://github.com/zerocracy/farm/blob/a2bfa2af803881c812a156e7be4ce1259123e619/src/main/groovy/com/zerocracy/stk/pm/in/links/terminate_orders_wbs_on_link_removal.groovy#L23-L26

The puzzle was created by Krzysztof Krason on 24-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. Th

[2018-06-24 11:27] g4s8 commented on #1174
@0crat assign @krzyk

[2018-06-24 11:28] 0crat commented on #1174
@g4s8 The job [#1174](https://github.com/zerocracy/farm/issues/1174) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1751136371); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-06-24 11:28] 0crat commented on #1174
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-24 11:42] #556 closed

[2018-06-24 11:42] 0pdd commented on #556
The puzzle `511-1a49e160` has disappeared from the source code, that's why I closed this issue.

[2018-06-24 11:42] 0pdd commented on #511
@yegor256 the only puzzle [#556](https://github.com/zerocracy/farm/issues/556) is solved here.

[2018-06-24 11:52] yegor256 commented on #1055
@krzyk thanks

[2018-06-24 11:53] #1055 closed

[2018-06-24 11:59] 0crat commented on #556
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-24 11:59] 0crat commented on #556
The job [#556](https://github.com/zerocracy/farm/issues/556) is now out of scope

[2018-06-24 12:03] 0pdd opened #1226 "add_github_webhook.groovy:25-31: Implement logic for..."
The puzzle `1048-04512f73` from #1048 has to be resolved:

https://github.com/zerocracy/farm/blob/84826cde352271896e68d9d170583f58b36e60b4/src/main/groovy/com/zerocracy/stk/pm/hooks/add_github_webhook/add_github_webhook.groovy#L25-L31

The puzzle was created by Krzysztof Krason on 24-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The

[2018-06-24 12:04] 0pdd commented on #1048
@g4s8 the puzzle [#1226](https://github.com/zerocracy/farm/issues/1226) is still not solved.

[2018-06-24 12:04] 0crat commented on #1226
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-24 12:05] 0crat commented on #1226
Job [#1226](https://github.com/zerocracy/farm/issues/1226) is now in scope, role is `DEV`

[2018-06-24 12:09] 0crat commented on #1055
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-24 12:09] 0crat commented on #1055
The job [#1055](https://github.com/zerocracy/farm/issues/1055) is now out of scope

[2018-06-24 12:37] krzyk commented on #1048
@g4s8 changes have been merged to master in #1216, please close this issue

[2018-06-24 12:41] ypshenychka commented on #1055
@0crat quality good

[2018-06-24 12:43] ypshenychka commented on #556
@0crat quality goof

[2018-06-24 12:44] krzyk opened #1227 "TestListener should show the offending stacktrace"
When a test generates an exception, it will result in the whole surefire test suite to fail because of TestListener check for "caused by".

But TestListener should also show the offending stacktrace, because it is sometimes hard to guess which one is wrong, e.g. print 10-20 lines before and 10-20 lines after the "caused by", so one can find the exception.

[2018-06-24 12:44] ypshenychka commented on #556
@0crat quality good

[2018-06-24 12:44] 0crat commented on #1055
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-24 12:44] 0crat commented on #1055
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-24 12:44] 0crat commented on #1227
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-24 12:44] ypshenychka commented on #1059
@0crat quality good

[2018-06-24 12:46] 0crat commented on #556
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-24 12:46] 0crat commented on #556
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-24 12:47] 0crat commented on #1059
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-24 12:47] 0crat commented on #1059
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-24 12:55] 0crat commented on #767
The job [#767](https://github.com/zerocracy/farm/issues/767) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1751266016); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-24 13:12] g4s8 commented on #1048
@krzyk thanks

[2018-06-24 13:12] #1048 closed

[2018-06-24 13:28] 0crat commented on #1048
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-24 13:28] 0crat commented on #1048
The job [#1048](https://github.com/zerocracy/farm/issues/1048) is now out of scope

[2018-06-24 13:30] 0crat commented on #896
The job [#896](https://github.com/zerocracy/farm/issues/896) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1751343200); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-24 13:46] ypshenychka commented on #1048
@0crat quality good

[2018-06-24 13:49] 0crat commented on #1048
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-24 13:49] 0crat commented on #1048
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-24 15:37] 0crat commented on #1002
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-24 15:37] 0crat commented on #1037
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-24 18:07] g4s8 opened #1228 "Remove inactive slack accounts"
There are a many errors (123 from last release) from slack in Sentry:
[code]
It looks like some slack accounts was removed, and we can't connect to them. I think we need to remove these accounts from `bots.xml` if it fails with this error.

[2018-06-24 18:07] 0crat commented on #1228
Job [#1228](https://github.com/zerocracy/farm/issues/1228) is now in scope, role is `DEV`

[2018-06-24 18:09] 0crat commented on #1228
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-24 18:13] g4s8 commented on #1227
@krzyk could you add some example please? I didn't get what is missed in test results.

[2018-06-24 18:28] wholegroup commented on #1023
@g4s8 now it works well. thanks!

[2018-06-24 18:32] g4s8 commented on #1023
@yegor256 it's not reproducing now

[2018-06-24 18:32] #1023 closed

[2018-06-24 18:51] 0crat commented on #1023
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-24 18:51] 0crat commented on #1023
The job [#1023](https://github.com/zerocracy/farm/issues/1023) is now out of scope

[2018-06-24 19:15] krzyk commented on #1227
@g4s8 Example output:
[code]

It says exactly nothing about the error, except that there was some, travis build log: https://api.travis-ci.org/v3/job/396052267/log.txt)

[2018-06-24 19:18] 0crat commented on #1227
Job [#1227](https://github.com/zerocracy/farm/issues/1227) is now in scope, role is `DEV`

[2018-06-24 19:20] 0crat commented on #1227
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-24 19:54] jsoroka opened #1229 "Zerocrat /version is broken in telegram chat, gives incorrect ${buildNumber}"
Similar to #87, possible duplicate of #193.

Said `/version` to 0crat in telegram chat; would like to see correct `buildNumber` but got back: ```My version is 0.23.1, rev.${buildNumber}, built on 2018-06-21T22:00:03```

[2018-06-24 19:54] 0crat commented on #1229
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-24 19:54] 0crat commented on #1229
@jsoroka[/z](https://www.0crat.com/u/jsoroka) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-24 19:55] jsoroka commented on #1229
![version bad buildnumber img_6982](https://user-images.githubusercontent.com/527688/41823026-cc948be0-77ad-11e8-9496-f2d246b3a2f5.PNG)

[2018-06-24 20:31] g4s8 commented on #1223
@carlosmiranda right, it looks like we have to change some imports and class names to be able to build the project.

[2018-06-24 20:31] 0crat commented on #1223
Job [#1223](https://github.com/zerocracy/farm/issues/1223) is now in scope, role is `DEV`

[2018-06-24 20:33] 0crat commented on #1223
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-24 21:48] 0pdd opened #1231 "pom.xml:997-1002: These tests are failing on Windows..."
The puzzle `1041-c307d5cc` from #1041 has to be resolved:

https://github.com/zerocracy/farm/blob/738996f08278118137697206d361520fc628702a/pom.xml#L997-L1002

The puzzle was created by g4s8 on 19-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _removed_ fro

[2018-06-24 21:48] 0pdd commented on #1041
@proshin-roman the puzzle [#1231](https://github.com/zerocracy/farm/issues/1231) is still not solved.

[2018-06-24 21:48] 0crat commented on #1231
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-24 21:48] 0crat commented on #1231
Job [#1231](https://github.com/zerocracy/farm/issues/1231) is now in scope, role is `DEV`

[2018-06-24 21:49] g4s8 commented on #1041
@proshin-roman please, try now. It should be fixed in #1178

[2018-06-24 22:07] 0crat commented on #1061
The job [#1061](https://github.com/zerocracy/farm/issues/1061) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1752239837); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-24 22:36] 0crat commented on #1022
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-25 02:24] 0pdd opened #1232 "update_heapdump.groovy:30-32: Add a unit test for this..."
The puzzle `766-8d00e56f` from #766 has to be resolved:

https://github.com/zerocracy/farm/blob/e3ff4c4b05421b9581840a96852a85a953065294/src/main/groovy/com/zerocracy/stk/internal/update_heapdump.groovy#L30-L32

The puzzle was created by rultor on 25-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the probl

[2018-06-25 02:40] 0crat commented on #766
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-25 02:41] 0crat commented on #766
The job [#766](https://github.com/zerocracy/farm/issues/766) is now out of scope

[2018-06-25 02:44] #1060 closed

[2018-06-25 02:44] 0pdd commented on #1060
The puzzle `687-bf5e0265` has disappeared from the source code, that's why I closed this issue.

[2018-06-25 02:44] 0pdd commented on #687
@amihaiemil the only puzzle [#1060](https://github.com/zerocracy/farm/issues/1060) is solved here.

[2018-06-25 03:01] 0crat commented on #1060
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-25 03:01] 0crat commented on #1060
The job [#1060](https://github.com/zerocracy/farm/issues/1060) is now out of scope

[2018-06-25 03:03] 0crat commented on #1062
The job [#1062](https://github.com/zerocracy/farm/issues/1062) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1760308246); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-25 06:46] yegor256 opened #1233 "duplicates in verbosity.xml"
See what happened here: https://github.com/yegor256/0pdd/issues/188#issuecomment-399843095

I believe we should check the XML file before adding a new element there. Or maybe just delete the previous right with Xembly `remove` and overwrite the new value.

[2018-06-25 06:46] 0crat commented on #1233
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-25 07:09] ypshenychka commented on #1060
@0crat quality good

[2018-06-25 07:10] ypshenychka commented on #766
@0crat quality acceptable

[2018-06-25 07:10] ypshenychka commented on #766
@0crat quality good

[2018-06-25 07:17] 0crat commented on #766
@ypshenychka Thanks, but quality review is not required in this job

[2018-06-25 07:17] 0crat commented on #1060
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-25 07:17] 0crat commented on #1060
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-25 07:17] 0crat commented on #766
Order was finished, quality is "acceptable": +30 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-25 07:17] 0crat commented on #766
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-25 07:45] krzyk opened #1234 "Mention mentor in first DEV and REV task of student"
It would be good for mentorship if in first few tasks that are assigned to student, 0crat will mention the mentor.

This way mentor could help the student in finishing it.

My proposition is to do the mention in first:
- 2 DEV tasks
- 2 REV tasks

[2018-06-25 07:45] 0crat commented on #1234
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-25 07:47] krzyk commented on #1184
@g4s8 Just waiving my hand here  :) If this doesn't make sense I'll close it (but I think it would be good for users to know and debug such things).

[2018-06-25 08:36] proshin-roman commented on #1041
@g4s8 I've tried to build the latest master with command `mvn clean install --batch-mode -Pqulice` and got a few failures:
[code]
The full build log is here: https://gist.github.com/proshin-roman/74a020cc2beb2f7751628ddcace85cda

Not sure if it's locale-specific issue - maybe somebody else can try to build the project on Windows too.

[2018-06-25 10:23] krzyk opened #1235 "Mentor should be able to see tasks assigned to student"
Mentor should be able to see the agenda of student so he can inform about potential problems (like exceeding the delivery time).

I'm not sure if this should be available always, maybe until student achieves a defined number of points, e.g. 512? Or maybe the same limit as for allowing to join non-sandbox projects (128 ~256~)?

[2018-06-25 10:23] 0crat commented on #1235
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-25 10:47] amihaiemil opened #1236 "Document Estimates"
I have to fix [this](https://github.com/zerocracy/farm/issues/876) task, but from a first code inspection, it is not clear to me how estimates work.

For instance, I am not sure if we can ``update`` an estimate with a negative value and this will count as removal, or if we need a ``remove`` method. Also, it seems to me QA tasks are already added, since I see usage of ``Estimates`` into ``start_ord

[2018-06-25 10:47] 0crat commented on #1236
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-25 10:47] amihaiemil commented on #876
@0crat waiting for #1236

[2018-06-25 10:47] 0crat commented on #876
@amihaiemil The impediment for [#876](https://github.com/zerocracy/farm/issues/876) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-25 11:12] 0crat commented on #1236
The job [#1236](https://github.com/zerocracy/farm/issues/1236) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1761135503); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-25 11:12] 0crat commented on #1236
Job `gh:zerocracy/farm#1236` already assigned to @g4s8, can't assign to @g4s8

[2018-06-25 11:12] 0crat commented on #1236
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-25 11:12] 0crat commented on #1236
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-25 11:19] g4s8 commented on #1235
@krzyk we can check that user from request is a mentor, but I'd hide `cost` field from mentor's view.

[2018-06-25 11:28] g4s8 commented on #1233
@yegor256 looks like it was triggered twice because of reopen (2 `Close job` claims in one issue). I think we need to override previous verbosity value in this case.

Full stacktrace:
[code]

[2018-06-25 11:29] 0crat commented on #1233
Job [#1233](https://github.com/zerocracy/farm/issues/1233) is now in scope, role is `DEV`

[2018-06-25 11:30] 0crat commented on #1233
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-25 11:38] 0pdd commented on #896
The puzzle `835-3f8bfc99` has disappeared from the source code, that's why I closed this issue.

[2018-06-25 11:38] #896 closed

[2018-06-25 11:39] 0pdd commented on #555
@yegor256 all 2 puzzles are solved here: [#835](https://github.com/zerocracy/farm/issues/835), [#896](https://github.com/zerocracy/farm/issues/896).

[2018-06-25 11:39] 0pdd commented on #835
@0pdd the only puzzle [#896](https://github.com/zerocracy/farm/issues/896) is solved here.

[2018-06-25 11:41] krzyk commented on #1235
@g4s8 yes, that makes sense

[2018-06-25 11:45] paulodamaso commented on #1022
@krzyk PR merged, please close.

[2018-06-25 11:48] krzyk commented on #1022
@paulodamaso thanks

[2018-06-25 11:48] #1022 closed

[2018-06-25 11:56] 0crat commented on #896
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-25 11:56] 0crat commented on #896
The job [#896](https://github.com/zerocracy/farm/issues/896) is now out of scope

[2018-06-25 11:58] 0crat commented on #1063
The job [#1063](https://github.com/zerocracy/farm/issues/1063) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1761184320); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-25 12:01] g4s8 commented on #1184
@krzyk I think team page is already slightly complex: we have 7 columns here now. Also this page has some caching issues (loading user metrics for each user on demand), we are trying to fix it now, but each new field requires a lot of work to be rendered faster: change `people.xsd` in datum, change `People` class, add new stakeholder to publish each field to `people.xml`, therefore this task will

[2018-06-25 12:05] 0crat commented on #1022
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-25 12:06] 0crat commented on #1022
The job [#1022](https://github.com/zerocracy/farm/issues/1022) is now out of scope

[2018-06-25 12:06] g4s8 commented on #1041
@proshin-roman so you have only one failing test now (`TkBoardTest`), right? I've made sure that new master is passing tests on Windows on Appveyor: #1178, so it's probably locale-specific issue.

[2018-06-25 12:08] proshin-roman commented on #1041
@g4s8 `TkProfileTest` is failing too, but due to the same cause: `Cannot convert string &quot;-1,000&quot; to double`.

[2018-06-25 12:31] krzyk commented on #1184
@g4s8 Yeah, it is slow right now.
How about if we add this information on users public profile page?

[2018-06-25 12:35] krzyk commented on #1235
@g4s8 Also I think it would be useful to see which projects where the student is involved. (e.g. to tell him to apply to given project). What do you think?
If it make sense, should I report it separately?

[2018-06-25 13:20] ypshenychka commented on #896
@0crat quality good

[2018-06-25 13:22] 0crat commented on #896
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-25 13:22] 0crat commented on #896
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-25 13:23] ypshenychka commented on #1022
@0crat quality good

[2018-06-25 13:30] 0crat commented on #1022
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-06-25 13:31] 0crat commented on #1022
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-25 13:38] g4s8 commented on #1235
@krzyk yes, I think it make. Please, edit title to make this ticket more generic, like "Mentor can't see student's profile" or something similar.

[2018-06-25 13:55] g4s8 commented on #1184
@krzyk yes, it may be helpful, let's show these metrics on profile page. Please update the title.

[2018-06-25 14:04] krzyk commented on #1235
@g4s8 done

[2018-06-25 14:07] krzyk opened #1238 "BundlesTest sometimes fails"
Sometimes BundlesTest fails with ` BundlesTest.oneBundleWorksFine:252->lambda$oneBundleWorksFine$4:231 ? IllegalArgument`.

Examples:
1. https://github.com/zerocracy/farm/pull/1219#issuecomment-399959882
2. https://github.com/zerocracy/farm/issues/1173#issuecomment-398716094
3. https://github.com/zerocracy/farm/pull/1115#issuecomment-396096114
4. https://github.com/zerocracy/farm/pull/1115#issueco

[2018-06-25 14:07] 0crat commented on #1235
Job [#1235](https://github.com/zerocracy/farm/issues/1235) is now in scope, role is `DEV`

[2018-06-25 14:07] 0crat commented on #1238
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-25 14:10] krzyk commented on #1184
@g4s8 updated

[2018-06-25 14:11] 0crat commented on #1235
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-25 14:11] 0crat commented on #1238
Job [#1238](https://github.com/zerocracy/farm/issues/1238) is now in scope, role is `DEV`

[2018-06-25 14:12] 0crat commented on #1238
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-25 14:17] 0crat commented on #1184
Job [#1184](https://github.com/zerocracy/farm/issues/1184) is now in scope, role is `DEV`

[2018-06-25 14:17] krzyk opened #1239 "Count the times user reports impediments"
I think we should gather statistics on the number of times a user used `@0crat wait ....` and report it as ... I don't really have a word (impedimentness?)

Similarly to verbosity, blanks, negliance a higher number of impediments is not a good thing for project.
Sometimes it is necessary, but not always.
(e.g. right now it is best to start each task with `@0crat wait` just for peace of mind).

[2018-06-25 14:18] 0crat commented on #1239
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-25 14:19] 0crat commented on #1184
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-25 14:21] g4s8 commented on #1239
@yegor256 please, look at this issue. What do you think?

[2018-06-25 14:26] 0pdd opened #1240 "PingTest.java:45-47: Add a test that validates that pings..."
The puzzle `1200-fd0f2266` from #1200 has to be resolved:

https://github.com/zerocracy/farm/blob/2f669fd3d57926ad43eef082c8d645b18fbe5748/src/test/java/com/zerocracy/entry/PingTest.java#L45-L47

The puzzle was created by Krzysztof Krason on 22-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-06-25 14:30] g4s8 commented on #1110
@yegor256 @amihaiemil  maybe we can make election rank to put on top these jobs which are blocking other jobs, e.g.: if job `#1` is blocked by `#2` and `#2` is blocked by `#3` this rank will calculate "impediment weight" = 2 and put job `#3` on top.

[2018-06-25 14:31] g4s8 commented on #1200
@krzyk thanks

[2018-06-25 14:31] #1200 closed

[2018-06-25 14:42] amihaiemil commented on #1110
@g4s8 Sure, it makes sense, but won't we have the Githbu API quota problem again? The same as we have with the Github Milestone Rank?

[2018-06-25 14:48] krzyk commented on #1063
@0pdd see PR #1241

[2018-06-25 14:52] 0crat commented on #1200
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-25 14:52] 0crat commented on #1200
The job [#1200](https://github.com/zerocracy/farm/issues/1200) is now out of scope

[2018-06-25 14:56] 0crat commented on #1064
The job [#1064](https://github.com/zerocracy/farm/issues/1064) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1761488479); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-25 15:35] yegor256 opened #1242 "pay mentor on graduation"
Let's pay a fixed fee to a mentor when his/her student is graduated. In `remove_mentor_when_graduated` let's drop a claim, in the end. Something like `A student graduated`. Then, let's create a new stakeholder to catch this claim and pay the mentor a bonus of 120 minutes. This will motivate mentors to move their students forward.

Let's not forget to update the policy.

[2018-06-25 15:35] 0crat commented on #1242
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-25 15:37] yegor256 opened #1243 "let's not penalize PMO members for breakup"
In `penalize_for_breakup.groovy` let's check whether the person is a member of PMO project (see how we check in many other places). If the user is from PMO, let's not penalize him/her.

[2018-06-25 15:37] 0crat commented on #1243
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-25 15:39] ypshenychka commented on #1200
@0crat quality good

[2018-06-25 15:43] 0crat commented on #1200
Order was finished, quality is "good": +65 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-25 15:43] 0crat commented on #1200
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-25 15:56] g4s8 opened #1244 "Rank to put PO issues on top"
PO tickets usually more important than others, we can make new `Rank` implementation to put them on top (but maybe after bug-labeled issues?). @yegor256 what do you say?

[2018-06-25 16:02] g4s8 commented on #1243
@0crat assign @carlosmiranda

[2018-06-25 16:03] g4s8 commented on #1242
@0crat assign me

[2018-06-25 16:04] g4s8 commented on #1041
@proshin-roman can you try again?

[2018-06-25 16:05] g4s8 commented on #1200
@rultor release, tag=`0.23.2`

[2018-06-25 16:05] 0crat commented on #1243
@g4s8 The job [#1243](https://github.com/zerocracy/farm/issues/1243) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1761638676); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-06-25 16:06] 0crat commented on #1243
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-25 16:06] 0crat commented on #1242
@g4s8 The job [#1242](https://github.com/zerocracy/farm/issues/1242) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1761638700); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-06-25 16:06] 0crat commented on #1243
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-25 16:07] 0crat commented on #1242
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-25 16:07] 0crat commented on #1242
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-25 16:09] rultor commented on #1200
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15084-400006030)

[2018-06-25 16:21] rultor commented on #1200
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15084-400006030) (took me 11min)

[2018-06-25 18:37] 0pdd commented on #1215
The puzzle `1208-ab499773` has disappeared from the source code, that's why I closed this issue.

[2018-06-25 18:37] #1215 closed

[2018-06-25 18:38] 0pdd opened #1245 "StkSafe.java:38-47: We should not try to add claims with..."
The puzzle `1215-4176ce2c` from #1215 has to be resolved:

https://github.com/zerocracy/farm/blob/8085ab7425dbf10267b9fb6f2516bbe9c1327d50/src/main/java/com/zerocracy/farm/StkSafe.java#L38-L47

The puzzle was created by g4s8 on 25-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the

[2018-06-25 18:38] 0pdd opened #1246 "Claims.java:47-51: Invent mechanism to prevent huge..."
The puzzle `1215-032c8ff3` from #1215 has to be resolved:

https://github.com/zerocracy/farm/blob/8085ab7425dbf10267b9fb6f2516bbe9c1327d50/src/main/java/com/zerocracy/pm/Claims.java#L47-L51

The puzzle was created by g4s8 on 25-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the tex

[2018-06-25 18:38] 0pdd commented on #1208
@g4s8 2 puzzles [#1245](https://github.com/zerocracy/farm/issues/1245), [#1246](https://github.com/zerocracy/farm/issues/1246) are still not solved; solved: [#1215](https://github.com/zerocracy/farm/issues/1215).

[2018-06-25 18:38] 0pdd commented on #1215
@0pdd 2 puzzles [#1245](https://github.com/zerocracy/farm/issues/1245), [#1246](https://github.com/zerocracy/farm/issues/1246) are still not solved.

[2018-06-25 18:38] 0crat commented on #1245
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-25 18:38] 0crat commented on #1245
Job [#1245](https://github.com/zerocracy/farm/issues/1245) is now in scope, role is `DEV`

[2018-06-25 18:38] g4s8 commented on #1245
@0crat assign @krzyk

[2018-06-25 18:39] 0crat commented on #1246
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-25 18:40] 0crat commented on #1245
@g4s8 The job [#1245](https://github.com/zerocracy/farm/issues/1245) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1761840499); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-06-25 18:40] 0crat commented on #1245
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-25 18:55] 0crat commented on #1215
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-25 18:55] 0crat commented on #1215
The job [#1215](https://github.com/zerocracy/farm/issues/1215) is now out of scope

[2018-06-25 18:57] g4s8 commented on #1242
@yegor256 please, see https://github.com/zerocracy/zerocracy.github.io/issues/19

[2018-06-25 18:58] llorllale opened #1247 "Error on "hiring""
Sent out a "hiring" message and received this error:

[code]

[2018-06-25 18:58] 0crat commented on #1247
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-25 18:58] 0crat commented on #1247
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-25 19:06] g4s8 commented on #1247
@llorllale yes, this project already has submitted vacancy (2018.06.02). Old vacancies should be removed automatically after one month after submitting: https://github.com/zerocracy/farm/issues/971

I think we have to show more friendly message in such case, like "vacancy for this project already submitted", without stacktrace.

[2018-06-25 19:14] llorllale commented on #1247
@g4s8 oh, ok. How do I view vacancies previously submitted?

[2018-06-25 19:21] g4s8 commented on #970
@0crat status

[2018-06-25 19:22] g4s8 commented on #1247
@llorllale sorry, it's not implemented also: #970, I'll try to fix it soon.

[2018-06-25 19:32] 0crat commented on #970
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#970](https://github.com/zerocracy/farm/issues/970) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @neonailol[/z](https://www.0crat.com/u/neonailol) for [2mon](http://www.zer

[2018-06-25 19:46] llorllale commented on #1247
@g4s8 should I rephrase this bug?

[2018-06-25 20:17] g4s8 commented on #970
@0crat assign me

[2018-06-25 20:18] g4s8 commented on #1247
@llorllale yes, please update description

[2018-06-25 20:19] 0crat commented on #970
@g4s8 The job [#970](https://github.com/zerocracy/farm/issues/970) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1762019550); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-25 20:19] 0crat commented on #970
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-25 20:21] llorllale commented on #1247
@g4s8 done

[2018-06-25 21:05] g4s8 opened #1248 "claim.reply in remove_mentor_when_graduated is not working"
`remove_mentor_when_graduated` is trying to send a message to nobody, because it reacts to `Ping hourly` claim and using `claim.reply`:
[code]
but origin claim doesn't have a token so this `reply` is submitting same message.

Also this stakeholder is failing because it submits duplicated claims:
`java.lang.IllegalStateException: Duplicate claims are not allowed in PMO, can't add this XML to 6 exis

[2018-06-25 21:05] 0crat commented on #1248
Job [#1248](https://github.com/zerocracy/farm/issues/1248) is now in scope, role is `DEV`

[2018-06-25 21:06] 0crat commented on #1248
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-25 21:16] krzyk commented on #1064
@0pdd please see PR #1249

[2018-06-25 21:43] krzyk commented on #1062
@0pdd please see PR #1250

[2018-06-26 00:35] carlosmiranda commented on #733
@0crat refuse (can't reproduce, so I couldn't work on it)

[2018-06-26 00:35] 0crat commented on #733
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#733](https://github.com/zerocracy/farm/issues/733), please stop working. Reason for job resignation: Order was cancelled

[2018-06-26 00:36] 0crat commented on #733
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-26 01:41] carlosmiranda commented on #1121
@g4s8 see PR #1251 please

[2018-06-26 02:14] paulodamaso commented on #993
@yegor256 Anything you could provide about it, but we could start with which class implements it.

[2018-06-26 02:42] carlosmiranda commented on #841
@0crat wait for #1251

[2018-06-26 03:52] 0crat commented on #841
@carlosmiranda Job [#841](https://github.com/zerocracy/farm/issues/841) is already on hold

[2018-06-26 05:42] krzyk commented on #1037
@0crat refuse

[2018-06-26 05:42] 0crat commented on #1037
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1037](https://github.com/zerocracy/farm/issues/1037), please stop working. Reason for job resignation: Order was cancelled

[2018-06-26 05:43] 0crat commented on #1037
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-26 05:48] yegor256 commented on #1239
@g4s8 I agree, good idea. We also had an ticket to limit the amount of impediments any particular user may have. And an amount of impediments a project may have. Or maybe we should create such a ticket.

Say, a project may keep only 20% tasks in "on hold" state. If someone says "wait" Zerocrat says "you can do that, because 21 out of 97 tasks are already on hold"

Also, any programmer may have onl

[2018-06-26 05:50] yegor256 commented on #1110
@g4s8 this is relevant: #1239

[2018-06-26 05:52] yegor256 commented on #1110
@g4s8 I like the idea of the election rule, to put "blockers" on top of other tasks. I like the idea of making impediments more specific and requiring developers to say what exactly a task is blocked by (which ticket).

[2018-06-26 05:57] yegor256 commented on #993
@paulodamaso I suspect that the problem is in `Txn.acq()`:

[code]

This code, obviously, may return NULL sometimes. Don't you think?

[2018-06-26 05:59] yegor256 commented on #1242
@g4s8 that ticket is fixed: zerocracy/zerocracy.github.io#19

[2018-06-26 08:35] g4s8 commented on #1239
@amihaiemil now we have 157 jobs in WBS and only 19 impediments (12%), so I think 20% is ok for the project.

[2018-06-26 09:38] 0crat commented on #1196
The job [#1196](https://github.com/zerocracy/farm/issues/1196) is now out of scope

[2018-06-26 09:39] krzyk commented on #1239
@g4s8 Although @amihaiemil is right about the PRs. I don't know how to solve this problem.
But there is another one, if not the reviewer and ARC is "lazy"/doesn't have time - then the reviewer has a hard limit of 10 days, and he can't do anything to avoid it, like I hade to refuse 3 PRs beause of that: https://github.com/zerocracy/farm/pull/1136, https://github.com/zerocracy/farm/pull/1137, https:

[2018-06-26 09:42] g4s8 commented on #1236
@amihaiemil please, see #1252

[2018-06-26 09:50] g4s8 commented on #1239
@krzyk I think we can call it `delays.xml` and put a line each time user registered impediment for a job:
[code]

[2018-06-26 09:51] 0crat commented on #1239
Job [#1239](https://github.com/zerocracy/farm/issues/1239) is now in scope, role is `DEV`

[2018-06-26 09:52] 0crat commented on #1239
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-26 09:58] g4s8 commented on #1110
So let's enforce the reason first and try to match the reason by pattern: `waiting for #(?\d+)`: if pattern matched (e.g. `waiting for #42`), then register impediment with type `order`:
[code]
else (e.g. `waiting for answer`), with `unknown` type, like now implemented.

[2018-06-26 10:00] 0crat commented on #1110
Job [#1110](https://github.com/zerocracy/farm/issues/1110) is now in scope, role is `DEV`

[2018-06-26 10:01] 0crat commented on #1110
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-26 10:46] g4s8 commented on #1174
@krzyk the idea here is to downvote people who has higher task ratio in particular project, by returning value from 0.0 to `n`, where `n` means high ratio (all jobs from one project in `n` projects), 1 - balanced ratio (e.g. 2 of 4 jobs from 2 projects or all jobs from one project) 0 - low ratio (no jobs from the project, but has jobs from other projects), then we can multiply it for some negative

[2018-06-26 11:00] g4s8 commented on #903
@0crat refuse

[2018-06-26 11:01] 0crat commented on #903
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#903](https://github.com/zerocracy/farm/issues/903), please stop working. Reason for job resignation: Order was cancelled

[2018-06-26 11:02] 0crat commented on #903
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-26 12:01] krzyk commented on #1174
@g4s8 OK, but all voters are usually decorated with VsSafe, which checks if the value returned is in 0.0 - 1.0 range.

And the suggested equation will generate values 0.0 - number_of_user_projects, shouldn't it be normalized?

[2018-06-26 12:03] paulodamaso commented on #1002
@0crat wait for #1041, cannot build and run all tests on my machine yet

[2018-06-26 12:04] 0crat commented on #1002
@paulodamaso The impediment for [#1002](https://github.com/zerocracy/farm/issues/1002) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-06-26 12:07] g4s8 commented on #1174
@krzyk yes, looks like we have to normalize it. So we need to know max project count among all possible job performers before starting election.

[2018-06-26 12:35] #989 closed

[2018-06-26 12:51] 0crat commented on #989
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-26 12:51] 0crat commented on #989
The job [#989](https://github.com/zerocracy/farm/issues/989) is now out of scope

[2018-06-26 14:01] paulodamaso commented on #993
@yegor256 I think that is true. So we could fail fast here and throw some exception upon 'this.items.containsKey(file)' being NULL WDYT?

[2018-06-26 14:12] yegor256 commented on #993
@paulodamaso maybe it's better to make this method thread safe? @g4s8 what's your take on this?

[2018-06-26 14:57] g4s8 commented on #952
@0crat assign @krzyk

[2018-06-26 14:58] 0crat commented on #952
@g4s8 The job [#952](https://github.com/zerocracy/farm/issues/952) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1771471204); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-06-26 14:59] 0crat commented on #952
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-26 14:59] 0crat commented on #952
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-26 16:02] g4s8 commented on #911
@rultor release, tag=`0.23.3`

[2018-06-26 16:03] g4s8 commented on #911
@carlosmiranda it was implemented in #1254, you will see QA-inspector in agenda for new jobs after `0.23.3` release. Can we close?

[2018-06-26 16:04] rultor commented on #911
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15102-400366796)

[2018-06-26 16:14] rultor commented on #911
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15102-400366796) (took me 9min)

[2018-06-26 16:23] yegor256 commented on #952
@g4s8 I'm not against that

[2018-06-26 17:15] 0pdd opened #1257 "remove_old_vacancies.groovy:36-39: Notify all project..."
The puzzle `917-ba7a1a04` from #917 has to be resolved:

https://github.com/zerocracy/farm/blob/6548895bed74f7a92acaa0e6bbfd7f5d87b3c689/src/main/groovy/com/zerocracy/stk/pmo/vacancies/remove_old_vacancies.groovy#L36-L39

The puzzle was created by g4s8 on 26-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when t

[2018-06-26 17:15] 0pdd commented on #917
@yegor256 the puzzle [#1257](https://github.com/zerocracy/farm/issues/1257) is still not solved.

[2018-06-26 17:16] 0crat commented on #1257
Job [#1257](https://github.com/zerocracy/farm/issues/1257) is now in scope, role is `DEV`

[2018-06-26 17:16] 0crat commented on #1257
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-26 17:34] 0crat commented on #971
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-26 17:34] 0crat commented on #971
The job [#971](https://github.com/zerocracy/farm/issues/971) is now out of scope

[2018-06-26 17:37] 0crat commented on #1205
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-26 20:13] paulodamaso commented on #983
@krzyk Looks like MongoDb files reached their maximum number in database; https://docs.mongodb.com/manual/reference/configuration-options/#storage.mmapv1.quota.enforced we can see `quota` parameters. So I think we should tweak with these parameters a little, maybe add them up so our `MongoDB` instance will be able to handle more requests, WDYT?

[2018-06-26 20:47] krzyk commented on #983
@paulodamaso I think that's a good idea.

[2018-06-27 01:36] paulodamaso commented on #980
@victornoel @yegor256 @g4s8 Received a response from ceix.io:

Looks like we will have to think in another solution for this.

[2018-06-27 04:53] yegor256 opened #1258 "a donating user must be identified"
We should not accept donations (via `/contrib` pages) from user who haven't been identified yet. Let's show them the message that they have to go through our existing procedure in order to be able to contribute.

[2018-06-27 04:53] 0crat commented on #1258
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-27 07:37] 0crat commented on #1054
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-27 08:28] g4s8 commented on #1258
@yegor256 so this user must be invited, right?

[2018-06-27 09:29] ypshenychka opened #1259 "0crat says "There is no quality review for <>, no performer" afrter QA verdict"
Already happened several times: [here](https://github.com/sunsofterp/portal/pull/95#issuecomment-400604427), [here](https://github.com/zerocracy/farm/pull/1255#issuecomment-400430201), [here](https://github.com/sunsofterp/portal/pull/96#issuecomment-400376674) and [here](https://github.com/sunsofterp/portal/pull/97#issuecomment-400376577).

After QA verdict 0crat says "There is no quality review f

[2018-06-27 09:29] 0crat commented on #1259
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-27 10:02] proshin-roman commented on #988
@krzyk the issue wasn't reproduced, but I've added more unit tests in #1137. Please, check if the ticket can be closed.

[2018-06-27 10:36] 0crat commented on #983
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-27 10:55] 0crat commented on #1259
Job [#1259](https://github.com/zerocracy/farm/issues/1259) is now in scope, role is `DEV`

[2018-06-27 10:56] 0crat commented on #1259
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-27 10:58] carlosmiranda commented on #1205
@0crat wait, busy on other tasks

[2018-06-27 11:03] 0crat commented on #1205
@carlosmiranda Can't understand "wait,", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status

[2018-06-27 11:12] g4s8 commented on #1205
@carlosmiranda it seems that `Grizzly` threads was spawned by slack library

[2018-06-27 11:18] g4s8 commented on #1259
@ypshenychka maybe this bug is related to #1254 somehow

[2018-06-27 11:19] g4s8 commented on #1236
@amihaiemil PR #1252 was merged, can we close?

[2018-06-27 11:20] amihaiemil commented on #1236
@g4s8 Sure, thanks :)

[2018-06-27 11:20] #1236 closed

[2018-06-27 11:40] 0crat commented on #1236
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-27 11:40] 0crat commented on #1236
The job [#1236](https://github.com/zerocracy/farm/issues/1236) is now out of scope

[2018-06-27 11:52] krzyk commented on #988
@proshin-roman thanks

[2018-06-27 11:52] #988 closed

[2018-06-27 12:08] paulodamaso opened #1260 "Received points but no payment"
Happened again, received just points but no payment from 0crat.

Performed https://github.com/Harvest-foundation/telegram/pull/81 as `REV`, after merge 0crat paid just point value, and removed task from agenda. 0crat didn't showed any error message though.

May be the same problem of #997.

[2018-06-27 12:08] 0crat commented on #1260
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-27 12:08] 0crat commented on #988
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-27 12:09] 0crat commented on #988
The job [#988](https://github.com/zerocracy/farm/issues/988) is now out of scope

[2018-06-27 12:11] victornoel commented on #980
@g4s8 what worries me with that is the fact that ETH, BTC and co are not stable. So either you consider that your project money is in USD or if you don't, then you have to store money in BTC/ETH/etc in this account, but it's "value" 'w.r.t. USD) can change at any time.
Furthermore, when there is not enough fund in one currency, you still need to convert your fund from one currency to the other.

S

[2018-06-27 12:33] g4s8 opened #1262 "SlackRadarTest sometimes fail"
`SlackRadarTest` may fail with error:
[code]

some build logs:
https://github.com/zerocracy/farm/pull/1241#issuecomment-400658805
https://github.com/zerocracy/farm/issues/1263#issuecomment-400709275

[2018-06-27 12:34] 0crat commented on #1262
Job [#1262](https://github.com/zerocracy/farm/issues/1262) is now in scope, role is `DEV`

[2018-06-27 12:35] 0crat commented on #1262
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-27 12:43] yegor256 commented on #1258
@g4s8 no, just identified.

[2018-06-27 12:45] yegor256 commented on #980
@g4s8 I like the idea about wallets, but I have a better one. What if we just pay in ZLD and find a place where users will be able to exchange ZLD to USD/BTC/ETH, etc.

[2018-06-27 12:57] g4s8 commented on #980
@yegor256 yes, it's better. But to do that, exchange system should be stable enough, so it may take some time to implement it.

[2018-06-27 12:59] 0crat commented on #1258
Job [#1258](https://github.com/zerocracy/farm/issues/1258) is now in scope, role is `DEV`

[2018-06-27 13:00] 0crat commented on #1258
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 13:03] g4s8 commented on #1041
@proshin-roman ping. Can you build now?

[2018-06-27 13:04] yegor256 commented on #980
@g4s8 it's better to connect to an existing exchange, instead of implementing a new one. What we should do inside ZC code is to make it possible to pay ZLD and to accept project funding in ZLD.

[2018-06-27 13:07] carlosmiranda commented on #1205
@0crat wait (busy on other tasks)

[2018-06-27 13:10] yegor256 opened #1263 "boost can only be used by ARC or PO"
Check this out: https://github.com/zold-io/zold/issues/264#issuecomment-400604238 This is wrong. Boost can only be used by ARC or PO. Please, fix ASAP.

[2018-06-27 13:10] 0crat commented on #1263
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-27 13:11] 0crat commented on #1205
@carlosmiranda The impediment for [#1205](https://github.com/zerocracy/farm/issues/1205) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-27 13:30] proshin-roman commented on #1041
@g4s8 now I have no test failures (according to maven report `Tests run: 399, Failures: 0, Errors: 0, Skipped: 15`) but the build is still failing due to `TestListener` that says:
[code]
I guess it finds failures for the tests which pollute the build log by stacktraces with `Cannot convert string "-1,000" to double` message.

May I help you somehow else?

[2018-06-27 13:48] paulodamaso commented on #983
@g4s8 Do we have any configuration file for `MongoDb` that is not in github? Are these quota settings already set anywhere or can I create a new mongo db configuration file for them?

[2018-06-27 13:53] ypshenychka commented on #988
@0crat quality good

[2018-06-27 13:57] 0crat commented on #988
Order was finished, quality is "good": +35 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-27 13:57] 0crat commented on #988
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-27 14:11] g4s8 commented on #983
@paulodamaso we have `<mongo>` section in `_props.xml`, BTW mongo is working now.

[2018-06-27 14:19] 0crat commented on #1119
The job [#1119](https://github.com/zerocracy/farm/issues/1119) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1781432153); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-27 14:20] paulodamaso commented on #983
@g4s8 Sorry I've not expressed myself clearly: I need to know if we have these quota configurations already set in any file outside github, so I can define values for them based on the existing ones (if they exist). My fix here will be to set these configurations in a `mongobd` config file with these quota values and change mongodb calls in bash files to use this config file.

@g4s8 If you think t

[2018-06-27 14:20] 0crat commented on #1119
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-27 14:20] 0crat commented on #1120
The job [#1120](https://github.com/zerocracy/farm/issues/1120) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1781432159); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-27 14:21] 0crat commented on #1120
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-27 14:21] g4s8 commented on #980
@yegor256 so I'll solve these issues to start working with Zold faster: #1119 #1120

[2018-06-27 14:24] yegor256 opened #1265 "multi-currencies break estimates"
See: https://github.com/zold-io/zold/issues/297#issuecomment-400689721

I believe, we should convert the total to USD before saving to estimates.

[2018-06-27 14:24] 0crat commented on #1265
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-27 14:31] paulodamaso commented on #980
@victornoel Well I think we could close this one then? Should I open two new puzzles, one for making possible ZLD payments (or reference this one: https://github.com/zerocracy/farm/issues/1079 ) and another for accept project funding in ZLD?

[2018-06-27 14:31] 0pdd commented on #1063
The puzzle `402-85a1a26e` has disappeared from the source code, that's why I closed this issue.

[2018-06-27 14:31] #1063 closed

[2018-06-27 14:31] 0pdd commented on #402
@g4s8 2 puzzles [#1062](https://github.com/zerocracy/farm/issues/1062), [#1064](https://github.com/zerocracy/farm/issues/1064) are still not solved; solved: [#1063](https://github.com/zerocracy/farm/issues/1063).

[2018-06-27 14:37] g4s8 commented on #983
@paulodamaso I just don't understand how it will fix that. If mongo accepting new records now it means that we didn't exceed quota limits, right? But if we change the quota we have two possible scenarios:
 1. Nothing will happen, if quota value >= current value
 2. We will get quota error, if quota value < current value

Or maybe I'm missing something?

[2018-06-27 14:41] 0crat commented on #1263
The job [#1263](https://github.com/zerocracy/farm/issues/1263) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1781453576); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-27 14:41] 0crat commented on #1263
Job `gh:zerocracy/farm#1263` already assigned to @g4s8, can't assign to @g4s8

[2018-06-27 14:41] 0crat commented on #1263
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 14:41] 0crat commented on #1263
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-27 14:47] victornoel commented on #980
@yegor256 @g4s8 @paulodamaso I would like to remind you that the origin need was to be paid real money in ETH, not in any cryptocurrency.

@yegor256 concerning Zold: the problem is that if a project is not funded in zold, then it can't be paid in zold (or do you expect patrons to give $$ but the devs on the project are paid in zold and you (0crat) gets the $? I don't think this will happen!).

@pa

[2018-06-27 14:49] victornoel commented on #980
@g4s8 if you consider as ARC that ETH support is not needed because we already have BTC, then let's close this.

[2018-06-27 14:49] yegor256 commented on #980
@victornoel  why not, if you can exchange ZLD to USD somewhere?

[2018-06-27 14:50] victornoel commented on #980
@yegor256 I et your point; so if it is possible to convert, I agree, but it is another problem not in the cope of this issue for me: the need was ETH, not BTC nor Zold :)

[2018-06-27 14:51] 0crat commented on #1063
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-27 14:51] 0crat commented on #1063
The job [#1063](https://github.com/zerocracy/farm/issues/1063) is now out of scope

[2018-06-27 14:52] yegor256 commented on #980
@victornoel yes, I realize that. But we can resolve your need (and not only yours) with just one solution: ZLD. Then, you can get whatever you want in any place you want (ETH, USD, etc) by using one of those exchanges (there thousands of them).

[2018-06-27 14:52] paulodamaso commented on #983
@g4s8 You are right, but I couldn't see another way of correcting this bug. Probably ZC was having a heavy demand at the time, but it is not having it now. I couldn't really tell you if it's what happened without having some reports or logs about that day (12th may I think), but we could take on that was a momentary one-time issue an let it be. So, if there's nothing to be done here (it was a one-

[2018-06-27 14:59] ypshenychka commented on #1063
@0crat quality good

[2018-06-27 15:00] paulodamaso commented on #980
@victornoel @g4s8 @yegor256 Well, trying to stick to original issue needs, I could add one puzzle for implementing ETH payments and another one for accept project funding in Zold, since I've already spent almost all my 30 min in all these researches.

[2018-06-27 15:01] g4s8 commented on #1263
@rultor release, tag=`0.23.3`

[2018-06-27 15:02] 0crat commented on #1063
@ypshenychka There is no quality review for [#1063](https://github.com/zerocracy/farm/issues/1063), no performer

[2018-06-27 15:02] rultor commented on #1263
@g4s8 @yegor256 Invalid release tag `0.23.3` specified. There is already a release `0.23.3` newer than the given release in this repository.

[2018-06-27 15:02] rultor commented on #1263
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-06-27 15:02] 0crat commented on #1063
Order was finished, quality is "good": +38 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-27 15:02] 0crat commented on #1063
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-27 15:03] g4s8 commented on #1263
@rultor release, tag=`0.23.4`

[2018-06-27 15:05] rultor commented on #1263
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15113-400705776)

[2018-06-27 15:06] g4s8 commented on #1123
@0crat assign @carlosmiranda

[2018-06-27 15:06] 0crat commented on #1123
@g4s8 The job [#1123](https://github.com/zerocracy/farm/issues/1123) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1781520949); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-06-27 15:07] 0crat commented on #1123
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-27 15:07] carlosmiranda commented on #1123
@0crat wait for #1121

[2018-06-27 15:08] 0crat commented on #1123
@carlosmiranda The impediment for [#1123](https://github.com/zerocracy/farm/issues/1123) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-27 15:09] g4s8 commented on #983
@paulodamaso yes, maybe it depends on high-load. So let's increase quota limit, but please, make sure that it's greater than now.

[2018-06-27 15:10] rultor commented on #1263
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15113-400705776) (spent 5min)

[code]

[2018-06-27 15:12] g4s8 commented on #1263
@rultor release, tag=`0.23.4`

[2018-06-27 15:16] rultor commented on #1263
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15113-400710138)

[2018-06-27 15:22] rultor commented on #1263
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15113-400710138) (spent 6min)

[code]

[2018-06-27 15:23] paulodamaso commented on #983
@g4s8 All right, but is there any way of checking this value in current instance? `/etc/mongod.conf` could be setting it to some default value.

[2018-06-27 15:33] g4s8 commented on #1263
@rultor release, tag=`0.23.4`

[2018-06-27 15:36] rultor commented on #1263
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15113-400719419)

[2018-06-27 15:39] g4s8 commented on #983
@paulodamaso there are no such file on instance

[2018-06-27 15:41] rultor commented on #1263
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15113-400719419) (spent 5min)

[code]

[2018-06-27 16:31] g4s8 commented on #1263
@rultor release, tag=`0.23.4`

[2018-06-27 16:32] g4s8 commented on #1262
@0crat assign @krzyk

[2018-06-27 16:33] g4s8 commented on #1262
@krzyk I temporary disabled `SlackRadarTest` because it's failing too often on rultor

[2018-06-27 16:34] 0crat commented on #1262
@g4s8 The job [#1262](https://github.com/zerocracy/farm/issues/1262) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1781647852); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-06-27 16:34] 0crat commented on #1262
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-27 16:34] rultor commented on #1263
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15113-400743218)

[2018-06-27 16:48] rultor commented on #1263
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15113-400743218) (took me 14min)

[2018-06-27 16:51] g4s8 commented on #1263
@yegor256 this bug was reproduced and fixed in https://github.com/zerocracy/farm/commit/ceb53cdc716ec33da4fbabd1cacadfa2aba6c455

[2018-06-27 18:41] 0pdd opened #1267 "People.java:738-742: We should periodically compute..."
The puzzle `1121-eb4ead73` from #1121 has to be resolved:

https://github.com/zerocracy/farm/blob/122aec693ea8314f983d0b05360e3ed0aaddd18f/src/main/java/com/zerocracy/pmo/People.java#L738-L742

The puzzle was created by Carlos Miranda on 25-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixe

[2018-06-27 18:41] 0pdd commented on #1121
@g4s8 2 puzzles [#1123](https://github.com/zerocracy/farm/issues/1123), [#1267](https://github.com/zerocracy/farm/issues/1267) are still not solved.

[2018-06-27 18:42] yegor256 opened #1268 "notify PMO when a user changes the rate"
We notify PMO when a user is identified or when he/she changes the wallet. Let's do the same when a user modified his/her profile hourly rate.

[2018-06-27 18:42] 0crat commented on #1267
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-27 18:42] 0crat commented on #1267
Job [#1267](https://github.com/zerocracy/farm/issues/1267) is now in scope, role is `DEV`

[2018-06-27 18:42] 0crat commented on #1268
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-27 18:43] yegor256 opened #1269 "reward to ARC on successful release"
I think we should pay some additional reward to a project ARC when a new release shows up in GitHub. I'm not sure how to calculate the size of the reward, but it must exist. Maybe by the amount of changes in the repository (lines)?

[2018-06-27 18:43] 0crat commented on #1269
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-27 18:57] 0crat commented on #1268
Job [#1268](https://github.com/zerocracy/farm/issues/1268) is now in scope, role is `DEV`

[2018-06-27 18:59] 0crat commented on #1268
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 19:03] paulodamaso commented on #983
@g4s8 Digging deeper into `MongoDB` docs brought me that MongoDB uses two engines: `WiredTiger` (default from 3.2) or `MMAPv1` (default for versions prior 3.2). We only could set quota values in `MMAPv1` engine, so if we are using `WiredTiger` I think we have nothing else to do here. Which version are we using? Can we assume we are using `WiredTiger` because we are using version 3.5.0 of `MongoDB`

[2018-06-27 19:07] paulodamaso commented on #993
@g4s8 ping

[2018-06-27 19:32] 0crat commented on #1269
Job [#1269](https://github.com/zerocracy/farm/issues/1269) is now in scope, role is `DEV`

[2018-06-27 19:34] 0crat commented on #1269
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 19:34] g4s8 commented on #1269
@yegor256 maybe it's better to count finished orders (from `orders.xml`) in period from last release? I think it's more correct and easier to implement.

[2018-06-27 19:35] g4s8 commented on #1269
@yegor256 also please see https://github.com/zerocracy/zerocracy.github.io/issues/23

[2018-06-27 19:37] 0crat commented on #1265
Job [#1265](https://github.com/zerocracy/farm/issues/1265) is now in scope, role is `DEV`

[2018-06-27 19:37] 0crat commented on #1265
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-27 19:39] g4s8 commented on #1260
@paulodamaso it's a duplicate of #1188: the project has enough funds to pay you, but payment failed because recharge was failed

[2018-06-27 19:39] #1260 closed

[2018-06-27 19:39] 0crat commented on #1260
Job `gh:zerocracy/farm#1260` is not assigned, can't get performer

[2018-06-27 19:43] yegor256 commented on #1269
@g4s8 but `orders.xml` will be empty, if they are finished... Or I didn't understand you

[2018-06-27 19:46] g4s8 commented on #993
@paulodamaso I think it may help, but I'd try to reproduce it with test first

[2018-06-27 20:34] krzyk commented on #1063
@0crat status

[2018-06-27 20:39] krzyk opened #1270 "Agenda doesn't clear up"
I think this might be releated to #1254.

I have few items in my agenda that are already closed (QA did the review):
- https://github.com/zerocracy/farm/issues/1063
- https://github.com/zerocracy/farm/pull/1251

Also I think the total number of tasks assigned in agenda shoiuld exclude the ones under QA review (because they are not taken into account for the limit of jobs).

[2018-06-27 20:39] 0crat commented on #1270
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-27 21:35] carlosmiranda commented on #1121
@g4s8 can we close this now? PR #1251 merged

[2018-06-28 04:46] paulodamaso commented on #993
@0crat wait for #1271

[2018-06-28 04:46] 0crat commented on #993
@paulodamaso The impediment for [#993](https://github.com/zerocracy/farm/issues/993) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-06-28 05:31] botanicus opened #1272 "0crat fails with "job is not assigned, can't get performer""
_This issue is occurring in https://github.com/zold-io/zold/pull/294_

Upon a successful merge by rultor, 0crat comments:

And subsequently:

It's been my first task using 0crat, but the expected outcome is a successful payment notification from 0crat.

[2018-06-28 05:31] 0crat commented on #1272
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-28 05:31] 0crat commented on #1272
@botanicus[/z](https://www.0crat.com/u/botanicus) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-28 06:54] blackout314 opened #1273 "0crat website said i need an invitation (screen shot)"
- You tell us what you are trying to do
i'm trying to login in my agenda

  - You explain the results you are getting
i cant log and see this message

0crat said i have 100 rep point, i have some tasks assigned from 0crat telegram bot (2 or 3)

![](https://i.imgur.com/J1g8ndG.png)

[2018-06-28 06:54] 0crat commented on #1273
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-28 06:54] 0crat commented on #1273
@blackout314[/z](https://www.0crat.com/u/blackout314) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-28 07:14] carlosmiranda commented on #721
@0crat refuse (couldn't fix this somehow)

[2018-06-28 07:14] 0crat commented on #721
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#721](https://github.com/zerocracy/farm/issues/721), please stop working. Reason for job resignation: Order was cancelled

[2018-06-28 07:15] 0crat commented on #721
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-28 09:29] rultor commented on #1175
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15123-400972673)

[2018-06-28 09:40] rultor commented on #1175
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15123-400972673) (took me 10min)

[2018-06-28 09:42] carlosmiranda commented on #1243
@yegor256 see PR #1274.

[2018-06-28 09:43] carlosmiranda commented on #1243
@0crat wait for merge of #1274.

[2018-06-28 09:43] 0crat commented on #1243
@carlosmiranda The impediment for [#1243](https://github.com/zerocracy/farm/issues/1243) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-28 10:11] g4s8 commented on #1273
@blackout314 you see this message because you doesn't have a mentor because of [breakup](http://www.zerocracy.com/policy.html#47), to join back you can submit join form again or ask project architect to invite you.

[2018-06-28 10:11] #1273 closed

[2018-06-28 10:13] g4s8 opened #1275 "Elections page in Firefox is broken"
Elections project's page has some issues in Firefox:
![scrot-2018-06-28-12 37 08](https://user-images.githubusercontent.com/1524988/42028397-dafb8d44-7ad4-11e8-9d68-fa060a874bff.png)

[2018-06-28 10:15] g4s8 commented on #1175
@paulodamaso should be fixed now, you will receive 8% of job cost instead of 5 minutes.

[2018-06-28 10:15] 0crat commented on #1275
Job [#1275](https://github.com/zerocracy/farm/issues/1275) is now in scope, role is `DEV`

[2018-06-28 10:17] 0crat commented on #1275
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-28 10:18] blackout314 commented on #1273
thanks

[2018-06-28 10:20] g4s8 commented on #1121
@carlosmiranda yes, thanks

[2018-06-28 10:20] #1121 closed

[2018-06-28 10:28] 0crat commented on #1273
The job is not in WBS, won't close the order

[2018-06-28 10:28] 0crat commented on #1273
Job `gh:zerocracy/farm#1273` is not assigned, can't get performer

[2018-06-28 10:28] 0crat commented on #1272
Job `gh:zerocracy/farm#1272` is not assigned, can't get performer

[2018-06-28 10:31] carlosmiranda commented on #1123
@0crat wait for #841 and #1267

[2018-06-28 10:31] 0crat commented on #1123
@carlosmiranda Job [#1123](https://github.com/zerocracy/farm/issues/1123) is already on hold

[2018-06-28 10:32] carlosmiranda commented on #1267
@g4s8 can I grab this? Need it for #1123.

[2018-06-28 10:38] 0crat commented on #1121
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-28 10:38] 0crat commented on #1121
The job [#1121](https://github.com/zerocracy/farm/issues/1121) is now out of scope

[2018-06-28 11:15] blackout314 opened #1276 "no message from 0crat when mentor kick out student"
0crat dont send a message when mentor kick student

[2018-06-28 11:15] 0crat commented on #1276
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-28 11:15] 0crat commented on #1276
@blackout314[/z](https://www.0crat.com/u/blackout314) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-28 11:21] 0crat commented on #1270
The job [#1270](https://github.com/zerocracy/farm/issues/1270) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1791116001); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-28 11:22] 0crat commented on #1270
Job `gh:zerocracy/farm#1270` already assigned to @g4s8, can't assign to @g4s8

[2018-06-28 11:38] g4s8 commented on #1270
@rultor release, tag=`0.23.5`

[2018-06-28 11:38] rultor commented on #1270
@g4s8 @krzyk Invalid release tag `0.23.5` specified. There is already a release `0.23.5` newer than the given release in this repository.

[2018-06-28 11:38] rultor commented on #1270
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-06-28 11:39] g4s8 commented on #1270
@rultor release, tag=`0.23.6`

[2018-06-28 11:40] g4s8 commented on #1270
@ypshenychka please, dont submit QA-verdicts until `0.23.6` is released.

[2018-06-28 11:41] rultor commented on #1270
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15128-401005999)

[2018-06-28 11:50] rultor commented on #1270
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/15128-401005999) (took me 9min)

[2018-06-28 12:05] g4s8 commented on #1270
@krzyk @ypshenychka should be fixed now, let's wait for next QA review

[2018-06-28 12:28] 0crat commented on #1121
Order was finished, quality is "good": +68 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-28 12:28] 0crat commented on #1121
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-28 12:35] carlosmiranda commented on #841
@0crat wait for merge of PR #1277

[2018-06-28 12:37] 0crat commented on #841
@carlosmiranda Job [#841](https://github.com/zerocracy/farm/issues/841) is already on hold

[2018-06-28 13:11] g4s8 commented on #1269
@yegor256 right, I forget about it. So maybe we can use footprint?

[2018-06-28 13:15] yegor256 commented on #1269
@g4s8 I think that the amount of code contributed is more important than the amount of tasks. I may be wrong... Let's announce this in the chat and see all opinions?

[2018-06-28 13:28] g4s8 commented on #1121
@0crat status

[2018-06-28 13:28] 0crat commented on #1121
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1121](https://github.com/zerocracy/farm/issues/1121) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3NDPUA8L?q=%7Bjob%3A%27gh%3Azerocracy%2Ffarm%231121%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-06-28 13:34] g4s8 commented on #1270
@ypshenychka agenda of #1121 performer (@carlosmiranda) was updated successfully. @krzyk can we close now? Your agenda should be automatically fixed within few hours by `delete_stale_jobs` script.

[2018-06-28 13:35] krzyk commented on #1270
@g4s8 OK, thanks

[2018-06-28 13:35] #1270 closed

[2018-06-28 13:48] 0crat commented on #1276
Job [#1276](https://github.com/zerocracy/farm/issues/1276) is now in scope, role is `DEV`

[2018-06-28 13:59] 0crat commented on #1270
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)