[2018-05-23 19:13] 0crat commented on #1044
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-23 19:13] 0crat commented on #1044
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-23 19:36] 0crat commented on #758
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-23 23:55] carlosmiranda commented on #773
@0crat refuse

[2018-05-23 23:56] 0crat commented on #773
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#773](https://github.com/zerocracy/farm/issues/773), please stop working. Reason for job resignation: Order was cancelled

[2018-05-23 23:56] 0crat commented on #773
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-05-23 23:59] 0crat commented on #721
The job [#721](https://github.com/zerocracy/farm/issues/721) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1432370884); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-05-24 00:15] carlosmiranda commented on #889
@yegor256 ping, can we close this already?

[2018-05-24 00:16] carlosmiranda commented on #564
@g4s8 @yegor256 please see my question above: https://github.com/zerocracy/farm/issues/564#issuecomment-389443626

[2018-05-24 00:16] carlosmiranda commented on #89
@0crat refuse

[2018-05-24 00:16] 0crat commented on #89
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#89](https://github.com/zerocracy/farm/issues/89), please stop working. Reason for job resignation: Order was cancelled

[2018-05-24 00:17] 0crat commented on #89
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-05-24 07:03] g4s8 commented on #564
@carlosmiranda looks like it is not reproducing anymore, but #564 was closed as a duplicate of this bug

[2018-05-24 07:32] carlosmiranda commented on #564
@g4s8 looks fixed in #695 then, can we close this?

[2018-05-24 07:33] carlosmiranda commented on #564
@g4s8 looks fixed by @yegor256 in https://github.com/zerocracy/farm/commit/dc9c444cda635b706ab5055ebae495e988dcae2f then, can we close this?

[2018-05-24 07:38] g4s8 commented on #564
@carlosmiranda right, closing

[2018-05-24 07:38] #564 closed

[2018-05-24 07:54] 0crat commented on #564
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-24 07:54] 0crat commented on #564
The job [#564](https://github.com/zerocracy/farm/issues/564) is now out of scope

[2018-05-24 09:18] ypshenychka commented on #564
@0crat quality acceptable

[2018-05-24 09:19] 0crat commented on #564
Order was finished, quality is "acceptable": +30 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-05-24 09:19] 0crat commented on #564
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-05-24 09:36] 0crat commented on #831
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-24 09:36] 0crat commented on #840
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-24 10:36] 0crat commented on #841
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-24 10:36] 0crat commented on #843
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-24 14:21] g4s8 opened #1045 "500 error on hiring"
0crat failed to send hiring text, it deducted 128 reputation but didn't send the text with error:
[code]

[2018-05-24 14:21] 0crat commented on #1045
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-24 18:36] 0crat commented on #848
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-24 18:37] 0crat commented on #808
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-24 20:35] paulodamaso commented on #1044
@yegor256 Please take a look at this.

[2018-05-24 20:45] #958 closed

[2018-05-24 22:37] 0crat commented on #875
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-24 22:37] 0crat commented on #896
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-25 09:08] t-izbassar commented on #831
@yegor256 can you boost this job? It seems like this task will require accurate digging in our redirection urls. And from stacktrace we only have an information, that it failed to parse POST request on `https://www.0crat.com/ghook` with incorrect URL.

Even if we reproduce the bug by sending this POST request to `TkGithub` (which is responsible for dealing with `ghook`), we won't find where we cre

[2018-05-25 09:36] t-izbassar commented on #840
@0crat wait for #1046 to be merged

[2018-05-25 09:38] 0crat commented on #840
@t-izbassar The impediment for [#840](https://github.com/zerocracy/farm/issues/840) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-05-25 11:57] g4s8 opened #1047 "It's not possible to configure equity"
I can setup vesting rate for a user via slack `@0crat assign ...`, but equity page on project is empty after successful payment, also I can't find documentation about it.

[2018-05-25 11:57] 0crat commented on #1047
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-25 12:02] g4s8 opened #1048 "Automatically setup webhooks for repo"
Some GitHub application can add webhooks to repository (e.g. Codecov, Shippable),
I think 0crat should do the same

[2018-05-25 12:02] 0crat commented on #1048
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-25 12:54] yegor256 commented on #889
@carlosmiranda thanks!

[2018-05-25 12:54] #889 closed

[2018-05-25 13:11] 0crat commented on #889
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-25 13:11] 0crat commented on #889
The job [#889](https://github.com/zerocracy/farm/issues/889) is now out of scope

[2018-05-25 14:43] 0crat commented on #1041
Job [#1041](https://github.com/zerocracy/farm/issues/1041) is now in scope, role is `DEV`

[2018-05-25 14:44] 0crat commented on #1041
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-25 16:00] yegor256 commented on #960
@paulodamaso just say `help` to Zerocrat and you will get a full help.

[2018-05-25 16:00] #960 closed

[2018-05-25 16:06] g4s8 commented on #1011
@yegor256 yes, https://zerocracy.com now returns error `ERR_CONNECTION_TIMED_OUT`

[2018-05-25 16:11] yegor256 commented on #1045
@g4s8 fixed in 19dff08d7904dfb694ea58c6a54aed20343cf188 thanks!

[2018-05-25 16:11] #1045 closed

[2018-05-25 16:12] yegor256 commented on #1048
@g4s8 yes, I agree, when we do `links add github ...` we should try to add a webhook, if we have enough permissions for that. If not, we should tell the user that if he would give us permissions, we would configure the webhook too.

[2018-05-25 16:14] yegor256 commented on #1047
@g4s8 this is not enough? http://www.zerocracy.com/policy.html#37

[2018-05-25 16:15] 0crat commented on #1048
Job [#1048](https://github.com/zerocracy/farm/issues/1048) is now in scope, role is `DEV`

[2018-05-25 16:17] yegor256 commented on #1042
@proshin-roman done in a50df6269ca2d38dbbd1540ced5538253fe89efc Thanks!

[2018-05-25 16:17] #1042 closed

[2018-05-25 16:17] 0crat commented on #960
The job is not in WBS, won't close the order

[2018-05-25 16:17] 0crat commented on #1048
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-25 16:19] g4s8 commented on #1047
@yegor256 no, equity page says:
[code]

[2018-05-25 16:32] 0crat commented on #1042
The job is not in WBS, won't close the order

[2018-05-25 16:39] yegor256 commented on #1011
@g4s8 that's because of GitHub problems, let's try in a few days again.

[2018-05-25 16:44] #1017 closed

[2018-05-25 16:59] 0crat commented on #1017
The job is not in WBS, won't close the order

[2018-05-25 17:49] yegor256 commented on #987
@amihaiemil one more:

[code]

[2018-05-25 17:49] yegor256 commented on #987
@amihaiemil this issue is critical. If you can't fix it soon, I will assign someone else. Please, let me know.

[2018-05-25 17:51] yegor256 commented on #1043
@paulodamaso this was the issue: #987 :(

[2018-05-25 17:51] #1043 closed

[2018-05-25 17:51] yegor256 commented on #1044
@paulodamaso this is what happened: #987 :(

[2018-05-25 17:51] #1044 closed

[2018-05-25 18:06] 0crat commented on #1043
The job is not in WBS, won't close the order

[2018-05-25 18:06] 0crat commented on #1044
The job is not in WBS, won't close the order

[2018-05-25 18:18] amihaiemil commented on #987
@yegor256 right, better give it to someone else

[2018-05-25 18:18] amihaiemil commented on #987
@0crat refuse

[2018-05-25 18:19] 0crat commented on #987
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#987](https://github.com/zerocracy/farm/issues/987), please stop working. Reason for job resignation: Order was cancelled

[2018-05-25 18:19] 0crat commented on #987
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-25 20:06] ypshenychka commented on #889
@0crat quality good

[2018-05-25 20:08] 0crat commented on #889
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-05-25 20:08] 0crat commented on #889
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-05-26 14:36] 0crat commented on #902
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-26 14:38] g4s8 commented on #902
@0crat waiting PR #1039 to merge

[2018-05-26 14:38] 0crat commented on #902
@g4s8 The impediment for [#902](https://github.com/zerocracy/farm/issues/902) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-26 17:36] 0crat commented on #559
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-26 19:24] g4s8 opened #1049 "Can't destroy a project"
0crat failed to destroy a project with error:
[code]

[2018-05-27 06:50] g4s8 commented on #556
@0crat refuse

[2018-05-27 06:50] 0crat commented on #556
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#556](https://github.com/zerocracy/farm/issues/556), please stop working. Reason for job resignation: Order was cancelled

[2018-05-27 06:51] 0crat commented on #556
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-27 06:53] g4s8 commented on #770
@0crat refuse

[2018-05-27 06:54] 0crat commented on #770
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#770](https://github.com/zerocracy/farm/issues/770), please stop working. Reason for job resignation: Order was cancelled

[2018-05-27 06:54] 0crat commented on #770
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-27 07:49] g4s8 commented on #896
@0crat refuse

[2018-05-27 07:49] g4s8 commented on #875
@0crat waiting PR to merge #1034

[2018-05-27 07:49] 0crat commented on #896
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#896](https://github.com/zerocracy/farm/issues/896), please stop working. Reason for job resignation: Order was cancelled

[2018-05-27 07:50] 0crat commented on #875
@g4s8 The impediment for [#875](https://github.com/zerocracy/farm/issues/875) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-27 07:50] 0crat commented on #896
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-27 07:51] g4s8 commented on #848
@0crat waiting for @yegor256 action in zerocracy/datum#343

[2018-05-27 07:51] 0crat commented on #848
@g4s8 The impediment for [#848](https://github.com/zerocracy/farm/issues/848) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-27 07:53] g4s8 opened #1050 "FootprintTest sometime fails"
There is unstable failure in `FootprintTest`, it may fail locally or in Travis builds (https://api.travis-ci.org/v3/job/382043008/log.txt):
[code]

Also here: https://github.com/zerocracy/farm/pull/1094#issuecomment-394465194

[2018-05-27 07:53] 0crat commented on #1050
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-27 08:02] g4s8 commented on #808
@0crat waiting PR #1051 to merge

[2018-05-27 08:02] 0crat commented on #808
@g4s8 The impediment for [#808](https://github.com/zerocracy/farm/issues/808) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-27 08:03] g4s8 commented on #768
@0crat refuse

[2018-05-27 08:03] 0crat commented on #768
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#768](https://github.com/zerocracy/farm/issues/768), please stop working. Reason for job resignation: Order was cancelled

[2018-05-27 08:03] 0crat commented on #768
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-27 08:04] g4s8 commented on #767
@0crat refuse

[2018-05-27 08:05] 0crat commented on #767
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#767](https://github.com/zerocracy/farm/issues/767), please stop working. Reason for job resignation: Order was cancelled

[2018-05-27 08:05] 0crat commented on #767
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-27 10:55] proshin-roman commented on #601
@0crat refuse

[2018-05-27 10:55] 0crat commented on #601
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/farm#601, Comment: 392322048

[2018-05-27 10:55] 0crat commented on #601
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/farm#601, Action: `created`

[2018-05-27 10:58] proshin-roman opened #1052 "Unrecoverable failure on refusing the issue"
The problem happened [here](https://github.com/zerocracy/farm/issues/601#issuecomment-392322059).

[code]
1.0-SNAPSHOT: Issue: zerocracy/farm#601, Comment: 392322048

[2018-05-27 10:58] 0crat commented on #1052
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-27 18:06] proshin-roman opened #1053 "Unrecoverable failure on inviting a new member"
There is an unrecoverable failure on my side. Please, submit it here (https://github.com/zerocracy/farm/issues):

[code]

1.0-SNAPSHOT (https://github.com/zerocracy/farm): CID: 1471814497 (https://www.0crat.com/PMO/1471814497), Type: "Invite a friend", Author: "proshin-roman"

Possibly, there was a race condition as my second attempt wasn't successful too because somebody has already invited the p

[2018-05-27 18:06] 0crat commented on #1053
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-27 19:21] g4s8 opened #1054 "PO has to be invited by someone"
PO can't just create a project in Slack and invite architect to bootstrap a project because 0crat says that he must be invited by someone else. I think we need another flow for POs.

[2018-05-27 20:17] g4s8 commented on #1047
@yegor256 got it (find in source code), there is secret page https://www.0crat.com/files/ where `equity.xml` file can be uploaded manually. I think it should be also possible to configure equity from slack.

[2018-05-28 11:35] yegor256 opened #1055 "terminate orders if GitHub repo is not linked"
Here is what happens. A user removes a GitHub link from the repo, but WBS/Orders still have the jobs, which point to the repo, which is not linked. We should regularly check those situations and simply terminate all orders, by sending `Cancel order`, if the order is there, or `Remove job from WBS` if it's only a job in the WBS.

[2018-05-28 11:35] 0crat commented on #1055
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1055, Action: `labeled`

[2018-05-28 11:35] 0crat commented on #1055
Job [#1055](https://github.com/zerocracy/farm/issues/1055) is now in scope, role is `DEV`

[2018-05-28 11:36] 0crat commented on #1055
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 11:37] 0crat commented on #1049
The job [#1049](https://github.com/zerocracy/farm/issues/1049) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1481136645); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-05-28 11:37] 0crat commented on #1038
The job is not in WBS, won't close the order

[2018-05-28 11:37] 0crat commented on #1049
Job `gh:zerocracy/farm#1049` already assigned to @yegor256, can't assign to @yegor256

[2018-05-28 11:37] 0crat commented on #1049
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-28 11:37] 0crat commented on #1049
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 11:42] yegor256 commented on #1049
@g4s8 fixed, thanks!

[2018-05-28 11:42] #1049 closed

[2018-05-28 11:43] yegor256 commented on #1054
@g4s8 I don't think it's true... Where exactly 0crat says that? How can I reproduce?

[2018-05-28 11:51] g4s8 commented on #1054
@yegor256 when somebody creates a project in Zerocracy he can't see profile page (where he can find link to the project) until he has a mentor.

[2018-05-28 11:59] 0crat commented on #1049
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 11:59] 0crat commented on #1049
The job [#1049](https://github.com/zerocracy/farm/issues/1049) is now out of scope

[2018-05-28 12:16] yegor256 commented on #1054
@g4s8 what is "creates a project in Zerocracy"? Can you explain step by step?

[2018-05-28 12:20] g4s8 commented on #1054
@yegor256
1. PO authorized via GitHub in Zerocracy
2. I bootstrapped a project and assigned `PO` role to PO
3. PO can't see his profile page, because he doesn't have a mentor

[2018-05-28 12:28] g4s8 commented on #1054
@yegor256 to see project link to add funds and see project links, such as Ledger, Estimates etc
Looks like he can access project by id without mentor, but it's not comfortable to remember id or save a link, because he can access 0crat from another device or forget project id

[2018-05-28 12:32] yegor256 commented on #1054
@g4s8 so basically we should render his profile page, but with just a list of links to his project. That will be enough. Correct?

[2018-05-28 12:34] g4s8 commented on #1054
@yegor256 yes

[2018-05-28 12:43] 0crat commented on #1054
Job [#1054](https://github.com/zerocracy/farm/issues/1054) is now in scope, role is `DEV`

[2018-05-28 12:44] 0crat commented on #1054
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-28 16:18] proshin-roman commented on #601
@0crat refuse

[2018-05-28 16:19] 0crat commented on #601
@proshin-roman The user @proshin-roman[/z](https://www.0crat.com/u/proshin-roman) resigned from [#601](https://github.com/zerocracy/farm/issues/601), please stop working. Reason for job resignation: Order was cancelled

[2018-05-28 16:21] 0crat commented on #601
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-29 00:36] 0crat commented on #721
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-29 08:36] victornoel opened #1056 "0crat didn't pay job completion after QA review"
See yegor256/cactoos#588.

QA reviewed with `good` and no points were awarded to the job assignee.

This happened silently, without any exception.

Also the contrib ledger of the project seems to contain something about the payment but from my point of view, nothing happened at all.

[2018-05-29 08:36] 0crat commented on #1056
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-29 08:36] 0crat commented on #1056
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-29 20:35] g4s8 opened #1057 "0crat returns 500 for all webhooks"
[code]

[2018-05-29 21:35] 0crat commented on #1057
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-30 12:19] yegor256 commented on #1057
@g4s8 it was some bug at the GitHub side, I believe.

[2018-05-30 12:19] #1057 closed

[2018-05-30 12:23] yegor256 opened #1058 "REASON in orders.xml should be the ID of the claim"
Let's put claim ID there.

[2018-05-30 12:26] t-izbassar commented on #840
@0pdd fixed in #1046

[2018-05-30 12:31] yegor256 commented on #747
@0crat boost 4x

[2018-05-30 12:31] 0crat commented on #747
@yegor256 Boost 4x was set for [#747](https://github.com/zerocracy/farm/issues/747)

[2018-05-30 12:31] yegor256 commented on #747
@g4s8 done

[2018-05-30 12:31] 0crat commented on #747
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-30 12:35] 0crat commented on #1057
The job is not in WBS, won't close the order

[2018-05-30 13:24] 0pdd opened #1059 "PeopleTest.java:44-46: Add tests for links(), wallet()..."
The puzzle `840-1e70f3dd` from #840 has to be resolved:

https://github.com/zerocracy/farm/blob/9401dbf01f016b7bbe6ed9dd9f0142fac0fa0f35/src/test/java/com/zerocracy/pmo/PeopleTest.java#L44-L46

The puzzle was created by rultor on 30-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and th

[2018-05-30 13:33] yegor256 commented on #987
@0crat assign @g4s8

[2018-05-30 13:33] yegor256 commented on #987
@0crat boost 6x

[2018-05-30 13:33] 0crat commented on #987
@yegor256 Boost 6x was set for [#987](https://github.com/zerocracy/farm/issues/987)

[2018-05-30 13:34] yegor256 commented on #987
@g4s8 this is super annoying now. Let's do our best to solve this somehow. I'm getting these errors 10-20 times per day in production logs.

[2018-05-30 13:34] 0crat commented on #987
@yegor256 The job [#987](https://github.com/zerocracy/farm/issues/987) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1501346685); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-05-30 13:34] yegor256 commented on #987
@0crat status

[2018-05-30 13:34] 0crat commented on #987
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-30 13:34] 0crat commented on #987
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-30 13:34] 0crat commented on #987
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#987](https://github.com/zerocracy/farm/issues/987) is [in scope](http://www.zerocracy.com/policy.html#14) for 28days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [1min](http://www.zerocracy.com/policy.html#8)
  * @g4s8[/z](https://www.0c

[2018-05-30 13:35] yegor256 commented on #987
@0crat boost 6x

[2018-05-30 13:35] 0crat commented on #987
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/farm#987, Comment: 393163810

[2018-05-30 13:35] 0crat commented on #987
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/farm#987, Action: `created`

[2018-05-30 13:35] yegor256 commented on #987
@0crat boost 6x

[2018-05-30 13:38] 0crat commented on #987
@yegor256 Boost 6x was set for [#987](https://github.com/zerocracy/farm/issues/987)

[2018-05-30 13:39] 0crat commented on #987
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-30 13:40] 0crat commented on #840
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-30 13:40] 0crat commented on #840
The job [#840](https://github.com/zerocracy/farm/issues/840) is now out of scope

[2018-05-30 13:42] 0crat commented on #556
The job [#556](https://github.com/zerocracy/farm/issues/556) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1501356082); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-05-30 13:43] ypshenychka commented on #840
@0crat quality good

[2018-05-30 13:46] 0crat commented on #840
Order was finished, quality is "good": +35 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-05-30 13:46] 0crat commented on #840
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-05-30 14:04] 0pdd opened #1060 "SlackRadarTest.java:38-40: There are no tests for the..."
The puzzle `687-bf5e0265` from #687 has to be resolved:

https://github.com/zerocracy/farm/blob/8ce88c82990cdb2f165491f544998d0b66633ae8/src/test/java/com/zerocracy/radars/slack/SlackRadarTest.java#L38-L40

The puzzle was created by Krzysztof Krason on 20-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the

[2018-05-30 14:04] 0pdd commented on #687
@amihaiemil the puzzle [#1060](https://github.com/zerocracy/farm/issues/1060) is still not solved.

[2018-05-30 14:05] 0crat commented on #1060
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-30 14:07] krzyk commented on #687
@amihaiemil changes have been merged in #1031, please close this issue

[2018-05-30 14:09] amihaiemil commented on #687
@krzyk cool, thanks :)

[2018-05-30 14:09] #687 closed

[2018-05-30 14:28] 0pdd opened #1061 "VsWorkload.java:41-44: VsWorkload test is missed,..."
The puzzle `808-5c63d8cf` from #808 has to be resolved:

https://github.com/zerocracy/farm/blob/e39b3da49d582229810a2a4a441261f95524695d/src/main/java/com/zerocracy/pm/staff/votes/VsWorkload.java#L41-L44

The puzzle was created by g4s8 on 29-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-05-30 14:28] 0pdd commented on #808
@yegor256 the puzzle [#1061](https://github.com/zerocracy/farm/issues/1061) is still not solved.

[2018-05-30 14:32] g4s8 commented on #808
@yegor256 PR #1051 was merged, can we close?

[2018-05-30 14:38] ypshenychka commented on #687
@0crat quality good

[2018-05-30 14:45] 0crat commented on #687
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-30 14:45] 0crat commented on #687
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-05-30 14:58] g4s8 commented on #875
@yegor256 PR #1034 was merged, can we close?

[2018-05-30 15:44] 0pdd opened #1062 "TkAgendaTest.java:41-42: Let's write a test for RsPage..."
The puzzle `402-12bf0024` from #402 has to be resolved:

https://github.com/zerocracy/farm/blob/5484364fc8080d4530436487232ffc337d0c87f8/src/test/java/com/zerocracy/tk/profile/TkAgendaTest.java#L41-L42

The puzzle was created by Krzysztof Krason on 21-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-05-30 15:44] 0crat commented on #1062
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-30 15:45] 0pdd opened #1063 "TkAgendaTest.java:43-44: Write a test confirming that..."
The puzzle `402-85a1a26e` from #402 has to be resolved:

https://github.com/zerocracy/farm/blob/5484364fc8080d4530436487232ffc337d0c87f8/src/test/java/com/zerocracy/tk/profile/TkAgendaTest.java#L43-L44

The puzzle was created by Krzysztof Krason on 21-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-05-30 15:45] 0crat commented on #1062
Job [#1062](https://github.com/zerocracy/farm/issues/1062) is now in scope, role is `DEV`

[2018-05-30 15:45] 0crat commented on #1063
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1063, Action: `labeled`

[2018-05-30 15:45] 0pdd opened #1064 "TkAgendaTest.java:45-46: Write a test confirming that..."
The puzzle `402-71bf3c7f` from #402 has to be resolved:

https://github.com/zerocracy/farm/blob/5484364fc8080d4530436487232ffc337d0c87f8/src/test/java/com/zerocracy/tk/profile/TkAgendaTest.java#L45-L46

The puzzle was created by Krzysztof Krason on 21-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-05-30 15:45] 0pdd commented on #402
@g4s8 3 puzzles [#1062](https://github.com/zerocracy/farm/issues/1062), [#1063](https://github.com/zerocracy/farm/issues/1063), [#1064](https://github.com/zerocracy/farm/issues/1064) are still not solved.

[2018-05-30 15:45] 0crat commented on #1063
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-30 15:45] 0crat commented on #1063
Job [#1063](https://github.com/zerocracy/farm/issues/1063) is now in scope, role is `DEV`

[2018-05-30 15:46] 0crat commented on #1064
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1064, Action: `labeled`

[2018-05-30 15:46] 0crat commented on #1064
Job [#1064](https://github.com/zerocracy/farm/issues/1064) is now in scope, role is `DEV`

[2018-05-30 15:46] 0crat commented on #1064
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-30 15:51] proshin-roman commented on #841
@0crat refuse

[2018-05-30 15:51] proshin-roman commented on #843
@0crat refuse

[2018-05-30 15:51] proshin-roman commented on #758
@0crat refuse

[2018-05-30 15:52] 0crat commented on #841
@proshin-roman The user @proshin-roman[/z](https://www.0crat.com/u/proshin-roman) resigned from [#841](https://github.com/zerocracy/farm/issues/841), please stop working. Reason for job resignation: Order was cancelled

[2018-05-30 15:52] proshin-roman commented on #532
@0crat refuse

[2018-05-30 15:52] 0crat commented on #758
@proshin-roman The user @proshin-roman[/z](https://www.0crat.com/u/proshin-roman) resigned from [#758](https://github.com/zerocracy/farm/issues/758), please stop working. Reason for job resignation: Order was cancelled

[2018-05-30 15:53] 0crat commented on #532
@proshin-roman The user @proshin-roman[/z](https://www.0crat.com/u/proshin-roman) resigned from [#532](https://github.com/zerocracy/farm/issues/532), please stop working. Reason for job resignation: Order was cancelled

[2018-05-30 15:53] 0crat commented on #841
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-30 15:53] 0crat commented on #758
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-30 16:05] 0crat commented on #532
The job [#532](https://github.com/zerocracy/farm/issues/532) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1501621772); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-05-30 16:09] g4s8 commented on #902
@VsSekorin PR #1039 was merged, can we close?

[2018-05-30 16:29] krzyk commented on #402
@g4s8 please close this issue, changes in #1024 have been merged

[2018-05-30 18:31] g4s8 commented on #987
@yegor256 please look at #1065 PR, I think it may fix this error

[2018-05-30 20:09] t-izbassar commented on #556
@0crat refuse

[2018-05-30 20:10] 0crat commented on #556
@t-izbassar The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#556](https://github.com/zerocracy/farm/issues/556), please stop working. Reason for job resignation: Order was cancelled

[2018-05-30 20:14] 0crat commented on #556
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-05-31 04:48] 0pdd opened #1066 "FkBank.java:36-46: Implement method pay() that will write..."
The puzzle `565-02a276a9` from #565 has to be resolved:

https://github.com/zerocracy/farm/blob/1883c69b7d06a4d9343b17c2d7cf950851c40f63/src/main/java/com/zerocracy/pmo/banks/FkBank.java#L36-L46

The puzzle was created by Tolegen Izbassar on 22-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-05-31 04:48] 0pdd opened #1067 "FkBank.java:47-55: Implement method fee() that will write..."
The puzzle `565-1108b582` from #565 has to be resolved:

https://github.com/zerocracy/farm/blob/1883c69b7d06a4d9343b17c2d7cf950851c40f63/src/main/java/com/zerocracy/pmo/banks/FkBank.java#L47-L55

The puzzle was created by Tolegen Izbassar on 22-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-05-31 04:48] 0crat commented on #1066
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-31 04:48] 0crat commented on #1066
Job [#1066](https://github.com/zerocracy/farm/issues/1066) is now in scope, role is `DEV`

[2018-05-31 04:48] 0pdd opened #1068 "FkBank.java:56-59: Implement equals so that it conforms..."
The puzzle `566-492b5668` from #566 has to be resolved:

https://github.com/zerocracy/farm/blob/1883c69b7d06a4d9343b17c2d7cf950851c40f63/src/main/java/com/zerocracy/pmo/banks/FkBank.java#L56-L59

The puzzle was created by Tolegen Izbassar on 22-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-05-31 04:48] 0pdd opened #1069 "FkBank.java:60-62: Add FkBank to the Payroll under the..."
The puzzle `565-edf33878` from #565 has to be resolved:

https://github.com/zerocracy/farm/blob/1883c69b7d06a4d9343b17c2d7cf950851c40f63/src/main/java/com/zerocracy/pmo/banks/FkBank.java#L60-L62

The puzzle was created by Tolegen Izbassar on 22-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-05-31 04:49] 0pdd commented on #565
@g4s8 3 puzzles [#1066](https://github.com/zerocracy/farm/issues/1066), [#1067](https://github.com/zerocracy/farm/issues/1067), [#1069](https://github.com/zerocracy/farm/issues/1069) are still not solved.

[2018-05-31 04:49] 0pdd commented on #566
@yegor256 the puzzle [#1068](https://github.com/zerocracy/farm/issues/1068) is still not solved.

[2018-05-31 04:49] 0crat commented on #1067
Job [#1067](https://github.com/zerocracy/farm/issues/1067) is now in scope, role is `DEV`

[2018-05-31 04:49] 0crat commented on #1067
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-31 04:50] 0crat commented on #1069
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-31 04:50] 0crat commented on #1069
Job [#1069](https://github.com/zerocracy/farm/issues/1069) is now in scope, role is `DEV`

[2018-05-31 04:50] 0crat commented on #1068
Job [#1068](https://github.com/zerocracy/farm/issues/1068) is now in scope, role is `DEV`

[2018-05-31 04:50] 0crat commented on #1068
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-31 04:51] yegor256 commented on #808
@g4s8 thanks!

[2018-05-31 04:51] #808 closed

[2018-05-31 05:08] 0crat commented on #808
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-31 05:08] 0crat commented on #808
The job [#808](https://github.com/zerocracy/farm/issues/808) is now out of scope

[2018-05-31 05:11] t-izbassar commented on #565
@g4s8 skeleton added in #1040, puzzles created. Can you close this one?

[2018-05-31 05:12] 0pdd opened #1070 "TkViber.java:33-38: Implement TkViber. We should be able..."
The puzzle `939-5d35582c` from #939 has to be resolved:

https://github.com/zerocracy/farm/blob/ab8b578c737703ef9ac88af6ae689084023d4ab0/src/main/java/com/zerocracy/radars/viber/TkViber.java#L33-L38

The puzzle was created by Carlos Miranda on 09-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem i

[2018-05-31 05:13] 0pdd opened #1071 "VbBot.java:25-29: Implement Viber bot. We should be able..."
The puzzle `939-6d7b5358` from #939 has to be resolved:

https://github.com/zerocracy/farm/blob/ab8b578c737703ef9ac88af6ae689084023d4ab0/src/main/java/com/zerocracy/radars/viber/VbBot.java#L25-L29

The puzzle was created by Carlos Miranda on 09-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-05-31 05:13] 0crat commented on #1070
Job [#1070](https://github.com/zerocracy/farm/issues/1070) is now in scope, role is `DEV`

[2018-05-31 05:13] 0pdd opened #1072 "VbEvent.java:28-30: Implement VbEvent.Simple and..."
The puzzle `939-6bf607a5` from #939 has to be resolved:

https://github.com/zerocracy/farm/blob/ab8b578c737703ef9ac88af6ae689084023d4ab0/src/main/java/com/zerocracy/radars/viber/VbEvent.java#L28-L30

The puzzle was created by Carlos Miranda on 09-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem i

[2018-05-31 05:13] 0crat commented on #1070
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-31 05:13] 0pdd commented on #939
@yegor256 3 puzzles [#1070](https://github.com/zerocracy/farm/issues/1070), [#1071](https://github.com/zerocracy/farm/issues/1071), [#1072](https://github.com/zerocracy/farm/issues/1072) are still not solved.

[2018-05-31 05:13] 0crat commented on #1072
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-31 05:13] 0crat commented on #1072
Job [#1072](https://github.com/zerocracy/farm/issues/1072) is now in scope, role is `DEV`

[2018-05-31 05:14] 0crat commented on #1071
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: zerocracy/farm#1071, Action: `labeled`

[2018-05-31 05:14] 0crat commented on #1071
Job [#1071](https://github.com/zerocracy/farm/issues/1071) is now in scope, role is `DEV`

[2018-05-31 05:14] 0crat commented on #1071
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-31 05:53] 0crat commented on #556
The job [#556](https://github.com/zerocracy/farm/issues/556) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1510596210); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-05-31 06:09] carlosmiranda commented on #939
@yegor256 #1001 has been merged, can we close this now?

[2018-05-31 07:03] krzyk commented on #438
@g4s8 changes in #1025 have been merged, please close this issue

[2018-05-31 07:39] ypshenychka commented on #808
@0crat quality good

[2018-05-31 07:40] 0crat commented on #808
Order was finished, quality is "good": +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-31 07:40] 0crat commented on #808
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-05-31 07:53] g4s8 commented on #438
@krzyk thanks

[2018-05-31 07:53] #438 closed

[2018-05-31 07:54] g4s8 commented on #565
@t-izbassar thanks

[2018-05-31 07:54] #565 closed

[2018-05-31 08:09] 0crat commented on #438
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-31 08:10] 0crat commented on #438
The job [#438](https://github.com/zerocracy/farm/issues/438) is now out of scope

[2018-05-31 08:10] 0crat commented on #565
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-31 08:10] 0crat commented on #565
The job [#565](https://github.com/zerocracy/farm/issues/565) is now out of scope

[2018-05-31 08:12] 0crat commented on #733
The job [#733](https://github.com/zerocracy/farm/issues/733) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1510812979); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-05-31 08:19] ypshenychka commented on #438
@0crat quality good

[2018-05-31 08:19] ypshenychka commented on #565
@0crat quality good

[2018-05-31 09:01] t-izbassar commented on #831
@0crat refuse

[2018-05-31 09:01] 0crat commented on #831
@t-izbassar The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#831](https://github.com/zerocracy/farm/issues/831), please stop working. Reason for job resignation: Order was cancelled

[2018-05-31 09:03] 0crat commented on #831
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-05-31 09:06] 0crat commented on #767
The job [#767](https://github.com/zerocracy/farm/issues/767) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1510909966); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-05-31 10:45] g4s8 opened #1073 "Can't specify role on apply"
Person can't specify role when apply to a project, slack channel always says:

I think 0crat should say in channel what role person wants (or maybe few roles: `DEV REV`).

[2018-05-31 10:45] 0crat commented on #1073
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-31 13:39] yegor256 opened #1074 "Let's pay ZLD to developers"
Let's make it possible to pay ZLD to developers.

[2018-05-31 13:40] yegor256 commented on #1074
@0crat assign @g4s8

[2018-05-31 13:41] 0crat commented on #1074
@yegor256 The job [#1074](https://github.com/zerocracy/farm/issues/1074) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1511352796); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-05-31 13:42] 0crat commented on #1074
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-31 13:42] 0crat commented on #1074
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-31 15:59] g4s8 commented on #1074
@0crat waiting zerocracy/datum#334 to resolve

[2018-05-31 16:01] 0crat commented on #1074
@g4s8 The impediment for [#1074](https://github.com/zerocracy/farm/issues/1074) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-01 18:18] g4s8 opened #1076 "0crat re-charged the card automatically twice"
When project is running out of funds (< $64) 0crat re-charges the card twice automatically.

[2018-06-01 18:18] 0crat commented on #1076
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-01 18:48] paulodamaso commented on #802
@yegor256 It happened with me too: 0crat payed me $69,28 (id 9UA05728KT849524H) for some issues (yegor256/cactoos#877, yegor256/cactoos#868, yegor256/cactoos#876, yegor256/cactoos#880, yegor256/cactoos#874, llorllale/cactoos-matchers#8, yegor256/cactoos#901, yegor256/cactoos#866, harvest-foundation/telegram-bot#46, harvest-foundation/telegram-bot#4, sunsofterp/portal#56, harvest-foundation/telegra

[2018-06-01 20:27] olenagerasimova opened #1077 "Finished job was not removed from agenda"
There is a closed issue in my agenda. When the order was finished, 0crat tried to pay for it and failed, added points to my reputation, but did not remove the job from the agenda.

![image](https://user-images.githubusercontent.com/14931449/40861806-17990278-65f3-11e8-8ec7-fc79d768f948.png)

Now for status request of the job 0crat says

Please, feel free to contact me for any details.

[2018-06-01 20:27] 0crat commented on #1077
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-01 20:27] 0crat commented on #1077
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-02 11:53] #1058 closed

[2018-06-02 12:10] 0crat commented on #1058
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 12:10] 0crat commented on #1058
The job [#1058](https://github.com/zerocracy/farm/issues/1058) is now out of scope

[2018-06-02 14:16] g4s8 commented on #1076
@0crat in

[2018-06-02 14:16] 0crat commented on #1076
@g4s8 Job [#1076](https://github.com/zerocracy/farm/issues/1076) is now in scope, role is `DEV`

[2018-06-02 14:17] 0crat commented on #1076
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-02 15:05] g4s8 commented on #402
@krzyk thanks!

[2018-06-02 15:05] #402 closed

[2018-06-02 15:08] g4s8 commented on #387
@0crat refuse

[2018-06-02 15:09] 0crat commented on #387
@g4s8 The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#387](https://github.com/zerocracy/farm/issues/387), please stop working. Reason for job resignation: Order was cancelled

[2018-06-02 15:12] g4s8 commented on #387
@0crat status

[2018-06-02 15:12] 0crat commented on #387
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#387](https://github.com/zerocracy/farm/issues/387) is [in scope](http://www.zerocracy.com/policy.html#14) for 5mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not

[2018-06-02 15:13] g4s8 commented on #387
@0crat out

[2018-06-02 15:13] g4s8 commented on #387
@yegor256 looks like this task was already implemented in 8772d0962ac6e47f44a5222a88d5fcc3bd1c8a32 `copy_negative_points_to_mentor.groovy`, can you close it?

[2018-06-02 15:13] 0crat commented on #387
@g4s8 The job [#387](https://github.com/zerocracy/farm/issues/387) is now out of scope

[2018-06-02 15:16] g4s8 commented on #468
@yegor256 it's working now, thanks

[2018-06-02 15:16] #468 closed

[2018-06-02 15:17] g4s8 commented on #487
@0crat refuse

[2018-06-02 15:17] 0crat commented on #487
@g4s8 The user @caarlos0[/z](https://www.0crat.com/u/caarlos0) resigned from [#487](https://github.com/zerocracy/farm/issues/487), please stop working. Reason for job resignation: Order was cancelled

[2018-06-02 15:21] 0crat commented on #402
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-02 15:21] 0crat commented on #402
The job [#402](https://github.com/zerocracy/farm/issues/402) is now out of scope

[2018-06-02 15:22] g4s8 commented on #606
@llorllale does this bug still relevant? I think it was fixed already. Can we close this?

[2018-06-02 15:30] g4s8 commented on #622
@yegor256 does this task implemented in f7c9240, 84dc6f8 commits? Looks like it show some numbers in https://www.0crat.com/pulse

[2018-06-02 15:31] 0crat commented on #468
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 15:32] 0crat commented on #468
The job [#468](https://github.com/zerocracy/farm/issues/468) is now out of scope

[2018-06-02 15:45] g4s8 commented on #763
@amihaiemil policy was updated, see http://www.zerocracy.com/policy.html#12. Can we close this task?

[2018-06-02 15:48] amihaiemil commented on #763
@g4s8 sure, thanks

[2018-06-02 15:48] #763 closed

[2018-06-02 15:57] g4s8 commented on #902
@0crat out

[2018-06-02 15:57] 0crat commented on #902
@g4s8 GitHub issue is still open, won't close

[2018-06-02 16:04] 0crat commented on #763
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 16:04] 0crat commented on #763
The job [#763](https://github.com/zerocracy/farm/issues/763) is now out of scope

[2018-06-02 16:28] t-izbassar commented on #733
@0crat refuse

[2018-06-02 16:29] 0crat commented on #733
@t-izbassar The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#733](https://github.com/zerocracy/farm/issues/733), please stop working. Reason for job resignation: Order was cancelled

[2018-06-02 16:29] 0crat commented on #733
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-06-02 16:36] 0crat commented on #89
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-02 16:54] llorllale commented on #606
@g4s8 haven't had this issue again. Even forgot about it. Thanks

[2018-06-02 16:54] #606 closed

[2018-06-02 17:09] 0crat commented on #606
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 17:09] 0crat commented on #606
The job [#606](https://github.com/zerocracy/farm/issues/606) is now out of scope

[2018-06-02 19:00] yegor256 opened #1078 "IllegalStateException: java.lang.reflect.InvocationTargetException in com/zerocracy/stk/pm/staff/elections/elect_perform..."
https://sentry.io/zerocracy/farm/issues/530551984/

[code]

full stack:

[code]

[2018-06-02 19:00] 0crat commented on #1078
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-02 19:00] yegor256 commented on #1078
@g4s8 I believe it's critical, we are getting many of them now in production logs.

[2018-06-02 19:12] yegor256 commented on #831
@g4s8 this should be pretty simple. Just check if the HTTP query param is present. If it's not, return `RsText("param is mandatory")`. Otherwise, do what we do now.

[2018-06-02 20:38] g4s8 commented on #1078
@0crat assign me

[2018-06-02 20:39] 0crat commented on #1078
@g4s8 The job [#1078](https://github.com/zerocracy/farm/issues/1078) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1532043753); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-06-02 20:40] 0crat commented on #1078
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-02 20:40] 0crat commented on #1078
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-02 21:05] yegor256 commented on #875
@g4s8 thanks

[2018-06-02 21:05] #875 closed

[2018-06-02 21:20] 0crat commented on #875
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-02 21:20] 0crat commented on #875
The job [#875](https://github.com/zerocracy/farm/issues/875) is now out of scope

[2018-06-02 21:32] 0pdd opened #1079 "Zold.java:27-29: Zold payments are not implemented, we..."
The puzzle `1074-b36594a1` from #1074 has to be resolved:

https://github.com/zerocracy/farm/blob/1b5ead82abe0a440ee0d0415bf968cdd9284f13a/src/main/java/com/zerocracy/pmo/banks/Zold.java#L27-L29

The puzzle was created by rultor on 02-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and

[2018-06-02 21:32] 0pdd commented on #1074
@yegor256 the puzzle [#1079](https://github.com/zerocracy/farm/issues/1079) is still not solved.

[2018-06-02 21:33] 0crat commented on #1079
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-02 21:33] 0crat commented on #1079
Job [#1079](https://github.com/zerocracy/farm/issues/1079) is now in scope, role is `DEV`

[2018-06-02 21:45] g4s8 commented on #1074
@yegor256 PR #1075 was merged with puzzle #1079 to continue, can we close this job?

[2018-06-02 21:53] g4s8 opened #1080 "500 error on profile page in Firefox"
Profile page `/u/(username)` returns 500 error in Firefox, other pages (like `/agenda`, `/awards`) are working fine.
[code]

[2018-06-02 21:54] g4s8 commented on #1080
@0crat in

[2018-06-02 21:54] 0crat commented on #1080
@g4s8 Job [#1080](https://github.com/zerocracy/farm/issues/1080) is now in scope, role is `DEV`

[2018-06-02 21:55] 0crat commented on #1080
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-02 22:16] g4s8 commented on #1078
@yegor256 looks like task https://github.com/zerocracy/farm/issues/875 was not valid because we don't know estimate of the job before assign it to performer but we are trying to get estimate during election (before assign to performer)

[2018-06-03 05:49] ypshenychka commented on #402
@SilasReinagel According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/zerocracy/farm/issues/402#issuecomment-378439683) by indicating an addressee in the beginning. Let me know when you finish.

[2018-06-03 06:58] SilasReinagel commented on #402
@ypshenychka The previous message is not directed at a particular person.

[2018-06-03 18:38] yegor256 commented on #1078
@g4s8 we still have to fix this somehow and ASAP, since the entire election process is blocked now. Please, do something ASAP and then we'll discuss how to do it right.

[2018-06-03 20:28] g4s8 commented on #1078
@yegor256 disabled `RnkEstimates` to fix election: #1081

[2018-06-04 05:56] yegor256 commented on #939
@carlosmiranda thanks!

[2018-06-04 05:56] #939 closed

[2018-06-04 05:56] yegor256 commented on #1074
@g4s8 thanks

[2018-06-04 05:56] #1074 closed

[2018-06-04 05:58] yegor256 commented on #387
@0crat refuse

[2018-06-04 05:58] #387 closed

[2018-06-04 05:59] 0crat commented on #387
@yegor256 Job `gh:zerocracy/farm#387` is not assigned, can't get performer

[2018-06-04 06:12] yegor256 opened #1082 ""no funds" is not visible for under-paid projects in the board"
If a project has a negative balance, the Board doesn't say "no funds" but shows the balance in brackets. Let's fix that and say "no funds" when the balance is less or equal to zero.

[2018-06-04 06:12] 0crat commented on #1082
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-04 06:13] 0crat commented on #939
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-04 06:14] #613 closed

[2018-06-04 06:14] 0pdd commented on #613
The puzzle `474-ba887765` has disappeared from the source code, that's why I closed this issue.

[2018-06-04 06:14] 0pdd opened #1083 "pom.xml:621-623: Continue increasing coverages to reach..."
The puzzle `613-9bd5aca0` from #613 has to be resolved:

https://github.com/zerocracy/farm/blob/1af8ce10c81bac90fc866789d029ecfbf5bada84/pom.xml#L621-L623

The puzzle was created by Krzysztof Krason on 18-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _rem

[2018-06-04 06:14] 0pdd commented on #474
@fabriciofx the puzzle [#1083](https://github.com/zerocracy/farm/issues/1083) is still not solved; solved: [#613](https://github.com/zerocracy/farm/issues/613).

[2018-06-04 06:14] 0pdd commented on #613
@0pdd the puzzle [#1083](https://github.com/zerocracy/farm/issues/1083) is still not solved.

[2018-06-04 06:14] 0crat commented on #939
The job [#939](https://github.com/zerocracy/farm/issues/939) is now out of scope

[2018-06-04 06:15] 0crat commented on #1083
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-04 06:15] 0crat commented on #387
The job is not in WBS, won't close the order

[2018-06-04 06:15] 0crat commented on #1074
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-04 06:15] 0crat commented on #1074
The job [#1074](https://github.com/zerocracy/farm/issues/1074) is now out of scope

[2018-06-04 06:16] 0crat commented on #1083
Job [#1083](https://github.com/zerocracy/farm/issues/1083) is now in scope, role is `DEV`

[2018-06-04 06:33] 0crat commented on #613
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-04 06:33] 0crat commented on #613
The job [#613](https://github.com/zerocracy/farm/issues/613) is now out of scope

[2018-06-04 07:02] yegor256 commented on #1078
@g4s8 will you release?

[2018-06-04 08:39] 0crat commented on #487
The job [#487](https://github.com/zerocracy/farm/issues/487) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1550839064); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-06-04 08:41] g4s8 commented on #1078
@yegor256 [done](https://github.com/zerocracy/farm/pull/1081#issuecomment-394278024), election seems to be working now

[2018-06-04 08:42] 0crat commented on #733
The job [#733](https://github.com/zerocracy/farm/issues/733) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1550842203); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-04 08:44] 0crat commented on #768
The job [#768](https://github.com/zerocracy/farm/issues/768) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1550843293); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-04 08:44] yegor256 commented on #1078
@g4s8 thanks!

[2018-06-04 08:44] #1078 closed

[2018-06-04 08:46] 0crat commented on #770
The job [#770](https://github.com/zerocracy/farm/issues/770) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1550845386); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-04 08:56] g4s8 commented on #1082
@0crat in

[2018-06-04 08:56] 0crat commented on #1082
@g4s8 Job [#1082](https://github.com/zerocracy/farm/issues/1082) is now in scope, role is `DEV`

[2018-06-04 08:57] 0crat commented on #1082
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-04 09:02] 0crat commented on #1078
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-04 09:11] ypshenychka commented on #402
@SilasReinagel To avoid noise we should always address our comments. Please read this [article](https://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#4-avoid-noiseaddress-your-comments) and make appropriate correction. To my opinion, issue reporter or assigned person is the best addressee for your comment in this case.

[2018-06-04 09:15] ypshenychka commented on #613
@g4s8 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details to the registered [impediment](https://github.com/zerocracy/farm/issues/613#issuecomment-374131827).

[2018-06-04 09:17] ypshenychka commented on #939
@0crat quality good

[2018-06-04 09:21] 0crat commented on #939
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-04 09:21] 0crat commented on #939
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-04 10:56] yegor256 opened #1084 "IllegalStateException: [GET https://www.0crat.com/board] failed in 4s: ValidationException: Cannot convert string "$4419..."
https://sentry.io/zerocracy/farm/issues/570626312/

[code]

[2018-06-04 10:56] 0crat commented on #1084
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-04 10:57] yegor256 opened #1085 "IllegalStateException: [GET https://www.0crat.com/u/krzyk] failed in 727ms: net.sf.saxon.trans.XPathException: Cannot co..."
https://sentry.io/zerocracy/farm/issues/570581292/

[code]

[code]

[2018-06-04 10:57] 0crat commented on #1085
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-04 10:58] yegor256 opened #1086 "IllegalStateException: [GET https://www.0crat.com/u/g4s8] failed in 3ms: Task java.util.concurrent.FutureTask@131e1fb2 r..."
https://sentry.io/zerocracy/farm/issues/571429188/

[code]

[code]

[2018-06-04 10:58] 0crat commented on #1086
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-04 10:59] g4s8 commented on #1085
@yegor256 looks like a duplicate of #1080

[2018-06-04 11:08] krzyk opened #1087 "error on board page in firefox"
When I go to https://www.0crat.com/board I see:
[code]

Please make it work in firefox.

[2018-06-04 11:09] 0crat commented on #1087
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-04 11:09] #1087 closed

[2018-06-04 11:36] 0pdd opened #1088 "pom.xml:652-654: Groovy scripts are excluded from..."
The puzzle `747-d2018a51` from #747 has to be resolved:

https://github.com/zerocracy/farm/blob/e485549aa173362d9e8f12ccbc9264e929678fa7/pom.xml#L652-L654

The puzzle was created by g4s8 on 23-Apr-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _removed_ from t

[2018-06-04 11:36] 0pdd opened #1089 "_after.groovy:23-25: This test started to fail after..."
The puzzle `747-f5927788` from #747 has to be resolved:

https://github.com/zerocracy/farm/blob/e485549aa173362d9e8f12ccbc9264e929678fa7/src/test/resources/com/zerocracy/bundles/not_assign_task_to_reporter/_after.groovy#L23-L25

The puzzle was created by g4s8 on 04-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done"

[2018-06-04 11:36] 0pdd commented on #747
@t-izbassar 2 puzzles [#1088](https://github.com/zerocracy/farm/issues/1088), [#1089](https://github.com/zerocracy/farm/issues/1089) are still not solved.

[2018-06-04 11:36] 0crat commented on #1088
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-04 11:37] 0crat commented on #1089
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-04 11:37] 0crat commented on #1088
Job [#1088](https://github.com/zerocracy/farm/issues/1088) is now in scope, role is `DEV`

[2018-06-04 11:37] 0crat commented on #1089
Job [#1089](https://github.com/zerocracy/farm/issues/1089) is now in scope, role is `DEV`

[2018-06-04 11:43] 0crat commented on #773
The job [#773](https://github.com/zerocracy/farm/issues/773) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1551150164); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-04 11:45] 0crat commented on #783
The job [#783](https://github.com/zerocracy/farm/issues/783) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1551152295); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-04 11:48] 0crat commented on #758
The job [#758](https://github.com/zerocracy/farm/issues/758) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1551154390); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-04 11:50] 0crat commented on #831
The job [#831](https://github.com/zerocracy/farm/issues/831) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1551157535); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-04 11:58] 0crat commented on #841
The job [#841](https://github.com/zerocracy/farm/issues/841) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1551164781); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-04 12:39] g4s8 commented on #747
@t-izbassar groovy scripts were moved to `src/main/groovy`, can we close?

[2018-06-04 12:54] t-izbassar commented on #747
@g4s8 sure, thanks.

[2018-06-04 12:54] #747 closed

[2018-06-04 13:11] 0crat commented on #747
Order was finished: +60 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-04 13:11] 0crat commented on #747
The job [#747](https://github.com/zerocracy/farm/issues/747) is now out of scope

[2018-06-04 13:14] g4s8 opened #1090 "Estimates rank was disabled"
We've added `RnkEstimates` in #875 to put most expensive task on the top, but it was disabled in #1081 because we don't know task estimate before assign it to performer. How task is expensive depends on performers rate,  so we can't say estimate without certain performer.

I think we have two ways here:
1. remove `RnkEstimates` and keep election process as is
2. use time for estimates instead of c

[2018-06-04 13:19] 0crat commented on #1077
@g4s8 Job [#1077](https://github.com/zerocracy/farm/issues/1077) is now in scope, role is `DEV`

[2018-06-04 13:20] 0crat commented on #1077
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2018-06-04 13:37] 0crat commented on #987
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-04 13:49] g4s8 commented on #987
@yegor256 does #1065 PR solve this issue? Sentry says that last error was on 31 may.

[2018-06-04 14:10] 0pdd commented on #1006
The puzzle `715-1243e0dc` has disappeared from the source code, that's why I closed this issue.

[2018-06-04 14:10] #1006 closed

[2018-06-04 14:10] 0pdd commented on #715
@amihaiemil the only puzzle [#1006](https://github.com/zerocracy/farm/issues/1006) is solved here.

[2018-06-04 14:28] 0crat commented on #1006
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-04 14:29] 0crat commented on #1006
The job [#1006](https://github.com/zerocracy/farm/issues/1006) is now out of scope

[2018-06-04 17:18] krzyk opened #1093 "Few issues with builds"
1. In PR https://github.com/zerocracy/farm/pull/1027 I noticed that pdd validation and XML formatting (using xcop) is not performed in travis nor appveyor builds.

2. In rultor config architects section g4s8 should be first, so rultor won't spam Yegor with merge confirmations.

3. MaxPermSize should be removed from all builds (rultor, Travis,  appveyor).

[2018-06-04 17:18] 0crat commented on #1093
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-04 17:50] yegor256 commented on #1085
@g4s8 right, sorry

[2018-06-04 17:50] #1085 closed

[2018-06-04 17:51] yegor256 commented on #987
@g4s8 I think it did solve it, many thanks!

[2018-06-04 17:51] #987 closed

[2018-06-04 18:07] 0crat commented on #1085
The job is not in WBS, won't close the order

[2018-06-04 18:14] 0crat commented on #987
Order was finished: +90 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-04 18:14] 0crat commented on #987
The job [#987](https://github.com/zerocracy/farm/issues/987) is now out of scope

[2018-06-04 18:56] ypshenychka commented on #1006
@proshin-roman According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please provide more details in registered [impediment](https://github.com/zerocracy/farm/issues/1006#issuecomment-390425401).

[2018-06-04 18:59] ypshenychka commented on #402
@SilasReinagel Issue reporter, issue solver, project architect - all these people can be addressed with your comment and it will make sense.

[2018-06-04 19:12] g4s8 commented on #1050
@0crat in

[2018-06-04 19:14] 0crat commented on #1050
@g4s8 Job [#1050](https://github.com/zerocracy/farm/issues/1050) is now in scope, role is `DEV`

[2018-06-04 19:18] 0crat commented on #1050
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-04 19:48] yegor256 commented on #622
@g4s8 yes, the numbers are there, but we should show the moving graph, like it works in www.rultor.com

[2018-06-04 19:58] g4s8 commented on #622
@yegor256 maybe it's time to close this ticket and submit a new one (or add `@todo`) to implement a graph?

[2018-06-04 20:04] yegor256 commented on #622
@g4s8 yeah, right

[2018-06-04 20:04] #622 closed

[2018-06-04 20:26] 0crat commented on #622
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-04 20:26] 0crat commented on #622
The job [#622](https://github.com/zerocracy/farm/issues/622) is now out of scope

[2018-06-04 20:37] proshin-roman commented on #1006
@ypshenychka hm, it looks like there is a bug in the Policy: it doesn't define any constraints for the DEV about a reason of impediments, but QA rules define such a constraint. About this specific ticket: I put it to waiting just because I wasn't able to finish it in 10 days.

[2018-06-05 00:36] 0crat commented on #601
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-05 00:36] 0crat commented on #532
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-05 03:07] carlosmiranda commented on #601
@0crat wait, busy on other tasks

[2018-06-05 03:07] 0crat commented on #601
@carlosmiranda Can't understand "wait,", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status

[2018-06-05 03:08] carlosmiranda commented on #532
@0crat wait, busy on other tasks

[2018-06-05 03:09] carlosmiranda commented on #532
@0crat wait for completion, busy on other tasks

[2018-06-05 03:09] carlosmiranda commented on #601
@0crat wait I'm busy on other tasks

[2018-06-05 03:09] 0crat commented on #532
@carlosmiranda The impediment for [#532](https://github.com/zerocracy/farm/issues/532) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-05 03:10] 0crat commented on #601
@carlosmiranda The impediment for [#601](https://github.com/zerocracy/farm/issues/601) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-05 06:36] ypshenychka commented on #1006
@proshin-roman Good, thanks. Feel free to submit an issue if you see any.

[2018-06-05 06:36] ypshenychka commented on #1006
@0crat quality acceptable

[2018-06-05 06:38] 0crat commented on #1006
Order was finished, quality is "acceptable": +30 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-05 06:43] amihaiemil commented on #733
@carlosmiranda Is the change in assign_role.groovy still there? I think the Github ``User`` logic has been moved somewhere else.

You could modify ``assign_role.groovy`` locally as I did [here](https://github.com/amihaiemil/farm/commit/dbb6001b0c217574d0b6734d0671304767e8bbc3#diff-6b470f91f81f74907161407bc05e83b3), run the build and check the logs. Did you do that?

[2018-06-05 07:46] proshin-roman commented on #843
@0crat wait for #1095

[2018-06-05 07:46] 0crat commented on #843
@proshin-roman The user @proshin-roman[/z](https://www.0crat.com/u/proshin-roman) resigned from [#843](https://github.com/zerocracy/farm/issues/843), please stop working. Reason for job resignation: Order was cancelled

[2018-06-05 07:47] 0crat commented on #843
@proshin-roman Job [#843](https://github.com/zerocracy/farm/issues/843) is not assigned, can't put it on hold

[2018-06-05 07:47] 0crat commented on #843
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-05 07:48] proshin-roman commented on #559
@0crat refuse

[2018-06-05 07:49] proshin-roman commented on #721
@0crat refuse

[2018-06-05 07:49] 0crat commented on #559
@proshin-roman The user @proshin-roman[/z](https://www.0crat.com/u/proshin-roman) resigned from [#559](https://github.com/zerocracy/farm/issues/559), please stop working. Reason for job resignation: Order was cancelled

[2018-06-05 07:49] 0crat commented on #721
@proshin-roman The user @proshin-roman[/z](https://www.0crat.com/u/proshin-roman) resigned from [#721](https://github.com/zerocracy/farm/issues/721), please stop working. Reason for job resignation: Order was cancelled

[2018-06-05 07:49] 0crat commented on #559
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-05 07:50] 0crat commented on #721
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-05 08:37] 0crat commented on #556
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-05 08:38] carlosmiranda commented on #556
@0crat wait , I'm working on this right now

[2018-06-05 08:38] 0crat commented on #556
@carlosmiranda The impediment for [#556](https://github.com/zerocracy/farm/issues/556) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-05 09:00] proshin-roman commented on #843
@g4s8 Could you assign this ticket back to me, please? So that I can continue with the pull request (it needs a few adjustments). I've refused the ticket myself, but 0crat didn't react to it and then I continued working on this ticket by mistake. Now the pull request is already submitted, but 0crat refused the ticket.

[2018-06-05 09:21] 0pdd opened #1096 "update_verbosity.groovy:35-37: Commit messages are not..."
The puzzle `783-b88b1a6d` from #783 has to be resolved:

https://github.com/zerocracy/farm/blob/74e3b0828f4d3d0a591091ab98a5347581f767fc/src/main/groovy/com/zerocracy/stk/pm/in/orders/update_verbosity.groovy#L35-L37

The puzzle was created by g4s8 on 04-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pr

[2018-06-05 09:21] 0pdd commented on #535
@yegor256 the puzzle [#1096](https://github.com/zerocracy/farm/issues/1096) is still not solved; solved: [#783](https://github.com/zerocracy/farm/issues/783).

[2018-06-05 09:21] 0pdd commented on #783
@0pdd the puzzle [#1096](https://github.com/zerocracy/farm/issues/1096) is still not solved.

[2018-06-05 09:22] 0crat commented on #1096
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-05 09:22] 0crat commented on #1096
Job [#1096](https://github.com/zerocracy/farm/issues/1096) is now in scope, role is `DEV`

[2018-06-05 09:37] 0crat commented on #767
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-05 09:41] 0crat commented on #783
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-05 09:41] 0crat commented on #783
The job [#783](https://github.com/zerocracy/farm/issues/783) is now out of scope

[2018-06-05 09:43] 0crat commented on #843
The job [#843](https://github.com/zerocracy/farm/issues/843) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1560942954); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-05 10:00] g4s8 commented on #843
@0crat assign @proshin-roman

[2018-06-05 10:04] 0crat commented on #843
@g4s8 The job [#843](https://github.com/zerocracy/farm/issues/843) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1561003363); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2018-06-05 10:05] 0crat commented on #843
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-05 10:09] 0crat commented on #903
The job [#903](https://github.com/zerocracy/farm/issues/903) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1561009545); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-05 10:15] amihaiemil commented on #758
@g4s8 nice, thanks :)

[2018-06-05 10:15] #758 closed

[2018-06-05 10:37] 0crat commented on #758
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-05 10:37] 0crat commented on #758
The job [#758](https://github.com/zerocracy/farm/issues/758) is now out of scope

[2018-06-05 19:27] 0crat commented on #402
Order was finished, quality is "acceptable": +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-05 19:27] 0crat commented on #402
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-05 19:28] g4s8 commented on #613
@ypshenychka sorry, but I didn't remember what I was waiting for on 19 March

[2018-06-05 19:30] 0crat commented on #879
The job [#879](https://github.com/zerocracy/farm/issues/879) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1561945186); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-05 19:35] ypshenychka commented on #613
@g4s8 Ok. Next time please add those details right away so we could keep track of such things.

[2018-06-05 19:35] ypshenychka commented on #613
@0crat quality acceptable

[2018-06-05 19:39] 0crat commented on #613
Order was finished, quality is "acceptable": +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-05 19:39] 0crat commented on #613
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-05 19:57] g4s8 opened #1098 "Pulse graph"
We need pulse graph similar to http://www.rultor.com/ as discussed in https://github.com/zerocracy/farm/issues/622#issuecomment-394476343

`/pulse` endpoint is already implemented in #622

[2018-06-05 19:58] g4s8 commented on #1098
@0crat in

[2018-06-05 19:58] 0crat commented on #1098
@g4s8 Job [#1098](https://github.com/zerocracy/farm/issues/1098) is now in scope, role is `DEV`

[2018-06-05 20:00] 0crat commented on #1098
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-05 20:03] 0crat commented on #908
The job [#908](https://github.com/zerocracy/farm/issues/908) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1562019158); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-05 20:05] 0crat commented on #911
The job [#911](https://github.com/zerocracy/farm/issues/911) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1562022245); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-05 20:07] 0crat commented on #926
The job [#926](https://github.com/zerocracy/farm/issues/926) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1562023321); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-05 20:09] 0crat commented on #942
The job [#942](https://github.com/zerocracy/farm/issues/942) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1562025418); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-05 20:11] 0crat commented on #956
The job [#956](https://github.com/zerocracy/farm/issues/956) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1562028507); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-05 20:13] 0crat commented on #963
The job [#963](https://github.com/zerocracy/farm/issues/963) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1562030608); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-05 20:15] 0crat commented on #971
The job [#971](https://github.com/zerocracy/farm/issues/971) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1562031700); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-05 20:18] 0crat commented on #989
The job [#989](https://github.com/zerocracy/farm/issues/989) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1562035850); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-05 20:24] g4s8 opened #1099 "Crop speed of delivery"
In length of time speed of delivery barely affected by new tasks, e.g. if user have not good speed for a while, and wants to improve it, he have to spend a lot of time to change current value. I think speed metric should be implemented similar to reputation: remove entries from `speed.xml` which are older than 90 days.
@yegor256 what do you think about it?

[2018-06-06 04:33] yegor256 commented on #1099
@g4s8 definitely

[2018-06-06 04:34] yegor256 commented on #1099
@g4s8 the same for all other metrics (don't forget to update the Policy)

[2018-06-06 04:36] yegor256 opened #1100 "auto-assign REV role"
When PO/ARC assigns DEV role to someone, we should automatically assign REV role too. And notify the PO (in the same message we are sending now) that if this is not what they wanted, they can immediately say `resign REV`. In most cases we do need developers to be reviewers too. Let's make it easier.

[2018-06-06 04:36] 0crat commented on #1100
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-06 06:04] amihaiemil opened #1101 "0crat tries to assign Issue twice"
Starting recently, if I manually assign myself, 0crat tries to do the assignment twice and complains:

https://github.com/amihaiemil/docker-java-api/issues/130#event-1665288352

[2018-06-06 06:04] 0crat commented on #1101
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-06 06:06] amihaiemil opened #1102 "0crat should not add job to WBS and create order if issue is already closed"
If 0crat is down for whatever reason, and an Issue gets opened and closed in the meantime, then 0crat should not act upon it at all -- it should only try to do a payment to the Github assignee and complain to the ARC (so they can do it manually) if this is not possible.

Check out [this](https://github.com/amihaiemil/docker-java-api/issues/123) behaviour. Not only 0crat started working upon the Is

[2018-06-06 06:06] 0crat commented on #1102
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-06 07:21] carlosmiranda commented on #768
@0crat wait for merge of PR #1103

[2018-06-06 07:29] g4s8 commented on #1102
@amihaiemil it's a bug, I think 0crat should not add job to WBS and create order if issue was closed before.

[2018-06-06 07:31] g4s8 commented on #1102
@amihaiemil could you please change title to make this bug more specific?

[2018-06-06 07:32] g4s8 commented on #1101
@0crat in

[2018-06-06 07:32] 0crat commented on #1101
@g4s8 Job [#1101](https://github.com/zerocracy/farm/issues/1101) is now in scope, role is `DEV`

[2018-06-06 07:32] g4s8 commented on #1100
@0crat in

[2018-06-06 07:32] g4s8 commented on #1099
@0crat in

[2018-06-06 07:35] 0crat commented on #1101
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-06 07:35] 0crat commented on #1099
@g4s8 Job [#1099](https://github.com/zerocracy/farm/issues/1099) is now in scope, role is `DEV`

[2018-06-06 07:35] 0crat commented on #1100
@g4s8 Job [#1100](https://github.com/zerocracy/farm/issues/1100) is now in scope, role is `DEV`

[2018-06-06 07:35] amihaiemil commented on #1102
@g4s8 I think it is already implemented, I saw the message "Order is not in WBS, won't start" in the past (or something similar)... maybe the mechanism is broken

[2018-06-06 07:36] g4s8 commented on #1102
@0crat in

[2018-06-06 07:37] 0crat commented on #1099
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-06 07:37] 0crat commented on #1100
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-06 07:38] 0crat commented on #1102
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-06 07:43] g4s8 commented on #185
@amihaiemil how it's going here? I suppose #819 was fixed already

[2018-06-06 07:47] amihaiemil commented on #185
@g4s8 Right, it's been a while since I did DEV work on /farm (I was busy with my projects), but I want to start again.

I will make a PR for this tonight, with the scaffolding. If you think it's urgent, I can ressign so you assign someone else.

[2018-06-06 07:47] g4s8 commented on #412
@0crat refuse

[2018-06-06 07:48] 0crat commented on #412
@g4s8 The user @neonailol[/z](https://www.0crat.com/u/neonailol) resigned from [#412](https://github.com/zerocracy/farm/issues/412), please stop working. Reason for job resignation: Order was cancelled

[2018-06-06 07:50] g4s8 commented on #185
@amihaiemil it's not urgent, just wanted to remind that such ticket exist ;)

[2018-06-06 08:08] 0pdd commented on #768
The puzzle `400-1ca94fd4` has disappeared from the source code, that's why I closed this issue.

[2018-06-06 08:08] #768 closed

[2018-06-06 08:08] 0pdd commented on #400
@g4s8 3 puzzles [#765](https://github.com/zerocracy/farm/issues/765), [#766](https://github.com/zerocracy/farm/issues/766), [#767](https://github.com/zerocracy/farm/issues/767) are still not solved; solved: [#768](https://github.com/zerocracy/farm/issues/768).

[2018-06-06 09:10] ypshenychka commented on #768
@0crat quality good

[2018-06-06 09:15] 0crat commented on #768
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-06 09:15] 0crat commented on #768
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-06 12:12] scriptnull opened #1104 "§1 is not hyperlinked in the warning message"
When a user logs in for the first time without being invited, a warning is shown like this

![image](https://user-images.githubusercontent.com/4211715/41036860-14a5ef76-69af-11e8-8dd9-4543d3b75460.png)

It says "You (@scriptnull) must be invited to us by someone we already know, see §1" . Users who haven't visited http://www.zerocracy.com/policy.html page would be wondering what §1 is.

So, I sugg

[2018-06-06 12:12] 0crat commented on #1104
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-06 12:12] 0crat commented on #1104
@scriptnull[/z](https://www.0crat.com/u/scriptnull) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-06 22:30] 0pdd commented on #843
The puzzle `422-1711e986` has disappeared from the source code, that's why I closed this issue.

[2018-06-06 22:30] #843 closed

[2018-06-06 22:31] 0pdd opened #1105 "package-info.java:24-29: Title element, of an order in..."
The puzzle `843-976686f8` from #843 has to be resolved:

https://github.com/zerocracy/farm/blob/f4350ca4cdd40f242e4bf06d942193cadd476c6e/src/main/groovy/com/zerocracy/stk/package-info.java#L24-L29

The puzzle was created by Roman Proshin on 04-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is f

[2018-06-06 22:31] 0pdd commented on #422
@g4s8 the puzzle [#1105](https://github.com/zerocracy/farm/issues/1105) is still not solved; solved: [#843](https://github.com/zerocracy/farm/issues/843).

[2018-06-06 22:31] 0pdd commented on #843
@0pdd the puzzle [#1105](https://github.com/zerocracy/farm/issues/1105) is still not solved.

[2018-06-06 22:31] 0crat commented on #1105
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-06 22:33] 0crat commented on #1105
Job [#1105](https://github.com/zerocracy/farm/issues/1105) is now in scope, role is `DEV`

[2018-06-06 22:48] 0crat commented on #843
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-06 22:48] 0crat commented on #843
The job [#843](https://github.com/zerocracy/farm/issues/843) is now out of scope

[2018-06-06 22:50] 0crat commented on #559
The job [#559](https://github.com/zerocracy/farm/issues/559) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1572277919); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-07 00:43] carlosmiranda commented on #601
@g4s8 see PR #1106

[2018-06-07 00:44] carlosmiranda commented on #601
@0crat wait for merge of PR #1106

[2018-06-07 00:44] 0crat commented on #601
@carlosmiranda Job [#601](https://github.com/zerocracy/farm/issues/601) is already on hold

[2018-06-07 06:27] ypshenychka commented on #843
@proshin-roman According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details to the registered [impediment](https://github.com/zerocracy/farm/issues/843#issuecomment-394614351).

[2018-06-07 08:10] g4s8 commented on #831
@yegor256 this exception was reproduced and fixed in #1097 PR, can we close?

[2018-06-07 08:19] g4s8 commented on #601
@carlosmiranda thanks

[2018-06-07 08:19] #601 closed

[2018-06-07 08:35] 0crat commented on #601
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-07 08:35] 0crat commented on #601
The job [#601](https://github.com/zerocracy/farm/issues/601) is now out of scope

[2018-06-07 08:38] 0crat commented on #721
The job [#721](https://github.com/zerocracy/farm/issues/721) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1580842610); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-07 10:05] ypshenychka commented on #601
@0crat quality good

[2018-06-07 10:07] 0crat commented on #601
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-07 10:07] 0crat commented on #601
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-07 10:52] proshin-roman commented on #843
@ypshenychka I had to set impediment just because I couldn't resolve the issue in 10 days. But anyway the impediment was not registered by 0crat.

[2018-06-07 11:36] ypshenychka commented on #843
@proshin-roman Link is good, but there is no reason said what exactly are you waiting in PR. E.g. "wait for #1095 to be reviewed\merged etc." or any other valid reason.

[2018-06-07 11:37] proshin-roman commented on #843
@ypshenychka ok, I see you - going to fix the message then.

[2018-06-07 12:50] amihaiemil commented on #185
@g4s8 Where are the ``.groovy`` stakeholders gone? I can't find them anywhere bellow ``src/main/resources``. My IDE also doesn't find anything when I search for ``*.groovy``.

[2018-06-07 13:18] g4s8 commented on #185
@amihaiemil groovy files were moved to `src/main/groovy`, see: #949

[2018-06-07 13:28] amihaiemil commented on #185
@g4s8 I see, thanks

[2018-06-07 14:02] ypshenychka commented on #843
@proshin-roman Thank you!

[2018-06-07 14:02] ypshenychka commented on #843
@0crat quality acceptable

[2018-06-07 14:05] 0crat commented on #843
Order was finished, quality is "acceptable": +30 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-07 14:05] 0crat commented on #843
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-07 14:37] carlosmiranda commented on #721
@amihaiemil see PR #1108

[2018-06-07 14:37] carlosmiranda commented on #721
@0crat wait for merge of PR #1108

[2018-06-07 14:37] 0crat commented on #721
@carlosmiranda The impediment for [#721](https://github.com/zerocracy/farm/issues/721) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-07 15:18] g4s8 commented on #870
@amihaiemil ping, please see https://github.com/zerocracy/farm/issues/870#issuecomment-376179361

[2018-06-07 15:28] g4s8 commented on #655
@yegor256 @amihaiemil what to you think about Heroku [pipelines](https://devcenter.heroku.com/articles/pipelines)? We can deploy from here to staging server and then promote to production in one click.

[2018-06-07 15:28] amihaiemil commented on #870
@yegor256 Yes, I think we're good for a start. Thanks!

[2018-06-07 15:28] #870 closed

[2018-06-07 15:29] amihaiemil commented on #655
@g4s8 Sounds good to me :)

[2018-06-07 15:38] amihaiemil opened #1109 "Rafactor/implement data animators properly"
``/farm`` works with XML files and thus we have a lot of classes, such as ``Claims``, ``Rates``, ``Milestones`` etc, which have procedural methods that parse the raw XML (as it is read by the ``Item item()`` method).

Usually, the methods are somewhat CRUD + iteration. The trouble is that we do not have animators for a single ``Claim``, a single ``Milestone`` etc. Thus, data is lost (for instance

[2018-06-07 15:38] 0crat commented on #1109
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-07 15:43] g4s8 opened #1110 "Impediments graph"
There are a lot of impediments which registered without any reason, just `waiting`.
I think we can toughen the rule: allow to register impediment only for task in scope, e.g. if performer is waiting for PR review he can say `waiting for #pr` or if waiting for documentation he can submit a ticket in project to get put it into WBS and then say `waiting for #issue`.
It will help to fit [QA rules](htt

[2018-06-07 15:44] 0crat commented on #870
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-07 15:44] 0crat commented on #870
The job [#870](https://github.com/zerocracy/farm/issues/870) is now out of scope

[2018-06-07 15:50] proshin-roman commented on #89
@0crat wait - I was too busy with other tasks and now need one more day to resolve this one task.

[2018-06-07 15:50] 0crat commented on #89
@proshin-roman The impediment for [#89](https://github.com/zerocracy/farm/issues/89) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-07 16:03] g4s8 commented on #678
@ypshenychka @yegor256 it was temporary failure or this bug needs to be investigated?

[2018-06-07 16:06] g4s8 commented on #762
@amihaiemil could you clarify please what payment bug are you waiting here https://github.com/zerocracy/farm/issues/762#issuecomment-387299664?

[2018-06-07 16:10] g4s8 commented on #902
@yegor256 can you close this please? @VsSekorin is not responding

[2018-06-07 16:10] amihaiemil commented on #762
@g4s8 There was that time when I didn't get paid for a job in ``/portal`` project (if you remember, you paid me manually).

This is actually funny, since bugs in ``0crat`` could potentially put on hold all the projects on the platform...

[2018-06-07 16:46] ypshenychka commented on #678
@g4s8 Issue didn't appear anymore.

[2018-06-07 18:55] amihaiemil commented on #1110
@g4s8 If I may intervene:

I wouldn't add any more restrictions/punishments to 0crat since it already is quite restrictive.
It has a few loopholes, which are good, they "let the steam off"... some of them are so obvious that I wonder if Yegor allowed them on purpose. The point is, I wouldn't remove these loopholes because then it would become quite inbarrable, it will make people lose all motivati

[2018-06-07 19:05] amihaiemil opened #1112 "XPathException on profile page"
If I try to access ``0crat.com/u/amihaiemil`` (I am logged in), I get:

[code]

Browser: Firefox (latest version)
OS: macOS

I know there are compatibility issues and only Chrome works well, but the issues were about UI rendering, I've never seen Java exceptions until now.

[2018-06-07 19:05] 0crat commented on #1112
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-07 19:07] g4s8 commented on #1112
@amihaiemil it's duplicate of #1080

[2018-06-07 19:13] amihaiemil commented on #1112
@g4s8 sorry, didn't notice

[2018-06-07 19:13] #1112 closed

[2018-06-07 19:19] g4s8 commented on #1110
@amihaiemil it can be not so restrictive, the idea is to make a graph of impediments to analyze it. I looked at Zerocracy WBS and wondered how many tasks are waiting for nothing (performer puts `waiting` without reason),
and I can't see which tasks are blocked by another task or vice versa.

What about CR rules, you are speaking about "good quality" rules: if you find 3 defects - you will get 5 mi

[2018-06-07 19:22] g4s8 commented on #1080
@0crat assign @krzyk

[2018-06-07 19:29] 0crat commented on #1112
Job `gh:zerocracy/farm#1112` is not assigned, can't get performer

[2018-06-07 19:29] 0crat commented on #1112
The job is not in WBS, won't close the order

[2018-06-07 19:29] amihaiemil opened #1113 "Blanks is not used"
There is the ``Blanks`` metric which is incremented in the ``close_job.groovy``, but is otherwise not used anywhere else (I imagine there should be a voter that should use it in the election process). There is also no puzzle or open Issue for continuing implementation.

[2018-06-07 19:29] 0crat commented on #1113
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-07 19:39] g4s8 commented on #1113
@amihaiemil right. @yegor256 how does `blanks.xml` supposed to be used? It was reported  in #536 without usage details.

[2018-06-07 20:05] g4s8 commented on #1105
@0crat assign @paulodamaso

[2018-06-07 20:06] 0crat commented on #1105
@g4s8 The job [#1105](https://github.com/zerocracy/farm/issues/1105) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1582018399); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-06-07 20:06] 0crat commented on #1105
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-07 20:07] amihaiemil commented on #765
@0pdd refuse

[2018-06-07 20:07] amihaiemil commented on #766
@0crat refuse

[2018-06-07 20:07] amihaiemil commented on #360
@0crat refuse

[2018-06-07 20:08] 0crat commented on #766
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#766](https://github.com/zerocracy/farm/issues/766), please stop working. Reason for job resignation: Order was cancelled

[2018-06-07 20:08] 0crat commented on #766
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-07 20:11] amihaiemil commented on #765
@0crat refuse

[2018-06-07 20:12] 0crat commented on #765
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#765](https://github.com/zerocracy/farm/issues/765), please stop working. Reason for job resignation: Order was cancelled

[2018-06-07 20:12] 0crat commented on #765
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-07 20:18] amihaiemil opened #1116 "Bug in Ledger.deficit()?"
According to [this if()](https://github.com/zerocracy/farm/blob/master/src/main/groovy/com/zerocracy/stk/pm/in/orders/resign_on_delay.groovy#L22) in ``resign_on_delay.groovy``, the delay rule should not apply for non-funded projects.

However, it happened several times in one of my non-funded projects, in the past 1-2 months. For instance: https://github.com/amihaiemil/docker-java-api/issues/77#is

[2018-06-07 20:18] 0crat commented on #1116
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-07 20:29] g4s8 commented on #1116
@amihaiemil right, looks like a bug in the logic in `resign_on_delay.groovy`, it should check for `ledger.cash() > 0` instead of `ledger.deficit()`, because deficit is set only when estimates are greater than cash:
[code]
I suppose your project doesn't have this `locked` cash, so it's always no deficit.

[2018-06-07 20:29] g4s8 commented on #1116
@0crat in

[2018-06-07 20:29] 0crat commented on #1116
@g4s8 Job [#1116](https://github.com/zerocracy/farm/issues/1116) is now in scope, role is `DEV`

[2018-06-07 20:30] 0crat commented on #1116
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-08 09:32] g4s8 commented on #1104
@0crat in

[2018-06-08 09:32] 0crat commented on #1104
@g4s8 Job [#1104](https://github.com/zerocracy/farm/issues/1104) is now in scope, role is `DEV`

[2018-06-08 09:33] 0crat commented on #1104
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @scriptnull[/z](https://www.0crat.com/u/scriptnull)

[2018-06-08 14:02] yegor256 commented on #902
@g4s8 sure

[2018-06-08 14:02] #902 closed

[2018-06-08 14:15] 0crat commented on #412
The job [#412](https://github.com/zerocracy/farm/issues/412) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1591424152); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-08 14:17] 0crat commented on #765
The job [#765](https://github.com/zerocracy/farm/issues/765) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1591426238); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-08 14:19] 0crat commented on #902
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-08 14:19] 0crat commented on #902
The job [#902](https://github.com/zerocracy/farm/issues/902) is now out of scope

[2018-06-08 14:21] 0crat commented on #766
The job [#766](https://github.com/zerocracy/farm/issues/766) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1591430393); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-08 14:23] 0crat commented on #820
The job [#820](https://github.com/zerocracy/farm/issues/820) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1591432480); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-08 14:28] 0crat commented on #896
The job [#896](https://github.com/zerocracy/farm/issues/896) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1591438739); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-08 15:46] 0crat commented on #1088
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#1088](https://github.com/zerocracy/farm/issues/1088), please stop working. Reason for job resignation: Order was cancelled

[2018-06-08 15:48] 0crat commented on #1088
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-08 15:56] g4s8 commented on #911
@0crat waiting for zerocracy/datum#347 to resolve

[2018-06-08 15:58] 0crat commented on #911
@g4s8 The impediment for [#911](https://github.com/zerocracy/farm/issues/911) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-08 16:00] g4s8 commented on #908
@0crat waiting PR #1111 to merge

[2018-06-08 16:04] g4s8 commented on #989
@0crat waiting PR #1118 to merge

[2018-06-08 16:05] 0crat commented on #989
@g4s8 The impediment for [#989](https://github.com/zerocracy/farm/issues/989) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-08 16:06] 0crat commented on #908
@g4s8 The impediment for [#908](https://github.com/zerocracy/farm/issues/908) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-08 16:41] yegor256 opened #1119 "Let's send ZLD to all project sponsors"
Every time a project gets funds lets send ZLD to the person who paid us. To do that you just make an HTTPS PUT request to `https://wts.zold.io/send` with these query params:

  * `bnf`: GitHub name of the recepient
  * `wallet`: 16-chars wallet ID of the sender
  * `pass`: 8-chars secret pass code of the sender

Both `wallet` and `pass` will be available in `props.xml`. Let's not forget to notify

[2018-06-08 16:42] 0crat commented on #1119
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-08 16:42] yegor256 opened #1120 "Pay in ZLD without API"
Let's pay ZLD to our developers without Java API. Let's use the web API from wts. See #1119.

[2018-06-08 16:42] 0crat commented on #1120
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-08 19:31] g4s8 opened #1121 "Team page is very slow"
Team page is loading about few seconds. Looks like it happens because we are loading speed, awards, projects, vacatios, rates files for each person in team. We should save some of them in `people.xml` to avoid unnecessary file loading.

[2018-06-08 19:57] 0pdd opened #1123 "TkTeam.java:46-48: Speed and Agenda is skipped now..."
The puzzle `1121-f96bc81e` from #1121 has to be resolved:

https://github.com/zerocracy/farm/blob/58175f9beec5337ba267adee36d9b3b6f0c26ea2/src/main/java/com/zerocracy/tk/TkTeam.java#L46-L48

The puzzle was created by g4s8 on 08-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the tex

[2018-06-08 19:57] 0pdd commented on #1121
@g4s8 the puzzle [#1123](https://github.com/zerocracy/farm/issues/1123) is still not solved.

[2018-06-08 19:57] 0crat commented on #1123
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-08 19:58] 0crat commented on #1123
Job [#1123](https://github.com/zerocracy/farm/issues/1123) is now in scope, role is `DEV`

[2018-06-08 19:59] g4s8 commented on #1121
@0crat assign @carlosmiranda

[2018-06-08 19:59] g4s8 commented on #1121
@carlosmiranda looks like this bug is related to #841 which is already assigned to you

[2018-06-08 20:01] g4s8 commented on #1119
@0crat in

[2018-06-08 20:01] g4s8 commented on #1120
@0crat in

[2018-06-08 20:05] 0crat commented on #1121
@g4s8 The job [#1121](https://github.com/zerocracy/farm/issues/1121) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1592019689); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-06-08 20:15] 0crat commented on #1121
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-08 20:15] 0crat commented on #1121
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-08 20:15] 0crat commented on #1120
@g4s8 Job [#1120](https://github.com/zerocracy/farm/issues/1120) is now in scope, role is `DEV`

[2018-06-08 20:16] 0crat commented on #1120
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-08 20:16] 0crat commented on #1119
@g4s8 Job [#1119](https://github.com/zerocracy/farm/issues/1119) is now in scope, role is `DEV`

[2018-06-08 20:16] 0crat commented on #1119
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-09 12:36] 0crat commented on #487
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-09 12:36] 0crat commented on #733
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-09 12:36] 0crat commented on #770
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-09 14:11] scriptnull opened #1124 "Maven fails on development machine"
Tried to run farm on development machine with the following configuration.

[code]

And got the following error.

[code]

From logs, we could infer that this is happening as `newInstance() in java.lang.Class has been deprecated`. So, I propose we mention about the JDK version and any other minimum requirement to be used for development in the contibuting section.

[2018-06-09 14:11] 0crat commented on #1124
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-09 14:11] 0crat commented on #1124
@scriptnull[/z](https://www.0crat.com/u/scriptnull) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-09 20:37] 0crat commented on #841
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-10 09:44] victornoel opened #1125 "Lots of Groovy files are misplaced"
I opened the project in my IDE and lots of error popped because many groovy files a remisplaced.

Two examples:
- notify_jobs_when_arc_resigns.groovy is in `com/zerocracy/stk/stk/pm/staff/roles/` while its package is `com.zerocracy.stk.pm.staff.roles`.
- penalize_architect_for_boost.groovy is in `com/zerocracy/stk/pmo/awards/` while its package is `com.zerocracy.stk.pm.cost`

There are many others

[2018-06-10 09:44] 0crat commented on #1125
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-10 09:44] 0crat commented on #1125
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-10 10:11] proshin-roman commented on #896
@0crat wait until https://github.com/jcabi/jcabi-github/issues/1370 is fixed

[2018-06-10 10:12] 0crat commented on #896
@proshin-roman The impediment for [#896](https://github.com/zerocracy/farm/issues/896) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-10 10:16] 0crat commented on #993
The job [#993](https://github.com/zerocracy/farm/issues/993) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1611053816); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-10 10:17] 0crat commented on #980
The job [#980](https://github.com/zerocracy/farm/issues/980) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1611054866); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-10 10:20] 0crat commented on #1016
The job [#1016](https://github.com/zerocracy/farm/issues/1016) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1611056943); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-10 10:28] 0crat commented on #1036
The job [#1036](https://github.com/zerocracy/farm/issues/1036) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1611065244); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-10 11:45] proshin-roman commented on #765
@0crat wait until https://github.com/zerocracy/farm/issues/767 is fixed

[2018-06-10 11:46] 0crat commented on #765
@proshin-roman The impediment for [#765](https://github.com/zerocracy/farm/issues/765) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-10 12:01] proshin-roman opened #1126 "Too short javadocs in the project"
There is a general problem in the project: existing JavaDocs are too short to understand the goals of the classes/interfaces. The most common javadoc for Java class just repeats a name of the class. A few examples:
- https://github.com/zerocracy/farm/blob/c61072e3435b128d7bb1e2ece0d7a974c120e066/src/main/java/com/zerocracy/radars/github/Rebound.java#L28-L35
- https://github.com/zerocracy/farm/blob

[2018-06-10 12:01] 0crat commented on #1126
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-10 13:44] g4s8 commented on #1126
@0crat assign me

[2018-06-10 13:46] 0crat commented on #1126
@g4s8 The job [#1126](https://github.com/zerocracy/farm/issues/1126) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1611389346); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-06-10 13:47] 0crat commented on #1126
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-10 13:47] 0crat commented on #1126
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-10 16:03] g4s8 opened #1127 "User can be assigned to issues only from one project"
If project has many issues in WBS and user (who has role in this project and other projects) has small agenda (e.g. 2 of 8 jobs) e.g. if he/she just turns vacation mode off, most probably this user will be assigned to tasks only from one project.

I think it's a bug in `elect_performer`: when it receive a ping from a project it try to process as much jobs as possible, so it assign all jobs to user

[2018-06-10 16:03] g4s8 commented on #1127
@0crat in

[2018-06-10 16:04] 0crat commented on #1127
@g4s8 Job [#1127](https://github.com/zerocracy/farm/issues/1127) is now in scope, role is `DEV`

[2018-06-10 16:06] 0crat commented on #1127
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-10 16:23] g4s8 opened #1129 "VsReputation logic"
`VsReputation` gives highest vote for lowest reputation, e.g. in this election: https://www.0crat.com/footprint/C3NDPUA8L/1611606822:
[code]
It's not correct according to [policy](http://www.zerocracy.com/policy.html#3).

[2018-06-10 23:15] carlosmiranda commented on #733
@0crat wait for completion, currently busy on other tasks

[2018-06-10 23:16] 0crat commented on #733
@carlosmiranda The impediment for [#733](https://github.com/zerocracy/farm/issues/733) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-10 23:17] carlosmiranda commented on #841
@0crat wait for completion, currently busy on other tasks

[2018-06-10 23:20] 0crat commented on #841
@carlosmiranda The impediment for [#841](https://github.com/zerocracy/farm/issues/841) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-11 00:15] 0pdd commented on #89
The puzzle `62-6eaaf140` has disappeared from the source code, that's why I closed this issue.

[2018-06-11 00:15] #89 closed

[2018-06-11 00:32] 0crat commented on #89
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-11 00:33] 0crat commented on #89
The job [#89](https://github.com/zerocracy/farm/issues/89) is now out of scope

[2018-06-11 00:34] 0crat commented on #988
The job [#988](https://github.com/zerocracy/farm/issues/988) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1620052713); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-11 08:32] ypshenychka commented on #89
@neonailol According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details to the registered [impediment](https://github.com/zerocracy/farm/issues/89#issuecomment-366430109).

[2018-06-11 08:48] carlosmiranda commented on #770
@0crat wait for completion, working on other tasks at the moment

[2018-06-11 08:49] 0crat commented on #770
@carlosmiranda The impediment for [#770](https://github.com/zerocracy/farm/issues/770) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-11 08:53] g4s8 commented on #1093
@0crat assign me

[2018-06-11 08:59] 0crat commented on #1093
@g4s8 The job [#1093](https://github.com/zerocracy/farm/issues/1093) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1620894508); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-06-11 09:00] 0crat commented on #1093
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-11 09:00] 0crat commented on #1093
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-11 09:35] amihaiemil commented on #540
@g4s8 PR #1114 has been merged, can you close this? :D

[2018-06-11 10:00] g4s8 commented on #540
@amihaiemil sure, thanks

[2018-06-11 10:00] #540 closed

[2018-06-11 10:01] g4s8 commented on #1032
@krzyk yes, it's a known issue: https://github.com/zerocracy/farm/issues/1050

[2018-06-11 10:02] g4s8 commented on #1050
@0crat assign @krzyk

[2018-06-11 10:06] 0crat commented on #1050
@g4s8 The job [#1050](https://github.com/zerocracy/farm/issues/1050) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1621043203); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-06-11 10:07] 0crat commented on #1050
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-11 10:18] 0crat commented on #540
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-11 10:18] 0crat commented on #540
The job [#540](https://github.com/zerocracy/farm/issues/540) is now out of scope

[2018-06-11 10:27] ypshenychka commented on #540
@0crat quality good

[2018-06-11 10:28] amihaiemil commented on #540
@g4s8 I keep repeating this, but everyone seems to be against this idea. Nevertheless, I try one more time: there should be an ``architecture.md`` document to describe the *overall* architecture. So far, I understood the following:

There are the groovy scripts which are handling the Issue concurrently or without a specific order, they simply rely on the **data** to make sense of the current state

[2018-06-11 10:32] 0crat commented on #540
Order was finished, quality is "good": +35 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-11 10:32] 0crat commented on #540
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-11 10:39] amihaiemil commented on #1129
@g4s8 I think so. This is also how you told me to do in ``VsNegligence``: the voter itself gives the highest points to the least desirable person but it is declared with a low (maybe even negative) weight. Thus, the highest rank actually works agains the user, since it has a negative weight.

[2018-06-11 10:44] g4s8 commented on #540
@amihaiemil it may be helpful, can you submit new ticket about it?

[2018-06-11 10:48] amihaiemil commented on #540
@g4s8 Sure. I wanted to write that comment in #1126, not here (must have clicked the wrong window...)

[2018-06-11 10:49] g4s8 commented on #1126
@proshin-roman added javadocs for some classes in #1128, can we close it?

[2018-06-11 10:56] amihaiemil opened #1130 "Add architecture.md file"
Seeing that [I am not the only one](https://github.com/zerocracy/farm/issues/1126) with trouble in understanding the architecture, I insist on having the overall design explained in a document, since studying the Javadocs takes a longer time and they may not always provide the big picture.

Regarding the architecture, so far, I understood the following:

* There are the groovy scripts which are ha

[2018-06-11 10:56] 0crat commented on #1130
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-11 10:59] proshin-roman commented on #1126
@g4s8 well, yeah, let's close it for now. And then a new bug can be submitted in future in case if the problem occurs again. As well I see there is another ticket https://github.com/zerocracy/farm/issues/1130 that says about needing architecture explanation - it will help too to understand the project.

[2018-06-11 10:59] #1126 closed

[2018-06-11 11:15] 0crat commented on #1126
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-11 11:15] 0crat commented on #1126
The job [#1126](https://github.com/zerocracy/farm/issues/1126) is now out of scope

[2018-06-11 20:37] yegor256 commented on #831
@g4s8 thanks

[2018-06-11 20:37] #831 closed

[2018-06-11 20:45] #1032 closed

[2018-06-11 20:57] 0crat commented on #831
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-11 20:57] 0crat commented on #831
The job [#831](https://github.com/zerocracy/farm/issues/831) is now out of scope

[2018-06-11 21:01] 0crat commented on #1032
The job is not in WBS, won't close the order

[2018-06-11 21:01] 0crat commented on #1032
Job `gh:zerocracy/farm#1032` is not assigned, can't get performer

[2018-06-12 04:38] 0crat commented on #559
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-12 06:33] amihaiemil opened #1133 "Rename Cash.S"
Interface Cash has a "Simple implementation" named ``S``: https://github.com/zerocracy/farm/blob/8979a02bae3153627aa910b1966a50290ee7a28b/src/main/java/com/zerocracy/cash/Cash.java#L112

Not only is this lazy and against all naming conventions and common sense, it is also misleading. I saw ``new Cash.S(...)`` somewhere in the code and I assumed in was just an excentric way of saying ``dollars`` (t

[2018-06-12 06:33] 0crat commented on #1133
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-12 07:46] ypshenychka commented on #89
@neonailol ping

[2018-06-12 08:09] proshin-roman commented on #820
@g4s8 it looks like the feature has already been implemented in https://github.com/zerocracy/farm/issues/703. At least now I'm looking at the fresh master and see https://github.com/zerocracy/farm/blob/8439553fd7afe1727270e5649b54c5fcf118ed7d/src/main/java/com/zerocracy/pmo/Options.java class. Let's close the issue then as there is nothing to do here anymore?

[2018-06-12 08:56] proshin-roman opened #1135 "Claim types set is not defined nor restricted"
- If I want to find a list of all existing claim types - it's not possible (the only way is to find usages of some methods which receive claim type as a parameter).
- I can add any new claim type - and it's not guaranteed that it's processed by stakeholder.
- claim type is just a string - there is no way to check claim types for typos.

All that might lead the project to the "message-driven hell",

[2018-06-12 08:56] 0crat commented on #1135
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-12 09:03] proshin-roman commented on #1130
@amihaiemil @g4s8 I just would add a note that there is a life cycle of jobs in the project. This "cycle" is represented by transforming claims related to a job. It would be nice to see some explanation of existing "flows" in the project. I've submitted https://github.com/zerocracy/farm/issues/1135 that might be related to that problem.

[2018-06-12 09:15] amihaiemil commented on #1130
@proshin-roman as I said in the description, as far as I understand (also seeing how 0crat behaves), there is no "flow".

There are just the groovy scripts which are doing their job independently, always relying on the data's state to tell them what to do; they do not have an order of execution. This is why, I think, we see 0crat commenting 10 times uselessly on an Issue -- it does not "keep track

[2018-06-12 09:53] proshin-roman commented on #1130
@amihaiemil well, there is no explicit flow and all stakeholders work concurrently. But every claim has a type and every type is kind of bound to some state (of a job, or of a user). And then it looks like a flow: `issue created` - a new claim is created and some stakeholders will react on it, `issue is in the scope` - again a new claim and other stakeholders will react on it. Isn't it a flow?

[2018-06-12 09:59] amihaiemil commented on #1130
@proshin-roman yes, of course, there is a theoretical flow. I just meant to say that the order of the stakeholder's execution is not guaranteed and no session is kept for a Job (again, this is my understanding, I may be wrong)

[2018-06-12 10:06] amihaiemil commented on #1135
@proshin-roman I also raised this Issue in February and the conclusion was to implement some kind of "flow control": https://github.com/zerocracy/farm/issues/665

[2018-06-12 10:14] proshin-roman commented on #1135
@amihaiemil thanks for the link - I will close my ticket then as it's just a duplicate of #665

[2018-06-12 10:14] #1135 closed

[2018-06-12 10:18] proshin-roman commented on #665
@yegor256 @g4s8 @amihaiemil I vote for implementing this ticket - understanding "claims" graph and adding new stakeholders is very hard for now.

[2018-06-12 10:29] 0crat commented on #1135
The job is not in WBS, won't close the order

[2018-06-12 10:29] 0crat commented on #1135
Job `gh:zerocracy/farm#1135` is not assigned, can't get performer

[2018-06-12 11:02] proshin-roman commented on #412
@g4s8 I've spent more than 30 minutes and couldn't find any potential problem. As well, the posted stacktrace is too old and doesn't match the current master anymore (I used a version from Jan 16 for investigating). It looks like the problem doesn't occur again - let's close the ticket so that other devs don't waste time on that (just count how many times it was already refused).

[2018-06-12 11:12] g4s8 commented on #412
@proshin-roman I'd suggest to create unit tests in such cases to prove that bug is not reproducing, this is how you can be paid for these tickets.

What about closing, please try to ask issue author to close it first, only if he's not responding then ask me.

[2018-06-12 13:30] proshin-roman commented on #860
@0crat wait until pull request #1136 is merged

[2018-06-12 13:30] 0crat commented on #860
@proshin-roman The impediment for [#860](https://github.com/zerocracy/farm/issues/860) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-12 13:55] proshin-roman commented on #766
@0crat wait until PR #1134 is merged.

[2018-06-12 13:55] 0crat commented on #766
@proshin-roman The impediment for [#766](https://github.com/zerocracy/farm/issues/766) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-12 14:20] 0crat commented on #983
The job [#983](https://github.com/zerocracy/farm/issues/983) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1631467066); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-12 15:10] proshin-roman commented on #988
@0crat wait until PR #1137 is merged

[2018-06-12 15:53] 0crat commented on #988
@proshin-roman The impediment for [#988](https://github.com/zerocracy/farm/issues/988) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-12 19:31] krzyk commented on #993
@0crat refuse

[2018-06-12 19:34] 0crat commented on #993
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#993](https://github.com/zerocracy/farm/issues/993), please stop working. Reason for job resignation: Order was cancelled

[2018-06-12 19:36] 0crat commented on #993
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-12 19:37] krzyk commented on #1016
@paulodamaso just curious, why? Is there a point in doing so? You just finish the task earlier and the impediment is irrelevant.

[2018-06-12 20:02] paulodamaso commented on #1016
@krzyk It happened to me a couple of times: after a superficial view the issues looked dependent from something else and other issue were created, but some days after I've figured that these tickets are not related, but they do have to be solved. Take a look at #972, `Scenario 2` description and `Proposed Feature`.

Anyways, looks reasonable to me that the some impediment set to some issue could b

[2018-06-12 20:43] krzyk commented on #1016
@paulodamaso but #972 is still not accepted, so I don't see a point in doing this issue before the other. Because if #972 will be rejected we will have a code that is used by no one but we will need to maintain it and later remove it.

[2018-06-12 22:05] carlosmiranda commented on #559
@0crat wait for completion, busy on other tasks

[2018-06-12 22:07] 0crat commented on #559
@carlosmiranda The impediment for [#559](https://github.com/zerocracy/farm/issues/559) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-06-12 23:34] carlosmiranda opened #1138 "ARC should be able to postpone tasks"
Some tasks have impediments that are not solvable in a definite timeframe. For example, there can be a bug that requires a fix in an external library that needs to be updated. In this case the options of the ticket performer can either ask `0crat` to wait, or refuse. Both are not good options, because:

1. Waiting will cause the performer's speed to go down, and block a slot on the agenda queue fr

[2018-06-12 23:34] 0crat commented on #1138
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-13 01:37] 0crat commented on #1080
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-13 01:37] 0crat commented on #1105
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-13 04:27] paulodamaso commented on #1016
@krzyk I think that the issues are related but this issue does not depends on #972. For me, it's just wrong to have an impediment set to some issue even if this impediment does not exists at all. In fact, in my opinion zerocrat should enforce impediment behavior and act exactly as you described: it should not allow ticket closure if it has impediments set on it and should check and remove impedime

[2018-06-13 06:32] ypshenychka commented on #89
@neonailol Please consider my above [remark](https://github.com/zerocracy/farm/issues/89#issuecomment-396164606).

[2018-06-13 07:43] #956 closed

[2018-06-13 07:43] 0pdd commented on #956
The puzzle `653-b9d34fcf` has disappeared from the source code, that's why I closed this issue.

[2018-06-13 07:43] 0pdd opened #1139 "_before.groovy:31-33: Add a new class FkSkSession that..."
The puzzle `89-f08c5086` from #89 has to be resolved:

https://github.com/zerocracy/farm/blob/499a6e169756ee097d71e6151b22d64c640a8331/src/test/resources/com/zerocracy/bundles/notify_in_slack_without_user/_before.groovy#L31-L33

The puzzle was created by rultor on 11-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "don

[2018-06-13 07:44] 0pdd opened #1140 "SkSession.java:29-31: Use this interface and its..."
The puzzle `89-93f0abbe` from #89 has to be resolved:

https://github.com/zerocracy/farm/blob/499a6e169756ee097d71e6151b22d64c640a8331/src/main/java/com/zerocracy/radars/slack/SkSession.java#L29-L31

The puzzle was created by rultor on 11-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-06-13 07:44] 0crat commented on #1139
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-13 07:44] 0pdd opened #1141 "Negligence.java:32-39: Finish implementing and testing..."
The puzzle `540-880d3ffd` from #540 has to be resolved:

https://github.com/zerocracy/farm/blob/499a6e169756ee097d71e6151b22d64c640a8331/src/main/java/com/zerocracy/pmo/Negligence.java#L32-L39

The puzzle was created by amihaiemil on 07-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed an

[2018-06-13 07:44] 0pdd commented on #89
@0pdd 2 puzzles [#1139](https://github.com/zerocracy/farm/issues/1139), [#1140](https://github.com/zerocracy/farm/issues/1140) are still not solved.

[2018-06-13 07:44] 0crat commented on #1139
Job [#1139](https://github.com/zerocracy/farm/issues/1139) is now in scope, role is `DEV`

[2018-06-13 07:44] 0pdd commented on #540
@g4s8 the puzzle [#1141](https://github.com/zerocracy/farm/issues/1141) is still not solved.

[2018-06-13 07:44] 0pdd commented on #653
@amihaiemil the only puzzle [#956](https://github.com/zerocracy/farm/issues/956) is solved here.

[2018-06-13 07:44] 0crat commented on #1141
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-13 07:45] 0crat commented on #1141
Job [#1141](https://github.com/zerocracy/farm/issues/1141) is now in scope, role is `DEV`

[2018-06-13 07:45] 0crat commented on #1140
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-13 07:45] 0crat commented on #1140
Job [#1140](https://github.com/zerocracy/farm/issues/1140) is now in scope, role is `DEV`

[2018-06-13 08:02] 0crat commented on #956
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-13 08:02] 0crat commented on #956
The job [#956](https://github.com/zerocracy/farm/issues/956) is now out of scope

[2018-06-13 08:04] 0pdd opened #1142 "TkProfileTest.java:107-109: Refactor this method and..."
The puzzle `1080-e7775be0` from #1080 has to be resolved:

https://github.com/zerocracy/farm/blob/e10a36feed4c59c478b2ca8a0d30f3e03a70e7b9/src/test/java/com/zerocracy/tk/profile/TkProfileTest.java#L107-L109

The puzzle was created by Krzysztof Krason on 12-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the

[2018-06-13 08:04] 0pdd commented on #1080
@g4s8 the puzzle [#1142](https://github.com/zerocracy/farm/issues/1142) is still not solved.

[2018-06-13 08:04] 0crat commented on #1142
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-13 08:08] 0crat commented on #1142
Job [#1142](https://github.com/zerocracy/farm/issues/1142) is now in scope, role is `DEV`

[2018-06-13 08:15] krzyk commented on #1080
@g4s8 please close this issue, it has been merged in  #1131

[2018-06-13 08:17] g4s8 commented on #1080
@krzyk thanks

[2018-06-13 08:17] #1080 closed

[2018-06-13 08:18] g4s8 commented on #1080
@rultor release, tag=`0.22.3`

[2018-06-13 08:19] rultor commented on #1080
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14902-396854698)

[2018-06-13 08:29] rultor commented on #1080
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/14902-396854698) (took me 10min)

[2018-06-13 08:30] g4s8 commented on #820
@proshin-roman right, thanks

[2018-06-13 08:30] #820 closed

[2018-06-13 08:35] 0crat commented on #1080
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-13 08:37] g4s8 commented on #1093
@krzyk fixed in 9dd4d3bbffc339ba2f9871643758702fd416ff2f, also added `pdd` check to validate `@todo` puzzles, can we close now?

[2018-06-13 08:37] 0crat commented on #1080
The job [#1080](https://github.com/zerocracy/farm/issues/1080) is now out of scope

[2018-06-13 08:37] ypshenychka commented on #1080
@0crat quality good

[2018-06-13 08:43] krzyk commented on #1093
@g4s8 thanks

[2018-06-13 08:43] #1093 closed

[2018-06-13 08:48] 0crat commented on #1080
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-13 08:48] 0crat commented on #1080
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-13 08:49] 0crat commented on #820
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-13 08:49] 0crat commented on #820
The job [#820](https://github.com/zerocracy/farm/issues/820) is now out of scope

[2018-06-13 08:51] #185 closed

[2018-06-13 08:51] 0pdd commented on #185
The puzzle `166-540fefdb` has disappeared from the source code, that's why I closed this issue.

[2018-06-13 08:51] 0pdd opened #1143 "update_precedences.groovy:27-30: let's implement this..."
The puzzle `185-4c683176` from #185 has to be resolved:

https://github.com/zerocracy/farm/blob/e213f51c372d74289fcdb25467f9c73749c7de6b/src/main/groovy/com/zerocracy/stk/pm/staff/milestones/update_precedences.groovy#L27-L30

The puzzle was created by amihaiemil on 07-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "do

[2018-06-13 08:51] 0pdd commented on #185
@0pdd the puzzle [#1143](https://github.com/zerocracy/farm/issues/1143) is still not solved.

[2018-06-13 08:51] 0crat commented on #1143
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-13 08:52] 0crat commented on #1143
Job [#1143](https://github.com/zerocracy/farm/issues/1143) is now in scope, role is `DEV`

[2018-06-13 09:02] 0crat commented on #1093
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-13 09:02] 0crat commented on #1093
The job [#1093](https://github.com/zerocracy/farm/issues/1093) is now out of scope

[2018-06-13 09:07] 0crat commented on #1143
The job [#1143](https://github.com/zerocracy/farm/issues/1143) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1640907162); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-13 09:10] 0crat commented on #185
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-13 09:10] 0crat commented on #185
The job [#185](https://github.com/zerocracy/farm/issues/185) is now out of scope

[2018-06-13 09:55] g4s8 opened #1144 "GitLab support"
Add support for GitLab repositories: add new radar for webhooks like `TkGithub`. Also we have to invent some generic solution to work with jobs (both: GitHub and GitLab) from stakeholder scripts (or other classes).
Documentation: https://docs.gitlab.com/ee/README.html

[2018-06-13 09:57] g4s8 commented on #1144
@0crat assign @krzyk

[2018-06-13 10:00] 0crat commented on #1144
@g4s8 The job [#1144](https://github.com/zerocracy/farm/issues/1144) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1640960669); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-06-13 10:02] 0crat commented on #1144
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-13 10:02] 0crat commented on #1144
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-13 10:17] 0pdd opened #1145 "_after.groovy:32-36: MkGithub can't create private..."
The puzzle `989-2e7ad176` from #989 has to be resolved:

https://github.com/zerocracy/farm/blob/4ce4467793e6a31728a0bd22a9ce48fa702d6ee9/src/test/resources/com/zerocracy/bundles/assign_role/_after.groovy#L32-L36

The puzzle was created by g4s8 on 08-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the proble

[2018-06-13 10:17] 0pdd commented on #989
@yegor256 the puzzle [#1145](https://github.com/zerocracy/farm/issues/1145) is still not solved.

[2018-06-13 10:17] 0crat commented on #1145
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-13 10:19] 0crat commented on #1145
Job [#1145](https://github.com/zerocracy/farm/issues/1145) is now in scope, role is `DEV`

[2018-06-13 10:27] 0crat commented on #980
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-13 11:27] g4s8 commented on #989
@yegor256 it was implemented in #1118 PR, can we close?

[2018-06-13 11:38] ypshenychka commented on #820
@0crat quality bad

[2018-06-13 11:41] ypshenychka commented on #185
@neonailol According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details to the registered [impediment](https://github.com/zerocracy/farm/issues/185#issuecomment-366430122).

[2018-06-13 11:41] 0crat commented on #820
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-06-13 11:45] amihaiemil commented on #185
@ypshenychka Apparently, ``neonailol`` is not even with us anymore (he is not present on the Team page. I think we can finish here.

[2018-06-13 11:46] ypshenychka commented on #185
@amihaiemil I see, thank you.

[2018-06-13 11:46] ypshenychka commented on #185
@0crat quality acceptable

[2018-06-13 11:59] 0crat commented on #185
Order was finished, quality is "acceptable": +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-13 12:00] 0crat commented on #185
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-13 12:03] 0crat commented on #1145
The job [#1145](https://github.com/zerocracy/farm/issues/1145) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1641207705); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-13 12:11] 0crat commented on #575
The job [#575](https://github.com/zerocracy/farm/issues/575) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1641215993); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-06-13 12:16] 0crat commented on #876
The job [#876](https://github.com/zerocracy/farm/issues/876) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1641221163); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-06-13 12:19] g4s8 commented on #773
@yegor256 are we going to use Heroku later for multi-instance application?

[2018-06-13 12:29] #908 closed

[2018-06-13 12:29] 0pdd commented on #908
The puzzle `800-10ded7b0` has disappeared from the source code, that's why I closed this issue.

[2018-06-13 12:29] 0pdd opened #1146 "Resumes.java:32-37: Let's create new stakeholder to..."
The puzzle `908-27b4bc69` from #908 has to be resolved:

https://github.com/zerocracy/farm/blob/37d048c4c51082ec0ab258c491e5665ee7ea8036/src/main/java/com/zerocracy/pmo/Resumes.java#L32-L37

The puzzle was created by g4s8 on 07-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the tex

[2018-06-13 12:29] 0pdd opened #1147 "TkJoin.java:45-50: Each user should see the status of..."
The puzzle `908-f22ecc2e` from #908 has to be resolved:

https://github.com/zerocracy/farm/blob/37d048c4c51082ec0ab258c491e5665ee7ea8036/src/main/java/com/zerocracy/tk/TkJoin.java#L45-L50

The puzzle was created by g4s8 on 07-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text

[2018-06-13 12:29] 0pdd commented on #908
@0pdd 2 puzzles [#1146](https://github.com/zerocracy/farm/issues/1146), [#1147](https://github.com/zerocracy/farm/issues/1147) are still not solved.

[2018-06-13 12:29] 0crat commented on #1146
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-13 12:30] 0crat commented on #1146
Job [#1146](https://github.com/zerocracy/farm/issues/1146) is now in scope, role is `DEV`

[2018-06-13 12:31] 0crat commented on #1147
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-13 12:31] 0crat commented on #1147
Job [#1147](https://github.com/zerocracy/farm/issues/1147) is now in scope, role is `DEV`

[2018-06-13 12:36] summittjack commented on #1147
To many people are trying to access my pc. They are obstructing my ability.
Want me to go get a sim card and call you?

On Wednesday, June 13, 2018, 0pdd <notifications@github.com> wrote:

--

Jack

[2018-06-13 12:38] g4s8 commented on #473
@fabriciofx duplicate of #1042

[2018-06-13 12:38] #473 closed

[2018-06-13 12:54] 0crat commented on #908
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-13 12:54] 0crat commented on #908
The job [#908](https://github.com/zerocracy/farm/issues/908) is now out of scope

[2018-06-13 12:54] 0crat commented on #1129
Job [#1129](https://github.com/zerocracy/farm/issues/1129) is now in scope, role is `DEV`

[2018-06-13 12:55] 0crat commented on #473
The job is not in WBS, won't close the order

[2018-06-13 12:55] 0crat commented on #473
Job `gh:zerocracy/farm#473` is not assigned, can't get performer

[2018-06-13 12:57] 0crat commented on #1129
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-13 13:02] 0crat commented on #1146
The job [#1146](https://github.com/zerocracy/farm/issues/1146) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1641307214); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-13 15:13] vizotov opened #1149 "Error while submitting the Join form"
I am logged into 0crat.com and see the Policy and the Board.
When i am trying to submit the Join form, then receive error:
[code]

[2018-06-13 15:13] 0crat commented on #1149
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-13 15:13] 0crat commented on #1149
@vizotov[/z](https://www.0crat.com/u/vizotov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-13 16:00] summittjack commented on #1149
Ah I seen what your doing.Thats clever. Well played.

On Wed, Jun 13, 2018 at 10:14 AM, Vladimir Izotov <notifications@github.com>
wrote:

[2018-06-13 16:40] yegor256 commented on #655
@g4s8 let's try

[2018-06-13 18:36] 0crat commented on #412
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-13 21:36] 0crat commented on #1121
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-13 21:45] 0crat commented on #1147
The job [#1147](https://github.com/zerocracy/farm/issues/1147) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1642166571); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-06-13 22:38] carlosmiranda commented on #1121
@0crat wait, busy on other tasks

[2018-06-13 22:38] 0crat commented on #1121
@carlosmiranda Can't understand "wait,", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status

[2018-06-14 07:59] amihaiemil commented on #1145
@0crat waiting for https://github.com/jcabi/jcabi-github/issues/1421

[2018-06-14 07:59] 0crat commented on #1145
@amihaiemil The impediment for [#1145](https://github.com/zerocracy/farm/issues/1145) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-14 08:33] g4s8 commented on #1149
@0crat in

[2018-06-14 08:33] 0crat commented on #1149
@g4s8 Job [#1149](https://github.com/zerocracy/farm/issues/1149) is now in scope, role is `DEV`

[2018-06-14 08:33] 0crat commented on #1149
@g4s8 Thanks for your contribution, @vizotov[/z](https://www.0crat.com/u/vizotov)! If you would be a member of [the project](https://www.0crat.com/p/C3NDPUA8L), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-06-14 09:08] amihaiemil opened #1151 "Fix/refactor max number of Architects"
The Policy says that maximum 2 ARCs are allowed on a project. See [here](http://www.zerocracy.com/policy.html#34).

But, the logic inside [pay_architect_for_pull_request](https://github.com/zerocracy/farm/blob/master/src/main/groovy/com/zerocracy/stk/pm/cost/pay_architect_for_pull_request.groovy#L55) says that there should be only one ARC: "There are too many ARC roles in the project (more than on

[2018-06-14 09:08] 0crat commented on #1151
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-14 10:28] g4s8 commented on #1151
@0crat in

[2018-06-14 10:33] 0crat commented on #1151
@g4s8 Job [#1151](https://github.com/zerocracy/farm/issues/1151) is now in scope, role is `DEV`

[2018-06-14 10:34] 0crat commented on #1151
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-14 10:51] #1105 closed

[2018-06-14 10:51] 0pdd commented on #1105
The puzzle `843-976686f8` has disappeared from the source code, that's why I closed this issue.

[2018-06-14 10:51] 0pdd opened #1152 "package-info.java:24-29: Title element, of an order in..."
The puzzle `1105-a65697ae` from #1105 has to be resolved:

https://github.com/zerocracy/farm/blob/fab0329c477bc40049cfdddc097c5281d8fb7cb6/src/main/groovy/com/zerocracy/stk/package-info.java#L24-L29

The puzzle was created by Paulo Lobo on 13-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fi

[2018-06-14 10:52] 0pdd commented on #422
@g4s8 the puzzle [#1152](https://github.com/zerocracy/farm/issues/1152) is still not solved; solved: [#1105](https://github.com/zerocracy/farm/issues/1105), [#843](https://github.com/zerocracy/farm/issues/843).

[2018-06-14 10:52] 0pdd commented on #843
@0pdd the puzzle [#1152](https://github.com/zerocracy/farm/issues/1152) is still not solved; solved: [#1105](https://github.com/zerocracy/farm/issues/1105).

[2018-06-14 10:52] 0pdd commented on #1105
@0pdd the puzzle [#1152](https://github.com/zerocracy/farm/issues/1152) is still not solved.

[2018-06-14 10:53] 0crat commented on #1152
Job [#1152](https://github.com/zerocracy/farm/issues/1152) is now in scope, role is `DEV`

[2018-06-14 10:53] 0crat commented on #1152
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-14 11:08] 0crat commented on #1105
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-14 11:08] 0crat commented on #1105
The job [#1105](https://github.com/zerocracy/farm/issues/1105) is now out of scope

[2018-06-14 12:38] ypshenychka commented on #1105
@0crat quality good

[2018-06-14 12:41] 0crat commented on #1105
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-06-14 12:41] 0crat commented on #1105
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-14 16:50] ypshenychka commented on #89
@0crat quality acceptable

[2018-06-14 16:52] 0crat commented on #89
Order was finished, quality is "acceptable": +30 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-14 16:52] 0crat commented on #89
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-14 19:00] proshin-roman opened #1153 "Duplicated profile link in Telegram notification about tution fee"
I've received this Telegram notification:
[code]
as you can see it contains username with a duplicated link to user's profile in 0crat:
[code]

**As it should be:**
username should contain just a single link to 0crat profile

[2018-06-14 19:00] 0crat commented on #1153
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-14 19:40] g4s8 commented on #1149
@0crat assign me

[2018-06-14 19:41] 0crat commented on #1149
@g4s8 The job [#1149](https://github.com/zerocracy/farm/issues/1149) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1651966071); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-06-14 19:42] 0crat commented on #1149
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-14 21:16] krzyk commented on #1036
@0pdd PR in #1154

[2018-06-14 22:05] g4s8 commented on #1149
@rultor release, tag=`0.22.4`

[2018-06-14 22:07] rultor commented on #1149
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14930-397452830)

[2018-06-14 22:17] rultor commented on #1149
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/14930-397452830) (took me 9min)

[2018-06-14 22:18] g4s8 commented on #1149
@vizotov should be fixed, please try now

[2018-06-15 03:03] carlosmiranda commented on #1138
@g4s8 what do you think?

[2018-06-15 08:49] skapral opened #1155 "GitHub remove link is not working"
### Background
I did a rebranding of my project [oo-atom](https://github.com/pragmatic-objects/oo-atom). The name of organization was changed, and I wanted to update the github link in 0crat by removing it and creating anew.

### Steps to reproduce:
0. You have a project on 0crat with links on github set-up.
1. Remove a github link by the Slack command `@0crat links remove <rel> <href>`

### Actua

[2018-06-15 08:49] 0crat commented on #1155
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-15 08:49] 0crat commented on #1155
@skapral[/z](https://www.0crat.com/u/skapral) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-15 09:05] skapral commented on #1084
Upvoted. Also saw this exception when opening a "board" page.

[2018-06-15 10:08] smitherson opened #1156 "Cannot join without invite"
https://www.0crat.com/join
After filling the form i get:

Internal application error
0.22.4, ${buildNumber}

Please, report it here. We will do our best to fix it as soon as possible. We're very sorry.

java.lang.IllegalStateException: [POST https://www.0crat.com/join-post] failed in 220ms: Person @smitherson[/z](https://www.0crat.com/u/smitherson) doesn't exist
	at org.takes.facets.fallback.TkFal

[2018-06-15 10:08] 0crat commented on #1156
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-15 10:08] 0crat commented on #1156
@smitherson[/z](https://www.0crat.com/u/smitherson) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-15 10:36] 0crat commented on #1016
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-15 10:37] 0crat commented on #1015
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-15 10:55] g4s8 commented on #1149
@rultor release, tag=`0.22.5`

[2018-06-15 10:57] rultor commented on #1149
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14930-397586258)

[2018-06-15 11:02] g4s8 commented on #1138
@carlosmiranda looks like real problem, but I can't understand how to put back these tasks to WBS, if ARC can postpone a task which is blocked by external library bug then ARC have to monitor this bug status manually to "unblock" origin issue. I think it may take a lot of ARC's time to do it.

[2018-06-15 11:05] g4s8 commented on #1155
@skapral please, try this: `@0crat links remove github project-avral/oo-atom` (not `github:project-avral/oo-atom`)

[2018-06-15 11:05] g4s8 commented on #1084
@0crat assign @krzyk

[2018-06-15 11:08] rultor commented on #1149
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/14930-397586258) (took me 11min)

[2018-06-15 11:10] 0crat commented on #1084
@g4s8 The job [#1084](https://github.com/zerocracy/farm/issues/1084) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1661107041); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-06-15 11:10] g4s8 commented on #1149
@vizotov fixed this error in 602d06d6be53bc3fd523f1d4d09a238d2eb31a8d, please try again

[2018-06-15 11:11] 0crat commented on #1084
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 11:11] 0crat commented on #1084
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-15 11:30] #1036 closed

[2018-06-15 11:30] 0pdd commented on #1036
The puzzle `889-ebed2d87` has disappeared from the source code, that's why I closed this issue.

[2018-06-15 11:30] 0pdd commented on #889
@yegor256 the only puzzle [#1036](https://github.com/zerocracy/farm/issues/1036) is solved here.

[2018-06-15 11:50] 0crat commented on #1036
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-15 11:50] 0crat commented on #1036
The job [#1036](https://github.com/zerocracy/farm/issues/1036) is now out of scope

[2018-06-15 12:01] ypshenychka commented on #1036
@0crat quality good

[2018-06-15 12:05] vizotov commented on #1149
@g4s8 now it works (from interface side): "The request will be sent to all high-ranked users".
Thanks.

[2018-06-15 12:13] 0crat commented on #1036
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-15 12:13] 0crat commented on #1036
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-15 12:27] #1149 closed

[2018-06-15 12:33] amihaiemil opened #1157 "Lost 500+ reputation in one day"
According to the Policy, only the reputation from the last 90 days is counted.

To my understanding this means that, after the first 90 days pass, one should start losing reputation **gradually**, as each day goes by and the frame of 90 days moves forward.

Or is there a different calculation mechanism? Becuse by that logic, I should lose max 30-60 points at a time; I have never earned 500 points

[2018-06-15 12:33] 0crat commented on #1157
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-15 12:36] 0crat commented on #1035
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-15 12:43] krzyk commented on #1016
@0crat refuse

[2018-06-15 12:46] 0crat commented on #1016
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1016](https://github.com/zerocracy/farm/issues/1016), please stop working. Reason for job resignation: Order was cancelled

[2018-06-15 12:46] 0crat commented on #1149
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-15 12:46] 0crat commented on #1149
The job [#1149](https://github.com/zerocracy/farm/issues/1149) is now out of scope

[2018-06-15 12:47] 0crat commented on #1016
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-15 14:12] krzyk opened #1159 "Add open pull requests to agenda page"
Right now it is hard to follow which tasks I have pushed PRs for and which are not started (or I want to look if travis build passed in all my PRs).
The solution would be to find the PRs for each of the assigned tasks and show it inside another column (named `PR`).

This should be simple, one needs to look for open PRs in given repo(s) and find the ones that have title starting from `#123` where `

[2018-06-15 14:12] 0crat commented on #1159
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-15 14:21] krzyk commented on #1142
@0pdd Also one should remember about refactoring all other places where similar logic is used (e.g. in `TkBoardTest`), basically grep the code for `Firefox`

[2018-06-15 16:51] g4s8 commented on #1159
@krzyk right, it's hard to track all PRs and open issues, but I don't think that agenda is good place for it, because it includes only tasks assigned to you. What do you think about new page with tasks in WBS authored by you?

@amihaiemil @carlosmiranda @proshin-roman please, look at this issue also.

[2018-06-15 17:01] amihaiemil commented on #1159
@g4s8 Yes, a page with tasks authored by the user is the only option, I would say.

Because currently 0crat has no session for Issues -- it cannot easily correlate an Issue with an open PR, unless we make some kind of convention which will surely be broken sooner or later and introduce exceptions, bugs etc.

Another solution would be to have 0crat add badges to the Issues: it could label the Issue

[2018-06-15 20:31] krzyk commented on #1159
@g4s8 sounds good to me

[2018-06-15 20:55] ypshenychka opened #1160 "Notify QA if any changes are done in Policy"
It would be nice to receive some kind of notification (via telegram or any other channel for communication), when some changes are done in the [Policy](http://www.zerocracy.com/policy.html#30).

Especially what concerns pat with "QA rules".

Sometimes QAs become aware of some new rules or changes in the old ones too late, and this can lead to unnecessary disputes and basically waste of time for bo

[2018-06-15 20:56] 0crat commented on #1160
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-15 21:01] g4s8 commented on #1156
@smitherson it's a duplicate of #1149, was fixed in `0.22.5` version, please try again now.

[2018-06-15 21:01] #1156 closed

[2018-06-15 21:03] 0crat commented on #1156
Job `gh:zerocracy/farm#1156` is not assigned, can't get performer

[2018-06-15 21:07] g4s8 commented on #1130
@0crat assign me

[2018-06-15 21:13] 0crat commented on #1130
@g4s8 The job [#1130](https://github.com/zerocracy/farm/issues/1130) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1662123660); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-06-15 21:15] 0crat commented on #1130
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-15 21:16] 0crat commented on #1130
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-16 05:45] carlosmiranda commented on #1138
@g4s8 best (or least worst solution) is manual unpostponement, I think. Let's implement that now and refine the mechanism later (with expiry, etc) in case it becomes a problem. What do you think?

[2018-06-16 12:38] 0crat commented on #1050
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-16 13:20] proshin-roman commented on #412
@yegor256 ping

[2018-06-16 13:20] proshin-roman commented on #412
@0crat waiting for a reaction from issue's author

[2018-06-16 14:18] proshin-roman opened #1162 "Conflicting fields of "Make payment" claim"
If you look at [make_payment.groovy](https://github.com/zerocracy/farm/blob/master/src/main/groovy/com/zerocracy/stk/pm/cost/make_payment.groovy) you will see that claim "Make payment" may have fields "cash" and "minutes". But the logic of that stakeholder first checks if "cash" exists and uses it ignoring "minutes" field. IMO it's error prone, as claims creators might ignore this logic and then i

[2018-06-16 14:18] 0crat commented on #1162
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-16 15:33] yegor256 commented on #412
@proshin-roman thanks

[2018-06-16 15:33] #412 closed

[2018-06-16 15:49] 0crat commented on #412
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-16 15:49] 0crat commented on #412
The job [#412](https://github.com/zerocracy/farm/issues/412) is now out of scope

[2018-06-17 05:31] ypshenychka commented on #412
@carlosmiranda According to our [QA Rules](http://www.zerocracy.com/policy.html#42)

Please add more details to the registered [impediment](https://github.com/zerocracy/farm/issues/412#issuecomment-359309285).

[2018-06-17 10:43] carlosmiranda commented on #412
@ypshenychka done

[2018-06-17 12:41] 0pdd opened #1163 "_after.groovy:26-28: Fix the problem when PR job is..."
The puzzle `1015-7cbe8f93` from #1015 has to be resolved:

https://github.com/zerocracy/farm/blob/7dcb0b45776c9c0f41825292f714dd23fd901b98/src/test/resources/com/zerocracy/bundles/assigns_performer_pr/_after.groovy#L26-L28

The puzzle was created by rultor on 17-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" wh

[2018-06-17 12:41] 0pdd commented on #1015
@g4s8 the puzzle [#1163](https://github.com/zerocracy/farm/issues/1163) is still not solved.

[2018-06-17 12:42] 0crat commented on #1163
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-17 12:42] 0crat commented on #1163
Job [#1163](https://github.com/zerocracy/farm/issues/1163) is now in scope, role is `DEV`

[2018-06-17 12:43] krzyk commented on #1015
@g4s8 please close this issue, initial work on in has been merged to master in #1150

[2018-06-17 12:51] g4s8 commented on #1015
@krzyk thanks

[2018-06-17 12:51] #1015 closed

[2018-06-17 13:09] g4s8 commented on #1157
@0crat assign me

[2018-06-17 13:10] 0crat commented on #1015
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-17 13:10] 0crat commented on #1015
The job [#1015](https://github.com/zerocracy/farm/issues/1015) is now out of scope

[2018-06-17 13:11] 0crat commented on #1157
@g4s8 The job [#1157](https://github.com/zerocracy/farm/issues/1157) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/1681312987); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-06-17 13:12] 0crat commented on #1157
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-17 13:12] 0crat commented on #1157
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-17 13:16] ypshenychka commented on #412
@carlosmiranda Thanks!

[2018-06-17 13:17] ypshenychka commented on #412
@0crat quality acceptable

[2018-06-17 13:19] 0crat commented on #412
Order was finished, quality is "acceptable": +30 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-06-17 13:19] 0crat commented on #412
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-17 14:18] paulodamaso opened #1164 "ARC delay is making revisors to lose done revisions"
It happened four times with me last week:
- `DEV` made changes
- `REV` made revision, told `@rultor` to merge
- `ARC` took too long to merge, changes made by `DEV` gets conflicting with other changes OR `@rultor` have some problem merging;
- `DEV` correct conflicts
- `REV` made review again and says it's okay to  merge
- `ARC` took too long to merge again
- `0crat` removes `REV` from task

This is

[2018-06-17 14:18] 0crat commented on #1164
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-17 14:35] g4s8 commented on #1164
@paulodamaso you're right, it's a known issue, I think it will be improved with #1028, we are going to add negative points to ARC if PR was not closed fast

[2018-06-17 14:36] 0crat commented on #983
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-17 17:14] ypshenychka commented on #1015
@0crat quality good

[2018-06-17 17:17] 0crat commented on #1015
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-17 17:17] 0crat commented on #1015
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-17 21:46] #981 closed

[2018-06-17 22:01] 0crat commented on #981
Job `gh:zerocracy/farm#981` is not assigned, can't get performer

[2018-06-17 22:01] 0crat commented on #981
The job is not in WBS, won't close the order

[2018-06-18 07:58] krzyk opened #1166 "When doing invite exception is thrown"
Right now I tried to do an invite in telegram and got following exception:
[code]
Please investigate and make sure it doesn't happen again.

[2018-06-18 07:58] 0crat commented on #1166
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-18 08:16] g4s8 commented on #1166
@krzyk more details in [Sentry](https://sentry.io/zerocracy/farm/issues/583496199/):
[code]

[2018-06-18 08:17] 0crat commented on #1166
Job [#1166](https://github.com/zerocracy/farm/issues/1166) is now in scope, role is `DEV`

[2018-06-18 08:18] 0crat commented on #1166
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-18 08:21] g4s8 commented on #1105
@rultor release, tag=`0.22.6`

[2018-06-18 08:29] 0pdd opened #1167 "FootprintTest.java:73-77: This test is not stable..."
The puzzle `1050-8012ef0f` from #1050 has to be resolved:

https://github.com/zerocracy/farm/blob/88bb4c8fc41b7c6c57228c9e1ece68395df8613d/src/test/java/com/zerocracy/pm/FootprintTest.java#L73-L77

The puzzle was created by rultor on 18-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed an

[2018-06-18 08:29] 0pdd commented on #1050
@g4s8 the puzzle [#1167](https://github.com/zerocracy/farm/issues/1167) is still not solved.

[2018-06-18 08:29] 0crat commented on #1167
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2018-06-18 08:29] krzyk commented on #1050
@g4s8 please close this issue, it fixes have been merged in PR #1148

[2018-06-18 08:31] 0crat commented on #1167
Job [#1167](https://github.com/zerocracy/farm/issues/1167) is now in scope, role is `DEV`