[2019-10-15 12:03] 0crat commented on #2175
The job [#2175](https://github.com/zerocracy/farm/issues/2175) is now out of scope

[2019-10-15 12:14] 0crat commented on #2175
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 13:51] g4s8 opened #2176 "Code cleanup"
Let's cleanup a code which is never used

[2019-10-15 13:58] 0crat commented on #2176
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2176](https://github.com/zerocracy/farm/issues/2176), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-10-15 14:04] 0crat commented on #2176
Job `gh:zerocracy/farm#2176` already assigned to @g4s8, can't assign to @g4s8

[2019-10-15 14:08] 0crat commented on #2176
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 14:09] 0crat commented on #2176
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 14:10] 0crat commented on #2176
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 19:08] g4s8 opened #2177 "Try using read-write locks"
Try to replace some locks with `ReadWriteLock`s:
`project.acq(file, RW)` or `project.acq(flle, RO)`

[2019-10-15 19:12] g4s8 commented on #2177
@rultor release, tag=`0.50.10`

[2019-10-15 19:13] 0pdd opened #2178 "Project.java:32-36: Continue replacing..."
The puzzle `2177-1b35d377` from #2177 has to be resolved:

https://github.com/zerocracy/farm/blob/1147461035c15dd3049630de8cf284381722fb07/src/main/java/com/zerocracy/Project.java#L32-L36

The puzzle was created by @g4s8 on 15-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2019-10-15 19:13] 0pdd commented on #2177
@g4s8 the puzzle [#2178](https://github.com/zerocracy/farm/issues/2178) is still not solved.

[2019-10-15 19:13] 0crat commented on #2178
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-10-15 19:13] rultor commented on #2177
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20612-542362168)

[2019-10-15 19:20] 0crat commented on #2177
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2177](https://github.com/zerocracy/farm/issues/2177), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-10-15 19:22] 0crat commented on #2178
Job [#2178](https://github.com/zerocracy/farm/issues/2178) is now in scope, role is `DEV`

[2019-10-15 19:22] 0crat commented on #2177
Job `gh:zerocracy/farm#2177` already assigned to @g4s8, can't assign to @g4s8

[2019-10-15 19:29] rultor commented on #2177
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20612-542362168) (took me 14min)

[2019-10-15 19:31] 0crat commented on #2177
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 19:32] 0crat commented on #2177
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 19:32] 0crat commented on #2177
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 19:46] g4s8 commented on #2177
Done in https://github.com/zerocracy/farm/commit/1147461035c15dd3049630de8cf284381722fb07

[2019-10-15 19:46] #2177 closed

[2019-10-15 19:46] g4s8 commented on #2176
Done in https://github.com/zerocracy/farm/commit/ae6b1457711c672967d8526d52da66af8e622f53

[2019-10-15 19:46] #2176 closed

[2019-10-15 19:50] g4s8 opened #2179 "Stats for stakeholders"
Add stats for each stakeholder, we need to get the list of stats for all stakeholders. Each row should contain:
 - hits - amount of times this stakeholder was called
 - min/max/avg exec time - stats for execution time

It should be printed on `/guts` page.
It can be implemented similar to `QueueStats` class.

[2019-10-15 20:30] g4s8 commented on #2177
@rultor release, tag=`0.50.11`

[2019-10-15 20:32] rultor commented on #2177
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20612-542391350)

[2019-10-15 20:37] 0crat commented on #2178
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2178](https://github.com/zerocracy/farm/issues/2178), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-10-15 20:38] 0crat commented on #2178
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-15 20:41] 0pdd commented on #2178
The puzzle `2177-1b35d377` has disappeared from the source code, that's why I closed this issue.

[2019-10-15 20:41] #2178 closed

[2019-10-15 20:41] 0pdd commented on #2177
@g4s8 the only puzzle [#2178](https://github.com/zerocracy/farm/issues/2178) is solved here.

[2019-10-15 20:45] rultor commented on #2177
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20612-542391350) (spent 13min)

[code]

[2019-10-15 20:48] g4s8 commented on #2177
@rultor release, tag=`0.50.13`

[2019-10-15 20:48] rultor commented on #2177
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20612-542395271)

[2019-10-15 21:01] 0crat commented on #2178
Job [#2178](https://github.com/zerocracy/farm/issues/2178) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-15 21:03] rultor commented on #2177
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20612-542395271) (took me 12min)

[2019-10-15 21:06] rultor commented on #2177
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20612-542398020)

[2019-10-15 21:21] rultor commented on #2177
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20612-542398020) (took me 13min)

[2019-10-15 21:22] 0crat commented on #2178
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-10-15 21:36] 0crat commented on #2178
The job [#2178](https://github.com/zerocracy/farm/issues/2178) is now out of scope

[2019-10-15 21:50] 0crat commented on #2178
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-16 06:08] g4s8 opened #2180 "0crat is responding TM too long"
0crat bot is responding for Telegram messages for too long.

[2019-10-16 06:21] g4s8 commented on #2180
@rultor release, tag=`0..50.14`

[2019-10-16 06:22] rultor commented on #2180
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20614-542539267)

[2019-10-16 06:25] rultor commented on #2180
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20614-542539267) (spent 3min)

[code]

[2019-10-16 06:31] g4s8 commented on #2180
@rultor release, tag=`0.50.14`

[2019-10-16 06:32] rultor commented on #2180
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20614-542542868)

[2019-10-16 06:42] rultor commented on #2180
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20614-542542868) (spent 9min)

[code]

[2019-10-16 06:54] 0crat commented on #2180
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2180](https://github.com/zerocracy/farm/issues/2180), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-10-16 06:54] 0crat commented on #2180
Job `gh:zerocracy/farm#2180` already assigned to @g4s8, can't assign to @g4s8

[2019-10-16 06:55] g4s8 commented on #2180
@rultor release, tag=`0.50.14`

[2019-10-16 06:56] rultor commented on #2180
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20614-542551485)

[2019-10-16 07:04] 0crat commented on #2180
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-16 07:07] 0crat commented on #2180
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-16 07:07] 0crat commented on #2180
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-16 07:13] rultor commented on #2180
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20614-542551485) (took me 14min)

[2019-10-16 07:35] g4s8 commented on #2180
@rultor release, tag=`0.50.15`

[2019-10-16 07:36] rultor commented on #2180
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20614-542565943)

[2019-10-16 07:44] rultor commented on #2180
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20614-542565943) (spent 8min)

[code]

[2019-10-16 07:47] g4s8 commented on #2180
@rultor release, tag=`0.50.15`

[2019-10-16 07:47] rultor commented on #2180
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20614-542570445)

[2019-10-16 08:03] rultor commented on #2180
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20614-542570445) (took me 13min)

[2019-10-16 08:14] g4s8 commented on #2180
@rultor release, tag=`0.50.16`

[2019-10-16 08:16] rultor commented on #2180
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20614-542581768)

[2019-10-16 08:32] rultor commented on #2180
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20614-542581768) (took me 13min)

[2019-10-16 10:06] victornoel opened #2181 "0crat doesn't resign job performer after 10 days."
I'm not clear if it's a feature or a bug, but it looks like a bug to me.

See https://github.com/yegor256/cactoos/issues/1184#issuecomment-541337919

Basically, the task has been assigned for a month and 0crat didn't resign the user from it after 10 days as it should.

[2019-10-16 10:06] 0crat commented on #2181
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-10-16 10:36] victornoel commented on #1993
@denis-konovalyenko the PR has been merged, could you close the ticket? Thanks

[2019-10-16 11:55] g4s8 commented on #2180
@rultor release, tag=`0.50.16`

[2019-10-16 11:57] rultor commented on #2180
@g4s8 Invalid release tag `0.50.16` specified. There is already a release `0.50.16` newer than the given release in this repository.

[2019-10-16 11:57] rultor commented on #2180
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-10-16 12:07] g4s8 commented on #2180
@rultor release, tag=`0.50.17`

[2019-10-16 12:08] rultor commented on #2180
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20614-542668187)

[2019-10-16 12:17] rultor commented on #2180
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20614-542668187) (spent 9min)

[code]

[2019-10-16 12:19] denis-konovalyenko commented on #1993
@victornoel , thanks!

[2019-10-16 12:19] #1993 closed

[2019-10-16 12:50] 0crat commented on #1993
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-10-16 12:52] sereshqua commented on #1993
@0crat quality good

[2019-10-16 13:17] 0crat commented on #1993
The job [#1993](https://github.com/zerocracy/farm/issues/1993) is now out of scope

[2019-10-16 13:18] g4s8 commented on #2180
@rultor release, tag=`0.50.17`

[2019-10-16 13:20] rultor commented on #2180
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20614-542696267)

[2019-10-16 13:35] g4s8 commented on #2181
@victornoel it was implemented intentionally #722:
[code]
but feel free to submit a bug in policy repo to improve documentation about that case.

[2019-10-16 13:35] #2181 closed

[2019-10-16 13:37] 0crat commented on #1993
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-10-16 13:40] 0crat commented on #1993
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-10-16 13:44] g4s8 commented on #2180
@rultor release, tag=`0.50.17`

[2019-10-16 14:10] rultor commented on #2180
@g4s8 Invalid release tag `0.50.17` specified. There is already a release `0.50.17` newer than the given release in this repository.

[2019-10-16 14:10] rultor commented on #2180
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-10-16 14:34] 0crat commented on #2181
This job is not in scope

[2019-10-16 21:32] fanifieiev opened #2182 "0crat status command is broken when providing the status of the pull request"
`@0crat status`
command failed to get the status of the pull request in the [Cactoos](https://github.com/yegor256/cactoos) project with the result of:
`PID: 4@742ae47f-2674-48fd-afc8-2556a3780c2e, thread: pool-220-thread-1
com.zerocracy.farm.sync.SyncProject[76] java.lang.IllegalStateException: Failed to acquire "people.xml" in "PMO" in 2min: java.util.concurrent.locks.ReentrantLock@47b33030[Locke

[2019-10-16 21:32] 0crat commented on #2182
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-10-16 21:34] 0crat commented on #2182
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.50.17](https://github.com/zerocracy/farm): Issue: zerocracy/farm#2182, Action: `opened`

[2019-10-17 07:05] g4s8 commented on #2180
@rultor release, tag=`0.50.18`

[2019-10-17 07:07] rultor commented on #2180
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20614-543037113)

[2019-10-17 07:22] rultor commented on #2180
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20614-543037113) (took me 13min)

[2019-10-17 08:22] g4s8 commented on #2180
@rultor release, tag=`0.50.19`

[2019-10-17 08:24] rultor commented on #2180
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20614-543063931)

[2019-10-17 08:34] rultor commented on #2180
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20614-543063931) (spent 10min)

[code]

[2019-10-17 08:45] rultor commented on #2180
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20614-543071999)

[2019-10-17 09:01] rultor commented on #2180
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20614-543071999) (took me 13min)

[2019-10-17 09:11] g4s8 commented on #2180
Fixed in https://github.com/zerocracy/farm/commit/762f2aa49ddcfe063117261d1aaf8f69f151f141

[2019-10-17 09:11] #2180 closed

[2019-10-17 09:42] 0crat commented on #2180
Job [#2180](https://github.com/zerocracy/farm/issues/2180) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-17 10:01] 0crat commented on #2180
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-10-17 10:03] 0crat commented on #2180
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-17 10:03] 0crat commented on #2180
The job [#2180](https://github.com/zerocracy/farm/issues/2180) is now out of scope

[2019-10-17 10:26] g4s8 opened #2183 "SQS: put message back if project queue is full"
Let's check project queue size after polling SQS message and put it back if queue is full.

[2019-10-17 10:46] 0crat commented on #2183
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2183](https://github.com/zerocracy/farm/issues/2183), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-10-17 10:48] 0crat commented on #2183
Job `gh:zerocracy/farm#2183` already assigned to @g4s8, can't assign to @g4s8

[2019-10-17 10:52] 0crat commented on #2183
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-17 10:53] 0crat commented on #2183
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-17 10:53] 0crat commented on #2183
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-17 12:05] g4s8 commented on #2183
@rultor release, tag=`0.50.20`

[2019-10-17 12:06] rultor commented on #2183
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20620-543142945)

[2019-10-17 12:21] rultor commented on #2183
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20620-543142945) (took me 13min)

[2019-10-17 15:08] rultor commented on #2183
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20620-543219691)

[2019-10-17 15:33] g4s8 commented on #2183
@rultor release, tag=`0.50.22`

[2019-10-17 15:46] rultor commented on #2183
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20620-543231908) (spent 11min)

[code]

[2019-10-17 15:51] g4s8 commented on #2183
@rultor release, tag=`0.50.22`

[2019-10-17 16:46] rultor commented on #2183
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20620-543240007) (spent 53min)

[code]

[2019-10-17 17:01] g4s8 commented on #2183
@rultor release, tag=`0.50.22`

[2019-10-17 17:03] rultor commented on #2183
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20620-543269325)

[2019-10-17 17:21] rultor commented on #2183
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20620-543269325) (took me 16min)

[2019-10-17 17:36] g4s8 commented on #2183
@rultor release, tag=`0.50.23`

[2019-10-17 17:38] rultor commented on #2183
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20620-543282866)

[2019-10-17 17:53] rultor commented on #2183
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20620-543282866) (took me 13min)

[2019-10-17 19:17] g4s8 commented on #2183
@rultor release, tag=`0.50.24`

[2019-10-17 19:19] rultor commented on #2183
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20620-543322196)

[2019-10-17 19:33] rultor commented on #2183
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20620-543322196) (took me 12min)

[2019-10-17 19:49] g4s8 commented on #2183
@rultor release, tag=`0.50.25`

[2019-10-17 19:51] rultor commented on #2183
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20620-543334019)

[2019-10-17 20:05] g4s8 commented on #2183
@rultor release, tag=`0.50.26`

[2019-10-17 20:06] rultor commented on #2183
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20620-543334019) (took me 13min)

[2019-10-17 20:09] rultor commented on #2183
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20620-543339834)

[2019-10-17 20:18] g4s8 commented on #2183
@rultor release, tag=`0.50.26`

[2019-10-17 20:18] rultor commented on #2183
@g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20620-543339834) (spent 8min)

[code]

[2019-10-17 20:21] rultor commented on #2183
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20620-543344413)

[2019-10-17 20:38] rultor commented on #2183
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20620-543344413) (took me 14min)

[2019-10-18 08:48] g4s8 commented on #2183
@rultor release, tag=`0.50.27`

[2019-10-18 08:49] rultor commented on #2183
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20620-543607289)

[2019-10-18 09:03] rultor commented on #2183
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20620-543607289) (took me 13min)

[2019-10-18 10:02] g4s8 commented on #2183
@rultor release, tag=`0.50.28`

[2019-10-18 10:04] rultor commented on #2183
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20620-543647230)

[2019-10-18 10:19] rultor commented on #2183
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20620-543647230) (took me 13min)

[2019-10-18 10:23] g4s8 commented on #2183
@rultor release, tag=`0.50.29`

[2019-10-18 10:25] rultor commented on #2183
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20620-543657172)

[2019-10-18 10:38] rultor commented on #2183
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20620-543657172) (took me 12min)

[2019-10-18 11:07] g4s8 commented on #2183
@rultor release, tag=`0.50.30`

[2019-10-18 11:09] rultor commented on #2183
@g4s8 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20620-543677678)

[2019-10-18 11:24] rultor commented on #2183
@g4s8 Done! FYI, the full log is [here](http://www.rultor.com/t/20620-543677678) (took me 13min)

[2019-10-18 14:17] g4s8 commented on #2183
Fixed

[2019-10-18 14:17] #2183 closed

[2019-10-18 14:42] g4s8 opened #2184 "Recharge is too long"
Here're the stats of recharge stakeholder:
[code]

[2019-10-18 15:04] 0crat commented on #2183
Job [#2183](https://github.com/zerocracy/farm/issues/2183) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-18 15:04] 0crat commented on #2183
Job was finished in 27 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-10-18 15:06] 0crat commented on #2183
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-18 15:12] 0crat commented on #2183
The job [#2183](https://github.com/zerocracy/farm/issues/2183) is now out of scope

[2019-10-18 15:14] 0crat commented on #2184
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-18 15:18] 0crat commented on #2184
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-18 15:19] 0crat commented on #2184
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-18 15:29] 0crat commented on #762
The job [#762](https://github.com/zerocracy/farm/issues/762) assigned to @loro2[/z](https://www.0crat.com/u/loro2), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/ea6094aa-b242-470e-8825-02c25b46eaf7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2019-10-18 16:06] g4s8 commented on #762
@0crat refuse

[2019-10-18 16:07] 0crat commented on #1145
The job [#1145](https://github.com/zerocracy/farm/issues/1145) assigned to @loro2[/z](https://www.0crat.com/u/loro2), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/52f5774e-529d-43c0-8693-d372cc770788); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2019-10-18 16:08] 0crat commented on #762
@g4s8 The user @loro2[/z](https://www.0crat.com/u/loro2) resigned from [#762](https://github.com/zerocracy/farm/issues/762), please stop working. Reason for job resignation: Order was cancelled

[2019-10-18 16:11] 0crat commented on #2164
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2164](https://github.com/zerocracy/farm/issues/2164), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-10-18 16:11] g4s8 commented on #2118
@0crat assign @loro2

[2019-10-18 16:11] g4s8 commented on #2124
@0crat assign @loro2

[2019-10-18 16:12] g4s8 commented on #2051
@0crat assign @loro2

[2019-10-18 16:13] g4s8 commented on #2164
Fixed in https://github.com/zerocracy/farm/commit/d5ea5d105ab43218bb8a9eda699174f00e620f3a https://github.com/zerocracy/farm/commit/8b9eecffcfe8e4534d07ca537e5a59c75ac4e6ab

[2019-10-18 16:13] #2164 closed

[2019-10-18 16:14] 0crat commented on #2164
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-18 16:15] 0crat commented on #2164
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-18 16:15] 0crat commented on #2164
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-18 16:16] 0crat commented on #2051
@g4s8 The job [#2051](https://github.com/zerocracy/farm/issues/2051) assigned to @loro2[/z](https://www.0crat.com/u/loro2), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/7687f762-364e-4ba2-92a9-f84c52117ba7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-10-18 16:16] 0crat commented on #2051
@g4s8 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.50.30](https://github.com/zerocracy/farm): CID: [70af2c94-32bd-40d0-9324-570f7d1f11b6](https://www.0crat.com/footprint/C3NDPUA8L/70af2c94-32bd-40d0-9324-570f7d1f11b6), Type: "Order was canceled"

[2019-10-18 16:17] 0crat commented on #2118
@g4s8 The job [#2118](https://github.com/zerocracy/farm/issues/2118) assigned to @loro2[/z](https://www.0crat.com/u/loro2), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/d301ae02-515d-4844-bf6c-f3dcb95eae33); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-10-18 16:17] 0crat commented on #2118
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-18 16:17] 0crat commented on #2051
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @loro2[/z](https://www.0crat.com/u/loro2) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-18 16:18] 0crat commented on #2051
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-18 16:50] 0crat commented on #2164
Job [#2164](https://github.com/zerocracy/farm/issues/2164) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-10-18 16:57] 0crat commented on #2164
The job [#2164](https://github.com/zerocracy/farm/issues/2164) is now out of scope

[2019-10-18 16:57] 0crat commented on #2164
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-10-18 16:58] 0crat commented on #2164
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-18 20:07] 0crat commented on #762
The job [#762](https://github.com/zerocracy/farm/issues/762) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/b7549fa9-df48-4e6e-a65d-8fe4bf78ba9d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-10-19 22:49] 0crat commented on #1311
The job [#1311](https://github.com/zerocracy/farm/issues/1311) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/af6a6811-4362-418e-8d53-46c540fc4219); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-10-19 22:52] 0crat commented on #1640
The job [#1640](https://github.com/zerocracy/farm/issues/1640) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/41ee4c97-f17c-4ae7-9b64-478ad9c8eab7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-10-19 23:09] 0crat commented on #1311
Job `gh:zerocracy/farm#1311` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-10-20 10:26] victornoel commented on #903
@g4s8 how do you choose the prefix in the bundle names? Do I put anything unique or is there some rule there?

[2019-10-20 10:29] victornoel commented on #903
@0crat waiting for ARC answer

[2019-10-21 02:32] 0crat commented on #2176
@g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#2176](https://github.com/zerocracy/farm/issues/2176), since the job is not in scope anymore

[2019-10-21 02:32] 0crat commented on #2177
The job [#2177](https://github.com/zerocracy/farm/issues/2177) is now out of scope

[2019-10-21 02:32] 0crat commented on #2176
The job [#2176](https://github.com/zerocracy/farm/issues/2176) is now out of scope

[2019-10-21 02:38] 0crat commented on #2176
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.50.30](https://github.com/zerocracy/farm): CID: [be4e3499-88f3-45f4-b08d-4baafcb49901](https://www.0crat.com/footprint/C3NDPUA8L/be4e3499-88f3-45f4-b08d-4baafcb49901), Type: "Order was canceled"

[2019-10-21 02:43] 0crat commented on #2177
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-10-21 07:00] yegor256 opened #2185 "migrate to Dokku"
Let's migrate to Dokku from Heroku. I will take care of this.

[2019-10-21 07:30] g4s8 commented on #903
@victornoel yes, it's a workaround for `BundleTest`, it should be any unique string

[2019-10-21 09:48] loro2 commented on #2051
@g4s8 Is it possible to get a stacktrace for this error message?

[2019-10-21 10:23] loro2 commented on #2051
@g4s8 also, what is this about?

[2019-10-21 10:24] loro2 commented on #2051
@0crat status

[2019-10-21 12:15] g4s8 commented on #2051
@0crat status

[2019-10-21 14:49] 0crat commented on #2051
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/2051#issuecomment-544451316); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-10-21 15:28] 0crat commented on #2051
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#2051](https://github.com/zerocracy/farm/issues/2051) is [in scope](http://www.zerocracy.com/policy.html#14) for 5mon
  * The role is `DEV`
  * The job is assigned to @loro2[/z](https://www.0crat.com/u/loro2) for [3days](http://www.zerocrac

[2019-10-21 15:29] 0crat commented on #2051
@loro2 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#2051](https://github.com/zerocracy/farm/issues/2051) is [in scope](http://www.zerocracy.com/policy.html#14) for 5mon
  * The role is `DEV`
  * The job is assigned to @loro2[/z](https://www.0crat.com/u/loro2) for [3days](http://www.zerocra

[2019-10-21 15:32] 0crat commented on #903
@victornoel The impediment for [#903](https://github.com/zerocracy/farm/issues/903) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-10-21 15:57] g4s8 commented on #2051
@loro2 sure, [the stacktrace](https://www.0crat.com/footprint/CGC59KB9B/732fda6e-2acc-45aa-b805-77e0678785d5):
[code]

[2019-10-21 17:18] victornoel commented on #903
@g4s8 thanks, and another question: the todo is coming from #696 which doesn't apply to zld payment method (zld is always paid directly). Since zld is the unique payment method, what should we be testing for as a starter? Just that debts are paid?

[2019-10-21 17:24] g4s8 commented on #903
@victornoel we have `FkBank` implementation which is called by `Payroll` when testing. You can use this class for test.

[2019-10-22 13:21] paulodamaso commented on #762
@g4s8 I don't know if it's possible to do it in a consistent way. Claims are asynchronous and created by 0crat `bots` on demand, so I think that it would be difficult to get back to original claim and alter or add a new children to it every time it triggers a new claim.

[2019-10-22 13:23] g4s8 commented on #762
@paulodamaso I think it's not very important bug for now

[2019-10-22 13:23] g4s8 commented on #762
@0crat refuse

[2019-10-22 13:23] g4s8 commented on #762
@0crat out

[2019-10-22 13:40] 0crat commented on #762
@g4s8 GitHub issue is still open, won't close

[2019-10-22 13:47] 0crat commented on #762
@g4s8 The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#762](https://github.com/zerocracy/farm/issues/762), please stop working. Reason for job resignation: Order was cancelled

[2019-10-22 14:06] yegor256 commented on #2185
@rultor release, tag is `0.50.31`

[2019-10-22 14:10] rultor commented on #2185
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20675-544979878)

[2019-10-23 01:22] yegor256 commented on #2185
@rultor release, tag is `0.50.31`

[2019-10-23 06:53] rultor commented on #2185
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20675-544979878) (took me 15min)

[2019-10-23 07:11] #2185 closed

[2019-10-23 07:17] rultor commented on #2185
@yegor256 Invalid release tag `0.50.31` specified. There is already a release `0.50.31` newer than the given release in this repository.

[2019-10-23 07:17] rultor commented on #2185
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-10-23 07:45] 0crat commented on #2185
Job `gh:zerocracy/farm#2185` is not assigned, can't get performer

[2019-10-23 07:56] 0crat commented on #2185
This job is not in scope

[2019-10-24 09:20] loro2 commented on #1145
Created PR #2187 for this issue

[2019-10-24 14:18] iakunin opened #2188 "Unable to hold the issue"
# Steps to reproduce
I'm trying to hold the issue (see https://github.com/yegor256/cactoos-http/issues/99#issuecomment-545396374).

And 0crat said that it's already on hold (https://github.com/yegor256/cactoos-http/issues/99#issuecomment-545404469).

# Expected behavior
1. Issue has the label "waiting".
1. I can see in my [agenda-page](https://www.0crat.com/u/iakunin/agenda) that [job 99](https://

[2019-10-24 14:18] 0crat commented on #2188
@iakunin[/z](https://www.0crat.com/u/iakunin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-24 14:49] 0crat commented on #1259
The job [#1259](https://github.com/zerocracy/farm/issues/1259) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/345b1a12-c953-4a0c-be08-6088f5a954a9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-10-24 15:03] 0crat commented on #1384
The job [#1384](https://github.com/zerocracy/farm/issues/1384) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/ad4efe3f-67db-421c-be4c-292dc1c70a5a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-10-24 17:10] 0crat commented on #1392
The job [#1392](https://github.com/zerocracy/farm/issues/1392) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/7cc46189-778d-4ed2-a0fd-4f208abc9900); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-10-25 09:44] carlosmiranda commented on #1259
@0crat refuse

[2019-10-25 09:45] carlosmiranda commented on #1384
@0crat refuse

[2019-10-25 09:45] carlosmiranda commented on #1392
@0crat refuse

[2019-10-25 10:02] 0crat commented on #1384
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1384](https://github.com/zerocracy/farm/issues/1384), please stop working. Reason for job resignation: Order was cancelled

[2019-10-25 10:06] 0crat commented on #1259
@carlosmiranda Job refused in 19 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-25 10:08] 0crat commented on #1259
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1259](https://github.com/zerocracy/farm/issues/1259), please stop working. Reason for job resignation: Order was cancelled

[2019-10-25 10:08] 0crat commented on #1392
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1392](https://github.com/zerocracy/farm/issues/1392), please stop working. Reason for job resignation: Order was cancelled

[2019-10-25 10:12] 0crat commented on #1392
@carlosmiranda Job refused in 18 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-25 10:18] 0crat commented on #1384
@carlosmiranda Job refused in 19 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-25 12:23] loro2 commented on #2118
@g4s8 Requesting more details. Just to make it clear, the job was correctly **assigned** to you (in the case of #2117), but not added to your **agenda**?

Is the expected behavior after fixing the issue that you will be able to have jobs assigned to you and present in your agenda, which do not meet your project rate?

[2019-10-26 03:56] carlosmiranda commented on #1461
@0crat refuse

[2019-10-26 04:53] 0crat commented on #1461
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1461](https://github.com/zerocracy/farm/issues/1461), please stop working. Reason for job resignation: Order was cancelled

[2019-10-26 05:18] 0crat commented on #1461
Tasks refusal is discouraged (job refused in 36 hours), see [§6](http://www.zerocracy.com/policy.html#6): -10 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-10-26 05:48] 0crat commented on #1472
The job [#1472](https://github.com/zerocracy/farm/issues/1472) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/81d5c185-79e0-4af6-8da7-d36e1bbd570b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-10-26 06:43] 0crat commented on #1483
The job [#1483](https://github.com/zerocracy/farm/issues/1483) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/09e60415-e533-4f1b-acc9-ab52f84a330a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-10-26 09:02] loro2 commented on #2118
@0crat wait

[2019-10-26 09:27] 0crat commented on #2118
@loro2 The impediment for [#2118](https://github.com/zerocracy/farm/issues/2118) was registered successfully by @loro2[/z](https://www.0crat.com/u/loro2)

[2019-10-26 10:06] carlosmiranda commented on #1472
@0crat refuse

[2019-10-26 10:23] 0crat commented on #1472
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1472](https://github.com/zerocracy/farm/issues/1472), please stop working. Reason for job resignation: Order was cancelled

[2019-10-26 10:29] 0crat commented on #1472
@carlosmiranda Job refused in 4 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-10-26 11:39] loro2 commented on #2051
Created PR #2189 for this issue

[2019-10-26 11:44] loro2 opened #2190 "Parameter "age" not found in "Order was canceled""
0crat failed unrecoverably in #2051 thread

0.50.30: CID: 70af2c94-32bd-40d0-9324-570f7d1f11b6, Type: "Order was canceled"

[2019-10-26 11:44] 0crat commented on #2190
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-10-27 07:15] carlosmiranda commented on #1483
@0crat refuse

[2019-10-28 06:52] 0crat commented on #1483
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#1483](https://github.com/zerocracy/farm/issues/1483), please stop working. Reason for job resignation: Order was cancelled

[2019-10-28 09:10] g4s8 commented on #2118
@loro2 correct: job was assigned (in project's `orders.xml`) and added to WBS (projects `wbs.xml`) but was not added to my personal agenda (`pmo/agenda.xml`).
Related footprint is:
[code]

[2019-10-28 10:07] 0crat commented on #1483
Tasks refusal is discouraged (job refused in 46 hours), see [§6](http://www.zerocracy.com/policy.html#6): -10 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-10-28 14:23] g4s8 opened #2191 "Health checks"
Add `/health` page to display health checks for 0crat components:
 - S3 status
 - SQS status
 - GitHub status
 - Stakeholders brigade status

(maybe more?)

[2019-10-28 15:24] g4s8 commented on #2191
@rultor release, tag=`0.30.8`

[2019-10-28 15:30] rultor commented on #2191
@g4s8 Invalid release tag `0.30.8` specified. There is already a release `0.50.31` newer than the given release in this repository.

[2019-10-28 15:30] rultor commented on #2191
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-10-28 15:31] g4s8 commented on #2191
@rultor release, tag=`0.50.32`

[2019-10-28 15:34] rultor commented on #2191
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20724-547002413)

[2019-10-28 16:07] rultor commented on #2191
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/20724-547002413) (took me 26min)

[2019-10-28 20:09] paulodamaso commented on #1640
@0crat wait for #2193 review

[2019-10-29 06:03] g4s8 opened #2194 "Election is very slow for huge WBS"
Election process is very slow for projects with huge WBS, e.g. election for `C3NDPUA8L` project with 250 WBS items takes about 15 minutes.

[2019-10-29 06:18] g4s8 commented on #2194
@rultor release, tag=`0.50.33`

[2019-10-29 06:21] rultor commented on #2194
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20729-547273949)

[2019-10-29 06:57] rultor commented on #2194
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/20729-547273949) (took me 31min)

[2019-10-29 13:51] g4s8 commented on #2194
@rultor release, tag=`0.50.34`

[2019-10-29 13:56] rultor commented on #2194
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20729-547429799)

[2019-10-29 14:32] rultor commented on #2194
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/20729-547429799) (took me 27min)

[2019-10-29 18:18] 0crat commented on #1640
@paulodamaso The impediment for [#1640](https://github.com/zerocracy/farm/issues/1640) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-11-04 10:14] 0pdd opened #2195 "elect_performer.groovy:63-67: Election is disabled for..."
The puzzle `2194-2e5e4df3` from #2194 has to be resolved:

https://github.com/zerocracy/farm/blob/4a2fe9940b36f978d7f8943ca44589e2cea0f513/src/main/groovy/com/zerocracy/stk/pm/staff/elections/elect_performer.groovy#L63-L67

The puzzle was created by Yegor Bugayenko on 04-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The t

[2019-11-04 10:14] 0pdd commented on #2194
@g4s8 the puzzle [#2195](https://github.com/zerocracy/farm/issues/2195) is still not solved.

[2019-11-08 16:38] paulodamaso opened #2196 "0crat is not penalizing for delays"
As happened in https://github.com/yegor256/cactoos-http/pull/100

@0crat Didn't unassigned the reviewer and the penalty was not applied, making the ticket to become locked / stuck.

[2019-11-08 16:39] 0crat commented on #2196
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-11-08 22:39] fabriciofx opened #2197 "Agenda shows me negative amount of time (and in minutes)"
Agenda shows me negative amount of time (and in minutes), as you can see in the picture below:

![image](https://user-images.githubusercontent.com/1964562/68515372-7a95ae80-025f-11ea-8f6f-51a7d31fcd68.png)

[2019-11-08 22:39] 0crat commented on #2197
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-11-09 09:17] g4s8 commented on #2197
Duplicate of #1686

[2019-11-09 09:17] #2197 closed

[2019-11-09 09:18] 0crat commented on #2197
Job `gh:zerocracy/farm#2197` is not assigned, can't get performer

[2019-11-09 09:23] g4s8 commented on #2196
@paulodamaso 0crat is not resigning code reviewers, since they can't control the speed of the ticket, e.g. when PR submitter delays CR fixes
See:

https://github.com/zerocracy/farm/blob/master/src/main/groovy/com/zerocracy/stk/pm/in/orders/resign_on_delay.groovy#L84-L86

[2019-11-09 09:23] #2196 closed

[2019-11-09 09:47] 0crat commented on #2196
Job `gh:zerocracy/farm#2196` is not assigned, can't get performer

[2019-11-09 09:48] 0crat commented on #2196
This job is not in scope

[2019-11-10 09:11] g4s8 commented on #2194
Election was disabled for huge WBS: https://github.com/zerocracy/farm/commit/a80b4586a1f39440e693169d4bac70e94bba77d6, todo submitted: https://github.com/zerocracy/farm/issues/2195

[2019-11-10 09:11] #2194 closed

[2019-11-10 09:12] mohamednizar opened #2198 "Zerocrat awarded double penalty looks on delay of job"
After commanding the @0crat  to continue , its awarded double penalty instead of awarding points.

I here by adding the reference of the related ticket. https://github.com/g4s8/gitstrap/issues/28

![Screenshot from 2019-11-10 14-38-11](https://user-images.githubusercontent.com/8711284/68541651-34a82a00-03c8-11ea-8ce3-d7009639cda2.png)

This need to fixed.

[2019-11-10 09:13] 0crat commented on #2198
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-11-10 09:13] 0crat commented on #2198
@mohamednizar[/z](https://www.0crat.com/u/mohamednizar) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-11-10 09:18] 0crat commented on #2198
Job [#2198](https://github.com/zerocracy/farm/issues/2198) is now in scope, role is `DEV`

[2019-11-10 09:21] 0crat commented on #2198
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-11-10 09:29] 0crat commented on #2194
Job `gh:zerocracy/farm#2194` is not assigned, can't get performer

[2019-11-10 09:29] 0crat commented on #2194
This job is not in scope

[2019-11-11 06:21] mohamednizar opened #2199 "Enable rollback transaction option for 0crat"
Some time 0crat miss behave  due bugs or any reasons, this will affect the `DEV` , if it's possible to create the commnad call @0crat `rollback` after the processing of mistakes, this will help the reform the zeroracy PM flow more refined.

An example of malicious behavior of @0crat  can be find in this ticket. https://github.com/zerocracy/farm/issues/2198

@g4s8 , this is for your concern.

[2019-11-11 06:21] 0crat commented on #2199
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-11-11 06:21] 0crat commented on #2199
@mohamednizar[/z](https://www.0crat.com/u/mohamednizar) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-11-12 08:44] loro2 opened #2200 "Build on master failing since 10/28"
Build history: https://travis-ci.org/zerocracy/farm/builds
First failure: https://travis-ci.org/zerocracy/farm/builds/603783085
Latest failure to date: https://travis-ci.org/zerocracy/farm/builds/610288571

This is blocking merge of all recent and upcoming PRs, inluding #2187 #2189 #2193

[2019-11-12 08:44] 0crat commented on #2200
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-11-12 08:47] loro2 commented on #2051
@0crat wait #2200

[2019-11-12 08:48] loro2 commented on #1145
@0crat wait #2200

[2019-11-12 08:53] 0crat commented on #2051
@loro2 The impediment for [#2051](https://github.com/zerocracy/farm/issues/2051) was registered successfully by @loro2[/z](https://www.0crat.com/u/loro2)

[2019-11-12 08:56] 0crat commented on #1145
@loro2 The impediment for [#1145](https://github.com/zerocracy/farm/issues/1145) was registered successfully by @loro2[/z](https://www.0crat.com/u/loro2)

[2019-11-12 13:32] 0crat commented on #2200
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2200](https://github.com/zerocracy/farm/issues/2200), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-11-12 13:33] 0crat commented on #2200
Job `gh:zerocracy/farm#2200` already assigned to @g4s8, can't assign to @g4s8

[2019-11-12 13:34] 0crat commented on #2200
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @loro2[/z](https://www.0crat.com/u/loro2)

[2019-11-12 13:35] 0crat commented on #2200
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-11-12 15:02] g4s8 commented on #2200
@loro2 should be fixed for all PRs except #2193. Please merge the latest commit in master to all your PRs

[2019-11-15 08:57] vzurauskas opened #2202 "Zerocrat decided quality of REV job is low"
In a project without a QA, Zerocrat decided quality of REV job is low, when in fact it wasn't.

This is the PR where REV job was done: https://github.com/sunsofterp/portal/pull/432

The repo has restricted access, so I'll list the sequence of Zerocrat's actions here:

ARC: `@rultor merge`
Rultor: `OK, I'll try to merge now. You can check the progress of the merge here`
`rultor merged commit 3a5e13

[2019-11-15 08:57] 0crat commented on #2202
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-11-15 08:57] 0crat commented on #2202
@vzurauskas[/z](https://www.0crat.com/u/vzurauskas) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-11-15 09:24] 0crat commented on #2202
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2202](https://github.com/zerocracy/farm/issues/2202), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-11-15 09:24] 0crat commented on #2202
Job `gh:zerocracy/farm#2202` already assigned to @g4s8, can't assign to @g4s8

[2019-11-15 09:27] 0crat commented on #2202
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-11-15 09:29] 0crat commented on #2202
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-11-15 09:56] g4s8 commented on #2202
@rultor release, tag=`0.50.35`

[2019-11-15 09:57] 0pdd opened #2203 "finish_order.groovy:102-106: Fix JobAudit. It may..."
The puzzle `2202-a6c7d53a` from #2202 has to be resolved:

https://github.com/zerocracy/farm/blob/aaab066f25ded9a78c2fc7536b594fcb151d13f0/src/main/groovy/com/zerocracy/stk/pm/in/orders/finish_order.groovy#L102-L106

The puzzle was created by Kirill on 15-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"do

[2019-11-15 09:57] 0pdd commented on #2202
@vzurauskas the puzzle [#2203](https://github.com/zerocracy/farm/issues/2203) is still not solved.

[2019-11-15 09:57] 0crat commented on #2203
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-11-15 09:58] 0crat commented on #2203
Job [#2203](https://github.com/zerocracy/farm/issues/2203) is now in scope, role is `DEV`

[2019-11-15 10:00] rultor commented on #2202
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20869-554293829)

[2019-11-15 10:27] rultor commented on #2202
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/20869-554293829) (took me 20min)

[2019-11-15 11:03] g4s8 commented on #2202
@vzurauskas should be fixed in `0.50.35`

[2019-11-17 15:45] vzurauskas commented on #2202
@g4s8 Thanks.

[2019-11-17 15:45] #2202 closed

[2019-11-17 16:04] 0crat commented on #2202
Job [#2202](https://github.com/zerocracy/farm/issues/2202) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2019-11-17 16:05] 0crat commented on #2202
The job [#2202](https://github.com/zerocracy/farm/issues/2202) is now out of scope

[2019-11-17 16:09] 0crat commented on #2202
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-11-18 15:12] 0pdd opened #2204 "MilestonesTest.java:52-56: Adding milestones which..."
The puzzle `2051-5324c0a4` from #2051 has to be resolved:

https://github.com/zerocracy/farm/blob/14bcffcb874ff865cc09adce47b93520d8595623/src/test/java/com/zerocracy/pm/time/MilestonesTest.java#L52-L56

The puzzle was created by loro2 on 26-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2019-11-18 15:12] 0pdd commented on #2051
@amorenew the puzzle [#2204](https://github.com/zerocracy/farm/issues/2204) is still not solved.

[2019-11-18 15:12] 0crat commented on #2204
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-11-18 15:13] 0crat commented on #2204
Job [#2204](https://github.com/zerocracy/farm/issues/2204) is now in scope, role is `DEV`

[2019-11-18 16:30] #1145 closed

[2019-11-18 16:30] 0pdd commented on #1145
The puzzle `989-2e7ad176` has disappeared from the source code, that's why I closed this issue.

[2019-11-18 16:30] 0pdd commented on #989
@yegor256 the only puzzle [#1145](https://github.com/zerocracy/farm/issues/1145) is solved here.

[2019-11-18 16:59] 0crat commented on #1145
The job [#1145](https://github.com/zerocracy/farm/issues/1145) is now out of scope

[2019-11-18 17:00] 0crat commented on #1145
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @loro2[/z](https://www.0crat.com/u/loro2), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-18 17:04] sereshqua commented on #1145
@loro2 please make sure you start all your comments with the name of the user they are referred to, [see](https://github.com/zerocracy/farm/issues/1145#issuecomment-545828735)

[2019-11-19 15:29] loro2 commented on #1145
@sereshqua confirmed

[2019-11-19 15:34] sereshqua commented on #1145
@0crat quality acceptable

[2019-11-19 15:38] loro2 commented on #2051
@g4s8 I wrote the unit test for this case, how can I get payment for that PR?

[2019-11-19 15:56] 0crat commented on #1145
Order was finished, quality is "acceptable": +30 point(s) just awarded to @loro2[/z](https://www.0crat.com/u/loro2)

[2019-11-19 15:56] 0crat commented on #1145
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-11-19 16:10] g4s8 commented on #2051
@loro2 to get the payment you need to close this ticket by asking its author @amorenew

[2019-11-19 20:51] iakunin opened #2205 "Unable to open user page"
I'm trying to open my user page (https://www.0crat.com/u/iakunin).

And I'm getting this stacktrace:
[code]

The same error during opening board page (https://www.0crat.com/board):
[code]

[2019-11-19 21:03] monomonedula opened #2206 "Internal application error"
Unable to acces zerocrat's board.

Internal application error

0.50.35, ${buildNumber}
[code]

[2019-11-19 21:52] fanifieiev commented on #2205
@iakunin I am getting similar error

_Internal application error
0.50.35, ${buildNumber}

Please, report it here. We will do our best to fix it as soon as possible. We're very sorry.

java.lang.IllegalStateException: [GET https://www.0crat.com/p/C63314D6Z] failed in 1s: java.io.IOException: failed to check existence of 'PMO/catalog.xml' in 'data.0crat.com'
	at org.takes.facets.fallback.TkFallback.

[2019-11-19 22:21] iakunin commented on #2188
Not actual anymore.

[2019-11-19 22:21] #2188 closed

[2019-11-20 00:34] carlosmiranda commented on #2206
@g4s8 @yegor256 I am getting this error too

[2019-11-20 02:47] fabriciofx commented on #2206
@g4s8 @yegor256 @carlosmiranda me too

[2019-11-20 06:26] #2051 closed

[2019-11-20 13:40] g4s8 commented on #2206
@rultor release, tag=`0.50.36`

[2019-11-20 13:43] g4s8 opened #2207 "Restart endpoint"
Let's add restart endpoint to allow PMO users to shutdown 0crat and restart it automatically.

[2019-11-20 13:44] rultor commented on #2206
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20904-556007594)

[2019-11-20 14:10] rultor commented on #2206
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/20904-556007594) (took me 18min)

[2019-11-20 14:39] 0crat commented on #2207
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2207](https://github.com/zerocracy/farm/issues/2207), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-11-20 15:01] 0crat commented on #2207
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-11-20 15:20] 0crat commented on #2207
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-11-20 15:26] 0crat commented on #2207
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-11-21 04:47] mohamednizar opened #2208 "0crat not performing on closing tickets"
The @0crat  not closing the tickets even after all scenarios filled.

1. Code was merged.
2. Quality is reviewed.

But not the job still not completed yet. Refer the link : https://github.com/yegor256/jpeek/issues/315

[2019-11-21 04:48] 0crat commented on #2208
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-11-21 04:48] 0crat commented on #2208
@mohamednizar[/z](https://www.0crat.com/u/mohamednizar) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-11-21 08:14] g4s8 commented on #2208
@mohamednizar you need to ask project architect to remove this ticket from the scope using `0crat out` command. It's related to #2206

[2019-11-21 08:14] g4s8 commented on #2206
@monomonedula it was fixed

[2019-11-21 08:14] #2206 closed

[2019-11-21 08:15] g4s8 commented on #2205
@iakunin it's the same issue as #2206, should be fixed already

[2019-11-21 08:15] #2205 closed

[2019-11-21 08:31] 0crat commented on #2206
Job `gh:zerocracy/farm#2206` is not assigned, can't get performer

[2019-11-21 08:32] 0crat commented on #2206
This job is not in scope

[2019-11-21 08:32] 0crat commented on #2205
Job `gh:zerocracy/farm#2205` is not assigned, can't get performer

[2019-11-21 08:32] 0crat commented on #2205
This job is not in scope

[2019-11-21 08:42] iakunin commented on #2205
@g4s8 yes, you’re right. It’s fixed. Thank you.

[2019-11-24 06:26] mohamednizar opened #2209 "0crat reassinged a job which is not in may agenda"
I have been awarded for job which is not in my agenda .

https://github.com/yegor256/jpeek/issues/316

[2019-11-24 06:26] 0crat commented on #2209
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-11-24 06:26] 0crat commented on #2209
@mohamednizar[/z](https://www.0crat.com/u/mohamednizar) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-11-25 12:44] 0crat commented on #2209
Job [#2209](https://github.com/zerocracy/farm/issues/2209) is now in scope, role is `DEV`

[2019-11-25 12:54] 0crat commented on #2209
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-11-27 03:42] 0crat commented on #2051
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @loro2[/z](https://www.0crat.com/u/loro2), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-27 03:49] 0crat commented on #2051
The job [#2051](https://github.com/zerocracy/farm/issues/2051) is now out of scope

[2019-12-03 06:10] sereshqua commented on #2051
@0crat quality good

[2019-12-03 06:26] 0crat commented on #2051
Order was finished, quality is "good": +35 point(s) just awarded to @loro2[/z](https://www.0crat.com/u/loro2)

[2019-12-03 06:26] 0crat commented on #2051
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-12-05 07:35] piotrkot opened #2210 "Reasigning ticket doesn't work"
According to [this](https://github.com/yegor256/takes/issues/997) each ticket has a deadline of 10 days before 0crat assigns it to another developer. This does not happen.

[2019-12-05 07:35] 0crat commented on #2210
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-12-05 07:35] 0crat commented on #2210
@piotrkot[/z](https://www.0crat.com/u/piotrkot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-05 14:30] g4s8 commented on #2210
@piotrkot it's correct only for non-free projects with estimated tasks. But motivation to complete free tasks is lower, so 0crat doesn't apply 10-days rule for free projects.

[2019-12-05 14:41] piotrkot commented on #2210
@g4s8 OK, so what is the rule for free projects like [takes](https://github.com/yegor256/takes)?

[2019-12-11 17:21] haste100 opened #2211 "ArrayIndexOutOfBoundsException"
PID: 12@68bbc88e347b, thread: Grizzly(1)
com.zerocracy.radars.slack.ReProfile[45] java.lang.ArrayIndexOutOfBoundsException: 1

[2019-12-11 17:21] 0crat commented on #2211
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-12-11 17:21] 0crat commented on #2211
@haste100[/z](https://www.0crat.com/u/haste100) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-11 17:39] g4s8 commented on #2211
@haste100 can you please provide more details? E.g. where did you get this error, what steps to reproduce, etc

[2019-12-11 17:56] haste100 commented on #2211
в чате приложения 0crat
Отправить сообщение Hi или Hello
и тут же возникает эта ошибка.

[2019-12-13 08:51] g4s8 opened #2212 "Division by zero in pay_architect_for_release"
Error from Sentry:

Tags
----

* level = error
* sentry:release = 0.50.36
* server_name = 68bbc88e347b

Exception
-----------
[code]

Message
-----------

Division by zero

[2019-12-13 08:55] 0crat commented on #2212
Job [#2212](https://github.com/zerocracy/farm/issues/2212) is now in scope, role is `DEV`

[2019-12-13 09:00] 0crat commented on #2212
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-12-14 08:40] g4s8 commented on #2206
@rultor release, tag=`0.50.37`

[2019-12-14 08:44] rultor commented on #2206
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20904-565696825)

[2019-12-14 09:11] rultor commented on #2206
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/20904-565696825) (took me 21min)

[2019-12-16 13:27] sweatC opened #2213 "How to use Zerocrat bot in GitHub Open Source projects"
Do you have any commands to manage my Open Source projects in Github with your bot?

[2019-12-16 13:27] 0crat commented on #2213
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-12-16 13:27] 0crat commented on #2213
@sweatc[/z](https://www.0crat.com/u/sweatc) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-18 15:00] g4s8 commented on #2213
@sweatC 0crat has same commands for both OS projects and private projects. The only difference is that 0crat won't take a fee when managing OS projects. See https://www.zerocracy.com/policy.html#23

[2019-12-20 17:20] g4s8 commented on #2206
@rultor release, tag=`0.50.38`

[2019-12-20 17:23] rultor commented on #2206
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20904-568007368)

[2019-12-20 17:51] rultor commented on #2206
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/20904-568007368) (took me 22min)

[2019-12-20 17:52] sweatC commented on #2213
@g4s8 do you have any documents that regulate 0crate behavior? Maybe some API reference?

[2019-12-20 18:33] g4s8 commented on #2213
@sweatC what did you mean by "regulate 0crate behavior"? You can configure 0crat by using project slack channel, see:
 - https://www.zerocracy.com/policy.html
 - https://www.zerocracy.com/faq.html
 - https://www.zerocracy.com/pfaq.html

[2019-12-30 08:48] #2113 closed

[2019-12-30 08:48] #2079 closed

[2019-12-30 08:49] #1999 closed

[2019-12-30 08:49] #2047 closed

[2019-12-30 09:08] 0crat commented on #2079
Job `gh:zerocracy/farm#2079` is not assigned, can't get performer

[2019-12-30 09:10] 0crat commented on #2113
This job is not in scope

[2019-12-30 09:10] 0crat commented on #1999
Job `gh:zerocracy/farm#1999` is not assigned, can't get performer

[2019-12-30 09:18] 0crat commented on #2079
This job is not in scope

[2019-12-30 09:21] 0crat commented on #2047
Job `gh:zerocracy/farm#2047` is not assigned, can't get performer

[2019-12-30 09:22] 0crat commented on #1999
This job is not in scope

[2019-12-30 09:22] 0crat commented on #2113
Job `gh:zerocracy/farm#2113` is not assigned, can't get performer

[2019-12-30 09:23] 0crat commented on #2047
This job is not in scope

[2020-01-07 14:54] fanifieiev opened #2214 "0crat is not managing long PR reviews"
I contribute to [Cactoos](https://github.com/yegor256/cactoos) and [Takes ](https://github.com/yegor256/takes)projects.
One of my concerns is that some reviewers do not complete their review of PR assigned to them.
One of my PRs(https://github.com/yegor256/takes/pull/1001) has been in review status for approx 40 days and has been looked into by reviewer only once.
Any attempts to involve the archi

[2020-01-07 14:55] 0crat commented on #2214
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-07 14:55] 0crat commented on #2214
@fanifieiev[/z](https://www.0crat.com/u/fanifieiev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-07 15:06] g4s8 commented on #2214
@fanifieiev it's a duplicate of #2196

[2020-01-07 15:06] #2214 closed

[2020-01-07 15:10] 0crat commented on #2214
Job `gh:zerocracy/farm#2214` is not assigned, can't get performer

[2020-01-07 15:19] fanifieiev commented on #2214
@g4s8 Thanks, I have read #2196 . Based on your answer there is no way to reassign a PR if reviewed for long.
That is true, the REV cannot control it, when PR submitter delays CR fixes, but what about the case when PR submitter submitted changes and is waiting for another review for really long time????

As far as I understand the time period spent for REV since the latest commit can be evaluated

[2020-01-07 17:26] g4s8 commented on #2214
@fanifieiev such cases should be handled by project architect, so you need to ping him or maybe ping PO to take some actions.

[2020-01-08 16:35] fanifieiev opened #2215 "0crat assigns more jobs than allowed"
I have only 3 max jobs that can be assigned to me.
Today `0crat `assigned 2 more.
![image](https://user-images.githubusercontent.com/3167940/71996890-fd5cca80-320a-11ea-99ab-1991dbf9b847.png)

[2020-01-08 16:35] 0crat commented on #2215
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-08 16:35] 0crat commented on #2215
@fanifieiev[/z](https://www.0crat.com/u/fanifieiev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-08 17:10] g4s8 commented on #2215
@fanifieiev `REV` jobs has the highest priority, 0crat doesn't count your agenda size on assigning `REV` jobs, see [policy](https://www.zerocracy.com/policy.html#3):

[2020-01-08 17:10] #2215 closed

[2020-01-08 17:11] 0crat commented on #2215
Job `gh:zerocracy/farm#2215` is not assigned, can't get performer

[2020-01-08 17:19] fanifieiev commented on #2215
@g4s8 Thanks, got it.

[2020-01-12 09:18] vzurauskas opened #2216 "Zerocrat can't see my Github account"
Zerocrat just told me this:

[code]

"vzurauskas" does exist, here it is: https://github.com/vzurauskas

[2020-01-12 09:18] 0crat commented on #2216
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-12 09:18] 0crat commented on #2216
@vzurauskas[/z](https://www.0crat.com/u/vzurauskas) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-12 10:44] g4s8 commented on #2216
@vzurauskas this error message comes from WTS API, so please re-submit this ticket here: https://github.com/zold-io/wts.zold.io/

[2020-01-12 10:44] #2216 closed

[2020-01-12 11:05] 0crat commented on #2216
Job `gh:zerocracy/farm#2216` is not assigned, can't get performer

[2020-01-12 11:05] 0crat commented on #2216
This job is not in scope

[2020-01-12 11:54] vzurauskas commented on #2216
@g4s8 Ok, thanks.

[2020-01-14 14:15] fanifieiev opened #2217 "Reputation points were dropped by 0crat by no reason"
On Jan 13, 2020 I had +390 points in total(telegram message as a prove below), but today I am having only +360. Looks like one or two records were lost from my points history.
![image](https://user-images.githubusercontent.com/3167940/72351394-42bb4500-36ae-11ea-93bc-6d562424df0f.png)

![image](https://user-images.githubusercontent.com/3167940/72351426-52d32480-36ae-11ea-921d-9da106050b99.png)

[2020-01-14 14:15] 0crat commented on #2217
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-14 14:15] 0crat commented on #2217
@fanifieiev[/z](https://www.0crat.com/u/fanifieiev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-14 14:53] g4s8 commented on #2217
@fanifieiev most probably it was dropped by 90-days rule: https://www.zerocracy.com/policy.html#18

[2020-01-14 16:02] fanifieiev commented on #2217
@g4s8 Oh, that is right. Sorry, forgot about that rule.
Closing.

[2020-01-14 16:02] #2217 closed

[2020-01-14 16:20] 0crat commented on #2217
This job is not in scope

[2020-01-14 16:21] 0crat commented on #2217
Job `gh:zerocracy/farm#2217` is not assigned, can't get performer

[2020-01-14 17:16] fanifieiev opened #2218 "0crat/0pdd is not closing issue for merged PR."
The issue: [998 ](https://github.com/yegor256/takes/issues/998) is not being closed, even though its PR: [1001](https://github.com/yegor256/takes/pull/1001) has been merged and finished.

[2020-01-14 17:16] 0crat commented on #2218
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-14 17:16] 0crat commented on #2218
@fanifieiev[/z](https://www.0crat.com/u/fanifieiev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-14 17:53] g4s8 commented on #2218
@fanifieiev 0pdd bot is not a part of Zerocracy projects, please re-submit it here: https://github.com/yegor256/0pdd

[2020-01-14 17:53] #2218 closed

[2020-01-14 17:55] fanifieiev commented on #2218
@g4s8 Thanks, moving this issue to https://github.com/yegor256/0pdd

[2020-01-14 18:11] 0crat commented on #2218
Job `gh:zerocracy/farm#2218` is not assigned, can't get performer

[2020-01-14 18:11] 0crat commented on #2218
This job is not in scope

[2020-01-19 11:46] g4s8 opened #2219 "restart"

[2020-01-19 11:46] #2219 closed

[2020-01-19 11:46] g4s8 commented on #2219
@rultor release, tag=`0.50.39`

[2020-01-19 11:49] rultor commented on #2219
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21200-575996520)

[2020-01-19 11:57] rultor commented on #2219
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21200-575996520) (spent 7min)

[code]

[2020-01-19 14:26] g4s8 commented on #2219
@rultor release, tag=`0.50.39`

[2020-01-19 14:30] rultor commented on #2219
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21200-576010044)

[2020-01-19 15:04] rultor commented on #2219
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21200-576010044) (took me 28min)

[2020-01-19 15:55] g4s8 commented on #2219
@rultor release, tag=`0.50.40`

[2020-01-19 15:58] rultor commented on #2219
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21200-576018724)

[2020-01-19 16:31] rultor commented on #2219
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21200-576018724) (took me 26min)

[2020-01-19 20:52] 0crat commented on #2219
Job `gh:zerocracy/farm#2219` is not assigned, can't get performer

[2020-01-19 20:55] 0crat commented on #2219
This job is not in scope

[2020-01-23 06:45] sereshqua opened #2220 "0crat has not reacted to quality verdict in 15 days of time"
Please check the [issue](https://github.com/yegor256/cactoos/issues/1262#issuecomment-571909199)

[2020-01-23 06:45] 0crat commented on #2220
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-25 11:10] eparovyshnaya opened #2221 "failed to second the application form second time"
Dear zerocracy.

I've submitted an application at [join us](https://www.0crat.com/join) 0crat page some time ago and have got no response. According to the instruction given on that very page and in the [policy, p1](http://www.zerocracy.com/policy.html#1), I've repeated the trick (today), and there was the response (the process tries to put my info block into some xml doc while it had been added t

[2020-01-25 11:10] 0crat commented on #2221
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-25 11:10] 0crat commented on #2221
@eparovyshnaya[/z](https://www.0crat.com/u/eparovyshnaya) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-25 20:18] iakunin opened #2222 "0crat failed to pay debt (GitHub user "iakunin" doesn't exist)"
I received this message from Zecocrat telegram-bot multiple times:
1. 2020-01-23T23:46
1. 2020-01-24T00:47
1. 2020-01-24T01:53
1. 2020-01-24T02:49
1. 2020-01-24T10:14
1. 2020-01-24T10:53
1. 2020-01-24T11:43
1. 2020-01-24T12:44
1. 2020-01-24T13:48
1. 2020-01-24T15:56
1. 2020-01-25T13:14

At the same time I can log in into https://wts.zold.io using my github account.

[2020-01-25 20:18] 0crat commented on #2222
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-25 20:18] 0crat commented on #2222
@iakunin[/z](https://www.0crat.com/u/iakunin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-26 08:26] g4s8 commented on #2222
@iakunin this messages comes from WTS API, 0crat just shows this error response from WTS. Please submit it here: https://github.com/zold-io/wts.zold.io/ or ask via Telegram: https://t.me/zold_io

[2020-01-26 08:26] #2222 closed

[2020-01-26 08:51] 0crat commented on #2222
Job `gh:zerocracy/farm#2222` is not assigned, can't get performer

[2020-01-26 08:52] 0crat commented on #2222
This job is not in scope

[2020-01-26 11:28] iakunin commented on #2222
@g4s8 many thanks for explanation

[2020-01-27 11:29] g4s8 opened #2223 "Fewer ticket message"
Print fewer messages in ticket comments, use labels instead.

[2020-01-27 11:33] 0crat commented on #2223
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2223](https://github.com/zerocracy/farm/issues/2223), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-01-27 11:33] 0crat commented on #2223
Job `gh:zerocracy/farm#2223` already assigned to @g4s8, can't assign to @g4s8

[2020-01-27 11:34] 0crat commented on #2223
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-27 11:40] 0crat commented on #2223
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-27 11:50] 0crat commented on #2223
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-27 11:51] g4s8 commented on #2223
@rultor release, tag=`0.51.0`

[2020-01-27 11:54] rultor commented on #2223
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21254-578713183)

[2020-01-27 12:14] rultor commented on #2223
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21254-578713183) (spent 19min)

[code]

[2020-01-27 13:26] carlosmiranda opened #2224 "Failed to pay debt, Zerocracy cannot find Github user"
I have been getting the following error today repeatedly:

[code]

I can log in to `0crat.com` and `wts.zold.io` just fine using my Github ID `carlosmiranda` in the meantime, so I am not sure why we are getting this error.

[2020-01-27 13:26] 0crat commented on #2224
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-27 13:26] 0crat commented on #2224
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-27 13:31] g4s8 commented on #2223
@rultor release, tag=`0.51.0`

[2020-01-27 13:34] g4s8 commented on #2224
@carlosmiranda it's not Zerocracy issue, please see #2222

[2020-01-27 13:34] rultor commented on #2223
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21254-578747156)

[2020-01-27 14:11] rultor commented on #2223
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21254-578747156) (took me 29min)

[2020-01-28 08:09] carlosmiranda commented on #2224
@g4s8 thanks

[2020-01-28 08:09] #2224 closed

[2020-01-28 08:27] 0crat commented on #2224
Job `gh:zerocracy/farm#2224` is not assigned, can't get performer

[2020-01-28 08:33] 0crat commented on #2224
This job is not in scope

[2020-01-31 08:18] iakunin opened #2225 "PR is assigned after it was closed"
As we can see in https://github.com/artipie/maven-adapter/pull/8#issuecomment-580626547 `@0crat` assigns PR after it was closed.

This issue is similar to https://github.com/zerocracy/farm/issues/671.

[2020-01-31 08:18] 0crat commented on #2225
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-01-31 08:18] 0crat commented on #2225
@iakunin[/z](https://www.0crat.com/u/iakunin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-04 14:57] g4s8 opened #2226 "Add command to trigger election for issue"
Add a command to elect and assign performer for ticket.

[2020-02-04 15:06] 0crat commented on #2226
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2226](https://github.com/zerocracy/farm/issues/2226), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-02-04 15:11] 0crat commented on #2226
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-04 15:12] 0crat commented on #2226
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-04 15:12] 0crat commented on #2226
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-04 15:24] fanifieiev opened #2227 "Unrecoverable failure com.zerocracy.claims.ClaimIn[214] java.lang.IllegalArgumentException"
The issue was raised in scope of the task [149](https://github.com/llorllale/cactoos-matchers/issues/149).
The issue was resigned from me and then 0crat fired a failure message shown
[HERE](https://github.com/llorllale/cactoos-matchers/issues/149#issuecomment-581746132).
The pull request of this task was successfully merged but I have not received any points for this task.

[2020-02-04 15:24] 0crat commented on #2227
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-04 15:24] 0crat commented on #2227
@fanifieiev[/z](https://www.0crat.com/u/fanifieiev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-04 15:24] g4s8 commented on #2226
@rultor release, tag=`0.51.1`

[2020-02-04 15:27] rultor commented on #2226
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21291-581961977)

[2020-02-04 15:57] 0crat commented on #2227
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2227](https://github.com/zerocracy/farm/issues/2227), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-02-04 16:03] rultor commented on #2226
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21291-581961977) (took me 30min)

[2020-02-04 16:42] 0crat commented on #2227
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-04 16:50] 0crat commented on #2227
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-05 12:04] Guseyn opened #2229 "duplications messages from bot"
like here: https://github.com/artipie/pypi-adapter/issues/10
[code]

[2020-02-05 12:04] 0crat commented on #2229
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-05 12:04] 0crat commented on #2229
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-07 15:22] g4s8 commented on #2227
@rultor release, tag=`0.51.2`

[2020-02-07 15:22] g4s8 commented on #2227
@fanifieiev it should be fixed in #2228 PR

[2020-02-07 15:22] #2227 closed

[2020-02-07 15:27] rultor commented on #2227
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21328-583449872)

[2020-02-07 15:36] fanifieiev commented on #2227
@g4s8 Thanks

[2020-02-07 15:57] rultor commented on #2227
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21328-583449872) (took me 25min)

[2020-02-07 16:10] 0crat commented on #2227
Job [#2227](https://github.com/zerocracy/farm/issues/2227) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2020-02-07 17:04] 0crat commented on #2227
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-08 13:15] g4s8 opened #2230 "Stakeholders performance metrics"
Send performance metrics of stakeholders to cloudwatch

[2020-02-08 13:16] g4s8 commented on #2230
@rultor release, tag=`0.51.3`

[2020-02-08 13:18] rultor commented on #2230
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21334-583735692)

[2020-02-08 13:40] 0crat commented on #2230
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2230](https://github.com/zerocracy/farm/issues/2230), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-02-08 13:41] rultor commented on #2230
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21334-583735692) (spent 22min)

[code]

[2020-02-08 13:50] 0crat commented on #2230
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-08 13:50] 0crat commented on #2230
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-08 13:56] 0crat commented on #2230
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-08 15:15] g4s8 commented on #2230
@rultor release, tag=`0.51.3`

[2020-02-08 15:19] rultor commented on #2230
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21334-583745554)

[2020-02-08 15:47] rultor commented on #2230
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21334-583745554) (took me 23min)

[2020-02-09 09:17] g4s8 commented on #2230
Done in https://github.com/zerocracy/farm/commit/2ca5ee104c74e5f6050a98ac8cf3b4ce37250e20

[2020-02-09 09:17] #2230 closed

[2020-02-09 09:34] 0crat commented on #2230
Job was finished in 19 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-09 09:37] 0crat commented on #2230
Job [#2230](https://github.com/zerocracy/farm/issues/2230) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2020-02-09 09:45] 0crat commented on #2230
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-10 07:07] g4s8 opened #2231 "Trigger election on PR order start"
Let's trigger election for PR job on `Start order`.

[2020-02-10 07:21] 0crat commented on #2231
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2231](https://github.com/zerocracy/farm/issues/2231), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-02-10 07:26] 0crat commented on #2231
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-10 07:31] 0crat commented on #2231
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-10 07:48] 0crat commented on #2231
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-10 10:09] g4s8 commented on #2231
@rultor release, tag=`0.51.5`

[2020-02-10 10:09] g4s8 commented on #2231
Done

[2020-02-10 10:09] #2231 closed

[2020-02-10 10:12] rultor commented on #2231
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21337-584047633)

[2020-02-10 10:31] rultor commented on #2231
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21337-584047633) (spent 19min)

[code]

[2020-02-10 10:38] g4s8 commented on #2231
@rultor release, tag=`0.51.5`

[2020-02-10 10:41] rultor commented on #2231
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21337-584059306)

[2020-02-10 10:45] 0crat commented on #2231
Job [#2231](https://github.com/zerocracy/farm/issues/2231) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2020-02-10 10:59] 0crat commented on #2231
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-10 11:00] rultor commented on #2231
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21337-584059306) (spent 18min)

[code]

[2020-02-10 11:18] 0crat commented on #2231
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-10 11:18] g4s8 commented on #2231
@rultor release, tag=`0.51.5`

[2020-02-10 11:22] rultor commented on #2231
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21337-584075107)

[2020-02-10 11:40] rultor commented on #2231
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21337-584075107) (spent 18min)

[code]

[2020-02-10 11:54] 0crat commented on #2229
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @guseyn[/z](https://www.0crat.com/u/guseyn)

[2020-02-10 13:58] g4s8 commented on #2231
@rultor release, tag=`0.51.5`

[2020-02-10 14:01] rultor commented on #2231
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21337-584134941)

[2020-02-10 14:36] rultor commented on #2231
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21337-584134941) (took me 28min)

[2020-02-11 16:39] g4s8 opened #2232 "Structure cloudwatch metrics by dimensions"
Let's structure cloudwatch metrics by dimensions, see https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html

[2020-02-11 16:43] g4s8 commented on #2232
@rultor release, tag=`0.51.6`

[2020-02-11 16:46] rultor commented on #2232
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21350-584729424)

[2020-02-11 16:57] 0crat commented on #2232
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-11 17:01] 0crat commented on #2232
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-11 17:02] 0crat commented on #2232
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2232](https://github.com/zerocracy/farm/issues/2232), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-02-11 17:12] 0crat commented on #2232
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-11 17:18] rultor commented on #2232
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21350-584729424) (took me 26min)

[2020-02-12 09:26] amihaiemil opened #2233 "Send Right Name to Stripe"
I made a donation to one of the projects and I clicked "Remember Me" on the Stripe Widget.
All went fine, but I received the following SMS from Stripe:

"
Thanks for saving your Payment Info with Stripe.[...].
Your identity at **Contribute** is saved in Stripe.
"

This means that Zerocracy sends its name as "Contribute" to Stripe. It should obviously send the name parameter as "Zerocracy".

[2020-02-12 09:26] 0crat commented on #2233
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-15 14:05] victornoel commented on #903
@0crat refuse

The current architecture is too complex for me to handle this :)

[2020-02-15 14:13] 0crat commented on #903
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#903](https://github.com/zerocracy/farm/issues/903), please stop working. Reason for job resignation: Order was cancelled

[2020-02-15 14:33] 0crat commented on #903
Tasks refusal is discouraged (job refused in 3007 hours), see [§6](http://www.zerocracy.com/policy.html#6): -20 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-02-18 13:34] HDouss opened #2234 "Make assignment and GitHub comment atomic"
Assigning a job to someone and posting GitHub comment on the issue to mention/inform him should be atomic or transactional.
If we take this example: yegor256/jpeek#296 the job was assigned to me, but 0crat did not made any comment to inform about the assignment. The comment on the GitHub issue is very important:
* It triggers a notification to the assignee, so he has not to check his agenda
* It i

[2020-02-18 13:34] 0crat commented on #2234
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-18 13:34] 0crat commented on #2234
@hdouss[/z](https://www.0crat.com/u/hdouss) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-20 07:39] yegor256 opened #2235 "/known is case-sensitive, but it shouldn't be"
See https://github.com/zold-io/wts.zold.io/issues/331

Would be great to make sure `/known` is NOT case sensitive

[2020-02-20 07:39] 0crat commented on #2235
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-02 13:32] g4s8 commented on #2231
@rultor release, tag=`0.51.7`

[2020-03-02 13:34] rultor commented on #2231
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21337-593403400)

[2020-03-02 14:06] rultor commented on #2231
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21337-593403400) (took me 25min)

[2020-03-03 09:36] Sammers21 opened #2236 "Feature request: silent mode"
I would propose a silent mode feature. When enabled, @0crat only assign and tag issues/pr's, without any chatting.

As a result, @0crat would not turn github notifications into a trashcan.

@g4s8, @yegor256 what do you think about it?

[2020-03-03 09:36] 0crat commented on #2236
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-03 09:37] 0crat commented on #2236
@sammers21[/z](https://www.0crat.com/u/sammers21) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-03 09:56] 0crat commented on #2236
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2236](https://github.com/zerocracy/farm/issues/2236), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-03-03 09:59] 0crat commented on #2236
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-03 10:03] 0crat commented on #2236
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sammers21[/z](https://www.0crat.com/u/sammers21)

[2020-03-03 22:37] paulodamaso opened #2237 "Sandbox rule needs to be changed"
As per [33](http://www.zerocracy.com/policy.html#33):

We need to change this rule. Currently we have motivated people working on sandbox projects and they are reaching 1024 reputation points.We shouldn't remove them from these projects, they're helping to making these projects and the platform move.

Once we have a lot of job posts we can think again in sandbox projects. the idea is nice, as a st

[2020-03-03 22:37] 0crat commented on #2237
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-03 22:37] 0crat commented on #2237
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-04 05:36] yegor256 commented on #2237
@g4s8 what do you think about this?

[2020-03-04 10:54] g4s8 commented on #2236
@rultor release, tag=`0.51.8`

[2020-03-04 10:58] rultor commented on #2236
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21465-594453117)

[2020-03-04 11:32] rultor commented on #2236
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21465-594453117) (took me 28min)

[2020-03-04 14:12] paulodamaso commented on #1311
@0crat refuse

[2020-03-04 14:13] 0crat commented on #1311
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1311](https://github.com/zerocracy/farm/issues/1311), please stop working. Reason for job resignation: Order was cancelled

[2020-03-04 14:14] paulodamaso commented on #1640
@0crat refuse

[2020-03-04 14:15] 0crat commented on #1640
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1640](https://github.com/zerocracy/farm/issues/1640), please stop working. Reason for job resignation: Order was cancelled

[2020-03-04 14:15] 0crat commented on #1311
Tasks refusal is discouraged (job refused in 3279 hours), see [§6](http://www.zerocracy.com/policy.html#6): -20 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-03-04 14:17] 0crat commented on #1640
Tasks refusal is discouraged (job refused in 3279 hours), see [§6](http://www.zerocracy.com/policy.html#6): -20 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-03-05 13:21] g4s8 commented on #2237
@yegor256 @paulodamaso I think it makes sense, let's disable this rule for now

[2020-03-05 13:26] g4s8 commented on #2236
@rultor release, tag=`0.51.9`

[2020-03-05 13:29] rultor commented on #2236
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21465-595228234)

[2020-03-05 14:06] rultor commented on #2236
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21465-595228234) (took me 28min)

[2020-03-08 15:58] g4s8 commented on #2226
Done

[2020-03-08 15:58] #2226 closed

[2020-03-08 15:58] g4s8 commented on #2223
Done

[2020-03-08 15:58] #2223 closed

[2020-03-08 15:58] g4s8 commented on #2236
@Sammers21 it should be fixed in `0.51.9` release

[2020-03-08 15:58] #2236 closed

[2020-03-08 15:59] g4s8 commented on #2232
Fixed

[2020-03-08 15:59] #2232 closed

[2020-03-08 16:00] g4s8 opened #2240 "Fix performance issues"
Analyze metrics from Cloudwatch and fix performance issues

[2020-03-08 16:01] g4s8 commented on #2240
@rultor release, tag=`0.51.10`

[2020-03-08 16:03] rultor commented on #2240
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21492-596220886)

[2020-03-08 16:13] 0crat commented on #2233
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-03-08 16:20] 0crat commented on #2226
Job [#2226](https://github.com/zerocracy/farm/issues/2226) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2020-03-08 16:23] 0crat commented on #2240
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2240](https://github.com/zerocracy/farm/issues/2240), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-03-08 16:24] 0crat commented on #2236
Job [#2236](https://github.com/zerocracy/farm/issues/2236) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2020-03-08 16:24] 0crat commented on #2240
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-08 16:33] 0crat commented on #2232
Job [#2232](https://github.com/zerocracy/farm/issues/2232) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2020-03-08 16:33] 0crat commented on #2223
Job [#2223](https://github.com/zerocracy/farm/issues/2223) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2020-03-08 16:36] rultor commented on #2240
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21492-596220886) (took me 27min)

[2020-03-08 16:40] 0crat commented on #2240
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-08 16:56] 0crat commented on #2226
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-08 16:57] 0crat commented on #2223
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-08 16:57] 0crat commented on #2236
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-08 17:19] 0crat commented on #2240
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-08 17:19] 0crat commented on #2232
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-08 19:00] Sammers21 commented on #2236
@g4s8 , where I can found documentation on this mode?

[2020-03-09 09:47] g4s8 commented on #2236
@Sammers21 it should be silent by default

[2020-03-09 11:05] g4s8 commented on #2240
@rultor release, tag=`0.51.11`

[2020-03-09 11:08] rultor commented on #2240
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21492-596462522)

[2020-03-09 11:42] rultor commented on #2240
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21492-596462522) (took me 28min)

[2020-03-09 17:13] fanifieiev opened #2241 "PRs that have been merged are still open in my agenda"
I have 3 PRs assigned to me, shown up in my agenda:
![image](https://user-images.githubusercontent.com/3167940/76239195-7b3b5300-6207-11ea-95c3-fda366f7e775.png)
The issue is that they are all been merged.
https://github.com/artipie/rpm-adapter/pull/23
https://github.com/artipie/nuget-adapter/pull/42
https://github.com/artipie/http/pull/43

[2020-03-09 17:13] 0crat commented on #2241
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-09 17:13] 0crat commented on #2241
@fanifieiev[/z](https://www.0crat.com/u/fanifieiev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-11 15:30] fanifieiev commented on #2241
@g4s8 Could you please have a look at this issue????

[2020-03-11 15:31] Sammers21 commented on #2236
@g4s8, how to check whether it silent or not?

[2020-03-12 01:15] paulodamaso commented on #1909
@Serranya @g4s8 I agree.  The problem is that in this state the pull request is not ready for review yet and cannnot be merged. As the code is in draft state, any review made may be wasted, making the reviewer work for free, and worse, the reviewer may lose the job if the performed takes too much time to finish the pull request (time is already ticking for the reviewer after all).

[2020-03-12 02:09] paulodamaso commented on #1909
@g4s8 Depends on jcabi-github API to support this, I've already made a PR https://github.com/jcabi/jcabi-github/issues/1526

[2020-03-13 08:30] g4s8 opened #2242 "Temporary disable refresh_metrics stakeholder"
Temporary disable `refresh_metrics` on `Ping`, since it slows down the whole system.

[2020-03-13 08:32] g4s8 commented on #2242
@rultor release, tag=`0.51.12`

[2020-03-13 08:35] rultor commented on #2242
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21527-598608573)

[2020-03-13 09:05] rultor commented on #2242
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21527-598608573) (took me 24min)

[2020-03-13 10:41] g4s8 commented on #2242
Fixed in https://github.com/zerocracy/farm/commit/f5a4ea58bbf52502f37464b0005d1ba70ac00517

[2020-03-13 10:41] #2242 closed

[2020-03-13 10:50] 0crat commented on #2242
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2242](https://github.com/zerocracy/farm/issues/2242), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-03-13 11:30] 0crat commented on #2242
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-13 11:47] 0crat commented on #2242
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-13 11:54] 0crat commented on #2242
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-03-13 11:57] 0crat commented on #2242
Job [#2242](https://github.com/zerocracy/farm/issues/2242) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2020-03-13 12:03] 0crat commented on #2242
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-13 13:03] 0crat commented on #2242
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-14 11:44] Guseyn opened #2243 "Zero bot is very slow after refusing the ticket."
There is an example of very slow reaction from zero-bot:
https://github.com/artipie/npm-adapter/pull/33

I created pr, after **6** hours zero bot assigns the reviewer. As you can see, @fanifieiev refused reviewing the pr, after **5** hours zero-bot reacts on this situation, after another **10** hours zero-bot writes another comment about refusing. And it does not assign another free reviewer. It's

[2020-03-14 11:45] 0crat commented on #2243
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-14 11:45] 0crat commented on #2243
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-16 07:43] Guseyn commented on #2243
Updated information for the issue:

After the review refused the reviewing the pr, zero-bot assigned the ticket only after **2** days.

[code]

[code]

[2020-03-16 13:41] Sammers21 opened #2244 "Feature request: silent mode"
Since I can't reopen issue #2236, I will create another one, because the feature was not implemented, despite the fact that @g4s8 released a new version.

I would propose a silent mode feature. When enabled, @0crat only assign and tag issues/pr's, without any chatting.

As a result, @0crat would not turn GitHub notifications into a trashcan.

[2020-03-16 13:42] 0crat commented on #2244
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-16 13:42] 0crat commented on #2244
@sammers21[/z](https://www.0crat.com/u/sammers21) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-16 14:27] Sammers21 opened #2245 "Review process speed enhancements"
Now, It takes [4](https://github.com/artipie/artipie/pull/43#issue-387667716) hours for @0crat  and [3](https://github.com/artipie/artipie/pull/43#pullrequestreview-374427349) hours for a reviewer to leave initial feedback concerning a specific pull request. Some of the reviewers are not as patient and [prefer to ask](https://github.com/artipie/artipie/pull/43#pullrequestreview-374427349) for manu

[2020-03-16 14:28] 0crat commented on #2245
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-16 14:28] 0crat commented on #2245
@sammers21[/z](https://www.0crat.com/u/sammers21) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-16 15:16] g4s8 commented on #2245
@Sammers21 it's a good suggestion. What do you think about this scenario:
 1. Reviewer uses some command in `0crat` Telegram bot (e.g. `/active` command)
 2. User becomes active for 30 minutes, it strongly increases the chances to receive the job for review
 3. After 30 minutes active status disposed for a user

I think it's a title for another issue, and we already have such bugs.

[2020-03-16 15:17] 0crat commented on #2245
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/2245#issuecomment-599593309); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2020-03-16 15:34] g4s8 commented on #2241
@fanifieiev it seems all PR you've mentioned are not in scope, can you please check it one more time?

[2020-03-16 16:05] fanifieiev commented on #2241
@g4s8 They are still listed in my agenda and no payments have been made for reviewing them.
![image](https://user-images.githubusercontent.com/3167940/76777237-48044100-677e-11ea-95ba-aa49506a5efa.png)

[2020-03-18 07:51] g4s8 commented on #2243
@Guseyn thanks for reporting, it's a known issue, we're going to fix it soon. Closing as a duplicate of #2240

[2020-03-18 07:51] #2243 closed

[2020-03-18 08:28] 0crat commented on #2243
Job `gh:zerocracy/farm#2243` is not assigned, can't get performer

[2020-03-18 09:58] Guseyn commented on #2243
@g4s8 why do we need zero-bot then of it does not work properly, I think it must be fixed and only after it can be used.

[2020-03-19 16:14] fanifieiev commented on #2241
@g4s8 What can I do so that those PRs are removed from my agenda?

[2020-03-20 11:49] Sammers21 commented on #2245
@g4s8, agree with it

[2020-03-20 11:58] 0crat commented on #2245
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/2245#issuecomment-601660458); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2020-03-21 04:18] paulodamaso commented on #2245
@g4s8 @Sammers21 I'd like to add my two cents to this discussin. I like this idea, but I think that we should reduce the allowed time to complete the review (performer is telling that it is available at that moment, so we should expect a very quick response) and the penalty for missing the deadline should be higher (to penalize the users which ask for issues but ends in delaying them). I also thin

[2020-03-21 04:37] paulodamaso commented on #1397
@g4s8  @carlosmiranda I think that we shoud allow users to assign those issues to themselves, instead just adding a bonus to the election score. WDYT?

[2020-03-23 10:27] g4s8 commented on #2245
@paulodamaso yes, I agree about ignoring agenda limits for such users

[2020-03-23 10:30] g4s8 opened #2246 "Disable cloudwatch sendings"
Temporary disable cloudwatch metrics sending

[2020-03-23 10:37] g4s8 commented on #2246
@rultor release, tag=`0.51.13`

[2020-03-23 10:41] rultor commented on #2246
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21586-602513630)

[2020-03-23 11:14] rultor commented on #2246
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21586-602513630) (took me 25min)

[2020-03-23 11:15] 0crat commented on #2246
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2246](https://github.com/zerocracy/farm/issues/2246), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-03-23 11:22] 0crat commented on #2246
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-23 11:23] 0crat commented on #2246
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-23 11:25] 0crat commented on #2246
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-25 18:49] #1284 closed

[2020-03-25 18:49] 0pdd commented on #1284
The puzzle `993-2ea9b05d` has disappeared from the source code, that's why I closed this issue.

[2020-03-25 18:49] 0pdd commented on #993
@yegor256 the only puzzle [#1284](https://github.com/zerocracy/farm/issues/1284) is solved here.

[2020-03-25 19:07] 0crat commented on #1284
Job `gh:zerocracy/farm#1284` is not assigned, can't get performer

[2020-03-25 19:28] g4s8 commented on #2240
@rultor release, tag=`0.52`

[2020-03-25 19:31] rultor commented on #2240
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21492-604040204)

[2020-03-25 19:59] g4s8 commented on #2240
@0crat status

[2020-03-25 20:01] rultor commented on #2240
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21492-604040204) (took me 24min)

[2020-03-25 20:10] 0crat commented on #2240
@g4s8 This is what I know about this job in [C3NDPUA8L](https://www.0crat.com/p/C3NDPUA8L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#2240](https://github.com/zerocracy/farm/issues/2240) is [in scope](http://www.zerocracy.com/policy.html#14) for 17days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [17days](http://www.zerocra

[2020-03-26 08:15] g4s8 opened #2248 "Reduce bot verbosity (reputation changes)"
There are too many messages in chat bot about reputation update (about ~70% of all message). I'd suggest to not send reputation changes via bot immediately, but send a daily report about reputation with a link to "awards" (`https://www.0crat.com/u/{username}/awards`) where user can check all reputation updates on a web page. Message text example:
[code]

[2020-03-26 08:18] victornoel commented on #2148
@g4s8 following your latest changes, I suppose this can be closed?

[2020-03-26 08:19] victornoel commented on #2144
@g4s8 looking at the code it seems this has been done at one point: https://github.com/zerocracy/farm/blob/master/src/main/java/com/zerocracy/farm/sync/Terminator.java#L82

btw there is still #2143 on the same subject :)

[2020-03-26 08:20] victornoel commented on #2144
@g4s8 but I see that the code does not use the abstractions provided by concurrent map to ensure atomicity, I believe Terminator is still bugged, see for example: https://github.com/zerocracy/farm/blob/master/src/main/java/com/zerocracy/farm/sync/Terminator.java#L113, one should use compute if absent or put if absent.

[2020-03-26 08:29] g4s8 commented on #2144
@victornoel yes, please check #2249 terminator is not used anymore. All synchronization is implemented inside one method now, so there're no needs in additional classed to handle unlocking

[2020-03-26 08:32] victornoel commented on #2144
@g4s8 ah excellent, so we can close this issue I suppose? (or keep it open to track the deletion of `Terminator` ^^)

[2020-03-26 08:33] victornoel commented on #2144
@g4s8 ah, ok, sorry I didn't read the PR, it was about removal, let me close this then :)

[2020-03-26 08:33] #2144 closed

[2020-03-26 08:33] victornoel commented on #2143
@g4s8 closing this since Terminator was removed (see #2249)

[2020-03-26 08:33] #2143 closed

[2020-03-26 08:33] victornoel commented on #2145
@g4s8 closing this since Terminator was removed (see #2249)

[2020-03-26 08:33] #2145 closed

[2020-03-26 08:53] 0crat commented on #2143
Job `gh:zerocracy/farm#2143` is not assigned, can't get performer

[2020-03-26 08:54] 0crat commented on #2145
Job `gh:zerocracy/farm#2145` is not assigned, can't get performer

[2020-03-26 08:54] 0crat commented on #2144
Job `gh:zerocracy/farm#2144` is not assigned, can't get performer

[2020-03-26 17:28] g4s8 opened #2250 "Too many open files"
0crat files to open new files. It seems some files are not closed correctly. The error:
[code]
https://sentry.io/organizations/zerocracy/issues/1583048658/?project=193755&query=is%3Aunresolved

[2020-03-26 17:31] Vatavuk commented on #2248
@g4s8 👍

[2020-03-26 17:47] paulodamaso commented on #2248
@g4s8 I think that we should be able to configure this behavior for each user. These messages helps me to keep track the status of the issues I'm working on, which ones have been already closed, which ones I've already been paid for (in case of payment problem), etc

[2020-03-26 17:49] g4s8 commented on #2248
@paulodamaso what do you think if we remove only reputation messages, not payment? You'll get all message about payment status as before.

[2020-03-26 18:06] g4s8 commented on #2250
@rultor release, tag=`0.52.1`

[2020-03-26 18:06] paulodamaso commented on #2248
@g4s8 So in the case of an issue without any payment, user would receive no messages at all?

[2020-03-26 18:10] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-604588494)

[2020-03-26 18:33] rultor commented on #2250
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21633-604588494) (took me 19min)

[2020-03-26 18:35] 0crat commented on #2250
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2250](https://github.com/zerocracy/farm/issues/2250), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-03-26 18:53] 0crat commented on #2250
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-26 19:00] 0crat commented on #2250
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-26 19:01] 0crat commented on #2250
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-27 08:01] g4s8 commented on #2248
@paulodamaso yes, maybe you are right, and we need to make it optional.

[2020-03-27 14:02] g4s8 commented on #2250
@rultor release, tag=`0.52.2`

[2020-03-27 14:05] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-605017082)

[2020-03-27 14:35] rultor commented on #2250
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21633-605017082) (took me 24min)

[2020-03-28 11:57] g4s8 commented on #2250
@rultor release, tag=`0.52.3`

[2020-03-28 12:00] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-605437155)

[2020-03-28 12:00] g4s8 opened #2251 "Readonly files optimizations"
There are some readonly project items (such as `props.xml`). Let's keep tmp files for such files and require all code to use `Farm` parameter to be sure that it was assessed correctly, because `Farm` will keep all references to cached readonly items. Possible candidates for refactoring are: `Props`, `Par`, `PropsFarm`, etc. Related to #2250

[2020-03-28 12:26] rultor commented on #2250
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21633-605437155) (took me 21min)

[2020-03-28 13:04] 0crat commented on #2251
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-28 13:05] 0crat commented on #2251
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-28 13:05] 0crat commented on #2251
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2251](https://github.com/zerocracy/farm/issues/2251), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-03-28 13:06] 0crat commented on #2251
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-29 05:47] g4s8 commented on #2250
@rultor release, tag=`0.52.4`

[2020-03-29 05:50] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-605572768)

[2020-03-29 06:17] rultor commented on #2250
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21633-605572768) (took me 21min)

[2020-03-29 09:05] victornoel opened #2252 "0crat ignores QA and assignee does not get paid"
Hi,

This happened twice to me already in the last days:
- https://github.com/yegor256/cactoos/pull/1321
- https://github.com/yegor256/cactoos/issues/1304

An because those are free projects, I can't even get the points from ARC (see https://github.com/yegor256/cactoos/issues/1304#issuecomment-601930582).

[2020-03-29 09:05] 0crat commented on #2252
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-29 17:05] sereshqua opened #2253 "Send notification to job performer who adds `waiting` label"
I have seen few times already in zerocracy's projects that job performers add `waiting` label to their jobs. But rarely, they go back to the issue to check if waiting label is still actual.

Latest example: someone adds `waiting` label to the job, which is based on other CR (which has to be merged for someone to continue). PR has been merged, but someone = job performer is not removing `waiting` l

[2020-03-29 17:05] 0crat commented on #2253
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-29 17:06] sereshqua commented on #2253
@paulodamaso @victornoel what do you think guys?

[2020-03-29 17:10] victornoel commented on #2253
@sereshqua when you say "add the waiting" label, do you mean "tells 0crat to wait" (and 0crat adds the label)?

By the way, see also #2026 but your solution seems something than can be implemented right now and I think would be useful to me!

[2020-03-29 17:19] g4s8 opened #2254 "Download log file"
Add log4j file appender to save logs in the file and add a `Take` to allow PMO members to download this file.

[2020-03-29 17:21] g4s8 opened #2255 "Notificcations recipient list"
User recipient list for one notification claim instead of multiple notification claims with single recipient.

[2020-03-29 17:22] 0crat commented on #2254
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-29 17:25] 0crat commented on #2255
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-29 17:26] 0crat commented on #2255
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2255](https://github.com/zerocracy/farm/issues/2255), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-03-29 17:28] 0crat commented on #2254
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-29 17:28] 0crat commented on #2255
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-29 17:29] 0crat commented on #2255
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-29 17:30] 0crat commented on #2254
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2254](https://github.com/zerocracy/farm/issues/2254), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-03-29 17:31] 0crat commented on #2254
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-29 18:04] g4s8 commented on #2250
@rultor release, tag=`0.52.5`

[2020-03-29 18:07] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-605676033)

[2020-03-29 18:35] rultor commented on #2250
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21633-605676033) (spent 27min)

[code]

[2020-03-29 19:11] g4s8 commented on #2250
@rultor release, tag=`0.52.5`

[2020-03-29 19:12] g4s8 commented on #2250
@rultor stop

[2020-03-29 19:13] g4s8 commented on #2250
@rultor release, tag=`0.52.6`

[2020-03-29 19:14] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-605684758)

[2020-03-29 19:17] rultor commented on #2250
@g4s8 OK, I'll try to stop current task.

[2020-03-29 19:19] rultor commented on #2250
@g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21633-605684919) (spent 4min)

[code]

[2020-03-29 19:25] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-605685049)

[2020-03-29 19:46] sereshqua commented on #2253
@victornoel yes, waiting label = tell 0crat to wait;

basically the task is put to backlog for a some time and then PO / Architect should be looking for them manually, which I would doubt somebody would be doing especially in open-source projects with no $

[2020-03-29 19:50] rultor commented on #2250
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21633-605685049) (spent 24min)

[code]

[2020-03-29 20:08] g4s8 commented on #2250
@rultor release, tag=`0.52.7`

[2020-03-29 20:12] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-605692843)

[2020-03-29 20:29] rultor commented on #2250
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21633-605692843) (spent 16min)

[code]

[2020-03-29 21:29] g4s8 commented on #2250
@rultor release, tag=`0.52.7`

[2020-03-29 21:32] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-605704690)

[2020-03-29 21:59] rultor commented on #2250
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21633-605704690) (took me 21min)

[2020-03-30 07:57] g4s8 commented on #2252
@victornoel as I can see you got 20 rep points for this job: https://www.0crat.com/footprint/C63314D6Z/617e9b90-eeef-4ff6-b403-011ea762ffba
I started to remove 0crat noise from Github tickets (such as reputation updates comments), but you are still able to check it in Telegram bot or at awards page: https://www.0crat.com/u/victornoel/awards

[2020-03-30 08:08] victornoel commented on #2252
@g4s8 indeed, I verified and it is the case.

I wonder if it is such a good idea to remove any feedback from the bot (maybe simply remove the scope tag only after QA has been done?) because even QA was confused by the situation.

Maybe @sereshqua can chip in to give an opinion?

[2020-03-30 08:17] g4s8 commented on #2252
@victornoel @sereshqua we can't keep the job in scope for QA review, since the job was closed by the definition of done (it's logically incorrect to keep finished jobs in WBS). Maybe we can add `QA` github label when we put the job in QA stage and remove this label after verdict, WDYT?

[2020-03-30 10:31] g4s8 opened #2257 "Trigger election on PR"
Let's trigger election after new PR submitted. Remove changes from #2231 since it's not correct to elect performer on order start.

[2020-03-30 10:32] g4s8 commented on #2257
@rultor release, tag=`0.52.8`

[2020-03-30 10:35] 0crat commented on #2257
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-30 10:36] rultor commented on #2257
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21661-605920104)

[2020-03-30 10:42] 0crat commented on #2257
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-30 10:45] 0crat commented on #2257
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2257](https://github.com/zerocracy/farm/issues/2257), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-03-30 10:55] 0crat commented on #2257
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-30 11:38] g4s8 commented on #2257
@rultor stop

[2020-03-30 11:38] g4s8 commented on #2257
@rultor release, tag=`0.52.8`

[2020-03-30 11:39] rultor commented on #2257
@g4s8 OK, I'll try to stop current task.

[2020-03-30 11:40] rultor commented on #2257
@g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21661-605948317) (spent 1hr)

[code]

[2020-03-30 11:42] sereshqua commented on #2252
@g4s8 @victornoel hello! thanks for tagging me; I believe adding / removing `QA` is a good solution

[2020-03-30 11:48] rultor commented on #2257
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21661-605948376)

[2020-03-30 12:19] victornoel opened #2258 "0crat does not add the scope and/or waiting labels to ticket"
In this ticket: https://github.com/llorllale/cactoos-matchers/issues/148

0crat never added the scope label, but also didn't add the waiting label.

While not adding the scope label is ok, because the bot told us the job was in scope, it didn't tell us anything about the task being on wait (I received the notification via the bog though).

Now there is no way to know the status of this issue excep

[2020-03-30 12:19] rultor commented on #2257
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21661-605948376) (took me 25min)

[2020-03-30 12:20] 0crat commented on #2258
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-30 14:13] g4s8 commented on #2257
@rultor release, tag=`0.52.9`

[2020-03-30 14:19] rultor commented on #2257
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21661-606024679)

[2020-03-30 15:59] 0crat commented on #2252
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2252](https://github.com/zerocracy/farm/issues/2252), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-03-30 16:08] 0crat commented on #2252
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-03-30 16:08] 0crat commented on #2252
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-31 08:20] g4s8 commented on #2250
@rultor release, tag=`0.52.10`

[2020-03-31 08:24] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-606474508)

[2020-03-31 08:41] rultor commented on #2250
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21633-606474508) (spent 16min)

[code]

[2020-03-31 09:13] g4s8 commented on #2250
@rultor release, tag=`0.52.10`

[2020-03-31 09:17] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-606500045)

[2020-03-31 09:47] rultor commented on #2250
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21633-606500045) (took me 21min)

[2020-03-31 10:05] g4s8 commented on #2250
@rultor release, tag=`0.52.11`

[2020-03-31 10:09] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-606526595)

[2020-03-31 10:41] rultor commented on #2250
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21633-606526595) (took me 25min)

[2020-04-01 08:53] g4s8 commented on #2250
@rultor release, tag=`0.52.12`

[2020-04-01 08:57] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-607122754)

[2020-04-01 09:17] rultor commented on #2250
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21633-607122754) (spent 20min)

[code]

[2020-04-01 10:57] g4s8 commented on #2250
@rultor release, tag=`0.52.12`

[2020-04-01 11:01] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-607180774)

[2020-04-01 11:21] rultor commented on #2250
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21633-607180774) (spent 19min)

[code]

[2020-04-01 13:21] g4s8 commented on #2250
@rultor release, tag=`0.52.12`

[2020-04-01 13:25] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-607245289)

[2020-04-01 13:56] rultor commented on #2250
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21633-607245289) (took me 23min)

[2020-04-01 17:44] g4s8 commented on #2250
@rultor release, tag=`0.52.13`

[2020-04-01 17:48] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-607394516)

[2020-04-01 18:07] rultor commented on #2250
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21633-607394516) (spent 18min)

[code]

[2020-04-01 18:31] g4s8 commented on #2250
@rultor release, tag=`0.52.13`

[2020-04-01 18:34] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-607419216)

[2020-04-01 19:01] g4s8 commented on #2250
@rultor release, tag=`0.52.14`

[2020-04-01 19:02] rultor commented on #2250
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21633-607419216) (took me 23min)

[2020-04-01 19:08] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-607433826)

[2020-04-01 19:25] rultor commented on #2250
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21633-607433826) (spent 16min)

[code]

[2020-04-02 06:23] g4s8 commented on #2250
@rultor release, tag=`0.52.14`

[2020-04-02 06:23] #2250 closed

[2020-04-02 06:26] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-607646159)

[2020-04-02 06:42] rultor commented on #2250
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21633-607646159) (spent 16min)

[code]

[2020-04-02 06:49] 0crat commented on #2250
Job [#2250](https://github.com/zerocracy/farm/issues/2250) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't set title

[2020-04-02 06:56] 0crat commented on #2250
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-02 07:30] g4s8 commented on #2250
@rultor release, tag=`0.52.14`

[2020-04-02 07:34] rultor commented on #2250
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21633-607672491)

[2020-04-02 08:03] rultor commented on #2250
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21633-607672491) (took me 23min)

[2020-04-02 15:04] g4s8 commented on #2252
@rultor release, tag=`0.52.15`

[2020-04-02 15:08] rultor commented on #2252
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21684-607901554)

[2020-04-02 15:38] rultor commented on #2252
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21684-607901554) (took me 24min)

[2020-04-03 06:16] sereshqua opened #2259 "Add ability to apply to TST role via 0crat"
When I tried applying for TST role, I've got an error message:

PID: 11@2cec44a3fa98, thread: PQ-PMO
com.jcabi.xml.StrictXML[124] java.lang.IllegalArgumentException: 2 error(s) in XML document: -1:-1: cvc-pattern-valid: Value 'TST' is not facet-valid with respect to pattern 'DEV|REV|QA|ARC' for type 'role'.;-1:-1: cvc-type.3.1.3: The value 'TST' of element 'role' is not valid.

0.52.2: CID: ecf7b8

[2020-04-03 06:16] 0crat commented on #2259
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-03 06:23] 0crat commented on #2259
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2259](https://github.com/zerocracy/farm/issues/2259), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-04-03 06:25] 0crat commented on #2259
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-03 06:26] 0crat commented on #2259
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-04-03 10:42] g4s8 commented on #2252
@victornoel @sereshqua please check https://github.com/artipie/nuget-adapter/pull/65#event-3195691370 is it better now?

[2020-04-03 10:45] victornoel commented on #2252
@g4s8 it's great yes, I will let @sereshqua conclude since he is the primary stakeholder here :)

[2020-04-03 10:48] sereshqua commented on #2252
@g4s8 well done!

[2020-04-03 11:00] #2252 closed

[2020-04-03 11:03] victornoel commented on #2258
@g4s8 it seems to have been transient, let me close this.

[2020-04-03 11:03] #2258 closed

[2020-04-03 11:18] 0crat commented on #2252
Job [#2252](https://github.com/zerocracy/farm/issues/2252) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't set title

[2020-04-03 11:24] 0crat commented on #2252
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-03 11:25] 0crat commented on #2258
Job `gh:zerocracy/farm#2258` is not assigned, can't get performer

[2020-04-03 11:27] 0crat commented on #2258
This job is not in scope

[2020-04-03 22:47] alhadhrami opened #2260 "[Suggestion] Reward Bug Reporting Even If Reporter Not Part Of Project"
I believe it will highly encourage people to report bugs even if they are not part of a project to reward them with payments rather than just reputation points.

For example, I have a few issues that I'm thinking of raising, but I don't see enough motivation to invest in clearly writing out and submitting these issues.

The bug that is accepted should not be worth different depending on who submit

[2020-04-03 22:47] 0crat commented on #2260
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-03 22:47] 0crat commented on #2260
@alhadhrami[/z](https://www.0crat.com/u/alhadhrami) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-04-06 19:32] yegor256 opened #2261 "access_token is deprecated in GitHub API"
I got this today from GitHub:

[code]

I think we should fix this ASAP.

[2020-04-06 19:32] 0crat commented on #2261
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-07 09:09] g4s8 opened #2262 "Notify PO about project budget"
Let's notify PO of each active and funded project about cash balance:
[code]

[2020-04-07 09:13] 0crat commented on #2262
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-07 09:15] 0crat commented on #2262
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2262](https://github.com/zerocracy/farm/issues/2262), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-04-07 09:20] 0crat commented on #2262
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-07 09:21] 0crat commented on #2262
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-07 09:23] 0crat commented on #2261
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2020-04-07 11:55] g4s8 commented on #2254
@rultor release, tag=`0.53`

[2020-04-07 11:58] rultor commented on #2254
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21706-610343200)

[2020-04-07 12:05] g4s8 opened #2263 "Release is too slow"
It takes too many minutes to make a release. Let's fix it.

[2020-04-07 12:12] 0crat commented on #2263
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-07 12:13] 0crat commented on #2263
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-07 12:13] 0crat commented on #2263
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-07 12:13] 0crat commented on #2263
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2263](https://github.com/zerocracy/farm/issues/2263), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-04-07 12:32] rultor commented on #2254
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21706-610343200) (spent 34min)

[code]

[2020-04-09 07:41] g4s8 commented on #2254
@rultor release, tag=`0.53`

[2020-04-09 07:45] rultor commented on #2254
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21706-611381553)

[2020-04-09 08:08] rultor commented on #2254
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21706-611381553) (took me 17min)

[2020-04-10 05:54] g4s8 commented on #2263
@rultor release, tag=`0.53.1`

[2020-04-10 05:56] rultor commented on #2263
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21732-611890336)

[2020-04-10 06:22] rultor commented on #2263
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21732-611890336) (took me 20min)

[2020-04-15 08:14] g4s8 commented on #2263
@rultor release, tag=`0.53.2`

[2020-04-15 08:18] rultor commented on #2263
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21732-613889702)

[2020-04-15 08:41] rultor commented on #2263
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21732-613889702) (took me 18min)

[2020-04-15 15:53] paulodamaso opened #2264 "Do not assign resumes if user can't invite"
0crat assigned me a resume for evaluation, but I have already reached my max of allowed students, and I can't invite the new one.

[2020-04-15 15:53] 0crat commented on #2264
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-15 15:53] 0crat commented on #2264
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-04-15 16:12] 0crat commented on #2264
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-04-16 06:34] g4s8 commented on #2263
@rultor release, tag=`0.53.3`

[2020-04-16 06:37] rultor commented on #2263
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21732-614443754)

[2020-04-16 07:02] rultor commented on #2263
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21732-614443754) (took me 20min)

[2020-04-16 07:32] g4s8 opened #2265 "Resource leackage"
Some descriptors are not closed, investigate and fix

[2020-04-16 07:34] 0crat commented on #2265
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-16 07:35] g4s8 commented on #2265
@rultor release, tag=`0.53.4`

[2020-04-16 07:35] 0crat commented on #2265
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-16 07:38] rultor commented on #2265
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21790-614469419)

[2020-04-16 07:43] 0crat commented on #2265
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2265](https://github.com/zerocracy/farm/issues/2265), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-04-16 07:46] 0crat commented on #2265
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-16 08:04] rultor commented on #2265
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21790-614469419) (took me 20min)

[2020-04-17 07:04] g4s8 opened #2266 "PR may not get reviewer automatically"
0crat should assign a reviewer to pull requests with the highest priority, but it was not happened for some PRs. Let's investigate and fix

[2020-04-17 07:07] 0crat commented on #2266
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2266](https://github.com/zerocracy/farm/issues/2266), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-04-17 07:10] 0crat commented on #2266
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-17 07:10] 0crat commented on #2266
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-17 07:11] 0crat commented on #2266
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-17 07:15] g4s8 commented on #2266
@rultor release, tag=`0.53.5`

[2020-04-17 07:18] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-615084861)

[2020-04-17 07:33] rultor commented on #2266
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21800-615084861) (spent 15min)

[code]

[2020-04-17 08:08] g4s8 commented on #2266
@rultor release, tag=`0.53.5`

[2020-04-17 08:12] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-615107564)

[2020-04-17 08:28] rultor commented on #2266
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21800-615107564) (spent 16min)

[code]

[2020-04-17 08:33] g4s8 commented on #2266
@rultor release, tag=`0.53.5`

[2020-04-17 08:36] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-615118648)

[2020-04-17 08:43] g4s8 commented on #2266
@rultor stop

[2020-04-17 08:43] g4s8 commented on #2266
@rultor release, tag=`0.53.5`

[2020-04-17 08:44] rultor commented on #2266
@g4s8 OK, I'll try to stop current task.

[2020-04-17 08:45] rultor commented on #2266
@g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21800-615123097) (spent 8min)

[code]

[2020-04-17 08:50] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-615123184)

[2020-04-17 09:03] rultor commented on #2266
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21800-615123184) (spent 12min)

[code]

[2020-04-17 10:14] g4s8 commented on #2266
@rultor release, tag=`0.53.5`

[2020-04-17 10:17] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-615165034)

[2020-04-17 10:39] rultor commented on #2266
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21800-615165034) (took me 16min)

[2020-04-17 15:04] #2195 closed

[2020-04-17 15:04] 0pdd commented on #2195
The puzzle `2194-2e5e4df3` has disappeared from the source code, that's why I closed this issue.

[2020-04-17 15:04] 0pdd commented on #2194
@g4s8 the only puzzle [#2195](https://github.com/zerocracy/farm/issues/2195) is solved here.

[2020-04-17 15:05] g4s8 commented on #2266
@rultor release, tag=`0.53.6`

[2020-04-17 15:10] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-615296729)

[2020-04-17 15:27] rultor commented on #2266
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21800-615296729) (spent 16min)

[code]

[2020-04-17 16:56] g4s8 commented on #2266
@rultor release, tag=`0.53.6`

[2020-04-17 16:59] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-615355943)

[2020-04-17 17:20] 0crat commented on #2195
Job `gh:zerocracy/farm#2195` is not assigned, can't get performer

[2020-04-17 17:21] rultor commented on #2266
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21800-615355943) (took me 16min)

[2020-04-17 17:21] 0crat commented on #2195
This job is not in scope

[2020-04-17 19:09] 0crat commented on #2261
The job [#2261](https://github.com/zerocracy/farm/issues/2261) assigned to @loro2[/z](https://www.0crat.com/u/loro2), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/45d78826-aad3-4025-bcc5-bc194007e85a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-17 20:14] 0crat commented on #903
The job [#903](https://github.com/zerocracy/farm/issues/903) assigned to @loro2[/z](https://www.0crat.com/u/loro2), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/2b721abc-b6d5-4610-b04d-511f5a436777); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2020-04-18 09:08] g4s8 commented on #2266
@rultor release, tag=`0.53.7`

[2020-04-18 09:10] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-615807568)

[2020-04-18 09:27] rultor commented on #2266
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21800-615807568) (spent 16min)

[code]

[2020-04-18 09:52] g4s8 commented on #2266
@rultor release, tag=`0.53.7`

[2020-04-18 09:55] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-615834188)

[2020-04-18 10:14] loro2 commented on #2261
@refuse

No time atm, going for vacation

[2020-04-18 10:14] loro2 commented on #903
@refuse

No time atm, going for vacation

[2020-04-18 10:16] rultor commented on #2266
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21800-615834188) (took me 16min)

[2020-04-18 10:17] loro2 commented on #2118
@resume

Sorry for holding this issue, it can be proceeded with.

[2020-04-18 10:17] loro2 commented on #2118
@refuse

No time atm, going for vacation.

[2020-04-18 18:44] g4s8 commented on #2266
@rultor release, tag=`0.53.8`

[2020-04-18 18:48] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-615924476)

[2020-04-18 19:10] rultor commented on #2266
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21800-615924476) (took me 17min)

[2020-04-19 08:34] g4s8 commented on #2266
@rultor release, tag=`0.53.9`

[2020-04-19 08:37] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-616076457)

[2020-04-19 08:50] rultor commented on #2266
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21800-616076457) (spent 12min)

[code]

[2020-04-19 11:18] loro2 commented on #2118
@0crat resume

[2020-04-19 11:18] loro2 commented on #2118
@0crat refuse

[2020-04-19 11:18] loro2 commented on #2261
@0crat refuse

[2020-04-19 11:18] loro2 commented on #903
@0crat refuse

[2020-04-19 11:37] 0crat commented on #2118
@loro2 The user @loro2[/z](https://www.0crat.com/u/loro2) resigned from [#2118](https://github.com/zerocracy/farm/issues/2118), please stop working. Reason for job resignation: Order was cancelled

[2020-04-19 11:53] 0crat commented on #2118
@loro2 Can't understand "resume", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `elect` Trigger election for ticket
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review

[2020-04-19 11:59] 0crat commented on #2118
Tasks refusal is discouraged (job refused in 4411 hours), see [§6](http://www.zerocracy.com/policy.html#6): -20 point(s) just awarded to @loro2[/z](https://www.0crat.com/u/loro2)

[2020-04-19 19:37] g4s8 commented on #2266
@rultor release, tag=`0.53.9`

[2020-04-19 19:39] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-616212853)

[2020-04-19 20:03] rultor commented on #2266
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21800-616212853) (took me 18min)

[2020-04-20 10:00] g4s8 commented on #2266
@rultor release, tag=`0.53.10`

[2020-04-20 15:51] sereshqua opened #2268 "Internal application error when opening project page on 0crat.com"
[https://www.0crat.com/p/CT2E6TK9B](https://www.0crat.com/p/CT2E6TK9B)

Internal application error - 0.53.9, ${buildNumber}

`java.lang.IllegalStateException: [GET https://www.0crat.com/p/CT2E6TK9B] failed in 1s: http://datum.zerocracy.com/latest/rules/pm/no-lost-estimates.xsl says: The estimate for job "gh:artipie/maven-adapter#74" exists in estimates.xml, but the job is absent in the WBS among 5

[2020-04-20 15:51] 0crat commented on #2268
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-20 18:10] 0crat commented on #1544
The job [#1544](https://github.com/zerocracy/farm/issues/1544) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/d51e63cf-e6ee-49b6-abfc-7742ed5c8315); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-04-20 18:15] 0crat commented on #1189
The job [#1189](https://github.com/zerocracy/farm/issues/1189) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C3NDPUA8L/32214831-2361-437b-b888-54bb8bda550e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-04-20 20:14] victornoel opened #2269 "0crat giving penalty on old already closed job"
I finished the job https://github.com/artipie/rpm-adapter/issues/83 a few days ago, got the points, got paid and all and today I got a message in telegram:
[code]

And this error in the github ticket: https://github.com/artipie/rpm-adapter/issues/83#issuecomment-616778316

Today 0crat is all broken, there are a lot of errors everywhere happening.

[2020-04-20 20:14] 0crat commented on #2269
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-21 06:35] victornoel commented on #2269
@g4s8 the same error can be seen also there:
- https://github.com/artipie/rpm-adapter/issues/79
- https://www.0crat.com/p/CT2E6TK9B

[2020-04-21 06:39] g4s8 commented on #2266
@rultor release, tag=`0.53.10`

[2020-04-21 06:40] 0pdd commented on #2194
@g4s8 the puzzle [#2195](https://github.com/zerocracy/farm/issues/2195) is still not solved.

[2020-04-21 07:06] g4s8 commented on #2266
@rultor release, tag=`0.53.10`

[2020-04-21 07:09] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-616443588)

[2020-04-21 07:27] rultor commented on #2266
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21800-616443588) (spent 17min)

[code]

[2020-04-21 07:29] g4s8 commented on #2266
@rultor release, tag=`0.53.10`

[2020-04-21 07:32] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-616984478)

[2020-04-21 07:48] rultor commented on #2266
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21800-616984478) (spent 15min)

[code]

[2020-04-21 07:52] g4s8 commented on #2266
@rultor release, tag=`0.53.10`

[2020-04-21 07:54] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-616995318)

[2020-04-21 08:10] rultor commented on #2266
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21800-616995318) (spent 15min)

[code]

[2020-04-21 08:15] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-617005283)

[2020-04-21 08:31] rultor commented on #2266
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21800-617005283) (spent 15min)

[code]

[2020-04-21 08:38] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-617016678)

[2020-04-21 09:40] g4s8 commented on #2266
@rultor release, tag=`0.53.10`

[2020-04-21 09:47] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-617071563)

[2020-04-21 10:03] rultor commented on #2266
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21800-617071563) (spent 15min)

[code]

[2020-04-21 10:18] yegor256 commented on #2266
@rultor release, tag=`0.53.10`

[2020-04-21 10:21] rultor commented on #2266
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-617089557)

[2020-04-21 10:35] rultor commented on #2266
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21800-617089557) (spent 13min)

[code]

[2020-04-21 10:44] g4s8 commented on #2266
@rultor release, tag=`0.53.10`

[2020-04-21 10:51] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-617101345)

[2020-04-21 11:18] rultor commented on #2266
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21800-617101345) (took me 18min)

[2020-04-21 11:58] g4s8 commented on #2266
@rultor release, tag=`0.53.10`

[2020-04-21 12:05] rultor commented on #2266
@g4s8 Invalid release tag `0.53.10` specified. There is already a release `0.53.10` newer than the given release in this repository.

[2020-04-21 12:05] rultor commented on #2266
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2020-04-21 13:47] g4s8 commented on #2266
@rultor release, tag=`0.53.11`

[2020-04-21 13:47] g4s8 commented on #2266
@rultor release, tag=`0.3`

[2020-04-21 14:14] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-617190916)

[2020-04-21 14:31] rultor commented on #2266
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21800-617190916) (spent 16min)

[code]

[2020-04-21 14:41] rultor commented on #2266
@g4s8 Invalid release tag `0.3` specified. There is already a release `0.53.10` newer than the given release in this repository.

[2020-04-21 14:41] rultor commented on #2266
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2020-04-21 14:47] g4s8 commented on #2266
@rultor release, tag=`0.53.11`

[2020-04-21 14:52] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-617226797)

[2020-04-21 15:07] rultor commented on #2266
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21800-617226797) (spent 15min)

[code]

[2020-04-21 15:10] g4s8 commented on #2266
@rultor release, tag=`0.53.11`

[2020-04-21 15:15] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-617241202)

[2020-04-21 16:25] g4s8 commented on #2266
@rultor release, tag=`0.53.11`

[2020-04-22 05:15] yegor256 opened #2270 "back to Heroku"

[2020-04-22 05:21] yegor256 commented on #2270
@rultor release, tag is `0.53.11`

[2020-04-22 05:24] rultor commented on #2270
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21843-617557247)

[2020-04-22 05:44] rultor commented on #2270
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21843-617557247) (took me 18min)

[2020-04-22 05:47] #2270 closed

[2020-04-22 06:32] g4s8 commented on #2266
@rultor release, tag=`0.53.12`

[2020-04-22 06:34] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-617579600)

[2020-04-22 06:49] rultor commented on #2266
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21800-617579600) (spent 14min)

[code]

[2020-04-22 06:59] g4s8 commented on #2266
@rultor release, tag=`0.53.12`

[2020-04-22 07:01] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-617590064)

[2020-04-22 07:15] rultor commented on #2266
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21800-617590064) (spent 14min)

[code]

[2020-04-23 09:53] g4s8 opened #2271 "Improve performance of `refresh_metrics`"
Refresh metrics stakeholder produces a lot of spam claims on update: 5*amount of users. Let's produce single grouped claim per user and handle it by all child stakeholders

[2020-04-23 10:01] #2266 closed

[2020-04-23 12:49] g4s8 commented on #1189
@0crat refuse

[2020-04-23 12:49] g4s8 commented on #1189
@0crat out

[2020-04-23 14:22] IlyaMoskva opened #2272 "Unrecoverable failure"
There is an unrecoverable failure on my side. Please, submit it here:

PID: 4@c08ec908-6891-4027-9aad-79415e47ffee, thread: PQ-CT2E6TK9B
com.zerocracy.farm.reactive.StkRuntime[76] java.lang.IllegalStateException: org.codehaus.groovy.runtime.InvokerInvocationException in com.zerocracy.stk.pm.staff.bans.ban_github_reporter
org.codehaus.groovy.reflection.CachedMethod[105] org.codehaus.groovy.runtime.

[2020-04-23 14:31] 0crat commented on #1189
@g4s8 GitHub issue is still open, won't close

[2020-04-23 14:49] 0crat commented on #1189
@g4s8 The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1189](https://github.com/zerocracy/farm/issues/1189), please stop working. Reason for job resignation: Order was cancelled

[2020-04-23 18:44] g4s8 commented on #2266
@rultor release, tag=`0.53.12`

[2020-04-23 18:46] rultor commented on #2266
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21800-618584486)

[2020-04-23 19:04] rultor commented on #2266
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21800-618584486) (took me 16min)

[2020-04-24 07:20] g4s8 opened #2274 "Inline claims"
Some claims act as a proxy: e.g. `notify` claim just find user handles in chats and submits multiple claims with concrete handles. It's very fast, but new claims are going to SQS queue to be processed later, this is why notifications can be delivered not fast. Let's "inline" such fast proxies and process child claims in same stk-brigade without submitting to SQS queue. Inline claims can be process

[2020-04-24 07:22] 0crat commented on #2274
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2274](https://github.com/zerocracy/farm/issues/2274), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-04-24 07:23] 0crat commented on #2274
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-24 07:23] 0crat commented on #2274
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-24 07:23] 0crat commented on #2274
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-24 10:04] sereshqua opened #2275 "No ability to write comment in pull-request for QA"
I was assigned to a [pull-request](https://github.com/artipie/vertx-server/pull/13) for a quality review, it is in my agenda, but I can't write comments.

<img width="818" alt="Screenshot 2020-04-24 at 13 02 43" src="https://user-images.githubusercontent.com/10097808/80200975-18bddb00-862c-11ea-9a41-9e364f708c7b.png">

[2020-04-24 10:04] 0crat commented on #2275
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-24 10:09] g4s8 commented on #2275
@sereshqua maybe it's Github issue? Can you try again in a few minutes?

[2020-04-24 10:12] sereshqua commented on #2275
@g4s8 will try lately today, now - still the same

[2020-04-24 10:33] sereshqua commented on #2275
@g4s8 i've seen you added me to GitHub organisation, but it did not help apparently, just FYI

[2020-04-25 09:01] victornoel opened #2276 "How to validate in bundles that an error was raised"
I am trying to work on #1544 but I have no idea in the `_after.groovy` file how to assert that an error (claim type error) was raised.

Is there an example somewhere in one of the existing bundles maybe?

[2020-04-25 09:01] 0crat commented on #2276
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-25 11:08] victornoel commented on #1544
@0crat wait for #2276 to be answered

[2020-04-25 12:18] 0crat commented on #1544
@victornoel The impediment for [#1544](https://github.com/zerocracy/farm/issues/1544) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-04-25 13:58] victornoel commented on #2276
@g4s8 I've sued this, what do you think?

[code]

[2020-04-25 14:06] victornoel commented on #1544
@0crat continue

[2020-04-25 14:07] 0crat commented on #1544
@victornoel @victornoel[/z](https://www.0crat.com/u/victornoel) continued working on job [#1544](https://github.com/zerocracy/farm/issues/1544)

[2020-04-25 14:07] victornoel commented on #1544
@0crat wait for #2277 to be merged

[2020-04-25 14:13] 0crat commented on #1544
@victornoel The impediment for [#1544](https://github.com/zerocracy/farm/issues/1544) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-04-28 09:37] g4s8 opened #2278 "OutOfMemory in Heroku container"
Let's use cgroups memory limits instead of machine limits, add `-XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap` to JVM options.

[2020-04-28 09:39] g4s8 commented on #2278
@rultor release, tag=`0.53.13`

[2020-04-28 09:41] rultor commented on #2278
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21909-620495950)

[2020-04-28 10:00] rultor commented on #2278
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21909-620495950) (took me 16min)

[2020-04-28 10:58] 0crat commented on #2278
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2278](https://github.com/zerocracy/farm/issues/2278), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-04-28 10:58] 0crat commented on #2278
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-28 11:00] 0crat commented on #2278
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-28 11:00] 0crat commented on #2278
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-28 15:34] g4s8 commented on #2278
Fixed

[2020-04-28 15:34] #2278 closed

[2020-04-28 15:56] 0crat commented on #2278
Job [#2278](https://github.com/zerocracy/farm/issues/2278) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't set title

[2020-04-28 15:57] 0crat commented on #2278
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-28 15:59] 0crat commented on #2278
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-04-29 00:50] 0crat commented on #2266
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.13](https://github.com/zerocracy/farm): CID: [06737874-c14f-4786-9c50-165bfd77d7e2](https://www.0crat.com/footprint/C3NDPUA8L/06737874-c14f-4786-9c50-165bfd77d7e2), Type: "Order was canceled"

[2020-04-29 00:50] 0crat commented on #2266
@g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#2266](https://github.com/zerocracy/farm/issues/2266), since the job is not in scope anymore

[2020-04-29 11:50] #729 closed

[2020-04-29 11:50] #746 closed

[2020-04-29 11:51] #1224 closed

[2020-04-29 11:51] #1192 closed

[2020-04-29 11:51] g4s8 commented on #1191
@0crat out

[2020-04-29 11:52] g4s8 commented on #1190
@0crat out

[2020-04-29 11:52] g4s8 commented on #1189
@0crat out

[2020-04-29 11:58] 0crat commented on #1191
@g4s8 Job `gh:zerocracy/farm#1191` is not assigned, can't get performer

[2020-04-29 11:59] 0crat commented on #1189
@g4s8 Job `gh:zerocracy/farm#1189` is not assigned, can't get performer

[2020-04-29 11:59] 0crat commented on #1190
@g4s8 Job `gh:zerocracy/farm#1190` is not assigned, can't get performer

[2020-04-29 12:02] g4s8 commented on #1127
Fixed

[2020-04-29 12:02] #1127 closed

[2020-04-29 12:02] g4s8 commented on #1101
Should be fixed

[2020-04-29 12:02] #1101 closed

[2020-04-29 12:08] 0crat commented on #746
Job [#746](https://github.com/zerocracy/farm/issues/746) is not in the agenda of @yegor256[/z](https://www.0crat.com/u/yegor256), can't set title

[2020-04-29 12:08] 0crat commented on #729
Job `gh:zerocracy/farm#729` is not assigned, can't get performer

[2020-04-29 12:09] 0crat commented on #1224
Job `gh:zerocracy/farm#1224` is not assigned, can't get performer

[2020-04-29 12:09] 0crat commented on #1192
Job `gh:zerocracy/farm#1192` is not assigned, can't get performer

[2020-04-29 12:11] 0crat commented on #746
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2020-04-29 12:19] 0crat commented on #1127
Job `gh:zerocracy/farm#1127` is not assigned, can't get performer

[2020-04-29 12:19] 0crat commented on #1101
Job `gh:zerocracy/farm#1101` is not assigned, can't get performer

[2020-04-29 12:22] g4s8 commented on #1392
Outdated

[2020-04-29 12:22] #1392 closed

[2020-04-29 12:23] g4s8 commented on #1374
Outdated

[2020-04-29 12:23] #1374 closed

[2020-04-29 12:23] g4s8 commented on #1385
@0crat out

[2020-04-29 12:24] g4s8 commented on #1337
SHould be fixed

[2020-04-29 12:24] #1337 closed

[2020-04-29 12:25] 0crat commented on #1385
@g4s8 Job `gh:zerocracy/farm#1385` is not assigned, can't get performer

[2020-04-29 12:45] 0crat commented on #1374
Job `gh:zerocracy/farm#1374` is not assigned, can't get performer

[2020-04-29 12:45] 0crat commented on #1392
Job `gh:zerocracy/farm#1392` is not assigned, can't get performer

[2020-04-29 12:46] 0crat commented on #1337
Job `gh:zerocracy/farm#1337` is not assigned, can't get performer

[2020-04-30 12:27] #427 closed

[2020-04-30 12:56] 0crat commented on #427
Job `gh:zerocracy/farm#427` is not assigned, can't get performer

[2020-04-30 12:57] 0crat commented on #427
This job is not in scope

[2020-05-03 18:11] g4s8 commented on #2278
@rultor release, tag=`0.53.14`

[2020-05-03 18:13] rultor commented on #2278
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21909-623155278)

[2020-05-03 18:31] rultor commented on #2278
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21909-623155278) (spent 17min)

[code]

[2020-05-03 20:14] g4s8 commented on #2278
@rultor release, tag=`0.53.14`

[2020-05-03 20:16] rultor commented on #2278
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21909-623173936)

[2020-05-03 20:32] rultor commented on #2278
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21909-623173936) (spent 16min)

[code]

[2020-05-06 07:29] 0crat commented on #2190
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2190](https://github.com/zerocracy/farm/issues/2190), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-05-06 07:30] 0crat commented on #2190
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-05-06 07:31] 0crat commented on #2190
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @loro2[/z](https://www.0crat.com/u/loro2)

[2020-05-07 06:51] #1640 closed

[2020-05-07 06:51] 0pdd commented on #1640
The puzzle `1159-ca75469b` has disappeared from the source code, that's why I closed this issue.

[2020-05-07 06:52] 0pdd opened #2279 "WbsTest.java:30-34: Implement wbs.add(job, author) and..."
The puzzle `1640-5874bcfa` from #1640 has to be resolved:

https://github.com/zerocracy/farm/blob/51651ec7337d124d2a49cb968ac207e0762a6adb/src/test/java/com/zerocracy/pm/scope/WbsTest.java#L30-L34

The puzzle was created by paulodamaso on 03-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-05-07 06:52] 0pdd commented on #1159
@krzyk 2 puzzles [#1641](https://github.com/zerocracy/farm/issues/1641), [#2279](https://github.com/zerocracy/farm/issues/2279) are still not solved; solved: [#1640](https://github.com/zerocracy/farm/issues/1640).

[2020-05-07 06:52] 0pdd commented on #1640
@0pdd the puzzle [#2279](https://github.com/zerocracy/farm/issues/2279) is still not solved.

[2020-05-07 06:52] 0crat commented on #2279
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-07 07:09] 0crat commented on #1640
Job `gh:zerocracy/farm#1640` is not assigned, can't get performer

[2020-05-15 08:48] scrobot opened #2280 "Internal application error while sign in"
I tried to sign in to https://www.0crat.com/ with GitHub and when I caught

Internal application error
0.53.14, ${buildNumber}

Stack trace:
[code]

[2020-05-15 08:48] 0crat commented on #2280
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-15 08:48] 0crat commented on #2280
@scrobot[/z](https://www.0crat.com/u/scrobot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-05-23 10:02] victornoel opened #2281 "Remove travis and appveyor CI"
Now that we are using github actions, I think it would faster if we stopped using travis and appveyor, WDYT?

[2020-05-23 10:02] 0crat commented on #2281
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-25 15:14] #1544 closed

[2020-05-25 15:14] 0pdd commented on #1544
The puzzle `1139-7ab7e83e` has disappeared from the source code, that's why I closed this issue.

[2020-05-25 15:14] g4s8 commented on #2281
@victornoel I agree, @yegor256 can you please do that?

[2020-05-25 15:14] 0pdd opened #2282 "FkSkSession.java:31-36: Finish implementation of..."
The puzzle `1544-03b86ed3` from #1544 has to be resolved:

https://github.com/zerocracy/farm/blob/73c232717347061103d58006dfbf07bccbe1a117/src/main/java/com/zerocracy/radars/slack/FkSkSession.java#L31-L36

The puzzle was created by Victor Noël on 25-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-05-25 15:15] 0pdd opened #2283 "FkSkSession.java:37-41: Remove the need for the..."
The puzzle `1544-efc40b22` from #1544 has to be resolved:

https://github.com/zerocracy/farm/blob/73c232717347061103d58006dfbf07bccbe1a117/src/main/java/com/zerocracy/radars/slack/FkSkSession.java#L37-L41

The puzzle was created by Victor Noël on 25-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-05-25 15:15] 0crat commented on #2282
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-25 15:16] 0pdd opened #2284 "_after.groovy:23-27: Change this bundle to test..."
The puzzle `1544-05cf05b1` from #1544 has to be resolved:

https://github.com/zerocracy/farm/blob/73c232717347061103d58006dfbf07bccbe1a117/src/test/resources/com/zerocracy/bundles/upBkMF_notify_in_slack_without_user/_after.groovy#L23-L27

The puzzle was created by Victor Noël on 25-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets ins

[2020-05-25 15:16] 0pdd commented on #89
@0pdd 3 puzzles [#2282](https://github.com/zerocracy/farm/issues/2282), [#2283](https://github.com/zerocracy/farm/issues/2283), [#2284](https://github.com/zerocracy/farm/issues/2284) are still not solved; solved: [#1139](https://github.com/zerocracy/farm/issues/1139), [#1140](https://github.com/zerocracy/farm/issues/1140), [#1544](https://github.com/zerocracy/farm/issues/1544).

[2020-05-25 15:16] 0pdd commented on #1139
@0pdd 3 puzzles [#2282](https://github.com/zerocracy/farm/issues/2282), [#2283](https://github.com/zerocracy/farm/issues/2283), [#2284](https://github.com/zerocracy/farm/issues/2284) are still not solved; solved: [#1544](https://github.com/zerocracy/farm/issues/1544).

[2020-05-25 15:16] 0pdd commented on #1544
@0pdd 3 puzzles [#2282](https://github.com/zerocracy/farm/issues/2282), [#2283](https://github.com/zerocracy/farm/issues/2283), [#2284](https://github.com/zerocracy/farm/issues/2284) are still not solved.

[2020-05-25 15:16] 0crat commented on #2284
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-25 15:17] 0crat commented on #2283
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-25 15:35] 0crat commented on #1544
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-25 15:42] sereshqua commented on #1544
@0crat quality good

[2020-05-25 15:58] 0crat commented on #1544
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-05-25 15:59] 0crat commented on #1544
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-05-26 15:26] 0pdd opened #2285 "kickout_from_sandbox.groovy:33-38: Don't kickout..."
The puzzle `2237-76833224` from #2237 has to be resolved:

https://github.com/zerocracy/farm/blob/2428f8fefdc4beb0c370c231f2111ffab10d217c/src/main/groovy/com/zerocracy/stk/pm/staff/roles/kickout_from_sandbox.groovy#L33-L38

The puzzle was created by paulodamaso on 03-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-05-26 15:26] 0pdd commented on #2237
@paulodamaso the puzzle [#2285](https://github.com/zerocracy/farm/issues/2285) is still not solved.

[2020-05-26 15:26] 0crat commented on #2285
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-27 07:05] bkuzmic opened #2286 "Incorrect coversion from dolars to zolds upon payment"
For creating a bug report in portal project I got paid 8 dolars. Instead of receiving equivalent amount in zolds, I got 8 zolds instead. Here is Zerocrat message:

We just paid you $8.00 (038996ae-2a57-41c8-9f10-f4a899033463) for [#517](https://github.com/sunsofterp/portal/issues/517): Bug was reported, see §29

And my wallet id is: 8f3308ef3bf2fd7c
Transaction id on zold side: acf4b80f67a7875d

[2020-05-27 07:05] 0crat commented on #2286
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-27 07:05] 0crat commented on #2286
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-05-27 08:51] yegor256 commented on #2286
@g4s8 it seems that you don't pay attention to the `valid` element of the JSON: https://github.com/zold-io/wts.zold.io/blob/master/front/front_rate.rb#L132

[2020-05-27 08:55] g4s8 commented on #2286
@yegor256 please check: https://github.com/zold-io/wts.zold.io/issues/359

[2020-05-27 09:11] yegor256 commented on #2286
@g4s8 I fixed zold-io/wts.zold.io#359. I think you should make a fix to Zerocrat, to make sure it pays attention to the `valid` flag.

[2020-05-27 13:48] g4s8 commented on #2286
@rultor release, tag=`0.53.15`

[2020-05-27 13:50] rultor commented on #2286
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22195-634673435)

[2020-05-27 14:07] rultor commented on #2286
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22195-634673435) (took me 15min)

[2020-05-27 15:18] g4s8 commented on #2286
@bkuzmic @yegor256 it should be fixed now. We'll fail to pay with invalid rate.

[2020-06-02 15:20] g4s8 opened #2287 "Disconnect command for Telegram bot"
Let's add disconnect command to Telegram bot to remove the link between 0crat account and Telegram. It will help users to link their Telegram to another 0crat account.

[2020-06-02 15:23] 0crat commented on #2287
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-06-02 15:23] 0crat commented on #2287
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-06-02 15:24] 0crat commented on #2287
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-06-02 15:24] 0crat commented on #2287
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#2287](https://github.com/zerocracy/farm/issues/2287), see [§21](http://www.zerocracy.com/policy.html#21); @g4s8[/z](https://www.0crat.com/u/g4s8) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-06-13 13:02] baudoliver7 commented on #2287
@g4s8 ping

[2020-06-17 18:25] andreoss opened #2289 "Draft pull request assigned before marked ready for review"
Github provides "draft pull request" feature
- Zerocrat assigns such PRs before they are marked ready, which is inconsistent with the feature.
- Zerocrat should assign a reviewer, after the PR has been marked ready by its author.

Described behavior can be seen here
https://github.com/llorllale/cactoos-matchers/pull/154

[2020-06-17 18:25] 0crat commented on #2289
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-17 18:25] 0crat commented on #2289
@andreoss[/z](https://www.0crat.com/u/andreoss) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-06-27 14:35] victornoel opened #2291 "Assign backlog to new DEV to the project"
I noticed, for example in cactoos where there is a high turnover of DEVs, that there are now a lot of issues in the backlog that are not assigned to anybody ever.

Is there any reason for this and could we change that, either per project or as a general rules?

[2020-06-27 14:35] 0crat commented on #2291
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-29 05:51] andreoss commented on #2289
Blocked by https://github.com/jcabi/jcabi-github/pull/1527

[2020-06-29 07:51] Sammers21 opened #2292 "Anti-spam feature"
Zerocrat is good at turning an issue/pull request into a completely messed up place. Here is the example: https://github.com/jcabi/jcabi-http/pull/180, and the messages are really annoying and makes people angry.

I would suggest limiting zerocract capabilities to spam in the following way: `keep only one message per issue/pull request and update it to the actual state when needed. The idea is to

[2020-06-29 07:52] 0crat commented on #2292
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-29 07:52] 0crat commented on #2292
@sammers21[/z](https://www.0crat.com/u/sammers21) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3NDPUA8L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-06-29 07:52] Sammers21 commented on #2292
@0crat, No I would not donate any dollars.

[2020-06-29 07:59] 0crat commented on #2292
Are you speaking to me or about me [here](https://github.com/zerocracy/farm/issues/2292#issuecomment-650994999); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2020-07-05 10:08] victornoel commented on #2291
@yegor256 @g4s8 WDYT?

[2020-07-05 10:20] victornoel opened #2294 "0crat didn't add tags to issue put in scope"
Hi

Here: https://github.com/llorllale/cactoos-matchers/issues/135 I put an issue in scope, but 0crat didn't add the corresponding tags, so now it's really hard to know what is in scope or not from the github interface...

I think that's a bug, no?

[2020-07-05 10:20] 0crat commented on #2294
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-07-05 14:24] victornoel opened #2295 "Removing a link from a project removed everyting from the WBS"
Hi,

I removed the github cactoos-http from the cactoos project using `links remove github yegor256/cactoos-http` in Slack and now the whole WBS of cactoos only contain one issue instead of the tens there was.

This is clearly a bug.

Or maybe it could have been related to the change of ARC?